<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.clr.poa.cpd.mapper.ClrCpdCarnComnMapper">
    <select id="selectClrCpdCarnComnList" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo" resultType="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        /* selectClrCpdCarnComnList : Consulter la liste des Carnet CPD != CPD 신청 목록조회*/
        <include refid="pagination.header" />
        SELECT
            A.CPD_MGMT_NO,
            A.CPD_NO,
            A.IMEX_TP_CD,
            A.RQST_CSTM_CD,
            A.PSSR_IDFY_NO,
            A.PSSR_NM,
            A.PSSR_POST_NO,
            A.PSSR_ADDR,
            A.PBLS_ITT_NM,
            A.CARN_VALD_PRID,
            A.IMPPN_IDFY_NO,
            A.IMPPN_NM,
            A.IMPPN_ADDR,
            A.BRNG_DT,
            A.IMP_DCLR_CSTM_CD,
            A.IMP_CSTM_WRTE_CN,
            A.EXPPN_IDFY_NO,
            A.EXPPN_NM,
            A.EXPPN_ADDR,
            A.RLSE_DT,
            A.EXP_DCLR_CSTM_CD,
            A.EXP_CSTM_WRTE_CN,
            A.PRCS_STTS_CD,
            A.ATCH_FILE_ID,
            A.PBLS_DT,
            A.RGSR_DT,
            B.CAR_RGSR_NO
        FROM ALPASSINT.TB_CLRI_CPD_CARN_COMN A, ALPASSINT.TB_CLRI_CPD_CARN_VHCL B
        WHERE A.DEL_YN ='N'
        AND B.DEL_YN = 'N'
        AND A.CPD_NO = B.CPD_NO
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(rqsrDtFrom)">
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(rqsrDtTo)">
                AND A.RGSR_DT BETWEEN TO_CHAR(TO_DATE(#{rqsrDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')  AND TO_CHAR(TO_DATE(#{rqsrDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
            </if>
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(cpdMgmtNo)">
            AND   UPPER(A.CPD_MGMT_NO) LIKE '%' || UPPER(#{cpdMgmtNo}) || '%'
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(cpdNo)">
            AND   UPPER(A.CPD_NO) LIKE '%' || UPPER(#{cpdNo}) || '%'
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pssrIdfyNo)">
            AND   A.PSSR_IDFY_NO '%' || #{pssrIdfyNo} || '%'
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(pssrNm)">
            AND   A.PSSR_NM LIKE '%' || #{pssrNm} || '%'
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(impDclrCstmCd)">
            AND   A.IMP_DCLR_CSTM_CD = #{impDclrCstmCd}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(expDclrCstmCd)">
            AND   A.EXP_DCLR_CSTM_CD = #{expDclrCstmCd}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(carRgsrNo)">
             AND B.CAR_RGSR_NO LIKE '%' || #{carRgsrNo} || '%'
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(prcsSttsCd)">
            AND   A.PRCS_STTS_CD = #{prcsSttsCd}
        </if>
        AND 1 = ( CASE WHEN A.PRCS_STTS_CD IN ('A01','D01','F01') THEN CASE WHEN A.RQST_CSTM_CD = #{blngCstmCd} THEN 1 ELSE 2 END
                       WHEN A.PRCS_STTS_CD IN ('C02','C03','E02','E03') THEN CASE WHEN ( A.IMP_DCLR_CSTM_CD = #{blngCstmCd} OR A.EXP_DCLR_CSTM_CD = #{blngCstmCd} ) THEN 1 ELSE 2 END
                       WHEN A.PRCS_STTS_CD IN ('A02','D02','F02','G01','H01','H02') THEN 1 ELSE 2 END)
        ORDER BY A.LAST_CHG_DTTM  DESC
        <include refid="pagination.footer" />
    </select>

    <select id="selectClrCpdCarnComnDtl" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo" resultType="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        /* selectClrCpdCarnComnDtl : Consulter les détails de Carnet CPD [Comn] != CPD 신청 상세조회*/
        SELECT
            A.CPD_MGMT_NO,
            A.CPD_NO,
            A.IMEX_TP_CD,
            A.RQST_CSTM_CD,
            A.PSSR_IDFY_NO,
            A.PSSR_NM,
            A.PSSR_POST_NO,
            A.PSSR_ADDR,
            A.PBLS_ITT_NM,
            TO_CHAR(TO_DATE(A.CARN_VALD_PRID, 'YYYYMMDD'), 'DD/MM/YYYY') CARN_VALD_PRID,
            A.IMPPN_IDFY_NO,
            A.IMPPN_NM,
            A.IMPPN_ADDR,
            TO_CHAR(TO_DATE(A.BRNG_DT, 'YYYYMMDD'), 'DD/MM/YYYY') BRNG_DT,
            A.IMP_DCLR_CSTM_CD,
            A.IMP_CSTM_WRTE_CN,
            A.EXPPN_IDFY_NO,
            A.EXPPN_NM,
            A.EXPPN_ADDR,
            TO_CHAR(TO_DATE(A.RLSE_DT, 'YYYYMMDD'), 'DD/MM/YYYY') RLSE_DT,
            A.EXP_DCLR_CSTM_CD,
            A.EXP_CSTM_WRTE_CN,
            A.PRCS_STTS_CD,
            A.ATCH_FILE_ID,
            TO_CHAR(TO_DATE(A.PBLS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') PBLS_DT,
            TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') RGSR_DT,
            TO_CHAR(TO_DATE(A.PRID_XTNS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') PRID_XTNS_DT,
            TO_CHAR(TO_DATE(A.PRID_XTNS_APRE_DT, 'YYYYMMDD'), 'DD/MM/YYYY') PRID_XTNS_APRE_DT,
            A.PRID_XTNS_APRE_EMP_ID,
            A.CRTF_ITT_NM,
            TO_CHAR(TO_DATE(A.CRTF_DT, 'YYYYMMDD'), 'DD/MM/YYYY') CRTF_DT,
            A.OFUS_USG_DESC,
            A.EXP_RTRN_RSN_CN,
            A.IMP_RTRN_RSN_CN,
            A.CNTY_CD,
            A.VHCL_PSET_PLC_NM,
            A.PUPS_CSTM_NM,
            A.WDRL_RSN_CN,
            A.DPUT_RSN_CN,
            A.DPUT_RELE_CN,
            A.TRNP_PATH_CN
        FROM ALPASSINT.TB_CLRI_CPD_CARN_COMN A, ALPASSINT.TB_CLRI_CPD_CARN_VHCL B
        WHERE A.CPD_NO = B.CPD_NO
        AND A.DEL_YN ='N'
        AND B.DEL_YN ='N'
        AND A.CPD_MGMT_NO = #{cpdMgmtNo}
    </select>

    <select id="selectClreCpdCarnComnDtl" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo" resultType="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        /* selectClreCpdCarnComnDtl : Consulter les détails de Carnet CPD [Comn] != CPD 신청 상세조회*/
        SELECT
            A.CPD_MGMT_NO,
            A.CPD_NO,
            A.IMEX_TP_CD,
            A.RQST_CSTM_CD,
            A.PSSR_IDFY_NO,
            A.PSSR_NM,
            A.PSSR_POST_NO,
            A.PSSR_ADDR,
            A.PBLS_ITT_NM,
            TO_CHAR(TO_DATE(A.CARN_VALD_PRID, 'YYYYMMDD'), 'DD/MM/YYYY') CARN_VALD_PRID,
            A.IMPPN_IDFY_NO,
            A.IMPPN_NM,
            A.IMPPN_ADDR,
            TO_CHAR(TO_DATE(A.BRNG_DT, 'YYYYMMDD'), 'DD/MM/YYYY') BRNG_DT,
            A.IMP_DCLR_CSTM_CD,
            A.IMP_CSTM_WRTE_CN,
            A.EXPPN_IDFY_NO,
            A.EXPPN_NM,
            A.EXPPN_ADDR,
            TO_CHAR(TO_DATE(A.RLSE_DT, 'YYYYMMDD'), 'DD/MM/YYYY') RLSE_DT,
            A.EXP_DCLR_CSTM_CD,
            A.EXP_CSTM_WRTE_CN,
            A.PRCS_STTS_CD,
            A.ATCH_FILE_ID,
            TO_CHAR(TO_DATE(A.PBLS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') PBLS_DT,
            TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') RGSR_DT,
            TO_CHAR(TO_DATE(A.PRID_XTNS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') PRID_XTNS_DT,
            TO_CHAR(TO_DATE(A.PRID_XTNS_APRE_DT, 'YYYYMMDD'), 'DD/MM/YYYY') PRID_XTNS_APRE_DT,
            A.PRID_XTNS_APRE_EMP_ID,
            A.CRTF_ITT_NM,
            TO_CHAR(TO_DATE(A.CRTF_DT, 'YYYYMMDD'), 'DD/MM/YYYY') CRTF_DT,
            A.OFUS_USG_DESC,
            A.EXP_RTRN_RSN_CN,
            A.IMP_RTRN_RSN_CN,
            A.CNTY_CD,
            A.VHCL_PSET_PLC_NM,
            A.PUPS_CSTM_NM,
            A.WDRL_RSN_CN,
            A.DPUT_RSN_CN,
            A.DPUT_RELE_CN,
            A.TRNP_PATH_CN
        FROM ALPASSEXT.TB_CLRE_CPD_CARN_COMN A, ALPASSEXT.TB_CLRE_CPD_CARN_VHCL B
        WHERE A.CPD_NO = B.CPD_NO
          AND A.DEL_YN ='N'
          AND B.DEL_YN ='N'
          AND A.CPD_MGMT_NO = #{cpdMgmtNo}
    </select>

    <select id="selectClrCpdCarnVhclDtl" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo" resultType="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnVhclVo">
        /* selectClrCpdCarnVhclDtl : Consulter les détails de Carnet CPD [véhicule] != CPD 신청 상세조회*/
        SELECT
            B.CPD_NO,
            B.VHCL_RGSR_CNTY_CD,
            B.CAR_RGSR_NO,
            B.MKNG_YY,
            B.VHCL_WGHT_CN,
            B.VHCL_AMT,
            B.CURR_CD,
            B.CHSS_NO,
            B.VHCL_BRND_NM,
            B.ENGN_NO_CN,
            B.ENGN_MNUR_NM,
            B.ENGN_CLND_GCNT,
            B.DPCMT_CN,
            B.VHCL_KND_NM,
            B.CLR_NM,
            B.VHCL_INR_CN,
            B.STCNT,
            B.RADI_TM_NM,
            B.PRPR_TIRE_CN,
            B.OTHS_DESC,
            B.CPD_MGMT_NO
        FROM ALPASSINT.TB_CLRI_CPD_CARN_COMN A, ALPASSINT.TB_CLRI_CPD_CARN_VHCL B
        WHERE A.CPD_NO = B.CPD_NO
          AND A.DEL_YN ='N'
          AND B.DEL_YN ='N'
          AND A.CPD_MGMT_NO = #{cpdMgmtNo}
    </select>

    <select id="selectExistsClrCpdCarnVhcl"  parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnVhclVo" resultType="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnVhclVo">
        /** selectExistsClrCpdCarnVhcl : cpdNo번호로 조회 기존정보가 존재하는지 조회  */
        SELECT
            NVL(A.CPD_NO,B.CPD_NO) CPD_NO,
            NVL(A.VHCL_RGSR_CNTY_CD,B.VHCL_RGSR_CNTY_CD) VHCL_RGSR_CNTY_CD,
            NVL(A.CAR_RGSR_NO,B.CAR_RGSR_NO) CAR_RGSR_NO,
            NVL(A.MKNG_YY,B.MKNG_YY) MKNG_YY,
            NVL(A.VHCL_WGHT_CN,B.VHCL_WGHT_CN) VHCL_WGHT_CN,
            NVL(A.VHCL_AMT,B.VHCL_AMT) VHCL_AMT,
            NVL(A.CURR_CD,B.CURR_CD) CURR_CD,
            NVL(A.CHSS_NO,B.CHSS_NO) CHSS_NO,
            NVL(A.VHCL_BRND_NM,B.VHCL_BRND_NM) VHCL_BRND_NM,
            NVL(A.ENGN_NO_CN,B.ENGN_NO_CN) ENGN_NO_CN,
            NVL(A.ENGN_MNUR_NM,B.ENGN_MNUR_NM) ENGN_MNUR_NM,
            NVL(A.ENGN_CLND_GCNT,B.ENGN_CLND_GCNT) ENGN_CLND_GCNT,
            NVL(A.DPCMT_CN, B.DPCMT_CN) DPCMT_CN,
            NVL(A.VHCL_KND_NM,B.VHCL_KND_NM) VHCL_KND_NM,
            NVL(A.CLR_NM,B.CLR_NM) CLR_NM,
            NVL(A.VHCL_INR_CN,B.VHCL_INR_CN) VHCL_INR_CN,
            NVL(A.STCNT,B.STCNT) STCNT,
            NVL(A.RADI_TM_NM,B.RADI_TM_NM) RADI_TM_NM,
            NVL(A.PRPR_TIRE_CN,B.PRPR_TIRE_CN) PRPR_TIRE_CN,
            NVL(A.OTHS_DESC,B.OTHS_DESC) OTHS_DESC,
            (SELECT CASE WHEN COUNT(A.PRCS_STTS_CD) > 0 or COUNT(B.PRCS_STTS_CD) > 0  THEN 'Y' ELSE 'N' END
                FROM  ALPASSEXT.TB_CLRE_CPD_CARN_COMN A
                       FULL OUTER JOIN ALPASSINT.TB_CLRI_CPD_CARN_COMN B
                       ON (A.CPD_NO = B.CPD_NO )
             WHERE ( A.CPD_NO = #{cpdNo} AND A.PRCS_STTS_CD IN ('A01', 'D01','A02', 'D02') ) OR (B.CPD_NO = #{cpdNo} AND B.PRCS_STTS_CD IN ('A00', 'D00','A01', 'D01','A02', 'D02'))
            )  PRCS_STTS_YN
        FROM ALPASSINT.TB_CLRI_CPD_CARN_VHCL A
        FULL OUTER JOIN ALPASSEXT.TB_CLRE_CPD_CARN_VHCL B
        ON (A.CPD_NO = B.CPD_NO AND A.DEL_YN ='N'AND B.DEL_YN ='N')
        WHERE (A.CPD_NO = #{cpdNo} OR B.CPD_NO = #{cpdNo})
        ORDER BY NVL(A.FRST_RGSR_DTTM,B.FRST_RGSR_DTTM) DESC LIMIT 1
    </select>

    <select id="selectExistsClrCpdCarnComn"  parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnVhclVo" resultType="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        /** selectExistsClrCpdCarnComn : cpdNo번호로 조회 기존정보가 존재하는지 조회  */
        SELECT
            CPD_NO,
            PSSR_IDFY_NO,
            PSSR_NM,
            PSSR_POST_NO,
            PSSR_ADDR,
            PBLS_ITT_NM,
            CARN_VALD_PRID,
            PBLS_DT,
            PRID_XTNS_DT,
            CRTF_ITT_NM,
            TRNP_PATH_CN
        FROM
        (
          SELECT
                ROW_NUMBER() OVER(ORDER BY NVL(A.CPD_MGMT_NO, B.CPD_MGMT_NO) DESC) RN,
                NVL(A.CPD_NO,B.CPD_NO) CPD_NO ,
                NVL(A.PSSR_IDFY_NO,B.PSSR_IDFY_NO) PSSR_IDFY_NO,
                NVL(A.PSSR_NM,B.PSSR_NM) PSSR_NM,
                NVL(A.PSSR_POST_NO,B.PSSR_POST_NO) PSSR_POST_NO,
                NVL(A.PSSR_ADDR,B.PSSR_ADDR) PSSR_ADDR,
                NVL(A.PBLS_ITT_NM,B.PBLS_ITT_NM) PBLS_ITT_NM,
                TO_CHAR(TO_DATE(NVL(A.CARN_VALD_PRID,B.CARN_VALD_PRID), 'YYYYMMDD'), 'DD/MM/YYYY') CARN_VALD_PRID,
                TO_CHAR(TO_DATE(NVL(A.PBLS_DT,B.PBLS_DT), 'YYYYMMDD'), 'DD/MM/YYYY') PBLS_DT,
                TO_CHAR(TO_DATE(NVL(A.PRID_XTNS_DT,B.PRID_XTNS_DT), 'YYYYMMDD'), 'DD/MM/YYYY') PRID_XTNS_DT,
                NVL(A.CRTF_ITT_NM,B.CRTF_ITT_NM) CRTF_ITT_NM,
                NVL(A.TRNP_PATH_CN,B.TRNP_PATH_CN) TRNP_PATH_CN
      FROM ALPASSEXT.TB_CLRE_CPD_CARN_COMN A
          FULL OUTER JOIN ALPASSINT.TB_CLRI_CPD_CARN_COMN B
          ON(A.CPD_NO = B.CPD_NO AND A.DEL_YN ='N' AND B.DEL_YN ='N')
      WHERE (A.CPD_NO = #{cpdNo} OR  B.CPD_NO = #{cpdNo})
      ) WHERE RN = 1
    </select>

    <insert id="insertClrCpdCarnComn" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
            /** insertClrCpdCarnComn : Enregistrer la détails de Carnet CPD*/
            INSERT INTO ALPASSINT.TB_CLRI_CPD_CARN_COMN
            (
                CPD_MGMT_NO,
                CPD_NO,
                IMEX_TP_CD,
                RQST_CSTM_CD,
                PSSR_IDFY_NO,
                PSSR_NM,
                PSSR_POST_NO,
                PSSR_ADDR,
                PBLS_ITT_NM,
                CARN_VALD_PRID,
                IMPPN_IDFY_NO,
                IMPPN_NM,
                IMPPN_ADDR,
                <if test="prcsSttsCd == 'A02' or prcsSttsCd == 'E02' or prcsSttsCd == 'A03' or prcsSttsCd == 'E03'">
                BRNG_DT,
                IMP_DCLR_CSTM_CD,
                IMP_CSTM_WRTE_CN,
                IMP_CSTM_APRE_EMP_ID,
                IMP_RTRN_RSN_CN,
                </if>
                EXPPN_IDFY_NO,
                EXPPN_NM,
                EXPPN_ADDR,
                <if test="prcsSttsCd == 'D02' or prcsSttsCd == 'C02' or prcsSttsCd == 'D03' or prcsSttsCd == 'C03'">
                RLSE_DT,
                EXP_DCLR_CSTM_CD,
                EXP_CSTM_WRTE_CN,
                EXP_CSTM_APRE_EMP_ID,
                EXP_RTRN_RSN_CN,
                </if>
                PRCS_STTS_CD,
                ATCH_FILE_ID,
                DEL_YN,
                PBLS_DT,
                RGSR_DT,
                PRID_XTNS_DT,
                CRTF_ITT_NM,
                OFUS_USG_DESC,
                TRNP_PATH_CN,
                FRST_REGST_ID,
                FRST_RGSR_DTTM,
                LAST_CHPR_ID,
                LAST_CHG_DTTM
            )
            VALUES
            (
               #{cpdMgmtNo},
               #{cpdNo},
               #{imexTpCd},
               #{rqstCstmCd},
               #{pssrIdfyNo},
               #{pssrNm},
               #{pssrPostNo},
               #{pssrAddr},
               #{pblsIttNm},
               TO_CHAR(TO_DATE(#{carnValdPrid}, 'DD/MM/YYYY'), 'YYYYMMDD'),
               #{pssrIdfyNo},
               #{pssrNm},
               #{pssrAddr},
               <if test="prcsSttsCd == 'A02' or prcsSttsCd == 'E02' or prcsSttsCd == 'A03' or prcsSttsCd == 'E03'">
               TO_CHAR(TO_DATE(#{brngDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
               #{impDclrCstmCd},
               #{impCstmWrteCn},
               #{impCstmApreEmpId},
               #{impRtrnRsnCn},
               </if>
               #{pssrIdfyNo},
               #{pssrNm},
               #{pssrAddr},
               <if test="prcsSttsCd == 'D02' or prcsSttsCd == 'C02' or prcsSttsCd == 'D03' or prcsSttsCd == 'C03'">
               TO_CHAR(TO_DATE(#{rlseDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
               #{expDclrCstmCd},
               #{expCstmWrteCn},
               #{expCstmApreEmpId},
               #{expRtrnRsnCn},
               </if>
               #{prcsSttsCd},
               #{atchFileId},
               'N',
               TO_CHAR(TO_DATE(#{pblsDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
               TO_CHAR(SYSTIMESTAMP,'YYYYMMDD'),
               TO_CHAR(TO_DATE(#{pridXtnsDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
               #{crtfIttNm},
               #{ofusUsgDesc},
               #{trnpPathCn},
               #{frstRegstId},
               SYSTIMESTAMP,
               #{lastChprId},
               SYSTIMESTAMP
            )
    </insert>

    <insert id="insertClrCpdCarnVhcl" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnVhclVo">
        /** insertClrCpdCarnVhcl : Enregistrer la détails de Carnet CPD */
        INSERT INTO ALPASSINT.TB_CLRI_CPD_CARN_VHCL
        (
            CPD_NO,
            VHCL_RGSR_CNTY_CD,
            CAR_RGSR_NO,
            MKNG_YY,
            VHCL_WGHT_CN,
            VHCL_AMT,
            CURR_CD,
            CHSS_NO,
            VHCL_BRND_NM,
            ENGN_NO_CN,
            ENGN_MNUR_NM,
            ENGN_CLND_GCNT,
            DPCMT_CN,
            VHCL_KND_NM,
            CLR_NM,
            VHCL_INR_CN,
            STCNT,
            RADI_TM_NM,
            PRPR_TIRE_CN,
            OTHS_DESC,
            DEL_YN,
            CPD_MGMT_NO,
            FRST_REGST_ID,
            FRST_RGSR_DTTM,
            LAST_CHPR_ID,
            LAST_CHG_DTTM
        )
        VALUES
        (
            #{cpdNo},
            #{vhclRgsrCntyCd},
            #{carRgsrNo},
            #{mkngYy},
            #{vhclWghtCn},
            #{vhclAmt},
            #{currCd},
            #{chssNo},
            #{vhclBrndNm},
            #{engnNoCn},
            #{engnMnurNm},
            #{engnClndGcnt},
            #{dpcmtCn},
            #{vhclKndNm},
            #{clrNm},
            #{vhclInrCn},
            #{stcnt},
            #{radiTmNm},
            #{prprTireCn},
            #{othsDesc},
            'N',
            #{cpdMgmtNo},
            #{frstRegstId},
            SYSTIMESTAMP,
            #{lastChprId},
            SYSTIMESTAMP
        )
    </insert>

    <update id="updateClriCpdCarnComn" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        /** updateClriCpdCarnComn : Modifier la détails de Carnet CPD*/
        UPDATE ALPASSINT.TB_CLRI_CPD_CARN_COMN
        SET
            <if test="prcsSttsCd == 'A02' or prcsSttsCd == 'E02' or prcsSttsCd == 'A03' or prcsSttsCd == 'E03'">
            BRNG_DT =TO_CHAR(TO_DATE(#{brngDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            IMP_DCLR_CSTM_CD = #{impDclrCstmCd},
            IMP_CSTM_WRTE_CN = #{impCstmWrteCn},
            IMP_RTRN_RSN_CN = #{impRtrnRsnCn},
            IMP_CSTM_APRE_EMP_ID =#{impCstmApreEmpId},
            </if>
            <if test="prcsSttsCd == 'D02' or prcsSttsCd == 'C02' or prcsSttsCd == 'D03' or prcsSttsCd == 'C03'">
            RLSE_DT =TO_CHAR(TO_DATE(#{rlseDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            EXP_DCLR_CSTM_CD = #{expDclrCstmCd},
            EXP_CSTM_WRTE_CN = #{expCstmWrteCn},
            EXP_CSTM_APRE_EMP_ID =#{expCstmApreEmpId},
            EXP_RTRN_RSN_CN = #{expRtrnRsnCn},
            <if test="prcsSttsCd == 'C02'">
            CNTY_CD = #{cntyCd},
            PUPS_CSTM_NM = #{pupsCstmNm},
            CRTF_DT =TO_CHAR(TO_DATE(#{crtfDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            VHCL_PSET_PLC_NM = #{vhclPsetPlcNm},
            </if>
            </if>
            PRCS_STTS_CD = #{prcsSttsCd},
            LAST_CHPR_ID = #{lastChprId},
            LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE CPD_MGMT_NO = #{cpdMgmtNo}
    </update>

    <update id="updateClreCpdCarnComn" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        /** updateClreCpdCarnComn : Modifier la détails de Carnet CPD*/
        UPDATE ALPASSEXT.TB_CLRE_CPD_CARN_COMN
        SET
        <if test="prcsSttsCd == 'A02' or prcsSttsCd == 'E02' or prcsSttsCd == 'A03' or prcsSttsCd == 'E03'">
            BRNG_DT =TO_CHAR(TO_DATE(#{brngDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            IMP_DCLR_CSTM_CD = #{impDclrCstmCd},
            IMP_CSTM_WRTE_CN = #{impCstmWrteCn},
            IMP_CSTM_APRE_EMP_ID =#{impCstmApreEmpId},
            IMP_RTRN_RSN_CN = #{impRtrnRsnCn},
        </if>
        <if test="prcsSttsCd == 'D02' or prcsSttsCd == 'C02' or prcsSttsCd == 'D03' or prcsSttsCd == 'C03'">
            RLSE_DT =TO_CHAR(TO_DATE(#{rlseDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            EXP_DCLR_CSTM_CD = #{expDclrCstmCd},
            EXP_CSTM_WRTE_CN = #{expCstmWrteCn},
            EXP_CSTM_APRE_EMP_ID =#{expCstmApreEmpId},
            EXP_RTRN_RSN_CN = #{impRtrnRsnCn},
            <if test="prcsSttsCd == 'C02'">
            CNTY_CD = #{cntyCd},
            PUPS_CSTM_NM = #{pupsCstmNm},
            CRTF_DT =TO_CHAR(TO_DATE(#{crtfDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            VHCL_PSET_PLC_NM = #{vhclPsetPlcNm},
            </if>
        </if>
        PRCS_STTS_CD = #{prcsSttsCd},
        LAST_CHPR_ID = #{lastChprId},
        LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE CPD_MGMT_NO = #{cpdMgmtNo}
    </update>

    <insert id="insertClrCpdCarnPrcsBrkd" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        <selectKey keyProperty="prcsSrno" order="BEFORE" resultType="java.math.BigDecimal">
            SELECT NVL(MAX(PRCS_SRNO),0)+1 FROM ALPASSINT.TB_CLRI_CPD_CARN_PRCS_BRKD WHERE CPD_MGMT_NO = #{cpdMgmtNo}
        </selectKey>
        INSERT INTO ALPASSINT.TB_CLRI_CPD_CARN_PRCS_BRKD
        (
            PRCS_SRNO,
            CPD_MGMT_NO,
            PRCS_STTS_CD,
            PRCS_DTRM_DTTM,
            PRCS_STTS_CN,
            DEL_YN,
            FRST_REGST_ID,
            FRST_RGSR_DTTM,
            LAST_CHPR_ID,
            LAST_CHG_DTTM
        )
        VALUES
        (
            #{prcsSrno},
            #{cpdMgmtNo},
            #{prcsSttsCd},
            SYSTIMESTAMP,
            #{prcsSttsCn},
            'N',
            #{frstRegstId},
            SYSTIMESTAMP,
            #{lastChprId},
            SYSTIMESTAMP
        )
    </insert>

    <select id="selectClrCpdCarnPrcsBrkdList" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo" resultType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        SELECT
            PRCS_SRNO,
            CPD_MGMT_NO,
            PRCS_STTS_CD,
            TO_CHAR(PRCS_DTRM_DTTM,'DD/MM/YYYY hh24:mi:ss') PRCS_DTRM_DTTM,
            PRCS_STTS_CN
        FROM ALPASSINT.TB_CLRI_CPD_CARN_PRCS_BRKD
        WHERE CPD_MGMT_NO = #{cpdMgmtNo}
    </select>

    <update id="aprePridXtnsClreCpdComn" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        UPDATE ALPASSEXT.TB_CLRE_CPD_CARN_COMN
            SET PRID_XTNS_DT = TO_CHAR(TO_DATE(#{pridXtnsDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
                PRID_XTNS_APRE_DT = TO_CHAR(SYSTIMESTAMP,'YYYYMMDD'),
                PRID_XTNS_APRE_EMP_ID = #{pridXtnsApreEmpId},
                PRCS_STTS_CD = #{prcsSttsCd},
                LAST_CHPR_ID = #{lastChprId},
                LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE CPD_MGMT_NO = #{cpdMgmtNo}
    </update>

    <update id="aprePridXtnsClriCpdComn" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        UPDATE ALPASSINT.TB_CLRI_CPD_CARN_COMN
        SET PRID_XTNS_DT = TO_CHAR(TO_DATE(#{pridXtnsDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            PRID_XTNS_APRE_DT = TO_CHAR(SYSTIMESTAMP,'YYYYMMDD'),
            PRID_XTNS_APRE_EMP_ID = #{pridXtnsApreEmpId},
            PRCS_STTS_CD = #{prcsSttsCd},
            LAST_CHPR_ID = #{lastChprId},
            LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE CPD_MGMT_NO = #{cpdMgmtNo}
    </update>

    <update id="updateClrCpdComnDputWdrl" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        /** updateClrCpdComnDputWdrl !==Motif de retrait,Motif de contentieux,Observations de contentieux */
        UPDATE ALPASSINT.TB_CLRI_CPD_CARN_COMN M
        SET     DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        <if test ="prcsSttsCd == 'G01'">
            , WDRL_RSN_CN = #{wdrlRsnCn}
        </if>
        <if test ="prcsSttsCd == 'H01'">
            , DPUT_RSN_CN = #{dputRsnCn}
        </if>
        <if test ="prcsSttsCd == 'H02'">
            , DPUT_RELE_CN = #{dputReleCn}
        </if>
        , PRCS_STTS_CD = #{prcsSttsCd}
        , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE CPD_MGMT_NO = #{cpdMgmtNo}
    </update>

    <update id="updateClreCpdComnDputWdrl" parameterType ="alpass.ipt.clr.poa.cpd.vo.ClrCpdCarnComnVo">
        /** updateClreCpdComnDputWdrl !==Motif de retrait,Motif de contentieux,Observations de contentieux */
        UPDATE ALPASSEXT.TB_CLRE_CPD_CARN_COMN M
        SET     DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        <if test ="prcsSttsCd == 'G01'">
            , WDRL_RSN_CN = #{wdrlRsnCn}
        </if>
        <if test ="prcsSttsCd == 'H01'">
            , DPUT_RSN_CN = #{dputRsnCn}
        </if>
        <if test ="prcsSttsCd == 'H02'">
            , DPUT_RELE_CN = #{dputReleCn}
        </if>
        , PRCS_STTS_CD = #{prcsSttsCd}
        , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE CPD_MGMT_NO = #{cpdMgmtNo}
    </update>

</mapper>