<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.vhcl.rlse.lst.mapper.PscVhclRlseLstMapper">

  <!--
  @TODO:번역필요 !== TPD 관련 신청서 목록 조회 ==!
  -->
  <select id="selectPscVhclRlseList"  parameterType="alpass.ipt.psc.vhcl.rlse.lst.vo.PscVhclRlseSearchVo" 
    resultType="alpass.ipt.psc.vhcl.rlse.lst.vo.PscVhclRlseSearchVo"> 
      /* selectPscVhclRlseList */
      <include refid="pagination.header" ></include>
          SELECT
                  A.VHCL_RLSE_TEMP_NO          /** Numéro temporaire de la sortie du véhicule !== 차량반출임시번호 ==! */
                , A.VHCL_RLSE_MGMT_NO          /** Numéro de gestion de la sortie du véhicule !== 차량반출관리번호 ==! */
                , A.VHCL_RLSE_RQST_STTS_CD       /** Code de statut de la demande de sortie du véhicule !== 차량반출신청상태코드 ==! */
                , A.CUFR_CSCL_WRPM_ID          /** Identifiant de l'acquit à caution  !== 무관세통관허가증ID ==! */
                , A.REFF_NO                    /** N° De Référence !== 참조번호 ==! */
                , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
                , ALPASSINT.FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */             
                , TO_CHAR(TO_DATE(A.RLSE_RQST_DT , 'YYYYMMDD'), 'DD/MM/YYYY') AS RLSE_RQST_DT  /** Date de demande de sortie !== 반출신청일자 ==! */
                , A.RLSE_RQST_RSN_CN           /** Motif de la demande de sortie du  véhicule !== 반출신청사유내용 ==! */
                , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            FROM  ALPASSINT.TB_PSCI_VHCL_RLSE_RQST A
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */             
		<if test="vhclRlseTempNo != null and vhclRlseTempNo != ''">
             AND  A.VHCL_RLSE_TEMP_NO = #{vhclRlseTempNo}       /** Numéro temporaire de la sortie du véhicule !== 차량반출임시번호 ==! 
        </if>
        <if test="vhclRlseRqstSttsCd != null and vhclRlseRqstSttsCd != ''">
             AND  A.VHCL_RLSE_RQST_STTS_CD = #{vhclRlseRqstSttsCd}
        </if>
        <if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
             AND  TO_CHAR(A.FRST_RGSR_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
        </if>          
         	 AND  VHCL_RLSE_RQST_STTS_CD NOT IN ('A1')
           ORDER  BY A.FRST_RGSR_DTTM DESC
      <include refid="pagination.footer" ></include>
  </select>

  
</mapper>