<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.rcve.mapper.ColRcveLstInqtMapper">

    <!--
    Consulter la liste des encaissements !==수납목록을 조회한다==!
    -->
    <select id="selectColRcveLstInqtList" parameterType="alpass.ipt.col.rcve.vo.ColRcveLstInqtVo" resultType="alpass.ipt.col.rcve.vo.ColRcveLstInqtVo">
        /** ColRcveLstInqtMapper_selectColRcveLstInqtList **/
        <include refid="pagination.header" />
        SELECT
            NTFC.NTFC_NO                    /** N° d'avis !== 고지번호 ==! */
            , NTFC.CSTM_CD                    /** Code du bureau !== 세관코드 ==! */
            , FN_GET_ORGN_NM(NTFC.CSTM_CD) AS CSTM_NM   /** Code du bureau !== 세관명 ==! */
            , NTFC.NTFC_PT_CD                 /** Code de type d'avis !== 고지유형코드 ==! */
            , (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'COL_0003' AND LANG_CD = #{langCd} AND CD_VDVAL = NTFC.NTFC_PT_CD) AS NTFC_PT_NM /** Désignation du code de type d'avis !== 고지유형코드명 ==! */
            , TO_CHAR(TO_DATE(NTFC.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT         /** Date de notification !== 고지일자 ==! */
            , TO_CHAR(TO_DATE(NTFC.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT /** Delai de paiement !== 납부기한일자 ==! */
            , NTFC.DLPY_INST_AMT              /** Montant Des Intérêts De Retard !== 체납이자금액 ==! */
            , NTFC.ODLPY_INST_AMT             /** Montant Des Intérêts De Retard Non-Ajusté !== 원체납이자금액 ==! */
            , NTFC.FINE_AMT                   /** Montant d'amende !== 벌금금액 ==! */
            , NTFC.OTHS_PCFE_AMT              /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
            , NTFC.TAMT                       /** Montant total !== 총금액 ==! */
            , NTFC.TXPR_IDFY_NO_TP_CD         /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
            , NTFC.TXPR_IDFY_NO               /** NIU !== 납세자식별번호 ==! */
            , NTFC.TXPR_NM                    /** Nom du responsable financier !== 납세자명 ==! */
            , NTFC.REFF_NO_PT_CD              /** Code de type de numero de reference !== 참조번호유형코드 ==! */
            , (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'COL_0021' AND LANG_CD = #{langCd} AND CD_VDVAL = NTFC.REFF_NO_PT_CD) AS REFF_NO_PT_NM /** Code de type de numéro de référence !== 참조번호유형코드명 ==! */
            , NTFC.REFF_NO                    /** N° de reference !== 참조번호 ==! */
            , TO_CHAR(TO_DATE(NTFC.REFF_NO_DT,'YYYYMMDD'),'DD/MM/YYYY') AS REFF_NO_DT              /** !== 참조번호일자 ==! */
            , NTFC.DCER_CD                    /** Code du declarant !== 신고인코드 ==!*/
            , NTFC.RCVE_YN                    /** Encaisse (ON) !== 수납여부 ==! */
            , NTFC.PAY_TMLM_XTNS_YN           /** Echeance prorogee (ON) !== 납부기한연장여부 ==! */
            , NTFC.DLPY_YN                    /** Paiement retarde (ON) !== 체납여부 ==! */
            , NTFC.DLPY_INST_ADJU_YN          /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
            , NTFC.NTFC_DIVD_YN               /** Avis echelonne (ON) !== 고지분할여부 ==! */
            , NTFC.RECP_PBLS_YN               /** Quittance delivree (ON) !== 영수증발행여부 ==! */
            , NTFC.CNCL_YN                    /** Annule (ON) !== 취소여부 ==! */
            , NTFC.ONTFC_NO                   /** N° de l'avis original !== 원고지번호 ==! */
            , NTFC.DFPM_PAY_YN                /** Recours au credit d'enlevement (ON) !== 후불납부여부 ==! */
            , NTFC.MG_TP_CD                   /** Code de type de caution !== 담보구분코드 ==! */
            , NTFC.DCLR_NO
            ,( SELECT
            TO_CHAR(TO_DATE(DCLR_DT,'YYYYMMDD'),'DD/MM/YYYY') DCLR_DT
            FROM   TB_CLRI_DED_COMN
            WHERE  DTL_DCSH_NO = NTFC.DCLR_NO) DCLR_DT
            , NTFC.NTFC_PRCS_STTS_CD          /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
            , NTFC.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
            , RCVE.RCVE_NO                    /** N° d'encaissement !== 수납번호 ==! */
            , RCVE.RCVE_PT_CD                 /** Code de type d'encaissement !== 수납유형코드 ==! */
            , RCVE.RCVE_AMT                   /** Montant encaisse !== 수납금액 ==! */
            , TO_CHAR(TO_DATE(RCVE.RCVE_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RCVE_DT              /** Date de stockage !== 수납일자 ==! */
            , RCVE.HNWR_RCVE_RSN_CN           /** Contenu du motif d'enregistrement manuel !== 수작업수납사유내용 ==! */
            , RCVE.ATCH_FILE_ID               /** ID du fichier joint !== 첨부파일ID ==! */
            , RCVE.FRST_REGST_ID
            , RCVE.FRST_RGSR_DTTM
            , RCVE.LAST_CHPR_ID
            , RCVE.LAST_CHG_DTTM
            , FINE.FINE_LVY_RQST_NO
            , DECODE((SELECT COUNT(1) FROM TB_COLI_CLT_PBLS where NTFC_NO = NTFC.NTFC_NO), 0, 'N', 'Y') AS IS_CLT /** 반출증 존재 여부  */
            , DECODE(NTFC.VHCL_YN, NULL, 'N', '', 'N',NTFC.VHCL_YN) AS IS_M846 /** M846 존재 여부 */
        FROM  TB_COLI_NTFC NTFC /* TB_고지정보 */
              LEFT JOIN TB_COLI_FINE FINE ON NTFC.NTFC_NO = FINE.NTFC_NO    /* 벌금정보 */
            , TB_COLI_RCVE RCVE /* TB_수납정보 */
        WHERE  NTFC.DEL_YN     = 'N'
        AND    NTFC.RCVE_YN    = 'Y'
        AND    RCVE.DEL_YN     = 'N'
        AND    NTFC.NTFC_NO    = RCVE.NTFC_NO
        <!--<if test='searchAllYn == null or searchAllYn !="Y" '>
            AND    NTFC.CSTM_CD  IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{sessPbsrNo}))
        </if>
        <if test='cstmCd != null and cstmCd !=""'>
            AND    NTFC.CSTM_CD = #{cstmCd}
        </if>-->
        <if test="sctrCd != null and sctrCd != ''">
            AND  RCVE.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  NTFC.CSTM_CD = #{uprOrgnCd}
        </if>
<!--             AND  NTFC.DEPT_CD = #{orgnCd} -->
        <if test="orgnCd != null and orgnCd != ''">
            AND (NTFC.DEPT_CD = #{orgnCd} OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))
                                                                                               OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
						 ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test='cstmCd != null and cstmCd !=""'>
            AND  RCVE.CSTM_CD = #{cstmCd}
        </if>
        <if test='deptCd != null and deptCd !=""'>
            AND  (RCVE.DEPT_CD = #{deptCd} OR RCVE.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                           OR RCVE.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
            AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
                    CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
                         THEN NTFC.NTFC_PT_CD = 'A'
                         ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
                    END
                ELSE TRUE END
        </if>
        <if test='ntfcNo != null and ntfcNo !=""'>
            AND    NTFC.NTFC_NO    = #{ntfcNo}
        </if>
        <if test='reffNoPtCd != null and reffNoPtCd !=""'>
            AND    NTFC.REFF_NO_PT_CD    = #{reffNoPtCd}
        </if>
        <if test='reffNo != null and reffNo !=""'>
            AND    NTFC.REFF_NO    = #{reffNo}
        </if>
        <if test='rcveNo != null and rcveNo !=""'>
            AND    RCVE.RCVE_NO    = #{rcveNo}
        </if>
        <if test='rcveDtFrom != null and rcveDtFrom !="" and rcveDtTo != null and rcveDtTo !="" '>
            AND    RCVE.RCVE_DT    BETWEEN TO_CHAR(TO_DATE(#{rcveDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rcveDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='ntfcDtFrom != null and ntfcDtFrom !="" and ntfcDtTo != null and ntfcDtTo !="" '>
            AND    NTFC.NTFC_DT BETWEEN TO_CHAR(TO_DATE(#{ntfcDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{ntfcDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='reffNoDtFrom != null and reffNoDtFrom !="" and reffNoDtTo != null and reffNoDtTo !="" '>
            AND    NTFC.REFF_NO_DT BETWEEN TO_CHAR(TO_DATE(#{reffNoDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{reffNoDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='rcvePtCdChk != null and rcvePtCdChk.size() > 0'>
            AND    RCVE.RCVE_PT_CD IN  <foreach collection="rcvePtCdChk" item="rcvePtCd" open="(" close=")" separator=",">#{rcvePtCd}</foreach>
        </if>
        <if test='vehicleYnChk != null and vehicleYnChk.size() > 0'>
            AND     <foreach collection="vehicleYnChk" item="vehicleYn" open="(" close=")" separator=" OR ">
                        <if test='vehicleYn == "001"'>
                        NTFC.VHCL_YN = 'Y'
                        </if>
                        <if test='vehicleYn == "002"'>
                        EXISTS (SELECT 'Y' FROM TB_COLI_SALE_WTNNC CSW WHERE CSW.RECP_NO = RCVE.RCVE_NO AND CSW.DEL_YN = 'N')
                        </if>
                    </foreach>
        </if>
        <if test='expnCrppNo != null and expnCrppNo !=""'>
            AND    RCVE.EXPN_CRPP_NO    = #{expnCrppNo}
        </if>
        ORDER BY RCVE.RCVE_DT DESC, RCVE.RCVE_NO DESC, RCVE.NTFC_NO ASC
        <include refid="pagination.footer" />
    </select>

    <!--
    Consulter les détails de Informations sur l'encaissement !==수납정보를 조회한다==!
    -->
    <select id="selectColRcveVo" parameterType="alpass.ipt.col.rcve.vo.ColRcveLstInqtVo" resultType="alpass.ipt.col.rcve.vo.ColRcveLstInqtVo">
        /** ColRcveLstInqtMapper_selectColRcveVo **/
        SELECT
        RCVE.RCVE_NO                    /** N° d'encaissement !== 수납번호 ==! */
        , RCVE.NTFC_NO
        , RCVE.CSTM_CD
        , RCVE.DEPT_CD
        , RCVE.RCVE_PT_CD                 /** Code de type d'encaissement !== 수납유형코드 ==! */
        , RCVE.RCVE_AMT                   /** Montant encaisse !== 수납금액 ==! */
        , RCVE.RCVE_BNK_CD
        , RCVE.REGST_ID
        , TO_CHAR(TO_DATE(RCVE.RGSR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RGSR_DT
        , TO_CHAR(TO_DATE(RCVE.RCVE_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RCVE_DT              /** Date de stockage !== 수납일자 ==! */
        , RCVE.HNWR_RCVE_RSN_CN           /** Contenu du motif d'enregistrement manuel !== 수작업수납사유내용 ==! */
        , RCVE.SYS_RGSR_TP_CD
        , RCVE.ATCH_FILE_ID               /** ID du fichier joint !== 첨부파일ID ==! */
        , RCVE.FRST_REGST_ID
        , RCVE.FRST_RGSR_DTTM
        , RCVE.LAST_CHPR_ID
        , RCVE.LAST_CHG_DTTM
        FROM  TB_COLI_RCVE RCVE /* TB_수납정보 */
        WHERE  RCVE.DEL_YN     = 'N'
        AND    RCVE.NTFC_NO    = #{ntfcNo}
    </select>

    <!--
    consultation de la liste des avis de paiement des impayés !==미수납고지목록을 조회한다==!
    -->
    <select id="selectColRcveNrcveNtfcLstInqtList" parameterType="alpass.ipt.col.rcve.vo.ColRcveNrcveNtfcLstInqtVo" resultType="alpass.ipt.col.rcve.vo.ColRcveNrcveNtfcLstInqtVo">
        /** ColRcveLstInqtMapper_selectColRcveNrcveNtfcLstInqtList **/
        <include refid="pagination.header" />
        SELECT
            NTFC.NTFC_NO                                                              /** N° d'avis !== 고지번호 ==! */
            , NTFC.CSTM_CD                                                              /** Code du bureau !== 세관코드 ==! */
            , FN_GET_ORGN_NM(NTFC.CSTM_CD) AS CSTM_NM
            , NTFC.NTFC_PT_CD                                                           /** Code de type d'avis !== 고지유형코드 ==! */
            , TO_CHAR(TO_DATE(NTFC.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT         /** Date de notification !== 고지일자 ==! */
            , TO_CHAR(TO_DATE(NTFC.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT /** Delai de paiement !== 납부기한일자 ==! */
            , NTFC.DLPY_INST_AMT                                                        /** Montant des intérêts de retard !== 체납이자금액 ==! */
            , NTFC.ODLPY_INST_AMT                                                       /** Montant des intérêts de retard de l'avis original !== 원고지체납이자금액 ==! */
            , NTFC.FINE_AMT                                                             /** Montant d'amende !== 벌금금액 ==! */
            , NTFC.OTHS_PCFE_AMT                                                        /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
            , ROUND(NTFC.TAMT + 0.004,2) as TAMT                                        /** Montant total !== 총금액 ==! */
            , NTFC.DRWB_AMT                                                             /** Montant remboursé après la modification de déclaration !== 환급금액 ==! */
            , NTFC.TXPR_IDFY_NO_TP_CD                                                   /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
            , NTFC.TXPR_IDFY_NO                                                         /** NIU !== 납세자식별번호 ==! */
            , NTFC.TXPR_NM                                                              /** Nom du responsable financier !== 납세자명 ==! */
            , NTFC.REFF_NO_PT_CD                                                        /** Code de type de numero de reference !== 참조번호유형코드 ==! */
            , NTFC.REFF_NO                                                              /** N° de reference !== 참조번호 ==! */
            , TO_CHAR(TO_DATE(NTFC.REFF_NO_DT,'YYYYMMDD'),'DD/MM/YYYY') REFF_NO_DT
            , NTFC.DCER_CD                                                              /** Code du declarant !== 신고인코드 ==!*/
            , NTFC.DCLR_NO
            ,( SELECT
            TO_CHAR(TO_DATE(DCLR_DT,'YYYYMMDD'),'DD/MM/YYYY') DCLR_DT
            FROM   TB_CLRI_DED_COMN
            WHERE  DTL_DCSH_NO = NTFC.DCLR_NO) DCLR_DT
            , NTFC.RCVE_YN                                                              /** Encaisse (ON) !== 수납여부 ==! */
            , NTFC.PAY_TMLM_XTNS_YN                                                     /** Echeance prorogee (ON) !== 납부기한연장여부 ==! */
            , NTFC.DLPY_YN                                                              /** Paiement retarde (ON) !== 체납여부 ==! */
            , NTFC.DLPY_INST_ADJU_YN                                                    /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
            , NTFC.NTFC_DIVD_YN                                                         /** Avis echelonne (ON) !== 고지분할여부 ==! */
            , NTFC.RECP_PBLS_YN                                                         /** Quittance delivree (ON) !== 영수증발행여부 ==! */
            , NTFC.CNCL_YN                                                              /** Annule (ON) !== 취소여부 ==! */
            , NTFC.NTFC_CNCL_RSN_CD                                                     /** Code de motif d’annulation d’avis !== 고지취소사유코드 ==! */
            , NTFC.ONTFC_NO                                                             /** N° de l'avis original !== 원고지번호 ==! */
            , NTFC.DFPM_PAY_YN                                                          /** Recours au credit d'enlevement (ON) !== 후불납부여부 ==! */
            , NTFC.MG_TP_CD                                                             /** Code de type de caution !== 담보구분코드 ==! */
            , NTFC.NTFC_PRCS_STTS_CD                                                    /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
            , FN_GET_CD_VDVAL_NM('COL_0001', NTFC.NTFC_PRCS_STTS_CD, NTFC.NTFC_PRCS_STTS_CD) AS NTFC_PRCS_STTS_CD_NM        /** Code de statut de traitement d'avis !== 고지처리상태코드명 ==! */
            , NTFC.PCFE_AMT                                                             /** Montant de la redevance !== 수수료금액 ==! */
            , NTFC.DEL_YN                                                               /** Suppression ON !== 삭제여부 ==! */
            , NTFC.FRST_REGST_ID                                                        /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , NVL((SELECT EMP_NM FROM TB_POTI_EMP
            WHERE  PBSR_NO = NTFC.FRST_REGST_ID),'SYSTEM') AS REGST_NM               /** Enregistré par !== 등록자명 ==! */
            , NTFC.FRST_RGSR_DTTM                                                       /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , NTFC.LAST_CHPR_ID                                                         /** ID du modificateur final !== 최종변경자ID ==! */
            , NTFC.LAST_CHG_DTTM                                                        /** Date et heure de modification finale !== 최종변경일시 ==! */
            , DIVD.NTFC_DIVD_RELE_DT                                                    /** Date de regroupement !== 분할고지해제일자 ==! */
            , DLPY.DLPY_DGCNT                                                           /** Fréquence des retards de paiement (nombre ordinal) !== 체납차수 ==! */
            , RCVE.RCVE_PT_CD
            , RCVE.RCVE_AMT
            ,(SELECT MG_AC_NO FROM TB_CLRI_DED_MG WHERE DTL_DCSH_NO = NTFC.DCLR_NO AND DEL_YN = 'N')  /** N° de compte de caution !== 담보계좌번호 ==! */
            , DECODE((SELECT COUNT(1) FROM TB_COLI_CLT_PBLS where NTFC_NO = NTFC.NTFC_NO), 0, 'N', 'Y') AS IS_CLT /** 반출증 존재 여부  */
            , DECODE((SELECT COUNT(1) FROM TB_CLRi_DED_VHCL where DTL_DCSH_NO = NTFC.DCLR_NO), 0, 'N', 'Y') AS IS_M846 /** M846 존재 여부 */
            , RCVE.RCVE_NO
            , NTFC.TXPR_NM AS PYER_NM
            , NTFC.CRDT_INST_AMT                                                         /** Intérêt de crédit' !== 신용이자금액 ==! */
        FROM  TB_COLI_NTFC NTFC
            LEFT  JOIN TB_COLI_NTFC_DIVD DIVD   ON DIVD.DEL_YN = 'N' AND NTFC.NTFC_NO = DIVD.NTFC_NO
            LEFT  JOIN TB_COLI_DLPY DLPY        ON DLPY.DEL_YN = 'N' AND NTFC.NTFC_NO = DLPY.NTFC_NO
                                                AND NTFC.CSTM_CD = DLPY.CSTM_CD
                                                AND DLPY.DLPY_DGCNT = (SELECT NVL(MAX(DLPY_DGCNT),0) FROM TB_COLI_DLPY WHERE DEL_YN ='N' AND NTFC_NO = NTFC.NTFC_NO)
            LEFT  JOIN TB_COLI_RCVE RCVE 		ON RCVE.DEL_YN = 'N' AND NTFC.NTFC_NO = RCVE.NTFC_NO
        WHERE   NTFC.DEL_YN = 'N'
        AND     NTFC.CNCL_YN != 'Y'
        AND     NTFC.NTFC_PRCS_STTS_CD != 'A01'
        <if test="sctrCd != null and sctrCd != ''">
            AND  NTFC.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test='cstmCd != null and cstmCd !=""'>
            AND  NTFC.CSTM_CD = #{cstmCd}
        </if>
        <if test='deptCd != null and deptCd !=""'>
            AND  (NTFC.DEPT_CD = #{deptCd} OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
            OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                                                                 OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
						 ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  NTFC.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
        	AND (NTFC.DEPT_CD = #{orgnCd} OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
						 ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test='ntfcNo != null and ntfcNo !="" '>
            AND    NTFC.NTFC_NO = #{ntfcNo}
        </if>
        <if test='dclrNo != null and dclrNo !="" '>
            AND    NTFC.DCLR_NO = #{dclrNo}
        </if>
        <if test='reffNoPtCd != null and reffNoPtCd !="" '>
            AND    NTFC.REFF_NO_PT_CD = #{reffNoPtCd}
        </if>
        <if test='reffNo == null or reffNo !="" '>
            AND    NTFC.REFF_NO = #{reffNo}
        </if>
        <if test='reffNoDtFrom != null and reffNoDtFrom !="" and reffNoDtTo != null and reffNoDtTo !="" '>
            AND    NTFC.REFF_NO_DT BETWEEN TO_CHAR(TO_DATE(#{reffNoDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{reffNoDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='ntfcDtFrom != null and ntfcDtFrom !="" and ntfcDtTo != null and ntfcDtTo !="" '>
            AND    NTFC.NTFC_DT BETWEEN TO_CHAR(TO_DATE(#{ntfcDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{ntfcDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='ntfcPtCdChk != null and ntfcPtCdChk.size() > 0'>
            AND    NTFC.NTFC_PT_CD IN  <foreach collection="ntfcPtCdChk" item="ntfcPtCd" open="(" close=")" separator=",">#{ntfcPtCd}</foreach>
        </if>
        <if test='txprIdfyNoTpCd != null and txprIdfyNoTpCd !="" '>
            AND    NTFC.TXPR_IDFY_NO_TP_CD = #{txprIdfyNoTpCd}
        </if>
        <if test='txprIdfyNo != null and txprIdfyNo !="" '>
            AND    NTFC.TXPR_IDFY_NO = #{txprIdfyNo}
        </if>
        <if test='rcveYn != null and rcveYn !="" '>
            AND    NTFC.RCVE_YN = #{rcveYn}
        </if>
        <if test="(rcveBnkCd != null and rcveBnkCd != '') or (bnkBrnhCd != null and bnkBrnhCd != '')">
            AND EXISTS(SELECT 1
                        FROM             TB_COLI_PYMN PYMN
                        WHERE PYMN.RCVE_NO = RCVE.RCVE_NO
                        <if test="rcveBnkCd != null and rcveBnkCd != ''">
                            AND  PYMN.RCVE_BNK_CD = #{rcveBnkCd}
                        </if>
                        <if test="bnkBrnhCd != null and bnkBrnhCd != ''">
                            AND  PYMN.BNK_BRNH_CD = #{bnkBrnhCd}
                        </if>
                        )
        </if>
        ORDER BY NTFC.PAY_TMLM_DT ASC, NTFC.NTFC_NO ASC, NTFC.TXPR_IDFY_NO ASC, NTFC.NTFC_DT ASC
        <include refid="pagination.footer" />
    </select>

    <!--
    Consulter les détails de Informations sur avis de paiement des impayés !==미수납고지 정보를 조회한다==!
    -->
    <select id="selectColRcveNrcveNtfcLstInqt" parameterType="alpass.ipt.col.rcve.vo.ColRcveNrcveNtfcLstInqtVo" resultType="alpass.ipt.col.rcve.vo.ColRcveNrcveNtfcLstInqtVo">
        /** ColRcveLstInqtMapper_selectColRcveNrcveNtfcLstInqt **/
        SELECT
        NTFC.NTFC_NO                                                              /** N° d'avis !== 고지번호 ==! */
        , NTFC.CSTM_CD                                                              /** Code du bureau !== 세관코드 ==! */
        , FN_GET_ORGN_NM(NTFC.CSTM_CD) AS CSTM_NM
        , NTFC.NTFC_PT_CD                                                           /** Code de type d'avis !== 고지유형코드 ==! */
        , TO_CHAR(TO_DATE(NTFC.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT         /** Date de notification !== 고지일자 ==! */
        , TO_CHAR(TO_DATE(NTFC.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT /** Delai de paiement !== 납부기한일자 ==! */
        , NTFC.DLPY_INST_AMT                                                        /** Montant des intérêts de retard !== 체납이자금액 ==! */
        , NTFC.ODLPY_INST_AMT                                                       /** Montant des intérêts de retard de l'avis original !== 원고지체납이자금액 ==! */
        , NTFC.FINE_AMT                                                             /** Montant d'amende !== 벌금금액 ==! */
        , NTFC.OTHS_PCFE_AMT                                                        /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
        , NTFC.TAMT                                                                 /** Montant total !== 총금액 ==! */
        , NTFC.DRWB_AMT                                                             /** Montant remboursé après la modification de déclaration !== 환급금액 ==! */
        , NTFC.TXPR_IDFY_NO_TP_CD                                                   /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
        , NTFC.TXPR_IDFY_NO                                                         /** NIU !== 납세자식별번호 ==! */
        , NTFC.TXPR_NM                                                              /** Nom du responsable financier !== 납세자명 ==! */
        , NTFC.REFF_NO_PT_CD                                                        /** Code de type de numero de reference !== 참조번호유형코드 ==! */
        , NTFC.REFF_NO                                                              /** N° de reference !== 참조번호 ==! */
        , TO_CHAR(TO_DATE(NTFC.REFF_NO_DT,'YYYYMMDD'),'DD/MM/YYYY') REFF_NO_DT
        , NTFC.DCER_CD                                                              /** Code du declarant !== 신고인코드 ==!*/
        , NTFC.DCLR_NO
        , NTFC.RCVE_YN                                                              /** Encaisse (ON) !== 수납여부 ==! */
        , NTFC.PAY_TMLM_XTNS_YN                                                     /** Echeance prorogee (ON) !== 납부기한연장여부 ==! */
        , NTFC.DLPY_YN                                                              /** Paiement retarde (ON) !== 체납여부 ==! */
        , NTFC.DLPY_INST_ADJU_YN                                                    /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
        , NTFC.NTFC_DIVD_YN                                                         /** Avis echelonne (ON) !== 고지분할여부 ==! */
        , NTFC.RECP_PBLS_YN                                                         /** Quittance delivree (ON) !== 영수증발행여부 ==! */
        , NTFC.CNCL_YN                                                              /** Annule (ON) !== 취소여부 ==! */
        , NTFC.NTFC_CNCL_RSN_CD                                                     /** Code de motif d’annulation d’avis !== 고지취소사유코드 ==! */
        , NTFC.ONTFC_NO                                                             /** N° de l'avis original !== 원고지번호 ==! */
        , NTFC.DFPM_PAY_YN                                                          /** Recours au credit d'enlevement (ON) !== 후불납부여부 ==! */
        , NTFC.MG_TP_CD                                                             /** Code de type de caution !== 담보구분코드 ==! */
        , NTFC.NTFC_PRCS_STTS_CD                                                    /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
        , FN_GET_CD_VDVAL_NM('COL_0001', NTFC.NTFC_PRCS_STTS_CD, NTFC.NTFC_PRCS_STTS_CD) AS NTFC_PRCS_STTS_CD_NM        /** Code de statut de traitement d'avis !== 고지처리상태코드명 ==! */
        , NTFC.DEL_YN                                                               /** Suppression ON !== 삭제여부 ==! */
        , NTFC.FRST_REGST_ID                                                        /** ID du premier enregistrant  !== 최초등록자ID ==! */
        , NVL((SELECT EMP_NM FROM TB_POTI_EMP
        WHERE  PBSR_NO = NTFC.FRST_REGST_ID),'SYSTEM') AS REGST_NM               /** Enregistré par !== 등록자명 ==! */
        , NTFC.FRST_RGSR_DTTM                                                       /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
        , NTFC.LAST_CHPR_ID                                                         /** ID du modificateur final !== 최종변경자ID ==! */
        , NTFC.LAST_CHG_DTTM                                                        /** Date et heure de modification finale !== 최종변경일시 ==! */
        , DIVD.NTFC_DIVD_RELE_DT                                                    /** Date de regroupement !== 분할고지해제일자 ==! */
        , DLPY.DLPY_DGCNT                                                           /** Fréquence des retards de paiement (nombre ordinal) !== 체납차수 ==! */
        , RCVE.RCVE_PT_CD
        , RCVE.RCVE_AMT
        , RCVE.RCVE_NO
        FROM  TB_COLI_NTFC NTFC
            LEFT  JOIN TB_COLI_NTFC_DIVD DIVD   ON DIVD.DEL_YN = 'N' AND NTFC.NTFC_NO = DIVD.NTFC_NO
            LEFT  JOIN TB_COLI_DLPY DLPY        ON DLPY.DEL_YN = 'N' AND NTFC.NTFC_NO = DLPY.NTFC_NO
                                                AND NTFC.CSTM_CD = DLPY.CSTM_CD
                                                AND DLPY.DLPY_DGCNT = (SELECT NVL(MAX(DLPY_DGCNT),0) FROM TB_COLI_DLPY WHERE DEL_YN ='N' AND NTFC_NO = NTFC.NTFC_NO)
            LEFT  JOIN TB_COLI_RCVE RCVE 		ON RCVE.DEL_YN = 'N' AND NTFC.NTFC_NO = RCVE.NTFC_NO
        WHERE  NTFC.DEL_YN = 'N'
        <if test='ntfcNo != null and ntfcNo !="" '>
            AND    NTFC.NTFC_NO = #{ntfcNo}
        </if>
    </select>

    <!--
    Consulter la liste des différences entre le montant payé et le montant dû !==지불상이 목록 조회==!
    -->
    <select id="selectColPymnDfrnList" parameterType="alpass.ipt.col.rcve.vo.ColRcvePymnDfrnVo" resultType="alpass.ipt.col.rcve.vo.ColRcvePymnDfrnVo">
        /** ColRcveLstInqtMapper_selectColPymnDfrnList **/
        <include refid="pagination.header" />
        SELECT
        NTFC.NTFC_NO                    /** N° d'avis !== 고지번호 ==! */
        , NTFC.CSTM_CD                    /** Code du bureau !== 세관코드 ==! */
        , FN_GET_ORGN_NM(NTFC.CSTM_CD) AS CSTM_NM
        , NTFC.NTFC_PT_CD                 /** Code de type d'avis !== 고지유형코드 ==! */
        , TO_CHAR(TO_DATE(NTFC.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT         /** Date de notification !== 고지일자 ==! */
        , TO_CHAR(TO_DATE(NTFC.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT /** Delai de paiement !== 납부기한일자 ==! */
        , NTFC.DLPY_INST_AMT              /** Montant Des Intérêts De Retard !== 체납이자금액 ==! */
        , NTFC.ODLPY_INST_AMT             /** Montant Des Intérêts De Retard Non-Ajusté !== 원체납이자금액 ==! */
        , NTFC.FINE_AMT                   /** Montant d'amende !== 벌금금액 ==! */
        , NTFC.OTHS_PCFE_AMT              /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
        , NTFC.TAMT                       /** Montant total !== 총금액 ==! */
        , NTFC.TXPR_IDFY_NO_TP_CD         /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
        , NTFC.TXPR_IDFY_NO               /** NIU !== 납세자식별번호 ==! */
        , NTFC.TXPR_NM                    /** Nom du responsable financier !== 납세자명 ==! */
        , NTFC.REFF_NO_PT_CD              /** Code de type de numero de reference !== 참조번호유형코드 ==! */
        , NTFC.REFF_NO                    /** N° de reference !== 참조번호 ==! */
        , NTFC.DCER_CD                    /** Code du declarant !== 신고인코드 ==!*/
        , NTFC.RCVE_YN                    /** Encaisse (ON) !== 수납여부 ==! */
        , NTFC.PAY_TMLM_XTNS_YN           /** Echeance prorogee (ON) !== 납부기한연장여부 ==! */
        , NTFC.DLPY_YN                    /** Paiement retarde (ON) !== 체납여부 ==! */
        , NTFC.DLPY_INST_ADJU_YN          /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
        , NTFC.NTFC_DIVD_YN               /** Avis echelonne (ON) !== 고지분할여부 ==! */
        , NTFC.RECP_PBLS_YN               /** Quittance delivree (ON) !== 영수증발행여부 ==! */
        , NTFC.CNCL_YN                    /** Annule (ON) !== 취소여부 ==! */
        , NTFC.ONTFC_NO                   /** N° de l'avis original !== 원고지번호 ==! */
        , NTFC.DFPM_PAY_YN                /** Recours au credit d'enlevement (ON) !== 후불납부여부 ==! */
        , NTFC.MG_TP_CD                   /** Code de type de caution !== 담보구분코드 ==! */
        , NTFC.DCLR_NO
        , NTFC.NTFC_PRCS_STTS_CD          /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
        , NTFC.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
        , RCVE.RCVE_NO                    /** N° d'encaissement !== 수납번호 ==! */
        , RCVE.RCVE_PT_CD                 /** Code de type d'encaissement !== 수납유형코드 ==! */
        , RCVE.RCVE_AMT                   /** Montant encaisse !== 수납금액 ==! */
        , TO_CHAR(TO_DATE(RCVE.RCVE_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RCVE_DT              /** Date de stockage !== 수납일자 ==! */
        , RCVE.HNWR_RCVE_RSN_CN           /** Contenu du motif d'enregistrement manuel !== 수작업수납사유내용 ==! */
        , RCVE.ATCH_FILE_ID               /** ID du fichier joint !== 첨부파일ID ==! */
        , (NTFC.TAMT - RCVE.RCVE_AMT) AS DIFF_AMT
        , RCVE.FRST_REGST_ID
        , RCVE.FRST_RGSR_DTTM
        , RCVE.LAST_CHPR_ID
        , RCVE.LAST_CHG_DTTM
        FROM  TB_COLI_NTFC NTFC /* TB_고지정보 */
        , TB_COLI_RCVE RCVE /* TB_수납정보 */
        WHERE  NTFC.DEL_YN     = 'N'
        AND    NTFC.RCVE_YN    = 'Y'
        AND    RCVE.DEL_YN     = 'N'
        AND    NTFC.NTFC_NO    = RCVE.NTFC_NO
        AND    NTFC.TAMT       != RCVE.RCVE_AMT
        <!--<if test='searchAllYn == null or searchAllYn !="Y" '>
            AND    NTFC.CSTM_CD  IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{sessPbsrNo}))
        </if>
        <if test='cstmCd != null and cstmCd !="" '>
            AND    NTFC.CSTM_CD = #{cstmCd}
        </if>
        <if test='deptCd != null and deptCd !="" '>
            AND    NTFC.DEPT_CD = #{deptCd}
        </if>-->
        <if test="sctrCd != null and sctrCd != ''">
            AND  NTFC.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  NTFC.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND (NTFC.DEPT_CD = #{orgnCd} OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
						 ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test='cstmCd != null and cstmCd !=""'>
            AND  NTFC.CSTM_CD = #{cstmCd}
        </if>
        <if test='deptCd != null and deptCd !=""'>
            AND  (NTFC.DEPT_CD = #{deptCd} OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                           OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                                                                                                OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
						 ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test='txprIdfyNoTpCd != null and txprIdfyNoTpCd !="" '>
            AND  NTFC.TXPR_IDFY_NO_TP_CD = #{txprIdfyNoTpCd}
        </if>
        <if test='txprIdfyNo != null and txprIdfyNo !="" '>
            AND    NTFC.TXPR_IDFY_NO = #{txprIdfyNo}
        </if>
        <if test='rcvePtCd != null and rcvePtCd !="" '>
            AND    RCVE.RCVE_PT_CD = #{rcvePtCd}
        </if>
        <if test='ntfcNo != null and ntfcNo !="" '>
            AND    NTFC.NTFC_NO = #{ntfcNo}
        </if>
        <if test='ntfcDtFrom != null and ntfcDtFrom !="" and ntfcDtTo != null and ntfcDtTo !="" '>
            AND    NTFC.NTFC_DT BETWEEN TO_CHAR(TO_DATE(#{ntfcDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{ntfcDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='rcveDtFrom != null and rcveDtFrom !="" and rcveDtTo != null and rcveDtTo !="" '>
            AND    RCVE.RCVE_DT    BETWEEN TO_CHAR(TO_DATE(#{rcveDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rcveDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        ORDER BY RCVE.RCVE_DT DESC, NTFC.NTFC_NO ASC, NTFC.TXPR_IDFY_NO ASC, RCVE.RCVE_AMT DESC
        <include refid="pagination.footer" />
    </select>

    <!--
    Consulter la liste des redevables !==납세자 목록 조회==!
    -->
    <select id="selectColTxprNmList" parameterType="alpass.ipt.col.rcve.vo.ColRcveMgmtVo" resultType="alpass.ipt.col.rcve.vo.ColRcveMgmtVo">
        /* ColRcveLstInqtMapper_selectColiTxprNmList */
        SELECT TXPR.TXPR_IDFY_NO_TP_CD
             , TXPR.TXPR_NM
             , (
            SELECT B.CD_VDVAL_NM
            FROM   TB_COM_COMN_CD_LANG A
               , TB_COM_COMN_CD_D_LANG B
            WHERE A.DEL_YN = 'N'
              AND   B.DEL_YN = 'N'
              AND   A.COMN_CD = B.COMN_CD
              AND   B.COMN_CD = 'COL_0006'
              AND   A.LANG_CD = B.LANG_CD
              AND   B.LANG_CD = #{langCd}
              AND   B.CD_VDVAL = TXPR.TXPR_IDFY_NO_TP_CD
        ) AS TXPR_IDFY_NO_TP_NM
        FROM (
                 SELECT TXPR_IDFY_NO_TP_CD, TXPR_NM FROM TB_COLI_OTHS_PCFE
                 WHERE TXPR_IDFY_NO = #{txprIdfyNo}
                 UNION
                 SELECT TXPR_IDFY_NO_TP_CD, TXPR_NM FROM TB_COLI_FINE
                 WHERE TXPR_IDFY_NO = #{txprIdfyNo}
             ) TXPR
        GROUP BY TXPR.TXPR_IDFY_NO_TP_CD, TXPR.TXPR_NM

    </select>

    <!--
    Enregistrer les informations sur l'encaissement manuel !==수작업수납정보 등록==!
    -->
    <insert id="insertHnwrRcve" parameterType="alpass.ipt.col.rcve.vo.ColHnwrRcveVo">
        /* ColRcveLstInqtMapper_insertHnwrRcve */
        INSERT INTO TB_COLI_RCVE (
           RCVE_NO
         , CSTM_CD
         , DEPT_CD
         , NTFC_NO
         , RCVE_PT_CD
         , RCVE_DT
         , RCVE_AMT
         , RCVE_BNK_CD
         , REGST_ID
         , HNWR_RCVE_RSN_CN
         , ATCH_FILE_ID
         , SYS_RGSR_TP_CD
         , TXPR_TLPH_NO
         , DEL_YN
         , PYER_IDFY_NO_TP_CD
         , PYER_IDFY_NO
         , PYER_NM
         , RCVE_MGMT_NO
         , FRST_REGST_ID
         , FRST_RGSR_DTTM
         , LAST_CHPR_ID
         , LAST_CHG_DTTM
        ) VALUES (
         #{rcveNo}
         , #{cstmCd}
         , #{deptCd}
         , #{ntfcNo}
         , #{rcvePtCd}
         , TO_CHAR(SYSDATE, 'YYYYMMDD')
         , #{rcveAmt}
         , #{rcveBnkCd}
         , #{regstId}
         , #{hnwrRcveRsnCn}
         , #{atchFileId}
         , #{sysRgsrTpCd}
         , #{txprTlphNo}
         , 'N'
         , #{pyerIdfyNoTpCd}
         , #{pyerIdfyNo}
         , #{pyerNm}
         , #{rcveMgmtNo}
         , #{frstRegstId}
         , SYSTIMESTAMP
         , #{lastChprId}
         , SYSTIMESTAMP
         )
    </insert>

    <!--
    Ajout d'un ordre de paiement pour l'encaissement manuel !==수작업 수납 지불명령서 추가==!
    -->
    <insert id="insertHnwrRcvePymnOrder" parameterType="alpass.ipt.col.com.vo.ColPymnOrderVo">
        /* ColRcveLstInqtMapper_insertHnwrRcvePymnOrder */
        INSERT INTO TB_COLI_PYMN (
                                   RCVE_NO
                                 , DTL_SRNO
                                 , CSTM_CD
                                 , DEPT_CD
                                 , PYMN_PT_CD
                                 , PYMN_AMT
                                 , TXPR_IDFY_NO_TP_CD
                                 , TXPR_IDFY_NO
                                 , TXPR_NM
                                 , CHCK_NO
                                 , CHCK_DT
                                 , RCVE_BNK_CD
                                 , BNK_BRNH_CD
                                 , CHCK_PT_CD
                                 , CHCK_KND_CD
                                 , CRDT_INST_AMT
                                 , ORD_NO
                                 , PYMN_TAMT
                                 , PCFE_AMT
                                 , XPIR_DT
                                 , DCSH_DT
                                 , BILL_2000_GCNT
                                 , BILL_1000_GCNT
                                 , BILL_500_GCNT
                                 , BILL_200_GCNT
                                 , COIN_100_GCNT
                                 , COIN_50_GCNT
                                 , COIN_20_GCNT
                                 , COIN_10_GCNT
                                 , COIN_5_GCNT
                                 , COIN_1_GCNT
                                 , DCML_BLW_AMT
                                 , DEL_YN
                                 , FRST_REGST_ID
                                 , FRST_RGSR_DTTM
                                 , LAST_CHPR_ID
                                 , LAST_CHG_DTTM
        ) VALUES (
                   #{rcveNo}
                 , #{dtlSrno}
                 , #{cstmCd}
                 , #{deptCd}
                 , #{pymnPtCd}
                 , #{pymnAmt}
                 , #{txprIdfyNoTpCd}
                 , #{txprIdfyNo}
                 , #{txprNm}
                 , #{chckNo}
                 , TO_CHAR(TO_DATE(#{chckDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
                 , #{rcveBnkCd}
                 , #{bnkBrnhCd}
                 , #{chckPtCd}
                 , #{chckKndCd}
                 , #{crdtInstAmt}
                 , #{reffNo}
                 , #{pymnTamt}
                 , #{pcfeAmt}
                 , TO_CHAR(TO_DATE(#{xpirDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
                 , TO_CHAR(TO_DATE(#{dcshDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
                 , #{bill2000Gcnt}
                 , #{bill1000Gcnt}
                 , #{bill500Gcnt}
                 , #{bill200Gcnt}
                 , #{coin100Gcnt}
                 , #{coin50Gcnt}
                 , #{coin20Gcnt}
                 , #{coin10Gcnt}
                 , #{coin5Gcnt}
                 , #{coin1Gcnt}
                 , #{dcmlBlwAmt}
                 , 'N'
                 , #{frstRegstId}
                 , SYSTIMESTAMP
                 , #{lastChprId}
                 , SYSTIMESTAMP
         )
    </insert>

    <!--
    Consultation de la liste des ordres de paiement pour l'encaissement manuel !==수작업 수납 지불명령서 목록 조회==!
    -->
    <select id="selectHnwrRcvePymnOrder" parameterType="alpass.ipt.col.com.vo.ColPymnOrderVo" resultType="alpass.ipt.col.com.vo.ColPymnOrderVo">
        /** ColRcveLstInqtMapper_selectHnwrRcvePymnOrder **/
        SELECT
      PYMN.CSTM_CD
      , PYMN.DEPT_CD
      , PYMN.RCVE_NO
      , PYMN.PYMN_PT_CD
      , PYMN.PYMN_AMT
      , PYMN.TXPR_IDFY_NO_TP_CD
      , PYMN.TXPR_IDFY_NO
      , PYMN.TXPR_NM
      , PYMN.CHCK_NO
      , TO_CHAR(TO_DATE(PYMN.CHCK_DT,'YYYYMMDD'),'DD/MM/YYYY') AS CHCK_DT /** !== 수표일자 ==! */
      , PYMN.BNK_BRNH_CD
      , PYMN.CHCK_PT_CD
      , PYMN.CHCK_KND_CD
      , PYMN.CRDT_INST_AMT
      , PYMN.PYMN_TAMT
      , PYMN.PCFE_AMT
      , TO_CHAR(TO_DATE(PYMN.XPIR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS XPIR_DT /** !== 만료일자 ==! */
      , TO_CHAR(TO_DATE(PYMN.DCSH_DT,'YYYYMMDD'),'DD/MM/YYYY') AS DCSH_DT /** !== 신고서일자 ==! */
      , PYMN.BILL_2000_GCNT
      , PYMN.BILL_1000_GCNT
      , PYMN.BILL_500_GCNT
        , PYMN.BILL_200_GCNT
        , PYMN.COIN_100_GCNT
        , PYMN.COIN_50_GCNT
        , PYMN.COIN_20_GCNT
        , PYMN.COIN_10_GCNT
        , PYMN.COIN_5_GCNT
        , PYMN.COIN_1_GCNT
        , PYMN.DCML_BLW_AMT
        , PYMN.RCVE_BNK_CD
        , PYMN.DEL_YN
        , PYMN.FRST_REGST_ID
        , PYMN.FRST_RGSR_DTTM
        , PYMN.LAST_CHPR_ID
        , PYMN.LAST_CHG_DTTM                    /** Suppression ON !== 삭제여부 ==! */
        , RCVE.RCVE_NO                    /** N° d'encaissement !== 수납번호 ==! */
        , RCVE.RCVE_PT_CD                 /** Code de type d'encaissement !== 수납유형코드 ==! */
        , RCVE.RCVE_AMT                   /** Montant encaisse !== 수납금액 ==! */
        , TO_CHAR(TO_DATE(RCVE.RCVE_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RCVE_DT              /** Date de stockage !== 수납일자 ==! */
        , RCVE.HNWR_RCVE_RSN_CN           /** Contenu du motif d'enregistrement manuel !== 수작업수납사유내용 ==! */
        , RCVE.ATCH_FILE_ID               /** ID du fichier joint !== 첨부파일ID ==! */
        , RCVE.FRST_REGST_ID
        , RCVE.FRST_RGSR_DTTM
        , RCVE.LAST_CHPR_ID
        , RCVE.LAST_CHG_DTTM
        FROM  TB_COLI_PYMN PYMN /* TB_지불정보 */
            , TB_COLI_RCVE RCVE /* TB_수납정보 */
        WHERE  PYMN.DEL_YN     = 'N'
        AND    PYMN.RCVE_NO    = RCVE.RCVE_NO
        <if test='ntfcNo != null and ntfcNo !=""'>
            AND  RCVE.NTFC_NO    = #{ntfcNo}
        </if>
    </select>

    <!--
    Consultation du nombre d'informations sur le paiement !==지불정보 개수 조회==!
    -->
    <select id="selectPymnOrderChckNoCount" parameterType="alpass.ipt.col.com.vo.ColPymnOrderVo" resultType="int">
      /** ColRcveLstInqtMapper_selectPymnOrderChckNoCount **/
      SELECT COUNT(*)
      FROM TB_COLI_PYMN PYMN /* TB_지불정보 */
      WHERE PYMN.DEL_YN = 'N'
      <if test='chckNo != null and chckNo !=""'>
        AND PYMN.CHCK_NO = #{chckNo}
      </if>
      <if test='rcveBnkCd != null and rcveBnkCd !=""'>
        AND PYMN.RCVE_BNK_CD = #{rcveBnkCd}
      </if>
      <if test='bnkBrnhCd != null and bnkBrnhCd !=""'>
        AND PYMN.BNK_BRNH_CD = #{bnkBrnhCd}
      </if>
    </select>
</mapper>