<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.bnwrhs.invn.mapper.CarInvnMapper">

<!-- ######################################### 재고 조회  #############################################  -->

	<!--
   	   [Enregistrer] Demande d’introduction TODO 번역 필요
   	   !== 재고 테이블을 조회한다. ==!
    -->
    <select id="selectCagInvnList" resultType="alpass.ipt.car.bnwrhs.invn.vo.CarInvnVo">
		/* alpass.ipt.car.bnwrhs.cagbrng.mapper.selectCagInvnList */
		<if test="excelExport != null and  !excelExport">
		<include refid="pagination.header" ></include>
		</if> 
      	SELECT
	           A.CAG_MGMT_NO															/**  Crn  										!== 화물관리번호 ==!  */
			 , A.IBOBZ_CD															/**  Code de zone sous douane  					!== 보세구역코드 ==!  */
			 , TO_CHAR(A.LAST_BRNG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS last_brng_dttm	/**  Date de dernière introduction  			!== 최종반입일시 ==!  */
			 , A.INVN_PCKG_GCNT														/**  Nombre de colis du stock  					!== 재고포장개수 ==!  */
			 , A.INVN_WGHT															/**  Poids Du Stock  							!== 재고중량 ==!  */
			 , A.BRNG_PCKG_GCNT														/**  Nombre de colis introduits  				!== 반입포장개수 ==!  */
			 , A.BRNG_WGHT															/**  Poids introduit  							!== 반입중량 ==!  */
			 , A.RLSE_PCKG_GCNT														/**  Nombre de colis sortis  					!== 반출포장개수 ==!  */
			 , A.RLSE_WGHT															/**  Poids sorti  								!== 반출중량 ==!  */
			 , A.INVN_YN																/**  Stock On  									!== 재고여부 ==!  */
			 , A.DEL_YN																/**  Suppression On  							!== 삭제여부 ==!  */
			 , A.FRST_REGST_ID														/**  Id Du Premier Enregistrant   				!== 최초등록자ID ==!  */
			 , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement    !== 최초등록일시 ==!  */
			 , A.LAST_CHPR_ID														/**  Id Du Modificateur Final  				    !== 최종변경자ID ==!  */
			 , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  	    !== 최종변경일시 ==!  */
			 , B.CAG_CHRC_CD
			 , B.PDLS_NM
			 , ( SELECT B.HS_CD || '|' || A1.HS_DESC
				FROM ALPASSINT.TB_CLRI_HS_CD A1
				WHERE A1.DEL_YN = 'N'
				AND   A1.LAST_YN = 'Y'
				AND   A1.HS_CD = B.HS_CD
				AND   TO_CHAR(SYSTIMESTAMP, 'YYYYMMDD') BETWEEN A1.HS_APLY_STRT_DT AND A1.HS_APLY_END_DT
			   )  AS HS_CD
			 , CASE WHEN B.BL_PT_CD = 'M' THEN B.BL_NO ELSE B.HBL_NO END AS BL_NO
		FROM TB_CARI_INVN A
		INNER JOIN TB_CARI_CAG_DCSH_BL B ON A.CAG_MGMT_NO = B.CAG_MGMT_NO
		LEFT OUTER JOIN TB_CARI_IBOBZ C ON A.IBOBZ_CD = C.IBOBZ_CD
      	WHERE 1 = 1
      	AND A.DEL_YN = 'N'
      	AND B.DEL_YN = 'N'
		AND C.DEL_YN = 'N'

        /**  Code De Statut De Traitement  	!== 화물관리번호 ==!  */
        <if test="cagMgmtNo != null and cagMgmtNo != ''">
          AND  A.CAG_MGMT_NO LIKE #{cagMgmtNo} || '%'
        </if>

        /** Code de zone sous douane  		    !== 보세구역코드 ==!  */
        <if test="ibobzCd != null and ibobzCd != ''">
          AND  A.IBOBZ_CD = #{ibobzCd}
        </if>

        /**  Stock On  									!== 재고여부 ==!  */
        <if test="invnYn != null and invnYn != ''">
          AND  A.INVN_YN = #{invnYn}
        </if>

		<if test="sctrCd != null and sctrCd != ''">
			AND SUBSTRING(C.JRSD_ORGN_CD,1,3) LIKE SUBSTRING(#{sctrCd},1,3) || '%'				/** Code de DRD !== DRD코드==! */
		</if>

		<if test="cstmCd != null and cstmCd != ''">
			AND SUBSTRING(C.JRSD_ORGN_CD,1,5) LIKE SUBSTRING(#{cstmCd},1,5) || '%'	/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
		</if>

		/**  Date et heure de transmission  !== 신청일자 ==!  */
        <if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
          AND (
            (
              A.LAST_BRNG_DTTM <![CDATA[ >= ]]> TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY')
              AND A.LAST_BRNG_DTTM <![CDATA[ <= ]]> TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
            ) OR (
                A.LAST_BRNG_DTTM <![CDATA[ >= ]]> TO_TIMESTAMP(#{searchKeywordFrom}, 'DD/MM/YYYY')
                AND A.LAST_BRNG_DTTM <![CDATA[ <= ]]> TO_TIMESTAMP(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
            )
          )
        </if>

        <if test="blNo != null and blNo != ''">
          AND CASE WHEN B.BL_PT_CD = 'M' THEN B.BL_NO ELSE B.HBL_NO END = #{blNo}
        </if>

		ORDER BY A.CAG_MGMT_NO, A.LAST_BRNG_DTTM DESC

      <if test="excelExport != null and  !excelExport">
      <include refid="pagination.footer" ></include>
      </if>  
    </select>


    <!--
   	   [Enregistrer] Demande d’introduction TODO 번역 필요
   	   !== 재고 테이블을 상세 조회한다. ==!
    -->
    <select id="selectCagInvnDetailInfo" resultType="alpass.ipt.car.bnwrhs.invn.vo.CarInvnVo">
    /* alpass.ipt.car.bnwrhs.cagbrng.mapper.selectCagInvnDetailInfo */
      SELECT
	          A.CAG_MGMT_NO															/**  Crn  										!== 화물관리번호 ==!  */
			, A.IBOBZ_CD															/**  Code de zone sous douane  					!== 보세구역코드 ==!  */
		    , (SELECT IBOBZ_NM  /* Nom de la zone sous douane !== 보세구역명 ==! */
			       FROM TB_CARI_IBOBZ
			      WHERE DEL_YN = 'N'
			        AND IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM
			, TO_CHAR(A.last_brng_dttm, 'DD/MM/YYYY HH24:mi:ss') AS last_brng_dttm	/**  Date de dernière introduction  			!== 최종반입일시 ==!  */
			, A.INVN_PCKG_GCNT														/**  Nombre de colis du stock  					!== 재고포장개수 ==!  */
			, A.INVN_WGHT															/**  Poids Du Stock  							!== 재고중량 ==!  */
			, A.BRNG_PCKG_GCNT														/**  Nombre de colis introduits  				!== 반입포장개수 ==!  */
			, A.BRNG_WGHT															/**  Poids introduit  							!== 반입중량 ==!  */
			, A.RLSE_PCKG_GCNT														/**  Nombre de colis sortis  					!== 반출포장개수 ==!  */
			, A.RLSE_WGHT															/**  Poids sorti  								!== 반출중량 ==!  */
			, A.INVN_YN																/**  Stock On  									!== 재고여부 ==!  */
			, A.DEL_YN																/**  Suppression On  							!== 삭제여부 ==!  */
			, A.FRST_REGST_ID														/**  Id Du Premier Enregistrant   				!== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement    !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID														/**  Id Du Modificateur Final  				    !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  	    !== 최종변경일시 ==!  */
			, ( SELECT COUNT(CNTR_NO)
			 	FROM ALPASSINT.TB_CARI_CNTR_INVN
			 	WHERE CAG_MGMT_NO = A.CAG_MGMT_NO
			 	AND   DEL_YN = 'N'
			 	AND   INVN_YN = 'Y'
			   ) AS CNTR_GCNT /** 컨테이너 재고 개수 */
			, CASE WHEN B.BL_PT_CD = 'M' THEN B.BL_NO ELSE B.HBL_NO END AS BL_NO
		FROM TB_CARI_INVN A
		INNER JOIN TB_CARI_CAG_DCSH_BL B ON A.CAG_MGMT_NO = B.CAG_MGMT_NO
		LEFT OUTER JOIN TB_CARI_IBOBZ C ON A.IBOBZ_CD = C.IBOBZ_CD
		WHERE 1 = 1
		AND A.DEL_YN = 'N'
		AND B.DEL_YN = 'N'
		AND C.DEL_YN = 'N'

        /**  Code De Statut De Traitement  	!== 화물관리번호 ==!  */
        <if test="cagMgmtNo != null and cagMgmtNo != ''">
          AND  A.CAG_MGMT_NO = #{cagMgmtNo}
        </if>

        /** Code de zone sous douane  		    !== 보세구역코드 ==!  */
        <if test="ibobzCd != null and ibobzCd != ''">
          AND  A.IBOBZ_CD = #{ibobzCd}
        </if>

		<if test="sctrCd != null and sctrCd != ''">
			AND SUBSTRING(C.JRSD_ORGN_CD,1,3) LIKE SUBSTRING(#{sctrCd},1,3) || '%' /** Direction régionale des douanes !== 지역본부세관 ==! */
		</if>

		<if test="cstmCd != null and cstmCd != ''">
			AND SUBSTRING(C.JRSD_ORGN_CD,1,5) LIKE SUBSTRING(#{cstmCd},1,5) || '%'	/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
		</if>

        <if test="blNo != null and blNo != ''">
          AND CASE WHEN B.BL_PT_CD = 'M' THEN B.BL_NO ELSE B.HBL_NO END = #{blNo}
        </if>

    </select>

	<!--
   	   [Enregistrer] Demande d’introduction TODO 번역 필요
   	   !== 재고 테이블을 조회한다. ==!
    -->
    <select id="selectCagExpInvnList" resultType="alpass.ipt.car.bnwrhs.invn.vo.CarInvnVo">
		/* alpass.ipt.car.bnwrhs.cagbrng.mapper.selectCagExpInvnList */
      	<include refid="pagination.header" ></include>
      	SELECT
	          A.EXP_CMDT_BRNG_RQNO
			, A.IBOBZ_CD															/**  Code de zone sous douane  					!== 보세구역코드 ==!  */
		    , (SELECT IBOBZ_NM  /* Nom de la zone sous douane !== 보세구역명 ==! */
			       FROM TB_CARI_IBOBZ
			      WHERE DEL_YN = 'N'
			        AND IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS last_brng_dttm	/**  Date de dernière introduction  			!== 최종반입일시 ==!  */
			, A.INVN_PCKG_GCNT														/**  Nombre de colis du stock  					!== 재고포장개수 ==!  */
			, A.INVN_WGHT															/**  Poids Du Stock  							!== 재고중량 ==!  */
			, A.BRNG_PCKG_GCNT														/**  Nombre de colis introduits  				!== 반입포장개수 ==!  */
			, A.BRNG_WGHT															/**  Poids introduit  							!== 반입중량 ==!  */
			, A.RLSE_PCKG_GCNT														/**  Nombre de colis sortis  					!== 반출포장개수 ==!  */
			, A.RLSE_WGHT															/**  Poids sorti  								!== 반출중량 ==!  */
			, A.INVN_YN																/**  Stock On  									!== 재고여부 ==!  */
			, A.DEL_YN																/**  Suppression On  							!== 삭제여부 ==!  */
			, A.FRST_REGST_ID														/**  Id Du Premier Enregistrant   				!== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement    !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID														/**  Id Du Modificateur Final  				    !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  	    !== 최종변경일시 ==!  */
			, B.PDLS_NM
			, B.BL_NO
		FROM ALPASSINT.TB_CARI_EXP_CMDT_INVN A
		   , ALPASSINT.TB_CARE_EXP_CMDT_BRNG B
		WHERE 1 = 1
		AND A.EXP_CMDT_BRNG_RQNO = B.EXP_CMDT_BRNG_RQNO
		AND A.DEL_YN = 'N'
		AND B.DEL_YN = 'N'

        <if test="expCmdtBrngRqno != null and expCmdtBrngRqno != ''">
          AND  A.EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno}
        </if>

        /** Code de zone sous douane  		    !== 보세구역코드 ==!  */
        <if test="ibobzCd != null and ibobzCd != ''">
          AND  A.IBOBZ_CD = #{ibobzCd}
        </if>

        /**  Stock On  									!== 재고여부 ==!  */
        <if test="invnYn != null and invnYn != ''">
          AND  A.INVN_YN = #{invnYn}
        </if>

		/**  Date et heure de transmission  !== 신청일자 ==!  */
        <if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
          AND (
            (
              A.FRST_RGSR_DTTM <![CDATA[ >= ]]> TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY')
              AND A.FRST_RGSR_DTTM <![CDATA[ <= ]]> TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
            ) OR (
                A.FRST_RGSR_DTTM <![CDATA[ >= ]]> TO_TIMESTAMP(#{searchKeywordFrom}, 'DD/MM/YYYY')
                AND A.FRST_RGSR_DTTM <![CDATA[ <= ]]> TO_TIMESTAMP(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
            )
          )
        </if>

        <if test="blNo != null and blNo != ''">
          AND B.BL_NO = #{blNo}
        </if>

		ORDER BY A.EXP_CMDT_BRNG_RQNO, A.LAST_CHG_DTTM DESC

      <include refid="pagination.footer" ></include>
    </select>


    <!--
   	   [Enregistrer] Demande d’introduction TODO 번역 필요
   	   !== 재고 테이블을 상세 조회한다. ==!
    -->
    <select id="selectCagInvnExpDetailInfo" resultType="alpass.ipt.car.bnwrhs.invn.vo.CarInvnVo">
		/* alpass.ipt.car.bnwrhs.cagbrng.mapper.selectCagInvnExpDetailInfo */
		SELECT
	          A.EXP_CMDT_BRNG_RQNO
			, A.IBOBZ_CD															/**  Code de zone sous douane  					!== 보세구역코드 ==!  */
		    , (SELECT IBOBZ_NM  /* Nom de la zone sous douane !== 보세구역명 ==! */
			       FROM TB_CARI_IBOBZ
			      WHERE DEL_YN = 'N'
			        AND IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS last_brng_dttm	/**  Date de dernière introduction  			!== 최종반입일시 ==!  */
			, A.INVN_PCKG_GCNT														/**  Nombre de colis du stock  					!== 재고포장개수 ==!  */
			, A.INVN_WGHT															/**  Poids Du Stock  							!== 재고중량 ==!  */
			, A.BRNG_PCKG_GCNT														/**  Nombre de colis introduits  				!== 반입포장개수 ==!  */
			, A.BRNG_WGHT															/**  Poids introduit  							!== 반입중량 ==!  */
			, A.RLSE_PCKG_GCNT														/**  Nombre de colis sortis  					!== 반출포장개수 ==!  */
			, A.RLSE_WGHT															/**  Poids sorti  								!== 반출중량 ==!  */
			, A.INVN_YN																/**  Stock On  									!== 재고여부 ==!  */
			, A.DEL_YN																/**  Suppression On  							!== 삭제여부 ==!  */
			, A.FRST_REGST_ID														/**  Id Du Premier Enregistrant   				!== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement    !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID														/**  Id Du Modificateur Final  				    !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  	    !== 최종변경일시 ==!  */
			, ( SELECT COUNT(CNTR_NO)
			 	FROM  ALPASSINT.TB_CARI_EXP_CMDT_INVN_CNTR
			 	WHERE EXP_CMDT_BRNG_RQNO  = A.EXP_CMDT_BRNG_RQNO
			 	AND   DEL_YN = 'N'
			 	AND   INVN_YN = 'Y'
			   ) AS CNTR_GCNT /** 컨테이너 재고 개수 */
		    , B.PDLS_NM
		    , B.BL_NO
		FROM ALPASSINT.TB_CARI_EXP_CMDT_INVN A
		   , ALPASSINT.TB_CARE_EXP_CMDT_BRNG B
		WHERE 1 = 1
		AND A.EXP_CMDT_BRNG_RQNO = B.EXP_CMDT_BRNG_RQNO
		AND A.DEL_YN = 'N'
		AND B.DEL_YN = 'N'
        <if test="expCmdtBrngRqno != null and expCmdtBrngRqno != ''">
          AND  A.EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno}
        </if>
        /** Code de zone sous douane  		    !== 보세구역코드 ==!  */
        <if test="ibobzCd != null and ibobzCd != ''">
          AND  A.IBOBZ_CD = #{ibobzCd}
        </if>

        <if test="blNo != null and blNo != ''">
          AND B.BL_NO = #{blNo}
        </if>
    </select>

    </mapper>