<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.col.com.mapper.ColComUtilMapper">

    <!--
    Consultation du code de bureau de douane avec le code de service !== 조직코드로 세관코드 조회 ==!
    -->
    <select id="selectCstmCd" parameterType="string" resultType="string">
        /* ColComUtil_selectCstmCd */
		SELECT NVL(CSTM_CD, SECT_CD) AS CSTM_CD
		FROM 
		(
		    SELECT MIN(DECODE(ORGN_TP_CD, 'SD', ORGN_CD)) AS SECT_CD,
		           MIN(DECODE(ORGN_TP_CD, 'SD', '', ORGN_CD)) AS CSTM_CD   /** MIN :한개 이상 결과 리턴시 최하위 조직 선택 위함임(예:SF-MI,ME)) */
		    FROM TB_POTI_ORGN
		    WHERE DEL_YN = 'N'
              -- AND ORGN_TP_CD IN ('SD', 'CO')
		      AND ORGN_TP_CD IN ('SP', 'SD', 'CO', 'SV')                    /*로그인 아이디 'ALG001' 임시 권한 부여 : */
		    START WITH ORGN_MGMT_CD = #{value}                      /** 로그인한 사람 조직관리코드 */
		    CONNECT BY PRIOR UPR_ORGN_MGMT_CD = ORGN_MGMT_CD        /** 해당로그인의 상위조직 탐색 */
		)
    </select>

    <!--
    Consultation du code de bureau de douane avec l'identifiant de l'utilisateur !== 사용자id로 세관코드 조회 ==!
    -->
    <select id="selectCstmCdofUserId" parameterType="string" resultType="string">
        /* ColComUtil_selectCstmCdofUserId */
        SELECT NVL(CSTM_CD, SECT_CD) AS CSTM_CD
        FROM 
        (
            SELECT MAX(DECODE(ORGN_TP_CD, 'SD', ORGN_CD)) AS SECT_CD,
                   MAX(DECODE(ORGN_TP_CD, 'SD', '', ORGN_CD)) AS CSTM_CD  /** MIN :한개 이상 결과 리턴시 최하위 조직 선택 위함임(예:SF-MI,ME)) */
            FROM TB_POTI_ORGN
            WHERE DEL_YN = 'N'
               -- AND ORGN_TP_CD IN ('SD', 'CO')
              AND ORGN_TP_CD IN ('SP', 'SD', 'CO', 'SV')                    /*로그인 아이디 'ALG001' 임시 권한 부여 : */
            START WITH ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{value})   /** 사용자id의 조직관리코드 */
            CONNECT BY PRIOR UPR_ORGN_MGMT_CD = ORGN_MGMT_CD                                            /** 해당로그인의 상위조직 탐색 */
        )
    </select>

    <!--
    Consultation des informations sur le code de déclaration de l'opérateur !== 업체신고코드 정보 조회 ==!
    -->
    <select id="selectCoDclrCdList" parameterType="string" resultType="hashMap">
        /* ColComUtil_selectCoDclrCdList */
        SELECT CASE WHEN CO_DCLR_TP_CD = 'H' THEN 'CD'
                    WHEN CO_DCLR_TP_CD = 'A' THEN 'CC'
                    WHEN CO_DCLR_TP_CD IN ('C','D') THEN 'CT'
                    ELSE CO_DCLR_TP_CD END AS TP_CD
             , CO_DCLR_CD
             , B.CO_NM AS CO_NM
        FROM TB_COM_CO_DCLR_CD A
           , TB_COM_CO B
        WHERE A.DEL_YN = 'N'
          AND B.DEL_YN = 'N'
          AND A.CO_DCLR_TP_CD IN ('H','A','C','D')
          AND A.NIF = B.NIF
        ORDER BY TP_CD, CO_DCLR_CD
    </select>

    <!--
    Apporter le code de catégorie de service avec le n° de demande d'imposition des amendes !== 벌금부과요청번호로 업무구분코드 가져옴 ==!
    -->
    <select id="selectFineLvyRqstBsopClsfCd" parameterType="string" resultType="string">
        /* ColComUtil_selectFineLvyRqstBsopClsfCd */
			SELECT C.BSOP_CLSF_CD 
			FROM TB_POTE_DCSH_PRCS_BRKD_D@LN_ECIS A
			   , TB_COM_DOC_CD C
			WHERE A.DCLR_DOC_CD = C.DOC_CD 
			AND A.INFM_REFF_NO3 =  #{value}
			AND ROWNUM = 1
    </select>
    

    
    <!--
    Consultation des informations sur le statut de traitement en commun (pour le module de fret) !== 공통처리상태 정보 조회(화물파트용) ==!
    -->
    <select id="selectGagProcInfo" parameterType="string" resultType="hashMap">
        /* ColComUtil_selectGagProcInfo */
        SELECT A.SBMT_NO,
		       A.MDFY_DGCNT,
		       A.DCLR_DOC_CD,
		       C.DOC_CD,
		       C.BSOP_CLSF_CD,
		       C.DOC_PT_CD,
		       C.ELCT_DOC_YN,
		       C.DOC_RPRS_CD,
		       C.DOC_DTL_CD
		  FROM TB_POTE_DCSH_PRCS_BRKD_D@LN_ECIS A
		     , TB_COM_DOC_CD C
		 WHERE A.DCLR_DOC_CD = C.DOC_CD 
		   AND A.INFM_REFF_NO3 = #{value} 
		   AND A.PRCS_STTS_CD = 'P01'
		   AND ROWNUM = 1
    </select>

    <!--
    Consultation de la liste des structures de l'E-paiement !== 징수조직 목록 조회 ==!
    -->
    <select id="selectCstmColtOrgnList" parameterType="string" resultType="hashMap">
        /* ColComUtil_selectCstmColtOrgnList */
        SELECT ORGN_CD
             , FN_GET_ORGN_NM(ORGN_CD) AS ORGN_NM
          FROM TB_POTI_ORGN
        WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO  = #{value})
    </select>
    
    <!--
    Consultation de la structure de l'E-paiement !== 징수조직 조회 ==!
    -->
    <select id="selectCstmColtOrgn" parameterType="java.util.Map" resultType="hashMap">
        /* ColComUtil_selectCstmColtOrgn */
        SELECT ORGN_CD
             , FN_GET_ORGN_NM(ORGN_CD) AS ORGN_NM
        FROM  TB_POTI_ORGN
        WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{pbsrNo})
          AND ORGN_CD = #{slctCstmCd}
    </select>
    
   <!--
    Consultation de l'existence du n° de référence justificatif (n° concerné) selon le type de n° de référence justificatif (n° concerné) !== 근거참조번호(관련번호) 유형에 따른 근거참조번호(관련번호) 유무 조회 ==!
    -->
    <select id="selectBssReffNoEne" parameterType="java.util.Map" resultType="string">
        /* ColComUtil_selectBssReffNoEne */
        SELECT
        REFF_NO
        FROM
        (
        <choose>
            <when test='reffNoTpCd == "001"'>
                /* Code de type de numéro de réferénce : CRN !== 참조번호유형 : (002)화물관리번호 ==! */
                SELECT CAG_MGMT_NO AS REFF_NO
                FROM TB_CARI_CAG_DCSH_BL
                WHERE DEL_YN = 'N'
                  AND CAG_MGMT_NO = #{reffNo}
            </when>
            <when test='reffNoTpCd == "002"'>
                /* Code de type de numéro de réferénce : N° de déclaration !== 참조번호유형 : (002)신고서번호 ==! */
                SELECT DTL_DCSH_NO AS REFF_NO
                FROM TB_CLRI_DED_COMN
                WHERE DEL_YN = 'N'
                  AND DTL_DCSH_NO = #{reffNo}
            </when>
            <when test='reffNoTpCd == "007"'>
                /* Code de type de numéro de réferénce : N° de PV de vente !== 참조번호유형 : (007)판매조서 ==! */
                SELECT SALE_WTNNC_NO AS REFF_NO
                FROM TB_COLI_SALE_WTNNC
                WHERE DEL_YN = 'N'
                  AND SALE_WTNNC_NO = #{reffNo}
            </when>
            <when test='reffNoTpCd == "008"'>
                /* Code de type de numéro de réferénce : Numéro de procès-verbal de cession !== 참조번호유형 : (008)양도조서 ==! */
                SELECT TRSF_WTNNC_NO AS REFF_NO
                FROM TB_COLI_TRSF_WTNNC
                WHERE DEL_YN = 'N'
                  AND TRSF_WTNNC_NO = #{reffNo}
            </when>
            <when test='reffNoTpCd == "014"'>
                /* Code de type de numéro de réferénce : N° D'Avis !== 참조번호유형 : (014)고지번호 ==! */
                SELECT NTFC_NO AS REFF_NO
                FROM TB_COLI_NTFC
                WHERE DEL_YN = 'N'
                  AND CNCL_YN = 'N'
                  AND NTFC_NO = #{reffNo}
            </when>
            <when test='reffNoTpCd == "018"'>
                /* Code de type de numéro de réferénce : N° de la demande de remboursement !== 참조번호유형 : (018)환급요청번호 ==! */
                SELECT DRWB_RQST_NO AS REFF_NO
                FROM TB_COLI_DRWB_RQST
                WHERE DEL_YN = 'N'
                  AND DRWB_RQST_NO = #{reffNo}
            </when>
            <when test='reffNoTpCd == "019"'>
                /* Code de type de numéro de réferénce : N° Ordre de paiement !== 참조번호유형 : (019)지불명령서 ==! */
                SELECT PYMN_ORDER_NO AS REFF_NO
                FROM TB_COLI_PYMN_ORDER
                WHERE DEL_YN = 'N'
                  AND PYMN_ORDER_NO = #{reffNo}
            </when>
            <otherwise>
                SELECT #{reffNo} AS REFF_NO FROM DUAL
            </otherwise>
        </choose>
        )
    </select>

    <!--
         * SQL 설명 :환율리스트  조회
         * 작성자 : 박한중
     -->
    <select id="selectFxrtList" parameterType="alpass.ipt.col.com.vo.ComFxrtVo" resultType="alpass.ipt.col.com.vo.ComFxrtVo">
        /** ComBusi_selectFxrtList */
        SELECT
            B.CURR_CD
             , B.FXRT
        FROM   TB_COM_FXRT A, TB_COM_FXRT_D B
        WHERE A.RGSR_DT = B.RGSR_DT
          AND   A.SRNO = B.SRNO
          AND   A.DEL_YN = 'N'
          AND   B.DEL_YN = 'N'
          AND   A.XTRN_OFR_YN = 'Y'
          AND   TO_CHAR(TO_DATE(REPLACE(#{aplyBgnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') BETWEEN A.APLY_BGN_DT AND NVL(A.APLY_END_DT, '99991231')
        ORDER BY B.CURR_CD
    </select>

    <!--
    Vérification de la validité du code commun pour E-paiement !== 공통코드 유효성 체크 ==!
    -->
    <select id="selectColComCodeCheck" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) CNT FROM TB_COM_COMN_CD_D_LANG
        WHERE DEL_YN = 'N'
          AND COMN_CD = #{comnCd}
          AND CD_VDVAL = #{searchKeyword}
    </select>


    <!--
    Consulter un service de l'administration (provisoire)  !== 기관부서 조회(임시) ==!
     -->
    <select id="selectBusiComIttDeptList" parameterType="alpass.ipt.col.com.vo.ColComIttDeptVo" resultType="alpass.ipt.col.com.vo.ColComIttDeptVo">
        /** ComBusi_selectBusiComIttDeptList */
        <include refid="pagination.header" />
        SELECT A.ORGN_MGMT_CD AS DEPT_CD
        ,A.ORGN_NM AS DEPT_NM
        ,NVL((SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.HSRK_ORGN_MGMT_CD AND DEL_YN = 'N'),(SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD AND DEL_YN = 'N')) AS ITT_NM
        ,A.ORGN_DESC AS DEPT_DESC
        FROM   TB_POTI_ORGN A
        WHERE A.DEL_YN = 'N'
        <if test="ittCd != null and ittCd != ''">
            AND	  A.ORGN_CD = #{ittCd}
        </if>
        <if test="deptCd != null and deptCd != ''">
            AND	  A.ORGN_MGMT_CD = #{deptCd}
        </if>
        <if test="ittNm != null and ittNm != ''">
            AND	  UPPER(A.ORGN_NM) LIKE '%'||UPPER(#{ittNm})||'%'
        </if>
        ORDER  BY A.ORGN_MGMT_CD, A.ORGN_NM
        <include refid="pagination.footer" />
    </select>

    <!--
    Consulter le nom du service de l'administration (provisoire)  !== 기관부서명 조회(임시) ==!
     -->
    <select id="selectBusiComIttDeptNm" parameterType="alpass.ipt.col.com.vo.ColComIttDeptVo" resultType="java.lang.String">
        /** ComBusi_selectBusiComIttDeptNm */
        SELECT
        ORGN_NM AS DEPT_NM
        FROM TB_POTI_ORGN
        WHERE ORGN_MGMT_CD = #{deptCd}
        <if test="ittCd != null and ittCd != ''">
            AND	  ORGN_CD = #{ittCd}
        </if>
        AND     DEL_YN = 'N'
    </select>

    <select id="selectBusiColComExpnCrppRecpList" parameterType="alpass.ipt.col.com.vo.ColComExpnCrppRecpVo" resultType="alpass.ipt.col.com.vo.ColComExpnCrppRecpVo">
        /** ComBusi_selectBusiColComExpnCrppRecpList */
        <include refid="pagination.header" />
        SELECT    A.EXPN_CRPP_NO
                , A.DEPT_CD
                , A.CSTM_CD
                , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM
                , A.TXPR_IDFY_NO_TP_CD
                , A.TXPR_IDFY_NO
                , A.TXPR_NM
                , A.AC_NO
                , A.REFF_NO_PT_CD
                , A.REFF_NO
                , A.EXPN_RSN_CD
                , A.RECP_NO
                , TO_CHAR(TO_DATE(A.RECP_DT, 'YYYY/MM/DD'), 'DD/MM/YYYY') AS RECP_DT
                , A.DRWB_TRGT_AMT
                , A.CLTR_ID
                , TO_CHAR(TO_DATE(A.EXPN_CRPP_RGSR_DT, 'YYYY/MM/DD'), 'DD/MM/YYYY') AS EXPN_CRPP_RGSR_DT
        FROM 	TB_COLI_EXPN_CRPP A
        WHERE 	1=1
        <if test="cstmCd != null and cstmCd != ''">
            AND A.CSTM_CD = #{cstmCd}
        </if>
        <if test="expnCrppNo != null and expnCrppNo != ''">
            AND UPPER(A.EXPN_CRPP_NO) LIKE '%' || UPPER(#{expnCrppNo}) || '%'
        </if>
        <if test='expnCrppRgsrDtFrom != null and expnCrppRgsrDtFrom !="" and expnCrppRgsrDtTo != null and expnCrppRgsrDtTo !="" '>
            AND A.EXPN_CRPP_RGSR_DT BETWEEN TO_CHAR(TO_DATE(#{expnCrppRgsrDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{expnCrppRgsrDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <include refid="pagination.footer" />
    </select>

    <select id="selectColRcveLstInqtList" parameterType="alpass.ipt.col.rcve.vo.ColRcveLstInqtVo" resultType="alpass.ipt.col.rcve.vo.ColRcveLstInqtVo">
        /** ComBusi_selectColRcveLstInqtList */
        <include refid="pagination.header" />
        SELECT
              'false' AS CHK_SEL
            , NTFC.NTFC_NO                    /** N° d'avis !== 고지번호 ==! */
            , NTFC.DEPT_CD
            , FN_GET_ORGN_NM(NTFC.DEPT_CD) AS DEPT_NM
            , NTFC.CSTM_CD                    /** Code du bureau !== 세관코드 ==! */
            , FN_GET_ORGN_NM(NTFC.CSTM_CD) AS CSTM_NM   /** Code du bureau !== 세관명 ==! */
            , NTFC.NTFC_PT_CD                 /** Code de type d'avis !== 고지유형코드 ==! */
            , TO_CHAR(TO_DATE(NTFC.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT         /** Date de notification !== 고지일자 ==! */
            , TO_CHAR(TO_DATE(NTFC.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT /** Delai de paiement !== 납부기한일자 ==! */
            , NTFC.DLPY_INST_AMT              /** Montant Des Intérêts De Retard !== 체납이자금액 ==! */
            , NTFC.ODLPY_INST_AMT             /** Montant Des Intérêts De Retard Non-Ajusté !== 원체납이자금액 ==! */
            , NTFC.FINE_AMT                   /** Montant d'amende !== 벌금금액 ==! */
            , NTFC.OTHS_PCFE_AMT              /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
            , NTFC.TAMT                       /** Montant total !== 총금액 ==! */
            , NTFC.TXPR_IDFY_NO_TP_CD         /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
            , NTFC.TXPR_IDFY_NO               /** NIU !== 납세자식별번호 ==! */
            , NTFC.TXPR_NM                    /** Nom du responsable financier !== 납세자명 ==! */
            , NTFC.REFF_NO_PT_CD              /** Code de type de numero de reference !== 참조번호유형코드 ==! */
            , NTFC.REFF_NO                    /** N° de reference !== 참조번호 ==! */
            , NTFC.DCER_CD                    /** Code du declarant !== 신고인코드 ==!*/
            , NTFC.RCVE_YN                    /** Encaisse (ON) !== 수납여부 ==! */
            , NTFC.PAY_TMLM_XTNS_YN           /** Echeance prorogee (ON) !== 납부기한연장여부 ==! */
            , NTFC.DLPY_YN                    /** Paiement retarde (ON) !== 체납여부 ==! */
            , NTFC.DLPY_INST_ADJU_YN          /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
            , NTFC.NTFC_DIVD_YN               /** Avis echelonne (ON) !== 고지분할여부 ==! */
            , NTFC.RECP_PBLS_YN               /** Quittance delivree (ON) !== 영수증발행여부 ==! */
            , NTFC.CNCL_YN                    /** Annule (ON) !== 취소여부 ==! */
            , NTFC.ONTFC_NO                   /** N° de l'avis original !== 원고지번호 ==! */
            , NTFC.DFPM_PAY_YN                /** Recours au credit d'enlevement (ON) !== 후불납부여부 ==! */
            , NTFC.MG_TP_CD                   /** Code de type de caution !== 담보구분코드 ==! */
            , NTFC.DCLR_NO
            , NTFC.NTFC_PRCS_STTS_CD          /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
            , NTFC.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
            , RCVE.RCVE_NO                    /** N° d'encaissement !== 수납번호 ==! */
            , RCVE.RCVE_PT_CD                 /** Code de type d'encaissement !== 수납유형코드 ==! */
            , RCVE.RCVE_AMT                   /** Montant encaisse !== 수납금액 ==! */
            , TO_CHAR(TO_DATE(RCVE.RCVE_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RCVE_DT              /** Date de stockage !== 수납일자 ==! */
            , RCVE.HNWR_RCVE_RSN_CN           /** Contenu du motif d'enregistrement manuel !== 수작업수납사유내용 ==! */
            , RCVE.ATCH_FILE_ID               /** ID du fichier joint !== 첨부파일ID ==! */
            , RCVE.FRST_REGST_ID
            , RCVE.FRST_RGSR_DTTM
            , RCVE.LAST_CHPR_ID
            , RCVE.LAST_CHG_DTTM
        FROM  TB_COLI_NTFC NTFC /* TB_고지정보 */
            , TB_COLI_RCVE RCVE /* TB_수납정보 */
        WHERE   NTFC.DEL_YN     = 'N'
            AND NTFC.RCVE_YN    = 'Y'
            AND RCVE.DEL_YN     = 'N'
            AND NTFC.NTFC_NO    = RCVE.NTFC_NO
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  RCVE.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND  RCVE.DEPT_CD = #{orgnCd}
        </if>
        <if test='rcveNo != null and rcveNo !=""'>
            AND RCVE.RCVE_NO = #{rcveNo}
        </if>
        <if test='rcveDtFrom != null and rcveDtFrom !="" and rcveDtTo != null and rcveDtTo !="" '>
            AND RCVE.RCVE_DT    BETWEEN TO_CHAR(TO_DATE(#{rcveDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rcveDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='ntfcDtFrom != null and ntfcDtFrom !="" and ntfcDtTo != null and ntfcDtTo !="" '>
            AND NTFC.NTFC_DT BETWEEN TO_CHAR(TO_DATE(#{ntfcDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{ntfcDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='"Y".equals(expnCrppBlankYn)'>
            AND EXPN_CRPP_NO IS NULL
        </if>
        ORDER BY RCVE.RCVE_DT DESC, RCVE.RCVE_NO DESC, RCVE.NTFC_NO ASC
        <include refid="pagination.footer" />
    </select>

    <select id="selectColSaleList" parameterType="alpass.ipt.col.com.vo.ColSaleVo" resultType="alpass.ipt.col.com.vo.ColSaleVo">
        /** ComBusi_selectColSaleList */
        <include refid="pagination.header" />
        SELECT
        DTL.INVN_MGMT_NO                                                       /** N° de gestion de comptabilité-matière !== 재고관리번호 ==! */
        , DTL.PDLS_SRNO                                                           /** Code du bureau !== 세관코드 ==! */
        , DTL.VHCL_YN
        , DTL.CAG_CN
        , DTL.CNTR_NO
        , DTL.PBAC_PRNG_AMT
        , DTL.QTY
        , DTL.REFF_NO_PT_CD
        , DTL.REFF_NO_PT_TP_NM
        , DTL.VHCL_TM_NM
        , DTL.VHCL_MDL_NM
        , DTL.CHSS_NO
        , DTL.VHCL_KND_NM
        , DTL.FL_NM
        , DTL.VNTL_AQTY
        , DTL.VHCL_OTPT
        , DTL.TTWG
        , DTL.MAX_LOAD_AQTY
        , DTL.STCNT
        , DTL.CAR_RGSR_NO
        , TO_CHAR(TO_DATE(DTL.FRST_DRV_DD,'YYYYMMDD'),'DD/MM/YYYY') AS FRST_DRV_DD
        , DTL.RMRK_CN
        , DTL.ATCH_FILE_ID														/** Date et heure de modification finale !== 첨부파일ID ==!*/
        , TO_CHAR(TO_DATE(DTL.RGSR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RGSR_DT
        , PCDN.CAG_MGMT_NO
        , PCDN.IBOBZ_CD
        , PCDN.SFKP_PLC_NM
        , PCDN.REFF_NO
        , PCDN.REFF_DOC_RGSR_DT
        , PCDN.PDLS_NM
        , PCDN.CNTR_SIZE
        , TO_CHAR(TO_DATE(PCDN.UDRT_DT,'YYYYMMDD'),'DD/MM/YYYY') AS UDRT_DT
        , PCDN.PCKG_GCNT
        , PCDN.WGHT
        , PCDN.LAST_USG_CD
        , PCDN.APRV_ID
        , DTL.FRST_REGST_ID								    				/** ID du premier enregistrant  !== 최초등록자ID ==! */
        , DTL.FRST_RGSR_DTTM									    		/** Date et heure de premier enregistrement !== 생성일자 ==!*/
        , DTL.LAST_CHPR_ID													/** ID du modificateur final !== 최종수정자ID ==!*/
        , DTL.LAST_CHG_DTTM													/** Date et heure de modification finale !== 최종수정일자 ==! */
        FROM   TB_COLI_CMDT_INVN_PCDN_DTL DTL
        LEFT  JOIN TB_COLI_CMDT_INVN_PCDN PCDN ON DTL.INVN_MGMT_NO = PCDN.INVN_MGMT_NO AND PCDN.LAST_USG_CD = 'A00'
        WHERE  DTL.DEL_YN = 'N'
        AND    DTL.LAST_USG_CD is NULL
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  PCDN.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND  PCDN.DEPT_CD = #{orgnCd}
        </if>
        <if test='invnMgmtNo != null and invnMgmtNo !="" '>
            AND    DTL.INVN_MGMT_NO = #{invnMgmtNo}
        </if>
        <if test='pdlsSrno != null and pdlsSrno !="" '>
            AND    DTL.PDLS_SRNO = #{pdlsSrno}
        </if>
        <if test='vhclYn != null and vhclYn !="" '>
            AND    DTL.VHCL_YN = #{vhclYn}
        </if>
        ORDER BY PCDN.INVN_MGMT_NO DESC, DTL.PDLS_SRNO ASC
        <include refid="pagination.footer" />
    </select>

    <!--
    Consulter la liste de la gestion du procès-verbal de vente !==판매조서관리 목록을 조회한다==!
    -->
    <select id="selectColSaleWtnncList" parameterType="alpass.ipt.col.com.vo.ColSaleWtnncVo" resultType="alpass.ipt.col.com.vo.ColSaleWtnncVo">
        /** ColComUtilMapper_selectColSaleWtnncList **/
        <include refid="pagination.header" />
        SELECT
        WTNNC.SALE_WTNNC_NO
        , WTNNC.LOT_NO
        , WTNNC.INVN_MGMT_NO
        , WTNNC.CSTM_CD
        , FN_GET_ORGN_NM(WTNNC.CSTM_CD) AS CSTM_NM								/** Nom Du Bureau !== 세관명 ==! */
        , WTNNC.DEPT_CD
        , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(WTNNC.DEPT_CD)) AS DEPT_NM
        , PCDN.REFF_NO
        , WTNNC.SCBR_IDFY_NO_TP_CD
        , WTNNC.SCBR_IDFY_NO
        , WTNNC.SCBR_NM
        , WTNNC.ADDR
        , WTNNC.CAG_CN
        , WTNNC.CNTR_NO
        , WTNNC.QTY
        , WTNNC.PURE_ERN
        , WTNNC.RGSR_TRIF
        , WTNNC.TAMT
        , WTNNC.WORD_AMT_VAL
        , WTNNC.PBAC_PLC_NM
        , TO_CHAR(TO_DATE(WTNNC.PBAC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PBAC_DT
        , WTNNC.RECP_NO
        , TO_CHAR(TO_DATE(WTNNC.RECP_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RECP_DT
        , WTNNC.SCBD_APRE_EMP_ID
        , WTNNC.SCBD_DT
        , TO_CHAR(TO_DATE(WTNNC.SCBD_DT,'YYYYMMDD'),'DD/MM/YYYY') AS SCBD_DT
        , WTNNC.RMRK_CN
        , TO_CHAR(TO_DATE(WTNNC.RGSR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RGSR_DT
        , WTNNC.CMRC_REGS_NO
        , WTNNC.ATCH_FILE_ID
        , DTL.LAST_USG_CD
        , WTNNC.FRST_REGST_ID								    				/** ID du premier enregistrant !== 최초등록자ID ==! */
        , WTNNC.FRST_RGSR_DTTM									    			/** Date et heure de premier enregistrement !== 생성일자 ==! */
        , WTNNC.LAST_CHPR_ID														/** ID du modificateur final !== 최종변경자ID ==! */
        , WTNNC.LAST_CHG_DTTM													/** Date et heure de modification finale !== 최종변경일시 ==! */
        FROM TB_COLI_SALE_WTNNC WTNNC LEFT JOIN TB_COLI_CMDT_INVN_PCDN_DTL DTL ON DTL.INVN_MGMT_NO = WTNNC.INVN_MGMT_NO AND DTL.PDLS_SRNO = WTNNC.PDLS_SRNO
            ,TB_COLI_CMDT_INVN_PCDN PCDN
        WHERE WTNNC.DEL_YN = 'N'
          AND WTNNC.INVN_MGMT_NO = PCDN.INVN_MGMT_NO
        <if test="sctrCd != null and sctrCd != ''">
            AND  WTNNC.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test='cstmCd != null and cstmCd !="" '>
            AND    WTNNC.CSTM_CD = #{cstmCd}
        </if>
        <if test="deptCd != null and deptCd != ''">
            AND (WTNNC.DEPT_CD = #{deptCd} OR WTNNC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
            OR WTNNC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
        </if>
        <if test='cagMgmtNo != null and cagMgmtNo !="" '>
            AND    PCDN.CAG_MGMT_NO = #{cagMgmtNo}
        </if>
        <if test='saleWtnncNo != null and saleWtnncNo !="" '>
            AND    WTNNC.SALE_WTNNC_NO = #{saleWtnncNo}
        </if>
        <if test='rgsrDtFrom != null and rgsrDtFrom !="" and rgsrDtTo != null and rgsrDtTo !="" '>
            AND    WTNNC.RGSR_DT BETWEEN TO_CHAR(TO_DATE(#{rgsrDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rgsrDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        ORDER BY WTNNC.PBAC_DT desc, WTNNC.SALE_WTNNC_NO ASC
        <include refid="pagination.footer" />
    </select>

    <select id="selectColTrsfWtnncList" parameterType="alpass.ipt.col.com.vo.ColTrsfWtnncVo" resultType="alpass.ipt.col.com.vo.ColTrsfWtnncVo">
        /** ColComUtilMapper_selectColTrsfWtnncList **/
        <include refid="pagination.header" />
        SELECT
        TRSF.TRSF_WTNNC_NO
        , TRSF.INVN_MGMT_NO
        , TRSF.PDLS_SRNO
        , TRSF.CSTM_CD
        , FN_GET_ORGN_NM(TRSF.CSTM_CD) AS CSTM_NM								/** Nom Du Bureau !== 세관명 ==! */
        , TRSF.DEPT_CD
        , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(TRSF.DEPT_CD)) AS DEPT_NM
        , TRSF.REFF_NO_PT_CD
        , TRSF.REFF_NO_PT_TP_NM
        , TRSF.REFF_NO
        , TO_CHAR(TO_DATE(TRSF.REFF_DOC_RGSR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS REFF_DOC_RGSR_DT
        , TRSF.TRSF_PT_CD
        , TRSF.CMDT_NM
        , TRSF.QTY
        , TRSF.PURE_ERN
        , TRSF.RGSR_TRIF
        , TRSF.TAMT
        , TRSF.WORD_AMT_VAL
        , TRSF.TRSF_DTRM_NO
        , TO_CHAR(TO_DATE(TRSF.TRSF_DT,'YYYYMMDD'),'DD/MM/YYYY') AS TRSF_DT
        , TRSF.RECP_NO
        , TO_CHAR(TO_DATE(TRSF.RECP_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RECP_DT
        , TRSF.CLTR_ID
        , TO_CHAR(TO_DATE(TRSF.RGSR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RGSR_DT
        , TRSF.RMRK_CN
        , TRSF.SCBR_IDFY_NO_TP_CD
        , TRSF.SCBR_IDFY_NO
        , TRSF.SCBR_NM
        , TRSF.ADDR
        , TRSF.ATCH_FILE_ID
        , DTL.LAST_USG_CD
        , TRSF.FRST_REGST_ID								    				/** ID du premier enregistrant !== 최초등록자ID ==! */
        , TRSF.FRST_RGSR_DTTM									    			/** Date et heure de premier enregistrement !== 생성일자 ==! */
        , TRSF.LAST_CHPR_ID														/** ID du modificateur final !== 최종변경자ID ==! */
        , TRSF.LAST_CHG_DTTM													/** Date et heure de modification finale !== 최종변경일시 ==! */
        FROM TB_COLI_TRSF_WTNNC TRSF
        LEFT JOIN TB_COLI_CMDT_INVN_PCDN_DTL DTL ON DTL.INVN_MGMT_NO = TRSF.INVN_MGMT_NO AND DTL.PDLS_SRNO = TRSF.PDLS_SRNO
        WHERE  TRSF.DEL_YN = 'N'
        <if test="sctrCd != null and sctrCd != ''">
            AND  TRSF.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test='cstmCd != null and cstmCd !="" '>
            AND    TRSF.CSTM_CD = #{cstmCd}
        </if>
        <if test="deptCd != null and deptCd != ''">
            AND (TRSF.DEPT_CD = #{deptCd} OR TRSF.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
            OR TRSF.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
        </if>
        <if test='trsfPtCd != null and trsfPtCd !="" '>
            AND    TRSF.TRSF_PT_CD = #{trsfPtCd}
        </if>
        <if test='rgsrDtFrom != null and rgsrDtFrom !="" and rgsrDtTo != null and rgsrDtTo !="" '>
            AND    TRSF.RGSR_DT BETWEEN TO_CHAR(TO_DATE(#{rgsrDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rgsrDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        ORDER BY TRSF.RGSR_DT desc, TRSF.TRSF_WTNNC_NO ASC
        <include refid="pagination.footer" />
    </select>
    <select id="selectColDrwbRqstList" parameterType="alpass.ipt.col.drwb.vo.ColDrwbMgmtVo" resultType="alpass.ipt.col.drwb.vo.ColDrwbMgmtVo">
        /* ColDrwbMgmtMapper_selectColDrwbRqstList */
        <include refid="pagination.header" />
        SELECT
        RQST.PRC_EV_DGCNT                 /** Nombre De Fois De L'Évaluation De Valeur !== 가격평가차수 ==! */
        , RQST.DRWB_RQST_NO                 /** N° de demande de remboursement !== 환급신청번호 ==! */
        , RQST.CSTM_CD                      /** Code du bureau !== 세관코드 ==! */
        , FN_GET_ORGN_NM(RQST.CSTM_CD) AS CSTM_NM
        , RQST.DEPT_CD
        , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = UPPER(RQST.DEPT_CD) AND DEL_YN = 'N') AS DEPT_NM	/** Nom Du Bureau !== 부서명 ==! */
        , RQST.ACCT_CD
        , RQST.PRCS_STTS_CD
        , RQST.TXPR_IDFY_NO_TP_CD
        , RQST.TXPR_IDFY_NO                          /** N° de RCCM !== 사업자등록번호 ==! */
        , RQST.TXPR_NM
        , RQST.REFF_NO_PT_CD                /** Code de type de numero de reference !== 참조번호유형코드 ==! */
        , RQST.REFF_NO                      /** N° de reference !== 참조번호 ==! */
        , RQST.DRWB_RQST_YN                 /** Remboursement demande (ON) !== 환급신청여부 ==! */
        , TO_CHAR(TO_DATE(RQST.RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RQST_DT /** Date de demande !== 신청일자 ==! */
        , RQST.REPN_ID                      /** ID de la personne demandant !== 신청자ID ==! */
        , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = RQST.REPN_ID) AS REPN_NM
        , RQST.APRV_ID                      /** ID d'approbation  !== 결재ID ==! */
        , RQST.ATCH_FILE_ID
        , RQST.RCVE_NO			                /** N° de la quittance !== 영수증번호 ==! */
        , RCVE.RCVE_AMT			                /** Montant de la quittance !== 영수증금액 ==! */
        , TO_CHAR(TO_DATE(RCVE.RCVE_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RCVE_DT /** Date de la quittance !== 영수증일자 ==! */
        , DRWB.DRWB_NO
        , DRWB.DRWB_DTRM_PT_CD
        , DRWB.RGSR_EMP_ID AS DRWB_RGSR_EMP_ID
        , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = DRWB.RGSR_EMP_ID) AS DRWB_RGSR_EMP_NM
        , DRWB.DRWB_AMT
        , TO_CHAR(TO_DATE(DRWB.DRWB_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DRWB_DT
        , DRWB.DRWB_RSN_CN
        , DRWB.DRWB_DTRM_PT_CD
        , PYMN.PYMN_ORDER_NO
        , TO_CHAR(TO_DATE(PYMN.PYMN_ORDER_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS PYMN_ORDER_DT
        , PYMN.CSTM_CD AS PYMN_CSTM_CD
        , FN_GET_ORGN_NM(PYMN.CSTM_CD) AS PYMN_CSTM_NM
        , PYMN.DEPT_CD AS PYMN_DEPT_CD
        , (SELECT O.ORGN_NM FROM  TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = PYMN.DEPT_CD) AS PYMN_DEPT_NM				/** Nom du Recette !== 세입부서명 ==! */
        , PYMN.RGSR_EMP_ID AS PYMN_RGSR_EMP_ID
        , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = PYMN.RGSR_EMP_ID) AS PYMN_RGSR_EMP_NM
        , FN_GET_CD_VDVAL_NM('COM_0064', (SELECT CLPS_CD FROM TB_POTI_EMP WHERE PBSR_NO = PYMN.RGSR_EMP_ID), #{langCd}) AS PYMN_RGSR_EMP_CLPS_NM /** Qualité de l’ordonnateur !== 지불명령자 직위 ==! */
        , PYMN.PYMN_AMT
        , PYMN.ATCH_FILE_ID AS PYMN_ATCH_FILE_ID
        , DED.DTL_DCSH_NO
        , TO_CHAR(TO_DATE(DED.DCLR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DCLR_DT
        , DRWB.CLTR_OPIN_CN
        , RCVE.NTFC_NO
        FROM  TB_COLI_DRWB_RQST RQST
        LEFT OUTER JOIN TB_COLI_DRWB DRWB ON RQST.DRWB_RQST_NO = DRWB.DRWB_RQST_NO
        LEFT OUTER JOIN TB_COLI_PYMN_ORDER PYMN ON PYMN.REFF_NO_PT_CD = '018' AND PYMN.REFF_NO = DRWB.DRWB_RQST_NO
        LEFT OUTER JOIN TB_CLRI_DED_COMN DED ON RQST.REFF_NO_PT_CD = '002' AND DED.DTL_DCSH_NO = RQST.REFF_NO
        LEFT OUTER JOIN TB_COLI_RCVE RCVE ON RQST.RCVE_NO = RCVE.RCVE_NO
        ,TB_COLI_NTFC NTFC
        WHERE   RQST.DEL_YN = 'N'
        AND DRWB.DEL_YN = 'N'
        AND RCVE.DEL_YN = 'N'
        AND RCVE.NTFC_NO  = NTFC.NTFC_NO
        <if test="sctrCd != null and sctrCd != ''">
            AND  RQST.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test='cstmCd != null and cstmCd !=""'>
            AND  RQST.CSTM_CD = #{cstmCd}
        </if>
        <if test='deptCd != null and deptCd !=""'>
            AND  (RQST.DEPT_CD = #{deptCd} OR RQST.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
            OR RQST.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
        </if>
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  RQST.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND (RQST.DEPT_CD = #{orgnCd} OR RQST.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
            OR RQST.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
        </if>
        <if test='drwbRqstNo != null and drwbRqstNo !=""'>
            AND  RQST.DRWB_RQST_NO = #{drwbRqstNo}
        </if>
        <if test='txprIdfyNo != null and txprIdfyNo != ""'>
            AND  RQST.TXPR_IDFY_NO LIKE #{txprIdfyNo}||'%'
        </if>
        <if test='rqstDtFrom != null and rqstDtFrom !="" and rqstDtTo != null and rqstDtTo !="" '>
            AND  RQST.RQST_DT  BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='reffNo != null and reffNo !=""'>
            AND  RQST.REFF_NO = #{reffNo}
        </if>
        <if test='prcsSttsCd != null and prcsSttsCd !=""'>
            AND  RQST.PRCS_STTS_CD = #{prcsSttsCd}
        </if>
        <if test='rcveNo != null and rcveNo !=""'>
            AND  RQST.RCVE_NO = #{rcveNo}
        </if>
        <if test='rcveDtFrom != null and rcveDtFrom !="" and rcveDtTo != null and rcveDtTo !="" '>
            AND  RCVE.RCVE_DT  BETWEEN TO_CHAR(TO_DATE(#{rcveDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rcveDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='rcveAmt != null and rcveAmt !=""'>
            AND  RCVE.RCVE_AMT = #{rcveAmt}
        </if>
        <if test='pymnOrderNo != null and pymnOrderNo != ""'>
            AND  PYMN.PYMN_ORDER_NO = #{pymnOrderNo}
        </if>
        <if test='pymnDeptCd != null and pymnDeptCd !=""'>
            AND  PYMN.DEPT_CD = #{pymnDeptCd}
        </if>
        <if test='pymnOrderDtFrom != null and pymnOrderDtFrom !="" and pymnOrderDtTo != null and pymnOrderDtTo !="" '>
            AND  PYMN.PYMN_ORDER_DT  BETWEEN TO_CHAR(TO_DATE(#{pymnOrderDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{pymnOrderDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='dclrDtFrom != null and dclrDtFrom !="" and dclrDtTo != null and dclrDtTo !="" '>
            AND  DED.DCLR_DT  BETWEEN TO_CHAR(TO_DATE(#{dclrDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{dclrDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        ORDER  BY RQST.DRWB_RQST_NO DESC, RQST.REFF_NO ASC, RQST.TXPR_IDFY_NO ASC, RCVE.RCVE_AMT DESC
        <include refid="pagination.footer" />
    </select>

    <!--
Consulter la liste de la gestion des ordres de paiement !==지불명령서 목록을 조회한다==!
-->
    <select id="selectColAcntOpMgmtList" parameterType="alpass.ipt.col.acnt.vo.ColAcntOpMgmtVo" resultType="alpass.ipt.col.acnt.vo.ColAcntOpMgmtVo">
        /** colAcntOpMgmt_selectColAcntOpMgmtList **/
        <include refid="pagination.header"/>
        SELECT    A.CSTM_CD
                , FN_GET_ORGN_NM(NVL(A.CSTM_CD, A.CSTM_CD)) AS CSTM_NM		/** Nom Du Bureau !== 세관명 ==! */
                , A.DEPT_CD
                , FN_GET_ORGN_NM(NVL(A.DEPT_CD, A.DEPT_CD)) AS DEPT_NM
                , A.PYMN_ORDER_NO			                                /** N° de l’ordre de paiement !== 지불명령서번호 ==! */
                , A.PYMN_ORDER_TP_CD 		                                /** type de l'ordre de paiement !== 지불명령서 구분 ==! */
                , FN_GET_CD_VDVAL_NM('COL_0073', A.PYMN_ORDER_TP_CD, #{langCd}) AS PYMN_ORDER_TP_NM
                , A.REFF_NO_PT_CD 		                                    /** Code de type de numéro de réferénce !== 참조번호유형코드 ==! */
                , A.REFF_NO 				                                /** Code de type de numéro de réferénce !== 결재요청서번호 ==! */
                , TO_CHAR(TO_DATE(A.REFF_NO_DT,'YYYYMMDD'),'DD/MM/YYYY') AS REFF_NO_DT              /** Date de référence !== 결재요청서일자 ==! */
                , A.TXPR_IDFY_NO_TP_CD 	                                    /** Code de catégorie de NIF !== 납세자 식별코드 ==! */
                , A.TXPR_IDFY_NO 		                                    /** N° D'Identification De Redevable !== 납세자 식별번호 ==! */
                , A.TXPR_NM					                                /** Nom Du Responsable Financier !== 납세자명 ==! */
                , TO_CHAR(TO_DATE(A.PYMN_ORDER_DT , 'YYYYMMDD'),'DD/MM/YYYY') AS PYMN_ORDER_DT		/** Date de l’ordre de paiement !== 지불명령서일자 ==! */
                , A.RGSR_EMP_ID 				                            /** ID de Ordonnateur !== 지불명령자ID ==! */
                , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.RGSR_EMP_ID) AS RGSR_EMP_NM		/** Nom de Ordonnateur !== 지불명령자이름 ==! */
                , A.PYMN_AMT 		                                        /** Montant ordonné !== 지불금액 ==! */
                , A.APRP_ACCT_CD                                            /** Code de compte d’imputation !== 충당계정코드 ==! */
                , TO_CHAR(TO_DATE(A.DLNG_PRID_YYMM, 'YYYYMM'), 'MM/YYYY') AS DLNG_PRID_YYMM   /** Année/Mois de période de l’opération !== 거래기간년월 ==! */
                , A.DLNG_ORIG_CD                                            /** Code de source de l’opération !== 거래출처코드 ==! */
                , A.APRV_ID
                , (
                    SELECT EMP_NM
                    FROM  TB_POTI_EMP
                    WHERE PBSR_NO = (
                        SELECT  APRV_EMP_PBSR_NO
                        FROM    TB_POTI_APRV_D
                        WHERE   APRV_ID = A.APRV_ID
                            AND APRV_SRNO = (SELECT MAX(APRV_SRNO) FROM TB_POTI_APRV_D WHERE APRV_ID = A.APRV_ID)
                    )
                ) AS LAST_APPN_NM
                , EXPN_CRPP.EXPN_PT_CD AS EXPN_PT_CD
                , ORDER_EXPN_CRPP.EXPN_PT_CD AS ORDER_EXPN_PT_CD
                , EXPN_CRPP.DLNG_KND_CD AS DLNG_KND_CD
                , ORDER_EXPN_CRPP.DLNG_PT_LWPR_CD AS ORDER_DLNG_PT_LWPR_CD
                , NVL(EXPN_CRPP.EXPN_CRPP_NO, ORDER_EXPN_CRPP.EXPN_CRPP_NO) AS EXPN_CRPP_NO
                , APRV.APRV_PRCS_STTS_CD
        FROM    TB_COLI_PYMN_ORDER A,
                (SELECT * FROM TB_COLI_EXPN_CRPP WHERE DLNG_PT_CD = '001') EXPN_CRPP,
                (SELECT * FROM TB_COLI_EXPN_CRPP WHERE DLNG_PT_CD = '002') ORDER_EXPN_CRPP,
                TB_POTI_APRV APRV
        WHERE 1=1
          AND A.DEL_YN = 'N'
          AND A.PYMN_ORDER_NO = EXPN_CRPP.REFF_NO(+)
          AND A.PYMN_ORDER_NO = ORDER_EXPN_CRPP.REFF_NO(+)
          AND A.APRV_ID = APRV.APRV_ID(+)
            <if test="sctrCd != null and sctrCd != ''">
                AND  A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
            </if>
            <if test='cstmCd != null and cstmCd !="" '>
                AND A.CSTM_CD = #{cstmCd}
            </if>
            <if test='deptCd != null and deptCd !="" '>
                AND  (A.DEPT_CD = #{deptCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
            </if>
            <if test="pymnOrderNo != null and pymnOrderNo !=''">
                AND A.PYMN_ORDER_NO LIKE TRIM(#{pymnOrderNo}) || '%'
            </if>
            <if test="pymnOrderTpCd != null and pymnOrderTpCd !=''">
                AND A.PYMN_ORDER_TP_CD = #{pymnOrderTpCd}
            </if>
            <if test='txprIdfyNoTpCd != null and txprIdfyNoTpCd !="" '>
                AND A.TXPR_IDFY_NO_TP_CD = #{txprIdfyNoTpCd}
            </if>
            <if test='txprIdfyNo != null and txprIdfyNo !="" '>
                AND A.TXPR_IDFY_NO = #{txprIdfyNo}
            </if>
            <if test='aprvPrcsSttsCd != null and aprvPrcsSttsCd !="" '>
                AND APRV.APRV_PRCS_STTS_CD = #{aprvPrcsSttsCd}
            </if>
        ORDER BY A.PYMN_ORDER_DT DESC
        <include refid="pagination.footer"/>
    </select>

</mapper>