<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.trnh.mapper.CarEptTrnhMdfyMapper">
	<!--
	[Enregistrer] Enregistrer le transbordement rectifié.   !== 환적 정정 이력을 등록 한다.==!
	-->
	<insert id="insertTrnhMdfy" parameterType="String">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.insertTrnhMdfy */
		INSERT INTO TB_CARE_TRNH_MDFY
        (
              TRNH_RQST_NO              /**  N ° de demande de transbordement    !== 환적신청번호 ==!  */
            , MDFY_DGCNT                /**  Frequence de rectification  !== 정정차수 ==!  */
            , CAG_RQST_TP_CD            /** Code de type de demande de cargaison !==화물신청구분코드==! */
            , JRSD_ORGN_CD              /**  Code D'Unite Competente  !== 관할조직코드 ==!  */
            , IBOBZ_CD                  /** Zone sous douane !== 보세구역코드 ==! */
            , TRNH_TP_CD                /** Code De Type De Transbordement  !== 환적구분코드 ==!  */
            , TRNH_TMLM_STRT_DTTM       /**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
            , TRNH_TMLM_END_DTTM        /**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
            , TRNP_METH_NM              /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
            , TRNP_METH_IDFY_NO         /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
            , TRNP_RFER_NO              /**  N° de reference de transport  !== 운송참고번호 ==!  */
            , IMO_NO                    /**  N° IMO  !== IMO번호 ==!  */
            , DPTR_PORT_CD              /**  Code De Port De Depart  !== 출발항구코드 ==!  */
            , LDUN_PORT_CD              /**  Code De Port De Dechargement  !== 하역항구코드 ==!  */
            , TRNP_METH_NAT_CD          /**  Code de nationalite du moyen de transport  !== 운송수단국적코드 ==!  */
            , SHIP_TTN                  /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
            , SHIP_NTTN                 /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
            , CARR_CD                   /**  Code De Societe De Transport  !== 운송사코드 ==!  */
            , CARR_ADDR_NM              /**  Adresse De Societe De Transport  !== 운송사주소명 ==!  */
            , TRSN_DTTM                 /**  Date et heure de transmission  !== 전송일시 ==!  */
            , TRSN_CO_CD                /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
            , CO_RQST_NO
            , PRCS_DTTM
            , PRCS_STTS_CD
            , DEL_YN                    /**  Suppression On  !== 삭제여부 ==!  */
            , FRST_REGST_ID             /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
            , FRST_RGSR_DTTM            /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
            , LAST_CHPR_ID              /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
            , LAST_CHG_DTTM             /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)
		SELECT
              TRNH_RQST_NO              /**  N ° de demande de transbordement    !== 환적신청번호 ==!  */
            , 0                         /**  Frequence de rectification  !== 정정차수 ==!  */
            , CAG_RQST_TP_CD            /** Code de type de demande de cargaison !==화물신청구분코드==! */
            , JRSD_ORGN_CD              /**  Code D'Unite Competente  !== 관할조직코드 ==!  */
            , IBOBZ_CD                  /** Zone sous douane !== 보세구역코드 ==! */
            , TRNH_TP_CD                /** Code De Type De Transbordement  !== 환적구분코드 ==!  */
            , TRNH_TMLM_STRT_DTTM       /**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
            , TRNH_TMLM_END_DTTM        /**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
            , TRNP_METH_NM              /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
            , TRNP_METH_IDFY_NO         /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
            , TRNP_RFER_NO              /**  N° de reference de transport  !== 운송참고번호 ==!  */
            , IMO_NO                    /**  N° IMO  !== IMO번호 ==!  */
            , DPTR_PORT_CD              /**  Code De Port De Depart  !== 출발항구코드 ==!  */
            , LDUN_PORT_CD              /**  Code De Port De Dechargement  !== 하역항구코드 ==!  */
            , TRNP_METH_NAT_CD          /**  Code de nationalite du moyen de transport  !== 운송수단국적코드 ==!  */
            , SHIP_TTN                  /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
            , SHIP_NTTN                 /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
            , CARR_CD                   /**  Code De Societe De Transport  !== 운송사코드 ==!  */
            , CARR_ADDR_NM              /**  Adresse De Societe De Transport  !== 운송사주소명 ==!  */
            , TRSN_DTTM                 /**  Date et heure de transmission  !== 전송일시 ==!  */
            , TRSN_CO_CD                /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
            , CO_RQST_NO
            , PRCS_DTTM
            , PRCS_STTS_CD
            , DEL_YN                    /**  Suppression On  !== 삭제여부 ==!  */
            , FRST_REGST_ID             /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
            , FRST_RGSR_DTTM            /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
            , LAST_CHPR_ID              /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
            , LAST_CHG_DTTM             /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARE_TRNH
		WHERE TRNH_RQST_NO = #{trnhRqstNo}
	</insert>

	<!--
	[Enregistrer] Enregistrer le B/L du transbordement rectifié. !== "환적 정정 BL"를 등록 한다.==!
	-->
	<insert id="insertTrnhMdfyBl" parameterType="String">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.insertTrnhMdfyBl */
		INSERT INTO TB_CARE_TRNH_MDFY_BL
		(
			  TRNH_RQST_NO				/**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		    , MDFY_DGCNT				/**  Fréquence de rectification  !== 정정차수 ==!  */
			, CAG_MGMT_NO				/**  Crn  !== 화물관리번호 ==!  */
			, DEL_YN				    /**  Suppression On  !== 삭제여부 ==!  */
			, FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, FRST_RGSR_DTTM			/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM				/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)
		SELECT
			  B.TRNH_RQST_NO			/**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	        , 0				            /**  Fréquence de rectification  !== 정정차수 ==!  */
			, B.CAG_MGMT_NO				/**  Crn  !== 화물관리번호 ==!  */
			, B.DEL_YN				    /**  Suppression On  !== 삭제여부 ==!  */
			, B.FRST_REGST_ID			/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, B.FRST_RGSR_DTTM			/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, B.LAST_CHPR_ID			/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, B.LAST_CHG_DTTM			/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARE_TRNH_BL B
		WHERE B.DEL_YN = 'N'			/** Suppression ON !== 삭제여부 ==! */
		AND   B.TRNH_RQST_NO = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	</insert>

	<!--
	[Modifier] Modifier l'état de traitement du transbordement rectifié.   !== 환적 정정 신청의 처리상태를 수정한다.==!
	-->
	<update id="updateTrnhMdfyPrcsSttsCd" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
		/* alpass.ipt.car.trnh.mapper.CarEptTrnhMdfyMapper.updateTrnhMdfyPrcsSttsCd */
		UPDATE TB_CARE_TRNH_MDFY
		SET
			  PRCS_STTS_CD      = #{prcsSttsCd}  /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			, PRCS_DTTM         = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')
			, LAST_CHPR_ID      = #{lastChprId}  /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM     = SYSTIMESTAMP   /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE TRNH_RQST_NO	= #{trnhRqstNo}      /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		AND   MDFY_DGCNT = #{mdfyDgcnt} /**  Fréquence de rectification  !== 정정차수 ==!  */
	</update>
</mapper>
