<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.trnh.mapper.CarEptTrnhMapper">

	<!--
	[Modifier] Modifier la "Demande de transbordement"   !== 환적의 처리상태를 수정한다.==!
	-->
	<update id="updateTrnhPrcsSttsCd" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
	/* alpass.ipt.car.trnh.mapper.CarEptTrnhMapper.updateTrnhPrcsSttsCd */
		UPDATE TB_CARE_TRNH
		SET
			  PRCS_STTS_CD    = #{prcsSttsCd} /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
		    , PRCS_DTTM       = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')
			, LAST_CHPR_ID    = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM   = SYSTIMESTAMP  /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE TRNH_RQST_NO    = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	</update>

	<!--
	[Modifier] Modifier la "Demande de transbordement"   !== 환적 신청을 수정한다.==!
	-->
	<update id="updateTrnh" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
    /* alpass.ipt.car.trnh.mapper.CarEptTrnhMapper.updateTrnh */
    UPDATE TB_CARE_TRNH
		SET
            , TRNP_METH_NM      = #{trnpMethNm}          /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
            , TRNP_METH_IDFY_NO = #{trnpMethIdfyNo}      /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
            , TRNH_TMLM_STRT_DTTM = TO_TIMESTAMP(#{trnhTmlmStrtDttm},'DD/MM/YYYY HH24:MI:SS') /**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
            , TRNH_TMLM_END_DTTM  = TO_TIMESTAMP(#{trnhTmlmEndDttm},'DD/MM/YYYY HH24:MI:SS') /**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
            , TRNP_RFER_NO      = #{trnpRferNo}          /**  N° de reference de transport  !== 운송참고번호 ==!  */
            , IMO_NO            = #{imoNo}               /**  N° IMO  !== IMO번호 ==!  */
            , DPTR_PORT_CD      = #{dptrPortCd}          /**  Code De Port De Depart  !== 출발항구코드 ==!  */
            , LDUN_PORT_CD      = #{ldunPortCd}          /**  Code De Port De Dechargement  !== 하역항구코드 ==!  */
            , TRNP_METH_NAT_CD  = #{trnpMethNatCd}       /**  Code de nationalite du moyen de transport  !== 운송수단국적코드 ==!  */
            , SHIP_TTN          = #{shipTtn}             /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
            , SHIP_NTTN         = #{shipNttn}            /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
            , CARR_CD           = #{carrCd}              /**  Code De Societe De Transport  !== 운송사코드 ==!  */
            , CARR_ADDR_NM      = #{carrAddrNm}          /**  Adresse De Societe De Transport  !== 운송사주소명 ==!  */
            , TRSN_DTTM         = TO_DATE(#{trsnDttm}, 'DDMMYYYYHH24MISS')
            , TRSN_CO_CD        = #{trsnCoCd}
            , CO_RQST_NO        = #{coRqstNo}
            , PRCS_DTTM         = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')  /**  Date De L'Etude  !== 심사일시 ==!  */
            , PRCS_STTS_CD      = #{prcsSttsCd}          /**  Code De Type De Controle  !== 심사유형코드 ==!  */
            , LAST_CHPR_ID      = #{lastChprId}          /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
            , LAST_CHG_DTTM     = SYSTIMESTAMP           /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE TRNH_RQST_NO      = #{trnhRqstNo}
	</update>

	<!--
	[Enregistrer] Enregistrer le B/L de transbordement !== "환적 BL"를 등록 한다.==!
	-->
	<insert id="insertTrnhBl" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
		/* alpass.ept.car.trnpcvy.trnh.mapper.CarEptTrnhMapper.insertTrnhBl */
		INSERT INTO TB_CARE_TRNH_BL
		(
			  TRNH_RQST_NO				 /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			, CAG_MGMT_NO				 /**  Crn  !== 화물관리번호 ==!  */
			, DEL_YN				     /**  Suppression On  !== 삭제여부 ==!  */
			, FRST_REGST_ID				 /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, FRST_RGSR_DTTM			 /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, LAST_CHPR_ID				 /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM				 /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)
		SELECT
			  A.TRNH_RQST_NO			 /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			, A.CAG_MGMT_NO				 /**  Crn  !== 화물관리번호 ==!  */
			, A.DEL_YN                   /**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID			 /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, A.FRST_RGSR_DTTM			 /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID			 /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, A.LAST_CHG_DTTM			 /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARE_TRNH_MDFY_BL A
		WHERE A.TRNH_RQST_NO = #{trnhRqstNo}				/**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		AND   A.MDFY_DGCNT   = #{mdfyDgcnt} /**  Fréquence de rectification  !== 정정차수 ==!  */
	</insert>

	<!--
	[Effacer] Supprimer le B/L de transbordement !== "환적 BL"을 삭제 한다. ==!
	-->
	<delete id="deleteTrnhBl" parameterType="String">
		/* alpass.ept.car.trnpcvy.trnh.mapper.CarEptTrnhMapper.deleteTrnhBl */
		DELETE
		FROM   TB_CARE_TRNH_BL A
		WHERE  A.TRNH_RQST_NO = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	</delete>

    <!--
    [Modifier] Supprimer la demande de transbordement   !== 환적 신청서를 삭제한다.==!
    -->
    <update id="deleteTrnh" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
        /* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.deleteTrnh */
        UPDATE TB_CARE_TRNH
        SET
              DEL_YN        = 'Y'
            , LAST_CHPR_ID  = #{lastChprId}      /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
            , LAST_CHG_DTTM = SYSTIMESTAMP       /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
        WHERE TRNH_RQST_NO  = #{trnhRqstNo}      /**  N ° de demande de transbordement      !== 환적신청번호 ==!  */
    </update>

    <!--
    [Modifier] Supprimer la liste des B/L de la demande de transbordement.   !== 환적 신청서 BL 목록을 삭제한다.==!
    -->
    <update id="deleteTrnhBl2" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
        /* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.deleteTrnh */
        UPDATE TB_CARE_TRNH_BL
        SET
              DEL_YN        = 'Y'
            , LAST_CHPR_ID  = #{lastChprId}     /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
            , LAST_CHG_DTTM = SYSTIMESTAMP      /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
        WHERE TRNH_RQST_NO  = #{trnhRqstNo}     /**  N ° de demande de transbordement      !== 환적신청번호 ==!  */
    </update>

</mapper>
