<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.mp.mypge.mapper.PotMpMypgePwdChngMapper">

	<!--
		Consulter les informations de l'utilisateur sur l'écran pour changer le mot de passe !==비밀번호 변경 화면의 사용자 정보를 조회한다==!
	-->
	<select id="selectPwdChng" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMypgePwdChngVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMpMypgePwdChngVo">
		/** selectPwdChng */
			SELECT A.PBSR_NO					/** N˚ matricule solde !==공무원번호==! */
				, B.PWD							/** Mot de passe !==비밀번호==! */
				, NULL AS OLD_PWD				/** Mot de passe actuel !==기존비밀번호==! */
				, NULL AS NEW_PWD				/** Nouveau mot de passe !==신규비밀번호==! */
				, NULL AS NEW_PWD_CONF			/** Confirmer le nouveau mot de passe !==신규비밀번호확인==! */
				, A.EML AS EML					/** E-mail !==이메일==! */
			FROM TB_POTI_EMP A
			   , TB_POTI_EMP_ACCT B
			WHERE A.PBSR_NO = B.PBSR_NO
			AND A.PBSR_NO = #{pbsrNo}
			AND A.DEL_YN = 'N'
			AND B.DEL_YN = 'N'
	</select>
	
	<!-- 
		Changer le mot de passe !==비밀번호를 변경한다==!
	-->
	<update id="updatePwdChng" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMypgePwdChngVo">
		/**  updatePwdChng */
			UPDATE TB_POTI_EMP_ACCT
			SET PWD = #{newPwd}									/** Mot de passe !==비밀번호==! */
			 , PWD_FAIL_NCNT = 0
			 , PWD_INTZ_YN = 'N'
			 , PWD_CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')		/** Date du changement de mot de passe !==비밀번호변경일자==! */
			 , LAST_CHG_DTTM = SYSTIMESTAMP						/** ID du modificateur final !== 최종변경자ID ==! */
			 , LAST_CHPR_ID = #{pbsrNo}							/** Date et heure de modification finale !== 최종변경일시 ==! */
			 , LAST_LGN_DTTM = SYSTIMESTAMP
			WHERE PBSR_NO = #{pbsrNo}
	</update>
  
</mapper>
