<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.mp.mypge.mapper.PotMpMypgeSchdMapper">

  <!--
    Consulter la liste de calendrier !== 일정 목록을 조회한다 ==!
  -->
  <select id="selectSchdList"
    parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeSchdVo"
    resultType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeSchdVo">
    /** selectSchdList */
    <if test="navbarYn == null or navbarYn == ''">
      <include refid="pagination.header"/>
    </if>
    SELECT PBSR_NO,
           SCHD_SRNO,
           SCHD_TTLE,
           <![CDATA[ REPLACE(REPLACE(SCHD_CN, '&'||'gt;', '>'), '&'||'lt;', '<') AS SCHD_CN ]]>,
           TO_CHAR(SCHD_STRT_DTTM, 'DD/MM/YYYY HH24:MI') AS SCHD_STRT_DTTM,
           TO_CHAR(SCHD_END_DTTM, 'DD/MM/YYYY HH24:MI') AS SCHD_END_DTTM,
           TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS REGST_DT,
           FRST_REGST_ID,
           TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
           LAST_CHPR_ID,
           TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
    FROM TB_POTI_SCHD
    WHERE PBSR_NO = #{pbsrNo}
    AND DEL_YN = 'N'
    <if test="schdSrno != null and schdSrno != ''">
      AND SCHD_SRNO = #{schdSrno}
    </if>
    <if test="schdSrno == null or schdSrno == ''">
      <if test="schdStrtDt != null and schdStrtDt != ''">
        AND (SCHD_END_DTTM <![CDATA[ >= ]]> TO_DATE(#{schdStrtDt}, 'DD/MM/YYYY') OR SCHD_END_DTTM IS NULL)
      </if>
      <if test="schdEndDt != null and schdEndDt != ''">
        AND SCHD_STRT_DTTM <![CDATA[ <= ]]> TO_DATE(#{schdEndDt}, 'DD/MM/YYYY')+0.9999
      </if>
      <if test="schdTtle != null and schdTtle != ''">
        AND UPPER(SCHD_TTLE) LIKE '%'||UPPER(#{schdTtle})||'%'
      </if>
      <if test='navbarYn != null and navbarYn == "Y"'>
      AND (SCHD_END_DTTM <![CDATA[ >= ]]> TO_DATE(to_char(sysdate, 'DD/MM/YYYY'))  OR SCHD_END_DTTM IS NULL)
      AND SCHD_STRT_DTTM <![CDATA[ <= ]]> TO_DATE(to_char(sysdate, 'DD/MM/YYYY'))  + 7 + 0.9999
    </if>
    </if>
    ORDER BY SCHD_STRT_DTTM DESC, SCHD_SRNO
    <if test="navbarYn == null or navbarYn == ''">
      <include refid="pagination.footer"/>
    </if>
  </select>

    <!--
      Consulter ma situation !==나의 근무이력을 조회한다==!
    -->
    <select id="selectWorkList" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeBwrkVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeBwrkVo">
        /** selectWorkList */
        <include refid="pagination.header"/>
      SELECT
      BWRK_MTR_MGMT_NO
      , PBSR_NO
      , FONC_CD
      , ORGN_MGMT_CD
      , (SELECT ORGN_CD FROM TB_POTI_ORGN C WHERE C.ORGN_MGMT_CD = TB_POTI_BWRK_MTR.ORGN_MGMT_CD) AS
      ORGN_NM
      , BF_ORGN_MGMT_CD
      , TO_CHAR(TO_DATE(PRSNE_TRSF_APPT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') as PRSNE_TRSF_APPT_DT
      , PRSNE_TRSF_DTRM_NO
      , TO_CHAR(TO_DATE(BWRK_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') as BWRK_STRT_DT
      , TO_CHAR(TO_DATE(BWRK_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') as BWRK_END_DT
      , BWRK_END_PV_NO
      , BWRK_STRT_PV_NO
      , BWRK_END_PV_ATCH_FILE_ID
      , BWRK_STRT_PV_ATCH_FILE_ID
      , BWRK_STTS_CD
      , DEL_YN
      , FRST_REGST_ID
      , TO_CHAR(FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
      , LAST_CHPR_ID
      , TO_CHAR(LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
      FROM TB_POTI_BWRK_MTR
      WHERE PBSR_NO = #{pbsrNo}
      AND DEL_YN = 'N'
      <include refid="pagination.footer"/>
    </select>

    <!--
      Consulter ma situation actuelle  !==나의 현재 근무정보를 조회한다==!
    -->
    <select id="selectWorkData" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeBwrkVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeBwrkVo">
        /** selectWorkData */
		<![CDATA[
        SELECT TO_CHAR(TO_DATE(ENCO_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ENCO_DT				/** Date d'entree dans l'administration !==입사일==! */
             , TO_CHAR(TO_DATE(WRKP_ASN_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS WRKP_ASN_DT		/** Date d'affectation du lieu de travail !==근무지배정일==! */
             , CASE WHEN CURR_WRKP_YY > 0 THEN CURR_WRKP_YY || DECODE(#{langCd}, 'KO', ' 년 ', 'EN', ' years ', 'FR', ' ans ', ' ans ') END ||
               CURR_WRKP_MM || DECODE(#{langCd}, 'KO', ' 개월', 'EN', ' months', 'FR', ' mois', ' mois') AS CURR_WRKP_TERM		/** Période de l'actuelle carrière !==현재근무기간==! */
             , FONC_CD																		/**  !==직무==! */
             , FONC_NM																		/**  !==직무명==! */
             , PBSR_NO																		/** N˚ matricule solde !==공무원번호==! */
        FROM (SELECT ENCO_DT
                   , WRKP_ASN_DT
                   , TRUNC(MONTHS_BETWEEN(TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD'), 'YYYYMMDD'), TO_DATE(WRKP_ASN_DT, 'YYYYMMDD'))/12) AS CURR_WRKP_YY
                   , ROUND(MOD(MONTHS_BETWEEN(TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD'), 'YYYYMMDD'), TO_DATE(WRKP_ASN_DT, 'YYYYMMDD')), 12)) AS CURR_WRKP_MM
                   , FONC_CD
                   , (SELECT FONC_CD_NM FROM TB_POTI_FONC_CD_LANG WHERE DEL_YN = 'N' AND FONC_CD = TB_POTI_EMP.FONC_CD  AND LANG_CD = #{langCd})  AS FONC_NM
                   , PBSR_NO
              FROM TB_POTI_EMP
              WHERE PBSR_NO = #{pbsrNo}
                AND DEL_YN = 'N')
        ]]>
    </select>

	<!--
	  Consulter la liste détaillée de mon calendrier !==나의 일정 상세내역을 조회한다==!
	-->
	<select id="selectSchd" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeSchdVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeSchdVo">
		/** selectSchd */
		<![CDATA[
		SELECT PBSR_NO 																		/** N˚ matricule solde !==공무원번호==! */
			, SCHD_SRNO																		/** N˚ de série de calendriers !==일정일련번호==! */
			, SCHD_TTLE																		/** Titre de calendriers !==일정제목==! */
			, REPLACE(REPLACE(SCHD_CN, '&'||'gt;', '>'), '&'||'lt;', '<') AS SCHD_CN		/** Détail de calendriers !==일정내용==! */
			, TO_CHAR(SCHD_STRT_DTTM, 'DD/MM/YYYY HH24:MI') AS SCHD_STRT_DTTM				/** Date et heure de début prévues !==예정시작일시==! */
			, TO_CHAR(SCHD_END_DTTM, 'DD/MM/YYYY HH24:MI') AS SCHD_END_DTTM					/** Date et heure de fin prévues !==예정종료일시==! */
			, FRST_REGST_ID																	/** ID du premier enregistrant  !== 최초등록자ID ==! */
			, TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM			/** Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID																	/** ID du modificateur final !== 최종변경자ID ==! */
			, TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM				/** Date et heure de modification finale !== 최종변경일시 ==! */
		FROM TB_POTI_SCHD
		WHERE PBSR_NO = #{pbsrNo}
		AND SCHD_SRNO = #{schdSrno}
		AND DEL_YN = 'N'
		]]>
	</select>

  <!--
    Sauvegarder mon calendrier !==나의 일정을 등록한다==!
	-->
	<insert id="insertSchd" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeSchdVo">
		/** insertSchd */
		<![CDATA[
			INSERT INTO TB_POTI_SCHD 
			(
		        PBSR_NO					/** N˚ matricule solde !==공무원번호==! */
		        , SCHD_SRNO				/** N˚ de série de calendriers !==일정일련번호==! */
		        , SCHD_TTLE				/** Titre de calendriers !==일정제목==! */
		        , SCHD_CN				/** Détail de calendriers !==일정내용==! */
		        , SCHD_STRT_DTTM		/** Date et heure de début prévues !==예정시작일시==! */
		        , SCHD_END_DTTM			/** Date et heure de fin prévues !==예정종료일시==! */
		        , DEL_YN				/** Suppression O/N !== 삭제여부 ==! */
		        , FRST_REGST_ID			/** ID du premier enregistrant  !== 최초등록자ID ==! */
		        , FRST_RGSR_DTTM		/** Date et heure de premier enregistrement !== 최초등록일시 ==! */
		        , LAST_CHPR_ID			/** ID du modificateur final !== 최종변경자ID ==! */
		        , LAST_CHG_DTTM 		/** Date et heure de modification finale !== 최종변경일시 ==! */
		    )
	    VALUES (
	    		#{pbsrNo}
	        	, (SELECT NVL(MAX(SCHD_SRNO)+1, 1) FROM TB_POTI_SCHD WHERE PBSR_NO = #{pbsrNo})
		        , #{schdTtle}
		        , #{schdCn}
		        , TO_DATE(#{schdStrtDttm}, 'DD/MM/YYYY HH24:MI:SS')
		        , TO_DATE(#{schdEndDttm}, 'DD/MM/YYYY HH24:MI:SS')
		        , 'N'
		        , #{pbsrNo}
		        , SYSTIMESTAMP
		        , #{pbsrNo}
		        , SYSTIMESTAMP )
		]]>
	</insert>

	<!-- 
		Modifier mon calendrier !==나의 일정을 수정한다==!
	-->
	<update id="updateSchd" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeSchdVo">
		/** updateSchd */
		<![CDATA[
			UPDATE TB_POTI_SCHD
			SET SCHD_TTLE = #{schdTtle}													/** Titre de calendriers !==일정제목==! */
			  , SCHD_CN = #{schdCn}														/** Détail de calendriers !==일정내용==! */
			  , SCHD_STRT_DTTM = TO_DATE(#{schdStrtDttm}, 'DD/MM/YYYY HH24:MI:SS')		/** Date et heure de début prévues !==예정시작일시==! */
			  , SCHD_END_DTTM = TO_DATE(#{schdEndDttm}, 'DD/MM/YYYY HH24:MI:SS')		/** Date et heure de fin prévues !==예정종료일시==! */
			  , LAST_CHPR_ID = #{pbsrNo}												/** ID du modificateur final !== 최종변경자ID ==! */
			  , LAST_CHG_DTTM = SYSTIMESTAMP											/** Date et heure de modification finale !== 최종변경일시 ==! */
			WHERE PBSR_NO = #{pbsrNo}
			AND SCHD_SRNO = #{schdSrno}
		]]>
	</update>

	<!-- 
		Supprimer mon calendrier !==나의 일정을 삭제한다==!
	-->
	<update id="deleteSchd" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeSchdVo">
		/** deleteSchd */
		<![CDATA[
			UPDATE TB_POTI_SCHD
			SET DEL_YN = 'Y'					/** Suppression O/N !== 삭제여부 ==! */
		      , LAST_CHPR_ID = #{pbsrNo}		/** ID du modificateur final !== 최종변경자ID ==! */
		      , LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
			WHERE PBSR_NO = #{pbsrNo}
			AND SCHD_SRNO = #{schdSrno}
		]]>
	</update>

</mapper>
