<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.clr.pfd.pfd.mapper.ClrPrviDcshMgmtMapper">
    <select id="selectClrPrviDcshList" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedComnDcshVo" resultType="alpass.ipt.clr.pdr.dre.vo.ClrDedComnDcshVo">
        /* selectClrPrviDcshList */
        <include refid="pagination.header" ></include>
        SELECT
            A.dtl_dcsh_no              /** Numero de la déclaration en détail!! !== 상세신고서번호 ==! */
             , TO_CHAR(TO_DATE(A.dclr_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS dclr_dt                    /** Date de déclaration !== 신고일자 ==! */
             , A.reff_no                    /** N° De Référence !== 참조번호 ==! */
             , A.mdfy_dgcnt                 /** Fréquence de rectification !== 정정차수 ==! */
             , TO_CHAR(TO_DATE(A.rqst_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS rqst_dt                    /** Date De Demande !== 신청일자 ==! */
             , A.dclr_pt_cd                 /** Code De Type De Déclaration !== 신고유형코드 ==! */
             , A.epc_cd                     /** Code EPC !== EPC코드 ==! */
             , A.cscl_pln_cd                /** Code De Plan De Dédouanement !== 통관계획코드 ==! */
             , A.dcsh_fm_cd                 /** Code De Formulaire De La Déclaration !== 신고서양식코드 ==! */
             , A.pckg_tgcnt                 /** Nombre Total De Colis !== 포장총개수 ==! */
             , A.cntr_cag_yn                /** Cargaison Conteneurisée On !== 컨테이너화물여부 ==! */
             , A.al_ttwg                    /** Poids Brut Total !== 전체총중량 ==! */
             , A.al_ntwg                    /** Poids Net Total !== 전체순중량 ==! */
             , A.exppn_idfy_no_tp_cd        /** Code De Type De N° D'Identification De L'Exportateur !== 수출자식별번호구분코드 ==! */
             , A.imppn_idfy_no_tp_cd        /** Code De Type Du N° D'Identification De L'Importateur !== 수입자식별번호구분코드 ==! */
             , A.csm_cnty_cd                /** Code De Pays D'Expédition !== 탁송국가코드 ==! */
             , A.trde_dlng_cnty_cd          /** Code De Pays De Transaction !== 무역거래국가코드 ==! */
             , A.exp_cnty_cd                /** Code De Pays Exportateur !== 수출국가코드 ==! */
             , A.dstn_cnty_cd               /** Code De Pays Destinataire !== 목적지국가코드 ==! */
             , A.dstn_regn_cd               /** Code De Région Destinataire !== 목적지지역코드 ==! */
             , A.trnp_meth_knd_cd           /** Code De Type Du Moyen De Transport !== 운송수단종류코드 ==! */
             , A.trnp_meth_idfy_no          /** N° D'Identification Du Moyen De Transport !== 운송수단식별번호 ==! */
             , A.trnp_meth_nat_cd           /** Code de nationalité du moyen de transport !== 운송수단국적코드 ==! */
             , A.ship_nm                    /** Nom Du Navire !== 선박명 ==! */
             , A.bl_no                      /** N° De Bl !== BL번호 ==! */
             , TO_CHAR(TO_DATE(A.arvl_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS arvl_dt                    /** Date D'Arrivée !== 도착일자 ==! */
             , A.divd_cscl_tp_cd            /** Code De Type De Dédouanement Partiel !== 분할통관구분코드 ==! */
             , A.ldnp_cd                    /** Code De Lieu De Chargement !== 선적지코드 ==! */
             , A.cntr_gcnt                  /** Nombre De Conteneurs !== 컨테이너개수 ==! */
             , A.dispr_cd                   /** Code De Lieu De Déchargement !== 하역지코드 ==! */
             , TO_CHAR(TO_DATE(A.ldun_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS ldun_dt                    /** Date De Déchargement !== 하역일자 ==! */
             , A.psmgt_ffmn_xpir_prid       /** Période d'échéance de l'apurement de la gestion et suivi !== 사후관리이행만료기간 ==! */
             , A.dcrd_yn                    /** Enlèvement En Véhicule On !== 차상반출여부 ==! */
             , A.dlvr_cond_cd               /** Code De La Condition De Livraison !== 인도조건코드 ==! */
             , A.dlvr_plc_cd                /** Code Du Lieu De Livraison !== 인도장소코드 ==! */
             , A.invc_no                    /** N° De Facture !== 송장번호 ==! */
             , TO_CHAR(TO_DATE(A.invc_pbls_dt        , 'YYYYMMDD'),'DD/MM/YYYY') AS invc_pbls_dt               /** Date D'Émission De La Facture !== 송장발행일자 ==! */
             , A.pymn_mean_cd               /** Code De Mode De Paiement !== 지불방법코드 ==! */
             , A.pymn_ac_no                 /** N° De Compte De Paiement !== 지불계좌번호 ==! */
             , A.dlng_cond1_cd              /** Code De Condition De Transaction 1 !== 거래조건1코드 ==! */
             , A.dlng_cond2_cd              /** Code De Condition De Transaction 2 !== 거래조건2코드 ==! */
             , (CASE WHEN A.epc_cd = '40XX' THEN 'Y' ELSE 'N' END) AS prc_dcsh_wrte_yn           /** Déclaration De La Valeur Saisie On !== 가격신고서기재여부 ==! */
             , A.owhs_prc_ev_yn             /** Auto-Liquidation On !== 자가가격평가여부 ==! */
             , A.dcer_wrte_cn               /** Texte Libre Réservé Au Déclarant !== 신고인기재내용 ==! */
             , A.mdfy_rsn_cd                /** Code De Motif De La Modification !== 정정사유코드 ==! */
             , A.mdfy_rsn_cn                /** Motif de rectification !== 정정사유내용 ==! */
             , A.prcs_stts_cd               /** Code De Statut De Traitement !== 처리상태코드 ==! */
             , A.insc_emp_id                /** ID de l'vérificateur !== 검사직원ID ==! */
             , A.selc_rslt_cd               /** Code De Résultat De Ciblage !== 선별결과코드 ==! */
             , A.insc_plc_tp_cd             /** Code De Type De Lieu De Visite !== 검사장소구분코드 ==! */
             , A.psmgt_trgt_yn              /** Cible de gestion et suivi ON !== 사후관리대상여부 ==! */
             , A.psmgt_ffmn_cmpl_yn         /** Gestion et suivi apurée ON !== 사후관리이행완료여부 ==! */
             , TO_CHAR(TO_DATE(A.psmgt_ffmn_cmpl_dt  , 'YYYYMMDD'),'DD/MM/YYYY') AS psmgt_ffmn_cmpl_dt         /** Date d'apurement de gestion et suivi !== 사후관리이행완료일자 ==! */
             , A.ador_hnot_prcs_yn          /** Traitement de la cotation d'inspecteurs ON !== 심사자배부처리여부 ==! */
             , A.ador_hnot_opin_cn          /** Contenu de l'opinion pour la cotation d'inspecteurs !== 심사자배부의견내용 ==! */
             , A.hist_srno                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
             , TO_CHAR(TO_DATE(A.exp_ffmn_cmpl_dt    , 'YYYYMMDD'),'DD/MM/YYYY') AS exp_ffmn_cmpl_dt           /** Date D'Accomplissement De L'Apurement D'Exportation !== 수출이행완료일자 ==! */
             , TO_CHAR(TO_DATE(A.exp_ffmn_xpir_dt    , 'YYYYMMDD'),'DD/MM/YYYY') AS exp_ffmn_xpir_dt           /** Date D'Échéance De L'Apurement D'Exportation !== 수출이행만료일자 ==! */
             , TO_CHAR(TO_DATE(A.asmt_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS asmt_dt                    /** Date De Liquidation !== 가격평가심사일자 ==! */
             , A.acpt_yn                    /** Validation ON !== 수리여부 ==! */
             , TO_CHAR(TO_DATE(A.acpt_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS acpt_dt                    /** Date de la validation !== 수리일자 ==! */
             , A.rlse_yn                    /** Enlevé On !== 반출여부 ==! */
             , TO_CHAR(TO_DATE(A.rlse_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS rlse_dt                    /** Date D'Enlèvement !== 반출일자 ==! */
             , A.atr_dclr_rcpn_yn           /** Déclaration Modifiée Reçue On !== 수정신고수신여부 ==! */
             , A.cncl_dclr_rcpn_yn          /** Déclaration De L'Annulation Reçue On !== 취소신고수신여부 ==! */
             , A.cscl_pstp_yn               /** Dédouanement Suspendu On !== 통관보류여부 ==! */
             , A.dput_yn                    /** Contentieux On !== 쟁송여부 ==! */
             , A.prvi_dclr_apre_yn          /** Déclaration Provisoire Autorisée On !== 잠정신고승인여부 ==! */
             , A.new_sys_yn                 /** Nouveau Système On !== 신규시스템여부 ==! */
             , A.del_yn                     /** Suppression On !== 삭제여부 ==! */
             , A.frst_regst_id              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
             , TO_CHAR(A.frst_rgsr_dttm, 'DD/MM/YYYY') AS FRST_RGSR_DTTM     /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
             , A.last_chpr_id               /** Id Du Modificateur Final !== 최종변경자ID ==! */
             , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
             , A.wkng_pt_cd                 /** Type D'Opération !== 작업유형코드 ==! */
             , A.exppn_cmrc_regs_no         /** Numéro de registre de commerce de l’exportateur !== 수출자상업등기번호 ==! */
             , A.imppn_cmrc_regs_no         /** Numéro de registre de commerce de l’importateur !==수입자상업등기번호 ==! */
             , A.txpr_cmrc_regs_no          /** Numéro de registre de commerce du redevable !==납세자상업등기번호 ==! */
             , NVL(( SELECT CO_NM FROM TB_COM_CO AA WHERE AA.NIF = A.EXPPN_IDFY_NO ),A.EXPPN_IDFY_NO) AS EXPPN_NM  /** Nom De L'Entreprise !== 업체명 ==! */
             , A.EXPPN_IDFY_NO
             , NVL(( SELECT CO_NM FROM TB_COM_CO AA WHERE AA.NIF = A.imppn_IDFY_NO ),A.IMPPN_IDFY_NO) AS IMPPN_NM  /** Nom De L'Entreprise !== 업체명 ==! */
             , A.IMPPN_IDFY_NO              /** N° D'Identification De L'Importateur !==  ==! */
             , A.txpr_idfy_no               /** NIF !==  ==! */
             , ( SELECT TXPR_CO_NM FROM TB_CLRI_DED_CO BB WHERE BB.DTL_DCSH_NO = A.DTL_DCSH_NO ) AS TXPR_CO_NM
             , A.cag_mgmt_no                /** N° Demande De La Création De Crn !==  ==! */
             , A.audt_emp_id                /** ID de l'insepcteur !== 심사직원ID ==! */
             , A.bf_bnbn_cmdt_wrhs_cd       /** Code De L'Entrepôt Précédent De La Marchandise Sous Douane !== 이전보세물품창고코드 ==! */
             , (SELECT X.ibobz_nm FROM tb_cari_ibobz X WHERE X.DEL_YN = 'N' AND X.ibobz_cd = A.BF_BNBN_CMDT_WRHS_CD AND ROWNUM = 1) AS BF_BNBN_WRHS_NM
             , (SELECT X.ibobz_nm FROM tb_cari_ibobz X WHERE X.DEL_YN = 'N' AND X.ibobz_cd = A.BNBN_CMDT_WRHS_CD AND ROWNUM = 1 ) AS BNBN_WRHS_NM
             , A.bnbn_cmdt_wrhs_cd
             , A.cmdt_stge_loct_cd          /** Code De Localisation De Stockage !== 물품장치위치코드 ==! */
             , A.dcer_cd                    /** Code Du Déclarant !== 신고인코드 ==! */
             , (SELECT NIF FROM TB_COM_CO_DCLR_CD WHERE CO_DCLR_CD = A.DCER_CD AND CO_DCLR_TP_CD = 'H' AND ROWNUM = 1) AS DCER_NIF
             , A.dclr_cstm_cd               /** Code De Bureau De Déclaration !== 신고세관코드 ==! */
             , (select orgn_nm from alpassint.tb_poti_orgn where orgn_cd = A.DCLR_CSTM_CD) as DCLR_CSTM_NM
             , A.dept_cd                    /** Code de service !== 부서코드 ==! */
             , (SELECT A.DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DEPT_CD AND ROWNUM=1) AS DEPT_NM
             , A.pymn_bnk_brnh_cd           /** Code D'Agnce De Banque De Paiement !== 지불은행지점코드 ==! */
             , A.pymn_bnk_cd                /** Transaction Banque Domiciliatrice Code Banque !== 지불은행코드 ==! */
             , A.rlbr_cstm_cd               /** Code Du Bureau D'Entrée Et De Sortie !== 반출입세관코드 ==! */
             , A.csor_aprv_rsof_yn          /** no name !== 세관장결재상신여부 ==! */
             , A.dphd_aprv_rsof_yn          /** no name !== 부서장결재상신여부 ==! */
             , A.dept_hnot_prcs_yn          /** Cotation Aux Services Traitée O/N !== 부서배부처리여부 ==! */
             , A.dept_hnot_opin_cn          /** Annotation Sur La Cotation Au Service !== 부서배부의견내용 ==! */
             , TO_CHAR(TO_DATE(A.prmsnt_dt, 'YYYYMMDD'), 'DD/MM/YYYY') AS prmsnt_dt
             , TO_CHAR(TO_DATE(A.bl_dt, 'YYYYMMDD'), 'DD/MM/YYYY') AS bl_dt
             , A.DLNG_PYMN_MEAN_CD
             , FN_GET_CD_VDVAL_NM('CLR_0137', A.DLNG_PYMN_MEAN_CD, #{langCd}) AS DLNG_PYMN_MEAN_NM
             , ( SELECT 'Y' FROM   TB_COLI_NTFC WHERE REFF_NO = A.DTL_DCSH_NO AND DEL_YN = 'N' AND CNCL_YN = 'N' LIMIT 1) AS NTFC_EXST_YN
             , ( SELECT REFF_NO_PT_CD FROM   TB_COLI_NTFC WHERE REFF_NO = A.DTL_DCSH_NO AND DEL_YN = 'N' AND CNCL_YN = 'N' LIMIT 1) AS REFF_NO_PT_CD
             , ( SELECT NTFC_NO FROM   TB_COLI_NTFC WHERE REFF_NO = A.DTL_DCSH_NO AND DEL_YN = 'N' AND CNCL_YN = 'N' LIMIT 1) AS NTFC_NO
             , ( SELECT RCVE_NO FROM   TB_COLI_NTFC B, TB_COLI_RCVE C WHERE B.REFF_NO = A.DTL_DCSH_NO AND C.NTFC_NO = B.NTFC_NO AND C.DEL_YN = 'N' AND B.CNCL_YN = 'N' LIMIT 1) AS RCVE_NO
             , ( SELECT REGST_ID FROM   TB_COLI_NTFC B, TB_COLI_RCVE C WHERE B.REFF_NO = A.DTL_DCSH_NO AND C.NTFC_NO = B.NTFC_NO AND C.DEL_YN = 'N' AND B.CNCL_YN = 'N' LIMIT 1) AS REGST_ID
             , (CASE WHEN EXISTS(
                        SELECT B.FINE_LVY_RQST_NO
                        FROM TB_COLI_FINE_RQST B
                        WHERE B.REFF_NO_PT_CD = '001'
                        AND B.REFF_NO         = A.DTL_DCSH_NO
                        AND B.DEL_YN          = 'N'
                        MINUS
                        SELECT C.FINE_LVY_RQST_NO
                        FROM TB_COLI_FINE C
                        WHERE C.REFF_NO_PT_CD = '001'
                        AND C.REFF_NO         = A.DTL_DCSH_NO
                        AND C.DEL_YN          = 'N'
                    ) THEN 'Y'  ELSE 'N'  END  ) AS FINE_LVY_PRGS_YN
              , (
                SELECT CASE WHEN COUNT(*) = 0 THEN 'L_NTFC_WTOT' /* 고지서 없음. */
                ELSE
                CASE WHEN SUM(DECODE(B.RCVE_YN, 'N', 1, 0)) > 0 AND SUM(DECODE(B.DLPY_YN, 'Y', 1, 0)) > 0 THEN 'L_RCVE_WTNG_DLPY_EXST' /* 수납대기중(체납건존재) */
                WHEN SUM(DECODE(B.RCVE_YN, 'N', 1, 0)) > 0 AND SUM(DECODE(B.DLPY_YN, 'Y', 1, 0)) = 0 THEN 'L_RCVE_WTNG'           /* 수납대기중 */
                WHEN COUNT(*) = SUM(DECODE(B.RCVE_YN, 'Y', 1, 0)) THEN 'L_RCVE_CMPL' /* 수납완료 */
                END
                END
                FROM TB_COLI_NTFC B
                WHERE B.REFF_NO = A.DTL_DCSH_NO
                AND B.CNCL_YN = 'N'
                AND B.DEL_YN  = 'N') AS NTFC_STTS_LBL_ID
		      , (
                CASE WHEN CSCL_PLN_CD = 'PAD' AND CAG_MGMT_NO IS NULL THEN 'L_TRNP_INFO_RCPN_WTNG'                     /* 운송정보수신대기중 */
                WHEN CSCL_PLN_CD = 'PAD' AND CAG_MGMT_NO IS NOT NULL THEN 'L_TRNP_INFO_RCPN_CMPL'                 /* 운송정보수신완료 */
                WHEN CSCL_PLN_CD = 'BMD' AND DCRD_YN = 'N' AND CMDT_STGE_LOCT_CD IS NULL THEN 'L_LDUN_CMPL_WTNG'  /* 하역완료대기중 */
                WHEN CSCL_PLN_CD = 'BMD' AND DCRD_YN = 'N' AND CMDT_STGE_LOCT_CD IS NOT NULL THEN 'L_LDUN_CMPL'   /* 하역완료 */
                END  ) AS CSCL_PLN_STTS_ID
              , (SELECT B.NIF
                FROM TB_COM_CO_DCLR_CD B
                WHERE B.CO_DCLR_CD    = A.DCER_CD
                AND B.CO_DCLR_TP_CD = 'H'
                AND B.DEL_YN        = 'N'
                AND ROWNUM        = 1
                ) AS DCER_IDFY_NO
              , D.TTXBS_NCY_AMT
              , (SELECT SUM(TAMT)
                    FROM TB_COLI_NTFC
                    WHERE REFF_NO = A.DTL_DCSH_NO
                    AND CNCL_YN = 'N'
                    AND DEL_YN  = 'N'
                ) AS NTFC_AMT
              , DATE_PART('DAY',NOW() - A.DCLR_DT:: TIMESTAMP) AS PASS_DCNT
              ,( SELECT COUNT(1) FROM ALPASSINT.TB_CLRI_DED_PDLS CC WHERE CC.DTL_DCSH_NO = A.DTL_DCSH_NO AND CC.DEL_YN='N' ) AS PDLS_GCNT
        FROM   TB_CLRI_DED_COMN A
              , TB_CLRI_DED_VLUT_COMN D
        WHERE  A.del_yn = 'N'
        AND A.DTL_DCSH_NO = D.DTL_DCSH_NO
        AND A.DCSH_FM_CD = 'G' /** 확정신고(Définitive)*/
        AND EXISTS (
            SELECT 1 FROM TB_CLRI_DED_COMN_H H
            WHERE A.DTL_DCSH_NO = H.DTL_DCSH_NO
            AND H.DCSH_FM_CD = 'P'
        )
        <if test="dclrDtFrom != null and dclrDtFrom != ''">
            AND    A.DCLR_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE( #{dclrDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND    A.DCLR_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE( #{dclrDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
        <if test="dclrCstmCd != null and dclrCstmCd != ''">
            AND    A.DCLR_CSTM_CD = #{dclrCstmCd}
        </if>
        <if test="epcCd != null and epcCd != ''">
            AND    A.EPC_CD = #{epcCd}
        </if>
        <if test="imppnIdfyNo != null and imppnIdfyNo != ''">
            AND    A.IMPPN_IDFY_NO = #{imppnIdfyNo}
        </if>
        <if test="dtlDcshNo != null and dtlDcshNo != ''">
            AND    A.DTL_DCSH_NO = #{dtlDcshNo}
        </if>
        ORDER BY A.DCLR_DT DESC, A.DTL_DCSH_NO DESC
        <include refid="pagination.footer" ></include>
    </select>

    <select id="selectClrCmplWtngPrviDcshList" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedComnDcshVo" resultType="alpass.ipt.clr.pdr.dre.vo.ClrDedComnDcshVo">
        /* selectClrPrviDcshList */
        <include refid="pagination.header" ></include>
        SELECT
        A.dtl_dcsh_no              /** Numero de la déclaration en détail!! !== 상세신고서번호 ==! */
        , TO_CHAR(TO_DATE(A.dclr_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS dclr_dt                    /** Date de déclaration !== 신고일자 ==! */
        , A.reff_no                    /** N° De Référence !== 참조번호 ==! */
        , A.mdfy_dgcnt                 /** Fréquence de rectification !== 정정차수 ==! */
        , TO_CHAR(TO_DATE(A.rqst_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS rqst_dt                    /** Date De Demande !== 신청일자 ==! */
        , A.dclr_pt_cd                 /** Code De Type De Déclaration !== 신고유형코드 ==! */
        , A.epc_cd                     /** Code EPC !== EPC코드 ==! */
        , A.cscl_pln_cd                /** Code De Plan De Dédouanement !== 통관계획코드 ==! */
        , A.dcsh_fm_cd                 /** Code De Formulaire De La Déclaration !== 신고서양식코드 ==! */
        , A.pckg_tgcnt                 /** Nombre Total De Colis !== 포장총개수 ==! */
        , A.cntr_cag_yn                /** Cargaison Conteneurisée On !== 컨테이너화물여부 ==! */
        , A.al_ttwg                    /** Poids Brut Total !== 전체총중량 ==! */
        , A.al_ntwg                    /** Poids Net Total !== 전체순중량 ==! */
        , A.exppn_idfy_no_tp_cd        /** Code De Type De N° D'Identification De L'Exportateur !== 수출자식별번호구분코드 ==! */
        , A.imppn_idfy_no_tp_cd        /** Code De Type Du N° D'Identification De L'Importateur !== 수입자식별번호구분코드 ==! */
        , A.csm_cnty_cd                /** Code De Pays D'Expédition !== 탁송국가코드 ==! */
        , A.trde_dlng_cnty_cd          /** Code De Pays De Transaction !== 무역거래국가코드 ==! */
        , A.exp_cnty_cd                /** Code De Pays Exportateur !== 수출국가코드 ==! */
        , A.dstn_cnty_cd               /** Code De Pays Destinataire !== 목적지국가코드 ==! */
        , A.dstn_regn_cd               /** Code De Région Destinataire !== 목적지지역코드 ==! */
        , A.trnp_meth_knd_cd           /** Code De Type Du Moyen De Transport !== 운송수단종류코드 ==! */
        , A.trnp_meth_idfy_no          /** N° D'Identification Du Moyen De Transport !== 운송수단식별번호 ==! */
        , A.trnp_meth_nat_cd           /** Code de nationalité du moyen de transport !== 운송수단국적코드 ==! */
        , A.ship_nm                    /** Nom Du Navire !== 선박명 ==! */
        , A.bl_no                      /** N° De Bl !== BL번호 ==! */
        , TO_CHAR(TO_DATE(A.arvl_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS arvl_dt                    /** Date D'Arrivée !== 도착일자 ==! */
        , A.divd_cscl_tp_cd            /** Code De Type De Dédouanement Partiel !== 분할통관구분코드 ==! */
        , A.ldnp_cd                    /** Code De Lieu De Chargement !== 선적지코드 ==! */
        , A.cntr_gcnt                  /** Nombre De Conteneurs !== 컨테이너개수 ==! */
        , A.dispr_cd                   /** Code De Lieu De Déchargement !== 하역지코드 ==! */
        , TO_CHAR(TO_DATE(A.ldun_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS ldun_dt                    /** Date De Déchargement !== 하역일자 ==! */
        , A.psmgt_ffmn_xpir_prid       /** Période d'échéance de l'apurement de la gestion et suivi !== 사후관리이행만료기간 ==! */
        , A.dcrd_yn                    /** Enlèvement En Véhicule On !== 차상반출여부 ==! */
        , A.dlvr_cond_cd               /** Code De La Condition De Livraison !== 인도조건코드 ==! */
        , A.dlvr_plc_cd                /** Code Du Lieu De Livraison !== 인도장소코드 ==! */
        , A.invc_no                    /** N° De Facture !== 송장번호 ==! */
        , TO_CHAR(TO_DATE(A.invc_pbls_dt        , 'YYYYMMDD'),'DD/MM/YYYY') AS invc_pbls_dt               /** Date D'Émission De La Facture !== 송장발행일자 ==! */
        , A.pymn_mean_cd               /** Code De Mode De Paiement !== 지불방법코드 ==! */
        , A.pymn_ac_no                 /** N° De Compte De Paiement !== 지불계좌번호 ==! */
        , A.dlng_cond1_cd              /** Code De Condition De Transaction 1 !== 거래조건1코드 ==! */
        , A.dlng_cond2_cd              /** Code De Condition De Transaction 2 !== 거래조건2코드 ==! */
        , (CASE WHEN A.epc_cd = '40XX' THEN 'Y' ELSE 'N' END) AS prc_dcsh_wrte_yn           /** Déclaration De La Valeur Saisie On !== 가격신고서기재여부 ==! */
        , A.owhs_prc_ev_yn             /** Auto-Liquidation On !== 자가가격평가여부 ==! */
        , A.dcer_wrte_cn               /** Texte Libre Réservé Au Déclarant !== 신고인기재내용 ==! */
        , A.mdfy_rsn_cd                /** Code De Motif De La Modification !== 정정사유코드 ==! */
        , A.mdfy_rsn_cn                /** Motif de rectification !== 정정사유내용 ==! */
        , A.prcs_stts_cd               /** Code De Statut De Traitement !== 처리상태코드 ==! */
        , A.insc_emp_id                /** ID de l'vérificateur !== 검사직원ID ==! */
        , A.selc_rslt_cd               /** Code De Résultat De Ciblage !== 선별결과코드 ==! */
        , A.insc_plc_tp_cd             /** Code De Type De Lieu De Visite !== 검사장소구분코드 ==! */
        , A.psmgt_trgt_yn              /** Cible de gestion et suivi ON !== 사후관리대상여부 ==! */
        , A.psmgt_ffmn_cmpl_yn         /** Gestion et suivi apurée ON !== 사후관리이행완료여부 ==! */
        , TO_CHAR(TO_DATE(A.psmgt_ffmn_cmpl_dt  , 'YYYYMMDD'),'DD/MM/YYYY') AS psmgt_ffmn_cmpl_dt         /** Date d'apurement de gestion et suivi !== 사후관리이행완료일자 ==! */
        , A.ador_hnot_prcs_yn          /** Traitement de la cotation d'inspecteurs ON !== 심사자배부처리여부 ==! */
        , A.ador_hnot_opin_cn          /** Contenu de l'opinion pour la cotation d'inspecteurs !== 심사자배부의견내용 ==! */
        , A.hist_srno                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
        , TO_CHAR(TO_DATE(A.exp_ffmn_cmpl_dt    , 'YYYYMMDD'),'DD/MM/YYYY') AS exp_ffmn_cmpl_dt           /** Date D'Accomplissement De L'Apurement D'Exportation !== 수출이행완료일자 ==! */
        , TO_CHAR(TO_DATE(A.exp_ffmn_xpir_dt    , 'YYYYMMDD'),'DD/MM/YYYY') AS exp_ffmn_xpir_dt           /** Date D'Échéance De L'Apurement D'Exportation !== 수출이행만료일자 ==! */
        , TO_CHAR(TO_DATE(A.asmt_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS asmt_dt                    /** Date De Liquidation !== 가격평가심사일자 ==! */
        , A.acpt_yn                    /** Validation ON !== 수리여부 ==! */
        , TO_CHAR(TO_DATE(A.acpt_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS acpt_dt                    /** Date de la validation !== 수리일자 ==! */
        , A.rlse_yn                    /** Enlevé On !== 반출여부 ==! */
        , TO_CHAR(TO_DATE(A.rlse_dt             , 'YYYYMMDD'),'DD/MM/YYYY') AS rlse_dt                    /** Date D'Enlèvement !== 반출일자 ==! */
        , A.atr_dclr_rcpn_yn           /** Déclaration Modifiée Reçue On !== 수정신고수신여부 ==! */
        , A.cncl_dclr_rcpn_yn          /** Déclaration De L'Annulation Reçue On !== 취소신고수신여부 ==! */
        , A.cscl_pstp_yn               /** Dédouanement Suspendu On !== 통관보류여부 ==! */
        , A.dput_yn                    /** Contentieux On !== 쟁송여부 ==! */
        , A.prvi_dclr_apre_yn          /** Déclaration Provisoire Autorisée On !== 잠정신고승인여부 ==! */
        , A.new_sys_yn                 /** Nouveau Système On !== 신규시스템여부 ==! */
        , A.del_yn                     /** Suppression On !== 삭제여부 ==! */
        , A.frst_regst_id              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , TO_CHAR(A.frst_rgsr_dttm, 'DD/MM/YYYY') AS FRST_RGSR_DTTM     /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , A.last_chpr_id               /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , A.wkng_pt_cd                 /** Type D'Opération !== 작업유형코드 ==! */
        , A.exppn_cmrc_regs_no         /** Numéro de registre de commerce de l’exportateur !== 수출자상업등기번호 ==! */
        , A.imppn_cmrc_regs_no         /** Numéro de registre de commerce de l’importateur !==수입자상업등기번호 ==! */
        , A.txpr_cmrc_regs_no          /** Numéro de registre de commerce du redevable !==납세자상업등기번호 ==! */
        , NVL(( SELECT CO_NM FROM TB_COM_CO AA WHERE AA.NIF = A.EXPPN_IDFY_NO ),A.EXPPN_IDFY_NO) AS EXPPN_NM  /** Nom De L'Entreprise !== 업체명 ==! */
        , A.EXPPN_IDFY_NO
        , NVL(( SELECT CO_NM FROM TB_COM_CO AA WHERE AA.NIF = A.imppn_IDFY_NO ),A.IMPPN_IDFY_NO) AS IMPPN_NM  /** Nom De L'Entreprise !== 업체명 ==! */
        , A.IMPPN_IDFY_NO              /** N° D'Identification De L'Importateur !==  ==! */
        , A.txpr_idfy_no               /** NIF !==  ==! */
        , ( SELECT TXPR_CO_NM FROM TB_CLRI_DED_CO BB WHERE BB.DTL_DCSH_NO = A.DTL_DCSH_NO ) AS TXPR_CO_NM
        , A.cag_mgmt_no                /** N° Demande De La Création De Crn !==  ==! */
        , A.audt_emp_id                /** ID de l'insepcteur !== 심사직원ID ==! */
        , A.bf_bnbn_cmdt_wrhs_cd       /** Code De L'Entrepôt Précédent De La Marchandise Sous Douane !== 이전보세물품창고코드 ==! */
        , (SELECT X.ibobz_nm FROM tb_cari_ibobz X WHERE X.DEL_YN = 'N' AND X.ibobz_cd = A.BF_BNBN_CMDT_WRHS_CD AND ROWNUM = 1) AS BF_BNBN_WRHS_NM
        , (SELECT X.ibobz_nm FROM tb_cari_ibobz X WHERE X.DEL_YN = 'N' AND X.ibobz_cd = A.BNBN_CMDT_WRHS_CD AND ROWNUM = 1 ) AS BNBN_WRHS_NM
        , A.bnbn_cmdt_wrhs_cd
        , A.cmdt_stge_loct_cd          /** Code De Localisation De Stockage !== 물품장치위치코드 ==! */
        , A.dcer_cd                    /** Code Du Déclarant !== 신고인코드 ==! */
        , (SELECT NIF FROM TB_COM_CO_DCLR_CD WHERE CO_DCLR_CD = A.DCER_CD AND CO_DCLR_TP_CD = 'H' AND ROWNUM = 1) AS DCER_NIF
        , A.dclr_cstm_cd               /** Code De Bureau De Déclaration !== 신고세관코드 ==! */
        , (select orgn_nm from alpassint.tb_poti_orgn where orgn_cd = A.DCLR_CSTM_CD) as DCLR_CSTM_NM
        , A.dept_cd                    /** Code de service !== 부서코드 ==! */
        , (SELECT A.DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DEPT_CD AND ROWNUM=1) AS DEPT_NM
        , A.pymn_bnk_brnh_cd           /** Code D'Agnce De Banque De Paiement !== 지불은행지점코드 ==! */
        , A.pymn_bnk_cd                /** Transaction Banque Domiciliatrice Code Banque !== 지불은행코드 ==! */
        , A.rlbr_cstm_cd               /** Code Du Bureau D'Entrée Et De Sortie !== 반출입세관코드 ==! */
        , A.csor_aprv_rsof_yn          /** no name !== 세관장결재상신여부 ==! */
        , A.dphd_aprv_rsof_yn          /** no name !== 부서장결재상신여부 ==! */
        , A.dept_hnot_prcs_yn          /** Cotation Aux Services Traitée O/N !== 부서배부처리여부 ==! */
        , A.dept_hnot_opin_cn          /** Annotation Sur La Cotation Au Service !== 부서배부의견내용 ==! */
        , TO_CHAR(TO_DATE(A.prmsnt_dt, 'YYYYMMDD'), 'DD/MM/YYYY') AS prmsnt_dt
        , TO_CHAR(TO_DATE(A.bl_dt, 'YYYYMMDD'), 'DD/MM/YYYY') AS bl_dt
        , A.DLNG_PYMN_MEAN_CD
        , FN_GET_CD_VDVAL_NM('CLR_0137', A.DLNG_PYMN_MEAN_CD, #{langCd}) AS DLNG_PYMN_MEAN_NM
        , ( SELECT 'Y' FROM   TB_COLI_NTFC WHERE REFF_NO = A.DTL_DCSH_NO AND DEL_YN = 'N' AND CNCL_YN = 'N' LIMIT 1) AS NTFC_EXST_YN
        , ( SELECT REFF_NO_PT_CD FROM   TB_COLI_NTFC WHERE REFF_NO = A.DTL_DCSH_NO AND DEL_YN = 'N' AND CNCL_YN = 'N' LIMIT 1) AS REFF_NO_PT_CD
        , ( SELECT NTFC_NO FROM   TB_COLI_NTFC WHERE REFF_NO = A.DTL_DCSH_NO AND DEL_YN = 'N' AND CNCL_YN = 'N' LIMIT 1) AS NTFC_NO
        , ( SELECT RCVE_NO FROM   TB_COLI_NTFC B, TB_COLI_RCVE C WHERE B.REFF_NO = A.DTL_DCSH_NO AND C.NTFC_NO = B.NTFC_NO AND C.DEL_YN = 'N' AND B.CNCL_YN = 'N' LIMIT 1) AS RCVE_NO
        , ( SELECT REGST_ID FROM   TB_COLI_NTFC B, TB_COLI_RCVE C WHERE B.REFF_NO = A.DTL_DCSH_NO AND C.NTFC_NO = B.NTFC_NO AND C.DEL_YN = 'N' AND B.CNCL_YN = 'N' LIMIT 1) AS REGST_ID
        , (CASE WHEN EXISTS(
        SELECT B.FINE_LVY_RQST_NO
        FROM TB_COLI_FINE_RQST B
        WHERE B.REFF_NO_PT_CD = '001'
        AND B.REFF_NO         = A.DTL_DCSH_NO
        AND B.DEL_YN          = 'N'
        MINUS
        SELECT C.FINE_LVY_RQST_NO
        FROM TB_COLI_FINE C
        WHERE C.REFF_NO_PT_CD = '001'
        AND C.REFF_NO         = A.DTL_DCSH_NO
        AND C.DEL_YN          = 'N'
        ) THEN 'Y'  ELSE 'N'  END  ) AS FINE_LVY_PRGS_YN
        , (
        SELECT CASE WHEN COUNT(*) = 0 THEN 'L_NTFC_WTOT' /* 고지서 없음. */
        ELSE
        CASE WHEN SUM(DECODE(B.RCVE_YN, 'N', 1, 0)) > 0 AND SUM(DECODE(B.DLPY_YN, 'Y', 1, 0)) > 0 THEN 'L_RCVE_WTNG_DLPY_EXST' /* 수납대기중(체납건존재) */
        WHEN SUM(DECODE(B.RCVE_YN, 'N', 1, 0)) > 0 AND SUM(DECODE(B.DLPY_YN, 'Y', 1, 0)) = 0 THEN 'L_RCVE_WTNG'           /* 수납대기중 */
        WHEN COUNT(*) = SUM(DECODE(B.RCVE_YN, 'Y', 1, 0)) THEN 'L_RCVE_CMPL' /* 수납완료 */
        END
        END
        FROM TB_COLI_NTFC B
        WHERE B.REFF_NO = A.DTL_DCSH_NO
        AND B.CNCL_YN = 'N'
        AND B.DEL_YN  = 'N') AS NTFC_STTS_LBL_ID
        , (
        CASE WHEN CSCL_PLN_CD = 'PAD' AND CAG_MGMT_NO IS NULL THEN 'L_TRNP_INFO_RCPN_WTNG'                     /* 운송정보수신대기중 */
        WHEN CSCL_PLN_CD = 'PAD' AND CAG_MGMT_NO IS NOT NULL THEN 'L_TRNP_INFO_RCPN_CMPL'                 /* 운송정보수신완료 */
        WHEN CSCL_PLN_CD = 'BMD' AND DCRD_YN = 'N' AND CMDT_STGE_LOCT_CD IS NULL THEN 'L_LDUN_CMPL_WTNG'  /* 하역완료대기중 */
        WHEN CSCL_PLN_CD = 'BMD' AND DCRD_YN = 'N' AND CMDT_STGE_LOCT_CD IS NOT NULL THEN 'L_LDUN_CMPL'   /* 하역완료 */
        END  ) AS CSCL_PLN_STTS_ID
        , (SELECT B.NIF
        FROM TB_COM_CO_DCLR_CD B
        WHERE B.CO_DCLR_CD    = A.DCER_CD
        AND B.CO_DCLR_TP_CD = 'H'
        AND B.DEL_YN        = 'N'
        AND ROWNUM        = 1
        ) AS DCER_IDFY_NO
        , D.TTXBS_NCY_AMT
        , (SELECT SUM(TAMT)
        FROM TB_COLI_NTFC
        WHERE REFF_NO = A.DTL_DCSH_NO
        AND CNCL_YN = 'N'
        AND DEL_YN  = 'N'
        ) AS NTFC_AMT
        , DATE_PART('DAY',NOW() - A.DCLR_DT:: TIMESTAMP) AS PASS_DCNT
        ,( SELECT COUNT(1) FROM ALPASSINT.TB_CLRI_DED_PDLS CC WHERE CC.DTL_DCSH_NO = A.DTL_DCSH_NO AND CC.DEL_YN='N' ) AS PDLS_GCNT
        FROM   TB_CLRI_DED_COMN A
        , TB_CLRI_DED_VLUT_COMN D
        WHERE  A.del_yn = 'N'
        AND A.DTL_DCSH_NO = D.DTL_DCSH_NO
        AND A.DCSH_FM_CD = 'P'
        AND A.PRCS_STTS_CD = 'D07' /** Marchandise sortie (물품반출)*/
        <if test="dclrDtFrom != null and dclrDtFrom != ''">
            AND    A.DCLR_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE( #{dclrDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND    A.DCLR_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE( #{dclrDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
        <if test="dclrCstmCd != null and dclrCstmCd != ''">
            AND    A.DCLR_CSTM_CD = #{dclrCstmCd}
        </if>
        <if test="epcCd != null and epcCd != ''">
            AND    A.EPC_CD = #{epcCd}
        </if>
        <if test="imppnIdfyNo != null and imppnIdfyNo != ''">
            AND    A.IMPPN_IDFY_NO = #{imppnIdfyNo}
        </if>
        <if test="dtlDcshNo != null and dtlDcshNo != ''">
            AND    A.DTL_DCSH_NO = #{dtlDcshNo}
        </if>
        ORDER BY A.DCLR_DT DESC, A.DTL_DCSH_NO DESC
        <include refid="pagination.footer" ></include>
    </select>
</mapper>
