<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.col.fine.mapper.ColFineReleMgmtMapper">

    <!--
    Voir la liste des Gérer les annulations d'amende !== 벌금해제관리 조회 ==!
    -->
    <select id="selectColFineReleMgmt" parameterType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo" resultType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo">
        /* ColFineReleMgmt_selectColFineReleMgmt */
            SELECT
                  A.FINE_RELE_RQST_NO          /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
                , A.CSTM_CD                    /** Code du bureau !== 세관코드 ==! */
                , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM                    /** Code du bureau !== 세관명 ==! */
                , A.NTFC_NO                    /** N° d'avis !== 고지번호 ==! */
                , B.TXPR_IDFY_NO_TP_CD         /** Code de catérogie de NIU !== 납세자식별번호구분코드 ==! */
                , B.TXPR_IDFY_NO_TP_NM         /** Nom du catégorie de NIF !== 납세자식별번호구분명 ==! */
                , B.TXPR_IDFY_NO               /** NIU !== 납세자식별번호 ==! */
                , TO_CHAR(TO_DATE(A.RQST_DT,'YYYYMMDD'),'DD/MM/YYYY')  AS RQST_DT                  /** Date de demande !== 신청일자 ==! */
                , A.REPN_ID                    /** ID de la personne demandant !== 신청자ID ==! */
                , A.FINE_RELE_RSN_CN           /** Contenu du motif d'annulation d'amende !== 벌금해제사유내용 ==! */
                , A.APRV_ID                    /** ID d'approbation  !== 결재ID ==! */
                , A.ATCH_FILE_ID               /** ID de la pièce jointe !== 첨부파일ID ==! */
                , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
                , B.DCER_CD                    /** Code du déclarant !== 신고인코드 ==! */
                , TO_CHAR(TO_DATE(C.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT                        /** Date de notification !== 고지일자 ==! */
                , TO_CHAR(TO_DATE(C.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT                /** Délai de paiement !== 납부기한일자 ==! */
                , B.FINE_AMT                   /** Montant d'amende !== 벌금금액 ==! */
                , C.RCVE_YN                    /** Encaisse (ON) !== 수납여부 ==! */
                , TO_CHAR(TO_DATE(C.CNCL_DT,'YYYYMMDD'),'DD/MM/YYYY') AS CNCL_DT    /** Date D'Annulation !== 취소일자 ==! */
                , E.RCVE_NO
                , TO_CHAR(TO_DATE(E.RCVE_DT,'YYYYMMDD'), 'DD/MM/YYYY') AS RCVE_DT
                , E.RCVE_AMT
            FROM   TB_COLI_FINE_RELE_RQST A
                 , TB_COLI_FINE B
                 , TB_COLI_NTFC C
                       LEFT JOIN TB_COLI_RCVE E ON C.NTFC_NO = E.NTFC_NO AND E.DEL_YN = 'N'
           WHERE  A.DEL_YN = 'N'                                 /** Suppression ON !== 삭제여부 ==! */
             AND  A.DEL_YN = B.DEL_YN
             AND  A.NTFC_NO = B.NTFC_NO
             AND  B.NTFC_NO = C.NTFC_NO
             AND  A.FINE_RELE_RQST_NO = #{fineReleRqstNo}        /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
    </select>

    <!--
    Voir la liste des Gérer les annulations d'amende !== 벌금해제관리 목록 조회 ==!
    -->
    <select id="selectColFineReleMgmtList" parameterType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo" resultType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo">
        /* ColFineReleMgmt_selectColFineReleMgmtList */
        <include refid="pagination.header" />
            SELECT
                  A.FINE_RELE_RQST_NO          /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
                , A.CSTM_CD                    /** Code du bureau !== 세관코드 ==! */
                , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM                    /** Code du bureau !== 세관명 ==! */
                , A.NTFC_NO                    /** N° d'avis !== 고지번호 ==! */
                , B.TXPR_IDFY_NO_TP_CD         /** Code de catérogie de NIU !== 납세자식별번호구분코드 ==! */
                , B.TXPR_IDFY_NO_TP_NM         /** Nom du catégorie de NIF !== 납세자식별번호구분명 ==! */
                , B.TXPR_IDFY_NO               /** NIU !== 납세자식별번호 ==! */
                , TO_CHAR(TO_DATE(A.RQST_DT,'YYYYMMDD'),'DD/MM/YYYY')  AS RQST_DT                  /** Date de demande !== 신청일자 ==! */
                , A.REPN_ID                    /** ID de la personne demandant !== 신청자ID ==! */
                , A.FINE_RELE_RSN_CN           /** Contenu du motif d'annulation d'amende !== 벌금해제사유내용 ==! */
                , A.APRV_ID                    /** ID d'approbation  !== 결재ID ==! */
                , A.ATCH_FILE_ID               /** ID de la pièce jointe !== 첨부파일ID ==! */
                , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
                , TO_CHAR(TO_DATE(C.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT                        /** Date de notification !== 고지일자 ==! */
                , TO_CHAR(TO_DATE(C.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT                /** Délai de paiement !== 납부기한일자 ==! */
                , B.FINE_AMT                   /** Montant d'amende !== 벌금금액 ==! */
                , B.DCER_CD                    /** Code du déclarant !== 신고인코드 ==! */
                , D.APRV_PRCS_STTS_CD          /** Code de statut du traitement d'approbation !== 결재처리상태코드 ==! */
                , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = D.APRV_RQST_EMP_PBSR_NO) AS REPN      /** N° de matricule solde du demandeur d'approbation !== 결재신청직원공무원번호 ==! */
                , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = D.APRV_EMP_PBSR_NO) AS APRV_APPN      /** N° de matricule solde de l'approbateur !== 결재직원공무원번호 ==! */
                , TO_CHAR(D.APRV_PRCS_DTTM, 'DD/MM/YYYY') APRV_PRCS_DTTM        /** Date et heure du traitement de l'approbation !== 결재처리일시 ==! */
                , B.REFF_NO_PT_CD
                , B.REFF_NO
                , C.RCVE_YN                    /** Encaisse (ON) !== 수납여부 ==! */
                , TO_CHAR(TO_DATE(C.CNCL_DT,'YYYYMMDD'),'DD/MM/YYYY') AS CNCL_DT    /** Date D'Annulation !== 취소일자 ==! */
                , E.RCVE_NO
                , TO_CHAR(TO_DATE(E.RCVE_DT,'YYYYMMDD'), 'DD/MM/YYYY') AS RCVE_DT
                , E.RCVE_AMT
            FROM   TB_COLI_FINE_RELE_RQST A
                 , TB_COLI_FINE B
                 , TB_COLI_NTFC C
                    LEFT JOIN TB_COLI_RCVE E ON C.NTFC_NO = E.NTFC_NO AND E.DEL_YN = 'N'
                 , (
                    SELECT
                           G.APRV_ID                    /** ID d'approbation  !== 결재ID ==! */
                         , G.APRV_RQST_EMP_PBSR_NO      /** N° de matricule solde du demandeur d'approbation !== 결재신청직원공무원번호 ==! */
                         , H.APRV_SRNO                  /** N° de série de l'approbation !== 결재일련번호 ==! */
                         , G.APRV_PRCS_STTS_CD          /** Code de statut du traitement d'approbation !== 결재처리상태코드 ==! */
                         , H.APRV_EMP_PBSR_NO           /** N° de matricule solde de l'approbateur !== 결재직원공무원번호 ==! */
                         , H.APRV_PRCS_DTTM             /** Date et heure du traitement de l'approbation !== 결재처리일시 ==! */
                    FROM   TB_POTI_APRV G
                         , TB_POTI_APRV_D H
                    WHERE  G.APRV_ID = H.APRV_ID        /** ID d'approbation  !== 결재ID ==! */
                    AND    G.DEL_YN = 'N'
                    AND    G.BSOP_CLSF_CD = 'COL'
                    AND    G.APRV_BSOP_TP_CD = 'C05'
                    AND    H.APRV_SRNO = (SELECT MAX(APRV_SRNO) FROM TB_POTI_APRV_D WHERE APRV_ID = G.APRV_ID)
                  ) D
           WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  A.DEL_YN = B.DEL_YN
             AND  A.NTFC_NO = B.NTFC_NO
             AND  B.NTFC_NO = C.NTFC_NO
             AND  A.APRV_ID = D.APRV_ID(+)
            <if test="sctrCd != null and sctrCd != ''">
                AND  A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
            </if>
            <if test='cstmCd != null and cstmCd !=""'>
                AND  A.CSTM_CD = #{cstmCd}
            </if>
            <if test='deptCd != null and deptCd !=""'>
                AND  (A.DEPT_CD = #{deptCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                                                                  OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
						 THEN C.NTFC_PT_CD = 'A'
						 ELSE C.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
            </if>
            <if test="uprOrgnCd != null and uprOrgnCd != ''">
                AND  A.CSTM_CD = #{uprOrgnCd}
            </if>
            <if test="orgnCd != null and orgnCd != ''">
                AND  (A.DEPT_CD = #{orgnCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                            OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) = 'C'
						 THEN C.NTFC_PT_CD = 'A'
						 ELSE C.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
            </if>
             <if test="aprvPrcsSttsCd != null and aprvPrcsSttsCd != ''">
             AND  D.APRV_PRCS_STTS_CD = #{aprvPrcsSttsCd}
             </if>
             <if test="repn != null and repn != ''">
             AND  D.APRV_RQST_EMP_PBSR_NO = #{repn}
             </if>
             <if test="aprvAppn != null and aprvAppn != ''">
             AND  D.APRV_EMP_PBSR_NO = #{aprvAppn}
             </if>
             <if test="aprvDtTo != null and aprvDtTo != '' and aprvDtFrom != null and aprvDtFrom != ''">
             AND  D.APRV_PRCS_DTTM BETWEEN TO_DATE(#{aprvDtFrom},'DD/MM/YYYY')+000001 AND TO_DATE(#{aprvDtTo},'DD/MM/YYYY')+235959        /** Date et heure du traitement de l'approbation !== 결재처리일시 ==! */
             </if>
             <if test="txprIdfyNo != null and txprIdfyNo != ''">
             AND B.TXPR_IDFY_NO LIKE #{txprIdfyNo} || '%'                 /** NIU !== 납세자식별번호 ==! */
             </if>
             <if test="rqstDtFrom != null and rqstDtFrom != ''">
                 <if test="rqstDtTo != null and rqstDtTo != ''">
                 AND A.RQST_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')        /** Date de demande !== 신청일자 ==! */
                 </if>
             </if>
             <if test="ntfcNo != null and ntfcNo != ''">
             AND A.NTFC_NO LIKE #{ntfcNo} || '%'                          /** N° d'avis !== 고지번호 ==! */
             </if>
             <if test="aprvId != null and aprvId != ''">
             AND A.APRV_ID = #{aprvId}                           /** ID d'approbation  !== 결재ID ==! */
             </if>
             <if test="fineReleRqstNo != null and fineReleRqstNo != ''">
             AND A.FINE_RELE_RQST_NO LIKE #{fineReleRqstNo}  || '%'        /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
             </if>
             <if test="reffNoPtCd != null and reffNoPtCd != ''">
             AND  B.REFF_NO_PT_CD = #{reffNoPtCd}       /** Code de type de numero de reference !== 참조번호유형코드 ==! */
             </if>
             <if test="reffNo != null and reffNo != ''">
             AND  (B.REFF_NO LIKE #{reffNo} || '%' OR B.REFF_NO LIKE REPLACE(#{reffNo},'-','') || '%')       /** N° de référence !== 참조번호 ==! */
             </if>
             <if test="txprIdfyNoTpCd != null and txprIdfyNoTpCd != ''">
                AND  B.TXPR_IDFY_NO_TP_CD = #{txprIdfyNoTpCd}    /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
             </if>

        ORDER BY A.RQST_DT DESC, A.FRST_RGSR_DTTM DESC
        <include refid="pagination.footer" />
    </select>


    <!--
    Enregistrement de la Gérer les annulations d'amende !== 벌금해제관리 등록 ==!
    -->
    <insert id="insertColFineReleMgmt" parameterType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo">
        /* ColFineReleMgmt_insertColFineReleMgmt */
        WITH UPSERT AS
        (
            UPDATE TB_COLI_FINE_RELE_RQST SET
                  CSTM_CD = #{cstmCd}                         /** Code du bureau !== 세관코드 ==! */
                , DEPT_CD = #{deptCd}                         /** Code de service !== 부서코드 ==! */
                , NTFC_NO = #{ntfcNo}                         /** N° d'avis !== 고지번호 ==! */
                , RQST_DT = TO_CHAR(SYSDATE,'YYYYMMDD')       /** Date de demande !== 신청일자 ==! */
                , REPN_ID = #{frstRegstId}                    /** ID de la personne demandant !== 신청자ID ==! */
                , FINE_RELE_RSN_CN = #{fineReleRsnCn}         /** Contenu du motif d'annulation d'amende !== 벌금해제사유내용 ==! */
                , ATCH_FILE_ID = #{atchFileId}                /** ID de la pièce jointe !== 첨부파일ID ==! */
                , DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
                , FRST_REGST_ID = #{frstRegstId}              /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , FRST_RGSR_DTTM = SYSTIMESTAMP               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
            WHERE FINE_RELE_RQST_NO = #{fineReleRqstNo}
                RETURNING *
        )
        INSERT INTO TB_COLI_FINE_RELE_RQST
        (
              FINE_RELE_RQST_NO            /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
            , CSTM_CD                      /** Code du bureau !== 세관코드 ==! */
            , DEPT_CD                      /** Code de service !== 부서코드 ==! */
            , NTFC_NO                      /** N° d'avis !== 고지번호 ==! */
            , RQST_DT                      /** Date de demande !== 신청일자 ==! */
            , REPN_ID                      /** ID de la personne demandant !== 신청자ID ==! */
            , FINE_RELE_RSN_CN             /** Contenu du motif d'annulation d'amende !== 벌금해제사유내용 ==! */
            , ATCH_FILE_ID                 /** ID de la pièce jointe !== 첨부파일ID ==! */
            , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
            , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
        )
        SELECT
              #{fineReleRqstNo}            /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
            , #{cstmCd}                    /** Code du bureau !== 세관코드 ==! */
            , #{deptCd}                    /** Code de service !== 부서코드 ==! */
            , #{ntfcNo}                    /** N° d'avis !== 고지번호 ==! */
            , TO_CHAR(SYSDATE,'YYYYMMDD')  /** Date de demande !== 신청일자 ==! */
            , #{frstRegstId}               /** ID de la personne demandant !== 신청자ID ==! */
            , #{fineReleRsnCn}             /** Contenu du motif d'annulation d'amende !== 벌금해제사유내용 ==! */
            , #{atchFileId}                /** ID de la pièce jointe !== 첨부파일ID ==! */
            , 'N'                          /** Suppression ON !== 삭제여부 ==! */
            , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
            , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE NOT EXISTS(SELECT * FROM UPSERT)
    </insert>


    <!--
    Modifier la Gérer les annulations d'amende !== 벌금해제관리 수정 ==!
    -->
    <update id="updateColFineReleMgmt" parameterType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo">
        /* ColFineReleMgmt_updateColFineReleMgmt */
        UPDATE  TB_COLI_FINE_RELE_RQST SET
        <trim prefixOverrides="," >
                  CSTM_CD = #{cstmCd}                         /** Code du bureau !== 세관코드 ==! */
                , DEPT_CD = #{deptCd}                         /** Code de service !== 부서코드 ==! */
                , NTFC_NO = #{ntfcNo}                         /** N° d'avis !== 고지번호 ==! */
                , RQST_DT = TO_CHAR(SYSDATE,'YYYYMMDD')       /** Date de demande !== 신청일자 ==! */
                , REPN_ID = #{lastChprId}                     /** ID de la personne demandant !== 신청자ID ==! */
                , FINE_RELE_RSN_CN = #{fineReleRsnCn}         /** Contenu du motif d'annulation d'amende !== 벌금해제사유내용 ==! */
                , ATCH_FILE_ID = #{atchFileId}                /** ID de la pièce jointe !== 첨부파일ID ==! */
                , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        </trim>
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  FINE_RELE_RQST_NO = #{fineReleRqstNo}       /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
    </update>


    <!--
    Supprimer la Gérer les annulations d'amende !== 벌금해제관리 삭제 ==!
    -->
    <update id="deleteColFineReleMgmt" parameterType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo">
        /* ColFineReleMgmt_deleteColFineReleMgmt */
        UPDATE  TB_COLI_FINE_RELE_RQST SET
                DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
             ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
             ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
         WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
           AND  FINE_RELE_RQST_NO = #{fineReleRqstNo}         /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
    </update>

    <!--
    Demande d'approbation de l'annulation d'amende (Enregistrement de l'ID de l'approbation) !== 벌금해제 결재요청(결재ID등록) ==!
    -->
    <update id="updateColFineReleMgmtAprvRqst" parameterType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo">
        /* ColFineReleMgmt_updateColFineReleMgmtAprvRqst */
        UPDATE  TB_COLI_FINE_RELE_RQST SET
                  APRV_ID = #{aprvId}                         /** ID d'approbation  !== 결재ID ==! */
               ,  LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
               ,  LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  FINE_RELE_RQST_NO = #{fineReleRqstNo}       /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
    </update>

    <!--
    Acceptation de l'approbation de l'annulation d'amende (annulation d'avis de paiement des amendes) !== 벌금해제 결재승인(벌금고지 취소) ==!
    -->
    <update id="updateColFineReleMgmtAprvApre" parameterType="alpass.ipt.col.fine.vo.ColFineReleMgmtVo">
        /* ColFineReleMgmt_updateColFineReleMgmtAprvApre */
        UPDATE  TB_COLI_NTFC SET
			    CNCL_YN = 'Y'                            /** Annulé (ON) !== 취소여부 ==! */
              , CNCL_DT = TO_CHAR(SYSDATE,'YYYYMMDD')
			  , NTFC_CNCL_RSN_CD = 'C'                   /** Code de motif d’annulation d’avis !== 고지취소사유코드 ==! */
			  , NTFC_PRCS_STTS_CD = 'H06'                /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
			  , LAST_CHPR_ID = #{lastChprId}             /** ID du modificateur final !== 최종변경자ID ==! */
              , LAST_CHG_DTTM = SYSTIMESTAMP             /** Date et heure de modification finale !== 최종변경일시 ==! */
         WHERE  DEL_YN = 'N'
           AND  NTFC_NO = (
                            SELECT NTFC_NO
                              FROM TB_COLI_FINE_RELE_RQST
                             WHERE FINE_RELE_RQST_NO = #{fineReleRqstNo}
                          )
    </update>

    <!--
    Consultation de l'avis de paiement avec le n° de demande d'annulation des amendes !== 벌금해제요청 번호로 고지번호 조회 ==!
    -->
    <select id="selectColFineReleMgmtNtfcNo" parameterType="string" resultType="alpass.ipt.col.com.vo.ColNtfcVo">
        /* ColFineReleMgmt_selectColFineReleMgmtNtfcNo */
            SELECT
                   A.NTFC_NO                    /** N° d'avis !== 고지번호 ==! */
                 , B.RCVE_YN                    /** Encaissé (ON) !== 수납여부 ==! */
                 , B.CNCL_YN                    /** Annulé (ON) !== 취소여부 ==! */
                 , B.TXPR_IDFY_NO               /** NIU !== 납세자식별번호 ==! */
                 , B.CSTM_CD                    /** Code du bureau !== 세관코드 ==! */
                 , B.REFF_NO_PT_CD              /** Code de type de numero de reference !== 참조번호유형코드 ==! */
                 , B.REFF_NO                    /** N° de reference !== 참조번호 ==! */
            FROM   TB_COLI_FINE_RELE_RQST A
                 , TB_COLI_NTFC B
           WHERE   A.DEL_YN = 'N'               /** Suppression ON !== 삭제여부 ==! */
             AND   B.DEL_YN = 'N'
             AND   A.NTFC_NO = B.NTFC_NO
             AND   A.FINE_RELE_RQST_NO = #{value}        /** N° de demande d'annulation d'amende !== 벌금해제신청번호 ==! */
    </select>

</mapper>