<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alpass.ipt.col.fine.mapper.ColFineOpinLstMapper">

    <!--
    Voir la liste des Voir la liste des contestations sur le montant d'amende !== 벌금의견목록조회 목록 조회 ==!
    -->
    <select id="selectColFineOpin" parameterType="alpass.ipt.col.fine.vo.ColFineOpinLstVo" resultType="alpass.ipt.col.fine.vo.ColFineOpinLstVo">
        /* ColFineOpinLst_selectColFineOpin */
            SELECT
                  A.FINE_LVY_RQST_NO           /** N° de demande d'imposition d'amende !== 벌금부과신청번호 ==! */
                , A.OPIN_DGCNT                 /** Nombre de fois d'opinion !== 의견차수 ==! */
                , A.CSTM_CD                    /** Code du bureau !== 세관코드 ==! */
                , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM                    /** Code du bureau !== 세관명 ==! */
                , B.TXPR_IDFY_NO_TP_CD         /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
                , B.TXPR_IDFY_NO_TP_NM         /** Nom du catégorie de NIF !== 납세자식별번호구분명 ==! */
                , B.TXPR_IDFY_NO               /** NIU !== 납세자식별번호 ==! */
                , TO_CHAR(TO_DATE(B.RQST_DT,'YYYYMMDD'),'DD/MM/YYYY') RQST_DT                   /** Date de demande !== 신청일자 ==! */
                , CASE WHEN A.OPIN_DGCNT = (SELECT MAX(OPIN_DGCNT) FROM TB_COLI_FINE_OBJT_LDGG WHERE DEL_YN = 'N' AND FINE_LVY_RQST_NO = A.FINE_LVY_RQST_NO)
                       THEN B.FINE_AMT ELSE NVL(D.FINE_AMT, B.FINE_AMT) END AS FINE_AMT         /** Montant d'amende !== 벌금금액 ==! */                
                , A.OPIN_CN                    /** Contenu de l'opinion !== 의견내용 ==! */
                , TO_CHAR(A.RGSR_DTTM,'DD/MM/YYYY') AS RGSR_DTTM     /** Date et heure de l'enregistrement !== 등록일시 ==! */
                , A.ANSW_CN                    /** Contenu de la réponse !== 답변내용 ==! */
                , A.ATCH_FILE_ID               /** Date et heure de modification finale !== 첨부파일ID ==! */
                , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
                , C.APRV_PRCS_STTS_CD          /** Code de statut du traitement d'approbation !== 결재처리상태코드 ==! */
                , CASE WHEN (C.APRV_PRCS_STTS_CD IN ('I02','I05') OR C.APRV_PRCS_STTS_CD IS NULL)  
                        AND A.OPIN_DGCNT = (SELECT MAX(OPIN_DGCNT) FROM TB_COLI_FINE_OBJT_LDGG WHERE DEL_YN = 'N' AND FINE_LVY_RQST_NO = A.FINE_LVY_RQST_NO)
                       THEN 'Y' ELSE 'N' END AS BUTTON_YN     
                , (SELECT FINE_AMT FROM TB_COLI_FINE_RQST_HIST WHERE DEL_YN = 'N' AND FINE_LVY_RQST_NO = #{fineLvyRqstNo} AND RQST_DGCNT = 1) AS OFINE_AMT
                , ABS(NVL((SELECT SUM(FINE_AMT) FROM TB_COLI_FINE_BSS_RQST_HIST WHERE DEL_YN = 'N' AND FINE_LVY_RQST_NO = #{fineLvyRqstNo} AND RQST_DGCNT=TO_NUMBER(#{opinDgcnt}+1)),B.FINE_AMT) -
                  (SELECT FINE_AMT FROM TB_COLI_FINE_RQST_HIST WHERE DEL_YN = 'N' AND FINE_LVY_RQST_NO = #{fineLvyRqstNo} AND RQST_DGCNT = 1) ) AS ADJU_FINE_AMT
            FROM   TB_COLI_FINE_OBJT_LDGG A
                 , TB_COLI_FINE_RQST B
                 , (
                    SELECT 
                           G.APRV_ID                    /** ID d'approbation  !== 결재ID ==! */
                         , G.APRV_RQST_EMP_PBSR_NO      /** N° de matricule solde du demandeur d'approbation !== 결재신청직원공무원번호 ==! */
                         , H.APRV_SRNO                  /** N° de série de l'approbation !== 결재일련번호 ==! */                         
                         , G.APRV_PRCS_STTS_CD          /** Code de statut du traitement d'approbation !== 결재처리상태코드 ==! */
                         , H.APRV_EMP_PBSR_NO           /** N° de matricule solde de l'approbateur !== 결재직원공무원번호 ==! */
                         , H.APRV_PRCS_DTTM             /** Date et heure du traitement de l'approbation !== 결재처리일시 ==! */
                    FROM   TB_POTI_APRV G
                         , TB_POTI_APRV_D H
                    WHERE  G.APRV_ID = H.APRV_ID        /** ID d'approbation  !== 결재ID ==! */
                    AND    G.DEL_YN = 'N'
                    AND    H.APRV_SRNO = (SELECT MAX(APRV_SRNO) FROM TB_POTI_APRV_D WHERE APRV_ID = G.APRV_ID)                    
                  ) C
                  , TB_COLI_FINE_RQST_HIST D                 
           WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  A.DEL_YN = B.DEL_YN             
             AND  A.FINE_LVY_RQST_NO = B.FINE_LVY_RQST_NO
             AND  B.APRV_ID = C.APRV_ID(+)
             AND  A.FINE_LVY_RQST_NO = D.FINE_LVY_RQST_NO(+)
             AND  A.OPIN_DGCNT = D.RQST_DGCNT(+)
             AND  A.FINE_LVY_RQST_NO = #{fineLvyRqstNo}         /** N° de demande d'imposition d'amende !== 벌금부과신청번호 ==! */
             AND  A.OPIN_DGCNT = #{opinDgcnt}                   /** Nombre de fois d'opinion !== 의견차수 ==! */
    </select>
    
    <!--
    Voir la liste des Voir la liste des contestations sur le montant d'amende !== 벌금의견목록조회 목록 조회 ==!
    -->
    <select id="selectColFineOpinLstList" parameterType="alpass.ipt.col.fine.vo.ColFineOpinLstVo" resultType="alpass.ipt.col.fine.vo.ColFineOpinLstVo">
        /* ColFineOpinLst_selectColFineOpinLstList */
        <include refid="pagination.header" />
            SELECT
                  A.FINE_LVY_RQST_NO           /** N° de demande d'imposition d'amende !== 벌금부과신청번호 ==! */
                , A.OPIN_DGCNT                 /** Nombre de fois d'opinion !== 의견차수 ==! */
                , A.CSTM_CD                    /** Code du bureau !== 세관코드 ==! */
                , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM                    /** Code du bureau !== 세관명 ==! */
                , B.TXPR_IDFY_NO_TP_CD         /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
                , B.TXPR_IDFY_NO_TP_NM         /** Nom du catégorie de NIF !== 납세자식별번호구분명 ==! */
                , B.TXPR_IDFY_NO               /** NIU !== 납세자식별번호 ==! */
                , B.TXPR_NM                    /** Nom du responsable financier !== 납세자명 ==! */
                , TO_CHAR(TO_DATE(B.RQST_DT,'YYYYMMDD'),'DD/MM/YYYY') RQST_DT                   /** Date de demande !== 신청일자 ==! */
                , CASE WHEN A.OPIN_DGCNT = (SELECT MAX(OPIN_DGCNT) FROM TB_COLI_FINE_OBJT_LDGG WHERE DEL_YN = 'N' AND FINE_LVY_RQST_NO = A.FINE_LVY_RQST_NO)
                       THEN B.FINE_AMT ELSE NVL(
                                                (SELECT FINE_AMT FROM TB_COLI_FINE_RQST_HIST WHERE DEL_YN='N' AND FINE_LVY_RQST_NO = A.FINE_LVY_RQST_NO AND RQST_DGCNT = A.OPIN_DGCNT+1)
                                                , B.FINE_AMT) END AS FINE_AMT         /** Montant d'amende !== 벌금금액 ==! */                
                , A.OPIN_CN                    /** Contenu de l'opinion !== 의견내용 ==! */
                , TO_CHAR(A.RGSR_DTTM,'DD/MM/YYYY') AS RGSR_DTTM     /** Date et heure de l'enregistrement !== 등록일시 ==! */
                , A.ANSW_CN                    /** Contenu de la réponse !== 답변내용 ==! */
                , A.ATCH_FILE_ID               /** Date et heure de modification finale !== 첨부파일ID ==! */
                , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
                , CASE WHEN A.OPIN_DGCNT = (SELECT MAX(OPIN_DGCNT) FROM TB_COLI_FINE_OBJT_LDGG WHERE DEL_YN = 'N' AND FINE_LVY_RQST_NO = A.FINE_LVY_RQST_NO) 
                       THEN C.APRV_PRCS_STTS_CD
                       ELSE 'I04' END AS APRV_PRCS_STTS_CD        /** Code de statut du traitement d'approbation !== 결재처리상태코드 ==! */
                , CASE WHEN (C.APRV_PRCS_STTS_CD IN ('I02','I05') OR C.APRV_PRCS_STTS_CD IS NULL)  
                        AND A.OPIN_DGCNT = (SELECT MAX(OPIN_DGCNT) FROM TB_COLI_FINE_OBJT_LDGG WHERE DEL_YN = 'N' AND FINE_LVY_RQST_NO = A.FINE_LVY_RQST_NO)
                       THEN 'Y' ELSE 'N' END AS BUTTON_YN
                , D.FINE_AMT AS OFINE_AMT
                , ABS(B.FINE_AMT - D.FINE_AMT) AS ADJU_FINE_AMT
                , B.REFF_NO_PT_CD
                , B.REFF_NO
            FROM   TB_COLI_FINE_OBJT_LDGG A
                 , TB_COLI_FINE_RQST B
                 , (
                    SELECT 
                           G.APRV_ID                    /** ID d'approbation  !== 결재ID ==! */
                         , G.APRV_RQST_EMP_PBSR_NO      /** N° de matricule solde du demandeur d'approbation !== 결재신청직원공무원번호 ==! */
                         , H.APRV_SRNO                  /** N° de série de l'approbation !== 결재일련번호 ==! */                         
                         , G.APRV_PRCS_STTS_CD          /** Code de statut du traitement d'approbation !== 결재처리상태코드 ==! */
                         , H.APRV_EMP_PBSR_NO           /** N° de matricule solde de l'approbateur !== 결재직원공무원번호 ==! */
                         , H.APRV_PRCS_DTTM             /** Date et heure du traitement de l'approbation !== 결재처리일시 ==! */
                    FROM   TB_POTI_APRV G
                         , TB_POTI_APRV_D H
                    WHERE  G.APRV_ID = H.APRV_ID        /** ID d'approbation  !== 결재ID ==! */
                    AND    G.DEL_YN = 'N'
                    AND    H.APRV_SRNO = (SELECT MAX(APRV_SRNO) FROM TB_POTI_APRV_D WHERE APRV_ID = G.APRV_ID)                    
                  ) C
                  , TB_COLI_FINE_RQST_HIST D                 
           WHERE  A.DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
             AND  A.DEL_YN = B.DEL_YN             
             AND  A.FINE_LVY_RQST_NO = B.FINE_LVY_RQST_NO
             AND  B.APRV_ID = C.APRV_ID(+)
             AND  A.FINE_LVY_RQST_NO = D.FINE_LVY_RQST_NO(+)
             AND  A.OPIN_DGCNT = D.RQST_DGCNT(+)

            <if test="uprOrgnCd != null and uprOrgnCd != ''">
                AND  A.CSTM_CD = #{uprOrgnCd}
            </if>
            <if test="orgnCd != null and orgnCd != ''">
                AND  A.DEPT_CD = #{orgnCd}
            </if>
             
			 <!--<if test='searchAllYn == null or searchAllYn !="Y" '>
 			 AND  A.CSTM_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{sessPbsrNo}))
			 </if>-->
             <if test="cstmCd != null and cstmCd != ''">
             AND  A.CSTM_CD = #{cstmCd}
             </if>
             <if test="rqstDtFrom != null and rqstDtFrom != '' and rqstDtTo != null and rqstDtTo != ''">
             AND B.RQST_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')        /** Date de demande !== 신청일자 ==! */
             </if>
             <if test="txprIdfyNoTpCd != null and txprIdfyNoTpCd != ''">
             AND  B.TXPR_IDFY_NO_TP_CD = #{txprIdfyNoTpCd}    /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
             </if>             
             <if test="txprIdfyNo != null and txprIdfyNo != ''">
             AND  B.TXPR_IDFY_NO LIKE #{txprIdfyNo} || '%'              /** NIU !== 납세자식별번호 ==! */
             </if>             
             <if test="rgsrDttmFrom != null and rgsrDttmFrom != '' and rgsrDttmTo != null and rgsrDttmTo != ''">
             AND A.RGSR_DTTM BETWEEN TO_DATE(#{rgsrDttmFrom},'DD/MM/YYYY') AND TO_DATE(#{rgsrDttmTo},'DD/MM/YYYY')   /** Date et heure de l'enregistrement !== 등록일시 ==! */
             </if>
             <if test="fineLvyRqstNo != null and fineLvyRqstNo != ''">
             AND  A.FINE_LVY_RQST_NO LIKE #{fineLvyRqstNo} || '%'       /** N° de demande d'imposition d'amende !== 벌금부과신청번호 ==! */
             </if>
             <if test="reffNoPtCd != null and reffNoPtCd != ''">
             AND  B.REFF_NO_PT_CD = #{reffNoPtCd}       /** Code de type de numero de reference !== 참조번호유형코드 ==! */
             </if>
             <if test="reffNo != null and reffNo != ''">
             AND  (B.REFF_NO LIKE #{reffNo} || '%' OR B.REFF_NO LIKE REPLACE(#{reffNo},'-','') || '%')       /** N° de référence !== 참조번호 ==! */
             </if>
             ORDER BY A.FINE_LVY_RQST_NO DESC, A.OPIN_DGCNT DESC
        <include refid="pagination.footer" />
    </select>


    <!--
    Enregistrement de la Voir la liste des contestations sur le montant d'amende !== 벌금의견목록조회 등록 ==!
    -->
    <insert id="insertColFineOpinLst" parameterType="alpass.ipt.col.fine.vo.ColFineOpinLstVo">
        /* ColFineOpinLst_insertColFineOpinLst */
        INSERT INTO TB_COLI_FINE_OBJT_LDGG
                (
                  FINE_LVY_RQST_NO             /** N° de demande d'imposition d'amende !== 벌금부과신청번호 ==! */
                , OPIN_DGCNT                   /** Nombre de fois d'opinion !== 의견차수 ==! */
                , CSTM_CD                      /** Code du bureau !== 세관코드 ==! */
                , OPIN_CN                      /** Contenu de l'opinion !== 의견내용 ==! */
                , RGSR_DTTM                    /** Date et heure de l'enregistrement !== 등록일시 ==! */
                , ANSW_CN                      /** Contenu de la réponse !== 답변내용 ==! */
                , ATCH_FILE_ID                 /** Date et heure de modification finale !== 첨부파일ID ==! */
                , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
                , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
                , DEPT_CD
                )
                VALUES
                (
                  #{fineLvyRqstNo}             /** N° de demande d'imposition d'amende !== 벌금부과신청번호 ==! */
                , #{opinDgcnt}                 /** Nombre de fois d'opinion !== 의견차수 ==! */
                , #{cstmCd}                    /** Code du bureau !== 세관코드 ==! */
                , #{opinCn}                    /** Contenu de l'opinion !== 의견내용 ==! */
                , #{rgsrDttm}                  /** Date et heure de l'enregistrement !== 등록일시 ==! */
                , #{answCn}                    /** Contenu de la réponse !== 답변내용 ==! */
                , #{atchFileId}                /** Date et heure de modification finale !== 첨부파일ID ==! */
                , 'N'                          /** Suppression ON !== 삭제여부 ==! */
                , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
                , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
                , #{deptCd}
                )
    </insert>


    <!--
    Modifier la Voir la liste des contestations sur le montant d'amende !== 벌금의견목록조회 수정 ==!
    -->
    <update id="updateColFineOpinLst" parameterType="alpass.ipt.col.fine.vo.ColFineOpinLstVo">
        /* ColFineOpinLst_updateColFineOpinLst */
        UPDATE  TB_COLI_FINE_OBJT_LDGG SET 
        <trim prefixOverrides="," >
                  CSTM_CD = #{cstmCd}                         /** Code du bureau !== 세관코드 ==! */
                , DEPT_CD = #{deptCd}
                , OPIN_CN = #{opinCn}                         /** Contenu de l'opinion !== 의견내용 ==! */
                , RGSR_DTTM = #{rgsrDttm}                     /** Date et heure de l'enregistrement !== 등록일시 ==! */
                , ANSW_CN = #{answCn}                         /** Contenu de la réponse !== 답변내용 ==! */
                , ATCH_FILE_ID = #{atchFileId}                /** Date et heure de modification finale !== 첨부파일ID ==! */
                , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        </trim>
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  FINE_LVY_RQST_NO = #{fineLvyRqstNo}         /** N° de demande d'imposition d'amende !== 벌금부과신청번호 ==! */
             AND  OPIN_DGCNT = #{opinDgcnt}                   /** Nombre de fois d'opinion !== 의견차수 ==! */
    </update>


    <!--
    Supprimer la Voir la liste des contestations sur le montant d'amende !== 벌금의견목록조회 삭제 ==!
    -->
    <update id="deleteColFineOpinLst" parameterType="alpass.ipt.col.fine.vo.ColFineOpinLstVo">
        /* ColFineOpinLst_deleteColFineOpinLst */
        UPDATE  TB_COLI_FINE_OBJT_LDGG SET 
                DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
             ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
             ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
         WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
           AND  FINE_LVY_RQST_NO = #{fineLvyRqstNo}           /** N° de demande d'imposition d'amende !== 벌금부과신청번호 ==! */
           AND  OPIN_DGCNT = #{opinDgcnt}                     /** Nombre de fois d'opinion !== 의견차수 ==! */
    </update>

</mapper>