<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Gestion des informations de base !== 기초정보관리 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.basc.mapper.RsmBascInfoMgmtMapper">
    
    <!--
      [Gérer l'information de base] Consulter la liste !== [기초정보관리] 목록조회 ==!
    -->
    <select id="selectBascInfoList" 
        parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo" 
        resultType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">

	    /* selectBascInfoList */
	    <include refid="pagination.header" />

		SELECT T.*
		FROM
		(
			SELECT
				  M.BASC_INFO_RGSR_NO      /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
				, M.BASC_INFO_NM           /* Nom de l'information de base !== 기초정보명 ==! */
				, M.INFO_OBTN_TP_CD        /* Code de la distinction de l'obtention de l'information !== 정보입수구분코드 ==! */
				, M.INFO_OBTN_EMP_ID       /* Identication de l'employé ayant obtenu l'information en quesiton !== 정보입수직원ID ==! */
				, M.INFO_OBTN_ITT_CD       /* Code de l'agence d'acquisition d'informations !== 정보입수기관코드 ==! */
				, FN_GET_CD_VDVAL_NM('RSM_0028', M.INFO_OBTN_ITT_CD, #{langCd}) AS INFO_OBTN_ITT_NM
				, M.INFO_STRT_DT           /* Date du commencement de l'information !== 정보시작일자 ==! */
				, M.INFO_END_DT            /* Date de la fin de l'information !== 정보종료일자 ==! */
				, D.INFO_TRGT_CD           /* Code de l'objet d el'information !== 정보대상코드 ==! */
				, M.VLTN_ACT_PDIV_CN       /* Détails de la partie à la violation !== 위반행위당사자내용 ==! */
				, M.INFO_PLC_NM            /* Nom du lieu de l'information !== 정보장소명 ==! */
				, M.INFO_MEAN_CN           /* Contenu de la méthode de l'information !== 정보방법내용 ==! */
				, M.INFO_RSN_CN            /* Contenu du motif de l'information !== 정보사유내용 ==! */
				, M.INFO_DTL_CN            /* contenu détaillé de l'information !== 정보상세내용 ==! */
				, M.OPPB_YN                /* Ouvert au public O/N !== 공개여부 ==! */
				, M.ATCH_FILE_ID           /* ID du fichier joint !== 첨부파일ID ==! */
				, M.INFO_PRCS_STTS_CD      /* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
				, DECODE(M.INFO_PRCS_STTS_CD, 'J01', 'Y', 'J03', 'Y', 'N') EV_CMPL_YN
				, M.INFO_AVLB_SCR          /* Note du degré de l'utilisation de l'information !== 정보이용도점수 ==! */
				, M.INFO_PERC_SCR          /* Note du degré de propagation de l'information !== 정보파급성점수 ==! */
				, M.INFO_RLBL_SCR          /* Note du degré de la confiance de l'information !== 정보신뢰도점수 ==! */
				, M.RSK_SRSN_SCR           /* Note de la gravité du risque !== 위험심각성점수 ==! */
				, M.OCRN_PSBT_SCR          /* Note de la possibilité de l'apparition !== 발생가능성점수 ==! */
				, M.BASC_INFO_TSCR         /* Note totale de lin'formation de base !== 기초정보총점수 ==! */
				, M.RTRN_RSN_CN            /* Motif De Rejet !== 반려사유내용 ==! */
				, M.ALRT_PT_CD             /** Type d'alerte !== 경보유형코드 ==! */ 
				, M.DEL_YN                 /* Suppression ON !== 삭제여부 ==! */
				, M.TKAC_OPIN_CN           /* Contenu de l'opinion !== 조치의견내용 ==! */
				, (SELECT O.ORGN_CD FROM TB_POTI_ORGN O WHERE O.DEL_YN = 'N' AND O.ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID)) AS RGSR_CSTM_CD
				, (SELECT O.ORGN_NM FROM TB_POTI_ORGN O WHERE O.DEL_YN = 'N' AND O.ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID) ) AS RGSR_CSTM_NM
				, M.FRST_REGST_ID          /* ID du premier enregistrant  !== 최초등록자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID) AS FRST_REGST_NM
				, TO_CHAR(M.FRST_RGSR_DTTM, 'YYYYMMDD') AS FRST_RGSR_DTTM         /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
				, M.LAST_CHPR_ID           /* ID du modificateur final !== 최종변경자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = M.LAST_CHPR_ID) AS LAST_CHPR_NM
				, TO_CHAR(M.LAST_CHG_DTTM, 'YYYYMMDD') AS LAST_CHG_DTTM          /* Date et heure de modification finale !== 최종변경일시 ==! */
			FROM  TB_RSMI_BASC_INFO M, (
				  SELECT BASC_INFO_RGSR_NO
					   , REGEXP_REPLACE(listagg(INFO_TRGT_CD, ',') WITHIN GROUP (ORDER BY INFO_TRGT_CD), '([^,]+)(,\1)+', '\1') AS INFO_TRGT_CD
				  FROM   TB_RSMI_BASC_INFO_D
				  WHERE  del_yn = 'N'
				  GROUP BY BASC_INFO_RGSR_NO
				  ) D
			WHERE M.DEL_YN = 'N'
			AND   M.BASC_INFO_RGSR_NO = D.BASC_INFO_RGSR_NO(+)
			<if test='bascInfoRgsrNo != null and !"".equals(bascInfoRgsrNo)'>
			AND   M.BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}             /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
			</if>

			<if test='bascInfoNm != null and !"".equals(bascInfoNm)'>
			AND   UPPER(M.BASC_INFO_NM) LIKE '%' || UPPER(#{bascInfoNm}) || '%'     /* Nom de l'information de base !== 기초정보명 ==! */
			</if>

			<if test='(searchStrtDt != null and !"".equals(searchStrtDt)) and (searchEndDt != null and !"".equals(searchEndDt))'>
			AND   M.INFO_STRT_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{searchEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') AND M.INFO_END_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{searchStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
			</if>

			<!-- if test='infoTrgtCds != null and infoTrgtCds.length > 0 and !(infoTrgtCds[0].equals("ALL") or infoTrgtCds[infoTrgtCds.length - 1].equals("ALL"))' -->
			<if test='infoTrgtCds != null and infoTrgtCds.length > 0 ' >
				<if test = '!isExistAlrt'>
					AND   EXISTS (SELECT 1 FROM TB_RSMI_BASC_INFO_D WD WHERE WD.BASC_INFO_RGSR_NO = M.BASC_INFO_RGSR_NO AND WD.INFO_TRGT_CD IN
						<foreach item="item" index="index" collection="infoTrgtCds" open="(" close=")" separator=",">
						#{item} /* Code de l'objet d el'information !== 정보대상코드 ==! */
						</foreach>
					    AND M.ALRT_PT_CD IS NULL
				  	)
				</if>
				<if test = 'isExistAlrt'>
					AND   EXISTS (SELECT 1 FROM TB_RSMI_BASC_INFO_D WD WHERE WD.BASC_INFO_RGSR_NO = M.BASC_INFO_RGSR_NO AND WD.INFO_TRGT_CD IN
					<foreach item="item" index="index" collection="infoTrgtCds" open="(" close=")" separator=",">
						#{item} 			/* Code de l'objet d el'information !== 정보대상코드 ==! */
					</foreach>
						OR M.ALRT_PT_CD IS NOT NULL
					)

				</if>
			</if>

		    <if test = 'infoTrgtCds == null or infoTrgtCds.length == 0 ' >
				<if test = 'isExistAlrt'>
					AND M.ALRT_PT_CD IS NOT NULL 				/** Type d'alerte !== 경보유형코드 ==! */
				</if>
			</if>

			<if test='infoPrcsSttsCds != null and infoPrcsSttsCds.length > 0 and !(infoPrcsSttsCds[0].equals("ALL") or infoPrcsSttsCds[infoPrcsSttsCds.length - 1].equals("ALL"))'>
				<foreach item="item" collection="infoPrcsSttsCds" open="AND   INFO_PRCS_STTS_CD IN (" close=")" separator=",">
				#{item} 					/* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
				</foreach>
			</if>

			<if test='infoPrcsSttsCd != null and !"".equals(infoPrcsSttsCd)'>
				AND M.INFO_PRCS_STTS_CD = #{infoPrcsSttsCd} 		/** Code De L'État Du Traitement De L'Information !== 정보처리상태코드 ==! */
			</if>

			<if test='infoObtnTpCd != null and !"".equals(infoObtnTpCd)'>
				AND M.INFO_OBTN_TP_CD = #{infoObtnTpCd} 			/** Code De La Distinction De L'Obtention De L'Information !== 정보입수구분코드 ==! */
			</if>

			<if test='scrnTp != null and "bascInfoEv".equals(scrnTp)' >
				AND M.INFO_PRCS_STTS_CD NOT IN ('K01') 				/** Code De L'État Du Traitement De L'Information !== 정보처리상태코드 ==! */
			</if>

			<if test='scrnTp != null and "rskInfoInqt".equals(scrnTp)' >
				AND M.INFO_PRCS_STTS_CD = 'J04' 					/** Code De L'État Du Traitement De L'Information !== 정보처리상태코드 ==! */
			</if>

			<if test='hasViewRole != null and "N".equals(hasViewRole)' >
				AND M.OPPB_YN = 'Y' 								/** Ouvert Au Public O/N !== 공개여부 ==! */
			</if>

			<if test='scrnTp != null and ("bascInfoRgsr".equals(scrnTp) or "rskInfoInqt".equals(scrnTp)) and regstId != null and !"".equals(regstId)'>
				AND M.FRST_REGST_ID = #{regstId} 					/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			</if>
			ORDER BY M.FRST_RGSR_DTTM DESC
		) T
	    WHERE 1 = 1
		<if test='scrnTp != null and ("bascInfoRgsr".equals(scrnTp) or "rskInfoInqt".equals(scrnTp)) and regstCstmCd != null and !"".equals(regstCstmCd)'>
			AND T.RGSR_CSTM_CD = #{regstCstmCd}
		</if>

	    <include refid="pagination.footer" />

    </select>

	<!--
      Consulter la liste d'approbation des informations de base !== 기초정보 승인 목록 조회 ==!
    -->
	<select id="selectBascInfoApreList"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo"
		resultType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">
		/* selectBascInfoApreList */
		<include refid="pagination.header" />
			SELECT T.*
			FROM
			(
				SELECT
					  M.BASC_INFO_RGSR_NO      /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
					, M.BASC_INFO_NM           /* Nom de l'information de base !== 기초정보명 ==! */
					, M.INFO_OBTN_TP_CD        /* Code de la distinction de l'obtention de l'information !== 정보입수구분코드 ==! */
					, M.INFO_OBTN_EMP_ID       /* Identication de l'employé ayant obtenu l'information en quesiton !== 정보입수직원ID ==! */
					, M.INFO_OBTN_ITT_CD       /* Code de l'agence d'acquisition d'informations !== 정보입수기관코드 ==! */
					, FN_GET_CD_VDVAL_NM('RSM_0028', M.INFO_OBTN_ITT_CD, #{langCd}) AS INFO_OBTN_ITT_NM
					, M.INFO_STRT_DT           /* Date du commencement de l'information !== 정보시작일자 ==! */
					, M.INFO_END_DT            /* Date de la fin de l'information !== 정보종료일자 ==! */
					, D.INFO_TRGT_CD           /* Code de l'objet d el'information !== 정보대상코드 ==! */
					, M.VLTN_ACT_PDIV_CN       /* Détails de la partie à la violation !== 위반행위당사자내용 ==! */
					, M.INFO_PLC_NM            /* Nom du lieu de l'information !== 정보장소명 ==! */
					, M.INFO_MEAN_CN           /* Contenu de la méthode de l'information !== 정보방법내용 ==! */
					, M.INFO_RSN_CN            /* Contenu du motif de l'information !== 정보사유내용 ==! */
					, M.INFO_DTL_CN            /* contenu détaillé de l'information !== 정보상세내용 ==! */
					, M.OPPB_YN                /* Ouvert au public O/N !== 공개여부 ==! */
					, M.ATCH_FILE_ID           /* ID du fichier joint !== 첨부파일ID ==! */
					, M.INFO_PRCS_STTS_CD      /* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
					, DECODE(M.INFO_PRCS_STTS_CD, 'J01', 'Y', 'J03', 'Y', 'N') EV_CMPL_YN
					, M.INFO_AVLB_SCR          /* Note du degré de l'utilisation de l'information !== 정보이용도점수 ==! */
					, M.INFO_PERC_SCR          /* Note du degré de propagation de l'information !== 정보파급성점수 ==! */
					, M.INFO_RLBL_SCR          /* Note du degré de la confiance de l'information !== 정보신뢰도점수 ==! */
					, M.RSK_SRSN_SCR           /* Note de la gravité du risque !== 위험심각성점수 ==! */
					, M.OCRN_PSBT_SCR          /* Note de la possibilité de l'apparition !== 발생가능성점수 ==! */
					, M.BASC_INFO_TSCR         /* Note totale de lin'formation de base !== 기초정보총점수 ==! */
					, M.RTRN_RSN_CN            /* Motif De Rejet !== 반려사유내용 ==! */
					, M.ALRT_PT_CD             /* Type d'alerte !== 경보유형코드 ==! */
					, M.DEL_YN                 /* Suppression ON !== 삭제여부 ==! */
					, M.TKAC_OPIN_CN           /* Contenu de l'opinion !== 조치의견내용 ==! */
					, (SELECT O.ORGN_CD FROM TB_POTI_ORGN O WHERE O.DEL_YN = 'N' AND O.ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID)) AS RGSR_CSTM_CD 		/** Code De Douane Qui Enregistre !== 등록세관코드 ==! */
					, (SELECT O.ORGN_NM FROM TB_POTI_ORGN O WHERE O.DEL_YN = 'N' AND O.ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID) ) AS RGSR_CSTM_NM 		/** Nom du Code De Douane Qui Enregistre !== 등록세관명 ==! */
					, M.FRST_REGST_ID          /* ID du premier enregistrant  !== 최초등록자ID ==! */
					, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID) AS FRST_REGST_NM
					, TO_CHAR(M.FRST_RGSR_DTTM, 'YYYYMMDD') AS FRST_RGSR_DTTM         /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
					, M.LAST_CHPR_ID           /* ID du modificateur final !== 최종변경자ID ==! */
					, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = M.LAST_CHPR_ID) AS LAST_CHPR_NM
					, TO_CHAR(M.LAST_CHG_DTTM, 'YYYYMMDD') AS LAST_CHG_DTTM          /* Date et heure de modification finale !== 최종변경일시 ==! */
				FROM  TB_RSMI_BASC_INFO M, (
					  SELECT BASC_INFO_RGSR_NO
						   , ARRAY_TO_STRING(ARRAY_AGG(DISTINCT INFO_TRGT_CD ORDER BY INFO_TRGT_CD),',') as INFO_TRGT_CD
					  FROM   TB_RSMI_BASC_INFO_D
					  WHERE  del_yn = 'N'
					  GROUP BY BASC_INFO_RGSR_NO
					  ) D
				WHERE M.DEL_YN = 'N'
				AND   M.BASC_INFO_RGSR_NO = D.BASC_INFO_RGSR_NO(+)
				<if test='(searchStrtDt != null and !"".equals(searchStrtDt)) and (searchEndDt != null and !"".equals(searchEndDt))'>
					AND   M.INFO_STRT_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{searchEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') AND M.INFO_END_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{searchStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
				</if>
				<if test='infoObtnTpCd != null and !"".equals(infoObtnTpCd)'>
					AND M.INFO_OBTN_TP_CD = #{infoObtnTpCd}
				</if>
				<if test='infoTrgtCds != null and infoTrgtCds.length > 0'>
					AND   EXISTS (SELECT 1 FROM TB_RSMI_BASC_INFO_D WD WHERE WD.BASC_INFO_RGSR_NO = M.BASC_INFO_RGSR_NO AND WD.INFO_TRGT_CD IN
					<foreach item="item" index="index" collection="infoTrgtCds" open="(" close=")" separator=",">
						#{item} /* Code de l'objet d el'information !== 정보대상코드 ==! */
					</foreach>
					)
				</if>
				<if test='regstId != null and !"".equals(regstId)'>
					AND M.FRST_REGST_ID = #{regstId}
				</if>
				AND M.INFO_PRCS_STTS_CD = 'J04'
				ORDER BY M.FRST_RGSR_DTTM DESC
		) T
		WHERE 1 = 1
		<if test='scrnTp != null and ("bascInfoRgsr".equals(scrnTp) or "rskInfoInqt".equals(scrnTp)) and regstCstmCd != null and !"".equals(regstCstmCd)'>
			AND T.RGSR_CSTM_CD = #{regstCstmCd}
		</if>

		<include refid="pagination.footer" />
	</select>



	<!--
      [Gérer l'information de base] Consulter l'information de base !== [기초정보관리] 기초정보조회 ==!
    -->
	<select id="selectBascInfo"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo"
		resultType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">

		/* selectBascInfo */

		SELECT
			  M.BASC_INFO_RGSR_NO      		/* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
			, M.BASC_INFO_NM           		/* Nom de l'information de base !== 기초정보명 ==! */
			, M.INFO_OBTN_TP_CD        		/* Code de la distinction de l'obtention de l'information !== 정보입수구분코드 ==! */
			, M.INFO_OBTN_EMP_ID       		/* Identication de l'employé ayant obtenu l'information en quesiton !== 정보입수직원ID ==! */
			, M.INFO_OBTN_ITT_CD       		/* Code de l'agence d'acquisition d'informations !== 정보입수기관코드 ==! */
			, M.INFO_STRT_DT           		/* Date du commencement de l'information !== 정보시작일자 ==! */
			, M.INFO_END_DT            		/* Date de la fin de l'information !== 정보종료일자 ==! */
			, D.INFO_TRGT_CD           		/* Code de l'objet d el'information !== 정보대상코드 ==! */
			, M.VLTN_ACT_PDIV_CN       		/* Détails de la partie à la violation !== 위반행위당사자내용 ==! */
			, M.INFO_PLC_NM            		/* Nom du lieu de l'information !== 정보장소명 ==! */
			, M.INFO_MEAN_CN           		/* Contenu de la méthode de l'information !== 정보방법내용 ==! */
			, M.INFO_RSN_CN            		/* Contenu du motif de l'information !== 정보사유내용 ==! */
			, M.INFO_DTL_CN            		/* contenu détaillé de l'information !== 정보상세내용 ==! */
			, M.OPPB_YN                		/* Ouvert au public O/N !== 공개여부 ==! */
			, M.ATCH_FILE_ID           		/* ID du fichier joint !== 첨부파일ID ==! */
			, M.INFO_PRCS_STTS_CD      		/* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
			, DECODE(M.INFO_PRCS_STTS_CD, 'J01', 'Y', 'J03', 'Y', 'N') EV_CMPL_YN 			/** Fin d'évaluation O/N !== 기본정보평가여부 ==! */
			, M.INFO_AVLB_SCR          		/* Note du degré de l'utilisation de l'information !== 정보이용도점수 ==! */
			, M.INFO_PERC_SCR          		/* Note du degré de propagation de l'information !== 정보파급성점수 ==! */
			, M.INFO_RLBL_SCR          		/* Note du degré de la confiance de l'information !== 정보신뢰도점수 ==! */
			, M.RSK_SRSN_SCR           		/* Note de la gravité du risque !== 위험심각성점수 ==! */
			, M.OCRN_PSBT_SCR          		/* Note de la possibilité de l'apparition !== 발생가능성점수 ==! */
			, M.BASC_INFO_TSCR         		/* Note totale de lin'formation de base !== 기초정보총점수 ==! */
			, M.RTRN_RSN_CN            		/* Motif De Rejet !== 반려사유내용 ==! */
			, M.ALRT_PT_CD             		/* Type d'alerte !== 경보유형코드 ==! */
			, M.DEL_YN                 		/* Suppression ON !== 삭제여부 ==! */
			, M.TKAC_OPIN_CN           		/* Contenu de l'opinion !== 조치의견내용 ==! */
			, M.FRST_REGST_ID          		/* ID du premier enregistrant  !== 최초등록자ID ==! */
			, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID) AS FRST_REGST_NM
			, TO_CHAR(M.FRST_RGSR_DTTM, 'YYYYMMDD') AS FRST_RGSR_DTTM         /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, M.LAST_CHPR_ID           /* ID du modificateur final !== 최종변경자ID ==! */
			, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = M.LAST_CHPR_ID) AS LAST_CHPR_NM
			, TO_CHAR(M.LAST_CHG_DTTM, 'YYYYMMDD') AS LAST_CHG_DTTM          /* Date et heure de modification finale !== 최종변경일시 ==! */
		FROM  TB_RSMI_BASC_INFO M, (
			SELECT BASC_INFO_RGSR_NO
				, REGEXP_REPLACE(listagg(INFO_TRGT_CD, ',') WITHIN GROUP (ORDER BY INFO_TRGT_CD), '([^,]+)(,\1)+', '\1') AS INFO_TRGT_CD
			FROM   TB_RSMI_BASC_INFO_D
			WHERE  del_yn = 'N'
			GROUP BY BASC_INFO_RGSR_NO
		) D
		WHERE M.DEL_YN = 'N'
		AND   M.BASC_INFO_RGSR_NO = D.BASC_INFO_RGSR_NO(+)
		<if test='bascInfoRgsrNo != null and !"".equals(bascInfoRgsrNo)'>
			AND   M.BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}             /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
		</if>

	</select>
    
    <!--
      [Gérer l'information de base] Consulter les détails !== [기초정보관리] 상세조회 ==!
    -->
    <select id="selectBascInfoDtl"
        parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo" 
        resultType="alpass.ipt.rsm.com.vo.RsmBascInfoDVo">

	    /* selectBascInfoDtl */
	    SELECT
	          BASC_INFO_RGSR_NO     /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
	        , INFO_TRGT_CD          /* Code de l'objet d el'information !== 정보대상코드 ==! */
	        , DTL_SRNO              /* N° de séquence du détail !== 상세일련번호 ==! */
	        , INFO_TRGT_VAL         /** Valeur De L'Objet D El'Information  !== 정보대상값 ==! */
	        , DEL_YN                /* Suppression ON !== 삭제여부 ==! */
	        , FRST_REGST_ID         /* ID du premier enregistrant  !== 최초등록자ID ==! */
	        , FRST_RGSR_DTTM        /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
	        , LAST_CHPR_ID          /* ID du modificateur final !== 최종변경자ID ==! */
	        , LAST_CHG_DTTM         /* Date et heure de modification finale !== 최종변경일시 ==! */
	    FROM  TB_RSMI_BASC_INFO_D
	    WHERE BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}
	    ORDER BY INFO_TRGT_CD

    </select>

	<!--
      [Gérer l'information de base] Enregistrer !== [기초정보관리] 등록 ==!
    -->
	<insert id="insertBascInfo"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">

		/* insertBascInfo */
		INSERT INTO TB_RSMI_BASC_INFO (
			  BASC_INFO_RGSR_NO      /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
			, BASC_INFO_NM           /* Nom de l'information de base !== 기초정보명 ==! */
			, INFO_OBTN_TP_CD        /* Code de la distinction de l'obtention de l'information !== 정보입수구분코드 ==! */
			, INFO_OBTN_EMP_ID       /* Identication de l'employé ayant obtenu l'information en quesiton !== 정보입수직원ID ==! */
			, INFO_OBTN_ITT_CD       /* Code de l'agence d'acquisition d'informations !== 정보입수기관코드 ==! */
			, INFO_STRT_DT           /* Date du commencement de l'information !== 정보시작일자 ==! */
			, INFO_END_DT            /* Date de la fin de l'information !== 정보종료일자 ==! */
			, INFO_TRGT_CD           /* Code de l'objet d el'information !== 정보대상코드 ==! */
		    , VLTN_ACT_PDIV_CN       /* Détails de la partie à la violation !== 위반행위당사자내용 ==! */
			, INFO_PLC_NM            /* Nom du lieu de l'information !== 정보장소명 ==! */
			, INFO_MEAN_CN           /* Contenu de la méthode de l'information !== 정보방법내용 ==! */
			, INFO_RSN_CN            /* Contenu du motif de l'information !== 정보사유내용 ==! */
			, INFO_DTL_CN            /* contenu détaillé de l'information !== 정보상세내용 ==! */
			, OPPB_YN                /* Ouvert au public O/N !== 공개여부 ==! */
			, ATCH_FILE_ID           /* ID du fichier joint !== 첨부파일ID ==! */
			, INFO_PRCS_STTS_CD      /* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
			, INFO_AVLB_SCR          /* Note du degré de l'utilisation de l'information !== 정보이용도점수 ==! */
			, INFO_PERC_SCR          /* Note du degré de propagation de l'information !== 정보파급성점수 ==! */
			, INFO_RLBL_SCR          /* Note du degré de la confiance de l'information !== 정보신뢰도점수 ==! */
			, RSK_SRSN_SCR           /* Note de la gravité du risque !== 위험심각성점수 ==! */
			, OCRN_PSBT_SCR          /* Note de la possibilité de l'apparition !== 발생가능성점수 ==! */
			, BASC_INFO_TSCR         /* Note totale de lin'formation de base !== 기초정보총점수 ==! */
			, ALRT_PT_CD             /* Type d'alerte !== 경보유형코드 ==! */
			, DEL_YN                 /* Suppression ON !== 삭제여부 ==! */
			, FRST_REGST_ID          /* ID du premier enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM         /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID           /* ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM          /* Date et heure de modification finale !== 최종변경일시 ==! */
		) VALUES (
			  #{bascInfoRgsrNo}
			, #{bascInfoNm}
			, #{infoObtnTpCd}
			, #{infoObtnEmpId}
			, #{infoObtnIttCd}
			, #{infoStrtDt}
			, #{infoEndDt}
			, #{infoTrgtCd}
		    , #{vltnActPdivCn}
			, #{infoPlcNm}
			, #{infoMeanCn}
			, #{infoRsnCn}
			, #{infoDtlCn}
			, #{oppbYn}
			, #{atchFileId}
			, #{infoPrcsSttsCd}
			, #{infoAvlbScr}
			, #{infoPercScr}
			, #{infoRlblScr}
			, #{rskSrsnScr}
			, #{ocrnPsbtScr}
			, #{bascInfoTscr}
			, #{alrtPtCd}
			, 'N'
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
		)

	</insert>

	<!--
      [Gérer l'information de base] Modifier !== [기초정보관리] 수정 ==!
    -->
	<update id="updateBascInfo"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">

		/* updateBascInfo */
		UPDATE TB_RSMI_BASC_INFO
		SET    BASC_INFO_NM = #{bascInfoNm}     		/* Nom de l'information de base !== 기초정보명 ==! */
			, INFO_OBTN_TP_CD = #{infoObtnTpCd}     	/* Code de la distinction de l'obtention de l'information !== 정보입수구분코드 ==! */
			, INFO_OBTN_EMP_ID = #{infoObtnEmpId}   	/* Identication de l'employé ayant obtenu l'information en quesiton !== 정보입수직원ID ==! */
			, INFO_OBTN_ITT_CD = #{infoObtnIttCd}   	/* Code de l'agence d'acquisition d'informations !== 정보입수기관코드 ==! */
			, INFO_STRT_DT = #{infoStrtDt}          	/* Date du commencement de l'information !== 정보시작일자 ==! */
			, INFO_END_DT = #{infoEndDt}            	/* Date de la fin de l'information !== 정보종료일자 ==! */
			, INFO_TRGT_CD = #{infoTrgtCd}          	/* Code de l'objet d el'information !== 정보대상코드 ==! */
			, VLTN_ACT_PDIV_CN = #{vltnActPdivCn}   	/* Détails de la partie à la violation !== 위반행위당사자내용 ==! */
			, INFO_PLC_NM = #{infoPlcNm}            	/* Nom du lieu de l'information !== 정보장소명 ==! */
			, INFO_MEAN_CN = #{infoMeanCn}          	/* Contenu de la méthode de l'information !== 정보방법내용 ==! */
			, INFO_RSN_CN = #{infoRsnCn}            	/* Contenu du motif de l'information !== 정보사유내용 ==! */
			, INFO_DTL_CN = #{infoDtlCn}            	/* contenu détaillé de l'information !== 정보상세내용 ==! */
			, ALRT_PT_CD = #{alrtPtCd}              	/* Type d'alerte !== 경보유형코드 ==! */
			, OPPB_YN = #{oppbYn}                   	/* Ouvert au public O/N !== 공개여부 ==! */
			, ATCH_FILE_ID = #{atchFileId}              /* ID du fichier joint !== 첨부파일ID ==! */
			, INFO_PRCS_STTS_CD = #{infoPrcsSttsCd}     /* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
			, DEL_YN = 'N'                              /* Suppression ON !== 삭제여부 ==! */
			, LAST_CHPR_ID = #{lastChprId}              /* ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP              /* Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE  BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}    /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
	</update>
	
	<!--
      [Inscription des informations de base] Supprimer détaillée !== [기초정보등록] 상세 삭제 ==!
    -->
	<delete id="deleteAllBascInfoD"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">

		/* deleteAllBascInfoD */
		DELETE FROM TB_RSMI_BASC_INFO_D
		WHERE  BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}   /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
	</delete>

	<!--
      [Inscription des informations de base] Enregistrer détaillée !== [기초정보등록] 상세 등록 ==!
    -->
	<insert id="insertBascInfoD"
		parameterType="alpass.ipt.rsm.com.vo.RsmBascInfoDVo">
		<selectKey  keyProperty="dtlSrno" order="BEFORE" resultType="java.math.BigDecimal" >
	    SELECT NVL(MAX(DTL_SRNO), 0) + 1 FROM TB_RSMI_BASC_INFO_D WHERE BASC_INFO_RGSR_NO = #{bascInfoRgsrNo} AND INFO_TRGT_CD = #{infoTrgtCd}
	    </selectKey>
	    
		/* insertBascInfoD */
    
		INSERT INTO TB_RSMI_BASC_INFO_D
		(
			  BASC_INFO_RGSR_NO   /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
			, INFO_TRGT_CD        /* Code de l'objet d el'information !== 정보대상코드 ==! */
			, DTL_SRNO            /* N° de séquence du détail !== 상세일련번호 ==! */
			, INFO_TRGT_VAL 	  /** Valeur De L'Objet D El'Information  !== 정보대상값 ==! */
			, DEL_YN              /* Suppression ON !== 삭제여부 ==! */
			, FRST_REGST_ID       /* ID du premier enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM      /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID        /* ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM       /* Date et heure de modification finale !== 최종변경일시 ==! */
		) VALUES (
			  #{bascInfoRgsrNo}
			, #{infoTrgtCd}
			, #{dtlSrno}
			, #{infoTrgtVal}
			, 'N'
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
		)
	</insert>
	
	<!--
      [Gérer l'information de base] Supprimer !== [기초정보관리] 삭제 ==!
    -->
    <update id="deleteBascInfo" parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">
        /* deleteBascInfo */
	    UPDATE TB_RSMI_BASC_INFO
	    SET DEL_YN = 'Y'                               /* Suppression ON !== 삭제여부 ==! */
	      , LAST_CHPR_ID = #{lastChprId}               /* ID du modificateur final !== 최종변경자ID ==! */
	      , LAST_CHG_DTTM = SYSTIMESTAMP               /* Date et heure de modification finale !== 최종변경일시 ==! */
	    WHERE  BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}   /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */

    </update>
    
    <!--
      [Inscription des informations de base] Supprimer détaillée !== [기초정보등록] 상세 삭제 ==!
    -->
    <update id="deleteBascInfoD"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">
    	/* deleteBascInfoD */
      	UPDATE TB_RSMI_BASC_INFO_D
      	SET DEL_YN = 'Y'                               /* Suppression ON !== 삭제여부 ==! */
       	  , LAST_CHPR_ID = #{lastChprId}               /* ID du modificateur final !== 최종변경자ID ==! */
       	  , LAST_CHG_DTTM = SYSTIMESTAMP               /* Date et heure de modification finale !== 최종변경일시 ==! */
      	WHERE  BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}   /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */

    </update>

	<!--
      [Enregistrer l'information de base] modification de l'état du traitement de l'information !== [기초정보등록] 정보처리상태 수정 ==!
    -->
	<update id="updateBascInfoPrcsSttsCd"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">
		/* updateBascInfoPrcsSttsCd */
		UPDATE TB_RSMI_BASC_INFO
		SET
			  INFO_PRCS_STTS_CD = #{infoPrcsSttsCd}     /* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
			, LAST_CHPR_ID = #{lastChprId}              /* ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP         		/* Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE  DEL_YN = 'N'
		AND BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}    	/* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
	</update>

	<!--
      [Évaluer l'information de base] Réceptionner !== [기초정보평가] 접수  ==!
    -->
	<update id="updateBascInfoEvAcap"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoEvalVo">
		/* updateBascInfoEvAcap */
		UPDATE TB_RSMI_BASC_INFO
		SET	  INFO_PRCS_STTS_CD = #{infoPrcsSttsCd}     /* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
			, LAST_CHPR_ID = #{lastChprId}              /* ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP         		/* Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE  DEL_YN = 'N'
		AND BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}    	/* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
	</update>

	<!--
      [Évaluer l'information de base] Renvoyer !== [기초정보평가] 재검토(반려) ==!
    -->
	<update id="updateBascInfoRtrn"
		parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoEvalVo">
		/* updateBascInfoRtrn */
		UPDATE TB_RSMI_BASC_INFO
		SET
			  INFO_PRCS_STTS_CD = #{infoPrcsSttsCd}     /* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
		    , RTRN_RSN_CN = #{rtrnRsnCn}				/* Motif De Rejet !== 반려사유내용 ==! */
			, LAST_CHPR_ID = #{lastChprId}              /* ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP         		/* Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE  DEL_YN = 'N'
		AND BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}    	/* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
	</update>

	<!--
      [Consulter l'information sur les risques] consulter la liste!== [위험정보조회] 목록 조회 ==!
    -->
	<select id="selectComPrflBascInfoList"
		parameterType="alpass.ipt.rsm.basc.vo.RsmPrflComVo"
		resultType="alpass.ipt.rsm.basc.vo.RsmBascInfoMgmtVo">
		/* selectComPrflBascInfoList */
		SELECT
			  M.BASC_INFO_RGSR_NO      /* Numéro de l'enregistrement de l'information de base !== 기초정보등록번호 ==! */
			, M.BASC_INFO_NM           /* Nom de l'information de base !== 기초정보명 ==! */
			, M.INFO_OBTN_TP_CD        /* Code de la distinction de l'obtention de l'information !== 정보입수구분코드 ==! */
			, M.INFO_OBTN_EMP_ID       /* Identication de l'employé ayant obtenu l'information en quesiton !== 정보입수직원ID ==! */
			, M.INFO_OBTN_ITT_CD       /* Code de l'agence d'acquisition d'informations !== 정보입수기관코드 ==! */
			, FN_GET_CD_VDVAL_NM('RSM_0028', M.INFO_OBTN_ITT_CD, #{langCd}) AS INFO_OBTN_ITT_NM 	/** Nom du Code de l'agence d'acquisition d'informations !== 정보입수기관명 ==!*/
			, M.INFO_STRT_DT           /* Date du commencement de l'information !== 정보시작일자 ==! */
			, M.INFO_END_DT            /* Date de la fin de l'information !== 정보종료일자 ==! */
			, D.INFO_TRGT_CD           /* Code de l'objet d el'information !== 정보대상코드 ==! */
			, M.VLTN_ACT_PDIV_CN       /* Détails de la partie à la violation !== 위반행위당사자내용 ==! */
			, M.INFO_PLC_NM            /* Nom du lieu de l'information !== 정보장소명 ==! */
			, M.INFO_MEAN_CN           /* Contenu de la méthode de l'information !== 정보방법내용 ==! */
			, M.INFO_RSN_CN            /* Contenu du motif de l'information !== 정보사유내용 ==! */
			, M.INFO_DTL_CN            /* contenu détaillé de l'information !== 정보상세내용 ==! */
			, M.OPPB_YN                /* Ouvert au public O/N !== 공개여부 ==! */
			, M.ATCH_FILE_ID           /* ID du fichier joint !== 첨부파일ID ==! */
			, M.INFO_PRCS_STTS_CD      /* Code de l'état du traitement de l'information !== 정보처리상태코드 ==! */
			, DECODE(M.INFO_PRCS_STTS_CD, 'J01', 'Y', 'J03', 'Y', 'N') EV_CMPL_YN 		/** Fin d'évaluation O/N !== 기본정보평가여부 ==! */
			, M.INFO_AVLB_SCR          /* Note du degré de l'utilisation de l'information !== 정보이용도점수 ==! */
			, M.INFO_PERC_SCR          /* Note du degré de propagation de l'information !== 정보파급성점수 ==! */
			, M.INFO_RLBL_SCR          /* Note du degré de la confiance de l'information !== 정보신뢰도점수 ==! */
			, M.RSK_SRSN_SCR           /* Note de la gravité du risque !== 위험심각성점수 ==! */
			, M.OCRN_PSBT_SCR          /* Note de la possibilité de l'apparition !== 발생가능성점수 ==! */
			, M.BASC_INFO_TSCR         /* Note totale de lin'formation de base !== 기초정보총점수 ==! */
			, M.RTRN_RSN_CN            /* Motif De Rejet !== 반려사유내용 ==! */
			, M.DEL_YN                 /* Suppression ON !== 삭제여부 ==! */
			, M.TKAC_OPIN_CN           /* Contenu de l'opinion !== 조치의견내용 ==! */
			, (SELECT O.ORGN_CD FROM TB_POTI_ORGN O WHERE O.DEL_YN = 'N' AND O.ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID)) AS RGSR_CSTM_CD
			, (SELECT O.ORGN_NM FROM TB_POTI_ORGN O WHERE O.DEL_YN = 'N' AND O.ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID) ) AS RGSR_CSTM_NM
			, M.FRST_REGST_ID          /* ID du premier enregistrant  !== 최초등록자ID ==! */
			, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = M.FRST_REGST_ID) AS FRST_REGST_NM 		/* Nom du premier enregistrant  !== 최초등록자 ==! */
			, TO_CHAR(M.FRST_RGSR_DTTM, 'YYYYMMDD') AS FRST_RGSR_DTTM         /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, M.LAST_CHPR_ID           /* ID du modificateur final !== 최종변경자ID ==! */
			, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = M.LAST_CHPR_ID) AS LAST_CHPR_NM 			/* Nom du modificateur final !== 최종변경자 ==! */
			, TO_CHAR(M.LAST_CHG_DTTM, 'YYYYMMDD') AS LAST_CHG_DTTM          /* Date et heure de modification finale !== 최종변경일시 ==! */
		FROM  TB_RSMI_BASC_INFO M
			 , (
					SELECT BASC_INFO_RGSR_NO
						 , REGEXP_REPLACE(LISTAGG(INFO_TRGT_CD, ',') WITHIN GROUP (ORDER BY INFO_TRGT_CD), '([^,]+)(,\1)+', '\1') AS INFO_TRGT_CD
					FROM   (
								SELECT   BASC_INFO_RGSR_NO
									   , INFO_TRGT_CD
									   , DEL_YN
								  FROM   TB_RSMI_BASC_INFO_D
								 WHERE   DEL_YN = 'N'
								GROUP BY BASC_INFO_RGSR_NO
									   , INFO_TRGT_CD
									   , DEL_YN
						   )
					WHERE  DEL_YN = 'N'
					GROUP BY BASC_INFO_RGSR_NO
			  ) D
		WHERE M.DEL_YN = 'N'
		  AND M.BASC_INFO_RGSR_NO IN (
				SELECT BASC_INFO_RGSR_NO
				FROM TB_RSMI_BASC_INFO_D
				WHERE DEL_YN = 'N'
		        AND INFO_TRGT_CD = #{prflTpCd}
				<if test='prflTpCd != null and "O".equals(prflTpCd)'>
				AND INFO_TRGT_VAL = #{nif}
				</if>
		        <if test='prflTpCd != null and "D".equals(prflTpCd)'>
				AND INFO_TRGT_VAL = (
										SELECT BB.CO_DCLR_CD
										FROM   TB_COM_CO AA
										     , TB_COM_CO_DCLR_CD BB
										WHERE  AA.DEL_YN ='N'
										AND    AA.NIF = #{nif}
										AND    BB.NIF= AA.NIF
										AND    BB.CO_DCLR_TP_CD ='H' )
				</if>
		        <if test='prflTpCd != null and "H".equals(prflTpCd)'>
				AND INFO_TRGT_VAL = #{hsCd}
				</if>
		  )
		  AND M.BASC_INFO_RGSR_NO = D.BASC_INFO_RGSR_NO(+)
	</select>


</mapper>