<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Historique d'approbation des l'information de base !== 기초정보 결재이력 처리 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.basc.mapper.RsmBascInfoHistAprvPrcsMapper">

    <!-- 
      [Gérer l'information de base] Consulter l’historique !== [기초정보관리] 이력 조회 ==!
     -->
    <select id="selectBascInfoHList" parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoAprvHVo" resultType="alpass.ipt.rsm.basc.vo.RsmBascInfoAprvHVo">
        /* selectBascInfoHList */
        SELECT
              BASC_INFO_RELA_NO               /** N° relatif à l'information de base !== 기초정보관련번호 ==! */
            , HIST_SRNO                       /* N° de séquence de l'histoire  !== 이력일련번호 ==! */
            , BASC_INFO_PT_CD                 /* Code de type d'information de base !== 기초정보유형코드 ==! */
            , APRV_ID                         /* ID d'approbation  !== 결재ID ==! */
            , PRCS_STTS_CD                    /* CODE DE STATUT DE CRITÈRE  !== 처리상태코드 ==! */
            , PRCS_OPIN_CN                    /* AVIS DU CHEF  !== 처리의견내용 ==! */
            , DEL_YN                          /* Suppression ON !== 삭제여부 ==! */
            , FRST_REGST_ID                   /* ID du premier enregistrant  !== 최초등록자ID ==! */
            , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM        /* Nom du premier enregistrant  !== 최초등록자이름 ==! */
            , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM                     /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , LAST_CHPR_ID                    /* ID du modificateur final !== 최종변경자ID ==! */
            , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM          /* Nom du modificateur final !== 최종변경자이름 ==! */
            , LAST_CHG_DTTM                   /* Date et heure de modification finale !== 최종변경일시 ==! */
        FROM TB_RSMI_BASC_INFO_APRV_H A
        WHERE A.BASC_INFO_RELA_NO = #{bascInfoRelaNo}    /* Numéro d'enregistrement !== 기준등록번호 ==! */
        AND BASC_INFO_PT_CD = #{bascInfoPtCd} /* Code de type d'information de base !== 기초정보유형코드 ==! */
        AND A.DEL_YN = 'N'                    /* Suppression ON !== 삭제여부 ==! */
<!--         AND EXISTS ( -->
<!--             SELECT * -->
<!--             FROM TB_RSMI_BASC_INFO_APRV_H S -->
<!--             WHERE S.BASC_INFO_RELA_NO = #{bascInfoRelaNo} -->
<!--             AND S.HIST_SRNO = ( -->
<!--                 SELECT MAX(HIST_SRNO) FROM TB_RSMI_BASC_INFO_APRV_H WHERE BASC_INFO_RELA_NO = #{bascInfoRelaNo} AND DEL_YN = 'N' -->
<!--             ) -->
<!--             AND BASC_INFO_PT_CD = #{bascInfoPtCd} -->
<!--             AND A.HIST_SRNO = S.HIST_SRNO -->
<!--         ) -->
        ORDER BY A.HIST_SRNO ASC
    
    </select>

    <!--
     [Gérer l'information de base] Enregistrement de l'histoire !== [기초정보] 기초정보결재이력 등록 ==!
    -->
    <insert id="insertBaseInfoAprvH" parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoAprvHVo">
        /* insertBaseInfoAprvH */
        INSERT INTO TB_RSMI_BASC_INFO_APRV_H (
            BASC_INFO_RELA_NO
            , HIST_SRNO                       /* N° de séquence de l'histoire  !== 이력일련번호 ==! */
            , BASC_INFO_PT_CD                 /* Code de type d'information de base !== 기초정보유형코드 ==! */
            , APRV_ID                         /* ID d'approbation  !== 결재ID ==! */
            , PRCS_STTS_CD                    /* CODE DE STATUT DE CRITÈRE  !== 처리상태코드 ==! */
            , PRCS_OPIN_CN                    /* AVIS DU CHEF  !== 처리의견내용 ==! */
            , DEL_YN                          /* Suppression ON !== 삭제여부 ==! */
            , FRST_REGST_ID                   /* ID du premier enregistrant  !== 최초등록자ID ==! */
            , FRST_RGSR_DTTM                  /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , LAST_CHPR_ID                    /* ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM                   /* Date et heure de modification finale !== 최종변경일시 ==! */
        ) VALUES (
            #{bascInfoRelaNo}
            , (SELECT NVL(MAX(HIST_SRNO) + 1, 1)
                 FROM TB_RSMI_BASC_INFO_APRV_H
                WHERE BASC_INFO_RELA_NO = #{bascInfoRelaNo}
                  AND BASC_INFO_PT_CD = #{bascInfoPtCd}
            ) /* N° de séquence de l'histoire  !== 이력일련번호 ==! */
            , #{bascInfoPtCd}
            , #{aprvId}                       /* ID d'approbation  !== 결재ID ==! */
            , #{prcsSttsCd}                   /* Code de statut de critère  !== 기준처리상태코드 ==! */

            <choose>
                <when test='prcsOpinCn != null and !"".equals(prcsOpinCn)'>
            , #{prcsOpinCn}
                </when>
                <otherwise>
                    <if test="prcsSttsCd != null and prcsSttsCd == 'I01' ">
            , NVL((SELECT APRV_RQST_CN FROM TB_POTI_APRV WHERE APRV_ID = #{aprvId} AND APRV_RQST_EMP_PBSR_NO = #{frstRegstId}),'-')                         /* Avis du chef  !== 처리의견내용 ==! */  
                    </if>
                    <if test="prcsSttsCd != null and prcsSttsCd != 'I01' ">
            , NVL((SELECT APRV_OPIN_CN FROM TB_POTI_APRV_D WHERE APRV_ID = #{aprvId} AND APRV_EMP_PBSR_NO = #{frstRegstId}),'-')                            /* Avis du chef  !== 처리의견내용 ==! */  
                    </if>
                </otherwise>
            </choose>

            , 'N'                           /* Suppression ON !== 삭제여부 ==! */
            , #{frstRegstId}                /* ID du premier enregistrant  !== 최초등록자ID ==! */
            , SYSTIMESTAMP                  /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , #{lastChprId}                 /* ID du modificateur final !== 최종변경자ID ==! */
            , SYSTIMESTAMP                  /* Date et heure de modification finale !== 최종변경일시 ==! */
        )
    </insert>

</mapper>