<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.com.mapper.CarComHnotMapper">

	<!--
	On voit les informations sur 'Personne en charge'. !==담당자 정보를 조회한다.==!
	(Roh Sideuk) 
	--> 
	<select id="selectCarHnotBase" parameterType="java.lang.String" resultType="alpass.ipt.car.com.vo.CarHnotBaseVo">
		/* selectCarHnotBase */
        SELECT
	          A.CAG_RQST_TP_CD                                             AS cagRqstTpCd/** Code de classement du suivi du fret !== 화물추적구분코드 ==! */
	        , A.AUDT_ROLE_CD                                              
	        , A.AUDT_TODO_CD                                              
	        , A.MGMT_ROLE_CD                                              
	        , A.INSC_ROLE_CD                                              
	        , A.INSC_TODO_CD                                              
	    FROM TB_CARI_HNOT_BASE A
    	WHERE
    		A.DEL_YN = 'N'
    		AND A.CAG_RQST_TP_CD = #{ cagRqstTpCd }	
    </select> 

    <!--
	On voit les informations sur 'Personne en charge'. !==담당자 정보를 조회한다.==!
	(Roh Sideuk) 
	--> 
	<select id="selectHnotPbsr" parameterType="java.util.Map" resultType="java.lang.String">
		/* selectHnotPbsr */
        SELECT PM.PBSR_NO, PO.ORGN_CD AS JRSD_ORGN_CD, PA.ROLE_ID 
        FROM TB_POTI_EMP PM, TB_POTI_ORGN PO, TB_POTI_EMP_AUTH PA
		WHERE 
			PM.ORGN_MGMT_CD = PO.ORGN_MGMT_CD
  			AND PM.PBSR_NO = PA.PBSR_NO
  			AND PM.DEL_YN = 'N'
        AND PO.DEL_YN = 'N'
        AND PA.DEL_YN = 'N'
        AND PA.USE_YN = 'Y'
  			AND EXISTS (
			          SELECT ORGN_MGMT_CD
			          FROM TB_POTI_ORGN
			          WHERE ACTV_CSTM_CD LIKE '%'||(SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{jrsdOrgnCd})||'%'
			            AND (ORGN_MGMT_CD = PO.ORGN_MGMT_CD
			                OR ORGN_MGMT_CD = PO.UPR_ORGN_MGMT_CD)
			        )
			    AND FN_GET_EMP_BWRK_STTS(PM.PBSR_NO, 'Y') = 'TRUE'
			  AND PA.ROLE_ID = #{roleId}
			  <if test="audtEmpId != null and audtEmpId != '' ">
				  AND PM.PBSR_NO != #{audtEmpId} /** ID de la personne vérifiant !==심사직원ID==! */
			  </if>
    </select> 
    
    <!--
	On modifie les informations sur 'Cargo processing history'. !==화물 처리 내역 정보를 수정한다.==!
	(Roh Sideuk) 
	--> 
	<update id="updateAutoHnot" parameterType="alpass.ipt.car.com.vo.CarCagPrcsBrkdVo">
		/* updateAutoHnot */
		UPDATE TB_CARI_CAG_PRCS_BRKD SET
			LAST_CHPR_ID = #{lastChprId}
			, LAST_CHG_DTTM = SYSTIMESTAMP
			, PRCS_STTS_CD = #{prcsSttsCd}          			/** Code de statut de traitement !==처리상태코드==! */
			, PRCS_DTTM = SYSDATE
			, HNOT_EMP_ID = #{hnotEmpId}          				/** ID de distributeur !==배부직원ID==! */
			<if test="audtEmpId != null and audtEmpId != '' ">, AUDT_EMP_ID = #{audtEmpId}          				/** ID de la personne vérifiant !==심사직원ID==! */	</if>
			<if test="inscEmpId != null and inscEmpId != '' ">, INSC_EMP_ID = #{inscEmpId}          				/** ID de l'inspecteur !==검사직원ID==! */	</if>
		WHERE 
			CAG_RQST_TP_CD = #{ cagRqstTpCd }
			AND CAG_RQST_NO = #{ cagRqstNo }
			AND RQST_DGCNT = #{ rqstDgcnt }
	</update>
    
</mapper>