<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.com.mapper.PscComSrnoMapper">

    <!--
        !==통관 일련번호 생성을 위한 채번 ==!
    -->
    <select id="selectClrComIndyNo" parameterType="alpass.ipt.psc.com.vo.ClrComIdfyNoVo" resultType="string">
        /**ClreCom_selectClreComIndyNo*/
        SELECT #{aplcCd}|| TO_CHAR(SYSDATE,'YYYY')||#{docTpCd}
        FROM DUAL
    </select>


    <!--
        !==시장가격관리번호 생성을 위한 채번 ==!
    -->
    <select id="selectClrMrktPrcMgmtNo" parameterType="alpass.ipt.psc.com.vo.ClrComIdfyNoVo" resultType="string">
        /**selectClrMrktPrcMgmtNo*/
        SELECT TO_CHAR(SYSDATE,'YYYYMM')
        FROM DUAL
    </select>

    <!--
	   * SQL 설명 : 일련번호 채번 카운트
	   * 작성자 : Kim Kiryong
	  -->
    <select id="selectClrComSrnoGsnSrnoLen" parameterType="alpass.ipt.psc.com.vo.ClrComIdfyNoVo" resultType="java.lang.Integer">
        /** selectClrComSrnoGsnSrnoLen */
        SELECT
        SRNO_LEN
        FROM ALPASSINT.TB_COM_SRNO_GSN
        WHERE USE_YN = 'Y'
        AND   DEL_YN = 'N'
        AND   GSN_CD = #{gsnCd}
    </select>

    <!--
      * SQL 설명 : 일련번호 채번 카운트
      * 작성자 : Kim Kiryong
     -->
    <select id="selectClrComSrnoGsnDGsnLastSrno" parameterType="alpass.ipt.psc.com.vo.ClrComIdfyNoVo" resultType="java.lang.String">
        /** selectClrComSrnoGsnDGsnLastSrno */
        SELECT NVL(GSN_LAST_SRNO, 0) + 1
        FROM ALPASSINT.TB_COM_SRNO_GSN_D
        WHERE GSN_CD = #{gsnCd} AND GSN_TP_VAL = #{gsnTpVal}
        FOR UPDATE
    </select>

    <!--
       * SQL 설명 : 일련번호채번상세 등록
       * 작성자 : Kim Kiryong
      -->
    <insert id="updateClrComSrnoGsnD" parameterType="alpass.ipt.psc.com.vo.ClrComIdfyNoVo">
        /** updateClrComSrnoGsnD */
        INSERT INTO ALPASSINT.TB_COM_SRNO_GSN_D (
            gsn_cd                                 /** Code De Numérotation !== 채번코드 ==! */
        , gsn_tp_val                           /** Valeur De Type De Numérotation !== 채번구분값 ==! */
        , gsn_last_srno                        /** N° De Série De Numérotation Finale !== 채번최종일련번호 ==! */
        , del_yn                               /** Suppression On !== 삭제여부 ==! */
        , frst_regst_id                        /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , frst_rgsr_dttm                              /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , last_chpr_id                         /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , last_chg_dttm                               /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        ) VALUES (
             #{gsnCd}                               /** Code De Numérotation !== 채번코드 ==! */
         , #{gsnTpVal}                                  /** Valeur De Type De Numérotation !== 채번구분값 ==! */
         , 0                               /** N° De Série De Numérotation Finale !== 채번최종일련번호 ==! */
         , 'N'                                          /** Suppression On !== 삭제여부 ==! */
         , 'SYSTEM'                               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
         , SYSTIMESTAMP                                /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
         , 'SYSTEM'                                /** Id Du Modificateur Final !== 최종변경자ID ==! */
         , SYSTIMESTAMP                                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
         )
            ON CONFLICT ( gsn_cd,gsn_tp_val )
            DO UPDATE SET
            gsn_last_srno = #{gsnLastSrno}                        /** N° De Série De Numérotation Finale !== 채번최종일련번호 ==! */
           ,last_chpr_id = 'SYSTEM'                         /** Id Du Modificateur Final !== 최종변경자ID ==! */
           ,last_chg_dttm = SYSTIMESTAMP                               /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    </insert>

    <!--
      * SQL 설명 : 일련번호 채번
      * 작성자 : Kim Kiryong
     -->
    <select id="selectClrComSrnoGsnDLastSrno" parameterType="alpass.ipt.psc.com.vo.ClrComIdfyNoVo" resultType="java.lang.String">
        /** selectClrComSrnoGsnDLastSrno */
        SELECT #{gsnTpVal} || LPAD( NVL( (SELECT MAX(GSN_LAST_SRNO)
        FROM ALPASSINT.TB_COM_SRNO_GSN_D
        WHERE GSN_CD = #{gsnCd} AND GSN_TP_VAL = #{gsnTpVal} ), 0), #{srnoLen}, '0') FROM DUAL
    </select>

    <!--
		 * SQL 설명 : 다음 이력일련번호 조회
	 -->
    <select id="selectNextHistSrno" parameterType="alpass.ipt.psc.vhcl.pdr.dre.vo.ClrDedSrchVo" resultType="java.math.BigDecimal">
        /* ClriCom_selectNextHistSrno */
        SELECT NVL(MAX(HIST_SRNO), 0) + 1
        FROM TB_CLRI_DED_COMN
        WHERE DTL_DCSH_NO = #{dtlDcshNo}
          AND DEL_YN = 'N'
    </select>
</mapper>
