<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Gérer l'auditeur. !== 심사자관리 Mapper. ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.entr.mapper.AeoAthrEntrPsmgtMapper">

    <!--
    [Gérer la demande ultérieure de l'OEA] Consulter la liste !== [공인업체사후신청관리] 목록조회 ==!
    -->
	<select id="selectAeoAthrEntrPsmgtList"
	    parameterType="alpass.ipt.aeo.athr.entr.vo.AeoAthrEntrPsmgtVo"
	    resultType="alpass.ipt.aeo.athr.entr.vo.AeoAthrEntrPsmgtVo">
		/* selectAeoAthrEntrPsmgtList */
	    <include refid="pagination.header"/>
		SELECT
			       A.AEO_ATHR_NO                                                                                    /** Numéro d'OEA !== AEO공인번호 ==! */
			     , A.NIF                                                                                            /** NIF !== 납세번호 ==! */
			     , A.CO_CD                                                                                          /** Code De La Compagnie !== 업체코드 ==! */
			     , C.CO_NM                                                                                          /** Nom De L'Entreprise !== 업체명 ==! */
                 , A.AEO_ATHR_GD_CD                                                                                 /** Code de classement d'OEA !== AEO공인등급코드 ==! */
                 , FN_GET_CD_VDVAL_NM('AEO_0005', A.AEO_ATHR_GD_CD, #{langCd}) AS AEO_ATHR_GD_NM                    /** Code de classement d'OEA !== AEO공인등급코드 ==! */
                 , TO_CHAR(TO_DATE(A.ATHR_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_STRT_DT                       /** Date de commencement d'agrément !== 공인시작일자 ==! */
                 , TO_CHAR(TO_DATE(A.ATHR_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_END_DT                         /** Date de fermeture d'agrément !== 공인종료일자 ==! */
                 , A.ATHR_STTS_CD                                                                                   /** Code d'état d'agrément !== 공인상태코드 ==! */
                 , FN_GET_CD_VDVAL_NM('AEO_0006', A.ATHR_STTS_CD, #{langCd}) AS ATHR_STTS_NM                        /** Code d'état d'agrément !== 공인상태코드 ==! */
                 , A.JRSD_CSTM_CD                                                                                   /** Code de bureau compétent !== 관할세관코드 ==! */
                 , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(A.JRSD_CSTM_CD)) AS JRSD_CSTM_NM    /** Code de bureau compétent !== 관할세관코드 ==! */
                 , B.AEO_AFFC_MGMT_RQST_NO                                                                          /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
                 , B.MGMT_RQST_TP_CD                                                                                /** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
                 , FN_GET_CD_VDVAL_NM('AEO_0007', B.MGMT_RQST_TP_CD, #{langCd}) AS MGMT_RQST_TP_NM                  /** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
		         , B.AFFC_MGMT_RQST_RSN_CN                                                                          /** Motif de demande de gestion ultérieure d'OEA !== 사후관리신청사유내용 ==! */
                 , B.PRCS_STTS_CD                                                                                   /** Code De Statut De Traitement !== 처리상태코드 ==! */
                 , B.DTL_PRCS_STTS_CD                                                                               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
				 , TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm                                          /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				 , TO_CHAR(B.RQST_DTTM, 'DD/MM/YYYY') AS RQST_DTTM                                                  /** Date de la demande !== 신청일자 ==! */
				 , C.AEO_ATHR_RQST_NO                                                                               /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		  FROM
		  		   ALPASSINT.TB_AEOI_ATHR_CO A
				 , ALPASSINT.TB_AEOI_AFFC_RQST B
				 , TB_AEOI_ATHR_RQST C
		 WHERE
		 		   A.AEO_ATHR_NO = B.AEO_ATHR_NO
		   AND	   A.AEO_ATHR_NO = C.AEO_ATHR_NO(+)
		   AND	   B.DEL_YN = 'N'                                       /** Suppression On !== 삭제여부 ==! */
		   AND	   C.DEL_YN(+) = 'N'                                    /** Suppression On !== 삭제여부 ==! */
	       AND	   TO_CHAR(B.RQST_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
	    <if test='srchAthrSttsCd != null and !"".equals(srchAthrSttsCd)'>
		   AND	   A.ATHR_STTS_CD = #{srchAthrSttsCd}                   /** Code d'état d'agrément !== 공인상태코드 ==! */
	    </if>
	    <if test='srchMgmtRqstTpCd != null and !"".equals(srchMgmtRqstTpCd)'>
		   AND	   B.MGMT_RQST_TP_CD = #{srchMgmtRqstTpCd}              /** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
	    </if>
	    <if test='srchPrcsSttsCd != null and !"".equals(srchPrcsSttsCd)'>
		   AND	   B.PRCS_STTS_CD = #{srchPrcsSttsCd}                   /** Code De Statut De Traitement !== 처리상태코드 ==! */
	    </if>
	    <if test='srchAeoAthrNo != null and !"".equals(srchAeoAthrNo)'>
		   AND	   A.AEO_ATHR_NO = #{srchAeoAthrNo}                     /** Numéro d'OEA !== AEO공인번호 ==! */
	    </if>
	    <if test='srchNif != null and !"".equals(srchNif)'>
		   AND	   A.NIF = #{srchNif}                                   /** NIF !== 납세번호 ==! */
	    </if>
	     ORDER BY B.LAST_CHG_DTTM DESC
		<include refid="pagination.footer"/>
	</select>

    <!--
    [Gérer la demande ultérieure de l'OEA.Auditeur] Consulter la liste !== [공인업체사후신청관리.심사자] 목록조회 ==!
    -->
	<select id="selectAeoAthrEntrPsmgtAdorList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo">
		/* selectAeoAthrEntrPsmgtAdorList */
		SELECT
				  A.PBSR_NO                            /** Matricule Solde !== 공무원번호 ==! */
                , A.EMP_NM                             /** Nom De L'Employé !== 직원명 ==! */
                , A.MOBL_NO                            /** N° De Téléphone Portable !== 휴대전화번호 ==! */
                , A.DEPT_TLPH_NO                       /** N° De Téléphone Fixe Du Bureau !== 부서전화번호 ==! */
                , A.EML                                /** Email !== 이메일 ==! */
                , A.CSTM_MGMT_CD                       /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD                       /** Code Du Secteur !== 섹터관리코드 ==! */
                , A.DEPT_MGMT_CD                       /** Code Du Service !== 부서관리코드 ==! */
                , C.ACAP_CSTM_CD AS CSTM_CD            /** Code Du Bureau !== 세관코드 ==! */
                , C.UPR_ORGN_MGMT_CD AS UPR_CSTM_CD    /** 상위세관코드 !== Code De Bureau Supérieur ==! */
		  FROM
		  		  TB_POTI_EMP A
				, VW_POTI_ROLE_UNFC B
			    , (
			        SELECT R.AEO_AFFC_MGMT_RQST_NO
			             , R.AEO_ATHR_NO
			             , (SELECT AR.AEO_ATHR_RQST_NO FROM TB_AEOI_ATHR_RQST AR WHERE AR.AEO_ATHR_NO = R.AEO_ATHR_NO) AS AEO_ATHR_RQST_NO
			             , CO.JRSD_CSTM_CD AS ACAP_CSTM_CD
			             , ( SELECT AA.UPR_ORGN_MGMT_CD 
			                 FROM   ALPASSINT.TB_POTI_ORGN AA 
			                 WHERE  AA.DEL_YN ='N' 
			                 AND    AA.ORGN_MGMT_CD= CO.JRSD_CSTM_CD
			               ) AS UPR_ORGN_MGMT_CD
			        FROM   ALPASSINT.TB_AEOI_AFFC_RQST R
			        	,  ALPASSINT.TB_AEOI_ATHR_CO CO
			        WHERE  R.DEL_YN ='N'
			        AND    R.AEO_ATHR_NO = CO.AEO_ATHR_NO
			        AND    R.AEO_AFFC_MGMT_RQST_NO = #{srchAeoAthrRqstNo}
			    ) C
				, TB_AEOI_ATHR_AUDT_ORGN D
				, TB_AEOI_ADOR E
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = 'AEO003'
		   AND	   D.DEL_YN = 'N'
		   AND     D.DRD_ORGN_MGMT_CD = C.UPR_ORGN_MGMT_CD
		   AND     A.CSTM_MGMT_CD = D.AUDT_ORGN_MGMT_CD
		   AND	   E.DEL_YN = 'N'
		   AND	   E.ADOR_TP_CD = 'ADO'
		   AND	   E.AEO_RQST_NO = C.AEO_ATHR_RQST_NO
		   AND	   E.ADOR_ID = A.PBSR_NO
		   AND	   E.ADOR_ID = B.PBSR_NO 
	</select>

    <!--
    [Gérer la demande ultérieure de l'OEA.Désigner un responsable] Consulter la liste !== [공인업체사후신청관리.담당자배부] 목록조회 ==!
    -->
	<select id="selectAeoAthrEntrPsmgtAdorRandom"
	    parameterType="alpass.ipt.aeo.athr.entr.vo.AeoAhtrEntrPsmgtHnotChpnVo"
	    resultType="alpass.ipt.aeo.athr.entr.vo.AeoAhtrEntrPsmgtHnotChpnVo">
		/* selectAeoAthrEntrPsmgtAdorRandom */
		SELECT
			   A.PBSR_NO AS ADOR_ID                      /** Matricule Solde !== 공무원번호 ==! */
             , A.EMP_NM AS ADOR_NM                       /** Nom De L'Employé !== 직원명 ==! */
             , A.CSTM_MGMT_CD AS CSTM_CD                 /** Code Du Bureau !== 세관관리코드 ==! */
             , A.SCTR_MGMT_CD AS SCTR_MGMT_CD            /** Code Du Secteur !== 섹터관리코드 ==! */
             , A.ORGN_MGMT_CD AS DEPT_CD                 /** Code De Gestion De L'Organisation !== 조직관리코드 ==! */
             , C.AEO_ATHR_RQST_NO AS AEO_ATHR_RQST_NO    /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		FROM   TB_POTI_EMP A
		     , VW_POTI_ROLE_UNFC B
		     , (
		        SELECT R.AEO_AFFC_MGMT_RQST_NO
		             , R.AEO_ATHR_NO
		             , (SELECT AR.AEO_ATHR_RQST_NO FROM TB_AEOI_ATHR_RQST AR WHERE AR.AEO_ATHR_NO = R.AEO_ATHR_NO) AS AEO_ATHR_RQST_NO
		             , CO.JRSD_CSTM_CD AS ACAP_CSTM_CD
		             , ( SELECT AA.UPR_ORGN_MGMT_CD 
		                   FROM ALPASSINT.TB_POTI_ORGN AA 
		                  WHERE AA.DEL_YN ='N' 
		                    AND AA.ORGN_MGMT_CD= CO.JRSD_CSTM_CD
		               ) AS UPR_ORGN_MGMT_CD
		          FROM ALPASSINT.TB_AEOI_AFFC_RQST R
		        	 , ALPASSINT.TB_AEOI_ATHR_CO CO
		         WHERE R.DEL_YN ='N'
		           AND R.AEO_ATHR_NO = CO.AEO_ATHR_NO
		           AND R.AEO_AFFC_MGMT_RQST_NO = #{srchAeoAthrRqstNo}
		       ) C
		      , TB_AEOI_ATHR_AUDT_ORGN D
		WHERE  A.DEL_YN = 'N'
		AND    B.PBSR_NO = A.PBSR_NO
		AND    B.ROLE_ID = 'AEO003'
		AND    D.DEL_YN = 'N'
		AND    D.DRD_ORGN_MGMT_CD = C.UPR_ORGN_MGMT_CD
		AND    A.CSTM_MGMT_CD = D.AUDT_ORGN_MGMT_CD
		AND    (C.AEO_ATHR_RQST_NO, A.PBSR_NO) NOT IN ( SELECT AA.AEO_ATHR_RQST_NO
												             , AB.ador_id 
												          FROM TB_AEOI_AFFC_RQST R
												        	 , TB_AEOI_ATHR_RQST AA
												        	 , TB_AEOI_ADOR AB
												         WHERE R.DEL_YN ='N'
												           AND AA.DEL_YN ='N'
												           AND AB.DEL_YN ='N'
												           AND R.AEO_ATHR_NO = AA.AEO_ATHR_NO
												           AND AA.AEO_ATHR_RQST_NO = AB.AEO_RQST_NO
												           and AB.ADOR_TP_CD = 'ADO'
												           AND R.AEO_AFFC_MGMT_RQST_NO = #{srchAeoAthrRqstNo})
		ORDER BY RANDOM() LIMIT #{srchRandomNo}
	</select>

    <!--
    [Gérer la demande ultérieure de l'OEA.Désigner un responsable] Enregistrer !==[공인업체사후신청관리.담당자배부] 등록==!
    -->
	<insert id="insertAeoAthrEntrPsmgtAdor"
		parameterType="alpass.ipt.aeo.com.vo.AeoiAdorVo">
		/* insertAeoAthrEntrPsmgtAdor */
        WITH UPSERT AS  (
			UPDATE	  TB_AEOI_ADOR
			   SET
					  LAST_CHPR_ID = #{lastChprId}                                                          /** Id Du Modificateur Final !== 최종변경자ID ==! */
					, LAST_CHG_DTTM = CURRENT_TIMESTAMP                                                     /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
	                , ADOR_ID = #{adorId}                                                                   /** Id De L'Inspecteur !== 심사자ID ==! */
	                , ADOR_NM = #{adorNm}                                                                   /** Nom de l'inspecteur !== 심사자명 ==! */
	                , CSTM_CD = #{cstmCd}                                                                   /** Code Du Bureau !== 세관코드 ==! */
	                , CSTM_NM = (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = #{cstmCd})           /** Nom Du Bureau !== 세관명 ==! */
	                , SCTR_MGMT_CD = #{sctrMgmtCd}                                                          /** Code Du Secteur !== 섹터관리코드 ==! */
	                , SCTR_CD_NM = (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = #{sctrMgmtCd})    /** Nom Du Code De Secteur !== 섹터코드명 ==! */
	                , DEPT_CD = #{deptCd}                                                                   /** Code de service !== 부서코드 ==! */
	                , DEPT_NM = (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = #{deptCd})           /** Nom Du Bureau !== 부서명 ==! */
	                , HNOT_RSN_CD = #{hnotRsnCd}                                                            /** Code motif de répartition !== 배부사유코드 ==! */
	                , HNOT_CN = #{hnotCn}                                                                   /** Contenu de diffusion !== 배부내용 ==! */
					, DEL_YN = 'N'                                                                          /** Suppression On !== 삭제여부 ==! */
			 WHERE
		          	  AEO_RQST_NO = #{aeoRqstNo}            /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
               AND	  ADOR_TP_CD = 'ADO'                    /** Code de classification d'auditeur !== 심사자구분코드 ==! */
               AND 	  ADOR_ID = #{adorId}                   /** Id De L'Inspecteur !== 심사자ID ==! */
		     RETURNING *
        )
		INSERT INTO TB_AEOI_ADOR (
				  AEO_RQST_NO                                                              /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
                , ADOR_TP_CD                                                               /** Code de classification d'audit !== 심사구분코드 ==! */
                , ADOR_ID                                                                  /** Id De L'Inspecteur !== 심사자ID ==! */
                , ADOR_NM                                                                  /** Nom de l'inspecteur !== 심사자명 ==! */
                , CSTM_CD                                                                  /** Code Du Bureau !== 세관코드 ==! */
                , CSTM_NM                                                                  /** Nom Du Bureau !== 세관명 ==! */
                , SCTR_MGMT_CD                                                             /** Code Du Secteur !== 섹터관리코드 ==! */
                , SCTR_CD_NM                                                               /** Nom Du Code De Secteur !== 섹터코드명 ==! */
                , DEPT_CD                                                                  /** Code de service !== 부서코드 ==! */
                , DEPT_NM                                                                  /** Nom Du Bureau !== 부서명 ==! */
                , HNOT_RSN_CD                                                              /** Code motif de répartition !== 배부사유코드 ==! */
                , HNOT_CN                                                                  /** Contenu de diffusion !== 배부내용 ==! */
                , DEL_YN                                                                   /** Suppression On !== 삭제여부 ==! */
                , FRST_REGST_ID                                                            /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , FRST_RGSR_DTTM                                                           /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , LAST_CHPR_ID                                                             /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM                                                            /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		SELECT
                  #{aeoRqstNo}                                                             /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
                , 'ADO'                                                                    /** Code de classification d'audit !== 심사구분코드 ==! */
                , #{adorId}                                                                /** Id De L'Inspecteur !== 심사자ID ==! */
                , #{adorNm}                                                                /** Nom de l'inspecteur !== 심사자명 ==! */
                , #{cstmCd}                                                                /** Code Du Bureau !== 세관코드 ==! */
                , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = #{cstmCd})        /** Nom Du Bureau !== 세관명 ==! */
                , #{sctrMgmtCd}                                                            /** Code De Secteur !== 섹터코드 ==! */
                , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = #{sctrMgmtCd})    /** Nom Du Code De Secteur !== 섹터코드명 ==! */
                , #{deptCd}                                                                /** Code de service !== 부서코드 ==! */
                , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = #{deptCd})        /** Nom Du Bureau !== 부서명 ==! */
                , #{hnotRsnCd}                                                             /** Code motif de répartition !== 배부사유코드 ==! */
                , #{hnotCn}                                                                /** Contenu de diffusion !== 배부내용 ==! */
                , 'N'                                                                      /** Suppression On !== 삭제여부 ==! */
                , #{frstRegstId}                                                           /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , CURRENT_TIMESTAMP                                                        /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , #{lastChprId}                                                            /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , CURRENT_TIMESTAMP                                                        /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		 WHERE	NOT EXISTS (SELECT * FROM UPSERT)
	</insert>

</mapper>