<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.dcsh.mapper.CarCagDcshBlItemTrnMapper">

    <!--
    Voir la liste des  train !== 열차 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <sql id ="selectItem">
           SELECT A.mrn                                                    AS mrn                 /** Mrn !== MRN ==! */
                , A.cag_mgmt_no                                            AS cag_mgmt_no         /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                , A.trn_srno                                               AS trn_srno            /** numéro de série du train !== 열차일련번호 ==! */
                , A.wgn_no                                                 AS wgn_no              /** N° De Wagon !== 왜건번호 ==! */
                , A.wgn_type                                               AS wgn_type            /** type de wagon !== 왜건타입 ==! */
                , A.del_yn                                                 AS del_yn              /** Suppression On !== 삭제여부 ==! */
                , A.frst_regst_id                                          AS frst_regst_id       /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
                , TO_CHAR(A.frst_rgsr_dttm,'DD/MM/YYYY HH24:MI:SS')        AS frst_rgsr_dttm      /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.last_chpr_id                                           AS last_chpr_id        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , TO_CHAR(A.last_chg_dttm,'DD/MM/YYYY HH24:MI:SS')         AS last_chg_dttm       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
             FROM TB_CARI_CAG_DCSH_BL_TRN A
            WHERE A.del_yn = 'N'                                         /** Suppression ON !== 삭제여부 ==! */
    </sql>
    
    <sql id ="selectItemWhere">
              AND A.mrn = #{mrn}        /** Mrn !== MRN ==! */
              <if test="cagMgmtNo != null and cagMgmtNo != ''">
              AND A.cag_mgmt_no = #{cagMgmtNo}                   /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
              </if>
    </sql>

    <!--
    Voir la liste des  train !== 열차 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshBlItemTrnListTotCnt" parameterType="alpass.ipt.car.com.vo.CarCagDcshBlTrnVo" resultType="integer">
        /* CarCagDcshBlItemTrn_selectCarCagDcshBlItemTrnListTotCnt */
        SELECT COUNT(*) AS TOT_CNT
          FROM (
           <include refid="selectItem"/>
           <include refid="selectItemWhere"/>
               ) SQLRSLT
    </select>
    <!--
    Voir la liste des  train !== 열차 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshBlItemTrnList" parameterType="alpass.ipt.car.com.vo.CarCagDcshBlTrnVo" resultType="alpass.ipt.car.com.vo.CarCagDcshBlTrnVo">
        /* CarCagDcshBlItemTrn_selectCarCagDcshBlItemTrnList */
        <if test="pagination != null and pagination == true ">
        SELECT #{totCnt} AS TOT_CNT
             , SQLRSLT.*
             , ROWNUM as RNUM
          FROM (
        </if>
           <include refid="selectItem"/>
           <include refid="selectItemWhere"/>
            ORDER BY A.wgn_no, A.mrn, A.cag_mgmt_no ASC
        <if test="pagination != null and pagination == true ">
        <include refid="pagination.footer" />
        </if>
    </select>


</mapper>