<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Gérer l’avis du comité technique ad hoc !== 자문위원의견서관리리 Mapper. ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.syns.mapper.AeoAthrSynsCmitWriopMapper">

    <!--
    [Gérer l’avis du comité technique ad hoc] Consulter la liste !== [자문위원의견서관리] 목록조회 ==!
    -->
	<select id="selectAeoAthrSynsCmitWriopList"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopVo">
		/* selectAeoAthrSynsCmitWriopList */
	    <include refid="pagination.header"/>
		SELECT
			      A.CMIT_METN_NO														/** N° réunion du comité !== 위원회회의번호 ==! */
				, TO_CHAR(TO_DATE(A.SMN_REQST_DT), 'DD/MM/YYYY') AS SMN_REQST_DT		/** Date demande de convocation !== 소집요청일자 ==! */
				, A.SMN_RQSTR_EMP_ID													/** ID du convocateur !== 소집요청자직원ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.SMN_RQSTR_EMP_ID) AS SMN_RQSTR_EMP_NM				/** ID du convocateur !== 소집요청자직원ID ==! */
				, TO_CHAR(TO_DATE(A.SMN_DT), 'DD/MM/YYYY') AS SMN_DT					/** Date de convocation !== 소집일자 ==! */
				, A.SMN_RSN_CN															/** Motif de convocation !== 소집사유내용 ==! */
				, A.METN_MNGR_EMP_ID													/** ID du manager de la réunion !== 회의관리자직원ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.METN_MNGR_EMP_ID) AS METN_MNGR_EMP_NM  /** ID du manager de la réunion !== 회의관리자직원ID ==! */
				, TO_CHAR(TO_DATE(A.METN_DT), 'DD/MM/YYYY') AS METN_DT					/** Date De Réunion !== 회의일자 ==! */
				, A.METN_CN																/** Contenu de la réunion !== 회의내용 ==! */
				, A.ATCH_FILE_ID														/** Id Du Fichier Joint !== 첨부파일ID ==! */
				, A.PRCS_STTS_CD														/** Code De Statut De Traitement !== 처리상태코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0002', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM		/** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , A.DEL_YN                                								/** Suppression ON !== 삭제여부 ==! */
				, A.FRST_REGST_ID														/** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, A.FRST_RGSR_DTTM														/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID														/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM														/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		 FROM
		 		  TB_AEOI_CMIT_WRIOP_BSCS A                 /** AEOI_AVIS DU COMITÉ !== AEOI_위원회의견서기본 ==! */
		WHERE
				  A.DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
		<if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
		  AND	  A.SMN_REQST_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
		</if>
		<if test='srchPrcsSttsCd != null and !"".equals(srchPrcsSttsCd)'>
		  AND	  A.PRCS_STTS_CD = #{srchPrcsSttsCd}       	/** Code De Statut De Traitement !== 처리상태코드 ==! */
		</if>
	    ORDER BY  A.LAST_CHG_DTTM DESC
		<include refid="pagination.footer"/>
	</select>
	
    <!--
    [Gérer l’avis du comité technique ad hoc] Consulter les détails !== [자문위원의견서관리] 상세조회 ==!
    -->
	<select id="selectAeoAthrSynsCmitWriopBscs"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopVo">
		/* selectAeoAthrSynsCmitWriopBscs */
		SELECT
			      A.CMIT_METN_NO														/** N° réunion du comité !== 위원회회의번호 ==! */
				, TO_CHAR(TO_DATE(A.SMN_REQST_DT), 'DD/MM/YYYY') AS SMN_REQST_DT		/** Date demande de convocation !== 소집요청일자 ==! */
				, A.SMN_RQSTR_EMP_ID													/** ID du convocateur !== 소집요청자직원ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.SMN_RQSTR_EMP_ID) AS SMN_RQSTR_EMP_NM	/** ID du convocateur !== 소집요청자직원ID ==! */
				, TO_CHAR(TO_DATE(A.SMN_DT), 'DD/MM/YYYY') AS SMN_DT					/** Date de convocation !== 소집일자 ==! */
				, A.SMN_RSN_CN															/** Motif de convocation !== 소집사유내용 ==! */
				, A.METN_MNGR_EMP_ID													/** ID du manager de la réunion !== 회의관리자직원ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.METN_MNGR_EMP_ID) AS METN_MNGR_EMP_NM/** ID du manager de la réunion !== 회의관리자직원ID ==! */
				, TO_CHAR(TO_DATE(A.METN_DT), 'DD/MM/YYYY') AS METN_DT					/** Date De Réunion !== 회의일자 ==! */
				, A.METN_CN																/** Contenu de la réunion !== 회의내용 ==! */
				, A.ATCH_FILE_ID														/** Id Du Fichier Joint !== 첨부파일ID ==! */
				, A.PRCS_STTS_CD														/** Code De Statut De Traitement !== 처리상태코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0002', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM								/** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , A.DEL_YN                                								/** Suppression ON !== 삭제여부 ==! */
				, A.FRST_REGST_ID														/** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, A.FRST_RGSR_DTTM														/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID														/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM														/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		 FROM
		 		  TB_AEOI_CMIT_WRIOP_BSCS A                 /** AEOI_AVIS DU COMITÉ !== AEOI_위원회의견서기본 ==! */
		WHERE
				  A.DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
		  AND	  A.CMIT_METN_NO = #{cmitMetnNo}       		/** N° réunion du comité !== 위원회회의번호 ==! */
	</select>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Consulter les opérateurs faisant l'objet d'examen] Consulter la liste !== [자문위원의견서관리리.참석자] 목록조회 ==!
    -->
	<select id="selectAeoAthrSynsCmitWriopAtdtList"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopAtdtVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopAtdtVo">
		/* selectAeoAthrSynsCmitWriopAtdtList */
		SELECT
			      A.CMIT_METN_NO														/** N° réunion du comité !== 위원회회의번호 ==! */
				, A.ATDT_TP_CD															/** Code de classification de participant !== 참석자구분코드 ==! */
				, A.ATDT_EMP_ID															/** ID du participant !== 참석자직원ID ==! */
				, B.EMP_NM AS ATDT_EMP_NM												/** ID du participant !== 참석자직원ID ==! */
				, B.EML AS ATDT_EMP_EML
				, (SELECT O.ORGN_NM FROM TB_POTI_EMP E, TB_POTI_ORGN O WHERE E.ORGN_MGMT_CD = O.ORGN_MGMT_CD AND E.PBSR_NO = A.ATDT_EMP_ID) AS ORGN_NM
			    , A.DEL_YN                                								/** Suppression ON !== 삭제여부 ==! */
				, A.FRST_REGST_ID														/** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, A.FRST_RGSR_DTTM														/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID														/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM														/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		 FROM
		 		  TB_AEOI_CMIT_WRIOP_ATDT A  /** AEOI_PARTICIPANT DU COMITÉ !== AEOI_위원회의견서참석자 ==! */
		 		, TB_POTI_EMP B              /** POTI_EMPLOYÉ !== POTI_직원 ==! */
		WHERE
				  A.DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
		  AND	  A.ATDT_EMP_ID = B.PBSR_NO                 /** ID du participant !== 참석자직원ID ==! */
		  AND	  A.CMIT_METN_NO = #{cmitMetnNo}       		/** N° réunion du comité !== 위원회회의번호 ==! */
		  AND	  A.ATDT_TP_CD = #{atdtTpCd}       			/** Code de classification de participant !== 참석자구분코드 ==! */
	</select>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Consulter les opérateurs faisant l'objet d'examen] Consulter la liste !== [자문위원의견서관리리.의견서대상업체조회] 목록조회 ==!
    -->
	<select id="selectAeoAthrSynsCmitWriopDtlList"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsWriopTrgtCoVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsWriopTrgtCoVo">
		/* selectAeoAthrSynsCmitWriopDtlList */
		SELECT
			      A.CMIT_METN_NO														/** N° réunion du comité !== 위원회회의번호 ==! */
				, A.WRIOP_TP_CD															/** Code de classification d'avis !== 의견서구분코드 ==! */
				, A.WRIOP_REFF_NO														/** N° de référence de l'avis !== 의견서참조번호 ==! */
				, A.WRIOP_REFF_TP_CD													/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
				, A.DLBR_PT_CD															/** Code type de délibération !== 심의유형코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0023', A.DLBR_PT_CD, #{langCd}) AS DLBR_PT_NM						/** Code type de délibération !== 심의유형코드 ==! */
				, A.CMIT_WRIOP_RSLT_CD													/** Code du résultat de l'avis du comité !== 위원회의견서결과코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0026', A.CMIT_WRIOP_RSLT_CD, #{langCd}) AS CMIT_WRIOP_RSLT_NM		/** Code du résultat de l'avis du comité !== 위원회의견서결과코드 ==! */
				, A.DTRM_RSLT_CD														/** Code De Résultat De Décision !== 결정결과코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0026', A.DTRM_RSLT_CD, #{langCd}) AS DTRM_RSLT_NM		/** Code De Résultat De Décision !== 결정결과코드 ==! */
				, A.OBSR_CN																/** Observations !== 관찰내용 ==! */
			    , A.DEL_YN                                								/** Suppression ON !== 삭제여부 ==! */
				, A.FRST_REGST_ID														/** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, A.FRST_RGSR_DTTM														/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID														/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM														/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
				, B.NIF																	/** NIF !== 납세번호 ==! */
				, B.CO_NM																/** Nom De L'Entreprise !== 업체명 ==! */
				, B.AEO_ATHR_NO															/** Numéro d'OEA !== AEO공인번호 ==! */
				, A.WRIOP_REFF_NO AS AEO_REFF_NO                                        /** N° de référence de l'avis !== 의견서참조번호 ==! */
		 FROM
		 		  TB_AEOI_CMIT_WRIOP_DTL A    /** AEOI_DÉTAIL DES AVIS DU COMITÉ !== AEOI_위원회의견서상세 ==! */
		 		, (
		 			SELECT	R.NIF          /** Numéro d’identification fiscale !== 납세식별번호 ==! */
		 				  , R.CO_NM        /** Nom De L'Entreprise !== 업체명 ==! */
		 				  , R.AEO_ATHR_RQST_NO AS AEO_RQST_NO  /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
		 				  , R.AEO_ATHR_NO  /** Numéro d'OEA !== AEO공인번호 ==! */
		 			  FROM	TB_AEOI_ATHR_RQST R    /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
		 			 WHERE	R.DEL_YN = 'N'
		 		) B
		WHERE
				  A.DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
		  AND	  A.WRIOP_REFF_NO = B.AEO_RQST_NO
		  AND	  A.WRIOP_REFF_TP_CD = 'A'
		  AND	  A.CMIT_METN_NO = #{cmitMetnNo}       		/** N° réunion du comité !== 위원회회의번호 ==! */
		  AND	  A.WRIOP_TP_CD = #{wriopTpCd}       		/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
	
		UNION ALL 

		SELECT
			      A.CMIT_METN_NO														/** N° réunion du comité !== 위원회회의번호 ==! */
				, A.WRIOP_TP_CD															/** Code de classification d'avis !== 의견서구분코드 ==! */
				, A.WRIOP_REFF_NO														/** N° de référence de l'avis !== 의견서참조번호 ==! */
				, A.WRIOP_REFF_TP_CD													/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
				, A.DLBR_PT_CD															/** Code type de délibération !== 심의유형코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0023', A.DLBR_PT_CD, #{langCd}) AS DLBR_PT_NM						/** Code type de délibération !== 심의유형코드 ==! */
				, A.CMIT_WRIOP_RSLT_CD													/** Code du résultat de l'avis du comité !== 위원회의견서결과코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0026', A.CMIT_WRIOP_RSLT_CD, #{langCd}) AS CMIT_WRIOP_RSLT_NM		/** Code du résultat de l'avis du comité !== 위원회의견서결과코드 ==! */
				, A.DTRM_RSLT_CD														/** Code De Résultat De Décision !== 결정결과코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0026', A.DTRM_RSLT_CD, #{langCd}) AS DTRM_RSLT_NM		/** Code De Résultat De Décision !== 결정결과코드 ==! */
				, A.OBSR_CN																/** Observations !== 관찰내용 ==! */
			    , A.DEL_YN                                								/** Suppression ON !== 삭제여부 ==! */
				, A.FRST_REGST_ID														/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
				, A.FRST_RGSR_DTTM														/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID														/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM														/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
				, B.NIF																	/** NIF !== 납세번호 ==! */
				, B.CO_NM																/** Nom De L'Entreprise !== 업체명 ==! */
				, B.AEO_ATHR_NO															/** Numéro d'OEA !== AEO공인번호 ==! */
				, B.AEO_ATHR_NO AS AEO_REFF_NO                                          /** N° de référence de l'avis !== 의견서참조번호 ==! */
		 FROM
		 		  TB_AEOI_CMIT_WRIOP_DTL A    /** AEOI_DÉTAIL DES AVIS DU COMITÉ !== AEOI_위원회의견서상세 ==! */
		 		, (
		 			SELECT	AC.NIF          /** Numéro d’identification fiscale !== 납세식별번호 ==! */
		 				  , CC.CO_NM        /** Nom De L'Entreprise !== 업체명 ==! */
		 				  , AR.AEO_AFFC_MGMT_RQST_NO AS AEO_RQST_NO  /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
		 				  , AC.AEO_ATHR_NO  /** Numéro d'OEA !== AEO공인번호 ==! */
		 			  FROM	TB_AEOI_AFFC_RQST AR  /** AEOI_DEMANDE ULTÉRIEURE !== AEOI_사후신청	==! */
		 			  	  , TB_AEOI_ATHR_CO AC    /** AEOI_OPÉRATEURS AGRÉÉS !== AEOI_공인업체 ==! */
		 			  	  , TB_COM_CO CC          /** COM_ENTREPRISE !== COM_업체 ==! */
		 			 WHERE	AR.DEL_YN = 'N'
		 			   AND AR.AEO_ATHR_NO = AC.AEO_ATHR_NO
		 			   AND AC.NIF = CC.NIF
		 		) B
		WHERE
				  A.DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
		  AND	  A.WRIOP_REFF_NO = B.AEO_RQST_NO
		  AND	  A.WRIOP_REFF_TP_CD = 'B'
		  AND	  A.CMIT_METN_NO = #{cmitMetnNo}       		/** N° réunion du comité !== 위원회회의번호 ==! */
		  AND	  A.WRIOP_TP_CD = #{wriopTpCd}       		/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
	</select>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Consulter les opérateurs faisant l'objet d'examen] Consulter la liste !== [자문위원의견서관리리.의견서대상업체조회] 목록조회 ==!
    -->
	<select id="selectAeoAthrSynsWriopTrgtCoList"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsWriopTrgtCoVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsWriopTrgtCoVo">
		/* selectAeoAthrSynsWriopTrgtCoList */
	    <include refid="pagination.header"/>
		SELECT
			      T.WRIOP_REFF_NO           	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			    , T.WRIOP_REFF_TP_CD			/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
			    , T.DLBR_PT_CD                 	/** Code De Type De Contrôle !== 심사유형코드 ==! */
			    , T.CO_NM                      	/** Nom De L'Entreprise !== 업체명 ==! */
			    , T.NIF							/** NIF !== 납세번호 ==! */
			    , T.PRCS_STTS_CD               	/** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , T.PRCS_STTS_NM               	/** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , T.DTL_PRCS_STTS_CD           	/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , T.DTL_PRCS_STTS_NM            /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , T.AEO_ATHR_NO					/** Numéro d'OEA !== AEO공인번호 ==! */
			    , NVL(T.AEO_ATHR_NO, T.WRIOP_REFF_NO) AS AEO_REFF_NO  /** N° de référence de l'avis !== 의견서참조번호 ==! */
		 FROM	(
					SELECT
						      A.AEO_ATHR_RQST_NO AS WRIOP_REFF_NO           	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
						    , 'A' AS WRIOP_REFF_TP_CD							/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
						    , A.AUDT_PT_CD AS DLBR_PT_CD                 		/** Code De Type De Contrôle !== 심사유형코드 ==! */
						    , A.CO_NM                      						/** Nom De L'Entreprise !== 업체명 ==! */
						    , A.NIF												/** NIF !== 납세번호 ==! */
						    , A.PRCS_STTS_CD               						/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0015', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               		/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , A.DTL_PRCS_STTS_CD           						/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0017', A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM             /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , A.AEO_ATHR_NO										/** Numéro d'OEA !== AEO공인번호 ==! */
						    , A.LAST_CHG_DTTM                                   /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
					 FROM
					 		  TB_AEOI_ATHR_RQST A                       /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
					WHERE
							  A.DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
					  AND	  A.PRCS_STTS_CD = 'D30'
					  AND	  A.DTL_PRCS_STTS_CD = 'U24'
					  
				    UNION ALL
				    
					SELECT
						      A.AEO_ATHR_RQST_NO AS WRIOP_REFF_NO           	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
						    , 'A' AS WRIOP_REFF_TP_CD							/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
						    , 'DR' AS DLBR_PT_CD                 				/** Code De Type De Contrôle !== 심사유형코드 ==! */
						    , A.CO_NM                      						/** Nom De L'Entreprise !== 업체명 ==! */
						    , A.NIF												/** NIF !== 납세번호 ==! */
						    , A.PRCS_STTS_CD               						/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0015', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               		/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , A.DTL_PRCS_STTS_CD           						/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0017', A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM             /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , A.AEO_ATHR_NO										/** Numéro d'OEA !== AEO공인번호 ==! */
						    , A.LAST_CHG_DTTM                                   /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
					 FROM
					 		  TB_AEOI_ATHR_RQST A                       /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
					WHERE
							  A.DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
					  AND	  (
					  			(A.PRCS_STTS_CD = 'D31' and A.DTL_PRCS_STTS_CD = 'U08')
					  			OR
				    			(A.PRCS_STTS_CD = 'D29' and A.DTL_PRCS_STTS_CD IN ('U80') )
				    		  )
				    
				    UNION ALL
				    
					SELECT
						      AR.AEO_AFFC_MGMT_RQST_NO AS WRIOP_REFF_NO           	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
						    , 'B' AS WRIOP_REFF_TP_CD								/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
						    , AR.MGMT_RQST_TP_CD AS DLBR_PT_CD                 		/** Code De Type De Contrôle !== 심사유형코드 ==! */
						    , CC.CO_NM                      						/** Nom De L'Entreprise !== 업체명 ==! */
						    , AC.NIF												/** NIF !== 납세번호 ==! */
						    , AR.PRCS_STTS_CD               						/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0016', AR.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               		/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , AR.DTL_PRCS_STTS_CD           						/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0018', AR.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM            /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , AR.AEO_ATHR_NO										/** Numéro d'OEA !== AEO공인번호 ==! */
						    , AR.LAST_CHG_DTTM                                      /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
					 FROM
					 		  TB_AEOI_AFFC_RQST AR  /** AEOI_DEMANDE ULTÉRIEURE !== AEOI_사후신청 ==! */
					  	    , TB_AEOI_ATHR_CO AC    /** AEOI_OPÉRATEURS AGRÉÉS !== AEOI_공인업체 ==! */
					  	    , TB_COM_CO CC          /** COM_ENTREPRISE !== COM_업체 ==! */
					WHERE
							  AR.DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
					  AND	  AR.AEO_ATHR_NO = AC.AEO_ATHR_NO
					  AND	  AC.NIF = CC.NIF
					  AND	  AR.PRCS_STTS_CD = 'D30'
					  AND	  AR.DTL_PRCS_STTS_CD = 'U24'
					  
		 		) T
		WHERE	  1=1
		<if test='srchNif != null and !"".equals(srchNif)'>
		  AND	  T.NIF = #{srchNif}
		</if>
		<if test='srchCoNm != null and !"".equals(srchCoNm)'>
		  AND	  T.CO_NM LIKE '%' || #{srchCoNm} || '%'
		</if>
	    ORDER BY  T.LAST_CHG_DTTM DESC
		<include refid="pagination.footer"/>
	</select>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Base sur les avis du comité technique ad hoc] Enregistrer !==[자문위원의견서관리리.위원회의견서기본] 등록==!
    -->
	<insert id="insertAeoAthrSynsCmitWriopBscs"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopVo">
		/* insertAeoAthrSynsCmitWriopBscs */
        WITH UPSERT AS  (
			UPDATE	  TB_AEOI_CMIT_WRIOP_BSCS               /** AEOI_AVIS DU COMITÉ !== AEOI_위원회의견서기본 ==! */
			   SET
					  LAST_CHPR_ID = #{lastChprId}          /** Id Du Modificateur Final !== 최종변경자ID ==! */
					, LAST_CHG_DTTM = CURRENT_TIMESTAMP		/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
					, DEL_YN = 'N'                       	/** Suppression On !== 삭제여부 ==! */
					, SMN_REQST_DT = TO_CHAR(TO_DATE(REPLACE(#{smnReqstDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')					/** Date demande de convocation !== 소집요청일자 ==! */
					, SMN_RQSTR_EMP_ID = #{smnRqstrEmpId}				/** ID du convocateur  !== 소집요청자직원ID ==! */
					, SMN_DT = TO_CHAR(TO_DATE(REPLACE(#{smnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')						/** Date de convocation !== 소집일자 ==! */
					, SMN_RSN_CN = #{smnRsnCn}					/** Motif de convocation !== 소집사유내용 ==! */
					, METN_MNGR_EMP_ID = #{metnMngrEmpId}				/** ID du manager de la réunion  !== 회의관리자직원ID ==! */
					, METN_DT = TO_CHAR(TO_DATE(REPLACE(#{metnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')						/** Date De Réunion !== 회의일자 ==! */
					, METN_CN = #{metnCn}							/** Contenu de la réunion !== 회의내용 ==! */
					, ATCH_FILE_ID = #{atchFileId}					/** Id Du Fichier Joint !== 첨부파일ID ==! */
					, PRCS_STTS_CD = #{prcsSttsCd}					/** Code De Statut De Traitement !== 처리상태코드 ==! */
			 WHERE
            		  CMIT_METN_NO = #{cmitMetnNo}         	/** N° réunion du comité !== 위원회회의번호 ==! */
		     RETURNING *
        )
		INSERT INTO	  TB_AEOI_CMIT_WRIOP_BSCS (     /** AEOI_AVIS DU COMITÉ !== AEOI_위원회의견서기본 ==! */
				      CMIT_METN_NO					/** N° réunion du comité !== 위원회회의번호 ==! */
					, SMN_REQST_DT					/** Date demande de convocation !== 소집요청일자 ==! */
					, SMN_RQSTR_EMP_ID				/** ID du convocateur  !== 소집요청자직원ID ==! */
					, SMN_DT						/** Date de convocation !== 소집일자 ==! */
					, SMN_RSN_CN					/** Motif de convocation !== 소집사유내용 ==! */
					, METN_MNGR_EMP_ID				/** ID du manager de la réunion  !== 회의관리자직원ID ==! */
					, METN_DT						/** Date De Réunion !== 회의일자 ==! */
					, METN_CN						/** Contenu de la réunion !== 회의내용 ==! */
					, ATCH_FILE_ID					/** Id Du Fichier Joint !== 첨부파일ID ==! */
					, PRCS_STTS_CD					/** Code De Statut De Traitement !== 처리상태코드 ==! */
	                , DEL_YN                       	/** Suppression On !== 삭제여부 ==! */
					, FRST_REGST_ID					/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
					, FRST_RGSR_DTTM				/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
					, LAST_CHPR_ID					/** Id Du Modificateur Final !== 최종변경자ID ==! */
					, LAST_CHG_DTTM					/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		SELECT
				      #{cmitMetnNo}					/** N° réunion du comité !== 위원회회의번호 ==! */
					, TO_CHAR(TO_DATE(REPLACE(#{smnReqstDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')					/** Date demande de convocation !== 소집요청일자 ==! */
					, #{smnRqstrEmpId}				/** ID du convocateur  !== 소집요청자직원ID ==! */
					, TO_CHAR(TO_DATE(REPLACE(#{smnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')						/** Date de convocation !== 소집일자 ==! */
					, #{smnRsnCn}					/** Motif de convocation !== 소집사유내용 ==! */
					, #{metnMngrEmpId}				/** ID du manager de la réunion  !== 회의관리자직원ID ==! */
					, TO_CHAR(TO_DATE(REPLACE(#{metnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')						/** Date De Réunion !== 회의일자 ==! */
					, #{metnCn}						/** Contenu de la réunion !== 회의내용 ==! */
					, #{atchFileId}					/** Id Du Fichier Joint !== 첨부파일ID ==! */
					, #{prcsSttsCd}					/** Code De Statut De Traitement !== 처리상태코드 ==! */
	                , 'N'                          	/** Suppression On !== 삭제여부 ==! */
					, #{frstRegstId}          		/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */              
					, CURRENT_TIMESTAMP          	/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */   
					, #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */                 
					, CURRENT_TIMESTAMP          	/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		 WHERE	NOT EXISTS (SELECT * FROM UPSERT)
	</insert>

    <!--
    [Gérer l’avis du comité technique ad hoc.Base sur les avis du comité technique ad hoc] Modifier !== [자문위원의견서관리리.위원회의견서기본] 수정 ==!
    -->
	<update id="updateAeoAthrSynsCmitWriopBscs"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopVo">
		/* updateAeoAthrSynsCmitWriopBscs */
		UPDATE TB_AEOI_CMIT_WRIOP_BSCS                          /** AEOI_AVIS DU COMITÉ !== AEOI_위원회의견서기본 ==! */
		   SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
	    	<if test='smnReqstDt != null and !"".equals(smnReqstDt)'>
				, SMN_REQST_DT = TO_CHAR(TO_DATE(REPLACE(#{smnReqstDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')					/** Date demande de convocation !== 소집요청일자 ==! */
            </if>
	    	<if test='smnRqstrEmpId != null and !"".equals(smnRqstrEmpId)'>
				, SMN_RQSTR_EMP_ID = #{smnRqstrEmpId}			/** ID du convocateur  !== 소집요청자직원ID ==! */
            </if>
	    	<if test='smnDt != null and !"".equals(smnDt)'>
				, SMN_DT = TO_CHAR(TO_DATE(REPLACE(#{smnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')						/** Date de convocation !== 소집일자 ==! */
            </if>
	    	<if test='smnRsnCn != null and !"".equals(smnRsnCn)'>
				, SMN_RSN_CN = #{smnRsnCn}						/** Motif de convocation !== 소집사유내용 ==! */
            </if>
	    	<if test='metnMngrEmpId != null and !"".equals(metnMngrEmpId)'>
				, METN_MNGR_EMP_ID = #{metnMngrEmpId}			/** ID du manager de la réunion  !== 회의관리자직원ID ==! */
            </if>
	    	<if test='metnDt != null and !"".equals(metnDt)'>
				, METN_DT = TO_CHAR(TO_DATE(REPLACE(#{metnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')						/** Date De Réunion !== 회의일자 ==! */
            </if>
	    	<if test='metnCn != null and !"".equals(metnCn)'>
				, METN_CN = #{metnCn}							/** Contenu de la réunion !== 회의내용 ==! */
            </if>
	    	<if test='atchFileId != null and !"".equals(atchFileId)'>
				, ATCH_FILE_ID = #{atchFileId}					/** Id Du Fichier Joint !== 첨부파일ID ==! */
            </if>
	    	<if test='prcsSttsCd != null and !"".equals(prcsSttsCd)'>
				, PRCS_STTS_CD = #{prcsSttsCd}					/** Code De Statut De Traitement !== 처리상태코드 ==! */
            </if>
		 WHERE
           		  DEL_YN = 'N'                                	/** Suppression ON !== 삭제여부 ==! */
           AND	  CMIT_METN_NO = #{cmitMetnNo}         			/** N° réunion du comité !== 위원회회의번호 ==! */
	</update>

    <!--
    [Gérer l’avis du comité technique ad hoc.Base sur les avis du comité technique ad hoc] Supprimer !==[자문위원의견서관리리.위원회의견서기본] 삭제==!
    -->
	<update id="deleteAeoAthrSynsCmitWriopBscs"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopVo">
		  /* deleteAeoAthrSynsCmitWriopBscs */
		  UPDATE  TB_AEOI_CMIT_WRIOP_BSCS                       /** AEOI_AVIS DU COMITÉ !== AEOI_위원회의견서기본 ==! */
		     SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
		  		, DEL_YN = 'Y'									/** Suppression On !== 삭제여부 ==! */ 
		   WHERE
		  		  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
             AND  CMIT_METN_NO = #{cmitMetnNo}         			/** N° réunion du comité !== 위원회회의번호 ==! */
	</update>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Participants du comité technique ad hoc] Enregistrer !==[자문위원의견서관리리.위원회의견서참석자] 삭제==!
    -->
	<insert id="insertAeoAthrSynsCmitWriopAtdt"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopAtdtVo">
		/* insertAeoAthrSynsCmitWriopAtdt */
        WITH UPSERT AS  (
			UPDATE	  TB_AEOI_CMIT_WRIOP_ATDT               /** AEOI_PARTICIPANT DU COMITÉ !== AEOI_위원회의견서참석자 ==! */
			   SET
					  LAST_CHPR_ID = #{lastChprId}          /** Id Du Modificateur Final !== 최종변경자ID ==! */            
					, LAST_CHG_DTTM = CURRENT_TIMESTAMP		/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
					, DEL_YN = 'N'                       	/** Suppression On !== 삭제여부 ==! */
			 WHERE
            		  CMIT_METN_NO = #{cmitMetnNo}         	/** N° réunion du comité !== 위원회회의번호 ==! */
		  	   AND    ATDT_TP_CD = #{atdtTpCd}       		/** Code de classification de participant !== 참석자구분코드 ==! */
		  	   AND    ATDT_EMP_ID = #{atdtEmpId}			/** ID du participant !== 참석자직원ID ==! */
		     RETURNING *
        )
		INSERT INTO   TB_AEOI_CMIT_WRIOP_ATDT (     /** AEOI_PARTICIPANT DU COMITÉ !== AEOI_위원회의견서참석자 ==! */
				      CMIT_METN_NO					/** N° réunion du comité !== 위원회회의번호 ==! */
					, ATDT_TP_CD					/** Code de classification de participant !== 참석자구분코드 ==! */
					, ATDT_EMP_ID					/** ID du participant !== 참석자직원ID ==! */
	                , DEL_YN                       	/** Suppression On !== 삭제여부 ==! */
					, FRST_REGST_ID					/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
					, FRST_RGSR_DTTM				/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
					, LAST_CHPR_ID					/** Id Du Modificateur Final !== 최종변경자ID ==! */
					, LAST_CHG_DTTM					/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		SELECT
				      #{cmitMetnNo}					/** N° réunion du comité !== 위원회회의번호 ==! */
					, #{atdtTpCd}					/** Code de classification de participant !== 참석자구분코드 ==! */
					, #{atdtEmpId}					/** ID du participant !== 참석자직원ID ==! */
	                , 'N'                          	/** Suppression On !== 삭제여부 ==! */
					, #{frstRegstId}          		/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */              
					, CURRENT_TIMESTAMP          	/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */   
					, #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */                 
					, CURRENT_TIMESTAMP          	/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		 WHERE	NOT EXISTS (SELECT * FROM UPSERT)
	</insert>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Participants du comité technique ad hoc] Supprimer !==[자문위원의견서관리리.위원회의견서참석자] 삭제==!
    -->
	<update id="deleteAeoAthrSynsCmitWriopAtdt"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsCmitWriopAtdtVo">
		  /* deleteAeoAthrSynsCmitWriopAtdt */
		  UPDATE  TB_AEOI_CMIT_WRIOP_ATDT                       /** AEOI_PARTICIPANT DU COMITÉ !== AEOI_위원회의견서참석자 ==! */
		     SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
		  		, DEL_YN = 'Y'									/** Suppression On !== 삭제여부 ==! */ 
		   WHERE
		  		  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
             AND  CMIT_METN_NO = #{cmitMetnNo}         			/** N° réunion du comité !== 위원회회의번호 ==! */
		  	 AND  ATDT_TP_CD = #{atdtTpCd}       				/** Code de classification de participant !== 참석자구분코드 ==! */
		  <if test='atdtEmpId != null and !"".equals(atdtEmpId)'>
		  	 AND  ATDT_EMP_ID = #{atdtEmpId}					/** ID du participant !== 참석자직원ID ==! */
		  </if>
	</update>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Détaillées sur les avis du comité technique ad hoc] Enregistrer !==[자문위원의견서관리리.위원회의견서상세] 등록==!
    -->
	<insert id="insertAeoAthrSynsCmitWriopDtl"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsWriopTrgtCoVo">
		/* insertAeoAthrSynsCmitWriopDtl */
        WITH UPSERT AS  (
			UPDATE	  TB_AEOI_CMIT_WRIOP_DTL                    /** AEOI_DÉTAIL DES AVIS DU COMITÉ !== AEOI_위원회의견서상세 ==! */
			   SET
					  LAST_CHPR_ID = #{lastChprId}          	/** Id Du Modificateur Final !== 최종변경자ID ==! */            
					, LAST_CHG_DTTM = CURRENT_TIMESTAMP			/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
					, DEL_YN = 'N'                       		/** Suppression On !== 삭제여부 ==! */
					, WRIOP_REFF_TP_CD = #{wriopReffTpCd}		/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
					, DLBR_PT_CD = #{dlbrPtCd}					/** Code type de délibération !== 심의유형코드 ==! */
					, CMIT_WRIOP_RSLT_CD = #{cmitWriopRsltCd}	/** Code du résultat de l'avis du comité !== 위원회의견서결과코드 ==! */
					, DTRM_RSLT_CD = #{dtrmRsltCd}				/** Code De Résultat De Décision !== 결정결과코드 ==! */
					, OBSR_CN = #{obsrCn}						/** Observations !== 관찰내용 ==! */
			 WHERE
            		  CMIT_METN_NO = #{cmitMetnNo}         		/** N° réunion du comité !== 위원회회의번호 ==! */
		  	   AND    WRIOP_TP_CD = #{wriopTpCd}       			/** Code de classification d'avis !== 의견서구분코드 ==! */
		  	   AND    WRIOP_REFF_NO = #{wriopReffNo}			/** N° de référence de l'avis !== 의견서참조번호 ==! */
		     RETURNING *
        )
		INSERT INTO   TB_AEOI_CMIT_WRIOP_DTL (      /** AEOI_DÉTAIL DES AVIS DU COMITÉ !== AEOI_위원회의견서상세 ==! */
				      CMIT_METN_NO					/** N° réunion du comité !== 위원회회의번호 ==! */
					, WRIOP_TP_CD					/** Code de classification d'avis !== 의견서구분코드 ==! */
					, WRIOP_REFF_NO					/** N° de référence de l'avis !== 의견서참조번호 ==! */
					, WRIOP_REFF_TP_CD				/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
					, DLBR_PT_CD					/** Code type de délibération !== 심의유형코드 ==! */
					, CMIT_WRIOP_RSLT_CD			/** Code du résultat de l'avis du comité !== 위원회의견서결과코드 ==! */
					, DTRM_RSLT_CD					/** Code De Résultat De Décision !== 결정결과코드 ==! */
					, OBSR_CN						/** Observations !== 관찰내용 ==! */
	                , DEL_YN                       	/** Suppression On !== 삭제여부 ==! */
					, FRST_REGST_ID					/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
					, FRST_RGSR_DTTM				/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
					, LAST_CHPR_ID					/** Id Du Modificateur Final !== 최종변경자ID ==! */
					, LAST_CHG_DTTM					/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		SELECT
				      #{cmitMetnNo}					/** N° réunion du comité !== 위원회회의번호 ==! */
					, #{wriopTpCd}					/** Code de classification d'avis !== 의견서구분코드 ==! */
					, #{wriopReffNo}				/** N° de référence de l'avis !== 의견서참조번호 ==! */
					, #{wriopReffTpCd}				/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
					, #{dlbrPtCd}					/** Code type de délibération !== 심의유형코드 ==! */
					, #{cmitWriopRsltCd}			/** Code du résultat de l'avis du comité !== 위원회의견서결과코드 ==! */
					, #{dtrmRsltCd}					/** Code De Résultat De Décision !== 결정결과코드 ==! */
					, #{obsrCn}						/** Observations !== 관찰내용 ==! */
	                , 'N'                          	/** Suppression On !== 삭제여부 ==! */
					, #{frstRegstId}          		/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */              
					, CURRENT_TIMESTAMP          	/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */   
					, #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */                 
					, CURRENT_TIMESTAMP          	/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		 WHERE	NOT EXISTS (SELECT * FROM UPSERT)
	</insert>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Détaillées sur les avis du comité technique ad hoc] Modifier !==[자문위원의견서관리리.위원회의견서상세] 수정==!
    -->
	<update id="updateAeoAthrSynsCmitWriopDtl"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsWriopTrgtCoVo">
		/* updateAeoAthrSynsCmitWriopDtl */
		UPDATE	  TB_AEOI_CMIT_WRIOP_DTL                    /** AEOI_DÉTAIL DES AVIS DU COMITÉ !== AEOI_위원회의견서상세 ==! */
		   SET
				  LAST_CHPR_ID = #{lastChprId}          	/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP			/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
			<if test='wriopReffTpCd != null and !"".equals(wriopReffTpCd)'>
				, WRIOP_REFF_TP_CD = #{wriopReffTpCd}		/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
			</if>
			<if test='dlbrPtCd != null and !"".equals(dlbrPtCd)'>
				, DLBR_PT_CD = #{dlbrPtCd}					/** Code type de délibération !== 심의유형코드 ==! */
			</if>
			<if test='cmitWriopRsltCd != null and !"".equals(cmitWriopRsltCd)'>
				, CMIT_WRIOP_RSLT_CD = #{cmitWriopRsltCd}	/** Code du résultat de l'avis du comité !== 위원회의견서결과코드 ==! */
			</if>
			<if test='dtrmRsltCd != null and !"".equals(dtrmRsltCd)'>
				, DTRM_RSLT_CD = #{dtrmRsltCd}				/** Code De Résultat De Décision !== 결정결과코드 ==! */
			</if>
			<if test='obsrCn != null and !"".equals(obsrCn)'>
				, OBSR_CN = #{obsrCn}						/** Observations !== 관찰내용 ==! */
			</if>
		 WHERE
           		  DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
           AND    CMIT_METN_NO = #{cmitMetnNo}         		/** N° réunion du comité !== 위원회회의번호 ==! */
	  	   AND    WRIOP_TP_CD = #{wriopTpCd}       			/** Code de classification d'avis !== 의견서구분코드 ==! */
	  	   AND    WRIOP_REFF_NO = #{wriopReffNo}			/** N° de référence de l'avis !== 의견서참조번호 ==! */
	</update>
	
    <!--
    [Gérer l’avis du comité technique ad hoc.Détaillées sur les avis du comité technique ad hoc] Supprimer !==[자문위원의견서관리리.위원회의견서상세] 삭제==!
    -->
	<update id="deleteAeoAthrSynsCmitWriopDtl"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsWriopTrgtCoVo">
		  /* deleteAeoAthrSynsCmitWriopDtl */
		  UPDATE  TB_AEOI_CMIT_WRIOP_DTL                        /** AEOI_DÉTAIL DES AVIS DU COMITÉ !== AEOI_위원회의견서상세 ==! */
		     SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
		  		, DEL_YN = 'Y'									/** Suppression On !== 삭제여부 ==! */ 
		   WHERE
		  		  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
             AND  CMIT_METN_NO = #{cmitMetnNo}         			/** N° réunion du comité !== 위원회회의번호 ==! */
		  	 AND  WRIOP_TP_CD = #{wriopTpCd}       				/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
		  <if test='wriopReffNo != null and !"".equals(wriopReffNo)'>
		  	 AND  WRIOP_REFF_NO = #{wriopReffNo}				/** N° de référence de l'avis !== 의견서참조번호 ==! */
		  </if>
	</update>

    <!--
    [Gérer l’avis du comité technique ad hoc.Consulter les opérateurs faisant l'objet d'examen] Consulter la liste !== [자문위원의견서관리.참석자] 목록조회 ==!
    -->
	<select id="selectAeoAthrSynsCmitWriopAtdtPrintList" parameterType="alpass.ipt.aeo.com.vo.AeoiCmitWriopAtdtPrintVo" resultType="alpass.ipt.aeo.com.vo.AeoiCmitWriopAtdtPrintVo">
		/* selectAeoAthrSynsCmitWriopAtdtPrintList */
		SELECT  (CASE WHEN A.ATDT_EMP_ID = (SELECT SMN_RQSTR_EMP_ID FROM TB_AEOI_CMIT_WRIOP_BSCS WHERE CMIT_METN_NO = #{cmitMetnNo}) THEN 1
		             WHEN POSITION('AEO012' IN B.ROLES) > 0 THEN 2
		             WHEN POSITION('AEO007' IN B.ROLES) > 0 THEN 3
		             ELSE 4
		        END) AS SORT_ORDR          /** Ordre D'Alignement !== 정렬순서 ==! */
		      , A.ATDT_EMP_ID              /** ID du participant !== 참석자직원ID ==! */
		      , B.EMP_NM AS ATDT_EMP_NM    /** Nom De L'Employé !== 직원명 ==! */
		      , B.GNDR_CD                  /** Code De Sexe !== 성별코드 ==! */
		      , B.FONC_CD                  /** code de fonction !== 직무코드 ==! */
		      , (SELECT FONC_CD_NM FROM TB_POTI_FONC_CD_LANG WHERE LANG_CD = 'FR' AND FONC_CD = B.FONC_CD) AS FONC_NM    /** Nom du code de fonction !== 직무코드명 ==! */
		FROM    ( SELECT SMN_RQSTR_EMP_ID AS ATDT_EMP_ID FROM TB_AEOI_CMIT_WRIOP_BSCS WHERE CMIT_METN_NO = #{cmitMetnNo}
		          UNION ALL
		          SELECT ATDT_EMP_ID FROM TB_AEOI_CMIT_WRIOP_ATDT WHERE CMIT_METN_NO = #{cmitMetnNo} AND ATDT_TP_CD = #{atdtTpCd} AND DEL_YN = 'N' ) A
		      , ( SELECT  A.PBSR_NO, A.EMP_NM, A.GNDR_CD, A.FONC_CD, ARRAY_TO_STRING(ARRAY_AGG(B.ROLE_ID), ',') AS ROLES
		          FROM    TB_POTI_EMP A
		                , VW_POTI_ROLE_UNFC B
		          WHERE   A.PBSR_NO = B.PBSR_NO
		          AND     A.DEL_YN = 'N'
		          GROUP   BY A.PBSR_NO ) B
		WHERE   A.ATDT_EMP_ID = B.PBSR_NO
		<if test='roleId != null and !"".equals(roleId)'>
		AND     POSITION(#{roleId} IN B.ROLES) > 0
		</if>
		ORDER   BY SORT_ORDR
	</select>
	
</mapper>