<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Gérer l'organigramme du service chargé d'audit !== 공인심사조직관리 Mapper. ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.syns.mapper.AeoAthrSynsAudtOrgnMapper">

    <!--
    [Gérer l'organigramme du service chargé d'audit] Consulter la liste !== [공인심사조직관리] 목록조회==!
    -->
    <select id="selectAeoAthrSynsOrgnList"
            parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsOrgnVo"
            resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsOrgnVo">
        /* selectAeoAthrSynsOrgnList */
        SELECT
              ( SELECT ORGN_CD FROM TB_POTI_ORGN
                WHERE DEL_YN = 'N'
                AND ORGN_MGMT_CD = A.DRD_ORGN_MGMT_CD
              ) AS DRD_ORGN_MGMT_CD        /** Code de gestion de l'organigramme de la direction régionale !== 지역본부세관조직관리코드 ==! */
            , ( SELECT ORGN_CD FROM TB_POTI_ORGN
                WHERE DEL_YN = 'N'
                AND ORGN_MGMT_CD = A.AUDT_ORGN_MGMT_CD
              ) AS AUDT_ORGN_MGMT_CD       /** Code de gestion de l'organigramme du service chargé d'audit !== 심사조직관리코드 ==! */
            , A.USE_YN                     /** Utilisé On !== 사용여부 ==! */
        FROM TB_AEOI_ATHR_AUDT_ORGN A      /** ENTITÉ QUI GÈRE LES INFORMATIONS SUR L'ORGANIGRAMME DU SERVICE CHARGÉ DE L'AUDIT OEA !== AEOI_공인심사조직 ==! */
        WHERE A.DEL_YN = 'N'			   /** Suppression ON !== 삭제여부 ==! */
        <if test="srchJrsdCstmCd != null and srchJrsdCstmCd != ''">
            AND A.DRD_ORGN_MGMT_CD = ( SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN
                                       WHERE DEL_YN = 'N'
                                       AND ORGN_CD = #{srchJrsdCstmCd}
                                     )
        </if>
        <if test="srchPlnAudtDeptCd != null and srchPlnAudtDeptCd != ''">
            AND A.AUDT_ORGN_MGMT_CD = ( SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN
                                        WHERE DEL_YN = 'N'
                                        AND ORGN_CD = #{srchPlnAudtDeptCd}
                                      )
        </if>
        ORDER BY A.DRD_ORGN_MGMT_CD ASC

    </select>
    <!--
    [Gérer l'organigramme du service chargé d'audit.nbr total] Consulter !== [공인심사조직관리.총건수] 조회 ==!
    -->
    <select id="selectAeoAthrSynsOrgnListCnt" resultType="int">
        /* selectAeoAthrSynsOrgnListCnt */
        SELECT COUNT(1)
        FROM TB_AEOI_ATHR_AUDT_ORGN A    /** ENTITÉ QUI GÈRE LES INFORMATIONS SUR L'ORGANIGRAMME DU SERVICE CHARGÉ DE L'AUDIT OEA !== AEOI_공인심사조직 ==! */
    </select>

    <!--
    [Gérer l'organigramme du service chargé d'audit] Supprimer !== [공인심사조직관리] 삭제 ==!
    -->
    <delete id="deleteAthrAudtOrgn">
        /* deleteAthrAudtOrgn */
        DELETE FROM TB_AEOI_ATHR_AUDT_ORGN    /** ENTITÉ QUI GÈRE LES INFORMATIONS SUR L'ORGANIGRAMME DU SERVICE CHARGÉ DE L'AUDIT OEA !== AEOI_공인심사조직 ==! */
    </delete>

    <!--
    [Gérer l'organigramme du service chargé d'audit] Supprimer un seul élément !== [공인심사조직관리] 단건 삭제 ==!
    -->
    <delete id="deleteAthrAudtOrgnSngl" parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsOrgnVo">
        /* deleteAthrAudtOrgnSngl */
        DELETE FROM TB_AEOI_ATHR_AUDT_ORGN A    /** ENTITÉ QUI GÈRE LES INFORMATIONS SUR L'ORGANIGRAMME DU SERVICE CHARGÉ DE L'AUDIT OEA !== AEOI_공인심사조직 ==! */
        WHERE A.DEL_YN = 'N'
        <if test="srchJrsdCstmCd != null and srchJrsdCstmCd != ''">
            AND A.DRD_ORGN_MGMT_CD = ( SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN
                                        WHERE DEL_YN = 'N'
                                          AND ORGN_CD = #{srchJrsdCstmCd}
                                     )
        </if>
        <if test="srchPlnAudtDeptCd != null and srchPlnAudtDeptCd != ''">
            AND A.AUDT_ORGN_MGMT_CD = ( SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN
                                         WHERE DEL_YN = 'N'
                                           AND ORGN_CD =#{srchPlnAudtDeptCd}
                                      )
        </if>
    </delete>

    <!--
    [Gérer l'organigramme du service chargé d'audit] Sauvegarder !== [공인심사조직관리] 저장 ==!
    -->
    <insert id="insertAthrAudtOrgn">
        /* insertAthrAudtOrgn */
        INSERT INTO TB_AEOI_ATHR_AUDT_ORGN
        (
            DRD_ORGN_MGMT_CD             /** Code de gestion de l'organigramme de la direction régionale !== 지역본부세관조직관리코드 ==! */
          , AUDT_ORGN_MGMT_CD            /** Code de gestion de l'organigramme du service chargé d'audit !== 심사조직관리코드 ==! */
          , USE_YN                       /** Utilisé On !== 사용여부 ==! */
          , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
          , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
          , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
          , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        )
        VALUES
        (
            ( SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN
              WHERE DEL_YN = 'N'
              AND ORGN_CD = #{drdOrgnMgmtCd}             /** Code de gestion de l'organigramme de la direction régionale !== 지역본부세관조직관리코드 ==! */
            )
          , ( SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN
              WHERE DEL_YN = 'N'
              AND ORGN_CD =#{audtOrgnMgmtCd}            /** Code de gestion de l'organigramme du service chargé d'audit !== 심사조직관리코드 ==! */
            )
          , #{useYn}                     /** Utilisé On !== 사용여부 ==! */
          , 'N'                          /** Suppression On !== 삭제여부 ==! */
          , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
          , CURRENT_TIMESTAMP            /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
          , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
          , CURRENT_TIMESTAMP            /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        )
    </insert>


</mapper>