<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Gérer des critères d'agrément !== 공인기준 관리 Mapper. ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.syns.mapper.AeoAthrSynsBaseMapper">

    <!--
    [Gérer les critères d'agrément] Consulter la liste !== [공인기준관리] 목록조회==!
    -->
	<select id="selectAeoAthrSynsBaseList"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsBaseVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsBaseVo">
		/* selectAeoAthrSynsBaseList */
	    <include refid="pagination.header"/>
		SELECT
				  A.ATHR_BASE_MGMT_SRNO         /** Numéro de série de gestion des critères d'agrément !== 공인기준관리일련번호 ==! */
                , A.EV_LRCL_CD                 	/** Code De Catégorie D'Évaluation !== 평가대분류코드 ==! */
                , FN_GET_CD_VDVAL_NM('AEO_0013', A.EV_LRCL_CD, #{langCd}) AS EV_LRCL_NM                 	/** Code De Catégorie D'Évaluation !== 평가대분류코드 ==! */
                , A.EV_SMCL_CD                 	/** Code De Facteurs D'Évaluation !== 평가소분류코드 ==! */
                , FN_GET_CD_VDVAL_NM('AEO_0014', A.EV_SMCL_CD, #{langCd}) AS EV_SMCL_NM                 	/** Code De Facteurs D'Évaluation !== 평가소분류코드 ==! */
                , A.AUDT_TP_CD                 	/** Code de classification d'audit !== 심사구분코드 ==! */
                , FN_GET_CD_VDVAL_NM('AEO_0001', A.AUDT_TP_CD, #{langCd}) AS AUDT_TP_NM                 	/** Code de classification d'audit !== 심사구분코드 ==! */
                , CASE A.AUDT_TP_CD WHEN '01' THEN 'Y' WHEN 'AL' THEN 'Y' ELSE '' END AS AUDT_TP_CD_01
                , CASE A.AUDT_TP_CD WHEN '02' THEN 'Y' WHEN 'AL' THEN 'Y' ELSE '' END AS AUDT_TP_CD_02
                , A.USE_YN                     	/** Utilisé On !== 사용여부 ==! */
                , A.BASE_DESC                  	/** Description De Critère !== 기준설명 ==! */
                , A.EV_BSS_CN                  	/** Fondement d'évaluation !== 평가근거내용 ==! */
                , A.SORT_ORDR                  	/** Ordre D'Alignement !== 정렬순서 ==! */
				, A.DEL_YN						/** Suppression On !== 삭제여부 ==! */
				, A.FRST_REGST_ID				/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM
				, (SELECT EMP_NM||'('||TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY')||')' FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM_VIEW
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm			/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID				/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, (SELECT EMP_NM||'('||TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY')||')' FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS lastChgDttm				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM
			  	  TB_AEOI_ATHR_BASE_MGMT A    /** AEOI_GESTION DES CRITÈRES D'AGRÉMENT !== AEOI_공인기준관리 ==! */
         WHERE
         		  A.DEL_YN = 'N'									/** Suppression ON !== 삭제여부 ==! */
	    <if test="srchEvLrclCd != null and srchEvLrclCd != ''">
	       AND	  A.EV_LRCL_CD = #{srchEvLrclCd}                 	/** Code De Catégorie D'Évaluation !== 평가대분류코드 ==! */
	    </if>
	    <if test="srchEvSmclCd != null and srchEvSmclCd != ''">
	       AND	  A.EV_SMCL_CD = #{srchEvSmclCd}                 	/** Code De Facteurs D'Évaluation !== 평가소분류코드 ==! */
	    </if>
	    <if test="srchAudtTpCd != null and srchAudtTpCd != ''">
	       AND	  A.AUDT_TP_CD = #{srchAudtTpCd}                  	/** Code de classification d'audit !== 심사구분코드 ==! */
	    </if>
	    <if test="srchUseYn != null and srchUseYn != ''">
	       AND	  A.USE_YN = #{srchUseYn}                     		/** Utilisé On !== 사용여부 ==! */
	    </if>
	    <if test="srchBaseDesc != null and srchBaseDesc != ''">
	       AND	  A.BASE_DESC LIKE '%' || #{srchBaseDesc} || '%'    /** Description De Critère !== 기준설명 ==! */
	    </if>
	    ORDER BY  A.EV_LRCL_CD ASC, A.SORT_ORDR ASC
		<include refid="pagination.footer"/>
	</select>

    <!--
    [Gérer les critères d'agrément] Enregistrer !== [공인기준관리] 등록 ==!
    -->
	<insert id="insertAeoAthrSynsBase"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsBaseVo">
		/* insertAeoAthrSynsBase */
		<selectKey keyProperty="athrBaseMgmtSrno" order="BEFORE" resultType="java.math.BigDecimal">
			SELECT NVL(MAX(ATHR_BASE_MGMT_SRNO),0)+1 FROM TB_AEOI_ATHR_BASE_MGMT
		</selectKey>
		INSERT INTO TB_AEOI_ATHR_BASE_MGMT  /** AEOI_GESTION DES CRITÈRES D'AGRÉMENT !== AEOI_공인기준관리 ==! */
		(
				  ATHR_BASE_MGMT_SRNO       /** Numéro de série de gestion des critères d'agrément !== 공인기준관리일련번호 ==! */
                , EV_LRCL_CD                /** Code De Catégorie D'Évaluation !== 평가대분류코드 ==! */
                , EV_SMCL_CD                /** Code De Facteurs D'Évaluation !== 평가소분류코드 ==! */
                , AUDT_TP_CD                /** Code de classification d'audit !== 심사구분코드 ==! */
                , USE_YN                    /** Utilisé On !== 사용여부 ==! */
                , BASE_DESC                 /** Description De Critère !== 기준설명 ==! */
                , EV_BSS_CN                 /** Fondement d'évaluation !== 평가근거내용 ==! */
                , SORT_ORDR                 /** Ordre D'Alignement !== 정렬순서 ==! */
				, DEL_YN					/** Suppression On !== 삭제여부 ==! */
				, FRST_REGST_ID				/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
				, FRST_RGSR_DTTM			/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, LAST_CHPR_ID				/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, LAST_CHG_DTTM				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		VALUES
		(
				  #{athrBaseMgmtSrno}       /** Numéro de série de gestion des critères d'agrément !== 공인기준관리일련번호 ==! */
                , #{evLrclCd}               /** Code De Catégorie D'Évaluation !== 평가대분류코드 ==! */
                , #{evSmclCd}               /** Code De Facteurs D'Évaluation !== 평가소분류코드 ==! */
                , #{audtTpCd}               /** Code de classification d'audit !== 심사구분코드 ==! */
                , #{useYn}                  /** Utilisé On !== 사용여부 ==! */
                , #{baseDesc}               /** Description De Critère !== 기준설명 ==! */
                , #{evBssCn}                /** Fondement d'évaluation !== 평가근거내용 ==! */
                , #{sortOrdr}               /** Ordre D'Alignement !== 정렬순서 ==! */      
				, 'N'	         			/** Suppression On !== 삭제여부 ==! */                              
				, #{frstRegstId}          	/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */              
				, CURRENT_TIMESTAMP         /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */   
				, #{lastChprId}          	/** Id Du Modificateur Final !== 최종변경자ID ==! */                 
				, CURRENT_TIMESTAMP         /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */      
		)
	</insert>

    <!--
    [Gérer les critères d'agrément] Modifier !== [공인기준관리] 수정 ==!
    -->
	<update id="updateAeoAthrSynsBase"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsBaseVo">
		  /* updateAeoAthrSynsBase */
		  UPDATE  TB_AEOI_ATHR_BASE_MGMT                        /** AEOI_GESTION DES CRITÈRES D'AGRÉMENT !== AEOI_공인기준관리 ==! */
		  SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
				, EV_LRCL_CD = #{evLrclCd}                    	/** Code De Catégorie D'Évaluation !== 평가대분류코드 ==! */
                , EV_SMCL_CD = #{evSmclCd}                   	/** Code De Facteurs D'Évaluation !== 평가소분류코드 ==! */
                , AUDT_TP_CD = #{audtTpCd}                    	/** Code de classification d'audit !== 심사구분코드 ==! */
                , USE_YN = #{useYn}                           	/** Utilisé On !== 사용여부 ==! */
                , BASE_DESC = #{baseDesc}                     	/** Description De Critère !== 기준설명 ==! */
                , EV_BSS_CN = #{evBssCn}                      	/** Fondement d'évaluation !== 평가근거내용 ==! */
                , SORT_ORDR = #{sortOrdr}                     	/** Ordre D'Alignement !== 정렬순서 ==! */
		  WHERE
		  		  DEL_YN = 'N'                                	/** Suppression ON !== 삭제여부 ==! */
             AND  ATHR_BASE_MGMT_SRNO = #{athrBaseMgmtSrno}		/** Numéro de série de gestion des critères d'agrément !== 공인기준관리일련번호  ==! */
	</update>

    <!--
    [Gérer les critères d'agrément] Supprimer !== [공인기준관리] 삭제 ==!
    -->
	<update id="deleteAeoAthrSynsBase"
		parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsBaseVo">
		  /* deleteAeoAthrSynsBase */
		  UPDATE  TB_AEOI_ATHR_BASE_MGMT                            /** AEOI_GESTION DES CRITÈRES D'AGRÉMENT !== AEOI_공인기준관리 ==! */
		  SET
				  LAST_CHPR_ID = #{lastChprId}          			/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP					/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
		  		, DEL_YN = 'Y'									  	/** Suppression On !== 삭제여부 ==! */ 
		  WHERE	  
		  		  DEL_YN = 'N'									  	/** Suppression On !== 삭제여부 ==! */
		  	AND	  ATHR_BASE_MGMT_SRNO = #{athrBaseMgmtSrno}       	/** Numéro de série de gestion des critères d'agrément !== 공인기준관리일련번호 ==! */
	</update>
	
</mapper>