<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.frxcg.brq.mapper.PscBrqHistMapper">

  <!--
  @TODO:번역필요 !== BRQ이력 목록 조회 ==!
  -->
  <select id="selectPscBrqHistList"  parameterType="alpass.ipt.psc.frxcg.brq.vo.PscBrqHistSearchVo"
    resultType="alpass.ipt.psc.frxcg.brq.vo.PscBrqHistVo">
      /* selectPscPsnrInqtHistList */
      <include refid="pagination.header" ></include>

      SELECT   B.CSTM_CD  /** Code Du Bureau !== 세관코드 ==! */
              ,FN_GET_ORGN_NM(B.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
              ,B.FRXCG_DCSH_TEMP_NO  /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
              ,B.PSNR_FMNM  /** Prénom Du Voyageur !== 여행자성 ==! */
              ,B.PSNR_GVNM_NM /** Prénom du voyageur !== 여행자이름명 ==! */
              ,B.NAT_CD      /** Code De Nationalité !== 국적코드 ==! */
              ,B.PSPR_NO          /** N° De Passeport !== 여권번호 ==! */
              ,B.FRXCG_EUR_TAMT  /** Montant total de devises en euro !== 외환유로총금액 ==! */
              ,TO_CHAR(A.RGSR_DTTM,'DD/MM/YYYY') AS RGSR_DT
        FROM  TB_POTI_TODO A,
              TB_PSCI_FRXCG_DCSH_MGMT B
       WHERE  B.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
         AND  A.TODO_REFF_NO = B.FRXCG_DCSH_TEMP_NO
         AND  A.BSOP_CLSF_CD = 'PSC'
         AND  A.TODO_BSOP_TP_CD = 'G29'
      <if test='cstmCd != null and cstmCd != ""'>
          AND  B.CSTM_CD = #{cstmCd}                      /** Code Du Bureau !== 세관코드 ==! */
      </if>
      <if test='(rgsrDtFrom != null and !"".equals(rgsrDtFrom)) and (rgsrDtTo != null and !"".equals(rgsrDtTo))'>
          AND  TO_CHAR(A.RGSR_DTTM,'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{rgsrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{rgsrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
      </if>
      ORDER BY RGSR_DTTM DESC
      <include refid="pagination.footer" ></include>
  </select>

</mapper>