<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.dcshmgmt.mapper.PotPmDcshmgmtErrInfmMapper">

  <!-- 
		 Consulter la liste du document d'erreur !==오류문서 목록을 조회한다.==!
	 -->
	<select id="selectListErrInfm" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComErrInfmDtlVo" resultType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComErrInfmDtlVo">
		/** selectListErrInfm */
		SELECT RSL.*
				, (SELECT MAX(INFM_TRGT_YN) FROM TB_POTE_DCSH_PRCS_BRKD WHERE SBMT_NO = RSL.DOC_SBMT_NO AND  DCLR_DOC_CD = RSL.DCLR_DOC_CD) ERR_INFM_YN
		    , (SELECT COUNT(1) FROM TB_COM_ERR_INFM_D WHERE RSL.MSG_ID = MSG_ID AND DEL_YN='N') ERR_CNT
		FROM (
			<include refid="pagination.header"/>
			SELECT A.* 
			 , TO_CHAR(A.ERR_INFM_DTTM_TMP, 'DD/MM/YYYY HH24:MI:SS') AS ERR_INFM_DTTM  FROM  (
			SELECT /*+ DRIVING_SITE(A) */
			      A.MSG_ID         
			    , A.DCLR_DOC_CD
			    , A.DCLR_DOC_CD   DCLR_DOC_CD_EDIT
			    , (SELECT (DOC_NM) FROM TB_COM_DOC_CD_LANG WHERE A.DCLR_DOC_CD = DOC_CD AND LANG_CD=#{langCd} AND ROWNUM =1) DCLR_DOC_NM
			    , A.DCLR_ORGN_CD   
			    , A.DOC_SBMT_NO    
			    , TO_CHAR(A.DOC_RCPN_DTTM, 'DD/MM/YYYY HH24:MI:SS') DOC_RCPN_DTTM  		
			    , B.POBX_ID        
			    , A.PRCS_STTS_CD
			    , B.INFM_DOC_CD
			    , B.INFM_ORGN_CD 		    
			    , B.ERR_INFM_DTTM ERR_INFM_DTTM_TMP
			    , DECODE(B.PRCS_STTS_CD ,'L06','Y','N') ERR_INFM_FAIL_YN
			    , DECODE(B.PRCS_STTS_CD ,'L02','Y','N') EXCEPTION_YN
			FROM TB_COM_DOC_PRCS_BRKD A, TB_COM_ERR_INFM B
			WHERE A.MSG_ID = B.MSG_ID
			AND A.DEL_YN='N'
			AND B.DEL_YN='N'	
			<if test="docSbmtNo != null and docSbmtNo != ''">
				AND   A.DOC_SBMT_NO = REPLACE(#{docSbmtNo},'-','')
			</if>		
			<if test="pobxId != null and pobxId != ''">
				AND   A.POBX_ID = #{pobxId}
			</if>	
			<if test="dclrDocCd != null and dclrDocCd != ''">
				AND   A.DCLR_DOC_CD LIKE '%' || #{dclrDocCd} || '%'
			</if>	
			<if test="vrfcPtCd != null and vrfcPtCd != ''">
				AND   EXISTS (SELECT 1 FROM TB_COM_ERR_INFM_D WHERE A.MSG_ID = MSG_ID AND VRFC_PT_CD = #{vrfcPtCd} AND DEL_YN = 'N')
			</if>	
			<if test="prcsSttsCd != null and prcsSttsCd != ''">
				AND   A.PRCS_STTS_CD  = #{prcsSttsCd}
			</if>	
			<if test="errInfmDttmFrom != null and errInfmDttmFrom != ''">
			    AND TO_DATE(TO_CHAR(B.ERR_INFM_DTTM,'DD/MM/YYYY'),'DD/MM/YYYY') <![CDATA[ >= ]]> TO_DATE(#{errInfmDttmFrom},'DD/MM/YYYY')
			    AND TO_DATE(TO_CHAR(B.ERR_INFM_DTTM,'DD/MM/YYYY'),'DD/MM/YYYY') <![CDATA[ <= ]]> TO_DATE(#{errInfmDttmTo},'DD/MM/YYYY')
			</if>
			ORDER BY B.ERR_INFM_DTTM DESC
			) A
			<include refid="pagination.footer"/>
		) RSL
	</select>

	<!-- 
		 Consulter la liste détaillée d'erreur !==오류 상세목록을 조회한다.==!
	 -->
	<select id="selectErrInfmDtlInfo" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComErrInfmDtlVo" resultType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComErrInfmDtlVo">
		/*selectErrInfmDtlInfo*/
			SELECT /*+ DRIVING_SITE(B) */
                  A.MSG_ID
                , A.INFM_DOC_CD
                , (SELECT MAX(DOC_NM) FROM TB_COM_DOC_CD_LANG WHERE A.INFM_DOC_CD = DOC_CD AND LANG_CD=#{langCd} AND DEL_YN='N') INFM_DOC_NM
                , A.INFM_ORGN_CD
                , (SELECT MAX(ORGN_NM) FROM TB_POTI_ORGN WHERE A.INFM_ORGN_CD = ORGN_CD) AS INFM_ORGN_NM
                , TO_CHAR(A.ERR_INFM_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS ERR_INFM_DTTM
                , B.ERR_SRNO
                , B.VRFC_PT_CD
                , (SELECT FN_GET_CD_VDVAL_NM('COM_0038', B.VRFC_PT_CD, #{langCd}) FROM DUAL) AS VRFC_PT_NM
                , B.TRGT_TBL_NM
                , B.TRGT_COL_NM
                , (SELECT FN_GET_LBL_NM(B.VRFC_CLUS_LBL_ID,#{langCd}) FROM DUAL) AS VRFC_CLUS_NM
                , B.VRFC_CLUS_VAL
                , B.ERR_MSG_CD
                , B.ERR_MSG_CN
                , B.ERR_OCRN_LOCT_TP_CD
                , (SELECT FN_GET_CD_VDVAL_NM('POT_0009', B.ERR_OCRN_LOCT_TP_CD, #{langCd}) FROM DUAL) AS ERR_OCRN_LOCT_TP_NM
                , B.ERKY_1_VAL
                , B.ERKY_2_VAL
                , B.ERKY_3_VAL
                , B.DEL_YN
                , B.FRST_REGST_ID
                , TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
                , B.LAST_CHPR_ID
                , TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM                
           FROM   TB_COM_ERR_INFM A, TB_COM_ERR_INFM_D B
           WHERE  A.DEL_YN = 'N'                               
			   AND B.DEL_YN = 'N'  
			   AND A.MSG_ID = B.MSG_ID
			   AND A.MSG_ID = #{msgId}			   
			ORDER BY B.ERR_SRNO		
	</select>

	<!-- 
		 Consulter l'erreur du système !==시스템 오류를 조회한다.==!
	 -->
	<select id="selectComDocPrcsObstBrkdInfo" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComErrInfmDtlVo" resultType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComErrInfmDtlVo">
		/*selectComDocPrcsObstBrkdInfo*/
	    SELECT
                 A.MSG_ID
               , A.OBST_MSG_CN 
        FROM   TB_COM_DOC_PRCS_OBST_BRKD A
        WHERE  A.DEL_YN = 'N'
            AND A.MSG_ID = #{msgId}
            AND ROWNUM = 1
	</select>

	<!-- 
		 Appeler le retraitement d'erreur  !==오류 재처리 호출한다.==!
	 -->
	<update id="insertErrReProc" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComErrInfmDtlVo">
			/*insertErrReProc*/

			UPDATE TB_COM_DOC_PRCS_BRKD SET
				PRCS_STTS_CD = #{prcsSttsCd},
				LAST_CHPR_ID = #{lastChprId},
				LAST_CHG_DTTM = SYSTIMESTAMP
			WHERE MSG_ID = #{msgId}
	</update>

	<!--
   Appeler le retraitement d'erreur  !==오류 재처리 호출한다.==!
 -->
	<update id="insertErrInfm" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComErrInfmDtlVo">
		/*insertErrInfm*/
		UPDATE TB_COM_ERR_INFM SET
														 PRCS_STTS_CD = #{prcsSttsCd},
														 TRSN_YN = 'N',
														 LAST_CHPR_ID = #{lastChprId},
														 LAST_CHG_DTTM = SYSTIMESTAMP
		WHERE MSG_ID = #{msgId}
	</update>

</mapper>
