<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.dcshmgmt.mapper.PotPmDcshmgmtPobxMapper">
 
	<!-- 
		 Consulte la liste de la boîte aux lettres  !==사서함 목록을 조회한다.==!
	 -->
	<select id="selectListPobx" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo" resultType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo">
		/** selectListPobx */
		<include refid="pagination.header"/>
		SELECT A.* 
        , TO_CHAR(A.POBX_CRET_DTTM_TMP, 'DD/MM/YYYY HH24:MI:SS') AS POBX_CRET_DTTM  FROM  (
			SELECT
                  A.POBX_ID                    
                , A.NIF
                , (SELECT (CO_NM) FROM TB_COM_CO WHERE NIF = A.NIF AND DEL_YN = 'N' AND ROWNUM = 1) CO_NM
                , A.CHPN_ID                    
                , A.CHPN_NM                    
                , A.CHPN_TLPH_NO
								, A.POBX_CRET_DTTM AS POBX_CRET_DTTM_TMP
                , TO_CHAR(A.POBX_ABLT_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS POBX_ABLT_DTTM
                , TO_CHAR(A.POBX_APRE_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS POBX_APRE_DTTM 
                , A.APVR_ID                    
                , A.POBX_STTS_CD               
                , (SELECT FN_GET_PRCS_STTS_CD_VDVAL_NM('COM_9307', A.POBX_STTS_CD, #{langCd}) FROM DUAL)  AS POBX_STTS_NM
                , A.POBX_USG_TP_CD
                , (SELECT FN_GET_CD_VDVAL_NM('POT_0010', A.POBX_STTS_CD, #{langCd}) FROM DUAL)  AS POBX_USG_TP_NM
                , A.USE_YN                     
                , A.DEL_YN    
                , A.RTRN_RSN_CN  
                , A.RQST_RSN_CN
                , A.LANG_CD AS POBX_LANG_CD
                , A.CNTT_IDFY_CD    
                , A.TRSN_WAY_CD     
                , (SELECT FN_GET_CD_VDVAL_NM('POT_0016', A.POBX_STTS_CD, #{langCd}) FROM DUAL)  AS TRSN_WAY_NM
                , A.CO_DCLR_CD      
                , A.CNTT_POBX_ID
		        , A.FRST_REGST_ID AS EML
            FROM   TB_POTE_POBX A
            WHERE  A.POBX_USG_TP_CD = #{pobxUsgTpCd}
			<if test="pobxSttsCd =='04'">
				AND DEL_YN = 'Y'
			</if>
			<if test="pobxId != null and pobxId !=''">
			AND A.POBX_ID = #{pobxId}
			</if>
			<if test="coNm != null and coNm !=''">
			AND A.NIF IN (SELECT NIF FROM TB_COM_CO WHERE CO_NM LIKE '%'||#{coNm}||'%' AND DEL_YN = 'N' )
			</if>
			<if test="pobxSttsCd != null and pobxSttsCd !=''">
			AND A.POBX_STTS_CD = #{pobxSttsCd}
			</if>			
			<if test="cnttIdfyCd != null and cnttIdfyCd !=''">
			AND A.CNTT_IDFY_CD LIKE '%'||#{cnttIdfyCd}||'%'
			</if>
			<if test="cnttPobxId != null and cnttPobxId !=''">
			AND A.CNTT_POBX_ID LIKE '%'||#{cnttPobxId}||'%'
			</if>
			<if test="pobxCretDttmFrom != null and pobxCretDttmFrom != ''">
			  AND TO_DATE(TO_CHAR(A.POBX_CRET_DTTM,'DD/MM/YYYY'),'DD/MM/YYYY') <![CDATA[ >= ]]> TO_DATE(#{pobxCretDttmFrom},'DD/MM/YYYY')
			  AND TO_DATE(TO_CHAR(A.POBX_CRET_DTTM,'DD/MM/YYYY'),'DD/MM/YYYY') <![CDATA[ <= ]]> TO_DATE(#{pobxCretDttmTo},'DD/MM/YYYY')
			</if>
			ORDER BY A.POBX_CRET_DTTM DESC, A.POBX_ID DESC
			) A
		<include refid="pagination.footer"/>
	</select>

	<!-- 
		 Consulter la boîte aux lettres !==사서함을 조회한다.==!
	 -->
	<select id="selectPobx" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo" resultType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo">
		/** selectPobx */
		SELECT A.* 
        , TO_CHAR(A.POBX_CRET_DTTM_TMP, 'DD/MM/YYYY HH24:MI:SS') AS POBX_CRET_DTTM  FROM  (
			SELECT
                  A.POBX_ID                    
                , A.NIF
                , (SELECT (CO_NM) FROM TB_COM_CO WHERE NIF = A.NIF AND DEL_YN = 'N' AND ROWNUM = 1) CO_NM
                , A.CHPN_ID                    
                , A.CHPN_NM                    
                , A.CHPN_TLPH_NO 
                , A.POBX_CRET_DTTM AS POBX_CRET_DTTM_TMP
                , TO_CHAR(A.POBX_ABLT_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS POBX_ABLT_DTTM 
                , TO_CHAR(A.POBX_APRE_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS POBX_APRE_DTTM 
                , A.APVR_ID                    
                , A.POBX_STTS_CD               
                , (SELECT FN_GET_PRCS_STTS_CD_VDVAL_NM('COM_9307', A.POBX_STTS_CD, #{langCd}) FROM DUAL)  AS POBX_STTS_NM
                , A.POBX_USG_TP_CD
                , (SELECT FN_GET_CD_VDVAL_NM('POT_0010', A.POBX_STTS_CD, #{langCd}) FROM DUAL)  AS POBX_USG_TP_NM
                , A.USE_YN                     
                , A.DEL_YN    
                , A.RTRN_RSN_CN
								, A.RQST_RSN_CN
								, A.LANG_CD AS POBX_LANG_CD
                , A.CNTT_IDFY_CD    
                , A.TRSN_WAY_CD     
                , (SELECT FN_GET_CD_VDVAL_NM('POT_0016', A.POBX_STTS_CD, #{langCd}) FROM DUAL)  AS TRSN_WAY_NM
                , A.CO_DCLR_CD      
                , A.CNTT_POBX_ID                   
            FROM   TB_POTE_POBX A
            WHERE  DEL_YN = 'N'
            AND A.POBX_USG_TP_CD = #{pobxUsgTpCd}
			AND A.POBX_ID = #{pobxId}
			) A
	</select>

	<!-- 
		Autoriser la boîte aux lettres !==사서함을 승인한다.==!
	 -->
	<update id="updateApprPobx" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo">
		/** updateApprPobx */
			UPDATE TB_POTE_POBX
			SET POBX_STTS_CD = DECODE(POBX_STTS_CD,'M01','M02','M03','M04',POBX_STTS_CD)
				, USE_YN = DECODE(POBX_STTS_CD,'M03','N','Y')
				, DEL_YN = DECODE(POBX_STTS_CD,'M03','Y',DEL_YN)
				<if test="pobxSttsCd == 'M01'">
				 , POBX_APRE_DTTM = SYSTIMESTAMP
				</if>
				<if test="pobxSttsCd == 'M03'">
				 , POBX_ABLT_DTTM = SYSTIMESTAMP
				</if>
				, LAST_CHPR_ID = #{lastChprId}
				, LAST_CHG_DTTM = SYSTIMESTAMP
			WHERE POBX_ID = #{pobxId}
	</update>

	<!-- 
		 Renvoi de la boîte aux lettres  !==사서함 반려 ==!
	 -->
	<update id="updateRtnPobx" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo">
		/** updateRtnPobx */
		<![CDATA[
			UPDATE TB_POTE_POBX
			SET POBX_APRE_DTTM = SYSTIMESTAMP         
                , POBX_STTS_CD = 'M05' 
                , RTRN_RSN_CN = #{rtrnRsnCn}              
                , USE_YN = 'N'
                , DEL_YN = 'N'
				, LAST_CHPR_ID = #{lastChprId}
				, LAST_CHG_DTTM = SYSTIMESTAMP
			WHERE POBX_ID = #{pobxId}			
		]]>
	</update>

	<!-- 
		 Modifier l'inscription de la boîte aux lettres !==사서함을 신청 수정한다.==!
	 -->
	<update id="updatePobx" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo">
		/** updatePobx */
		<![CDATA[
			UPDATE TB_POTE_POBX
			SET RTRN_RSN_CN = #{rtrnRsnCn}
                , LAST_CHPR_ID = #{lastChprId}                
                , LAST_CHG_DTTM = SYSTIMESTAMP
			WHERE POBX_ID = #{pobxId}				
		]]>
	</update>

	<!-- 
		 Enregistrer la boîte aux lettres   !==사서함 등록 ==!
	 -->
	 <insert id="insertPobx" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo">
		/** insertPobx */
		<![CDATA[
			with upsert as
			 (
				 UPDATE TB_POTE_POBX SET
						CHPN_NM = #{chpnNm}
						, CHPN_TLPH_NO = #{chpnTlphNo}
						, POBX_USG_TP_CD =  #{pobxUsgTpCd}
						, LANG_CD =  #{pobxLangCd}
				    , RQST_RSN_CN = #{rqstRsnCn}
						, LAST_CHPR_ID = #{lastChprId}
						, LAST_CHG_DTTM = SYSTIMESTAMP
				 WHERE POBX_ID = #{pobxId} AND DEL_YN = 'N'
				 returning *
			 )
			 INSERT INTO TB_POTE_POBX
			 (
			 		POBX_ID
					, NIF
					, CHPN_ID
					, CHPN_NM
					, CHPN_TLPH_NO
					, RQST_RSN_CN
					, POBX_USG_TP_CD
					, POBX_CRET_DTTM
					, POBX_ABLT_DTTM
					, APVR_ID
					, POBX_STTS_CD
					, LANG_CD
					, USE_YN
					, DEL_YN
					, FRST_REGST_ID
					, FRST_RGSR_DTTM
					, LAST_CHPR_ID
					, LAST_CHG_DTTM
			 )
			 SELECT
					 'VC'||#{nif}||(SELECT LPAD(NVL(MAX(TO_NUMBER(REPLACE(POBX_ID,'VC'||#{nif}))),0)+1,3,'0') FROM TB_POTE_POBX WHERE POBX_ID LIKE 'VC' || #{nif} || '%' )
					, #{nif}
					, #{chpnId}
					, #{chpnNm}
					, #{chpnTlphNo}
			    , #{rqstRsnCn}
					, #{pobxUsgTpCd}
					, SYSDATE
					, NULL
					, NULL
					, #{pobxSttsCd}
					, #{pobxLangCd}
					, 'N'
					, 'N'
					, #{frstRegstId}
					, SYSTIMESTAMP
					, #{lastChprId}
					, SYSTIMESTAMP
			 WHERE NOT exists(select * from upsert)
		]]>
	</insert>

	<!-- 
			 Vérifier l’existence O/N de la boîte aux lettres du système de transfert de documents !==문서유통 사서함 존재여부 체크.==!
	 -->
	<select id="selectEdocPobxChk" parameterType="java.util.HashMap" resultType="java.lang.String">
			/* selectEdocPobxChk */
			 SELECT DECODE(COUNT(1),0,'N','Y') AS DUPLICATEDTP FROM YUPIESB.TTP
			 WHERE M_STPCODE = #{pobxId}
	</select>

	<!--
	 		Enregistrer le TP du système de transfert de documents  !==문서유통 TP등록 ==!
	 -->
	<insert id="insertEdocTpCdByPobx" parameterType="java.util.Map">
			/* insertEdocTpCdByPobx */
			INSERT INTO YUPIESB.TTP (M_STPCODE, M_SDELIVERY, M_SDEFAULTSTD, M_SDEFAULTAPP,  M_SACTIVE, M_SDELETE, M_DREGTIME)
			VALUES ( #{pobxId} , 'O' , 'GOVXML' , 'MAPPER' , 'AP' , 'F' , SYSDATE );

			INSERT INTO YUPIESB.TBILLING (M_STPCODE, M_SACTIVE)
			VALUES ( #{pobxId} , 'AP' );

			INSERT INTO YUPIESB.TCOMMUNICATION ( M_STPCODE, M_SSTANDARD, M_SPROTOCOL, M_SNETWORK, M_NCOMMTYPE, M_NACTION, M_SFILESCRIPT)
			VALUES (#{pobxId} ,'GOVXML' ,'DIR' ,NULL ,'1' ,'1' ,'{DOCNAME}_{SYSTEMKEY}_{RECVTPCODE}{YYYYMMDD}{HHMMSS}.XML' );

			INSERT INTO YUPIESB.TTP_COM_DIR ( M_STPCODE, M_SSTANDARD, M_SSOURCEDIR, M_SDESTDIR, M_NACTION, M_SAPP, M_SSTARTQ)
			VALUES ( #{pobxId} ,'GOVXML' ,NULL ,#{recvDir} ,'1' ,'MAPPER' ,NULL );

			INSERT INTO YUPIESB.TTP_XML ( M_STPCODE ,M_SNAME ,M_SSRID ,M_BGROUP ,M_SDETAILSRID ,M_SSTANDARD ,M_SDESC)
			VALUES ( #{pobxId} ,#{pobxId} ,#{pobxId} ,NULL ,#{pobxId} ,'GOVXML' ,NULL );

			INSERT INTO YUPIESB.TTP_XML ( M_STPCODE ,M_SNAME ,M_SSRID ,M_BGROUP ,M_SDETAILSRID ,M_SSTANDARD ,M_SDESC)
			VALUES ( #{pobxId} ,#{pobxId} ,#{pobxId} ,NULL ,#{pobxId} ,'DBXML' ,NULL );
	</insert>

	<!--
	 	Enregistrer une boîte aux lettres du système de transfert !==연계 사서함을 등록한다.==!
	-->
	<insert id="insertCnttPobx" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo">
		/** insertCnttPobx */
		<![CDATA[
			with upsert as
			(
				UPDATE TB_POTE_POBX SET
						CHPN_NM          = #{chpnNm}
						, CHPN_TLPH_NO     = #{chpnTlphNo}
						, POBX_USG_TP_CD   = #{pobxUsgTpCd}
						, POBX_CRET_DTTM   = SYSDATE
						, POBX_ABLT_DTTM   = NULL
						, POBX_APRE_DTTM   = SYSDATE
						, APVR_ID          = #{lastChprId}
						, POBX_STTS_CD     = #{pobxSttsCd}
						, LANG_CD          = #{pobxLangCd}
						, USE_YN           = 'Y'
						, DEL_YN           = 'N'
						, RTRN_RSN_CN      = #{rtrnRsnCn}
						, CNTT_IDFY_CD     = #{cnttIdfyCd}
						, TRSN_WAY_CD      = #{trsnWayCd}
						, CNTT_POBX_ID     = #{cnttPobxId}
						, LAST_CHPR_ID     = #{lastChprId}
						, LAST_CHG_DTTM    = SYSTIMESTAMP
				WHERE POBX_ID = #{pobxId}
				returning *
			)
			INSERT INTO TB_POTE_POBX
			(
					POBX_ID
					, CHPN_NM
					, CHPN_TLPH_NO
					, POBX_USG_TP_CD
					, POBX_CRET_DTTM
					, POBX_ABLT_DTTM
					, POBX_APRE_DTTM
					, APVR_ID
					, POBX_STTS_CD
					, LANG_CD
					, USE_YN
					, DEL_YN
					, RTRN_RSN_CN
					, CNTT_IDFY_CD
					, TRSN_WAY_CD
					, CNTT_POBX_ID
					, FRST_REGST_ID
					, FRST_RGSR_DTTM
					, LAST_CHPR_ID
					, LAST_CHG_DTTM
			)
			SELECT
					'VC'||#{cnttIdfyCd}||(SELECT LPAD(NVL(MAX(TO_NUMBER(REPLACE(POBX_ID,'VC'||#{cnttIdfyCd}))),0)+1,3,'0') FROM TB_POTE_POBX WHERE POBX_ID LIKE 'VC' || #{cnttIdfyCd} || '%' )
					, #{chpnNm}
					, #{chpnTlphNo}
					, #{pobxUsgTpCd}
					, SYSDATE
					, NULL
					, SYSDATE
					, #{lastChprId}
					, #{pobxSttsCd}
					, #{pobxLangCd}
					, 'Y'
					, 'N'
					, #{rtrnRsnCn}
					, #{cnttIdfyCd}
					, #{trsnWayCd}
					, #{cnttPobxId}
					, #{frstRegstId}
					, SYSTIMESTAMP
					, #{lastChprId}
					, SYSTIMESTAMP
			WHERE NOT exists(select * from upsert)
		]]>
	</insert>

	<!-- 
		 Supprimer une boîte aux lettres du système de transfert !==연계 사서함을 삭제한다.==!
	-->
	<update id="deleteCnttPobx" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo">
		/** deleteCnttPobx */
		<![CDATA[
			UPDATE TB_POTE_POBX
			SET  POBX_STTS_CD = 'M04'               
                , USE_YN = 'N' 
                , DEL_YN = 'Y' 
                , POBX_ABLT_DTTM = SYSDATE
				, LAST_CHPR_ID = #{lastChprId}
				, LAST_CHG_DTTM = SYSTIMESTAMP
			WHERE POBX_ID = #{pobxId}				
		]]>
	</update>

	<!--
      Consulter la liste de code d'activité de l'entreprise !==업체 신고 코드 리스트를 조회합니다.==!
  -->
	<select id="selectCoDclrCdList"
		resultType="alpass.com.comn.vo.ComItemVo">
		/** selectCoDclrCdList */
		SELECT
		A.CO_DCLR_CD AS ITEM
		, L.CD_VDVAL_NM AS ITEM_NM
		FROM
		TB_COM_CO_DCLR_CD A
		, TB_COM_COMN_CD_D_LANG L
		WHERE A.DEL_YN = 'N'
		AND L.DEL_YN = 'N'
		AND L.COMN_CD = 'COM_0030'
		<if test="nif != null and nif != ''">
			AND A.NIF = #{nif}
		</if>
		AND L.LANG_CD = #{langCd}
		AND A.co_dclr_tp_cd = L.cd_vdval
		GROUP BY A.CO_DCLR_CD
		, L.CD_VDVAL_NM
		ORDER BY
		A.CO_DCLR_CD
	</select>

	<!--
      Consulter un email du représentant de l'entreprise !==업체대표이메일을 조회한다==!
  -->
	<select id="selectCoEml" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotDocbxDocbxuserqstVo"
					resultType="java.lang.String">
		/** selectCoEml */
		SELECT RPRS_EML
		FROM TB_COM_CO
		WHERE DEL_YN = 'N'
			AND NIF = #{nif}
		LIMIT 1
	</select>

</mapper>
