<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.dcshmgmt.mapper.PotPmDcshmgmtPrcsSttsInfmMapper">

  <!-- 
		 Recherchez la liste de codes. !==오류문서 목록을 조회한다.==!
	 -->
	<select id="selectPrcsSttsInfmDtlInfo" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComPrcsSttsInfmVo" resultType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComPrcsSttsInfmVo">
		/*selectPrcsSttsInfmDtlInfo*/
		SELECT RSL.*
				, (SELECT FN_GET_CD_VDVAL_NM('COM_0022', RSL.BSOP_CLSF_CD, #{langCd}) FROM DUAL) AS BSOP_CLSF_NM
				, (SELECT (DOC_NM) FROM TB_COM_DOC_CD_LANG WHERE RSL.DCLR_DOC_CD = DOC_CD AND LANG_CD=#{langCd} AND ROWNUM=1) DCLR_DOC_NM
				, (SELECT (DOC_NM) FROM TB_COM_DOC_CD_LANG WHERE RSL.INFM_DOC_CD = DOC_CD AND LANG_CD=#{langCd} AND ROWNUM=1) INFM_DOC_NM
				, (SELECT (ORGN_NM) FROM TB_POTI_ORGN WHERE RSL.INFM_ORGN_CD = ORGN_CD AND ROWNUM=1) AS INFM_ORGN_NM
				, (SELECT FN_GET_CD_VDVAL_NM('COM_0026', RSL.BSOP_PRCS_STTS_CD, #{langCd}) FROM DUAL) AS BSOP_PRCS_STTS_NM
		FROM (
			<include refid="pagination.header"/>
			SELECT A.* 
			 , TO_CHAR(A.INFM_DTTM_TMP, 'DD/MM/YYYY HH24:MI:SS') AS INFM_DTTM  FROM  (
			 SELECT
	          A.MSG_ID
	          , A.RCPN_MSG_ID
	          , A.BSOP_CLSF_CD	          
	          , A.PRCS_STTS_CD	          
	          , A.DCLR_DOC_CD
	          , A.DCLR_DOC_CD    DCLR_DOC_CD_EDIT	          
	          , A.DOC_SBMT_NO
	          , A.CSTM_ACAP_NO
	          , A.INFM_DOC_CD	          
	          , A.INFM_ORGN_CD	          
	          , A.BSOP_PRCS_STTS_CD	         
	          , A.BSOP_PRCS_STTS_INFM_CN
	          , A.INFM_DTTM AS INFM_DTTM_TMP
	          , A.POBX_ID
	          , A.DEL_YN
	          , A.FRST_REGST_ID
	          , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	          , A.LAST_CHPR_ID
	          , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
	          , DECODE(A.PRCS_STTS_CD ,'L06','Y','N') ERR_INFM_FAIL_YN
	          , '' OBST_MSG_CN 
	      FROM   TB_COM_PRCS_STTS_INFM A
	      WHERE  A.DEL_YN = 'N'
	      <if test="docSbmtNo != null and docSbmtNo != ''">
					AND   A.DOC_SBMT_NO LIKE '%' || REPLACE(#{docSbmtNo},'-','') || '%'
				</if>		
				<if test="pobxId != null and pobxId != ''">
					AND   A.POBX_ID = #{pobxId}
				</if>	
				<if test="dclrDocCd != null and dclrDocCd != ''">
					AND   A.DCLR_DOC_CD LIKE '%' || #{dclrDocCd} || '%'
				</if>	
				<if test="prcsSttsCd != null and prcsSttsCd != ''">
					AND   A.PRCS_STTS_CD  = #{prcsSttsCd}
				</if>
				<if test="bsopClsfCd != null and bsopClsfCd != ''">
					AND   A.BSOP_CLSF_CD  = #{bsopClsfCd}
				</if>
				<if test="msgId != null and msgId != ''">
					AND A.MSG_ID = #{msgId}
				</if>	
				<if test="infmDttmFrom != null and infmDttmFrom != ''">
				  AND TO_DATE(TO_CHAR(A.INFM_DTTM,'DD/MM/YYYY'),'DD/MM/YYYY') <![CDATA[ >= ]]> TO_DATE(#{infmDttmFrom},'DD/MM/YYYY')
				  AND TO_DATE(TO_CHAR(A.INFM_DTTM,'DD/MM/YYYY'),'DD/MM/YYYY') <![CDATA[ <= ]]> TO_DATE(#{infmDttmTo},'DD/MM/YYYY')
				</if>
				ORDER BY A.INFM_DTTM DESC
			) A
				<include refid="pagination.footer"/>
			) RSL
	</select>

	<!-- 
		 Appel du retraitement !==오류 재처리 호출.==!
	 -->
	<update id="insertPrcsSttsReProc" parameterType="alpass.ipt.pot.pm.dcshmgmt.vo.PotComPrcsSttsInfmVo">
		/*insertPrcsSttsReProc*/			
	    UPDATE TB_COM_PRCS_STTS_INFM SET
				PRCS_STTS_CD = #{prcsSttsCd},
				LAST_CHPR_ID = #{lastChprId},
				LAST_CHG_DTTM = SYSTIMESTAMP
			WHERE MSG_ID = #{msgId}		   
	</update>

</mapper>
