<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.frxcg.rgsr.mapper.PscFrxcgDcshAmtMapper">

   <!--
   @TODO:번역필요 !== GeneratorComments 목록 조회 ==!
   -->
   <select id="selectPscFrxcgDcshAmtList"  
     parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo" resultType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo">
       /* selectPscFrxcgDcshAmtList */
       <include refid="pagination.header" ></include>
           SELECT
				  A.FRXCG_DCSH_TEMP_NO         /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
				, A.FRXCG_DCSH_AMT_SRNO        /** Numéro de série du montant du rapport en devises étrangères !== 외환신고서금액일련번호 ==! */
				, A.FRXCG_DCSH_MGMT_NO         /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
				, A.FRXCG_CURR_CD              /** Code de devise étrangère !== 외환통화코드 ==! */
				, A.FRXCG_AMT                  /** Montant du change !== 외환금액 ==! */
				, A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
				, A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
				, A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
				, A.FRXCG_DZD_AMT              /** Montant de DZD des devises !== 외환DZD금액 ==! */
				, A.BNK_CRPP_ID                /** ID de l'attestation bancaire !== 은행증명서ID ==! */
				, TO_CHAR(TO_DATE(A.ISS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ISS_DT  /** Date d'émission !== 발급일자 ==! */
				, A.BNK_BRNH_CD                /** Code D'Agence De Banque !== 은행지점코드 ==! */
				, A.BNK_BRNH_ADDR_NM           /** Nom De L'Agence Bancaire !== 은행지점주소명 ==! */
				, A.AC_NO                      /** N° De Compte Bancaire !== 계좌번호 ==! */
				, A.BNK_EMP_SGNT               /** Signature de l'agent de la banque !== 은행직원서명 ==! */
				, A.CSTM_VISA_NM               /** Visa douane !== 세관비자명 ==! */          
				, TO_CHAR(TO_DATE(A.EXCG_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS EXCG_DT  /** Date de change !== 환전일자 ==! */
				, A.TRSF_FRXCG_AMT             /** Montant des devises cédées !== 양도외환금액 ==! */
				, A.TRSF_FRXCG_CURR_CD         /** Code de monnaie des devises cédées !== 양도외환통화코드 ==! */
				, A.RFUN_FRXCG_AMT             /** Montant de devises rétrocédées !== 반환외환금액 ==! */
				, A.RFUN_FRXCG_CURR_CD         /** Code de monnaie des devises rétrocédées !== 반환외환통화코드 ==! */ 
				, A.FRXCG_EUR_AMT  			   /** Montant de devises en euro !== 외환EUR금액 ==! */
				, ROWNUM AS SRNO               /**  !== 일련번호 ==! */
				, A.REEXP_AMT                  /** montant à réexporter !== 재수출금액 ==! */
           FROM  ALPASSINT.TB_PSCI_FRXCG_DCSH_AMT_MGMT A
          WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
            AND  A.FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}       /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
            <if test='frxcgDcshAmtSrno != null and frxcgDcshAmtSrno != ""'>    
		    AND A.FRXCG_DCSH_AMT_SRNO = #{frxcgDcshAmtSrno}    /** Numéro de série du montant du rapport en devises étrangères !== 외환신고서금액일련번호 ==! */
		    </if>   
		  ORDER 
		     BY A.FRXCG_DCSH_AMT_SRNO           
       <include refid="pagination.footer" ></include>
   </select>


   <!--
   @TODO:번역필요 !== GeneratorComments 등록 ==!
   (Generated)
   -->
   <insert id="insertPscFrxcgDcshAmt" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo">
   		/* insertPscFrxcgDcshAmt */
	<selectKey keyProperty="frxcgDcshAmtSrno" order="BEFORE" resultType="java.math.BigDecimal">
	 	SELECT NVL(MAX(FRXCG_DCSH_AMT_SRNO),0)+1 FROM ALPASSINT.TB_PSCI_FRXCG_DCSH_AMT_MGMT WHERE FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}
	</selectKey>
	INSERT INTO ALPASSINT.TB_PSCI_FRXCG_DCSH_AMT_MGMT
	(
	  FRXCG_DCSH_TEMP_NO           	/** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
	, FRXCG_DCSH_AMT_SRNO          	/** Numéro de série du montant du rapport en devises étrangères !== 외환신고서금액일련번호 ==! */
	, FRXCG_DCSH_MGMT_NO           	/** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
	, FRXCG_CURR_CD                	/** Code de devise étrangère !== 외환통화코드 ==! */
	, FRXCG_AMT                    	/** Montant du change !== 외환금액 ==! */
	, DEL_YN                       	/** Suppression On !== 삭제여부 ==! */
	, FRST_REGST_ID                	/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
	, FRST_RGSR_DTTM               	/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
	, LAST_CHPR_ID                 	/** Id Du Modificateur Final !== 최종변경자ID ==! */
	, LAST_CHG_DTTM                	/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
	, FRXCG_DZD_AMT           		/** Montant de DZD des devises !== 외환DZD금액 ==! */
	, BNK_CRPP_ID                	/** ID de l'attestation bancaire !== 은행증명서ID ==! */
	, ISS_DT                     	/** Date d'émission !== 발급일자 ==! */
	, BNK_BRNH_CD                	/** Code D'Agence De Banque !== 은행지점코드 ==! */
	, BNK_BRNH_ADDR_NM           	/** Nom De L'Agence Bancaire !== 은행지점주소명 ==! */
	, AC_NO                      	/** N° De Compte Bancaire !== 계좌번호 ==! */
	, BNK_EMP_SGNT               	/** Signature de l'agent de la banque !== 은행직원서명 ==! */
	, CSTM_VISA_NM               	/** Visa douane !== 세관비자명 ==! */
	, EXCG_DT                    	/** Date de change !== 환전일자 ==! */
	, TRSF_FRXCG_AMT             	/** Montant des devises cédées !== 양도외환금액 ==! */
	, TRSF_FRXCG_CURR_CD         	/** Code de monnaie des devises cédées !== 양도외환통화코드 ==! */
	, RFUN_FRXCG_AMT             	/** Montant de devises rétrocédées !== 반환외환금액 ==! */
	, RFUN_FRXCG_CURR_CD            /** Code de monnaie des devises rétrocédées !== 반환외환통화코드 ==! */
	, FRXCG_EUR_AMT  			    /** Montant de devises en euro !== 외환EUR금액 ==! */
	, REEXP_AMT						/** Montant à réexporter !== 재수출금액 ==! */  
	)
	VALUES
	(
	  #{frxcgDcshTempNo}           /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
	, #{frxcgDcshAmtSrno}          /** Numéro de série du montant du rapport en devises étrangères !== 외환신고서금액일련번호 ==! */
	, #{frxcgDcshMgmtNo}           /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
	, #{frxcgCurrCd}               /** Code de devise étrangère !== 외환통화코드 ==! */
	, #{frxcgAmt}                  /** Montant du change !== 외환금액 ==! */
	, 'N'                          /** Suppression On !== 삭제여부 ==! */
	, #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
	, SYSTIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
	, #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
	, SYSTIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
	, #{frxcgDzdAmt}               /** Montant de DZD des devises !== 외환DZD금액 ==! */
	, #{bnkCrppId}                 /** ID de l'attestation bancaire !== 은행증명서ID ==! */
    , TO_CHAR(TO_DATE(#{issDt}, 'DD/MM/YYYY'),'YYYYMMDD')                   /** Date d'émission !== 발급일자 ==! */
    , #{bnkBrnhCd}                 /** Code D'Agence De Banque !== 은행지점코드 ==! */
    , #{bnkBrnhAddrNm}             /** Nom De L'Agence Bancaire !== 은행지점주소명 ==! */
    , #{acNo}                      /** N° De Compte Bancaire !== 계좌번호 ==! */
    , #{bnkEmpSgnt}                /** Signature de l'agent de la banque !== 은행직원서명 ==! */
    , #{cstmVisaNm}                /** Visa douane !== 세관비자명 ==! */
    , TO_CHAR(TO_DATE(#{excgDt}, 'DD/MM/YYYY'),'YYYYMMDD')                        /** Date de change !== 환전일자 ==! */
    , #{trsfFrxcgAmt}              /** Montant des devises cédées !== 양도외환금액 ==! */
    , #{trsfFrxcgCurrCd}           /** Code de monnaie des devises cédées !== 양도외환통화코드 ==! */
    , #{rfunFrxcgAmt}              /** Montant de devises rétrocédées !== 반환외환금액 ==! */
    , #{rfunFrxcgCurrCd}           /** Code de monnaie des devises rétrocédées !== 반환외환통화코드 ==! */
    , #{frxcgEurAmt}           	   /** Montant de devises en euro !== 외환EUR금액 ==! */   
    , #{reexpAmt}           	   /** Montant à réexporter !== 재수출금액 ==! */  
	)
   </insert>


   <!--
   @TODO:번역필요 !== GeneratorComments 수정 ==!
   (Generated)
   -->
   <update id="updatePscFrxcgDcshAmt" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo">
       /* updatePscFrxcgDcshAmt */
       UPDATE  ALPASSINT.TB_PSCI_FRXCG_DCSH_AMT_MGMT SET 
				  LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
				, LAST_CHG_DTTM = SYSTIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
				<if test='bnkCrppId != null and bnkCrppId != ""'>   
                	, BNK_CRPP_ID        = #{bnkCrppId}        	/** ID de l'attestation bancaire !== 은행증명서ID ==! */
                </if>  
                <if test='issDt != null and issDt != ""'>
					, ISS_DT             =   TO_CHAR(TO_DATE( #{issDt} , 'DD/MM/YYYY'),'YYYYMMDD')          	/** Date d'émission !== 발급일자 ==! */
				</if>  
                <if test='bnkBrnhCd != null and bnkBrnhCd != ""'>
					, BNK_BRNH_CD        = #{bnkBrnhCd}        	/** Code D'Agence De Banque !== 은행지점코드 ==! */
				</if>  
                <if test='bnkBrnhAddrNm != null and bnkBrnhAddrNm != ""'>
					, BNK_BRNH_ADDR_NM   = #{bnkBrnhAddrNm}    	/** Nom De L'Agence Bancaire !== 은행지점주소명 ==! */
				</if>  
                <if test='acNo != null and acNo != ""'>
					, AC_NO              = #{acNo}             	/** N° De Compte Bancaire !== 계좌번호 ==! */
				</if>  
                <if test='bnkEmpSgnt != null and bnkEmpSgnt != ""'>
					, BNK_EMP_SGNT       = #{bnkEmpSgnt}       	/** Signature de l'agent de la banque !== 은행직원서명 ==! */
				</if>  
                <if test='cstmVisaNm != null and cstmVisaNm != ""'>
					, CSTM_VISA_NM       = #{cstmVisaNm}       	/** Visa douane !== 세관비자명 ==! */
				</if>  
                <if test='excgDt != null and excgDt != ""'>
					, EXCG_DT            = TO_CHAR(TO_DATE( #{excgDt} , 'DD/MM/YYYY'),'YYYYMMDD')         	/** Date de change !== 환전일자 ==! */
				</if>  
                <if test='trsfFrxcgAmt != null and trsfFrxcgAmt != ""'>
					, TRSF_FRXCG_AMT     = #{trsfFrxcgAmt}     	/** Montant des devises cédées !== 양도외환금액 ==! */
				</if>  
                <if test='trsfFrxcgCurrCd != null and trsfFrxcgCurrCd != ""'>
					, TRSF_FRXCG_CURR_CD = #{trsfFrxcgCurrCd}  	/** Code de monnaie des devises cédées !== 양도외환통화코드 ==! */
				</if>  
                <if test='rfunFrxcgAmt != null and rfunFrxcgAmt != ""'>
					, RFUN_FRXCG_AMT     = #{rfunFrxcgAmt}     	/** Montant de devises rétrocédées !== 반환외환금액 ==! */
				</if>  
                <if test='rfunFrxcgCurrCd != null and rfunFrxcgCurrCd != ""'>
					, RFUN_FRXCG_CURR_CD = #{rfunFrxcgCurrCd}    /** Code de monnaie des devises rétrocédées !== 반환외환통화코드 ==! */
				</if>
				<if test='frxcgCurrCd != null and frxcgCurrCd != ""'>
					, FRXCG_CURR_CD = #{frxcgCurrCd}   /** Code de devise étrangère !== 외환통화코드 ==! */           	
				</if>
				<if test='frxcgAmt != null and frxcgAmt != ""'>
					, FRXCG_AMT = #{frxcgAmt}                        	/** Montant du change !== 외환금액 ==! */
				</if>
				<if test='frxcgEurAmt != null and frxcgEurAmt != ""'>
					, FRXCG_EUR_AMT = #{frxcgEurAmt}      			   /** Montant de devises en euro !== 외환EUR금액 ==! */
				</if>
				
				
          WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
            AND  FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}       /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
            AND  FRXCG_DCSH_AMT_SRNO = #{frxcgDcshAmtSrno}       /** Numéro de série du montant du rapport en devises étrangères !== 외환신고서금액일련번호 ==! */
   </update>


   <!--
   @TODO:번역필요 !== GeneratorComments 삭제 ==!
   (Generated)
   -->
   <update id="deletePscFrxcgDcshAmt" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo">
       /* deletePscFrxcgDcshAmt */
       UPDATE  ALPASSINT.TB_PSCI_FRXCG_DCSH_AMT_MGMT SET 
               DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
            ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
            ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
          AND  FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}       /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */          
   </update>
   
   <!--
  @TODO:번역필요 !== 외환신고서금액관리 수정 ==!
  -->
  <update id="updatePscFrxcgDcshAmtMgmt" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo">
	/* updatePscFrxcgDcshAmtMgmt */
    UPDATE  ALPASSINT.TB_PSCI_FRXCG_DCSH_AMT_MGMT SET        
      LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
    , LAST_CHG_DTTM = CURRENT_TIMESTAMP           /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    <if test='frxcgDcshMgmtNo != null and frxcgDcshMgmtNo != ""'>    
    , FRXCG_DCSH_MGMT_NO = #{frxcgDcshMgmtNo}     /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
    </if>   
    WHERE  DEL_YN = 'N'                                	/** Suppression ON !== 삭제여부 ==! */
    AND    FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}      /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
  </update>
  
  <!--
   @TODO:번역필요 !== GeneratorComments 목록 조회 ==!
   -->
   <select id="selectPscFrxcgDcshAmtSum" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo" resultType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo">
	/* selectPscFrxcgDcshAmtSum */
	SELECT NVL(SUM(FRXCG_EUR_AMT),0) AS FRXCG_EUR_TAMT
	  FROM ALPASSINT.TB_PSCI_FRXCG_DCSH_AMT_MGMT A
	 WHERE DEL_YN = 'N'                                		/** Suppression ON !== 삭제여부 ==! */
       AND A.FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}       /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
   </select>
   
   <!--
   @TODO:번역필요 !== GeneratorComments 외환귀금속 목록 조회 ==!
   -->
   <select id="selectPscFrxcgAmtJwList"  
     parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo" resultType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshAmtVo">
       /* selectPscFrxcgAmtJwList */
       <include refid="pagination.header" ></include>
          SELECT A.FRXCG_DCSH_TEMP_NO         /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */				
			   , A.FRXCG_CURR_CD AS TP_NM     /** Code de devise étrangère !== 외환통화코드 ==! */
			   , A.FRXCG_AMT  AS AMT_WGHT            /** Montant du change !== 외환금액 ==! */				
           FROM  ALPASSINT.TB_PSCI_FRXCG_DCSH_AMT_MGMT A
          WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
            AND  A.FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}   
            
          UNION  ALL
            
         SELECT  A.FRXCG_DCSH_TEMP_NO         								/** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */			
               , FN_GET_CD_VDVAL_NM('PSC_0028', A.JW_CD, 'FR') AS TP_NM                     /** Code des objets de valeur !== 귀금속코드 ==! */
               , A.JW_WGHT   AS AMT_WGHT                 /** Poids des objets de valeur !== 귀금속중량 ==! */                
           FROM  ALPASSINT.TB_PSCI_FRXCG_DCSH_JW_MGMT A
          WHERE  DEL_YN = 'N'     
            AND  A.FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}  
       <include refid="pagination.footer" ></include>
   </select>
	
</mapper>

