<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.clr.poa.fcr.mapper.ClrFrgeCmdtRqstMapper">
    <select id="selectClrFrgeCmdtRqstList" parameterType ="alpass.ipt.clr.poa.fcr.vo.ClrFrgeCmdtRqstVo"  resultType="alpass.ipt.clr.poa.fcr.vo.ClrFrgeCmdtRqstVo">
        /* selectClrFrgeCmdtRqstList : Consulter la liste des titulaires de la marque !== 상표권자업체신청 목록조회 ==! */
        <include refid="pagination.header" />
        SELECT
            A.FRGE_CMDT_MGRN,               /**  N° ALERTE ! == 위조물품관리번호 ==! */
            A.PDLS_BRND_NM,                 /** Marque de l'article == 품목브랜드명 ==! */
            A.CMDT_NM,                      /** Nom de marchandise !== 물품명 ==! */
            A.CO_NM,                        /** Nom De L'Entreprise !== 업체명 ==! */
            A.CO_ADDR,                      /** Adresse De L'Entreprise !== 업체주소 ==! */
            A.CO_TLPH_NO,                   /** N° Téléphone De L'Opérateur !== 업체전화번호 ==! */
            A.CO_MOBL_NO,                   /** N° de téléphone portable de l'opérateur !== 업체휴대전화번호 ==! */
            A.CO_EML,                       /** Email De L'Opérateur !== 업체이메일 ==! */
            A.CO_FAX_NO,                    /** N° Fax De L'Opérateur !== 업체팩스번호 ==! */
            A.RMRK,                         /** Remarque !== 비고 ==! */
            A.APLY_STRT_DT,                 /** Date de début d’application !== 적용시작일자 ==! */
            A.APLY_END_DT,                  /** Date de fin d’application !== 적용종료일자 ==! */
            A.CO_TXPR_IDFY_NO,              /** Niu de l'entreprise !== 업체납세자식별번호 ==! */
            A.ATCH_FILE_ID,                 /** Id Du Fichier Joint !== 첨부파일ID ==! */
            A.DEL_YN,                       /** Suppression On !== 삭제여부 ==! */
            A.PRCS_STTS_CD,                 /** État de traitement !==처리상태==! */
            A.FRST_REGST_ID,                /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
            A.FRST_RGSR_DTTM,               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
            A.LAST_CHPR_ID,                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
            A.LAST_CHG_DTTM,                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            --         CASE WHEN A.PRCS_STTS_CD IN('I01','I04','I05','I06') THEN 'C' ELSE A.PRCS_STTS_CD END PRCS_STTS_CD
            D.CO_DCLR_CD
        FROM TB_CLRI_FRGE_CMDT_RQST_AUDT A, TB_COM_CO B, TB_COM_CO_USER C, TB_COM_CO_DCLR_CD D
        WHERE A.DEL_YN ='N'
        AND A.CO_TXPR_IDFY_NO = B.NIF
        AND A.CO_TXPR_IDFY_NO = C.NIF
        AND A.CO_TXPR_IDFY_NO = D.NIF
        AND C.USER_TP_CD = 'R'
        AND D.CO_DCLR_TP_CD = 'U'
        AND A.DEL_YN = 'N'
        AND B.DEL_YN = 'N'
        AND C.DEL_YN = 'N'
        AND D.DEL_YN = 'N'
        <if test="frgeCmdtMgrn != null and frgeCmdtMgrn != ''">
            AND A.FRGE_CMDT_MGRN = #{frgeCmdtMgrn}  /** N° ALERTE ! == 위조물품관리번호 ==! */
        </if>
        <if test="pdlsBrndNm != null and pdlsBrndNm != ''">
            AND A.PDLS_BRND_NM like '%'||#{pdlsBrndNm}||'%'  /** Marque de l'article ! == 품목브랜드명 ==! */
        </if>
        GROUP BY A.FRGE_CMDT_MGRN, A.PDLS_BRND_NM, A.CMDT_NM, A.CO_NM, A.CO_ADDR,
                A.CO_TLPH_NO, A.CO_MOBL_NO, A.CO_EML, A.CO_FAX_NO, A.RMRK, A.APLY_STRT_DT,
                A.APLY_END_DT, A.CO_TXPR_IDFY_NO, A.ATCH_FILE_ID, A.DEL_YN, A.PRCS_STTS_CD,
                A.FRST_REGST_ID, A.FRST_RGSR_DTTM, A.LAST_CHPR_ID, A.LAST_CHG_DTTM, D.CO_DCLR_CD
        <include refid="pagination.footer" />
    </select>

    <select id="selectClrFrgeCmdtRqstDtl" parameterType ="alpass.ipt.clr.poa.fcr.vo.ClrFrgeCmdtRqstVo"  resultType="alpass.ipt.clr.poa.fcr.vo.ClrFrgeCmdtRqstVo">
        /* selectClrFrgeCmdtRqstDtl */
        SELECT
            A.FRGE_CMDT_MGRN,
            A.PDLS_BRND_NM,
            A.CMDT_NM,
            A.CO_ADDR,
            A.CO_TLPH_NO,
            A.CO_MOBL_NO,
            A.CO_EML,
            TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_STRT_DT,
            TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_END_DT,
            A.CO_FAX_NO,
            A.RMRK,
            A.PRCS_STTS_CD,
            A.CO_TXPR_IDFY_NO,
            A.ATCH_FILE_ID,
            A.DEL_YN,
            A.FRST_REGST_ID,
            TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS'),
            A.LAST_CHPR_ID,
            TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS')
        FROM TB_CLRI_FRGE_CMDT_RQST_AUDT A
        WHERE FRGE_CMDT_MGRN = #{frgeCmdtMgrn}
    </select>

    <insert id="insertClrFrgeCmdtRqst" parameterType ="alpass.ipt.clr.poa.fcr.vo.ClrFrgeCmdtRqstVo">
        INSERT INTO TB_CLRI_FRGE_CMDT_RQST_AUDT
        (
            FRGE_CMDT_MGRN,                 /**  N° ALERTE ! == 위조물품관리번호 ==! */
            PDLS_BRND_NM,                   /** Marque de l'article == 품목브랜드명 ==! */
            CMDT_NM,                        /** Nom de marchandise !== 물품명 ==! */
            CO_NM,                          /** Nom De L'Entreprise !== 업체명 ==! */
            CO_ADDR,                        /** Adresse De L'Entreprise !== 업체주소 ==! */
            CO_TLPH_NO,                     /** N° Téléphone De L'Opérateur !== 업체전화번호 ==! */
            CO_MOBL_NO,                     /** N° de téléphone portable de l'opérateur !== 업체휴대전화번호 ==! */
            CO_EML,                         /** Email De L'Opérateur !== 업체이메일 ==! */
            CO_FAX_NO,                      /** N° Fax De L'Opérateur !== 업체팩스번호 ==! */
            RMRK,                           /** Remarque !== 비고 ==! */
            APLY_STRT_DT,                   /** Date de début d’application !== 적용시작일자 ==! */
            APLY_END_DT,                    /** Date de fin d’application !== 적용종료일자 ==! */
            CO_TXPR_IDFY_NO,                /** Niu de l'entreprise !== 업체납세자식별번호 ==! */
            ATCH_FILE_ID,                   /** Id Du Fichier Joint !== 첨부파일ID ==! */
            DEL_YN,                         /** Suppression On !== 삭제여부 ==! */
            PRCS_STTS_CD,                   /** État de traitement !==처리상태==! */
            FRST_REGST_ID,                  /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
            FRST_RGSR_DTTM,                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
            LAST_CHPR_ID,                   /** Id Du Modificateur Final !== 최종변경자ID ==! */
            LAST_CHG_DTTM                   /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        )  VALUES (
                      #{frgeCmdtMgrn},                 /**  N° ALERTE ! == 위조물품관리번호 ==! */
                      #{pdlsBrndNm},                   /** Marque de l'article == 품목브랜드명 ==! */
                      #{cmdtNm},                       /** Nom de marchandise !== 물품명 ==! */
                      #{coNm},                         /** Nom De L'Entreprise !== 업체명 ==! */
                      #{coAddr},                       /** Adresse De L'Entreprise !== 업체주소 ==! */
                      #{coTlphNo},                     /** N° Téléphone De L'Opérateur !== 업체전화번호 ==! */
                      #{coMoblNo},                     /** N° de téléphone portable de l'opérateur !== 업체휴대전화번호 ==! */
                      #{coEml},                        /** Email De L'Opérateur !== 업체이메일 ==! */
                      #{coFaxNo},                      /** N° Fax De L'Opérateur !== 업체팩스번호 ==! */
                      #{rmrk},                         /** Remarque !== 비고 ==! */
                      TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),                  /** Date de début d’application !== 적용시작일자 ==! */
                      TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),                   /** Date de fin d’application !== 적용종료일자 ==! */
                      #{coTxprIdfyNo},                 /** Niu de l'entreprise !== 업체납세자식별번호 ==! */
                      #{atchFileId},                   /** Id Du Fichier Joint !== 첨부파일ID ==! */
                      'N',                             /** Suppression On !== 삭제여부 ==! */
                      #{prcsSttsCd},                   /** État de traitement !==처리상태==! */
                      #{frstRegstId},                  /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
                      SYSTIMESTAMP,                    /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                      #{lastChprId},                   /** Id Du Modificateur Final !== 최종변경자ID ==! */
                      SYSTIMESTAMP                     /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                  )
    </insert>

    <update id="updateClrFrgeCmdtRqst" parameterType ="alpass.ipt.clr.poa.fcr.vo.ClrFrgeCmdtRqstVo">
        /* updateClrFrgeCmdtMgrnRqst */
        UPDATE TB_CLRI_FRGE_CMDT_RQST_AUDT
        SET LAST_CHPR_ID = #{lastChprId},                  /** ID du modificateur final !== 최종변경자ID ==! */
        LAST_CHG_DTTM = SYSTIMESTAMP,                  /** Date et heure de modification finale !== 최종변경일시 ==! */
        ATCH_FILE_ID = #{atchFileId},                   /** Id Du Fichier Joint !== 첨부파일ID ==! */
        <if test="pdlsBrndNm != null and pdlsBrndNm != ''">
            PDLS_BRND_NM = #{pdlsBrndNm},                  /** Marque de l'article ==! 품목브랜드명 ==! */
        </if>
        <if test="cmdtNm != null and cmdtNm != ''">
            CMDT_NM = #{cmdtNm},                           /** Nom de marchandise !== 물품명 ==! */
        </if>
        <if test="coNm != null and coNm != ''">
            CO_NM = #{coNm},                               /** Nom De L'Entreprise !== 업체명 ==! */
        </if>
        <if test="coAddr != null and coAddr != ''">
            CO_ADDR = #{coAddr},                           /** Adresse De L'Entreprise !== 업체주소 ==! */
        </if>
        <if test="coTlphNo != null and coTlphNo != ''">
            CO_TLPH_NO = #{coTlphNo},                      /** N° Téléphone De L'Opérateur !== 업체전화번호 ==! */
        </if>
        <if test="coMoblNo != null and coMoblNo != ''">
            CO_MOBL_NO = #{coMoblNo},                      /** N° de téléphone portable de l'opérateur !== 업체휴대전화번호 ==! */
        </if>
        <if test="coEml != null and coEml != ''">
            CO_EML = #{coEml},                             /** Email De L'Opérateur !== 업체이메일 ==! */
        </if>
        <if test="coFaxNo != null and coFaxNo != ''">
            CO_FAX_NO = #{coFaxNo},                        /** N° Fax De L'Opérateur !== 업체팩스번호 ==! */
        </if>
        <if test="rmrk != null and rmrk != ''">
            RMRK = #{rmrk},                                /** Remarque !== 비고 ==! */
        </if>
        <if test="aplyStrtDt != null and aplyStrtDt != ''">
            APLY_STRT_DT = TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),    /** Date de début d’application !== 적용시작일자 ==! */
        </if>
        <if test="aplyEndDt != null and aplyEndDt != ''">
            APLY_END_DT= TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),       /** Date de fin d’application !== 적용종료일자 ==! */
        </if>
        <if test="coTxprIdfyNo != null and coTxprIdfyNo != ''">
            CO_TXPR_IDFY_NO = #{coTxprIdfyNo}             /** Niu de l'entreprise !== 업체납세자식별번호 ==! */
        </if>
        WHERE DEL_YN = 'N'                                   /** Suppression ON !== 삭제여부 ==! */
         AND FRGE_CMDT_MGRN = #{frgeCmdtMgrn}
    </update>

    <update id="deleteClrFrgeCmdtRqst" parameterType ="alpass.ipt.clr.poa.fcr.vo.ClrFrgeCmdtRqstVo">
        /* deleteClrFrgeCmdtRqst */
        UPDATE TB_CLRI_FRGE_CMDT_RQST_AUDT
        SET DEL_YN = 'Y',                                  /** Suppression ON !== 삭제여부 ==! */
        LAST_CHPR_ID = #{lastChprId},                      /** ID du modificateur final !== 최종변경자ID ==! */
        LAST_CHG_DTTM = SYSTIMESTAMP                       /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE DEL_YN = 'N'
        <if test="frgeCmdtMgrn != null and frgeCmdtMgrn != ''">
            AND FRGE_CMDT_MGRN = #{frgeCmdtMgrn}           /** N° ALERTE !== 위조물품관리번호 ==! */
        </if>
    </update>

</mapper>

