<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.ii.baseinfo.mapper.PotIiBaseInfoFxrtMapper">

  <!--
		 Consulter la liste des taux de change !==환율 목록을 조회한다==!
	-->
  <select id="selectFxrtList"
    parameterType="alpass.ipt.pot.ii.baseinfo.vo.PotIiBaseInfoFxrtVo"
    resultType="alpass.ipt.pot.ii.baseinfo.vo.PotIiBaseInfoFxrtVo">
    /** selectFxrtList */
    <include refid="pagination.header"/>
    SELECT
    RGSR_DT
    , SRNO
    , TO_CHAR(TO_DATE(APLY_BGN_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_BGN_DT
    , TO_CHAR(TO_DATE(APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_END_DT
    , APLY_BGN_DT AS ORD_APLY_BGN_DT
    , XTRN_OFR_YN
    , (SELECT TO_CHAR(APRV_RQST_DTTM, 'DD/MM/YYYY') FROM TB_POTI_APRV WHERE APRV_ID = A.APRV_ID AND APRV_PRCS_STTS_CD = 'I04') AS APRV_RQST_DTTM
    , FRST_REGST_ID
    , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM
    , LAST_CHPR_ID
    , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM
    FROM TB_COM_FXRT A
    WHERE DEL_YN = 'N'
    AND XTRN_OFR_YN = 'Y'
    AND A.SRNO = (SELECT MAX(SRNO) FROM TB_COM_FXRT AS F WHERE F.RGSR_DT = A.RGSR_DT)
    <if test="aplyBgnDt != null and aplyBgnDt != ''">
      AND TO_CHAR(TO_DATE(#{aplyBgnDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_BGN_DT AND A.APLY_END_DT
    </if>
    ORDER BY ORD_APLY_BGN_DT DESC
    <include refid="pagination.footer"/>
  </select>

  <!--
    Consulter la liste des taux de change détaillés !==환율상세 목록을 조회한다.==!
  -->
  <select id="selectFxrtDetlList" parameterType="alpass.ipt.pot.ii.baseinfo.vo.PotIiBaseInfoFxrtVo" resultType="alpass.ipt.pot.ii.baseinfo.vo.PotIiBaseInfoFxrtVo">
    /** selectFxrtDetlList */
    SELECT
            A.RGSR_DT
          , A.SRNO
          , A.CURR_CD
          , FN_GET_CURR_NM(A.CURR_CD, #{langCd}) AS CURR_NM
          , A.BUY_AMT
          , A.SEL_AMT
    FROM  TB_COM_FXRT_D A
    WHERE A.RGSR_DT = #{rgsrDt}
    AND   A.SRNO = #{srno}
    AND   A.DEL_YN = 'N'
    AND   A.FXRT_TP_CD = #{fxrtTpCd}
    ORDER BY A.CURR_CD
  </select>

</mapper>
