<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.psc.tpd.audt.mapper.PscDcshAudtMtMapper">

  <!-- TPD 심사 목록 조회 -->
  <select id="selectDcshAudtList" parameterType="alpass.ipt.psc.tpd.audt.vo.PscTpdSearchVo" resultType="alpass.ipt.psc.tpd.audt.vo.PscTpdSearchVo">
  /* selectDcshAudtList */
  <include refid="pagination.header" ></include>
    SELECT Y.* FROM 
    (
      SELECT X.TPD_TEMP_NO 
             ,X.TPD_MGMT_NO
             ,X.CSTM_CD
             ,FN_GET_ORGN_NM(X.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
             ,X.TPD_TP_CD
             ,X.TPD_RQST_STTS_CD
             ,X.RGSR_DT
             ,X.APRE_DT
             ,(SELECT C.DRVR_PSPR_NO FROM TB_PSCI_TPD_PSNR_BSCS C WHERE C.TPD_TEMP_NO = X.REFF_NO ) AS PSPR_NO
             ,(SELECT C.DRVR_NAT_CD FROM TB_PSCI_TPD_PSNR_BSCS C WHERE C.TPD_TEMP_NO = X.REFF_NO ) AS NAT_CD
             ,(SELECT TPD_MGMT_NO FROM TB_PSCI_TPD_BSCS  WHERE TPD_TEMP_NO = X.REFF_NO ) AS TPD_NO
             ,X.TPD_END_TP_CD
             ,X.FRST_REGST_ID
             ,X.FRST_RGSR_DTTM 
             ,(SELECT TPD_PT_CD FROM TB_PSCI_TPD_BSCS  WHERE TPD_TEMP_NO = X.REFF_NO ) AS TPD_PT_CD
             ,(SELECT DRVR_PT_CD FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO  = X.REFF_NO ) AS DRVR_PT_CD
             ,(SELECT DRVR_FMNM || ' ' ||DRVR_GVNM_NM FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO  = X.REFF_NO ) AS DRVR_GVNM_NM
             ,(SELECT DRVR_BRDY FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO  = X.REFF_NO ) AS DRVR_BRDY
             ,(SELECT DRVR_FAR_SNM FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO  = X.REFF_NO ) AS DRVR_FAR_SNM
             ,(SELECT DRVR_MOR_SNM FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO  = X.REFF_NO ) AS DRVR_MOR_SNM
             ,X.TPD_END_EXCP_TP_CD
             ,X.CNCT_TRLR_YN 
             ,X.TRLR_SNGE_YN               /** Remorque sans tracteur !== 트레일러단독여부 ==! */
             
      FROM
      (
        SELECT A.TPD_TEMP_NO  AS TPD_TEMP_NO
              ,A.TPD_MGMT_NO  AS TPD_MGMT_NO
              ,A.CSTM_CD      AS CSTM_CD
              ,'01' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT
              ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B where B.AUDT_RSLT_CD = '02' AND B.TPD_TP_CD ='01' AND B.TPD_TEMP_NO = A.TPD_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
              ,A.TPD_TEMP_NO AS REFF_NO 
              ,'' AS TPD_END_TP_CD
              , A.FRST_REGST_ID
              , A.FRST_RGSR_DTTM 
              , '' AS TPD_END_EXCP_TP_CD
              , A.CNCT_TRLR_YN AS CNCT_TRLR_YN
              , A.TRLR_SNGE_YN 
        FROM TB_PSCI_TPD_BSCS A
        WHERE 1=1
        AND A.DEL_YN = 'N'
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>
          <if test='userCstmCd != null and userCstmCd != "" '>
          AND A.CSTM_CD = #{userCstmCd}                 
          </if>
          <if test='deptCd != null and deptCd != "" '>
          AND A.DEPT_CD = #{deptCd} 
          </if>
          <if test="sctrCd != null and sctrCd != ''">
          AND A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
          </if>
          <if test="endCstmCd != null and endCstmCd != ''">
          AND A.END_CSTM_CD = #{endCstmCd}  
          </if>        
        </if>
         <if test='"Y".equals(xpirYn)'>
          AND  A.VALD_DT <![CDATA[ < ]]> TO_CHAR(sysdate,'YYYYMMDD')
          AND  ( A.VALD_DT != '' AND A.VALD_DT IS NOT NULL)
         </if>
         <if test='"N".equals(xpirYn)'>
          AND  A.VALD_DT <![CDATA[ >= ]]> TO_CHAR(sysdate,'YYYYMMDD')
          AND  ( A.VALD_DT != '' AND A.VALD_DT IS NOT NULL)
         </if>           
          <if test='tpdPtCd != null and tpdPtCd != "" '>
          AND A.TPD_PT_CD = #{tpdPtCd} 
          </if>
        UNION ALL 
        
        SELECT A.TPD_XTNS_TEMP_NO  AS TPD_TEMP_NO
              ,A.TPD_MGMT_NO  AS TPD_MGMT_NO
              ,A.XTNS_RQST_IDD_CD      AS CSTM_CD
              ,'02' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.XTNS_RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT
              ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B where B.AUDT_RSLT_CD = '02' AND B.TPD_TP_CD ='02' AND B.TPD_TEMP_NO = A.TPD_XTNS_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
              ,A.TPD_TEMP_NO AS REFF_NO
              ,'' AS TPD_END_TP_CD   
              , A.FRST_REGST_ID      
              ,A.FRST_RGSR_DTTM 
              ,'' AS TPD_END_EXCP_TP_CD
              ,'' AS CNCT_TRLR_YN
              ,'' AS TRLR_SNGE_YN  
        FROM TB_PSCI_TPD_XTNS_RQST A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>
          <if test='userCstmCd != null and userCstmCd != "" '>
          AND A.XTNS_RQST_IDD_CD = #{userCstmCd}
          </if>
          <if test="sctrCd != null and sctrCd != ''">
          AND A.XTNS_RQST_IDD_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
          </if>
        </if>  
        UNION ALL 
        
        SELECT A.TPD_CONS_TEMP_NO  AS TPD_TEMP_NO
              ,A.TPD_MGMT_NO  AS TPD_MGMT_NO
              ,A.VHCL_CONS_RQST_CSTM_CD      AS CSTM_CD
              ,'04' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.VHCL_CONS_RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT
              ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B where B.AUDT_RSLT_CD = '02' AND B.TPD_TP_CD ='04' AND B.TPD_TEMP_NO = A.TPD_CONS_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
              ,A.TPD_TEMP_NO AS REFF_NO
              ,'' AS TPD_END_TP_CD
              , A.FRST_REGST_ID
              ,A.FRST_RGSR_DTTM 
              , '' AS TPD_END_EXCP_TP_CD
              ,'' AS CNCT_TRLR_YN
              ,'' AS TRLR_SNGE_YN 
        FROM TB_PSCI_TPD_VHCL_CONS  A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>
          <if test='userCstmCd != null and userCstmCd != "" '>
          AND A.VHCL_CONS_RQST_CSTM_CD = #{userCstmCd}
          </if>
          <if test="sctrCd != null and sctrCd != ''">
          AND A.VHCL_CONS_RQST_CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
          </if>
        </if>  
        UNION ALL 
        
        SELECT A.TPD_END_TEMP_NO   AS TPD_TEMP_NO
              ,A.TPD_MGMT_NO  AS TPD_MGMT_NO
              ,A.CSTM_CD      AS CSTM_CD
              ,'03' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DT
              ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B where B.AUDT_RSLT_CD = '02' AND B.TPD_TP_CD ='03' AND B.TPD_TEMP_NO = A.TPD_END_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
              ,A.TPD_TEMP_NO AS REFF_NO
              ,A.TPD_END_TP_CD AS TPD_END_TP_CD
              , A.FRST_REGST_ID
              ,A.FRST_RGSR_DTTM 
              ,A.TPD_END_EXCP_TP_CD
              ,'' AS CNCT_TRLR_YN
              ,'' AS TRLR_SNGE_YN  
        FROM TB_PSCI_TPD_END A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>
          <if test='userCstmCd != null and userCstmCd != "" '>
          AND A.CSTM_CD = #{userCstmCd}
          </if>
          <if test="sctrCd != null and sctrCd != ''">
          AND A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
          </if>
        </if>  
        <if test='tpdEndTpCd != null and tpdEndTpCd != ""'>
        AND A.TPD_END_TP_CD = #{tpdEndTpCd}
        </if>
        <if test='tpdEndExcpTpCd != null and tpdEndExcpTpCd != ""'>
        AND A.TPD_END_EXCP_TP_CD = #{tpdEndExcpTpCd}
        </if>
      ) X
      WHERE 1=1
      <if test='tpdTempNo != null and tpdTempNo != ""'>
      AND X.TPD_TEMP_NO = #{tpdTempNo} 
      </if>
      <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>  
      <if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
      AND TO_CHAR(TO_DATE(X.RGSR_DT,'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
      </if>
      </if>
      <if test='tpdTpCd != null and tpdTpCd != ""'>
      AND X.TPD_TP_CD = #{tpdTpCd} 
      </if>   
      <if test='tpdRqstSttsCd != null and tpdRqstSttsCd != ""'>
      AND X.TPD_RQST_STTS_CD = #{tpdRqstSttsCd} 
      </if>       
      ) Y
    WHERE 1=1
    <if test='psprNo != null and psprNo != ""'>
    AND Y.PSPR_NO = #{psprNo} 
    </if>
    <if test='natCd != null and natCd != ""'>
    AND Y.NAT_CD = #{natCd} 
    </if>
    <if test='tpdMgmtNo != null and tpdMgmtNo != ""'>
    AND Y.TPD_NO = #{tpdMgmtNo} 
    </if>
    <if test='drvrGvnmNm != null and drvrGvnmNm != ""'>
    AND Y.DRVR_GVNM_NM LIKE '%' || UPPER(#{drvrGvnmNm}) || '%'
    </if>    
    <if test='drvrBrdy != null and drvrBrdy != ""'>
    AND Y.DRVR_BRDY = TO_CHAR(TO_DATE(REPLACE(#{drvrBrdy}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
    </if>        
    ORDER BY Y.FRST_RGSR_DTTM DESC ,Y.TPD_TP_CD  
    <include refid="pagination.footer" ></include>

  </select>

  <insert id="insertTpdPrcsBrkd" parameterType="alpass.ipt.psc.tpd.audt.vo.PscTpdAudtVo">
      /* insertTpdPrcsBrkd */
    <selectKey keyProperty="audtDgcnt" order="BEFORE" resultType="java.math.BigDecimal">
      SELECT NVL(MAX(AUDT_DGCNT),0)+1 FROM TB_PSCI_TPD_AUDT WHERE TPD_TEMP_NO = #{tpdTempNo}
    </selectKey>
    INSERT INTO TB_PSCI_TPD_AUDT
        (
          TPD_TEMP_NO                  /** Numéro provisoire de TPD !== TPD임시번호 ==! */
        , AUDT_DGCNT                   /** ordre de jugement !== 심사차수 ==! */
        , TPD_TP_CD                    /** Code de catégorie de TPD !== TPD구분코드 ==! */
        , SPOT_AUDT_YN
        , SPOT_AUDT_RSLT_CD            /** Code de résultat de visite !== 현장심사결과코드 ==! */
        , AUDT_RSLT_CD                 /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
        , AUDT_RSLT_DTL_CD             /** Code de détails de résultat du contrôle !== 심사결과상세코드 ==! */
        , AUDT_RSLT_CN                 /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
        , AUDT_RSLT_RGSR_DTTM          /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
        , ADOR_ID                      /** Id De L'Inspecteur !== 심사자ID ==! */
        , APRV_ID                      /** Id D'Approbation  !== 결재ID ==! */
        , APRV_PRCS_STTS_CD            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
        , FL_CNTX_PAY_YN               /** Paiement de TCC !== 연료소비세납부여부 ==! */
        , TRVL_TAX_PAY_YN              /** Paiement de TVI !== 여행세금납부여부 ==! */
        , ATCH_FILE_ID                 /** Id Du Fichier Joint !== 첨부파일ID ==! */
        , BLGG_INSC_RSLT_CN            /** Contenu de résultat de contrôle des effets personnels !== 휴대품검사결과내용 ==! */
        , BLGG_RMRK_CN                 /** Contenu de remarque des effets personnels !== 휴대품비고내용 ==! */
        , SSIS_ACRD_YN                 /** N° de châssis conforme !== 샤시일치여부 ==! */
        , LIPL_ACRD_YN                 /** Plaque d'immatriculation conforme !== 번호판일치여부 ==! */
        , CLR_ACRD_YN                  /** Couleur du véhicule conforme !== 색상일치여부 ==! */
        , CMNS_REPL_YN                 /** Substitution d'organes  !== 부품교체여부 ==! */
        , VHCL_STTS_CD               /** Code de etat du véhicule !== 차량상태코드 ==! */
        , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
        , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        )
        VALUES
        (
          #{tpdTempNo}                 /** Numéro provisoire de TPD !== TPD임시번호 ==! */
        , #{audtDgcnt}                 /** ordre de jugement !== 심사차수 ==! */
        , #{tpdTpCd}                   /** Code de catégorie de TPD !== TPD구분코드 ==! */
        , #{spotAudtYn}
        , #{spotAudtRsltCd}           /** Code de résultat de visite !== 현장심사결과코드 ==! */
        , #{audtRsltCd}                /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
        , #{audtRsltDtlCd}             /** Code de détails de résultat du contrôle !== 심사결과상세코드 ==! */
        , #{audtRsltCn}                /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
        , CURRENT_TIMESTAMP            /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
        , #{adorId}                    /** Id De L'Inspecteur !== 심사자ID ==! */
        , #{aprvId}                    /** Id D'Approbation  !== 결재ID ==! */
        , #{aprvPrcsSttsCd}            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
        , #{flCntxPayYn}               /** Paiement de TCC !== 연료소비세납부여부 ==! */
        , #{trvlTaxPayYn}              /** Paiement de TVI !== 여행세금납부여부 ==! */
        , #{atchFileId}                /** Id Du Fichier Joint !== 첨부파일ID ==! */
        , #{blggInscRsltCn}            /** Contenu de résultat de contrôle des effets personnels !== 휴대품검사결과내용 ==! */
        , #{blggRmrkCn}                /** Contenu de remarque des effets personnels !== 휴대품비고내용 ==! */
        , #{ssisAcrdYn}                 /** N° de châssis conforme !== 샤시일치여부 ==! */
        , #{liplAcrdYn}                 /** Plaque d'immatriculation conforme !== 번호판일치여부 ==! */
        , #{clrAcrdYn}                  /** Couleur du véhicule conforme !== 색상일치여부 ==! */
        , #{cmnsReplYn}                 /** Substitution d'organes  !== 부품교체여부 ==! */
        , #{vhclSttsCd}                /** Code de etat du véhicule !== 차량상태코드 ==! */
        , 'N'                          /** Suppression On !== 삭제여부 ==! */
        , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , CURRENT_TIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , CURRENT_TIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        )
  </insert>
  
  <update id="updateTpdPrcsBrkd" parameterType="alpass.ipt.psc.tpd.audt.vo.PscTpdAudtVo">
    /* updateTpdPrcsBrkd */

    UPDATE TB_PSCI_TPD_AUDT SET
         LAST_CHPR_ID   =  #{lastChprId}                   /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM =  CURRENT_TIMESTAMP               /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , APRV_ID    =     #{aprvId}                       /** Id D'Approbation  !== 결재ID ==! */
        , APRV_PRCS_STTS_CD = #{aprvPrcsSttsCd}            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
   WHERE TPD_TEMP_NO = #{tpdTempNo}
   AND   AUDT_DGCNT  = #{audtDgcnt}

  </update>
  
  <select id="selectTpdGnrlInfo"
    parameterType="alpass.ipt.psc.tpd.audt.vo.PscTpdAudtVo" resultType="alpass.ipt.psc.tpd.rgsr.vo.PscTpdBscsVo">
    /* selectTpdGnrlInfo */
    SELECT
      A.TPD_TEMP_NO                /** Numéro provisoire de TPD !== TPD임시번호 ==! */
    , A.TPD_MGMT_NO                /** @TODO : 번역필요 !== TPD관리번호 ==! */
    , A.DRD_CD                     /** Code de direction régionale des douanes !== 지역본부세관코드 ==! */
    , A.IDD_CD                     /** Code d'inspection divisionnaire des douanes !== 지역분할세관코드 ==! */
    , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
    , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
    , A.TPD_RQST_STTS_CD           /** Code de l'état de demande de TPD !== TPD신청상태코드 ==! */
    , A.TPD_RQST_REGM_CD           /** Code de régime de demande de TPD !== TPD신청레짐코드 ==! */
    , A.TPD_PT_CD                  /** Code de type de TPD !== TPD유형코드 ==! */
    , A.TPD_TP_CD                  /** Code de catégorie de TPD !== TPD구분코드 ==! */
    , A.RGSR_DT                    /** Date D'Enregistrement !== 등록일자 ==! */
    , A.VALD_DT                    /** Date de la validité !== 유효일자 ==! */
    , A.RSK_MGMT_SELC_YN           /** Sélection par la gestion des risques !== 위험관리선별여부 ==! */
    , A.BRDR_INHB_YN               /** Frontalier !== 국경주민여부 ==! */
    , A.CMRC_VHCL_YN               /** Véhicule à usage commercial !== 상업차량여부 ==! */
    , A.OTPT_NCNT                  /** Nombre d'impressions !== 출력횟수 ==! */
    , A.PRID_XTNS_YN               /** Prolongation du délai O/N !== 기간연장여부 ==! */
    , A.TPD_CNCL_CN                /** Motif d'annulation de TPD !== TPD취소내용 ==! */
    , A.TPD_CNCL_DT                /** Date d'annulation de TPD !== TPD취소일자 ==! */
    , A.TPD_CNCL_REFF_NO           /** N° de référence d'annulation de TPD !== TPD취소참조번호 ==! */
    , A.TPD_END_CNCL_CN            /** Motif d'annulation d'apurement de TPD !== TPD종료취소내용 ==! */
    , A.TPD_END_CNCL_DT            /** Date d'annulation d'apurement de TPD !== TPD종료취소일자 ==! */
    , A.TPD_END_CNCL_REFF_NO       /** N° de référence d'annulation d'apurement de TPD !== TPD종료취소참조번호 ==! */
    , A.TPD_END_DT                 /** Date d'apurement de TPD !== TPD종료일자 ==! */
    , A.TPD_END_NO                 /** N° d'apurement de TPD !== TPD종료번호 ==! */
    , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
    , A.REGST_ID                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
    , A.SMS_SEND_DTTM              /** Date D'Envoi De Sms !== SMS발송일시 ==! */
    , A.EML_SEND_DTTM              /** Date D'Envoi D'Email !== 이메일발송일시 ==! */
    , A.CNCT_REFF_NO                 /** Numéro de référence de lien  !== 연결참조번호 ==! */
    , A.CNCT_TRLR_YN                 /** Remorque tractée           !== 연결트레일러여부 ==! */
    , A.LND_SEA_TP_CD  /**  !== 육상해상구분코드==!   */
    , A.JRPN_VHCL_YN   /** Véhicule appartenant à une personne morale   !== 법인차량여부 ==!   */
    , A.NIF                   /** Numéro d’identification fiscale  !== 납세식별번호==!   */
    , A.CONM_NM         /** Raison sociale   !== 상호명 ==!   */
    , A.CO_ADDR           /**  Adresse De L'Entreprise  !== 업체주소 ==!   */
    , A.POST_CD            /**  code postal  !== 우편코드==!   */
    , CASE WHEN A.POST_CD= '' OR A.POST_CD IS NULL THEN '' ELSE '(' || A.POST_CD|| ':' || ( SELECT POST_NM FROM ALPASSINT.TB_COM_WLY_POST_CD W where W.POST_CD = A.POST_CD) || ')' END AS  POST_NM 
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
      , ( SELECT XTNS_RQST_PRID FROM TB_PSCI_TPD_XTNS_RQST WHERE TPD_TEMP_NO = A.TPD_TEMP_NO AND TPD_RQST_STTS_CD IN ('A2','A3') ORDER BY FRST_RGSR_DTTM DESC LIMIT 1 ) AS PERM_DCNT
      , ( SELECT DRVR_PT_CD FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO = A.TPD_TEMP_NO ) AS DRVR_PT_CD
    FROM   TB_PSCI_TPD_BSCS A
    WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
    AND  A.TPD_TEMP_NO = #{tpdTempNo}                /** Numéro provisoire de TPD !== TPD임시번호 ==! */
  </select> 

  <select id="selectAudtHistList"  parameterType="alpass.ipt.psc.tpd.audt.vo.PscTpdAudtVo" 
    resultType="alpass.ipt.psc.tpd.audt.vo.PscTpdAudtVo"> 
      /* selectAudtHistList */
          SELECT
                A.TPD_TEMP_NO                /** Numéro provisoire de TPD !== TPD임시번호 ==! */
              , A.AUDT_DGCNT                 /** ordre de jugement !== 심사차수 ==! */
              , A.TPD_TP_CD                  /** Code de catégorie de TPD !== TPD구분코드 ==! */
              , A.SPOT_AUDT_RSLT_CD          /** Code de résultat de visite !== 현장심사결과코드 ==! */
              , A.SPOT_AUDT_RSLT_CN          /** Résultat de visite !== 현장심사결과내용 ==! */
              , A.SPOT_AUDT_RSLT_RGSR_DTTM       /** Date/Heure d'enregistrement de résultat de visite !== 현장심사결과등록일시 ==! */
              , A.SPOT_ADOR_ID               /** ID de l'agent de visite !== 현장심사자ID ==! */
              , A.AUDT_RSLT_CD               /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
              , A.AUDT_RSLT_DTL_CD           /** Code de détails de résultat du contrôle !== 심사결과상세코드 ==! */
              , A.AUDT_RSLT_CN               /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
              , TO_CHAR(A.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS AUDT_RSLT_RGSR_DTTM         /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
              , A.ADOR_ID ||' (' || (SELECT FONC_CD_NM FROM TB_POTI_FONC_CD_LANG WHERE LANG_CD = 'FR' AND FONC_CD = EMP.FONC_CD) || ')' AS  ADOR_ID                   /** Id De L'Inspecteur !== 심사자ID ==! */
              , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
              , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
              , A.FL_CNTX_PAY_YN             /** Paiement de TCC !== 연료소비세납부여부 ==! */
              , A.TRVL_TAX_PAY_YN            /** Paiement de TVI !== 여행세금납부여부 ==! */
              , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
              , A.BLGG_INSC_RSLT_CN          /** Contenu de résultat de contrôle des effets personnels !== 휴대품검사결과내용 ==! */
              , A.BLGG_RMRK_CN               /** Contenu de remarque des effets personnels !== 휴대품비고내용 ==! */
              , A.SSIS_ACRD_YN                 /** N° de châssis conforme !== 샤시일치여부 ==! */
              , A.LIPL_ACRD_YN                 /** Plaque d'immatriculation conforme !== 번호판일치여부 ==! */
              , A.CLR_ACRD_YN                  /** Couleur du véhicule conforme !== 색상일치여부 ==! */
              , A.CMNS_REPL_YN                 /** Substitution d'organes  !== 부품교체여부 ==! */
              , A.VHCL_STTS_CD                 /** Code de etat du véhicule !== 차량상태코드 ==! */
              , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
              , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
              , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
              , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
              , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
              , A.SPOT_AUDT_YN    
              , (SELECT O.ORGN_NM FROM  TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = EMP.ORGN_MGMT_CD) AS DEPT_NM        /** Nom Du Bureau !== 부서명 ==! */
              , (SELECT FONC_CD_NM FROM TB_POTI_FONC_CD_LANG WHERE LANG_CD = 'FR' AND FONC_CD = EMP.FONC_CD) AS FONC_NM           
          FROM   TB_PSCI_TPD_AUDT A,
                 TB_POTI_EMP EMP,
                 TB_POTI_FONC_CD FONC 
         WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
          AND A.ADOR_ID = EMP.PBSR_NO
          AND EMP.FONC_CD(+) = FONC.FONC_CD
          AND  A.TPD_TEMP_NO = #{tpdTempNo}                /** Numéro provisoire de TPD !== TPD임시번호 ==! */
           <if test='audtDgcnt != null and audtDgcnt != "" '>
           AND  A.AUDT_DGCNT = #{audtDgcnt}                 /** ordre de jugement !== 심사차수 ==! */
           </if>
           <if test='spotAudtYn != null and spotAudtYn != "" '>
           AND  A.SPOT_AUDT_YN = 'Y'
           /** AND  ((A.AUDT_RSLT_DTL_CD = '01' AND A.SPOT_AUDT_RSLT_CD = '03') 
           --OR (A.AUDT_RSLT_DTL_CD = '03' AND A.SPOT_AUDT_RSLT_CD = '01')
           OR (A.AUDT_RSLT_DTL_CD = '01' AND A.SPOT_AUDT_RSLT_CD = '01') )  */
           </if>           
           ORDER BY A.AUDT_DGCNT DESC
  </select>
 
  <select id="selectAudtMaxHist"  parameterType="alpass.ipt.psc.tpd.audt.vo.PscTpdAudtVo" 
    resultType="alpass.ipt.psc.tpd.audt.vo.PscTpdAudtVo"> 
      /* selectAudtMaxHist */
          SELECT
                A.TPD_TEMP_NO                /** Numéro provisoire de TPD !== TPD임시번호 ==! */
              , A.AUDT_DGCNT                 /** ordre de jugement !== 심사차수 ==! */
              , A.TPD_TP_CD                  /** Code de catégorie de TPD !== TPD구분코드 ==! */
              , A.SPOT_AUDT_RSLT_CD          /** Code de résultat de visite !== 현장심사결과코드 ==! */
              , A.SPOT_AUDT_RSLT_CN          /** Résultat de visite !== 현장심사결과내용 ==! */
              , A.SPOT_AUDT_RSLT_RGSR_DTTM       /** Date/Heure d'enregistrement de résultat de visite !== 현장심사결과등록일시 ==! */
              , A.SPOT_ADOR_ID               /** ID de l'agent de visite !== 현장심사자ID ==! */
              , A.AUDT_RSLT_CD               /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
              , A.AUDT_RSLT_DTL_CD           /** Code de détails de résultat du contrôle !== 심사결과상세코드 ==! */
              , A.AUDT_RSLT_CN               /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
              , TO_CHAR(A.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS AUDT_RSLT_RGSR_DTTM         /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
              , A.ADOR_ID                    /** Id De L'Inspecteur !== 심사자ID ==! */
              , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
              , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
              , A.FL_CNTX_PAY_YN             /** Paiement de TCC !== 연료소비세납부여부 ==! */
              , A.TRVL_TAX_PAY_YN            /** Paiement de TVI !== 여행세금납부여부 ==! */
              , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
              , A.BLGG_INSC_RSLT_CN          /** Contenu de résultat de contrôle des effets personnels !== 휴대품검사결과내용 ==! */
              , A.BLGG_RMRK_CN               /** Contenu de remarque des effets personnels !== 휴대품비고내용 ==! */
              , A.SSIS_ACRD_YN                 /** N° de châssis conforme !== 샤시일치여부 ==! */
              , A.LIPL_ACRD_YN                 /** Plaque d'immatriculation conforme !== 번호판일치여부 ==! */
              , A.CLR_ACRD_YN                  /** Couleur du véhicule conforme !== 색상일치여부 ==! */
              , A.CMNS_REPL_YN                 /** Substitution d'organes  !== 부품교체여부 ==! */
              , A.VHCL_STTS_CD                 /** Code de etat du véhicule !== 차량상태코드 ==! */
              , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
              , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
              , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
              , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
              , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
              , A.SPOT_AUDT_YN               /** @TODO : 번역필요 !==  ==! */
          FROM   TB_PSCI_TPD_AUDT A
         WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
           AND  A.TPD_TEMP_NO = #{tpdTempNo}                /** Numéro provisoire de TPD !== TPD임시번호 ==! */
           AND  A.AUDT_DGCNT = (SELECT MAX(AUDT_DGCNT) FROM TB_PSCI_TPD_AUDT WHERE TPD_TEMP_NO = A.TPD_TEMP_NO  )                 /** ordre de jugement !== 심사차수 ==! */

  </select>

  <!--
  On voit les informations sur 'paramètres' 
  !== 파라미터 값 조회 ==!
  -->
  <select id="selectPrmtValue" parameterType="java.lang.String" resultType="java.lang.String">
      /* selectPrmtValue */
      SELECT PRMT_VAL_CN
        FROM TB_COM_PRMT
       WHERE PRMT_ID = #{prmtId}
         AND DEL_YN = 'N' 
         AND ROWNUM = 1
  </select>   
            
 
 
  <!-- 현재날짜 기준으로 만료된 TPD 건 엑셀다운로드  -->
  <select id="selectXpirListXlsDwn" parameterType="alpass.ipt.psc.tpd.audt.vo.PscTpdSearchVo" resultType="alpass.ipt.psc.tpd.audt.vo.PscTpdSearchVo">
 
  /* selectXpirListXlsDwn */
  SELECT Y.* FROM 
    (
      SELECT X.TPD_TEMP_NO 
             ,X.TPD_MGMT_NO
             ,X.CSTM_CD
             ,FN_GET_ORGN_NM(X.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
             ,X.TPD_TP_CD
             ,X.TPD_RQST_STTS_CD
             ,X.RGSR_DT
             ,X.APRE_DT
             ,(SELECT C.DRVR_PSPR_NO FROM TB_PSCI_TPD_PSNR_BSCS C WHERE C.TPD_TEMP_NO = X.REFF_NO ) AS PSPR_NO
             ,(SELECT C.DRVR_NAT_CD FROM TB_PSCI_TPD_PSNR_BSCS C WHERE C.TPD_TEMP_NO = X.REFF_NO ) AS NAT_CD
             ,(SELECT TPD_MGMT_NO FROM TB_PSCI_TPD_BSCS  WHERE TPD_TEMP_NO = X.REFF_NO ) AS TPD_NO
             ,X.TPD_END_TP_CD
             ,X.FRST_REGST_ID
             ,X.FRST_RGSR_DTTM 
             ,(SELECT TPD_PT_CD FROM TB_PSCI_TPD_BSCS  WHERE TPD_TEMP_NO = X.REFF_NO ) AS TPD_PT_CD
             ,(SELECT DRVR_PT_CD FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO  = X.REFF_NO ) AS DRVR_PT_CD
             ,(SELECT DRVR_FMNM || ' ' ||DRVR_GVNM_NM FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO  = X.REFF_NO ) AS DRVR_GVNM_NM
             ,(SELECT DRVR_BRDY FROM TB_PSCI_TPD_PSNR_BSCS WHERE TPD_TEMP_NO  = X.REFF_NO ) AS DRVR_BRDY
             ,X.TPD_END_EXCP_TP_CD
             ,X.CNCT_TRLR_YN 
             ,X.TRLR_SNGE_YN               /** Remorque sans tracteur !== 트레일러단독여부 ==! */
             
      FROM
      (
        SELECT A.TPD_TEMP_NO  AS TPD_TEMP_NO
              ,A.TPD_MGMT_NO  AS TPD_MGMT_NO
              ,A.CSTM_CD      AS CSTM_CD
              ,'01' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT
              ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B where B.AUDT_RSLT_CD = '02' AND B.TPD_TP_CD ='01' AND B.TPD_TEMP_NO = A.TPD_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
              ,A.TPD_TEMP_NO AS REFF_NO 
              ,'' AS TPD_END_TP_CD
              , A.FRST_REGST_ID
              , A.FRST_RGSR_DTTM 
              , '' AS TPD_END_EXCP_TP_CD
              , A.CNCT_TRLR_YN AS CNCT_TRLR_YN
              , A.TRLR_SNGE_YN 
        FROM TB_PSCI_TPD_BSCS A
        WHERE 1=1
        AND A.DEL_YN = 'N'
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>
          <if test='userCstmCd != null and userCstmCd != "" '>
          AND A.CSTM_CD = #{userCstmCd}                 
          </if>
          <if test='deptCd != null and deptCd != "" '>
          AND A.DEPT_CD = #{deptCd} 
          </if>
          <if test="sctrCd != null and sctrCd != ''">
          AND A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
          </if>
          <if test="endCstmCd != null and endCstmCd != ''">
          AND A.END_CSTM_CD = #{endCstmCd}   
          </if>   
        </if>
         <if test='"Y".equals(xpirYn)'>
          AND  A.VALD_DT <![CDATA[ < ]]> TO_CHAR(sysdate,'YYYYMMDD')
          AND  ( A.VALD_DT != '' AND A.VALD_DT IS NOT NULL)
         </if>
         <if test='"N".equals(xpirYn)'>
          AND  A.VALD_DT <![CDATA[ >= ]]> TO_CHAR(sysdate,'YYYYMMDD')
          AND  ( A.VALD_DT != '' AND A.VALD_DT IS NOT NULL)
         </if>           
          <if test='tpdPtCd != null and tpdPtCd != "" '>
          AND A.TPD_PT_CD = #{tpdPtCd} 
          </if>
        UNION ALL 
        
        SELECT A.TPD_XTNS_TEMP_NO  AS TPD_TEMP_NO
              ,A.TPD_MGMT_NO  AS TPD_MGMT_NO
              ,A.XTNS_RQST_IDD_CD      AS CSTM_CD
              ,'02' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.XTNS_RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT
              ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B where B.AUDT_RSLT_CD = '02' AND B.TPD_TP_CD ='02' AND B.TPD_TEMP_NO = A.TPD_XTNS_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
              ,A.TPD_TEMP_NO AS REFF_NO
              ,'' AS TPD_END_TP_CD   
              , A.FRST_REGST_ID      
              ,A.FRST_RGSR_DTTM 
              ,'' AS TPD_END_EXCP_TP_CD
              ,'' AS CNCT_TRLR_YN
              ,'' AS TRLR_SNGE_YN  
        FROM TB_PSCI_TPD_XTNS_RQST A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>
          <if test='userCstmCd != null and userCstmCd != "" '>
          AND A.XTNS_RQST_IDD_CD = #{userCstmCd}
          </if>
          <if test="sctrCd != null and sctrCd != ''">
          AND A.XTNS_RQST_IDD_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
          </if>
          <if test="endCstmCd != null and endCstmCd != ''">
          AND A.END_CSTM_CD = #{endCstmCd}  
          </if>     
        </if>  
        UNION ALL 
        
        SELECT A.TPD_CONS_TEMP_NO  AS TPD_TEMP_NO
              ,A.TPD_MGMT_NO  AS TPD_MGMT_NO
              ,A.VHCL_CONS_RQST_CSTM_CD      AS CSTM_CD
              ,'04' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.VHCL_CONS_RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT
              ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B where B.AUDT_RSLT_CD = '02' AND B.TPD_TP_CD ='04' AND B.TPD_TEMP_NO = A.TPD_CONS_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
              ,A.TPD_TEMP_NO AS REFF_NO
              ,'' AS TPD_END_TP_CD
              , A.FRST_REGST_ID
              ,A.FRST_RGSR_DTTM 
              , '' AS TPD_END_EXCP_TP_CD
              ,'' AS CNCT_TRLR_YN
              ,'' AS TRLR_SNGE_YN 
        FROM TB_PSCI_TPD_VHCL_CONS  A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>
          <if test='userCstmCd != null and userCstmCd != "" '>
          AND A.VHCL_CONS_RQST_CSTM_CD = #{userCstmCd}
          </if>
          <if test="sctrCd != null and sctrCd != ''">
          AND A.VHCL_CONS_RQST_CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
          </if>
        </if>  
        UNION ALL 
        
        SELECT A.TPD_END_TEMP_NO   AS TPD_TEMP_NO
              ,A.TPD_MGMT_NO  AS TPD_MGMT_NO
              ,A.CSTM_CD      AS CSTM_CD
              ,'03' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DT
              ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B where B.AUDT_RSLT_CD = '02' AND B.TPD_TP_CD ='03' AND B.TPD_TEMP_NO = A.TPD_END_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
              ,A.TPD_TEMP_NO AS REFF_NO
              ,A.TPD_END_TP_CD AS TPD_END_TP_CD
              , A.FRST_REGST_ID
              ,A.FRST_RGSR_DTTM 
              ,A.TPD_END_EXCP_TP_CD
              ,'' AS CNCT_TRLR_YN
              ,'' AS TRLR_SNGE_YN  
        FROM TB_PSCI_TPD_END A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>
          <if test='userCstmCd != null and userCstmCd != "" '>
          AND A.CSTM_CD = #{userCstmCd}
          </if>
          <if test="sctrCd != null and sctrCd != ''">
          AND A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
          </if>
        </if>  
        <if test='tpdEndTpCd != null and tpdEndTpCd != ""'>
        AND A.TPD_END_TP_CD = #{tpdEndTpCd}
        </if>
        <if test='tpdEndExcpTpCd != null and tpdEndExcpTpCd != ""'>
        AND A.TPD_END_EXCP_TP_CD = #{tpdEndExcpTpCd}
        </if>
      ) X
      WHERE 1=1
      <if test='tpdTempNo != null and tpdTempNo != ""'>
      AND X.TPD_TEMP_NO = #{tpdTempNo} 
      </if>
      <if test='(tpdTempNo == null or tpdTempNo == "") and (tpdMgmtNo == null or tpdMgmtNo == "") '>  
      <if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
      AND TO_CHAR(TO_DATE(X.RGSR_DT,'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
      </if>
      </if>
      <if test='tpdTpCd != null and tpdTpCd != ""'>
      AND X.TPD_TP_CD = #{tpdTpCd} 
      </if>   
      <if test='tpdRqstSttsCd != null and tpdRqstSttsCd != ""'>
      AND X.TPD_RQST_STTS_CD = #{tpdRqstSttsCd} 
      </if>       
      ) Y
    WHERE 1=1
    <if test='psprNo != null and psprNo != ""'>
    AND Y.PSPR_NO = #{psprNo} 
    </if>
    <if test='natCd != null and natCd != ""'>
    AND Y.NAT_CD = #{natCd} 
    </if>
    <if test='tpdMgmtNo != null and tpdMgmtNo != ""'>
    AND Y.TPD_NO = #{tpdMgmtNo} 
    </if>
    <if test='drvrGvnmNm != null and drvrGvnmNm != ""'>
    AND Y.DRVR_GVNM_NM LIKE '%' || UPPER(#{drvrGvnmNm}) || '%'
    </if>    
    <if test='drvrBrdy != null and drvrBrdy != ""'>
    AND Y.DRVR_BRDY = TO_CHAR(TO_DATE(REPLACE(#{drvrBrdy}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
    </if>        
    ORDER BY Y.FRST_RGSR_DTTM DESC ,Y.TPD_TP_CD  

  </select>
   
 
</mapper>