<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper">

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사" 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtList" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtList */
    <include refid="pagination.header" ></include>
	  SELECT A.HDCB_BSOP_RPRT_NO   AS IPT_HDCB_BSOP_RPRT_NO            /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
	       , C.HDCB_BSOP_RPRT_NO   AS EPT_HDCB_BSOP_RPRT_NO            /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
	       , A.RPRT_DT             /**  Date De Rapport  !== 보고일자 ==!  */
      	   , A.RPRT_DGCNT              /**  N° ordre de rapport  !== 보고차수 ==!  */
	       , A.HDCB_BSOP_PT_CD             /**  Type d’activité  !== 탄화수소업무유형코드 ==!  */
	       , A.HDCB_TP_CD              /**  Code de type d'hydrocarbure  !== 탄화수소구분코드 ==!  */
	       , A.JRSD_ORGN_CD                /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
	       , FN_GET_ORGN_NM(A.JRSD_ORGN_CD) AS JRSD_ORGN_NM
	       , A.NIF             /**  NIF  !== 납세번호 ==!  */
	       , A.IBOBZ_CD                /**  Code de zone sous douane  !== 보세구역코드 ==!  */
	       , TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS TRSN_DTTM    /**  Date et heure de transmission  !== 전송일시 ==!  */
	       , A.TRSN_CO_CD              /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
	       , (SELECT CO_DCLR_CD_NM FROM TB_COM_CO_DCLR_CD WHERE USE_YN = 'Y' AND CO_DCLR_CD = A.TRSN_CO_CD LIMIT 1) AS TRSN_CO_NM
	       , TO_CHAR(A.AUDT_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS AUDT_DTTM    /**  Date De L'Étude  !== 심사일시 ==!  */
	       , A.AUDT_PT_CD              /**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
	       , A.AUDT_RSLT_CN                /**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
	       , A.DEL_YN              /**  Suppression On  !== 삭제여부 ==!  */
	       , A.FRST_REGST_ID               /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
	       , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM  /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
	       , A.LAST_CHPR_ID                /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
	       , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM    /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
	       , D.PRCS_STTS_CD AS EPT_PRCS_STTS_CD                /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
	       , TO_CHAR(D.PRCS_DTTM, 'DD/MM/YYYY') AS EPT_PRCS_DTTM  /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
	       , D.AUDT_EMP_ID     /** 심사직원 */
	       , ( SELECT EMP_FMNM || ' ' || EMP_NM
	             FROM TB_POTI_EMP
	            WHERE PBSR_NO = D.AUDT_EMP_ID
	         ) AS AUDT_EMP_NM
	    FROM TB_CARI_HDCB_RPRT_AUDT A /* Ipt Report*/
	    LEFT OUTER JOIN TB_CARI_HDCB_RPRT_AUDT C /* Ept Report*/
	      ON LEFT(A.HDCB_BSOP_RPRT_NO, 24) = LEFT(C.HDCB_BSOP_RPRT_NO, 24)
	     AND A.RPRT_DT = C.RPRT_DT
	     AND A.RPRT_DGCNT = C.RPRT_DGCNT
	     AND C.DEL_YN = 'N'
	     AND SUBSTRING(C.HDCB_BSOP_RPRT_NO, 25, 1) = 'E'
	    LEFT JOIN TB_CARI_CAG_PRCS_BRKD D  /* Ept 배부 */
	      ON C.HDCB_BSOP_RPRT_NO = D.CAG_RQST_NO
	     AND D.DEL_YN = 'N'
	   WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
	     AND SUBSTRING(A.HDCB_BSOP_RPRT_NO, 25, 1) = 'I'
         <if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
		 AND TO_DATE(A.RPRT_DT, 'YYYYMMDD') BETWEEN TO_DATE( #{searchKeywordFrom}, 'DD/MM/YYYY')  and TO_DATE( #{searchKeywordTo}, 'DD/MM/YYYY')    /**  Date et heure de transmission  !== 전송일시 ==!  */
         </if>
	     <if test="prcsSttsCd != null and prcsSttsCd != ''">
         AND D.PRCS_STTS_CD = #{prcsSttsCd} /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
         </if>
         <if test="ibobzCd != null and ibobzCd != ''">
         AND A.IBOBZ_CD = #{ibobzCd} /**  Code de zone sous douane  !== 보세구역코드 ==!  */
         </if>
         <if test="trsnCoCd != null and trsnCoCd != ''">
         AND A.TRSN_CO_CD = #{trsnCoCd} /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
         </if>
         <if test="hdcbBsopRprtNo != null and hdcbBsopRprtNo != ''">
         AND (A.HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
      	      OR C.HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo}) /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
         </if>
         <if test="hdcbTpCd != null and hdcbTpCd != ''">
         AND A.HDCB_TP_CD = #{hdcbTpCd} /**  Code de type d'hydrocarbure  !== 탄화수소구분코드 ==!  */
         </if>
         AND D.PRCS_STTS_CD IN ('B02', 'D08', 'D09')
         AND D.AUDT_EMP_ID  = #{pbsrNo}
       ORDER BY A.HDCB_BSOP_RPRT_NO DESC
    <include refid="pagination.footer" ></include>
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사" 상세 조회 ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudt" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudt */
      SELECT
	      A.HDCB_BSOP_RPRT_NO			/**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
			, TO_CHAR(TO_DATE(A.RPRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RPRT_DT				/**  Date De Rapport  !== 보고일자 ==!  */
			, A.RPRT_DGCNT				/**  N° ordre de rapport  !== 보고차수 ==!  */
			, A.HDCB_BSOP_PT_CD				/**  Type d’activité  !== 탄화수소업무유형코드 ==!  */
			, A.HDCB_TP_CD				/**  Code de type d'hydrocarbure  !== 탄화수소구분코드 ==!  */
			, A.JRSD_ORGN_CD				/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
			, FN_GET_ORGN_NM(A.JRSD_ORGN_CD) AS JRSD_ORGN_NM
		 , E.JRSD_CSTM_CD AS JRSD_CSTM_CD
		 , FN_GET_ORGN_NM(E.JRSD_CSTM_CD) AS JRSD_CSTM_NM
			, A.NIF				/**  NIF  !== 납세번호 ==!  */
			, A.IBOBZ_CD				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
			, (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM
			, TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS TRSN_DTTM	/**  Date et heure de transmission  !== 전송일시 ==!  */
			, A.TRSN_CO_CD				/**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
			, TO_CHAR(A.AUDT_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS AUDT_DTTM	/**  Date De L'Étude  !== 심사일시 ==!  */
			, A.AUDT_PT_CD				/**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			, A.AUDT_RSLT_CN				/**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			, B.PRCS_STTS_CD				/**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			, TO_CHAR(B.PRCS_DTTM, 'DD/MM/YYYY') AS PRCS_DTTM  /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
			, B.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
			, ( SELECT EMP_FMNM || ' ' || EMP_NM
	             FROM TB_POTI_EMP
	            WHERE PBSR_NO = B.AUDT_EMP_ID
	         ) AS AUDT_EMP_NM
			, C.HDCB_CO_CD           /** Code d'entreprise hydrocarbon !== 탄화수소업체코드 ==! */
			, C.CVNT_NO              /** N° du contrat !== 계약번호 ==! */
			, TO_CHAR(TO_DATE(C.CVNT_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS CVNT_STRT_DT /** Date de début du contrat !== 계약시작일자 ==! */
			, TO_CHAR(TO_DATE(C.CVNT_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS CVNT_END_DT /** Date de fin du contrat !== 계약종료일자 ==! */
			, C.PRAB_VAL             /** Capacité de la production !== 생산능력값 ==! */
			, C.MG_NO                /** N° de caution !== 담보번호 ==! */
			, TO_CHAR(TO_DATE(C.MG_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS MG_STRT_DT  /** Date début garantie !== 담보시작일자 ==! */
		  , D.CO_NM AS HDCB_CO_NM   /** Nom et raison sociale !== 업체명 ==! */
		  , D.CO_ADDR              /** Adresse !== 업체주소 ==! */
		  , D.CMRC_REGS_NO         /** N° RC !== 상업등기번호 ==! */
		FROM TB_CARI_HDCB_RPRT_AUDT A
    	LEFT JOIN TB_CARI_CAG_PRCS_BRKD B
    	  ON A.HDCB_BSOP_RPRT_NO = B.CAG_RQST_NO
		    AND B.DEL_YN = 'N'
		  LEFT JOIN TB_CARI_HDCB_IBOBZ_CO C
		    ON A.IBOBZ_CD = C.IBOBZ_CD
		    AND C.DEL_YN = 'N'
		  LEFT OUTER JOIN (SELECT A.NIF, A.CO_ADDR, A.CO_NM, A.CMRC_REGS_NO, B.CO_DCLR_CD
		                   FROM TB_COM_CO A, TB_COM_CO_DCLR_CD B
		                   WHERE A.DEL_YN = 'N'
		                     AND B.DEL_YN = 'N'
		                     AND A.NIF = B.NIF
		  ) D
		    ON C.HDCB_CO_CD = D.CO_DCLR_CD
		  LEFT JOIN ( SELECT C1.ORGN_CD
		                   , C2.ORGN_CD JRSD_CSTM_CD
		              FROM TB_POTI_ORGN C1
		              LEFT JOIN TB_POTI_ORGN C2
		                ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
		              WHERE C1.DEL_YN = 'N'
		  ) E
		    ON A.JRSD_ORGN_CD = E.ORGN_CD
		WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
		  AND A.HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사 반입" 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtBrngList" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtBrngVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtBrngList */
    <include refid="pagination.header" ></include>
    SELECT
	      A.HDCB_BSOP_RPRT_NO				/**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
			, A.BRNG_SRNO				/**  N° serie de d'introduction  !== 반입일련번호 ==!  */
			, A.MNFU_NM				/**  Nom du produit  !== 제품명 ==!  */
			, A.HS_CD				/**  Code Sh  !== HS코드 ==!  */
			, TO_CHAR(A.HDCB_BRNG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS HDCB_BRNG_DTTM /**  Dateheure d'entrée des hydrocarbures  !== 탄화수소반입일시 ==!  */
			, A.DPRP_JRSD_ORGN_CD				/**  	Code de service compétent de départ  !== 출발지관할조직코드 ==!  */
			, FN_GET_ORGN_NM(A.DPRP_JRSD_ORGN_CD) AS DPRP_JRSD_ORGN_NM 
			, A.DPRP_IBOBZ_CD				/**  Code De Zone Sous Douane De Départ  !== 출발지보세구역코드 ==!  */
			, (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.DPRP_IBOBZ_CD) AS DPRP_IBOBZ_NM 
			, A.IMP_QTY				/**  Quantité Importée  !== 수입수량 ==!  */
			, A.HDCB_SAVE_METH_PT_CD				/**  Code type de véhicule de stockage d'hydrocarbures  !== 탄화수소저장수단유형코드 ==!  */
			, A.COMN_CUNT_NO_REFF_NM				/**  	Numéro/référence compteur  !== 공통계량기번호참조명 ==!  */
			, A.HDCB_SAVE_METH_ACPE_AQTY				/**  Capacité de stockage d'hydrocarbures  !== 탄화수소저장수단수용량 ==!  */
			, A.MSRM_UT_NM				/**  Unité de mesure  !== 측정단위명 ==!  */
			, A.CHAR_DTTM				/**  Date et heure de remplissage  !== 충전일시 ==!  */
			, A.CHAR_TPRT				/**  Température de remplissage  !== 충전온도 ==!  */
			, A.WL_HIGT_MT				/**  Pied d’eau  !== 수위높이미터 ==!  */
			, A.FRST_OWN_QTY				/**  Stock initial  !== 최초소유수량 ==!  */
			, A.VLM				/**  Volume  !== 부피 ==!  */
			, A.WGHT				/**  Poids  !== 중량 ==!  */
			, A.ISTA_DTTM				/**  Date et heure de jaugeage  !== 계측일시 ==!  */
			, A.TANKER_SSIS_NO				/**  Citerne N° de châssis  !== 유조차샤시번호 ==!  */
			, A.VHCL_RGSR_NO				/**  N° d'immatriculation du véhicule  !== 차량등록번호 ==!  */
			, A.DRVR_NM				/**  Nom de conducteur  !== 운전자명 ==!  */
			, A.TRNP_LCNE_NO				/**  N° permis de conduire pour transport  !== 운송면허번호 ==!  */
			, A.SHIP_REFF_NM				/**  Référence du bateau  !== 선박참조명 ==!  */
			, A.CAPT_NM				/**  Nom du capitaine de navire  !== 선장명 ==!  */
			, A.PILI_REFF_NM				/**  Référence du pipe-line  !== 파이프라인참조명 ==!  */
			, A.CUNT_REFF_NM				/**  Référence du compteur  !== 계량기참조명 ==!  */
			, A.ATCH_FILE_ID				/**  Id Du Fichier Joint  !== 첨부파일ID ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
		FROM TB_CARI_HDCB_RPRT_AUDT_BRNG A
		WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
      AND A.HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
    ORDER BY A.BRNG_SRNO
    <include refid="pagination.footer" ></include>
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사 반출" 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtRlseList" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtRlseVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtRlseList */
    <include refid="pagination.header" ></include>
    SELECT
	      A.HDCB_BSOP_RPRT_NO				/**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
			, A.RLSE_SRNO				/**  N° de série de sortie  !== 반출일련번호 ==!  */
			, A.MNFU_NM				/**  Nom du produit  !== 제품명 ==!  */
			, A.HS_CD				/**  Code Sh  !== HS코드 ==!  */
			, TO_CHAR(A.HDCB_RLSE_DTTM , 'DD/MM/YYYY HH24:mi:ss') AS HDCB_RLSE_DTTM /**  Dateheure De Sortie des hydrocarbures  !== 탄화수소반출일시 ==!  */
			, A.ARLC_JRSD_ORGN_CD				/**  Code de service compétent de destination  !== 도착지관할조직코드 ==!  */
			, FN_GET_ORGN_NM(A.ARLC_JRSD_ORGN_CD) AS ARLC_JRSD_ORGN_NM 
			, A.ARLC_IBOBZ_CD				/**  Code De Zone Sous Douane De Destination  !== 도착지보세구역코드 ==!  */
			, (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.ARLC_IBOBZ_CD) AS ARLC_IBOBZ_NM
			, A.HDCB_RLSE_PT_CD				/**  	Code type sortie hydrocarbures  !== 탄화수소반출유형코드 ==!  */
			, A.HDCB_RLSE_METH_CD				/**  Sortie hydrocarbures signifie code  !== 탄화수소반출수단코드 ==!  */
			, A.RELA_NO				/**  Numéro Concerné  !== 관련번호 ==!  */
			, A.HDCB_SEND_METH_ACPE_AQTY				/**  Quantités	  !== 탄화수소발송수단수용량 ==!  */
			, A.MSRM_UT_NM				/**  Unité de mesure  !== 측정단위명 ==!  */
			, TO_CHAR(A.rlse_dttm, 'DD/MM/YYYY HH24:mi:ss') AS rlse_dttm	/**  Dateheure De Sortie  !== 반출일시 ==!  */
			, A.RLSE_TPRT				/**  Température  !== 반출온도 ==!  */
			, A.WL_HIGT_MT				/**  Pied d’eau  !== 수위높이미터 ==!  */
			, A.ISTA_DTTM				/**  Date et heure de jaugeage  !== 계측일시 ==!  */
			, A.SHPM_BF_QTY				/**  Quantité à terre  !== 선적이전수량 ==!  */
			, A.SHPM_AF_QTY				/**  Quantité à bord  !== 선적이후수량 ==!  */
			, A.RLSE_PT_QTY				/**  Quantité par type de sortie	  !== 반출유형수량 ==!  */
			, A.TANKER_SSIS_NO				/**  Citerne N° de châssis  !== 유조차샤시번호 ==!  */
			, A.VHCL_RGSR_NO				/**  N° d'immatriculation du véhicule  !== 차량등록번호 ==!  */
			, A.DRVR_NM				/**  Nom de conducteur  !== 운전자명 ==!  */
			, A.TRNP_LCNE_NO				/**  N° permis de conduire pour transport  !== 운송면허번호 ==!  */
			, A.SHIP_REFF_NM				/**  Référence du bateau  !== 선박참조명 ==!  */
			, A.CAPT_NM				/**  Nom du capitaine de navire  !== 선장명 ==!  */
			, A.PILI_REFF_NM				/**  Référence du pipe-line  !== 파이프라인참조명 ==!  */
			, A.CUNT_REFF_NM				/**  Référence du compteur  !== 계량기참조명 ==!  */
			, A.ATCH_FILE_ID				/**  Id Du Fichier Joint  !== 첨부파일ID ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
		FROM TB_CARI_HDCB_RPRT_AUDT_RLSE A
		WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
      AND A.HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
    ORDER BY A.RLSE_SRNO
    <include refid="pagination.footer" ></include>
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사 유실" 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtWshList" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtWshVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtWshList */
    <include refid="pagination.header" ></include>
    SELECT
	      A.HDCB_BSOP_RPRT_NO				/**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
			, A.WSH_SRNO				/**  Les pertes  !== 유실일련번호 ==!  */
			, A.WSH_DTTM				/**  Les pertes date  !== 유실일시 ==!  */
			, A.WSH_TP_CD				/**  Les pertes  !== 유실구분코드 ==!  */
			, A.WSH_QTY				/**  Les pertes Quantités  !== 유실수량 ==!  */
			, A.MSRM_UT_NM				/**  Unité de mesure  !== 측정단위명 ==!  */
			, A.ATCH_FILE_ID				/**  Id Du Fichier Joint  !== 첨부파일ID ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
		FROM TB_CARI_HDCB_RPRT_AUDT_WSH A
		WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
      AND A.HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
    ORDER BY A.WSH_SRNO
    <include refid="pagination.footer" ></include>
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사 채취" 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtPickList" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtPickVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtPickList */
    <include refid="pagination.header" ></include>
    SELECT
			  A.HDCB_BSOP_RPRT_NO				/**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
			, A.PICK_SRNO				/**  Prélèvements  !== 채취일련번호 ==!  */
			, A.PICK_DTTM				/**  Les prélèvements date  !== 채취일시 ==!  */
			, A.CTNR_NO				/**  Numéro de bac  !== 용기번호 ==!  */
			, A.PICK_QTY				/**  Les prélèvements Quantités  !== 채취수량 ==!  */
			, A.MSRM_UT_NM				/**  Unité de mesure  !== 측정단위명 ==!  */
			, A.ANST_NM				/**  Laboratoire NM  !== 분석소명 ==!  */
			, A.ANST_EMP_NM				/**  Agent de laboratoire NM  !== 분석소직원명 ==!  */
			, A.WDRW_PSBL_YN				/**  Récupérable/ Non récupérable  !== 회수가능여부 ==!  */
			, A.ATCH_FILE_ID				/**  Id Du Fichier Joint  !== 첨부파일ID ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
		FROM TB_CARI_HDCB_RPRT_AUDT_PICK A
		WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
      AND A.HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
    ORDER BY A.PICK_SRNO
    <include refid="pagination.footer" ></include>
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사 반입" 상세 조회 ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtBrng" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtBrngVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtBrng */
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사 반출" 상세 조회 ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtRlse" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtRlseVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtRlse */
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사 유실" 상세 조회 ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtWsh" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtWshVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtWsh */
  </select>

	<!--
    [Rechercher] @TODO 번역 !== "탄화수소 보고 심사 채취" 상세 조회 ==!
    (Yangjip Kim)
  -->
  <select id="selectHdcbAudtPick" resultType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtPickVo">
    /* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.selectHdcbAudtPick */
  </select>

	<!--
		[Modifier] @TODO 번역필요   !== 탄화수소 보고 심사정보를 수정한다.==!
    (Yangjip Kim)
	-->
	<update id="updateHdcbAudt" parameterType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtVo">
  	/* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.updateHdcbAudt */
    UPDATE TB_CARI_HDCB_RPRT_AUDT
		SET
			  LAST_CHPR_ID      = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM     = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		  <if test="audtDttm != null and audtDttm != ''">
      , AUDT_DTTM         = TO_TIMESTAMP( #{audtDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
		  <if test="audtPtCd != null and audtPtCd != ''">
      , AUDT_PT_CD        = #{audtPtCd}
      </if>
		  <if test="audtRsltCn != null and audtRsltCn != ''">
      , AUDT_RSLT_CN      = #{audtRsltCn}
      </if>
		WHERE HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
	</update>

	<!--
		[Modifier] @TODO 번역필요   !== 탄화수소 보고 심사정보를 수정한다.==!
    (Yangjip Kim)
	-->
	<update id="updateHdcbRprtMakeIpt" parameterType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtVo">
  	/* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.updateHdcbRprtMakeIpt */
    UPDATE ALPASSINT.TB_CARI_HDCB_RPRT_MAKE
		SET
        PRCS_STTS_CD     = DECODE(#{audtPtCd}, 'O', 'D08', 'D09')
      , PRCS_DTTM        = TO_TIMESTAMP( #{audtDttm}, 'DD/MM/YYYY HH24:MI:SS')
      , LAST_CHPR_ID     = #{lastChprId}
      , LAST_CHG_DTTM    = SYSTIMESTAMP
		WHERE HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
	</update>

	<!--
		[Modifier] @TODO 번역필요   !== 탄화수소 보고 심사정보를 수정한다.==!
    (Yangjip Kim)
	-->
	<update id="updateHdcbRprtMakeEpt" parameterType="alpass.ipt.car.hdcb.audt.vo.CarHdcbAudtVo">
  	/* alpass.ipt.car.hdcb.audt.mapper.CarHdcbAudtMapper.updateHdcbRprtMakeEpt */
    UPDATE ALPASSEXT.TB_CARE_HDCB_RPRT_MAKE
		SET
        PRCS_STTS_CD     = DECODE(#{audtPtCd}, 'O', 'D08', 'D09')
      , PRCS_DTTM        = TO_TIMESTAMP( #{audtDttm}, 'DD/MM/YYYY HH24:MI:SS')
      , LAST_CHPR_ID     = #{lastChprId}
      , LAST_CHG_DTTM    = SYSTIMESTAMP
		WHERE HDCB_BSOP_RPRT_NO = #{hdcbBsopRprtNo} /**  Numéro du rapport de travaux hydrocarbures  !== 탄화수소업무보고번호 ==!  */
	</update>
</mapper>
