<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.mp.mypge.mapper.PotMpMypgeAuthMndaMapper">

	<!--
		Consulter la liste des messages d'alarmes par e-mail !==E-mail 알림 메시지 수신여부 목록 조회한다==!
	-->
	<select id="selectEmlRcpnList" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeNtceVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeNtceVo">
		/** selectEmlRcpnList */
		<include refid="pagination.header"/>
		SELECT
		  A.NTCE_MSG_ID		/** ID du message d'alerte !==알림메시지ID==! */
		, A.NTCE_MSG_NM		/** Nom du message d'alerte !==알림메시지명==! */
		, A.NTCE_TP_CD		/** Type d'alerte !== 알림구분코드 ==! */
		, B.PBSR_NO			/** N˚ matricule solde !==공무원번호==! */
		, CASE WHEN B.PBSR_NO IS NOT NULL AND A.NTCE_MSG_ID = B.NTCE_MSG_ID THEN 'N'
		ELSE 'Y' END AS EML_RCPN_YN		/** Réception de SMS O/N !==SMS 수신여부==! */
		FROM TB_COM_NTCE_MSG A, TB_POTI_NTCE_RCPN_REFS B
		WHERE A.NTCE_MSG_ID = B.NTCE_MSG_ID(+)
		AND   A.APP_CLSF_CD = 'IPT'
		AND   A.NTCE_TP_CD = 'E'
		AND   A.ESNT_RCPN_YN != 'Y'
		AND   A.USE_YN = 'Y'
		AND   A.DEL_YN = 'N'
		AND   B.DEL_YN(+) = 'N'
		AND   B.PBSR_NO(+) = #{pbsrNo}
		ORDER BY A.NTCE_MSG_ID
		<include refid="pagination.footer"/>
	</select>

	<!--
		Consulter la liste des messages d'alarmes par sms !==SMS 알림 메시지 수신여부 목록 조회한다==!
	-->
	<select id="selectSmsRcpnList" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeNtceVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeNtceVo">
		/** selectSmsRcpnList */
		<include refid="pagination.header"/>
		SELECT
			  A.NTCE_MSG_ID		/** ID du message d'alerte !==알림메시지ID==! */
			, A.NTCE_MSG_NM		/** Nom du message d'alerte !==알림메시지명==! */
			, A.NTCE_TP_CD		/** Type d'alerte !== 알림구분코드 ==! */
			, B.PBSR_NO			/** N˚ matricule solde !==공무원번호==! */
			, CASE WHEN B.PBSR_NO IS NOT NULL AND A.NTCE_MSG_ID = B.NTCE_MSG_ID THEN 'N'
		ELSE 'Y' END AS SMS_RCPN_YN		/** Réception de SMS O/N !==SMS 수신여부==! */
		FROM TB_COM_NTCE_MSG A, TB_POTI_NTCE_RCPN_REFS B
		WHERE A.NTCE_MSG_ID = B.NTCE_MSG_ID(+)
		AND   A.APP_CLSF_CD = 'IPT'
		AND   A.NTCE_TP_CD = 'S'
		AND   A.ESNT_RCPN_YN != 'Y'
		AND   A.USE_YN = 'Y'
		AND   A.DEL_YN = 'N'
		AND   B.DEL_YN(+) = 'N'
		AND   B.PBSR_NO(+) = #{pbsrNo}
		ORDER BY A.NTCE_MSG_ID
		<include refid="pagination.footer"/>
	</select>

	<!--
		Enregistrer 'Recevoir Non' O/N des messages d'alarme de l'e-mail/SMS !==E-mail / SMS 알림 메시지 수신거부 저장한다==!
	-->
	<insert id="saveRcpnYn" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeNtceVo">
		/** saveRcpnYn */
		with upsert as
		(
			UPDATE	TB_POTI_NTCE_RCPN_REFS
			SET   NTCE_TP_CD = #{ntceTpCd}		/** Type d'alerte !== 알림구분코드 ==! */
				, DEL_YN = CASE WHEN #{ntceTpCd} = 'E' THEN CASE WHEN #{emlRcpnYn} = 'Y' THEN 'Y' WHEN #{emlRcpnYn} = 'N' AND DEL_YN = 'Y' THEN 'N' ELSE DEL_YN END
			      WHEN #{ntceTpCd} = 'S' THEN CASE WHEN #{smsRcpnYn} = 'Y' THEN 'Y' WHEN #{smsRcpnYn} = 'N' AND DEL_YN = 'Y' THEN 'N' ELSE DEL_YN END
			      ELSE DEL_YN END 	/** Suppression O/N !== 삭제여부 ==! */
			    , LAST_CHPR_ID = #{pbsrNo}		/** ID du modificateur final !== 최종변경자ID ==! */
			    , LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
			WHERE PBSR_NO = #{pbsrNo} AND NTCE_MSG_ID = #{ntceMsgId}
			RETURNING *
		)
		INSERT INTO TB_POTI_NTCE_RCPN_REFS
		(
			  PBSR_NO					/** ID d'utilisateur !== 사용자ID ==! */
			, NTCE_MSG_ID				/** ID du message d'alerte !==알림메시지ID==! */
			, NTCE_TP_CD				/** Type d'alerte !== 알림구분코드 ==! */
			, DEL_YN					/** Suppression O/N !== 삭제여부 ==! */
			, FRST_REGST_ID				/** ID du premier enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM			/** Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID				/** ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM				/** Date et heure de modification finale !== 최종변경일시 ==! */
		)
		SELECT #{pbsrNo}, #{ntceMsgId}, #{ntceTpCd}, 'N', #{pbsrNo}, SYSTIMESTAMP, #{pbsrNo}, SYSTIMESTAMP
		WHERE NOT exists(select * from upsert)
	</insert>

	<!-- 
		Catalogue des rôles des chefs !==쉐프 역할 목록을 조회한다==!
	-->
	<select id="selectChefRoleTreeList" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** selectChefRoleTreeList */
		SELECT
		       DISTINCT A.*
					 <if test="empPbsrNo != null and empPbsrNo != ''">
					   , ( SELECT COUNT(1) FROM TB_COM_AUTH_MNDA_REL WHERE MNDA_PBSR_NO = #{pbsrNo} AND  MNDA_TRGT_PBSR_NO = #{empPbsrNo} AND ROLE_ID = A.C_NODE AND DEL_YN = 'N' ) AS CNT
					 </if>
					 <if test="empPbsrNo == null or empPbsrNo == ''">
             , 0 AS CNT			     
					 </if>
		FROM     
		(
		    SELECT (SELECT LBL_NM FROM TB_COM_LBL_LANG  WHERE LBL_ID = 'L_AL' AND LANG_CD = #{langCd}) AS NAME, 'CHEF' AS C_NODE, '' AS P_NODE   FROM DUAL
		    UNION ALL
	        SELECT * FROM
	        (
	            SELECT 
	                   (SELECT FN_GET_CD_VDVAL_NM('COM_0022', BSOP_CLSF_CD, #{langCd}) FROM DUAL)  AS NAME
	                 , 'CHEF'||BSOP_CLSF_CD  AS C_NODE
	                 , 'CHEF' AS P_NODE
	            FROM  TB_COM_ROLE A
	            WHERE A.USE_YN = 'Y'
	            AND   A.DEL_YN = 'N'      
	            GROUP BY APP_CLSF_CD, BSOP_CLSF_CD		
	        ) A 
	        WHERE A.C_NODE IN 
	        (            		
	            SELECT 
	                  'CHEF'||BSOP_CLSF_CD AS P_NODE
	            FROM  TB_COM_ROLE A
	            WHERE A.USE_YN = 'Y'
	            AND   A.DEL_YN = 'N'
	            AND   A.ROLE_ID IN ( SELECT ROLE_ID FROM TB_POTI_EMP_AUTH WHERE PBSR_NO = #{pbsrNo}  AND DEL_YN = 'N' )
				OR   A.ROLE_ID IN ( SELECT ROLE_ID FROM TB_POTI_FONC_ROLE_REL WHERE FONC_CD = #{foncCd} AND DEL_YN = 'N' )
				OR   A.ROLE_ID IN ( SELECT ROLE_ID FROM TB_POTI_ORGN_ROLE_REL WHERE ORGN_MGMT_CD = #{orgnMgmtCd} AND FONC_CD = #{foncCd} AND DEL_YN = 'N' )
	            AND   A.ROLE_ID  <![CDATA[ <> ]]> 'POT049'
	        ) 
		    UNION ALL
		    SELECT
                   (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND DEL_YN = 'N' AND LANG_CD = #{langCd})  AS NAME
		         , A.ROLE_ID AS C_NODE 
		         , 'CHEF'||BSOP_CLSF_CD AS P_NODE
		    FROM  TB_COM_ROLE A
		    WHERE A.USE_YN = 'Y'
		    AND   A.DEL_YN = 'N'
        	AND   A.ROLE_ID IN ( SELECT ROLE_ID FROM TB_POTI_EMP_AUTH WHERE PBSR_NO = #{pbsrNo} AND DEL_YN = 'N' )
        	AND   A.ROLE_ID  <![CDATA[ <> ]]> 'POT049'
			UNION ALL
			SELECT
				(SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND DEL_YN = 'N' AND LANG_CD = #{langCd})  AS NAME
				, A.ROLE_ID AS C_NODE
				, 'CHEF'||BSOP_CLSF_CD AS P_NODE
			FROM  TB_COM_ROLE A
			WHERE A.USE_YN = 'Y'
			AND   A.DEL_YN = 'N'
			AND   A.ROLE_ID IN ( SELECT ROLE_ID FROM TB_POTI_FONC_ROLE_REL WHERE FONC_CD = #{foncCd} AND DEL_YN = 'N' )
			AND   A.ROLE_ID  <![CDATA[ <> ]]> 'POT049'
			UNION ALL
			SELECT
			(SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND DEL_YN = 'N' AND LANG_CD = #{langCd})  AS NAME
			, A.ROLE_ID AS C_NODE
			, 'CHEF'||BSOP_CLSF_CD AS P_NODE
			FROM  TB_COM_ROLE A
			WHERE A.USE_YN = 'Y'
			AND   A.DEL_YN = 'N'
			AND   A.ROLE_ID IN ( SELECT ROLE_ID FROM TB_POTI_ORGN_ROLE_REL WHERE ORGN_MGMT_CD = #{orgnMgmtCd} AND FONC_CD = #{foncCd} AND DEL_YN = 'N' )
			AND   A.ROLE_ID  <![CDATA[ <> ]]> 'POT049'
		) A
	</select>

	<!-- 
		Enquête des fonctionnaires des douanes !==세관 직원 목록 조회한다==!
	-->
	<select id="selectCstmEmp" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** selectCstmEmp */
		<include refid="pagination.header"/>
		SELECT 
		       *
		FROM
		(       
			SELECT
			       B.PBSR_NO
			     , B.EMP_NM
			     , B.EMP_FMNM
			     , FN_GET_FONC_NM(B.FONC_CD, #{langCd}) AS FONC_NM
			     , DECODE((SELECT COUNT(1) FROM TB_COM_AUTH_MNDA_REL WHERE MNDA_TRGT_PBSR_NO = B.PBSR_NO AND MNDA_PBSR_NO = #{pbsrNo} AND DEL_YN = 'N' ), 0, 'N' , 'Y') AS MNDA_YN
			     , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM
			FROM
			(
			    SELECT 
			           *
			    FROM
			    (
			        SELECT           
			               ORGN_MGMT_CD
			              , ORGN_CD
			        FROM 
			        (
			            SELECT 
			                   ORGN_CD
			                 , ORGN_NM
			                 , ORGN_MGMT_CD
			                 , UPR_ORGN_MGMT_CD
			                 , HSRK_ORGN_MGMT_CD
			                 , ORGN_TP_CD
			                 , (SELECT T.ORGN_MGMT_CD FROM TB_POTI_ORGN T  WHERE T.ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD AND T.DEL_YN = 'N') AS UP_CD
			                 , A.DEL_YN
			                 FROM TB_POTI_ORGN A
			                 WHERE A.DEL_YN = 'N' 
			        ) A 
			        START WITH A.ORGN_MGMT_CD = #{orgnMgmtCd}
			        CONNECT BY PRIOR A.ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD 
			    ) A 
			    WHERE 1 = 1
			    <if test="searOrgnMgmtCd != null and searOrgnMgmtCd != ''">
			    AND A.ORGN_MGMT_CD = #{searOrgnMgmtCd}
			    </if>
		    ) A, TB_POTI_EMP B
		    WHERE A.ORGN_MGMT_CD = B.ORGN_MGMT_CD
		    AND B.DEL_YN = 'N'
		    <if test="srchPbsrNo != null and srchPbsrNo != ''">
				AND B.PBSR_NO = #{srchPbsrNo}
				</if>
			AND B.PBSR_NO <![CDATA[ <> ]]> #{pbsrNo}
		)
		<if test="srchMndaYn != null and srchMndaYn != ''">
			<if test='srchMndaYn == "Y"'>
				WHERE MNDA_YN = 'Y'
			</if>
			<if test='srchMndaYn == "N"'>
				WHERE MNDA_YN = 'N'
			</if>
		</if>
		ORDER BY MNDA_YN DESC, PBSR_NO
      <include refid="pagination.footer"/>
	</select>
		
	<!-- 
		Rôle Enquête sur l'enregistrement !== 역할 등록 여부 조회 ==!
	-->
	<select id="selectEmpAuthCnt" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo" resultType="java.lang.Integer">
		/** selectEmpAuthCnt */
		SELECT COUNT(1) FROM TB_POTI_EMP_AUTH
		WHERE ROLE_ID = #{roleId}
		AND   PBSR_NO = #{mndaTrgtPbsrNo}
		AND   DEL_YN = 'N'
	</select>
	
	<!-- 
		délégation de rôles !== 역할위임  ==!
	-->
	<insert id="insertAuthMnda" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** insertAuthMnda */
		with upsert as
		(
		UPDATE TB_COM_AUTH_MNDA_REL SET
				LAST_CHPR_ID = #{lastChprId}
				, LAST_CHG_DTTM = SYSTIMESTAMP
				, DEL_YN = 'N'
				, AUTH_MNDA_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
				, AUTH_WDRW_DT = ''
				, ROLE_RGSR_YN = #{roleRgsrYn}
		        , ATCH_FILE_ID = #{atchFileId}
		WHERE ROLE_ID = #{roleId}
			AND MNDA_PBSR_NO = #{mndaPbsrNo}
			AND MNDA_TRGT_PBSR_NO = #{mndaTrgtPbsrNo}
		returning *
		)
		INSERT INTO TB_COM_AUTH_MNDA_REL
		(
				ROLE_ID
				, MNDA_PBSR_NO
				, MNDA_TRGT_PBSR_NO
				, AUTH_MNDA_DT
				, AUTH_WDRW_DT
				, DEL_YN
				, FRST_REGST_ID
				, FRST_RGSR_DTTM
				, LAST_CHPR_ID
				, LAST_CHG_DTTM
				, ROLE_RGSR_YN
				, ATCH_FILE_ID
		)
		SELECT
				#{roleId}
				, #{mndaPbsrNo}
				, #{mndaTrgtPbsrNo}
				, TO_CHAR(SYSDATE, 'YYYYMMDD')
				, ''
				, 'N'
				, #{frstRegstId}
				, SYSTIMESTAMP
				, #{lastChprId}
				, SYSTIMESTAMP
				, #{roleRgsrYn}
				, #{atchFileId}
		WHERE NOT exists(select * from upsert)

        </insert>

	<!--
		délégation de rôles !== 역할위임 ==!
	-->
	<insert id="insertAuthMndaHist" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** insertAuthMndaHist */
		INSERT INTO TB_COM_AUTH_MNDA_REL_H
		(
		      ROLE_ID
		    , MNDA_PBSR_NO
		    , MNDA_TRGT_PBSR_NO
		    , SRNO
		    , AUTH_MNDA_DT
		    , AUTH_WDRW_DT
		    , ROLE_RGSR_YN
		    , DEL_YN
		    , FRST_REGST_ID
		    , FRST_RGSR_DTTM
		    , LAST_CHPR_ID
		    , LAST_CHG_DTTM
		)
		VALUES
		(
		      #{roleId}
		    , #{mndaPbsrNo}
		    , #{mndaTrgtPbsrNo}
		    , (SELECT NVL(MAX(SRNO), 0) + 1 FROM TB_COM_AUTH_MNDA_REL_H WHERE ROLE_ID = #{roleId} AND MNDA_PBSR_NO = #{mndaPbsrNo} AND MNDA_TRGT_PBSR_NO = #{mndaTrgtPbsrNo})
		    <if test="mndaWdrwYn != null and mndaWdrwYn.equals('Y'.toString())">
		    , TO_CHAR(SYSDATE, 'YYYYMMDD')
		    , ''
		    </if>
		    <if test="mndaWdrwYn != null and mndaWdrwYn.equals('N'.toString())">
		    , ''
		    , TO_CHAR(SYSDATE, 'YYYYMMDD')
		    </if>
		    , #{roleRgsrYn}
		    , 'N'
		    , #{frstRegstId}
		    , SYSTIMESTAMP
		    , #{lastChprId}
		    , SYSTIMESTAMP
		) 
	</insert>			
		
	<!-- 
		l’enregistrement des rôles !== 역할 등록 ==!
	-->
	<insert id="insertCstmEmpAuth" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** insertCstmEmpAuth */
		INSERT INTO TB_POTI_EMP_AUTH
		(
		     PBSR_NO
		   , ROLE_ID
		   , MN_ROLE_YN
		   , AUTH_VALD_STRT_DT
		   , AUTH_VALD_END_DT
		   , AUTH_RGSR_DT
		   , AUTH_WDRW_YN
		   , AUTH_WDRW_DT
		   , AUTH_WDRW_RSN_CD
		   , USE_YN
		   , DEL_YN
		   , FRST_REGST_ID
		   , FRST_RGSR_DTTM
		   , LAST_CHPR_ID
		   , LAST_CHG_DTTM
		   , ORGN_CD
		)
		VALUES
		(
		     #{mndaTrgtPbsrNo}
		   , #{roleId}
		   , ''
		   , ''
		   , ''
		   , ''
		   , ''
		   , ''
		   , ''
		   , 'Y'
		   , 'N'
		   , #{frstRegstId}
		   , SYSTIMESTAMP
		   , #{lastChprId}
		   , SYSTIMESTAMP 
		   , (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{mndaTrgtPbsrNo}))
		)		
	</insert>			
		
	<!-- 
		Suppression des rôles !== 역할 삭제 ==!
	-->
	<update id="deleteCstmEmpAuth" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** deleteCstmEmpAuth */
		DELETE FROM TB_POTI_EMP_AUTH
		WHERE PBSR_NO = #{mndaTrgtPbsrNo} 
		AND   ROLE_ID IN
		(
		    SELECT ROLE_ID FROM TB_COM_AUTH_MNDA_REL
		    WHERE 1 =1 
		    <if test="alWdrwYn != null and alWdrwYn.equals('N'.toString())">
		    AND MNDA_PBSR_NO = #{mndaPbsrNo}
		    </if>
		    AND MNDA_TRGT_PBSR_NO = #{mndaTrgtPbsrNo}
		    AND ROLE_RGSR_YN = 'N'
		    AND DEL_YN = 'N'
		)		

	</update>
	
	<!-- 
		Supprimer l'autorisation déléguée !== 권한위임 삭제 ==!
	-->
	<update id="deleteAuthMnda" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** deleteAuthMnda */
		UPDATE TB_COM_AUTH_MNDA_REL 
		SET 
             LAST_CHPR_ID = #{lastChprId}
           , LAST_CHG_DTTM = SYSTIMESTAMP		                        
           , AUTH_WDRW_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
           , DEL_YN = 'Y'
		WHERE 1 = 1 
		<if test="alWdrwYn != null and alWdrwYn.equals('N'.toString())">
		AND   MNDA_PBSR_NO = #{mndaPbsrNo}
		</if>
		AND   MNDA_TRGT_PBSR_NO = #{mndaTrgtPbsrNo}
	</update>
					
	<!-- 
		Demande de renseignements sur les antécédents en matière d'autorisation !== 권한위임 이력 조회 ==!
	-->
	<select id="selectAuthMndaHist" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** selectAuthMndaHist */
		SELECT 
		        A.ROLE_ID
		     , ( SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND LANG_CD = #{langCd} )ROLE_NM
		     , (SELECT PBSR_NO FROM TB_POTI_EMP WHERE PBSR_NO = A.MNDA_PBSR_NO) AS MNDA_PBSR_NO
		     , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.MNDA_PBSR_NO) AS EMP_NM
		     , (SELECT EMP_FMNM FROM TB_POTI_EMP WHERE PBSR_NO = A.MNDA_PBSR_NO) AS EMP_FMNM
		     , TO_CHAR(TO_DATE(AUTH_MNDA_DT, 'YYYYMMDD'),'DD/MM/YYYY')  AS AUTH_MNDA_DT
		     , TO_CHAR(TO_DATE(AUTH_WDRW_DT, 'YYYYMMDD'),'DD/MM/YYYY')  AS AUTH_WDRW_DT
			 , A.ATCH_FILE_ID
		FROM  TB_COM_AUTH_MNDA_REL A
		WHERE MNDA_TRGT_PBSR_NO = #{empPbsrNo}
		AND   DEL_YN = 'N'
		ORDER BY AUTH_MNDA_DT
	</select>

	<!--
		Consulter l'historique des accès au système !== 시스템 접근 이력 조회 ==!
	-->
	<select id="selectAuthMndaSysAcsLog" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaAcsLogVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaAcsLogVo">
        /** selectAuthMndaSysAcsLog */
        SELECT (SELECT FN_GET_CD_VDVAL_NM('POT_0107', A.MNDA_ACES_TP, #{langCd}) FROM DUAL) AS MNDA_ACES_TP
             , A.MNDA_TRGT_PBSR_NO
			 , TO_CHAR(A.MNDA_ACES_DTTM,'DD/MM/YYYY HH24:MI:SS') AS MNDA_ACES_DTTM
             , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.MNDA_TRGT_PBSR_NO)   AS MNDA_TRGT_PBSR_NM
             , (SELECT EMP_FMNM FROM TB_POTI_EMP WHERE PBSR_NO = A.MNDA_TRGT_PBSR_NO) AS MNDA_TRGT_PBSR_FMNM
        FROM TB_COM_AUTH_MNDA_ACES_LOG A
        WHERE MNDA_TRGT_PBSR_NO = #{empPbsrNo}
          AND DEL_YN = 'N'
        ORDER BY MNDA_ACES_DTTM DESC
    </select>
	<!--
		Versement complet !== 권한전체 조회 ==!
	-->
	<select id="selectAuthAl" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** selectAuthAl */
		SELECT
		        ( SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND LANG_CD = #{langCd} ) AS ROLE_ID
		FROM  TB_COM_AUTH_MNDA_REL A
		WHERE MNDA_PBSR_NO = #{mndaPbsrNo}
		AND   MNDA_TRGT_PBSR_NO 		<![CDATA[ <> #{mndaTrgtPbsrNo} ]]>
       	AND   ROLE_ID IN
        <foreach collection="roleIds" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
		AND   DEL_YN = 'N'
		AND   AUTH_WDRW_DT IS NOT NULL
		AND   AUTH_WDRW_DT != ''
	</select>	

	<!-- 
		Supprimer les autorisations d'administrateur déléguées !== 관리자 권한위임 삭제 ==!
	-->
	<update id="deleteMngrAuthMnda" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** deleteMngrAuthMnda */
		UPDATE TB_COM_AUTH_MNDA_REL 
		SET 
             LAST_CHPR_ID = #{lastChprId}
           , LAST_CHG_DTTM = SYSTIMESTAMP		                        
           , DEL_YN = 'Y'
		WHERE 1 = 1 
		AND   MNDA_PBSR_NO = #{mndaPbsrNo}
	</update>
					
	<!-- 
		Suppression des antécédents de délégation des pouvoirs d'administrateur !== 관리자 권한위임 이력 삭제 ==!
	-->
	<update id="deleteMngrAuthMndaHist" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** deleteMngrAuthMndaHist */
		UPDATE TB_COM_AUTH_MNDA_REL_H
		SET 
             LAST_CHPR_ID = #{lastChprId}
           , LAST_CHG_DTTM = SYSTIMESTAMP		                        
           , DEL_YN = 'Y'
		WHERE 1 = 1 
		AND   MNDA_PBSR_NO = #{mndaPbsrNo}
	</update>

	<!-- 
		Suppression des rôles !== 역할 삭제 ==!
	-->
	<update id="deleteCstmEmpAuthMndaPbsrNo" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** deleteCstmEmpAuthMndaPbsrNo */
		UPDATE TB_POTI_EMP_AUTH 
		SET 
		    DEL_YN = 'Y'
          , LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP	
		WHERE PBSR_NO = #{mndaPbsrNo} 
		AND   ROLE_ID = #{roleId}          	    
	</update>
	
	<!-- 
		Rôle du registre !== 역할 등록 ==!
	-->
	<update id="updateCstmEmpAuthMndaPbsrNo" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** updateCstmEmpAuthMndaPbsrNo */
		UPDATE TB_POTI_EMP_AUTH 
		SET 
		    DEL_YN = 'N'
          , LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP	
		WHERE PBSR_NO = #{mndaPbsrNo} 
		AND   ROLE_ID = #{roleId}       
	</update>

	<!--
		Supprimer les rôles lorsque les douaniers sont modifiées !== 세관 변경시 역할 삭제 ==!
	-->
	<update id="updateCstmEmpChgOrgnAuth" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** updateCstmEmpAuthMndaPbsrNo */
		UPDATE TB_POTI_EMP_AUTH
		SET
			DEL_YN = 'Y'
		  , USE_YN = 'N'
			, LAST_CHPR_ID = #{lastChprId}
			, LAST_CHG_DTTM = SYSTIMESTAMP
		WHERE PBSR_NO = #{pbsrNo}
			AND   ROLE_ID != 'POT002'
	</update>

	<!--
		Consulter la liste des mandats !== 권한위임 목록을 조회한다 ==!
	-->
	<select id="selectAuthMndaList"
		parameterType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo"
		resultType="alpass.ipt.pot.mp.mypge.vo.PotMyPgeAuthMndaVo">
		/** selectAuthMndaList */
		<if test="navbarYn == null or navbarYn == ''">
			<include refid="pagination.header"/>
		</if>
		SELECT PBSR_NO, EMP_NM, EMP_FMNM
		FROM TB_POTI_EMP
		WHERE DEL_YN = 'N'
		AND PBSR_NO IN (SELECT DISTINCT MNDA_PBSR_NO
		FROM TB_COM_AUTH_MNDA_REL
		WHERE DEL_YN = 'N' AND MNDA_TRGT_PBSR_NO = #{pbsrNo})
	</select>

</mapper>
