<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.mp.mypge.mapper.PotMpMypgeMyMenuMapper">

	<!--
		Consulter la liste des menus de l'utilisateur connecté  !==로그인 사용자의 메뉴리스트를 조회한다==!
	-->
	<select id="selectMenuList" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeMyMenuVo" resultType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeMyMenuVo">
		/** selectMenuList */
		SELECT LEVEL AS LVL						/** Niveau !==레벨==! */
			 , Z.CHK_SEL						/** Choisir une cellule de la grille !==체크박스 선택==! */
			 , Z.MY_MENU_YN						/** Mes menus O/N !==나의메뉴여부==! */
			 , Z.MENU_SRNO						/** N° de série de menu !==메뉴일련번호==! */
			 , Z.MENU_NM						/** Nom du menu !==메뉴명==! */
			 , Z.UPR_MENU_SRNO					/** N° de série de menu supérieur  !==상위메뉴일련번호==! */
			 , Z.MENU_INDC_ORDR					/** Ordre des indications de menu  !==메뉴표시순서==! */
			 , Z.HSRK_MENU_YN					/** Menu supérieur O/N !==상위메뉴여부==! */
			 , Z.PBSR_NO						/** N˚ matricule solde !==공무원번호==! */
    		 , Z.MENU_NM AS NAME				/** Nom du menu !==메뉴명==! */
    		 , Z.MENU_SRNO AS C_NODE			/** N° de série de menu !==메뉴일련번호==! */
    		 , Z.UPR_MENU_SRNO AS P_NODE		/** N° de série de menu supérieur  !==상위메뉴일련번호==! */
    		 , Z.MY_MENU_CNT					/** Compte du mon menu !==나의메뉴개수==! */
    	FROM (SELECT Q.MENU_SRNO
                   , P.MENU_NM
                   , Q.UPR_MENU_SRNO
                   , Q.MENU_INDC_ORDR
                   , Q.HSRK_MENU_YN
                   , R.PBSR_NO
                   , CASE WHEN R.MENU_SRNO IS NOT NULL THEN 'true' ELSE 'false' END AS CHK_SEL
                   , CASE WHEN R.MENU_SRNO IS NOT NULL THEN 'Y' ELSE 'N' END AS MY_MENU_YN
                   , (SELECT COUNT(*) FROM TB_POTI_MY_MENU WHERE DEL_YN = 'N' AND PBSR_NO = #{pbsrNo}) AS MY_MENU_CNT
              FROM TB_COM_SYS_MENU_LANG P
              	 ,  (WITH EMP_ROLE_MENU AS (SELECT MENU_REL.MENU_SRNO
							                FROM   TB_POTI_EMP_AUTH AUTH, TB_COM_ROLE_SCRN_REL SCRN_REL, TB_COM_MENU_SCRN_REL MENU_REL, TB_COM_SYS_MENU MENU
							                WHERE  AUTH.DEL_YN = 'N' 
							                AND    AUTH.USE_YN = 'Y'
							                AND    SCRN_REL.DEL_YN = 'N'
							                AND    MENU_REL.DEL_YN = 'N'
							                AND    MENU.DEL_YN = 'N'
							                AND    MENU.USE_YN = 'Y'                       
							                AND    AUTH.ROLE_ID = SCRN_REL.ROLE_ID
							                AND    SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
							                AND    MENU_REL.MENU_SRNO = MENU.MENU_SRNO         
							                AND    MENU.APP_CLSF_CD = 'IPT'
							                AND    AUTH.PBSR_NO = #{pbsrNo}
							                <if test="bsopClsfCd != null and bsopClsfCd !=''">
							                AND    MENU.BSOP_CLSF_CD = #{bsopClsfCd}
							                </if>
							                UNION
							                SELECT MENU_REL.MENU_SRNO
							                FROM   TB_POTI_ORGN_ROLE_REL AUTH, TB_COM_ROLE_SCRN_REL SCRN_REL, TB_COM_MENU_SCRN_REL MENU_REL, TB_COM_SYS_MENU MENU
							                WHERE  AUTH.DEL_YN = 'N' 
							                AND    SCRN_REL.DEL_YN = 'N'
							                AND    MENU_REL.DEL_YN = 'N'
							                AND    MENU.DEL_YN = 'N'
							                AND    MENU.USE_YN = 'Y'                       
							                AND    AUTH.ROLE_ID = SCRN_REL.ROLE_ID
							                AND    SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
							                AND    MENU_REL.MENU_SRNO = MENU.MENU_SRNO   
							                AND    MENU.APP_CLSF_CD = 'IPT'
							                AND    AUTH.ORGN_MGMT_CD = #{orgnMgmtCd}
							                <if test="bsopClsfCd != null and bsopClsfCd !=''">
							                AND    MENU.BSOP_CLSF_CD = #{bsopClsfCd}
							                </if> )
					SELECT DISTINCT *
            		FROM (SELECT MENU_SRNO
			                   , UPR_MENU_SRNO
			                   , MENU_INDC_ORDR
			                   , HSRK_MENU_YN
                		  FROM TB_COM_SYS_MENU A
                		  WHERE A.USE_YN = 'Y'
		                  AND   A.DEL_YN = 'N'
		                  <if test="bsopClsfCd != null and bsopClsfCd !=''">
		                  AND A.BSOP_CLSF_CD = #{bsopClsfCd}
		                  </if>
		                  START WITH A.HSRK_MENU_YN = 'N'
		                  AND A.MENU_SRNO IN ( SELECT MENU_SRNO FROM EMP_ROLE_MENU )
		                  CONNECT BY PRIOR A.UPR_MENU_SRNO = A.MENU_SRNO ) A
		            WHERE A.HSRK_MENU_YN = 'N'
					UNION
					SELECT DISTINCT *
            		FROM (SELECT MENU_SRNO
		                       , UPR_MENU_SRNO
		                       , MENU_INDC_ORDR
		                       , HSRK_MENU_YN
                		  FROM TB_COM_SYS_MENU A
		                  WHERE A.USE_YN = 'Y'
		                  AND A.DEL_YN = 'N'
		                  <if test="bsopClsfCd != null and bsopClsfCd !=''">
		                  AND A.BSOP_CLSF_CD = #{bsopClsfCd}
		                  </if>
		                  START WITH A.APP_CLSF_CD = 'IPT'
		                  AND A.MENU_SRNO IN ( SELECT MENU_SRNO FROM EMP_ROLE_MENU )
                		  CONNECT BY PRIOR A.UPR_MENU_SRNO = A.MENU_SRNO ) A
                    WHERE A.HSRK_MENU_YN = 'Y' ) Q
			  , TB_POTI_MY_MENU R
			WHERE P.MENU_SRNO = Q.MENU_SRNO
			AND P.MENU_SRNO = R.MENU_SRNO(+)
			AND P.LANG_CD = #{langCd}        
			AND R.PBSR_NO(+) = #{pbsrNo}
			AND R.DEL_YN(+) = 'N' ) Z			
		WHERE 1 = 1
	  	<if test="menuNm != null and menuNm != ''">
	  	AND UPPER(Z.MENU_NM) LIKE '%'||UPPER(#{menuNm})||'%'
	  	</if>
		START WITH Z.UPR_MENU_SRNO IS NULL
        CONNECT BY PRIOR Z.MENU_SRNO = Z.UPR_MENU_SRNO
        ORDER SIBLINGS BY Z.MENU_INDC_ORDR	           
	</select>
	
	<!-- 
		Sauvegarder l'historique vérifié à mes menus !==체크한 내역을 나의 메뉴로 저장한다==!
	-->
	<insert id="insertMyMenu" parameterType="alpass.ipt.pot.mp.mypge.vo.PotMpMyPgeMyMenuVo">
		/** insertMyMenu */ 
		 	WITH UPSERT AS (
				UPDATE TB_POTI_MY_MENU A 
				SET DEL_YN = #{delYn}				/** Suppression O/N !== 삭제여부 ==! */
				  , LAST_CHPR_ID = #{pbsrNo}		/** ID du modificateur final !== 최종변경자ID ==! */
				  , LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
				WHERE A.PBSR_NO = #{pbsrNo} AND A.MENU_SRNO = #{menuSrno}
				RETURNING *
			)
			INSERT
				INTO TB_POTI_MY_MENU ( PBSR_NO					/** N˚ matricule solde !==공무원번호==! */
		 					   , MENU_SRNO					/** N° de série de menu !==메뉴일련번호==! */	
		 					   , DEL_YN						/** Suppression O/N !== 삭제여부 ==! */
		 					   , FRST_REGST_ID				/** ID du premier enregistrant  !== 최초등록자ID ==! */
		 					   , FRST_RGSR_DTTM				/** Date et heure de premier enregistrement !== 최초등록일시 ==! */
		 					   , LAST_CHPR_ID				/** ID du modificateur final !== 최종변경자ID ==! */
		 					   , LAST_CHG_DTTM				/** Date et heure de modification finale !== 최종변경일시 ==! */
		 					   )
			SELECT #{pbsrNo}
					, #{menuSrno}
					, 'N'
					, #{pbsrNo}
					, SYSTIMESTAMP
					, #{pbsrNo}
					, SYSTIMESTAMP
			WHERE 
				NOT EXISTS(SELECT * FROM UPSERT) 
	</insert>

</mapper>
