<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.pvinf.adorhnot.mapper.CarAdorHnotMapper">

	<!--
    [Rechercher] Consulter la liste des "Etat actuel des inspecteurs cotés" !== "심사자 배부 현황" 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectAdorHnotList" resultType="alpass.ipt.car.pvinf.adorhnot.vo.CarAdorHnotVo">
    /* alpass.ipt.car.pvinf.adorhnot.mapper.CarAdorHnotMapper.selectAdorHnotList */
    <include refid="pagination.header" ></include>
    SELECT
          A.CAG_RQST_NO				/**  N° De Demande De Cargaison  !== 화물신청번호 ==!  */
	  	, B.MRN						/**  Mrn !== MRN ==!  */
		, A.CAG_RQST_TP_CD			/**  Code de type de demande fret  !== 화물신청구분코드 ==!  */
		, A.RQST_DGCNT				/**  N° ordre de la demande  !== 신청차수 ==!  */
		, A.JRSD_ORGN_CD			/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
		, A.TRNP_TP_CD				/**  Code de type de transfert  !== 운송구분코드 ==!  */
		, A.IBOBZ_CD				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
		, A.PRCS_STTS_CD			/**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
		, (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG
		   WHERE COMN_CD IN ('CAR_0011', 'CAR_9000', 'CAR_9001', 'CAR_9002', 'CAR_9003', 'CAR_9004')
			 AND LANG_CD = #{langCd}
			 AND CD_VDVAL = A.PRCS_STTS_CD
	   		LIMIT 1) AS PRCS_STTS_NM
		, TO_CHAR(A.PRCS_DTTM, 'DD/MM/YYYY HH24:mi') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
		, A.HNOT_EMP_ID				/**  ID du chargé de cotation  !== 배부직원ID ==!  */
		, (SELECT LTRIM(CONCAT(L.EMP_FMNM, ' ', L.EMP_NM)) FROM TB_POTI_EMP L WHERE L.DEL_YN = 'N' AND L.PBSR_NO = A.HNOT_EMP_ID) AS HNOT_EMP_NM
		, CASE WHEN A.CAG_RQST_TP_CD = 'MCE' THEN A.CVY_EMP_ID
			   ELSE A.AUDT_EMP_ID
		  END AS AUDT_EMP_ID/**  ID de l'insepcteur  !== 심사직원ID ==!  */
		, (SELECT LTRIM(CONCAT(L.EMP_FMNM, ' ', L.EMP_NM)) FROM TB_POTI_EMP L
		   WHERE L.DEL_YN = 'N' AND L.PBSR_NO = DECODE(A.CAG_RQST_TP_CD, 'MCE', A.CVY_EMP_ID, A.AUDT_EMP_ID)) AS AUDT_EMP_NM
		, A.INSC_EMP_ID				/**  ID de l'vérificateur  !== 검사직원ID ==!  */
		, A.CVY_EMP_ID				/**  Id De L'Agent D'Escorte  !== 호송직원ID ==!  */
		, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
		, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
	FROM TB_CARI_CAG_PRCS_BRKD A
	  LEFT JOIN (
		  SELECT cag_dcsh_rgsr_mgmt_no AS cag_rqst_no, mrn, cag_rqst_tp_cd
		  FROM TB_CARI_CAG_DCSH /** CARI_화물신고서 **/
		  WHERE del_yn = 'N'
		  UNION
		  SELECT cag_dcsh_mdfy_rqst_no AS cag_rqst_no, mrn, cag_rqst_tp_cd
		  FROM TB_CARI_CAG_DCSH_MDFY /** CARI_화물신고서_정정 **/
		  WHERE del_yn = 'N'
		  UNION
		  SELECT ldun_rqst_no AS cag_rqst_no, mrn, cag_rqst_tp_cd
		  FROM TB_CARI_LDUN /** CARI_하역 **/
		  WHERE del_yn = 'N'
		  UNION
		  SELECT ldun_rprt_no AS cag_rqst_no, mrn, cag_rqst_tp_cd
		  FROM TB_CARI_LDUN_RPRT /** CARI_하역_보고 **/
		  WHERE del_yn = 'N'
		  UNION
		  SELECT ldun_rqst_mdfy_no AS cag_rqst_no, mrn, cag_rqst_tp_cd
		  FROM TB_CARI_LDUN_MDFY /** CARI_하역_정정 **/
		  WHERE del_yn = 'N'
		  UNION
		  SELECT ldun_rprt_mdfy_no AS cag_rqst_no, mrn, cag_rqst_tp_cd
		  FROM tb_cari_ldun_rprt_mdfy /** CARI_하역_보고_정정 **/
		  WHERE del_yn = 'N'
	  ) B ON A.cag_rqst_no = B.cag_rqst_no AND A.cag_rqst_tp_cd = B.cag_rqst_tp_cd
	  WHERE A.DEL_YN = 'N'
	  <if test="cagRqstNo != null and cagRqstNo != ''">
		  AND A.CAG_RQST_NO = REPLACE(#{cagRqstNo}, '-', '') /** N° De Demande De Cargaison !== 화물신청번호 ==! */
	  </if>
	  <if test="mrn != null and mrn != ''">
		  AND B.MRN = REPLACE(#{mrn}, '-', '') /** N° De Demande De Cargaison !== 화물신청번호 ==! */
	  </if>
	  <if test="cagRqstTpCd != null and cagRqstTpCd != ''">
		  AND A.CAG_RQST_TP_CD = #{cagRqstTpCd} /** Code de type de demande fret !== 화물신청구분코드 ==! */
	  </if>
	  <if test="ibobzCd != null and ibobzCd != ''">
		  AND A.IBOBZ_CD = #{ibobzCd} /** Code de zone sous douane !== 보세구역코드 ==! */
	  </if>
	  <if test="sctrCd != null and sctrCd != ''">
		  AND SUBSTRING(A.JRSD_ORGN_CD,1,3) LIKE SUBSTRING(#{sctrCd},1,3) || '%' /** Direction régionale des douanes !== 지역본부세관 ==! */
	  </if>
	  <if test="cstmCd != null and cstmCd != ''">
		  AND SUBSTRING(A.JRSD_ORGN_CD,1,5) LIKE SUBSTRING(#{cstmCd},1,5) || '%' /** Code D'Unité Compétente !== 관할조직코드 ==! */
	  </if>
	  <if test="audtEmpId != null and audtEmpId != ''">
		  AND A.AUDT_EMP_ID = #{audtEmpId} /** ID de l'insepcteur !== 심사직원ID ==! */
	  </if>
	  <if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
		  AND A.PRCS_DTTM BETWEEN TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo},
		  'DD/MM/YYYY')+0.9999 /** Date Et Heure De Traitement !== 처리일시 ==! */
	  </if>
	  <if test="prcsSttsCd != null and prcsSttsCd != ''">
		  AND A.PRCS_STTS_CD = #{prcsSttsCd} /** Code De Statut De Traitement !== 처리상태코드 ==! */
	  </if>
	  <if test="hNotYn != null and hNotYn != ''">/** Distribution O/N !== 배부여부 ==! */
		  <if test='hNotYn.equals("Y")'>/* 배부 */
			  AND A.PRCS_STTS_CD != 'D01'
		  </if>
		  <if test='hNotYn.equals("N")'>/* 미배부 */
			  AND A.PRCS_STTS_CD = 'D01'
		  </if>
	  </if>
	  ORDER BY A.FRST_RGSR_DTTM DESC
    <include refid="pagination.footer" ></include>
  </select>

</mapper>
