<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.com.main.mapper.ComMainMapper">

  <!--
      번역필요 !==메인화면 목록 건수를 조회한다==!
  -->
  <select id="selectMainListCnt" parameterType="alpass.ipt.com.main.vo.ComMainCntVo" resultType="alpass.ipt.com.main.vo.ComMainCntVo">
    /** selectMainListCnt */
    SELECT
    (
    SELECT COUNT(1) AS CNT
    FROM (
    SELECT CASE WHEN B.APRV_PRCS_STTS_CD = 'I01' AND A.AF_RSLT IS NULL THEN 'Y'
    WHEN B.APRV_PRCS_STTS_CD = 'I02' AND B.APRV_RQST_EMP_PBSR_NO = #{userId} THEN 'Y'
    WHEN B.APRV_PRCS_STTS_CD = 'I03' AND ((A.APRV_RSLT_CD IS NULL OR A.APRV_RSLT_CD = 'J99') OR A.AF_RSLT = 'J02') AND A.APRV_SRNO IS NOT NULL THEN 'Y'
    WHEN B.APRV_PRCS_STTS_CD = 'I05' AND A.APRV_SRNO IS NULL THEN 'Y' ELSE 'N' END AS APRV_PSBL_YN
    FROM (
    SELECT APRV_ID
    , APRV_SRNO
    , APRV_EMP_PBSR_NO
    , APRV_RSLT_CD
    , LEAD(DECODE(APRV_RSLT_CD, 'J99', NULL, APRV_RSLT_CD)) OVER (PARTITION BY APRV_ID ORDER BY APRV_SRNO) AS AF_RSLT
    , LAG(DECODE(APRV_RSLT_CD, 'J99', NULL, APRV_RSLT_CD)) OVER (PARTITION BY APRV_ID ORDER BY APRV_SRNO) AS BF_RSLT
    , LAG(DCAB_YN) OVER (PARTITION BY APRV_ID ORDER BY APRV_SRNO) AS BF_DCAB_YN
    , CASE WHEN LAG(APRV_EMP_PBSR_NO) OVER (PARTITION BY APRV_ID ORDER BY APRV_SRNO) IS NULL THEN 'Y' END AS FIRST_YN
    , CASE WHEN LEAD(APRV_EMP_PBSR_NO) OVER (PARTITION BY APRV_ID ORDER BY APRV_SRNO) IS NULL THEN 'Y' END AS LAST_YN
    FROM TB_POTI_APRV_D
    WHERE DEL_YN = 'N' ) A
    , TB_POTI_APRV B
    , TB_POTI_EMP C
    , TB_POTI_EMP D
    WHERE A.APRV_ID = B.APRV_ID
    AND A.APRV_EMP_PBSR_NO = C.PBSR_NO
    AND B.APRV_RQST_EMP_PBSR_NO = D.PBSR_NO
    AND A.APRV_EMP_PBSR_NO = #{userId}
    AND B.DEL_YN = 'N'
    AND ('Y' = CASE WHEN B.APRV_PRCS_STTS_CD = 'I02' THEN 'N'
    WHEN NVL(A.FIRST_YN, 'N') = 'Y' AND A.BF_RSLT IS NULL THEN 'Y'
    WHEN NVL(A.FIRST_YN, 'N') != 'Y' AND A.BF_RSLT IS NOT NULL THEN CASE WHEN A.BF_DCAB_YN = 'Y' THEN 'N' ELSE 'Y' END ELSE 'N' END)
    )
    WHERE APRV_PSBL_YN = 'Y'
    ) AS aprvWtngCnt
    , (
    SELECT COUNT(1) AS CNT
    FROM TB_POTI_APRV_D A
    , TB_POTI_APRV B
    WHERE A.APRV_ID = B.APRV_ID
    AND A.APRV_EMP_PBSR_NO = #{userId}
    AND B.APRV_PRCS_STTS_CD = 'I03'
    AND A.DEL_YN = 'N'
    AND B.DEL_YN = 'N'
    ) AS aprvPrgsCnt
    , (
    SELECT COUNT(1) AS CNT
    FROM TB_POTI_APRV A
    WHERE A.APRV_RQST_EMP_PBSR_NO = #{userId}
    AND A.APRV_PRCS_STTS_CD IN ('I01', 'I02', 'I03', 'I05')
    AND A.DEL_YN = 'N'
    ) AS aprvRqstCnt
    , (
    SELECT COUNT(1) AS CNT
    FROM TB_POTI_TODO A
    WHERE A.CHPN_ID = #{userId}
    AND A.TODO_STTS_CD = 'A'
    AND A.DEL_YN = 'N'
    ) AS todoCnt
    , (
    SELECT COUNT(1) AS CNT
    FROM TB_POTI_SCHD
    WHERE PBSR_NO = #{userId}
    AND DEL_YN = 'N'
    <if test="baseDate != null and baseDate != ''">
      AND (SCHD_END_DTTM <![CDATA[ >= ]]> TO_DATE(#{baseDate}, 'DD/MM/YYYY') OR SCHD_END_DTTM IS NULL)
      AND SCHD_STRT_DTTM <![CDATA[ <= ]]> TO_DATE(#{baseDate}, 'DD/MM/YYYY') + 7 + 0.9999
    </if>
    ) AS scdlCnt
    , (
    SELECT COUNT(1) AS CNT
    FROM TB_POTI_NTCE
    WHERE PBSR_NO = #{userId}
    AND NTCE_CFRM_YN = 'N'
    ) AS rcpnCnt
    , (
    SELECT COUNT(DISTINCT MNDA_PBSR_NO) AS CNT
    FROM TB_COM_AUTH_MNDA_REL
    WHERE MNDA_TRGT_PBSR_NO = #{userId}
    AND DEL_YN = 'N'
    ) AS authMndaCnt
    FROM DUAL
  </select>

  <!--
      번역필요 !==메인화면 징수통계 조회한다==!
  -->
  <select id="selectColStats" resultType="alpass.ipt.com.main.vo.ComColStatsVo">
    /** selectColStats */
    SELECT
    B.BASE_YY
    , B.BASE_MM
    , NVL(SUM(A.TCNT), 0) AS TCNT
    , NVL(SUM(A.TAMT), 0) AS TAMT
    , #{hsrkOrgnCd} AS HSRK_ORGN_CD
    FROM
    (
    SELECT
    BASE_YY
    , BASE_DD
    , ORGN_MGMT_CD
    , BASE_MM
    , TCNT
    , TAMT
    , BASE_YY||BASE_MM AS YYMM
    FROM TB_COM_STATS_COLT A
    WHERE DEL_YN = 'N'
    <if test='hsrkOrgnMgmtCd != null and hsrkOrgnMgmtCd != ""'>
      AND (EXISTS (SELECT 1 FROM TB_POTI_ORGN
      WHERE DEL_YN = 'N'
      AND HSRK_ORGN_MGMT_CD = #{hsrkOrgnMgmtCd}
      AND ORGN_MGMT_CD = A.ORGN_MGMT_CD)
      OR ORGN_MGMT_CD = #{hsrkOrgnMgmtCd})
    </if>
    ) A,
    (
    SELECT
    TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'YYYYMM') AS YYMM
    , TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'YYYY') AS BASE_YY
    , TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'MM') AS BASE_MM
    FROM DUAL
    CONNECT BY ADD_MONTHS(TO_DATE(TO_CHAR(ADD_MONTHS(SYSDATE,-11),'YYYYMM'), 'YYYYMM'),(LEVEL - 1)) <![CDATA[  <= ]]> TO_DATE(TO_CHAR(SYSDATE, 'YYYYMM'),
    'YYYYMM')
    ) B
    WHERE A.YYMM(+) = B.YYMM
    GROUP BY B.BASE_YY, B.BASE_MM
    ORDER BY B.BASE_YY, B.BASE_MM
  </select>

  <!--
      번역필요 !==메인화면 수입통계 조회한다==!
  -->
  <select id="selectImpStats" resultType="alpass.ipt.com.main.vo.ComImpStatsVo">
    /** selectImpStats */
    SELECT
    B.BASE_YY
    , B.BASE_MM
    , NVL(SUM(A.TCNT), 0) AS TCNT
    , NVL(SUM(A.TAMT), 0) AS TAMT
    , #{hsrkOrgnCd} AS HSRK_ORGN_CD
    FROM
    (
    SELECT
    BASE_YY
    , BASE_DD
    , ORGN_MGMT_CD
    , BASE_MM
    , TCNT
    , TAMT
    , BASE_YY||BASE_MM AS YYMM
    FROM TB_COM_STATS_IMP A
    WHERE DEL_YN = 'N'
    <if test='hsrkOrgnMgmtCd != null and hsrkOrgnMgmtCd != ""'>
      AND (EXISTS (SELECT 1 FROM TB_POTI_ORGN
      WHERE DEL_YN = 'N'
      AND HSRK_ORGN_MGMT_CD = #{hsrkOrgnMgmtCd}
      AND ORGN_MGMT_CD = A.ORGN_MGMT_CD)
      OR ORGN_MGMT_CD = #{hsrkOrgnMgmtCd})
    </if>
    ) A,
    (
    SELECT
    TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'YYYYMM') AS YYMM
    , TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'YYYY') AS BASE_YY
    , TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'MM') AS BASE_MM
    FROM DUAL
    CONNECT BY ADD_MONTHS(TO_DATE(TO_CHAR(ADD_MONTHS(SYSDATE,-11),'YYYYMM'), 'YYYYMM'),(LEVEL - 1)) <![CDATA[  <= ]]> TO_DATE(TO_CHAR(SYSDATE, 'YYYYMM'),
    'YYYYMM')
    ) B
    WHERE A.YYMM(+) = B.YYMM
    GROUP BY B.BASE_YY, B.BASE_MM
    ORDER BY B.BASE_YY, B.BASE_MM
  </select>

  <!--
      번역필요 !==메인화면 수출통계 조회한다==!
  -->
  <select id="selectExpStats" resultType="alpass.ipt.com.main.vo.ComExpStatsVo">
    /** selectExpStats */
    SELECT
    B.BASE_YY
    , B.BASE_MM
    , NVL(SUM(A.TCNT), 0) AS TCNT
    , NVL(SUM(A.TAMT), 0) AS TAMT
    , #{hsrkOrgnCd} AS HSRK_ORGN_CD
    FROM
    (
    SELECT
    BASE_YY
    , BASE_DD
    , ORGN_MGMT_CD
    , BASE_MM
    , TCNT
    , TAMT
    , BASE_YY||BASE_MM AS YYMM
    FROM TB_COM_STATS_EXP A
    WHERE DEL_YN = 'N'
    <if test='hsrkOrgnMgmtCd != null and hsrkOrgnMgmtCd != ""'>
      AND (EXISTS (SELECT 1 FROM TB_POTI_ORGN
      WHERE DEL_YN = 'N'
      AND HSRK_ORGN_MGMT_CD = #{hsrkOrgnMgmtCd}
      AND ORGN_MGMT_CD = A.ORGN_MGMT_CD)
      OR ORGN_MGMT_CD = #{hsrkOrgnMgmtCd})
    </if>
    ) A,
    (
    SELECT
    TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'YYYYMM') AS YYMM
    , TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'YYYY') AS BASE_YY
    , TO_CHAR(ADD_MONTHS(SYSDATE,-(ROWNUM- 1)),'MM') AS BASE_MM
    FROM DUAL
    CONNECT BY ADD_MONTHS(TO_DATE(TO_CHAR(ADD_MONTHS(SYSDATE,-11),'YYYYMM'), 'YYYYMM'),(LEVEL - 1)) <![CDATA[  <= ]]> TO_DATE(TO_CHAR(SYSDATE, 'YYYYMM'),
    'YYYYMM')
    ) B
    WHERE A.YYMM(+) = B.YYMM
    GROUP BY B.BASE_YY, B.BASE_MM
    ORDER BY B.BASE_YY, B.BASE_MM
  </select>

</mapper>
