<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.com.menu.mapper.ComMyMenuMapper">

  <!--
      번역필요 !==My 메뉴 목록을 조회한다==!
  -->
  <select id="selectMyMenuList" parameterType="alpass.ipt.com.menu.vo.ComMyMenuVo" resultType="alpass.ipt.com.menu.vo.ComMyMenuVo">
    /** selectMyMenuList */
    SELECT A.MENU_SRNO,
           A.PBSR_NO AS userId,
           C.MENU_NM,
           B.APP_CLSF_CD,
           B.BSOP_CLSF_CD,
           (SELECT ACES_URL || NVL2(ACES_PRMT_NM, chr(63) || ACES_PRMT_NM, '')
            FROM TB_COM_SYS_SCRN SA,
                 TB_COM_MENU_SCRN_REL SB
            WHERE SA.SCRN_ID = SB.SCRN_ID
              AND SA.USE_YN = 'Y'
              AND SA.DEL_YN = 'N'
              AND SB.DEL_YN = 'N'
              AND SB.MENU_SRNO = A.MENU_SRNO) AS ACES_URL
    FROM TB_POTI_MY_MENU A,
         TB_COM_SYS_MENU B,
         TB_COM_SYS_MENU_LANG C
    WHERE A.MENU_SRNO = B.MENU_SRNO
      AND B.MENU_SRNO = C.MENU_SRNO
      AND C.LANG_CD = #{langCd}
      AND A.DEL_YN = 'N'
      AND B.USE_YN = 'Y'
      AND B.DEL_YN = 'N'
      AND C.DEL_YN = 'N'
      AND A.PBSR_NO = #{userId}
      AND B.APP_CLSF_CD = 'IPT'
    ORDER BY B.BSOP_CLSF_CD, A.MENU_SRNO
  </select>

  <!--
      번역필요 !==My 메뉴 경로 목록을 조회한다==!
  -->
  <select id="selectMyMenuPathList" parameterType="alpass.ipt.com.menu.vo.ComMyMenuPathVo" resultType="alpass.ipt.com.menu.vo.ComMyMenuPathVo">
    /** selectMyMenuPathList */
    SELECT A.MENU_SRNO,
           (SELECT MENU_NM
            FROM TB_COM_SYS_MENU_LANG
            WHERE MENU_SRNO = A.MENU_SRNO
              AND LANG_CD = #{langCd}
              AND DEL_YN = 'N') AS MENU_NM,
           (SELECT ACES_URL || NVL2(ACES_PRMT_NM, chr(63) || ACES_PRMT_NM, '')
            FROM TB_COM_SYS_SCRN SA,
                 TB_COM_MENU_SCRN_REL SB
            WHERE SA.SCRN_ID = SB.SCRN_ID
              AND SA.USE_YN = 'Y'
              AND SA.DEL_YN = 'N'
              AND SB.DEL_YN = 'N'
              AND SB.MENU_SRNO = A.MENU_SRNO) AS ACES_URL
    FROM TB_COM_SYS_MENU A
    WHERE A.USE_YN = 'Y'
      AND A.DEL_YN = 'N'
    START WITH A.MENU_SRNO = #{menuSrno}
    CONNECT BY PRIOR A.UPR_MENU_SRNO = A.MENU_SRNO
    ORDER BY LEVEL DESC
  </select>

	<!--
		Voir Mon menu compte. !==MyMenu개수를 조회한다.==!
	-->
	<select id="selectMyMenuCnt" parameterType="alpass.ipt.com.menu.vo.ComMyMenuVo" resultType="int">
		/** selectMyMenuCnt */
		SELECT
				COUNT(1)
		FROM	TB_POTI_MY_MENU A
			,	TB_COM_SYS_MENU B
		WHERE	A.MENU_SRNO = B.MENU_SRNO
		AND		A.DEL_YN = 'N'
		AND		B.USE_YN = 'Y'
		AND		B.DEL_YN = 'N'
		AND		A.PBSR_NO = #{userId}
		AND		B.APP_CLSF_CD = 'IPT'
	</select>

	<!--
		Enregistrez mon menu. !==My menu를 등록한다.==!
	-->
	<insert id="insertMyMenu" parameterType="alpass.ipt.com.menu.vo.ComMyMenuVo">
		/** insertMyMenu */
		 	WITH UPSERT AS (
				UPDATE TB_POTI_MY_MENU A 
				SET DEL_YN = 'N'
				  , LAST_CHPR_ID =  #{lastChprId}
				  , LAST_CHG_DTTM = SYSTIMESTAMP 
				WHERE A.PBSR_NO = #{userId} AND A.MENU_SRNO = #{menuSrno}
				RETURNING *
			)
			INSERT
				INTO TB_POTI_MY_MENU ( PBSR_NO					
		 					   , MENU_SRNO					
		 					   , DEL_YN						
		 					   , FRST_REGST_ID				
		 					   , FRST_RGSR_DTTM				
		 					   , LAST_CHPR_ID				
		 					   , LAST_CHG_DTTM				
		 					   )
			SELECT #{userId}
					, #{menuSrno}
					, 'N'
					, #{frstRegstId}
					, SYSTIMESTAMP
					, #{lastChprId}
					, SYSTIMESTAMP
			WHERE 
				NOT EXISTS(SELECT * FROM UPSERT) 
	</insert>

	<!--
		Supprimer mon menu !==My menu를 삭제한다.==!
	-->
	<update id="deleteMyMenu" parameterType="alpass.ipt.com.menu.vo.ComMyMenuVo">
	    /** deleteMyMenu */
		UPDATE  TB_POTI_MY_MENU SET
				DEL_YN = 'Y'
			,	LAST_CHPR_ID = #{lastChprId}
			,	LAST_CHG_DTTM = SYSTIMESTAMP
		WHERE	DEL_YN = 'N'
        AND		PBSR_NO = #{userId}
        AND		MENU_SRNO = #{menuSrno}
	</update>
	
</mapper>
