<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.com.main.mapper.ComScrnAuthMapper">

  <!--
		 번역필요 !==화면권한을 조회한다.==!
	 -->
  <select id="selectScrnAuth"
    parameterType="alpass.ipt.com.main.vo.ComScrnAuthVo"
    resultType="boolean">
    /** selectScrnAuth */
    SELECT 1
    FROM TB_COM_ROLE_SCRN_REL A,
         TB_COM_SYS_SCRN B
    WHERE A.SCRN_ID = B.SCRN_ID
      AND A.DEL_YN = 'N'
      AND B.DEL_YN = 'N'
      AND B.ACES_URL = #{acesUrl}
      <if test="acesPrmtNm != null and acesPrmtNm != ''">
        AND B.ACES_PRMT_NM = #{acesPrmtNm}
      </if>
      AND
        (
          A.ROLE_ID IN
          <if test="roleIds.isEmpty()">
            ('NO_ROLES')
          </if>
          <if test="!roleIds.isEmpty()">
            <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
              #{roleId}
            </foreach>
          </if>
          OR A.ROLE_ID IN (SELECT ROLE_ID FROM TB_POTI_FONC_ROLE_REL WHERE FONC_CD =#{foncCd})
        )
      AND ROWNUM = 1
  </select>

</mapper>
