<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.com.user.mapper.ComUserMapper">

  <!--
      번역필요 !==로그인을 위한 사용자 계정을 조회한다==!
  -->
  <select id="selectUserDetails" resultType="alpass.ipt.com.user.vo.ComUserVo">
    /** selectUserDetails */
    SELECT A.PBSR_NO,
           A.PBSR_NO AS ID,
           B.PWD,
           A.EMP_NM,
           A.EMP_NM AS NAME,
           A.INHB_RGSR_NO,
           A.EML,
           B.PWD_FAIL_NCNT,
           B.ACCT_LCKED_YN,
           C.ORGN_CD,
           C.ORGN_NM,
           C.ORGN_AR_NM,
           A.CLAS_CD,
           A.GNDR_CD,
           A.MOBL_NO,
           A.DEPT_TLPH_NO,
           (SELECT T.ORGN_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = C.HSRK_ORGN_MGMT_CD) AS HSRK_ORGN_CD,	/** 최상위조직코드 */
           (SELECT T.ORGN_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = C.UPR_ORGN_MGMT_CD) AS UPR_ORGN_CD, /* 상위조직코드 */
           C.ORGN_TP_CD,
           A.ORGN_MGMT_CD,
           A.SCTR_MGMT_CD,
           D.ORGN_CD                                                                         AS SCTR_CD,
           D.ORGN_NM                                                                         AS SCTR_NM,
           A.CSTM_MGMT_CD                                                                    AS CSTM_ORGN_MGMT_CD,
           E.ORGN_CD                                                                         AS CSTM_ORGN_CD,
           E.ORGN_NM                                                                         AS CSTM_ORGN_NM,
           A.DEPT_MGMT_CD,
           F.ORGN_CD                                                                         AS DEPT_CD,
           F.ORGN_NM                                                                         AS DEPT_NM,
           A.EMP_ADDR                                                                        AS ADDR,
           CASE
             WHEN alpassint.fn_get_emp_bwrk_stts(A.PBSR_NO, 'Y') = 'TRUE'
               THEN 'A'
             ELSE 'B' END                                                                    AS EMP_STTS_CD,
           A.EMP_FMNM,
           A.FONC_CD,
           DECODE(A.FONC_CD, FN_GET_EMP_DPHD_FONC(A.ORGN_MGMT_CD), 'Y',
                  'N')                                                                       AS DPHD_YN,
           fn_get_upr_orgn_cd(A.ORGN_MGMT_CD, 'INS')                                         AS IDD_ORGN_MGMT_CD,
           (SELECT ORGN_CD
            FROM TB_POTI_ORGN
            WHERE ORGN_MGMT_CD = fn_get_upr_orgn_cd(A.ORGN_MGMT_CD, 'INS'))                  AS IDD_ORGN_CD
    FROM TB_POTI_EMP A,
         TB_POTI_EMP_ACCT B,
         TB_POTI_ORGN C,
         TB_POTI_ORGN D,
         TB_POTI_ORGN E,
      TB_POTI_ORGN F
    WHERE A.PBSR_NO = B.PBSR_NO
      AND A.DEL_YN = 'N'
      AND B.DEL_YN = 'N'
      AND A.ORGN_MGMT_CD = C.ORGN_MGMT_CD(+)
      AND A.SCTR_MGMT_CD = D.ORGN_MGMT_CD(+)
      AND A.CSTM_MGMT_CD = E.ORGN_MGMT_CD(+)
      AND A.DEPT_MGMT_CD = F.ORGN_MGMT_CD(+)
      AND C.DEL_YN(+) = 'N'
      AND D.DEL_YN(+) = 'N'
      AND E.DEL_YN(+) = 'N'
      AND F.DEL_YN(+) = 'N'
      AND A.PBSR_NO = #{pbsrNo}
  </select>

  <!--
      번역필요 !==로그인을 위한 사용자 계정을 조회한다==!
  -->
  <select id="selectManagerUser" resultType="string">
    /** selectManagerUser */
    SELECT PWD
    FROM TB_POTI_EMP_ACCT A
    WHERE A.PBSR_NO = #{pbsrNo}
    AND DEL_YN = 'N'
    AND ACCT_LCKED_YN = 'N'
    AND ACCT_PUSE_YN = 'N'
  </select>

  <!--
      번역필요 !==사용자 롤(역할) 목록을 조회한다==!
  -->
  <select id="selectUserRoleList" resultType="alpass.ipt.com.user.vo.ComUserRoleVo">
    /** selectUserRoleList */
    SELECT ROLE_ID,
           PBSR_NO,
           ORGN_MGMT_CD
    FROM VW_POTI_ROLE_UNFC
    WHERE PBSR_NO = #{pbsrNo}
  </select>

  <!--
      번역필요 !==사용자 조직(세관) 롤(역할) 목록을 조회한다==!
  -->
  <select id="selectUserOrgnRoleList" resultType="alpass.ipt.com.user.vo.ComUserRoleVo">
    /** selectUserOrgnRoleList */
    SELECT B.ROLE_ID,
           A.PBSR_NO,
           A.ORGN_MGMT_CD
    FROM TB_POTI_EMP A,
         TB_POTI_ORGN_ROLE_REL B,
         TB_COM_ROLE C
    WHERE A.ORGN_MGMT_CD = B.ORGN_MGMT_CD
      AND B.ROLE_ID = C.ROLE_ID
      AND A.DEL_YN = 'N'
      AND B.DEL_YN = 'N'
      AND C.DEL_YN = 'N'
      AND C.USE_YN = 'Y'
      AND A.PBSR_NO = #{pbsrNo}
  </select>

  <!--
      번역필요 !==사용자 비밀번호 실패 내역을 수정한다==!
  -->
  <update id="updateUserPwdFail" parameterType="alpass.ipt.com.user.vo.ComUserVo">
    /** updateUserPwdFail */
    UPDATE TB_POTI_EMP_ACCT
    SET PWD_FAIL_NCNT = #{pwdFailNcnt},
        ACCT_LCKED_YN = #{acctLckedYn},
        ACCT_LCKED_RSN_CD = #{acctLckedRsnCd},
        ACCT_LCKED_DT = #{acctLckedDt},
        LAST_CHPR_ID = #{lastChprId},
        LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE PBSR_NO = #{pbsrNo}
  </update>

  <!--
      번역필요 !==사용자 사진 이미지를 조회한다==!
  -->
  <select id="selectUserPhotoImage" parameterType="alpass.ipt.com.user.vo.ComUserPhotoVo" resultType="alpass.ipt.com.user.vo.ComUserPhotoVo">
    /** selectUserPhotoImage */
    SELECT PHTO_IMGE_CN
    FROM TB_POTI_EMP
    WHERE PBSR_NO = #{pbsrNo}
      AND DEL_YN = 'N'
  </select>

  <!--
      번역필요 !==최초 로그인 여부 조회==!
  -->
  <select id="selectFrstLgnYn" parameterType="alpass.ipt.com.user.vo.ComUserVo" resultType="alpass.ipt.com.user.vo.ComUserVo">
    /** selectFrstLgnYn */
      SELECT
             A.PBSR_NO
           , A.EML
           , A.MOBL_NO
           , B.FRST_LGN_YN
           , B.PWD
           , B.ADIT_CRTF_CD
      FROM  TB_POTI_EMP A, TB_POTI_EMP_ACCT B
      WHERE A.PBSR_NO = #{id}
      AND   A.PBSR_NO = B.PBSR_NO
      AND   A.DEL_YN = 'N'
      AND   B.DEL_YN = 'N'
  </select>

  <!--
      Changer le mot de passe !==비밀번호를 변경한다==!
  -->
  <update id="updateFrstLgn" parameterType="alpass.ipt.com.user.vo.MyInfoVo">
      /**  updateFrstLgn */
      UPDATE TB_POTI_EMP_ACCT
      SET PWD = #{newPwd}									/** Mot de passe !==비밀번호==! */
        , PWD_FAIL_NCNT = 0
        , FRST_LGN_YN = 'N'
        , PWD_CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')		/** Date du changement de mot de passe !==비밀번호변경일자==! */
        , LAST_CHG_DTTM = SYSTIMESTAMP						/** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHPR_ID = #{pbsrNo}							/** Date et heure de modification finale !== 최종변경일시 ==! */
      WHERE PBSR_NO = #{pbsrNo}
  </update>

  <!--
      Changer le mot de passe !==비밀번호를 변경한다==!
  -->
  <update id="updateUserInfo" parameterType="alpass.ipt.com.user.vo.MyInfoVo">
      /**  updateUserInfo */
      UPDATE TB_POTI_EMP
      SET EML = #{eml}									/** Mot de passe !==비밀번호==! */
        , MOBL_NO = #{moblNo}
        , LAST_CHG_DTTM = SYSTIMESTAMP						/** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHPR_ID = #{pbsrNo}							/** Date et heure de modification finale !== 최종변경일시 ==! */
      WHERE PBSR_NO = #{pbsrNo}
  </update>

  <!--
      번역필요 !==ID찾기를 수행한다==!
  -->
  <select id="selectLoginIdMatch" parameterType="alpass.ipt.com.user.vo.ComUserVo" resultType="java.lang.Integer">
    /** selectLoginIdMatch */
    SELECT COUNT(*) AS CNT
    FROM TB_POTI_EMP
    WHERE PBSR_NO = #{id}
      AND EML = #{eml}
      AND BRDY = TO_CHAR(TO_DATE(#{brdy}, 'DD/MM/YYYY'), 'YYYYMMDD')
      AND DEL_YN = 'N'
  </select>

  <!--
      번역필요 !==사용자 계정 비밀번호를 수정한다==!
  -->
  <update id="updateUserPassword" parameterType="alpass.ipt.com.user.vo.MyInfoVo">
    /**  updateUserPassword */
    UPDATE TB_POTI_EMP_ACCT
    SET PWD = #{newPwd}									/** Mot de passe !==비밀번호==! */
      , PWD_CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')		/** Date du changement de mot de passe !==비밀번호변경일자==! */
      , PWD_INTZ_YN = 'Y'
      , PWD_FAIL_NCNT = 0
      , ACCT_LCKED_YN = CASE WHEN ACCT_LCKED_YN = 'Y' THEN 'N' ELSE ACCT_LCKED_YN END
      , ACCT_LCKED_RSN_CD = NULL
      , ACCT_LCKED_DT = NULL
      , FRST_LGN_YN = 'Y'
      , ACCT_LCKED_RELE_DT = CASE WHEN ACCT_LCKED_YN = 'Y' THEN TO_CHAR(SYSDATE, 'YYYYMMDD') ELSE ACCT_LCKED_RELE_DT END
      , LAST_CHG_DTTM = SYSTIMESTAMP						/** ID du modificateur final !== 최종변경자ID ==! */
      , LAST_CHPR_ID = #{pbsrNo}							/** Date et heure de modification finale !== 최종변경일시 ==! */
    WHERE PBSR_NO = #{pbsrNo}
      AND (ACCT_LCKED_RSN_CD IS NULL OR ACCT_LCKED_RSN_CD IN ('01', '05'))
  </update>

  <!--
      번역필요 !==비밀번호 실패횟수를 초기화한다==!
  -->
  <update id="updateUserAfterLogin" parameterType="string">
    /**  updateUserAfterLogin */
    UPDATE TB_POTI_EMP_ACCT
    SET PWD_FAIL_NCNT = 0
      , LAST_LGN_DTTM = SYSTIMESTAMP
      , LAST_CHG_DTTM = SYSTIMESTAMP						/** ID du modificateur final !== 최종변경자ID ==! */
      , LAST_CHPR_ID = #{pbsrNo}							/** Date et heure de modification finale !== 최종변경일시 ==! */
    WHERE PBSR_NO = #{pbsrNo}
  </update>

</mapper>
