<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.cmmn.mapper.PotPmCmmnImpvOpinMapper">

    <!--
        Consulter la liste la gestion de l'avis d'amélioration !==개선의견 관리 목록을 조회한다.==!
    -->
    <select id="selectImpvOpinList" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinVo" resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinVo">
        /* selectImpvOpinList */
        <include refid="pagination.header"/>
        SELECT
        A.IMPV_OPIN_SRNO
        , A.APP_CLSF_CD AS APP_CLSF_CODE
        , A.IMPV_OPIN_TP_CD
        , A.ORGN_MGMT_CD
        , A.BSOP_CTGY_CD
        , (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.ORGN_MGMT_CD AND ROWNUM= 1) ORGN_CD
        , A.IMPV_OPIN_TTLE
        , A.IMPV_OPIN_CN
        , A.IMPV_OPIN_LQTY_CN
        , A.MDPN_ID
        , CASE
        WHEN APP_CLSF_CD = 'IPT' THEN ( SELECT CONCAT(U.EMP_FMNM, ' ', U.EMP_NM) FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID)
        WHEN APP_CLSF_CD = 'EPT' THEN ( SELECT CONCAT(U.USER_FMNM, ' ',U.USER_NM) FROM TB_COM_CO_USER U WHERE USER_ID = A.MDPN_ID)
        END AS MDPN_NM
        , TO_CHAR(A.MAKE_DTTM,'DD/MM/YYYY HH24:MI:SS') AS MAKE_DT
        , A.INQT_CNT
        , A.ATCH_FILE_ID
        , A.PRCS_STTS_CD
        , A.DEL_YN
        , A.FRST_REGST_ID
        , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
        , A.LAST_CHPR_ID
        , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS  LAST_CHG_DTTM
        FROM TB_POTI_IMPV_OPIN A
           ,(
              SELECT
                  ROW_NUMBER() OVER (PARTITION BY IMPV_OPIN_SRNO ORDER BY LAST_CHG_DTTM DESC) AS RNUM
                , IMPV_OPIN_SRNO
                , ANSW_SRNO
                , ANPN_ID AS ANSW_ID
              FROM TB_POTI_IMPV_OPIN_ANSW
              WHERE DEL_YN = 'N'
            ) ANSW
        WHERE A.DEL_YN = 'N'
          AND A.IMPV_OPIN_SRNO = ANSW.IMPV_OPIN_SRNO(+)
          AND ANSW.RNUM(+) = 1
        <if test='inqTp != null and !inqTp.equals("A")'>
            AND	  (A.MDPN_ID = #{mdpnId} OR A.PRCS_STTS_CD = '003')
        </if>
        <if test="searchKeywordFrom != null and searchKeywordFrom != '' ">
            AND A.MAKE_DTTM BETWEEN TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY') + 0.99999
        </if>
        <if test="impvOpinTtle != null and impvOpinTtle != '' ">
            AND UPPER(A.IMPV_OPIN_TTLE) like '%' || UPPER(#{impvOpinTtle}) || '%'
        </if>
        <if test="impvOpinTpCd != null and impvOpinTpCd != '' ">
            AND A.IMPV_OPIN_TP_CD = #{impvOpinTpCd}
        </if>
        <if test="appClsfCode != null and appClsfCode != '' ">
            AND A.APP_CLSF_CD = #{appClsfCode}
        </if>
        <if test="prcsSttsCd != null and prcsSttsCd != '' ">
            AND A.PRCS_STTS_CD = #{prcsSttsCd}
        </if>
        <if test="orgnMgmtCd != null and orgnMgmtCd != '' ">
            AND ANSW.ANSW_ID(+) IN (
            SELECT EMP.PBSR_NO
            FROM TB_POTI_EMP EMP
            WHERE EMP.ORGN_MGMT_CD = #{orgnMgmtCd}
            )
        </if>
        <if test="pbsrNo != null and pbsrNo != '' ">
          AND ANSW.ANSW_ID(+) IN ( #{pbsrNo} )
        </if>
        ORDER BY A.IMPV_OPIN_SRNO DESC
        <include refid="pagination.footer"/>
    </select>

    <!--
       Consulter l'article de la gestion de l'avis d'amélioration !==개선의견 관리 게시글을 조회한다.==!
    -->
    <select id="selectImpvOpin" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinVo" resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinVo">
        /* selectImpvOpin */
        SELECT
            A.IMPV_OPIN_SRNO
             , A.APP_CLSF_CD AS APP_CLSF_CODE
             , A.IMPV_OPIN_TP_CD
             , A.ORGN_MGMT_CD
             , (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.ORGN_MGMT_CD AND ROWNUM= 1) ORGN_CD
             , A.IMPV_OPIN_TTLE
             , A.BSOP_CTGY_CD
             , A.IMPV_OPIN_CN
             , A.IMPV_OPIN_LQTY_CN
             , A.MDPN_ID
             , CASE
                   WHEN APP_CLSF_CD = 'IPT' THEN ( SELECT U.EMP_NM FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID)
                   WHEN APP_CLSF_CD = 'EPT' THEN ( SELECT U.USER_NM FROM TB_COM_CO_USER  U WHERE USER_ID = A.MDPN_ID)
            END AS MDPN_NM
             , TO_CHAR(A.MAKE_DTTM,'DD/MM/YYYY HH24:MI:SS') AS MAKE_DT
             , A.INQT_CNT
             , A.ATCH_FILE_ID
             , A.PRCS_STTS_CD
             , A.DEL_YN
             , A.FRST_REGST_ID
             , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
             , A.LAST_CHPR_ID
             , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS  LAST_CHG_DTTM
        FROM   TB_POTI_IMPV_OPIN A
        WHERE  A.DEL_YN = 'N'
          AND	A.IMPV_OPIN_SRNO = #{impvOpinSrno}
    </select>

    <!--
        Consulter une réponse de l'avis d'amélioration !==개선의견 답변을 조회한다==!
	  -->
    <select id="selectImpvOpinAnsw" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinVo" resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinAnswVo">
        /* selectImpvOpinAnsw */
        SELECT
            A.IMPV_OPIN_SRNO
             , A.ANSW_SRNO
             , A.ANSW_CN
             , A.ANPN_ID
             , ( SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.ANPN_ID) AS ANPN_NM
             , TO_CHAR(A.ANSW_DTTM,'DD/MM/YYYY HH24:MI:SS') AS ANSW_DT
             , A.DEL_YN AS ANSW_DEL_YN
             , NVL(A.HIDE_YN, 'N') AS HIDE_YN
             , A.FRST_REGST_ID AS ANSW_FRST_REGST_ID
             , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS ANSW_FRST_RGSR_DTTM
             , A.LAST_CHPR_ID AS ANSW_LAST_CHPR_ID
             , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS ANSW_LAST_CHG_DTTM
        FROM   TB_POTI_IMPV_OPIN_ANSW A
        WHERE  A.DEL_YN = 'N'
          AND    A.IMPV_OPIN_SRNO = #{impvOpinSrno}
        ORDER BY A.ANSW_SRNO
    </select>

    <!--
        Modifier le nombre de vues de la gestion de l'avis d'amélioration !==개선의견 관리 조회수를 수정한다.==!
    -->
    <update id="updateViewImpvOpin" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinVo">
        /* "updateViewImpvOpin" */
        UPDATE  TB_POTI_IMPV_OPIN SET
            INQT_CNT = INQT_CNT+1
        WHERE	IMPV_OPIN_SRNO = #{impvOpinSrno}
    </update>

    <!--
        Saisir une réponse de l'avis d'amélioration !==개선의견 답변 게시물을 입력한다.==!
    -->
    <insert id="insertImpvOpinAnsw" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinAnswVo">
        /* "insertImpvOpinAnsw" */
        <selectKey keyProperty="answSrno" keyColumn="ANSW_SRNO" resultType="java.math.BigDecimal" order="BEFORE">
            SELECT NVL(MAX(ANSW_SRNO),0) +1 FROM TB_POTI_IMPV_OPIN_ANSW WHERE IMPV_OPIN_SRNO = ${impvOpinSrno}
        </selectKey>
        INSERT INTO TB_POTI_IMPV_OPIN_ANSW
        (
        IMPV_OPIN_SRNO
        , ANSW_SRNO
        , ANSW_CN
        , ANPN_ID
        , ANSW_DTTM
        , HIDE_YN
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        VALUES
        (
        #{impvOpinSrno}
        , #{answSrno}
        , #{answCn}
        , #{anpnId}
        , SYSDATE
        , 'N'
        , 'N'
        , #{answFrstRegstId}
        , SYSTIMESTAMP
        , #{answLastChprId}
        , SYSTIMESTAMP
        )
    </insert>

    <!--
        Modifier le statut de traitement de l'article de la gestion de l'avis d'amélioration !==개선의견 관리 게시물 처리상태를 수정한다.==!
    -->
    <update id="updateImpvOpinPrcsStts" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinVo">
        /* "updateImpvOpinPrcsStts" */
        UPDATE TB_POTI_IMPV_OPIN SET
            PRCS_STTS_CD = #{prcsSttsCd}
        WHERE	IMPV_OPIN_SRNO = #{impvOpinSrno}
    </update>

    <!--
        Modifier une réponse de l'avis d'amélioration !==개선의견 답변 게시물을 수정한다.==!
    -->
    <update id="updateImpvOpinAnsw" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinAnswVo">
        /* "updateImpvOpinAnsw" */
        UPDATE  TB_POTI_IMPV_OPIN_ANSW
        <trim prefix="SET" prefixOverrides="," >
            <if test="answCn != null and answCn != '' ">, ANSW_CN = #{answCn}</if>
            <if test="answLastChprId != null and answLastChprId != '' ">, LAST_CHPR_ID = #{answLastChprId}</if>
            <if test="answLastChprId != null and answLastChprId != '' ">, LAST_CHG_DTTM = SYSTIMESTAMP</if>
        </trim>
        WHERE  DEL_YN = 'N'
        AND    IMPV_OPIN_SRNO = #{impvOpinSrno}
        AND    ANSW_SRNO = #{answSrno}
    </update>

    <!--
        Supprimer une réponse de l'avis d'amélioration !==개선의견 답변 게시물을 삭제한다.==!
    -->
    <update id="deleteImpvOpinAnsw" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinAnswVo">
        /* "deleteImpvOpinAnsw" */
        UPDATE  TB_POTI_IMPV_OPIN_ANSW SET
            DEL_YN = 'Y'
         ,  LAST_CHPR_ID = #{answLastChprId}
         ,  LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE  DEL_YN = 'N'
          AND    IMPV_OPIN_SRNO = #{impvOpinSrno}
          AND    ANSW_SRNO = #{answSrno}
    </update>


    <!--
        Masquer un commentaire de l'avis d'amélioration !==개선의견 댓글을 숨긴다==!)
    -->
    <update id="hideOpinScmi"  parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinAnswVo">
      /* hideOpinScmi */
      UPDATE  TB_POTI_IMPV_OPIN_ANSW SET
      HIDE_YN = 'Y'
      ,  LAST_CHPR_ID = #{lastChprId}
      ,  LAST_CHG_DTTM = SYSTIMESTAMP
      WHERE  DEL_YN = 'N'
      AND    IMPV_OPIN_SRNO = #{impvOpinSrno}
      <if test="answSrno != null and answSrno != '' ">
        AND    ANSW_SRNO = #{answSrno}
      </if>
    </update>

    <!--
        Afficher un commentaire de l'avis d'amélioration !==개선의견 댓글을 숨김해제 한다==!)
    -->
    <update id="hideReleOpinScmi"  parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnImpvOpinAnswVo">
      /* hideReleOpinScmi */
      UPDATE  TB_POTI_IMPV_OPIN_ANSW SET
      HIDE_YN = 'N'
      ,  LAST_CHPR_ID = #{lastChprId}
      ,  LAST_CHG_DTTM = SYSTIMESTAMP
      WHERE  DEL_YN = 'N'
      AND    IMPV_OPIN_SRNO = #{impvOpinSrno}
      <if test="answSrno != null and answSrno != '' ">
        AND    ANSW_SRNO = #{answSrno}
      </if>
    </update>

</mapper>
