<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.cmmn.mapper.PotPmCmmnSatfaInvgMapper">

    <!--
       Consulter la liste des enquêtes !==설문조사 목록을 조회한다==!
    -->
    <select id="selectSatfaInvgList"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo"
            resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo">
        /** selectSatfaInvgList */
        <include refid="pagination.header"/>
        SELECT SATFA_INVG_SRNO
             , SATFA_INVG_TTLE
             , SATFA_INVG_CN
             , SATFA_INVG_PT_CD
             , (SELECT U.EMP_NM FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM
             , TO_CHAR(MAKE_DTTM, 'DD/MM/YYYY HH24:MI:SS')                    AS MAKE_DTTM
             , APP_CLSF_CD
             , SATFA_INVG_STRT_DT
             , SATFA_INVG_END_DT
             , SATFA_INVG_STTS_CD
             , SORT_ORDR
             , (SELECT COUNT(SATFA_INVG_SRNO)
                FROM TB_POTI_SATFA_INVG_ANSW W
                WHERE A.SATFA_INVG_SRNO = W.SATFA_INVG_SRNO
                <if test="quarterinput != null and quarterinput != ''">
                  AND W.BASE_YY = #{baseYy}
                  AND W.EV_QRT = #{evQrt}
                </if>
                ) AS ANSW_CNT
             , NVL((SELECT AVG(ANSW_SCR)
                    FROM TB_POTI_SATFA_INVG_ANSW W
                    WHERE A.SATFA_INVG_SRNO = W.SATFA_INVG_SRNO
                    <if test="quarterinput != null and quarterinput != ''">
                      AND W.BASE_YY = #{baseYy}
                      AND W.EV_QRT = #{evQrt}
                    </if>
                    ), 0) AS AVG_SCR
        FROM TB_POTI_SATFA_INVG A
        WHERE DEL_YN = 'N'
        <if test="satfaInvgSttsCd != null and satfaInvgSttsCd != ''">
          AND SATFA_INVG_STTS_CD = #{satfaInvgSttsCd}
        </if>
        <if test="satfaInvgTtle != null and satfaInvgTtle != ''">
          AND SATFA_INVG_TTLE LIKE '%' || #{satfaInvgTtle} || '%'
        </if>
        ORDER BY SORT_ORDR, SATFA_INVG_SRNO DESC
        <include refid="pagination.footer"/>
    </select>

    <!--
       Consulter la liste des réponses d'enquêtes !==설무조사 답변 목록을 조회한다==!
    -->
    <select id="selectSatfaInvgAnswList"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo"
            resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo">
        /** selectSatfaInvgAnswList */
        <include refid="pagination.header"/>
        WITH T1 AS (SELECT USER_ID, USER_NM, USER_FMNM
                    FROM TB_POTE_PSN_USER
                    WHERE DEL_YN = 'N'
                    UNION ALL
                    SELECT USER_ID, USER_NM, USER_FMNM
                    FROM TB_COM_CO_USER
                    WHERE DEL_YN = 'N')
        SELECT SATFA_INVG_SRNO
             , ANSW_SRNO
             , ANSW_SCR
             , ANPN_ID
             , (SELECT CONCAT(USER_FMNM,' ',USER_NM) FROM T1 WHERE A.ANPN_ID = T1.USER_ID) AS ANPN_NM
             , TO_CHAR(ANSW_DTTM, 'DD/MM/YYYY HH24:MI:SS')           AS ANSW_DTTM
        FROM TB_POTI_SATFA_INVG_ANSW A
        WHERE DEL_YN = 'N'
          AND SATFA_INVG_SRNO = #{satfaInvgSrno}
        <if test="quarterinput != null and quarterinput != ''">
          AND BASE_YY = #{baseYy}
          AND EV_QRT = #{evQrt}
        </if>
        ORDER BY ANSW_SRNO DESC
        <include refid="pagination.footer"/>
    </select>

    <!--
       Enregistrer une enquête !==설문조사를 등록한다==!
    -->
    <insert id="insertSatfaInvg"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo">
        /** insertSatfaInvg */
        <selectKey keyProperty="satfaInvgSrno" keyColumn="SATFA_INVG_SRNO" resultType="java.math.BigDecimal" order="BEFORE">
            SELECT NVL(MAX(SATFA_INVG_SRNO),0)+1 FROM TB_POTI_SATFA_INVG
        </selectKey>
        INSERT INTO TB_POTI_SATFA_INVG( SATFA_INVG_SRNO
                                      , SATFA_INVG_TTLE
                                      , SATFA_INVG_CN
                                      , SATFA_INVG_PT_CD
                                      , MDPN_ID
                                      , MAKE_DTTM
                                      , DEL_YN
                                      , FRST_REGST_ID
                                      , FRST_RGSR_DTTM
                                      , LAST_CHPR_ID
                                      , LAST_CHG_DTTM
                                      , APP_CLSF_CD
                                      , SATFA_INVG_STRT_DT
                                      , SATFA_INVG_END_DT
                                      , SATFA_INVG_STTS_CD
                                      , SORT_ORDR)
        VALUES ( #{satfaInvgSrno}
               , #{satfaInvgTtle}
               , #{satfaInvgCn}
               , #{satfaInvgPtCd}
               , #{mdpnId}
               , SYSTIMESTAMP
               , 'N'
               , #{frstRegstId}
               , SYSTIMESTAMP
               , #{lastChprId}
               , SYSTIMESTAMP
               , #{appClsfCd}
               , #{satfaInvgStrtDt}
               , #{satfaInvgEndDt}
               , #{satfaInvgSttsCd}
               , #{sortOrdr})
    </insert>

    <!--
       Modifier une enquête !==설문조사를 수정한다==!
    -->
    <update id="updateSatfaInvg"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo">
        /** updateSatfaInvg */
        UPDATE TB_POTI_SATFA_INVG
        SET SATFA_INVG_STTS_CD = #{satfaInvgSttsCd}
          , SATFA_INVG_TTLE = #{satfaInvgTtle}
          , SATFA_INVG_CN = #{satfaInvgCn}
          , SORT_ORDR = #{sortOrdr}
          , LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE SATFA_INVG_SRNO = #{satfaInvgSrno}
    </update>

    <!--
       Supprimer une enquête !==설문조사를 삭제한다==!
    -->
    <update id="deleteSatfaInvg"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo">
        /** deleteSatfaInvg */
        UPDATE TB_POTI_SATFA_INVG
        SET DEL_YN = 'Y'
          , LAST_CHPR_ID 	= #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE SATFA_INVG_SRNO = #{satfaInvgSrno}
    </update>

    <!--
       Consulter l'ordre de l'enquête !==설문조사 순번을 조회한다==!
    -->
    <select id="selectSatfaInvgAnswStatColmList"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo"
            resultType="java.lang.String">
        /** selectSatfaInvgAnswStatColmList */
        SELECT 'Q' || SATFA_INVG_SRNO
        FROM TB_POTI_SATFA_INVG
        WHERE DEL_YN = 'N'
          AND SATFA_INVG_PT_CD = #{satfaInvgPtCd}
        ORDER BY SATFA_INVG_SRNO
    </select>

    <!--
       Consulter les statistiques des réponses de l'enquête !==설문조사 답변 통계를 조회한다==!
    -->
    <select id="selectSatfaInvgAnswStat"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo"
            resultType="hashMap">
        /** selectSatfaInvgAnswStat */
        SELECT *
        FROM CROSSTAB(
                     'SELECT A.BASE_MM||''/''||A.BASE_YY, A.SATFA_INVG_SRNO, AVG(A.ANSW_SCR) AVG
                 FROM TB_POTI_SATFA_INVG_ANSW A,
                      TB_POTI_SATFA_INVG B
                 WHERE A.DEL_YN = ''N''
                   AND B.DEL_YN = ''N''
                   AND A.SATFA_INVG_SRNO = B.SATFA_INVG_SRNO
                   AND B.SATFA_INVG_PT_CD = ''${satfaInvgPtCd}''
                 GROUP BY A.BASE_MM, A.BASE_YY, A.SATFA_INVG_SRNO
                 ORDER BY A.BASE_YY, BASE_MM, SATFA_INVG_SRNO',
                     'SELECT SATFA_INVG_SRNO FROM TB_POTI_SATFA_INVG WHERE DEL_YN = ''N'' AND SATFA_INVG_PT_CD = ''${satfaInvgPtCd}'' ORDER BY SATFA_INVG_SRNO'
               )
            AS T1(BASE_YYMM VARCHAR,
            <foreach collection="statColmList" item="item" index="index" separator=",">
              ${item} FLOAT
            </foreach>
                  )
    </select>

    <!--
       Consulter la liste des éléments à afficher dans les statistiques de l'enquête !==설문조사 통계에 표시될 목록을 조회한다==!
    -->
    <select id="selectSatfaInvgAnswStatDispList"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnSatfaInvgVo"
            resultType="hashMap">
      /** selectSatfaInvgAnswStatDispList */
      SELECT 'Q' || SATFA_INVG_SRNO AS DISP_SRNO
           , 'q' || SATFA_INVG_SRNO AS DISP_SRNO_LOW
           , SATFA_INVG_TTLE
           , SATFA_INVG_PT_CD
      FROM TB_POTI_SATFA_INVG
      WHERE DEL_YN = 'N'
      ORDER BY SATFA_INVG_SRNO
    </select>

</mapper>
