<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : RSM Commun !== 위험관리 공통 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.com.mapper.RsmComMapper">

  <!--
     Consulter l'heure et la date actuelles du système !== 시스템 현재날짜와 현재시각 조회 ==!
  -->
  <select id="selectDateTime"
    parameterType="String"
    resultType="String">
    /* selectDateTime */
    
    SELECT
         TO_CHAR(SYSTIMESTAMP, 'DD/MM/YYYY HH24:MI:SS')         /** heure actuelle !== 현재시간 ==! */
    FROM DUAL
  </select>

    <!--
      Consulter le code EPC (désaccord(dédouanement)) !== EPC 코드 조회 (불일치(통관)) ==!
    -->
    <select id="selectEpcCdOnlyClr"
            parameterType="alpass.ipt.rsm.com.vo.RsmSelcEpcVo"
            resultType="alpass.ipt.rsm.com.vo.RsmSelcEpcVo">
        /** selectEpcCdOnlyClr */

        <include refid="pagination.header" />
        SELECT A.EPC_CD                 /** Code EPC !== EPC코드 ==! */
             , A.EPC_NM                 /** Nom de l'epc !== EPC명 ==! */
             , A.DCLR_PT_CD             /** Code De Type De Déclaration !== 신고유형코드 ==! */
             , '' AS SELC_TRGT_YN       /** Sélectivité O/N !== 선별대상여부 ==! */
        FROM   TB_CLRI_EPC_CD A
             , (  SELECT AA.EPC_CD
                  FROM   TB_CLRI_EPC_CD AA
                  WHERE  AA.DEL_YN ='N'
                  MINUS
                  SELECT BB.EPC_CD
                  FROM   TB_RSMI_SELC_EPC BB
                  WHERE  BB.DEL_YN ='N'
                ) B
        WHERE  A.EPC_CD = B.EPC_CD      /** Code EPC !== EPC코드 ==! */
        AND    A.DEL_YN ='N'            /** Suppression On !== 삭제여부 ==! */
        AND    A.EPC_APLY_STRT_DT <![CDATA[ <= ]]>  TO_CHAR(SYSDATE, 'YYYYMMDD')        /** Date de début d'application de EPC !== EPC적용시작일자 ==! */
        AND    A.EPC_APLY_END_DT  <![CDATA[ >= ]]>  TO_CHAR(SYSDATE, 'YYYYMMDD')        /** Date de fin d'application de EPC !== EPC적용종료일자 ==! */
        <include refid="pagination.footer" />
    </select>

    <!--
      Consulter le code EPC (accord) !== EPC 코드 조회 (일치) ==!
    -->
    <select id="selectEpcCdClrRsm"
        parameterType="alpass.ipt.rsm.com.vo.RsmSelcEpcVo"
        resultType="alpass.ipt.rsm.com.vo.RsmSelcEpcVo">
        /** selectEpcCdClrRsm */

        <include refid="pagination.header" />
        SELECT A.EPC_CD         /** Code EPC !== EPC코드 ==! */
             , A.EPC_NM         /** Nom de l'epc !== EPC명 ==! */
             , ( SELECT CD_VDVAL_NM
                 FROM TB_COM_COMN_CD_D_LANG
                 WHERE COMN_CD = 'CLR_0004'
                 AND LANG_CD = #{langCd}
                 AND CD_VDVAL = A.DCLR_PT_CD
               ) AS DCLR_PT_CD         /** Code De Type De Déclaration !== 신고유형코드 ==! */
             , ( SELECT CD_VDVAL_NM
                 FROM TB_COM_COMN_CD_D_LANG
                 WHERE COMN_CD = 'COM_0016'
                 AND LANG_CD = #{langCd}
                 AND CD_VDVAL = B.SELC_TRGT_YN
               ) AS SELC_TRGT_YN        /** Sélectivité O/N !== 선별대상여부 ==! */
        FROM   TB_CLRI_EPC_CD A
             , TB_RSMI_SELC_EPC B
        WHERE  A.EPC_CD = B.EPC_CD          /** Code EPC !== EPC코드 ==! */
        AND    A.DEL_YN ='N'                /** Suppression On !== 삭제여부 ==! */
        AND    B.DEL_YN ='N'
        AND    A.EPC_APLY_STRT_DT <![CDATA[ <= ]]>  TO_CHAR(SYSDATE, 'YYYYMMDD')        /** Date de début d'application de EPC !== EPC적용시작일자 ==! */
        AND    A.EPC_APLY_END_DT  <![CDATA[ >= ]]>  TO_CHAR(SYSDATE, 'YYYYMMDD')        /** Date de fin d'application de EPC !== EPC적용종료일자 ==! */
        <include refid="pagination.footer" />
    </select>

    <!--
      Consulter le code EPC !== EPC 코드 조회 (불일치(선별)) ==!
    -->
    <select id="selectEpcCdOnlyRsm" 
        parameterType="alpass.ipt.rsm.com.vo.RsmSelcEpcVo" 
        resultType="alpass.ipt.rsm.com.vo.RsmSelcEpcVo">
        /** selectEpcCdOnlyRsm */
        
        <include refid="pagination.header" />
        SELECT A.EPC_CD                 /** Code EPC !== EPC코드 ==! */
             , '' AS EPC_NM             /** Nom de l'epc !== EPC명 ==! */
             , '' AS DCLR_PT_CD         /** Code De Type De Déclaration !== 신고유형코드 ==! */
             , A.SELC_TRGT_YN           /** Sélectivité O/N !== 선별대상여부 ==! */
        FROM   TB_RSMI_SELC_EPC A
             , (  SELECT AA.EPC_CD
                  FROM   TB_RSMI_SELC_EPC AA
                  WHERE  AA.DEL_YN ='N'
                  MINUS
                  SELECT BB.EPC_CD
                  FROM   TB_CLRI_EPC_CD BB
                  WHERE  BB.DEL_YN ='N'
                  AND    BB.EPC_APLY_STRT_DT <![CDATA[ <= ]]>  TO_CHAR(SYSDATE, 'YYYYMMDD')
                  AND    BB.EPC_APLY_END_DT  <![CDATA[ >= ]]>  TO_CHAR(SYSDATE, 'YYYYMMDD')
                ) B
        WHERE  A.EPC_CD = B.EPC_CD          /** Code EPC !== EPC코드 ==! */
        AND    A.DEL_YN ='N'                /** Suppression On !== 삭제여부 ==! */
        <include refid="pagination.footer" />
    </select>
    
    <!--
      Consulter le code bureau de douane !== 세관코드 조회 ==!
    -->
    <select id="selectCstmCdList" 
        parameterType="alpass.ipt.rsm.com.vo.RsmComOrgnInfoVo" 
        resultType="alpass.com.comn.vo.ComItemVo">
        
        /* selectCstmCdList */
        
	      SELECT
	             A.ORGN_CD AS ITEM          /** article !== 항목 ==! */
	           , A.ORGN_NM AS ITEM_NM       /** nom de l'article !== 항목명 ==! */
	      FROM (
	               SELECT
	                      ORGN_MGMT_CD          /** Code De Gestion De L'Organisation !== 조직관리코드 ==! */
	                    , ORGN_CD               /** Code De L'Organisme !== 조직코드 ==! */
	                    , ORGN_TP_CD            /** Code Distintif D'Unité !== 조직구분코드 ==! */
	                    , ORGN_NM               /** Nom D'Organisme !== 조직명 ==! */
	                    , ORGN_DESC             /** Description De L'Organisme !== 조직설명 ==! */
	                    , ORGN_REGN_CD          /** Code De Région De L'Organisme !== 조직지역코드 ==! */
	                    , ORGN_ADDR             /** Adresse De L'Organisme !== 조직주소 ==! */
	                    , RPRS_TLPH_NO          /** N° De Téléphone Principale !== 대표전화번호 ==! */
	                    , RPRS_FAX_NO           /** N° De Fax Principal !== 대표팩스번호 ==! */
	                    , HSRK_ORGN_MGMT_CD     /** Code Du Service Du Premier Rang !== 최상위조직코드 ==! */
	                    , UPR_ORGN_MGMT_CD      /** Code Du Service Supérieur !== 상위조직코드 ==! */
	                    , ORGN_STTS_CD          /** Code De Statut D'Organisme !== 조직상태코드 ==! */
	                    , DEL_YN                /** Suppression On !== 삭제여부 ==! */
	
	               FROM TB_POTI_ORGN
	               START WITH UPR_ORGN_MGMT_CD IS NULL
	               CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
	            ) A
          WHERE A.DEL_YN = 'N'
	      <if test="orgnTpCdList != null and orgnTpCdList.size() gt 0">
	         AND   A.ORGN_TP_CD IN
	         <foreach collection="orgnTpCdList" item="item" index="index" separator="," open="(" close=")">
	             #{item}
	         </foreach>
	      </if>
	      START WITH A.UPR_ORGN_MGMT_CD IS NULL
	      CONNECT BY PRIOR A.ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD
	      ORDER SIBLINGS BY A.ORGN_MGMT_CD
    </select>

    <!--
     Consulter le NIF !== 납세자식별번호 조회 ==!
    -->
    <select id="selectNifCoNm"
        parameterType="alpass.ipt.rsm.com.vo.RsmComNifVo"
        resultType="String">
        /* selectNifCoNm */
        SELECT DECODE(B.CO_NM, NULL, A.CONM, B.CO_NM) AS CO_NM          /** Nom de l'entreprise !== 업체명 ==! */
        FROM TB_POTE_NIF A
           , TB_COM_CO B
        WHERE A.DEL_YN = 'N'                /** Suppression On !== 삭제여부 ==! */
        AND B.DEL_YN(+) = 'N'
        AND A.NIF = B.NIF(+)                /** NIF !== 납세번호 ==! */
        AND A.NIF_STTS_CD != '0'            /** Statut NIF !== NIF 상태 ==! */
        AND A.NIF = #{nif}
    </select>

    
    <!--
     Consulter le NIF !== 납세자식별번호 조회 ==!
    -->
    <select id="selectNif" 
        parameterType="alpass.ipt.rsm.com.vo.RsmComNifVo"
        resultType="alpass.ipt.rsm.com.vo.RsmComNifVo">
        
        /* selectNif */
        SELECT
               A.NIF                                                /** NIF !== 납세식별번호 ==! */
             , DECODE(B.CO_NM, NULL, A.CONM, B.CO_NM) AS CO_NM      /** Nom de l'entreprise !== 업체명 ==! */
             , A.MN_BIZ_NM                                          /** Nom de l'activité principale !== 주요사업명 ==! */
             , B.RPRS_TLPH_NO                                       /** N° de telephone principale !== 대표전화번호 ==! */
             , DECODE(   B.CO_ADDR
                       , NULL
                       , (SELECT
                             LISTAGG(ADDR, ', ') WITHIN GROUP (ORDER BY RNUM DESC) ADDR
                         FROM (
                             SELECT ROWNUM RNUM, ADDR
                             FROM (SELECT CO_DTL_ADDR AS ADDR
                                    FROM TB_POTE_NIF TX
                                    WHERE TX.NIF = A.NIF))), B.CO_ADDR) AS CO_ADDR      /** Adresse de l'entreprise !== 업체주소 ==! */
             , B.RPRS_EML                                           /** Email Principal !== 대표이메일 ==! */
             , B.CO_TP_CD                                           /** Code de type d'entreprise  !== 업체구분코드 ==! */
             , FN_GET_CD_VDVAL_NM('COM_0028',B.CO_TP_CD,#{langCd}) AS CO_TP_NM          /** Nom De Type D'Entreprise !== 업체구분명 ==! */
        FROM TB_POTE_NIF A
           , TB_COM_CO B
        WHERE A.DEL_YN = 'N'                /** Suppression On !== 삭제여부 ==! */
        AND B.DEL_YN(+) = 'N'
        AND A.NIF = B.NIF(+)                /** NIF !== 납세번호 ==! */
        AND A.NIF_STTS_CD != '0'            /** Statut NIF !== NIF 상태 ==! */
        <choose>
            <when test="nifs != null and nifs.length != 0">
                AND A.NIF IN
                <foreach collection="nifs" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND A.NIF = #{nif}
            </otherwise>
        </choose>
        
    </select>
    
    <!--
     Nom du code d'activité d'entreprise - Consulter !== 업체신고코드명 조회 ==!
    -->
    <select id="selectBusiComCoDclrCdNm" 
        parameterType="alpass.com.co.vo.ComCoDclrCdVo"
        resultType="java.lang.String">
        
        /* selectBusiComCoDclrCdNm */
        SELECT
            A.CO_NM                                             /** Nom de l'entreprise !== 업체명 ==! */
        FROM TB_COM_CO A
           , TB_COM_CO_DCLR_CD B
        WHERE A.NIF = B.NIF                                     /** NIF !== 납세번호 ==! */
        AND   B.CO_DCLR_CD = #{coDclrCd}                        /** Code De Déclaration De L'Entreprise !== 업체신고코드 ==! */
        <if test="coDclrTpCd != null and coDclrTpCd != ''">
        AND   B.CO_DCLR_TP_CD = #{coDclrTpCd}
        </if>
        AND   A.DEL_YN = 'N'                                    /** Suppression On !== 삭제여부 ==! */
        AND   B.DEL_YN = 'N'
        FETCH FIRST 1 ROWS ONLY
    </select>    
    
    <!--
     Consulter le libellé tarifaire !== HS코드설명 조회 ==!
    -->
    <select id="selectBusiComHsDesc" 
        parameterType="alpass.ipt.rsm.com.vo.RsmComHsCdVo"
        resultType="java.lang.String">
        
        /* selectBusiComHsDesc */
        SELECT HS_DESC              /** Description du SH !== HS설명 ==! */
        FROM  (
                SELECT HS_DESC
                FROM   TB_CLRI_HS_CD
                WHERE  DEL_YN = 'N'
                AND    HS_CD = #{hsCd}              /** Code Sh !== HS코드 ==! */
                AND TO_CHAR(SYSDATE,'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE( HS_APLY_STRT_DT , 'YYYYMMDD'), 'YYYYMMDD') AND TO_CHAR(TO_DATE( HS_APLY_END_DT  , 'YYYYMMDD'), 'YYYYMMDD')
                ORDER  BY HS_APLY_STRT_DT DESC
              )
        WHERE ROWNUM = 1
        
    </select>    
    
    <!--
     Nom du pays - Consulter !== 국가명 조회 ==!
    -->
    <select id="selectBusiComCntyNm"
        parameterType="alpass.com.code.vo.ComCntyCdVo"
        resultType="java.lang.String">
        
        /* selectBusiComCntyNm */
        SELECT
               B.CNTY_NM                    /** Nom Du Pays !== 국가명 ==! */
        FROM TB_COM_CNTY_CD A
           , TB_COM_CNTY_CD_LANG B
        WHERE A.CNTY_CD = B.CNTY_CD         /** Code De Pays !== 국가코드 ==! */
        AND   A.DEL_YN = 'N'
        AND   B.DEL_YN = 'N'                /** Suppression On !== 삭제여부 ==! */
        AND   B.CNTY_CD = #{cntyCd}
        AND   B.LANG_CD = #{langCd}         /** Code De Langue !== 언어코드 ==! */
    </select>

    <!--
     Consulter le résultat de ciblage (DED) !== 선별결과 조회(DED) ==!
    -->
    <select id="selectCsclSelcRsltList"
        parameterType="alpass.ipt.rsm.com.vo.RsmSelcRsltInqtVo"
        resultType="alpass.ipt.rsm.com.vo.RsmComSelcRsltVo">
        /* selectCsclSelcRsltList */
        SELECT DECODE(B.PDLS_NO, '0', ( SELECT LBL_NM
                                        FROM TB_COM_LBL_LANG
                                        WHERE  LBL_ID = 'L_COMN'
                                        AND LANG_CD = #{langCd}
                                       ), B.PDLS_NO) AS PDLS_NO      /** N° Article !== 품목번호 ==! */
            , ( SELECT RQST_BASE_CLSF_CD FROM TB_RSMI_BASE_MGMT_COMN X
                WHERE X.BASE_RGSR_NO = B.BASE_RGSR_NO
                AND   ROWNUM = 1) AS RQST_BASE_CLSF_CD              /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */
            , B.APLY_BASE_CLSF_CD                                   /** Code de classification de critere en vigueur !== 적용기준분류코드 ==!*/
            , B.BASE_RGSR_NO                                        /** Numero d'enregistrement !== 기준등록번호 ==!*/
            , B.SELC_RSLT_CD                                        /** Code de resultat de ciblage !== 선별결과코드 ==!*/
            , ( SELECT AA.BASE_DESC
                FROM   TB_RSMI_BASE_MGMT_COMN AA
                WHERE  AA.BASE_RGSR_NO = B.BASE_RGSR_NO
               ) AS BASE_DESC                                        /** Description de critere !== 기준설명 ==!*/
            , ( SELECT BB.INSC_GDLN_CN
                FROM TB_RSMI_BASE_MGMT_COMN BB
                WHERE BB.BASE_RGSR_NO = B.BASE_RGSR_NO
              ) AS INSC_GDLN_CN                                     /** Directives d'inspection  !== 검사지침내용 ==!*/
            , ( SELECT LISTAGG(CC.CLUS_CLSF_CD , ', ') WITHIN GROUP ( ORDER BY CC.CLUS_CLSF_CD )
                FROM   TB_RSMI_DSCL_CLUS_BASE CC
                WHERE  CC.BASE_RGSR_NO = B.BASE_RGSR_NO
                AND    CC.DEL_YN ='N'
              ) AS CLUS_CLSF_CD                                     /** Code de classification d'élément de détection !== 적발항목분류코드 ==! */
            , ( SELECT LISTAGG( ( SELECT CD_VDVAL_NM
                                  FROM   TB_COM_COMN_CD_D_LANG
                                  WHERE  COMN_CD = 'RSM_0009'
                                  AND    LANG_CD = #{langCd}
                                  AND    CD_VDVAL = DD.CLUS_CLSF_CD
                                 ) , ', ' ) WITHIN GROUP ( ORDER BY CLUS_CLSF_CD )
                FROM   TB_RSMI_DSCL_CLUS_BASE DD
                WHERE  DD.BASE_RGSR_NO = B.BASE_RGSR_NO
                AND    DD.DEL_YN ='N'
               ) AS CLUS_CLSF_NM                                 /** Nom de classification d'élément de détection !== 적발항목분류명 ==! */
            , '' AS CAG_MGMT_NO                                  /** CRN !== 화물관리번호 ==! */
        FROM   TB_RSMI_DED_SELC A
             , TB_RSMI_DED_PDLS_SELC B
        WHERE  A.DTL_DCSH_NO = #{dtlDcshNo}
        AND    A.DEL_YN ='N'
        AND    B.DTL_DCSH_NO = A.DTL_DCSH_NO
        AND    B.DEL_YN = 'N'
        UNION ALL
        SELECT '0' AS PDLS_NO                                       /** N° Article !== 품목번호 ==! */
            , ( SELECT RQST_BASE_CLSF_CD FROM TB_RSMI_BASE_MGMT_COMN X
                WHERE X.BASE_RGSR_NO = A.BASE_RGSR_NO
                AND   ROWNUM = 1) AS RQST_BASE_CLSF_CD              /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */
            , A.APLY_BASE_CLSF_CD                                   /** Code de classification de critere en vigueur !== 적용기준분류코드 ==!*/
            , A.BASE_RGSR_NO                                        /** Numero d'enregistrement !== 기준등록번호 ==!*/
            , A.SELC_TRGT_YN AS SELC_RSLT_CD                        /** Sélectivité O/N !== 선별대상여부 ==! */
            , ( SELECT AA.BASE_DESC
                FROM   TB_RSMI_BASE_MGMT_COMN AA
                WHERE  AA.BASE_RGSR_NO = A.BASE_RGSR_NO
              ) AS BASE_DESC                                        /** Description de critere !== 기준설명 ==!*/
            , ( SELECT BB.INSC_GDLN_CN
                FROM TB_RSMI_BASE_MGMT_COMN BB
                WHERE BB.BASE_RGSR_NO = A.BASE_RGSR_NO
              ) AS INSC_GDLN_CN                                     /** Directives d'inspection  !== 검사지침내용 ==!*/
            , ( SELECT LISTAGG(CC.CLUS_CLSF_CD , ', ') WITHIN GROUP ( ORDER BY CC.CLUS_CLSF_CD )
                FROM   TB_RSMI_DSCL_CLUS_BASE CC
                WHERE  CC.BASE_RGSR_NO = A.BASE_RGSR_NO
                AND    CC.DEL_YN ='N'
              ) AS CLUS_CLSF_CD                                     /** Code de classification d'élément de détection !== 적발항목분류코드 ==! */
            , ( SELECT LISTAGG( ( SELECT CD_VDVAL_NM
                                  FROM   TB_COM_COMN_CD_D_LANG
                                  WHERE  COMN_CD = 'RSM_0009'
                                  AND    LANG_CD = NVL(#{langCd}, 'KO')
                                  AND    CD_VDVAL = DD.CLUS_CLSF_CD
                                 ) , ', ') WITHIN GROUP ( ORDER BY CLUS_CLSF_CD )
                FROM   TB_RSMI_DSCL_CLUS_BASE DD
                WHERE  DD.BASE_RGSR_NO = A.BASE_RGSR_NO
                AND    DD.DEL_YN ='N'
              ) AS CLUS_CLSF_NM                                     /** Nom de classification de facteurs des risques !== 적발항목분류명 ==!*/
            , A.CAG_MGMT_NO
        FROM   TB_RSMI_MNFS_SELC A
        WHERE  A.CAG_MGMT_NO = ( SELECT CAG_MGMT_NO                 /** CRN !== 화물관리번호 ==! */
                                 FROM   TB_CLRI_DED_COMN
                                 WHERE  DTL_DCSH_NO = #{dtlDcshNo}
                               )
        AND    A.DEL_YN = 'N'                                       /** Suppression On !== 삭제여부 ==! */
    </select>

    <!--
     [Contrôler la déclaration de cargaison] Consulter le résultat de ciblage !== [화물신고서 심사] 선별결과 조회 ==!
    -->
    <select id="selectCagSelcRsltList"
        parameterType="alpass.ipt.rsm.com.vo.RsmSelcRsltInqtVo"
        resultType="alpass.ipt.rsm.com.vo.RsmComSelcRsltVo">
        /* selectCagSelcRsltList */
        SELECT A.CAG_MGMT_NO                               /** CRN !== 화물관리번호 ==! */
            , A.BASE_RGSR_NO                               /** Numero d'enregistrement !== 기준등록번호 ==!*/
            , A.APLY_BASE_CLSF_CD                          /** Code de classification de critere en vigueur !== 적용기준분류코드 ==!*/
            , A.SELC_TRGT_YN                               /** Sélectivité O/N !== 선별대상여부 ==! */
            , ( SELECT AA.BASE_DESC
                FROM   TB_RSMI_BASE_MGMT_COMN AA
                WHERE  AA.BASE_RGSR_NO = A.BASE_RGSR_NO
              ) AS BASE_DESC                               /** Description de critere !== 기준설명 ==!*/
            , ( SELECT BB.INSC_GDLN_CN
                FROM TB_RSMI_BASE_MGMT_COMN BB
                WHERE BB.BASE_RGSR_NO = A.BASE_RGSR_NO
              ) AS INSC_GDLN_CN                            /** Directives d'inspection  !== 검사지침내용 ==!*/
            , ( SELECT LISTAGG(CC.CLUS_CLSF_CD , ', ') WITHIN GROUP ( ORDER BY CC.CLUS_CLSF_CD )
                FROM   TB_RSMI_DSCL_CLUS_BASE CC
                WHERE  CC.BASE_RGSR_NO = A.BASE_RGSR_NO
                AND    CC.DEL_YN ='N'
              ) AS CLUS_CLSF_CD                            /** Code de classification d'élément de détection !== 적발항목분류코드 ==! */
            , ( SELECT LISTAGG( ( SELECT CD_VDVAL_NM
                                  FROM   TB_COM_COMN_CD_D_LANG
                                  WHERE  COMN_CD = 'RSM_0009'
                                  AND    LANG_CD = NVL(#{langCd}, 'KO')
                                  AND    CD_VDVAL = DD.CLUS_CLSF_CD
                                 ) , ', ') WITHIN GROUP ( ORDER BY CLUS_CLSF_CD )
                FROM   TB_RSMI_DSCL_CLUS_BASE DD
                WHERE  DD.BASE_RGSR_NO = A.BASE_RGSR_NO
                AND    DD.DEL_YN ='N'
              ) AS CLUS_CLSF_NM                            /** Nom de classification de facteurs des risques !== 적발항목분류명 ==!*/
        FROM   TB_RSMI_MNFS_SELC A
        WHERE  A.CAG_MGMT_NO =#{cagMgmtNo}                 /** CRN !== 화물관리번호 ==! */
        AND    A.DEL_YN='N'                                /** Suppression On !== 삭제여부 ==! */
    </select>

    <!--
    Suivi après l'approbation !== 결재 후속 처리(선별기준) ==!
    -->
    <update id="iprtProcessAprvAfJob" parameterType="alpass.ipt.rsm.com.vo.RsmSelcChgMgmtVo">
    /* processAprvAfJob */
        UPDATE TB_RSMI_SELC_CHG_MGMT
        SET
               APRV_ID     = #{aprvId}          /* ID d'approbation  !== 결재ID ==! */
        WHERE  DTL_DCSH_NO = #{dtlDcshNo}       /* Numéro du DED !== DED번호  ==! */
        AND    PDLS_NO     = #{pdlsNo}          /* N° d'article  !==  품목번호   ==! */
        AND    CHG_SRNO    = #{chgSrno}         /* N° de modification !==  변경일련번호    ==! */
    </update>

    <!--
     Nom du code commun - Consulter !== 공통코드명 조회 ==!
    -->
    <select id="selectBuisComComnCdNm"
            parameterType="alpass.com.code.vo.ComComnCdDtlVo"
            resultType="java.lang.String">

        /* selectBuisComComnCdNm */
        SELECT
            CD_VDVAL_NM                         /** Nom De La Valeur Réelle De Code !== 공통유효값명 ==! */
        FROM TB_COM_COMN_CD_D_LANG
        WHERE DEL_YN = 'N'                      /** Suppression On !== 삭제여부 ==! */
        AND   COMN_CD = #{comnCd}               /** Code Commun  !== 공통코드 ==! */
        AND   CD_VDVAL = #{cdVdval}             /** Valeur Réelle De Code  !== 공통유효값 ==! */
        AND   LANG_CD = #{langCd}               /** Code De Langue !== 언어코드 ==! */
    </select>

    <!--
      [Domiciliation] Consulter les détails !== [은행지정] 상세조회 ==!
    -->
    <select id="selectBnkApntDtl"
        parameterType="alpass.ipt.rsm.com.vo.RsmBnkDtlInqtVo"
        resultType="alpass.ipt.rsm.com.vo.RsmBnkApntVo">
        /* selectBnkApntDtl */
        SELECT
                  A.PYMN_AC_NO                 /** N° De Compte De Paiement !== 지불계좌번호 ==! */
                , TO_CHAR(TO_DATE(A.APNT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APNT_DT      /** Date De Désignation !== 지정일자 ==! */
                , A.WLY_CD                     /** Code de wilaya !== 윌라야코드 ==! */
                , A.PYMN_BNK_CD                /** Code de Banque !== 지불은행코드 ==! */
                , A.PYMN_BNK_BRNH_CD           /** Code D'Agnce De Banque De Paiement !== 지불은행지점코드 ==! */
                , A.NIF                        /** NIF !== 납세자식별번호 ==! */
                , A.IMP_CO_NM                  /** Nom de l'importateur !== 수입업체명 ==! */
                , A.PYMN_MEAN_CD               /** Code De Mode De Paiement !== 지불방법코드 ==! */
                , A.OVRS_BUCN_CO_NM            /** Nom De L'Entreprise De L'Opérateur Étranger !== 해외거래처업체명 ==! */
                , A.OVRS_BUCN_ADDR             /** Adresse De L'Opérateur Étranger !== 해외거래처주소 ==! */
                , A.OVRS_BUCN_CNTY_CD          /** Code De Pays De L'Opérateur Étranger !== 해외거래처국가코드 ==! */
                , A.INCO_CD                    /** TRANSACTION CODE_INCOTERM !== 인코텀즈코드 ==! */
                , A.INVC_AMT                   /** Montant De Facture !== 송장금액 ==! */
                , A.INVC_CURR_CD               /** Code De Devise De La Facture !== 송장통화코드 ==! */
                , A.CAG_AMT                    /** Valeur Des Marchandises !== 화물금액 ==! */
                , A.CAG_AMT_CURR_CD            /** Code de devise du montant de la cargaison !== 화물금액통화코드 ==! */
                , A.HS2_CD                     /** Code Sh2 !== HS2코드 ==! */
                , A.BNK_TP_CD                  /** Code De Type De La Banque !== 은행구분코드 ==! */
        FROM   TB_RSMI_BNK_APNT A
        WHERE  DEL_YN = 'N'                    /** Suppression ON !== 삭제여부 ==! */
		AND A.PYMN_AC_NO = #{pymnAcNo}
        <if test='wlyCd != null and !"".equals(wlyCd)'>
            AND A.WLY_CD = #{wlyCd}
        </if>
        FETCH FIRST 1 ROWS ONLY
    </select>

    <!--
      Consulter les informations sur la société OEA !== AEO공인업체 정보 조회 ==!
    -->
    <select id="selectAeoAthrCoInfo"
        parameterType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo"
        resultType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo">
        /* selectAeoAthrCoInfo */
        SELECT
		           A.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
			     , NVL(C.CO_NM, D.CO_NM) AS CO_NM                      /** Nom De L'Entreprise !== 업체명 ==! */
			     , A.NIF                        /** NIF !== 납세번호 ==! */
			     , NVL(C.CO_ADDR, D.co_dtl_addr) AS HOFC_ADDR                  /** Adresse du siège social !== 본사주소 ==! */
			     , A.jrsd_cstm_cd AS ACAP_CSTM_CD               /** Code douanier de réception !== 접수세관코드 ==! */
			     , NVL((SELECT ORGN_NM FROM  TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(A.jrsd_cstm_cd)), '') AS ACAP_CSTM_NM               /** Code douanier de réception !== 접수세관코드 ==! */
			     , A.AEO_ATHR_NO                /** Numéro d'OEA !== AEO공인번호 ==! */
                 , NVL(A.AEO_ATHR_GD_CD, '') AS AEO_ATHR_GD_CD             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
                 , NVL(FN_GET_CD_VDVAL_NM('AEO_0005', A.AEO_ATHR_GD_CD, #{langCd}), '') AS AEO_ATHR_GD_NM             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
                 , NVL(TO_CHAR(TO_DATE(A.ATHR_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY'), '') AS ATHR_STRT_DT               /** Date de commencement d'agrément !== 공인시작일자 ==! */
                 , NVL(TO_CHAR(TO_DATE(A.ATHR_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY'), '') AS ATHR_END_DT                /** Date de fermeture d'agrément !== 공인종료일자 ==! */
                 , NVL(A.ATHR_STTS_CD, '') AS ATHR_STTS_CD               /** Code d'état d'agrément !== 공인상태코드 ==! */
                 , NVL(FN_GET_CD_VDVAL_NM('AEO_0006', A.ATHR_STTS_CD, #{langCd} ), '') AS ATHR_STTS_NM               /** Code d'état d'agrément !== 공인상태코드 ==! */
                 , ( SELECT AEO_QLFC_CD FROM TB_AEOI_ATHR_RQST WHERE DEL_YN = 'N' AND AEO_ATHR_NO = A.AEO_ATHR_NO) as AEO_QLFC_CD
                 , ( SELECT FN_GET_CD_VDVAL_NM('AEO_0003', AEO_QLFC_CD, NVL(#{langCd}, 'KO')) AS AEO_QLFC_NM FROM TB_AEOI_ATHR_RQST WHERE DEL_YN = 'N' AND AEO_ATHR_NO = A.AEO_ATHR_NO) as AEO_QLFC_NM
		  FROM
		  		   ALPASSINT.TB_AEOI_ATHR_CO A
		  		 , ALPASSINT.TB_COM_CO C
		  		 , alpassext.TB_POTE_NIF D
		 WHERE
		 		   A.NIF = C.NIF(+)
		   AND	   A.NIF = D.NIF(+)
		   AND	   C.DEL_YN(+) = 'N'                     			/** Suppression On !== 삭제여부 ==! */
		   AND	   D.DEL_YN(+) = 'N'                     			/** Suppression On !== 삭제여부 ==! */
		   AND	   A.NIF = #{nif}       							/** NIF !== 납세번호 ==! */
		   and     A.AEO_ATHR_NO = #{aeoAthrNo}
    </select>

    <!--
      Consultation des extraits de code !== 예외사항코드 목록조회 ==!
    -->
    <select id="selectExcpMtrCdList"
        parameterType="alpass.ipt.rsm.selc.vo.RsmExcpMtrVo"
        resultType="alpass.ipt.rsm.selc.vo.RsmExcpMtrVo">
        /* selectExcpMtrCdList */
        <include refid="pagination.header" ></include>
            SELECT DISTINCT APLY_SCP_CD
                , HS_EXCP_MTR_CD
                , HS_EXCP_MTR_NM
            FROM   TB_CLRI_HS_EXCP_MTR_CD_MGMT A
            WHERE  1=1
            AND    A.DEL_YN = 'N'
            AND    TO_CHAR(CURRENT_DATE,'YYYYMMDD') BETWEEN APLY_STRT_DT AND APLY_END_DT
            <if test="aplyScpCd != null and aplyScpCd != '' ">
            AND    A.APLY_SCP_CD= #{aplyScpCd}
            </if>
            <if test="excpMtrNm != null and excpMtrNm != ''">
                AND    A.HS_EXCP_MTR_NM LIKE '%'|| #{excpMtrNm} ||'%'
            </if>
            ORDER BY 1, 2
        <include refid="pagination.footer" ></include>

    </select>

    <!--
      Consultation des extraits de code !== 예외사항코드 목록조회 ==!
    -->
    <select id="selectExcpMtrCdInputList"
        parameterType="alpass.ipt.rsm.selc.vo.RsmExcpMtrVo"
        resultType="alpass.ipt.rsm.selc.vo.RsmExcpMtrVo">
        /* selectExcpMtrCdInputList */
        SELECT DISTINCT APLY_SCP_CD
            , HS_EXCP_MTR_CD
            , HS_EXCP_MTR_NM
        FROM   TB_CLRI_HS_EXCP_MTR_CD_MGMT A
        WHERE  1=1
        AND    A.DEL_YN = 'N'
        AND    TO_CHAR(CURRENT_DATE,'YYYYMMDD') BETWEEN APLY_STRT_DT AND APLY_END_DT
        <if test="aplyScpCd != null and aplyScpCd != '' ">
            AND    A.APLY_SCP_CD= #{aplyScpCd}
        </if>

        <if test="!excpMtrCdSet.isEmpty()">
            AND A.HS_EXCP_MTR_CD IN
            <foreach collection="excpMtrCdSet" item="excpMtrCd" index="index" separator="," open="(" close=")">
                #{excpMtrCd}
            </foreach>
        </if>
        ORDER BY 1, 2

    </select>

</mapper>
    
    

