<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.pvinf.blinqt.mapper.CarBlInqtMapper">



	
    <!--
    Rechercher le BL !== BL 조회 ==!
    (Leem Jaewoo)
    -->
    <select id="selectCarBlInqtList" parameterType="alpass.ipt.car.pvinf.blinqt.vo.CarBlInqtVo" resultType="alpass.ipt.car.pvinf.blinqt.vo.CarBlInqtVo">
        /* CarBlInqtMapper.selectCarBlInqtList */
        <include refid="pagination.header" ></include>
        SELECT    A.mrn                                                    AS mrn                 /** Mrn !== MRN ==! */
                , A.cag_mgmt_no                                            AS cag_mgmt_no         /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                , A.msn                                                    AS msn                 /** Msn !== MSN ==! */
                , A.hsn                                                    AS hsn                 /** Hsn !== HSN ==! */
                , A.bl_no                                                  AS bl_no               /** N° De Bl !== BL번호 ==! */
                , A.hbl_no                                                 AS hbl_no              /** N° de House B/L !== HBL번호 ==! */
                , A.cag_tp_cd                                              AS cag_tp_cd           /** Type de flux !== 화물구분코드 ==! */
                , A.bl_tp_cd                                               AS bl_tp_cd            /** Code De Catégorie De B/L !== BL구분코드 ==! */
                , A.bl_pt_cd                                               AS bl_pt_cd            /** Code De Type De Bl !== BL유형코드 ==! */
                , A.frwr_cd                                                AS frwr_cd             /** Code De Groupeur !== 포워더코드 ==! */
                , A.load_regn_cd                                           AS load_regn_cd        /** Code De Lieu De Chargement !== 적재지역코드 ==! */
                , (SELECT REGN_NM FROM TB_COM_REGN_CD_LANG WHERE REGN_CD = LOAD_REGN_CD AND LANG_CD = #{langCd}) AS LOAD_REGN_NM   /** Nom de lieu de chargement !==적재지역명==! */
                , A.ldun_regn_cd                                           AS ldun_regn_cd        /** Code De Lieu De Déchargement !== 하역지역코드 ==! */
                , (SELECT REGN_NM FROM TB_COM_REGN_CD_LANG WHERE REGN_CD = LDUN_REGN_CD AND LANG_CD = #{langCd}) AS LDUN_REGN_NM  /** Lieu de déchargement !==하역지==! */
                , A.stvd_cd                                                AS stvd_cd             /** Code De Stevedoremanutentionnaire !== 하역업자코드 ==! */
                , A.trnh_regn_cd                                           AS trnh_regn_cd        /** Code De Région De Transbordement !== 환적지역코드 ==! */
                , A.cag_chrc_cd                                            AS cag_chrc_cd         /** Nature De Cargaison !== 화물특성코드 ==! */
                , A.cmdt_knd_cd                                            AS cmdt_knd_cd         /** Nature De Marchandise !== 물품종류코드 ==! */
                , A.cas_no                                                 AS cas_no              /** Numero CAS !== CAS번호 ==! */
                , A.undg_id                                                 AS undg_id              /** Identifiant UNDG !== UNDGID ==! */
                , A.send_way                                               AS send_way            /** Mode de livraison !== 발송방식 ==! */
                , A.pdls_nm                                                AS pdls_nm             /** Nom De L'Article !== 품목명 ==! */
                , A.pckg_gcnt                                              AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                , A.ecntr_wght                                             AS ecntr_wght          /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
                , A.ttwg                                                   AS ttwg                /** Poids Brut !== 총중량 ==! */
                , A.ntwg                                                   AS ntwg                /** Poids Net !== 순중량 ==! */
                , A.cbm_vol                                                AS cbm_vol             /** Volume (Mtq) !== 입방미터용적 ==! */
                , A.lir_vol                                                AS lir_vol             /** Volume (Litre) !== 리터용적 ==! */
                , A.hdcb_tp_cd                                             AS hdcb_tp_cd          /** Code de type d'hydrocarbure !== 탄화수소구분코드 ==! */
                , A.shmr_cn                                                AS shmr_cn             /** Marque De Colis !== 화인내용 ==! */
                , A.add_info_cn                                            AS add_info_cn         /** Info Supplémentaire !== 부가정보내용 ==! */
                , A.cntr_gcnt                                              AS cntr_gcnt           /** Nombre De Conteneurs !== 컨테이너개수 ==! */
                , A.vhcl_gcnt                                              AS vhcl_gcnt           /** Nombre De Véhicules !== 차량개수 ==! */
                , A.prpm_dfpm_cach_tp_cd                                   AS prpm_dfpm_cach_tp_cd/** Ind. fret prépayé/dû !== 선불후불운임구분코드 ==! */
                , A.cmdt_amt                                               AS cmdt_amt            /** Valeur de marchandise !== 물품금액 ==! */
                , A.cmdt_amt_curr_cd                                       AS cmdt_amt_curr_cd    /** Article Montant Code de devise !== 물품금액통화코드 ==! */
                , A.exppn_txpr_idfy_no                                     AS exppn_txpr_idfy_no  /** NIF de l'exportateur !== 수출자납세자식별번호 ==! */
                , A.exppn_nm                                               AS exppn_nm            /** Nom De L'Exportateur !== 수출자명 ==! */
                , A.exppn_addr_nm                                          AS exppn_addr_nm       /** Adresse De L'Exportateur !== 수출자주소명 ==! */
                , A.exppn_tlph_no                                          AS exppn_tlph_no       /** Téléphone De L'Exportateur !== 수출자전화번호 ==! */
                , A.exppn_eml                                              AS exppn_eml           /** Email De L'Exportateur !== 수출자이메일 ==! */
                , A.abrd_frwr_nm                                           AS abrd_frwr_nm        /** Nom De L'Expéditeur !== 국외포워더명 ==! */
                , A.abrd_frwr_addr_nm                                      AS abrd_frwr_addr_nm   /** Adresse De L'Expéditeur !== 국외포워더주소명 ==! */
                , A.abrd_frwr_tlph_no                                      AS abrd_frwr_tlph_no   /** Téléphone De L'Expéditeur !== 국외포워더전화번호 ==! */
                , A.abrd_frwr_eml                                          AS abrd_frwr_eml       /** Email De L'Expéditeur !== 국외포워더이메일 ==! */
                , A.cnsi_txpr_idfy_no                                      AS cnsi_txpr_idfy_no   /** Niu Du Destinataire !== 수하인납세자식별번호 ==! */
                , A.cnsi_nm                                                AS cnsi_nm             /** Nom de destinataire !== 수하인명 ==! */
                , A.cnsi_addr_nm                                           AS cnsi_addr_nm        /** Adresse Du Destinataire !== 수하인주소명 ==! */
                , A.cnsi_tlph_no                                           AS cnsi_tlph_no        /** N° de téléphone de destinataire !== 수하인전화번호 ==! */
                , A.cnsi_eml                                               AS cnsi_eml            /** E-mail de destinataire !== 수하인이메일 ==! */
                , A.ntpr_nm                                                AS ntpr_nm             /** Nom De La Partie À Notifier !== 통지처명 ==! */
                , A.ntpr_addr_nm                                           AS ntpr_addr_nm        /** Adresse De La Partie À Notifier !== 통지처주소명 ==! */
                , A.ntpr_tlph_no                                           AS ntpr_tlph_no        /** Téléphone De La Partie À Notifier !== 통지처전화번호 ==! */
                , A.ntpr_eml                                               AS ntpr_eml            /** Email De La Partie À Notifier !== 통지처이메일 ==! */
                , A.selc_trgt_yn                                           AS selc_trgt_yn        /** Sélectivité O/N !== 선별대상여부 ==! */
                , A.rmrk_cn                                                AS rmrk_cn             /** Contenu De Remarque !== 비고내용 ==! */
                , A.bf_cag_mgmt_no                                         AS bf_cag_mgmt_no      /** Crn Précédent !== 이전화물관리번호 ==! */
                , A.bl_mdfy_tp_cd                                          AS bl_mdfy_tp_cd       /** Code de catégorie de rectification de BL !== BL정정구분코드 ==! */
                , A.coat_trnp_yn                                           AS coat_trnp_yn        /** Cabotage On !== 연안운송여부 ==! */
                , A.ibobz_cd                                               AS ibobz_cd            /** Code de zone sous douane !== 보세구역코드 ==! */
                , (SELECT IB.IBOBZ_NM
			              FROM TB_CARI_IBOBZ IB
			              WHERE IB.IBOBZ_CD = A.IBOBZ_CD)                  AS IBOBZ_NM           /** Nom d'entrepôt !== 보세창고명==! */
                , A.al_hbl_gcnt                                            AS al_hbl_gcnt         /** Nombre Total De Sous Bl !== 전체HBL개수 ==! */
                , A.del_yn                                                 AS del_yn              /** Suppression On !== 삭제여부 ==! */
                , A.frst_regst_id                                          AS frst_regst_id       /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
                , TO_CHAR(A.frst_rgsr_dttm,'DD/MM/YYYY HH24:MI:SS')        AS frst_rgsr_dttm      /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.last_chpr_id                                           AS last_chpr_id        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , TO_CHAR(A.last_chg_dttm,'DD/MM/YYYY HH24:MI:SS')         AS last_chg_dttm       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                , A.hs_cd                                                  AS hs_cd               /** Code Sh !== HS코드 ==! */
	            , ( SELECT hs_cd || ' | ' || HS_DESC
	                  FROM TB_CLRI_HS_CD
	                 WHERE HS_CD = A.HS_CD LIMIT 1) AS HS_DESC
                , A.pckg_ut_cd                                             AS pckg_ut_cd          /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                , A.ldun_yn                                           	   AS ldun_yn      	      /** déchargement On !== 양하여부 ==! */
                , A.cnsi_txpr_idfy_no_nin                                  AS cnsi_txpr_idfy_no_nin  /** NIN de déstinataire !== 수하인납세자식별번호(NIN) ==! */
                , A.exppn_txpr_idfy_no_nin                                 AS exppn_txpr_idfy_no_nin /** NIN d'exportateur !== 수출자납세자식별번호(NIN) ==! */
                , to_char(to_date(A.BL_PBLS_DT, 'yyyymmdd'), 'dd/mm/yyyy') AS bl_pbls_dt		  /** Date de delivrance du B/L !==BL발급일자==! */
                , A.UNDG_GD_CD                                             AS UNDG_GD_CD 		  /** Code de classe UNDG !== UNDG등급 ==! */
                , A.CHER_YN 											   AS CHER_YN 			  /** affréteur d’espace/slot !== 용선여부 ==! */
                , A.CHER_GVNM_NM 										   AS CHER_GVNM_NM 		  /** nom de l’affréteur/slotteur !== 용선이름 ==! */
                , A.CHER_ADDR_NM 										   AS CHER_ADDR_NM  	  /** adresse affréteur/slotteur !== 용선주소 ==! */
                , B.REAL_ARVL_DTTM 
                , B.JRSD_ORGN_CD
                , C.CAG_RQST_TP_CD
                , C.PRCS_STTS_CD
             FROM  TB_CARI_CAG_DCSH B
             LEFT OUTER JOIN TB_CARI_CAG_DCSH_BL A
             ON B.MRN = A.MRN 
             LEFT OUTER JOIN (SELECT X.CAG_MGMT_NO, X.PRCS_SRNO, X.CAG_RQST_TP_CD, X.PRCS_STTS_CD
								FROM (SELECT CAG_MGMT_NO, PRCS_SRNO, CAG_RQST_TP_CD, PRCS_STTS_CD 
								           , ROW_NUMBER() OVER (PARTITION BY CAG_MGMT_NO ORDER BY PRCS_SRNO DESC) AS ROW_NUM
								        FROM TB_CARI_CGTR_BL_PRCS
								       WHERE DEL_YN = 'N'
								     ) X
							   WHERE ROW_NUM = 1) C	
			 ON A.CAG_MGMT_NO = C.CAG_MGMT_NO				   
             WHERE A.DEL_YN = 'N' AND B.DEL_YN = 'N'
             AND B.APRE_YN_CD = 'O'
            <if test="realArvlDttmFrom != null and realArvlDttmFrom != ''">		/** !==실제도착일시==! */
            AND B.REAL_ARVL_DTTM BETWEEN TO_DATE(#{realArvlDttmFrom}, 'DD/MM/YYYY') AND TO_DATE(#{realArvlDttmTo}, 'DD/MM/YYYY') + 0.99999
            </if>
            <if test="jrsdCstmCd != null and jrsdCstmCd != ''">
            AND B.JRSD_ORGN_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE UPR_ORGN_MGMT_CD IN
                  (SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN WHERE ORGN_CD  = #{jrsdCstmCd}))
            </if>
            <if test="cagMgmtNo != null and cagMgmtNo != ''">
            AND	A.CAG_MGMT_NO LIKE UPPER( REPLACE(#{cagMgmtNo},'-','') )||'%'		/** N° Demande De La Création De Crn !== 화물관리번호 ==! */
            </if>
            <if test="blNo != null and blNo != ''">
            AND	UPPER(A.BL_NO) LIKE UPPER(#{blNo})||'%'			/** N° De Bl !== BL번호 ==! */
            </if>
            <if test="cagTpCd != null and cagTpCd != ''">
            AND	A.CAG_TP_CD = #{cagTpCd}						/** Type de flux !== 화물구분코드 ==! */
            </if>
            <if test="cmdtKndCd != null and cmdtKndCd != ''">
            AND	A.CMDT_KND_CD = #{cmdtKndCd}					/** Nature De Marchandise !== 물품종류코드 ==! */
            </if>
            <if test="pdlsNm != null and pdlsNm != ''">
            AND	UPPER(A.PDLS_NM) LIKE UPPER(#{pdlsNm})||'%'		/** Nom De L'Article !== 품목명 ==! */
            </if>
            <if test="hsCd != null and hsCd != ''">
            AND	A.HS_CD = #{hsCd}					/** Code Sh !== HS코드 ==! */
            </if>
            ORDER BY A.FRST_RGSR_DTTM DESC
		<include refid="pagination.footer" ></include>
    </select>













</mapper>