<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.auth.mapper.PotPmAuthCstmRoleRelMapper">

    <!--
       Consulter la liste des relations de rôle de la douane (douane) !==세관역할관계(세관) 목록를 조회한다==!
    -->
    <select id="selectCstmRoleRelList" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo">
        /** selectCstmRoleRelList */
        SELECT *
        FROM (
        SELECT
        LEVEL AS LEV
        , ORGN_NM AS NAME
        , SYS_CONNECT_BY_PATH(ORGN_MGMT_CD, '/') AS ORGN_PATH
        , A.ORGN_CD 					AS ORGN_CD
        , A.UPR_ORGN_MGMT_CD 			AS P_NODE
        , A.ORGN_MGMT_CD 				AS C_NODE
        , A.ORGN_MGMT_CD               AS ORGN_MGMT_CD
        , A.HSRK_ORGN_MGMT_CD
        , A.ORGN_TP_CD
        , A.SORT_ORDR
        FROM
        (
        SELECT
        ORGN_CD
        , ORGN_NM
        , ORGN_MGMT_CD
        , UPR_ORGN_MGMT_CD
        , HSRK_ORGN_MGMT_CD
        , ORGN_TP_CD
        , (SELECT T.ORGN_MGMT_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD AND T.DEL_YN = 'N') AS UP_CD
        , A.DEL_YN
        , A.SORT_ORDR
        FROM  TB_POTI_ORGN A
        WHERE A.DEL_YN = 'N'
        ) A
        WHERE 1 = 1
        <if test="sctrCd != null and sctrCd != ''">
            <if test="sctrCd != 'DGD04'">
                AND (HSRK_ORGN_MGMT_CD LIKE '%'||(SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN WHERE DEL_YN = 'N' AND ORGN_CD= #{sctrCd} AND ROWNUM = 1)||'%'
                OR ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN WHERE DEL_YN = 'N' AND ORGN_CD = #{sctrCd} AND ROWNUM = 1))
            </if>
        </if>
        START WITH A.UPR_ORGN_MGMT_CD IS NULL
        CONNECT BY PRIOR  A.ORGN_MGMT_CD = A.UP_CD
        ORDER BY SORT_ORDR, ORGN_CD
        )
    </select>

    <!--
       Consulter la liste des relations de rôle de la douane (rôle) !==세관역할관계(역할) 목록를 조회한다==!
    -->
    <select id="selectCstmRoleRelTreeList" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo">
        /** selectCstmRoleRelTreeList */
        (
        SELECT (SELECT FN_GET_CD_VDVAL_NM('COM_0033', 'IPT', #{langCd}) FROM DUAL) AS NAME, 'IPT' AS C_NODE, '' AS P_NODE <if test="orgnMgmtCd != null and orgnMgmtCd != ''">, 0 AS REG_CNT</if> FROM DUAL

        UNION ALL

        SELECT
        (SELECT FN_GET_CD_VDVAL_NM('COM_0022', BSOP_CLSF_CD, #{langCd}) FROM DUAL)  AS NAME
        , 'IPT'||BSOP_CLSF_CD  AS C_NODE
        , 'IPT' AS P_NODE
        <if test="orgnMgmtCd != null and orgnMgmtCd != ''">
            , 0 AS REG_CNT
        </if>
        FROM  TB_COM_ROLE A
        WHERE A.USE_YN = 'Y'
        AND   A.DEL_YN = 'N'
        AND   A.APP_CLSF_CD = 'IPT'
        GROUP BY APP_CLSF_CD, BSOP_CLSF_CD
        UNION ALL
        SELECT
        (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND DEL_YN = 'N' AND LANG_CD = #{langCd})  AS NAME
        , A.ROLE_ID AS C_NODE
        , 'IPT'||BSOP_CLSF_CD AS P_NODE
        <if test="orgnMgmtCd != null and orgnMgmtCd != '' and foncCd != null and foncCd != ''">
            , (SELECT COUNT(1) FROM TB_POTI_ORGN_ROLE_REL WHERE DEL_YN = 'N' AND ROLE_ID = A.ROLE_ID AND ORGN_MGMT_CD = #{orgnMgmtCd} AND FONC_CD = #{foncCd}) AS REG_CNT
        </if>
        FROM  TB_COM_ROLE A
        WHERE A.USE_YN = 'Y'
        AND   A.DEL_YN = 'N'
        AND   A.APP_CLSF_CD = 'IPT'
        )
    </select>

    <!--
       onsulter la liste des relations de rôle de la douane (historique) !==세관역할관계(이력) 목록를 조회한다==!
    -->
    <select id="selectCstmRoleHistList" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelHisVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelHisVo">
        /** selectCstmRoleHistList  */
        SELECT
            (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.ORGN_MGMT_CD AND DEL_YN = 'N') AS ORGN_NM
             , (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND LANG_CD = #{langCd} AND DEL_YN = 'N') AS ROLE_NM
             , SRNO
             , FN_GET_CD_VDVAL_NM('POT_0036', A.AUTH_ATHZ_CD, #{langCd}) AS AUTH_ATHZ_CD
             , WRKR
             , TO_CHAR(A.WKNG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS WKNG_DTTM
        FROM TB_POTI_ORGN_ROLE_REL_H A
        WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
          AND FONC_CD = #{foncCd}
          AND   ROLE_ID = #{roleId}
        ORDER BY SRNO DESC
    </select>

    <!--
       Enregistrer la liste des relations de rôle de la douane !==세관역할관계을 등록한다==!
    -->
    <insert id="insertCstmAuthWdrw" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo">
        /** insertCstmAuthWdrw */
        INSERT INTO TB_POTI_ORGN_ROLE_REL_H
        (
            ORGN_MGMT_CD
        , FONC_CD
        , ROLE_ID
        , SRNO
        , AUTH_ATHZ_CD
        , WRKR
        , WKNG_DTTM
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        VALUES
            (
                #{orgnMgmtCd}
            , #{foncCd}
            , #{cNode}
            , (SELECT NVL((SELECT MAX(SRNO) FROM TB_POTI_ORGN_ROLE_REL_H WHERE ORGN_MGMT_CD = #{orgnMgmtCd} AND ROLE_ID = #{cNode}), 0) + 1 FROM DUAL)
            , #{authAthzCd}
            , #{frstRegstId}
            , SYSTIMESTAMP
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
            )
    </insert>

    <!--
       Supprimer la liste des relations de rôle de la douane !==세관역할관계을 삭제한다==!
    -->
    <delete id="deleteCstmRoleRel" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo">
        /** deleteCstmRoleRel */
        DELETE FROM TB_POTI_ORGN_ROLE_REL
        WHERE  ORGN_MGMT_CD = #{orgnMgmtCd}
          AND  FONC_CD = #{foncCd}
    </delete>

    <!--
       Enregistrer la liste des relations de rôle de la douane !==세관역할관계을 등록한다==!
    -->
    <insert id="insertCstmRoleRel" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo">
        /** insertCstmRoleRel */
        INSERT INTO TB_POTI_ORGN_ROLE_REL
        (
            ROLE_ID
        , ORGN_MGMT_CD
        , FONC_CD
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        VALUES
            (
                #{cNode}
            , #{orgnMgmtCd}
            , #{foncCd}
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
            )
    </insert>

</mapper>
