<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.pot.pm.wtchrmgmt.mapper.PotMpWtchrmgmMapper">

	<!--
			Consulter la liste des agents de permanence !== 당직자 목록 조회 ==!
	-->
	<select id="selectWtchrmgmtList" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo"
			resultType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo">
		/* selectWtchrmgmtList */
		<include refid="pagination.header"/>
		SELECT
			A.PBSR_NO
			, A.ORGN_MGMT_CD
			, B.ORGN_CD
			, B.ORGN_NM
			, A.EMP_NM
			, A.EMP_FMNM
			, A.FONC_CD
			, FN_GET_FONC_NM(A.FONC_CD, #{langCd}) AS FONC_NM
			, TO_CHAR(TO_DATE(A.BRDY, 'YYYYMMDD'), 'DD/MM/YYYY') AS BRDY
			, A.GNDR_CD
			, FN_GET_CD_VDVAL_NM('COM_0027', A.GNDR_CD, #{langCd}) AS GNDR_NM
			, TO_CHAR(PAPO_STRT_DTTM, 'DD/MM/YYYY HH24:MI') AS PAPO_STRT_DTTM
			, TO_CHAR(PAPO_END_DTTM, 'DD/MM/YYYY HH24:MI') AS PAPO_END_DTTM
			, C.WTCHR_SRNO
			, C.RMRK
			, C.PAPO_STRT_DTTM AS ORD
			, C.FONC_CD as PAPO_FONC_CD
		<![CDATA[
			, CASE WHEN TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MI') < TO_CHAR(C.PAPO_STRT_DTTM, 'YYYYMMDDHH24MI')
			  	THEN '1'
			    WHEN TO_CHAR(SYSTIMESTAMP, 'YYYYMMDDHH24MI') > TO_CHAR(C.PAPO_END_DTTM, 'YYYYMMDDHH24MI')
			    THEN '2'
					ELSE '3'
					END AS PAPO_STTS_CD
		]]>
		,(
		SELECT '['|| FONC_CD || '] ' || FONC_CD_NM
		FROM TB_POTI_FONC_CD_LANG B
		WHERE B.FONC_CD = A.FONC_CD
		AND DEL_YN = 'N'
		AND LANG_CD = #{langCd}
		) AS WTCHR_FONC
		FROM  TB_POTI_EMP A, TB_POTI_ORGN B, TB_POTI_WTCHR C
		WHERE A.ORGN_MGMT_CD = B.ORGN_MGMT_CD
		AND   A.PBSR_NO = C.PBSR_NO
		AND   A.DEL_YN = 'N'
		AND   B.DEL_YN = 'N'
		AND   C.DEL_YN = 'N'
		<if test="scrhPapoStrtDt != null and scrhPapoStrtDt != ''">
			<![CDATA[
			AND TO_CHAR(TO_DATE(#{scrhPapoStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') >= TO_CHAR(C.PAPO_STRT_DTTM, 'YYYYMMDD')
			]]>
		</if>
		<if test="scrhPapoEndDt != null and scrhPapoEndDt != ''">
			<![CDATA[
		  AND TO_CHAR(TO_DATE(#{scrhPapoEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') <= TO_CHAR(C.PAPO_END_DTTM, 'YYYYMMDD')
			]]>
		</if>
		<if test="orgnCd != null and orgnCd != ''">
			AND B.ORGN_CD = #{orgnCd}
		</if>
		<if test="pbsrNo != null and pbsrNo != ''">
			AND UPPER(C.PBSR_NO) LIKE '%' || UPPER(#{pbsrNo}) || '%'
		</if>
		<if test="empNm != null and empNm != ''">
			AND UPPER(A.EMP_NM) LIKE '%' || UPPER(#{empNm}) || '%'
		</if>
		<if test="foncCd != null and foncCd != ''">
			AND B.FONC_CD = #{foncCd}
		</if>
		ORDER BY C.PAPO_STRT_DTTM DESC
		<include refid="pagination.footer"/>
	</select>

	<!--
			Consulter la liste des agents de permanence !== 당직자 목록(월) 조회 ==!
	-->
	<select id="selectWtchrmgmtMMList" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo"
			resultType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo">
		/* selectWtchrmgmtMMList */
		SELECT
				 TO_CHAR(A.PAPO_STRT_DTTM, 'DD/MM/YYYY') AS PAPO_STRT_DTTM
			 , TO_CHAR(A.PAPO_END_DTTM, 'DD/MM/YYYY') AS PAPO_END_DTTM
			 , A.WTCHR_SRNO
			 , A.RMRK
			 , A.PBSR_NO
		     , (SELECT EMP_NM FROM TB_POTI_EMP WHERE DEL_YN = 'N' AND PBSR_NO = A.PBSR_NO ) AS EMP_NM
			 , A.PAPO_STRT_DTTM AS ORD
		FROM  TB_POTI_WTCHR A
		WHERE   A.DEL_YN = 'N'
		AND (A.PAPO_STRT_DTTM <![CDATA[ >= ]]>  TO_CHAR(CAST(DATE_TRUNC('MONTH',CURRENT_DATE) AS DATE), 'YYYYMMDD')
		AND A.PAPO_STRT_DTTM <![CDATA[ <= ]]>  TO_CHAR((DATE_TRUNC('MONTH', CURRENT_DATE) + INTERVAL '1 MONTH - 1 DAY')::DATE,'YYYYMMDD'))
		 OR (A.PAPO_END_DTTM <![CDATA[ >= ]]>  TO_CHAR(CAST(DATE_TRUNC('MONTH',CURRENT_DATE) AS DATE), 'YYYYMMDD')
		AND A.PAPO_END_DTTM <![CDATA[ <= ]]>  TO_CHAR((DATE_TRUNC('MONTH', CURRENT_DATE) + INTERVAL '1 MONTH - 1 DAY')::DATE,'YYYYMMDD'))
		ORDER BY ORD
	</select>


	<!--
    Vérifier un agent de permanence !== 당직자 확인 ==!
-->

	<select id="selectWtchrmgmtCnt" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo" resultType="java.lang.Integer">
		/* selectWtchrmgmtCnt */
		SELECT
		count(1)
		FROM  TB_POTI_EMP A, TB_POTI_ORGN B, TB_POTI_WTCHR C
		WHERE A.ORGN_MGMT_CD = B.ORGN_MGMT_CD
		AND   A.PBSR_NO = C.PBSR_NO
		AND   A.DEL_YN = 'N'
		AND   B.DEL_YN = 'N'
		AND   C.DEL_YN = 'N'
		AND 	A.PBSR_NO = #{pbsrNo}
		<![CDATA[
		AND
		(
			TO_CHAR(C.PAPO_STRT_DTTM, 'YYYYMMDDHH24MI') BETWEEN TO_CHAR(TO_DATE(#{papoStrtDttm}), 'YYYYMMDDHH24MI') AND TO_CHAR(TO_DATE(#{papoEndDttm}), 'YYYYMMDDHH24MI')
			OR
			TO_CHAR(C.PAPO_END_DTTM, 'YYYYMMDDHH24MI') BETWEEN TO_CHAR(TO_DATE(#{papoStrtDttm}), 'YYYYMMDDHH24MI') AND TO_CHAR(TO_DATE(#{papoEndDttm}), 'YYYYMMDDHH24MI')
		)
		]]>
	</select>


	<!--
			Consulter un nouveau PK d'agent de permance !== 당직자 신규 PK 조회 ==!
	-->
	<select id="selectNewWtchrSrno" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo" resultType="java.lang.String">
		/* selectWtchrmgmtCnt */
		SELECT NVL((SELECT MAX(WTCHR_SRNO) FROM TB_POTI_WTCHR), 0) + 1 FROM DUAL
	</select>

	<!--
		 Enregistrer une fonction d'un agent de permanence par service !== 조직별 당직자 직무 등록 ==!
	 -->
	<insert id="insertWtchrmgmt" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo">
		/** insertWtchrmgmt */
		WITH UPSERT AS
		(
		UPDATE TB_POTI_WTCHR
		SET
			PBSR_NO = #{pbsrNo}
		  , FONC_CD = #{papoFoncCd}
			, RMRK = #{rmrk}
			, PAPO_STRT_DTTM = TO_DATE(#{papoStrtDttm})
			, PAPO_END_DTTM = TO_DATE(#{papoEndDttm})
			, DEL_YN = 'N'
			, LAST_CHPR_ID = #{lastChprId}
			, LAST_CHG_DTTM = SYSTIMESTAMP
		WHERE WTCHR_SRNO = #{wtchrSrno}
		RETURNING *
		)
		INSERT INTO TB_POTI_WTCHR
		(
		WTCHR_SRNO
		, PBSR_NO
		, FONC_CD
		, RMRK
		, PAPO_STRT_DTTM
		, PAPO_END_DTTM
		, DEL_YN
		, FRST_REGST_ID
		, FRST_RGSR_DTTM
		, LAST_CHPR_ID
		, LAST_CHG_DTTM
		)
		SELECT
		#{newWtchrSrno}
		, #{pbsrNo}
		, #{papoFoncCd}
		, #{rmrk}
		, TO_DATE(#{papoStrtDttm})
		, TO_DATE(#{papoEndDttm})
		, 'N'
		, #{frstRegstId}
		, SYSTIMESTAMP
		, #{lastChprId}
		, SYSTIMESTAMP
		WHERE NOT EXISTS(SELECT * FROM UPSERT)
	</insert>

	<!--
		 Supprimer un agent de permanence !== 당직자 삭제 ==!
	 -->
	<update id="deleteWtchrmgmt" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo">
		/** deleteWtchrmgmt */
		UPDATE TB_POTI_WTCHR
		SET
			  LAST_CHPR_ID = #{lastChprId}
			, LAST_CHG_DTTM = SYSTIMESTAMP
			, DEL_YN = 'Y'
		WHERE DEL_YN = 'N'
		AND   WTCHR_SRNO = #{wtchrSrno}
	</update>

	<!--
		 Enregistrer une fonction d'un agent de permanence par service !== 조직별 당직자 직무 등록 ==!
	 -->
	<insert id="insertWtchrFoncMgmt" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo">
		/** insertWtchrFoncMgmt */
		INSERT INTO TB_POTI_WTCHR_FONC_REL
		( ORGN_MGMT_CD
			, FONC_CD
			, DEL_YN
			, FRST_REGST_ID
			, FRST_RGSR_DTTM
			, LAST_CHPR_ID
			, LAST_CHG_DTTM)
		VALUES
			(
			#{orgnMgmtCd}
			, #{foncCd}
			, 'N'
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
			)
	</insert>

	<!--
		 Supprimer une fonction d'un agent de permanence par service !== 조직별 당직자 직무 삭제 ==!
	 -->
	<update id="deleteWtchrFoncMgmt" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo">
		/** deleteWtchrFoncMgmt */
		DELETE FROM TB_POTI_WTCHR_FONC_REL
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</update>

	<!--
		 Consulter une fonction d'un agent de permanence par service !== 조직별 당직자 직무 조회 ==!
	 -->
	<select id="selectWtchrFoncMgmt" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo"
		resultType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo">
		/* selectWtchrFoncMgmt */
		SELECT
			ORGN_MGMT_CD
			 , FONC_CD
			 , DEL_YN
			 , FRST_REGST_ID
			 , FRST_RGSR_DTTM
			 , LAST_CHPR_ID
			 , LAST_CHG_DTTM
		FROM TB_POTI_WTCHR_FONC_REL
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</select>

	<!-- Consulter une fonction d'un agent de permanence par service !== 조직별 당직자 직무 조회 ITEMVO ==! -->
	<select id="selectWtchrFoncCdItem" parameterType="alpass.ipt.pot.pm.wtchrmgmt.vo.PotPmWtchrmgmtVo"
		resultType="alpass.com.comn.vo.ComItemVo">
		/* selectWtchrFoncCdItem */
		SELECT
		    FONC_CD_NM AS ITEM_NM
		     , FONC_CD AS ITEM
		FROM
		    TB_POTI_FONC_CD_LANG
		WHERE
		    LANG_CD = #{langCd}
			AND FONC_CD IN (
												SELECT  FONC_CD
												FROM  TB_POTI_WTCHR_FONC_REL
												WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
										)

	</select>

	<!-- Consulter la liste des agents en permanence !== 당직자 목록(월) 조회 ==! -->
	<select id="selectEmailList" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo"
		resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo">
		/* selectWtchrFoncCdItem */
		SELECT
		    PBSR_NO, EML
		FROM TB_POTI_EMP
		WHERE
		  ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{pbsrNo})
			AND FONC_CD = FN_GET_EMP_DPHD_FONC((SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{pbsrNo}))
		UNION ALL
		SELECT
		    PBSR_NO, EML
		FROM TB_POTI_EMP
		WHERE PBSR_NO = #{pbsrNo}
	</select>
</mapper>
