<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.com.menu.mapper.ComMenuMapper">

  <!--
      번역필요 !==최상위 메뉴 목록을 조회한다==!
  -->
  <select id="selectTopMenuList" parameterType="alpass.ipt.com.menu.vo.ComMenuVo" resultType="alpass.ipt.com.menu.vo.ComMenuVo">
    /* selectTopMenuList */
    SELECT DISTINCT *
    FROM (SELECT DISTINCT *
    FROM (SELECT MENU_SRNO,
    HSRK_MENU_YN,
    MENU_INDC_ORDR,
    '{menuSrno: ''' || MENU_SRNO
    || ''', link: ''' || (SELECT SCRN.ACES_URL || NVL2(NVL(ACES_PRMT_NM, NULL), #{parameter} || ACES_PRMT_NM, '')
    FROM TB_COM_MENU_SCRN_REL SCRN_REL,
    TB_COM_SYS_SCRN SCRN
    WHERE SCRN_REL.SCRN_ID = SCRN.SCRN_ID
    AND SCRN_REL.DEL_YN = 'N'
    AND SCRN.DEL_YN = 'N'
    AND SCRN.USE_YN = 'Y'
    AND SCRN_REL.MENU_SRNO = A.MENU_SRNO)
    || ''', icon: ''' || MENU_ICON_NM
    || ''', menuNm: ''' || (SELECT REPLACE(MENU_NM, '''', '\''')
    FROM TB_COM_SYS_MENU_LANG
    WHERE DEL_YN = 'N'
    AND MENU_SRNO = A.MENU_SRNO
    AND LANG_CD = #{langCd}) || '''}' AS MENU_JSON_STR
    FROM TB_COM_SYS_MENU A
    WHERE A.USE_YN = 'Y'
    AND A.DEL_YN = 'N'
    START WITH A.HSRK_MENU_YN = 'N'
    <if test="pbsrNo == 'USER'">
      AND A.APP_CLSF_CD = #{appClsfCd}
    </if>
    <if test="pbsrNo != 'USER'">
      AND A.MENU_SRNO IN (

    <if test='sbstLgnYn == null or "N".equals(sbstLgnYn)'>
      SELECT MENU_REL.MENU_SRNO
      FROM TB_POTI_EMP_AUTH AUTH,
      TB_COM_ROLE_SCRN_REL SCRN_REL,
      TB_COM_MENU_SCRN_REL MENU_REL,
      TB_COM_SYS_MENU MENU
      WHERE AUTH.DEL_YN = 'N'
      AND AUTH.USE_YN = 'Y'
      AND SCRN_REL.DEL_YN = 'N'
      AND MENU_REL.DEL_YN = 'N'
      AND MENU.DEL_YN = 'N'
      AND MENU.USE_YN = 'Y'
      AND AUTH.ROLE_ID = SCRN_REL.ROLE_ID
      AND SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
      AND MENU_REL.MENU_SRNO = MENU.MENU_SRNO
      AND MENU.APP_CLSF_CD = #{appClsfCd}
      AND AUTH.PBSR_NO = #{pbsrNo}
      UNION ALL
      SELECT
      MENU_REL.MENU_SRNO
      FROM TB_POTI_ORGN_ROLE_REL AUTH,
      TB_COM_ROLE_SCRN_REL SCRN_REL,
      TB_COM_MENU_SCRN_REL MENU_REL,
      TB_COM_SYS_MENU MENU
      WHERE AUTH.DEL_YN = 'N'
      AND SCRN_REL.DEL_YN = 'N'
      AND MENU_REL.DEL_YN = 'N'
      AND MENU.DEL_YN = 'N'
      AND MENU.USE_YN = 'Y'
      AND AUTH.ROLE_ID = SCRN_REL.ROLE_ID
      AND SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
      AND MENU_REL.MENU_SRNO = MENU.MENU_SRNO
      AND AUTH.ORGN_MGMT_CD = #{orgnMgmtCd}
      AND MENU.APP_CLSF_CD = #{appClsfCd}
      AND (
      AUTH.FONC_CD = #{foncCd}
      OR AUTH.FONC_CD IN (
      SELECT FONC_CD FROM TB_POTI_WTCHR
      WHERE DEL_YN = 'N'
      AND PBSR_NO = #{pbsrNo}
      AND (
      TO_CHAR(SYSTIMESTAMP , 'YYYY-MM-DD HH24:MI:SS')
      BETWEEN PAPO_STRT_DTTM
      AND PAPO_END_DTTM
      )
      )
      )

      UNION ALL

      SELECT MENU_REL.MENU_SRNO
      FROM
      TB_COM_ROLE_SCRN_REL SCRN_REL,
      TB_COM_MENU_SCRN_REL MENU_REL,
      TB_COM_SYS_MENU MENU,
      TB_POTI_FONC_ROLE_REL FONC_REL,
      TB_POTI_EMP EMP
      WHERE
      SCRN_REL.DEL_YN = 'N'
      AND MENU_REL.DEL_YN = 'N'
      AND MENU.DEL_YN = 'N'
      AND MENU.USE_YN = 'Y'
      AND EMP.PBSR_NO = #{pbsrNo}
      AND EMP.FONC_CD = FONC_REL.FONC_CD
      AND FONC_REL.ROLE_ID  = SCRN_REL.ROLE_ID
      AND SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
      AND MENU_REL.MENU_SRNO = MENU.MENU_SRNO
      AND MENU.APP_CLSF_CD = #{appClsfCd}
    </if>
      <if test='sbstLgnYn != null and "Y".equals(sbstLgnYn)'>
        SELECT MENU_REL.MENU_SRNO
        FROM TB_COM_AUTH_MNDA_REL AUTH,
        TB_COM_ROLE_SCRN_REL SCRN_REL,
        TB_COM_MENU_SCRN_REL MENU_REL,
        TB_COM_SYS_MENU MENU
        WHERE AUTH.DEL_YN = 'N'
        AND SCRN_REL.DEL_YN = 'N'
        AND MENU_REL.DEL_YN = 'N'
        AND MENU.DEL_YN = 'N'
        AND MENU.USE_YN = 'Y'
        AND AUTH.ROLE_ID = SCRN_REL.ROLE_ID
        AND SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
        AND MENU_REL.MENU_SRNO = MENU.MENU_SRNO
        AND MENU.APP_CLSF_CD = #{appClsfCd}
        AND AUTH.MNDA_PBSR_NO = #{pbsrNo}
        AND AUTH.MNDA_TRGT_PBSR_NO = #{sbstId}
      </if>
      )
    </if>
    CONNECT BY PRIOR A.UPR_MENU_SRNO = A.MENU_SRNO
    ) A WHERE HSRK_MENU_YN = 'Y'
  )
  ORDER BY MENU_INDC_ORDR
  /* @formatter:on */
</select>

<!--
    번역필요 !==메뉴 목록을 조회한다==!
-->
  <select id="selectMenuList" parameterType="alpass.ipt.com.menu.vo.ComMenuVo" resultType="alpass.ipt.com.menu.vo.ComMenuVo">
    /** selectMenuList */
    SELECT DISTINCT *
    FROM (SELECT MENU_SRNO
    , '{
    uprMenuId: ''' || A.UPR_MENU_SRNO || ''',
    menuId: ''' || A.MENU_SRNO || ''',
    menuNm: ''' || (SELECT REPLACE(MENU_NM, '''', '\''')
    FROM TB_COM_SYS_MENU_LANG
    WHERE LANG_CD = #{langCd}
    AND MENU_SRNO = A.MENU_SRNO) || ''',
    acesUrl: ''' ||
    (SELECT SCRN.ACES_URL || NVL2(NVL(ACES_PRMT_NM, NULL), #{parameter} || ACES_PRMT_NM, '')
    FROM TB_COM_MENU_SCRN_REL SCRN_REL,
    TB_COM_SYS_SCRN SCRN
    WHERE SCRN_REL.SCRN_ID = SCRN.SCRN_ID
    AND SCRN_REL.DEL_YN = 'N'
    AND SCRN.DEL_YN = 'N'
    AND SCRN.USE_YN = 'Y'
    AND SCRN_REL.MENU_SRNO = A.MENU_SRNO) || ''',
    scrnId: ''' ||
    (SELECT SCRN.SCRN_ID
    FROM TB_COM_MENU_SCRN_REL SCRN_REL,
    TB_COM_SYS_SCRN SCRN
    WHERE SCRN_REL.SCRN_ID = SCRN.SCRN_ID
    AND SCRN_REL.DEL_YN = 'N'
    AND SCRN.DEL_YN = 'N'
    AND SCRN.USE_YN = 'Y'
    AND SCRN_REL.MENU_SRNO = A.MENU_SRNO) || ''',
    menuIcon: ''' || A.MENU_ICON_NM || '''},'                       AS MENU_JSON_STR
    /* , CONNECT_BY_ISLEAF                                      AS LEAF */
    , (SELECT NVL((LISTAGG(LPAD(MENU_INDC_ORDR, 2, '0'), '') WITHIN GROUP (ORDER BY LEVEL DESC)), '0') AS ORDR
    FROM TB_COM_SYS_MENU MENU
    WHERE MENU.USE_YN = 'Y'
    AND MENU.DEL_YN = 'N'
    START WITH MENU.HSRK_MENU_YN = 'N'
    AND MENU.MENU_SRNO = A.MENU_SRNO
    CONNECT BY PRIOR MENU.UPR_MENU_SRNO = MENU.MENU_SRNO) AS ORDR
    , HSRK_MENU_YN
    FROM TB_COM_SYS_MENU A
    WHERE A.USE_YN = 'Y'
    AND A.DEL_YN = 'N'
    START WITH A.HSRK_MENU_YN = 'N'
    AND A.MENU_SRNO IN
    (
    <if test='sbstLgnYn != null and "Y".equals(sbstLgnYn)'>
      SELECT MENU_REL.MENU_SRNO
      FROM TB_COM_AUTH_MNDA_REL AUTH,
      TB_COM_ROLE_SCRN_REL SCRN_REL,
      TB_COM_MENU_SCRN_REL MENU_REL,
      TB_COM_SYS_MENU MENU
      WHERE AUTH.DEL_YN = 'N'
      AND SCRN_REL.DEL_YN = 'N'
      AND MENU_REL.DEL_YN = 'N'
      AND MENU.DEL_YN = 'N'
      AND MENU.USE_YN = 'Y'
      AND AUTH.MNDA_PBSR_NO = #{pbsrNo}
      AND AUTH.MNDA_TRGT_PBSR_NO = #{sbstId}
      AND AUTH.ROLE_ID = SCRN_REL.ROLE_ID
      AND SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
      AND MENU_REL.MENU_SRNO = MENU.MENU_SRNO
      AND MENU.APP_CLSF_CD = #{appClsfCd}
      AND MENU.MENU_SRNO IN (SELECT MENU_SRNO
      FROM TB_COM_SYS_MENU
      START WITH MENU_SRNO = #{menuSrno}
      CONNECT BY PRIOR MENU_SRNO = UPR_MENU_SRNO)
    </if>
    <if test='sbstLgnYn == null or "N".equals(sbstLgnYn)'>
      SELECT MENU_REL.MENU_SRNO
      FROM TB_POTI_EMP_AUTH AUTH,
      TB_COM_ROLE_SCRN_REL SCRN_REL,
      TB_COM_MENU_SCRN_REL MENU_REL,
      TB_COM_SYS_MENU MENU
      WHERE AUTH.DEL_YN = 'N'
      AND AUTH.USE_YN = 'Y'
      AND SCRN_REL.DEL_YN = 'N'
      AND MENU_REL.DEL_YN = 'N'
      AND MENU.DEL_YN = 'N'
      AND MENU.USE_YN = 'Y'
      AND AUTH.ROLE_ID = SCRN_REL.ROLE_ID
      AND SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
      AND MENU_REL.MENU_SRNO = MENU.MENU_SRNO
      <if test="pbsrNo != 'USER'">
        AND AUTH.PBSR_NO = #{pbsrNo}
      </if>
      AND MENU.APP_CLSF_CD = #{appClsfCd}
      AND MENU.MENU_SRNO IN (SELECT MENU_SRNO
      FROM TB_COM_SYS_MENU
      START WITH MENU_SRNO = #{menuSrno}
      CONNECT BY PRIOR MENU_SRNO = UPR_MENU_SRNO)
      UNION ALL

    SELECT MENU_REL.MENU_SRNO
    FROM
    TB_COM_ROLE_SCRN_REL SCRN_REL,
    TB_COM_MENU_SCRN_REL MENU_REL,
    TB_COM_SYS_MENU MENU,
    TB_POTI_FONC_ROLE_REL FONC_REL,
    TB_POTI_EMP EMP
    WHERE
    SCRN_REL.DEL_YN = 'N'
    AND MENU_REL.DEL_YN = 'N'
    AND MENU.DEL_YN = 'N'
    AND MENU.USE_YN = 'Y'
    AND EMP.PBSR_NO = #{pbsrNo}
    AND EMP.FONC_CD = FONC_REL.FONC_CD
    AND FONC_REL.ROLE_ID  = SCRN_REL.ROLE_ID
    AND SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
    AND MENU_REL.MENU_SRNO = MENU.MENU_SRNO
    AND MENU.APP_CLSF_CD = #{appClsfCd}
    AND MENU.MENU_SRNO IN (SELECT MENU_SRNO
    FROM TB_COM_SYS_MENU
    START WITH MENU_SRNO = #{menuSrno}
    CONNECT BY PRIOR MENU_SRNO = UPR_MENU_SRNO)
    UNION ALL
    SELECT MENU_REL.MENU_SRNO
    FROM TB_POTI_ORGN_ROLE_REL AUTH,
    TB_COM_ROLE_SCRN_REL SCRN_REL,
    TB_COM_MENU_SCRN_REL MENU_REL,
    TB_COM_SYS_MENU MENU
    WHERE AUTH.DEL_YN = 'N'
    AND SCRN_REL.DEL_YN = 'N'
    AND MENU_REL.DEL_YN = 'N'
    AND MENU.DEL_YN = 'N'
    AND MENU.USE_YN = 'Y'
    AND AUTH.ROLE_ID = SCRN_REL.ROLE_ID
    AND SCRN_REL.SCRN_ID = MENU_REL.SCRN_ID
    AND MENU_REL.MENU_SRNO = MENU.MENU_SRNO
    AND AUTH.ORGN_MGMT_CD = #{orgnMgmtCd}
    AND MENU.APP_CLSF_CD = #{appClsfCd}
    AND (
    AUTH.FONC_CD = #{foncCd}
    OR AUTH.FONC_CD IN
    (
    SELECT FONC_CD FROM TB_POTI_WTCHR
    WHERE DEL_YN = 'N'
    AND PBSR_NO = #{pbsrNo}
    AND
    (
    TO_CHAR(SYSTIMESTAMP , 'YYYY-MM-DD HH24:MI:SS')
    BETWEEN PAPO_STRT_DTTM
    AND PAPO_END_DTTM
    )
    )
    )
    AND MENU.MENU_SRNO IN (SELECT MENU_SRNO
    FROM TB_COM_SYS_MENU
    START WITH MENU_SRNO = #{menuSrno}
    CONNECT BY PRIOR MENU_SRNO = UPR_MENU_SRNO)
    </if>
    )
    CONNECT BY PRIOR A.UPR_MENU_SRNO = A.MENU_SRNO) A
    WHERE HSRK_MENU_YN = 'N'
    ORDER BY ORDR
  </select>

</mapper>
