<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.com.main.mapper.ComNtcMtrMapper">

  <!--
		 번역필요 !==공지시항 목록을 조회한다.==!
	 -->
  <select id="selectNtcMtrList" parameterType="alpass.ipt.com.main.vo.ComNtcMtrVo" resultType="alpass.ipt.com.main.vo.ComNtcMtrVo">
    <include refid="pagination.header"/>
    /*+ selectNtcMtrList */
    SELECT
        A.NTC_MTR_SRNO,
          A.TRGT_APP_CLSF_CD,
          B.ORGN_MGMT_CD,
          A.NTC_TP_CD,
          A.NTC_TTLE,
          A.NTC_CN,
          A.MDPN_ID,
          (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM,
          TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM,
          A.INQT_CNT,
          A.PRTL_BLTN_YN,
          A.APRV_ID,
          A.ATCH_FILE_ID,
          A.DEL_YN,
          A.FRST_REGST_ID,
          A.FRST_RGSR_DTTM,
          A.LAST_CHPR_ID,
          A.LAST_CHG_DTTM,
          A.ORIG_NM
    FROM TB_POTI_NTC_MTR A, TB_POTI_NTC_MTR_ORGN B
    WHERE A.NTC_MTR_SRNO = B.NTC_MTR_SRNO(+)
    AND A.DEL_YN = 'N'
    AND A.IPT_NTC_YN = 'Y'
    AND A.PRTL_BLTN_YN = 'Y'
    AND SYSDATE BETWEEN TO_DATE(A.NTC_BLTN_STRT_DD, 'DDMMYYYY') AND TO_DATE(A.NTC_BLTN_END_DD, 'DDMMYYYY')+1
    <if test='indivYn == "Y"'>
      AND B.ORGN_MGMT_CD IN (#{orgnMgmtCd})
    </if>
    <if test='indivYn == "N"'>
      AND B.ORGN_MGMT_CD IS NULL
    </if>
    ORDER BY A.NTC_MTR_SRNO DESC
    <include refid="pagination.footer"/>
  </select>

  <!--
		 번역필요 !==공지시항 읽음횟수를 증가시킨다==!
	 -->
  <update id="updateViewNtcmtr" parameterType="alpass.ipt.com.main.vo.ComNtcMtrVo">
    /* updateViewNtcmtr */
    UPDATE  TB_POTI_NTC_MTR SET
      INQT_CNT = INQT_CNT+1
    WHERE	NTC_MTR_SRNO = #{ntcMtrSrno}
  </update>

  <!--
      번역필요 !==긴급 공지시항 목록을 조회한다.==!
  -->
  <select id="selectEmrgNtcList" resultType="alpass.ipt.com.main.vo.ComNtcMtrVo">
    /* selectEmrgNtcList */
    SELECT A.*
    FROM (SELECT
            A.NTC_MTR_SRNO,
            A.TRGT_APP_CLSF_CD,
            B.ORGN_MGMT_CD,
            A.NTC_TP_CD,
            A.NTC_TTLE,
            A.NTC_CN,
            A.MDPN_ID,
            (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM,
            TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS MAKE_DTTM,
            A.INQT_CNT,
            A.PRTL_BLTN_YN,
            A.PPUP_BLTN_YN,
            A.EMRG_NTC_YN,
            A.APRV_ID,
            A.ATCH_FILE_ID,
            A.DEL_YN,
            A.FRST_REGST_ID,
            A.FRST_RGSR_DTTM,
            A.LAST_CHPR_ID,
            A.LAST_CHG_DTTM,
            A.ORIG_NM
          FROM TB_POTI_NTC_MTR A,
               TB_POTI_NTC_MTR_ORGN B
          WHERE A.NTC_MTR_SRNO = B.NTC_MTR_SRNO(+)
            AND A.DEL_YN = 'N'
            AND A.IPT_NTC_YN = 'Y'
            AND A.PRTL_BLTN_YN = 'Y'
            AND A.EMRG_NTC_YN = 'Y'
            AND A.NTC_CNCL_YN = 'N'
            AND SYSDATE BETWEEN TO_DATE(A.NTC_BLTN_STRT_DD, 'DDMMYYYY') AND TO_DATE(A.NTC_BLTN_END_DD, 'DDMMYYYY')+1
          ORDER BY A.NTC_MTR_SRNO DESC) A
    WHERE ROWNUM <![CDATA[ <= ]]> 6
    ORDER BY A.NTC_MTR_SRNO
  </select>

</mapper>
