<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.com.user.mapper.ComUserRoleMapper">

  <!--
      번역필요 !==권한에 매핑된 리소스(자원, URL) 목록을 조회한다==!
  -->
  <select id="selectResourceAuthorityList" resultType="alpass.ipt.com.user.vo.ComScrnRoleVo" fetchSize="5000">
    /** selectResourceAuthorityList */
    SELECT A.ROLE_ID,
           B.ACES_URL
    FROM TB_COM_ROLE_SCRN_REL A,
         TB_COM_SYS_SCRN B
    WHERE A.SCRN_ID = B.SCRN_ID
      AND A.DEL_YN = 'N'
      AND B.DEL_YN = 'N'
      AND B.ACES_URL IS NOT NULL
  </select>

</mapper>
