<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.clr.pec.fea.mapper.ClrLclrAudtMgmtMapper">
<!-- alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo -->

    <!--
    Consultation de la liste de fret express !== 목록통관 목록 조회 ==!
    (김재기)
    -->
    <select id="selectClrLclrAudtList" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo" resultType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
			/* selectClrLclrRqstList !== 목록통관 목록 조회 ==!*/
			<include refid="pagination.header" />
			WITH TXPR_IDFY AS (
					SELECT C.USER_ID,
						A.NIF,
						A.CO_DCLR_CD,
						A.CO_DCLR_TP_CD,
						A.CARR_CD,
						B.CO_NM,
						B.co_addr
					FROM TB_COM_CO_DCLR_CD A,
						TB_COM_CO B,
						TB_COM_CO_USER C
					WHERE 1=1
					AND A.NIF = B.NIF
					AND B.NIF = C.NIF
					AND A.USE_YN = 'Y'
					AND A.DEL_YN = 'N'
					AND B.DEL_YN = 'N'
					AND C.DEL_YN = 'N'
			)
			SELECT TO_CHAR(TO_DATE(RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RQST_DT -- 제출일자
				, LST_CSCL_RQST_NO -- 제출일련번호
				, EXPR_CO_CD -- 특송업체 코드
				, EXPR_CO_NM -- 특송업체명
				, SHIP_HDNG_NM -- 선박편명
				, EXTRC_CNTY_CD -- 적출국
				, EXTRC_CNTY_CD || ' | ' || FN_GET_CNTY_NM(EXTRC_CNTY_CD, #{langCd}) AS EXTRC_CNTY_NM  -- 적출국명
				, MBL_NO -- MASTER B/L NO
				, TO_CHAR(TO_DATE(ETPR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ETPR_DT -- 입항일자
				, (SELECT COUNT(*) FROM ALPASSINT.TB_CLRI_LST_CSCL_AUDT_DTL B WHERE B.LST_CSCL_RQST_NO = A.LST_CSCL_RQST_NO) AS RQST_CNT -- 신청건수
				, PRCS_STTS_CD -- 처리상태
				, (CASE WHEN PRCS_STTS_CD IN ('D','E','F') THEN audt_rslt_cd else '' END) AS audt_rslt_cd  -- 심사결과 
				, (CASE WHEN PRCS_STTS_CD IN ('D','E','F') THEN (SELECT MAX(cstm_wrte_cn) FROM ALPASSINT.TB_CLRI_LST_CSCL_AUDT_DTL B WHERE B.LST_CSCL_RQST_NO = A.LST_CSCL_RQST_NO) else '' END) AS cstm_wrte_cn -- 세관기재내용
				, (CASE WHEN (SELECT COUNT(*) AS CNT 
						FROM ALPASSEXT.tb_clre_lst_cscl_COMN 
						WHERE DEL_YN = 'N' 
						AND LST_CSCL_RQST_NO = A.LST_CSCL_RQST_NO
						AND PRCS_STTS_CD = A.PRCS_STTS_CD
						AND PRCS_STTS_CD NOT IN ('B', 'C', 'G') 
					) > 0 THEN 'Y' ELSE 'N' END) AS SEND_YN
				, A.AUDT_EMP_ID
				, B.NIF AS TXPR_IDFY_NO
			FROM ALPASSINT.TB_CLRI_LST_CSCL_AUDT_COMN A, TXPR_IDFY B
			WHERE A.DEL_YN = 'N'
		    AND A.EXPR_CO_CD = B.CO_DCLR_CD(+)
			<if test="rqstDtFrom != null and rqstDtTo != null and rqstDtFrom != '' and rqstDtTo != ''">
			AND RQST_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
			</if>
			<if test="lstCsclRqstNo != null and lstCsclRqstNo != ''">
			AND LST_CSCL_RQST_NO like '%'||#{lstCsclRqstNo}||'%'
			</if>
			<if test="exprCoCd != null and exprCoCd != ''">
			AND EXPR_CO_CD = #{exprCoCd}
			</if>
			<if test="shipHdngNm != null and shipHdngNm != ''">
			AND SHIP_HDNG_NM like '%'||#{shipHdngNm}||'%'
			</if>
			<if test="extrcCntyCd != null and extrcCntyCd != ''">
			AND EXTRC_CNTY_CD = #{extrcCntyCd}
			</if>
			<if test="mblNo != null and mblNo != ''">
			AND MBL_NO like '%'||#{mblNo}||'%'
			</if>
			<if test="etprDtFrom != null and etprDtTo != null and etprDtFrom != '' and etprDtTo != ''">
			AND ETPR_DT BETWEEN TO_CHAR(TO_DATE(#{etprDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(#{etprDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
			</if>
			<if test="prcsSttsCd != null and prcsSttsCd != ''">
			AND PRCS_STTS_CD = #{prcsSttsCd}
			</if>
			<if test="audtEmpId != null and audtEmpId != ''">
			AND audt_emp_id = #{audtEmpId}
			</if>
			ORDER BY A.RQST_DT, A.LST_CSCL_RQST_NO
			<include refid="pagination.footer" />
    </select>

    <!--
    Consultation de la liste des données de fret express téléchargées sous forme de fichier excel !== 목록통관 엑셀다운로드목록 조회 ==!
    (김재기)
    -->
    <select id="selectClrLclrAudtExcelList" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo" resultType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
			/* selectClrLclrRqstExcelList !== 목록통관 엑셀다운로드목록 조회 ==!*/
			SELECT TO_CHAR(TO_DATE(RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RQST_DT -- 제출일자
				, LST_CSCL_RQST_NO -- 제출일련번호
				, EXPR_CO_CD -- 특송업체 코드
				, EXPR_CO_NM -- 특송업체명
				, SHIP_HDNG_NM -- 선박편명
				, EXTRC_CNTY_CD -- 적출국
				, MBL_NO -- MASTER B/L NO
				, TO_CHAR(TO_DATE(ETPR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ETPR_DT -- 입항일자
				, (SELECT COUNT(*) FROM ALPASSINT.TB_CLRI_LST_CSCL_AUDT_DTL B WHERE B.LST_CSCL_RQST_NO = A.LST_CSCL_RQST_NO) AS RQST_CNT -- 신청건수
				, PRCS_STTS_CD -- 처리상태
				, (CASE WHEN PRCS_STTS_CD IN ('D','E') THEN audt_rslt_cd else '' END) AS audt_rslt_cd  -- 심사결과 
				, (CASE WHEN PRCS_STTS_CD IN ('D','E') THEN audt_rslt_cn else '' END) AS audt_rslt_cn -- 심사결과 내용
				, (CASE WHEN PRCS_STTS_CD IN ('D','E') THEN (SELECT MAX(cstm_wrte_cn) FROM ALPASSINT.TB_CLRI_LST_CSCL_AUDT_DTL B WHERE B.LST_CSCL_RQST_NO = A.LST_CSCL_RQST_NO) else '' END) AS cstm_wrte_cn -- 세관기재내용
			FROM ALPASSINT.TB_CLRI_LST_CSCL_AUDT_COMN A
			WHERE A.DEL_YN = 'N'
			<if test="rqstDtFrom != null and rqstDtTo != null and rqstDtFrom != '' and rqstDtTo != ''">
			AND RQST_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
			</if>
			<if test="lstCsclRqstNo != null and lstCsclRqstNo != ''">
			AND LST_CSCL_RQST_NO like '%'||#{lstCsclRqstNo}||'%'
			</if>
			<if test="exprCoCd != null and exprCoCd != ''">
			AND EXPR_CO_CD = #{exprCoCd}
			</if>
			<if test="shipHdngNm != null and shipHdngNm != ''">
			AND SHIP_HDNG_NM like '%'||#{shipHdngNm}||'%'
			</if>
			<if test="extrcCntyCd != null and extrcCntyCd != ''">
			AND EXTRC_CNTY_CD = #{extrcCntyCd}
			</if>
			<if test="mblNo != null and mblNo != ''">
			AND MBL_NO like '%'||#{mblNo}||'%'
			</if>
			<if test="etprDtFrom != null and etprDtTo != null and etprDtFrom != '' and etprDtTo != ''">
			AND ETPR_DT BETWEEN TO_CHAR(TO_DATE(#{etprDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(#{etprDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
			</if>
			<if test="prcsSttsCd != null and prcsSttsCd != ''">
			AND PRCS_STTS_CD = #{prcsSttsCd}
			</if>
			<if test="audtEmpId != null and audtEmpId != ''">
			AND audt_emp_id = #{audtEmpId}
			</if>
			ORDER BY A.RQST_DT, A.LST_CSCL_RQST_NO
    </select>

    <!--
    Saisie des résultats du contrôle du fret express !== 목록통관 심사 결과 입력 ==!
    (김재기)
    -->
    <update id="updateClrLclrAudt" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
			/* updateClrLclrAudt */
			UPDATE ALPASSINT.TB_CLRI_LST_CSCL_AUDT_COMN
			set  prcs_stts_cd = #{prcsSttsCd}		/** !== 처리상태코드 ==! */
				, audt_emp_id = #{audtEmpId}
				, audt_rslt_cd = #{audtRsltCd}
				, audt_rslt_cn = NVL(#{audtRsltCn}, fn_get_cd_vdval_nm('CLR_0121',#{audtRsltCd},#{langCd})) /** Résultat de la vérification  !== 심사결과 ==! CLR_0029 > CLR_0121 */
				, audt_prcs_dttm = SYSTIMESTAMP
				, LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
				, LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
			where lst_cscl_rqst_no = #{lstCsclRqstNo}	/** N° de demande de fret express !== 목록통관신청번호 ==! */
    </update>
    
    <!--
    Saisie des résultats détaillés du contrôle du fret express !== 목록통관 심사 결과 상세 입력 ==!
    (김재기)
    -->
    <update id="updateClrLclrAudtDtl" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
			/* updateClrLclrAudtDtl */
			UPDATE ALPASSINT.TB_CLRI_LST_CSCL_AUDT_DTL
			set  prcs_stts_cd = #{prcsSttsCd}		/** !== 처리상태코드 ==! */
				, cstm_wrte_cn = #{cstmWrteCn}
				, audt_emp_id = #{audtEmpId}
				, audt_rslt_cd = #{audtRsltCd}
				, audt_rslt_cn = NVL(#{audtRsltCn}, fn_get_cd_vdval_nm('CLR_0121',#{audtRsltCd},#{langCd})) /** Résultat de la vérification  !== 심사결과 ==! CLR_0029 > CLR_0121 */
				, audt_prcs_dttm = SYSTIMESTAMP
				, LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
				, LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
			where lst_cscl_rqst_no = #{lstCsclRqstNo}	/** N° de demande de fret express !== 목록통관신청번호 ==! */
    </update>

    <!--
    Envoi des résultats du contrôle du fret express !== 목록통관 심사 결과 전송 ==!
    (김재기)
    -->
    <update id="sendClrLclrAudt" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
			/* sendClrLclrAudt */
			WITH upset AS (
				UPDATE ALPASSINT.TB_CLRI_LST_CSCL_AUDT_COMN
				set  prcs_stts_cd = #{prcsSttsCd}		/** !== 처리상태코드 ==! */
					, audt_emp_id = #{audtEmpId}
					, audt_rslt_cd = #{audtRsltCd}
					, audt_rslt_cn = NVL(#{audtRsltCn}, fn_get_cd_vdval_nm('CLR_0121',#{audtRsltCd},#{langCd})) /** Résultat de la vérification  !== 심사결과 ==! CLR_0029 > CLR_0121 */
					, audt_prcs_dttm = SYSTIMESTAMP
					, LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
					, LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
				where lst_cscl_rqst_no = #{lstCsclRqstNo}	/** N° de demande de fret express !== 목록통관신청번호 ==! */
			RETURNING *
			)
			UPDATE ALPASSEXT.tb_clre_lst_cscl_comn A
			set  A.prcs_stts_cd = B.prcs_stts_cd		/** !== 처리상태코드 ==! */
				, A.LAST_CHPR_ID = B.LAST_CHPR_ID	/** ID du modificateur final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
			FROM upset B
			WHERE A.lst_cscl_rqst_no = B.lst_cscl_rqst_no /** N° de demande de fret express !== 목록통관신청번호 ==! */
    </update>

    <!--
    Envoi des résultats détaillés du contrôle du fret express !== 목록통관 심사 결과 상세 전송 ==!
    (김재기)
    -->
    <update id="sendClrLclrAudtDtl" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
			/* sendClrLclrAudtDtl */
			WITH upset AS (
				UPDATE ALPASSINT.TB_CLRI_LST_CSCL_AUDT_DTL
				set  prcs_stts_cd = #{prcsSttsCd}		/** !== 처리상태코드 ==! */
					, cstm_wrte_cn = #{cstmWrteCn}
					, audt_emp_id = #{audtEmpId}
					, audt_rslt_cd = #{audtRsltCd}
					, audt_rslt_cn = NVL(#{audtRsltCn}, fn_get_cd_vdval_nm('CLR_0121',#{audtRsltCd},#{langCd})) /** Résultat de la vérification  !== 심사결과 ==! CLR_0029 > CLR_0121 */
					, audt_prcs_dttm = SYSTIMESTAMP
					, LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
					, LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
				where lst_cscl_rqst_no = #{lstCsclRqstNo}	/** N° de demande de fret express !== 목록통관신청번호 ==! */
			RETURNING *
			)
			UPDATE ALPASSEXT.tb_clre_lst_cscl_dtl A
			set  A.prcs_stts_cd = B.prcs_stts_cd		/** !== 처리상태코드 ==! */
				, A.cstm_wrte_cn = B.cstm_wrte_cn
				, A.LAST_CHPR_ID = B.LAST_CHPR_ID	/** ID du modificateur final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
			FROM upset B
			WHERE A.lst_cscl_rqst_no = B.lst_cscl_rqst_no /** N° de demande de fret express !== 목록통관신청번호 ==! */
    </update>

    <!--
    Consultation de la liste des détails de fret express !== 목록통관 상세목록 조회 ==!
    (김재기)
    -->
    <select id="selectClrLclrAudtDtlList" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo" resultType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
        /* selectClrLclrAudtDtlList !== 목록통관 상세목록 조회 ==!*/
		WITH TXPR_IDFY AS (
			SELECT C.USER_ID,
				   A.NIF,
				   A.CO_DCLR_CD,
				   A.CO_DCLR_TP_CD,
				   A.CARR_CD,
				   B.CO_NM,
				   B.co_addr
			FROM TB_COM_CO_DCLR_CD A,
				 TB_COM_CO B,
				 TB_COM_CO_USER C
			WHERE 1=1
			  AND A.NIF = B.NIF
			  AND B.NIF = C.NIF
			  AND A.USE_YN = 'Y'
			  AND A.DEL_YN = 'N'
			  AND B.DEL_YN = 'N'
			  AND C.DEL_YN = 'N'
		)
		SELECT A.LST_CSCL_RQST_NO -- 제출일련번호
			, TO_CHAR(TO_DATE(B.RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RQST_DT -- 제출일자
			, B.RQST_CSTM_CD -- 신청세관코드
			, B.TRSN_TP_CD -- 전송구분코드
			, B.EXPR_CO_CD -- 특송업체 코드
			, B.EXPR_CO_NM -- 특송업체명
			, B.SHIP_HDNG_NM -- 선박편명
			, B.EXTRC_CNTY_CD -- 적출국
			, B.MBL_NO -- MASTER B/L NO
			, TO_CHAR(TO_DATE(B.ETPR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ETPR_DT -- 입항일자
			, A.SRNO -- 일련번호
			, A.LCLR_PRCS_TP_CD -- 목록통관처리구분코드
			, A.HBL_NO -- HBL번호
			, A.TRNP_TDR_CD -- 운송업자코드
			, A.HS_CD -- HS코드
			, A.SNDR_NM -- 발송자명
			, A.SNDR_ADDR -- 발송자주소
			, A.SNDR_TLPH_NO -- 발송자전화번호
			, A.CNSI_IDFY_SGN -- 수하인식별부호
			, A.CNSI_NM -- 수하인명
			, A.CNSI_ADDR -- 수하인주소
			, A.CNSI_TLPH_NO -- 수하인전화번호
			, A.CNSI_POST_NO -- 수하인우편번호
			, A.CMDT_NM -- 물품명
			, A.STSZ_NM -- 규격명
			, A.PCKG_QTY -- 포장수량
			, A.QTY -- 수량
			, A.WGHT -- 중량
			, A.CMDT_AMT -- 물품금액
			, A.SEND_CNTY_CD -- 발송국가코드
			, A.USG_TP_CD -- 용도구분코드
			, A.DLNG_CD -- 거래코드
			, A.ELCT_BSTN_SITE_ADDR -- 전자상거래사이트주소
			, A.ELCT_BSTN_CO_DCLR_NO -- 전자상거래업체신고번호
			, A.CSTM_WRTE_CN -- 세관기재내용
			, A.BAR_CD_CN -- BAR코드내용
			, A.BAR_CD_TRSN_DTTM -- BAR코드전송일시
			, A.SIMP_CSCL_TRGT_YN -- 간이통관대상여부
			, A.SIMP_CSCL_TAX_AMT -- 간이통관세금금액
			, A.GNRL_CSCL_TRGT_YN -- 일반통관대상여부
			, A.PRCS_STTS_CD -- 처리상태코드
			, A.wkng_pt_cd	/** Type d'opér !== 작업유형 ==! */
			, A.cmdt_amt_dzd	/** Valeur de marchandise (DZD) !== 물품가격(DZD) ==! */
			, A.audt_emp_id
			, A.audt_rslt_cd
			, A.audt_rslt_cn
			, A.audt_prcs_dttm
			, (CASE WHEN (SELECT COUNT(*) AS CNT 
					FROM ALPASSEXT.tb_clre_lst_cscl_dtl 
					WHERE DEL_YN = 'N' 
					AND LST_CSCL_RQST_NO = A.LST_CSCL_RQST_NO
					AND srno = A.srno
					AND hbl_no = A.hbl_no
					AND PRCS_STTS_CD = A.PRCS_STTS_CD
					AND PRCS_STTS_CD NOT IN ('B', 'C', 'G') 
				) > 0 THEN 'Y' ELSE 'N' END) AS SEND_YN
	 		, (CASE WHEN (SELECT COUNT(*) AS CNT 
						FROM tb_clri_otrq_prcs_hist
						WHERE DEL_YN = 'N' 
						AND otrq_tp_cd = '40'
						AND otrq_reff_no = A.LST_CSCL_RQST_NO
						and otrq_asst_reff_no = A.hbl_no
						AND reqst_stts_cd = 'F'
					) > 0 OR A.prcs_stts_cd IN ('F','G') THEN 'Y' ELSE 'N' END) AS SPLM_YN
			, A.cag_mgmt_no  /** Crn !== 화물관리번호 ==! */
			, A.arlc_ibobz_cd	/** Code De Zone Sous Douane De Destination !== 도착지보세구역코드 ==! */
			, C.NIF AS TXPR_IDFY_NO
			, (SELECT REFF_NO_PT_CD FROM TB_COLI_NTFC D WHERE D.REFF_NO = A.LST_CSCL_RQST_NO || '-' || A.SRNO AND DEL_YN ='N' AND CNCL_YN ='N') REFF_NO_PT_CD
		FROM TB_CLRI_LST_CSCL_AUDT_DTL A
			, TB_CLRI_LST_CSCL_AUDT_COMN B
			, TXPR_IDFY C
		WHERE A.LST_CSCL_RQST_NO = B.LST_CSCL_RQST_NO 
		AND A.LST_CSCL_RQST_NO = #{lstCsclRqstNo}
		AND B.EXPR_CO_CD = C.CO_DCLR_CD(+)
		AND A.DEL_YN = 'N'
		AND B.DEL_YN = 'N'
        ORDER BY A.SRNO, A.LST_CSCL_RQST_NO
    </select>
    
    <!--
    Saisie des résultats détaillés du contrôle du fret express !== 목록통관 심사 결과 상세 입력 ==!
    (김재기)
    -->
    <update id="updateClrLclrDtlAudtDtl" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
			/* updateClrLclrDtlAudtDtl */
			UPDATE ALPASSINT.TB_CLRI_LST_CSCL_AUDT_DTL
			set  prcs_stts_cd = #{prcsSttsCd}		/** !== 처리상태코드 ==! */
				, cstm_wrte_cn = #{cstmWrteCn}
				, audt_emp_id = #{audtEmpId}
				, audt_rslt_cd = #{audtRsltCd}
				, audt_rslt_cn = NVL(#{audtRsltCn}, fn_get_cd_vdval_nm('CLR_0121',#{audtRsltCd},#{langCd})) /** Résultat de la vérification  !== 심사결과 ==! CLR_0029 > CLR_0121 */
				, audt_prcs_dttm = SYSTIMESTAMP
				, LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
				, LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
			where lst_cscl_rqst_no = #{lstCsclRqstNo}	/** N° de demande de fret express !== 목록통관신청번호 ==! */
			and srno = #{srno}
    </update>

    <!--
    Envoi des résultats détaillés du contrôle du fret express !== 목록통관 심사 결과 상세 전송 ==!
    (김재기)
    -->
    <update id="sendClrLclrDtlAudtDtl" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
			/* sendClrLclrDtlAudtDtl */
			WITH upset AS (
				UPDATE ALPASSINT.TB_CLRI_LST_CSCL_AUDT_DTL
				set  prcs_stts_cd = #{prcsSttsCd}		/** !== 처리상태코드 ==! */
					, cstm_wrte_cn = #{cstmWrteCn}
					, audt_emp_id = #{audtEmpId}
					, audt_rslt_cd = #{audtRsltCd}
					, audt_rslt_cn = NVL(#{audtRsltCn}, fn_get_cd_vdval_nm('CLR_0121',#{audtRsltCd},#{langCd})) /** Résultat de la vérification  !== 심사결과 ==! CLR_0029 > CLR_0121 */
					, audt_prcs_dttm = SYSTIMESTAMP
					, LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
					, LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
				where lst_cscl_rqst_no = #{lstCsclRqstNo}	/** N° de demande de fret express !== 목록통관신청번호 ==! */
				and srno = #{srno}
			RETURNING *
			)
			UPDATE ALPASSEXT.tb_clre_lst_cscl_dtl A
			set  A.prcs_stts_cd = B.prcs_stts_cd		/** !== 처리상태코드 ==! */
				, A.cstm_wrte_cn = B.cstm_wrte_cn
				, A.LAST_CHPR_ID = B.LAST_CHPR_ID	/** ID du modificateur final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
			FROM upset B
			WHERE A.lst_cscl_rqst_no = B.lst_cscl_rqst_no /** N° de demande de fret express !== 목록통관신청번호 ==! */
			and A.srno = B.srno
    </update>

  <!--
  Consultation de la liste de l'historique de fret express !== 목록통관 이력 목록 조회 ==!
  (김재기)
  -->
  <select id="selectClrPostPrcsHistList" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo" resultType="alpass.ipt.clr.pec.fea.vo.ClrOtrqPrcsHistVo">
		/* selectClrPostPrcsHistList !== 목록통관 이력 목록 조회 ==!*/
		SELECT otrq_tp_cd
			, otrq_reff_no
			, otrq_asst_reff_no
			, prcs_srno
			, reqst_stts_cd
			, reqst_rslt_cd
			, prcs_qry_cn
			, cmpl_stts_cd
			, cmpl_rslt_cd
			, prcs_tkac_cn
			, atch_file_id
			, splm_stts_cd
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
		FROM tb_clri_otrq_prcs_hist
		WHERE DEL_YN = 'N'
		and otrq_tp_cd = '40'
		AND otrq_reff_no = #{lstCsclRqstNo}
		AND otrq_asst_reff_no = #{hblNo}
		ORDER BY prcs_srno
  </select>	
  
  <!--
  Sauvegarde de l'historique du contrôle du fret express !== 목록 통관 심사 이력 저장 ==!
  (김재기)
  -->
	<insert id="insertClrOtrqPrcsHist" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
		/* insertClrOtrqPrcsHist !== 우편물 통관 심사 이력 저장 ==!*/
		INSERT INTO tb_clri_otrq_prcs_hist (
			otrq_tp_cd
			, otrq_reff_no
			, otrq_asst_reff_no
			, prcs_srno
			, reqst_stts_cd
			, reqst_rslt_cd
			, prcs_qry_cn
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
		)
		SELECT '40' as otrq_tp_cd
			, lst_cscl_rqst_no as otrq_reff_no
			, hbl_no AS otrq_asst_reff_no
			, (SELECT NVL(MAX(prcs_srno),0) + 1
					from tb_clri_otrq_prcs_hist
					where otrq_tp_cd = '40'
					and otrq_reff_no = A.lst_cscl_rqst_no
					and otrq_asst_reff_no = A.hbl_no
				) AS prcs_srno
			, a.prcs_stts_cd as reqst_stts_cd
			, a.audt_rslt_cd as reqst_rslt_cd
			, audt_rslt_cn as prcs_qry_cn
			, 'N' as del_yn
			, #{lastChprId} as frst_regst_id	/** ID du premier enregistrant  !== 최초등록자ID ==! */
			, SYSTIMESTAMP as frst_rgsr_dttm		/** Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, #{lastChprId} as last_chpr_id		/** ID du modificateur final !== 최종변경자ID ==! */
			, SYSTIMESTAMP as last_chg_dttm		/** Date et heure de modification finale !== 최종변경일시 ==! */
		FROM TB_CLRI_LST_CSCL_AUDT_DTL A
		WHERE DEL_YN = 'N'
		AND lst_cscl_rqst_no = #{lstCsclRqstNo}
		AND hbl_no = #{hblNo}
	</insert>
  
  <!--
  Sauvegarde de contenu de traitement de contrôle de fret express !== 목록 통관 심사 처리내용 저장 ==!
  (김재기)
  -->
	<update id="updateClrOtrqPrcsHist" parameterType="alpass.ipt.clr.pec.fea.vo.ClrOtrqPrcsHistVo">
		/* updateClrOtrqPrcsHist !== 우편물 통관 심사 처리내용 저장 ==!*/
		update tb_clri_otrq_prcs_hist
		set cmpl_stts_cd = #{cmplSttsCd}
			, cmpl_rslt_cd = #{cmplRsltCd} 
			, prcs_tkac_cn = #{prcsTkacCn}
			, atch_file_id = #{atchFileId} 
			, splm_stts_cd = #{splmSttsCd} 
			, DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
			, LAST_CHPR_ID = #{lastChprId}			/** ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP			/** Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE otrq_tp_cd = '40'
		and otrq_reff_no = #{otrqReffNo}
		and otrq_asst_reff_no = #{otrqAsstReffNo}
		and prcs_srno = (SELECT NVL(MAX(prcs_srno),1) from alpassint.tb_clri_otrq_prcs_hist where otrq_tp_cd = '40' and otrq_reff_no = #{otrqReffNo} and otrq_asst_reff_no = #{otrqAsstReffNo}) 
	</update>
	
  <!--
  Sauvegarde de l'historique de fret express !==목록통관 이력 저장 ==!
  (김재기)
  -->
	<insert id="insertClrLclrComnHist" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
		insert into tb_clri_lst_cscl_audt_comn_h (
			lst_cscl_rqst_no
			, hist_srno
			, rqst_dt
			, rqst_cstm_cd
			, trsn_tp_cd
			, expr_co_cd
			, expr_co_nm
			, ship_hdng_nm
			, extrc_cnty_cd
			, etpr_dt
			, mbl_no
			, dept_cd
			, audt_emp_id
			, audt_rslt_cd
			, audt_rslt_cn
			, audt_prcs_dttm
			, prcs_stts_cd
			, ador_hnot_prcs_yn
			, atch_file_id
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
		)
		select lst_cscl_rqst_no
			, (select nvl(max(hist_srno),0) + 1 from tb_clri_lst_cscl_audt_comn_h where lst_cscl_rqst_no = #{lstCsclRqstNo}) as hist_srno
			, rqst_dt
			, rqst_cstm_cd
			, trsn_tp_cd
			, expr_co_cd
			, expr_co_nm
			, ship_hdng_nm
			, extrc_cnty_cd
			, etpr_dt
			, mbl_no
			, dept_cd
			, audt_emp_id
			, audt_rslt_cd
			, audt_rslt_cn
			, audt_prcs_dttm
			, prcs_stts_cd
			, ador_hnot_prcs_yn
			, atch_file_id
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
		from tb_clri_lst_cscl_audt_comn
		where lst_cscl_rqst_no = #{lstCsclRqstNo}
	</insert>
	
  <!--
  Sauvegarde de l'historique des détails de fret express !==목록통관 상세 이력 저장 ==!
  (김재기)
  -->
	<insert id="insertClrLclrDtlHist" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
		insert into tb_clri_lst_cscl_audt_dtl_h (
			lst_cscl_rqst_no
			, hist_srno
			, srno
			, expr_co_cd
			, lclr_prcs_tp_cd
			, mbl_no
			, hbl_no
			, trnp_tdr_cd
			, hs_cd
			, sndr_nm
			, sndr_addr
			, sndr_tlph_no
			, cnsi_idfy_sgn
			, cnsi_nm
			, cnsi_addr
			, cnsi_tlph_no
			, cnsi_post_no
			, cmdt_nm
			, stsz_nm
			, pckg_qty
			, qty
			, wght
			, cmdt_amt
			, cmdt_amt_dzd
			, send_cnty_cd
			, usg_tp_cd
			, dlng_cd
			, elct_bstn_site_addr
			, elct_bstn_co_dclr_no
			, cstm_wrte_cn
			, bar_cd_cn
			, bar_cd_trsn_dttm
			, simp_cscl_trgt_yn
			, simp_cscl_tax_amt
			, gnrl_cscl_trgt_yn
			, wkng_pt_cd
			, dept_cd
			, audt_emp_id
			, audt_rslt_cd
			, audt_rslt_cn
			, audt_prcs_dttm
			, prcs_stts_cd
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
			, cag_mgmt_no  /** Crn !== 화물관리번호 ==! */
			, arlc_ibobz_cd	/** Code De Zone Sous Douane De Destination !== 도착지보세구역코드 ==! */
		)
		select lst_cscl_rqst_no
			, (select max(hist_srno) from tb_clri_lst_cscl_audt_comn_h where lst_cscl_rqst_no = #{lstCsclRqstNo}) as hist_srno
			, srno
			, expr_co_cd
			, lclr_prcs_tp_cd
			, mbl_no
			, hbl_no
			, trnp_tdr_cd
			, hs_cd
			, sndr_nm
			, sndr_addr
			, sndr_tlph_no
			, cnsi_idfy_sgn
			, cnsi_nm
			, cnsi_addr
			, cnsi_tlph_no
			, cnsi_post_no
			, cmdt_nm
			, stsz_nm
			, pckg_qty
			, qty
			, wght
			, cmdt_amt
			, cmdt_amt_dzd
			, send_cnty_cd
			, usg_tp_cd
			, dlng_cd
			, elct_bstn_site_addr
			, elct_bstn_co_dclr_no
			, cstm_wrte_cn
			, bar_cd_cn
			, bar_cd_trsn_dttm
			, simp_cscl_trgt_yn
			, simp_cscl_tax_amt
			, gnrl_cscl_trgt_yn
			, wkng_pt_cd
			, dept_cd
			, audt_emp_id
			, audt_rslt_cd
			, audt_rslt_cn
			, audt_prcs_dttm
			, prcs_stts_cd
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
			, cag_mgmt_no  /** Crn !== 화물관리번호 ==! */
			, arlc_ibobz_cd	/** Code De Zone Sous Douane De Destination !== 도착지보세구역코드 ==! */
		from tb_clri_lst_cscl_audt_dtl
		where lst_cscl_rqst_no = #{lstCsclRqstNo}
		AND srno = #{srno}
	</insert>

  <!--
  Sauvegarde de l'historique total des détails de fret express !==목록통관 상세 전체 이력 저장 ==!
  (김재기)
  -->
	<insert id="insertClrLclrDtlAllHist" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
		insert into tb_clri_lst_cscl_audt_dtl_h (
			lst_cscl_rqst_no
			, hist_srno
			, srno
			, expr_co_cd
			, lclr_prcs_tp_cd
			, mbl_no
			, hbl_no
			, trnp_tdr_cd
			, hs_cd
			, sndr_nm
			, sndr_addr
			, sndr_tlph_no
			, cnsi_idfy_sgn
			, cnsi_nm
			, cnsi_addr
			, cnsi_tlph_no
			, cnsi_post_no
			, cmdt_nm
			, stsz_nm
			, pckg_qty
			, qty
			, wght
			, cmdt_amt
			, cmdt_amt_dzd
			, send_cnty_cd
			, usg_tp_cd
			, dlng_cd
			, elct_bstn_site_addr
			, elct_bstn_co_dclr_no
			, cstm_wrte_cn
			, bar_cd_cn
			, bar_cd_trsn_dttm
			, simp_cscl_trgt_yn
			, simp_cscl_tax_amt
			, gnrl_cscl_trgt_yn
			, wkng_pt_cd
			, dept_cd
			, audt_emp_id
			, audt_rslt_cd
			, audt_rslt_cn
			, audt_prcs_dttm
			, prcs_stts_cd
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
			, cag_mgmt_no  /** Crn !== 화물관리번호 ==! */
			, arlc_ibobz_cd	/** Code De Zone Sous Douane De Destination !== 도착지보세구역코드 ==! */
		)
		select lst_cscl_rqst_no
			, (select max(hist_srno) from tb_clri_lst_cscl_audt_comn_h where lst_cscl_rqst_no = #{lstCsclRqstNo}) as hist_srno
			, srno
			, expr_co_cd
			, lclr_prcs_tp_cd
			, mbl_no
			, hbl_no
			, trnp_tdr_cd
			, hs_cd
			, sndr_nm
			, sndr_addr
			, sndr_tlph_no
			, cnsi_idfy_sgn
			, cnsi_nm
			, cnsi_addr
			, cnsi_tlph_no
			, cnsi_post_no
			, cmdt_nm
			, stsz_nm
			, pckg_qty
			, qty
			, wght
			, cmdt_amt
			, cmdt_amt_dzd
			, send_cnty_cd
			, usg_tp_cd
			, dlng_cd
			, elct_bstn_site_addr
			, elct_bstn_co_dclr_no
			, cstm_wrte_cn
			, bar_cd_cn
			, bar_cd_trsn_dttm
			, simp_cscl_trgt_yn
			, simp_cscl_tax_amt
			, gnrl_cscl_trgt_yn
			, wkng_pt_cd
			, dept_cd
			, audt_emp_id
			, audt_rslt_cd
			, audt_rslt_cn
			, audt_prcs_dttm
			, prcs_stts_cd
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
			, cag_mgmt_no  /** Crn !== 화물관리번호 ==! */
			, arlc_ibobz_cd	/** Code De Zone Sous Douane De Destination !== 도착지보세구역코드 ==! */
		from tb_clri_lst_cscl_audt_dtl
		where lst_cscl_rqst_no = #{lstCsclRqstNo}
	</insert>
	
    <!--
    Consultation des détails de fret express !== 목록통관 상세 조회 ==!
    (김재기)
    -->
    <select id="selectClrLclrAudtDtl" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo" resultType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
        /* selectClrLclrAudtDtl !== 목록통관 목록 조회 ==!*/
		SELECT A.LST_CSCL_RQST_NO -- 제출일련번호
			, TO_CHAR(TO_DATE(A.RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RQST_DT -- 제출일자
			, A.RQST_CSTM_CD -- 신청세관코드
			, A.TRSN_TP_CD -- 전송구분코드
			, A.EXPR_CO_CD -- 특송업체 코드
			, A.EXPR_CO_NM -- 특송업체명
			, A.SHIP_HDNG_NM -- 선박편명
			, A.EXTRC_CNTY_CD -- 적출국
			, A.MBL_NO -- MASTER B/L NO
			, TO_CHAR(TO_DATE(A.ETPR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ETPR_DT -- 입항일자
			, A.PRCS_STTS_CD -- 처리상태코드
			, A.dept_cd
			, A.audt_emp_id
			, A.audt_rslt_cd
			, A.audt_rslt_cn
			, A.audt_prcs_dttm
			, (CASE WHEN (SELECT COUNT(*) AS CNT 
					FROM ALPASSEXT.tb_clre_lst_cscl_COMN 
					WHERE DEL_YN = 'N' 
					AND LST_CSCL_RQST_NO = A.LST_CSCL_RQST_NO
					AND PRCS_STTS_CD = A.PRCS_STTS_CD
					AND PRCS_STTS_CD NOT IN ('B', 'C', 'G') 
				) > 0 THEN 'Y' ELSE 'N' END) AS SEND_YN
		FROM TB_CLRI_LST_CSCL_AUDT_COMN A
		WHERE LST_CSCL_RQST_NO = #{lstCsclRqstNo}
		AND DEL_YN = 'N'
    </select>

	<!-- Saisie de l'interface dédouanement-fret !== 통관 화물 인터페이스 입력 ==! -->
	<insert id="insertClrLclrCagIntf" parameterType="alpass.ipt.clr.pec.fea.vo.ClrLclrAudtVo">
		insert into tb_clri_cscl_cag_intf (
				dtl_dcsh_no			/** Numéro du DAU !== DED번호 ==! */
			, acpt_dt					/** Date de l'autorisation d'enlèvement des marchandises !== 수리일자 ==! */
			, dclr_pt_cd			/** Code de type de déclaration !== 신고유형코드 ==! */
			, epc_cd					/** Code EPC !== EPC코드 ==! */
			, dcer_cd					/** Code du déclarant !== 신고인코드 ==! */
			, cag_mgmt_no			/** CRN !== 화물관리번호 ==! */
			, cmdt_stge_loct_cd	/** Code De Zone Sous Douane De Destination !== 도착지보세구역코드 ==! */
			, cntr_cag_yn			/** Cargaison conteneurisée ON !== 컨테이너화물여부 ==! */
			, apre_pckg_gcnt	/** Nombre de colisage autorisé !== 승인포장개수 ==! */
			, apre_ttwg				/** Poids Brut Autorisé !== 승인총중량 ==! */
			, apre_ntwg				/** Poids net autorise !== 승인순중량 ==! */
			, prcs_yn					/** Traitement ON !== 처리여부 ==! */
			, del_yn					/** Suppression ON !== 삭제여부 ==! */
			, frst_regst_id		/** ID du premier enregistrant  !== 최초등록자ID ==! */
			, frst_rgsr_dttm	/** Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, last_chpr_id		/** ID du modificateur final !== 최종변경자ID ==! */
			, last_chg_dttm		/** Date et heure de modification finale !== 최종변경일시 ==! */
		)
		SELECT a.lst_cscl_rqst_no || '-' || a.srno AS dtl_dcsh_no /** N° de demande de fret express !== 목록통관신청번호 ==! */
			, TO_CHAR(SYSDATE,'YYYYMMDD') AS acpt_dt /** Date de l'autorisation d'enlèvement des marchandises !== 수리일자 ==! */
			, 'R00' AS dclr_pt_cd /** Code de type de déclaration !== 신고유형코드 ==! */
			, 'XXXX' AS epc_cd /** Code EPC !== EPC코드 ==! */
			, (
				SELECT MAX(b.co_dclr_cd) AS co_dclr_cd
				FROM tb_com_co_dclr_cd b
					 , tb_com_co_dclr_cd_user_rel d
				WHERE b.nif = d.nif
					AND b.DEL_YN = 'N'
					AND d.del_yn = 'N'
					AND b.co_dclr_tp_cd = 'H'
					AND b.co_dclr_cd = d.co_dclr_cd
					AND d.USER_ID = a.frst_regst_id
			) AS dcer_cd /** Code du déclarant !== 신고인코드 ==! */
			, a.cag_mgmt_no /** CRN !== 화물관리번호 ==! */
			, a.arlc_ibobz_cd	/** Code De Zone Sous Douane De Destination !== 도착지보세구역코드 ==! */
			, 'N' /** Cargaison conteneurisée ON !== 컨테이너화물여부 ==! */
			, a.pckg_qty AS apre_pckg_gcnt /** Nombre total de colis !== 개수 ==! */
			, a.wght AS apre_ttwg /** Poids brut total !== 중량 ==! */
			, a.wght AS apre_ttwg /** Poids brut total !== 중량 ==! */
			, 'N' AS prcs_yn /** Traitement ON !== 처리여부 ==! */
			, 'N' AS del_yn /** Suppression ON !== 삭제여부 ==! */
			, #{frstRegstId} AS frst_regst_id /** ID du premier enregistrant  !== 최초등록자ID ==! */
			, SYSTIMESTAMP AS frst_rgsr_dttm /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, #{lastChprId} AS last_chpr_id /** ID du modificateur final !== 최종변경자ID ==! */
			, SYSTIMESTAMP AS last_chg_dttm /** Date et heure de modification finale !== 최종변경일시 ==! */
		FROM tb_clri_lst_cscl_audt_dtl a
		WHERE lst_cscl_rqst_no = #{lstCsclRqstNo}
		<if test="srno != null and srno != ''">
		AND srno = #{srno}
		</if>
	</insert>

	<select id="selectCarCoDclrCdInfo" parameterType="alpass.com.co.vo.ComCoDclrCdVo" resultType="alpass.com.co.vo.ComCoVo">
		/** selectCarCoDclrCdInfo */
		SELECT C.USER_ID,
			   A.NIF,
			   A.CO_DCLR_CD,
			   A.CO_DCLR_TP_CD,
			   A.CARR_CD,
			   B.CO_NM,
			   B.co_addr
		FROM TB_COM_CO_DCLR_CD A,
			 TB_COM_CO B,
			 TB_COM_CO_USER C
		WHERE A.CO_DCLR_CD = #{coDclrCd}
		  AND A.NIF = B.NIF
		  AND B.NIF = C.NIF
		  AND A.USE_YN = 'Y'
		  AND A.DEL_YN = 'N'
		  AND B.DEL_YN = 'N'
		  AND C.DEL_YN = 'N'
			LIMIT 1
	</select>
</mapper>
