<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Enregistrement du changement d'auditeur !== 심사자 배부변경 등록 Mapper ==!
(deKim)
-->
<mapper namespace="alpass.ipt.psc.com.mapper.PscComAudtHnotMapper">


	<select id="selectPscHnotListTpd"
	    parameterType="alpass.ipt.psc.com.vo.PscComHnotVo"
	    resultType="alpass.ipt.psc.com.vo.PscComHnotVo">
		/* selectPscHnotListTpd */
	    <include refid="pagination.header"/>
   SELECT Y.REFF_NO
   , Y.CSTM_CD
   ,FN_GET_ORGN_NM(Y.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
   , Y.DCSH_TP_CD
   , Y.RQST_STTS_CD
   , Y.RGSR_DT
   , Y.ADOR_TP_CD
   , FN_GET_CD_VDVAL_NM('PSC_0029', Y.ADOR_TP_CD, #{langCd}) AS ADOR_TP_NM
   , FN_GET_CD_VDVAL_NM('PSC_0012', Y.AUDT_RSLT_CD, #{langCd}) AS AUDT_RSLT_CD
   FROM 
    (
      SELECT X.REFF_NO 
             ,X.CSTM_CD
             ,FN_GET_ORGN_NM(X.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
             ,X.TPD_TP_CD
       , FN_GET_CD_VDVAL_NM('PSC_0004', X.TPD_TP_CD, #{langCd}) AS DCSH_TP_CD
             , FN_GET_CD_VDVAL_NM('PSC_0001', X.TPD_RQST_STTS_CD, #{langCd}) AS RQST_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
             ,X.RGSR_DT
      ,(SELECT B.AUDT_RSLT_CD FROM TB_PSCI_TPD_AUDT B WHERE  B.TPD_TEMP_NO = X.REFF_NO AND B.AUDT_DGCNT  = (
        SELECT MAX(AUDT_DGCNT) FROM TB_PSCI_TPD_AUDT WHERE B.TPD_TEMP_NO = X.REFF_NO
      ) ) AS AUDT_RSLT_CD
        ,(SELECT C.ADOR_TP_CD  FROM TB_PSCI_ADOR_HNOT_CHG_HIST C WHERE  C.REFF_NO = X.REFF_NO AND C.HIST_SRNO = (
          SELECT MAX(HIST_SRNO) FROM TB_PSCI_ADOR_HNOT_CHG_HIST WHERE REFF_NO = X.REFF_NO)

        ) AS ADOR_TP_CD
      FROM
      (
        SELECT A.TPD_TEMP_NO  AS REFF_NO
              ,A.CSTM_CD      AS CSTM_CD
              ,'01' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT
              
        FROM TB_PSCI_TPD_BSCS A
        WHERE 1=1
        AND A.DEL_YN = 'N'
        
        UNION ALL 
        
        SELECT A.TPD_XTNS_TEMP_NO  AS REFF_NO
              ,A.XTNS_RQST_IDD_CD      AS CSTM_CD
              ,'02' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.XTNS_RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT

        FROM TB_PSCI_TPD_XTNS_RQST A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
        
        UNION ALL 
        
        SELECT A.TPD_CONS_TEMP_NO  AS REFF_NO
              ,A.VHCL_CONS_RQST_CSTM_CD      AS CSTM_CD
              ,'04' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(TO_DATE(A.VHCL_CONS_RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT

        FROM TB_PSCI_TPD_VHCL_CONS  A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
        
        UNION ALL 
        
        SELECT A.TPD_END_TEMP_NO   AS REFF_NO
              ,A.CSTM_CD      AS CSTM_CD
              ,'03' AS TPD_TP_CD 
              ,A.TPD_RQST_STTS_CD AS TPD_RQST_STTS_CD
              ,TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DT
             
        FROM TB_PSCI_TPD_END A 
        WHERE 1=1
        AND A.DEL_YN = 'N'
      ) X
      WHERE 1=1
    
      ) Y
    WHERE 1=1
    AND Y.AUDT_RSLT_CD = '05'
   <if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
    AND  TO_CHAR(TO_DATE(Y.RGSR_DT,'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
   </if>
    <if test='reffNo != null and reffNo != ""'>
    AND Y.REFF_NO = #{reffNo} 
    </if>  
    ORDER BY Y.RGSR_DT DESC

		<include refid="pagination.footer"/>
	</select>

	<select id="selectPscHnotListFrxcg" parameterType="alpass.ipt.psc.com.vo.PscComHnotVo" resultType="alpass.ipt.psc.com.vo.PscComHnotVo">
		/* selectPscHnotListTpd */
	    <include refid="pagination.header"/>
   		SELECT  Y.REFF_NO
		      , Y.CSTM_CD
		      , FN_GET_ORGN_NM(Y.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
		      , Y.DCSH_TP_CD
		      , Y.RQST_STTS_CD
		      , Y.RGSR_DT
		      , Y.ADOR_TP_CD
		      , FN_GET_CD_VDVAL_NM('PSC_0029', Y.ADOR_TP_CD, #{langCd}) AS ADOR_TP_NM
		      , FN_GET_CD_VDVAL_NM('PSC_0012', Y.AUDT_RSLT_CD, #{langCd}) AS AUDT_RSLT_CD
	      FROM ( SELECT  X.REFF_NO 
		               , X.CSTM_CD
		               , FN_GET_ORGN_NM(X.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
	                   , FN_GET_CD_VDVAL_NM('PSC_0021', X.FRXCG_RGSR_TP_CD, #{langCd}) AS DCSH_TP_CD
	                   , FN_GET_CD_VDVAL_NM('PSC_0024', X.FRXCG_RQST_STTS_CD, #{langCd}) AS RQST_STTS_CD               /** CODE DE STATUT DE TRAITEMENT !== 처리상태코드 ==! */
	                   , X.RGSR_DT
	                   , ( SELECT  B.AUDT_RSLT_CD 
	                         FROM  TB_PSCI_FRXCG_DCSH_AUDT B 
	                        WHERE  B.FRXCG_DCSH_TEMP_NO = X.REFF_NO 
	                          AND  B.AUDT_DGCNT  = ( SELECT  MAX(B1.AUDT_DGCNT) 
                                                       FROM  TB_PSCI_FRXCG_DCSH_AUDT B1
                                                      WHERE  B1.FRXCG_DCSH_TEMP_NO = X.REFF_NO
                                                    ) 
	                     ) AS AUDT_RSLT_CD
	                   , ( SELECT  C.ADOR_TP_CD  
	                         FROM  TB_PSCI_ADOR_HNOT_CHG_HIST C 
	                        WHERE  C.REFF_NO = X.REFF_NO 
	                          AND  C.HIST_SRNO = ( SELECT  MAX(B1.HIST_SRNO) 
	                                                 FROM  TB_PSCI_ADOR_HNOT_CHG_HIST B1
	                                                WHERE  B1.REFF_NO = X.REFF_NO
	                                              )
		                 ) AS ADOR_TP_CD
	                FROM ( SELECT  A.FRXCG_DCSH_TEMP_NO  AS REFF_NO
					             , A.CSTM_CD      AS CSTM_CD
					             , A.FRXCG_RGSR_TP_CD AS FRXCG_RGSR_TP_CD 
					             , A.FRXCG_RQST_STTS_CD AS FRXCG_RQST_STTS_CD
					             , TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT	              
					         FROM  TB_PSCI_FRXCG_DCSH_MGMT A
					        WHERE  1=1
					          AND  A.DEL_YN = 'N'    
					      ) X
	               WHERE  1=1	    
	           ) Y
	    WHERE  1=1
	      AND  Y.AUDT_RSLT_CD = '05'
	    <if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
	      AND  TO_CHAR(TO_DATE(Y.RGSR_DT,'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
	    </if>
	    <if test='reffNo != null and reffNo != ""'>
	      AND  Y.REFF_NO = #{reffNo} 
	    </if>  
	    ORDER  BY Y.RGSR_DT DESC
		<include refid="pagination.footer"/>
	</select>
	

    <!--
    !== 심사자 배부변경 이력 목록을 조회한다. ==!
    -->
  <select id="selectPscHnotHistList"
      parameterType="alpass.ipt.psc.com.vo.PscComHnotVo"
      resultType="alpass.ipt.psc.com.vo.PscComHnotVo">
    /* selectPscHnotHistList */
    SELECT
          ROWNUM AS HIST_SRNO                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
        , A.REFF_NO           
        , A.BFCH_ADOR_ID               /** ID de l'examinateur avant le changement !== 변경전심사자ID ==! */
        , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.BFCH_ADOR_ID) AS BFCH_ADOR_NM
        , A.AFCH_ADOR_ID               /** ID de l'examinateur après modification !== 변경후심사자ID ==! */
        , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.AFCH_ADOR_ID) AS AFCH_ADOR_NM
        , A.HNOT_RSN_CD                /** Code motif de répartition !== 배부사유코드 ==! */
        , FN_GET_CD_VDVAL_NM('AEO_0012', A.HNOT_RSN_CD, #{langCd}) AS hnotRsnNm
        , A.HNOT_CN                    /** Contenu de diffusion !== 배부내용 ==! */
        , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , NVL((SELECT EMP_NM||'('||A.FRST_REGST_ID||')' FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID),'Batch') AS FRST_REGST_NM
        , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS frstRgsrDttm             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS lastChgDttm              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
      FROM    TB_PSCI_ADOR_HNOT_CHG_HIST A
      WHERE    A.REFF_NO = #{reffNo} 
      AND A.ADOR_TP_CD = #{adorTpCd} 
     ORDER BY A.HIST_SRNO DESC
  </select>

  <insert id="insertAdorHnotChgHist"
    parameterType="alpass.ipt.psc.com.vo.PscComHnotVo">
    /* insertAdorHnotChgHist */
    <selectKey keyProperty="histSrno" order="BEFORE" resultType="java.math.BigDecimal">
      SELECT NVL(MAX(HIST_SRNO),0)+1 FROM TB_PSCI_ADOR_HNOT_CHG_HIST WHERE REFF_NO = #{reffNo}
    </selectKey>
    
    INSERT INTO TB_PSCI_ADOR_HNOT_CHG_HIST
    (
        HIST_SRNO                    
      , REFF_NO             
      , ADOR_TP_CD
      , BFCH_ADOR_ID                 /** ID de l'examinateur avant le changement !== 변경전심사자ID ==! */
      , AFCH_ADOR_ID                 /** ID de l'examinateur après modification !== 변경후심사자ID ==! */
      , HNOT_RSN_CD                  /** Code motif de répartition !== 배부사유코드 ==! */
      , HNOT_CN                      /** Contenu de diffusion !== 배부내용 ==! */
      , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    )
    VALUES
    (
        #{histSrno}                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
      , #{reffNo}             
      , #{adorTpCd}
      , #{bfchAdorId}                /** ID de l'examinateur avant le changement !== 변경전심사자ID ==! */
      , #{afchAdorId}                /** ID de l'examinateur après modification !== 변경후심사자ID ==! */
      , #{hnotRsnCd}                 /** Code motif de répartition !== 배부사유코드 ==! */
      , #{hnotCn}                    /** Contenu de diffusion !== 배부내용 ==! */
      , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , CURRENT_TIMESTAMP            /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , CURRENT_TIMESTAMP            /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    )
  </insert>
  
</mapper>