<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Critère renseigné !== 기준사용요청 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.rqst.mapper.RsmRqstMapper">

	<!--
	[Critère renseigné] Consulter la liste !== [기준사용요청] 목록조회 ==!
	--> 
	<select id="selectRqstBaseComnList" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcBaseComnVo" resultType="alpass.ipt.rsm.com.vo.RsmBaseMgmtComnVo">
		/* selectRqstBaseComnList */
		<include refid="pagination.header" />
		SELECT ROWNUM NO
		    , BASE_RGSR_NO     		/* Numéro d'enregistrement !== 기준등록번호 ==! */
		    , RQST_BASE_CLSF_CD     /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */
		    , APLY_BASE_CLSF_CD     /* Code de classification de critère en vigueur !== 적용기준분류코드 ==! */
		    , BASE_RQST_TP_CD     	/* Code de type de renseignement  !== 기준신청구분코드 ==! */
		    , BASE_PRCS_STTS_CD     /* Code de statut de critère  !== 기준처리상태코드 ==! */
		    , APRV_BSOP_TP_CD       /* Code De Catégorie De L'Opération D'Approbation !== 결재업무구분코드 ==! */
		    , APRV_ID     			/* ID d'approbation  !== 결재ID ==! */
		    , (SELECT APRV_PRCS_DTTM FROM TB_POTI_APRV_D X
                WHERE APRV_ID = A.APRV_ID 
                AND APRV_SRNO = (SELECT MAX(APRV_SRNO) FROM TB_POTI_APRV_D Y WHERE Y.APRV_ID = X.APRV_ID) 
                AND APRV_RSLT_CD = 'J01') AS APRE_DT    /* Date d'autorisation !== 승인일자 ==!*/
		    , BASE_APLY_YN     		/* En vigueur O/N !== 기준적용여부 ==! */
		    , DCSH_TP_CD     		/* Code de type de déclaration !== 신고서구분코드 ==! */
		    , BSOP_TP_CD     		/* Code de type de l'opération !== 업무구분코드 ==! */
		    , APLY_STRT_DT     		/* Date de départ de l'application !== 적용시작일자 ==! */
		    , APLY_END_DT     		/* Date de fin de l'application !== 적용종료일자 ==! */
		    , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'),'DD/MM/YYYY')||'~'||TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS APLY_DT
		    , (SELECT LISTAGG(DCLR_PT_CD, ',') WITHIN GROUP (ORDER BY DCLR_PT_CD) FROM TB_RSMI_DCLR_PT_BASE WHERE BASE_RGSR_NO=A.BASE_RGSR_NO) AS DCLR_PT_CD  /* Code de type de déclaration !== 신고유형코드 ==! */
		    , APLY_CSTM_TP_CD     	/* Code de type de bureau  !== 적용세관구분코드 ==! */
		    , GRN_SELC_RT     		/* Taux de déclaration en circuit vert  !== 녹색선별율 ==! */
		    , BLU_SELC_RT     		/* Taux de déclaration en circuit bleu  !== 파랑선별율 ==! */
		    , ORE_SELC_RT     		/* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
		    , RED_SELC_RT     		/* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
		    , CO_WGVL_APLY_YN     	/* Application du pondérateur d'opérateur O/N !== 업체가중치적용여부 ==! */
		    , SELC_WGVL_APLY_YN     /* Pondérateur du critrèe général  !== 선별가중치적용여부 ==! */
		    , APLY_PROR_RNK     	/* Priorité de l'application !== 적용우선순위 ==! */
		    , BASE_DESC     		/* Description de critère !== 기준설명 ==! */
		    , INSC_GDLN_CN     		/* Directives d'inspection  !== 검사지침내용 ==! */
		    , RQST_RSN_CD     		/* Code de renseignement !== 신청사유코드 ==! */
		    , RTRN_RSN_CN     	    /* Motif De Rejet !== 반려 사유 내용 ==! */
		    , OPRN_SQL_CN			/* Requête du système en vigueur !== 운영SQL내용 ==! */
			, SMLT_SQL_CN			/* Requête de la simulation !== 시뮬레이션SQL내용 ==! */
			, CHPN_ID               /* ID du responsable !== 담당자ID ==! */
		    , DEL_YN     			/* Suppression ON !== 삭제여부 ==! */
            , FRST_REGST_ID                                                /* ID du premier enregistrant  !== 최초등록자ID ==! */
            , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM        /* Nom du premier enregistrant  !== 최초등록자이름 ==! */
            , FRST_RGSR_DTTM                                               /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , LAST_CHPR_ID                                                 /* ID du modificateur final !== 최종변경자ID ==! */
            , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM          /* Nom du modificateur final !== 최종변경자이름 ==! */
            , LAST_CHG_DTTM                                                /* Date et heure de modification finale !== 최종변경일시 ==! */                                              /* Date et heure de modification finale !== 최종변경일시 ==! */
		    <if test="rqstBaseClsfCd != null and rqstBaseClsfCd == 'PR' ">
			,(SELECT PRGM_TP_CD FROM TB_RSMI_PRGM_BASE WHERE BASE_RGSR_NO = A.BASE_RGSR_NO AND ROWNUM = 1) AS PRGM_TP_CD   /* Code de type de programme !== 프로그램구분코드 ==! */
			</if>
		 FROM TB_RSMI_BASE_MGMT_COMN A
		 WHERE 1=1
		 AND DEL_YN = 'N'                              /* Suppression ON !== 삭제여부 ==! */
		 AND RQST_RSN_CD IS NOT NULL                   /* Code de renseignement !== 신청사유코드 ==! */
		 AND BASE_RQST_TP_CD IN ('O','R')              /* Code de type de renseignement  !== 기준신청구분코드 ==! */
		 AND FRST_REGST_ID = #{frstRegstId}            /* ID du premier enregistrant  !== 최초등록자ID ==! */		 
		 
         <choose>
            <when test='dcshTpCd != null and dcshTpCd == "P"'>
                AND RQST_BASE_CLSF_CD = 'PA'              /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */
            </when>
            <otherwise>
        	    AND RQST_BASE_CLSF_CD IN('MA','HR')       /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */
            </otherwise>
         </choose>
        
         
		 <if test='(aplyStrtDt != null and !"".equals(aplyStrtDt)) and (aplyEndDt != null and !"".equals(aplyEndDt))'>
		    AND A.APLY_STRT_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') AND A.APLY_END_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
		 </if>
		 <if test="basePrcsSttsCd != null and basePrcsSttsCd != ''">
		 	<if test="'00' != basePrcsSttsCd">
		 	AND BASE_PRCS_STTS_CD = #{basePrcsSttsCd}      /* Code de statut de critère  !== 기준처리상태코드 ==! */
		 	</if>
		 </if>		
		 <if test="baseAplyYn != null and baseAplyYn != '' ">
			AND BASE_APLY_YN = #{baseAplyYn}               /* En vigueur O/N !== 기준적용여부 ==! */
		 </if>
		 <if test="dcshTpCd != null and dcshTpCd != '' ">
			AND DCSH_TP_CD = #{dcshTpCd}                   /* Code de type de déclaration !== 신고서구분코드 ==! */
		 </if>
		 <if test='bsopTpCd != null and bsopTpCd == "E" '>
			AND EXISTS(SELECT 1 FROM TB_RSMI_DCLR_PT_BASE X WHERE X.BASE_RGSR_NO=A.BASE_RGSR_NO AND X.DCLR_PT_CD IN (   SELECT B.CD_VDVAL         AS DCLR_PT_CD /* CODE DE TYPE DE DÉCLARATION !== 신고유형코드 ==! */
																														  FROM TB_COM_COMN_CD   A, TB_COM_COMN_CD_D B
																														 WHERE A.DEL_YN           = 'N' AND A.USE_YN ='Y'
																														   AND A.COMN_CD          = 'RSM_0052'
			                                                                                                               AND A.COMN_CD          = B.COMN_CD
																														   AND B.DEL_YN           = 'N' AND B.USE_YN ='Y'
																														   AND B.USER_DEFN_VDVAL1 = 'EXP'
			                                                                                                        ))    /* Exportation !== 수출 ==! */
		 </if>
		 <if test='bsopTpCd != null and bsopTpCd == "I" '>
			AND EXISTS (SELECT 1 FROM TB_RSMI_DCLR_PT_BASE X WHERE X.BASE_RGSR_NO=A.BASE_RGSR_NO AND X.DCLR_PT_CD IN (  SELECT B.CD_VDVAL         AS DCLR_PT_CD /* CODE DE TYPE DE DÉCLARATION !== 신고유형코드 ==! */
																														  FROM TB_COM_COMN_CD   A , TB_COM_COMN_CD_D B
																														 WHERE A.DEL_YN           = 'N' AND A.USE_YN ='Y'
																														   AND A.COMN_CD          = 'RSM_0052'
			                                                                                                               AND A.COMN_CD          = B.COMN_CD
																														   AND B.DEL_YN           = 'N' AND B.USE_YN ='Y'
																														   AND B.USER_DEFN_VDVAL1 = 'IMP'
			                                                                                                         ))  /* Importation !== 수입 ==! */
		 </if>
		 
		 <if test="baseDesc != null and baseDesc != '' ">
			AND BASE_DESC LIKE '%' || #{baseDesc} || '%'   /* Description de critère !== 기준설명 ==! */
		 </if>
		 
		 <if test="sortOrdr != null and sortOrdr != '' ">
		 	<if test="sortOrdr == 1 ">
		 		ORDER BY BASE_RGSR_NO DESC                /* Numéro d'enregistrement !== 기준등록번호 ==! */
		 	</if>
		 	<if test="sortOrdr == 2 ">
		 		ORDER BY APLY_STRT_DT DESC                /* Date de départ de l'application !== 적용시작일자 ==! */
		 	</if>
		 	<if test="sortOrdr == 3 ">
		 		ORDER BY APLY_END_DT DESC                 /* Date de fin de l'application !== 적용종료일자 ==! */
		 	</if>
		 </if>
		<include refid="pagination.footer" />
	</select>
	
	<!--
	[Critères renseignés en attente d'approbation] Consulter la liste !== [기준사용 상신관리] 목록조회 ==!
	--> 
	<select id="selectRsofBaseComnList" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcBaseComnVo" resultType="alpass.ipt.rsm.com.vo.RsmBaseMgmtComnVo">
		/* selectRsofBaseComnList */
		<include refid="pagination.header" />
		SELECT ROWNUM NO
		    , BASE_RGSR_NO     		/* Numéro d'enregistrement !== 기준등록번호 ==! */
		    , RQST_BASE_CLSF_CD     /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */
		    , APLY_BASE_CLSF_CD     /* Code de classification de critère en vigueur !== 적용기준분류코드 ==! */
		    , BASE_RQST_TP_CD     	/* Code de type de renseignement  !== 기준신청구분코드 ==! */
		    , BASE_PRCS_STTS_CD     /* Code de statut de critère  !== 기준처리상태코드 ==! */
		    , APRV_BSOP_TP_CD       /* Code De Catégorie De L'Opération D'Approbation !== 결재업무구분코드 ==! */
		    , APRV_ID     			/* ID d'approbation  !== 결재ID ==! */
		    , (SELECT APRV_PRCS_DTTM FROM TB_POTI_APRV_D X
                WHERE APRV_ID = A.APRV_ID 
                AND APRV_SRNO = (SELECT MAX(APRV_SRNO) FROM TB_POTI_APRV_D Y WHERE Y.APRV_ID = X.APRV_ID) 
                AND APRV_RSLT_CD = 'J01') AS APRE_DT    /* Date d'autorisation !== 승인일자 ==!*/
		    , BASE_APLY_YN     		/* En vigueur O/N !== 기준적용여부 ==! */
		    , DCSH_TP_CD     		/* Code de type de déclaration !== 신고서구분코드 ==! */
		    , BSOP_TP_CD     		/* Code de type de l'opération !== 업무구분코드 ==! */
		    , APLY_STRT_DT     		/* Date de départ de l'application !== 적용시작일자 ==! */
		    , APLY_END_DT     		/* Date de fin de l'application !== 적용종료일자 ==! */
		    , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'),'DD/MM/YYYY')||'~'||TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS APLY_DT
		    , (SELECT LISTAGG(DCLR_PT_CD, ',') WITHIN GROUP (ORDER BY DCLR_PT_CD) FROM TB_RSMI_DCLR_PT_BASE WHERE BASE_RGSR_NO=A.BASE_RGSR_NO) AS DCLR_PT_CD  /* Code de type de déclaration !== 신고유형코드 ==! */
		    , APLY_CSTM_TP_CD     	/* Code de type de bureau  !== 적용세관구분코드 ==! */
		    , GRN_SELC_RT     		/* Taux de déclaration en circuit vert  !== 녹색선별율 ==! */
		    , BLU_SELC_RT     		/* Taux de déclaration en circuit bleu  !== 파랑선별율 ==! */
		    , ORE_SELC_RT     		/* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
		    , RED_SELC_RT     		/* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
		    , CO_WGVL_APLY_YN     	/* Application du pondérateur d'opérateur O/N !== 업체가중치적용여부 ==! */
		    , SELC_WGVL_APLY_YN     /* Pondérateur du critrèe général  !== 선별가중치적용여부 ==! */
		    , APLY_PROR_RNK     	/* Priorité de l'application !== 적용우선순위 ==! */
		    , BASE_DESC     		/* Description de critère !== 기준설명 ==! */
		    , INSC_GDLN_CN     		/* Directives d'inspection  !== 검사지침내용 ==! */
		    , RQST_RSN_CD     		/* Code de renseignement !== 신청사유코드 ==! */
		    , RTRN_RSN_CN     	    /* Motif De Rejet !== 반려 사유 내용 ==! */
		    , OPRN_SQL_CN			/* Requête du système en vigueur !== 운영SQL내용 ==! */
			, SMLT_SQL_CN			/* Requête de la simulation !== 시뮬레이션SQL내용 ==! */
			, CHPN_ID               /* ID du responsable !== 담당자ID ==! */
		    , DEL_YN     			/* Suppression ON !== 삭제여부 ==! */
		    , FRST_REGST_ID                                                /* ID du premier enregistrant  !== 최초등록자ID ==! */
            , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM        /* Nom du premier enregistrant  !== 최초등록자이름 ==! */
            , FRST_RGSR_DTTM                                               /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , LAST_CHPR_ID                                                 /* ID du modificateur final !== 최종변경자ID ==! */
            , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM          /* Nom du modificateur final !== 최종변경자이름 ==! */
            , LAST_CHG_DTTM                                                /* Date et heure de modification finale !== 최종변경일시 ==! */
		    <if test="rqstBaseClsfCd != null and rqstBaseClsfCd == 'PR' ">
			,(SELECT PRGM_TP_CD FROM TB_RSMI_PRGM_BASE WHERE BASE_RGSR_NO = A.BASE_RGSR_NO AND ROWNUM = 1) AS PRGM_TP_CD   /* Code de type de programme !== 프로그램구분코드 ==! */
			</if>
		 FROM TB_RSMI_BASE_MGMT_COMN A
		 WHERE 1=1
		 AND DEL_YN = 'N'                              /* Suppression ON !== 삭제여부 ==! */
		 AND RQST_RSN_CD IS NOT NULL                   /* Code de renseignement !== 신청사유코드 ==! */
		 AND BASE_RQST_TP_CD IN ('O','R')              /* Code de type de renseignement  !== 기준신청구분코드 ==! */
		 AND RQST_BASE_CLSF_CD IN('MA','HR','PA')      /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */

         <if test="chpnId != null and chpnId != '' ">
             AND ( CHPN_ID = #{chpnId}   OR (BASE_PRCS_STTS_CD = 'M01' AND CHPN_ID IS NULL ))                /* ID du responsable !== 담당자ID ==! */
         </if>
         
         <if test='userTpCd != null and userTpCd == "CHPN" '>
         </if>
         <if test='userTpCd != null and userTpCd == "MNGR" '>
         </if>

		 <if test='(aplyStrtDt != null and !"".equals(aplyStrtDt)) and (aplyEndDt != null and !"".equals(aplyEndDt))'>
		    AND A.APLY_STRT_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') AND A.APLY_END_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
		 </if>
		 <if test="rqstBaseClsfCd != null and rqstBaseClsfCd != '' ">
             AND RQST_BASE_CLSF_CD = #{rqstBaseClsfCd}     /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */
         </if>
		 
		 <if test="basePrcsSttsCd != null and basePrcsSttsCd != ''">
		 	<if test="'00' != basePrcsSttsCd">
		 	AND BASE_PRCS_STTS_CD = #{basePrcsSttsCd}      /* Code de statut de critère  !== 기준처리상태코드 ==! */
		 	</if>
		 </if>		
		 <if test="baseAplyYn != null and baseAplyYn != '' ">
			AND BASE_APLY_YN = #{baseAplyYn}               /* En vigueur O/N !== 기준적용여부 ==! */
		 </if>
		 <if test="dcshTpCd != null and dcshTpCd != '' ">
			AND DCSH_TP_CD = #{dcshTpCd}                   /* Code de type de déclaration !== 신고서구분코드 ==! */
		 </if>
		 <if test='bsopTpCd != null and bsopTpCd == "E" '>
			AND EXISTS(SELECT 1 FROM TB_RSMI_DCLR_PT_BASE X WHERE X.BASE_RGSR_NO=A.BASE_RGSR_NO AND X.DCLR_PT_CD IN ( SELECT B.CD_VDVAL         AS DCLR_PT_CD /* CODE DE TYPE DE DÉCLARATION !== 신고유형코드 ==! */
																													    FROM TB_COM_COMN_CD A , TB_COM_COMN_CD_D B
																													   WHERE A.DEL_YN           = 'N' AND A.USE_YN ='Y'
																														 AND A.COMN_CD          = 'RSM_0052'
																														 AND A.COMN_CD          = B.COMN_CD
																														 AND B.DEL_YN           = 'N' AND B.USE_YN ='Y'
																														 AND B.USER_DEFN_VDVAL1 = 'EXP'))    /* Exportation !== 수출 ==! */
		 </if>
		 <if test='bsopTpCd != null and bsopTpCd == "I" '>
			AND EXISTS(SELECT 1 FROM TB_RSMI_DCLR_PT_BASE X WHERE X.BASE_RGSR_NO=A.BASE_RGSR_NO AND X.DCLR_PT_CD IN ( SELECT B.CD_VDVAL         AS DCLR_PT_CD /* CODE DE TYPE DE DÉCLARATION !== 신고유형코드 ==! */
																													    FROM TB_COM_COMN_CD   A , TB_COM_COMN_CD_D B
																													   WHERE A.DEL_YN           = 'N' AND A.USE_YN ='Y'
																														 AND A.COMN_CD          = 'RSM_0052'
																														 AND A.COMN_CD          = B.COMN_CD
																														 AND B.DEL_YN           = 'N' AND B.USE_YN ='Y'
																														 AND B.USER_DEFN_VDVAL1 = 'IMP'))  /* Importation !== 수입 ==! */
		 </if>
		 
		 <if test="baseDesc != null and baseDesc != '' ">
			AND BASE_DESC LIKE '%' || #{baseDesc} || '%'   /* Description de critère !== 기준설명 ==! */
		 </if>
		 
		 <if test="sortOrdr != null and sortOrdr != '' ">
		 	<if test="sortOrdr == 1 ">
		 		ORDER BY BASE_RGSR_NO DESC                /* Numéro d'enregistrement !== 기준등록번호 ==! */
		 	</if>
		 	<if test="sortOrdr == 2 ">
		 		ORDER BY APLY_STRT_DT DESC                /* Date de départ de l'application !== 적용시작일자 ==! */
		 	</if>
		 	<if test="sortOrdr == 3 ">
		 		ORDER BY APLY_END_DT DESC                 /* Date de fin de l'application !== 적용종료일자 ==! */
		 	</if>
		 </if>
		<include refid="pagination.footer" />
	</select>

	<!--
	[Critères renseignés en attente d'approbation] Modifier les personnes chargées de côtation != [기준사용 상신관리] 배부담당자 수정 =!
	-->
	<update id="updateHnotChpn" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcBaseComnVo">
	    /* updateHnotChpn */
	    UPDATE TB_RSMI_BASE_MGMT_COMN
        SET    CHPN_ID          = #{chpnId}         	/* ID du responsable !== 담당자ID ==! */
             , LAST_CHPR_ID     = #{lastChprId}     	/* ID du modificateur final !== 최종변경자ID ==! */
             , LAST_CHG_DTTM    = SYSTIMESTAMP      	/* Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE DEL_YN = 'N'
		AND BASE_RGSR_NO = #{baseRgsrNo}         		/* Numéro d'enregistrement !== 기준등록번호 ==! */
	</update>

	<!--
	[Critères renseignés en attente d'approbation] Réceptionner la demande d'analyse du critère != [기준사용 상신관리] 기준분석요청 접수 =!
	-->
	<update id="updateBaseAnayReqstAcap" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcBaseComnVo">
		/* updateBaseAnayReqstAcap */
		UPDATE TB_RSMI_BASE_MGMT_COMN
		SET   BASE_PRCS_STTS_CD = #{basePrcsSttsCd} 	/* Code de statut de critère  !== 기준처리상태코드 ==! */
		    , CHPN_ID          = #{chpnId} 				/* ID du responsable !== 담당자ID ==! */
		    , LAST_CHPR_ID     = #{lastChprId}      	/* ID du modificateur final !== 최종변경자ID ==! */
		    , LAST_CHG_DTTM    = SYSTIMESTAMP       	/* Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE  DEL_YN = 'N'
		AND BASE_RGSR_NO = #{baseRgsrNo}         		/* Numéro d'enregistrement !== 기준등록번호 ==! */
	</update>
	
    
</mapper>