<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : statistique BRQ
(GHEZALI Abdelhak)
-->
<mapper namespace="alpass.ipt.coc.sttq.mapper.CocSttqMapper">

    <!--
     * select l'infraction OTS

    -->
    <select id="selectSttqOts" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqOts */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq
        WHERE DEL_YN = 'N'
        AND brq_tp='OTS'
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
        AND brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
        AND brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>

    <!--
    * select l'infraction SPS

    -->
    <select id="selectSttqSps" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqSps */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq
        WHERE DEL_YN = 'N'
        AND brq_tp='SPS'
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
        AND brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
        AND brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>
    <!--
    * select l'infraction INS

    -->
    <select id="selectSttqIns" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqIns */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq_inc_acc
        WHERE DEL_YN = 'N'
        AND inc_acc_type='INC'
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND inc_acc_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND inc_acc_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>
    <!--
    * select l'infraction ACC

    -->
    <select id="selectSttqAcc" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqAcc */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq_inc_acc
        WHERE DEL_YN = 'N'
        AND inc_acc_type='ACC'
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
        AND inc_acc_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
        AND inc_acc_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>

    <!-- COR *************************************************************************************************************************-->

    <!--
        * select l'infraction OTS

     -->
    <select id="selectSttqOtsCOR" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqOtsCOR */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq
        WHERE DEL_YN = 'N'
        AND brq_tp='OTS'
        AND sctr_cd=#{dirCd}
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>

    <!--
    * select l'infraction SPS

    -->
    <select id="selectSttqSpsCOR" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqSpsCOR */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq
        WHERE DEL_YN = 'N'
        AND brq_tp='SPS'
        AND sctr_cd=#{dirCd}
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>
    <!--
    * select l'infraction INS

    -->
    <select id="selectSttqInsCOR" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqInsCOR */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq_inc_acc
        WHERE DEL_YN = 'N'
        AND inc_acc_type='INC'
        AND sctr_cd=#{dirCd}
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND inc_acc_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND inc_acc_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>
    <!--
    * select l'infraction ACC

    -->
    <select id="selectSttqAccCOR" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqAccCOR */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq_inc_acc
        WHERE DEL_YN = 'N'
        AND inc_acc_type='ACC'
        AND sctr_cd=#{dirCd}
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND inc_acc_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND inc_acc_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>

    <!-- COD **************************************************************************************************************************-->

    <!--
 * select l'infraction OTS

-->
    <select id="selectSttqOtsCOD" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqOtsCOD */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq
        WHERE DEL_YN = 'N'
        AND brq_tp='OTS'
        AND orgn_cd=#{dirCd}
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>

    <!--
    * select l'infraction SPS

    -->
    <select id="selectSttqSpsCOD" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqSpsCOD */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq
        WHERE DEL_YN = 'N'
        AND brq_tp='SPS'
        AND orgn_cd=#{dirCd}
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>
    <!--
    * select l'infraction INS

    -->
    <select id="selectSttqInsCOD" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqInsCOD */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq_inc_acc
        WHERE DEL_YN = 'N'
        AND inc_acc_type='INC'
        AND orgn_cd=#{dirCd}
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND inc_acc_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND inc_acc_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>
    <!--
    * select l'infraction ACC

    -->
    <select id="selectSttqAccCOD" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqAccCOD */
        SELECT  count(*) as totCnt
        FROM alpassint.tb_coc_brq_inc_acc
        WHERE DEL_YN = 'N'
        AND inc_acc_type='ACC'
        AND orgn_cd=#{dirCd}
        <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
            AND inc_acc_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
            AND inc_acc_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
    </select>



    <!--
        * select cag

     -->
    <select id="selectSttqCag" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqCag */
        <include refid="catList"/>

    </select>

    <sql id="catList">
        <foreach collection="cagList" item="itemObj"  separator="UNION ALL">
            select sum(case
            when A.del_yn='N' and B.cag_ctg =#{itemObj} then B.cag_qty
            else 0
            end) as totCnt,
            C.CD_VDVAL_NM as cagNm
            from alpassint.tb_coc_brq_cag B
            join alpassint.tb_coc_brq A on B.brq_ref_no = A.brq_ref_no
            join alpassint.TB_COM_COMN_CD_D D on D.comn_cd = 'COM_0057'
            join alpassint.TB_COM_COMN_CD_D_LANG C on D.CD_VDVAL = C.LANG_CD
            where C.DEL_YN = 'N'
            AND C.COMN_CD = 'COC_0001'
            AND C.CD_VDVAL =#{itemObj}
            AND C.LANG_CD = #{langCd}
            <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
                AND A.brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
                AND A.brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
            </if>
            group by C.CD_VDVAL_NM
        </foreach>
    </sql>


    <select id="selectSttqCagDRD" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqCag */
        <include refid="catListDRD"/>

    </select>

    <sql id="catListDRD">
        <foreach collection="cagList" item="itemObj"  separator="UNION ALL">
            select sum(case
            when A.del_yn='N' and B.cag_ctg =#{itemObj} then B.cag_qty
            else 0
            end) as totCnt,
            C.CD_VDVAL_NM as cagNm
            from alpassint.tb_coc_brq_cag B
            join alpassint.tb_coc_brq A on B.brq_ref_no = A.brq_ref_no
            join alpassint.TB_COM_COMN_CD_D D on D.comn_cd = 'COM_0057'
            join alpassint.TB_COM_COMN_CD_D_LANG C on D.CD_VDVAL = C.LANG_CD
            where C.DEL_YN = 'N'
            AND C.COMN_CD = 'COC_0001'
            AND C.CD_VDVAL =#{itemObj}
            AND C.LANG_CD = #{langCd}
            AND A.sctr_cd = #{dirCd}
            <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
                AND A.brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
                AND A.brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
            </if>
            group by C.CD_VDVAL_NM
        </foreach>
    </sql>


    <select id="selectSttqCagIDD" parameterType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo" resultType="alpass.ipt.coc.sttq.vo.CocBrqSttqVo">
        /* CocSttqMapper_selectSttqCag */
        <include refid="catListIDD"/>

    </select>

    <sql id="catListIDD">
        <foreach collection="cagList" item="itemObj"  separator="UNION ALL">
            select sum(case
            when A.del_yn='N' and B.cag_ctg =#{itemObj} then B.cag_qty
            else 0
            end) as totCnt,
            C.CD_VDVAL_NM as cagNm
            from alpassint.tb_coc_brq_cag B
            join alpassint.tb_coc_brq A on B.brq_ref_no = A.brq_ref_no
            join alpassint.TB_COM_COMN_CD_D D on D.comn_cd = 'COM_0057'
            join alpassint.TB_COM_COMN_CD_D_LANG C on D.CD_VDVAL = C.LANG_CD
            where C.DEL_YN = 'N'
            AND C.COMN_CD = 'COC_0001'
            AND C.CD_VDVAL =#{itemObj}
            AND C.LANG_CD = #{langCd}
            AND A.orgn_cd = #{dirCd}
            <if test="brqRqstDtFrom != null and brqRqstDtFrom != '' and brqRqstDtTo != null and brqRqstDtTo != ''">
                AND A.brq_dt <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{brqRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
                AND A.brq_dt <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{brqRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
            </if>
            group by C.CD_VDVAL_NM
        </foreach>
    </sql>



</mapper>