<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarEptExpcmdtbrngMapper">

	<!--
		[Modifier] Modifier l'état de traitement de la demande d'introduction des marchandises à exporter% !== 수출물품 반입 신청 처리상태를 수정한다. ==!
    (Yangjip Kim)
	-->
  <update id="updateExpcmdtbrngAudtForEpt" parameterType="alpass.ipt.car.bnwrhs.expcmdtbrng.vo.CarExpcmdtbrngVo">
  	/* alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarEptExpcmdtbrngMapper.updateExpcmdtbrngAudtForEpt */
    UPDATE
       ALPASSEXT.TB_CARE_EXP_CMDT_BRNG
    SET
        PRCS_STTS_CD     = DECODE(#{audtPtCd}, 'O', 'D08', 'D09')
      , PRCS_DTTM        = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')
      , LAST_CHPR_ID     = #{lastChprId}
      , LAST_CHG_DTTM    = SYSTIMESTAMP
    WHERE
      	EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} /**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
  </update>

	<!--
		[Modifier] Modifier le N° de déclaration à l'export. !== 수출신고번호를 수정한다. ==!
    (Yangjip Kim)
	-->
	<update id="updateRelaNo" parameterType="alpass.ipt.car.bnwrhs.expcmdtbrng.vo.CarExpcmdtbrngVo">
  	/* alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarEptExpcmdtbrngMapper.updateRelaNo */
		UPDATE
			ALPASSEXT.TB_CARE_EXP_CMDT_BRNG
		SET
		    RELA_NO = #{relaNo}				/**  Numéro Concerné  !== 관련번호 ==!  */
			, LAST_CHPR_ID      = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM     = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
			EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} /**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
	</update>
</mapper>
