<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper">
   	<!--
	   On voit la liste de demande de mainlevée de l'aliénation. !== 양도 해제 신청 목록을 조횐한다. ==!
	   (Jeonghun Lee)
	-->
    <select id="selectTrrlTlxsList" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.selectTrrlTlxsList */
        <include refid="pagination.header" />
		SELECT
		       A.TRRL_TLXS_RQST_NO          /** N° demande de prorogation du délai de mainlevée de l'aliénation !== 양도해제기한연장신청번호 ==! */
		     , A.CAG_RQST_TP_CD             /** Code de classement du suivi du fret !== 화물신청구분코드 ==! */
		     , A.RQST_CO_NM                 /** Demandeur !== 신청업체명 ==! */
		     , A.RQST_CO_ADDR_NM            /** Adresse d'opérateur demandeur !== 신청업체주소명 ==! */
		     , A.RQST_CO_TLPH_NO            /** N° De Téléphone D'Opérateur Demandeur !== 신청업체전화번호 ==! */
		     , A.RQST_CO_EML                /** E-mail de l’opérateur demandeur !== 신청업체이메일 ==! */
		     , A.OWRG_TXPR_IDFY_NO          /** NIF du propriétaire !== 화주납세자식별번호 ==! */
		     , A.OWRG_NM                    /** Nom Du Propriétaire !== 화주명 ==! */
		     , A.OWRG_ADDR_NM               /** Adresse Du Propriétaire !== 화주주소명 ==! */
		     , A.OWRG_TLPH_NO               /** N° De Tél. Du Propriétaire !== 화주전화번호 ==! */
		     , A.OWRG_EML                   /** Email Du Propriétaire !== 화주이메일 ==! */
		     , A.CAG_MGMT_NO                /** CRN !== 화물관리번호 ==! */
		     , A.BL_NO                      /** N° De Bl !== BL번호 ==! */
		     , A.PDLS_NM                    /** Nom De L'Article !== 품목명 ==! */
		     , A.PCKG_GCNT                  /** Nombre De Colis !== 포장개수 ==! */
		     , A.PCKG_UT_CD                 /** Code De L'Unité De Colis !== 포장단위코드 ==! */
		     , A.WGHT                       /** Poids !== 중량 ==! */
		     , A.IBOBZ_CD                   /** Code de zone sous douane !== 보세구역코드 ==! */
		     , C1.IBOBZ_NM                  /** Nom d'entrepôt !== 보세창고명==! */
		     , A.JRSD_ORGN_CD               /** Code D'Unité Compétente !== 관할조직코드 ==! */
		     , TO_CHAR(TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS FRST_BRNG_DT          /** Date d'introduction initiale !== 최초반입일자 ==! */
		     , TO_CHAR(TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS TRSF_PRNG_DT          /** Date D'Aliénation Prévue !== 양도예정일자 ==! */
		     , TO_CHAR(TO_DATE(A.AFCH_TRSF_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS TRSF_PRNG_DT     /** Nouvelle date d'aliénation prévue !== 변경후양도예정일자 ==! */
		     , A.DPOT_NO                                          /** N° dépôt !== 데포번호 ==! */
		     , A.ATCH_FILE_ID                                     /** ID du fichier joint !== 첨부파일ID ==! */
		     , A.RELE_XTNS_RSN_CN                                 /** Motif de prorogation de mainlevée !== 해제연장사유내용 ==! */
		     , TO_CHAR(A.TRSN_DTTM,'DD/MM/YYYY') AS TRSN_DTTM     /** Date et heure de transmission !== 전송일시 ==! */
		     , A.TRSN_CO_CD                                       /** Code d'entreprise transmettrice !== 전송업체코드 ==! */
             , TO_CHAR(A.audt_dttm, 'DD/MM/YYYY') AS AUDT_DTTM  /**  Date De L'Étude  !== 심사일시 ==!  */
             , A.AUDT_PT_CD                                     /**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
             , A.AUDT_RSLT_CN                                   /**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
             , B.PRCS_STTS_CD                                   /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
             , TO_CHAR(B.PRCS_DTTM, 'DD/MM/YYYY') AS PRCS_DTTM
             , B.AUDT_EMP_ID                                    /**  ID de l'insepcteur  !== 심사직원ID ==!  */
             , LTRIM(CONCAT(C2.EMP_FMNM,' ',C2.EMP_NM)) AS AUDT_EMP_NM                         /**  ID de l'insepcteur  !== 심사직원ID ==!  */
		FROM   TB_CARI_TRRL_TLXS A,
		       TB_CARI_CAG_PRCS_BRKD B,
		       TB_CARI_IBOBZ C1,
               TB_POTI_EMP C2
		WHERE  A.TRRL_TLXS_RQST_NO   = B.CAG_RQST_NO(+)
        AND    B.CAG_RQST_TP_CD(+)   = #{cagRqstTpCd}
        AND    B.RQST_DGCNT(+)       = 0
        AND    A.IBOBZ_CD            = C1.IBOBZ_CD(+)
        AND    B.AUDT_EMP_ID         = C2.PBSR_NO(+)
        AND    A.DEL_YN              = 'N'                          /** Suppression ON !== 삭제여부 ==! */

        <if test="prcsSttsCd != null and prcsSttsCd != ''">
            AND   B.PRCS_STTS_CD = #{prcsSttsCd} /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
        </if>

        <if test="ibobzCd != null and ibobzCd != ''">
            AND   A.IBOBZ_CD = #{ibobzCd} /**  Code de zone sous douane  !== 보세구역코드 ==!  */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
            AND   A.CAG_MGMT_NO LIKE #{cagMgmtNo} || '%'  /** CRN !== 화물관리번호  ==! */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(blNo)">
            AND   A.BL_NO LIKE #{blNo} || '%'             /** N° de BL !==BL번호==! */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trsnDttmFrom) and @alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trsnDttmTo)">
            /**  Date de demande  !== 신청일자 ==!  */
            AND (
                  A.TRSN_DTTM <![CDATA[ >= ]]> TO_DATE(#{trsnDttmFrom}, 'DD/MM/YYYY')       /**  Date et heure de transmission  !== 전송일시 ==!  */
                  AND A.TRSN_DTTM <![CDATA[ <= ]]> TO_DATE(#{trsnDttmTo}, 'DD/MM/YYYY')+0.9999   /**  Date et heure de transmission  !== 전송일시 ==!  */
                )
        </if>

        <choose>
            <when test="@alpass.ipt.car.com.util.CarMyBatisUtil@isEqualsStr(scrnTp, '1')">
                AND B.PRCS_STTS_CD IN ('B02', 'D06', 'D08', 'D09', 'D10', 'D36')
                AND B.AUDT_EMP_ID  = #{pbsrNo}
            </when>
            <otherwise>
                AND B.PRCS_STTS_CD IN ('B02', 'D01', 'D06', 'D08', 'D09', 'D10', 'D36')
		            AND A.JRSD_ORGN_CD LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'
            </otherwise>
        </choose>

		ORDER BY A.TRSN_DTTM DESC
        <include refid="pagination.footer" />
    </select>

    <!--
	   On voit la liste de demande de mainlevée de l'aliénation. !== 양도 해제 신청 정보를 상세 조회한다. ==!
	   (Jeonghun Lee)
	-->
    <select id="selectTrrlTlxs" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.selectTrrlTlxs */
		SELECT
               A.TRRL_TLXS_RQST_NO          /** N° demande de prorogation du délai de mainlevée de l'aliénation !== 양도해제기한연장신청번호 ==! */
             , A.CAG_RQST_TP_CD             /** Code de classement du suivi du fret !== 화물신청구분코드 ==! */
             , A.RQST_CO_NM                 /** Demandeur !== 신청업체명 ==! */
             , A.RQST_CO_ADDR_NM            /** Adresse d'opérateur demandeur !== 신청업체주소명 ==! */
             , A.RQST_CO_TLPH_NO            /** N° De Téléphone D'Opérateur Demandeur !== 신청업체전화번호 ==! */
             , A.RQST_CO_EML                /** E-mail de l’opérateur demandeur !== 신청업체이메일 ==! */
             , A.OWRG_TXPR_IDFY_NO          /** NIF du propriétaire !== 화주납세자식별번호 ==! */
             , A.OWRG_NM                    /** Nom Du Propriétaire !== 화주명 ==! */
             , A.OWRG_ADDR_NM               /** Adresse Du Propriétaire !== 화주주소명 ==! */
             , A.OWRG_TLPH_NO               /** N° De Tél. Du Propriétaire !== 화주전화번호 ==! */
             , A.OWRG_EML                   /** Email Du Propriétaire !== 화주이메일 ==! */
             , A.CAG_MGMT_NO                /** CRN !== 화물관리번호 ==! */
             , A.BL_NO                      /** N° De Bl !== BL번호 ==! */
             , A.PDLS_NM                    /** Nom De L'Article !== 품목명 ==! */
             , A.PCKG_GCNT                  /** Nombre De Colis !== 포장개수 ==! */
             , A.PCKG_UT_CD                 /** Code De L'Unité De Colis !== 포장단위코드 ==! */
             , A.WGHT                       /** Poids !== 중량 ==! */
             , A.IBOBZ_CD                   /** Code de zone sous douane !== 보세구역코드 ==! */
             , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE DEL_YN = 'N' AND IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM /** Nom d'entrepôt !== 보세창고명==! */
             , A.JRSD_ORGN_CD               /** Code D'Unité Compétente !== 관할조직코드 ==! */
						 , C.ORGN_NM AS JRSD_ORGN_NM    /** Service compétent !== 관할조직 ==! */
			       , C.JRSD_CSTM_CD
			       , C.JRSD_CSTM_NM
             , TO_CHAR(TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS FRST_BRNG_DT          /** Date d'introduction initiale !== 최초반입일자 ==! */
             , TO_CHAR(TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS TRSF_PRNG_DT          /** Date D'Aliénation Prévue !== 양도예정일자 ==! */
             , TO_CHAR(TO_DATE(A.AFCH_TRSF_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS AFCH_TRSF_PRNG_DT  /** Nouvelle date d'aliénation prévue !== 변경후양도예정일자 ==! */
             , A.DPOT_NO                                          /** N° dépôt !== 데포번호 ==! */
             , A.ATCH_FILE_ID                                     /** ID du fichier joint !== 첨부파일ID ==! */
             , A.RELE_XTNS_RSN_CN                                 /** Motif de prorogation de mainlevée !== 해제연장사유내용 ==! */
	         , TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS TRSN_DTTM /**  Date et heure de transmission  !== 전송일시 ==!  */
	         , A.TRSN_CO_CD                                               /** Code d'entreprise transmettrice !== 전송업체코드 ==! */
	         , TO_CHAR(A.AUDT_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS AUDT_DTTM /** Date Et Heure De Traitement !== 처리일시 ==! */
	         , A.AUDT_PT_CD                                               /**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
	         , A.AUDT_RSLT_CN                                             /**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
	         , A.DEL_YN                                                   /** Suppression On !== 삭제여부 ==! */
	         , B.PRCS_STTS_CD                  /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
	         , B.AUDT_EMP_ID                   /**  ID de l'insepcteur  !== 심사직원ID ==!  */
	         , TO_CHAR(B.PRCS_DTTM, 'DD/MM/YYYY HH24:MI') AS PRCS_DTTM
        FROM   TB_CARI_TRRL_TLXS A,
               TB_CARI_CAG_PRCS_BRKD B,
					     (SELECT
                     C1.ORGN_CD
                   , C1.ORGN_NM
                   , C2.ORGN_CD AS JRSD_CSTM_CD
                   , C2.ORGN_NM AS JRSD_CSTM_NM
                FROM TB_POTI_ORGN C1,
                     TB_POTI_ORGN C2
                WHERE C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
                AND   C1.DEL_YN = 'N') C
        WHERE  A.TRRL_TLXS_RQST_NO   = B.CAG_RQST_NO(+)
        AND    A.JRSD_ORGN_CD = C.ORGN_CD(+)
        AND    A.DEL_YN              = 'N'
        AND    B.CAG_RQST_TP_CD(+)   = #{cagRqstTpCd}
        AND    B.RQST_DGCNT(+)       = 0
        AND    B.DEL_YN(+)           = 'N'
    	AND    A.TRRL_TLXS_RQST_NO   = #{trrlTlxsRqstNo}
    </select>

    <!--
    On voit la liste de demande de mainlevée de l'aliénation. !== 양도 해제 신청 목록을 조회한다.(EPT) ==!
    (Heesung Jeon)
-->
    <select id="selectTrrlTlxsListForEpt" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.selectTrrlTlxsListForEpt */
        SELECT A.TRRL_TLXS_RQST_NO          /** N° demande de prorogation du délai de mainlevée de l'aliénation !== 양도해제기한연장신청번호 ==! */
             , A.DPOT_NO                    /** N° dépôt !== 데포번호 ==! */
        FROM   ALPASSEXT.TB_CARE_TRRL_TLXS A,
            <if test="!cagRqstTpCd.equals('ZPR')">
               TB_CARI_TRSF_PRNG_TRGT B,
            </if>
            <if test="cagRqstTpCd.equals('ZPR')">
               TB_CARI_STDT_PASS_CMDT B,
            </if>
               TB_CARI_IBOBZ Z1
        WHERE  A.CAG_MGMT_NO  = B.CAG_MGMT_NO(+)
        AND    A.IBOBZ_CD     = Z1.IBOBZ_CD(+)
        AND    A.DEL_YN       = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND    B.DEL_YN(+)    = 'N'
        AND    A.CAG_RQST_TP_CD = #{cagRqstTpCd}
        AND    A.PRCS_STTS_CD = #{prcsSttsCd}
        AND    A.CAG_MGMT_NO LIKE #{cagMgmtNo} || '%'  /** CRN !== 화물관리번호  ==! */
        ORDER BY A.PRCS_DTTM DESC
    </select>

    <!-- Mettre à jour le résultat de la demande !== 신청 결과 업데이트==!
        (Jeonghun Lee)
     -->
    <update id="updateTrrlTlxsAudt" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.updateTrrlTlxsAudt */
        UPDATE  TB_CARI_TRRL_TLXS
           SET  LAST_CHPR_ID     = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
              , LAST_CHG_DTTM    = SYSTIMESTAMP  /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
              , AUDT_DTTM        = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')
              , AUDT_PT_CD       = #{audtPtCd}
              , AUDT_RSLT_CN     = #{audtRsltCn}
         WHERE  TRRL_TLXS_RQST_NO = #{trrlTlxsRqstNo}
    </update>

    <!--
        Modification des infos de contrôle sur la demande d'introduction en bloc !==심사정보 업데이트==!
        (Jeonghun Lee)
    -->
    <update id="updateTrrlTlxsAudtForEpt" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.updateTrrlTlxsAudtForEpt */
        UPDATE TB_CARE_TRRL_TLXS
        SET    PRCS_STTS_CD   = #{prcsSttsCd}
             , PRCS_DTTM      = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')
             , LAST_CHPR_ID   = #{lastChprId}
             , LAST_CHG_DTTM  = SYSTIMESTAMP
        WHERE  TRRL_TLXS_RQST_NO = #{trrlTlxsRqstNo}
    </update>

    <!--
        Mettre à jour la mainlevée des marchandises faisant l'objet de l'aliénation !==양도대상 해제 업데이트==!
        (Jeonghun Lee)
    -->
    <update id="updateTrsfRele" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.updateTrsfRele */
        UPDATE TB_CARI_TRSF_PRNG_TRGT
        SET    TRSF_TP_CD       = '30'
             , RELE_DTTM        = SYSTIMESTAMP
             , LAST_CHPR_ID     = #{lastChprId}
             , LAST_CHG_DTTM    = SYSTIMESTAMP
        WHERE  CAG_MGMT_NO      = #{cagMgmtNo}
        AND    IBOBZ_CD         = #{ibobzCd}
        AND    DEL_YN = 'N'
    </update>

    <!--
        Mettre à jour la inventaire !== 재고 업데이트(EPT) ==!
        (Jeonghun Lee)
    -->
    <update id="updateTrrlTlxsInvnForEpt" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.updateTrrlTlxsAudtForEpt */
        UPDATE TB_CARE_TRRL_TLXS
        SET    LAST_CHPR_ID   = #{lastChprId}
             , LAST_CHG_DTTM  = SYSTIMESTAMP
             , PCKG_GCNT = #{pckgGcnt}
             , WGHT = #{wght}
        WHERE  DEL_YN = 'N'
        AND    TRRL_TLXS_RQST_NO = #{trrlTlxsRqstNo}
    </update>

    <!--
        Exclure les marchandises de l'objet de prorogation après l'autorisation de la demande de prorogation du délai d’aliénation.
        !== 양도기한연장 승인으로 연장대상에서 삭제처리 ==!
        (Jeonghun Lee)
    -->
    <update id="deleteTrsfPrng" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.deleteTrsfPrng */
        UPDATE TB_CARI_TRSF_PRNG_TRGT
        SET    DEL_YN = 'Y'
             , LAST_CHPR_ID     = #{lastChprId}
             , LAST_CHG_DTTM    = SYSTIMESTAMP
        WHERE  CAG_MGMT_NO      = #{cagMgmtNo}
        AND    IBOBZ_CD         = #{ibobzCd}
        AND    TRSF_TP_CD       = '10'
        AND    DEL_YN           = 'N'
    </update>

    <!--
        Mettre à jour la date d'aliénation prévue du tableau d'introduction après l'autorisation de la demande de prorogation du délai d’aliénation (IPT)
        !== 양도기한연장신청 승인으로 반입테이블의 양도예정일자 업데이트(IPT) ==!
        (Jeonghun Lee)
    -->
    <update id="updateTrsfPrngDtForIpt" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.updateTrsfPrngDtForIpt */
		UPDATE TB_CARI_RLBR
		SET    TRSF_PRNG_DT   = TO_CHAR(TO_DATE(#{afchTrsfPrngDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
             , LAST_CHPR_ID   = #{lastChprId}
             , LAST_CHG_DTTM  = SYSTIMESTAMP
		WHERE  RLBR_TP_CD     = 'I'
		AND    AUDT_PT_CD     = 'O'           /* !==심사 승인건==! */
		AND    DEL_YN         = 'N'
		AND    CAG_MGMT_NO    = #{cagMgmtNo}
		AND    IBOBZ_CD       = #{ibobzCd}
    </update>

    <!--
        Mettre à jour la date d'aliénation prévue du tableau d'introduction après l'autorisation de la demande de prorogation du délai d’aliénation (EPT)
        !== 양도기한연장신청 승인으로 반입테이블의 양도예정일자 업데이트(EPT) ==!
        (Jeonghun Lee)
    -->
    <update id="updateTrsfPrngDtForEpt" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.updateTrsfPrngDtForIpt */
		UPDATE TB_CARE_RLBR
		SET    TRSF_PRNG_DT   = TO_CHAR(TO_DATE(#{afchTrsfPrngDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
		     , LAST_CHPR_ID   = #{lastChprId}
		     , LAST_CHG_DTTM  = SYSTIMESTAMP
		WHERE  RLBR_TP_CD     = 'I'
		AND    PRCS_STTS_CD   = 'D08'
		AND    DEL_YN         = 'N'
        AND    CAG_MGMT_NO    = #{cagMgmtNo}
        AND    IBOBZ_CD       = #{ibobzCd}
    </update>

    <!--
        Autoriser la demande de mainlevée des marchandises ayant dépassé le délai légal du séjour.
        !== 보관일경과물품 해제신청을 승인한다. ==!
        (Jeonghun Lee)
    -->
    <update id="updateStdtPassCmdtRele" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.updateStdtPassCmdtRele */
        UPDATE TB_CARI_STDT_PASS_CMDT
        SET    TRNP_NEED_YN     = 'N'
             , RELE_YN          = 'Y'
             , RELE_DTTM        = SYSTIMESTAMP
             , LAST_CHPR_ID     = #{lastChprId}
             , LAST_CHG_DTTM    = SYSTIMESTAMP
        WHERE  DPOT_NO          = #{dpotNo}
        AND    DEL_YN           = 'N'
    </update>

    <!--
       Consulter le motif de la demande de mainlevée des marchandises ayant dépassé le délai légal du séjour.
       !== 보관일경과물품 해제신청에 대한 근거를 조회한다. ==!
       (Jeonghun Lee)
    -->
    <select id="selectStdtPassCmdt" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrrlTlxsVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.selectStdtPassCmdt */
        SELECT
               A.DPOT_NO          /** N° dépôt  !== 데포번호 ==! */
             , A.FIX_YN
             , A.RELE_YN
        FROM   TB_CARI_STDT_PASS_CMDT A
        WHERE  A.DPOT_NO    = #{dpotNo}
        AND    A.DEL_YN     = 'N'
    </select>

  <!--
    [Rechercher] Consulter le code du bureau compétent. !== 관할세관코드를 조회한다. ==!
  -->
  <select id="selectGetCstmCd" parameterType="string" resultType="string">
    /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrrlTlxsMapper.selectGetCstmCd */
    SELECT C2.ORGN_CD CSTM_CD
    FROM TB_POTI_ORGN C1
      LEFT JOIN TB_POTI_ORGN C2
        ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
        AND C2.DEL_YN = 'N'
    WHERE C1.DEL_YN = 'N'
      AND C1.ORGN_CD = #{jrsdOrgnCd}
      AND ROWNUM = 1
  </select>

</mapper>