<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.bnwrhs.trsf.mapper.CarTrsfMapper">

    <!--
        Consulter l'aliénation prévue !==양도 예정 조회==!
        (Jeonghun Lee)
    -->
    <select id="selectTrsfPrngList" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrsfVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrsfVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrsfMapper.selectTrsfPrngList */
        <include refid="pagination.header" />
            SELECT
                   A.CAG_MGMT_NO                                    /** Crn !== 화물관리번호 ==! */
                 , A.IBOBZ_CD                                       /** Code d'entrepôt !==보세창고코드==! */
                 , C.IBOBZ_NM AS IBOBZ_NM                           /** Nom d'entrepôt !== 보세창고명==! */
                 , A.TRSF_TP_CD                                     /** Code de catégorie d’aliénation !== 양도구분코드 ==! */
                 , TO_CHAR(TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS FRST_BRNG_DT    /** Date d'introduction initiale !== 최초반입일자 ==! */
                 , TO_CHAR(TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS TRSF_PRNG_DT    /** Date D'Aliénation Prévue !== 양도예정일자 ==! */
                 , A.PCKG_GCNT                                      /** Nombre De Colis !== 포장개수 ==! */
                 , A.PCKG_UT_CD                                     /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                 , (SELECT CD_VDVAL_NM FROM ALPASSINT.TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'CAR_0021' AND CD_VDVAL = A.PCKG_UT_CD AND LANG_CD = #{langCd}) AS PCKG_UT_NM /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                 , A.WGHT                                           /** Poids !== 중량 ==! */
                 , A.RELE_DTTM                                      /** Moment De Mainlevée !== 해제일시 ==! */
                 , TO_CHAR(A.TRSF_DTTM, 'DD/MM/YYYY') AS TRSF_DTTM  /** Date d'aliénation !== 양도일시 ==! */
                 , A.DEL_YN                                         /** Suppression On !== 삭제여부 ==! */
                 , B.BL_NO                                          /** N° de BL !==BL번호==! */
                 , B.CNSI_NM AS OWRG_NM                             /** Nom du propriétaire !==화주명==! */
                 , B.CAG_CHRC_CD                                    /** Nature de cargaison !== 화물특성 ==! */
                 , (SELECT CD_VDVAL_NM FROM ALPASSINT.TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'CAR_0018' AND CD_VDVAL = B.CAG_CHRC_CD AND LANG_CD = #{langCd}) AS CAG_CHRC_NM
                 , EXTRACT('day' from TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD') - TO_DATE(TO_CHAR(NOW(), 'YYYYMMDD'))) AS RMND_DCNT /** Nombre de jours restants !==잔여일수==! */
                 , EXTRACT('day' from TO_DATE(TO_CHAR(NOW(), 'YYYYMMDD'), 'YYYYMMDD') - TO_DATE(A.TRSF_PRNG_DT)) AS PASS_DCNT /** Nombre de jours écoulés !==경과일수==! */
                 , A.FRST_REGST_ID                                  /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                 , A.FRST_RGSR_DTTM                                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                 , A.LAST_CHPR_ID                                   /** Id Du Modificateur Final !== 최종변경자ID ==! */
                 , A.LAST_CHG_DTTM                                  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            FROM   TB_CARI_TRSF_PRNG_TRGT A
                 , TB_CARI_CAG_DCSH_BL B
                 , TB_CARI_IBOBZ C
                 , (SELECT CAG_MGMT_NO, LISTAGG(CNTR_NO, ' ') WITHIN GROUP(ORDER BY CNTR_NO) AS CNTR_NO
                    FROM TB_CARI_CAG_DCSH_BL_CNTR WHERE DEL_YN = 'N'
                    GROUP BY CAG_MGMT_NO) X
            WHERE  A.CAG_MGMT_NO  = B.CAG_MGMT_NO
            AND    A.DEL_YN       = 'N'                                /** Suppression ON !== 삭제여부 ==! */
            AND    B.DEL_YN       = 'N'
            AND    A.IBOBZ_CD     = C.IBOBZ_CD
            AND    C.DEL_YN       = 'N'
            AND    C.JRSD_ORGN_CD LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'
            AND    A.TRSF_TP_CD   = #{trsfTpCd}
            AND    A.CAG_MGMT_NO  = X.CAG_MGMT_NO(+)
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trsfPrngDtFrom)">
            AND TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD') BETWEEN TO_DATE(#{trsfPrngDtFrom}, 'DD/MM/YYYY') AND TO_DATE(#{trsfPrngDtTo}, 'DD/MM/YYYY') + 0.99999
            </if>
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(frstBrngDtFrom)">
            AND TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD') BETWEEN TO_DATE(#{frstBrngDtFrom}, 'DD/MM/YYYY') AND TO_DATE(#{frstBrngDtTo}, 'DD/MM/YYYY') + 0.99999
            </if>
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
            AND A.CAG_MGMT_NO LIKE #{cagMgmtNo} || '%'  /** CRN !== 화물관리번호  ==! */
            </if>
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(blNo)">
            AND B.BL_NO(+) LIKE #{blNo} || '%'             /** N° de BL !==BL번호==! */
            </if>
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(ibobzCd)">
            AND A.IBOBZ_CD = #{ibobzCd}             /** Code de zone sous douane !== 보세구역코드 ==! */
            </if>
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cntrNo)">
            AND X.CNTR_NO LIKE '%' || #{cntrNo} || '%'  /**  N° De Conteneur  !== 컨테이너번호 ==!  */
            </if>
            ORDER BY A.CAG_MGMT_NO
        <include refid="pagination.footer" />
    </select>

    <!--
        @TODO : 번역필요 !== 양도 예정 조회(단건) ==!
        (Heesung Jeon)
    -->
    <select id="selectTrsfPrng" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrsfVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrsfVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrsfMapper.selectTrsfPrng */
            SELECT
                   A.CAG_MGMT_NO                                    /** Crn !== 화물관리번호 ==! */
                 , A.IBOBZ_CD                                       /** Code d'entrepôt !==보세창고코드==! */
                 , C.IBOBZ_NM AS IBOBZ_NM                           /** Nom d'entrepôt !== 보세창고명==! */
                 , A.TRSF_TP_CD                                     /** Code de catégorie d’aliénation !== 양도구분코드 ==! */
                 , TO_CHAR(TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS FRST_BRNG_DT    /** Date d'introduction initiale !== 최초반입일자 ==! */
                 , TO_CHAR(TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS TRSF_PRNG_DT    /** Date D'Aliénation Prévue !== 양도예정일자 ==! */
                 , A.PCKG_GCNT                                      /** Nombre De Colis !== 포장개수 ==! */
                 , A.PCKG_UT_CD                                     /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                 , (SELECT CD_VDVAL_NM FROM ALPASSINT.TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'CAR_0021' AND CD_VDVAL = A.PCKG_UT_CD AND LANG_CD = #{langCd}) AS PCKG_UT_NM /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                 , A.WGHT                                           /** Poids !== 중량 ==! */
                 , A.RELE_DTTM                                      /** Moment De Mainlevée !== 해제일시 ==! */
                 , TO_CHAR(A.TRSF_DTTM, 'DD/MM/YYYY') AS TRSF_DTTM  /** Date d'aliénation !== 양도일시 ==! */
                 , A.DEL_YN                                         /** Suppression On !== 삭제여부 ==! */
                 , B.BL_NO                                          /** N° de BL !==BL번호==! */
                 , B.CNSI_NM AS OWRG_NM                             /** Nom du propriétaire !==화주명==! */
                 , B.CAG_CHRC_CD                                    /** Nature de cargaison !== 화물특성 ==! */
                 , (SELECT CD_VDVAL_NM FROM ALPASSINT.TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'CAR_0018' AND CD_VDVAL = B.CAG_CHRC_CD AND LANG_CD = #{langCd}) AS CAG_CHRC_NM
                 , EXTRACT('day' from TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD') - TO_DATE(TO_CHAR(NOW(), 'YYYYMMDD'))) AS RMND_DCNT /** Nombre de jours restants !==잔여일수==! */
                 , EXTRACT('day' from TO_DATE(TO_CHAR(NOW(), 'YYYYMMDD'), 'YYYYMMDD') - TO_DATE(A.TRSF_PRNG_DT)) AS PASS_DCNT /** Nombre de jours écoulés !==경과일수==! */
                 , A.FRST_REGST_ID                                  /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                 , A.FRST_RGSR_DTTM                                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                 , A.LAST_CHPR_ID                                   /** Id Du Modificateur Final !== 최종변경자ID ==! */
                 , A.LAST_CHG_DTTM                                  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            FROM   TB_CARI_TRSF_PRNG_TRGT A
                 , TB_CARI_CAG_DCSH_BL B
                 , TB_CARI_IBOBZ C
            WHERE  A.CAG_MGMT_NO  = B.CAG_MGMT_NO
            AND    A.DEL_YN       = 'N'                                /** Suppression ON !== 삭제여부 ==! */
            AND    B.DEL_YN       = 'N'
            AND    A.IBOBZ_CD     = C.IBOBZ_CD
            AND    C.DEL_YN       = 'N'
            AND    A.TRSF_TP_CD   = #{trsfTpCd}
            AND    A.CAG_MGMT_NO = #{cagMgmtNo} /** CRN !== 화물관리번호  ==! */
    </select>

    <!--
        Procéder à l'aliénation !== 양도처리 ==!
        (Jeonghun Lee)
    -->
    <update id="updateTrsfPrcs" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrsfVo">
        /** alpass.ipt.car.bnwrhs.trsf.mapper.CarTrsfMapper.updateTrsfPrcs */
        UPDATE TB_CARI_TRSF_PRNG_TRGT
        SET    TRSF_TP_CD       = '30'
             , TRSF_DTTM        = TO_TIMESTAMP(#{trsfDttm},  'DD/MM/YYYY')
             , LAST_CHPR_ID     = #{lastChprId}
             , LAST_CHG_DTTM    = SYSTIMESTAMP
        WHERE  CAG_MGMT_NO      = #{cagMgmtNo}  /** CRN !== 화물관리번호  ==! */
    </update>


    <!--
        Voir les marchandises à aliéner !==양도 대상 조회(징수)==!
        (Jeonghun Lee)
    -->
    <select id="selectTrsfTrgtForColList" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrsfVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarTrsfVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarTrsfMapper.selectTrsfTrgtForColList */
        <include refid="pagination.header" />
			SELECT
			       A.CAG_MGMT_NO                                    /** Crn !== 화물관리번호 ==! */
			     , A.IBOBZ_CD                                       /** Code d'entrepôt !==보세창고코드==! */
			     , B.IBOBZ_NM AS IBOBZ_NM                           /** Nom d'entrepôt !== 보세창고명==! */
			     , A.TRSF_TP_CD                                     /** Code de catégorie d’aliénation !== 양도구분코드 ==! */
			     , TO_CHAR(TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS FRST_BRNG_DT    /** Date d'introduction initiale !== 최초반입일자 ==! */
			     , TO_CHAR(TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS TRSF_PRNG_DT    /** Date D'Aliénation Prévue !== 양도예정일자 ==! */
			     , A.PCKG_GCNT                                      /** Nombre De Colis !== 포장개수 ==! */
			     , A.PCKG_UT_CD                                     /** Code De L'Unité De Colis !== 포장단위코드 ==! */
			     , Z1.CD_VDVAL_NM AS PCKG_UT_NM                     /** Code De L'Unité De Colis !== 포장단위코드 ==! */
			     , A.WGHT                                           /** Poids !== 중량 ==! */
			     , EXTRACT('day' from TO_DATE(TO_CHAR(NOW(), 'YYYYMMDD'), 'YYYYMMDD') - TO_DATE(A.TRSF_PRNG_DT)) AS PASS_DCNT /** Nombre de jours écoulés !==경과일수==! */
			     , (SELECT MAX(PDLS_NM) FROM TB_CARI_RLBR WHERE RLBR_TP_CD = 'I' AND CAG_MGMT_NO = A.CAG_MGMT_NO AND IBOBZ_CD = A.IBOBZ_CD AND DEL_YN = 'N') AS PDLS_NM
			FROM   TB_CARI_TRSF_PRNG_TRGT A,
			       TB_CARI_IBOBZ B,
			       TB_COM_COMN_CD_D_LANG Z1
			WHERE  A.TRSF_TP_CD     = #{trsfTpCd}
			AND    A.DEL_YN         = 'N'
			AND    A.IBOBZ_CD       = B.IBOBZ_CD
			AND    B.JRSD_ORGN_CD   LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'
			AND    B.DEL_YN         = 'N'
			AND    A.PCKG_UT_CD     = Z1.CD_VDVAL(+)
			AND    Z1.COMN_CD(+)    = 'CAR_0021'
			AND    Z1.LANG_CD(+)    = #{langCd}
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trsfPrngDtFrom)">
            AND    TO_DATE(A.TRSF_PRNG_DT, 'YYYYMMDD') BETWEEN TO_DATE(#{trsfPrngDtFrom}, 'DD/MM/YYYY') AND TO_DATE(#{trsfPrngDtTo}, 'DD/MM/YYYY') + 0.99999
            </if>
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(frstBrngDtFrom)">
            AND    TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD') BETWEEN TO_DATE(#{frstBrngDtFrom}, 'DD/MM/YYYY') AND TO_DATE(#{frstBrngDtTo}, 'DD/MM/YYYY') + 0.99999
            </if>
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
            AND    A.CAG_MGMT_NO LIKE #{cagMgmtNo} || '%'  /** CRN !== 화물관리번호  ==! */
            </if>
            <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(ibobzCd)">
            AND    A.IBOBZ_CD = #{ibobzCd}             /** Code de zone sous douane !== 보세구역코드 ==! */
            </if>
            ORDER BY A.CAG_MGMT_NO
        <include refid="pagination.footer" />
    </select>



</mapper>