<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.oths.mapper.ColOthsRqstMapper">

    <!--
    Consulter la liste des demandes diverses !==기타신청 목록을 조회한다==!
    -->
  <select id="selectOthsMgmtLst" parameterType="alpass.ipt.col.oths.vo.ColOthsRqstVO" resultType="alpass.ipt.col.oths.vo.ColOthsRqstVO">
    /* colOthsMgmt_selectOthsMgmtLst */
    <include refid="pagination.header"/>
    SELECT
         A.RQST_NO            /* N° De Demande */
        ,A.CSTM_CD            /* Code Du Bureau */
        ,FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM       /** Nom Du Bureau */
        ,A.DEPT_CD            /* Code de service */
        , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(A.DEPT_CD)) AS DEPT_NM  /** Nom du département */
        ,A.PRCS_STTS_CD       /* Code De Statut De Traitement */
        ,A.DCER_CD            /* Code Du Déclarant */
        ,A.DCER_NM            /* Nom Du Déclarant */
        , TO_CHAR(TO_DATE(A.RQST_DT , 'YYYYMMDD'),'DD/MM/YYYY') AS RQST_DT    /* Date De Demande */
        ,A.RQST_TP_CD         /* Code De Type De Demande */
        ,A.REFF_NO_PT_CD      /* Code De Type De Numéro De Référence*/
        ,A.BSOP_REFF_NO       /* Reference No */
        ,A.RQST_RSN_DESC      /* Description Justificative Du Code */
        ,A.PRCS_RSLT_CN       /* Résultat De Traitement */
        ,(SELECT A.EMP_NM FROM TB_POTI_EMP A WHERE A.PBSR_NO = CLTR_ID) AS CLTR_ID            /* ID du receveur */
        ,A.ATCH_FILE_ID       /* Id Du Fichier Joint */
        , TO_CHAR(TO_DATE(A.PRCS_DT , 'YYYYMMDD'),'DD/MM/YYYY') AS PRCS_DT     /* Date De Traitement */
    FROM TB_COLI_OTHS_RQST A
    WHERE A.DEL_YN = 'N'
      AND A.PRCS_STTS_CD != 'K01'
    <if test="sctrCd != null and sctrCd != ''">
      AND  A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
    </if>
    <if test="uprOrgnCd != null and uprOrgnCd != ''">
      AND  A.CSTM_CD = #{uprOrgnCd}
    </if>
    <if test="orgnCd != null and orgnCd != ''">
        AND  (A.DEPT_CD = #{orgnCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                    OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
    </if>
    <if test='cstmCd != null and cstmCd !="" '>
      AND    A.CSTM_CD = #{cstmCd}
    </if>
    <if test="deptCd != null and deptCd != ''">
      AND (A.DEPT_CD = #{deptCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                 OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
        OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
    </if>
    <if test="rqstNo != null and rqstNo != ''">
      AND A.RQST_NO LIKE #{rqstNo}||'%'
    </if>
    <if test="rqstTpCd != null and rqstTpCd !=''">
      AND A.RQST_TP_CD = #{rqstTpCd}
    </if>
    <if test="bsopReffNo != null and bsopReffNo !=''">
      AND A.BSOP_REFF_NO LIKE #{bsopReffNo}||'%'
    </if>
    <if test="prcsSttsCd != null and prcsSttsCd !=''">
      AND A.PRCS_STTS_CD = #{prcsSttsCd}
    </if>
    <if test="rqstDtTo != null and rqstDtTo != '' and rqstDtFrom != null and rqstDtFrom != ''">
      AND A.RQST_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND
      TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')
    </if>
    ORDER BY A.RQST_DT DESC
    <include refid="pagination.footer"/>

  </select>

    <!--
    Modifier les informations sur la demande diverse !==기타신청 정보를 수정(저장) 한다.==!
    -->
  <update id="updateColOthsMgmt" parameterType="alpass.ipt.col.oths.vo.ColOthsRqstVO">
    /* colOthsMgmt_updateSaveMgmt */
    UPDATE TB_COLI_OTHS_RQST
    SET PRCS_RSLT_CN = #{prcsRsltCn}
      , CLTR_ID = #{cltrId}
      , PRCS_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
      , LAST_CHPR_ID       = #{lastChprId}
      , LAST_CHG_DTTM      = SYSTIMESTAMP
    WHERE RQST_NO = #{rqstNo}
  </update>

    <!--
    Approuver les informations sur la demande diverse !==기타신청 정보를 승인 한다==!
    -->
  <update id="updateColOthsApre" parameterType="alpass.ipt.col.oths.vo.ColOthsRqstVO">
    /* colOthsMgmt_updateD08Mgmt */
    UPDATE TB_COLI_OTHS_RQST
    SET PRCS_STTS_CD = 'D08'
      , PRCS_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
      , LAST_CHPR_ID       = #{lastChprId}
      , LAST_CHG_DTTM      = SYSTIMESTAMP
    WHERE RQST_NO = #{rqstNo}
  </update>

    <!--
    rejeter les informations sur la demande diverse !==기타신청 정보를 기각 한다==!
    -->
  <update id="updateColOthsDsms" parameterType="alpass.ipt.col.oths.vo.ColOthsRqstVO">
    /* colOthsMgmt_updateD09Mgmt */
    UPDATE TB_COLI_OTHS_RQST
    SET PRCS_STTS_CD = 'D09'
      , PRCS_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
      , LAST_CHPR_ID       = #{lastChprId}
      , LAST_CHG_DTTM      = SYSTIMESTAMP
    WHERE RQST_NO = #{rqstNo}
  </update>

    <!--
    Envoyer les informations sur la demande diverse !==기타신청 정보를 전송 한다.==!
    -->
  <update id="sendColOthsMgmt" parameterType="alpass.ipt.col.oths.vo.ColOthsRqstVO">
    /* colOthsMgmt_updateD01Mgmt */
    UPDATE TB_COLI_OTHS_RQST
    SET PRCS_STTS_CD = 'D01'
      , LAST_CHPR_ID       = #{lastChprId}
      , LAST_CHG_DTTM      = SYSTIMESTAMP
    WHERE RQST_NO = #{rqstNo}
  </update>
</mapper>