<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
Mapper : COC MGMT EQIP
(ISSAD Lounis)
-->

<mapper namespace="alpass.ipt.coc.mgmt.eqip.mapper.CocMgmtEqipMapper">

    <!-- Récupérer la liste des enregistrements -->
    <select id="selectEqipList" parameterType="alpass.ipt.coc.mgmt.eqip.vo.CocMgmtEqipVo" resultType="alpass.ipt.coc.mgmt.eqip.vo.CocMgmtEqipVo">
        /** selectEqipList */
        <include refid="pagination.header" />
        SELECT 'false' AS chkSel,
        B.EQIP_REF_NO,
        B.EQIP_INVN_NO,
        B.EQIP_NM,
        B.EQIP_TP,
        B.EQIP_DESC,
        B.EQIP_STTS,
        B.ORGN_CD,
        B.USE_YN,
        B.DEL_YN,
        B.FRST_REGST_ID,
        TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        B.LAST_CHPR_ID,
        TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM TB_COC_EQIP B
        JOIN TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        WHERE B.DEL_YN = 'N'
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM TB_POTI_ORGN
        WHERE DEL_YN = 'N'
        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        <if test='srchEqipRefNo != null'>
            AND LOWER(EQIP_REF_NO) LIKE '%' || LOWER(#{srchEqipRefNo}) || '%'
        </if>
        <if test='srchEqipInvnNo != null'>
            AND LOWER(EQIP_INVN_NO) LIKE '%' || LOWER(#{srchEqipInvnNo}) || '%'
        </if>
        <if test='srchEqipTp != null'>
            AND EQIP_TP = #{srchEqipTp}
        </if>
        <if test='srchEqipNm != null'>
            AND EQIP_NM LIKE '%' || LOWER(#{srchEqipNm}) || '%'
        </if>
        <if test='srchEqipStts != null'>
            AND EQIP_STTS = #{srchEqipStts}
        </if>
        <if test='srchOrgnCd != null'>
            AND A.ORGN_MGMT_CD IN (
            SELECT ORGN_MGMT_CD
            FROM TB_POTI_ORGN
            WHERE DEL_YN = 'N'
            START WITH ORGN_CD = #{srchOrgnCd}
            CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
            )
        </if>
        ORDER BY EQIP_REF_NO DESC
        <include refid="pagination.footer" />
    </select>

    <!-- Récupérer un enregistrement -->
    <select id="selectEqip" parameterType="alpass.ipt.coc.mgmt.eqip.vo.CocMgmtEqipVo" resultType="alpass.ipt.coc.mgmt.eqip.vo.CocMgmtEqipVo">
        /** selectEqip */
        SELECT
        EQIP_REF_NO,
        EQIP_INVN_NO,
        EQIP_NM,
        EQIP_TP,
        EQIP_DESC,
        EQIP_STTS,
        ORGN_CD,
        USE_YN,
        DEL_YN,
        FRST_REGST_ID,
        TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        LAST_CHPR_ID,
        TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM TB_COC_EQIP
        WHERE EQIP_REF_NO = #{eqipRefNo}
        AND DEL_YN = 'N'
    </select>

    <!-- Insérer un enregistrement -->
    <insert id="insertEqip" parameterType="alpass.ipt.coc.mgmt.eqip.vo.CocMgmtEqipVo">
        /** insertEqip */
        WITH UPSERT AS (
        UPDATE TB_COC_EQIP
        SET
        EQIP_REF_NO    =   #{eqipRefNo},
        EQIP_INVN_NO    =   #{eqipInvnNo},
        EQIP_NM         =   #{eqipNm},
        EQIP_TP         =   #{eqipTp},
        EQIP_DESC       =   #{eqipDesc},
        EQIP_STTS       =   #{eqipStts},
        ORGN_CD         =   #{orgnCd},
        USE_YN          =   #{useYn},
        DEL_YN          =   #{delYn},
        FRST_REGST_ID   =   #{frstRegstId},
        FRST_RGSR_DTTM  =   SYSTIMESTAMP,
        LAST_CHPR_ID    =   #{lastChprId},
        LAST_CHG_DTTM   =   SYSTIMESTAMP
        WHERE EQIP_REF_NO = #{eqipRefNo}
        RETURNING *
        )
        INSERT INTO TB_COC_EQIP
        (
        EQIP_REF_NO,
        EQIP_INVN_NO,
        EQIP_NM,
        EQIP_TP,
        EQIP_DESC,
        EQIP_STTS,
        ORGN_CD,
        USE_YN,
        DEL_YN,
        FRST_REGST_ID,
        FRST_RGSR_DTTM,
        LAST_CHPR_ID,
        LAST_CHG_DTTM
        )
        SELECT
        #{eqipRefNo},
        #{eqipInvnNo},
        #{eqipNm},
        #{eqipTp},
        #{eqipDesc},
        #{eqipStts},
        #{orgnCd},
        #{useYn},
        #{delYn},
        #{frstRegstId},
        SYSTIMESTAMP,
        #{lastChprId},
        SYSTIMESTAMP
        WHERE NOT EXISTS(SELECT * FROM UPSERT)
    </insert>

    <!-- Modifier un enregistrement -->
    <update id="updateEqip" parameterType="alpass.ipt.coc.mgmt.eqip.vo.CocMgmtEqipVo">
        /** updateEqip */
        UPDATE TB_COC_EQIP
        SET
        EQIP_INVN_NO    =   #{eqipInvnNo},
        EQIP_NM         =   #{eqipNm},
        EQIP_TP         =   #{eqipTp},
        EQIP_DESC       =   #{eqipDesc},
        EQIP_STTS       =   #{eqipStts},
        LAST_CHPR_ID    =   #{lastChprId},
        LAST_CHG_DTTM   =   SYSTIMESTAMP
        WHERE EQIP_REF_NO = #{eqipRefNo}
        AND DEL_YN = #{delYn}
    </update>

    <!-- Supprimer un enregistrement -->
    <update id="deleteEqip" parameterType="alpass.ipt.coc.mgmt.eqip.vo.CocMgmtEqipVo" >
        /** deleteEqip */
        UPDATE TB_COC_EQIP
        SET
        DEL_YN          =   'Y',
        LAST_CHPR_ID    =   #{lastChprId},
        LAST_CHG_DTTM   =   SYSTIMESTAMP
        WHERE EQIP_REF_NO = #{eqipRefNo}
    </update>

</mapper>
