<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.clr.pec.pca.mapper.ClrPostAudtMgmtMapper">

	<!--
	Consultation de la liste des colis postaux faisant l'objet du contrôle !== 우편물 통관 심사 목록 조회 ==!
	(김재기)
	-->
	<select id="selectClrPostCmdtCsclAudtList" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo" resultType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo">
		/* selectClrPostCmdtCsclAudtList !== 우편물 통관 심사 목록 조회 ==!*/
		<include refid="pagination.header" />
		SELECT post_cmdt_cscl_rqst_no /** Numéro série de dossier rendu !== 제출일련번호 ==! */
			, orcy_posf_cd /** !== 원산지우체국코드 ==! */
			, cscl_posf_cd /** Code de poste de dédouanement !== 통관우체국코드 ==! */
			, TO_CHAR(sndr_dttm, 'DD/MM/YYYY') AS sndr_dttm /** !== 발송일시 ==! */
			, (SELECT SUM(pdls_invc_amt) FROM tb_clri_post_cscl_audt_dtl B WHERE a.post_cmdt_cscl_rqst_no = b.post_cmdt_cscl_rqst_no) AS TAMT /** !== 총 금액 (원산지 통화) ==! */
			, (SELECT MAX(pdls_invc_curr_cd) FROM tb_clri_post_cscl_audt_dtl B WHERE a.post_cmdt_cscl_rqst_no = b.post_cmdt_cscl_rqst_no) AS pdls_invc_curr_cd /** !== 원산지 통화 ==! */
			, (SELECT SUM(pdls_invc_ncy_amt) FROM tb_clri_post_cscl_audt_dtl dtl WHERE a.post_cmdt_cscl_rqst_no = dtl.post_cmdt_cscl_rqst_no) AS DSTN_AMT /** !== 총 금액 (DZD) ==! */
			<!--
			, (SELECT SUM(DTL.pdls_invc_amt * (
					SELECT B.buy_amt
					FROM   TB_COM_FXRT A, TB_COM_FXRT_D B
					WHERE A.RGSR_DT = B.RGSR_DT
					AND   A.SRNO = B.SRNO
					AND   A.DEL_YN = 'N'
					AND   B.DEL_YN = 'N'
					AND   TO_CHAR(SYSTIMESTAMP, 'YYYYMMDD') BETWEEN A.APLY_BGN_DT AND NVL(A.APLY_END_DT, '99991231')
					AND   B.CURR_CD = DTL.pdls_invc_curr_cd
					ORDER BY A.APLY_BGN_DT DESC
					FETCH FIRST 1 ROW ONLY
					)) FROM tb_clri_post_cscl_audt_dtl dtl WHERE a.post_cmdt_cscl_rqst_no = dtl.post_cmdt_cscl_rqst_no) AS DSTN_AMT /** !== 총 금액 (DZD) ==! */
			-->
			, ttwg /** Poids Brut !== 총중량 ==! */
			, qxmt_amt
			, (SELECT COUNT(*) FROM tb_clri_post_cscl_audt_dtl B WHERE B.post_cmdt_cscl_rqst_no = A.post_cmdt_cscl_rqst_no) AS RQST_CNT -- 신청건수
			,  PRCS_STTS_CD -- 처리상태
			<!--
			, (CASE WHEN (SELECT COUNT(*) AS CNT 
				FROM ALPASSEXT.TB_CLRE_POST_CSCL_COMN 
				WHERE DEL_YN = 'N' 
				AND POST_CMDT_CSCL_RQST_NO = A.POST_CMDT_CSCL_RQST_NO
				AND PRCS_STTS_CD = A.PRCS_STTS_CD
				AND PRCS_STTS_CD NOT IN ('B','C') 
				) > 0 THEN PRCS_STTS_CD ELSE 'C' END) AS PRCS_STTS_CD
			-->
			, audt_rslt_cd  -- 심사결과 
			, (CASE WHEN PRCS_STTS_CD IN ('D','E') THEN audt_rslt_cn else '' END) AS audt_rslt_cn -- 심사결과 내용
			, POST_CLSF_CD -- 우편 분류코드
			, (CASE WHEN (SELECT COUNT(*) AS CNT 
					FROM ALPASSEXT.TB_CLRE_POST_CSCL_COMN 
					WHERE DEL_YN = 'N' 
					AND POST_CMDT_CSCL_RQST_NO = A.POST_CMDT_CSCL_RQST_NO
					AND PRCS_STTS_CD = A.PRCS_STTS_CD
					AND PRCS_STTS_CD NOT IN ('B', 'C', 'G') 
				) > 0 THEN 'Y' ELSE 'N' END) AS SEND_YN
	 		, (CASE WHEN (SELECT COUNT(*) AS CNT 
						FROM tb_clri_otrq_prcs_hist
						WHERE DEL_YN = 'N' 
						AND otrq_tp_cd = '50'
						AND otrq_reff_no = A.POST_CMDT_CSCL_RQST_NO
						AND reqst_stts_cd = 'F'
					) > 0 OR prcs_stts_cd IN ('F','G') THEN 'Y' ELSE 'N' END) AS SPLM_YN
			, wkng_pt_cd /** Type D'Opération !== 작업유형 ==! */
			, flnm
			, bag_id
			, TO_CHAR(rcpt_dttm, 'DD/MM/YYYY') as rcpt_dttm
			, AUDT_EMP_ID
		FROM tb_clri_post_cscl_audt_comn A
		WHERE A.DEL_YN = 'N'
		<if test="postCmdtCsclRqstNo != null and postCmdtCsclRqstNo != ''">
		AND post_cmdt_cscl_rqst_no like '%'||#{postCmdtCsclRqstNo}||'%'
		</if>
		<if test="audtEmpId != null and audtEmpId != ''">
		AND audt_emp_id = #{audtEmpId}
		</if>
		<if test="sndrDttmFrom != null and sndrDttmTo != null and sndrDttmFrom != '' and sndrDttmTo != ''">
		AND TO_CHAR(SNDR_DTTM,'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(#{sndrDttmFrom}, 'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{sndrDttmTo}, 'DD/MM/YYYY'),'YYYYMMDD')
		</if>
		<if test="prcsSttsCd != null and prcsSttsCd != ''">
		AND (A.PRCS_STTS_CD = #{prcsSttsCd}
			<if test="prcsSttsCd == 'C'.toString()">
			OR NOT EXISTS (
				SELECT 1
				FROM ALPASSEXT.TB_CLRE_POST_CSCL_COMN 
				WHERE DEL_YN = 'N' 
				AND POST_CMDT_CSCL_RQST_NO = A.POST_CMDT_CSCL_RQST_NO
				AND PRCS_STTS_CD = A.PRCS_STTS_CD
				AND PRCS_STTS_CD NOT IN ('B', 'C', 'G')
				)
			</if>
			)
		</if>
		<if test="audtRsltCd != null and audtRsltCd != ''">
		AND AUDT_RSLT_CD = #{audtRsltCd}
		</if>
		<if test="postClsfCd != null and postClsfCd != ''">
		AND POST_CLSF_CD = #{postClsfCd}
		</if>
		<if test="txTrgtYn != null and txTrgtYn != ''">
		AND (CASE WHEN NVL(qxmt_amt, 0.000) > 0.000 THEN 'Y' ELSE 'N' END) = #{txTrgtYn}
		</if>
		ORDER BY A.FRST_RGSR_DTTM, A.POST_CMDT_CSCL_RQST_NO
		<include refid="pagination.footer" />
	</select>
	
	<!--
	Consultation de la liste de téléchargement en Excel du contrôle des colis postaux !== 우편물 통관 심사 엑셀다운로드목록 조회 ==!
	(김재기)
	-->
	<select id="selectClrPostCmdtCsclAudtExcelList" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo" resultType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo">
		/* selectClrPostCmdtCsclAudtExcelList !== 우편물 통관 심사 엑셀 다운로드 조회 ==!*/
		SELECT post_cmdt_cscl_rqst_no /** Numéro série de dossier rendu !== 제출일련번호 ==! */
			, orcy_posf_cd /** !== 원산지우체국코드 ==! */
			, cscl_posf_cd /** Code de poste de dédouanement !== 통관우체국코드 ==! */
			, TO_CHAR(sndr_dttm, 'DD/MM/YYYY') AS sndr_dttm /** !== 발송일시 ==! */
			, (SELECT SUM(pdls_invc_amt) FROM tb_clri_post_cscl_audt_dtl B WHERE a.post_cmdt_cscl_rqst_no = b.post_cmdt_cscl_rqst_no) AS TAMT /** !== 총 금액 (원산지 통화) ==! */
			, (SELECT MAX(pdls_invc_curr_cd) FROM tb_clri_post_cscl_audt_dtl B WHERE a.post_cmdt_cscl_rqst_no = b.post_cmdt_cscl_rqst_no) AS pdls_invc_curr_cd /** !== 원산지 통화 ==! */
			, (SELECT SUM(pdls_invc_ncy_amt) FROM tb_clri_post_cscl_audt_dtl dtl WHERE a.post_cmdt_cscl_rqst_no = dtl.post_cmdt_cscl_rqst_no) AS DSTN_AMT /** !== 총 금액 (DZD) ==! */
			<!--
			, (SELECT SUM(DTL.pdls_invc_amt * (
					SELECT B.buy_amt
					FROM   TB_COM_FXRT A, TB_COM_FXRT_D B
					WHERE A.RGSR_DT = B.RGSR_DT
					AND   A.SRNO = B.SRNO
					AND   A.DEL_YN = 'N'
					AND   B.DEL_YN = 'N'
					AND   TO_CHAR(SYSTIMESTAMP, 'YYYYMMDD') BETWEEN A.APLY_BGN_DT AND NVL(A.APLY_END_DT, '99991231')
					AND   B.CURR_CD = DTL.pdls_invc_curr_cd
					ORDER BY A.APLY_BGN_DT DESC
					FETCH FIRST 1 ROW ONLY
					)) FROM tb_clri_post_cscl_audt_dtl dtl WHERE a.post_cmdt_cscl_rqst_no = dtl.post_cmdt_cscl_rqst_no) AS DSTN_AMT /** !== 총 금액 (DZD) ==! */
			-->
			, ttwg /** Poids Brut !== 총중량 ==! */
			, qxmt_amt
			, (SELECT COUNT(*) FROM tb_clri_post_cscl_audt_dtl B WHERE B.post_cmdt_cscl_rqst_no = A.post_cmdt_cscl_rqst_no) AS RQST_CNT -- 신청건수
			, PRCS_STTS_CD -- 처리상태
			, audt_rslt_cd  -- 심사결과 
			, (CASE WHEN PRCS_STTS_CD IN ('D','E') THEN audt_rslt_cn else '' END) AS audt_rslt_cn -- 심사결과 내용
			, POST_CLSF_CD -- 우편 분류코드
			, wkng_pt_cd /** Type D'Opération !== 작업유형 ==! */
			, flnm
			, bag_id
			, TO_CHAR(rcpt_dttm, 'DD/MM/YYYY') as rcpt_dttm
		FROM tb_clri_post_cscl_audt_comn A
		WHERE A.DEL_YN = 'N'
		<if test="postCmdtCsclRqstNo != null and postCmdtCsclRqstNo != ''">
		AND post_cmdt_cscl_rqst_no like '%'||#{postCmdtCsclRqstNo}||'%'
		</if>
		<if test="audtEmpId != null and audtEmpId != ''">
		AND audt_emp_id = #{audtEmpId}
		</if>
		<if test="sndrDttmFrom != null and sndrDttmTo != null and sndrDttmFrom != '' and sndrDttmTo != ''">
		AND TO_CHAR(SNDR_DTTM,'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(#{sndrDttmFrom}, 'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{sndrDttmTo}, 'DD/MM/YYYY'),'YYYYMMDD')
		</if>
		<if test="prcsSttsCd != null and prcsSttsCd != ''">
		AND (A.PRCS_STTS_CD = #{prcsSttsCd}
			<if test="prcsSttsCd == 'C'.toString()">
			OR NOT EXISTS (
				SELECT 1
				FROM ALPASSEXT.TB_CLRE_POST_CSCL_COMN 
				WHERE DEL_YN = 'N' 
				AND POST_CMDT_CSCL_RQST_NO = A.POST_CMDT_CSCL_RQST_NO
				AND PRCS_STTS_CD = A.PRCS_STTS_CD
				AND PRCS_STTS_CD NOT IN ('B', 'C', 'G')
				)
			</if>
			)
		</if>
		<if test="audtRsltCd != null and audtRsltCd != ''">
		AND audt_rslt_cd = #{audtRsltCd}
		</if>
		<if test="postClsfCd != null and postClsfCd != ''">
		AND POST_CLSF_CD = #{postClsfCd}
		</if>
		<if test="txTrgtYn != null and txTrgtYn != ''">
		AND (CASE WHEN NVL(qxmt_amt, 0.000) > 0.000 THEN 'Y' ELSE 'N' END) = #{txTrgtYn}
		</if>
		ORDER BY A.FRST_RGSR_DTTM, A.POST_CMDT_CSCL_RQST_NO
	</select>
    
	<!--
	Modification du dédouanement des colis postaux !== 우편물 통관 수정 ==!
	(김재기)
	-->
	<update id="updateClrPostCmdtCsclAudt" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo">
		/* updateClrPostCmdtCsclAudt !== 우편물 통관 심사 결과 수정 ==!*/
		UPDATE tb_clri_post_cscl_audt_comn
		SET audt_emp_id = #{audtEmpId}		/**  !== 심사직원ID ==! */
			, audt_rslt_cd = #{audtRsltCd}	/**  !== 심사결과코드 ==! */
			, audt_rslt_cn = #{audtRsltCn}	/**  !== 심사결과내용 ==! */
			, audt_prcs_dttm = SYSTIMESTAMP
			, prcs_tp_cd = #{audtRsltCd}	/** Code De Catégorie De Traitement !== 처리구분코드 ==! */
			, PRCS_STTS_CD = #{prcsSttsCd}	/**  !== 처리상태 ==! */
			, qxmt_amt = #{qxmtAmt}
			, wkng_pt_cd = #{wkngPtCd}
			, DEL_YN = 'N'					/** Suppression ON !== 삭제여부 ==! */
			, LAST_CHPR_ID = #{lastChprId}	/** ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}	/** Numéro série de dossier rendu !== 제출일련번호 ==! */
	</update>
	
	<!--
	Modification de la liste détaillée des colis postaux !== 우편물 통관 상세 목록 수정 ==!
	(김재기)
	-->
	<update id="updateClrPostCmdtCsclDtl" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtDtlVo">
		/* updateClrPostCmdtCsclDtl !== 우편물 통관 상세 목록 수정 ==!*/
		UPDATE tb_clri_post_cscl_audt_dtl
		SET pdls_nm = #{pdlsNm}
			, hs_cd = #{hsCd}
			, orcy_cnty_cd = #{orcyCntyCd}
			, ased_hs_cd = #{asedHsCd}
			, pdls_ntwg = #{pdlsNtwg}
			, pdls_invc_amt = #{pdlsInvcAmt}
			, pdls_invc_curr_cd = #{pdlsInvcCurrCd}
			, pdls_invc_fxrt = #{pdlsInvcFxrt}
			, pdls_invc_ncy_amt = #{pdlsInvcNcyAmt}
			, DEL_YN = 'N'					/** Suppression ON !== 삭제여부 ==! */
			, LAST_CHPR_ID = #{lastChprId}	/** ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
			, atr_clus_desc = #{atrClusDesc}
			, qty = #{qty}
			, ttwg = #{ttwg}
			, dcld_infee_amt = #{dcldInfeeAmt}
		WHERE post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}	/** Numéro série de dossier rendu !== 제출일련번호 ==! */
		AND srno = #{srno}
	</update>

  <!--
  Envoi de la liste de colis postaux !== 우편물 통관 목록 전송 ==!
  (김재기)
  -->
  <!--
		/* sendClrPostCmdtCsclAudt !== 우편물 통관 심사 결과 전송 ==!*/
		UPDATE alpassext.TB_CLRE_POST_CSCL_COMN
		SET prcs_tp_cd = #{audtRsltCd}	/** Code De Catégorie De Traitement !== 처리구분코드 ==! */
			, PRCS_STTS_CD = #{prcsSttsCd}	/**  !== 처리상태 ==! */
			, qxmt_amt = #{qxmtAmt}
			, wkng_pt_cd = #{wkngPtCd}
			, DEL_YN = 'N'					/** Suppression ON !== 삭제여부 ==! */
			, LAST_CHPR_ID = #{lastChprId}	/** ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}	/** Numéro série de dossier rendu !== 제출일련번호 ==! */
  -->
	<update id="sendClrPostCmdtCsclAudt" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo">
		/* sendClrPostCmdtCsclAudt !== 우편물 통관 심사 결과 전송 ==!*/
		WITH upset AS (
			UPDATE tb_clri_post_cscl_audt_comn
			SET audt_emp_id = #{audtEmpId}		/**  !== 심사직원ID ==! */
				, audt_rslt_cd = #{audtRsltCd}	/**  !== 심사결과코드 ==! */
				, audt_rslt_cn = #{audtRsltCn}	/**  !== 심사결과내용 ==! */
				, audt_prcs_dttm = SYSTIMESTAMP
				, prcs_tp_cd = #{audtRsltCd}	/** Code De Catégorie De Traitement !== 처리구분코드 ==! */
				, PRCS_STTS_CD = #{prcsSttsCd}	/**  !== 처리상태 ==! */
				, qxmt_amt = #{qxmtAmt}
				, wkng_pt_cd = #{wkngPtCd}
				, DEL_YN = 'N'					/** Suppression ON !== 삭제여부 ==! */
				, LAST_CHPR_ID = #{lastChprId}	/** ID du modificateur final !== 최종변경자ID ==! */
				, LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
			WHERE post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}	/** Numéro série de dossier rendu !== 제출일련번호 ==! */
		RETURNING *
		)
		UPDATE alpassext.TB_CLRE_POST_CSCL_COMN A
		SET A.prcs_tp_cd = B.prcs_tp_cd	/**  !== 처리상태 ==! */
			, A.PRCS_STTS_CD = B.PRCS_STTS_CD	/**  !== 처리상태 ==! */
			, A.qxmt_amt = B.qxmt_amt
			, A.wkng_pt_cd = B.wkng_pt_cd
			, A.DEL_YN = 'N'					/** Suppression ON !== 삭제여부 ==! */
			, A.LAST_CHPR_ID = B.LAST_CHPR_ID	/** ID du modificateur final !== 최종변경자ID ==! */
			, A.LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
		FROM UPSET B
		WHERE A.post_cmdt_cscl_rqst_no = B.post_cmdt_cscl_rqst_no
	</update>

  <!--
  Envoi de la liste détaillée des colis postaux !== 우편물 통관 상세 목록 전송 ==!
  (김재기)
  -->
	<update id="sendClrPostCmdtCsclDtl" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtDtlVo">
		/* sendClrPostCmdtCsclDtl !== 우편물 통관 상세 목록 전송 ==!*/
		WITH upset AS (
			UPDATE tb_clri_post_cscl_audt_dtl
			SET pdls_nm = #{pdlsNm}
				, hs_cd = #{hsCd}
				, orcy_cnty_cd = #{orcyCntyCd}
				, ased_hs_cd = #{asedHsCd}
				, pdls_ntwg = #{pdlsNtwg}
				, pdls_invc_amt = #{pdlsInvcAmt}
				, pdls_invc_curr_cd = #{pdlsInvcCurrCd}
				, pdls_invc_fxrt = #{pdlsInvcFxrt}
				, pdls_invc_ncy_amt = #{pdlsInvcNcyAmt}
				, DEL_YN = 'N'					/** Suppression ON !== 삭제여부 ==! */
				, LAST_CHPR_ID = #{lastChprId}	/** ID du modificateur final !== 최종변경자ID ==! */
				, LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
				, atr_clus_desc = #{atrClusDesc}
				, qty = #{qty}
				, ttwg = #{ttwg}
				, dcld_infee_amt = #{dcldInfeeAmt}
			WHERE post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}	/** Numéro série de dossier rendu !== 제출일련번호 ==! */
			AND srno = #{srno}
		RETURNING *
		)
		UPDATE alpassext.tb_clre_post_cscl_dtl A
			SET A.pdls_nm = B.pdls_nm
				, A.hs_cd = B.hs_cd
				, A.orcy_cnty_cd = B.orcy_cnty_cd
				, A.ased_hs_cd = B.ased_hs_cd
				, A.pdls_ntwg = B.pdls_ntwg
				, A.pdls_invc_amt = B.pdls_invc_amt
				, A.pdls_invc_curr_cd = B.pdls_invc_curr_cd
				, A.pdls_invc_fxrt = B.pdls_invc_fxrt
				, A.pdls_invc_ncy_amt = B.pdls_invc_ncy_amt
				, A.DEL_YN = 'N'					/** Suppression ON !== 삭제여부 ==! */
				, A.LAST_CHPR_ID = B.LAST_CHPR_ID	/** ID du modificateur final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM = SYSTIMESTAMP	/** Date et heure de modification finale !== 최종변경일시 ==! */
				, A.atr_clus_desc = B.atr_clus_desc
				, A.qty = B.qty
				, A.ttwg = B.ttwg
				, A.dcld_infee_amt = B.dcld_infee_amt
		FROM upset B
		WHERE A.post_cmdt_cscl_rqst_no = B.post_cmdt_cscl_rqst_no
		AND A.srno = B.srno
	</update>
    
	<!--
	Consultation en détail du contrôle des colis postaux !== 우편물 통관 심사 상세 조회 ==!
	(김재기)
	-->
	<select id="selectClrPostCmdtCsclAudtDtl" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo" resultType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo">
		/* selectClrPostCmdtCsclAudtDtl !== 우편물 통관 심사 상세 조회 ==!*/
		SELECT 
			post_cmdt_cscl_rqst_no /** N° de demande de dédouanement des colis postaux !== 우편물품통관신청번호 ==! */
			, imex_tp_cd /**  !== 수출입구분코드 ==! */
			, post_cmdt_no /** N° de coli postal !== 우편물품번호 ==! */
			, rqst_dt /**  !== 신청일자 ==! */
			, rqst_cstm_cd /**  !== 신청세관코드 ==! */
			, repn_id /** ID de demandeur !== 신청자ID ==! */
			, cscl_posf_cd /** Code de poste de dédouanement !== 통관우체국코드 ==! */
			, cscl_posf_nm /** Nom de poste de dédouanement !== 통관우체국명 ==! */
			, orcy_cnty_cd /** Code De Pays D'Origine !== 원산지국가코드 ==! */
			, orcy_posf_cd /** Poste d'origine !== 원산지우체국코드 ==! */
			, orcy_posf_nm /** Nom du bureau de poste d'origine !== 원산지우체국명 ==! */
			, post_clsf_cd /** Classe de courrier !== 우편분류코드 ==! */
			, sndr_dttm /** Date D'Envoi !== 발송일시 ==! */
			, sndr_nm /** Nom De L'Expéditeur !== 발송자명 ==! */
			, sndr_id /** Id De L'Expéditeur !== 발송자ID ==! */
			, sndr_addr /** Adrese de l'expéditeur !== 발송자주소 ==! */
			, sndr_addr2 /** Adrese 2 de l'expéditeur !== 발송자주소2 ==! */
			, sndr_post_no /** Code postal de l'expéditeur !== 발송자우편번호 ==! */
			, sndr_city_nm /** Ville de l'expéditeur !== 발송자도시명 ==! */
			, send_cnty_cd /** Code de pays d'expédition !== 발송국가코드 ==! */
			, sndr_eml /** Email De L'Expéditeur !== 발송자이메일 ==! */
			, sndr_tlph_no /** N° de téléphone de l'expéditeur !== 발송자전화번호 ==! */
			, rcvr_nm /** Routage Destinataire !== 수신자명 ==! */
			, rcvr_id /** Id Du Receveur !== 수신자ID ==! */
			, rcvr_addr /** Destinataire Adresse Adresse1 !== 수신자주소 ==! */
			, rcvr_addr2 /** Destinataire Adresse Adresse2 !== 수신자주소2 ==! */
			, rcvr_post_no /** Code postal du destinataire !== 수신자우편번호 ==! */
			, rcvr_city_nm /** Destinataire Adresse Ville !== 수신자도시명 ==! */
			, rcvr_cnty_cd /** Destinataire Adresse Pays Adresse Code Pays !== 수신자국가코드 ==! */
			, rcvr_eml /** E-Mail Du Receveur !== 수신자이메일 ==! */
			, rcvr_tlph_no /** Destinataire Telephone Fixe Numero !== 수신자전화번호 ==! */
			, arvl_dt /**  !== 도착일자 ==! */
			, prcs_cd /** Code De Traitement !== 처리코드 ==! */
			, dcld_infee_amt /** Montant d'assurance déclaré !== 신고된보험료금액 ==! */
			, dcld_infee_curr_cd /** Code Déclaré De Devise D'Assurance !== 신고된보험료통화코드 ==! */
			, ctgy_cd /** Code De Catégorie !== 카테고리코드 ==! */
			, ttwg /** Poids Brut !== 총중량 ==! */
			, post_cmdt_amt /** Valeur des colis postaux !== 우편물품금액 ==! */
			, post_cmdt_amt_curr_cd /** Code des devises du valeur des colis postaux !== 우편물품금액통화코드 ==! */
			, trnp_mean_cd /** Code de mode de transport !== 운송방법코드 ==! */
			, trnp_dttm /** Date de transport !== 운송일시 ==! */
			, rela_cn /** Observations !== 관련내용 ==! */
			, prcs_tp_cd /** Code De Catégorie De Traitement !== 처리구분코드 ==! */
			, qxmt_amt /** Montant Total De Taxes !== 총세액금액 ==! */
			, simp_cscl_trgt_yn /**  !== 간이통관대상여부 ==! */
			, gnrl_cscl_trgt_yn /**  !== 일반통관대상여부 ==! */
			, prcs_stts_cd /**  !== 처리상태코드 ==! */
			, audt_emp_id	/**  !== 심사직원ID ==! */
			, audt_rslt_cd	/**  !== 심사결과코드 ==! */
			, audt_rslt_cn	/**  !== 심사결과내용 ==! */
			, audt_prcs_dttm	/**  !== 심사처리일시 ==! */
			, atch_file_id /**  !== 첨부파일ID ==! */
			, del_yn /** Suppression ON !== 삭제여부 ==! */
			, frst_regst_id /** ID du premier enregistrant  !== 최초등록자ID ==! */
			, frst_rgsr_dttm /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, last_chpr_id /** ID du modificateur final !== 최종변경자ID ==! */
			, last_chg_dttm /** Date et heure de modification finale !== 최종변경일시 ==! */
			, (CASE WHEN (SELECT COUNT(*) AS CNT 
					FROM ALPASSEXT.TB_CLRE_POST_CSCL_COMN 
					WHERE DEL_YN = 'N' 
					AND POST_CMDT_CSCL_RQST_NO = A.POST_CMDT_CSCL_RQST_NO
					AND PRCS_STTS_CD = A.PRCS_STTS_CD
					AND PRCS_STTS_CD NOT IN ('B', 'C', 'G') 
				) > 0 THEN 'Y' ELSE 'N' END) AS SEND_YN
	 		, (CASE WHEN (SELECT COUNT(*) AS CNT 
						FROM tb_clri_otrq_prcs_hist
						WHERE DEL_YN = 'N' 
						AND otrq_tp_cd = '50'
						AND otrq_reff_no = A.POST_CMDT_CSCL_RQST_NO
						AND reqst_stts_cd = 'F'
					) > 0 OR prcs_stts_cd IN ('F','G') THEN 'Y' ELSE 'N' END) AS SPLM_YN
			, wkng_pt_cd /** Type D'Opération !== 작업유형 ==! */
			, flnm
			, bag_id
			, rcpt_dttm
		FROM tb_clri_post_cscl_audt_comn A
		WHERE DEL_YN = 'N'
		AND POST_CMDT_CSCL_RQST_NO = #{postCmdtCsclRqstNo}
	</select>

	<!--
	Consultation de la liste détaillée des colis postaux faisant l'objet du contrôle !== 우편물 통관 심사 상세 목록 조회 ==!
	(김재기)
	-->
	<select id="selectClrPostCmdtCsclAudtDtlList" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo" resultType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtDtlVo">
		/* selectClrPostCmdtCsclAudtDtlList !== 우편물 통관 심사 상세 목록 조회 ==!*/
		SELECT 
			post_cmdt_cscl_rqst_no    /** N° de demande de dédouanement des colis postaux !== 우편물품통관신청번호 ==! */
			, srno                    /**  !== 일련번호 ==! */
			, pdls_no                 /** N° D'Article !== 품목번호 ==! */
			, pdls_nm                 /** Nom De L'Article !== 품목명 ==! */
			, hs_cd                   /** Code Sh !== HS코드 ==! */
			, orcy_cnty_cd            /** Code De Pays D'Origine !== 원산지국가코드 ==! */
			, NVL(ased_hs_cd, hs_cd) AS ased_hs_cd              /** Code Sh Liquidé !== 평가된HS코드 ==! */
			, pdls_ntwg               /** Poids Net De L'Article !== 품목순중량 ==! */
			, pdls_invc_amt           /** Montant De La Facture De L'Article !== 품목송장금액 ==! */
			, pdls_invc_fxrt										/** Taux De Change De La Facture De L'Article !== 품목송장환율 ==! pdlsInvcFxrt */
			, pdls_invc_ncy_amt    						/** Montant Ncy De La Facture De L'Article !== 품목송장NCY금액 ==! pdlsInvcNcyAmt */
			<!--
			, (SELECT B.buy_amt
				FROM   TB_COM_FXRT A, TB_COM_FXRT_D B
				WHERE A.RGSR_DT = B.RGSR_DT
				AND   A.SRNO = B.SRNO
				AND   A.DEL_YN = 'N'
				AND   B.DEL_YN = 'N'
				AND   TO_CHAR(SYSTIMESTAMP, 'YYYYMMDD') BETWEEN A.APLY_BGN_DT AND NVL(A.APLY_END_DT, '99991231')
				AND   B.CURR_CD = DTL.pdls_invc_curr_cd
				ORDER BY A.APLY_BGN_DT DESC
				FETCH FIRST 1 ROW ONLY
				) AS pdls_invc_fxrt	/** Taux De Change De La Facture De L'Article !== 품목송장환율 ==! pdlsInvcFxrt */
			, (DTL.pdls_invc_amt * (
					SELECT B.buy_amt
					FROM   TB_COM_FXRT A, TB_COM_FXRT_D B
					WHERE A.RGSR_DT = B.RGSR_DT
					AND   A.SRNO = B.SRNO
					AND   A.DEL_YN = 'N'
					AND   B.DEL_YN = 'N'
					AND   TO_CHAR(SYSTIMESTAMP, 'YYYYMMDD') BETWEEN A.APLY_BGN_DT AND NVL(A.APLY_END_DT, '99991231')
					AND   B.CURR_CD = DTL.pdls_invc_curr_cd
					ORDER BY A.APLY_BGN_DT DESC
					FETCH FIRST 1 ROW ONLY
					)
				) AS pdls_invc_ncy_amt    /** Montant Ncy De La Facture De L'Article !== 품목송장NCY금액 ==! pdlsInvcNcyAmt */
			-->
			, del_yn                  /**  !== 삭제여부 ==! */
			, frst_regst_id           /**  !== 최초등록자ID ==! */
			, frst_rgsr_dttm          /**  !== 최초등록일시 ==! */
			, last_chpr_id            /**  !== 최종변경자ID ==! */
			, last_chg_dttm           /**  !== 최종변경일시 ==! */
			, pdls_invc_curr_cd		  /** Code De Taux De Change De La Facture De L'Article !== 품목송장환율 코드 ==! */ 
			, atr_clus_desc
			, qty
			, ttwg
			, dcld_infee_amt
		FROM tb_clri_post_cscl_audt_dtl DTL
		WHERE DEL_YN = 'N'
		AND POST_CMDT_CSCL_RQST_NO = #{postCmdtCsclRqstNo}
		ORDER BY SRNO
	</select>
	  
  <!--
  Consultation de l'historique des colis postaux !== 우편물 이력 목록 조회 ==!
  (김재기)
  -->
  <select id="selectClrPostPrcsHistList" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo" resultType="alpass.ipt.clr.pec.fea.vo.ClrOtrqPrcsHistVo">
		/* selectClrPostPrcsHistList !== 우편물 이력 목록 조회 ==!*/
		SELECT otrq_tp_cd
			, otrq_reff_no
			, otrq_asst_reff_no
			, prcs_srno
			, reqst_stts_cd
			, reqst_rslt_cd
			, prcs_qry_cn
			, cmpl_stts_cd
			, cmpl_rslt_cd
			, prcs_tkac_cn
			, atch_file_id
			, splm_stts_cd
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
		FROM tb_clri_otrq_prcs_hist
		WHERE DEL_YN = 'N'
		and otrq_tp_cd = '50'
		AND otrq_reff_no = #{postCmdtCsclRqstNo}
		ORDER BY prcs_srno
  </select>
  
  <!--
  Sauvegarde l'historique du contrôle des colis postaux !== 우편물 통관 심사 이력 저장 ==!
  (김재기)
  -->
	<insert id="insertClrOtrqPrcsHist" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo">
		/* insertClrOtrqPrcsHist !== 우편물 통관 심사 이력 저장 ==!*/
		INSERT INTO tb_clri_otrq_prcs_hist (
			otrq_tp_cd
			, otrq_reff_no
			, otrq_asst_reff_no
			, prcs_srno
			, reqst_stts_cd
			, reqst_rslt_cd
			, prcs_qry_cn
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
		)
		SELECT '50' as otrq_tp_cd
			, post_cmdt_cscl_rqst_no as otrq_reff_no
			, '' AS otrq_asst_reff_no
			, (SELECT NVL(MAX(prcs_srno),0) + 1
					from tb_clri_otrq_prcs_hist
					where otrq_tp_cd = '50'
					and otrq_reff_no = A.post_cmdt_cscl_rqst_no
				) AS prcs_srno
			, a.prcs_stts_cd as reqst_stts_cd
			, a.audt_rslt_cd as reqst_rslt_cd
			, audt_rslt_cn as prcs_qry_cn
			, 'N' as del_yn
			, #{lastChprId} as frst_regst_id	/** ID du premier enregistrant  !== 최초등록자ID ==! */
			, SYSTIMESTAMP as frst_rgsr_dttm		/** Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, #{lastChprId} as last_chpr_id		/** ID du modificateur final !== 최종변경자ID ==! */
			, SYSTIMESTAMP as last_chg_dttm		/** Date et heure de modification finale !== 최종변경일시 ==! */
		FROM tb_clri_post_cscl_audt_comn A
		WHERE DEL_YN = 'N'
		AND POST_CMDT_CSCL_RQST_NO = #{postCmdtCsclRqstNo}
	</insert>
  
  <!--
  Sauvegarde des contenus de traitement du contrôle des colis postaux !== 우편물 통관 심사 처리내용 저장 ==!
  (김재기)
  -->
	<update id="updateClrOtrqPrcsHist" parameterType="alpass.ipt.clr.pec.fea.vo.ClrOtrqPrcsHistVo">
		/* updateClrOtrqPrcsHist !== 우편물 통관 심사 처리내용 저장 ==!*/
		update tb_clri_otrq_prcs_hist
		set cmpl_stts_cd = #{cmplSttsCd}
			, cmpl_rslt_cd = #{cmplRsltCd} 
			, prcs_tkac_cn = #{prcsTkacCn}
			, atch_file_id = #{atchFileId} 
			, splm_stts_cd = #{splmSttsCd} 
			, DEL_YN = 'N'							/** Suppression ON !== 삭제여부 ==! */
			, LAST_CHPR_ID = #{lastChprId}			/** ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = SYSTIMESTAMP			/** Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE otrq_tp_cd = '50'
		and otrq_reff_no = #{otrqReffNo}
		and prcs_srno = (SELECT NVL(MAX(prcs_srno),1) from alpassint.tb_clri_otrq_prcs_hist where otrq_tp_cd = '50' and otrq_reff_no = #{otrqReffNo}) 
	</update>
	
  <!--
  Sauvegarde de l'historique des colis postaux !==우편물 통관 이력 저장 ==!
  (김재기)
  -->
	<insert id="insertClrPostCmdtCsclComnHist" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtComnVo">
		insert into tb_clri_post_cscl_audt_comn_h (
			post_cmdt_cscl_rqst_no
			, hist_srno
			, imex_tp_cd
			, post_cmdt_no
			, rqst_dt
			, rqst_cstm_cd
			, repn_id
			, cscl_posf_cd
			, cscl_posf_nm
			, orcy_cnty_cd
			, orcy_posf_cd
			, orcy_posf_nm
			, post_clsf_cd
			, sndr_dttm
			, sndr_nm
			, sndr_id
			, sndr_addr
			, sndr_addr2
			, sndr_post_no
			, sndr_city_nm
			, send_cnty_cd
			, sndr_eml
			, sndr_tlph_no
			, rcvr_nm
			, rcvr_id
			, rcvr_addr
			, rcvr_addr2
			, rcvr_post_no
			, rcvr_city_nm
			, rcvr_cnty_cd
			, rcvr_eml
			, rcvr_tlph_no
			, arvl_dt
			, prcs_cd
			, dcld_infee_amt
			, dcld_infee_curr_cd
			, ctgy_cd
			, ttwg
			, post_cmdt_amt
			, post_cmdt_amt_curr_cd
			, trnp_mean_cd
			, trnp_dttm
			, rela_cn
			, prcs_tp_cd
			, qxmt_amt
			, simp_cscl_trgt_yn
			, gnrl_cscl_trgt_yn
			, prcs_stts_cd
			, audt_emp_id
			, audt_rslt_cd
			, audt_rslt_cn
			, audt_prcs_dttm
			, atch_file_id
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
			, ador_hnot_prcs_yn
			, wkng_pt_cd
			, flnm
			, bag_id
			, rcpt_dttm
		)
		select post_cmdt_cscl_rqst_no
			, (select nvl(max(hist_srno),0) + 1 from tb_clri_post_cscl_audt_comn_h where post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}) as hist_srno
			, imex_tp_cd
			, post_cmdt_no
			, rqst_dt
			, rqst_cstm_cd
			, repn_id
			, cscl_posf_cd
			, cscl_posf_nm
			, orcy_cnty_cd
			, orcy_posf_cd
			, orcy_posf_nm
			, post_clsf_cd
			, sndr_dttm
			, sndr_nm
			, sndr_id
			, sndr_addr
			, sndr_addr2
			, sndr_post_no
			, sndr_city_nm
			, send_cnty_cd
			, sndr_eml
			, sndr_tlph_no
			, rcvr_nm
			, rcvr_id
			, rcvr_addr
			, rcvr_addr2
			, rcvr_post_no
			, rcvr_city_nm
			, rcvr_cnty_cd
			, rcvr_eml
			, rcvr_tlph_no
			, arvl_dt
			, prcs_cd
			, dcld_infee_amt
			, dcld_infee_curr_cd
			, ctgy_cd
			, ttwg
			, post_cmdt_amt
			, post_cmdt_amt_curr_cd
			, trnp_mean_cd
			, trnp_dttm
			, rela_cn
			, prcs_tp_cd
			, qxmt_amt
			, simp_cscl_trgt_yn
			, gnrl_cscl_trgt_yn
			, prcs_stts_cd
			, audt_emp_id
			, audt_rslt_cd
			, audt_rslt_cn
			, audt_prcs_dttm
			, atch_file_id
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
			, ador_hnot_prcs_yn
			, wkng_pt_cd
			, flnm
			, bag_id
			, rcpt_dttm
		from tb_clri_post_cscl_audt_comn
		where post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}
	</insert>
	
  <!--
  Sauvegarde de l'historique des détails des colis postaux !==우편물 통관 상세 이력 저장 ==!
  (김재기)
  -->
	<insert id="insertClrPostCmdtCsclDtlHist" parameterType="alpass.ipt.clr.pec.pca.vo.ClrPostCmdtCsclAudtDtlVo">
		insert into tb_clri_post_cscl_audt_dtl_h (
			post_cmdt_cscl_rqst_no
			, hist_srno
			, srno
			, pdls_no
			, pdls_nm
			, hs_cd
			, orcy_cnty_cd
			, ased_hs_cd
			, pdls_ntwg
			, pdls_invc_amt
			, pdls_invc_fxrt
			, pdls_invc_ncy_amt
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
			, pdls_invc_curr_cd
			, atr_clus_desc
			, qty
			, ttwg
			, dcld_infee_amt
		)
		select post_cmdt_cscl_rqst_no
			, (select max(hist_srno) from tb_clri_post_cscl_audt_comn_h where post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}) as hist_srno
			, srno
			, pdls_no
			, pdls_nm
			, hs_cd
			, orcy_cnty_cd
			, ased_hs_cd
			, pdls_ntwg
			, pdls_invc_amt
			, pdls_invc_fxrt
			, pdls_invc_ncy_amt
			, del_yn
			, frst_regst_id
			, frst_rgsr_dttm
			, last_chpr_id
			, last_chg_dttm
			, pdls_invc_curr_cd
			, atr_clus_desc
			, qty
			, ttwg
			, dcld_infee_amt
		from tb_clri_post_cscl_audt_dtl
		where post_cmdt_cscl_rqst_no = #{postCmdtCsclRqstNo}
		AND srno = #{srno}
	</insert>
</mapper>
