<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Gérer l'OEA !== AEO 업체 관리 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.lwcs.mapper.RsmAeoCoMgmtMapper">

    <!--
        [Gérer l'OEA] Consulter la liste !== [AEO업체관리] 목록조회 ==!
    -->
    <select id="selectAeoCoMgmtList"
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmAeoCoMgmtInqtVo"
        resultType="alpass.ipt.rsm.lwcs.vo.RsmAeoCoMgmtRsltVo">

        /* selectAeoCoMgmtList */
        <include refid="pagination.header" ></include>
        SELECT
              A.AEO_ATHR_NO                /** Numéro d'OEA !== AEO공인번호 ==! */
            , A.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
            , A.NIF                        /** NIF !== 납세식별번호 ==! */
            , (SELECT CO_NM FROM TB_COM_CO WHERE NIF = A.NIF) AS CO_NM          /** Entreprise !==업체명==! */
            , A.AEO_ATHR_GD_CD             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
            , TO_CHAR(TO_DATE(A.ATHR_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_STRT_DT               /** Date de commencement d'agrément !== 공인시작일자 ==! */
            , TO_CHAR(TO_DATE(A.ATHR_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_END_DT                /** Date de fermeture d'agrément !== 공인종료일자 ==! */
            , A.ATHR_STTS_CD               /** Code d'état d'agrément !== 공인상태코드 ==! */
            , A.JRSD_CSTM_CD               /** Code de bureau compétent !== 관할세관코드 ==! */
            , B.CSCL_BNFT_OFAT_CHG_CD 	   /** Code de modification d’office d’avantages douaniers !== 통관혜택직권변경코드 ==! */
            , B.ATHR_STTS_CD 			   /** Code d'état d'agrément !== 공인상태코드 ==! */
            , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
            , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
            , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
            , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        FROM   TB_AEOI_ATHR_CO A
             , TB_RSMI_AEO_CO_BSCS B
        WHERE  B.DEL_YN = 'N'              /** Suppression ON !== 삭제여부 ==! */
        AND A.NIF = B.NIF
		<if test='(searchStrtDt != null and !"".equals(searchStrtDt)) and (searchEndDt != null and !"".equals(searchEndDt))'>
			AND    A.ATHR_STRT_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{searchEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') 			/** Date de commencement d'agrément !== 공인시작일자 ==! */
			AND    A.ATHR_END_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{searchStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') 			/** Date de fermeture d'agrément !== 공인종료일자 ==! */
		</if>
		<if test='searchNif != null and !"".equals(searchNif)'>
			AND A.NIF = #{searchNif} 					/** NIF !== 납세식별번호 ==! */
		</if>

		<if test='athrSttsCd != null and !"".equals(athrSttsCd)'>
			AND A.ATHR_STTS_CD = #{athrSttsCd} 			/** Code d'état d'agrément !== 공인상태코드 ==! */
		</if>

		ORDER BY A.FRST_RGSR_DTTM DESC, A.AEO_ATHR_NO DESC

        <include refid="pagination.footer" ></include>
    </select>

    <!--
        [Gérer l'OEA] Consulter les détails !== [AEO업체관리] 상세조회 ==!
    -->
    <select id="selectAoeAthrCoInfo"
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmAeoCoMgmtRsltVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiAthrRqstVo">
        /* selectAoeAthrCoInfo */
        SELECT
			       A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			     , A.AUDT_PT_CD                 /** Code De Type De Contrôle !== 심사유형코드 ==! */
			     , FN_GET_CD_VDVAL_NM('AEO_0002', A.AUDT_PT_CD, #{langCd}) AS AUDT_PT_NM 		/** Code De Type De Contrôle !== 심사유형코드 ==! */
			     , A.AEO_QLFC_CD                /** Code du titre OEA !== AEO자격코드 ==! */
			     , FN_GET_CD_VDVAL_NM('AEO_0003', A.AEO_QLFC_CD, #{langCd}) AS AEO_QLFC_NM 	/** Nom du titre OEA !== AEO자격코드 ==! */
			     , A.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			     , FN_GET_PRCS_STTS_CD_VDVAL_NM('COM_9250', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Nom De Statut De Traitement !== 처리상태코드 ==! */
			     , A.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			     , FN_GET_PRCS_STTS_CD_VDVAL_NM('COM_9252', A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			     , A.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
			     , A.CO_NM                      /** Nom De L'Entreprise !== 업체명 ==! */
			     , TO_CHAR(TO_DATE(A.ESTB_DT), 'DD/MM/YYYY') AS ESTB_DT                    /** Date de constitution !== 설립일자 ==! */
			     , A.ESTB_PLC_NM                /** Lieu de constitution !== 설립장소명 ==! */
			     , A.RPRS_TLPH_NO               /** N° De Téléphone Principale !== 대표전화번호 ==! */
			     , A.RPRS_FAX_NO                /** N° De Fax Principal !== 대표팩스번호 ==! */
			     , A.RPRS_EML                   /** Email Principal !== 대표이메일 ==! */
			     , A.NIF                        /** NIF !== 납세번호 ==! */
			     , A.LAW_QLFC_NM                /** Statut juridique !== 법자격명 ==! */
			     , A.HOFC_ADDR                  /** Adresse du siège social !== 본사주소 ==! */
			     , A.ACAP_CSTM_CD               /** Code douanier de réception !== 접수세관코드 ==! */
			     , (SELECT ORGN_NM FROM  TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(A.ACAP_CSTM_CD)) AS ACAP_CSTM_NM               /** Code douanier de réception !== 접수세관코드 ==! */
			     , A.CAPL_AMT                   /** Montant du capital !== 자본금액 ==! */
			     , A.SUMR_CN                    /** Résumé !== 요약내용 ==! */
			     , TO_CHAR(A.RQST_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS rqstDttm                  /** Date Et Heure De La Demande !== 신청일시 ==! */
			     , TO_CHAR(A.ACAP_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS acapDttm                  /** Date De Réception !== 접수일시 ==! */
			     , TO_CHAR(A.ISS_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS issDttm                   /** Date de délivrance !== 발급일시 ==! */
		         , TO_CHAR(A.ISS_DTTM, 'DD/MM/YYYY') AS issDt
				 , A.ISS_CSTM_CD                /** Code du bureau de douane de délivrance !== 발급세관코드 ==! */
			     , (SELECT ORGN_NM FROM  TB_POTI_ORGN WHERE ORGN_CD = UPPER(A.ISS_CSTM_CD)) AS ISS_CSTM_NM                /** Code du bureau de douane de délivrance !== 발급세관코드 ==! */
			     , A.AEO_ATHR_NO                /** Numéro d'OEA !== AEO공인번호 ==! */
			     , A.PLN_AUDT_DEPT_CD                /** Service des contrôles a posteriori  !== 계획심사부서 ==! */
			     , ( SELECT ORGN_NM FROM  TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(A.PLN_AUDT_DEPT_CD)) AS PLN_AUDT_DEPT_NM                /** Service des contrôles a posteriori  !== 계획심사부서 ==! */
				 , ( SELECT CHG_RSN_CN FROM TB_RSMI_AEO_CO_BSCS
					 WHERE DEL_YN = 'N'
					 AND NIF = A.NIF
					 AND ATHR_STRT_DT = (SELECT ATHR_STRT_DT FROM TB_AEOI_ATHR_CO WHERE AEO_ATHR_NO = A.AEO_ATHR_NO )
					 AND ATHR_END_DT = (SELECT ATHR_END_DT FROM TB_AEOI_ATHR_CO WHERE AEO_ATHR_NO = A.AEO_ATHR_NO )
				   ) AS CHG_RSN_CN
		 FROM	  TB_AEOI_ATHR_RQST A
		WHERE A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND A.NIF = #{nif} 									/** NIF !== 납세번호 ==! */
		AND A.AEO_ATHR_NO = #{aeoAthrNo} 					/** Numéro d'OEA !== AEO공인번호 ==! */
    </select>

	<!--
        [Gérer l'OEA] Consulter l'historique des résultats de ciblage par trimestre  !== [AEO업체관리] 분기별선별결과 이력조회 ==!
    -->
	<select id="selectAoeAthrCoHistList"
		parameterType="alpass.ipt.rsm.lwcs.vo.RsmAeoCoMgmtRsltVo"
		resultType="alpass.ipt.rsm.lwcs.vo.RsmAeoCoMgmtHistVo">
		/* selectAoeAthrCoHistList */
		SELECT T.*
		   , ( SELECT GRN_SELC_RT
			   FROM TB_RSMI_AEO_SELC_MGMT
			   WHERE DEL_YN = 'N'
			   AND AEO_ATHR_GD_CD = T.AEO_ATHR_GD_CD
			   AND EV_QRT = T.EV_QRT
			 ) AS GOAL_GRN_SELC_RT 		/**  Taux objectif (Vert) !== 목표선별율(녹색) ==! */
		FROM
		(
			SELECT B.EV_QRT 			/**  Trimestre d'évaluation !== 평가분기 ==! */
				 , B.AEO_ATHR_GD_CD 	/**  Catégorie d'OEA !== AEO등급 ==! */
				 , B.GRN_SELC_CNT 		/**  Nbr de déclarations ciblées (Vert) !== 선별건수(녹색) ==! */
				 , B.BLU_SELC_CNT 		/**  Nbr de déclarations ciblées (Bleu) !== 선별건수(파랑) ==! */
				 , B.RED_SELC_CNT 		/**  Nbr de déclarations ciblées (Rouge) !== 선별건수(빨간) ==! */
				 , B.ORE_SELC_CNT 		/**  Nbr de déclarations ciblées (Orange) !== 선별건수(오렌지) ==! */
				 , CASE WHEN B.TOT_CNT = 0 THEN 0
						ELSE ROUND((CAST(B.GRN_SELC_CNT as INTEGER) / CAST(B.TOT_CNT as INTEGER)) * 100, 1)
				   END AS GRN_SELC_RT 	/**  Taux de ciblage (Vert) !== 선별율(녹색) ==! */
				 , CASE WHEN B.TOT_CNT = 0 THEN 0
						ELSE ROUND((CAST(B.BLU_SELC_CNT as INTEGER) / CAST(B.TOT_CNT as INTEGER)) * 100, 1)
				   END AS BLU_SELC_RT 	/**  Taux de ciblage (Bleu) !== 선별율(파랑) ==! */
				 , CASE WHEN B.TOT_CNT = 0 THEN 0
						ELSE ROUND((CAST(B.RED_SELC_CNT as INTEGER) / CAST(B.TOT_CNT as INTEGER)) * 100, 1)
				   END AS RED_SELC_RT 	/**  Taux de ciblage (Rouge) !== 선별율(빨간) ==! */
				 , CASE WHEN B.TOT_CNT = 0 THEN 0
						ELSE ROUND((CAST(B.ORE_SELC_CNT as INTEGER) / CAST(B.TOT_CNT as INTEGER)) * 100, 1)
				   END AS ORE_SELC_RT 	/**  Taux de ciblage (Orange) !== 선별율(오렌지) ==! */
				 , B.TOT_CNT AS TOT_DCSH_CNT 	/**  Nombre Total De Cas !== 총건수 ==! */
			FROM (
					SELECT S.NIF
		 				 , S.EV_QRT
		 				 , S.AEO_ATHR_GD_CD
		 				 , SUM(S.GRN_SELC_CNT) AS GRN_SELC_CNT
		 				 , SUM(S.BLU_SELC_CNT) AS BLU_SELC_CNT
		 				 , SUM(S.ORE_SELC_CNT) AS ORE_SELC_CNT
		 				 , SUM(S.RED_SELC_CNT) AS RED_SELC_CNT
		 				 , SUM(S.GRN_SELC_CNT)+ SUM(S.BLU_SELC_CNT) + SUM(S.ORE_SELC_CNT) + SUM(S.RED_SELC_CNT) AS TOT_CNT
				    FROM (
					       SELECT  DECODE (D.SELC_RSLT_CD, 'G', 1, 0) AS GRN_SELC_CNT
					       	     , DECODE (D.SELC_RSLT_CD, 'B', 1, 0) AS BLU_SELC_CNT
					       	     , DECODE (D.SELC_RSLT_CD, 'O', 1, 0) AS ORE_SELC_CNT
					       	     , DECODE (D.SELC_RSLT_CD, 'R', 1, 0) AS RED_SELC_CNT
					       	     , H.NIF
					       	     , H.EV_QRT
					       	     , H.AEO_ATHR_GD_CD
					       FROM TB_CLRI_DED_COMN D
					       	 , (  SELECT A.NIF
					       	  	       , A.EV_QRT
					       		       , A.AEO_ATHR_GD_CD
					       		  FROM TB_RSMI_AEO_CO_HIST A
					       		  WHERE DEL_YN = 'N'
					       		  AND NIF = #{nif}
					       	   ) H
					       WHERE  D.DEL_YN ='N'
					       AND D.IMPPN_IDFY_NO = H.NIF
					       AND D.DCLR_DT BETWEEN SUBSTR(H.EV_QRT,0,4)||(DECODE(SUBSTR(H.EV_QRT,5,1), '1', '0101', '2', '0401', '3', '0701', '1001' )) AND
					            				 SUBSTR(H.EV_QRT,0,4)||(DECODE(SUBSTR(H.EV_QRT,5,1), '1', '0331', '2', '0630', '3', '0930', '1231' ))
					) S
	                GROUP BY NIF, EV_QRT, AEO_ATHR_GD_CD
			   ) B
			ORDER BY B.EV_QRT DESC
		) T
	</select>

	<!--
        [Gérer l'OEA] Appliquer / Désappliquer !== [AEO업체관리] 적용 / 미적용 ==!
    -->
	<update id="updateCsclBnftOfatChg"
		parameterType="alpass.ipt.rsm.lwcs.vo.RsmAeoCoMgmtRsltVo">
		/* updateCsclBnftOfatChg */
		UPDATE TB_RSMI_AEO_CO_BSCS
		SET CSCL_BNFT_OFAT_CHG_CD = #{csclBnftOfatChgCd} 		/** Code de modification d’office d’avantages douaniers !== 통관혜택직권변경코드 ==! */
		  , CHG_RSN_CN = #{chgRsnCn} 							/** Motif De La Modification !== 변경사유내용 ==! */
		  , LAST_CHPR_ID = #{lastChprId} 						/** Id Du Modificateur Final !== 최종변경자ID ==! */
		  , LAST_CHG_DTTM = SYSTIMESTAMP 						/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		WHERE DEL_YN = 'N'
		AND NIF = #{nif}

	</update>

	<!--
        [Historique de traitement des OEA] Enregistrer !== [AEO업체처리내역] 등록 ==!
    -->
	<insert id="insertAeoCoPrcsBrkd"
		parameterType="alpass.ipt.rsm.com.vo.RsmAeoCoPrcsBrkdVo">
		/* insertAeoCoPrcsBrkd */

		<selectKey keyColumn="PRCS_SRNO" keyProperty="prcsSrno" resultType="java.math.BigDecimal" order="BEFORE">
			SELECT NVL(MAX(PRCS_SRNO), 0) +1 FROM TB_RSMI_AEO_CO_PRCS_BRKD WHERE NIF = #{nif}
		</selectKey>

		INSERT INTO TB_RSMI_AEO_CO_PRCS_BRKD
		(
			  NIF                          /** NIF !== 납세식별번호 ==! */
			, PRCS_SRNO                    /** N° de sequence de traitement !== 처리일련번호 ==! */
			, PRCS_DT                      /** Date De Traitement !== 처리일자 ==! */
			, CSCL_BNFT_OFAT_CHG_CD        /** Code de modification d’office d’avantages douaniers !== 통관혜택직권변경코드 ==! */
			, DEL_YN                       /** Suppression On !== 삭제여부 ==! */
			, FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		VALUES
		(
			  #{nif}                       /** NIF !== 납세식별번호 ==! */
			, #{prcsSrno}                  /** N° de sequence de traitement !== 처리일련번호 ==! */
			, TO_CHAR(sysdate,'YYYYMMDD')  /** Date De Traitement !== 처리일자 ==! */
			, #{csclBnftOfatChgCd}         /** Code de modification d’office d’avantages douaniers !== 통관혜택직권변경코드 ==! */
			, 'N'                          /** Suppression On !== 삭제여부 ==! */
			, #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, SYSTIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, SYSTIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
	</insert>

</mapper>