<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Gérer le niveau de conformité !== 법규준수도등급관리 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.lwcs.mapper.RsmLwcsGdMgmtMapper">

	<!--
    	[Gérer le niveau de conformité] Consulter par trimestre  !== [법규준수도등급관리] 분기조회 ==!
  	-->
  	<select id="selectLwcsGdMgmtQuarterTabList"
    	parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo"
    	resultType="alpass.framework.util.CamelCaseKeyMap">
    	
		/* selectLwcsGdMgmtQuarterTabList */
		SELECT
		   EV_QRT 									/* Trimestre d'évaluation !== 평가분기 ==!*/
		FROM TB_RSMI_LWCS_GD_DSTB
		   WHERE EV_CO_TP_CD = #{evCoTpCd} 			/* Code de type de contrat !== 평가업체구분코드	==!*/
		AND EV_QRT BETWEEN #{startEvQrt} AND #{endEvQrt} 		/* Trimestre d'évaluation	!== 평가분기 ==!*/
		GROUP BY EV_QRT 							/* Trimestre d'évaluation !== 평가분기 ==!*/
		ORDER BY EV_QRT ASC 						/* Trimestre d'évaluation !== 평가분기 ==!*/
		
    </select>	
    
    <!--
        [Gérer le niveau de conformité] Consulter la liste !== [법규준수도등급관리] 목록조회 ==!
    -->
    <select id="selectLwcsGdMgmtList"
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo"
        resultType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">
        
        /* selectLwcsGdMgmtList */
        SELECT
	          EV_QRT                               /* Trimestre d'évaluation  !== 평가분기 ==!*/
	        , EV_CO_TP_CD                          /* Code de type de contrat !== 평가업체구분코드 ==!*/
	        , LWCS_SRNO                            /* Numéro de série du niveau de conformité !== 법규준수일련번호 ==!*/
	        , EV_GD_CD                             /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
	        , EV_GD_RTO                            /* Proportion du groupe d'évaluation !== 평가등급비율 ==!*/
	        , ERCNT                                /* Nombre d'entreprise  !== 업체수 ==!*/
	        , EV_GD_LWST_SCR                       /* Note la plus faible  !== 평가등급최저점수 ==!*/
	        , EV_GD_TOP_SCR                        /* Meilleure note d'évaluation !== 평가등급최고점수 ==!*/
	        , LWRG_PRCS_STTS_PRCS_CD               /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==!*/
	        , DEL_YN                               /* Suppression ON !== 삭제여부 ==!*/
	        , FRST_REGST_ID                        /* ID du premier enregistrant  !== 최초등록자ID ==!*/
	        , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') FRST_RGSR_DTTM
	        , LAST_CHPR_ID                         /* ID du modificateur final !== 최종변경자ID ==!*/
	        , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') LAST_CHG_DTTM
	    FROM  TB_RSMI_LWCS_GD_DSTB
	    WHERE EV_QRT = #{evQrt}                    /* Trimestre d'évaluation  !== 평가분기 ==!*/
	    AND   EV_CO_TP_CD = #{evCoTpCd}            /* Code de type de contrat !== 평가업체구분코드 ==!*/
	    AND   LWCS_SRNO = ( 					   /* Numéro De Série Du Niveau De Conformité !== 법규준수일련번호 ==! */
	          SELECT
	                MAX(LWCS_SRNO)
	          FROM  TB_RSMI_LWCS_GD_DSTB
	          WHERE EV_QRT = #{evQrt}              /* Trimestre d'évaluation  !== 평가분기 ==!*/
	          AND   EV_CO_TP_CD = #{evCoTpCd}      /* Code de type de contrat !== 평가업체구분코드 ==!*/
	    )
	
	    <if test='evGdCd != null and !"".equals(evGdCd)'>
	    AND EV_GD_CD = #{evGdCd}                   /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
	    </if>
	
	    <if test='lwrgPrcsSttsPrcsCd != null and !"".equals(lwrgPrcsSttsPrcsCd)'>
	    AND LWRG_PRCS_STTS_PRCS_CD = #{lwrgPrcsSttsPrcsCd}      /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==!*/
	    </if>
		ORDER BY EV_GD_CD
    </select>    
    
    <!--
        [Gérer le niveau de conformité] Confirmer !== [법규준수도등급관리] 확인 ==!
    -->
    <update id="updateEvGdRto" parameterType="alpass.ipt.rsm.com.vo.RsmLwcsGdDstbVo">

	    /* updateEvGdRto */
	    
	    UPDATE TB_RSMI_LWCS_GD_DSTB
	    SET
	          EV_GD_RTO                 = #{evGdRto}                /* Proportion du groupe d'évaluation !== 평가등급비율 ==!*/
	        , LWRG_PRCS_STTS_PRCS_CD    = #{lwrgPrcsSttsPrcsCd}     /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==! */
	        , LAST_CHPR_ID              = #{lastChprId}             /* ID du modificateur final !== 최종변경자ID ==!*/
	        , LAST_CHG_DTTM             = SYSTIMESTAMP              /* Date et heure de modification finale !== 최종변경일시 ==!*/
	    WHERE EV_QRT                    = #{evQrt}                  /* Trimestre d'évaluation  !== 평가분기 ==!*/
	    AND   EV_CO_TP_CD               = #{evCoTpCd}               /* Code de type de contrat !== 평가업체구분코드 ==!*/
	    AND   LWCS_SRNO                 = #{lwcsSrno}               /* Numéro de série du niveau de conformité !== 법규준수일련번호 ==!*/
	    AND   EV_GD_CD                  = #{evGdCd}                 /* Code de groupe d'évaluation !== 평가등급코드 ==!*/

    </update>
    
    <!-- 
      [Gérer le niveau de conformité] Réinitialiser les notes du niveau de conformité (Déclarant) !== [법규준수도등급관리] 법규준수점수 초기화 (신고인) ==!
    -->
    <update id="updateRsmCoEvComnDcerInit" parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">

	    /* updateRsmCoEvComnDcerInit */
	    
	    UPDATE TB_RSMI_LWCS_GD_DSTB
	       SET ERCNT = 0 					/** Nombre D'Entreprise  !== 업체수 ==! */
	         , EV_GD_LWST_SCR = 0 			/** Note La Plus Faible  !== 평가등급최저점수 ==! */
	         , EV_GD_TOP_SCR = 0 			/** Meilleure Note D'Évaluation !== 평가등급최고점수 ==! */
	         , LAST_CHG_DTTM = SYSDATE 		/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
	    WHERE EV_QRT = #{evQrt} 			/** Trimestre D'Évaluation  !== 평가분기 ==! */
		AND EV_CO_TP_CD = 'A' 				/** Code De Type De Contrat !== 평가업체구분코드 ==! */

    </update>
    
    <!-- 
      [Gérer le niveau de conformité] Modifier le groupement du niveau de conformité (Déclarant) !== [법규준수도등급관리] 업체평가등급 수정 (신고인) ==!
    -->
    <update id="updateRsmCoEvComnDcer" parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">
	    /* updateRsmCoEvComnDcer */
		UPDATE TB_RSMI_CO_EV_COMN COMN SET
			  COMN.EV_GD_CD = SCR.EV_GD_CD 				/** Code De Groupe D'Évaluation !== 평가등급코드 ==! */
			, COMN.LAST_CHG_DTTM = SCR.LAST_CHG_DTTM 	/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		FROM (
				SELECT EV_QRT
					, EV_CO_TP_CD
					, EV_QRT_SRNO
					, NIF
					, MIN(EV_GD_CD) AS EV_GD_CD
					, SYSDATE AS LAST_CHG_DTTM
				FROM (
					SELECT CO.EV_QRT
						 , CO.EV_CO_TP_CD
						 , CO.EV_QRT_SRNO
						 , CO.NIF
						 , CO.EV_GD_ACML_DSTB_RT
						 , GD.EV_GD_CD
						 , GD.EV_GD_RTO
					FROM (/** Extraire les entreprises du trimestre concerné !== 해당 분기 업체 추출 ==! */
						SELECT EV_QRT
							 , EV_CO_TP_CD
							 , EV_QRT_SRNO
							 , NIF
							 , EV_GD_ACML_DSTB_RT
						FROM   TB_RSMI_CO_EV_COMN
						WHERE  EV_QRT = #{evQrt}
						AND    EV_CO_TP_CD = 'A'
						AND    EV_QRT_SRNO = (/** Extraire le numéro de série de l'évaluation finale du trimestre !== 해당 분기의 최종 평가일련번호 추출 ==! */
												SELECT MAX(EV_QRT_SRNO) AS EV_QRT_SRNO
												FROM   TB_RSMI_CO_EV_COMN
												WHERE  DEL_YN = 'N'
												AND    EV_QRT = #{evQrt}
											 )
						AND DEL_YN = 'N'
				) CO,
				(/** Taux d'évaluation note par note pour le trimestre !== 해당 분기의 등급별 평가등급 비율 ==! */
						SELECT EV_QRT
							 , EV_CO_TP_CD
							 , EV_GD_CD
							 , EV_GD_RTO
						FROM   TB_RSMI_LWCS_GD_DSTB
						WHERE  EV_QRT = #{evQrt}
						AND    EV_CO_TP_CD = 'A'
				) GD
				WHERE 1 = 1
				<![CDATA[
					 AND CO.EV_GD_ACML_DSTB_RT <= GD.EV_GD_RTO
				]]>
					AND CO.EV_QRT = GD.EV_QRT
					AND CO.EV_CO_TP_CD = GD.EV_CO_TP_CD
				)
				GROUP BY EV_QRT, EV_CO_TP_CD, EV_QRT_SRNO, NIF
				ORDER BY EV_QRT, EV_CO_TP_CD, EV_QRT_SRNO, NIF
		) SCR
		WHERE COMN.EV_QRT || COMN.EV_CO_TP_CD || COMN.EV_QRT_SRNO || COMN.NIF = SCR.EV_QRT || SCR.EV_CO_TP_CD || SCR.EV_QRT_SRNO || SCR.NIF

    </update>
    
    <!-- 
        [Gérer le niveau de conformité] Modifier les notes du niveau de conformité (Déclarant) !== [법규준수도등급관리] 법규준수점수 수정 (신고인) ==!
    -->
    <update id="updateRsmLwcsGdDstbDcer" parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">

	    /* updateRsmLwcsGdDstbDcer */
		UPDATE TB_RSMI_LWCS_GD_DSTB GD SET
			  GD.ERCNT            = STAT.ERCNT 				/** Nombre D'Entreprise  !== 업체수 ==! */
			, GD.EV_GD_LWST_SCR   = STAT.EV_GD_LWST_SCR 	/** Note La Plus Faible  !== 평가등급최저점수 ==! */
			, GD.EV_GD_TOP_SCR    = STAT.EV_GD_TOP_SCR 		/** Meilleure Note D'Évaluation !== 평가등급최고점수 ==! */
			, GD.LAST_CHG_DTTM    = STAT.LAST_CHG_DTTM 		/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		FROM (
				/** Calculez le nombre d'entreprises et la plage de scores par niveau de conformité !== 법규준수도 등급별 업체 수 및 점수 범위 산출 ==! */
				/** Extraire les entreprises du trimestre concerné !== 해당 분기 업체 추출 ==! */
				SELECT    EV_QRT
						, EV_CO_TP_CD
						, (/** Numéro de série de conformité pour le trimestre !== 해당 분기의 법규준수 일련번호 ==! */
							SELECT MAX(LWCS_SRNO)
							FROM   TB_RSMI_LWCS_GD_DSTB
							WHERE  EV_QRT = #{evQrt}
						) AS LWCS_SRNO
						, EV_GD_CD
						, COUNT(*) AS ERCNT
						, MIN(CO_EV_SCR) AS EV_GD_LWST_SCR
						, MAX(CO_EV_SCR) AS EV_GD_TOP_SCR
						, SYSDATE AS LAST_CHG_DTTM
				FROM   TB_RSMI_CO_EV_COMN
				WHERE  EV_QRT = #{evQrt}
		        AND  EV_CO_TP_CD = 'A'
				AND  EV_QRT_SRNO = (/** Extraire le numéro de série de l'évaluation finale du trimestre !== 해당 분기의 최종 평가일련번호 추출 ==! */
										SELECT MAX(EV_QRT_SRNO) AS EV_QRT_SRNO
										FROM   TB_RSMI_CO_EV_COMN
										WHERE  EV_QRT = #{evQrt}
										AND    DEL_YN = 'N'
										)
				AND  DEL_YN = 'N'
				GROUP BY EV_QRT, EV_CO_TP_CD, EV_GD_CD
		) STAT
		WHERE GD.EV_QRT || GD.EV_CO_TP_CD || GD.LWCS_SRNO || GD.EV_GD_CD = STAT.EV_QRT || STAT.EV_CO_TP_CD || STAT.LWCS_SRNO || STAT.EV_GD_CD

    </update>
        
    <!--
        [Gérer le niveau de conformité] Sauvegarder !== [법규준수도등급관리] 저장 ==!
    -->
    <update id="updateLwrgPrcsSttsPrcsCd" parameterType="alpass.ipt.rsm.com.vo.RsmLwcsGdDstbVo">

	    /* updateLwrgPrcsSttsPrcsCd */
	    UPDATE TB_RSMI_LWCS_GD_DSTB
	    SET   LWRG_PRCS_STTS_PRCS_CD    = #{lwrgPrcsSttsPrcsCd}     /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==!*/
	        , LAST_CHPR_ID              = #{lastChprId}             /* ID du modificateur final !== 최종변경자ID ==!*/
	        , LAST_CHG_DTTM             = SYSTIMESTAMP              /* Date et heure de modification finale !== 최종변경일시 ==!*/
	    WHERE EV_QRT                    = #{evQrt}                  /* Trimestre d'évaluation  !== 평가분기 ==!*/
	    AND   EV_CO_TP_CD               = #{evCoTpCd}               /* Code de type de contrat !== 평가업체구분코드 ==!*/
	    AND   LWCS_SRNO                 = #{lwcsSrno}               /* Numéro de série du niveau de conformité !== 법규준수일련번호 ==!*/
	    AND   EV_GD_CD                  = #{evGdCd}                 /* Code de groupe d'évaluation !== 평가등급코드 ==!*/

    </update>

	<!--
        [Gérer le niveau de conformité] Réinitialiser le degré de niveau de conformité(Importateur) !== [법규준수도등급관리] 법규준수도 등급 산출 초기화 (수입자) ==!
    -->
	<update id="updateRsmCoEvComnImppnInit" parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">

		/* updateRsmCoEvComnImppnInit */

		UPDATE TB_RSMI_LWCS_GD_DSTB
		SET ERCNT = 0 					/** Nombre D'Entreprise  !== 업체수 ==! */
		  , EV_GD_LWST_SCR = 0 			/** Note La Plus Faible  !== 평가등급최저점수 ==! */
		  , EV_GD_TOP_SCR = 0 			/** Meilleure Note D'Évaluation !== 평가등급최고점수 ==! */
		  , LAST_CHG_DTTM = SYSDATE 	/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		WHERE EV_QRT = #{evQrt} 		/** Trimestre D'Évaluation  !== 평가분기 ==! */
		AND EV_CO_TP_CD = 'B' 			/** Code De Type De Contrat !== 평가업체구분코드 ==! */

	</update>

	<!--
        [Gérer le niveau de conformité] Mise à jour de degré de niveau de conformité(Importateur) !== [법규준수도등급관리] 법규준수도 등급 업데이트(수입자) ==!
    -->
    <update id="updateRsmCoEvComnImppn" parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">

	    /* updateRsmCoEvComnImppn */
		UPDATE TB_RSMI_CO_EV_COMN COMN SET
			  COMN.EV_GD_CD = SCR.EV_GD_CD 				/** Code De Groupe D'Évaluation !== 평가등급코드 ==! */
			, COMN.LAST_CHG_DTTM = SCR.LAST_CHG_DTTM 	/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		FROM (
				SELECT EV_QRT
					, EV_CO_TP_CD
					, EV_QRT_SRNO
					, NIF
					, MIN(EV_GD_CD) AS EV_GD_CD
					, SYSDATE AS LAST_CHG_DTTM
				FROM (
					SELECT CO.EV_QRT
						 , CO.EV_CO_TP_CD
						 , CO.EV_QRT_SRNO
						 , CO.NIF
						 , CO.EV_GD_ACML_DSTB_RT
						 , GD.EV_GD_CD
						 , GD.EV_GD_RTO
					FROM (/** Extraire les entreprises du trimestre concerné !== 해당 분기 업체 추출 ==! */
						SELECT EV_QRT
							 , EV_CO_TP_CD
							 , EV_QRT_SRNO
							 , NIF
							 , EV_GD_ACML_DSTB_RT
						FROM   TB_RSMI_CO_EV_COMN
						WHERE  EV_QRT = #{evQrt}
						AND    EV_CO_TP_CD = 'B'
						AND    EV_QRT_SRNO = (/** Extraire le numéro de série de l'évaluation finale du trimestre !== 해당 분기의 최종 평가일련번호 추출 ==! */
												SELECT MAX(EV_QRT_SRNO) AS EV_QRT_SRNO
												FROM   TB_RSMI_CO_EV_COMN
												WHERE  DEL_YN = 'N'
												AND    EV_QRT = #{evQrt}
											 )
						AND DEL_YN = 'N'
				) CO,
				(/** Taux d'évaluation note par note pour le trimestre !== 해당 분기의 등급별 평가등급 비율 ==! */
						SELECT EV_QRT
							 , EV_CO_TP_CD
							 , EV_GD_CD
							 , EV_GD_RTO
						FROM   TB_RSMI_LWCS_GD_DSTB
						WHERE  EV_QRT = #{evQrt}
						AND    EV_CO_TP_CD = 'B'
				) GD
				WHERE 1 = 1
				<![CDATA[
					 AND CO.EV_GD_ACML_DSTB_RT <= GD.EV_GD_RTO
				]]>
					AND CO.EV_QRT = GD.EV_QRT
					AND CO.EV_CO_TP_CD = GD.EV_CO_TP_CD
				)
				GROUP BY EV_QRT, EV_CO_TP_CD, EV_QRT_SRNO, NIF
				ORDER BY EV_QRT, EV_CO_TP_CD, EV_QRT_SRNO, NIF
		) SCR
		WHERE COMN.EV_QRT || COMN.EV_CO_TP_CD || COMN.EV_QRT_SRNO || COMN.NIF = SCR.EV_QRT || SCR.EV_CO_TP_CD || SCR.EV_QRT_SRNO || SCR.NIF

    </update>

	 <!--
        [Gérer le niveau de conformité] Aprês la liquidation de niveau de conformité, la mise à jour de degré de niveau de conformité (Importateur) !== [법규준수도등급관리] 법규준수도 산출 후 법규준수도 등급 업데이트 (수입자) ==!
    -->
    <update id="updateRsmLwcsGdDstbImppn" parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">

	    /* updateRsmLwcsGdDstbImppn */
		UPDATE TB_RSMI_LWCS_GD_DSTB GD SET
			  GD.ERCNT            = STAT.ERCNT 					/** Nombre D'Entreprise  !== 업체수 ==! */
			, GD.EV_GD_LWST_SCR   = STAT.EV_GD_LWST_SCR 		/** Note La Plus Faible  !== 평가등급최저점수 ==! */
			, GD.EV_GD_TOP_SCR    = STAT.EV_GD_TOP_SCR 			/** Meilleure Note D'Évaluation !== 평가등급최고점수 ==! */
			, GD.LAST_CHG_DTTM    = STAT.LAST_CHG_DTTM 			/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		FROM (
				/** Calculez le nombre d'entreprises et la plage de scores par niveau de conformité !== 법규준수도 등급별 업체 수 및 점수 범위 산출 ==! */
				/** Extraire les entreprises du trimestre concerné !== 해당 분기 업체 추출 ==! */
				SELECT    EV_QRT
						, EV_CO_TP_CD
						, (/** Numéro de série de conformité pour le trimestre !== 해당 분기의 법규준수 일련번호 ==! */
							SELECT MAX(LWCS_SRNO)
							FROM   TB_RSMI_LWCS_GD_DSTB
							WHERE  EV_QRT = #{evQrt}
						) AS LWCS_SRNO
						, EV_GD_CD
						, COUNT(*) AS ERCNT
						, MIN(CO_EV_SCR) AS EV_GD_LWST_SCR
						, MAX(CO_EV_SCR) AS EV_GD_TOP_SCR
						, SYSDATE AS LAST_CHG_DTTM
				FROM   TB_RSMI_CO_EV_COMN
				WHERE  EV_QRT = #{evQrt}
		        AND  EV_CO_TP_CD = 'B'
				AND  EV_QRT_SRNO = (/** Extraire le numéro de série de l'évaluation finale du trimestre !== 해당 분기의 최종 평가일련번호 추출 ==! */
										SELECT MAX(EV_QRT_SRNO) AS EV_QRT_SRNO
										FROM   TB_RSMI_CO_EV_COMN
										WHERE  EV_QRT = #{evQrt}
										AND    DEL_YN = 'N'
										)
				AND  DEL_YN = 'N'
				GROUP BY EV_QRT, EV_CO_TP_CD, EV_GD_CD
		) STAT
		WHERE GD.EV_QRT || GD.EV_CO_TP_CD || GD.LWCS_SRNO || GD.EV_GD_CD = STAT.EV_QRT || STAT.EV_CO_TP_CD || STAT.LWCS_SRNO || STAT.EV_GD_CD

    </update>
    
</mapper>