<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Enregistrer les taux objectifs cibl. !== 목표선별율등록 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.lwcs.mapper.RsmGoalSelcRtMgmtMapper">

    <!--
    [Enregistrer les taux objectifs cibl.] Consulter la liste  !== [목표선별율등록] 목록조회 ==!
    -->	
	<select id="selectGoalSelcRtList" parameterType="alpass.ipt.rsm.com.vo.RsmGoalSelcRtMgmtVo" resultType="alpass.ipt.rsm.com.vo.RsmGoalSelcRtMgmtVo">
	/* selectGoalSelcRtList */
		SELECT
		       EV_QRT     		            /* Trimestre d'évaluation  !== 평가분기 ==!*/
		     , BSOP_TP_CD     		        /* Code de type de l'opération !== 업무구분코드 ==! */
		     , ORE_SELC_RT     	            /* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
		     , RED_SELC_RT     	            /* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
		     , SELC_RT_STTS_CD              /* Code de statut de taux de ciblage  !== 선별율상태코드 ==!*/
		     , DEL_YN                       /* Suppression ON !== 삭제여부 ==! */
             , FRST_REGST_ID                /* ID du premier enregistrant  !== 최초등록자ID ==! */
             , FRST_RGSR_DTTM               /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
             , LAST_CHPR_ID                 /* ID du modificateur final !== 최종변경자ID ==! */
             , LAST_CHG_DTTM                /* Date et heure de modification finale !== 최종변경일시 ==! */
		FROM TB_RSMI_GOAL_SELC_RT_MGMT A
		WHERE 1 = 1
		AND EV_QRT BETWEEN #{evStrtQrt} AND #{evEndQrt} 					/* Trimestre d'évaluation  !== 평가분기 ==!*/
		<if test='bsopTpCd != null and !"".equals(bsopTpCd)'>
	    AND BSOP_TP_CD = #{bsopTpCd}        /* Code de type de l'opération !== 업무구분코드 ==! */
	    </if>
		
		AND DEL_YN = 'N'       				/* Suppression On !== 삭제여부 ==! */
		ORDER BY EV_QRT DESC
	</select>

	<!--
	  [Critère aléatoire] Consulter la liste des taux objectifs de ciblage !== [랜덤기준관리] 목표선별율 목록조회  ==!
	-->
	<select id="selectMaxQuarterGoalSelcRtList" parameterType="alpass.ipt.rsm.com.vo.RsmGoalSelcRtMgmtVo" resultType="alpass.ipt.rsm.com.vo.RsmGoalSelcRtMgmtVo">
	    /* selectMaxQuarterGoalSelcRtList */
		SELECT
		       EV_QRT                       /* Trimestre d'évaluation  !== 평가분기 ==!*/
		     , BSOP_TP_CD     		        /* Code de type de l'opération !== 업무구분코드 ==! */
		     , ORE_SELC_RT                  /* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
		     , RED_SELC_RT                  /* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
		     , SELC_RT_STTS_CD              /* Code de statut de taux de ciblage  !== 선별율상태코드 ==!*/
		     , DEL_YN                       /* Suppression ON !== 삭제여부 ==! */
		     , FRST_REGST_ID                /* ID du premier enregistrant  !== 최초등록자ID ==! */
		     , FRST_RGSR_DTTM               /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
		     , LAST_CHPR_ID                 /* ID du modificateur final !== 최종변경자ID ==! */
		     , LAST_CHG_DTTM                /* Date et heure de modification finale !== 최종변경일시 ==! */
		FROM TB_RSMI_GOAL_SELC_RT_MGMT
		WHERE 1 = 1
		AND DEL_YN = 'N' 					/* Suppression On !== 삭제여부 ==! */
	<if test='bsopTpCd != null and !"".equals(bsopTpCd)'>
		AND BSOP_TP_CD = #{bsopTpCd} 		/* Code De Type De L'Opération !== 업무구분코드 ==! */
    </if>

    <choose>
        <when test='frstRgsrDttm != null and !"".equals(frstRgsrDttm)'>
        AND EV_QRT = (SELECT TO_CHAR(TO_TIMESTAMP(#{frstRgsrDttm}, 'YYYY-MM-DD HH24:MI:SS.FF6'), 'YYYY') FROM DUAL) || (SELECT TO_CHAR(TO_TIMESTAMP(#{frstRgsrDttm}, 'YYYY-MM-DD HH24:MI:SS.FF6'), 'Q') FROM DUAL)
        </when>
        <otherwise>
        AND EV_QRT = TO_CHAR(SYSTIMESTAMP, 'YYYY') || TO_CHAR(SYSTIMESTAMP, 'Q')
        </otherwise>
    </choose>

		ORDER BY EV_QRT, BSOP_TP_CD DESC
	</select>

	<!-- 
	[Enregistrer les taux objectifs cibl.] Enregistrer  !== [목표선별율등록] 등록 ==!
	 -->
	<insert id="insertGoalSelcRt" parameterType="alpass.ipt.rsm.com.vo.RsmGoalSelcRtMgmtVo">
        /* insertGoalSelcRt */
		WITH UPSERT AS (
		UPDATE TB_RSMI_GOAL_SELC_RT_MGMT SET
			  ORE_SELC_RT     = #{oreSelcRt}            /* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
			, RED_SELC_RT     = #{redSelcRt}            /* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
			, SELC_RT_STTS_CD = #{selcRtSttsCd}         /* Code de statut de taux de ciblage  !== 선별율상태코드 ==!*/
			, DEL_YN          = 'N'                     /* Suppression ON !== 삭제여부 ==! */
			, LAST_CHPR_ID    = #{lastChprId}           /* ID du modificateur final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM   = SYSTIMESTAMP       		/* Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE EV_QRT          = #{evQrt}                /* Trimestre d'évaluation  !== 평가분기 ==!*/
		AND   BSOP_TP_CD      = #{bsopTpCd}             /* Code de type de l'opération !== 업무구분코드 ==! */
		RETURNING *
		)
		INSERT INTO TB_RSMI_GOAL_SELC_RT_MGMT (
			  EV_QRT                /* Trimestre d'évaluation  !== 평가분기 ==!*/
			, BSOP_TP_CD     	    /* Code de type de l'opération !== 업무구분코드 ==! */
			, ORE_SELC_RT           /* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
			, RED_SELC_RT           /* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
			, SELC_RT_STTS_CD       /* Code de statut de taux de ciblage  !== 선별율상태코드 ==!*/
			, DEL_YN                /* Suppression ON !== 삭제여부 ==! */
			, FRST_REGST_ID         /* ID du premier enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM        /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID          /* ID du modificateur final !== 최종변경자ID ==! */
		    , LAST_CHG_DTTM         /* Date et heure de modification finale !== 최종변경일시 ==! */
		)
		SELECT
			  #{evQrt}              /* Trimestre d'évaluation  !== 평가분기 ==!*/
			, #{bsopTpCd}     	    /* Code de type de l'opération !== 업무구분코드 ==! */
			, #{oreSelcRt}          /* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
			, #{redSelcRt}          /* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
			, #{selcRtSttsCd}       /* Code de statut de taux de ciblage  !== 선별율상태코드 ==!*/
			, 'N'                   /* Suppression ON !== 삭제여부 ==! */
			, #{frstRegstId}        /* ID du premier enregistrant  !== 최초등록자ID ==! */
			, SYSTIMESTAMP     		/* Date et heure de premier enregistrement !== 최초등록일시 ==! */
			, #{lastChprId}         /* ID du premier enregistrant  !== 최초등록자ID ==! */
			, SYSTIMESTAMP          /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
		WHERE NOT EXISTS (SELECT * FROM UPSERT)
    </insert>
    
	<!--
    [Enregistrer les taux objectifs cibl.] Modifier !== [목표선별율등록] 수정 ==!
    -->
	<update id="updateGoalSelcRt" parameterType="alpass.ipt.rsm.com.vo.RsmGoalSelcRtMgmtVo" >
	/* updateGoalSelcRt */
		UPDATE TB_RSMI_GOAL_SELC_RT_MGMT SET
		     ORE_SELC_RT = #{oreSelcRt}               /* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
		   , RED_SELC_RT = #{redSelcRt}               /* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
		   , SELC_RT_STTS_CD = #{selcRtSttsCd}        /* Code de statut de taux de ciblage  !== 선별율상태코드 ==!*/
		   , LAST_CHPR_ID = #{lastChprId}             /* ID du modificateur final !== 최종변경자ID ==! */
           , LAST_CHG_DTTM = SYSTIMESTAMP             /* Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE 1 = 1
		AND EV_QRT = #{evQrt}                         /* Trimestre d'évaluation  !== 평가분기 ==!*/
		AND BSOP_TP_CD = #{bsopTpCd}                  /* Code de type de l'opération !== 업무구분코드 ==! */
	</update>
	
	<!--
    [Enregistrer les taux objectifs cibl.] Supprimer !== [목표선별율등록] 삭제 ==!
    -->
	<delete id="deleteGoalSelcRt" parameterType="alpass.ipt.rsm.com.vo.RsmGoalSelcRtMgmtVo" >
	/* deleteGoalSelcRt */
		UPDATE TB_RSMI_GOAL_SELC_RT_MGMT SET
		     DEL_YN = 'Y'      			              /* Suppression ON !== 삭제여부 ==! */
		   , LAST_CHPR_ID = #{lastChprId}             /* ID du modificateur final !== 최종변경자ID ==! */
           , LAST_CHG_DTTM = SYSTIMESTAMP             /* Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE 1 = 1
		AND EV_QRT = #{evQrt}                         /* Trimestre d'évaluation  !== 평가분기 ==!*/
		AND BSOP_TP_CD = #{bsopTpCd}                  /* Code de type de l'opération !== 업무구분코드 ==! */
	</delete>
	
</mapper>