<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Traiter l'approbation du niveau de conformité !== 법규준수도 결재처리  Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.lwcs.mapper.RsmLwcsAprvPrcsComnMapper">

    <!--
      [Gérer la demande de recours] Modifier le statut après l'approbation !== [업체이의신청]결재 후 처리 처리상태 변경 ==!
    -->
    <update id="processAprvAfJob" parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsAprvPrcsComnVo">
        /* processAprvAfJob */
        UPDATE TB_RSMI_LWCS_CO_OBJT_RQST
        SET
            PRCS_STTS_CD = #{prcsSttsCd}                        /* Code De Statut De Traitement  !== 처리상태코드 ==! */
        WHERE CO_OBJT_RQST_ACAP_NO = #{coObjtRqstAcapNo}        /* N° de reception de demande de contestation des utilisateurs externes !== 업체이의신청접수번호 ==! */

    </update>

    <!--
      [Réponse à la demande de recours] Modifier les informations d'approbation après l'approbation !== [업체이의신청답변]결재 후 결재정보 변경 ==!
    -->
    <update id="processAprvAfJob2" parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsAprvPrcsComnVo">
        /* processAprvAfJob2 */
        <selectKey keyProperty="answSrno" resultType="java.math.BigDecimal" order="BEFORE">
            SELECT MAX(ANSW_SRNO) AS ANSW_SRNO
            FROM TB_RSMI_LWCS_CO_OBJT_ANSW
            WHERE CO_OBJT_RQST_ACAP_NO = #{coObjtRqstAcapNo}
        </selectKey>
        UPDATE TB_RSMI_LWCS_CO_OBJT_ANSW
        SET
            APRV_BSOP_TP_CD = #{aprvBsopTpCd}               /* Code de catégorie de l'opération d'approbation  !== 결재업무구분코드  ==!*/
          , APRV_ID = #{aprvId}                             /* ID d'approbation  !== 결재ID ==! */
        WHERE CO_OBJT_RQST_ACAP_NO = #{coObjtRqstAcapNo}    /* N° de reception de demande de contestation des utilisateurs externes !== 업체이의신청접수번호 ==! */
        AND ANSW_SRNO = #{answSrno}                         /* N° De Série De Réponse !== 답변일련번호 ==! */

    </update>

</mapper>