<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Demander l'audit en collaboration !== 협의심사 요청 Mapper ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.audt.mapper.AeoAthrAudtCnfcMapper">

    <!--
    [Demander l'audit en collaboration] Consulter la liste !==[협의심사요청] 목록조회==!
    -->
	<select id="selectAeoAthrAudtCnfcList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo">
		/* selectAeoAthrAudtCnfcList */
	    <include refid="pagination.header"/>
		SELECT
				  AAR.AEO_ATHR_RQST_NO			/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		        , AAR.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
		        , FN_GET_CD_VDVAL_NM('AEO_0015', AAR.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM
		        , AAR.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
		        , FN_GET_CD_VDVAL_NM('AEO_0017', AAR.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM
		        , AAR.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
		        , AAR.CO_NM                      /** Nom De L'Entreprise !== 업체명 ==! */
				, AAR.NIF                        /** NIF !== 납세번호 ==! */
				, AAR.PLN_AUDT_DEPT_CD			 /** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
				, ( SELECT ORGN_NM
				    FROM   TB_POTI_ORGN
				    WHERE  ORGN_MGMT_CD = (SELECT  AUDT_ORGN_MGMT_CD
										   FROM    TB_AEOI_ATHR_AUDT_ORGN
										   WHERE   DEL_YN = 'N'
										   AND     DRD_ORGN_MGMT_CD = (SELECT  UPR_ORGN_MGMT_CD
																	   FROM    TB_POTI_ORGN
																	   WHERE   DEL_YN = 'N'
																	   AND     ORGN_MGMT_CD = AAR.ACAP_CSTM_CD)) ) AS PLN_AUDT_DEPT_NM				/** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
		        , TO_CHAR(AAR.RQST_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS rqstDttm                  /** Date Et Heure De La Demande !== 신청일시 ==! */
		        , TO_CHAR(AAR.ACAP_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS acapDttm                  /** Date De Réception !== 접수일시 ==! */
		        , (SELECT  AUDT_ORGN_MGMT_CD
		           FROM    TB_AEOI_ATHR_AUDT_ORGN
		           WHERE   DEL_YN = 'N'
		           AND     DRD_ORGN_MGMT_CD = (SELECT  UPR_ORGN_MGMT_CD
		                                       FROM    TB_POTI_ORGN
		                                       WHERE   DEL_YN = 'N'
		                                       AND     ORGN_MGMT_CD = AAR.ACAP_CSTM_CD)) AS AUDT_ORGN_MGMT_CD         /** Code de gestion de l'organigramme du service chargé d'audit !== 심사조직관리코드 ==! */
		  FROM	  TB_AEOI_ATHR_RQST AAR
				, (
					SELECT
							  A.AEO_ATHR_RQST_NO
							, COUNT(A.AEO_ATHR_RQST_NO) AS CO_POBS_CNT
					  FROM	  TB_AEOI_RQST_CO_POBS A
					 WHERE	  A.DEL_YN = 'N'					/** Suppression On !== 삭제여부 ==! */
					 GROUP BY A.AEO_ATHR_RQST_NO
				) ARCP
		 WHERE
		 		  AAR.AEO_ATHR_RQST_NO = ARCP.AEO_ATHR_RQST_NO
		   AND	  AAR.DEL_YN = 'N'                     			/** Suppression On !== 삭제여부 ==! */
		   AND	  AAR.PRCS_STTS_CD IN ('D28','D29','D30','D31') /** !== AEO공인신청 처리상태 심사 이후 건 조회 ==! */
		   AND	  ARCP.CO_POBS_CNT >= 2
		<if test='(srchRoleId != null and "AEO004".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
		   AND	  EXISTS  (
							SELECT	'X'
							  FROM	TB_POTI_EMP D
								  , VW_POTI_ROLE_UNFC E
								  , TB_AEOI_ATHR_AUDT_ORGN F
						     WHERE	D.DEL_YN ='N'
							   AND	D.PBSR_NO = #{srchLoginId}
							   AND	E.PBSR_NO = D.PBSR_NO
							   AND	E.ROLE_ID = #{srchRoleId}
							   AND	F.DEL_YN ='N'
							   AND	F.AUDT_ORGN_MGMT_CD = D.ORGN_MGMT_CD
							   AND  F.DRD_ORGN_MGMT_CD = ( SELECT H.UPR_ORGN_MGMT_CD FROM TB_POTI_ORGN H WHERE H.ORGN_MGMT_CD = AAR.ACAP_CSTM_CD )
						    )
		</if>
	    <if test="srchAeoAthrRqstNo != null and srchAeoAthrRqstNo != ''">
		   AND	  AAR.AEO_ATHR_RQST_NO = #{srchAeoAthrRqstNo}       	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
	    </if>
	    <if test="srchPlnAudtDeptCd != null and srchPlnAudtDeptCd != ''">
		   AND    (SELECT  AUDT_ORGN_MGMT_CD
				   FROM    TB_AEOI_ATHR_AUDT_ORGN
				   WHERE   DEL_YN = 'N'
				   AND     DRD_ORGN_MGMT_CD = (SELECT  UPR_ORGN_MGMT_CD
											   FROM    TB_POTI_ORGN
											   WHERE   DEL_YN = 'N'
											   AND     ORGN_MGMT_CD = AAR.ACAP_CSTM_CD)) = #{srchPlnAudtDeptCd}
	    </if>
	    <if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
	      AND	  TO_CHAR(AAR.RQST_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
	    </if>
		<if test='srchCoCd != null and !"".equals(srchCoCd)'>
	       AND 	  AAR.NIF = #{srchCoCd}
		</if>
	     ORDER BY AAR.LAST_CHG_DTTM DESC
		<include refid="pagination.footer"/>
	</select>

    <!--
    [Rechercher] liste des experts externes !== 외부전문관 목록을 조회한다. ==!
    -->
	<select id="selectAeoAthrApfmCoPobsList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoiRqstCoPobsVo">
		/* selectAeoAthrApfmCoPobsList */
		SELECT
				  A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
				, A.POBS_SRNO                  /** Numéro de série des lieux d’activité !== 사업장일련번호 ==! */
                , A.POBS_ADDR                  /** Adresse de local !== 사업장주소 ==! */
                , A.JRSD_CSTM_CD               /** Code de bureau compétent !== 관할세관코드 ==! */
                , (SELECT O.ORGN_NM FROM  TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = UPPER(A.JRSD_CSTM_CD)) AS JRSD_CSTM_NM               /** Code de bureau compétent !== 관할세관코드 ==! */
                , NVL( ( SELECT ORGN_CD
		                 FROM TB_POTI_ORGN
		                 WHERE DEL_YN = 'N'
		                 AND ORGN_MGMT_CD = A.PLN_AUDT_DEPT_CD
		               ) , ( SELECT
								( SELECT ORGN_CD FROM TB_POTI_ORGN
								  WHERE DEL_YN = 'N'
								  AND ORGN_MGMT_CD = B.AUDT_ORGN_MGMT_CD
								) AS AUDT_ORGN_MGMT_CD
							 FROM TB_AEOI_ATHR_AUDT_ORGN B
							 WHERE DRD_ORGN_MGMT_CD = A.JRSD_CSTM_CD
						    )
		          ) AS PLN_AUDT_DEPT_CD /** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
                , (SELECT O.ORGN_NM FROM  TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = UPPER(A.PLN_AUDT_DEPT_CD)) AS PLN_AUDT_DEPT_NM           /** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
                , A.MNDA_CN
		  FROM	  TB_AEOI_RQST_CO_POBS A
		 WHERE
		 		  A.DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
		   AND	  A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		 ORDER BY A.POBS_SRNO ASC
	</select>

    <!--
    [Demander l'audit en collaboration] Enregistrer !==[협의심사요청] 등록==!
    -->
	<update id="updateAeoAthrAudtCnfc"
		parameterType="alpass.ipt.aeo.com.vo.AeoiRqstCoPobsVo">
		/* updateAeoAthrAudtCnfc */
		UPDATE	  TB_AEOI_RQST_CO_POBS
		   SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
			    <if test='plnAudtDeptCd != null and !"".equals(plnAudtDeptCd)'>
				, PLN_AUDT_DEPT_CD = ( SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN WHERE DEL_YN = 'N' AND ORGN_CD = #{plnAudtDeptCd} )        	/** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
			    </if>
			    <if test='mndaCn != null and !"".equals(mndaCn)'>
				, MNDA_CN = #{mndaCn}							/** Delegation !== 위임내용 ==! */
			    </if>
		 WHERE
				  DEL_YN = 'N'									/** Suppression ON !== 삭제여부 ==! */
           AND	  AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}         	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
           AND	  POBS_SRNO = #{pobsSrno}                     	/** Numéro de série des lieux d’activité !== 사업장일련번호 ==! */
	</update>

</mapper>