<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Enregistrement du changement d'auditeur !== 심사자 배부변경 등록 Mapper ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.audt.mapper.AeoAthrAudtHnotMapper">

    <!--
    [Enregister le changement d'auditeur] Consulter la liste !== [심사자배부변경등록] 목록조회 ==!
    -->
	<select id="selectAeoAthrAudtHnotList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo">
		/* selectAeoAthrAudtHnotList */
	    <include refid="pagination.header"/>
		SELECT	T.*
		FROM  (
			SELECT
					  AAR.AEO_ATHR_RQST_NO			/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
					, AAR.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
					, FN_GET_CD_VDVAL_NM('AEO_0015', AAR.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Code De Statut De Traitement !== 처리상태코드 ==! */
					, AAR.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
					, FN_GET_CD_VDVAL_NM('AEO_0017', AAR.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
					, AAR.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
					, AAR.CO_NM                      /** Nom De L'Entreprise !== 업체명 ==! */
					, AAR.NIF                        /** NIF !== 납세번호 ==! */
		            , AAR.ACAP_CSTM_CD
					, TO_CHAR(AAR.RQST_DTTM, 'DD/MM/YYYY') AS rqstDttm                  /** Date Et Heure De La Demande !== 신청일시 ==! */
					, TO_CHAR(AAR.ACAP_DTTM, 'DD/MM/YYYY') AS acapDttm                  /** Date De Réception !== 접수일시 ==! */
					, ( SELECT ORGN_NM
						FROM   TB_POTI_ORGN
						WHERE  ORGN_MGMT_CD = (SELECT  AUDT_ORGN_MGMT_CD
											   FROM    TB_AEOI_ATHR_AUDT_ORGN
											   WHERE   DEL_YN = 'N'
											   AND     DRD_ORGN_MGMT_CD = (SELECT  UPR_ORGN_MGMT_CD
																		   FROM    TB_POTI_ORGN
																		   WHERE   DEL_YN = 'N'
																		   AND     ORGN_MGMT_CD = AAR.ACAP_CSTM_CD)) ) AS PLN_AUDT_DEPT_NM	/** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
			  FROM	  TB_AEOI_ATHR_RQST AAR
					, (
						SELECT
								  A.AEO_RQST_NO
								, COUNT(1) AS CNT
						  FROM	  TB_AEOI_ADOR A
						 WHERE	  A.DEL_YN = 'N'								/** Suppression On !== 삭제여부 ==! */
						   AND	  A.ADOR_TP_CD = #{srchAdorTpCd}				/** Code de classification d'auditeur !== 심사자구분코드 ==! */
						 GROUP BY A.AEO_RQST_NO
					   ) AD
			 WHERE
					  AAR.AEO_ATHR_RQST_NO = AD.AEO_RQST_NO(+)
			   AND	  AAR.DEL_YN = 'N'                     					/** Suppression On !== 삭제여부 ==! */
			   AND    AAR.PRCS_STTS_CD IN ('D28','D29','D30','D31')          /** !== AEO공인신청 처리상태 심사 이후 건 조회 ==! */
			   AND    EXISTS (
			                   SELECT 'X' 
                               FROM  ( SELECT J.AEO_ATHR_RQST_NO, COUNT(1)
                                       FROM   TB_AEOI_RQST_CO_POBS J
                                       WHERE  J.DEL_YN ='N'
                                       AND    J.AEO_ATHR_RQST_NO = AAR.AEO_ATHR_RQST_NO
                                       GROUP BY J.AEO_ATHR_RQST_NO
                                       HAVING COUNT(1) > 1
                                     )
			                 )
			<if test="srchAeoAthrRqstNo != null and srchAeoAthrRqstNo != ''">
			   AND	  AAR.AEO_ATHR_RQST_NO = #{srchAeoAthrRqstNo}       	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			</if>
			<if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
			  AND	  TO_CHAR(AAR.RQST_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
			</if>
			<if test='srchCoCd != null and !"".equals(srchCoCd)'>
			   AND 	  AAR.NIF = #{srchCoCd}
			</if>
			<if test='(srchRoleId != null and "AEO003".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
		       AND	  EXISTS  (
							 	SELECT	'X'
							   	FROM	TB_AEOI_ADOR G
							  	WHERE	G.DEL_YN = 'N'
								AND	    G.AEO_RQST_NO = AAR.AEO_ATHR_RQST_NO
								AND	    G.ADOR_ID = #{srchLoginId} /** 로그인 ID */
						   	   )
		 	</if>
			<if test='(srchRoleId != null and "AEO004".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
				<if test='("".equals(srchCnfcAudtYn) or !"Y".equals(srchCnfcAudtYn) )'>
					AND	  EXISTS  (
									SELECT	'X'
									FROM	TB_POTI_EMP D
									      , VW_POTI_ROLE_UNFC E
									      , TB_AEOI_ATHR_AUDT_ORGN F
									WHERE	D.DEL_YN = 'N'
									AND	    D.PBSR_NO = #{srchLoginId}
									AND	    E.PBSR_NO = D.PBSR_NO
									AND	    E.ROLE_ID = #{srchRoleId}
									AND	    F.DEL_YN = 'N'
									AND	    F.AUDT_ORGN_MGMT_CD = D.ORGN_MGMT_CD
									AND     F.DRD_ORGN_MGMT_CD = ( SELECT H.UPR_ORGN_MGMT_CD FROM TB_POTI_ORGN H WHERE H.ORGN_MGMT_CD = AAR.ACAP_CSTM_CD )
								   )
				</if>
				<if test='srchCnfcAudtYn != null and srchCnfcAudtYn.equals("Y")'>
					AND	  EXISTS  ( SELECT 'X'
									FROM	TB_POTI_EMP D
										  , VW_POTI_ROLE_UNFC E
										  , TB_AEOI_ATHR_AUDT_ORGN F
										  , TB_AEOI_RQST_CO_POBS G
									WHERE	D.DEL_YN = 'N'
									AND	    D.PBSR_NO = #{srchLoginId}
									AND	    E.PBSR_NO = D.PBSR_NO
									AND	    E.ROLE_ID = #{srchRoleId}
									AND	    F.DEL_YN = 'N'
									AND	    F.AUDT_ORGN_MGMT_CD = D.ORGN_MGMT_CD
									AND     G.DEL_YN = 'N'
									AND     G.JRSD_CSTM_CD = F.DRD_ORGN_MGMT_CD
									AND     G.AEO_ATHR_RQST_NO = AAR.AEO_ATHR_RQST_NO
									AND     G.MNDA_CN IS NOT NULL
								  )
				</if>
			</if>
			<if test="srchPlnAudtDeptCd != null and srchPlnAudtDeptCd != ''">
				AND    (SELECT  AUDT_ORGN_MGMT_CD
						FROM    TB_AEOI_ATHR_AUDT_ORGN
						WHERE   DEL_YN = 'N'
						AND     DRD_ORGN_MGMT_CD = (SELECT  UPR_ORGN_MGMT_CD
													FROM    TB_POTI_ORGN
													WHERE   DEL_YN = 'N'
													AND     ORGN_MGMT_CD = AAR.ACAP_CSTM_CD)) = #{srchPlnAudtDeptCd}
			</if>
			ORDER BY AAR.LAST_CHG_DTTM DESC
		) T
		WHERE	  T.ACAP_CSTM_CD IS NOT NULL

		<include refid="pagination.footer"/>
	</select>

    <!--
    [Enregister le changement d'auditeur] Consulter les détails !== [심사자배부변경등록] 상세조회 ==!
    -->
	<select id="selectAeoAthrApfmAdorList"
	    parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotVo"
	    resultType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotVo">
		/* selectAeoAthrApfmAdorList */
		SELECT
				  A.AEO_RQST_NO                /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
		        , A.ADOR_TP_CD                 /** Code de classification d'audit !== 심사구분코드 ==! */
				, A.ADOR_ID                    /** Id De L'Inspecteur !== 심사자ID ==! */
				, A.ADOR_NM                    /** Nom de l'inspecteur !== 심사자명 ==! */
		        , A.CSTM_NM                    /** Nom Du Bureau !== 세관명 ==! */
		        , (SELECT AA.ORGN_CD FROM TB_POTI_ORGN AA WHERE AA.ORGN_MGMT_CD = A.CSTM_CD ) AS CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
			    , A.SCTR_MGMT_CD               /** Code Du Secteur !== 섹터관리코드 ==! */
				, A.SCTR_CD_NM                 /** Nom Du Code De Secteur !== 섹터코드명 ==! */
				, (SELECT AA.ORGN_CD FROM TB_POTI_ORGN AA WHERE AA.ORGN_MGMT_CD = A.DEPT_CD ) AS DEPT_CD
		        , A.DEPT_NM
		FROM	  TB_AEOI_ADOR A
		WHERE
				  DEL_YN = 'N'                   /** Suppression ON !== 삭제여부 ==! */
		AND	  A.AEO_RQST_NO = #{aeoAthrRqstNo}   /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		ORDER BY DECODE(A.ADOR_TP_CD, 'ADO', 1, 'CAO', 2, 3), A.ADOR_ID ASC

	</select>
	
    <!--
    [Enregister le changement d'auditeur.Gérer les Chargés d'étude assistants] Consulter la liste !==[심사자배부변경등록.심사자관리] 목록조회 ==!
    -->
	<select id="selectAeoAthrAudtAdorMgmtList"
	    parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotVo"
	    resultType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotVo">
		/* selectAeoAthrAudtAdorMgmtList */
		SELECT
				  A.PBSR_NO AS ADOR_ID						/** Id De L'Inspecteur !== 심사자ID ==! */
                , A.EMP_NM AS ADOR_NM						/** Nom de l'inspecteur !== 심사자명 ==! */
                , C.ADOR_TP_CD						        /** Code de classification d'auditeur !== 심사자구분코드 ==! */
                , A.CSTM_MGMT_CD AS CSTM_CD             	/** Code Du Bureau !== 세관코드 ==! */
				, (SELECT O.ORGN_NM FROM  TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = A.CSTM_MGMT_CD) AS CSTM_NM                    /** Nom Du Bureau !== 세관명 ==! */
                , A.SCTR_MGMT_CD               			/** Code Du Secteur !== 섹터관리코드 ==! */
				, (SELECT O.ORGN_NM FROM  TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = A.SCTR_MGMT_CD) AS SCTR_CD_NM			/** Nom Du Code De Secteur !== 섹터코드명 ==! */
                , A.ORGN_MGMT_CD AS DEPT_CD				/** Code de service !== 부서코드 ==! */
				, (SELECT O.ORGN_NM FROM  TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS DEPT_NM				/** Nom Du Bureau !== 부서명 ==! */
		FROM
		  		  TB_POTI_EMP A
				, VW_POTI_ROLE_UNFC B
				, (
		            SELECT DISTINCT CSTM_CD, ADOR_TP_CD FROM TB_AEOI_ADOR WHERE DEL_YN ='N' AND AEO_RQST_NO = #{aeoAthrRqstNo}
				) C
				, TB_AEOI_ATHR_AUDT_ORGN D
		WHERE  A.DEL_YN = 'N'
		AND    B.PBSR_NO = A.PBSR_NO
		AND    B.ROLE_ID = 'AEO003'
		AND    D.DEL_YN = 'N'
		AND    D.AUDT_ORGN_MGMT_CD = C.CSTM_CD
		AND    A.CSTM_MGMT_CD = D.AUDT_ORGN_MGMT_CD
	    <choose>
	    	<when test="adorList.size != 0">
	       AND	  A.PBSR_NO NOT IN 
	       		<foreach collection="adorList" item="item" index="index" separator="," open="(" close=")">
	       			#{item}
	       		</foreach>
	    	</when>
	    </choose>
	    <if test="cstmCd != null and cstmCd != ''">
	       AND 	  A.CSTM_MGMT_CD = #{cstmCd}
	    </if>
	</select>

    <!--
    [Enregister le changement d'auditeur] Enregistrer !==[심사자배부변경등록] 등록==!
    -->
	<insert id="insertAeoAthrAudtHnot"
		parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotVo">
		/* insertAeoAthrAudtHnot */
        WITH UPSERT AS  (
			UPDATE	  TB_AEOI_ADOR
			   SET
					  LAST_CHPR_ID = #{lastChprId}          /** Id Du Modificateur Final !== 최종변경자ID ==! */            
					, LAST_CHG_DTTM = CURRENT_TIMESTAMP		/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
	                , ADOR_ID = #{adorId}                   /** Id De L'Inspecteur !== 심사자ID ==! */
	                , ADOR_NM = #{adorNm}                   /** Nom de l'inspecteur !== 심사자명 ==! */
	                , CSTM_CD = #{cstmCd}                   /** Code Du Bureau !== 세관코드 ==! */
	                , CSTM_NM = #{cstmNm}                   /** Nom Du Bureau !== 세관명 ==! */
	                , SCTR_MGMT_CD = #{sctrMgmtCd}          /** Code Du Secteur !== 섹터관리코드 ==! */
	                , SCTR_CD_NM = #{sctrCdNm}              /** Nom Du Code De Secteur !== 섹터코드명 ==! */
	                , DEPT_CD = #{deptCd}                   /** Code de service !== 부서코드 ==! */
	                , DEPT_NM = #{deptNm}                   /** Nom Du Bureau !== 부서명 ==! */
	                , HNOT_RSN_CD = #{hnotRsnCd}            /** Code motif de répartition !== 배부사유코드 ==! */
	                , HNOT_CN = #{hnotCn}                   /** Contenu de diffusion !== 배부내용 ==! */
					, DEL_YN = 'N'							/** Suppression On !== 삭제여부 ==! */
			 WHERE
		          	  AEO_RQST_NO = #{aeoRqstNo}   			/** Numéro de demande du statut OEA !== AEO신청번호 ==! */
               AND	  ADOR_TP_CD = #{adorTpCd}				/** Code de classification d'auditeur !== 심사자구분코드 ==! */
               AND 	  ADOR_ID = #{adorId}                   /** Id De L'Inspecteur !== 심사자ID ==! */
		     RETURNING *
        )
		INSERT INTO TB_AEOI_ADOR (
                  AEO_RQST_NO             	   /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
                , ADOR_TP_CD                   /** Code de classification d'audit !== 심사구분코드 ==! */
                , ADOR_ID                      /** Id De L'Inspecteur !== 심사자ID ==! */
                , ADOR_NM                      /** Nom de l'inspecteur !== 심사자명 ==! */
                , CSTM_CD                	   /** Code Du Bureau !== 세관코드 ==! */
                , CSTM_NM                      /** Nom Du Bureau !== 세관명 ==! */
                , SCTR_MGMT_CD                 /** Code Du Secteur !== 섹터관리코드 ==! */
                , SCTR_CD_NM                   /** Nom Du Code De Secteur !== 섹터코드명 ==! */
                , DEPT_CD                      /** Code de service !== 부서코드 ==! */
                , DEPT_NM                      /** Nom Du Bureau !== 부서명 ==! */
                , HNOT_RSN_CD                  /** Code motif de répartition !== 배부사유코드 ==! */
                , HNOT_CN                      /** Contenu de diffusion !== 배부내용 ==! */
                , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
                , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		SELECT
                  #{aeoRqstNo}                 /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
                , #{adorTpCd}                  /** Code de classification d'audit !== 심사구분코드 ==! */
                , #{adorId}                    /** Id De L'Inspecteur !== 심사자ID ==! */
                , #{adorNm}                    /** Nom de l'inspecteur !== 심사자명 ==! */
                , #{cstmCd}                    /** Code Du Bureau !== 세관코드 ==! */
                , #{cstmNm}                    /** Nom Du Bureau !== 세관명 ==! */
                , #{sctrMgmtCd}                /** Code De Secteur !== 섹터코드 ==! */
                , #{sctrCdNm}                  /** Nom Du Code De Secteur !== 섹터코드명 ==! */
                , #{deptCd}                    /** Code de service !== 부서코드 ==! */
                , #{deptNm}                    /** Nom Du Bureau !== 부서명 ==! */
                , #{hnotRsnCd}                 /** Code motif de répartition !== 배부사유코드 ==! */
                , #{hnotCn}                    /** Contenu de diffusion !== 배부내용 ==! */
                , 'N'                          /** Suppression On !== 삭제여부 ==! */
                , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , CURRENT_TIMESTAMP            /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , CURRENT_TIMESTAMP            /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */    
		 WHERE	NOT EXISTS (SELECT * FROM UPSERT)
	</insert>

    <!--
    [Enregister le changement d'auditeur] Supprimer !==[심사자배부변경등록] 식제==!
    -->
	<update id="deleteAeoAthrAudtHnot"
		parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotVo">
		/* deleteAeoAthrAudtHnot */
		UPDATE	  TB_AEOI_ADOR
		   SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
				, DEL_YN = 'Y'									/** Suppression On !== 삭제여부 ==! */ 
		 WHERE
				  DEL_YN = 'N'
           AND	  AEO_RQST_NO = #{aeoRqstNo}         			/** Numéro de demande du statut OEA !== AEO신청번호 ==! */
           AND	  ADOR_ID = #{bfchAdorId}                   	/** Id De L'Inspecteur !== 심사자ID ==! */
	</update>

    <!--
    [Historique des modifications de la distribution des examinateurs] Consulter la liste !== [심사자 배부변경 이력] 목록조회 ==!
    -->
	<select id="selectAeoAthrAudtHnotHistList"
	    parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotVo"
	    resultType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotHistVo">
		/* selectAeoAthrAudtHnotHistList */
		SELECT
				  A.AEO_RQST_NO                /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
				, A.ADOR_TP_CD 				   /** Code de classification d'audit !== 심사구분코드 ==! */
				, A.HIST_SRNO                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
				, A.BFCH_ADOR_ID               /** ID de l'examinateur avant le changement !== 변경전심사자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.BFCH_ADOR_ID) AS BFCH_ADOR_NM
				, A.AFCH_ADOR_ID               /** ID de l'examinateur après modification !== 변경후심사자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.AFCH_ADOR_ID) AS AFCH_ADOR_NM
				, A.HNOT_RSN_CD                /** Code motif de répartition !== 배부사유코드 ==! */
				, FN_GET_CD_VDVAL_NM('AEO_0012', A.HNOT_RSN_CD, #{langCd}) AS hnotRsnNm
				, A.HNOT_CN                    /** Contenu de diffusion !== 배부내용 ==! */
				, A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
				, (SELECT EMP_NM||'('||A.FRST_REGST_ID||')' FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS frstRgsrDttm             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS lastChgDttm              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM	  TB_AEOI_ADOR_HNOT_CHG_HIST A
		 WHERE	  A.AEO_RQST_NO = #{aeoRqstNo}	/** Numéro de demande du statut OEA !== AEO신청번호 ==! */
		 ORDER BY A.HIST_SRNO DESC
	</select>

    <!--
    [Historique des modifications de la distribution des examinateurs] Enregistrer !== [심사자 배부변경 이력] 등록 ==!
    -->
	<insert id="insertAeoAthrAudtHnotHist"
		parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtHnotHistVo">
		/* insertAeoAthrAudtHnotHist */
		<selectKey keyProperty="histSrno" order="BEFORE" resultType="java.math.BigDecimal">
			SELECT LPAD(NVL(MAX(HIST_SRNO),0)+1, 5, '0') FROM TB_AEOI_ADOR_HNOT_CHG_HIST WHERE AEO_RQST_NO = #{aeoRqstNo} AND ADOR_TP_CD = #{adorTpCd}
		</selectKey>
		
		INSERT INTO TB_AEOI_ADOR_HNOT_CHG_HIST
		(
			  AEO_RQST_NO             	   /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
		    , ADOR_TP_CD                   /** Code de classification d'audit !== 심사구분코드 ==! */
			, HIST_SRNO                    /** N° de sequence de l'historique !== 이력일련번호 ==! */
			, BFCH_ADOR_ID                 /** ID de l'examinateur avant le changement !== 변경전심사자ID ==! */
			, AFCH_ADOR_ID                 /** ID de l'examinateur après modification !== 변경후심사자ID ==! */
			, HNOT_RSN_CD                  /** Code motif de répartition !== 배부사유코드 ==! */
			, HNOT_CN                      /** Contenu de diffusion !== 배부내용 ==! */
			, FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		VALUES
		(
			  #{aeoRqstNo}             	   /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
			, #{adorTpCd}                  /** Code de classification d'audit !== 심사구분코드 ==! */
			, #{histSrno}                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
			, #{bfchAdorId}                /** ID de l'examinateur avant le changement !== 변경전심사자ID ==! */
			, #{afchAdorId}                /** ID de l'examinateur après modification !== 변경후심사자ID ==! */
			, #{hnotRsnCd}                 /** Code motif de répartition !== 배부사유코드 ==! */
			, #{hnotCn}                    /** Contenu de diffusion !== 배부내용 ==! */
			, #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, CURRENT_TIMESTAMP            /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, CURRENT_TIMESTAMP            /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
	</insert>

</mapper>