<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.col.pcfe.mapper.ColOthsPcfeCdMgmtMapper">

    <!--
    Voir la liste des Gérer les codes des autres frais exigibles !== 기타수수료코드관리 조회 ==!
    -->
    <select id="selectColOthsPcfeCdMgmt" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo" resultType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo">
        /* ColOthsPcfeCdMgmt_selectColOthsPcfeCdMgmt */
            SELECT
                  A.OTHS_PCFE_CD               /** Code des autres frais exigibles !== 기타수수료코드 ==! */
                , A.OTHS_PCFE_CD_NM            /** Libellé du code des autres frais exigibles !== 기타수수료코드명 ==! */
                , A.OTHS_PCFE_CD_DESC          /** Description du code des autres frais exigibles !== 기타수수료코드설명 ==! */
                , A.OTHS_PCFE_CD_CN            /** Code des autres perceptions !== 기타수수료코드내용 ==! */
                , A.OTHS_PCFE_AMT              /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
                , A.OTHS_PCFE_TAX_CD           /** Code de taxe concernant les autres frais exigibles !== 기타수수료세금코드 ==! */
                , A.BSOP_TP_CD                 /** Code de type de l'opération !== 업무구분코드 ==! */
                , A.USE_YN                     /** Utilisé ON !== 사용여부 ==! */
                , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
            FROM   TB_COLI_OTHS_PCFE_BSS_CD A
           WHERE  A.DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
             AND  A.OTHS_PCFE_CD = TRIM(#{othsPcfeCd})                  /** Code des autres frais exigibles !== 기타수수료코드 ==! */
    </select>
    
    <!--
    Voir la liste des Gérer les codes des autres frais exigibles !== 기타수수료코드관리 목록 조회 ==!
    -->
    <select id="selectColOthsPcfeCdMgmtList" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo" resultType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo">
        /* ColOthsPcfeCdMgmt_selectColOthsPcfeCdMgmtList */
        <include refid="pagination.header" />
            SELECT
                  A.OTHS_PCFE_CD               /** Code des autres frais exigibles !== 기타수수료코드 ==! */
                , A.OTHS_PCFE_CD_NM            /** Libellé du code des autres frais exigibles !== 기타수수료코드명 ==! */
                , A.OTHS_PCFE_CD_DESC          /** Description du code des autres frais exigibles !== 기타수수료코드설명 ==! */
                , A.OTHS_PCFE_CD_CN            /** Code des autres perceptions !== 기타수수료코드내용 ==! */
                , A.OTHS_PCFE_AMT              /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
                , A.OTHS_PCFE_TAX_CD           /** Code de taxe concernant les autres frais exigibles !== 기타수수료세금코드 ==! */
                , A.BSOP_TP_CD                 /** Code de type de l'opération !== 업무구분코드 ==! */
                , A.USE_YN                     /** Utilisé ON !== 사용여부 ==! */
                , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
            FROM   TB_COLI_OTHS_PCFE_BSS_CD A
           WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
           <if test='othsPcfeCd != null and othsPcfeCd !=""'>
             AND  A.OTHS_PCFE_CD LIKE TRIM(#{othsPcfeCd}) || '%'                /** Code des autres frais exigibles !== 기타수수료코드 ==! */
           </if>             
           <if test='bsopTpCd != null and bsopTpCd !=""'>
             AND  A.BSOP_TP_CD = #{bsopTpCd}                    /** Code de type de l'opération !== 업무구분코드 ==! */
           </if>             
           <if test='useYn != null and useYn !=""'>
             AND  A.USE_YN = #{useYn}                           /** Utilisé ON !== 사용여부 ==! */
           </if>
        <include refid="pagination.footer" />
    </select>

    <!--
    Vérification des clés redondantes !==중복코드검사용==!
    -->
    <select id="selectColOthsPcfeCdMgmtCnt" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo" resultType="int">
        /* ColOthsPcfeCdMgmt_selectColOthsPcfeCdMgmtCnt */
        SELECT
            COUNT(*) CNT
        FROM   TB_COLI_OTHS_PCFE_BSS_CD A
       WHERE  A.OTHS_PCFE_CD = TRIM(#{othsPcfeCd})           /** Code des autres frais exigibles !== 기타수수료코드 ==! */
    </select>  


    <!--
    Enregistrement de la Gérer les codes des autres frais exigibles !== 기타수수료코드관리 등록 ==!
    -->
    <insert id="insertColOthsPcfeCdMgmt" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo">
        /* ColOthsPcfeCdMgmt_insertColOthsPcfeCdMgmt */
          INSERT INTO TB_COLI_OTHS_PCFE_BSS_CD
                (
                  OTHS_PCFE_CD                 /** Code des autres frais exigibles !== 기타수수료코드 ==! */
                , OTHS_PCFE_CD_NM              /** Libellé du code des autres frais exigibles !== 기타수수료코드명 ==! */
                , OTHS_PCFE_CD_DESC            /** Description du code des autres frais exigibles !== 기타수수료코드설명 ==! */
                , OTHS_PCFE_CD_CN              /** Code des autres perceptions !== 기타수수료코드내용 ==! */
                , OTHS_PCFE_AMT                /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
                , OTHS_PCFE_TAX_CD             /** Code de taxe concernant les autres frais exigibles !== 기타수수료세금코드 ==! */
                , BSOP_TP_CD                   /** Code de type de l'opération !== 업무구분코드 ==! */
                , USE_YN                       /** Utilisé ON !== 사용여부 ==! */
                , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
                , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
                )
                VALUES
                (
                  TRIM(#{othsPcfeCd})          /** Code des autres frais exigibles !== 기타수수료코드 ==! */
                , #{othsPcfeCdNm}              /** Libellé du code des autres frais exigibles !== 기타수수료코드명 ==! */
                , #{othsPcfeCdDesc}            /** Description du code des autres frais exigibles !== 기타수수료코드설명 ==! */
                , #{othsPcfeCdCn}              /** Code des autres perceptions !== 기타수수료코드내용 ==! */
                , #{othsPcfeAmt}               /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
                , #{othsPcfeTaxCd}             /** Code de taxe concernant les autres frais exigibles !== 기타수수료세금코드 ==! */
                , #{bsopTpCd}                  /** Code de type de l'opération !== 업무구분코드 ==! */
                , #{useYn}                     /** Utilisé ON !== 사용여부 ==! */
                , 'N'                          /** Suppression ON !== 삭제여부 ==! */
                , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
                , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
                , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
                , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
                )
    </insert>




    <!--
     고지유형별회계계정관리 등록 처리 !==고지유형별회계계정관리 등록 처리==!
    -->
    <insert id="insertColiNtfcPtAcctMgmt" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo">
        /* ColOthsPcfeCdMgmt_insertColiNtfcPtAcctMgmt */
        INSERT INTO TB_COLI_NTFC_PT_ACCT_MGMT(
                                               NTFC_PT_RSN_CD        /**   !== 고지유형사유코드 ==! */
                                             , NTFC_PT_CD            /**   !== 고지유형코드 ==! */
                                             , DTL_SRNO              /**   !== 상세일련번호 ==! */
                                             , SNB_TP_CD        /**   !== 보조기입장구분코드 ==! */
                                             , ACCT_TP_CD       /**   !== 계정구분코드 ==! */
                                             , APLY_STRT_DT     /**   !== 적용시작일자 ==! */
                                             , SORT_ORDR        /**   !== 정렬순서 ==! */
                                             , ACCT_CD               /**   !== 계정코드 ==! */
                                             , PART_DIVS_BASE_DESC   /**   !== 부분분배기준설명 ==! */
                                             , DEL_YN                /**   !== 삭제여부 ==! */
                                             , FRST_REGST_ID         /**   !== 최초등록자ID ==! */
                                             , FRST_RGSR_DTTM        /**   !== 최초등록일시 ==! */
                                             , LAST_CHPR_ID          /**   !== 최종변경자ID ==! */
                                             , LAST_CHG_DTTM         /**   !== 최종변경일시 ==! */
        ) VALUES (
                   #{ntfcPtRsnCd}
                 , #{ntfcPtCd}
                 , (SELECT NVL(MAX (DTL_SRNO), 0) + 1 FROM TB_COLI_NTFC_PT_ACCT_MGMT WHERE NTFC_PT_RSN_CD = #{ntfcPtRsnCd} and NTFC_PT_CD = #{ntfcPtCd})
                 , #{snbTpCd}
                 , #{acctTpCd}
                 , TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
                 , #{sortOrdr}
                 , #{acctCd}
                 , #{partDivsBaseDesc}
                 , 'N'
                 , #{frstRegstId}
                 , SYSTIMESTAMP
                 , #{lastChprId}
                 , SYSTIMESTAMP
                 )
    </insert>

    <!--
     // Supprimer toute la liste de la gestion des comptes comptables par type d'avis de paiement !==고지유형별회계계정관리 리스트 전부삭제==!
    -->
    <update id="deleteColiNtfcPtAcctMgmt" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo">
        /* ColOthsPcfeCdMgmt_deleteColiNtfcPtAcctMgmt */
        UPDATE  TB_COLI_NTFC_PT_ACCT_MGMT
        SET     DEL_YN = 'Y'
        WHERE   NTFC_PT_RSN_CD = #{ntfcPtRsnCd}
    </update>

    <!--
    Modifier la Gérer les codes des autres frais exigibles !== 기타수수료코드관리 수정 ==!
    -->
    <update id="updateColOthsPcfeCdMgmt" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo">
        /* ColOthsPcfeCdMgmt_updateColOthsPcfeCdMgmt */
        UPDATE  TB_COLI_OTHS_PCFE_BSS_CD SET 
        <trim prefixOverrides="," >
                  OTHS_PCFE_CD_NM = #{othsPcfeCdNm}           /** Libellé du code des autres frais exigibles !== 기타수수료코드명 ==! */
                , OTHS_PCFE_CD_DESC = #{othsPcfeCdDesc}       /** Description du code des autres frais exigibles !== 기타수수료코드설명 ==! */
                , OTHS_PCFE_CD_CN = #{othsPcfeCdCn}           /** Code des autres perceptions !== 기타수수료코드내용 ==! */
                , OTHS_PCFE_AMT = #{othsPcfeAmt}              /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
                , OTHS_PCFE_TAX_CD = #{othsPcfeTaxCd}         /** Code de taxe concernant les autres frais exigibles !== 기타수수료세금코드 ==! */
                , BSOP_TP_CD = #{bsopTpCd}                    /** Code de type de l'opération !== 업무구분코드 ==! */
                , USE_YN = #{useYn}                           /** Utilisé ON !== 사용여부 ==! */
                , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        </trim>
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  OTHS_PCFE_CD = TRIM(#{othsPcfeCd})                /** Code des autres frais exigibles !== 기타수수료코드 ==! */
    </update>


    <!--
    Supprimer la Gérer les codes des autres frais exigibles !== 기타수수료코드관리 삭제 ==!
    -->
    <update id="deleteColOthsPcfeCdMgmt" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo">
        /* ColOthsPcfeCdMgmt_deleteColOthsPcfeCdMgmt */
        UPDATE  TB_COLI_OTHS_PCFE_BSS_CD SET 
                DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
             ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
             ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
         WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
           AND  OTHS_PCFE_CD = TRIM(#{othsPcfeCd})            /** Code des autres frais exigibles !== 기타수수료코드 ==! */
    </update>


    <!--
    Gestion des comptes comptables par type d'avis de paiement !==고지유형별회계계정관리 조회==!
    -->
    <select id="selectColiNtfcPtAcctMgmtDtlList" parameterType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo" resultType="alpass.ipt.col.pcfe.vo.ColOthsPcfeCdMgmtVo">
        /* ColOthsPcfeCdMgmt_selectColiNtfcPtAcctMgmtDtlList */
        SELECT    'false' AS CHK_SEL
             , A.NTFC_PT_RSN_CD
             , A.NTFC_PT_CD
             , A.DTL_SRNO
             , A.ACCT_CD
             , B.ACCT_CD_NM
             , B.ACCT_DTL_CD
             , B.ACCT_DTL_CD_NM
             , B.ACCT_DTL_LWPR_CD
             , B.ACCT_DTL_LWPR_CD_NM
             , A.SNB_TP_CD        /**   !== 보조기입장구분코드 ==! */
             , A.ACCT_TP_CD       /**   !== 계정구분코드 ==! */
             , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY')                AS APLY_STRT_DT             /** Date De Début De L'Application !== 적용시작일자 ==! */
             , A.SORT_ORDR        /**   !== 정렬순서 ==! */
             , A.PART_DIVS_BASE_DESC
             , A.DEL_YN
             , A.FRST_REGST_ID
             , A.FRST_RGSR_DTTM
             , A.LAST_CHPR_ID
             , A.LAST_CHG_DTTM
        FROM   TB_COLI_NTFC_PT_ACCT_MGMT A
             , TB_COLI_CLTD_ACCT_CD B
        WHERE A.DEL_YN = 'N'
          AND B.DEL_YN = 'N'
          AND A.NTFC_PT_RSN_CD = #{ntfcPtRsnCd}
          AND A.NTFC_PT_CD = #{ntfcPtCd}
          AND A.SNB_TP_CD = B.SNB_TP_CD
          AND A.ACCT_TP_CD = B.ACCT_TP_CD
          AND A.ACCT_CD = B.ACCT_CD
          AND A.APLY_STRT_DT = B.APLY_STRT_DT
          AND A.SORT_ORDR = B.SORT_ORDR
    </select>



</mapper>