<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.load.mapper.CarCagLoadRqstMapper">


    <update id="updateCariLoadBlGcntFromLdunRprt"
            parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtVo" >
		/* CarCagLoadRqstMapper.updateCariLoadBlGcntFromLdunRprt */
		UPDATE TB_CARI_LOAD_BL AS T SET
               T.del_yn         = 'N'                           /** Suppression ON !== 삭제여부 ==! */
             , T.last_chpr_id   = #{lastChprId}                 /** ID du modificateur final !== 최종변경자ID ==! */
             , T.last_chg_dttm  = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
             , T.pckg_gcnt      = S.pckg_gcnt                   /** Nombre De Colis !== 포장개수 ==! */
             , T.ttwg           = S.ttwg                        /** Poids Brut !== 총중량 ==! */
             , T.lir_vol        = S.lir_vol                     /** Poids Brut !== 총중량 ==! */
          FROM ( SELECT LE.slng_rgsr_no                AS slng_rgsr_no        /** N° D'Enregistrement De Voyage !== 운항등록번호 ==! */
                      , LE.load_rqst_no                AS load_rqst_no        /** N° De Demande De Chargement !== 적재신청번호 ==! */
                      , LE.bl_no                       AS bl_no               /** N° De Bl !== BL번호 ==! */
                      , B.pckg_gcnt                    AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                      , B.ttwg                         AS ttwg                /** Poids Brut !== 총중량 ==! */
                      , B.lir_vol                      AS lir_vol             /** Volume (Litre) !== 리터용적 ==! */
                   FROM TB_CARI_CAG_DCSH_BL B
                  INNER JOIN ( SELECT TTR.trnh_rqst_no                 AS trnh_rqst_no        /** N° De Demande De Transbordement !== 환적신청번호 ==! */
                                    , TTR.mrn                          AS mrn                 /** Mrn !== MRN ==! */
                                    , TTR.bl_no                        AS bl_no               /** N° De Bl !== BL번호 ==! */
                                 FROM TB_CARI_TRNH TTR
                                INNER JOIN TB_CARI_CAG_PRCS_BRKD TS
                                   ON TTR.cag_rqst_tp_cd = TS.cag_rqst_tp_cd
                                  AND TTR.trnh_rqst_no   = TS.cag_rqst_no
                                WHERE 1=1
                                  AND TS.prcs_stts_cd = 'D08'
                        ) TR
                     ON B.mrn = TR.mrn
                    AND B.bl_no = TR.bl_no
                  INNER JOIN TB_CARI_LOAD_BL_EXFM LE
                     ON TR.trnh_rqst_no = LE.exp_ffmn_no
                  WHERE 1=1
                    AND B.bl_pt_cd = 'M'
                    AND LE.exp_ffmn_tp_cd = 'TM'
                    AND EXISTS ( SELECT 1
                                   FROM TB_CARI_LDUN_RPRT_BL LB
                                  INNER JOIN TB_CARI_LDUN_RPRT LM
                                     ON LB.ldun_rprt_no = LM.ldun_rprt_no
                                  WHERE 1=1
                                    AND LM.ldun_rprt_no = #{ldunRprtNo}
                                    AND B.mrn = LM.mrn
                                    AND B.bl_no = LB.bl_no
                                    AND LB.apre_yn_cd = 'O'
                                    AND ( ( LB.dscr_tp_cd != 'DPA' AND
                                            LB.divd_ldun_last_yn = 'N'
                                          ) OR
                                          ( LB.dscr_tp_cd = 'DPA' AND
                                            LB.divd_ldun_last_yn = 'Y'
                                                )
                                              )
                                    AND NOT EXISTS( SELECT 1
                                                      FROM TB_CARI_LDUN_RPRT_BL LLB
                                                     WHERE LB.ldun_rprt_no = LLB.ldun_rprt_no
                                                       AND LB.bl_no = LLB.bl_no
                                                       AND NVL(LLB.apre_yn_cd, 'N') != 'O'
                                              )
                                  UNION
                                 SELECT 1
                                   FROM TB_CARI_LDUN_RPRT_BL LC
                                  INNER JOIN TB_CARI_LDUN_RPRT LM
                                     ON LC.ldun_rprt_no = LM.ldun_rprt_no
                                  WHERE 1=1
                                    AND LM.ldun_rprt_no = #{ldunRprtNo}
                                    AND B.mrn = LM.mrn
                                    AND B.bl_no = LC.bl_no
                                    AND NOT EXISTS( SELECT 1
                                                      FROM TB_CARI_LDUN_RPRT_BL LLC
                                                     WHERE LC.ldun_rprt_no = LLC.LDUN_RPRT_NO
                                                       AND LC.bl_no = LLC.bl_no
                                                       AND NVL(LLC.apre_yn_cd, 'N') != 'O'
                                              )
                           )
               ) AS S
         WHERE 1=1
           AND T.slng_rgsr_no = S.slng_rgsr_no
           AND T.load_rqst_no = S.load_rqst_no
           AND T.bl_no = S.bl_no
	</update>

    <update id="updateCareLoadBlGcntFromLdunRprt"
            parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtVo" >
		/* CarCagLoadRqstMapper.updateCareLoadBlGcntFromLdunRprt */
		UPDATE alpassext.TB_CARE_LOAD_BL AS T SET
               T.del_yn         = 'N'                           /** Suppression ON !== 삭제여부 ==! */
             , T.last_chpr_id   = #{lastChprId}                 /** ID du modificateur final !== 최종변경자ID ==! */
             , T.last_chg_dttm  = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
             , T.pckg_gcnt      = S.pckg_gcnt                   /** Nombre De Colis !== 포장개수 ==! */
             , T.ttwg           = S.ttwg                        /** Poids Brut !== 총중량 ==! */
             , T.lir_vol        = S.lir_vol                     /** Poids Brut !== 총중량 ==! */
          FROM ( SELECT LE.slng_rgsr_no                AS slng_rgsr_no        /** N° D'Enregistrement De Voyage !== 운항등록번호 ==! */
                      , LE.load_rqst_no                AS load_rqst_no        /** N° De Demande De Chargement !== 적재신청번호 ==! */
                      , LE.bl_no                       AS bl_no               /** N° De Bl !== BL번호 ==! */
                      , LE.load_rqst_mgmt_no           AS load_rqst_mgmt_no   /** N° De Gestion De Demande De Chargement !== 적재신청관리번호 ==! */
                      , B.pckg_gcnt                    AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                      , B.ttwg                         AS ttwg                /** Poids Brut !== 총중량 ==! */
                      , B.lir_vol                      AS lir_vol             /** Volume (Litre) !== 리터용적 ==! */
                   FROM TB_CARI_CAG_DCSH_BL B
                  INNER JOIN ( SELECT TTR.trnh_rqst_no                 AS trnh_rqst_no        /** N° De Demande De Transbordement !== 환적신청번호 ==! */
                                    , TTR.mrn                          AS mrn                 /** Mrn !== MRN ==! */
                                    , TTR.bl_no                        AS bl_no               /** N° De Bl !== BL번호 ==! */
                                 FROM TB_CARI_TRNH TTR
                                INNER JOIN TB_CARI_CAG_PRCS_BRKD TS
                                   ON TTR.cag_rqst_tp_cd = TS.cag_rqst_tp_cd
                                  AND TTR.trnh_rqst_no   = TS.cag_rqst_no
                                WHERE 1=1
                                  AND TS.prcs_stts_cd = 'D08'
                        ) TR
                     ON B.mrn = TR.mrn
                    AND B.bl_no = TR.bl_no
                  INNER JOIN ( SELECT LLE.slng_rgsr_no                AS slng_rgsr_no        /** N° D'Enregistrement De Voyage !== 운항등록번호 ==! */
                                    , LLE.load_rqst_no                AS load_rqst_no        /** N° De Demande De Chargement !== 적재신청번호 ==! */
                                    , LM.load_rqst_mgmt_no            AS load_rqst_mgmt_no   /** N° De Gestion De Demande De Chargement !== 적재신청관리번호 ==! */
                                    , LLE.bl_no                       AS bl_no               /** N° De Bl !== BL번호 ==! */
                                    , LLE.exp_ffmn_no                 AS exp_ffmn_no         /** N° D'Apurement D'Exportation !== 수출이행번호 ==! */
                                    , LLE.exp_ffmn_tp_cd              AS exp_ffmn_tp_cd      /** Type D'Apurement D'Exportation !== 수출이행구분코드 ==! */
                                 FROM TB_CARI_LOAD_BL_EXFM LLE
                                inner join TB_CARI_LOAD LM
                                   on LLE.slng_rgsr_no = LM.slng_rgsr_no
                                  AND LLE.load_rqst_no = LM.load_rqst_no
                        ) LE
                     ON TR.trnh_rqst_no = LE.exp_ffmn_no
                  WHERE 1=1
                    AND B.bl_pt_cd = 'M'
                    AND LE.exp_ffmn_tp_cd = 'TM'
                    AND EXISTS ( SELECT 1
                                   FROM TB_CARI_LDUN_RPRT_BL LB
                                  INNER JOIN TB_CARI_LDUN_RPRT LM
                                     ON LB.ldun_rprt_no = LM.ldun_rprt_no
                                  WHERE 1=1
                                    AND LM.ldun_rprt_no = #{ldunRprtNo}
                                    AND B.mrn = LM.mrn
                                    AND B.bl_no = LB.bl_no
                                    AND LB.apre_yn_cd = 'O'
                                    AND ( ( LB.dscr_tp_cd != 'DPA' AND
                                            LB.divd_ldun_last_yn = 'N'
                                          ) OR
                                          ( LB.dscr_tp_cd = 'DPA' AND
                                            LB.divd_ldun_last_yn = 'Y'
                                                )
                                              )
                                    AND NOT EXISTS( SELECT 1
                                                      FROM TB_CARI_LDUN_RPRT_BL LLB
                                                     WHERE LB.ldun_rprt_no = LLB.ldun_rprt_no
                                                       AND LB.bl_no = LLB.bl_no
                                                       AND NVL(LLB.apre_yn_cd, 'N') != 'O'
                                              )
                                  UNION
                                 SELECT 1
                                   FROM TB_CARI_LDUN_RPRT_BL LC
                                  INNER JOIN TB_CARI_LDUN_RPRT LM
                                     ON LC.ldun_rprt_no = LM.ldun_rprt_no
                                  WHERE 1=1
                                    AND LM.ldun_rprt_no = #{ldunRprtNo}
                                    AND B.mrn = LM.mrn
                                    AND B.bl_no = LC.bl_no
                                    AND NOT EXISTS( SELECT 1
                                                      FROM TB_CARI_LDUN_RPRT_BL LLC
                                                     WHERE LC.ldun_rprt_no = LLC.LDUN_RPRT_NO
                                                       AND LC.bl_no = LLC.bl_no
                                                       AND NVL(LLC.apre_yn_cd, 'N') != 'O'
                                              )
                           )
               ) AS S
         WHERE 1=1
           AND T.load_rqst_mgmt_no = S.load_rqst_mgmt_no
           AND T.bl_no = S.bl_no
	</update>

    <update id="updateCariLoadBlCntrGcntFromLdunRprt"
            parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtVo" >
		/* CarCagLoadRqstMapper.updateCariLoadBlCntrGcntFromLdunRprt */
		UPDATE TB_CARI_LOAD_BL_CNTR AS T SET
               T.del_yn         = 'N'                   /** Suppression ON !== 삭제여부 ==! */
             , T.last_chpr_id   = #{lastChprId}       /** ID du modificateur final !== 최종변경자ID ==! */
             , T.last_chg_dttm  = SYSTIMESTAMP          /** Date et heure de modification finale !== 최종변경일시 ==! */
             , T.PCKG_GCNT      = S.PCKG_GCNT           /** Nombre de colis !===포장개수==! */
             , T.PCKG_UT_CD     = S.PCKG_UT_CD          /** Code de l'unité de colis !==포장단위코드==! */
             , T.TTWG           = S.TTWG                /** Poids brut !===총중량==! */
             , T.SEAL_NO1       = S.SEAL_NO1            /** N°1 de scellé !==봉인번호1==! */
             , T.SEAL_NO2       = S.SEAL_NO2            /** N°2 de scellé !==봉인번호2==! */
             , T.SEAL_NO3       = S.SEAL_NO3            /** N°3 de scellé !==봉인번호3==! */
          FROM ( SELECT LE.slng_rgsr_no                 AS slng_rgsr_no        /** N° D'Enregistrement De Voyage !== 운항등록번호 ==! */
                      , LE.load_rqst_no                 AS load_rqst_no        /** N° De Demande De Chargement !== 적재신청번호 ==! */
                      , LE.bl_no                        AS bl_no               /** N° De Bl !== BL번호 ==! */
                      , C.cntr_no                       AS cntr_no             /** N° De Conteneur !== 컨테이너번호 ==! */
                      , C.pckg_gcnt                     AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                      , C.pckg_ut_cd                    AS pckg_ut_cd          /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                      , C.ttwg                          AS ttwg                /** Poids Brut !== 총중량 ==! */
                      , C.seal_no1                      AS seal_no1            /** N° De Scellé1 !== 봉인번호1 ==! */
                      , C.seal_no2                      AS seal_no2            /** N° De Scellé2 !== 봉인번호2 ==! */
                      , C.seal_no3                      AS seal_no3            /** N° De Scellé3 !== 봉인번호3 ==! */
                   FROM TB_CARI_CAG_DCSH_BL_CNTR C
                  INNER JOIN TB_CARI_CAG_DCSH_BL B
                     ON C.mrn = B.mrn
                    AND C.cag_mgmt_no = B.cag_mgmt_no
                  INNER JOIN ( SELECT TTR.trnh_rqst_no                  AS trnh_rqst_no        /** N° De Demande De Transbordement !== 환적신청번호 ==! */
                                    , TTR.mrn                           AS mrn                 /** Mrn !== MRN ==! */
                                    , TTR.bl_no                         AS bl_no               /** N° De Bl !== BL번호 ==! */
                                 FROM TB_CARI_TRNH TTR
                                    , TB_CARI_CAG_PRCS_BRKD TS
                                WHERE TTR.cag_rqst_tp_cd = TS.cag_rqst_tp_cd
                                  AND TTR.trnh_rqst_no = TS.cag_rqst_no
                                  AND TS.prcs_stts_cd = 'D08'
                        ) TR
                     ON B.mrn = TR.mrn
                    AND B.bl_no = TR.bl_no
                  INNER JOIN TB_CARI_LOAD_BL_EXFM LE
                     ON TR.trnh_rqst_no = LE.exp_ffmn_no
                  WHERE 1=1
                    AND B.bl_pt_cd = 'M'
                    AND LE.exp_ffmn_tp_cd = 'TM'
                    AND EXISTS ( SELECT 1
                                   FROM TB_CARI_LDUN_RPRT_CNTR LC
                                   inner join TB_CARI_LDUN_RPRT LM
                                      on LC.ldun_rprt_no = LM.ldun_rprt_no
                                  where 1=1
                                    AND LM.ldun_rprt_no = #{ldunRprtNo}
                                    AND B.mrn = LM.mrn
                                    AND B.bl_no = LC.bl_no
                                    AND C.cntr_no = LC.cntr_no
                                    AND LC.apre_yn_cd = 'O'
                           )
               ) AS S
         WHERE 1=1
           AND T.slng_rgsr_no = S.slng_rgsr_no
           AND T.load_rqst_no = S.load_rqst_no
           AND T.bl_no        = S.bl_no
           AND T.cntr_no      = S.cntr_no
	</update>

    <update id="updateCareLoadBlCntrGcntFromLdunRprt"
            parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtVo" >
		/* CarCagLoadRqstMapper.updateCareLoadBlCntrGcntFromLdunRprt */
		UPDATE alpassext.TB_CARE_LOAD_BL_CNTR AS T SET
               T.del_yn         = 'N'                   /** Suppression ON !== 삭제여부 ==! */
             , T.last_chpr_id   = #{lastChprId}       /** ID du modificateur final !== 최종변경자ID ==! */
             , T.last_chg_dttm  = SYSTIMESTAMP          /** Date et heure de modification finale !== 최종변경일시 ==! */
             , T.PCKG_GCNT      = S.PCKG_GCNT           /** Nombre de colis !===포장개수==! */
             , T.PCKG_UT_CD     = S.PCKG_UT_CD          /** Code de l'unité de colis !==포장단위코드==! */
             , T.TTWG           = S.TTWG                /** Poids brut !===총중량==! */
             , T.SEAL_NO1       = S.SEAL_NO1            /** N°1 de scellé !==봉인번호1==! */
             , T.SEAL_NO2       = S.SEAL_NO2            /** N°2 de scellé !==봉인번호2==! */
             , T.SEAL_NO3       = S.SEAL_NO3            /** N°3 de scellé !==봉인번호3==! */
          FROM ( SELECT LE.slng_rgsr_no                 AS slng_rgsr_no        /** N° D'Enregistrement De Voyage !== 운항등록번호 ==! */
                      , LE.load_rqst_no                 AS load_rqst_no        /** N° De Demande De Chargement !== 적재신청번호 ==! */
                      , LE.load_rqst_mgmt_no            AS load_rqst_mgmt_no   /** N° De Gestion De Demande De Chargement !== 적재신청관리번호 ==! */
                      , LE.bl_no                        AS bl_no               /** N° De Bl !== BL번호 ==! */
                      , C.cntr_no                       AS cntr_no             /** N° De Conteneur !== 컨테이너번호 ==! */
                      , C.pckg_gcnt                     AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                      , C.pckg_ut_cd                    AS pckg_ut_cd          /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                      , C.ttwg                          AS ttwg                /** Poids Brut !== 총중량 ==! */
                      , C.seal_no1                      AS seal_no1            /** N° De Scellé1 !== 봉인번호1 ==! */
                      , C.seal_no2                      AS seal_no2            /** N° De Scellé2 !== 봉인번호2 ==! */
                      , C.seal_no3                      AS seal_no3            /** N° De Scellé3 !== 봉인번호3 ==! */
                   FROM TB_CARI_CAG_DCSH_BL_CNTR C
                  INNER JOIN TB_CARI_CAG_DCSH_BL B
                     ON C.mrn = B.mrn
                    AND C.cag_mgmt_no = B.cag_mgmt_no
                  INNER JOIN ( SELECT TTR.trnh_rqst_no                  AS trnh_rqst_no        /** N° De Demande De Transbordement !== 환적신청번호 ==! */
                                    , TTR.mrn                           AS mrn                 /** Mrn !== MRN ==! */
                                    , TTR.bl_no                         AS bl_no               /** N° De Bl !== BL번호 ==! */
                                 FROM TB_CARI_TRNH TTR
                                    , TB_CARI_CAG_PRCS_BRKD TS
                                WHERE TTR.cag_rqst_tp_cd = TS.cag_rqst_tp_cd
                                  AND TTR.trnh_rqst_no = TS.cag_rqst_no
                                  AND TS.prcs_stts_cd = 'D08'
                        ) TR
                     ON B.mrn = TR.mrn
                    AND B.bl_no = TR.bl_no
                  INNER JOIN ( SELECT LLE.slng_rgsr_no                  AS slng_rgsr_no        /** N° D'Enregistrement De Voyage !== 운항등록번호 ==! */
                                    , LLE.load_rqst_no                  AS load_rqst_no        /** N° De Demande De Chargement !== 적재신청번호 ==! */
                                    , LM.load_rqst_mgmt_no              AS load_rqst_mgmt_no   /** N° De Gestion De Demande De Chargement !== 적재신청관리번호 ==! */
                                    , LLE.bl_no                         AS bl_no               /** N° De Bl !== BL번호 ==! */
                                    , LLE.exp_ffmn_no                   AS exp_ffmn_no         /** N° D'Apurement D'Exportation !== 수출이행번호 ==! */
                                    , LLE.exp_ffmn_tp_cd                AS exp_ffmn_tp_cd      /** Type D'Apurement D'Exportation !== 수출이행구분코드 ==! */
                                 FROM TB_CARI_LOAD_BL_EXFM LLE
                                INNER JOIN TB_CARI_LOAD LM
                                   ON LLE.slng_rgsr_no = LM.slng_rgsr_no
                                  AND LLE.load_rqst_no = LM.load_rqst_no
                        ) LE
                     ON TR.trnh_rqst_no = LE.exp_ffmn_no
                  WHERE 1=1
                    AND B.bl_pt_cd = 'M'
                    AND LE.exp_ffmn_tp_cd = 'TM'
                    AND EXISTS ( SELECT 1
                                   FROM TB_CARI_LDUN_RPRT_CNTR LC
                                   inner join TB_CARI_LDUN_RPRT LM
                                      on LC.ldun_rprt_no = LM.ldun_rprt_no
                                  where 1=1
                                    AND LM.ldun_rprt_no = #{ldunRprtNo}
                                    AND B.mrn = LM.mrn
                                    AND B.bl_no = LC.bl_no
                                    AND C.cntr_no = LC.cntr_no
                                    AND LC.apre_yn_cd = 'O'
                           )
               ) AS S
         WHERE 1=1
           AND T.load_rqst_mgmt_no = S.load_rqst_mgmt_no
           AND T.bl_no        = S.bl_no
           AND T.cntr_no      = S.cntr_no
	</update>


</mapper>