<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.load.mapper.CarLoadBlVhclMapper">

    <!--
    Voir la liste des Demande de Véhicule !==차량 목록 조회==!
    -->
    <select id="selectCarLoadBlVhclList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVhclVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlVhclVo">
        /* selectCarLoadBlVhclList */
        <if test="pagination != null and  pagination == true ">
        SELECT #{totBlVhclCnt} AS TOT_CNT
             , SQLRSLT.*
             , ROWNUM as RNUM
          FROM (
        </if>
        SELECT A.LOAD_RQST_NO			 /** !==적재신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.VHCL_SRNO               /** Numéro De Séquence De Véhicule !== 차량일련번호 ==! */
	         , A.CHSS_NO                 /** N° De Châssis !== 차대번호 ==! */
	         , A.VHCL_RGSR_NO            /** VOYAGE VEHICULES VEHICULE NUMERO_IMMATRICULATION !== 차량등록번호 ==! */
	         , A.VHCL_MNUR_CD            /** Code De Fabricant Du Véhicule !== 차량제조사코드 ==! */
	         , (SELECT VHCL_MNUR_NM FROM TB_COM_VHCL_MNUR WHERE VHCL_MNUR_CD = A.VHCL_MNUR_CD AND DEL_YN = 'N' AND ROWNUM = 1) AS VHCL_MNUR_NM	/** Nom de fabricant du véhicule !==차량제조사명==! */
	         , A.VHCL_MDL_CD             /** Code De Modèle Du Véhicule !== 차량모델코드 ==! */
	         , (SELECT VHCL_MDL_NM FROM TB_COM_VHCL_MDL WHERE VHCL_MDL_CD = A.VHCL_MDL_CD AND DEL_YN = 'N' AND ROWNUM = 1) AS VHCL_MDL_NM		/** Nom de modèle du véhicule !==차량모델명==! */
	         , A.VHCL_KND_NM             /** Type De Véhicule !== 차량종류명 ==! */
	         , A.VHCL_MNFC_YY            /** Année De Fabrication De Véhicule !== 차량제조년도 ==! */
	         , A.ENGN_CLND_GCNT          /** Nombre De Cylindres De Moteur !== 엔진기통개수 ==! */
	         , A.VHCL_TOTL_WGHT          /** Poids total en charge !== 차량총중량 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
								FROM TB_CARI_LOAD_BL_VHCL A
							    WHERE A.DEL_YN = 'N'
								AND A.LOAD_RQST_NO = #{loadRqstNo}
								<if test="blSrno != null and blSrno != ''">
								AND	A.BL_SRNO = #{blSrno}
								</if>
								<if test="chssNo != null and chssNo != ''">
        AND	UPPER(A.CHSS_NO) LIKE UPPER(#{chssNo})||'%'
        </if>
							ORDER BY A.CHSS_NO
							<include refid="pagination.footer" ></include>
    </select>

    <!--
    Enregistrement de la déclaration de Véhicule !==차량 정보를 저장한다==!
    -->
    <insert id="insertCarLoadBlVhcl" parameterType="alpass.ipt.car.load.vo.CarLoadBlVhclVo">
        /* insertCarLoadBlVhcl */
        INSERT INTO TB_CARI_LOAD_BL_VHCL (
        	  LOAD_RQST_NO       	  /** !== 적재신청번호 ==! */
	        , BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	        , VHCL_SRNO               /** Numéro De Séquence De Véhicule !== 차량일련번호 ==! */
	        , CHSS_NO                 /** N° De Châssis !== 차대번호 ==! */
	        , VHCL_RGSR_NO            /** VOYAGE VEHICULES VEHICULE NUMERO_IMMATRICULATION !== 차량등록번호 ==! */
	        , VHCL_MNUR_CD            /** Code De Fabricant Du Véhicule !== 차량제조사코드 ==! */
	        , VHCL_MDL_CD             /** Code De Modèle Du Véhicule !== 차량모델코드 ==! */
	        , VHCL_KND_NM             /** Type De Véhicule !== 차량종류명 ==! */
	        , VHCL_MNFC_YY            /** Année De Fabrication De Véhicule !== 차량제조년도 ==! */
	        , ENGN_CLND_GCNT          /** Nombre De Cylindres De Moteur !== 엔진기통개수 ==! */
	        , VHCL_TOTL_WGHT          /** Poids total en charge !== 차량총중량 ==! */
	        , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
        ) VALUES (
              #{loadRqstNo}
			, #{blSrno}                       /** N° De Séquence De Ble !== BL일련번호 ==! */
			, #{vhclSrno}                   /** Numéro De Séquence De Véhicule !== 차량일련번호 ==! */
			, #{chssNo}                     /** N° De Châssis !== 차대번호 ==! */
			, #{vhclRgsrNo}                 /** VOYAGE VEHICULES VEHICULE NUMERO_IMMATRICULATION !== 차량등록번호 ==! */
			, #{vhclMnurCd}                 /** Code De Fabricant Du Véhicule !== 차량제조사코드 ==! */
			, #{vhclMdlCd}                  /** Code De Modèle Du Véhicule !== 차량모델코드 ==! */
			, #{vhclKndNm}                  /** Type De Véhicule !== 차량종류명 ==! */
			, #{vhclMnfcYy}                 /** Année De Fabrication De Véhicule !== 차량제조년도 ==! */
			, #{engnClndGcnt}               /** Nombre De Cylindres De Moteur !== 엔진기통개수 ==! */
			, #{vhclTotlWght}               /** Poids total en charge !== 차량총중량 ==! */
			, 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
        )
    </insert>

    <!--
    Supprimer la  déclaration de Véhicule  !==차량 정보를 삭제한다.==!
    -->
    <update id="deleteCarLoadBlVhcl" parameterType="alpass.ipt.car.load.vo.CarLoadBlVo" >
        /* deleteCarLoadBlVhcl */
        DELETE FROM TB_CARI_LOAD_BL_VHCL
        WHERE DEL_YN = 'N'
        AND LOAD_RQST_NO = #{loadRqstNo}
        AND	BL_SRNO = #{blSrno}
    </update>

</mapper>

























