<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.sale.mapper.ColSaleCrppMgmtMapper">

    <!--
    Consulter la liste des Gestion des certificats de ventes !==판매증명서 목록을 조회한다==!
    -->
    <select id="selectColSaleCrppMgmtList" parameterType="alpass.ipt.col.sale.vo.ColSaleCrppMgmtVo" resultType="alpass.ipt.col.sale.vo.ColSaleCrppMgmtVo">
        /** ColSaleCrppMgmtMapper_selectColSaleCrppMgmtList **/
        <include refid="pagination.header" />
        SELECT
        CRPP.SALE_CRPP_NO
        , CRPP.SALE_WTNNC_NO
        , CRPP.TRSF_DTRM_NO
        , CRPP.LOT_NO
        , CRPP.CSTM_CD
        , FN_GET_ORGN_NM(CRPP.CSTM_CD) AS CSTM_NM								/** Nom Du Bureau !== 세관명 ==! */
        , CRPP.DEPT_CD
        , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(WTNNC.DEPT_CD)) AS DEPT_NM
        , CRPP.VHCL_TM_NM
        , CRPP.VHCL_MDL_NM
        , CRPP.CHSS_NO
        , CRPP.VHCL_KND_NM
        , CRPP.FL_NM
        , CRPP.VNTL_AQTY
        , CRPP.VHCL_OTPT
        , CRPP.TTWG
        , CRPP.MAX_LOAD_AQTY
        , CRPP.STCNT
        , CRPP.CAR_RGSR_NO
        , TO_CHAR(TO_DATE(CRPP.FRST_DRV_DD,'YYYYMMDD'),'DD/MM/YYYY') AS FRST_DRV_DD
        , CRPP.RMRK_CN
        , CRPP.ATCH_FILE_ID
        , CRPP.FRST_REGST_ID								    				/** ID du premier enregistrant !== 최초등록자ID ==! */
        , CRPP.FRST_RGSR_DTTM									    			/** Date et heure de premier enregistrement !== 생성일자 ==! */
        , CRPP.LAST_CHPR_ID														/** ID du modificateur final !== 최종변경자ID ==! */
        , CRPP.LAST_CHG_DTTM													/** Date et heure de modification finale !== 최종변경일시 ==! */
        , WTNNC.INVN_MGMT_NO
        , WTNNC.SCBR_NM
        , WTNNC.SCBD_APRE_EMP_ID
        , WTNNC.SCBR_IDFY_NO
        , WTNNC.RECP_NO
        , TO_CHAR(TO_DATE(WTNNC.RECP_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RECP_DT
        FROM TB_COLI_SALE_CRPP CRPP
        ,TB_COLI_SALE_WTNNC WTNNC
        WHERE  CRPP.DEL_YN = 'N'
        AND CRPP.SALE_WTNNC_NO = WTNNC.SALE_WTNNC_NO
        AND CRPP.LOT_NO = WTNNC.LOT_NO
        <if test="sctrCd != null and sctrCd != ''">
            AND  CRPP.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  CRPP.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND (CRPP.DEPT_CD = #{orgnCd} OR CRPP.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR CRPP.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
        </if>
        <if test='cstmCd != null and cstmCd !="" '>
            AND    CRPP.CSTM_CD = #{cstmCd}
        </if>
        <if test="deptCd != null and deptCd != ''">
            AND (CRPP.DEPT_CD = #{deptCd} OR CRPP.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR CRPP.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
        </if>
        <if test='saleCrppNo != null and saleCrppNo !="" '>
            AND    CRPP.SALE_CRPP_NO = #{saleCrppNo}
        </if>
        <if test='vhclTmNm != null and vhclTmNm !="" '>
            AND    CRPP.VHCL_TM_NM = #{vhclTmNm}
        </if>
        <if test='vhclMdlNm != null and vhclMdlNm !="" '>
            AND    CRPP.VHCL_MDL_NM = #{vhclMdlNm}
        </if>
        ORDER BY CRPP.FRST_RGSR_DTTM DESC
        <include refid="pagination.footer" />
    </select>

    <!--
    Consulter le certificat de vente !==판매증명서를 조회한다==!
    -->
    <select id="selectColSaleCrppMgmt" parameterType="alpass.ipt.col.sale.vo.ColSaleCrppMgmtVo" resultType="alpass.ipt.col.sale.vo.ColSaleCrppMgmtVo">
        /** ColSaleCrppMgmtMapper_selectColSaleCrppMgmt **/
        SELECT
            CRPP.SALE_CRPP_NO
            , CRPP.SALE_WTNNC_NO
            , CRPP.TRSF_DTRM_NO
            , CRPP.LOT_NO
            , CRPP.CSTM_CD
            , FN_GET_ORGN_NM(CRPP.CSTM_CD) AS CSTM_NM								/** Nom Du Bureau !== 세관명 ==! */
            , CRPP.DEPT_CD
            , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(WTNNC.DEPT_CD)) AS DEPT_NM
            , CRPP.VHCL_TM_NM
            , CRPP.VHCL_MDL_NM
            , CRPP.CHSS_NO
            , CRPP.VHCL_KND_NM
            , CRPP.FL_NM
            , CRPP.VNTL_AQTY
            , CRPP.VHCL_OTPT
            , CRPP.TTWG
            , CRPP.MAX_LOAD_AQTY
            , CRPP.STCNT
            , CRPP.CAR_RGSR_NO
            , TO_CHAR(TO_DATE(CRPP.FRST_DRV_DD,'YYYYMMDD'),'DD/MM/YYYY') AS FRST_DRV_DD
            , CRPP.RMRK_CN
            , CRPP.ATCH_FILE_ID
            , CRPP.FRST_REGST_ID								    				/** ID du premier enregistrant !== 최초등록자ID ==! */
            , CRPP.FRST_RGSR_DTTM									    			/** Date et heure de premier enregistrement !== 생성일자 ==! */
            , CRPP.LAST_CHPR_ID														/** ID du modificateur final !== 최종변경자ID ==! */
            , CRPP.LAST_CHG_DTTM													/** Date et heure de modification finale !== 최종변경일시 ==! */
            , WTNNC.INVN_MGMT_NO
            , WTNNC.SCBR_NM
            , WTNNC.SCBD_APRE_EMP_ID
            , WTNNC.SCBR_IDFY_NO
            , WTNNC.RECP_NO
            , TO_CHAR(TO_DATE(WTNNC.RECP_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RECP_DT
        FROM TB_COLI_SALE_CRPP CRPP
        ,TB_COLI_SALE_WTNNC WTNNC
        WHERE  CRPP.DEL_YN = 'N'
        AND CRPP.SALE_WTNNC_NO = WTNNC.SALE_WTNNC_NO
        AND CRPP.LOT_NO = WTNNC.LOT_NO
        <if test='saleCrppNo != null and saleCrppNo !="" '>
            AND    CRPP.SALE_CRPP_NO = #{saleCrppNo}
        </if>
    </select>

    <!--
    Ajouter le certificat de vente !==판매증명서를 추가한다==!
    -->
    <insert id="insertColSaleCrppMgmt" parameterType="alpass.ipt.col.sale.vo.ColSaleCrppMgmtVo">
        /** ColSaleCrppMgmtMapper_insertColSaleCrppMgmt **/
        INSERT INTO TB_COLI_SALE_CRPP (
             SALE_CRPP_NO
            , SALE_WTNNC_NO
            , TRSF_DTRM_NO
            , LOT_NO
            , CSTM_CD                                                           /** Code du bureau !== 세관코드 ==! */
            , DEPT_CD
            , VHCL_TM_NM
            , VHCL_MDL_NM
            , CHSS_NO
            , VHCL_KND_NM
            , FL_NM
            , VNTL_AQTY
            , VHCL_OTPT
            , TTWG
            , MAX_LOAD_AQTY
            , STCNT
            , CAR_RGSR_NO
            , FRST_DRV_DD
            , RMRK_CN
            , ATCH_FILE_ID
            , DEL_YN							    						/** Suppression ON !== 삭제여부  ==! */
            , FRST_REGST_ID								    				/** ID du premier enregistrant !== 최초등록자ID ==! */
            , FRST_RGSR_DTTM									    			/** Date et heure de premier enregistrement !== 생성일자 ==! */
            , LAST_CHPR_ID														/** ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM													/** Date et heure de modification finale !== 최종변경일시 ==! */
        ) VALUES (
             #{saleCrppNo}
            , #{saleWtnncNo}
            , #{trsfDtrmNo}
            , #{lotNo}
            , #{cstmCd}
            , #{deptCd}
            , #{vhclTmNm}
            , #{vhclMdlNm}
            , #{chssNo}
            , #{vhclKndNm}
            , #{flNm}
            , #{vntlAqty}
            , #{vhclOtpt}
            , #{ttwg}
            , #{maxLoadAqty}
            , #{stcnt}
            , #{carRgsrNo}
            , TO_CHAR(TO_DATE(#{frstDrvDd} , 'DD/MM/YYYY'), 'YYYYMMDD')
            , #{rmrkCn}
            , #{atchFileId}
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
        )
    </insert>

    <!--
    Modifier le certificat de vente !==판매증명서를 수정한다==!
    -->
    <update id="updateColSaleCrppMgmt" parameterType="alpass.ipt.col.sale.vo.ColSaleCrppMgmtVo">
        /** ColSaleCrppMgmtMapper_updateColSaleCrppMgmt **/
        UPDATE  TB_COLI_SALE_CRPP SET
            SALE_WTNNC_NO = #{saleWtnncNo}
            , TRSF_DTRM_NO = #{trsfDtrmNo}
            , LOT_NO = #{lotNo}
            , VHCL_TM_NM = #{vhclTmNm}
            , VHCL_MDL_NM = #{vhclMdlNm}
            , CHSS_NO = #{chssNo}
            , VHCL_KND_NM = #{vhclKndNm}
            , FL_NM = #{flNm}
            , VNTL_AQTY = #{vntlAqty}
            , VHCL_OTPT = #{vhclOtpt}
            , TTWG = #{ttwg}
            , MAX_LOAD_AQTY = #{maxLoadAqty}
            , STCNT = #{stcnt}
            , CAR_RGSR_NO = #{carRgsrNo}
            , FRST_DRV_DD = TO_CHAR(TO_DATE(#{frstDrvDd} , 'DD/MM/YYYY'), 'YYYYMMDD')
            , RMRK_CN = #{rmrkCn}
            , ATCH_FILE_ID = #{atchFileId}
            , DEL_YN = 'N'
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE SALE_CRPP_NO = #{saleCrppNo}
    </update>

    <!--
    Supprimer le certificat de vente !==판매증명서를 삭제한다==!
    -->
    <update id="deleteColSaleCrppMgmt" parameterType="alpass.ipt.col.sale.vo.ColSaleCrppMgmtVo">
        /** ColSaleCrppMgmtMapper_deleteColSaleCrppMgmt **/
        UPDATE  TB_COLI_SALE_CRPP SET
            DEL_YN = 'Y'
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE SALE_CRPP_NO = #{saleCrppNo}
    </update>

    <!--
    Supprimer le certificat de vente !==판매증명서를 삭제한다==!
    -->
    <update id="deleteColSaleCrppMgmtSaleWtnncNo" parameterType="alpass.ipt.col.sale.vo.ColSaleCrppMgmtVo">
        /** ColSaleCrppMgmtMapper_deleteColSaleCrppMgmtSaleWtnncNo **/
        UPDATE  TB_COLI_SALE_CRPP SET
            DEL_YN = 'Y'
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE SALE_WTNNC_NO = #{saleWtnncNo}
    </update>

</mapper>