<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.sale.mapper.ColSalePbacPcfeMgmtMapper">

    <!--
    Consulter la liste des redevances de vente aux enchères publiques !==공매수수료 목록을 조회한다==!
    -->
    <select id="selectColSalePbacPcfeMgmtList" parameterType="alpass.ipt.col.sale.vo.ColSalePbacPcfeMgmtVo" resultType="alpass.ipt.col.sale.vo.ColSalePbacPcfeMgmtVo">
        /** ColSalePbacPcfeMgmtMapper_selectColSalePbacPcfeMgmtList **/
        <include refid="pagination.header" />
        SELECT
        NTFC.NTFC_NO                                                               /** N° d'avis !== 고지번호 ==! */
        , (	SELECT 	B.ORGN_CD
        FROM 	TB_POTI_ORGN B,
        TB_POTI_ORGN C
        WHERE 	C.UPR_ORGN_MGMT_CD = B.ORGN_MGMT_CD
        AND C.ORGN_CD           = NTFC.CSTM_CD
        AND B.DEL_YN            = 'N'
        AND C.DEL_YN            = 'N'
        ) AS SCTR_CD                                                               /** Code de Sector !== 섹터코드 ==! */
        , (	SELECT 	B.ORGN_NM
        FROM 	TB_POTI_ORGN B,
        TB_POTI_ORGN C
        WHERE 	C.UPR_ORGN_MGMT_CD = B.ORGN_MGMT_CD
        AND C.ORGN_CD           = NTFC.CSTM_CD
        AND B.DEL_YN            = 'N'
        AND C.DEL_YN            = 'N'
        ) AS SCTR_NM                                                                /** Code de Sector !== 섹터명 ==! */
        , NTFC.CSTM_CD                                                              /** Code du bureau !== 세관코드 ==! */
        , FN_GET_ORGN_NM(NTFC.CSTM_CD) AS CSTM_NM
        , NTFC.DEPT_CD
        , NVL((SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(NTFC.DEPT_CD)), '') AS DEPT_NM	/** Nom Du Bureau !== 부서명 ==! */
        , NTFC.NTFC_PT_CD                                                           /** Code de type d'avis !== 고지유형코드 ==! */
        , (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'COL_0003' AND LANG_CD = #{langCd} AND CD_VDVAL = NTFC.NTFC_PT_CD) AS NTFC_PT_NM /** Désignation du code de type d'avis !== 고지유형코드명 ==! */
        , TO_CHAR(TO_DATE(NTFC.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT         /** Date de notification !== 고지일자 ==! */
        , TO_CHAR(TO_DATE(NTFC.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT /** Delai de paiement !== 납부기한일자 ==! */
        , NTFC.DLPY_INST_AMT                                                        /** Montant des intérêts de retard !== 체납이자금액 ==! */
        , NTFC.ODLPY_INST_AMT                                                       /** Montant des intérêts de retard de l'avis original !== 원고지체납이자금액 ==! */
        , NTFC.FINE_AMT                                                             /** Montant d'amende !== 벌금금액 ==! */
        , NTFC.OTHS_PCFE_AMT                                                        /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
        , NTFC.TAMT                                                                 /** Montant total !== 총금액 ==! */
        , NTFC.DRWB_AMT                                                             /** Montant remboursé après la modification de déclaration !== 환급금액 ==! */
        , NTFC.TXPR_IDFY_NO_TP_CD                                                   /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
        , NTFC.TXPR_IDFY_NO                                                         /** NIU !== 납세자식별번호 ==! */
        , NTFC.TXPR_NM                                                              /** Nom du responsable financier !== 납세자명 ==! */
        , (SELECT CO_ADDR FROM TB_COM_CO WHERE NIF = NTFC.TXPR_IDFY_NO) AS CO_ADDR  /** Adresse !== 주소  ==! */
        , NTFC.REFF_NO_PT_CD                                                        /** Code de type de numero de reference !== 참조번호유형코드 ==! */
        , (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'COL_0021' AND LANG_CD = #{langCd} AND CD_VDVAL = NTFC.REFF_NO_PT_CD) AS REFF_NO_PT_NM /** Code de type de numéro de référence !== 참조번호유형코드명 ==! */
        , NTFC.REFF_NO                                                              /** N° de reference !== 참조번호 ==! */
        , TO_CHAR(TO_DATE(NTFC.REFF_NO_DT,'YYYYMMDD'),'DD/MM/YYYY') AS REFF_NO_DT   /** Date de référence !== 참조번호일자 ==! */
        , NTFC.DCER_CD                                                              /** Code du declarant !== 신고인코드 ==!*/
        , NTFC.RCVE_YN                                                              /** Encaisse (ON) !== 수납여부 ==! */
        , NTFC.PAY_TMLM_XTNS_YN                                                     /** Echeance prorogee (ON) !== 납부기한연장여부 ==! */
        , NTFC.DLPY_YN                                                              /** Paiement retarde (ON) !== 체납여부 ==! */
        , NTFC.DLPY_INST_ADJU_YN                                                    /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
        , NTFC.NTFC_DIVD_YN                                                         /** Avis echelonne (ON) !== 고지분할여부 ==! */
        , NTFC.RECP_PBLS_YN                                                         /** Quittance delivree (ON) !== 영수증발행여부 ==! */
        , NTFC.CNCL_YN                                                              /** Annule (ON) !== 취소여부 ==! */
        , TO_CHAR(TO_DATE(NTFC.CNCL_DT,'YYYYMMDD'),'DD/MM/YYYY') AS CNCL_DT
        , NTFC.NTFC_CNCL_RSN_CD                                                     /** Code de motif d’annulation d’avis !== 고지취소사유코드 ==! */
        , NTFC.ONTFC_NO                                                             /** N° de l'avis original !== 원고지번호 ==! */
        , NTFC.DFPM_PAY_YN                                                          /** Recours au credit d'enlevement (ON) !== 후불납부여부 ==! */
        , NTFC.NTFC_PRCS_STTS_CD                                                    /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
        , FN_GET_CD_VDVAL_NM('COL_0001', NTFC.NTFC_PRCS_STTS_CD, #{langCd}) AS NTFC_PRCS_STTS_CD_NM        /** Code de statut de traitement d'avis !== 고지처리상태코드명 ==! */
        , NTFC.DEL_YN                                                               /** Suppression ON !== 삭제여부 ==! */
        , NTFC.FRST_REGST_ID                                                        /** ID du premier enregistrant  !== 최초등록자ID ==! */
        , TO_CHAR(NTFC.FRST_RGSR_DTTM, 'DD/MM/YYYY hh24:mi') AS frstRgsrDttmForReport
        , NTFC.FRST_RGSR_DTTM                                                       /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
        , NTFC.LAST_CHPR_ID                                                         /** ID du modificateur final !== 최종변경자ID ==! */
        , NTFC.LAST_CHG_DTTM                                                        /** Date et heure de modification finale !== 최종변경일시 ==! */
        , NTFC.DCLR_NO
        ,( SELECT
        TO_CHAR(TO_DATE(DCLR_DT,'YYYYMMDD'),'DD/MM/YYYY') DCLR_DT
        FROM   TB_CLRI_DED_COMN
        WHERE  DTL_DCSH_NO = NTFC.DCLR_NO) DCLR_DT
        , RCVE.RCVE_NO                                                              /** N° d'encaissement !== 수납번호 ==! */
        , TO_CHAR(TO_DATE(RCVE.RCVE_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RCVE_DT         /** Date de stockage !== 수납일자 ==! */
        , NTFC.MG_TP_CD
        FROM  TB_COLI_NTFC NTFC
        LEFT  JOIN TB_COLI_RCVE RCVE ON NTFC.NTFC_NO = RCVE.NTFC_NO
        WHERE  NTFC.DEL_YN = 'N'
        AND NTFC.CNCL_YN != 'Y'
        <if test="sctrCd != null and sctrCd != ''">
            AND  NTFC.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  NTFC.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND (NTFC.DEPT_CD = #{orgnCd} OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
						 ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test='cstmCd != null and cstmCd !="" '>
            AND    NTFC.CSTM_CD = #{cstmCd}
        </if>
        <if test="deptCd != null and deptCd != ''">
            AND (NTFC.DEPT_CD = #{deptCd} OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR NTFC.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
						 ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test='rcveNo != null and rcveNo !="" '>
            AND    RCVE.RCVE_NO LIKE #{rcveNo} ||'%'
        </if>
        <if test='rcveDtFrom != null and rcveDtFrom !="" and rcveDtTo != null and rcveDtTo !="" '>
            AND    RCVE.RCVE_DT BETWEEN TO_CHAR(TO_DATE(#{rcveDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rcveDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='ntfcPtCd != null and ntfcPtCd !="" '>
            AND    NTFC.NTFC_PT_CD = #{ntfcPtCd}
        </if>
        <if test='ntfcNo != null and ntfcNo !="" '>
            AND    NTFC.NTFC_NO LIKE #{ntfcNo} ||'%'
        </if>
        <if test='reffNoPtCd != null and reffNoPtCd !="" '>
            AND    NTFC.REFF_NO_PT_CD = #{reffNoPtCd}
        </if>
        <if test='reffNo != null and reffNo !="" '>
            AND    NTFC.REFF_NO LIKE #{reffNo}||'%'
        </if>
        <if test='txprIdfyNo != null and txprIdfyNo !="" '>
            AND    NTFC.TXPR_IDFY_NO LIKE #{txprIdfyNo}||'%'
        </if>
        <if test='ntfcDtFrom != null and ntfcDtFrom !="" and ntfcDtTo != null and ntfcDtTo !="" '>
            AND    NTFC.NTFC_DT BETWEEN TO_CHAR(TO_DATE(#{ntfcDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{ntfcDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='rcveYn != null and rcveYn !="" '>
            AND    NTFC.RCVE_YN = #{rcveYn}
        </if>
        <if test='txprIdfyNoTpCd != null and txprIdfyNoTpCd !="" '>
            AND    NTFC.TXPR_IDFY_NO_TP_CD = #{txprIdfyNoTpCd}
        </if>
        <if test='txprIdfyNo != null and txprIdfyNo !="" '>
            AND    NTFC.TXPR_IDFY_NO = #{txprIdfyNo}
        </if>
        <if test='dlpyYn != null and dlpyYn !="" '>
            AND    NTFC.DLPY_YN = #{dlpyYn}
        </if>
        <if test='ntfcDivdYn != null and ntfcDivdYn !="" '>
            AND    NTFC.NTFC_DIVD_YN = #{ntfcDivdYn}
        </if>
        <if test='ontfcNo != null and ontfcNo != ""'>
            AND   NTFC.ONTFC_NO = #{ontfcNo}
        </if>
        <if test='payTmlmXtnsYn != null and payTmlmXtnsYn !="" '>
            AND NTFC.PAY_TMLM_XTNS_YN = #{payTmlmXtnsYn}
        </if>
        ORDER BY NTFC.NTFC_DT DESC, NTFC.NTFC_NO ASC, NTFC.TXPR_IDFY_NO ASC, NTFC.DCER_CD ASC
        <include refid="pagination.footer" />
    </select>

    <!--<insert id="insertColNtfc" parameterType="alpass.ipt.col.com.vo.ColNtfcVo">
        /* ColSalePbacPcfeMgmtMapper_insertColNtfc */
       - INSERT INTO TB_COLI_NTFC
        (
            NTFC_NO                      /** N° d'avis !== 고지번호 ==! */
            , CSTM_CD                      /** Code du bureau !== 세관코드 ==! */
            , NTFC_PT_CD                   /** Code de type d'avis !== 고지유형코드 ==! */
            , NTFC_DT                      /** Date de notification !== 고지일자 ==! */
            , PAY_TMLM_DT                  /** Délai de paiement !== 납부기한일자 ==! */
            , DLPY_INST_AMT                /** Montant Des Intérêts De Retard !== 체납이자금액 ==! */
            , ODLPY_INST_AMT               /** Montant Des Intérêts De Retard Non-Ajusté !== 원체납이자금액 ==! */
            , FINE_AMT                     /** Montant d'amende !== 벌금금액 ==! */
            , OTHS_PCFE_AMT                /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
            , TAMT                         /** Montant total !== 총금액 ==! */
            , DRWB_AMT                     /** Montant remboursé !== 환급금액 ==! */
            , TXPR_IDFY_NO_TP_CD           /** Code de catérogie de NIU !== 납세자식별번호구분코드 ==! */
            , TXPR_IDFY_NO                 /** NIU !== 납세자식별번호 ==! */
            , TXPR_NM                      /** Nom du responsable financier !== 납세자명 ==! */
            , REFF_NO_PT_CD                /** Code de type de numéro de référence !== 참조번호유형코드 ==! */
            , REFF_NO                      /** N° de référence !== 참조번호 ==! */
            , REFF_NO_DT                   /** Date du titre de perception !== 결제 요청서 일자 ==! */
            , DCER_CD                      /** Code du déclarant !== 신고인코드 ==! */
            , RCVE_YN                      /** Encaissé (ON) !== 수납여부 ==! */
            , PAY_TMLM_XTNS_YN             /** Échéance prorogée (ON) !== 납부기한연장여부 ==! */
            , DLPY_YN                      /** Paiement retardé (ON) !== 체납여부 ==! */
            , DLPY_INST_ADJU_YN            /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
            , NTFC_DIVD_YN                 /** Avis échelonné (ON) !== 고지분할여부 ==! */
            , RECP_PBLS_YN                 /** Quittance délivrée (ON) !== 영수증발행여부 ==! */
            , CNCL_YN                      /** Annulé (ON) !== 취소여부 ==! */
            , NTFC_CNCL_RSN_CD             /** Code de motif d’annulation d’avis !== 고지취소사유코드 ==! */
            , ONTFC_NO                     /** N° de l'avis original !== 원고지번호 ==! */
            , DFPM_PAY_YN                  /** Recours au crédit d'enlèvement (ON) !== 후불납부여부 ==! */
            , NTFC_PRCS_STTS_CD            /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
            , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
            , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
            , DEPT_CD
            , VHCL_YN
            )
        VALUES
            (
            #{ntfcNo}                    /** N° d'avis !== 고지번호 ==! */
            , #{cstmCd}                    /** Code du bureau !== 세관코드 ==! */
            , #{ntfcPtCd}                  /** Code de type d'avis !== 고지유형코드(공매고지(V)) ==! */
            , TO_CHAR(TO_DATE(#{ntfcDt}, 'DD/MM/YYYY'), 'YYYYMMDD') /** Date de notification !== 고지일자 ==! */
            , TO_CHAR(TO_DATE(#{payTmlmDt}, 'DD/MM/YYYY'), 'YYYYMMDD')  /** Delai de paiement !== 납부기한일자 ==! */
            , 0                            /** Montant Des Intérêts De Retard !== 체납이자금액 ==! */
            , 0                            /** Montant Des Intérêts De Retard Non-Ajusté !== 원체납이자금액 ==! */
            , 0                            /** Montant d'amende !== 벌금금액 ==! */
            , #{othsPcfeAmt}               /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
            , #{tamt}                      /** Montant total !== 총금액 ==! */
            , 0                            /** Montant remboursé !== 환급금액 ==! */
            , #{txprIdfyNoTpCd}            /** Code de catérogie de NIU !== 납세자식별번호구분코드 ==! */
            , #{txprIdfyNo}                /** NIU !== 납세자식별번호 ==! */
            , #{txprNm}                    /** Nom du responsable financier !== 납세자명 ==! */
            , #{reffNoPtCd}                /** Code de type de numéro de référence !== 참조번호유형코드 ==! */
            , #{reffNo}                    /** N° de référence !== 참조번호 ==! */
        <if test="reffNoDt != null and reffNoDt != ''">
            , TO_CHAR(TO_DATE(#{reffNoDt}, 'DD/MM/YYYY'), 'YYYYMMDD') /** Date du titre de perception !== 결제 요청서 일자 ==! */
        </if>
        <if test="reffNoDt == null or reffNoDt == ''">
            , TO_CHAR(SYSDATE,'YYYYMMDD')       /** Date du titre de perception !== 결제 요청서 일자 ==! */
        </if>
            , NULL                         /** Code du déclarant !== 신고인코드 ==! */
            , 'N'                          /** Encaissé (ON) !== 수납여부 ==! */
            , 'N'                          /** Échéance prorogée (ON) !== 납부기한연장여부 ==! */
            , 'N'                          /** Paiement retardé (ON) !== 체납여부 ==! */
            , 'N'                          /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
            , 'N'                          /** Avis échelonné (ON) !== 고지분할여부 ==! */
            , 'N'                          /** Quittance délivrée (ON) !== 영수증발행여부 ==! */
            , 'N'                          /** Annulé (ON) !== 취소여부 ==! */
            , NULL                         /** Code de motif d’annulation d’avis !== 고지취소사유코드 ==! */
            , #{ontfcNo}                   /** N° de l'avis original !== 원고지번호 ==! */
            , #{dfpmPayYn}                 /** Recours au crédit d'enlèvement (ON) !== 후불납부여부 ==! */
            , #{ntfcPrcsSttsCd}            /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
            , 'N'                          /** Suppression ON !== 삭제여부 ==! */
            , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
            , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
            , #{deptCd}
            , #{vhclYn}
            )

    </insert>-->

    <!--
    Consulter les informations sur l'avis de paiement !==고지서 정보를 조회한다==!
    -->
    <select id="selectColNtfc" parameterType="alpass.ipt.col.sale.vo.ColSalePbacPcfeMgmtVo" resultType="alpass.ipt.col.sale.vo.ColSalePbacPcfeMgmtVo">
        /** ColSalePbacPcfeMgmtMapper_selectColNtfc **/
        SELECT
        NTFC.NTFC_NO                                                               /** N° d'avis !== 고지번호 ==! */
        , NTFC.CSTM_CD                                                              /** Code du bureau !== 세관코드 ==! */
        , NTFC.DEPT_CD
        , NTFC.NTFC_PT_CD                                                           /** Code de type d'avis !== 고지유형코드 ==! */
        , TO_CHAR(TO_DATE(NTFC.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT         /** Date de notification !== 고지일자 ==! */
        , TO_CHAR(TO_DATE(NTFC.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT /** Delai de paiement !== 납부기한일자 ==! */
        , NTFC.DLPY_INST_AMT                                                        /** Montant des intérêts de retard !== 체납이자금액 ==! */
        , NTFC.ODLPY_INST_AMT                                                       /** Montant des intérêts de retard de l'avis original !== 원고지체납이자금액 ==! */
        , NTFC.FINE_AMT                                                             /** Montant d'amende !== 벌금금액 ==! */
        , NTFC.OTHS_PCFE_AMT                                                        /** Montant des autres frais exigibles !== 기타수수료금액 ==! */
        , NTFC.TAMT                                                                 /** Montant total !== 총금액 ==! */
        , NTFC.DRWB_AMT                                                             /** Montant remboursé après la modification de déclaration !== 환급금액 ==! */
        , NTFC.TXPR_IDFY_NO_TP_CD                                                   /** Code de caterogie de NIU !== 납세자식별번호구분코드 ==! */
        , NTFC.TXPR_IDFY_NO                                                         /** NIU !== 납세자식별번호 ==! */
        , NTFC.TXPR_NM                                                              /** Nom du responsable financier !== 납세자명 ==! */
        , NTFC.REFF_NO_PT_CD                                                        /** Code de type de numero de reference !== 참조번호유형코드 ==! */
        , NTFC.REFF_NO                                                              /** N° de reference !== 참조번호 ==! */
        , TO_CHAR(TO_DATE(NTFC.REFF_NO_DT,'YYYYMMDD'),'DD/MM/YYYY') AS REFF_NO_DT   /** Date de référence !== 참조번호일자 ==! */
        , NTFC.DCER_CD                                                              /** Code du declarant !== 신고인코드 ==!*/
        , NTFC.RCVE_YN                                                              /** Encaisse (ON) !== 수납여부 ==! */
        , NTFC.PAY_TMLM_XTNS_YN                                                     /** Echeance prorogee (ON) !== 납부기한연장여부 ==! */
        , NTFC.DLPY_YN                                                              /** Paiement retarde (ON) !== 체납여부 ==! */
        , NTFC.DLPY_INST_ADJU_YN                                                    /** Intérêts de retard ajustés (O/N) !== 체납이자조정여부 ==! */
        , NTFC.NTFC_DIVD_YN                                                         /** Avis echelonne (ON) !== 고지분할여부 ==! */
        , NTFC.RECP_PBLS_YN                                                         /** Quittance delivree (ON) !== 영수증발행여부 ==! */
        , NTFC.CNCL_YN                                                              /** Annule (ON) !== 취소여부 ==! */
        , TO_CHAR(TO_DATE(NTFC.CNCL_DT,'YYYYMMDD'),'DD/MM/YYYY') AS CNCL_DT
        , NTFC.NTFC_CNCL_RSN_CD                                                     /** Code de motif d’annulation d’avis !== 고지취소사유코드 ==! */
        , NTFC.ONTFC_NO                                                             /** N° de l'avis original !== 원고지번호 ==! */
        , NTFC.DFPM_PAY_YN                                                          /** Recours au credit d'enlevement (ON) !== 후불납부여부 ==! */
        , NTFC.NTFC_PRCS_STTS_CD                                                    /** Code de statut de traitement d'avis !== 고지처리상태코드 ==! */
        , NTFC.DEL_YN                                                               /** Suppression ON !== 삭제여부 ==! */
        , NTFC.FRST_REGST_ID                                                        /** ID du premier enregistrant  !== 최초등록자ID ==! */
        , TO_CHAR(NTFC.FRST_RGSR_DTTM, 'DD/MM/YYYY hh24:mi') AS frstRgsrDttmForReport
        , NTFC.FRST_RGSR_DTTM                                                       /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
        , NTFC.LAST_CHPR_ID                                                         /** ID du modificateur final !== 최종변경자ID ==! */
        , NTFC.LAST_CHG_DTTM                                                        /** Date et heure de modification finale !== 최종변경일시 ==! */
        , NTFC.DCLR_NO
        , NTFC.MG_TP_CD
        FROM  TB_COLI_NTFC NTFC
        WHERE  NTFC.NTFC_NO = #{ntfcNo}
    </select>

    <!--
    Modifier l'avis de paiement !==고지서를 수정한다==!
    -->
    <update id="updateColSalePbacPcfeMgmt" parameterType="alpass.ipt.col.sale.vo.ColSalePbacPcfeMgmtVo">
        /** ColSalePbacPcfeMgmtMapper_updateColSalePbacPcfeMgmt **/
        UPDATE TB_COLI_NTFC SET
            DFPM_PAY_YN = #{dfpmPayYn}
            , TXPR_IDFY_NO_TP_CD = #{txprIdfyNoTpCd}
            , TXPR_IDFY_NO = #{txprIdfyNo}
            , TXPR_NM = #{txprNm}
            , REFF_NO = #{reffNo}
            , REFF_NO_DT = TO_CHAR(TO_DATE(#{reffNoDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
            , TAMT = #{tAmt}
            , OTHS_PCFE_AMT = #{othsPcfeAmt}
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE NTFC_NO = #{ntfcNo}
    </update>

    <!--
    Supprimer l'avis de paiement !==고지서를 삭제한다==!
    -->
    <update id="deleteColSalePbacPcfeMgmt" parameterType="alpass.ipt.col.sale.vo.ColSalePbacPcfeMgmtVo">
        /** ColSalePbacPcfeMgmtMapper_deleteColSalePbacPcfeMgmt **/
        UPDATE TB_COLI_NTFC SET
            DEL_YN = 'Y'
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE NTFC_NO = #{ntfcNo}
    </update>

    <!--
    Modifier l'avis de paiement !==고지서를 수정한다==!
    -->
    <update id="insertColSalePbacPcfeMgmt" parameterType="alpass.ipt.col.sale.vo.ColSalePbacPcfeMgmtVo">
        /** ColSalePbacPcfeMgmtMapper_insertColSalePbacPcfeMgmt **/
        UPDATE TB_COLI_NTFC SET
            TAMT = #{tAmt}
            , NTFC_DIVD_YN = #{ntfcDivdYn}
            , DFPM_PAY_YN = #{dfpmPayYn}
            , NTFC_PRCS_STTS_CD = #{ntfcPrcsSttsCd}
            , VHCL_YN = #{vhclYn}
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE NTFC_NO = #{ntfcNo}
    </update>

    <!--
    Modifier l'avis de paiement !==고지서를 수정한다==!
    -->
    <update id="updateColSalePbacPcfeMgmtCncl" parameterType="alpass.ipt.col.sale.vo.ColSalePbacPcfeMgmtVo">
        /** ColSalePbacPcfeMgmtMapper_updateColSalePbacPcfeMgmtCncl **/
        UPDATE TB_COLI_NTFC SET
            CNCL_YN = #{cnclYn}
            , CNCL_DT = #{cnclDt}
            , NTFC_PRCS_STTS_CD = #{ntfcPrcsSttsCd}
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE NTFC_NO = #{ntfcNo}
    </update>

</mapper>