<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : !==  무관세통관허가증 관리 Mapper. ==!
(deKim)
-->
<mapper namespace="alpass.ipt.psc.cufr.mgmt.mapper.PscCufrPdlsMapper">

  <!--
  @TODO:번역필요 !== 무관세통관허가증 품목 목록 조회 ==!
  -->
  <select id="selectPscCufrPdlsList"  
    parameterType="alpass.ipt.psc.cufr.mgmt.vo.PscCufrPdlsVo" 
    resultType="alpass.ipt.psc.cufr.mgmt.vo.PscCufrPdlsVo"> 
      /* selectPscCufrPdlsList */
          SELECT
                A.CUFR_CSCL_WRPM_ID          /** Identifiant de l'acquit à caution  !== 무관세통관허가증ID ==! */
              , A.PDLS_SRNO                  /** N° de séquence de l'article !== 품목일련번호 ==! */
              , A.PDLS_NM                    /** Nom De L'Article !== 품목명 ==! */
              , A.PDLS_GCNT                  /** Nombre D'Articles !== 품목개수 ==! */
              , A.VHCL_PDLS_NO AS PDLS_NO                    /** N° D'Article !== 품목번호 ==! */
              , A.PDLS_BRND_NM               /** Marque de l'article !== 품목브랜드명 ==! */
              , A.PDLS_RGSR_NO               /** Numéro d'immatriculation de l'article !== 품목등록번호 ==! */
              , A.PDLS_SPFT_CN               /** Caractéristiques de l'article !== 품목특징내용 ==! */
              , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
              , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
              , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
              , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
              , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
          FROM   TB_PSCI_CUFR_CSCL_PDLS A
         WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
           AND  A.CUFR_CSCL_WRPM_ID = #{cufrCsclWrpmId}       /** Identifiant de l'acquit à caution  !== 무관세통관허가증ID ==! */
 
  </select>


  <!--
  @TODO:번역필요 !== 무관세통관허가증 품목 등록 ==!
  (deKim)
  -->
  <insert id="insertPscCufrPdls" parameterType="alpass.ipt.psc.cufr.mgmt.vo.PscCufrPdlsVo">
      /* insertPscCufrPdls */
      
        <selectKey keyProperty="pdlsSrno" order="BEFORE" resultType="java.math.BigDecimal">
          SELECT NVL(MAX(PDLS_SRNO),0)+1 FROM TB_PSCI_CUFR_CSCL_PDLS WHERE CUFR_CSCL_WRPM_ID = #{cufrCsclWrpmId}
        </selectKey>
    
        INSERT INTO TB_PSCI_CUFR_CSCL_PDLS
              (
                CUFR_CSCL_WRPM_ID            /** Identifiant de l'acquit à caution  !== 무관세통관허가증ID ==! */
              , PDLS_SRNO                    /** N° de séquence de l'article !== 품목일련번호 ==! */
              , PDLS_NM                      /** Nom De L'Article !== 품목명 ==! */
              , PDLS_GCNT                    /** Nombre D'Articles !== 품목개수 ==! */
              , VHCL_PDLS_NO                      /** N° D'Article !== 품목번호 ==! */
              , PDLS_BRND_NM                 /** Marque de l'article !== 품목브랜드명 ==! */
              , PDLS_RGSR_NO                 /** Numéro d'immatriculation de l'article !== 품목등록번호 ==! */
              , PDLS_SPFT_CN                 /** Caractéristiques de l'article !== 품목특징내용 ==! */
              , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
              , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
              , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
              , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
              , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
              )
              VALUES
              (
                #{cufrCsclWrpmId}            /** Identifiant de l'acquit à caution  !== 무관세통관허가증ID ==! */
              , #{pdlsSrno}                  /** N° de séquence de l'article !== 품목일련번호 ==! */
              , #{pdlsNm}                    /** Nom De L'Article !== 품목명 ==! */
              , #{pdlsGcnt}                  /** Nombre D'Articles !== 품목개수 ==! */
              , #{pdlsNo}                    /** N° D'Article !== 품목번호 ==! */
              , #{pdlsBrndNm}                /** Marque de l'article !== 품목브랜드명 ==! */
              , #{pdlsRgsrNo}                /** Numéro d'immatriculation de l'article !== 품목등록번호 ==! */
              , #{pdlsSpftCn}                /** Caractéristiques de l'article !== 품목특징내용 ==! */
              , 'N'                          /** Suppression On !== 삭제여부 ==! */
              , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
              , SYSTIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
              , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
              , SYSTIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
              )
  </insert>


  <!--
  @TODO:번역필요 !== 무관세통관허가증 품목 수정 ==!
  (deKim)
  -->
  <update id="updatePscCufrPdls" parameterType="alpass.ipt.psc.cufr.mgmt.vo.PscCufrPdlsVo">
      /* updatePscCufrPdls */
      UPDATE  TB_PSCI_CUFR_CSCL_PDLS SET 
                LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
              , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
              <if test="pdlsNm != null and pdlsNm != ''">
               ,PDLS_NM = #{pdlsNm}                         /** Nom De L'Article !== 품목명 ==! */
              </if>
              <if test="pdlsGcnt != null and pdlsGcnt != ''">
              , PDLS_GCNT = #{pdlsGcnt}                     /** Nombre D'Articles !== 품목개수 ==! */
              </if>
              <if test="pdlsNo != null and pdlsNo != ''">
              , VHCL_PDLS_NO = #{pdlsNo}                         /** N° D'Article !== 품목번호 ==! */
              </if>
              <if test="pdlsBrndNm != null and pdlsBrndNm != ''">
              , PDLS_BRND_NM = #{pdlsBrndNm}                /** Marque de l'article !== 품목브랜드명 ==! */
              </if>
              <if test="pdlsRgsrNo != null and pdlsRgsrNo != ''">
              , PDLS_RGSR_NO = #{pdlsRgsrNo}                /** Numéro d'immatriculation de l'article !== 품목등록번호 ==! */
              </if>
              <if test="pdlsSpftCn != null and pdlsSpftCn != ''">
              , PDLS_SPFT_CN = #{pdlsSpftCn}                /** Caractéristiques de l'article !== 품목특징내용 ==! */
              </if>

         WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
           AND  CUFR_CSCL_WRPM_ID = #{cufrCsclWrpmId}       /** Identifiant de l'acquit à caution  !== 무관세통관허가증ID ==! */
           AND  PDLS_SRNO = #{pdlsSrno}                     /** N° de séquence de l'article !== 품목일련번호 ==! */
  </update>


  <!--
  @TODO:번역필요 !== 무관세통관허가증 품목 삭제 ==!
  (deKim)
  -->
  <update id="deletePscCufrPdls" parameterType="alpass.ipt.psc.cufr.mgmt.vo.PscCufrPdlsVo">
      /* deletePscCufrPdls */
      DELETE  TB_PSCI_CUFR_CSCL_PDLS  
       WHERE  1=1                           
       AND  CUFR_CSCL_WRPM_ID = #{cufrCsclWrpmId}         /** Identifiant de l'acquit à caution  !== 무관세통관허가증ID ==! */
        
  </update>
	
</mapper>