<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dz.coc9.mappers.CocReportMapper">

    <resultMap id="CocReportResultMap" type="dz.coc9.service.dtococ.CocReportDto">
        <result property="reportRefNo" column="brq_ref_no"/>
        <result property="reportTypeCode" column="brq_tp"/>
        <result property="organizationCode" column="orgn_cd"/>
        <result property="reportInfoNature" column="inf_type"/>
        <result property="reportInfoDateTime" column="brq_dt_tm"/>
        <result property="reportInfoPlace" column="brq_post_nm"/>
        <result property="reportInfoTechnique" column="brq_tch_inf"/>
        <result property="reportInfoProcedure" column="brq_prcd"/>
        <result property="reportInfoAmendment" column="amnd_val"/>
        <result property="reportInfoLegalText" column="amnd_jrdq_txt"/>
        <result property="reportLatitude" column="brq_lat"/>
        <result property="reportLongitude" column="brq_long"/>
        <result property="currencyCode" column="curr_cd"/>
        <result property="totalCargoValue" column="amnd_val"/> <!-- أو cag_val لو موجود -->
        <result property="declarationNo" column="brq_dclr_no"/>
        <result property="validationStatus" column="vldt_stts"/>
        <result property="firstRegistrarId" column="frst_regst_id"/>
        <result property="firstRegisterDateTime" column="frst_rgsr_dttm"/>
        <result property="lastChangerId" column="last_chpr_id"/>
        <result property="lastChangeDateTime" column="last_chg_dttm"/>
        <result property="deleteFlag" column="del_yn"/>
    </resultMap>

    <select id="selectReports" resultMap="CocReportResultMap">
        SELECT
            brq_ref_no, sctr_cd, orgn_cd, brq_dt, dptm_cd, dptm_nm, inf_type,
            brq_dt_tm, brq_post_cd, brq_post_nm, brq_post_nm_sup, brq_tch_inf,
            brq_dclr_no, brq_prcd, inry_dptr_port, inry_arv_port, inry_ship_nm,
            inry_vyg_dt, amnd_val, amnd_jrdq_txt, cmrc_regs_no, nif_no, del_yn,
            frst_regst_id, frst_rgsr_dttm, last_chpr_id, last_chg_dttm, brq_tp,
            brq_long, brq_lat, vldt_stts, atch_file_id, typ_vyg, dlvr_regs_no,
            cmpny_nm, cmpny_typ, cmpny_addr, curr_cd
        FROM alpassint.tb_coc_brq
    </select>
    <select id="findAllReports" resultType="dz.coc9.service.dtococ.CocReportDto">

        /** selectChngList */
        SELECT
        'false' AS chkSel,
        B.RPRT_REF_NO,
        B.RPRT_TP_CD,
        B.ORGN_CD,
        B.RPRT_INF_NTR,
        TO_CHAR(B.RPRT_INF_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS RPRT_INF_DTTM,
        B.RPRT_INF_PLC,
        B.RPRT_LAT,
        B.RPRT_LONG,
        B.RPRT_INF_TCH,
        B.DCLR_NO,
        B.RPRT_INF_PRCD,
        B.RPRT_INF_AMD,
        B.CURR_CD,
        B.RPRT_INF_JRDQ_TXT,
        B.ATCH_FILE_ID,
        B.CAG_VAL_TTL,
        B.VLDT_STTS,
        B.OPRN_REF_NO,
        B.unknown_yn,
        B.chng_rsn,
        B.USE_YN,
        B.DEL_YN,
        B.FRST_REGST_ID,
        TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        B.LAST_CHPR_ID,
        TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM alpassint.TB_COC_RPRT B
        JOIN alpassint.TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        WHERE B.DEL_YN = 'N'
        AND B.chng_yn = 'Y'
        <if test='vldtStts != null'>
            AND B.VLDT_STTS = #{vldtStts}
        </if>
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM alpassint.TB_POTI_ORGN
        WHERE DEL_YN = 'N'

        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        <if test='srchRprtRefNo != null'>
            AND LOWER(B.RPRT_REF_NO) LIKE '%' || LOWER(#{srchRprtRefNo}) || '%'
        </if>
        <if test='srchVldtStts != null'>
            AND LOWER(B.VLDT_STTS) LIKE '%' || LOWER(#{srchVldtStts}) || '%'
        </if>
        <if test='srchRprtTpCd != null'>
            AND B.RPRT_TP_CD = #{srchRprtTpCd}
        </if>
        <if test="srchOrgnCd != null and srchOrgnCd != ''">
            AND A.ORGN_MGMT_CD IN (
            SELECT ORGN_MGMT_CD
            FROM alpassint.TB_POTI_ORGN
            WHERE DEL_YN = 'N'
            START WITH ORGN_CD = #{srchOrgnCd}
            CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
            )
        </if>
        <if test='srchRprtInfNtr != null'>
            AND LOWER(B.RPRT_INF_NTR) LIKE '%' || LOWER(#{srchRprtInfNtr}) || '%'
        </if>
        <if test="rprtRqstDtFrom != null and rprtRqstDtFrom != '' and rprtRqstDtTo != null and rprtRqstDtTo != ''">
            AND TO_CHAR(B.FRST_RGSR_DTTM, 'YYYYMMDD') <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{rprtRqstDtFrom}, 'DD/MM/YYYY'),
            'YYYYMMDD')
            AND TO_CHAR(B.FRST_RGSR_DTTM, 'YYYYMMDD') <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{rprtRqstDtTo}, 'DD/MM/YYYY'),
            'YYYYMMDD')
        </if>
        ORDER BY TO_CHAR(B.FRST_RGSR_DTTM,'YYYYMMDD') DESC

    </select>
</mapper>
