<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dz.coc9.mappers.GenericBatchMapper">

    <!-- Insert one row with dynamic columns -->
    <insert id="batchInsert" parameterType="map">
        INSERT INTO ${schemasName}.${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="fields" item="field" separator=",">
                ${field}
            </foreach>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <foreach collection="fields" item="field" separator=",">
                #{data[${field}]}
            </foreach>
        </trim>
    </insert>

    <select id="checkTableExists" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM information_schema.tables
            WHERE table_schema = '${schemaName}'
              AND table_name = '${tableName}'
        );
    </select>
    <!-- countTableName -->
    <select id="countByTableName" resultType="long">
        SELECT count(*) FROM ${schemasName}.${tableName}
    </select>

    <insert id="copyCsvFile">
        COPY ${schemasName}.${tableName}
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            <foreach collection="fields" item="field" separator=",">
                ${field}
            </foreach>
        </trim>
        FROM '${filePath}'
        DELIMITER ','
        CSV HEADER;
    </insert>


</mapper>
