<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarIptExpcmdtbrngMapper">

	<!--
    [Rechercher] Consulter la liste des "Demande d'introduction des marchandises à exporter" !== "수출물품 반입 신청" 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectExpcmdtbrngList" resultType="alpass.ipt.car.bnwrhs.expcmdtbrng.vo.CarExpcmdtbrngVo">
    /* alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarIptExpcmdtbrngMapper.selectExpcmdtbrngList */
    <include refid="pagination.header" ></include>
    SELECT
        A.EXP_CMDT_BRNG_RQNO		/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
			, A.RQST_CO_NM			/**  Nom d'opérateur demandeur  !== 신청업체명 ==!  */
			, A.RQST_CO_ADDR_NM		/**  Adresse d'opérateur demandeur  !== 신청업체주소명 ==!  */
			, A.RQST_CO_TLPH_NO		/**  N° De Téléphone D'Opérateur Demandeur  !== 신청업체전화번호 ==!  */
			, A.RQST_CO_EML			/**  E-mail de l’opérateur demandeur  !== 신청업체이메일 ==!  */
			, A.EXPPN_NIF			/**  NIF de l'exportateur  !== 수출자사업자등록번호 ==!  */
			, A.EXPPN_NM			/**  Nom De L'Exportateur  !== 수출자명 ==!  */
			, A.EXPPN_ADDR_NM		/**  Adresse De L'Exportateur  !== 수출자주소명 ==!  */
			, A.EXPPN_TLPH_NO		/**  Téléphone De L'Exportateur  !== 수출자전화번호 ==!  */
			, A.EXPPN_EML			/**  Email De L'Exportateur  !== 수출자이메일 ==!  */
			, A.IBOBZ_CD			/**  Code de zone sous douane  !== 보세구역코드 ==!  */
	    	, (SELECT B.IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.DEL_YN = 'N' AND B.IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM /* Nom de la zone sous douane !== 보세구역명 ==!*/
			, A.LDP_IBOBZ_CD			/** Code de zone sous douane de chargement !== 적재지보세구역코드 ==! */
			, (SELECT B.IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.DEL_YN = 'N' AND B.ibobz_cd = A.LDP_IBOBZ_CD) AS LDP_IBOBZ_NM
			, A.CSCL_PLC_TP_CD			/** Type de lieu de dédouanement !== 통관장소구분 ==! */
			, A.JRSD_ORGN_CD		/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
			, (SELECT B.ORGN_NM	FROM TB_POTI_ORGN B WHERE B.ORGN_CD = A.JRSD_ORGN_CD) AS JRSD_ORGN_NM /** Service compétent !== 관할조직 ==! */
			, TO_CHAR(TO_DATE(A.BRNG_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS BRNG_PRNG_DT		/**  Date de réintroduction prévue  !== 반입예정일자 ==!  */
			, A.BL_NO				/**  N° De Bl  !== BL번호 ==!  */
			, A.PDLS_NM				/**  Nom De L'Article  !== 품목명 ==!  */
			, A.PCKG_GCNT			/**  Nombre De Colis  !== 포장개수 ==!  */
			, A.TTWG				/**  Poids Brut  !== 총중량 ==!  */
			, A.TRNP_MEAN_CD		/** Code de mode de transport !== 운송방법코드 ==! */
			, A.CARR_NIF			/** NIF Transporteur !== 운송사사업자등록번호 ==! */
			, A.CARR_CD				/** Code De Société De Transport !== 운송사코드 ==! */
			, A.CARR_NM				/** Transporteur !== 운송사명 ==! */
			, A.CARR_ADDR_NM		/** Adresse De Société De Transport !== 운송사주소명 ==! */
			, A.RELA_NO				/**  Numéro Concerné  !== 관련번호 ==!  */
			, TO_CHAR(A.trsn_dttm, 'DD/MM/YYYY') AS trsn_dttm	/**  Date et heure de transmission  !== 전송일시 ==!  */
			, A.TRSN_CO_CD			/**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
			, TO_CHAR(A.audt_dttm, 'DD/MM/YYYY') AS audt_dttm	/**  Date De L'Étude  !== 심사일시 ==!  */
			, A.AUDT_PT_CD			/**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			, A.AUDT_RSLT_CN		/**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID		/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID		/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			, B.PRCS_STTS_CD		/**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			, B.AUDT_EMP_ID			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
      , (SELECT LTRIM(CONCAT(L.EMP_FMNM,' ',L.EMP_NM))
          FROM TB_POTI_EMP L
         WHERE L.DEL_YN = 'N'
           AND L.PBSR_NO = B.AUDT_EMP_ID) AS AUDT_EMP_NM  /** Nom de l'insepcteur !== 심사직원명 ==! */
      , TO_CHAR(B.PRCS_DTTM, 'DD/MM/YYYY') AS PRCS_DTTM  /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
    FROM TB_CARI_EXP_CMDT_BRNG A
    	LEFT JOIN TB_CARI_CAG_PRCS_BRKD B
    	  ON A.EXP_CMDT_BRNG_RQNO = B.CAG_RQST_NO
        AND B.CAG_RQST_TP_CD  = 'MCI'
        AND B.RQST_DGCNT = 0
    WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
    <if test="prcsSttsCd != null and prcsSttsCd != ''">
      AND B.PRCS_STTS_CD = #{prcsSttsCd} /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
    </if>
    <if test="expCmdtBrngRqno != null and expCmdtBrngRqno != ''">
      AND A.EXP_CMDT_BRNG_RQNO = REPLACE(#{expCmdtBrngRqno},'-','') /**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
    </if>
  	<if test="ibobzCd != null and ibobzCd != ''">
	  AND A.IBOBZ_CD = #{ibobzCd} /**  Code de zone sous douane  !== 보세구역코드 ==!  */
  	</if>
    <if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
			AND (
				(
					A.TRSN_DTTM <![CDATA[ >= ]]> TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY')       /**  Date et heure de transmission  !== 전송일시 ==!  */
					AND A.TRSN_DTTM <![CDATA[ <= ]]> TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999   /**  Date et heure de transmission  !== 전송일시 ==!  */
				) OR (
					A.LAST_CHG_DTTM <![CDATA[ >= ]]> TO_TIMESTAMP(#{searchKeywordFrom}, 'DD/MM/YYYY') /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
					AND A.LAST_CHG_DTTM <![CDATA[ <= ]]> TO_TIMESTAMP(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999 /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
				)
			)
    </if>
    <if test="(brngPrngDtFrom != null and brngPrngDtFrom != '') and (brngPrngDtTo != null and brngPrngDtTo != '')">
      AND TO_DATE(A.BRNG_PRNG_DT, 'YYYYMMDD') BETWEEN TO_DATE(#{brngPrngDtFrom}, 'DD/MM/YYYY') AND TO_DATE(#{brngPrngDtTo}, 'DD/MM/YYYY') /**  Date de réintroduction prévue  !== 반입예정일자 ==!  */
    </if>
    <choose>
      <when test="@alpass.ipt.car.com.util.CarMyBatisUtil@isEqualsStr(scrnTp, '1')">
        AND B.PRCS_STTS_CD IN ('B02', 'D06', 'D08', 'D09', 'D10')
        AND B.AUDT_EMP_ID  = #{pbsrNo}
      </when>
      <otherwise>
		    AND B.PRCS_STTS_CD IN ('B02', 'D01', 'D06', 'D08', 'D09', 'D10')
		    AND A.JRSD_ORGN_CD LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'
      </otherwise>
    </choose>
    ORDER BY B.PRCS_DTTM DESC, A.LAST_CHG_DTTM DESC
    <include refid="pagination.footer" ></include>
  </select>

	<!--
    [Rechercher] Consulter les détails de la "Demande d'introduction des marchandises à exporter" !== "수출물품 반입 신청" 상세내역을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectExpcmdtbrng" resultType="alpass.ipt.car.bnwrhs.expcmdtbrng.vo.CarExpcmdtbrngVo">
    /* alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarIptExpcmdtbrngMapper.selectExpcmdtbrng */
    SELECT
        A.EXP_CMDT_BRNG_RQNO		/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
			, A.RQST_CO_NM			/**  Nom d'opérateur demandeur  !== 신청업체명 ==!  */
			, A.RQST_CO_ADDR_NM		/**  Adresse d'opérateur demandeur  !== 신청업체주소명 ==!  */
			, A.RQST_CO_TLPH_NO		/**  N° De Téléphone D'Opérateur Demandeur  !== 신청업체전화번호 ==!  */
			, A.RQST_CO_EML			/**  E-mail de l’opérateur demandeur  !== 신청업체이메일 ==!  */
			, A.EXPPN_NIF			/**  NIF de l'exportateur  !== 수출자사업자등록번호 ==!  */
			, A.EXPPN_NM			/**  Nom De L'Exportateur  !== 수출자명 ==!  */
			, A.EXPPN_ADDR_NM		/**  Adresse De L'Exportateur  !== 수출자주소명 ==!  */
			, A.EXPPN_TLPH_NO		/**  Téléphone De L'Exportateur  !== 수출자전화번호 ==!  */
			, A.EXPPN_EML			/**  Email De L'Exportateur  !== 수출자이메일 ==!  */
			, A.IBOBZ_CD			/**  Code de zone sous douane  !== 보세구역코드 ==!  */
			, (SELECT B.IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.DEL_YN = 'N' AND B.ibobz_cd = A.IBOBZ_CD) AS IBOBZ_NM /* Nom de la zone sous douane !== 보세구역명 ==!*/
			, A.LDP_IBOBZ_CD		/** Code de zone sous douane de chargement !== 적재지보세구역코드 ==! */
			, (SELECT B.IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.DEL_YN = 'N' AND B.ibobz_cd = A.LDP_IBOBZ_CD) AS LDP_IBOBZ_NM
			, A.CSCL_PLC_TP_CD		/** Type de lieu de dédouanement !== 통관장소구분 ==! */
			, A.JRSD_ORGN_CD		/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
			, C.ORGN_NM AS JRSD_ORGN_NM    /** Service compétent !== 관할조직 ==! */
			, C.JRSD_CSTM_CD
			, C.JRSD_CSTM_NM
			, TO_CHAR(TO_DATE(A.BRNG_PRNG_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS BRNG_PRNG_DT		/**  Date de réintroduction prévue  !== 반입예정일자 ==!  */
			, A.BL_NO				/**  N° De Bl  !== BL번호 ==!  */
			, A.PDLS_NM				/**  Nom De L'Article  !== 품목명 ==!  */
			, A.PCKG_GCNT			/**  Nombre De Colis  !== 포장개수 ==!  */
			, A.TTWG				/**  Poids Brut  !== 총중량 ==!  */
			, A.TRNP_MEAN_CD		/** Code de mode de transport !== 운송방법코드 ==! */
			, A.CARR_NIF			/** NIF Transporteur !== 운송사사업자등록번호 ==! */
			, A.CARR_CD				/** Code De Société De Transport !== 운송사코드 ==! */
			, A.CARR_NM				/** Transporteur !== 운송사명 ==! */
			, A.CARR_ADDR_NM		/** Adresse De Société De Transport !== 운송사주소명 ==! */
			, A.RELA_NO				/**  Numéro Concerné  !== 관련번호 ==!  */
			, TO_CHAR(A.trsn_dttm, 'DD/MM/YYYY') AS trsn_dttm	/**  Date et heure de transmission  !== 전송일시 ==!  */
			, A.TRSN_CO_CD			/**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
			, TO_CHAR(A.audt_dttm, 'DD/MM/YYYY HH24:mi:ss') AS audt_dttm	/**  Date De L'Étude  !== 심사일시 ==!  */
			, A.AUDT_PT_CD			/**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			, A.AUDT_RSLT_CN		/**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID		/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID		/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			, B.PRCS_STTS_CD		/**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			, B.AUDT_EMP_ID			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
      , (SELECT EMP_NM
          FROM TB_POTI_EMP L
         WHERE L.DEL_YN = 'N'
           AND L.PBSR_NO = B.AUDT_EMP_ID) AS AUDT_EMP_NM
      , TO_CHAR(B.PRCS_DTTM, 'DD/MM/YYYY') AS PRCS_DTTM
    FROM TB_CARI_EXP_CMDT_BRNG A
			LEFT JOIN TB_CARI_CAG_PRCS_BRKD B
    		ON A.EXP_CMDT_BRNG_RQNO = B.CAG_RQST_NO
        AND B.CAG_RQST_TP_CD  = 'MCI'
        AND B.RQST_DGCNT = 0
      LEFT JOIN (SELECT
                     C1.ORGN_CD
                   , C1.ORGN_NM
                   , C2.ORGN_CD AS JRSD_CSTM_CD
                   , C2.ORGN_NM AS JRSD_CSTM_NM
                 FROM TB_POTI_ORGN C1
                   LEFT JOIN TB_POTI_ORGN C2
                     ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
                 WHERE C1.DEL_YN = 'N'
                ) C
        ON A.JRSD_ORGN_CD = C.ORGN_CD
    WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
			AND A.EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} /**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
  </select>

	<!--
    [Rechercher] Consulter la liste des conteneurs de la demande d'introduction des marchandises à exporter !== 수출물품 반입신청 컨테이너 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectExpcmdtbrngCntrList" resultType="alpass.ipt.car.bnwrhs.expcmdtbrng.vo.CarExpcmdtbrngCntrVo">
    /* alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarIptExpcmdtbrngMapper.selectExpcmdtbrngCntrList */
    SELECT
			  A.EXP_CMDT_BRNG_RQNO				/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
			, A.CNTR_SRNO				/**  N° De Séquence Du Conteneur  !== 컨테이너일련번호 ==!  */
			, A.CNTR_NO				/**  N° De Conteneur  !== 컨테이너번호 ==!  */
			, A.CNTR_TP_CD				/**  Code De Type De Conteneur  !== 컨테이너구분코드 ==!  */
			, A.SEAL_NO1				/**  N° De Scellé1  !== 봉인번호1 ==!  */
			, A.SEAL_CHPN1				/**  Responsable de scellé 1  !== 봉인담당자1 ==!  */
			, A.SEAL_NO2				/**  N° De Scellé2  !== 봉인번호2 ==!  */
			, A.SEAL_CHPN2				/**  Responsable de scellé 2  !== 봉인담당자2 ==!  */
			, A.SEAL_NO3				/**  N° De Scellé3  !== 봉인번호3 ==!  */
			, A.SEAL_CHPN3				/**  Responsable de scellé 3  !== 봉인담당자3 ==!  */
			, A.ECNTR_WGHT				/**  Tare De Conteneur(S) À Vide  !== 공컨테이너중량 ==!  */
			, A.TTWG				/**  Poids Brut  !== 총중량 ==!  */
			, A.PCKG_GCNT				/**  Nombre De Colis  !== 포장개수 ==!  */
			, A.PCKG_UT_CD				/**  Code De L'Unité De Colis  !== 포장단위코드 ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
    FROM TB_CARI_EXP_CMDT_BRNG_CNTR A
    WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
      AND A.EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} /**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
    ORDER BY A.CNTR_SRNO
  </select>

	<!--
		[Modifier] Modifier les infos sur le contrôle de la demande d'introduction des marchandises à exporter. !== 수출물품 반입신청 심사정보를 수정한다. ==!
    (Yangjip Kim)
	-->
	<update id="updateExpcmdtbrngAudt" parameterType="alpass.ipt.car.bnwrhs.expcmdtbrng.vo.CarExpcmdtbrngVo">
  	/* alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarIptExpcmdtbrngMapper.updateExpcmdtbrngAudt */
		UPDATE
			TB_CARI_EXP_CMDT_BRNG
		SET
			  LAST_CHPR_ID      = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM     = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		  <if test="audtDttm != null and audtDttm != ''">
      , AUDT_DTTM         = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')
      </if>
		  <if test="audtPtCd != null and audtPtCd != ''">
      , AUDT_PT_CD        = #{audtPtCd}
      </if>
		  <if test="audtRsltCn != null and audtRsltCn != ''">
      , AUDT_RSLT_CN      = #{audtRsltCn}
      </if>
		WHERE
			EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} /**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
	</update>

	<!--
		[Modifier] Modifier le N° de déclaration à l'export. !== 수출신고번호를 수정한다. ==!
    (Yangjip Kim)
	-->
	<update id="updateRelaNo" parameterType="alpass.ipt.car.bnwrhs.expcmdtbrng.vo.CarExpcmdtbrngVo">
  	/* alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarIptExpcmdtbrngMapper.updateRelaNo */
		UPDATE
			TB_CARI_EXP_CMDT_BRNG
		SET
		    RELA_NO = #{relaNo}				/**  Numéro Concerné  !== 관련번호 ==!  */
			, LAST_CHPR_ID      = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM     = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
			EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} /**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
	</update>

	<!--
    [Rechercher] le N° de déclaration à l'export (N° de DED). !== 수출신고번호(DED신고서번호)를 조회한다. ==!
    (Heesung Jeon)
  -->
  <select id="selectDtlDcshNo" resultType="alpass.ipt.car.bnwrhs.expcmdtbrng.vo.CarExpcmdtbrngVo">
	/* alpass.ipt.car.bnwrhs.expcmdtbrng.mapper.CarIptExpcmdtbrngMapper.selectDtlDcshNo */
	  SELECT CASE WHEN COUNT(*) > 0 THEN 'N' ELSE 'Y' END USE_PSBL_YN
	  FROM TB_CARI_EXP_CMDT_BRNG A/* CARI_수출물품_반입 */
	  WHERE 1 = 1
		AND A.DEL_YN = 'N'
		AND A.RELA_NO = REPLACE(#{relaNo}, '-', '')
		AND NOT EXISTS (SELECT 1
						FROM ALPASSINT.TB_CARI_CAG_PRCS_BRKD /* CARI_화물_처리_내역 */
						WHERE DEL_YN = 'N'
						  AND PRCS_STTS_CD IN ('D09')
						  AND CAG_RQST_NO = A.EXP_CMDT_BRNG_RQNO
						)
  </select>
</mapper>
