<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.acnt.mapper.ColAcntSeoaPcdnMapper">

    <!--
    Consulter la liste de débit de l'état de l'arrêté journalier !==일일결산현황 차변 목록을 조회한다==!
    -->
    <select id="selectColSeoaPcdnList" parameterType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo" resultType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo">
    /* ColAcntSeoaPcdnMapper_selectColSeoaPcdnList */
    <include refid="pagination.header"/>
        SELECT    DECODE(A.RCVE_NO, NULL, (SELECT LBL_NM FROM TB_COM_LBL_LANG WHERE LANG_CD = 'KO' AND LBL_ID = 'L_SUM_AMT'), A.RCVE_NO) AS RCVE_NO
                , TO_CHAR(TO_DATE(RCVE_DT , 'YYYYMMDD'),  'DD/MM/YYYY') AS RCVE_DT
                , COALESCE(SUM(CASE  WHEN T.PYMN_PT_CD = '001' THEN T.PYMN_AMT  END), 0) AS DBTOR_CSH
                , COALESCE(SUM(CASE  WHEN T.PYMN_PT_CD = '002' THEN T.PYMN_AMT  END), 0) AS DBTOR_BNK_CHCK
                , COALESCE(SUM(CASE  WHEN T.PYMN_PT_CD = '003' THEN T.PYMN_AMT  END), 0) AS DBTOR_GRNY_BOND
                , COALESCE(SUM(CASE  WHEN T.PYMN_PT_CD = '004' THEN T.PYMN_AMT  END), 0) AS DBTOR_POST_ALTR_AC
                , COALESCE(SUM(CASE  WHEN T.PYMN_PT_CD IN ('005', '006', '007') THEN T.PYMN_AMT END), 0) AS DBTOR_DGTZ_PYMN
        FROM      TB_COLI_RCVE A, TB_COLI_NTFC B
                , TB_COLI_PYMN T
        WHERE   A.DEL_YN = 'N'
          AND   A.RCVE_NO = T.RCVE_NO
          AND   A.NTFC_NO = B.NTFC_NO
          AND   B.DEL_YN = 'N'
          AND   B.CNCL_YN = 'N'
          AND   T.DEL_YN = 'N'
        <if test="sctrCd != null and sctrCd != ''">
            AND  A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test="cstmCd != null and cstmCd != ''">
            AND A.CSTM_CD = #{cstmCd}
        </if>
        <if test="deptCd != null and deptCd != ''">
            AND  (A.DEPT_CD = #{deptCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                        OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                                                                                          OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
            AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
                    CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
                         THEN B.NTFC_PT_CD = 'A'
                         ELSE B.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
                    END
            ELSE TRUE END
        </if>
        <if test='rqstDtFrom != null and rqstDtFrom !="" and rqstDtTo != null and rqstDtTo !="" '>
            AND RCVE_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND
            TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test="cahr != null and cahr != ''">
            AND   A.REGST_ID = #{cahr}
        </if>
        GROUP BY ROLLUP ((A.RCVE_NO, A.RCVE_DT))
        ORDER BY (CASE WHEN A.RCVE_DT IS NULL THEN 2 ELSE 1 END), A.RCVE_DT DESC
    <include refid="pagination.footer"/>
    </select>

    <!--
    Consulter la liste de crédit de l'état de l'arrêté journalier !==일일결산현황 대변 목록을 조회한다==!
    -->
    <select id="selectColSeoaPcdnCastList" parameterType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo" resultType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo">
    <include refid="pagination.header"/>
    SELECT
        DECODE(A.EXPN_CRPP_NO, NULL, (SELECT LBL_NM FROM TB_COM_LBL_LANG WHERE LANG_CD = 'KO' AND LBL_ID = 'L_SUM_AMT'), A.EXPN_CRPP_NO) AS EXPN_CRPP_NO
      , COALESCE(SUM(CASE WHEN T.CAST_ACCT_CD = '100002' THEN T.EXPN_AMT END),0) AS CAST_CSH
      , COALESCE(SUM(CASE WHEN T.CAST_ACCT_CD = '110005' THEN T.EXPN_AMT END),0) AS CAST_BNK_CHCK
      , COALESCE(SUM(CASE WHEN T.CAST_ACCT_CD = '120005' THEN T.EXPN_AMT END),0) AS CAST_GRNY_BOND
      , COALESCE(SUM(CASE WHEN T.CAST_ACCT_CD = '520002' THEN T.EXPN_AMT END),0) AS CAST_POST_ALTR_AC
      , COALESCE(SUM(CASE WHEN T.CAST_ACCT_CD = '000000' THEN T.EXPN_AMT END),0) AS CAST_DGTZ_PYMN
    FROM TB_COLI_EXPN_CRPP A
    LEFT OUTER JOIN TB_COLI_EXPN_CRPP_DTL T  ON (A.EXPN_CRPP_NO = T.EXPN_CRPP_NO AND A.DLNG_PT_CD = T.DLNG_PT_CD)
    WHERE  A.DEL_YN = 'N'
    <if test="sctrCd != null and sctrCd != ''">
      AND  A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
    </if>
    <if test='cstmCd != null and cstmCd !=""'>
      AND  A.CSTM_CD = #{cstmCd}
    </if>
    <if test='deptCd != null and deptCd !=""'>
      AND  (A.DEPT_CD = #{deptCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                  OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                                                                                    OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
    </if>
    <if test='rqstDtFrom != null and rqstDtFrom !="" and rqstDtTo != null and rqstDtTo !="" '>
      AND A.EXPN_CRPP_RGSR_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND
      TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')
    </if>
    GROUP BY  ROLLUP ((A.EXPN_CRPP_NO, A.EXPN_CRPP_RGSR_DT))
    ORDER BY (CASE WHEN A.EXPN_CRPP_NO IS NULL THEN 2 ELSE 1 END), A.EXPN_CRPP_RGSR_DT DESC
    <include refid="pagination.footer"/>
    </select>

    <!--
    Consulter la liste des bordereaux des chèques du débit !==차변 수표명세서 목록을 조회한다==!
    -->
    <select id="selectColDbtorChckDtstList" parameterType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo" resultType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo">
    /* ColAcntSeoaPcdnMapper_selectColDbtorChckDtstList */
        SELECT  (ROW_NUMBER() OVER()) AS ROW_NUMBER
              , *
        FROM (
            SELECT *
            FROM (
                SELECT  A.RCVE_NO
                      , A.RCVE_DT
                      , B.CHCK_NO
                      , TO_CHAR(TO_DATE(B.CHCK_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS CHCK_DT
                      , B.BNK_BRNH_CD
                      , (SELECT BNK_BRNH_NM FROM TB_COM_BNK_BRNH_CD WHERE BNK_BRNH_CD = B.BNK_BRNH_CD ) AS
                      BNK_BRNH_NM
                      , B.RCVE_BNK_CD
                      , (SELECT BNK_NM FROM TB_COM_BNK_CD WHERE BNK_CD = B.RCVE_BNK_CD ) AS RCVE_BNK_NM
                      , B.TXPR_NM
                      , ROUND(SUM(B.PYMN_AMT), 2) AS ROW_SUM
                FROM  TB_COLI_RCVE A, TB_COLI_PYMN B, TB_COLI_NTFC C
                WHERE A.DEL_YN = 'N'
                  AND B.DEL_YN = 'N'
                  AND A.RCVE_NO = B.RCVE_NO
                  AND A.NTFC_NO = C.NTFC_NO
                  AND B.PYMN_PT_CD = #{sprtVal}
                <if test="sctrCd != null and sctrCd != ''">
                  AND  C.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
                </if>
                <if test='cstmCd != null and cstmCd !=""'>
                  AND  C.CSTM_CD = #{cstmCd}
                </if>
                <if test='deptCd != null and deptCd !=""'>
                    AND  (A.DEPT_CD = #{deptCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                    OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                    OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
                    AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
                    CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
                         THEN C.NTFC_PT_CD = 'A'
                         ELSE C.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
                    END
                    ELSE TRUE END
                </if>
                <if test='rqstDtFrom != null and rqstDtFrom !="" and rqstDtTo != null and rqstDtTo !="" '>
                  AND A.RCVE_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD')
                  AND TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')
                </if>
                <if test='chckKndCd != null and chckKndCd !=""'>
                  AND B.CHCK_KND_CD = #{chckKndCd}
                </if>
                  AND PYMN_AMT != 0
                GROUP BY A.RCVE_NO, A.RCVE_DT, B.CHCK_NO, B.CHCK_DT, B.BNK_BRNH_CD, B.RCVE_BNK_CD, B.TXPR_NM
            ) AA
            WHERE 1=1
            <if test='underOver50k != null and underOver50k !=""'>
                <choose>
                    <when test='underOver50k.equals("under")'>
                        AND AA.ROW_SUM <![CDATA[ <= ]]> 500000
                    </when>
                    <when test='underOver50k.equals("over")'>
                        AND AA.ROW_SUM <![CDATA[ > ]]> 500000
                    </when>
                    <otherwise></otherwise>
                </choose>
            </if>
            ORDER BY AA.RCVE_DT ASC
        )
    </select>

    <!--
    Consulter la liste des bordereaux des obligations du débit !==차변 보증채권 명세서 목록을 조회한다==!
    -->
    <select id="selectColDbtorGrnyBondDtstList" parameterType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo" resultType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo">
      /* ColAcntSeoaPcdnMapper_selectColDbtorGrnyBondDtstList */
      SELECT  (ROW_NUMBER() OVER()) AS ROW_NUMBER
            , A.RCVE_NO
            , A.RCVE_DT
            , B.CHCK_NO
            , TO_CHAR(TO_DATE(B.XPIR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS XPIR_DT
            , B.TXPR_NM
            , B.BNK_BRNH_CD
            , (SELECT BNK_BRNH_NM FROM TB_COM_BNK_BRNH_CD WHERE BNK_BRNH_CD = B.BNK_BRNH_CD ) AS BNK_BRNH_NM
            , NVL(SUM(B.PYMN_AMT + B.CRDT_INST_AMT + B.PCFE_AMT), 0) AS ROW_SUM
      FROM TB_COLI_RCVE A, TB_COLI_PYMN B, TB_COLI_NTFC C
      WHERE A.DEL_YN = 'N'
        AND A.NTFC_NO = C.NTFC_NO
        AND C.DEL_YN = 'N'
        AND C.CNCL_YN = 'N'
        AND A.RCVE_NO = B.RCVE_NO
        AND B.PYMN_PT_CD = #{sprtVal}
      <if test="sctrCd != null and sctrCd != ''">
                AND  A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
            </if>
            <if test='cstmCd != null and cstmCd !=""'>
                AND  A.CSTM_CD = #{cstmCd}
            </if>
            <if test='deptCd != null and deptCd !=""'>
                AND  (A.DEPT_CD = #{deptCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
                AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
                CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
                     THEN C.NTFC_PT_CD = 'A'
                     ELSE C.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
                END
                ELSE TRUE END
            </if>
            <if test='rqstDtFrom != null and rqstDtFrom !="" and rqstDtTo != null and rqstDtTo !="" '>
                AND A.RCVE_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND
                TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')
            </if>
      AND PYMN_AMT != 0
      GROUP BY A.RCVE_NO, A.RCVE_DT, B.CHCK_NO, B.XPIR_DT, B.TXPR_NM, B.BNK_BRNH_CD
    </select>


    <!--
    Consulter la liste des bordereaux de crédit !==대변 명세서 목록을 조회한다==!
    -->
    <select id="selectColCastDtstList" parameterType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo" resultType="alpass.ipt.col.com.vo.ColAcntSeoaPcdnVo">
      /* ColAcntSeoaPcdnMapper_selectColCastDtstList */
      SELECT (ROW_NUMBER() OVER()) AS ROW_NUMBER
      , AA.*
      , BB.CHCK_NO -- 수표번호
      , BB.CHCK_DT -- 수표일자
      , BB.RCVE_BNK_CD -- 수납은행코드
      ,(SELECT BNK_NM FROM TB_COM_BNK_CD WHERE BNK_CD = BB.RCVE_BNK_CD) AS RCVE_BNK_NM -- 은행명
      , BB.BNK_BRNH_CD -- 은행지점코드
      , BB.TXPR_NM -- 발행인(납세자)
      FROM (
      SELECT A.EXPN_CRPP_NO
      , SUM(B.EXPN_AMT) ROW_SUM
      , A.EXPN_CRPP_RGSR_DT
      , A.REFF_NO
      FROM TB_COLI_EXPN_CRPP A,
      ( SELECT EXPN_CRPP_NO
      , EXPN_AMT
      , DLNG_PT_CD
                FROM 	TB_COLI_EXPN_CRPP_DTL
                WHERE 	CAST_ACCT_CD = #{sprtVal}
                AND DEL_YN = 'N'
            ) B
            WHERE 	A.EXPN_CRPP_NO = B.EXPN_CRPP_NO AND A.DLNG_PT_CD = B.DLNG_PT_CD
            <if test="orgnCd != null and orgnCd != ''">
                AND  (A.DEPT_CD = #{orgnCd} OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                    OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))
                OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
            </if>
            GROUP BY A.EXPN_CRPP_NO, A.EXPN_CRPP_RGSR_DT, A.REFF_NO
        ) AA, TB_COLI_PYMN_ORDER BB
        WHERE 	AA.REFF_NO = BB.PYMN_ORDER_NO(+)
    </select>

    <!--
    Consulter le numéro de RIT avec le code de service !== 조직코드로 RIT번호를 조회한다 ==!
    -->
    <select id="selectRitAcNoByOrgnCd" parameterType="hashMap" resultType="hashMap">
        /* ColAcntSeoaPcdnMapper_selectRitAcNoByOrgnCd */
        SELECT  REPLACE(A.RIT_AC_NO, ' ', '') AS RIT_AC_NO
              , CASE WHEN A.POST_CD != '' AND A.POST_CD IS NOT NULL
                     THEN (SELECT WLY_NM_${langCd} FROM TB_COM_WLY_POST_CD WHERE POST_CD = A.POST_CD)
                ELSE ''
                END AS WLY_NM
        FROM TB_POTI_ORGN A
        WHERE A.ORGN_CD = #{orgnCd}
    </select>
</mapper>