<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.acnt.mapper.ColAcntAcNoMgmtMapper">

  <!--
  Consulter la liste des numéro de compte !==회계계정관리 목록을 조회한다==!
  -->
  <select id="selectColAcntAcNoMgmtList" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcNoMgmtVo"
    resultType="alpass.ipt.col.acnt.vo.ColAcntAcNoMgmtVo">
    /** ColAcntAcNoMgmt.selectColAcntAcNoMgmtList **/
    <include refid="pagination.header"/>
           SELECT A.ACCT_CD                                            AS ACCT_CD                  /** N° de compte !== 계정코드 ==! */
                , A.ACCT_TP_CD                                         AS ACCT_TP_CD               /** Type d'avis !== 계정구분코드 ==! */
                , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY')                AS APLY_STRT_DT             /** Date De Début De L'Application !== 적용시작일자 ==! */
                , A.SNB_TP_CD                                          AS SNB_TP_CD                /** Désignation du journal auxiliaire !== 보조기입장구분코드 ==! */
                , A.ACCT_CD_NM                                         AS ACCT_CD_NM               /** Intitulé du compte !== 계정코드명 ==! */
                , A.ACCT_DTL_CD                                        AS ACCT_DTL_CD              /** Compte avec ligne comptables définitives !== 계정상세코드 ==! */
                , A.ACCT_DTL_CD_NM                                     AS ACCT_DTL_CD_NM           /** Descriptif de l’imposition !== 계정상세코드명 ==! */
                , A.ACCT_DTL_LWPR_CD                                   AS ACCT_DTL_LWPR_CD         /** code de rubrique !== 계정상세하위코드 ==! */
                , A.ACCT_DTL_LWPR_CD_NM                                AS ACCT_DTL_LWPR_CD_NM      /** Désignation de la rubrique !== 계정상세하위코드명 ==! */
                , A.TAX_CD                                             AS TAX_CD                   /** Code De Taxe !== 세금코드 ==! */
                , B.TAX_CD_NM                                          AS TAX_NM                   /** Code De Taxe !== 세금코드명 ==! */
                , A.PART_DIVS_BASE_DESC                                AS PART_DIVS_BASE_DESC      /** Taux De Répartition !== 분배율 ==! */
                , A.CALT_BASE_DESC                                     AS CALT_BASE_DESC           /** Assiette de calcul !== 계산기준설명 ==! */
                , A.LWRG_CN                                            AS LWRG_CN                  /** Base légale !== 법규내용 ==! */
                , TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY')                 AS APLY_END_DT              /** Date De Fin De L'Application !== 적용종료일자 ==! */
                , A.EXPN_PT_CD
                , CASE WHEN A.SNB_TP_CD = 'JAE' THEN A.EXPN_PT_CD || ' | ' || FN_GET_CD_VDVAL_NM('COL_0083', A.EXPN_PT_CD, #{langCd})
                       WHEN A.SNB_TP_CD = 'JAD' THEN A.EXPN_PT_CD || ' | ' || FN_GET_CD_VDVAL_NM('COL_0079', A.EXPN_PT_CD, #{langCd})
                       WHEN A.SNB_TP_CD = 'JOD' THEN A.EXPN_PT_CD || ' | ' || FN_GET_CD_VDVAL_NM('COL_0080', A.EXPN_PT_CD, #{langCd})
                       else ''
                       end AS expn_pt_cd_nm
                , A.DLNG_PT_LWPR_CD
                , A.SORT_ORDR
             FROM TB_COLI_CLTD_ACCT_CD A
                , TB_CLRI_TAX_CD B
            WHERE A.DEL_YN = 'N'                                                                   /** Suppression ON !== 삭제여부 ==! */
                    AND A.TAX_CD = B.TAX_CD(+)
             <if test="acctCd != null and acctCd != ''">
                    AND  A.ACCT_CD = #{acctCd}                                                     /** N° de compte !== 계정코드 ==! */
             </if>
             <if test="snbTpCd != null and snbTpCd != ''">                                         /** Désignation du journal auxiliaire !== 보조기입장구분코드 ==! */
                   AND  A.SNB_TP_CD = #{snbTpCd}
             </if>
             <if test="acctTpCd != null and acctTpCd != ''">
                    AND  A.ACCT_TP_CD = #{acctTpCd}                                                /** Type d'avis !== 계정구분코드 ==! */
             </if>
             <if test="acctDtlCd != null and acctDtlCd != ''">
                    AND  A.ACCT_DTL_CD = #{acctDtlCd}                                              /** Compte avec ligne comptables définitives !== 계정상세코드 ==! */
             </if>
             <if test="acctDtlLwprCd != null and acctDtlLwprCd != ''">
                    AND  A.ACCT_DTL_LWPR_CD = #{acctDtlLwprCd}                                     /** code de rubrique !== 계정상세하위코드 ==! */
             </if>
             <if test="aplyStrtDt != null and aplyStrtDt != ''">
                    AND  TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT          /** Date De Debut De L'Application !== 적용시작일자 ==! */
             </if>
             <if test="expnPtCd != null and expnPtCd != ''">
                 AND  A.EXPN_PT_CD = #{expnPtCd}                                                    /** Type de la dépense !== 지출유형 ==! */
             </if>
             <if test="dlngPtLwprCd != null and dlngPtLwprCd != ''">
                 AND  A.DLNG_PT_LWPR_CD = #{dlngPtLwprCd}                                           /** Catégorie !== 거래유형하위코드(카테고리) ==! */
             </if>
             <if test="taxCd != null and taxCd != ''">
                 AND  REPLACE(A.TAX_CD,'.') LIKE REPLACE(#{taxCd}, '.', '')||'%'                                           /** Code De Taxe !== 세금코드 ==! */
             </if>
             <if test="aplyStrtDt2 != null and aplyStrtDt2 != ''">
                 AND  A.APLY_STRT_DT = TO_CHAR(TO_DATE( #{aplyStrtDt2}, 'DD/MM/YYYY'),'YYYYMMDD')                      /** Date De Début De L'Application !== 적용시작일자 ==! */
             </if>
             <if test="basedDt != null and basedDt != ''">
                  AND			TO_CHAR(TO_DATE(#{basedDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT
             </if>
             <if test="sortOrdr != null and sortOrdr != ''">
                 AND  A.SORT_ORDR = #{sortOrdr}
             </if>
           ORDER BY A.ACCT_TP_CD DESC
    <include refid="pagination.footer"/>
  </select>


    <!--
    Gestion des numéros de compte Enregistrer de nouvelles informations !== 회계계정번호관리 등록 ==!
    -->
    <insert id="insertColAcntAcNoMgmt" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcNoMgmtVo">
        /* ColAcntAcNoMgmt.insertColAcntAcNoMgmt */
        INSERT INTO TB_COLI_CLTD_ACCT_CD
               ( acct_cd                            /** N° de compte !== 계정코드 ==! */
               , acct_tp_cd                         /** Type d'avis !== 계정구분코드 ==! */
               , aply_strt_dt                       /** Date De Début De L'Application !== 적용시작일자 ==! */
               , snb_tp_cd                          /** Désignation du journal auxiliaire !== 보조기입장구분코드 ==! */
               , acct_cd_nm                         /** Intitulé du compte !== 계정코드명 ==! */
               , acct_dtl_cd                        /** Compte avec ligne comptables définitives !== 계정상세코드 ==! */
               , acct_dtl_cd_nm                     /** Descriptif de l’imposition !== 계정상세코드명 ==! */
               , acct_dtl_lwpr_cd                   /** code de rubrique !== 계정상세하위코드 ==! */
               , acct_dtl_lwpr_cd_nm                /** Désignation de la rubrique !== 계정상세하위코드명 ==! */
               , tax_cd                             /** Code De Taxe !== 세금코드 ==! */
               , part_divs_base_desc                /** Taux De Répartition !== 분배율 ==! */
               , calt_base_desc                     /** Assiette de calcul !== 계산기준설명 ==! */
               , lwrg_cn                            /** Base légale !== 법규내용 ==! */
               , aply_end_dt                        /** Date De Fin De L'Application !== 적용종료일자 ==! */
               , del_yn                             /** Suppression On !== 삭제여부 ==! */
               , frst_regst_id                      /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
               , frst_rgsr_dttm                     /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
               , last_chpr_id                       /** Id Du Modificateur Final !== 최종변경자ID ==! */
               , last_chg_dttm                      /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
               , sort_ordr                          /** Ordre d'alignement !== 정렬순서 ==! */
               , expn_pt_cd
               , dlng_pt_lwpr_cd
        )  VALUES (
                 #{acctCd}                                                          /** N° de compte !== 계정코드 ==! */
               , #{acctTpCd}                                                        /** Type d'avis !== 계정구분코드 ==! */
               , TO_CHAR(TO_DATE( #{aplyStrtDt} , 'DD/MM/YYYY'),'YYYYMMDD')         /** Date De Début De L'Application !== 적용시작일자 ==! */
               , #{snbTpCd}                                                         /** Désignation du journal auxiliaire !== 보조기입장구분코드 ==! */
               , #{acctCdNm}                                                        /** Intitulé du compte !== 계정코드명 ==! */
               , #{acctDtlCd}                                                       /** Compte avec ligne comptables définitives !== 계정상세코드 ==! */
               , #{acctDtlCdNm}                                                     /** Descriptif de l’imposition !== 계정상세코드명 ==! */
               , #{acctDtlLwprCd}                                                   /** code de rubrique !== 계정상세하위코드 ==! */
               , #{acctDtlLwprCdNm}                                                 /** Désignation de la rubrique !== 계정상세하위코드명 ==! */
               , #{taxCd}                                                           /** Code De Taxe !== 세금코드 ==! */
               , #{partDivsBaseDesc}                                                /** Taux De Répartition !== 분배율 ==! */
               , #{caltBaseDesc}                                                    /** Assiette de calcul !== 계산기준설명 ==! */
               , #{lwrgCn}                                                          /** Base légale !== 법규내용 ==! */
               , TO_CHAR(TO_DATE( #{aplyEndDt} , 'DD/MM/YYYY'),'YYYYMMDD')          /** Date De Fin De L'Application !== 적용종료일자 ==! */
               , 'N'                                                                /** Suppression On !== 삭제여부 ==! */
               , #{frstRegstId}                                                     /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
               , SYSTIMESTAMP                                                       /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
               , #{lastChprId}                                                      /** Id Du Modificateur Final !== 최종변경자ID ==! */
               , SYSTIMESTAMP                                                       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
               , (SELECT NVL(MAX(SORT_ORDR), 0) + 1 FROM TB_COLI_CLTD_ACCT_CD WHERE SNB_TP_CD = #{snbTpCd} AND ACCT_TP_CD = #{acctTpCd} AND  ACCT_CD = #{acctCd} AND  APLY_STRT_DT = TO_CHAR(TO_DATE( #{aplyStrtDt} , 'DD/MM/YYYY'),'YYYYMMDD'))
               , #{expnPtCd}
               , #{dlngPtLwprCd}
        )
    </insert>


    <!--
    Gestion des numéros de compte Modifier de nouvelles informations !== 회계계정번호관리 수정 ==!
    -->
    <update id="updateColAcntAcNoMgmt"
            parameterType="alpass.ipt.col.acnt.vo.ColAcntAcNoMgmtVo">
        /* ColAcntAcNoMgmt.updateColAcntAcNoMgmt */
        UPDATE TB_COLI_CLTD_ACCT_CD SET
                            del_yn = 'N'                                                                     /** Suppression ON !== 삭제여부 ==! */
                          , last_chpr_id = #{lastChprId}                                                       /** ID du modificateur final !== 최종변경자ID ==! */
                          , last_chg_dttm = SYSTIMESTAMP                                                        /** Date et heure de modification finale !== 최종변경일시 ==! */
                          , calt_base_desc = #{caltBaseDesc}                                                    /** Assiette de calcul !== 계산기준설명 ==! */
                          , lwrg_cn = #{lwrgCn}                                                                 /** Base légale !== 법규내용 ==! */
                          , aply_end_dt = TO_CHAR(TO_DATE( #{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')              /** Date De Fin De L'Application !== 적용종료일자 ==! */
             <if test="acctCdNm != null and acctCdNm != ''">
             , acct_cd_nm = #{acctCdNm}                                                                         /** Intitulé du compte !== 계정코드명 ==! */
             </if>
             <if test="acctDtlCd != null and acctDtlCd != ''">
             , acct_dtl_cd = #{acctDtlCd}                                                                       /** Compte avec ligne comptables définitives !== 계정상세코드 ==! */
             </if>
             <if test="acctDtlCdNm != null and acctDtlCdNm != ''">
             , acct_dtl_cd_nm = #{acctDtlCdNm}                                                                  /** Descriptif de l’imposition !== 계정상세코드명 ==! */
             </if>
             <if test="acctDtlLwprCd != null and acctDtlLwprCd != ''">
             , acct_dtl_lwpr_cd = #{acctDtlLwprCd}                                                              /** code de rubrique !== 계정상세하위코드 ==! */
             </if>
             <if test="acctDtlLwprCdNm != null and acctDtlLwprCdNm != ''">
             , acct_dtl_lwpr_cd_nm = #{acctDtlLwprCdNm}                                                         /** Désignation de la rubrique !== 계정상세하위코드명 ==! */
             </if>
             <if test="taxCd != null and taxCd != ''">
             , tax_cd = #{taxCd}                                                                                /** Code De Taxe !== 세금코드 ==! */
             </if>
             <if test="partDivsBaseDesc != null and partDivsBaseDesc != ''">
             , part_divs_base_desc = #{partDivsBaseDesc}                                                                              /** Taux De Répartition !== 분배율 ==! */
             </if>
             <if test="expnPtCd != null and expnPtCd != ''">
             , expn_pt_cd = #{expnPtCd}                                                                              /** Taux De Répartition !== 분배율 ==! */
             </if>
           WHERE 1=1
             AND  acct_cd = #{acctCd}                                                                           /** N° de compte !== 계정코드 ==! */
             AND  acct_tp_cd = #{acctTpCd}                                                                      /** Type d'avis !== 계정구분코드 ==! */
            <if test="acctDtlCd != null and acctDtlCd != ''">
              AND  acct_dtl_cd = #{acctDtlCd}
            </if>
            <if test="acctDtlLwprCd != null and acctDtlLwprCd != ''">
              AND  acct_dtl_lwpr_cd = #{acctDtlLwprCd}
            </if>
            <if test="expnPtCd != null and expnPtCd != ''">
              AND EXPN_PT_CD = #{expnPtCd}
            </if>
            <if test="dlngPtLwprCd != null and dlngPtLwprCd != ''">
              AND DLNG_PT_LWPR_CD = #{dlngPtLwprCd}
            </if>
             AND  aply_strt_dt = TO_CHAR(TO_DATE( #{aplyStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')                      /** Date De Début De L'Application !== 적용시작일자 ==! */
    </update>


    <!--
    Gestion des numéros de compte Supprimer de nouvelles informations !== 회계계정번호관리 삭제 ==!
    -->
    <update id="deleteColAcntAcNoMgmt"
            parameterType="alpass.ipt.col.acnt.vo.ColAcntAcNoMgmtVo">
        /* ColAcntAcNoMgmt.deleteColAcntAcNoMgmt */
        UPDATE TB_COLI_CLTD_ACCT_CD SET
               del_yn = 'Y'                                                                  /** Suppression ON !== 삭제여부 ==! */
             , last_chpr_id = #{lastChprId}                                                  /** ID du modificateur final !== 최종변경자ID ==! */
             , last_chg_dttm = SYSTIMESTAMP                                                  /** Date et heure de modification finale !== 최종변경일시 ==! */
         WHERE 1=1
             AND  ACCT_CD = #{acctCd}                                                        /** Code De Bilan !== 계정코드 ==! */
             AND  ACCT_TP_CD = #{acctTpCd}                                                   /** Code De Catégorie De Bilan !== 계정구분코드 ==! */
            <if test="snbTpCd != null and snbTpCd != ''">
             AND  SNB_TP_CD = #{snbTpCd}
            </if>
            <if test="acctDtlCd != null and acctDtlCd != ''">
             AND  ACCT_DTL_CD = #{acctDtlCd}
            </if>
            <if test="acctDtlLwprCd != null and acctDtlLwprCd != ''">
             AND  ACCT_DTL_LWPR_CD = #{acctDtlLwprCd}
            </if>
            <if test="expnPtCd != null and expnPtCd != ''">
             AND EXPN_PT_CD = #{expnPtCd}
            </if>
            <if test="dlngPtLwprCd != null and dlngPtLwprCd != ''">
              AND DLNG_PT_LWPR_CD = #{dlngPtLwprCd}
            </if>
    </update>

    <!--
    Consulter la liste des codes de gestion des comptes comptables !== 회계계정관리 코드목록을 조회한다 ==!
    -->
    <select id="selectColAcntAcNoMgmtCdList" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcNoMgmtVo" resultType="alpass.ipt.col.acnt.vo.ColAcntAcNoMgmtVo">
        /* ColAcntAcNoMgmt.selectColAcntAcNoMgmtCdList */
        SELECT
            <if test='isDtlCd == "N"'>
                A.ACCT_CD
            </if>
            <if test='isDtlCd == "Y"'>
                A.ACCT_CD,
                A.ACCT_DTL_CD
            </if>
        FROM 	TB_COLI_CLTD_ACCT_CD A
        WHERE 	A.DEL_YN = 'N'
            AND A.ACCT_TP_CD = #{acctTpCd}
        GROUP BY
        <if test='isDtlCd == "N"'>
            A.ACCT_CD
        </if>
        <if test='isDtlCd == "Y"'>
            A.ACCT_CD, A.ACCT_DTL_CD
        </if>
    </select>

    <!--
    Consulter le nombre de comptes comptables en double !==회계계정의 중복개수를 조회한다==!
    -->
    <select id="selectAcntAcNoCount" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcNoMgmtVo" resultType="int">
        /* ColAcntAcNoMgmt.selectAcntAcNoCount */
        SELECT  COUNT(*)
        FROM    TB_COLI_CLTD_ACCT_CD
        WHERE   ACCT_CD = #{acctCd}
          AND   ACCT_TP_CD = #{acctTpCd}
          AND   SNB_TP_CD = #{snbTpCd}
          AND   ACCT_DTL_CD = #{acctDtlCd}
          AND   EXPN_PT_CD = #{expnPtCd}
          AND 	ACCT_DTL_LWPR_CD = #{acctDtlLwprCd}
          AND   DLNG_PT_LWPR_CD = #{dlngPtLwprCd}
          AND   TAX_CD = #{taxCd}
        <if test="sortOrdr != null and sortOrdr != ''">
          AND   SORT_ORDR != #{sortOrdr}
        </if>
            AND (
                (
                    TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN APLY_STRT_DT AND  APLY_END_DT
                    OR
                    TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN APLY_STRT_DT AND  APLY_END_DT
                )
                OR
                (
                    TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') <![CDATA[ <= ]]> APLY_STRT_DT
                    AND
                    TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') <![CDATA[ >= ]]> APLY_END_DT
                )
            )
          AND   DEL_YN = 'N'
    </select>

</mapper>