<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : [OEA commun] Historique des demandes d'agrément !== [AEO 공통] 공인신청서 이력 Mapper ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.com.mapper.AeoComAthrApfmHistMapper">

    <!--
    [Historique des demandes d'agrément] Consulter la liste !==[공인신청서 이력] 목록조회==!
    -->
	<select id="selectAeoComAthrApfmHistList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComHistVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComHistVo">
		/* selectAeoComAthrApfmHistList */
	    <!-- <include refid="pagination.header"/> -->
		SELECT
				  A.AEO_RQST_NO                /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
                , A.HIST_SRNO                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
                , A.ATHR_RQST_TP_CD            /** Code de type de demande d'agrément !== 공인신청구분코드 ==! */
                , FN_GET_CD_VDVAL_NM('AEO_0004', A.ATHR_RQST_TP_CD, #{langCd}) AS ATHR_RQST_TP_NM                 /** Code de type de demande d'agrément !== 공인신청구분코드 ==! */
                , A.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
                , FN_GET_CD_VDVAL_NM((CASE A.ATHR_RQST_TP_CD WHEN 'ARQ' THEN 'AEO_0015' ELSE 'AEO_0016' END), A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Code De Statut De Traitement !== 처리상태코드 ==! */
                , A.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
                , FN_GET_CD_VDVAL_NM((CASE A.ATHR_RQST_TP_CD WHEN 'ARQ' THEN 'AEO_0017' ELSE 'AEO_0018' END), A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
                , A.PRCS_CN                    /** Contenu Du Traitement !== 처리내용 ==! */
                , TO_CHAR(A.PRCS_DTTM, 'DD/MM/YYYY') AS PRCS_DTTM                  /** Date Et Heure De Traitement !== 처리일시 ==! */
                , A.AEO_ATHR_NO                /** Numéro d'OEA !== AEO공인번호 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
				, NVL((SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID), A.FRST_REGST_ID) AS FRST_REGST_NM	/** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, (SELECT ORG.ORGN_NM FROM TB_POTI_ORGN ORG, TB_POTI_EMP EMP WHERE ORG.ORGN_MGMT_CD = EMP.ORGN_MGMT_CD AND EMP.PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_DEPT_NM	/** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm			/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID				/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS lastChgDttm				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM
		  		  TB_AEOI_RQST_HIST_MGMT A      /** AEOI_GESTION DE L'HISTORIQUE DE DEMANDE D'AGRÉMENT !== AEOI_공인신청이력관리 ==! */
		 WHERE
	    <choose>
	    	<when test="aeoRqstNoList.size != 0">
	        	  A.AEO_RQST_NO IN 									/** Numéro de demande du statut OEA !== AEO신청번호 ==! */
	       		<foreach collection="aeoRqstNoList" item="item" index="index" separator="," open="(" close=")">
	       			#{item}
	       		</foreach>
	    	</when>
	    </choose>
	    <if test='aeoAthrNo != null and !"".equals(aeoAthrNo)'>
	        OR 	  A.AEO_ATHR_NO = #{aeoAthrNo}                /** Numéro d'OEA !== AEO공인번호 ==! */
	    </if>
	    <if test='athrRqstTpCd != null and !"".equals(athrRqstTpCd)'>
	       AND 	  A.ATHR_RQST_TP_CD = #{athrRqstTpCd}                /** Code de type de demande d'agrément !== 공인신청구분코드 ==! */
	    </if>
		 ORDER BY A.FRST_RGSR_DTTM DESC
		<!-- <include refid="pagination.footer"/> -->
	</select>

    <!--
    [Historique des demandes d'agrément] Enregistrer !==[공인신청서 이력] 등록==!
    -->
	<insert id="insertAeoComAthrApfmHist"
		parameterType="alpass.ipt.aeo.com.vo.AeoiRqstHistMgmtVo">
		/* insertAeoComAthrApfmHist */
		<selectKey keyProperty="histSrno" order="BEFORE" resultType="java.math.BigDecimal">
			SELECT NVL(MAX(HIST_SRNO),0)+1 FROM TB_AEOI_RQST_HIST_MGMT WHERE AEO_RQST_NO = #{aeoRqstNo}
		</selectKey>
		
		INSERT INTO TB_AEOI_RQST_HIST_MGMT /** AEOI_GESTION DE L'HISTORIQUE DE DEMANDE D'AGRÉMENT !== AEOI_공인신청이력관리	 ==! */
		(
			  AEO_RQST_NO                  /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
			, HIST_SRNO                    /** N° de sequence de l'historique !== 이력일련번호 ==! */
			, ATHR_RQST_TP_CD              /** Code de type de demande d'agrément !== 공인신청구분코드 ==! */
			, PRCS_STTS_CD                 /** Code De Statut De Traitement !== 처리상태코드 ==! */
			, DTL_PRCS_STTS_CD             /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			, PRCS_CN                      /** Contenu Du Traitement !== 처리내용 ==! */
			, PRCS_DTTM                    /** Date Et Heure De Traitement !== 처리일시 ==! */
			, AEO_ATHR_NO                  /** Numéro d'OEA !== AEO공인번호 ==! */
			, FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		VALUES
		(
			  #{aeoRqstNo}                 /** Numéro de demande du statut OEA !== AEO신청번호 ==! */
			, #{histSrno}                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
			, #{athrRqstTpCd}              /** Code de type de demande d'agrément !== 공인신청구분코드 ==! */
			, #{prcsSttsCd}                /** Code De Statut De Traitement !== 처리상태코드 ==! */
			, #{dtlPrcsSttsCd}             /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			, #{prcsCn}                    /** Contenu Du Traitement !== 처리내용 ==! */
			, CURRENT_TIMESTAMP            /** Date Et Heure De Traitement !== 처리일시 ==! */
			, #{aeoAthrNo}                 /** Numéro d'OEA !== AEO공인번호 ==! */
			, #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, CURRENT_TIMESTAMP            /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, CURRENT_TIMESTAMP            /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */    
		)
	</insert>

</mapper>