<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : [OEA commun] Personne responsable par rôle !== [AEO 공통] Role별 담당자 Mapper ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.com.mapper.AeoComRoleChpnMapper">

    <!--
    [Personne chargée d’OEA de l'inspection divisionnaire] Consulter la liste !== [AEO 지역담당자] 목록조회 ==!
    -->
	<select id="selectAeoComRegnCstmChpnList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo">
		/* selectAeoComRegnCstmChpnList */
		SELECT
				  A.PBSR_NO                    /** Matricule Solde !== 공무원번호 ==! */
                , A.EMP_NM                     /** Nom De L'Employé !== 직원명 ==! */
                , A.MOBL_NO                    /** N° De Téléphone Portable !== 휴대전화번호 ==! */
                , A.DEPT_TLPH_NO               /** N° De Téléphone Fixe Du Bureau !== 부서전화번호 ==! */
                , A.EML                        /** Email !== 이메일 ==! */
                , A.CSTM_MGMT_CD               /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD               /** Code Du Secteur !== 섹터관리코드 ==! */
                , A.DEPT_MGMT_CD               /** Code Du Service !== 부서관리코드 ==! */
                , C.ACAP_CSTM_CD AS CSTM_CD    /** Code douanier de réception !== 접수세관코드 ==! */
                , C.UPR_ORGN_MGMT_CD AS UPR_CSTM_CD    /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
		  FROM
		  		  TB_POTI_EMP A    /** POTI_EMPLOYÉ !== POTI_직원 ==! */
				, VW_POTI_ROLE_UNFC B
			    , (
			        SELECT A.AEO_ATHR_RQST_NO              /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			             , A.ACAP_CSTM_CD                  /** Code douanier de réception !== 접수세관코드 ==! */
			             , ( SELECT AA.UPR_ORGN_MGMT_CD    /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
			                 FROM   TB_POTI_ORGN AA        /** POTI_ORGANISATION !== POTI_조직 ==! */
			                 WHERE  AA.DEL_YN = 'N'
			                 AND    AA.ORGN_MGMT_CD = A.ACAP_CSTM_CD
			               ) AS UPR_ORGN_MGMT_CD           /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
			        FROM   TB_AEOI_ATHR_RQST A             /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
			        WHERE  A.DEL_YN ='N'
			        AND    A.AEO_ATHR_RQST_NO = #{srchAeoAthrRqstNo}
			    ) C
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   A.ORGN_MGMT_CD = C.ACAP_CSTM_CD
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = #{srchAeoRoleId}
	</select>

    <!--
    [Personne chargée d’OEA de la direction régionale] Consulter la liste !== [AEO 본부담당자] 목록조회 ==!
    -->
	<select id="selectAeoComHdqrCstmChpnList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo">
		/* selectAeoComHdqrCstmChpnList */
		SELECT
				  A.PBSR_NO                            /** Matricule Solde !== 공무원번호 ==! */
                , A.EMP_NM                             /** Nom De L'Employé !== 직원명 ==! */
                , A.MOBL_NO                            /** N° De Téléphone Portable !== 휴대전화번호 ==! */
                , A.DEPT_TLPH_NO                       /** N° De Téléphone Fixe Du Bureau !== 부서전화번호 ==! */
                , A.EML                                /** Email !== 이메일 ==! */
                , A.CSTM_MGMT_CD                       /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD                       /** Code Du Secteur !== 섹터관리코드 ==! */
                , A.DEPT_MGMT_CD                       /** Code Du Service !== 부서관리코드 ==! */
                , C.ACAP_CSTM_CD AS CSTM_CD            /** Code douanier de réception !== 접수세관코드 ==! */
                , C.UPR_ORGN_MGMT_CD AS UPR_CSTM_CD    /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
		  FROM
		  		  TB_POTI_EMP A                        /** POTI_EMPLOYÉ !== POTI_직원 ==! */
				, VW_POTI_ROLE_UNFC B
			    , (
			        SELECT A.AEO_ATHR_RQST_NO          /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			             , A.ACAP_CSTM_CD              /** Code douanier de réception !== 접수세관코드 ==! */
			             , ( SELECT AA.UPR_ORGN_MGMT_CD 
			                 FROM   TB_POTI_ORGN AA 
			                 WHERE  AA.DEL_YN = 'N'
			                 AND    AA.ORGN_MGMT_CD = A.ACAP_CSTM_CD
			               ) AS UPR_ORGN_MGMT_CD       /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
			        FROM   TB_AEOI_ATHR_RQST A         /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
			        WHERE  A.DEL_YN = 'N'
			        AND    A.AEO_ATHR_RQST_NO = #{srchAeoAthrRqstNo}
			    ) C
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   A.ORGN_MGMT_CD = C.UPR_ORGN_MGMT_CD
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = #{srchAeoRoleId}
	</select>

    <!--
    [Personne chargée de l'audit OEA du service régional de contrôle a posteriori/Manager de l'audit OEA du service régional de contrôle a posteriori] Consulter la liste !== [AEO 지역심사담당자/AEO 지역심사관리자] 목록조회 ==!
    -->
	<select id="selectAeoComAudtCstmChpnList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo">
		/* selectAeoComAudtCstmChpnList */
		SELECT
				  A.PBSR_NO                                             /** Matricule Solde !== 공무원번호 ==! */
                , A.EMP_NM                                              /** Nom De L'Employé !== 직원명 ==! */
                , A.MOBL_NO                                             /** N° De Téléphone Portable !== 휴대전화번호 ==! */
                , A.DEPT_TLPH_NO                                        /** N° De Téléphone Fixe Du Bureau !== 부서전화번호 ==! */
                , A.EML                                                 /** Email !== 이메일 ==! */
                , A.CSTM_MGMT_CD                                        /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD                                        /** Code Du Secteur !== 섹터관리코드 ==! */
                , A.DEPT_MGMT_CD                                        /** Code Du Service !== 부서관리코드 ==! */
                , C.ACAP_CSTM_CD AS CSTM_CD                             /** Code douanier de réception !== 접수세관코드 ==! */
                , C.UPR_ORGN_MGMT_CD AS UPR_CSTM_CD                     /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
		  FROM
		  		  TB_POTI_EMP A                                         /** POTI_EMPLOYÉ !== POTI_직원 ==! */
				, VW_POTI_ROLE_UNFC B
			    , (
			        SELECT A.AEO_ATHR_RQST_NO                           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			             , A.ACAP_CSTM_CD                               /** Code douanier de réception !== 접수세관코드 ==! */
			             , ( SELECT AA.UPR_ORGN_MGMT_CD 
			                 FROM   TB_POTI_ORGN AA 
			                 WHERE  AA.DEL_YN = 'N'
			                 AND    AA.ORGN_MGMT_CD = A.ACAP_CSTM_CD
			               ) AS UPR_ORGN_MGMT_CD                        /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
			        FROM   TB_AEOI_ATHR_RQST A                          /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
			        WHERE  A.DEL_YN = 'N'
			        AND    A.AEO_ATHR_RQST_NO = #{srchAeoAthrRqstNo}
			    ) C
				, TB_AEOI_ATHR_AUDT_ORGN D                              /** ENTITÉ QUI GÈRE LES INFORMATIONS SUR L'ORGANIGRAMME DU SERVICE CHARGÉ DE L'AUDIT OEA !== AEOI_공인심사조직 ==! */
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = #{srchAeoRoleId}
		   AND	   D.DEL_YN = 'N'
		   AND     D.DRD_ORGN_MGMT_CD = C.UPR_ORGN_MGMT_CD
		<if test='srchAeoRoleId != null and ("AEO003".equals(srchAeoRoleId) or "AEO011".equals(srchAeoRoleId))'>
		   AND     A.CSTM_MGMT_CD = D.AUDT_ORGN_MGMT_CD
		</if>
		<if test='srchAeoRoleId != null and "AEO004".equals(srchAeoRoleId)'>
		   AND     A.ORGN_MGMT_CD = D.AUDT_ORGN_MGMT_CD
		</if>
	</select>

    <!--
    [Personne chargée de rédiger la fiche signalétique de la direction générale/Manager chargé de rédiger la fiche signalétique de la direction générale] Consulter la liste !== [AEO 종합요약서담당자/AEO 종합요약서관리자/AEO 기술자문위원] 목록조회 ==!
    -->
	<select id="selectAeoComDgdRoleChpnList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo">
		/* selectAeoComDgdRoleChpnList */
		SELECT
				  A.PBSR_NO                                             /** Matricule Solde !== 공무원번호 ==! */
                , A.EMP_NM                                              /** Nom De L'Employé !== 직원명 ==! */
                , A.MOBL_NO                                             /** N° De Téléphone Portable !== 휴대전화번호 ==! */
                , A.DEPT_TLPH_NO                                        /** N° De Téléphone Fixe Du Bureau !== 부서전화번호 ==! */
                , A.EML                                                 /** Email !== 이메일 ==! */
                , A.CSTM_MGMT_CD                                        /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD                                        /** Code Du Secteur !== 섹터관리코드 ==! */
                , A.DEPT_MGMT_CD                                        /** Code Du Service !== 부서관리코드 ==! */
                , A.CSTM_MGMT_CD AS CSTM_CD                             /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD AS UPR_CSTM_CD                         /** Code Du Secteur !== 섹터관리코드 ==! */
                , (SELECT O.ORGN_NM FROM TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM    /** Nom D'Organisme !== 조직명 ==! */
		  FROM
		  		  TB_POTI_EMP A                                         /** POTI_EMPLOYÉ !== POTI_직원 ==! */
				, VW_POTI_ROLE_UNFC B
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = #{srchAeoRoleId}
	</select>

    <!--
    [Personne responsable par rôle.Nbr] Consulter !== [Role별 담당자.건수] 조회 ==!
    -->
	<select id="selectAeoComCstmRoleChpnCnt"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="java.math.BigDecimal">
		/* selectAeoComCstmRoleChpnCnt */
		SELECT
				  COUNT(A.PBSR_NO) AS CHPN_CNT    /** Matricule Solde !== 공무원번호 ==! */
		  FROM
		  		  TB_POTI_EMP A                   /** POTI_EMPLOYÉ !== POTI_직원 ==! */
				, VW_POTI_ROLE_UNFC B
			    , (
			        SELECT A.AEO_ATHR_RQST_NO                        /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			             , A.ACAP_CSTM_CD                            /** Code douanier de réception !== 접수세관코드 ==! */
			             , ( SELECT AA.UPR_ORGN_MGMT_CD 
			                 FROM   TB_POTI_ORGN AA 
			                 WHERE  AA.DEL_YN = 'N'
			                 AND    AA.ORGN_MGMT_CD = A.ACAP_CSTM_CD
			               ) AS UPR_ORGN_MGMT_CD                     /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
			        FROM   TB_AEOI_ATHR_RQST A                       /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
			        WHERE  A.DEL_YN = 'N'
			        AND    A.AEO_ATHR_RQST_NO = #{srchAeoAthrRqstNo}
			    ) C
				, TB_AEOI_ATHR_AUDT_ORGN D                           /** ENTITÉ QUI GÈRE LES INFORMATIONS SUR L'ORGANIGRAMME DU SERVICE CHARGÉ DE L'AUDIT OEA !== AEOI_공인심사조직 ==! */
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = #{srchAeoRoleId}
		   AND	   D.DEL_YN = 'N'
		   AND     D.DRD_ORGN_MGMT_CD = C.UPR_ORGN_MGMT_CD
		   AND     A.CSTM_MGMT_CD = D.AUDT_ORGN_MGMT_CD
	</select>

    <!--
    [Personne chargée d’OEA de l'inspection divisionnaire] Consulter la liste (gestion ultérieure) !== [AEO 지역담당자] 목록조회(사후관리) ==!
    -->
	<select id="selectAeoComPsmgtRegnCstmChpnList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo">
		/* selectAeoComPsmgtRegnCstmChpnList */
		SELECT
				  A.PBSR_NO                                             /** Matricule Solde !== 공무원번호 ==! */
                , A.EMP_NM                                              /** Nom De L'Employé !== 직원명 ==! */
                , A.MOBL_NO                                             /** N° De Téléphone Portable !== 휴대전화번호 ==! */
                , A.DEPT_TLPH_NO                                        /** N° De Téléphone Fixe Du Bureau !== 부서전화번호 ==! */
                , A.EML                                                 /** Email !== 이메일 ==! */
                , A.CSTM_MGMT_CD                                        /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD                                        /** Code Du Secteur !== 섹터관리코드 ==! */
                , A.DEPT_MGMT_CD                                        /** Code Du Service !== 부서관리코드 ==! */
                , C.ACAP_CSTM_CD AS CSTM_CD                             /** Code douanier de réception !== 접수세관코드 ==! */
                , C.UPR_ORGN_MGMT_CD AS UPR_CSTM_CD                     /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
		  FROM
		  		  ALPASSINT.TB_POTI_EMP A                               /** POTI_EMPLOYÉ !== POTI_직원 ==! */
				, ALPASSINT.VW_POTI_ROLE_UNFC B
			    , (
			        SELECT R.AEO_AFFC_MGMT_RQST_NO                      /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
			             , R.AEO_ATHR_NO                                /** Numéro d'OEA !== AEO공인번호 ==! */
			             , CO.JRSD_CSTM_CD AS ACAP_CSTM_CD              /** Code de bureau compétent !== 관할세관코드 ==! */
			             , ( SELECT AA.UPR_ORGN_MGMT_CD 
			                 FROM   ALPASSINT.TB_POTI_ORGN AA 
			                 WHERE  AA.DEL_YN ='N' 
			                 AND    AA.ORGN_MGMT_CD= CO.JRSD_CSTM_CD
			               ) AS UPR_ORGN_MGMT_CD                        /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
			        FROM   ALPASSINT.TB_AEOI_AFFC_RQST R                /** AEOI_DEMANDE ULTÉRIEURE !== AEOI_사후신청 ==! */
			        	,  ALPASSINT.TB_AEOI_ATHR_CO CO                 /** AEOI_OPÉRATEURS AGRÉÉS !== AEOI_공인업체 ==! */
			        WHERE  R.DEL_YN ='N'
			        AND    R.AEO_ATHR_NO = CO.AEO_ATHR_NO
			        AND    R.AEO_AFFC_MGMT_RQST_NO = #{srchAeoAthrRqstNo}
			    ) C
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   A.ORGN_MGMT_CD = C.ACAP_CSTM_CD
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = #{srchAeoRoleId}
	</select>

    <!--
    [Personne chargée d’OEA de la direction régionale] Consulter la liste (gestion ultérieure) !== [AEO 본부담당자] 목록조회(사후관리) ==!
    -->
	<select id="selectAeoComPsmgtHdqrCstmChpnList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo">
		/* selectAeoComPsmgtHdqrCstmChpnList */
		SELECT
				  A.PBSR_NO                                             /** Matricule Solde !== 공무원번호 ==! */
                , A.EMP_NM                                              /** Nom De L'Employé !== 직원명 ==! */
                , A.MOBL_NO                                             /** N° De Téléphone Portable !== 휴대전화번호 ==! */
                , A.DEPT_TLPH_NO                                        /** N° De Téléphone Fixe Du Bureau !== 부서전화번호 ==! */
                , A.EML                                                 /** Email !== 이메일 ==! */
                , A.CSTM_MGMT_CD                                        /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD                                        /** Code Du Secteur !== 섹터관리코드 ==! */
                , A.DEPT_MGMT_CD                                        /** Code Du Service !== 부서관리코드 ==! */
                , C.ACAP_CSTM_CD AS CSTM_CD                             /** Code douanier de réception !== 접수세관코드 ==! */
                , C.UPR_ORGN_MGMT_CD AS UPR_CSTM_CD                     /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
		  FROM
		  		  TB_POTI_EMP A                                         /** POTI_EMPLOYÉ !== POTI_직원 ==! */
				, VW_POTI_ROLE_UNFC B
			    , (
			        SELECT R.AEO_AFFC_MGMT_RQST_NO                      /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
			             , R.AEO_ATHR_NO                                /** Numéro d'OEA !== AEO공인번호 ==! */
			             , CO.JRSD_CSTM_CD AS ACAP_CSTM_CD              /** Code de bureau compétent !== 관할세관코드 ==! */
			             , ( SELECT AA.UPR_ORGN_MGMT_CD 
			                 FROM   ALPASSINT.TB_POTI_ORGN AA 
			                 WHERE  AA.DEL_YN ='N' 
			                 AND    AA.ORGN_MGMT_CD= CO.JRSD_CSTM_CD
			               ) AS UPR_ORGN_MGMT_CD                        /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
			        FROM   ALPASSINT.TB_AEOI_AFFC_RQST R                /** AEOI_DEMANDE ULTÉRIEURE !== AEOI_사후신청 ==! */
			        	,  ALPASSINT.TB_AEOI_ATHR_CO CO                 /** AEOI_OPÉRATEURS AGRÉÉS !== AEOI_공인업체 ==! */
			        WHERE  R.DEL_YN ='N'
			        AND    R.AEO_ATHR_NO = CO.AEO_ATHR_NO
			        AND    R.AEO_AFFC_MGMT_RQST_NO = #{srchAeoAthrRqstNo}
			    ) C
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   A.ORGN_MGMT_CD = C.UPR_ORGN_MGMT_CD
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = #{srchAeoRoleId}
	</select>

    <!--
    [Personne chargée de l'audit OEA du service régional de contrôle a posteriori/Manager de l'audit OEA du service régional de contrôle a posteriori] Consulter la liste (gestion ultérieure) !== [AEO 지역심사담당자/AEO 지역심사관리자] 목록조회(사후관리) ==!
    -->
	<select id="selectAeoComPsmgtAudtCstmChpnList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComRoleChpnVo">
		/* selectAeoComPsmgtAudtCstmChpnList */
		SELECT
				  A.PBSR_NO                                             /** Matricule Solde !== 공무원번호 ==! */
                , A.EMP_NM                                              /** Nom De L'Employé !== 직원명 ==! */
                , A.MOBL_NO                                             /** N° De Téléphone Portable !== 휴대전화번호 ==! */
                , A.DEPT_TLPH_NO                                        /** N° De Téléphone Fixe Du Bureau !== 부서전화번호 ==! */
                , A.EML                                                 /** Email !== 이메일 ==! */
                , A.CSTM_MGMT_CD                                        /** Code Du Bureau !== 세관관리코드 ==! */
                , A.SCTR_MGMT_CD                                        /** Code Du Secteur !== 섹터관리코드 ==! */
                , A.DEPT_MGMT_CD                                        /** Code Du Service !== 부서관리코드 ==! */
                , C.ACAP_CSTM_CD AS CSTM_CD                             /** Code douanier de réception !== 접수세관코드 ==! */
                , C.UPR_ORGN_MGMT_CD AS UPR_CSTM_CD                     /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
		  FROM
		  		  TB_POTI_EMP A                                         /** POTI_EMPLOYÉ !== POTI_직원 ==! */
				, VW_POTI_ROLE_UNFC B
			    , (
			        SELECT R.AEO_AFFC_MGMT_RQST_NO                      /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
			             , R.AEO_ATHR_NO                                /** Numéro d'OEA !== AEO공인번호 ==! */
			             , CO.JRSD_CSTM_CD AS ACAP_CSTM_CD              /** Code de bureau compétent !== 관할세관코드 ==! */
			             , ( SELECT AA.UPR_ORGN_MGMT_CD 
			                 FROM   ALPASSINT.TB_POTI_ORGN AA 
			                 WHERE  AA.DEL_YN ='N' 
			                 AND    AA.ORGN_MGMT_CD= CO.JRSD_CSTM_CD
			               ) AS UPR_ORGN_MGMT_CD                        /** Code Du Service Supérieur !== 상위조직관리코드 ==! */
			        FROM   ALPASSINT.TB_AEOI_AFFC_RQST R                /** AEOI_DEMANDE ULTÉRIEURE !== AEOI_사후신청 ==! */
			        	,  ALPASSINT.TB_AEOI_ATHR_CO CO                 /** AEOI_OPÉRATEURS AGRÉÉS !== AEOI_공인업체 ==! */
			        WHERE  R.DEL_YN ='N'
			        AND    R.AEO_ATHR_NO = CO.AEO_ATHR_NO
			        AND    R.AEO_AFFC_MGMT_RQST_NO = #{srchAeoAthrRqstNo}
			    ) C
				, TB_AEOI_ATHR_AUDT_ORGN D                              /** ENTITÉ QUI GÈRE LES INFORMATIONS SUR L'ORGANIGRAMME DU SERVICE CHARGÉ DE L'AUDIT OEA !== AEOI_공인심사조직 ==! */
		 WHERE
		 		   A.DEL_YN = 'N'
		   AND	   B.PBSR_NO = A.PBSR_NO
		   AND	   B.ROLE_ID = #{srchAeoRoleId}
		   AND	   D.DEL_YN = 'N'
		   AND     D.DRD_ORGN_MGMT_CD = C.UPR_ORGN_MGMT_CD
		<if test='srchAeoRoleId != null and ("AEO003".equals(srchAeoRoleId) or "AEO011".equals(srchAeoRoleId))'>
		   AND     A.CSTM_MGMT_CD = D.AUDT_ORGN_MGMT_CD
		</if>
		<if test='srchAeoRoleId != null and "AEO004".equals(srchAeoRoleId)'>
		   AND     A.ORGN_MGMT_CD = D.AUDT_ORGN_MGMT_CD
		</if>
	</select>

</mapper>