<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.clr.trm.drr.mapper.ClrTrifDrwbRtoMgmtMapper">

    <!--
    Consultation de la liste des taux de remboursement par sous position tarifaire !== HS별 환급 비율 관리 목록 조회 ==!
    (Kim Jaeki)
    -->
    <select id="selectClrTrifDrwbRtoMgmtHsPrDrqbRtoList" parameterType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo" resultType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo">
        /* selectClrTrifDrwbRtoMgmtHsPrDrqbRtoList */
        <include refid="pagination.header" />
            SELECT A.HS_CD
				, B.HS_DESC AS HS_CD_NM
				, A.DRWB_RTO
				, TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_STRT_DT
				, TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_END_DT
				, A.RMRK_CN
			FROM TB_CLRI_HS_PR_DRWB_RTO A
				, TB_CLRI_HS_CD B
			WHERE A.HS_CD = B.HS_CD(+)
             <if test="hsCd != null and hsCd != ''">
             AND A.HS_CD = #{hsCd}          /** Code SH !== HS코드 ==! */
             </if>
             <if test="aplyStrtDt != null and aplyStrtDt != ''">
             AND TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT        /** Date de départ de l'application de la convention !== 협정적용시작일자 ==! */
             </if>
           ORDER BY HS_CD
        <include refid="pagination.footer" />
    </select>
    
    <!--
    Consultation de la liste des taux de remboursement par sous position tarifaire !== HS별 환급 비율 관리 목록 조회 ==!
    (Kim Jaeki)
    -->
    <select id="selectClrTrifDrwbRtoMgmtHsPrDrqbRtoExcelList" parameterType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo" resultType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo">
        /* selectClrTrifDrwbRtoMgmtHsPrDrqbRtoExcelList */
        SELECT A.HS_CD
			, B.HS_DESC AS HS_CD_NM
			, A.DRWB_RTO
			, TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_STRT_DT
			, TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_END_DT
			, A.RMRK_CN
		FROM TB_CLRI_HS_PR_DRWB_RTO A
			, TB_CLRI_HS_CD B
		WHERE A.HS_CD = B.HS_CD(+)
         <if test="hsCd != null and hsCd != ''">
         AND A.HS_CD = #{hsCd}          /** Code SH !== HS코드 ==! */
         </if>
         <if test="aplyStrtDt != null and aplyEndDt != null and aplyStrtDt != '' and aplyEndDt != ''">
         AND (TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT        /** Date de départ de l'application de la convention !== 협정적용시작일자 ==! */
         	  OR TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT)     /** Date de fin de l'application de la convention !== 협정적용종료일자 ==! */
         </if>
       ORDER BY HS_CD
    </select>
    
    <!--
    Enregistrement du taux de remboursement par sous position tarifaire !== HS별 환급 비율 관리 등록 ==!
    (Kim Jaeki)
    -->
    <insert id="insertClrTrifDrwbRtoMgmtHsPrDrqbRto" parameterType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo">
        /* insertClrTrifDrwbRtoMgmtHsPrDrqbRto */
        INSERT INTO TB_CLRI_HS_PR_DRWB_RTO (
        	HS_CD                     /** Code SH !== HS코드 ==! */
	       	, APLY_STRT_DT            /** Date de début d'application de la remboursement !== 환급적용시작일자 ==! */
	        , APLY_END_DT             /** Date de fin d’application de remboursement !== 환급적용종료일자 ==! */
	        , drwb_rto                /** Pourcentage de remboursement !== 환급비율 ==! */
	        , rmrk_cn                 /** Remarque !== 비고 ==! */
	        , atch_file_id            /**  !== 첨부파일 ID ==! */
	        , DEL_YN                  /** Suppression ON !== 삭제여부 ==! */
	        , FRST_REGST_ID           /** ID du premier enregistrant  !== 최초등록자ID ==! */
	        , FRST_RGSR_DTTM          /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
	        , LAST_CHPR_ID            /** ID du modificateur final !== 최종변경자ID ==! */
	        , LAST_CHG_DTTM           /** Date et heure de modification finale !== 최종변경일시 ==! */
        ) VALUES (
        	#{hsCd}                   /** Code SH !== HS코드 ==! */                                             
            , #{aplyStrtDt}           /** Date de début d'application de la remboursement !== 환급적용시작일자 ==! */
            , #{aplyEndDt}            /** Date de fin d’application de remboursement !== 환급적용종료일자 ==! */      
            , #{drwbRto}              /** Pourcentage de remboursement !== 환급비율 ==! */                        
            , #{rmrkCn}               /** Remarque !== 비고 ==! */                                              
            , NULL 			          /**  !== 첨부파일 ID ==! */                                                 
            , 'N'                     /** Suppression ON !== 삭제여부 ==! */                                      
            , #{frstRegstId}          /** ID du premier enregistrant  !== 최초등록자ID ==! */                      
            , SYSTIMESTAMP            /** Date et heure de premier enregistrement !== 최초등록일시 ==! */           
            , #{lastChprId}           /** ID du modificateur final !== 최종변경자ID ==! */                         
            , SYSTIMESTAMP            /** Date et heure de modification finale !== 최종변경일시 ==! */              
        )
    </insert>
    
    <!--
    Modification du taux de remboursement par sous position tarifaire !== HS별 환급 비율 관리 수정 ==!
    (Kim Jaeki)
    -->
    <update id="updateClrTrifDrwbRtoMgmtHsPrDrqbRto" parameterType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo">
        /* updateClrTrifDrwbRtoMgmtHsPrDrqbRto */
        UPDATE TB_CLRI_HS_PR_DRWB_RTO
        SET  APLY_END_DT = #{aplyEndDt}            /** Date de fin d’application de remboursement !== 환급적용종료일자 ==! */
	        , drwb_rto = #{drwbRto}                /** Pourcentage de remboursement !== 환급비율 ==! */
	        , rmrk_cn = #{rmrkCn}                  /** Remarque !== 비고 ==! */
	        , LAST_CHPR_ID = #{lastChprId}         /** ID du modificateur final !== 최종변경자ID ==! */
	        , LAST_CHG_DTTM = SYSTIMESTAMP         /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE HS_CD = #{hsCd}                   /** Code SH !== HS코드 ==! */                                             
        AND APLY_STRT_DT = #{aplyStrtDt}           /** Date de début d'application de la remboursement !== 환급적용시작일자 ==! */
    </update>
    
    
	<!--
    Vérification de l'existence de données de la sous position tarifaire pour la gestion des taux de remboursement par sous position tarifaire  !== HS별 환급 비율 관리 HS 데이터 유무 조회 ==!
    (Kim Jaeki)
    -->
    <select id="selectClrTrifDrwbRtoMgmtHsCdCheck" parameterType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo" resultType="int">
        /* selectClrTrifDrwbRtoMgmtHsCdCheck */
        SELECT TO_CHAR(COUNT(*)) AS CNT
        FROM  TB_CLRI_HS_CD
        WHERE HS_CD = #{hsCd}
    </select>
    
	<!-- 
    Vérification de la redondance de données de la sous position tarifaire pour la gestion des taux de remboursement par sous position tarifaire  !== HS별 환급 비율 관리 HS 데이터 중복 조회  ==!
    (Kim Jaeki)
    -->
	<select id="selectClrTrifDrwbRtoMgmtHsCdDuplication" parameterType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo" resultType="alpass.ipt.clr.trm.drr.vo.ClrTrifDrwbRtoMgmtHsPrDrwbRtoVo">
		/* selectClrTrifDrwbRtoMgmtHsCdDuplication */
		SELECT A.APLY_STRT_DT AS APLY_STRT_DT_ORIGIN
            , A.APLY_END_DT AS APLY_END_DT_ORIGIN
        FROM TB_CLRI_HS_PR_DRWB_RTO A
       WHERE DEL_YN = 'N'
         AND A.HS_CD = #{hsCd}
         AND A.APLY_STRT_DT = #{aplyStrtDt}
	</select>
</mapper>
