<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alpass.ipt.clr.com.mapper.ClrComnCdMapper">

    <sql id="sqlSearchQuery">
        <if test="cdVdval != null and cdVdval != ''">
            AND		CD_VDVAL = #{cdVdval}
        </if>
        <if test="cdVdvalNm != null and cdVdvalNm != ''">
            AND		CD_VDVAL_NM LIKE '%' || #{cdVdvalNm} || '%'
        </if>
    </sql>

    <sql id="sqlSelectQuery">
        SELECT
            COMN_CD
             , CD_VDVAL
             , LANG_CD
             , CD_VDVAL_NM
             , DEL_YN
        FROM	 	TB_COM_COMN_CD_D_LANG
        WHERE		DEL_YN = 'N'
          AND			COMN_CD = #{comnCd}
          AND			LANG_CD = NVL(#{langCd}, 'KO')
    </sql>

    <select id="selectComnCdList" parameterType="alpass.ipt.clr.com.vo.ClrComnCdVo" resultType="alpass.ipt.clr.com.vo.ClrComnCdVo">
        /** ClriComnCd_selectComnCdPaginatedList */
        <include refid="pagination.header" />
        <include refid="sqlSelectQuery" />
        <include refid="sqlSearchQuery" />
        <include refid="pagination.footer" />
    </select>

    <select id="selectNoExistCurrCd"
            parameterType="alpass.com.code.vo.ComCurrCdVo"
            resultType="string">
        /** selectNoExistCurrCd*/
        SELECT 1
        FROM TB_COM_CURR_CD
        WHERE DEL_YN = 'N'
        AND CURR_CD = #{currCd}
    </select>

    <select id="selectNoExistNif" parameterType="alpass.com.code.vo.ComNifVo" resultType="string">
        /* selectNoExistNif : 사업자등록번호 유효성 체크*/
        SELECT  1
        FROM TB_POTE_NIF A,
             TB_COM_CO B,
             TB_POTE_CMRC_REGS C
        WHERE A.DEL_YN = 'N'
          AND B.DEL_YN(+) = 'N'
          AND A.NIF = B.NIF(+)
          AND A.NIF = C.NIF(+)
          AND A.NIF = #{nif}
    </select>

    <select id="selectNoExistTaxCd" parameterType="alpass.ipt.clr.com.vo.ClrTaxCdVo" resultType="string">
        /* selectNoExistTaxCd : TAX_CD 유효성 체크*/
        SELECT  1
        FROM TB_CLRI_TAX_CD A
        WHERE A.DEL_YN = 'N'
          AND A.USE_YN ='Y'
          AND A.TAX_CD = #{taxCd}

    </select>

    <select id="selectNoExistApcCd" parameterType="alpass.ipt.clr.com.vo.ClrApcCdVo" resultType="string">
        /* selectNoExistApcCd : APC_CD 유효성 체크*/
        SELECT  1
        FROM TB_CLRI_APC_CD A
        WHERE A.DEL_YN = 'N'
          AND A.APC_CD = #{apcCd}
    </select>

    <select id="selectNoExstHsCd"
            parameterType="alpass.com.code.vo.ComHsCdVo"
            resultType="string">
        /** selectNoExstHsCd*/
        SELECT 1
        FROM TB_CLRI_HS_CD
        WHERE DEL_YN = 'N'
        AND HS_CD = #{hsCd}
        <choose>
            <when test=" hsAplyStrtDt != null and hsAplyStrtDt != '' and hsAplyEndDt != null and hsAplyEndDt != ''">
                AND HS_APLY_STRT_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{hsAplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')  AND HS_APLY_END_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{hsAplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
            </when>
            <otherwise>
                AND TO_CHAR(SYSDATE,'YYYYMMDD') BETWEEN HS_APLY_STRT_DT AND HS_APLY_END_DT
            </otherwise>
        </choose>
    </select>

    <select id="selectNoExistCstmCd"
            parameterType="alpass.ipt.clr.com.vo.ClrValitationVo"
            resultType="string">
        /** selectNoExistCstmCd*/
        SELECT 1
        FROM ALPASSINT.TB_POTI_ORGN
        WHERE DEL_YN = 'N'
          AND UPPER(ORGN_CD) = #{cstmCd}
    </select>

    <select id="selectNoExistCntyCd"
            parameterType="alpass.ipt.clr.com.vo.ClrValitationVo"
            resultType="string">
        /** selectNoExistCntyCd*/
        SELECT 1
        FROM ALPASSINT.TB_COM_CNTY_CD A
        WHERE A.DEL_YN = 'N'
          AND A.CNTY_CD = #{cntyCd}
    </select>

    <select id="selectNoExistDcerCd"
            parameterType="alpass.ipt.clr.com.vo.ClrValitationVo"
            resultType="string">
        /** selectNoExistDcerCd*/
        SELECT 1
        FROM ALPASSINT.TB_COM_CO_DCLR_CD A
        WHERE A.DEL_YN = 'N'
          AND A.CO_DCLR_CD = #{dcerCd}
    </select>

    <insert id="insertClrComCdDetl" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo">
        /** insertClrComCdDetl */
        with upsert as
                     (
        UPDATE TB_COM_COMN_CD_D SET
            LAST_CHPR_ID = #{lastChprId}
                                  , LAST_CHG_DTTM = SYSTIMESTAMP
                                  , DEL_YN = 'N'
                                  , UPR_COMN_CD = #{detlUprComnCd}
                                  , UPR_CD_VDVAL = #{detlUprCdVdval}
                                  , VALD_STRT_DT =  TO_CHAR(TO_DATE(#{detlValdStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')
                                  , VALD_END_DT =  TO_CHAR(TO_DATE(#{detlValdEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')
                                  , SORT_ORDR = #{detlSortOrdr}
                                  , USER_DEFN_VDVAL1 = #{userDefnVdval1}
                                  , USER_DEFN_VDVAL2 = #{userDefnVdval2}
                                  , USER_DEFN_VDVAL3 = #{userDefnVdval3}
                                  , USE_YN = #{detlUseYn}
        WHERE COMN_CD = #{detlComnCd}
          AND CD_VDVAL = #{detlCdVdval}
            returning *
    )
        INSERT INTO TB_COM_COMN_CD_D
        (
            COMN_CD
        , CD_VDVAL
        , UPR_COMN_CD
        , UPR_CD_VDVAL
        , VALD_STRT_DT
        , VALD_END_DT
        , SORT_ORDR
        , USER_DEFN_VDVAL1
        , USER_DEFN_VDVAL2
        , USER_DEFN_VDVAL3
        , USE_YN
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        SELECT
            #{detlComnCd}
             , #{detlCdVdval}
             , #{detlUprComnCd}
             , #{detlUprCdVdval}
             , TO_CHAR(TO_DATE(#{detlValdStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')
             , TO_CHAR(TO_DATE(#{detlValdEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')
             , #{detlSortOrdr}
             , #{userDefnVdval1}
             , #{userDefnVdval2}
             , #{userDefnVdval3}
             , #{detlUseYn}
             , #{detlDelYn}
             , #{frstRegstId}
             , SYSTIMESTAMP
             , #{lastChprId}
             , SYSTIMESTAMP
            WHERE NOT exists(select * from upsert)
    </insert>

    <select id="selectComnCdVo" parameterType="alpass.ipt.clr.com.vo.ClrComnCdVo" resultType="alpass.ipt.clr.com.vo.ClrComnCdVo">
        /** selectComnCdVo */

        SELECT
            B.COMN_CD
             , B.CD_VDVAL
             , B.LANG_CD
             , B.CD_VDVAL_NM
             , A.USE_YN
             , A.SORT_ORDR
        FROM	 	TB_COM_COMN_CD_D A,TB_COM_COMN_CD_D_LANG B
        WHERE		A.DEL_YN = 'N'
          AND 		B.DEL_YN = 'N'
          AND 		A.COMN_CD = B.COMN_CD
          AND 		A.CD_VDVAL = B.CD_VDVAL
          AND		B.COMN_CD = #{comnCd}
          AND		B.LANG_CD = #{langCd}
          AND		B.CD_VDVAL = #{cdVdval}


    </select>


</mapper>