<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.frxcg.lst.mapper.PscFrxcgLstMapper">

  <!--
  @TODO:번역필요 !== 외환신고서 관련 신청서 목록 조회 ==!
  -->
  <select id="selectPscFrxcgDcshList"  parameterType="alpass.ipt.psc.frxcg.lst.vo.PscFrxcgSearchVo" 
    resultType="alpass.ipt.psc.frxcg.lst.vo.PscFrxcgSearchVo"> 
      /* selectPscFrxcgDcshList */
      <include refid="pagination.header" ></include>
    
	    SELECT FRXCG_DCSH_TEMP_NO
			  ,FRXCG_DCSH_MGMT_NO
			  ,CSTM_CD
			  ,FRXCG_RGSR_TP_CD
			  ,PSNR_PT_CD
			  ,PSPR_NO
			  ,TO_CHAR(TO_DATE(RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT
			  ,FRXCG_EUR_TAMT			  
			  ,FRXCG_RQST_STTS_CD
			  ,( SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')
			  	   FROM TB_PSCI_FRXCG_DCSH_AUDT B
			  	  WHERE A.FRXCG_DCSH_TEMP_NO = B.FRXCG_DCSH_TEMP_NO 
			  	    AND B.AUDT_RSLT_CD = '02'
			  	    AND ROWNUM = 1
			   ) AS AUDT_RSLT_RGSR_DTTM
			   ,PSNR_FMNM                  /** Prénom Du Voyageur !== 여행자성 ==! */
               ,PSNR_GVNM_NM               /** Prénom du voyageur !== 여행자이름명 ==! */
               ,(PSNR_FMNM ||' '|| PSNR_GVNM_NM) AS PSNR_FMNM_GVNM   
		FROM  ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT A
		WHERE 1=1
		AND DEL_YN = 'N'
		<!-- AND FRST_REGST_ID = #{userId} -->
      	<if test='frxcgDcshTempNo != null and frxcgDcshTempNo != ""'>
		AND FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo} 
		</if>
		<if test='frxcgDcshMgmtNo != null and frxcgDcshMgmtNo != ""'>
		AND FRXCG_DCSH_MGMT_NO = #{frxcgDcshMgmtNo} 
		</if>   
		<if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
		AND RGSR_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
		</if>
		<if test='frxcgRgsrTpCd != null and frxcgRgsrTpCd != ""'>
		AND FRXCG_RGSR_TP_CD = #{frxcgRgsrTpCd} 
		</if>   
		<if test='psnrPtCd != null and psnrPtCd != ""'>
		AND PSNR_PT_CD = #{psnrPtCd} 
		</if>       
		<if test='psprNo != null and psprNo != ""'>
		AND PSPR_NO = #{psprNo} 
		</if>   
		<if test='frxcgRqstSttsCd != null and frxcgRqstSttsCd != ""'>
		AND FRXCG_RQST_STTS_CD = #{frxcgRqstSttsCd} 
		</if> 
		<if test='psnrFmnm != null and psnrFmnm != ""'>
		AND PSNR_FMNM = #{psnrFmnm} 
		</if>  
		<if test='psnrGvnmNm != null and psnrGvnmNm != ""'>
		AND PSNR_GVNM_NM = #{psnrGvnmNm} 
		</if>
	  	<if test='userCstmCd != null and userCstmCd != "" '>
		  AND A.CSTM_CD = #{userCstmCd}
	  	</if>
	  	<if test='deptCd != null and deptCd != "" '>
		  AND A.DEPT_CD = #{deptCd}
	  	</if>
	  	<if test="sctrCd != null and sctrCd != ''">
		  AND A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
	  	</if>
		AND FRXCG_RQST_STTS_CD NOT IN ('A1')
		ORDER BY A.FRST_RGSR_DTTM DESC
      <include refid="pagination.footer" ></include>
  </select>
  
  
  
  
  <!--
    @TODO:번역필요 !== GeneratorComments 조회 ==!
    -->
    <select id="selectPscFrxcgDcshInqt"  
      parameterType="alpass.ipt.psc.frxcg.lst.vo.PscFrxcgSearchVo" resultType="alpass.ipt.psc.frxcg.lst.vo.PscFrxcgSearchVo">
        /* selectPscFrxcgDcshInqt */
        <include refid="pagination.header" ></include>
			SELECT * 
			  FROM ( 
			        SELECT
							A.FRXCG_DCSH_TEMP_NO         /** NUMÉRO PROVISOIRE DE DÉCLARATION DES DEVISES !== 외환신고서임시번호 ==! */
			              , A.FRXCG_DCSH_MGMT_NO         /** NUMÉRO DE GESTION DE LA DÉCLARATION DE CHANGE !== 외환신고서관리번호 ==! */                
			              , A.PSPR_NO                    /** N° DE PASSEPORT !== 여권번호 ==! */			            
			          FROM  ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT A
			         WHERE  DEL_YN = 'N'    
			           AND A.FRXCG_RQST_STTS_CD = 'A4'
			         <if test='frxcgDcshMgmtNo != null and frxcgDcshMgmtNo != ""'>                           /** Suppression ON !== 삭제여부 ==! */
			           AND  A.FRXCG_DCSH_MGMT_NO = #{frxcgDcshMgmtNo}       /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */ 
			         </if>       
					 <if test='psprNo != null and psprNo != ""'>
			           AND  A.PSPR_NO  = #{psprNo}   /** N° DE PASSEPORT !== 여권번호 ==! */
			         </if>  
			         ORDER  BY A.FRST_RGSR_DTTM DESC
                   ) A
             WHERE  ROWNUM = 1
        <include refid="pagination.footer" ></include>
    </select>

  
</mapper>