<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Gérer l'émission de l'agrément. !== 인증서발급관리 Mapper. ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.entr.mapper.AeoAthrEntrCtfcMapper">

    <!--
    [Gérer l'émission de l'agrément] Consulter la liste !== [인증서발급관리] 목록조회 ==!
    -->
	<select id="selectAeoAthrEntrCtfcList" parameterType="alpass.ipt.aeo.athr.entr.vo.AeoAthrEntrCtfcVo" resultType="alpass.ipt.aeo.athr.entr.vo.AeoAthrEntrCtfcVo">
		/* selectAeoAthrEntrCtfcList */
	    <include refid="pagination.header"/>
		<choose>
			<when test='srchReisuRqstYn != null and "Y".equals(srchReisuRqstYn)'>
			SELECT  A.AEO_ATHR_NO                                                                /** Numéro d'OEA !== AEO공인번호 ==! */
			      , A.NIF                                                                        /** NIF !== 납세번호 ==! */
			      , '' AS HIST_SRNO                                                              /** N° de sequence de l'historique !== 이력일련번호 ==! */
			      , C.CTFC_ISS_RQST_NO                                                           /** N° demande d'émission de l'agrément !== 인증서발급신청번호 ==! */
			      , C.RQST_RSN_CN                                                                /** Contenu De La Motif De Demande !== 신청사유내용 ==! */
			      , C.ISS_LANG_CD                                                                /** Langue de l'agrément !== 발급언어코드 ==! */
			      , FN_GET_CD_VDVAL_NM('AEO_0034', C.ISS_LANG_CD, #{langCd}) AS ISS_LANG_NM      /** Langue de l'agrément !== 발급언어코드 ==! */
			      , ( SELECT TO_CHAR(TO_DATE(CC.ISS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') FROM TB_AEOI_CTFC_ISS_MGMT CC WHERE CC.CTFC_ISS_RQST_NO = C.CTFC_ISS_RQST_NO ) AS ISS_DT    /** Date d'émission !== 발급일자 ==! */
			      , C.ATCH_FILE_ID                                                               /** Id Du Fichier Joint !== 첨부파일ID ==! */
			      , TO_CHAR(C.RQST_DTTM, 'DD/MM/YYYY') AS RQST_DTTM                              /** Date Et Heure De La Demande !== 신청일시 ==! */
			      , C.RTRN_RSN_CN                                                                /** Motif De Rejet !== 반려사유내용 ==! */
			      , C.PRCS_STTS_CD                                                               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			      , FN_GET_CD_VDVAL_NM('AEO_0033', C.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM    /** Code De Statut De Traitement !== 처리상태코드 ==! */
			      , ( SELECT CC.CO_NM FROM TB_AEOI_CTFC_ISS_MGMT CC WHERE CC.CTFC_ISS_RQST_NO = C.CTFC_ISS_RQST_NO AND CC.DEL_YN = 'N' ) AS CO_NM            /** Nom De L'Entreprise !== 업체명 ==! */
			      , ( SELECT CC.HOFC_ADDR FROM TB_AEOI_CTFC_ISS_MGMT CC WHERE CC.CTFC_ISS_RQST_NO = C.CTFC_ISS_RQST_NO AND CC.DEL_YN = 'N' ) AS HOFC_ADDR    /** Adresse du siège social !== 본사주소 ==! */
			FROM    TB_AEOI_CTFC_REISU_RQST C
			      , TB_AEOI_ATHR_CO A
			WHERE   C.AEO_ATHR_NO = A.AEO_ATHR_NO
			AND     C.DEL_YN = 'N'
			AND     C.PRCS_STTS_CD <![CDATA[ <> ]]> '01'
			</when>
			<otherwise>
			SELECT  A.AEO_ATHR_NO
			      , A.NIF
			      , B.HIST_SRNO
			      , B.CTFC_ISS_RQST_NO
			      , ( SELECT C.RQST_RSN_CN FROM TB_AEOI_CTFC_REISU_RQST C WHERE C.CTFC_ISS_RQST_NO = B.CTFC_ISS_RQST_NO ) AS RQST_RSN_CN
			      , B.ISS_LANG_CD
			      , FN_GET_CD_VDVAL_NM('AEO_0034', B.ISS_LANG_CD, #{langCd}) AS ISS_LANG_NM
			      , TO_CHAR(TO_DATE(B.ISS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ISS_DT
			      , ( SELECT C.ATCH_FILE_ID FROM TB_AEOI_CTFC_REISU_RQST C WHERE C.CTFC_ISS_RQST_NO = B.CTFC_ISS_RQST_NO ) AS ATCH_FILE_ID
			      , TO_CHAR(( SELECT C.RQST_DTTM FROM TB_AEOI_CTFC_REISU_RQST C WHERE C.CTFC_ISS_RQST_NO= B.CTFC_ISS_RQST_NO ), 'DD/MM/YYYY') AS RQST_DTTM
			      , '' AS RTRN_RSN_CN
			      , ( SELECT C.PRCS_STTS_CD FROM TB_AEOI_CTFC_REISU_RQST C WHERE C.CTFC_ISS_RQST_NO= B.CTFC_ISS_RQST_NO ) AS PRCS_STTS_CD
			      , FN_GET_CD_VDVAL_NM('AEO_0033', ( SELECT C.PRCS_STTS_CD FROM TB_AEOI_CTFC_REISU_RQST C WHERE C.CTFC_ISS_RQST_NO= B.CTFC_ISS_RQST_NO ), #{langCd}) AS PRCS_STTS_NM
			      , B.CO_NM
			      , B.HOFC_ADDR
			FROM    TB_AEOI_ATHR_CO A
				  , TB_AEOI_CTFC_ISS_MGMT B
			WHERE   A.AEO_ATHR_NO = B.AEO_ATHR_NO(+)
			</otherwise>
		</choose>
		AND	    A.ATHR_STRT_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(REPLACE(#{srchAthrEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
		AND	    A.ATHR_END_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(REPLACE(#{srchAthrStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
		<if test='srchAeoAthrNo != null and !"".equals(srchAeoAthrNo)'>
			AND     A.AEO_ATHR_NO = #{srchAeoAthrNo}
		</if>
		<if test='srchCoCd != null and !"".equals(srchCoCd)'>
			AND     A.CO_CD = #{srchCoCd}
		</if>

		<if test='srchReisuRqstYn != null and "Y".equals(srchReisuRqstYn)'>
			ORDER   BY AEO_ATHR_NO DESC, CTFC_ISS_RQST_NO DESC
		</if>
		<if test='srchReisuRqstYn == null or !"Y".equals(srchReisuRqstYn)'>
			ORDER   BY AEO_ATHR_NO DESC, HIST_SRNO DESC
		</if>
		<include refid="pagination.footer"/>
	</select>

    <!--
    [Gérer l'émission de l'agrément] Enregistrer !== [인증서발급관리] 등록 ==!
    -->
	<insert id="insertAeoCtfcIssMgmt" parameterType="alpass.ipt.aeo.athr.entr.vo.AeoAthrEntrCtfcVo">
		/* insertAeoCtfcIssMgmt */
		INSERT INTO ALPASSINT.TB_AEOI_CTFC_ISS_MGMT (
		          AEO_ATHR_NO                  /** Numéro d'OEA !== AEO공인번호 ==! */
		        , HIST_SRNO                    /** N° de sequence de l'historique !== 이력일련번호 ==! */
		        , CTFC_ISS_RQST_NO             /** N° demande d'émission de l'agrément !== 인증서발급신청번호 ==! */
		        , ISS_DT                       /** Date d'émission !== 발급일자 ==! */
		        , ISS_LANG_CD                  /** Langue de l'agrément !== 발급언어코드 ==! */
		        , CO_NM                        /** Nom De L'Entreprise !== 업체명 ==! */
		        , HOFC_ADDR                    /** Adresse du siège social !== 본사주소 ==! */
		        , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
		        , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		        , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		        , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
		        , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		VALUES (
		          #{aeoAthrNo}
		        , (SELECT NVL(MAX(HIST_SRNO), 0) + 1 FROM ALPASSINT.TB_AEOI_CTFC_ISS_MGMT WHERE AEO_ATHR_NO = #{aeoAthrNo})
		        , #{ctfcIssRqstNo}
		        , TO_CHAR(TO_DATE(REPLACE(#{issDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
		        , #{issLangCd}
		        , #{coNm}
		        , #{hofcAddr}
		        , 'N'                           /** Suppression On !== 삭제여부 ==! */
		        , #{frstRegstId}                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		        , CURRENT_TIMESTAMP             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		        , #{lastChprId}                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
		        , CURRENT_TIMESTAMP             /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		       )
	</insert>

    <!--
    [Gérer l'émission de l'agrément] Déposer !== [인증서발급관리] 삭제 ==!
    -->
	<update id="deleteAeoCtfcIssMgmt" parameterType="alpass.ipt.aeo.athr.entr.vo.AeoAthrEntrCtfcVo">
		/* deleteAeoCtfcIssMgmt */
		UPDATE  ALPASSINT.TB_AEOI_CTFC_ISS_MGMT
		SET
		        LAST_CHPR_ID = #{lastChprId}           /** Id Du Modificateur Final !== 최종변경자ID ==! */
		      , LAST_CHG_DTTM = CURRENT_TIMESTAMP      /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		      , DEL_YN = 'Y'                           /** Suppression On !== 삭제여부 ==! */
		WHERE
		        DEL_YN = 'N'                           /** Suppression On !== 삭제여부 ==! */
		AND	    AEO_ATHR_NO = #{aeoAthrNo}
		<if test='deleteAll != null and "N".equals(deleteAll)'>
			AND     HIST_SRNO = #{histSrno}
		</if>
	</update>

    <!--
    [Demander la réémission de l'agrément] Statut !== [인증서재발급신청] 상태 ==!
    -->
	<update id="updateAeoCtfcRqstStts" parameterType="alpass.ipt.aeo.athr.entr.vo.AeoAthrEntrCtfcVo">
		/* updateAeoCtfcRqstStts */
		UPDATE  ALPASSINT.TB_AEOI_CTFC_REISU_RQST
		SET
		        LAST_CHPR_ID = #{lastChprId}           /** Id Du Modificateur Final !== 최종변경자ID ==! */
		      , LAST_CHG_DTTM = CURRENT_TIMESTAMP      /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
			<if test='prcsSttsCd != null and "04".equals(prcsSttsCd)'>
		      , RTRN_RSN_CN = #{rtrnRsnCn}             /** Motif De Rejet !== 반려사유내용 ==! */
			</if>
		      , PRCS_STTS_CD = #{prcsSttsCd}           /** Code De Statut De Traitement !== 처리상태코드 ==! */
		WHERE
		        DEL_YN = 'N'                           /** Suppression On !== 삭제여부 ==! */
		AND	    CTFC_ISS_RQST_NO = #{ctfcIssRqstNo}
		AND	    NIF = #{nif}
		AND	    AEO_ATHR_NO = #{aeoAthrNo}
	</update>

</mapper>