<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.car.com.hnotchghist.mapper.HnotChgHistMapper">

	<!--
	[Rechercher] Consulter la liste de l'historique des modifications de cotation.      !== 배부변경이력 목록을 조회한다. ==!
	(Jeong Byungyeol)
	-->
	<select id="selectHnotChgHistList" resultType="alpass.ipt.car.com.hnotchghist.vo.HnotChgHistVo">
		/* alpass.ipt.car.com.hnotchghist.mapper.HnotChgHistMapper.selectHnotChgHistList */
		SELECT
				A.CHG_HIST_SRNO				/**  N° De Séquence De L'Historique De Changement  !== 변경이력일련번호 ==!  */
			, A.CAG_RQST_NO				/**  N° De Demande De Cargaison  !== 화물신청번호 ==!  */
			, A.CAG_RQST_TP_CD				/**  Code de type de demande fret  !== 화물신청구분코드 ==!  */
			, A.RQST_DGCNT				/**  N° ordre de la demande  !== 신청차수 ==!  */
			, A.ORGN_TP_CD				/**  Code Distintif D'Unité  !== 조직구분코드 ==!  */
			, A.EMP_TP_CD				/**  Code De Catégorie De Chargé  !== 직원구분코드 ==!  */
			, A.HNOT_EMP_ID				/**  ID du chargé de cotation  !== 배부직원ID ==!  */
			, A.BFCH_EMP_ID				/**  Id De L'Inspecteur Avant La Modification  !== 변경전직원ID ==!  */
			, A.AFCH_EMP_ID				/**  Id De L'Inspecteur Après La Modification  !== 변경후직원ID ==!  */
			, (SELECT EMP.EMP_NM FROM TB_POTI_EMP EMP WHERE EMP.PBSR_NO = A.BFCH_EMP_ID) AS BFCH_EMP_NM
			, (SELECT EMP.EMP_NM FROM TB_POTI_EMP EMP WHERE EMP.PBSR_NO = A.AFCH_EMP_ID) AS AFCH_EMP_NM
			, A.CHG_RSN_CN				/**  Motif De La Modification  !== 변경사유내용 ==!  */
			, A.DEL_YN				            /**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM				/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') As LAST_CHG_DTTM				/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM
			TB_CARI_HNOT_CHG_H A
		WHERE
		    A.CAG_RQST_NO = #{cagRqstNo}
		AND
		    A.CAG_RQST_TP_CD = #{cagRqstTpCd}

		<if test="orgnTpCd !=null and orgnTpCd !='' ">
			AND
			    A.ORGN_TP_CD = #{orgnTpCd}
		</if>
		<if test="empTpCd !=null and empTpCd !='' ">
			AND
			    A.EMP_TP_CD = #{empTpCd}
		</if>
		ORDER BY
		    A.RQST_DGCNT DESC
	</select>

	<!--
	[Enregistrer] Enregistrer l'historique des modifications de cotation.      !== 배부변경이력을 등록한다. ==!
	(Jeong Byungyeol)
	-->
	<insert id="insertHnotChgHist" parameterType="alpass.ipt.car.com.hnotchghist.vo.HnotChgHistVo">
		/* alpass.ipt.car.com.hnotchghist.mapper.HnotChgHistMapper.insertHnotChgHist */
		INSERT INTO
			TB_CARI_HNOT_CHG_H
		(
			  CHG_HIST_SRNO				/**  N° De Séquence De L'Historique De Changement  !== 변경이력일련번호 ==!  */
			, CAG_RQST_NO				/**  N° De Demande De Cargaison  !== 화물신청번호 ==!  */
			, CAG_RQST_TP_CD				/**  Code de type de demande fret  !== 화물신청구분코드 ==!  */
			, RQST_DGCNT				/**  N° ordre de la demande  !== 신청차수 ==!  */
			, ORGN_TP_CD				/**  Code Distintif D'Unité  !== 조직구분코드 ==!  */
			, EMP_TP_CD				/**  Code De Catégorie De Chargé  !== 직원구분코드 ==!  */
			, HNOT_EMP_ID				/**  ID du chargé de cotation  !== 배부직원ID ==!  */
			, BFCH_EMP_ID				/**  Id De L'Inspecteur Avant La Modification  !== 변경전직원ID ==!  */
			, AFCH_EMP_ID				/**  Id De L'Inspecteur Après La Modification  !== 변경후직원ID ==!  */
			, CHG_RSN_CN				/**  Motif De La Modification  !== 변경사유내용 ==!  */
			, DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			, FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, FRST_RGSR_DTTM				/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM				/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)values(
			  (SELECT NVL(MAX(CHG_HIST_SRNO),0)+1 FROM TB_CARI_HNOT_CHG_H)			/**  N° De Séquence De L'Historique De Changement  !== 변경이력일련번호 ==!  */
			, #{cagRqstNo}			/**  N° De Demande De Cargaison  !== 화물신청번호 ==!  */
			, #{cagRqstTpCd}			/**  Code de type de demande fret  !== 화물신청구분코드 ==!  */
			, (
				SELECT
			      COUNT(RQST_DGCNT) + 1
				FROM
			      TB_CARI_HNOT_CHG_H A
				WHERE
			      A.CAG_RQST_NO = #{cagRqstNo}
			  AND
				    A.CAG_RQST_TP_CD = #{cagRqstTpCd}
				<if test="orgnTpCd !=null and orgnTpCd !='' ">
				  AND
					    A.ORGN_TP_CD = #{orgnTpCd}
				</if>
				<if test="empTpCd !=null and empTpCd !='' ">
				  AND
					    A.EMP_TP_CD = #{empTpCd}
				</if>
    	)			/**  N° ordre de la demande  !== 신청차수 ==!  */
			, #{orgnTpCd}			/**  Code Distintif D'Unité  !== 조직구분코드 ==!  */
			, #{empTpCd}			/**  Code De Catégorie De Chargé  !== 직원구분코드 ==!  */
			, #{hnotEmpId}			/**  ID du chargé de cotation  !== 배부직원ID ==!  */
			, #{bfchEmpId}			/**  Id De L'Inspecteur Avant La Modification  !== 변경전직원ID ==!  */
			, #{afchEmpId}			/**  Id De L'Inspecteur Après La Modification  !== 변경후직원ID ==!  */
			, #{chgRsnCn}			/**  Motif De La Modification  !== 변경사유내용 ==!  */
			, #{delYn}			/**  Suppression On  !== 삭제여부 ==!  */
			, #{frstRegstId}			/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, SYSTIMESTAMP 	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, #{lastChprId}			/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, SYSTIMESTAMP 	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)
	</insert>

</mapper>
