<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : [OEA commun] Décision d'agrément !==[AEO 공통] 공인결정 Mapper ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.com.mapper.AeoComPrntAthrDtrmMapper">

    <!--
    Décision d'agrément !==공인결정==!
    -->
    <select id="selectComAthrDtrm"
            parameterType="alpass.ipt.aeo.com.vo.AeoComPrntAthrDtrmVo"
            resultType="alpass.ipt.aeo.com.vo.AeoComPrntAthrDtrmVo">
        /* selectComAthrDtrm */
        SELECT
              A.AEO_ATHR_NO              /** Numéro d'OEA !== AEO공인번호 ==! */
            , A.NIF                      /** Numéro d’identification fiscale !== 납세식별번호 ==! */
            , NVL(D.CO_NM, NVL((SELECT CO_NM FROM ALPASSEXT.TB_POTE_NIF WHERE NIF = A.NIF AND DEL_YN = 'N'), C.CO_NM)) AS CO_NM    /** Nom De L'Entreprise !== 업체명 ==! */
            , NVL(D.HOFC_ADDR, NVL((SELECT CO_DTL_ADDR FROM ALPASSEXT.TB_POTE_NIF WHERE NIF = A.NIF AND DEL_YN = 'N'), B.HOFC_ADDR)) HOFC_ADDR    /** Adresse du siège social !== 본사주소 ==! */
            , NVL(C.CMRC_REGS_NO,'') AS CMRC_REGS_NO    /** Numéro de registre du commerce !== 상업등기번호 ==! */
            , (SELECT TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') FROM TB_AEOI_RQST_HIST_MGMT WHERE AEO_RQST_NO = B.AEO_ATHR_RQST_NO AND PRCS_STTS_CD = 'D31' AND DTL_PRCS_STTS_CD = 'U26') AS ATHR_DTRM_DT    /** Date la décision d'agrément !== 공인결정일자 ==! */
            , TO_CHAR(TO_DATE(A.ATHR_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_STRT_DT    /** Date de commencement d'agrément !== 공인시작일자 ==! */
         FROM TB_AEOI_ATHR_CO A          /** AEOI_OPÉRATEURS AGRÉÉS !== AEOI_공인업체 ==! */
            , TB_AEOI_ATHR_RQST B        /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
            , TB_COM_CO C                /** COM_ENTREPRISE !== COM_업체 ==! */
            , TB_AEOI_CTFC_ISS_MGMT D    /** AEOI_GÉRER L'ÉMISSION DE L'AGRÉMENT !== AEOI_인증서발급관리 ==! */
        WHERE A.AEO_ATHR_NO = #{aeoAthrNo}
          AND A.AEO_ATHR_NO = B.AEO_ATHR_NO
          AND A.NIF = B.NIF
          AND B.NIF = C.NIF
          AND B.DEL_YN = 'N'
          AND C.DEL_YN = 'N'
          AND A.AEO_ATHR_NO = D.AEO_ATHR_NO
          AND D.HIST_SRNO = (SELECT MAX(DD.HIST_SRNO) FROM TB_AEOI_CTFC_ISS_MGMT DD WHERE DD.AEO_ATHR_NO = #{aeoAthrNo} AND DD.DEL_YN = 'N')
    </select>

    <!--
    Fiche signalétique !==기록카드==!
    -->
    <select id="selectComRecCard"
            parameterType="alpass.ipt.aeo.com.vo.AeoComPrntAthrDtrmVo"
            resultType="alpass.ipt.aeo.com.vo.AeoComPrntRecCardVo">
        /* selectComRecCard */
        SELECT A.AEO_ATHR_RQST_NO        /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
             , A.AUDT_PT_CD              /** Code De Type De Contrôle !== 심사유형코드 ==! */
             , FN_GET_CD_VDVAL_NM('AEO_0023', NVL(G.MGMT_RQST_TP_CD, A.AUDT_PT_CD), 'FR') AS DLBR_PT_CD_NM  /** Code type de délibération !== 심의유형코드명 ==! */
             , TO_CHAR(A.RQST_DTTM, 'DD/MM/YYYY') AS RQST_DT  /** Date Et Heure De La Demande !== 갱신요청 제출날짜 ==! */
             , A.AEO_ATHR_NO             /** Numéro d'OEA !== 공인번호 ==! */
             , A.RPRS_TLPH_NO            /** N° De Téléphone Principale !== 5. 전화번호 ==! */
             , B.CO_NM                   /** Nom De L'Entreprise !== 상호명 ==! */
             , B.ENTR_ESTB_DT            /** Date d'établissement d'entreprise !== 1.업체 설립 일자 ==! */
             , B.ACTV_RLM_CN             /** Secteur d’activité !== 2. 업체 주요 활동 ==! */
             , '' AS ADD_RLM_CN          /** '' !== 3. 부차적활동 ==! */
             , B.HOFC_ADDR               /** Adresse du siège social !== 4.주소 ==! */
             , B.IMP_CMDT_CN             /** Produits importés !== 10. 수입물품 ==! */
             , B.EXP_CMDT_CN             /** Produits exportés !== 11. 수출물품 ==! */
             , C.DCLR_YY_1               /** Année de déclaration_1 !== 6. 신고연도 1 ==! */
             , C.DCLR_YY_2               /** Année de déclaration_2 !== 6. 신고연도 2 ==! */
             , C.DCLR_YY_3               /** Année de déclaratio n_3 !== 6. 신고연도 3 ==! */
             , C.SLS_AMT_1               /** Chiffres d’affaires_1 !== 6. 매출금액 1 ==! */
             , C.SLS_AMT_2               /** Chiffres d’affaires_2 !== 6. 매출금액 2 ==! */
             , C.SLS_AMT_3               /** Chiffres d’affaires_3 !== 6. 매출금액 3 ==! */
             , C.IMP_DCLR_CNT_1          /** Nombre De Déclarations D'Importation_1 !== 8. 수입신고건수 1 ==! */
             , C.IMP_DCLR_CNT_2          /** Nombre De Déclarations D'Importation_2 !== 8. 수입신고건수 2 ==! */
             , C.IMP_DCLR_CNT_3          /** Nombre De Déclarations D'Importation_3 !== 8. 수입신고건수 3 ==! */
             , C.EXP_DCLR_CNT_1          /** Nombre De Déclarations D'Exportation_1 !== 9. 수출신고건수 1 ==! */
             , C.EXP_DCLR_CNT_2          /** Nombre De Déclarations D'Exportation_2 !== 9. 수출신고건수 2 ==! */
             , C.EXP_DCLR_CNT_3          /** Nombre De Déclarations D'Exportation_3 !== 9. 수출신고건수 3 ==! */
             , D.DGD_ACRS_CN             /** Antécédents vis-à-vis de l’administration des douanes !== II. 심사결과 ==! */
             , D.TAX_ACRS_CN             /** Antécédents vis-à-vis de l’administration fiscale !== II. 심사결과 ==! */
             , D.TRDE_SRVC_ACRS_CN       /** Antécédents vis-à-vis des services du commerce !== II. 심사결과 ==! */
             , D.EMPY_SUPV_SRVC_ACRS_CN  /** Antécédents vis-à-vis des services de l’inspection de travail !== II. 심사결과 ==! */
             , D.SCT_INSR_SRVC_ACRS_CN   /** Antécédents vis-à-vis des services de la sécurité sociale !== II. 심사결과 ==! */
             , D.RNAF_SAFE_OPIN_CN       /** Avis sur la solvabilité financière !== II. 심사결과 ==! */
             , D.AEO003_AVIS             /** AEO003_AVIS !== III. 의견서 ==! */
             , E.AEO002_AVIS             /** AEO002_AVIS !== III. 의견서 ==! */
             , E.AEO012_AVIS             /** AEO012_AVIS !== III. 의견서 ==! */
             , E.AEO004_AVIS             /** AEO004_AVIS !== III. 의견서 ==! */
             , CASE WHEN H.AEO006_AVIS IS NOT NULL THEN F.AEO006_AVIS || CHR(10) || CHR(13) ||
                                                        '[' || FN_GET_CD_VDVAL_NM('AEO_0007', G.MGMT_RQST_TP_CD, 'FR') || '] ' || CHR(10) || H.AEO006_AVIS
                    ELSE F.AEO006_AVIS
               END AS AEO006_AVIS        /** AEO006_AVIS !== V. 관찰 ==! */
        FROM   TB_AEOI_ATHR_RQST A       /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
             , TB_AEOI_QEST_BSCS B       /** AEOI_QUESTIONS DE BASE !== AEOI_질문기본 ==! */
             , ( SELECT CC.AEO_ATHR_RQST_NO
                      , MAX(DECODE(RNUM, 1, CC.DCLR_YY)) AS DCLR_YY_1
                      , MAX(DECODE(RNUM, 2, CC.DCLR_YY)) AS DCLR_YY_2
                      , MAX(DECODE(RNUM, 3, CC.DCLR_YY)) AS DCLR_YY_3
                      , MAX(DECODE(RNUM, 1, CC.SLS_AMT)) AS SLS_AMT_1
                      , MAX(DECODE(RNUM, 2, CC.SLS_AMT)) AS SLS_AMT_2
                      , MAX(DECODE(RNUM, 3, CC.SLS_AMT)) AS SLS_AMT_3
                      , MAX(DECODE(RNUM, 4, CC.DCLR_CNT)) AS IMP_DCLR_CNT_1
                      , MAX(DECODE(RNUM, 5, CC.DCLR_CNT)) AS IMP_DCLR_CNT_2
                      , MAX(DECODE(RNUM, 6, CC.DCLR_CNT)) AS IMP_DCLR_CNT_3
                      , MAX(DECODE(RNUM, 7, CC.DCLR_CNT)) AS EXP_DCLR_CNT_1
                      , MAX(DECODE(RNUM, 8, CC.DCLR_CNT)) AS EXP_DCLR_CNT_2
                      , MAX(DECODE(RNUM, 9, CC.DCLR_CNT)) AS EXP_DCLR_CNT_3
                 FROM ( SELECT *, ROWNUM AS RNUM
                        FROM   ( SELECT AA.AEO_ATHR_RQST_NO
                                      , BB.DCLR_YY
                                      , BB.ACRS_TP_CD
                                      , BB.SLS_AMT
                                      , BB.DCLR_CNT
                                 FROM   TB_AEOI_QEST_BSCS AA     /** AEOI_QUESTIONS DE BASE !== AEOI_질문기본 ==! */
                                      , TB_AEOI_QEST_CO_ACRS BB  /** AEOE_QUESTION CONCERNANT LES RÉSULTATS DE L'EXERCICE D'ACTIVITÉ DE L'OPÉRATEUR !== AEOI_질문업체실적 ==! */
                                 WHERE  AA.DEL_YN = 'N'
                                 AND    AA.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
                                 AND    BB.AEO_ATHR_RQST_NO = AA.AEO_ATHR_RQST_NO
                                 AND    BB.DEL_YN = 'N'
                                 ORDER BY BB.ACRS_TP_CD, BB.DCLR_YY )
                        ) CC
                 GROUP BY AEO_ATHR_RQST_NO
               ) C
             , ( SELECT DD.AEO_RQST_NO AS AEO_RQST_NO
                      , DD.AUDT_RSLT_CN AS AEO003_AVIS
                      , DD.DGD_ACRS_CN
                      , DD.TAX_ACRS_CN
                      , DD.TRDE_SRVC_ACRS_CN
                      , DD.EMPY_SUPV_SRVC_ACRS_CN
                      , DD.SCT_INSR_SRVC_ACRS_CN
                      , DD.RNAF_SAFE_OPIN_CN
                 FROM   TB_AEOI_AUDT_RSLT DD    /** AEOI_RÉSULTAT D'AUDIT !== AEOI_심사결과 ==! */
                 WHERE  DD.AEO_RQST_NO = #{aeoAthrRqstNo}
                 AND    DD.ATHR_RQST_TP_CD ='ARQ'
                 AND    DD.PRCS_STTS_CD = 'D28'
                 AND    DD.DTL_PRCS_STTS_CD = 'U20'
                 AND    ROWNUM = 1
                 AND    DD.DEL_YN = 'N'
               ) D
             , ( SELECT MAX(EE.AEO_RQST_NO) AS AEO_RQST_NO
                      , MAX(DECODE(EE.DTL_PRCS_STTS_CD, 'U21', WRIOP_CN)) AS AEO002_AVIS
                      , MAX(DECODE(EE.DTL_PRCS_STTS_CD, 'U59', WRIOP_CN)) AS AEO012_AVIS
                      , MAX(DECODE(EE.DTL_PRCS_STTS_CD, 'U60', WRIOP_CN)) AS AEO004_AVIS
                 FROM   TB_AEOI_WRIOP EE    /** AEOI_AVIS !== AEOI_의견서 ==! */
                 WHERE  EE.AEO_RQST_NO = #{aeoAthrRqstNo}
                 AND    EE.PRCS_STTS_CD = 'D28'
                 AND    EE.ATHR_RQST_TP_CD = 'ARQ'
                 AND    EE.DEL_YN = 'N'
               ) E
             , (SELECT FF.AEO_RQST_NO AS AEO_RQST_NO
                     , FF.AUDT_RSLT_CN AS AEO006_AVIS
                FROM   TB_AEOI_AUDT_RSLT FF    /** AEOI_RÉSULTAT D'AUDIT !== AEOI_심사결과 ==! */
                WHERE  FF.AEO_RQST_NO = #{aeoAthrRqstNo}
                AND    FF.PRCS_STTS_CD = 'D30'
                AND    FF.DTL_PRCS_STTS_CD = 'U24'
                AND    FF.DEL_YN = 'N'
               ) F
             , TB_AEOI_AFFC_RQST G             /** AEOI_DEMANDE ULTÉRIEURE !== AEOI_사후신청 ==! */
             , (SELECT HH.AEO_RQST_NO AS AEO_RQST_NO
                     , HH.AUDT_RSLT_CN AS AEO006_AVIS
                FROM   TB_AEOI_AUDT_RSLT HH    /** AEOI_RÉSULTAT D'AUDIT !== AEOI_심사결과 ==! */
                WHERE  HH.AEO_RQST_NO = #{aeoAffcMgmtRqstNo}
                AND    HH.PRCS_STTS_CD = 'D30'
                AND    HH.DTL_PRCS_STTS_CD = 'U24'
                AND    HH.DEL_YN = 'N'
               ) H
        WHERE  A.DEL_YN = 'N'
        AND    A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
        AND    B.AEO_ATHR_RQST_NO = A.AEO_ATHR_RQST_NO
        AND    B.DEL_YN = 'N'
        AND    C.AEO_ATHR_RQST_NO = A.AEO_ATHR_RQST_NO
        AND    D.AEO_RQST_NO = A.AEO_ATHR_RQST_NO
        AND    E.AEO_RQST_NO = A.AEO_ATHR_RQST_NO
        AND    F.AEO_RQST_NO = A.AEO_ATHR_RQST_NO
        AND    G.AEO_ATHR_NO(+) = A.AEO_ATHR_NO
        AND    G.AEO_AFFC_MGMT_RQST_NO(+) = #{aeoAffcMgmtRqstNo}
        AND    G.AEO_AFFC_MGMT_RQST_NO = H.AEO_RQST_NO(+)
    </select>



</mapper>