<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.hndv.mapper.ColHndvPcdrMgmtMapper">

    <!--
    Consulter la liste de la gestion de la passation de consignes !==인계절자관리 목록조회==!
    -->
    <select id="selectColHndvPcdrMgmtList" parameterType="alpass.ipt.col.hndv.vo.ColHndvPcdrMgmtVo" resultType="alpass.ipt.col.hndv.vo.ColHndvPcdrMgmtVo">
        /** ColHndvPcdrMgmtMapper_selectColHndvPcdrMgmtList **/
        <include refid="pagination.header" />
        SELECT
        PCDR.HNDV_PCDR_NO
        , (	SELECT 	B.ORGN_NM
            FROM 	TB_POTI_ORGN B,
            TB_POTI_ORGN C
            WHERE 	C.UPR_ORGN_MGMT_CD = B.ORGN_MGMT_CD
            AND C.ORGN_CD           = PCDR.CSTM_CD
            AND B.DEL_YN            = 'N'
            AND C.DEL_YN            = 'N'
        ) AS SCTR_NM
        , PCDR.CSTM_CD
        , FN_GET_ORGN_NM(PCDR.CSTM_CD) AS CSTM_NM								/** Nom Du Bureau !== 세관명 ==! */
        , PCDR.DEPT_CD
        , (SELECT FN_GET_ORGN_NM(orgn_cd) FROM
            (SELECT orgn_cd FROM TB_POTI_ORGN
            WHERE ORGN_CD = PCDR.DEPT_CD
            AND DEL_YN = 'N'
            AND LENGTH(RIT_AC_NO) = '20'
            AND ORGN_TP_CD = 'REC'
            AND ROWNUM = 1
            UNION
            SELECT orgn_cd
            FROM TB_POTI_ORGN
            WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = PCDR.DEPT_CD) LIKE '%'||ORGN_MGMT_CD||'%' AND ORGN_TP_CD = 'REC')
            WHERE ROWNUM = 1) AS DEPT_NM	/** Nom Du Bureau !== 부서명 ==! */
        , TO_CHAR(TO_DATE(PCDR.UDRT_DT,'YYYYMMDD'),'DD/MM/YYYY') AS UDRT_DT
        , PCDR.HNDV_CLTR_ID
        , (SELECT A.EMP_NM FROM TB_POTI_EMP A WHERE A.PBSR_NO = PCDR.HNDV_CLTR_ID) AS HNDV_CLTR_NM
        , PCDR.UDRT_CLTR_ID
        , (SELECT A.EMP_NM FROM TB_POTI_EMP A WHERE A.PBSR_NO = PCDR.UDRT_CLTR_ID) AS UDRT_CLTR_NM
        , PCDR.UDRT_HNDV_WTNNC_TP_CD
        , PCDR.RECP_RGST_PCDN_HNDV_YN
        , PCDR.EXPN_CRPP_PCDN_HNDV_YN
        , PCDR.RCVE_PCDN_HNDV_YN
        , PCDR.STMP_PCDN_HNDV_YN
        , PCDR.INVN_INVG_RGST_HNDV_YN
        , PCDR.OTHS_DOC_HNDV_YN
        , PCDR.OTHS_CN
        , PCDR.ATCH_FILE_ID
        , PCDR.FRST_REGST_ID								    				/** ID du premier enregistrant !== 최초등록자ID ==! */
        , PCDR.FRST_RGSR_DTTM									    			/** Date et heure de premier enregistrement !== 생성일자 ==! */
        , PCDR.LAST_CHPR_ID														/** ID du modificateur final !== 최종변경자ID ==! */
        , PCDR.LAST_CHG_DTTM													/** Date et heure de modification finale !== 최종변경일시 ==! */
        , NVL((SELECT SUM(RCVE.RCVE_AMT)
            FROM TB_COLI_RCVE RCVE
               , TB_COLI_PYMN PYMN
            WHERE RCVE.CSTM_CD = PCDR.CSTM_CD
            AND RCVE.DEPT_CD = PCDR.DEPT_CD
            AND RCVE.RCVE_DT <![CDATA[<=]]> PCDR.UDRT_DT
            AND RCVE.RCVE_NO = PYMN.RCVE_NO
            AND PYMN.PYMN_PT_CD = '001'), 0) AS CHS									/* 현금 */
        , NVL((SELECT SUM(RCVE.RCVE_AMT)
            FROM TB_COLI_RCVE RCVE
            , TB_COLI_PYMN PYMN
            WHERE RCVE.CSTM_CD = PCDR.CSTM_CD
            AND RCVE.DEPT_CD = PCDR.DEPT_CD
            AND RCVE.RCVE_DT <![CDATA[<=]]> PCDR.UDRT_DT
            AND RCVE.RCVE_NO = PYMN.RCVE_NO
            AND PYMN.PYMN_PT_CD = '002'), 0) AS CHCK								/* 수표 */
        , NVL((SELECT SUM(RCVE.RCVE_AMT)
            FROM TB_COLI_RCVE RCVE
            , TB_COLI_PYMN PYMN
            WHERE RCVE.CSTM_CD = PCDR.CSTM_CD
            AND RCVE.DEPT_CD = PCDR.DEPT_CD
            AND RCVE.RCVE_DT <![CDATA[<=]]> PCDR.UDRT_DT
            AND RCVE.RCVE_NO = PYMN.RCVE_NO
            AND PYMN.PYMN_PT_CD = '003'), 0) AS GRNY_BOND							/* 보증채권 */
        , NVL((SELECT SUM(RCVE.RCVE_AMT)
            FROM TB_COLI_RCVE RCVE
            , TB_COLI_PYMN PYMN
            WHERE RCVE.CSTM_CD = PCDR.CSTM_CD
            AND RCVE.DEPT_CD = PCDR.DEPT_CD
            AND RCVE.RCVE_DT <![CDATA[<=]]> PCDR.UDRT_DT
            AND RCVE.RCVE_NO = PYMN.RCVE_NO
            AND PYMN.PYMN_PT_CD = '004'), 0) AS BNK_RCVE							/* 국고국연결계좌 */
        , NVL((SELECT SUM(RCVE.RCVE_AMT)
            FROM TB_COLI_RCVE RCVE
            , TB_COLI_PYMN PYMN
            WHERE RCVE.CSTM_CD = PCDR.CSTM_CD
            AND RCVE.DEPT_CD = PCDR.DEPT_CD
            AND RCVE.RCVE_DT <![CDATA[<=]]> PCDR.UDRT_DT
            AND RCVE.RCVE_NO = PYMN.RCVE_NO
            AND PYMN.PYMN_PT_CD = '005'), 0) AS CCP		        					/* 우편대체계좌 */
        , NVL((SELECT SUM(RCVE.RCVE_AMT)
            FROM TB_COLI_RCVE RCVE
            , TB_COLI_PYMN PYMN
            WHERE RCVE.CSTM_CD = PCDR.CSTM_CD
            AND RCVE.DEPT_CD = PCDR.DEPT_CD
            AND RCVE.RCVE_DT <![CDATA[<=]]> PCDR.UDRT_DT
            AND RCVE.RCVE_NO = PYMN.RCVE_NO
            AND PYMN.PYMN_PT_CD = '006'), 0) AS FNTR								/* TPE */
        , NVL((SELECT SUM(RCVE.RCVE_AMT)
            FROM TB_COLI_RCVE RCVE
            , TB_COLI_PYMN PYMN
            WHERE RCVE.CSTM_CD = PCDR.CSTM_CD
            AND RCVE.DEPT_CD = PCDR.DEPT_CD
            AND RCVE.RCVE_DT <![CDATA[<=]]> PCDR.UDRT_DT
            AND RCVE.RCVE_NO = PYMN.RCVE_NO
            AND PYMN.PYMN_PT_CD = '007'), 0) AS CIB									/* CIB */
        FROM TB_COLI_HNDV_PCDR PCDR
        WHERE  PCDR.DEL_YN = 'N'
        <!--<if test='searchAllYn == null or searchAllYn !="Y" '>
            AND    PCDR.CSTM_CD  IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{sessPbsrNo}))
        </if>-->
        <if test="sctrCd != null and sctrCd != ''">
            AND  PCDR.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  PCDR.CSTM_CD = #{uprOrgnCd}
        </if>
        <!-- AND  NTFC.DEPT_CD = #{orgnCd} -->
        <if test="orgnCd != null and orgnCd != ''">
            AND (PCDR.DEPT_CD = #{orgnCd} OR PCDR.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR PCDR.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
        </if>
        <if test='cstmCd != null and cstmCd !="" '>
            AND    PCDR.CSTM_CD = #{cstmCd}
        </if>
        <if test='deptCd != null and deptCd !="" '>
            AND (PCDR.DEPT_CD = #{deptCd} OR PCDR.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR PCDR.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
        </if>
        ORDER BY PCDR.UDRT_DT desc, PCDR.HNDV_PCDR_NO ASC
        <include refid="pagination.footer" />
    </select>

    <!--
    Consulter les détails de la gestion de la passation de consignes !==인계절자관리 수납 조회==!
    -->
    <select id="selectColHndvPcdrMgmtRcve" parameterType="alpass.ipt.col.hndv.vo.ColHndvPcdrMgmtVo" resultType="alpass.ipt.col.hndv.vo.ColHndvPcdrMgmtVo">
        /** ColHndvPcdrMgmtMapper_selectColHndvPcdrMgmtRcve **/
        SELECT
        NVL(SUM(RCVE.RCVE_AMT), 0) AS TAMT
        FROM TB_COLI_RCVE RCVE, TB_COLI_PYMN PYMN
        WHERE RCVE.CSTM_CD = #{cstmCd}
        AND RCVE.DEPT_CD = #{deptCd}
        AND RCVE.RCVE_DT  <![CDATA[<=]]> TO_CHAR(TO_DATE(#{udrtDt} , 'DD/MM/YYYY'), 'YYYYMMDD')
        AND RCVE.RCVE_NO = PYMN.RCVE_NO
        AND PYMN.PYMN_PT_CD = #{pymnPtCd}
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  RCVE.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND (RCVE.DEPT_CD = #{orgnCd} OR RCVE.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
            OR RCVE.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))
            OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
        </if>
    </select>

    <!--
    Enregistrer la gestion de la passation de consignes !==인계절자관리 등록==!
    -->
    <insert id="insertColHndvPcdrMgmt" parameterType="alpass.ipt.col.hndv.vo.ColHndvPcdrMgmtVo">
        /** ColHndvPcdrMgmtMapper_insertColHndvPcdrMgmt **/
        INSERT INTO TB_COLI_HNDV_PCDR (
            HNDV_PCDR_NO
            , CSTM_CD                                                           /** Code du bureau !== 세관코드 ==! */
            , DEPT_CD
            , UDRT_DT
            , HNDV_CLTR_ID
            , UDRT_CLTR_ID
            , UDRT_HNDV_WTNNC_TP_CD
            , RECP_RGST_PCDN_HNDV_YN
            , EXPN_CRPP_PCDN_HNDV_YN
            , RCVE_PCDN_HNDV_YN
            , STMP_PCDN_HNDV_YN
            , INVN_INVG_RGST_HNDV_YN
            , OTHS_DOC_HNDV_YN
            , OTHS_CN
            , ATCH_FILE_ID
            , DEL_YN							    						/** Suppression ON !== 삭제여부  ==! */
            , FRST_REGST_ID								    				/** ID du premier enregistrant !== 최초등록자ID ==! */
            , FRST_RGSR_DTTM									    			/** Date et heure de premier enregistrement !== 생성일자 ==! */
            , LAST_CHPR_ID														/** ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM													/** Date et heure de modification finale !== 최종변경일시 ==! */
        ) VALUES (
            #{hndvPcdrNo}
            , #{cstmCd}
            , #{deptCd}
            , TO_CHAR(TO_DATE(#{udrtDt} , 'DD/MM/YYYY'), 'YYYYMMDD')
            , #{hndvCltrId}
            , #{udrtCltrId}
            , #{udrtHndvWtnncTpCd}
            , #{recpRgstPcdnHndvYn}
            , #{expnCrppPcdnHndvYn}
            , #{rcvePcdnHndvYn}
            , #{stmpPcdnHndvYn}
            , #{invnInvgRgstHndvYn}
            , #{othsDocHndvYn}
            , #{othsCn}
            , #{atchFileId}
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
        )
    </insert>

    <!--
    Modifier la gestion de la passation de consignes !==인계절차관리 수정==!
    -->
    <update id="updateColHndvPcdrMgmt" parameterType="alpass.ipt.col.hndv.vo.ColHndvPcdrMgmtVo">
        /** ColHndvPcdrMapper_updateColHndvPcdrMgmt **/
        UPDATE  TB_COLI_HNDV_PCDR SET
            UDRT_DT = TO_CHAR(TO_DATE(#{udrtDt} , 'DD/MM/YYYY'), 'YYYYMMDD')
            , HNDV_CLTR_ID = #{hndvCltrId}
            , UDRT_CLTR_ID = #{udrtCltrId}
            , UDRT_HNDV_WTNNC_TP_CD = #{udrtHndvWtnncTpCd}
            , RECP_RGST_PCDN_HNDV_YN = #{recpRgstPcdnHndvYn}
            , EXPN_CRPP_PCDN_HNDV_YN = #{expnCrppPcdnHndvYn}
            , RCVE_PCDN_HNDV_YN = #{rcvePcdnHndvYn}
            , STMP_PCDN_HNDV_YN = #{stmpPcdnHndvYn}
            , INVN_INVG_RGST_HNDV_YN = #{invnInvgRgstHndvYn}
            , OTHS_DOC_HNDV_YN = #{othsDocHndvYn}
            , OTHS_CN = #{othsCn}
            , ATCH_FILE_ID = #{atchFileId}
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE HNDV_PCDR_NO = #{hndvPcdrNo}
    </update>

    <!--
    Supprimer la gestion de la passation de consignes !==인계절차관리 삭제==!
    -->
    <update id="deleteColHndvPcdrMgmt" parameterType="alpass.ipt.col.hndv.vo.ColHndvPcdrMgmtVo">
        /** ColHndvPcdrMgmtMapper_deleteColHndvPcdrMgmt **/
        UPDATE  TB_COLI_HNDV_PCDR SET
            DEL_YN = 'Y'
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE HNDV_PCDR_NO = #{hndvPcdrNo}
    </update>

</mapper>