<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.sm.emlsms.mapper.PotSmEmlSmsMsgMapper">
	
	<!-- 
		 Consulter la liste des messages e-mail/SMS !== 메일/SMS메시지 목록 조회 ==!
	 -->
	<select id="selectEmlSmsMsgList" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo" resultType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo">
		/** selectEmlSmsMsgList */
    	<include refid="pagination.header"/>
		SELECT 
		       NTCE_MSG_ID
		     , NTCE_MSG_ID AS ORG_NTCE_MSG_ID
		     , NTCE_TP_CD
		     , APP_CLSF_CD
		     , BSOP_CLSF_CD
		     , NTCE_MSG_NM
		     , USE_YN
		     , DEL_YN
		     , FRST_REGST_ID
		     , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm
		     , LAST_CHPR_ID
		     , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') AS lastChgDttm
		     , ESNT_RCPN_YN
		FROM  TB_COM_NTCE_MSG A
		WHERE DEL_YN = 'N'
		<if test="searNtceMsgId != null and searNtceMsgId != ''">
		AND   UPPER(NTCE_MSG_ID) LIKE '%'||UPPER(#{searNtceMsgId})||'%'
		</if>		
		<if test="searNtceTpCd != null and searNtceTpCd != ''">
		AND   NTCE_TP_CD =  #{searNtceTpCd}
		</if>		
		<if test="searAppClsfCd != null and searAppClsfCd != ''">
		AND   APP_CLSF_CD = #{searAppClsfCd}
		</if>		
		<if test="searBsopClsfCd != null and searBsopClsfCd != ''">
		AND   BSOP_CLSF_CD = #{searBsopClsfCd}
		</if>	
		<if test="searNtceMsgNm != null and searNtceMsgNm != ''">
		AND   UPPER(NTCE_MSG_NM) LIKE '%'||UPPER(#{searNtceMsgNm})||'%'
		</if>		
		ORDER BY BSOP_CLSF_CD, NTCE_MSG_ID
   	<include refid="pagination.footer"/>
	</select>

	<!--
		 번역필요 !== 메일/SMS메시지 상세 조회 ==!
	 -->
	<select id="selectEmlSmsMsgDetailList" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo" resultType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsMsgLangVo">
		/** "selectEmlSmsMsgDetailList" */
		SELECT 
		       B.NTCE_MSG_ID AS KEY1
		     , A.CD_VDVAL AS LANG_CD
		     , B.NTCE_MSG_CN AS LANG_CN
		FROM TB_COM_COMN_CD_D A, 
		     TB_COM_NTCE_MSG_LANG B
		WHERE A.COMN_CD = 'COM_0057'
		  AND B.DEL_YN(+) = 'N'
          AND B.NTCE_MSG_ID(+) = #{ntceMsgId}
          AND A.CD_VDVAL  = B.LANG_CD(+)
        ORDER BY TO_NUMBER(A.SORT_ORDR) ASC
	</select>	
	
	<!-- 
		 Consulter le comptage des messages e-mail/SMS !== 메일/SMS메시지 카운트 조회 ==!
	 -->
	<select id="selectNtceMsgCnt" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo" resultType="java.lang.Integer">
		/** selectNtceMsgCnt */
		SELECT 
		       COUNT(1) AS CNT
		FROM  TB_COM_NTCE_MSG
		WHERE NTCE_MSG_ID =  #{ntceMsgId}
		AND   DEL_YN = 'N'
	</select>
				
	<!-- 
		 Enregistrer le message e-mail/SMS !== 메일/SMS메시지 등록 ==!
	 -->
	<insert id="insertEmlSmsMsg" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo">
		/** insertEmlSmsMsg */
		<selectKey keyProperty="ntceMsgId" resultType="string" order="BEFORE">
			SELECT
			      #{bsopClsfCd}||LPAD( (NVL( (TO_NUMBER(REPLACE(MAX(NTCE_MSG_ID) ,TRANSLATE(MAX(NTCE_MSG_ID) ,'X0123456789.','X'),''))) , 0) + 1), 3, '0') AS NTCE_MSG_ID
			FROM  TB_COM_NTCE_MSG
			WHERE BSOP_CLSF_CD = #{bsopClsfCd}
		</selectKey>

		with upsert as
		(
			UPDATE TB_COM_NTCE_MSG SET
					LAST_CHPR_ID = #{lastChprId}
					, LAST_CHG_DTTM = SYSTIMESTAMP
					, DEL_YN = 'N'
					, NTCE_TP_CD = #{ntceTpCd}
					, BSOP_CLSF_CD = #{bsopClsfCd}
					, APP_CLSF_CD = #{appClsfCd}
					, NTCE_MSG_NM = #{ntceMsgNm}
					, USE_YN = #{useYn}
					, ESNT_RCPN_YN = #{esntRcpnYn}
			WHERE NTCE_MSG_ID = #{ntceMsgId} AND DEL_YN = 'Y'
			returning *
		)
		INSERT INTO TB_COM_NTCE_MSG
		(
				NTCE_MSG_ID
				, NTCE_TP_CD
				, BSOP_CLSF_CD
				, APP_CLSF_CD
				, NTCE_MSG_NM
				, USE_YN
				, DEL_YN
				, FRST_REGST_ID
				, FRST_RGSR_DTTM
				, LAST_CHPR_ID
				, LAST_CHG_DTTM
				, ESNT_RCPN_YN
		)
		SELECT
				#{ntceMsgId}
				, #{ntceTpCd}
				, #{bsopClsfCd}
				, #{appClsfCd}
				, #{ntceMsgNm}
				, #{useYn}
				, 'N'
				, #{frstRegstId}
				, SYSTIMESTAMP
				, #{lastChprId}
				, SYSTIMESTAMP
				, #{esntRcpnYn}
		WHERE NOT exists(select * from upsert)
	</insert>
				
	<!-- 
		 Enregistrer le nom du message e-mail/SMS !== 메일/SMS메시지명 등록 ==!
	 -->
	<insert id="mergeEmlSmsMsgLang" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsMsgLangVo">
		/** mergeEmlSmsMsgLang */
		with upsert as
		(
			UPDATE TB_COM_NTCE_MSG_LANG SET
					LAST_CHPR_ID = #{lastChprId}
					, LAST_CHG_DTTM = SYSTIMESTAMP
					, DEL_YN = 'N'
					, NTCE_MSG_CN = #{langCn}
			WHERE NTCE_MSG_ID = #{key1}
				AND LANG_CD = #{langCd}
			returning *
		)
		INSERT INTO TB_COM_NTCE_MSG_LANG
		(
				NTCE_MSG_ID
				, LANG_CD
				, NTCE_MSG_CN
				, DEL_YN
				, FRST_REGST_ID
				, FRST_RGSR_DTTM
				, LAST_CHPR_ID
				, LAST_CHG_DTTM
		)
		SELECT
				#{key1}
				, #{langCd}
				, #{langCn}
				, 'N'
				, #{frstRegstId}
				, SYSTIMESTAMP
				, #{lastChprId}
				, SYSTIMESTAMP
		WHERE NOT exists(select * from upsert)
	</insert>
				
	<!-- 
		 Modifier le message e-mail/SMS !== 메일/SMS메시지 수정 ==!
	 -->
	<update id="updateEmlSmsMsg" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo">
		/** updateEmlSmsMsg */
		UPDATE TB_COM_NTCE_MSG
		SET  
		     LAST_CHPR_ID = #{lastChprId}
		   , LAST_CHG_DTTM = SYSTIMESTAMP
		   , NTCE_MSG_ID = #{ntceMsgId}
		   , NTCE_TP_CD = #{ntceTpCd}
		   , BSOP_CLSF_CD = #{bsopClsfCd}
		   , APP_CLSF_CD = #{appClsfCd}
		   , NTCE_MSG_NM = #{ntceMsgNm}
		   , USE_YN = #{useYn}
		   , ESNT_RCPN_YN = #{esntRcpnYn}
    WHERE NTCE_MSG_ID = #{orgNtceMsgId}
      AND   DEL_YN = 'N'
	</update>
	
	<!-- 
		 Modifier le message e-mail/SMS !== 메일/SMS메시지명 수정 ==!
	 -->
	<update id="updateEmlSmsMsgLang" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo">
		/** updateEmlSmsMsgLang */
		UPDATE TB_COM_NTCE_MSG_LANG
		SET  
		     LAST_CHPR_ID = #{lastChprId}
		   , LAST_CHG_DTTM = SYSTIMESTAMP
		   , NTCE_MSG_CN = #{ntceMsgCn}
        WHERE NTCE_MSG_ID = #{orgNtceMsgId}
        AND   LANG_CD = #{langCd}
        AND   DEL_YN = 'N'
	</update>
	
	<!-- 
		 Supprimer le message e-mail/SMS !== 메일/SMS메시지 삭제 ==!
	 -->
	<update id="deleteEmlSmsMsg" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo">
		/** deleteEmlSmsMsg */
		UPDATE TB_COM_NTCE_MSG
		SET  
		     LAST_CHPR_ID = #{lastChprId}
		   , LAST_CHG_DTTM = SYSTIMESTAMP
		   , DEL_YN = 'Y' 
        WHERE NTCE_MSG_ID = #{orgNtceMsgId}
	</update>
	
	<!-- 
		 Supprimer le nom du message e-mail/SMS !== 메일/SMS메시지명 삭제 ==!
	 -->
	<update id="deleteEmlSmsMsgLang" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo">
		/** deleteEmlSmsMsgLang */
		UPDATE TB_COM_NTCE_MSG_LANG
		SET  
		     LAST_CHPR_ID = #{lastChprId}
		   , LAST_CHG_DTTM = SYSTIMESTAMP
		   , DEL_YN = 'Y' 
        WHERE NTCE_MSG_ID = #{orgNtceMsgId}
	</update>

	<!-- 
		 Créer un message d'alarme !== 알림메시지ID 생성 ==!
	 -->
	<select id="selectNtceMsgIdCreate" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo" resultType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlsmsEmlSmsMsgVo">
		/** selectNtceMsgIdCreate */
		SELECT
		      #{bsopClsfCd}||LPAD( (NVL( (TO_NUMBER(REPLACE(MAX(NTCE_MSG_ID) ,TRANSLATE(MAX(NTCE_MSG_ID) ,'X0123456789.','X'),''))) , 0) + 1), 3, '0') AS NTCE_MSG_ID
		FROM  TB_COM_NTCE_MSG
		WHERE BSOP_CLSF_CD = #{bsopClsfCd}
	</select>
		
</mapper>
