<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.clr.trm.cpc.mapper.ClrApcMgmtApcTxrtMapper">
    <select id="selectClrApcMgmtApcTxrtList" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo" resultType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo">
        /* Voir la liste des Enregistrer le déclassement tarifaire pour un code APC !== APC별세율등록 목록 조회   */
        <include refid="pagination.header" />
        SELECT
          (ROW_NUMBER() OVER(ORDER BY  A.APC_CD, A.TAX_CD, A.APC_APLY_STRT_DT)) AS rnum
        , A.APC_CD                     /** Code APC !== APC코드 ==! */
        , (SELECT APC_NM FROM TB_CLRI_APC_CD WHERE APC_CD = A.APC_CD) AS APC_NM
        , A.TAX_CD                     /** Code De Taxe !== 세금코드 ==! */
        , TO_CHAR(TO_DATE(A.APC_APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APC_APLY_STRT_DT           /** Date de départ de l'application de l'APC !== APC적용시작일자 ==! */
        , TO_CHAR(TO_DATE(A.APC_APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APC_APLY_END_DT            /** Date de fin de l'application de l'APC !== APC적용종료일자 ==! */
        , A.RDEX_TXBS_CN               /** Contenu de l'assiette de réduction !== 감면과세기준내용 ==! */
        , A.RDEX_TXRT_CN               /** Contenus du taux de réduction !== 감면세율내용 ==! */
        , A.RDEX_PT_CD                 /** Code de type d'abattement !== 감면유형코드 ==! */
        , A.USE_YN                     /** Utilisé ON !== 사용여부 ==! */
        , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
        , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
        , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
        , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
        , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
        FROM   TB_CLRI_APC_RDEX_TXRT A,
        TB_CLRI_TAX_CD B
        WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  A.TAX_CD = B.TAX_CD
        AND  B.DEL_YN = 'N'
        <if test="apcCd != null and apcCd != ''">
            AND  A.APC_CD = #{apcCd}                         /** Code APC !== APC코드 ==! */
        </if>
        <if test="taxCd != null and taxCd != ''">
            AND  A.TAX_CD = #{taxCd}                         /** Code De Taxe !== 세금코드 ==! */
        </if>
        <if test="apcAplyStrtDt != null and apcAplyStrtDt != ''">
            AND  A.APC_APLY_STRT_DT = #{apcAplyStrtDt}       /** Date de départ de l'application de l'APC !== APC적용시작일자 ==! */
        </if>
        <if test="baseDt != null and baseDt != ''">
            AND TO_DATE(#{baseDt}, 'YYYYMMDD') BETWEEN TO_DATE(A.APC_APLY_STRT_DT,'YYYYMMDD') AND TO_DATE(A.APC_APLY_END_DT,'YYYYMMDD')
        </if>
        ORDER BY A.APC_CD, A.TAX_CD, A.APC_APLY_STRT_DT
        <include refid="pagination.footer" />
    </select>

    <select id="selectClrApcMgmtApcTxrt" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo" resultType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo">
        /* selectClrApcMgmtApcTxrt : APC별세율등록 상세 조회*/
        SELECT
            A.APC_CD                     /** Code APC !== APC코드 ==! */
             , (SELECT APC_NM FROM TB_CLRI_APC_CD WHERE APC_CD = A.APC_CD) AS APC_NM
             , A.TAX_CD                     /** Code De Taxe !== 세금코드 ==! */
             , TO_CHAR(TO_DATE(A.APC_APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APC_APLY_STRT_DT           /** Date de départ de l'application de l'APC !== APC적용시작일자 ==! */
             , TO_CHAR(TO_DATE(A.APC_APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APC_APLY_END_DT            /** Date de fin de l'application de l'APC !== APC적용종료일자 ==! */
             , A.RDEX_TXBS_CN               /** Contenu de l'assiette de réduction !== 감면과세기준내용 ==! */
             , A.RDEX_TXRT_CN               /** Contenus du taux de réduction !== 감면세율내용 ==! */
             , A.RDEX_PT_CD                 /** Code de type d'abattement !== 감면유형코드 ==! */
             , A.USE_YN                     /** Utilisé ON !== 사용여부 ==! */
             , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
             , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
             , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
             , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
             , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
        FROM   TB_CLRI_APC_RDEX_TXRT A
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
          AND  A.APC_CD = #{apcCd}                         /** Code APC !== APC코드 ==! */
          AND  A.TAX_CD = #{taxCd}                         /** Code De Taxe !== 세금코드 ==! */
          AND  A.APC_APLY_STRT_DT = #{apcAplyStrtDt}       /** Date de départ de l'application de l'APC !== APC적용시작일자 ==! */
    </select>



    <select id="selectClrApcMgmtApcTxrtDuplication" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo" resultType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo">
        /* selectClrApcMgmtApcTxrtDuplication : APC별세율등록 감면세율정보 적용일자중복 조회*/
        SELECT
        A.APC_APLY_STRT_DT
        FROM   TB_CLRI_APC_RDEX_TXRT A
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  A.APC_CD = #{apcCd}                         /** Code APC !== APC코드 ==! */
        AND  A.TAX_CD = #{taxCd}                         /** Code De Taxe !== 세금코드 ==! */
        <![CDATA[
         AND (    A.APC_APLY_STRT_DT <= #{apcAplyStrtDt}
			  AND A.APC_APLY_STRT_DT <= #{apcAplyEndDt}
			  AND A.APC_APLY_END_DT>= #{apcAplyStrtDt}
			  AND A.APC_APLY_END_DT>= #{apcAplyEndDt}
			   OR A.APC_APLY_STRT_DT BETWEEN #{apcAplyStrtDt} AND #{apcAplyEndDt}
			   OR A.APC_APLY_END_DT BETWEEN #{apcAplyStrtDt} AND #{apcAplyEndDt})
		 ]]>
        <if test="updateTpCd == 0">
            <![CDATA[
         AND  A.APC_APLY_STRT_DT <> #{apcAplyStrtDtOrigin}
         ]]>
        </if>
    </select>

    <insert id="insertClrApcMgmtApcTxrt" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo">
        /* insertClrApcMgmtApcTxrt : Enregistrement de la Enregistrer le déclassement tarifaire pour un code APC !== APC별세율등록 등록 ==! */
        INSERT INTO TB_CLRI_APC_RDEX_TXRT
        (
            APC_CD                       /** Code APC !== APC코드 ==! */
        , TAX_CD                       /** Code De Taxe !== 세금코드 ==! */
        , APC_APLY_STRT_DT             /** Date de départ de l'application de l'APC !== APC적용시작일자 ==! */
        , APC_APLY_END_DT              /** Date de fin de l'application de l'APC !== APC적용종료일자 ==! */
        , RDEX_TXBS_CN                 /** Contenu de l'assiette de réduction !== 감면과세기준내용 ==! */
        , RDEX_TXRT_CN                 /** Contenus du taux de réduction !== 감면세율내용 ==! */
        , RDEX_PT_CD                   /** Code de type d'abattement !== 감면유형코드 ==! */
        , USE_YN                       /** Utilisé ON !== 사용여부 ==! */
        , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
        , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
        , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
        , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
        )
        VALUES
            (
                #{apcCd}                     /** Code APC !== APC코드 ==! */
            , #{taxCd}                     /** Code De Taxe !== 세금코드 ==! */
            , #{apcAplyStrtDt}             /** Date de départ de l'application de l'APC !== APC적용시작일자 ==! */
            , #{apcAplyEndDt}              /** Date de fin de l'application de l'APC !== APC적용종료일자 ==! */
            , #{rdexTxbsCn}                /** Contenu de l'assiette de réduction !== 감면과세기준내용 ==! */
            , #{rdexTxrtCn}                /** Contenus du taux de réduction !== 감면세율내용 ==! */
            , #{rdexPtCd}                  /** Code de type d'abattement !== 감면유형코드 ==! */
            , #{useYn}                     /** Utilisé ON !== 사용여부 ==! */
            , 'N'                          /** Suppression ON !== 삭제여부 ==! */
            , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
            , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
            )
    </insert>

    <update id="updateClrApcMgmtApcTxrt" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo">
        /* updateClrApcMgmtApcTxrt : Modifier la Enregistrer le déclassement tarifaire pour un code APC !== APC별세율등록 수정 ==!*/
        UPDATE  TB_CLRI_APC_RDEX_TXRT SET
        <trim prefixOverrides="," >
            <if test="updateTpCd == 0">
                APC_APLY_STRT_DT = #{apcAplyStrtDt}         /** Date de départ de l'application de l'APC !== APC적용시작일자 ==! */
                , APC_APLY_END_DT = #{apcAplyEndDt}           /** Date de fin de l'application de l'APC !== APC적용종료일자 ==! */
            </if>
            <if test="updateTpCd == 1">
                APC_APLY_END_DT = #{apcAplyEndDtOrigin}           /** Date de fin de l'application de l'APC !== APC적용종료일자 ==! */
            </if>
            , RDEX_TXBS_CN = #{rdexTxbsCn}                /** Contenu de l'assiette de réduction !== 감면과세기준내용 ==! */
            , RDEX_TXRT_CN = #{rdexTxrtCn}                /** Contenus du taux de réduction !== 감면세율내용 ==! */
            , RDEX_PT_CD = #{rdexPtCd}                    /** Code de type d'abattement !== 감면유형코드 ==! */
            , USE_YN = #{useYn}                           /** Utilisé ON !== 사용여부 ==! */
            , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        </trim>
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  APC_CD = #{apcCd}                           /** Code APC !== APC코드 ==! */
        AND  TAX_CD = #{taxCd}                           /** Code De Taxe !== 세금코드 ==! */
        AND  APC_APLY_STRT_DT = #{apcAplyStrtDtOrigin}   /** Date de départ de l'application de l'APC !== APC적용시작일자 ==! */
    </update>

    <select id="selectClrApcMgmtApcNaply" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcTxrtVo" resultType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcNaplyVo">
        /* selectClrApcMgmtApcNaply : APC미적용세금코드관리 상세 조회*/
        SELECT (ROW_NUMBER() OVER(ORDER BY APC_CD, NAPLY_TAX_CD,HS_CD)) AS rnum
            , apc_cd
            , (SELECT APC_NM FROM TB_CLRI_APC_CD WHERE APC_CD = A.APC_CD) AS APC_NM
            , hs_cd
            , (SELECT HS_DESC FROM TB_CLRI_HS_CD WHERE HS_CD = A.HS_CD AND ( <![CDATA[   HS_APLY_STRT_DT  <= A.APLY_STRT_DT AND HS_APLY_END_DT >= A.APLY_END_DT  ]]>) LIMIT 1  ) HS_DESC
            , naply_tax_cd
            , TO_CHAR(TO_DATE(aply_strt_dt, 'YYYYMMDD'), 'DD/MM/YYYY') AS aply_strt_dt
            , TO_CHAR(TO_DATE(aply_end_dt, 'YYYYMMDD'), 'DD/MM/YYYY') AS aply_end_dt
            , 'Y' FIX_YN
            , del_yn                     /** Suppression ON !== 삭제여부 ==! */
            , frst_regst_id              /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , frst_rgsr_dttm             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , last_chpr_id               /** ID du modificateur final !== 최종변경자ID ==! */
            , last_chg_dttm              /** Date et heure de modification finale !== 최종변경일시 ==! */
        FROM tb_clri_apc_naply_tax_cd_mgmt A
        WHERE del_yn = 'N' /** Suppression ON !== 삭제여부 ==! */
        <if test="apcCd != null and apcCd != ''">
            AND apc_cd = #{apcCd} /** Code APC !== APC코드 ==! */
        </if>
        <if test="fromHsCd != null and fromHsCd != ''">
            AND HS_CD = #{fromHsCd}
        </if>
        <if test="taxCd != null and taxCd != ''">
        AND naply_tax_cd = #{taxCd} /** Code De Taxe !== 세금코드 ==! */
        </if>
        <if test="baseDt != null and baseDt != ''">
            AND TO_DATE(#{baseDt}, 'YYYYMMDD') = TO_DATE(APLY_STRT_DT,'YYYYMMDD')
        </if>
        <if test="apcAplyStrtDt != null and apcAplyStrtDt != '' ">
            <choose>
                <when test="@org.apache.commons.lang3.StringUtils@isNotBlank(apcAplyEndDt)">
                    <![CDATA[ AND  #{apcAplyStrtDt}  <= APLY_STRT_DT AND #{apcAplyEndDt} >= APLY_END_DT  ]]>
                </when>
                <otherwise>
                    AND APLY_STRT_DT = #{apcAplyStrtDt}
                </otherwise>
            </choose>
        </if>
        ORDER BY APC_CD, NAPLY_TAX_CD,HS_CD
    </select>

    <insert id="insertClrApcMgmtApcNaply" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcNaplyVo">
        /* updateClrApcMgmtApcNaply :  !== APC미적용세금코드관리 등록 ==!*/
        WITH UPSET AS
         (
             UPDATE tb_clri_apc_naply_tax_cd_mgmt M
             SET
            <trim prefixOverrides="," >
                  DEL_YN = 'N'
                , APLY_END_DT = TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
                , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
            </trim>
            WHERE  apc_cd = #{apcCd} /** Code APC !== APC코드 ==! */
            AND naply_tax_cd = #{naplyTaxCd} /** Code De Taxe !== 세금코드 ==! */
            AND HS_CD = #{hsCd}
            AND aply_strt_dt = TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
            RETURNING M.*
         )
        INSERT
        INTO  tb_clri_apc_naply_tax_cd_mgmt (
            apc_cd
            , hs_cd
            , naply_tax_cd
            , aply_strt_dt
            , aply_end_dt
            , del_yn
            , frst_regst_id
            , frst_rgsr_dttm
            , last_chpr_id
            , last_chg_dttm
        ) SELECT
        #{apcCd},
        #{hsCd},
        #{naplyTaxCd},
        TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
        TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
        'N',
        #{frstRegstId},
        SYSTIMESTAMP,
        #{lastChprId},
        SYSTIMESTAMP
        WHERE NOT EXISTS( SELECT * FROM UPSET)
    </insert>
    <insert id="insertSelectClrApcMgmtApcNaply" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcNaplyVo">
        /* insertSelectClrApcMgmtApcNaply*/
        INSERT
        INTO  tb_clri_apc_naply_tax_cd_mgmt (
                                              apc_cd
                                            , hs_cd
                                            , naply_tax_cd
                                            , aply_strt_dt
                                            , aply_end_dt
                                            , del_yn
                                            , frst_regst_id
                                            , frst_rgsr_dttm
                                            , last_chpr_id
                                            , last_chg_dttm
        ) SELECT
              apc_cd
             , hs_cd
             , naply_tax_cd
             ,TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') APLY_STRT_DT
             ,TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') APLY_END_DT
             , 'N' DEL_YN
             , #{frstRegstId} frst_regst_id
             , SYSTIMESTAMP frst_rgsr_dttm
             , #{lastChprId} last_chpr_id
             , SYSTIMESTAMP last_chg_dttm
            FROM tb_clri_apc_naply_tax_cd_mgmt
            WHERE del_yn = 'N' /** Suppression ON !== 삭제여부 ==! */
              AND apc_cd = #{apcCd} /** Code APC !== APC코드 ==! */
              AND naply_tax_cd = #{naplyTaxCd} /** Code De Taxe !== 세금코드 ==! */
              AND HS_CD = #{hsCd}
              AND APLY_STRT_DT = #{befAplyStrtDt}
    </insert>

    <update id="updateClrApcMgmtApcNaply" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcNaplyVo">
        /* updateClrApcMgmtApcNaply :  !== APC미적용세금코드관리 수정 ==!*/
        UPDATE  tb_clri_apc_naply_tax_cd_mgmt
        SET aply_end_dt = TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
          , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE del_yn = 'N' /** Suppression ON !== 삭제여부 ==! */
          AND apc_cd = #{apcCd} /** Code APC !== APC코드 ==! */
          AND naply_tax_cd = #{naplyTaxCd} /** Code De Taxe !== 세금코드 ==! */
          AND HS_CD = #{hsCd}
          AND APLY_STRT_DT = #{aplyStrtDt}
    </update>

    <update id="deleteClrApcMgmtApcNaply" parameterType="alpass.ipt.clr.trm.cpc.vo.ClrTrmApcMgmtApcNaplyVo">
        /* updateClrApcMgmtApcNaply :  !== APC미적용세금코드관리 수정 ==!*/
        UPDATE  tb_clri_apc_naply_tax_cd_mgmt
        SET DEL_YN ='Y'
          , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE del_yn = 'N' /** Suppression ON !== 삭제여부 ==! */
          AND apc_cd = #{apcCd} /** Code APC !== APC코드 ==! */
          AND naply_tax_cd = #{naplyTaxCd} /** Code De Taxe !== 세금코드 ==! */
          AND aply_strt_dt > TO_CHAR(SYSTIMESTAMP,'YYYYMMDD')
    </update>


</mapper>
