<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.pot.mp.cmmn.mapper.PotMpCmmnNtcMtrMapper">


  <!--
		Consulter la liste des annonces !==공지사항 목록을 조회한다.==!
	-->
    <select id="selectNtcmtrList" parameterType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnNtcMtrVo" resultType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnNtcMtrVo">
        /* selectNtcmtrList */
			<include refid="pagination.header"/>
        SELECT
                A.*,
                (
                    SELECT LBL_NM FROM TB_COM_LBL_LANG
                    WHERE LBL_ID = DECODE(A.ntcPattern, '01', 'L_AL_NTC' , 'L_INDV_NTC')
                    AND LANG_CD = #{langCd}
                ) AS ntcPatternNm
        FROM
        (
        SELECT A.*, DECODE(CO_DCLR_CD, null, DECODE(ORGN_MGMT_CD, null, '01', '02'), '02') AS ntcPattern
        FROM
        (
            SELECT
            A.NTC_MTR_SRNO
            , A.IPT_NTC_YN
            , A.EPT_NTC_YN
            , A.EMRG_NTC_YN
            , A.NTC_CNCL_YN
            , LISTAGG( B.ORGN_MGMT_CD, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_MGMT_CD
            , LISTAGG( D.CO_DCLR_CD, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS CO_DCLR_CD
            , LISTAGG( (SELECT ORGN_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = B.ORGN_MGMT_CD), ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_CD
            , LISTAGG( C.ORGN_NM, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_NM
            , A.NTC_TP_CD
            , A.NTC_TTLE
            , A.NTC_CN
            , A.MDPN_ID
            , ( SELECT U.EMP_NM FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM
            , ( SELECT U.EMP_FMNM FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_FMNM
            , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
            , A.INQT_CNT
            , A.PRTL_BLTN_YN
            , A.PPUP_BLTN_YN
            , A.APRV_ID
            , (SELECT TO_CHAR(R.APRV_RQST_DTTM, 'DD/MM/YYYY HH24:mi:ss') FROM TB_POTI_APRV R WHERE R.APRV_BSOP_TP_CD = 'D01'
            AND A.APRV_ID = R.APRV_ID) AS APRV_DT
            , A.ATCH_FILE_ID
            , A.DEL_YN
            , A.FRST_REGST_ID
            , A.FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , A.LAST_CHG_DTTM
            , A.PRCS_STTS_CD
            FROM TB_POTI_NTC_MTR A, TB_POTI_NTC_MTR_ORGN B, TB_POTI_ORGN C, TB_POTI_NTC_MTR_CO D
            WHERE A.NTC_MTR_SRNO = B.NTC_MTR_SRNO(+)
            AND A.NTC_MTR_SRNO = D.NTC_MTR_SRNO(+)
            AND B.ORGN_MGMT_CD = C.ORGN_MGMT_CD(+)
            AND A.DEL_YN = 'N'
            AND A.IPT_NTC_YN = 'Y'
            AND A.PRTL_BLTN_YN = 'Y'
            AND SYSDATE <![CDATA[ >= ]]> TO_DATE(A.NTC_BLTN_STRT_DD, 'DDMMYYYY')
            AND (SYSDATE <![CDATA[ < ]]> TO_DATE(A.NTC_BLTN_END_DD, 'DDMMYYYY')+1
            OR A.NTC_BLTN_END_DD IS NULL OR A.NTC_BLTN_END_DD = '')
            <if test="ntcTpCd != null and ntcTpCd != '' ">
                AND A.NTC_TP_CD = #{ntcTpCd}
            </if>
            <if test="ntcTtle != null and ntcTtle != '' ">
                AND UPPER(A.NTC_TTLE) like '%' || UPPER(#{ntcTtle}) || '%'
            </if>
            <if test="searchKeywordFrom != null and searchKeywordFrom != '' ">
                AND A.MAKE_DTTM BETWEEN TO_DATE( #{searchKeywordFrom}||'000000' , 'DD/MM/YYYYHH24MISS') AND TO_DATE( #{searchKeywordTo}||'235959' , 'DD/MM/YYYYHH24MISS')
            </if>
            GROUP BY A.NTC_MTR_SRNO
            ORDER BY A.NTC_MTR_SRNO DESC
            ) A
        ) A
        WHERE 1 = 1
        <if test="indivYn != null and indivYn != '' ">
            <if test='indivYn == "N" '>
                AND ntcPattern = '01'
            </if>
            <if test='indivYn == "Y" '>
                AND ntcPattern = '02'
            </if>
        </if>
        <include refid="pagination.footer"/>
    </select>

  <!--
		Consulter l'article de l'annonce !==공지사항 게시물을 조회한다.==!
	-->
    <select id="selectNtcmtr" parameterType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnNtcMtrVo" resultType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnNtcMtrVo">
        /* selectNtcmtr */
            SELECT
                  A.NTC_MTR_SRNO               
                , A.IPT_NTC_YN
                , A.EPT_NTC_YN
                , A.EMRG_NTC_YN
                , A.NTC_CNCL_YN         
                , LISTAGG( B.ORGN_MGMT_CD, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_MGMT_CD               
                , A.NTC_TP_CD                  
                , A.NTC_TTLE                   
                , A.NTC_CN                     
                , A.MDPN_ID                    
                , ( SELECT U.EMP_NM FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM
                , ( SELECT U.EMP_FMNM FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_FMNM
                , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
                , A.INQT_CNT                   
                , A.PRTL_BLTN_YN  
                , A.PPUP_BLTN_YN             
                , A.APRV_ID                    
                , A.ATCH_FILE_ID               
                , A.DEL_YN                     
                , A.FRST_REGST_ID              
                , A.FRST_RGSR_DTTM             
                , A.LAST_CHPR_ID               
                , A.LAST_CHG_DTTM   
                , A.PRCS_STTS_CD
                , A.ORIG_NM
            FROM   TB_POTI_NTC_MTR A, TB_POTI_NTC_MTR_ORGN B
           WHERE   A.NTC_MTR_SRNO = B.NTC_MTR_SRNO(+)
           AND     A.NTC_MTR_SRNO = #{ntcMtrSrno}    
           GROUP BY
				A.NTC_MTR_SRNO, A.IPT_NTC_YN, A.EPT_NTC_YN, A.EMRG_NTC_YN, A.NTC_CNCL_YN, A.NTC_TP_CD, A.NTC_TTLE, A.NTC_CN, A.MDPN_ID, A.MAKE_DTTM, A.INQT_CNT
                , A.PRTL_BLTN_YN, A.PPUP_BLTN_YN, A.APRV_ID, A.ATCH_FILE_ID, A.DEL_YN, A.FRST_REGST_ID, A.FRST_RGSR_DTTM, A.LAST_CHPR_ID, A.LAST_CHG_DTTM, A.PRCS_STTS_CD
    </select>
    
  <!--
		Modifier le nombre de vues de l'article de l'annonce !==공지사항 게시글 조회수를 수정한다.==!
	-->
    <update id="updateViewNtcmtr" parameterType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnNtcMtrVo">
        /* updateViewNtcmtr */
        UPDATE  TB_POTI_NTC_MTR SET 
                INQT_CNT = INQT_CNT+1
        WHERE	NTC_MTR_SRNO = #{ntcMtrSrno}
    </update>
    
  <!--
		Consulter le code de gestion de service du niveau 2 de l'utilisateur connecté	!==로그인 한 사용자의 2레벨 조직관리 코드를 조회한다.==!
	-->
	<select id="selectNtcmtrOrgnCd" parameterType="String" resultType="java.util.Map">
	  /*selectNtcmtrOrgnCd*/
		SELECT A.lvl, 
		       A.ORGN_MGMT_CD ,
		       A.ORGN_NM ,
		       A.ORGN_CD
		FROM (SELECT level lvl,
						A.ORGN_MGMT_CD ,
						A.ORGN_CD ,
						A.ORGN_NM ,
						A.UPR_ORGN_MGMT_CD 
						FROM (SELECT ORGN_MGMT_CD ,
							ORGN_CD ,
							ORGN_NM ,
							HSRK_ORGN_MGMT_CD ,
							UPR_ORGN_MGMT_CD ,
							(SELECT ORGN_MGMT_CD
							FROM TB_POTI_ORGN
							WHERE DEL_YN = 'N'
							AND ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD) AS UP_CD
				FROM TB_POTI_ORGN A
				WHERE DEL_YN = 'N' ) A
		 START WITH A.UPR_ORGN_MGMT_CD IS NULL 
		 CONNECT BY PRIOR A.ORGN_MGMT_CD = A.UP_CD ) A
		 WHERE A.lvl = 2
		 START WITH A.ORGN_MGMT_CD = ( SELECT E.ORGN_MGMT_CD FROM TB_POTI_EMP E WHERE E.PBSR_NO = #{pbsrNo} )
		 CONNECT BY PRIOR A.UPR_ORGN_MGMT_CD = A.ORGN_MGMT_CD
	</select>

</mapper>
