<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.pot.mp.cmmn.mapper.PotMpCmmnSrrmMapper">

  <!--
		Consulter les fichiers du téléchargement !==자료실 자료를 조회한다==!
	-->
    <select id="selectSrrm"  parameterType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnSrrmVo" resultType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnSrrmVo">
    	/** selectSrrm **/
    	SELECT
                  A.SRRM_SRNO               
                , A.TRGT_APP_CLSF_CD        
                , A.SRRM_TP_CD              
                , A.SRRM_TTLE               
                , A.SRRM_CN
    	     			, A.PBLS_DEPT_NM
                , A.MDPN_ID              
                , ( SELECT U.EMP_NM FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM                    
                , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
                , A.INQT_CNT                  
                , A.PRTL_BLTN_YN              
                , A.ATCH_FILE_ID              
                , A.DEL_YN                    
                , A.FRST_REGST_ID             
                , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
                , A.LAST_CHPR_ID              
                , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS  LAST_CHG_DTTM     
            FROM   TB_POTI_SRRM A
        WHERE  A.DEL_YN = 'N'                          
        AND    A.SRRM_SRNO = #{srrmSrno}
        AND	   A.PRTL_BLTN_YN = 'Y'
        AND	   A.TRGT_APP_CLSF_CD = 'IPT'
    </select>

  <!--
		Modifier le nombre de vues du téléchargement !==자료실 조회수를 수정한다.==!
	-->
    <update id="updateViewSrrm" parameterType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnSrrmVo">
        /* "updateViewSrrm" */
        UPDATE  TB_POTI_SRRM SET 
                INQT_CNT = INQT_CNT+1
        WHERE	SRRM_SRNO = #{srrmSrno}
    </update>

	<!--
		Consulter la liste du téléchargement !==자료실 목록을 조회한다.==!
	-->
    <select id="selectSrrmList" parameterType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnSrrmVo" resultType="alpass.ipt.pot.mp.cmmn.vo.PotMpCmmnSrrmVo">
        /* selectSrrmList */
        SELECT * FROM (
			<include refid="pagination.header"/>
	            SELECT
	                  A.SRRM_SRNO                 
	                , A.TRGT_APP_CLSF_CD          
	                , A.SRRM_TP_CD                
	                , A.SRRM_TTLE                 
	                , A.SRRM_CN                   
	                , A.MDPN_ID                   
	                , ( SELECT CONCAT(U.EMP_FMNM, ' ', U.EMP_NM) FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM
	                , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
	                , A.INQT_CNT                 
	                , A.PRTL_BLTN_YN             
	                , A.ATCH_FILE_ID             
	                , A.DEL_YN                   
	                , A.FRST_REGST_ID            
	                , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	                , A.LAST_CHPR_ID              
	                , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS  LAST_CHG_DTTM
	            FROM   TB_POTI_SRRM A
	           WHERE  A.DEL_YN = 'N'    
	           AND	  A.PRTL_BLTN_YN = 'Y'
	           AND	  A.TRGT_APP_CLSF_CD = 'IPT'       
	           <if test="searchKeywordFrom != null and searchKeywordFrom != '' ">
		           <if test="searchKeywordTo != null and searchKeywordTo != '' ">
	           			AND A.MAKE_DTTM
	           				BETWEEN TO_DATE( #{searchKeywordFrom}||'000000' , 'DD/MM/YYYYHH24MISS')
	           				AND TO_DATE( #{searchKeywordTo}||'235959' , 'DD/MM/YYYYHH24MISS')
					</if>
				</if>
				<if test="srrmTtle != null and srrmTtle != '' ">
					AND UPPER(A.SRRM_TTLE) like '%' || UPPER(#{srrmTtle}) || '%'
				</if>
				<if test="srrmTpCd != null and srrmTpCd != '' ">
					AND A.SRRM_TP_CD = #{srrmTpCd}
				</if>
				<if test="pblsDeptNm != null and pblsDeptNm != '' ">
					AND A.PBLS_DEPT_NM LIKE '%' || #{pblsDeptNm} || '%'
				</if>
	           ORDER BY A.SRRM_SRNO 
		<include refid="pagination.footer"/>
        ) srt ORDER BY srt.rnum DESC
    </select>
    
</mapper>
