<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.acnt.mapper.ColAcntAcMgmtMapper">

  <!--
      Consulter la liste de gestion des comptes comptables !==회계계정관리 목록을 조회한다==!
  -->
  <select id="selectColAcntAcMgmtList" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcMgmtVo"
    resultType="alpass.ipt.col.acnt.vo.ColAcntAcMgmtVo">
    /** colLecrMgmt_selectColAcntAcMgmtList **/
    <include refid="pagination.header"/>
    SELECT
        A.ACNT_MGMT_NO
        , A.CSTM_CD
        , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM
        , A.DEPT_CD
        , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(A.DEPT_CD)) AS DEPT_NM
        , A.ACCT_CD
        , A.REFF_NO_PT_CD
        , A.REFF_NO
        , TO_CHAR(TO_DATE(A.REFF_DOC_RGSR_DT , 'YYYYMMDD'),'DD/MM/YYYY') AS REFF_DOC_RGSR_DT
        , TO_CHAR(TO_DATE(A.ERR_DT , 'YYYYMMDD'),'DD/MM/YYYY') AS ERR_DT
        , A.MAKE_DEPT_CD
        , A.ACNT_DEPT_CD
        , A.DLNG_RSN_CD
        , T.ACNT_MGMT_DGCNT
        , T.DBTOR_ACCT_CD
        , T.DBTOR_ACCT_LWPR_TP
        , T.DBTOR_AMT
        , T.DBTOR_DESC
        , T.CAST_ACCT_CD
        , T.CAST_ACCT_LWPR_TP
        , T.CAST_AMT
        , T.CAST_DESC
    FROM TB_COLI_ACNT_DOC_MGMT A
    LEFT OUTER JOIN TB_COLI_ACNT_DOC_DTL_MGMT T  ON (A.ACNT_MGMT_NO = T.ACNT_MGMT_NO)
    RIGHT JOIN (
        SELECT ACNT_MGMT_NO, MAX(ACNT_MGMT_DGCNT) AS ACNT_MGMT_DGCNT FROM TB_COLI_ACNT_DOC_DTL_MGMT
        GROUP BY ACNT_MGMT_NO
    ) X ON (T.ACNT_MGMT_NO = X.ACNT_MGMT_NO AND T.ACNT_MGMT_DGCNT = X.ACNT_MGMT_DGCNT)
    WHERE A.DEL_YN = 'N'
    <if test='cstmCd != null and cstmCd !="" '>
      AND A.CSTM_CD = #{cstmCd}
    </if>
    <if test="reffNo != null and reffNo != ''">
      AND A.REFF_NO =
        <choose>
            <when test='reffNoPtCd.equals("A")'>#{expnCrpp}</when>
            <when test='reffNoPtCd.equals("B")'>#{reffNo}</when>
        </choose>
    </if>
    <if test='errDtFrom != null and errDtFrom !="" and errDtTo != null and errDtTo !="" '>
      AND A.ERR_DT BETWEEN TO_CHAR(TO_DATE(#{errDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND
      TO_CHAR(TO_DATE(#{errDtTo},'DD/MM/YYYY'),'YYYYMMDD')
    </if>
    <if test='reffDocRgsrDtFrom != null and reffDocRgsrDtFrom !="" and reffDocRgsrDtTo != null and reffDocRgsrDtTo !="" '>
      AND A.REFF_DOC_RGSR_DT BETWEEN TO_CHAR(TO_DATE(#{reffDocRgsrDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND
      TO_CHAR(TO_DATE(#{reffDocRgsrDtTo},'DD/MM/YYYY'),'YYYYMMDD')
    </if>
    ORDER BY A.ERR_DT DESC
    <include refid="pagination.footer"/>
  </select>

  <!--
        Enregistrer la gestion des comptes comptables !==회계계정관리 등록한다==!
   -->
  <insert id="insertColAcntAcMgmt" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcMgmtVo">
    /* colAcntAcMgmtVo_insertColAcntAcMgmt */
    INSERT INTO TB_COLI_ACNT_DOC_MGMT
    ( ACNT_MGMT_NO
    , CSTM_CD
    , DEPT_CD
    , ACCT_CD
    , REFF_NO_PT_CD
    , REFF_NO
    , ERR_DT
    , MAKE_DEPT_CD
    , ACNT_DEPT_CD
    , DLNG_RSN_CD
    , DEL_YN
    , REFF_DOC_RGSR_DT
    , FRST_REGST_ID
    , FRST_RGSR_DTTM
    , LAST_CHPR_ID
    , LAST_CHG_DTTM)
    VALUES ( #{acntMgmtNo}
           , #{cstmCd}
           , #{deptCd}
           , #{acctCd}
           , #{reffNoPtCd}
           , #{reffNo}
           , TO_CHAR(TO_DATE(#{errDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
           , #{makeDeptCd}
           , #{acntDeptCd}
           , #{dlngRsnCd}
           , 'N'
           , TO_CHAR(TO_DATE(#{reffDocRgsrDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
           , #{frstRegstId}
           , SYSTIMESTAMP
           , #{lastChprId}
           , SYSTIMESTAMP)
  </insert>

    <!--
        Enregistrer la gestion des comptes comptables !==회계계정관리 등록한다==!
    -->
  <insert id="insertColAcntAcDtlMgmt" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcMgmtVo">
    INSERT INTO TB_COLI_ACNT_DOC_DTL_MGMT
    ( ACNT_MGMT_NO
    , ACNT_MGMT_DGCNT
    , DBTOR_ACCT_CD
    , DBTOR_ACCT_LWPR_TP
    , DBTOR_AMT
    , DBTOR_DESC
    , CAST_ACCT_CD
    , CAST_ACCT_LWPR_TP
    , CAST_AMT
    , CAST_DESC
    , DEL_YN
    , FRST_REGST_ID
    , FRST_RGSR_DTTM
    , LAST_CHPR_ID
    , LAST_CHG_DTTM)
    VALUES ( #{acntMgmtNo}
           , (SELECT NVL(MAX(ACNT_MGMT_DGCNT), 0) + 1 FROM TB_COLI_ACNT_DOC_DTL_MGMT WHERE ACNT_MGMT_NO = #{acntMgmtNo})
           , #{dbtorAcctCd}
           , #{dbtorAcctLwprTp}
           , #{dbtorAmt}
           , #{dbtorDesc}
           , #{castAcctCd}
           , #{castAcctLwprTp}
           , #{castAmt}
           , #{castDesc}
           , 'N'
           , #{frstRegstId}
           , SYSTIMESTAMP
           , #{lastChprId}
           , SYSTIMESTAMP)
  </insert>

  <!--
        Modifier la gestion des comptes comptables !==회계계정관리 수정한다==!
  -->
  <update id="updateColAcntAcMgmt" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcMgmtVo">
    /** colAcntAcMgmt_updateColAcntAcMgmt **/
    UPDATE TB_COLI_ACNT_DOC_MGMT SET
        CSTM_CD = #{cstmCd}
       , DEPT_CD = #{deptCd}
       , ACCT_CD = #{acctCd}
       , REFF_NO_PT_CD = #{reffNoPtCd}
       , REFF_NO = #{reffNo}
       , REFF_DOC_RGSR_DT= TO_CHAR(TO_DATE(#{reffDocRgsrDt} , 'DD/MM/YYYY'), 'YYYYMMDD')
       , ERR_DT = TO_CHAR(TO_DATE(#{errDt} , 'DD/MM/YYYY'), 'YYYYMMDD')
       , MAKE_DEPT_CD = #{makeDeptCd}
       , ACNT_DEPT_CD = #{acntDeptCd}
       , DLNG_RSN_CD = #{dlngRsnCd}
       , LAST_CHPR_ID = #{lastChprId}
       , LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE 1 = 1
    AND ACNT_MGMT_NO = #{acntMgmtNo}
  </update>

    <!--
          Modifier la gestion des comptes comptables !==회계계정관리 수정한다==!
    -->
  <update id="updateColAcntAcDtlMgmt" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcMgmtVo">
    /** colAcntAcMgmt_updateColAcntAcMgmt **/
    UPDATE TB_COLI_ACNT_DOC_DTL_MGMT SET
         DBTOR_ACCT_CD = #{dbtorAcctCd}
       , DBTOR_ACCT_LWPR_TP =#{dbtorAcctLwprTp}
       , DBTOR_AMT = #{dbtorAmt}
       , DBTOR_DESC = #{dbtorDesc}
       , CAST_ACCT_CD = #{castAcctCd}
       , CAST_ACCT_LWPR_TP = #{castAcctLwprTp}
       , CAST_AMT = #{castAmt}
       , CAST_DESC = #{castDesc}
       , LAST_CHPR_ID = #{lastChprId}
       , LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE 1 = 1
      AND ACNT_MGMT_NO = #{acntMgmtNo}
      AND ACNT_MGMT_DGCNT = #{acntMgmtDgcnt}
  </update>

    <!--
        Supprimer la gestion des comptes comptables !==회계계정관리 삭제한다==!
    -->
  <update id="deleteColAcntAcMgmt" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcMgmtVo">
    /** colAcntAcMgmt_updateColAcntAcMgmt **/
    UPDATE TB_COLI_ACNT_DOC_MGMT SET
         DEL_YN = 'Y'
       , LAST_CHPR_ID = #{lastChprId}
       , LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE 1 = 1
      AND ACNT_MGMT_NO = #{acntMgmtNo}
  </update>

    <!--
        Supprimer la gestion des comptes comptables !==회계계정관리 삭제한다==!
    -->
  <update id="deleteColAcntAcDtlMgmt" parameterType="alpass.ipt.col.acnt.vo.ColAcntAcMgmtVo">
    UPDATE TB_COLI_ACNT_DOC_DTL_MGMT SET
         DEL_YN = 'Y'
       , LAST_CHPR_ID = #{lastChprId}
       , LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE 1 = 1
      AND ACNT_MGMT_NO = #{acntMgmtNo}
      AND ACNT_MGMT_DGCNT = #{acntMgmtDgcnt}
  </update>

</mapper>