<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.acnt.mapper.ColAcntLecrMgmtMapper">

    <!--
    Consulter la liste de la gestion des avis de débit et crédit !==신용장관리 목록을 조회한다==!
    -->
    <select id="selectColAcntLecrMgmtList" parameterType="alpass.ipt.col.acnt.vo.ColLecrMgmtVo" resultType="alpass.ipt.col.acnt.vo.ColLecrMgmtVo">
     /** colLecrMgmt_selectColAcntLecrMgmtList **/
      <include refid="pagination.header" />
      SELECT
          A.LECR_NO
        , A.CSTM_CD
        , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM
        , A.DBTOR_CAST_TP_CD
        , A.CAST_DBTOR_NO
        , A.RECP_NO
        , A.WLY_CSTM_TP_CD
        , A.WLY_CD
        , (SELECT DISTINCT WLY_NM_FR FROM TB_COM_WLY_POST_CD WHERE WLY_CD = A.WLY_CD) AS WLY_NM
        , A.DEPT_CD
        , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(A.DEPT_CD)) AS DEPT_NM
        , A.NTRS_RJTN_RSN_CD
        , A.NTRS_RCVE_AMT
        , A.NTRS_DRWB_AMT
        , A.NTRS_RJTN_AMT
        , A.RJTN_RSN_CN
        , A.PYMN_METH_NO
        , TO_CHAR(TO_DATE(A.PYMN_METH_DT , 'YYYYMMDD'),'DD/MM/YYYY') AS PYMN_METH_DT
        , A.BFCY_NM
        , A.PYMN_AMT
        , A.LECR_DLNG_KND_CD
        , A.NTRS_RCPT_NO
        , TO_CHAR(TO_DATE(A.NTRS_RCPT_DT , 'YYYYMMDD'),'DD/MM/YYYY') AS NTRS_RCPT_DT
        , A.NTRS_RCPT_AMT
        , A.CLTR_ID
        , A.DEL_YN
      FROM TB_COLI_LECR A
          WHERE  A.DEL_YN = 'N'
        <if test="lecrNo != null and lecrNo != ''">
          AND A.LECR_NO = #{lecrNo}
        </if>
        <if test="recpNo != null and recpNo != ''">
          AND A.RECP_NO = #{recpNo}
        </if>
        <if test="wlyCstmTpCd != null and wlyCstmTpCd !=''">
            AND A.WLY_CSTM_TP_CD = #{wlyCstmTpCd}
            <choose>
                <when test='wlyCstmTpCd.equals("W")'>
                    <if test="wlyCd != null and wlyCd !=''">
                        AND A.WLY_CD = #{wlyCd}
                    </if>
                </when>
                <when test='wlyCstmTpCd.equals("D")'>
                    <if test="sctrCd != null and sctrCd != ''">
                        AND  A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
                    </if>
                    <if test='cstmCd != null and cstmCd !=""'>
                        AND  A.CSTM_CD = #{cstmCd}
                    </if>
                    <if test='deptCd != null and deptCd !=""'>
                        AND (
                            (
                                A.DEPT_CD = #{deptCd}
                                OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                OR A.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})))
                            )
                            OR
                            (
                                A.MAKE_DEPT_CD = #{deptCd}
                                OR A.MAKE_DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                OR A.MAKE_DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ACTV_CSTM_CD LIKE '%'||(SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})||'%' AND ORGN_TP_CD ='INP')
                                OR A.DEPT_CD = #{deptCd}
                            )
                        )
                    </if>
                </when>
            </choose>
        </if>
        <if test="dbtorCastTpCd != null and dbtorCastTpCd !=''">
          AND A.DBTOR_CAST_TP_CD LIKE TRIM(#{dbtorCastTpCd}) || '%'
        </if>
        <if test="castDbtorNo != null and castDbtorNo !=''">
          AND A.CAST_DBTOR_NO LIKE TRIM(#{castDbtorNo}) || '%'
        </if>
        ORDER BY A.FRST_RGSR_DTTM DESC
        <include refid="pagination.footer" />
    </select>

    <!--
    Enregistrer de nouvelles informations sur la gestion des avis de débit et crédit !==신용장관리 신규 정보를 등록한다 ==!
    -->
    <insert id="insertColAcntLecrMgmt" parameterType="alpass.ipt.col.acnt.vo.ColLecrMgmtVo">
    /* colLecrMgmtVo_insertColAcntLecrMgmt */
    INSERT INTO TB_COLI_LECR
      (
        LECR_NO
      , CSTM_CD
      , DBTOR_CAST_TP_CD
      , CAST_DBTOR_NO
      , RECP_NO
      , WLY_CSTM_TP_CD
      , WLY_CD
      , DEPT_CD
      , NTRS_RJTN_RSN_CD
      , NTRS_RCVE_AMT
      , NTRS_DRWB_AMT
      , NTRS_RJTN_AMT
      , RJTN_RSN_CN
      , PYMN_METH_NO
      , PYMN_METH_DT
      , BFCY_NM
      , PYMN_AMT
      , LECR_DLNG_KND_CD
      , NTRS_RCPT_NO
      , NTRS_RCPT_DT
      , NTRS_RCPT_AMT
      , CLTR_ID
      , DEL_YN
      , FRST_REGST_ID
      , FRST_RGSR_DTTM
      , LAST_CHPR_ID
      , LAST_CHG_DTTM
      , MAKE_DEPT_CD
      )
      VALUES (
               #{lecrNo}
             , #{cstmCd}
             , #{dbtorCastTpCd}
             , #{castDbtorNo}
             , #{recpNo}
             , #{wlyCstmTpCd}
             , #{wlyCd}
             , #{deptCd}
             , #{ntrsRjtnRsnCd}
             , #{ntrsRcveAmt}
             , #{ntrsDrwbAmt}
             , #{ntrsRjtnAmt}
             , #{rjtnRsnCn}
             , #{expnCrpp}
             , TO_CHAR(TO_DATE(#{pymnMethDt} , 'DD/MM/YYYY'), 'YYYYMMDD')
             , #{bfcyNm}
             , #{pymnAmt}
             , #{lecrDlngKndCd}
             , #{ntrsRcptNo}
             , TO_CHAR(TO_DATE(#{ntrsRcptDt} , 'DD/MM/YYYY'), 'YYYYMMDD')
             , #{ntrsRcptAmt}
             , #{cltrId}
             , 'N'
             , #{frstRegstId}
             , SYSTIMESTAMP
             , #{lastChprId}
             , SYSTIMESTAMP
             , #{makeDeptCd}
             )
  </insert>

    <!--
    Modifier les informations sur la gestion des avis de débit et crédit !==신용장관리 정보를 수정한다 ==!
    -->
    <update id="updateColAcntLecrMgmt" parameterType="alpass.ipt.col.acnt.vo.ColLecrMgmtVo">
        /** colLecrMgmtVo_updateColAcntLecrMgmt **/
        UPDATE  TB_COLI_LECR
        SET   LECR_DLNG_KND_CD = #{lecrDlngKndCd}
            , NTRS_RCPT_NO = #{ntrsRcptNo}
            , NTRS_RCPT_DT = TO_CHAR(TO_DATE(#{ntrsRcptDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
            , NTRS_RCPT_AMT = #{ntrsRcptAmt}
            , CSTM_CD = #{cstmCd}
            , LAST_CHPR_ID = #{lastChprId}     	/* ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM = SYSTIMESTAMP 		/* Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE   LECR_NO = #{lecrNo}
    </update>

</mapper>