<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.tpd.hist.mapper.PscTpdHistMapper">

  <select id="selectPscTpdHistDcshList"  parameterType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo"
    resultType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo">
      /* selectPscTpdHistDcshList */
      <include refid="pagination.header" ></include>
      SELECT
      A.TPD_MGMT_NO                /** Numéro de gestion de TPD !== TPD관리번호 ==! */
      , A.ENCY_DEPR_TP_CD            /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
      , A.ENCY_DEPR_SRNO             /** N° de série d'entrée et de sortie !== 입국출국일련번호 ==! */
      , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
      , TO_CHAR(A.RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS')   AS RGSR_DTTM                   /** Date Et Heure De L'Enregistrement !== 등록일시 ==! */
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
      , A.RGSR_DT                    /** Date D'Enregistrement !==  ==! */
      FROM   ALPASSINT.TB_PSCI_TPD_ENCY_DEPR_HIST A
      WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
      <if test='tpdMgmtNo != null and tpdMgmtNo != ""'>
      AND  A.TPD_MGMT_NO = #{tpdMgmtNo}                /** Numéro de gestion de TPD !== TPD관리번호 ==! */
      </if>
      <if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
      AND A.RGSR_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
      </if>
      <if test='encyDeprTpCd != null and encyDeprTpCd != ""'>
      AND  A.ENCY_DEPR_TP_CD = #{encyDeprTpCd}         /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
      </if>
      ORDER BY A.RGSR_DTTM DESC
      <include refid="pagination.footer" ></include>
  </select>

  <select id="selectPscTpdHistDcsh"  parameterType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo"
    resultType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo">
      /* selectPscTpdHistDcsh */
      SELECT
      A.TPD_MGMT_NO                /** Numéro de gestion de TPD !== TPD관리번호 ==! */
      , A.ENCY_DEPR_TP_CD            /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
      , A.ENCY_DEPR_SRNO             /** N° de série d'entrée et de sortie !== 입국출국일련번호 ==! */
      , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
      , A.RGSR_DTTM                  /** Date Et Heure De L'Enregistrement !== 등록일시 ==! */
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
      , A.RGSR_DT                    /** Date D'Enregistrement !==  ==! */
      FROM   ALPASSINT.TB_PSCI_TPD_ENCY_DEPR_HIST A
      WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  A.TPD_MGMT_NO = #{tpdMgmtNo}                /** Numéro de gestion de TPD !== TPD관리번호 ==! */
  </select>
  
  <select id="selectPscTpdHistMax"  parameterType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo"
    resultType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo">
      /* selectPscTpdHistMax */
      SELECT
      A.TPD_MGMT_NO                /** Numéro de gestion de TPD !== TPD관리번호 ==! */
      , A.ENCY_DEPR_TP_CD            /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
      , A.ENCY_DEPR_SRNO             /** N° de série d'entrée et de sortie !== 입국출국일련번호 ==! */
      , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
      , A.RGSR_DTTM                  /** Date Et Heure De L'Enregistrement !== 등록일시 ==! */
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
      , A.RGSR_DT                    /** Date D'Enregistrement !==  ==! */
      FROM   ALPASSINT.TB_PSCI_TPD_ENCY_DEPR_HIST A
      WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  A.TPD_MGMT_NO = #{tpdMgmtNo}                /** Numéro de gestion de TPD !== TPD관리번호 ==! */
        AND  A.ENCY_DEPR_SRNO = (SELECT MAX(ENCY_DEPR_SRNO) FROM ALPASSINT.TB_PSCI_TPD_ENCY_DEPR_HIST WHERE TPD_MGMT_NO =  A.TPD_MGMT_NO    )
        
  </select>


  <insert id="insertPscTpdHistDcsh" parameterType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo">
      /* insertPscTpdHistDcsh */
      
        <selectKey keyProperty="encyDeprSrno" order="BEFORE" resultType="java.math.BigDecimal">
          SELECT NVL(MAX(ENCY_DEPR_SRNO),0)+1 FROM TB_PSCI_TPD_ENCY_DEPR_HIST WHERE TPD_MGMT_NO = #{tpdMgmtNo}
        </selectKey>
      
        INSERT INTO ALPASSINT.TB_PSCI_TPD_ENCY_DEPR_HIST
        (
        TPD_MGMT_NO                  /** Numéro de gestion de TPD !== TPD관리번호 ==! */
        , ENCY_DEPR_TP_CD              /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
        , ENCY_DEPR_SRNO               /** N° de série d'entrée et de sortie !== 입국출국일련번호 ==! */
        , CSTM_CD                      /** Code Du Bureau !== 세관코드 ==! */
        , RGSR_DTTM                    /** Date Et Heure De L'Enregistrement !== 등록일시 ==! */
        , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
        , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , RGSR_DT                      /** Date D'Enregistrement !==  ==! */
        )
        VALUES
        (
        #{tpdMgmtNo}                 /** Numéro de gestion de TPD !== TPD관리번호 ==! */
        , #{encyDeprTpCd}              /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
        , #{encyDeprSrno}              /** N° de série d'entrée et de sortie !== 입국출국일련번호 ==! */
        , #{cstmCd}                    /** Code Du Bureau !== 세관코드 ==! */
        , CURRENT_TIMESTAMP                 /** Date Et Heure De L'Enregistrement !== 등록일시 ==! */
        , 'N'                          /** Suppression On !== 삭제여부 ==! */
        , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , CURRENT_TIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , CURRENT_TIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , #{rgsrDt}                    /** Date D'Enregistrement !==  ==! */
        )
  </insert>


  <update id="updatePscTpdHistDcsh" parameterType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo">
      /* updatePscTpdHistDcsh */
      UPDATE  ALPASSINT.TB_PSCI_TPD_ENCY_DEPR_HIST SET
                LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
              , LAST_CHG_DTTM = CURRENT_TIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
              <if test='encyDeprTpCd != null and encyDeprTpCd != ""'>
              , ENCY_DEPR_TP_CD = #{encyDeprTpCd}           /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
              </if>
              <if test='rgsrDt != null and rgsrDt != ""'>
              , RGSR_DT = #{rgsrDt}                         /** Date D'Enregistrement !==  ==! */
              </if>
              , RGSR_DTTM = CURRENT_TIMESTAMP                     /** Date Et Heure De L'Enregistrement !== 등록일시 ==! */
         WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
          AND  TPD_MGMT_NO = #{tpdMgmtNo}                  /** Numéro de gestion de TPD !== TPD관리번호 ==! */
          AND  ENCY_DEPR_TP_CD = #{encyDeprTpCd}           /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
          AND  ENCY_DEPR_SRNO = #{encyDeprSrno}            /** N° de série d'entrée et de sortie !== 입국출국일련번호 ==! */

           
  </update>


  <update id="deletePscTpdHistDcsh" parameterType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistMgmtVo">
      /* deletePscTpdHistDcsh */
      UPDATE  ALPASSINT.TB_PSCI_TPD_ENCY_DEPR_HIST SET
              DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
           ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
           ,  LAST_CHG_DTTM = CURRENT_TIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
       WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
       AND  A.TPD_MGMT_NO = #{tpdMgmtNo}                /** Numéro de gestion de TPD !== TPD관리번호 ==! */
       AND  A.ENCY_DEPR_TP_CD = #{encyDeprTpCd}         /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
       AND  A.ENCY_DEPR_SRNO = #{encyDeprSrno}         /** N° de série d'entrée et de sortie !== 입국출국일련번호 ==! */
  </update>



  <select id="selectPscTpdHistInfo"  parameterType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistInfoVo"
    resultType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistInfoVo">
      /* selectPscTpdHistInfo */
          WITH query_01 AS (
          
             SELECT '01' AS TPD_STEP  
                   ,ADOR_ID AS DCLR_NO
                   ,TO_CHAR(AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')  AS RGSR_DTTM
                   ,'Y' AS END_YN
             FROM TB_PSCI_TPD_AUDT
             WHERE TPD_TEMP_NO = #{tpdTempNo} AND AUDT_RSLT_DTL_CD = '02' 
             ORDER BY AUDT_RSLT_RGSR_DTTM 
             LIMIT 1

          ),
          default_01 AS (
              SELECT '01' AS TPD_STEP, '' AS DCLR_NO, '' AS RGSR_DTTM, '' AS END_YN
          ),
          result_01 AS (
              SELECT * FROM query_01
              UNION ALL
              SELECT * FROM default_01
              WHERE NOT EXISTS (SELECT 1 FROM query_01)
          ),
          
          query_02 AS (
               SELECT '02' AS TPD_STEP  
                     ,ADOR_ID AS DCLR_NO
                     ,TO_CHAR(AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')  AS RGSR_DTTM
                     ,'Y' AS END_YN
               FROM TB_PSCI_TPD_AUDT
               WHERE TPD_TEMP_NO = #{tpdTempNo} AND AUDT_RSLT_DTL_CD = '03' 
               ORDER BY AUDT_RSLT_RGSR_DTTM 
               LIMIT 1
          ),
          default_02 AS (
              SELECT '02' AS TPD_STEP, '' AS DCLR_NO, '' AS RGSR_DTTM, '' AS END_YN
          ),
          result_02 AS (
              SELECT * FROM query_02
              UNION ALL
              SELECT * FROM default_02
              WHERE NOT EXISTS (SELECT 1 FROM query_02)
          ),
          
          query_03 AS (
              SELECT '03' AS TPD_STEP
                     ,TPD_MGMT_NO AS DCLR_NO
                     ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY') 
                      FROM TB_PSCI_TPD_AUDT B 
                      WHERE B.AUDT_RSLT_CD = '02' 
                      AND B.TPD_TP_CD = '01' 
                      AND B.TPD_TEMP_NO = TPD_TEMP_NO 
                      ORDER BY B.AUDT_RSLT_RGSR_DTTM 
                      LIMIT 1) AS RGSR_DTTM
                     , 'Y' AS END_YN
                     FROM TB_PSCI_TPD_BSCS
                     WHERE TPD_TEMP_NO = #{tpdTempNo}
          ),
          default_03 AS (
              SELECT '03' AS TPD_STEP, '' AS DCLR_NO, '' AS RGSR_DTTM, '' AS END_YN
          ),
          result_03 AS (
              SELECT * FROM query_03
              UNION ALL
              SELECT * FROM default_03
              WHERE NOT EXISTS (SELECT 1 FROM query_03)
          ),
          
          query_04 AS (
              SELECT '04' AS TPD_STEP, 
                     A.CUFR_CSCL_WRPM_ID AS DCLR_NO, 
                     TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DTTM,
                     NVL2((SELECT BSCS.CUFR_CSCL_WRPM_ID 
                           FROM TB_PSCI_CUFR_CSCL_BSCS BSCS 
                           WHERE BSCS.CUFR_CSCL_WRPM_ID = A.CUFR_CSCL_WRPM_ID 
                           AND BSCS.CUFR_RQST_STTS_CD = 'A4' 
                           ORDER BY BSCS.FRST_RGSR_DTTM DESC 
                           LIMIT 1), 'Y', 'N') AS END_YN 
              FROM TB_PSCI_CUFR_CSCL_BSCS A 
              WHERE A.REFF_NO = #{tpdMgmtNo}
          ),
          default_04 AS (
              SELECT '04' AS TPD_STEP, '' AS DCLR_NO, '' AS RGSR_DTTM, '' AS END_YN
          ),
          result_04 AS (
              SELECT * FROM query_04
              UNION ALL
              SELECT * FROM default_04
              WHERE NOT EXISTS (SELECT 1 FROM query_04)
          ),
          
          query_05 AS (
              SELECT '05' AS TPD_STEP,
                     regexp_replace(B.BLGG_MGMT_NO, '(\d{9})(\d{4})(\w{2})(\d{6})(\w{1})', '\1-\2-\3-\4-\5') || ' / ' || B.BLGG_SRNO AS DCLR_NO,
                     TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DTTM,
                     NVL((SELECT NTFC.RCVE_YN 
                          FROM TB_COLI_NTFC NTFC 
                          WHERE NTFC.DEL_YN = 'N' 
                          AND NTFC.CNCL_YN != 'Y' 
                          AND NTFC.NTFC_PRCS_STTS_CD != 'A01' 
                          AND NTFC.REFF_NO = A.BLGG_MGMT_NO 
                          AND NTFC.TXPR_IDFY_NO = A.PSPR_NO 
                          ORDER BY NTFC.NTFC_DT ASC 
                          LIMIT 1), 'N') AS END_YN 
              FROM TB_PSCI_PSNR_BLGG_IPRT A, TB_PSCI_PSNR_BLGG_INSC_PDLS B 
              WHERE A.BLGG_MGMT_NO = B.BLGG_MGMT_NO 
              AND B.BLGG_END_TP_CD = '01' 
              AND (A.TPD_TEMP_NO = #{tpdTempNo} OR A.TPD_MGMT_NO = #{tpdMgmtNo}) 
              ORDER BY A.FRST_RGSR_DTTM DESC 
              LIMIT 1
          ),
          default_05 AS (
              SELECT '05' AS TPD_STEP, '' AS DCLR_NO, '' AS RGSR_DTTM, '' AS END_YN
          ),
          result_05 AS (
              SELECT * FROM query_05
              UNION ALL
              SELECT * FROM default_05
              WHERE NOT EXISTS (SELECT 1 FROM query_05)
          ),
          
          query_06 AS (
              SELECT '06' AS TPD_STEP,
                     regexp_replace(B.BLGG_MGMT_NO, '(\d{9})(\d{4})(\w{2})(\d{6})(\w{1})', '\1-\2-\3-\4-\5') || ' / ' || B.BLGG_SRNO AS DCLR_NO,
                     TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DTTM,
                     '' AS END_YN
              FROM TB_PSCI_PSNR_BLGG_IPRT A, TB_PSCI_PSNR_BLGG_INSC_PDLS B
              WHERE A.BLGG_MGMT_NO = B.BLGG_MGMT_NO
              AND B.BLGG_END_TP_CD = '02'
              AND (A.TPD_TEMP_NO = #{tpdTempNo} OR A.TPD_MGMT_NO = #{tpdMgmtNo})
              ORDER BY A.FRST_RGSR_DTTM DESC
              LIMIT 1
          ),
          default_06 AS (
              SELECT '06' AS TPD_STEP, '' AS DCLR_NO, '' AS RGSR_DTTM, '' AS END_YN
          ),
          result_06 AS (
              SELECT * FROM query_06
              UNION ALL
              SELECT * FROM default_06
              WHERE NOT EXISTS (SELECT 1 FROM query_06)
          ),
          query_07 AS (
              SELECT '07' AS TPD_STEP,
                     regexp_replace(B.BLGG_MGMT_NO, '(\d{9})(\d{4})(\w{2})(\d{6})(\w{1})', '\1-\2-\3-\4-\5') || ' / ' || B.BLGG_SRNO AS DCLR_NO,
                     TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DTTM,
                     NVL((SELECT BRNG_YN
                          FROM TB_PSCI_PSNR_BLGG_INSC_PDLS PDLS
                          WHERE PDLS.BLGG_MGMT_NO = B.BLGG_MGMT_NO
                            AND PDLS.BLGG_SRNO = B.BLGG_SRNO
                            AND PDLS.BRNG_YN = 'Y'), 'N') AS END_YN
              FROM TB_PSCI_PSNR_BLGG_IPRT A, TB_PSCI_PSNR_BLGG_INSC_PDLS B
              WHERE A.BLGG_MGMT_NO = B.BLGG_MGMT_NO
                AND B.BLGG_END_TP_CD = '06'
                AND (A.TPD_TEMP_NO = #{tpdTempNo} OR A.TPD_MGMT_NO = #{tpdMgmtNo})
              ORDER BY A.FRST_RGSR_DTTM DESC
              LIMIT 1
          ),
          default_07 AS (
              SELECT '07' AS TPD_STEP, '' AS DCLR_NO, '' AS RGSR_DTTM, '' AS END_YN
          ),
          result_07 AS (
              SELECT * FROM query_07
              UNION ALL
              SELECT * FROM default_07
              WHERE NOT EXISTS (SELECT 1 FROM query_07)
          ),
          
          query_08 AS (
              SELECT '08' AS TPD_STEP,
                     regexp_replace(B.BLGG_MGMT_NO, '(\d{9})(\d{4})(\w{2})(\d{6})(\w{1})', '\1-\2-\3-\4-\5') || ' / ' || B.BLGG_SRNO AS DCLR_NO,
                     TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DTTM,
                     '' AS END_YN
              FROM TB_PSCI_PSNR_BLGG_IPRT A, TB_PSCI_PSNR_BLGG_INSC_PDLS B
              WHERE A.BLGG_MGMT_NO = B.BLGG_MGMT_NO
                AND B.BLGG_END_TP_CD = '12'
                AND (A.TPD_TEMP_NO = #{tpdTempNo} OR A.TPD_MGMT_NO = #{tpdMgmtNo})
              ORDER BY A.FRST_RGSR_DTTM DESC
              LIMIT 1
          ),
          default_08 AS (
              SELECT '08' AS TPD_STEP, '' AS DCLR_NO, '' AS RGSR_DTTM, '' AS END_YN
          ),
          result_08 AS (
              SELECT * FROM query_08
              UNION ALL
              SELECT * FROM default_08
              WHERE NOT EXISTS (SELECT 1 FROM query_08)
          )
          
          
          SELECT * FROM result_01
          UNION ALL
          SELECT * FROM result_02
          UNION ALL
          SELECT * FROM result_03
          UNION ALL
          SELECT * FROM result_04
          UNION ALL
          SELECT * FROM result_05
          UNION ALL
          SELECT * FROM result_06
          UNION ALL
          SELECT * FROM result_07
          UNION ALL
          SELECT * FROM result_08

  </select>


  <select id="selectPscTpdHistInfoChk"  parameterType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistInfoVo"
    resultType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistInfoVo">
      /* selectPscTpdHistInfoChk */
      SELECT A.TPD_TEMP_NO 
           , A.TPD_MGMT_NO
           , A.RGSR_DT
           , B.DRVR_PSPR_NO
           , B.DRVR_NAT_CD
           , (SELECT DECODE(COUNT(*),0,'N','Y') FROM TB_PSCI_TPD_AUDT AUDT WHERE TPD_TEMP_NO = A.TPD_TEMP_NO AND AUDT_RSLT_CD = '13') AS STTS
      FROM TB_PSCI_TPD_BSCS A, TB_PSCI_TPD_PSNR_BSCS B, TB_PSCI_TPD_VHCL C  
      WHERE A.TPD_TEMP_NO  = B.TPD_TEMP_NO 
      AND   A.TPD_TEMP_NO = C.TPD_TEMP_NO 
      AND A.DEL_YN = 'N'
      <if test='vhclRgsrNo != null and vhclRgsrNo != ""'>
      AND C.VHCL_RGSR_NO  = #{vhclRgsrNo}
      </if>
      <if test='drvrPsprNo != null and drvrPsprNo != ""'>
      AND B.DRVR_PSPR_NO  = #{drvrPsprNo}
      AND B.DRVR_NAT_CD   = #{drvrNatCd}
      </if>
      AND A.TPD_RQST_STTS_CD IN ('A2','A3','A4','A5')
      ORDER BY A.FRST_RGSR_DTTM DESC
      LIMIT 1
      
  </select>
  
  
  <select id="selectTpdHistList"  parameterType="alpass.ipt.psc.tpd.audt.vo.PscTpdSearchVo"
    resultType="alpass.ipt.psc.tpd.hist.vo.PscTpdHistInfoVo">
      /* selectTpdHistList */
      <include refid="pagination.header" ></include>
      SELECT A.TPD_MGMT_NO
            , A.TPD_TEMP_NO
            , TO_CHAR(TO_DATE(A.VALD_DT,'YYYYMMDD'),'DD/MM/YYYY') AS VALD_DT 
            , TO_CHAR(TO_DATE(A.TPD_END_DT,'YYYYMMDD'),'DD/MM/YYYY') AS TPD_END_DT 
            ,(SELECT TO_CHAR(B.AUDT_RSLT_RGSR_DTTM, 'DD/MM/YYYY')   FROM TB_PSCI_TPD_AUDT B WHERE B.AUDT_RSLT_CD = '02' AND B.TPD_TEMP_NO = A.TPD_TEMP_NO AND ROWNUM = 1 ) AS APRE_DT
            , TO_CHAR(A.FRST_RGSR_DTTM ,'DD/MM/YYYY')   AS RGSR_DT                   /** Date Et Heure De L'Enregistrement !== 등록일시 ==! */
            , B.DRVR_PSPR_NO AS PSPR_NO
            , B.DRVR_FMNM 
            , B.DRVR_GVNM_NM 
            , C.SSIS_NO 
            , C.VHCL_RGSR_NO
            , TO_CHAR(TO_DATE(C.VHCL_FRST_RGSR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS VHCL_FRST_RGSR_DT
            , (SELECT VHCL_MNUR_NM FROM TB_COM_VHCL_MNUR WHERE VHCL_MNUR_CD = C.VHCL_MNUR_CD AND DEL_YN = 'N') AS VHCL_MNUR_NM
            , (SELECT VHCL_MDL_NM FROM TB_COM_VHCL_MDL WHERE VHCL_MDL_CD = C.VHCL_MDL_CD AND DEL_YN = 'N') AS VHCL_MDL_NM
            , NVL(  
                (
                  SELECT E.TPD_END_TEMP_NO
                  FROM TB_PSCI_TPD_END E
                  WHERE E.TPD_TEMP_NO = A.TPD_TEMP_NO
                  AND E.TPD_RQST_STTS_CD  = 'A4'
                  ORDER BY E.FRST_RGSR_DTTM  desc
                  LIMIT 1
              )
                ,'') AS END_YN
            , NVL(  
                (
                  SELECT E.TPD_CONS_TEMP_NO
                  FROM TB_PSCI_TPD_VHCL_CONS  E
                  WHERE E.TPD_TEMP_NO = A.TPD_TEMP_NO
                  AND E.TPD_RQST_STTS_CD  = 'A4'
                  ORDER BY E.FRST_RGSR_DTTM  desc
                  LIMIT 1
              )
                ,'') AS CONS_YN
            , NVL(  
                (
                  SELECT E.TPD_XTNS_TEMP_NO
                  FROM TB_PSCI_TPD_XTNS_RQST E
                  WHERE E.TPD_TEMP_NO = A.TPD_TEMP_NO
                  AND E.TPD_RQST_STTS_CD  = 'A4'
                  ORDER BY E.FRST_RGSR_DTTM  desc
                  LIMIT 1
              )
                ,'') AS XTNS_YN      
      FROM   TB_PSCI_TPD_BSCS A , TB_PSCI_TPD_PSNR_BSCS B,  TB_PSCI_TPD_VHCL C 
      WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
      AND A.TPD_TEMP_NO = B.TPD_TEMP_NO 
      AND A.TPD_TEMP_NO = C.TPD_TEMP_NO    
      AND (A.TPD_MGMT_NO IS NOT NULL AND A.TPD_MGMT_NO != '' )
      <if test='tpdMgmtNo != null and tpdMgmtNo != ""'>
      AND  A.TPD_MGMT_NO = #{tpdMgmtNo}                /** Numéro de gestion de TPD !== TPD관리번호 ==! */
      </if>
      <if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
      AND A.RGSR_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
      </if>
      <if test='cstmCd != null and cstmCd != ""'>
      AND A.CSTM_CD = #{cstmCd}
      </if>
      <if test='tpdRqstSttsCd != null and tpdRqstSttsCd != ""'>
      AND A.TPD_RQST_STTS_CD = #{tpdRqstSttsCd}
      </if>
      ORDER BY A.FRST_RGSR_DTTM DESC
      <include refid="pagination.footer" ></include>
  </select>


  <select id="selectPscPsnrSrch"  parameterType="alpass.ipt.psc.tpd.hist.vo.PscPsnrSrchVo"
    resultType="alpass.ipt.psc.tpd.hist.vo.PscPsnrSrchVo">
      /* selectPscPsnrSrch */
        <include refid="pagination.header" ></include>
       
         SELECT '01' AS TPD_STEP 
         ,  CASE
        WHEN A.TPD_MGMT_NO IS NOT NULL AND A.TPD_MGMT_NO != '' THEN A.TPD_MGMT_NO
        ELSE A.TPD_TEMP_NO
            END AS DCLR_NO
       , A.TPD_RQST_STTS_CD AS STTS
       , B.DRVR_FMNM || ' ' || B.DRVR_GVNM_NM AS DRVR_GVNM_NM
       , B.DRVR_PSPR_NO AS PSPR_NO
       , B.DRVR_BRDY  AS DRVR_BRDY
       , A.RGSR_DT AS RGSR_DT                         
        FROM TB_PSCI_TPD_BSCS A, TB_PSCI_TPD_PSNR_BSCS B 
        WHERE A.TPD_TEMP_NO = B.TPD_TEMP_NO
        AND A.TPD_RQST_STTS_CD != 'A1'
        <if test='drvrGvnmNm != null and drvrGvnmNm != ""'>
        AND  UPPER(B.DRVR_FMNM) || ' '  || UPPER(B.DRVR_GVNM_NM)  LIKE '%'|| UPPER(#{drvrGvnmNm}) || '%' 
        AND B.DRVR_BRDY = #{drvrBrdy}
        </if>
        <if test='drvrPsprNo != null and drvrPsprNo != ""'>
        AND UPPER(B.DRVR_PSPR_NO) = UPPER(#{drvrPsprNo})
        AND B.DRVR_NAT_CD = #{drvrNatCd}
        </if>
        UNION ALL
        
         SELECT '02' AS TPD_STEP 
         , A.CUFR_CSCL_WRPM_ID AS DCLR_NO
         , CASE
           WHEN TO_DATE(A.CUFR_CSCL_WRPM_PRID, 'YYYYMMDD') <![CDATA[ < ]]> current_date THEN 'A7'
           ELSE A.CUFR_RQST_STTS_CD 
           END AS STTS
         , A.BFCY_FMNM || ' ' || A.BFCY_GVNM_NM AS DRVR_GVNM_NM
         , A.BFCY_PSPR_NO AS PSPR_NO
         , A.BFCY_BRDY  AS DRVR_BRDY
         , TO_CHAR(A.FRST_RGSR_DTTM,'YYYYMMDD')  AS RGSR_DT    
        FROM TB_PSCI_CUFR_CSCL_BSCS A
        WHERE 1=1
        <if test='drvrGvnmNm != null and drvrGvnmNm != ""'>
        AND  UPPER(A.BFCY_FMNM) || ' ' ||UPPER(A.BFCY_GVNM_NM) LIKE '%'|| UPPER(#{drvrGvnmNm}) || '%' 
        AND A.BFCY_BRDY = #{drvrBrdy}
        </if>
        <if test='drvrPsprNo != null and drvrPsprNo != ""'>
        AND UPPER(A.BFCY_PSPR_NO) = UPPER(#{drvrPsprNo})
        AND A.BFCY_NAT_CD = #{drvrNatCd}
        </if>

        UNION ALL
        
       SELECT '03' AS TPD_STEP 
         ,  CASE
          WHEN A.FRXCG_DCSH_MGMT_NO IS NOT NULL AND A.FRXCG_DCSH_MGMT_NO != '' THEN A.FRXCG_DCSH_MGMT_NO
          ELSE A.FRXCG_DCSH_TEMP_NO
              END AS DCLR_NO
         , A.FRXCG_RQST_STTS_CD  AS STTS
         , A.PSNR_FMNM || ' ' || A.PSNR_GVNM_NM AS DRVR_GVNM_NM
         , A.PSPR_NO AS PSPR_NO
         , A.BRDY  AS DRVR_BRDY
         , A.RGSR_DT AS RGSR_DT     
        FROM TB_PSCI_FRXCG_DCSH_MGMT A
        WHERE 1=1
        AND A.FRXCG_RQST_STTS_CD != 'A1'
        <if test='drvrGvnmNm != null and drvrGvnmNm != ""'>
        AND  UPPER(A.PSNR_FMNM)  || ' ' || UPPER(A.PSNR_GVNM_NM)  LIKE '%'|| UPPER(#{drvrGvnmNm}) || '%'  
        AND A.BRDY = #{drvrBrdy}
        </if>
        <if test='drvrPsprNo != null and drvrPsprNo != ""'>
        AND UPPER(A.PSPR_NO) = UPPER(#{drvrPsprNo})
        AND A.NAT_CD = #{drvrNatCd}
        </if>
        UNION ALL
  
        SELECT '04' AS TPD_STEP 
         ,  CASE
          WHEN A.BLGG_DTRM_NO IS NOT NULL AND A.BLGG_DTRM_NO != '' THEN A.BLGG_DTRM_NO
          ELSE A.BLGG_MGMT_NO
              END AS DCLR_NO
         , A.BLGG_RQST_STTS_CD  AS STTS
         , A.PSNR_FMNM || ' ' || A.PSNR_GVNM_NM AS DRVR_GVNM_NM
         , A.PSPR_NO AS PSPR_NO
         , A.BRDY  AS DRVR_BRDY
         , A.RGSR_DT AS RGSR_DT     
        FROM TB_PSCI_PSNR_BLGG_IPRT A
        WHERE 1=1
        AND A.BLGG_RQST_STTS_CD != 'A1'
        <if test='drvrGvnmNm != null and drvrGvnmNm != ""'>
        AND  UPPER(A.PSNR_FMNM)  || ' ' || UPPER(A.PSNR_GVNM_NM)  LIKE '%'|| UPPER(#{drvrGvnmNm}) || '%'  
        AND A.BRDY = #{drvrBrdy}      
        </if> 
        <if test='drvrPsprNo != null and drvrPsprNo != ""'>
        AND UPPER(A.PSPR_NO) = UPPER(#{drvrPsprNo})
        AND A.NAT_CD = #{drvrNatCd}
        </if>          
      <include refid="pagination.footer" ></include>    
  </select>



</mapper>