<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alpass.ipt.clr.trm.hsm.mapper.ClrHsmGnrlPrviTfrtMapper">
    <sql id="sqlSearchQuery">
        <if test="srno != null and srno != 0">
            AND			A.SRNO = #{srno}
        </if>
        <if test="taxCd != null and taxCd != ''">
            AND			A.TAX_CD = #{taxCd}
        </if>
        <if test="basedDt != null and basedDt != ''">
            AND			TO_CHAR(TO_DATE(#{basedDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT
        </if>
    </sql>

    <sql id="sqlSelectQuery">
        SELECT
            A.TAX_CD
             , B.TAX_CD_NM
             , B.TAX_CTGY_CD
             , A.TFRT_CTGY_CD
             , A.SRNO
             , B.TRIF_RT_TP_CD
             , NVL((SELECT LSPR_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE C WHERE C.TAX_CD = B.TAX_CD AND TO_DATE(TO_CHAR(SYSTIMESTAMP,'YYYYMMDD'),'YYYYMMDD') BETWEEN TO_DATE(APLY_STRT_DT,'YYYYMMDD') AND TO_DATE(APLY_END_DT,'YYYYMMDD') ORDER BY BASE_SRNO DESC LIMIT 1),(SELECT LSPR_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = B.TAX_CD AND USE_YN = 'Y' ORDER BY BASE_SRNO DESC LIMIT 1)) LSPR_TXBS_CN
             , A.VLTX_RT_CN
             , NVL((SELECT CRLN_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE C WHERE C.TAX_CD = B.TAX_CD AND TO_DATE(TO_CHAR(SYSTIMESTAMP,'YYYYMMDD'),'YYYYMMDD') BETWEEN TO_DATE(APLY_STRT_DT,'YYYYMMDD') AND TO_DATE(APLY_END_DT,'YYYYMMDD') ORDER BY BASE_SRNO DESC LIMIT 1),(SELECT CRLN_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = B.TAX_CD AND USE_YN = 'Y' ORDER BY BASE_SRNO DESC LIMIT 1)) CRLN_TXBS_CN
             , A.SPTX_RT_CN
             , A.USE_YN
             , A.DEL_YN
             , A.RMRK_CN
             , B.APLY_PROR_RNK
             , A.APLY_STRT_DT
             , A.APLY_END_DT
             , A.FRST_REGST_ID
             , A.FRST_RGSR_DTTM
             , A.LAST_CHPR_ID
             , A.LAST_CHG_DTTM
        FROM TB_CLRI_GNRL_TFRT A
           , TB_CLRI_TAX_CD B
        WHERE		A.DEL_YN = 'N'
          AND       B.DEL_YN = 'N'
          <if test="tfrtCtgyCd != null and tfrtCtgyCd != ''">
          AND		A.TFRT_CTGY_CD = #{tfrtCtgyCd} /** 'GL' or 'PR' */
          </if>
          AND       A.TAX_CD = B.TAX_CD
    </sql>

    <select id="selectClrGnrlTfrtList" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo">
        /** selectClrGnrlTfrtList : 일반잠정세율 페이징 목록 조회 */
        <include refid="pagination.header" />
        SELECT
        A.TAX_CD
        , A.TAX_CD_NM
        , (
        SELECT
        TAX_CLCU_BASE_CN
        FROM		TB_CLRI_TAX_CLCU_BASE
        WHERE		TAX_CD = A.TAX_CD
        AND			USE_YN = 'Y'
        AND			NVL(A.APLY_STRT_DT, TO_CHAR(SYSDATE, 'YYYYMMDD')) BETWEEN APLY_STRT_DT AND APLY_END_DT
        ) TAX_CLCU_BASE_CN
        , A.TAX_CTGY_CD
        , A.TFRT_CTGY_CD
        , A.SRNO
        , A.TRIF_RT_TP_CD
        , A.LSPR_TXBS_CN
        , A.VLTX_RT_CN
        , A.CRLN_TXBS_CN
        , A.SPTX_RT_CN
        , A.USE_YN
        , A.RMRK_CN
        , (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'COM_0016' AND LANG_CD = #{langCd} AND CD_VDVAL = A.USE_YN) USE_YN_NM
        , A.DEL_YN
        , A.APLY_PROR_RNK
        , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') APLY_STRT_DT
        , TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') APLY_END_DT
        , A.FRST_REGST_ID
        , A.FRST_RGSR_DTTM
        , A.LAST_CHPR_ID
        , A.LAST_CHG_DTTM
        FROM (
        <include refid="sqlSelectQuery">
            <property name="tfrtCtgyCd" value="#{tfrtCtgyCd}"/>
        </include>
        <include refid="sqlSearchQuery" />
        ) A
        ORDER BY	DECODE(A.TAX_CTGY_CD, 'G', 1, 'I', 2, 'P', 3, 'O', 4) ASC, TO_NUMBER(A.APLY_PROR_RNK) ASC, A.TAX_CD ASC, A.SRNO DESC
        /*sortPagerFooter*/
        <include refid="pagination.footer" />
    </select>

    <select id="selectAplyClrGnrlTfrtCnt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo" resultType="Integer">
        /** selectAplyClrGnrlTfrtCnt : 중복된 세금코드 데이터 카운트 조회 **/
        SELECT
        COUNT(*)
        FROM (
        <include refid="sqlSelectQuery" />
        ) A
        WHERE		A.TAX_CD = #{taxCd}
    </select>

    <select id="selectGnrlTfrtSrno" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo" resultType="BigDecimal">
        /** selectGnrlTfrtSrno : 신규 일련번호 생성 **/
        SELECT NVL(MAX(SRNO), 0) + 1 SRNO FROM TB_CLRI_GNRL_TFRT WHERE TAX_CD = #{taxCd} AND TFRT_CTGY_CD = #{tfrtCtgyCd}
    </select>

    <insert id="insertClrGnrlTfrt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo">
        /** insertClrGnrlTfrt : 신규 기본세율 정보 저장 **/
        INSERT	INTO TB_CLRI_GNRL_TFRT (
                                           TAX_CD
                                         , TFRT_CTGY_CD
                                         , SRNO
                                         , APLY_STRT_DT                 /** Date De Début De L'Application !== 적용시작일자 ==! */
                                         , APLY_END_DT                  /** Date De Fin De L'Application !== 적용종료일자 ==! */
                                         , TRIF_RT_TP_CD
                                         , VLTX_RT_CN
                                         , SPTX_RT_CN
                                         , USE_YN
                                         , DEL_YN
                                         , RMRK_CN
                                         , FRST_REGST_ID
                                         , FRST_RGSR_DTTM
                                         , LAST_CHPR_ID
                                         , LAST_CHG_DTTM
        ) VALUES (
                     #{taxCd}
                 , #{tfrtCtgyCd}
                 , #{srno}
                 , TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')  /** Date De Début De L'Application !== 적용시작일자 ==! */
                 , TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')  /** Date De Fin De L'Application !== 적용종료일자 ==! */
                 , #{trifRtTpCd}
                 , #{vltxRtCn}
                 , #{sptxRtCn}
                 , #{useYn}
                 , 'N'
                 , #{rmrkCn}
                 , #{frstRegstId}
                 , SYSTIMESTAMP
                 , #{lastChprId}
                 , SYSTIMESTAMP
                 )
    </insert>

    <update id="updateClrGnrlTfrt"  parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo">
        /** updateClrGnrlTfrt : 기본세율 정보 수정 **/
        UPDATE		TB_CLRI_GNRL_TFRT SET
            APLY_STRT_DT = TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')  /** Date De Début De L'Application !== 적용시작일자 ==! */
                                          , APLY_END_DT = TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')  /** Date De Fin De L'Application !== 적용종료일자 ==! */
                                          , TRIF_RT_TP_CD = #{trifRtTpCd}
                                          , VLTX_RT_CN = #{vltxRtCn}
                                          , SPTX_RT_CN = #{sptxRtCn}
                                          , USE_YN = #{useYn}
                                          , RMRK_CN = #{rmrkCn}
                                          , LAST_CHPR_ID = #{lastChprId}
                                          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE		DEL_YN = 'N'
          AND			TAX_CD = #{taxCd}
          AND			TFRT_CTGY_CD = #{tfrtCtgyCd}
          AND			SRNO = #{srno}
    </update>

    <update id="updateClrGnrlTfrtAplyEndDt"  parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo">
        /** updateClrGnrlTfrt : 기본세율 정보 수정 **/
        UPDATE		TB_CLRI_GNRL_TFRT SET APLY_END_DT = CASE WHEN TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD') >= APLY_STRT_DT THEN TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD') ELSE APLY_STRT_DT END  /** Date De Fin De L'Application !== 적용종료일자 ==! */
                                          , LAST_CHPR_ID = #{lastChprId}
                                          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE		DEL_YN = 'N'
          AND			TAX_CD = #{taxCd}
          AND			TFRT_CTGY_CD = #{tfrtCtgyCd}
          AND			SRNO = #{srno}
    </update>

    <delete id="deleteClrGnrlTfrt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo">
        /** deleteClrGnrlTfrt : 기본세율 정보 삭제처리 **/
        DELETE
        FROM		TB_CLRI_GNRL_TFRT
        WHERE		TAX_CD = #{taxCd}
          AND			TFRT_CTGY_CD = #{tfrtCtgyCd}
          AND			SRNO = #{srno}
    </delete>

    <!-- clri-hsmgnt-gnrl-stfrt-aprid-sql.xml 기존 소스 위치 -->
    <select id="selectAplyClrGnrlPrTfrtCnt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmGnrlTfrtVo" resultType="Integer">
        /** selectAplyClrGnrlPrTfrtCnt : 일반관세율 적용일자 중복 데이터 카운트 조회 **/
        <![CDATA[
		SELECT
					COUNT(*)
		FROM 		TB_CLRI_GNRL_TFRT A
		WHERE		A.TFRT_CTGY_CD = #{tfrtCtgyCd}
		AND			A.TAX_CD = #{taxCd}
		AND			A.APLY_STRT_DT <= TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
		AND			A.APLY_END_DT >= TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
		]]>
        <if test="srno != null and srno != 0">
            <![CDATA[
		AND			SRNO <> #{srno}
		]]>
        </if>
    </select>

</mapper>
