<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
세금코드관리
@Author : Shin-Hyun Woo
-->
<mapper namespace="alpass.ipt.clr.trm.hsm.mapper.ClrHsmTaxCdMapper">

	<sql id="sqlSearchQuery">
		<if test="useYn != null and useYn != ''">
			AND			A.USE_YN = #{useYn}
		</if>
		<if test="taxCd != null and taxCd != ''">
			AND			A.TAX_CD LIKE #{taxCd} || '%'
		</if>
		<if test="taxCtgyCd != null and taxCtgyCd != ''">
			AND			A.TAX_CTGY_CD = #{taxCtgyCd}
		</if>
	</sql>

	<sql id="sqlSelectQuery">
		SELECT
					  A.TAX_CD
					, A.TAX_CD_NM
					, A.TAX_CTGY_CD
		     		, A.TRIF_RT_TP_CD
					, A.BDGT_CD
					, A.BDGT_DTL_NO
					, A.USE_YN
					, A.DEL_YN
					, A.APLY_PROR_RNK
					, A.FRST_REGST_ID
					, A.FRST_RGSR_DTTM
					, A.LAST_CHPR_ID
					, A.LAST_CHG_DTTM
		FROM		TB_CLRI_TAX_CD A
		WHERE		A.DEL_YN = 'N'
		AND			A.USE_YN = 'Y'
	</sql>

	<select id="selectTaxCtgyCd" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo" resultType="String">
		/** selectTaxCtgyCd : 세금코드 세금카테고리구분 코드 조회 **/
		SELECT
					A.TAX_CTGY_CD
		FROM 		TB_CLRI_TAX_CD A
		WHERE		TAX_CD = #{taxCd}
		AND 		DEL_YN ='N'
	</select>

	<select id="selectTaxAplyDtCheck" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo" resultType="int">
		SELECT COUNT(*) FROM
		(
		    SELECT * FROM
				ALPASSINT.TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = #{taxCd}
			AND BASE_SRNO = (SELECT MAX(BASE_SRNO) FROM ALPASSINT.TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = #{taxCd} GROUP BY  TAX_CD)
			<![CDATA[
			AND (TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') < APLY_STRT_DT OR APLY_END_DT < TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') )
			]]>
		)
	</select>



    <select id="selectTaxCdList" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo">
		/** selectTaxCdList : 세금코드 페이징 목록 조회 **/
		<include refid="pagination.header"/>
			SELECT
				  A.TAX_CD
				, NVL((
					SELECT
								TAX_CLCU_BASE_CN
					FROM		TB_CLRI_TAX_CLCU_BASE
					WHERE		TAX_CD = A.TAX_CD
					AND			USE_YN = 'Y'
					AND			NVL2(#{aplyStrtDt}, TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD'), TO_CHAR(SYSDATE, 'YYYYMMDD')) BETWEEN APLY_STRT_DT AND APLY_END_DT ORDER BY BASE_SRNO DESC LIMIT 1
				), (SELECT TAX_CLCU_BASE_CN FROM TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = A.TAX_CD AND USE_YN = 'Y' ORDER BY BASE_SRNO DESC LIMIT 1)) TAX_CLCU_BASE_CN
				, A.TAX_CD_NM
				, A.TAX_CTGY_CD
				, (
					SELECT
								CD_VDVAL_NM
					FROM		TB_COM_COMN_CD_D_LANG
					WHERE		COMN_CD = 'CLR_0058'
					AND			LANG_CD = #{langCd}
					AND			CD_VDVAL = A.TAX_CTGY_CD
				) TAX_CTGY_NM
				, A.TRIF_RT_TP_CD
				, (
				SELECT
				CD_VDVAL_NM
				FROM		TB_COM_COMN_CD_D_LANG
				WHERE		COMN_CD = 'CLR_0041'
				AND			LANG_CD = #{langCd}
				AND			CD_VDVAL = A.TRIF_RT_TP_CD
				) TRIF_RT_TP_NM
				, A.BDGT_CD
				, (
					SELECT
								CD_VDVAL_NM
					FROM		TB_COM_COMN_CD_D_LANG
					WHERE		COMN_CD = 'COL_0028'
					AND			LANG_CD = #{langCd}
					AND			CD_VDVAL = A.BDGT_CD
				) BDGT_NM
				, A.BDGT_DTL_NO
				, A.USE_YN
				, (
					SELECT
								CD_VDVAL_NM
					FROM		TB_COM_COMN_CD_D_LANG
					WHERE		COMN_CD = 'COM_0016'
					AND			LANG_CD = #{langCd}
					AND			CD_VDVAL = A.USE_YN
				) USE_YN_NM
				, A.DEL_YN
				, A.APLY_PROR_RNK
				, A.FRST_REGST_ID
				, A.FRST_RGSR_DTTM
				, A.LAST_CHPR_ID
				, A.LAST_CHG_DTTM
			FROM (
					<include refid="sqlSelectQuery" />
					<include refid="sqlSearchQuery" />
			) A
			ORDER BY DECODE(A.TAX_CTGY_CD, 'G', 1, 'I', 2, 'P', 3, 'O', 4) ASC, TO_NUMBER(A.APLY_PROR_RNK) ASC, A.TAX_CD ASC
		<include refid="pagination.footer" />
    </select>

	<select id="selectTaxCdDtl" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo">
		/** selectTaxCdDtl : 세금코드 정보 조회 **/
		SELECT
				  A.TAX_CD
				, NVL((
					SELECT
					TAX_CLCU_BASE_CN
					FROM		TB_CLRI_TAX_CLCU_BASE
					WHERE		TAX_CD = A.TAX_CD
					AND			USE_YN = 'Y'
					AND			NVL2(#{aplyStrtDt}, TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD'), TO_CHAR(SYSDATE, 'YYYYMMDD')) BETWEEN APLY_STRT_DT AND APLY_END_DT ORDER BY BASE_SRNO DESC LIMIT 1
				 ), (SELECT TAX_CLCU_BASE_CN FROM TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = A.TAX_CD AND USE_YN = 'Y' ORDER BY BASE_SRNO DESC LIMIT 1)) TAX_CLCU_BASE_CN
				, A.TAX_CD_NM
				, A.TAX_CTGY_CD
				, (
					SELECT
								CD_VDVAL_NM
					FROM		TB_COM_COMN_CD_D_LANG
					WHERE		COMN_CD = 'CLR_0058'
					AND			LANG_CD = #{langCd}
					AND			CD_VDVAL = A.TAX_CTGY_CD
				) TAX_CTGY_NM
				, A.TRIF_RT_TP_CD
				, (
				SELECT
				CD_VDVAL_NM
				FROM		TB_COM_COMN_CD_D_LANG
				WHERE		COMN_CD = 'CLR_0041'
				AND			LANG_CD = #{langCd}
				AND			CD_VDVAL = A.TRIF_RT_TP_CD
				) TRIF_RT_TP_NM
				, A.BDGT_CD
				, (
					SELECT
								CD_VDVAL_NM
					FROM		TB_COM_COMN_CD_D_LANG
					WHERE		COMN_CD = 'COL_0028'
					AND			LANG_CD = #{langCd}
					AND			CD_VDVAL = A.BDGT_CD
				) BDGT_NM
				, A.BDGT_DTL_NO
				, A.USE_YN
				, (
					SELECT
								CD_VDVAL_NM
					FROM		TB_COM_COMN_CD_D_LANG
					WHERE		COMN_CD = 'COM_0016'
					AND			LANG_CD = #{langCd}
					AND			CD_VDVAL = A.USE_YN
				) USE_YN_NM
				, A.DEL_YN
				, NVL((
					SELECT
						LSPR_TXBS_CN
					FROM		TB_CLRI_TAX_CLCU_BASE
					WHERE		TAX_CD = A.TAX_CD
					AND			USE_YN = 'Y'
					AND			NVL2(#{aplyStrtDt}, TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD'), TO_CHAR(SYSDATE, 'YYYYMMDD')) BETWEEN APLY_STRT_DT AND APLY_END_DT ORDER BY BASE_SRNO DESC LIMIT 1
				  ), (SELECT LSPR_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = A.TAX_CD AND USE_YN = 'Y' ORDER BY BASE_SRNO DESC LIMIT 1)) LSPR_TXBS_CN
				, NVL((
					SELECT
						CRLN_TXBS_CN
					FROM		TB_CLRI_TAX_CLCU_BASE
					WHERE		TAX_CD = A.TAX_CD
					AND			USE_YN = 'Y'
					AND			NVL2(#{aplyStrtDt}, TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD'), TO_CHAR(SYSDATE, 'YYYYMMDD')) BETWEEN APLY_STRT_DT AND APLY_END_DT ORDER BY BASE_SRNO DESC LIMIT 1
				  ), (SELECT CRLN_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = A.TAX_CD AND USE_YN = 'Y' ORDER BY BASE_SRNO DESC LIMIT 1)) CRLN_TXBS_CN
				, A.APLY_PROR_RNK
				, A.FRST_REGST_ID
				, A.FRST_RGSR_DTTM
				, A.LAST_CHPR_ID
				, A.LAST_CHG_DTTM
		FROM (
				<include refid="sqlSelectQuery" />
		) A
		WHERE 	REPLACE(A.TAX_CD,'.') LIKE REPLACE(#{taxCd}, '.', '')||'%'
	</select>

	<select id="selectAplyTaxCdCnt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo" resultType="Integer">
		/** selectAplyTaxCdCnt : 세금코드 중복 데이터 카운트 조회 **/
		SELECT
				COUNT(*)
		FROM (
				<include refid="sqlSelectQuery" />
				AND		A.TAX_CD = #{taxCd}
		) A
	</select>

	<insert id="insertTaxCd" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo">
		/** insertTaxCd : 세금코드 정보 등록 **/
		INSERT INTO TB_CLRI_TAX_CD (
					TAX_CD
					, TAX_CD_NM
					, TAX_CTGY_CD
					, TRIF_RT_TP_CD
					, BDGT_CD
					, BDGT_DTL_NO
					, APLY_PROR_RNK
					, USE_YN
					, DEL_YN
					, FRST_REGST_ID
					, FRST_RGSR_DTTM
					, LAST_CHPR_ID
					, LAST_CHG_DTTM
		) VALUES (
					  #{taxCd}
					, #{taxCdNm}
					, #{taxCtgyCd}
					, #{trifRtTpCd}
					, #{bdgtCd}
					, #{bdgtDtlNo}
					, #{aplyProrRnk}
					, #{useYn}
					, 'N'
					, #{frstRegstId}
					, SYSTIMESTAMP
					, #{lastChprId}
					, SYSTIMESTAMP
		)
	</insert>

	<update id="updateTaxCd"  parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo">
		/** updateTaxCd : 세금코드 정보 수정 **/
		UPDATE		TB_CLRI_TAX_CD
		SET			TAX_CD_NM = #{taxCdNm}
					, TAX_CTGY_CD = #{taxCtgyCd}
		  			, TRIF_RT_TP_CD =#{trifRtTpCd}
					, BDGT_CD = #{bdgtCd}
					, BDGT_DTL_NO = #{bdgtDtlNo}
					, APLY_PROR_RNK = #{aplyProrRnk}
					, USE_YN = #{useYn}
					, LAST_CHPR_ID = #{lastChprId}
					, LAST_CHG_DTTM = SYSTIMESTAMP
		WHERE		TAX_CD  = #{taxCd}
	</update>
	
	<!--
    //Vérifier si l'avis de paiement généré avec le code organisationnel existe !== 해당 조직코드로 발생된 고지서 존재여부 확인 ==!
    -->
    <select id="selectExistsTaxCd" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmTaxCdVo">
        /* ClriHsmgntTaxcdSvc_selectExistsTaxCd */
        SELECT TAX_CD 
        FROM   TB_COLI_TAX_CD_PR_RCVE_BRKD
        WHERE  TAX_CD = #{taxCd}
        AND    DEL_YN = 'N'
        AND    ROWNUM = 1
    </select>  

</mapper>