<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="alpass.ipt.clr.trm.hsm.mapper.ClrTrmHsmPdlsTfrtMapper">
    <sql id="sqlSearchQuery">
        <if test="trifRtTpCd != null and trifRtTpCd != ''">
            AND			A.TRIF_RT_TP_CD = #{trifRtTpCd}
        </if>
        <if test="taxCd != null and taxCd != ''">
            AND			A.TAX_CD = #{taxCd}
        </if>
        <if test="dupCheckDt != null and dupCheckDt != ''">
            AND  A.APLY_STRT_DT = TO_CHAR(TO_DATE(#{dupCheckDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
        <if test="basedDt != null and basedDt != ''">
            AND			TO_CHAR(TO_DATE(#{basedDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT
        </if>
        <if test="hsAplyStrtDt != null and hsAplyStrtDt != '' ">
            <if test="hsAplyEndDt != null and hsAplyEndDt != '' ">
                <![CDATA[ AND  TO_CHAR(TO_DATE(#{hsAplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')  <= A.APLY_STRT_DT AND TO_CHAR(TO_DATE(#{hsAplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') >= A.APLY_END_DT  ]]>
            </if>
        </if>
        <if test="prvlCd != null and prvlCd != ''">
            AND A.PRVL_CD = #{prvlCd}
        </if>
    </sql>

    <sql id="sqlSelectQuery">
        SELECT
            *
        FROM (
                 SELECT
                        ROW_NUMBER() OVER( PARTITION BY A.HS_CD, A.TAX_CD, C.TAX_CTGY_CD, A.PRVL_CD ORDER BY A.APLY_STRT_DT DESC,A.SRNO DESC ) RN
                      , A.HS_CD
                      , A.TAX_CD
                      , C.TAX_CD_NM
                      , C.TAX_CTGY_CD
                      , A.TFRT_CTGY_CD
                      , A.SRNO
                      , C.TRIF_RT_TP_CD
                      , NVL((SELECT LSPR_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE B WHERE B.TAX_CD = C.TAX_CD AND TO_DATE(TO_CHAR(SYSTIMESTAMP,'YYYYMMDD'),'YYYYMMDD') BETWEEN TO_DATE(APLY_STRT_DT,'YYYYMMDD') AND TO_DATE(APLY_END_DT,'YYYYMMDD') ORDER BY BASE_SRNO DESC LIMIT 1),(SELECT LSPR_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = C.TAX_CD AND USE_YN = 'Y' ORDER BY BASE_SRNO DESC LIMIT 1)) LSPR_TXBS_CN
                      , A.VLTX_RT_CN
                      , NVL((SELECT CRLN_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE B WHERE B.TAX_CD = C.TAX_CD AND TO_DATE(TO_CHAR(SYSTIMESTAMP,'YYYYMMDD'),'YYYYMMDD') BETWEEN TO_DATE(APLY_STRT_DT,'YYYYMMDD') AND TO_DATE(APLY_END_DT,'YYYYMMDD') ORDER BY BASE_SRNO DESC LIMIT 1),(SELECT CRLN_TXBS_CN FROM TB_CLRI_TAX_CLCU_BASE WHERE TAX_CD = C.TAX_CD AND USE_YN = 'Y' ORDER BY BASE_SRNO DESC LIMIT 1)) CRLN_TXBS_CN
                      , A.SPTX_RT_CN
                      , A.NWPR_SCAR_CMDT_CD
                      , A.USE_YN
                      , A.RMRK_CN
                      , A.APLY_STRT_DT
                      , A.APLY_END_DT
                      , C.APLY_PROR_RNK
                      , A.PRVL_CD
                      , A.FRST_REGST_ID
                      , A.FRST_RGSR_DTTM
                      , A.LAST_CHPR_ID
                      , A.LAST_CHG_DTTM
                 FROM		TB_CLRI_PDLS_TFRT A
                    , TB_CLRI_TAX_CD C
                 WHERE		A.TAX_CD = C.TAX_CD
                   <if test="hsCd != null and hsCd != ''">
                   AND			A.HS_CD = #{hsCd}
                   </if>
                   <if test="tfrtCtgyCd != null and tfrtCtgyCd != ''">
                   AND			A.TFRT_CTGY_CD = #{tfrtCtgyCd} /** 'GL' or 'PR' */
                   </if>
                   AND			A.DEL_YN = 'N'
                   AND			C.DEL_YN = 'N'
             ) A
        WHERE 1 = 1
    </sql>

    <select id="selectClrDuplCntCheck" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo">
        /* selectClrDuplCntCheck : 엑셀업로드 중복체크**/
        SELECT
          A.HS_CD
        , A.TFRT_CTGY_CD
        , A.TRIF_RT_TP_CD
        , A.SRNO
        , A.TAX_CD
        , A.PRVL_CD
        , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') APLY_STRT_DT
        , TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') APLY_END_DT
        , A.TAX_CD_NM
        FROM (
        <include refid="sqlSelectQuery" />
        <include refid="sqlSearchQuery" />
        <if test='tfrtCtgyCd != null and tfrtCtgyCd.equals("CO") and prvlCd != null and prvlCd != ""'>
         AND PRVL_CD = #{prvlCd}
        </if>
        ) A
        WHERE RN= 1
    </select>

    <select id="selectClrPdlsTfrtList" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo">
        /** selectClrPdlsTfrtList : 기본/잠정세율 페이징 목록 조회 **/
        <include refid="pagination.header"/>
        SELECT
        A.HS_CD
        , A.TAX_CD
        , A.TAX_CD_NM
        , (
        SELECT
        TAX_CLCU_BASE_CN
        FROM		TB_CLRI_TAX_CLCU_BASE
        WHERE		TAX_CD = A.TAX_CD
        AND			USE_YN = 'Y'
        AND			TO_CHAR(SYSDATE, 'YYYYMMDD') BETWEEN APLY_STRT_DT AND APLY_END_DT
        ) TAX_CLCU_BASE_CN
        , A.TAX_CTGY_CD
        , A.TFRT_CTGY_CD
        , A.SRNO
        , A.TRIF_RT_TP_CD
        , A.LSPR_TXBS_CN
        , A.VLTX_RT_CN
        , A.CRLN_TXBS_CN
        , A.SPTX_RT_CN
        , A.NWPR_SCAR_CMDT_CD
        , (
        SELECT
        CD_VDVAL_NM
        FROM        TB_COM_COMN_CD_D_LANG
        WHERE       COMN_CD = 'COM_0016'
        AND         LANG_CD = #{langCd}
        AND         CD_VDVAL = A.NWPR_SCAR_CMDT_CD
        ) SCAR_YN_NM
        , A.USE_YN
        , A.RMRK_CN
        , (
        SELECT
        CD_VDVAL_NM
        FROM		TB_COM_COMN_CD_D_LANG
        WHERE		COMN_CD = 'COM_0016'
        AND			LANG_CD = #{langCd}
        AND			CD_VDVAL = A.USE_YN
        ) USE_YN_NM
        , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') APLY_STRT_DT
        , TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') APLY_END_DT
        , A.PRVL_CD
        , A.APLY_PROR_RNK
        , A.FRST_REGST_ID
        , A.FRST_RGSR_DTTM
        , A.LAST_CHPR_ID
        , A.LAST_CHG_DTTM
        FROM (
        <include refid="sqlSelectQuery" />
        <include refid="sqlSearchQuery" />
        ) A
        ORDER BY	A.HS_CD ASC, DECODE(A.TAX_CTGY_CD, 'G', 1, 'I', 2, 'P', 3, 'O', 4) ASC, TO_NUMBER(A.APLY_PROR_RNK) ASC, A.TAX_CD ASC
        <include refid="pagination.footer" />
    </select>

    <select id="selectPdlsTfrtSrno" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo" resultType="BigDecimal">
        /** selectPdlsTfrtSrno : 품목관세율 일련번호 생성 **/
        SELECT
            NVL(MAX(SRNO), 0) + 1
        FROM		TB_CLRI_PDLS_TFRT
        WHERE		HS_CD = #{hsCd}
          AND			TAX_CD = #{taxCd}
          AND			TFRT_CTGY_CD = #{tfrtCtgyCd}
    </select>

    <select id="selectAplyClrPdlsTfrtCnt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo" resultType="Integer">
        /** selectAplyClrPdlsTfrtCnt : 품목관세율 중복 데이터 카운트 조회 **/
        SELECT
        COUNT(*)
        FROM (
        <include refid="sqlSelectQuery" />
        ) A
        WHERE		A.TAX_CD = #{taxCd}
        <if test="aplyStrtDt != null and aplyStrtDt != ''">
            <if test="aplyEndDt != null and aplyEndDt != ''">
                AND (( TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN   APLY_STRT_DT AND  APLY_END_DT
                OR TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN   APLY_STRT_DT AND  APLY_END_DT)
                <![CDATA[
                OR ( TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') < APLY_STRT_DT
                AND TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') > APLY_END_DT))
                ]]>
            </if>
        </if>
        <if test="srno != null and srno != 0">
        <![CDATA[
		AND			SRNO <> #{srno}
		]]>
        </if>
    </select>

    <insert id="insertClrPdlsTfrt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo">
        /* insertClrPdlsTfrt : 품목관세율 정보 저장 */
        INSERT INTO TB_CLRI_PDLS_TFRT  (
                                         HS_CD
                                       , TAX_CD
                                       , TFRT_CTGY_CD
                                       , SRNO
                                        <if test='tfrtCtgyCd != null and tfrtCtgyCd.equals("CO") and prvlCd != null and prvlCd != ""'>
                                       ,PRVL_Cd
                                        </if>
                                       , APLY_STRT_DT                 /** Date De Début De L'Application !== 적용시작일자 ==! */
                                       , APLY_END_DT                  /** Date De Fin De L'Application !== 적용종료일자 ==! */
                                       , TRIF_RT_TP_CD
                                       , VLTX_RT_CN
                                       , SPTX_RT_CN
                                       , NWPR_SCAR_CMDT_CD
                                       , USE_YN
                                       , RMRK_CN
                                       , DEL_YN
                                       , FRST_REGST_ID
                                       , FRST_RGSR_DTTM
                                       , LAST_CHPR_ID
                                       , LAST_CHG_DTTM
        )  VALUES (
                      #{hsCd}
                  , #{taxCd}
                  , #{tfrtCtgyCd}
                  , #{srno}
                   <if test='tfrtCtgyCd != null and tfrtCtgyCd.equals("CO") and prvlCd != null and prvlCd != ""'>
                  ,#{prvlCd}
                   </if>
                  , TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')  /** Date De Début De L'Application !== 적용시작일자 ==! */
                  , TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')  /** Date De Fin De L'Application !== 적용종료일자 ==! */
                  , #{trifRtTpCd}
                  , #{vltxRtCn}
                  , #{sptxRtCn}
                  , #{nwprScarCmdtCd}
                  , #{useYn}
                  , #{rmrkCn}
                  , 'N'
                  , #{frstRegstId}
                  , SYSTIMESTAMP
                  , #{lastChprId}
                  , SYSTIMESTAMP
                  )
    </insert>


    <insert id="insertSelectPdlsAdtrifTctry">
        INSERT INTO TB_CLRI_PDLS_ADTRIF_TCTRY
        ( TAX_CD
        , HS_CD
        , TFRT_CTGY_CD
        , SRNO
        , ADUMP_TRIF_CNTY_CD
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        SELECT
               TAX_CD
             , HS_CD
             , TFRT_CTGY_CD
             , #{srno} SRNO
             , ADUMP_TRIF_CNTY_CD
             , DEL_YN
             , #{frstRegstId} FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
             , SYSTIMESTAMP FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
             , #{lastChprId} LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
             , SYSTIMESTAMP LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
        FROM TB_CLRI_PDLS_ADTRIF_TCTRY
        WHERE TAX_CD = #{taxCd}
          AND HS_CD = #{hsCd}
          AND TFRT_CTGY_CD  = #{tfrtCtgyCd}
          AND SRNO = #{befSrno}
          AND DEL_YN = 'N'
    </insert>

    <update id="updateClrPdlsTfrt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo">
        /* updateClrPdlsTfrt : 품목관세율 정보 변경 */
        UPDATE		TB_CLRI_PDLS_TFRT SET
                                            APLY_STRT_DT = TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')  /** Date De Début De L'Application !== 적용시작일자 ==! */
                                          , APLY_END_DT = TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')  /** Date De Fin De L'Application !== 적용종료일자 ==! */
                                          , TRIF_RT_TP_CD = #{trifRtTpCd}
                                          , VLTX_RT_CN = #{vltxRtCn}
                                          , SPTX_RT_CN = #{sptxRtCn}
                                          , NWPR_SCAR_CMDT_CD = #{nwprScarCmdtCd}
                                          , USE_YN = #{useYn}
                                          , RMRK_CN = #{rmrkCn}
                                        <if test='tfrtCtgyCd != null and tfrtCtgyCd.equals("CO")'>
                                          , PRVL_CD = #{prvlCd}
                                        </if>
                                          , LAST_CHPR_ID = #{lastChprId}
                                          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE		DEL_YN = 'N'
          AND			HS_CD = #{hsCd}
          AND			TAX_CD = #{taxCd}
          AND			TFRT_CTGY_CD = #{tfrtCtgyCd}
          AND			SRNO = #{srno}
          <if test='tfrtCtgyCd != null and tfrtCtgyCd.equals("CO") and prvlCd != null and prvlCd != ""'>
          AND           PRVL_CD = #{prvlCd}
          </if>

    </update>

    <delete id="deleteClrPdlsTfrt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo">
        /** deleteClrPdlsTfrt : 품목관세율 정보 삭제 **/
        DELETE
        FROM 		TB_CLRI_PDLS_TFRT
        WHERE		HS_CD = #{hsCd}
          AND			TAX_CD = #{taxCd}
          AND			TFRT_CTGY_CD = #{tfrtCtgyCd}
          AND			SRNO = #{srno}
        <if test='tfrtCtgyCd != null and tfrtCtgyCd.equals("CO") and prvlCd != null and prvlCd != ""'>
            AND           PRVL_CD = #{prvlCd}
        </if>
    </delete>

    <update id="updateExcelClrPdlsTfrt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmPdlsTfrtVo">
        UPDATE	TB_CLRI_PDLS_TFRT SET
                APLY_END_DT = CASE WHEN TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD') >= APLY_STRT_DT THEN TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'),'YYYYMMDD') ELSE APLY_STRT_DT END  /** Date De Fin De L'Application !== 적용종료일자 ==! */
              , LAST_CHPR_ID = #{lastChprId}
              , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE		DEL_YN = 'N'
          AND		HS_CD = #{hsCd}
          AND		TAX_CD = #{taxCd}
          AND		TFRT_CTGY_CD = #{tfrtCtgyCd}
          AND		SRNO = #{srno}
        <if test='tfrtCtgyCd != null and tfrtCtgyCd.equals("CO") and prvlCd != null and prvlCd != ""'>
        AND           PRVL_CD = #{prvlCd}
        </if>
    </update>

</mapper>