<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.ntsh.mapper.ColNtshCnclRqstMapper">

    <!--
       고지 취소 목록을 조회한다 !==고지 취소 목록을 조회한다==!
    -->
    <select id="selectColNtshCnclRqstList" parameterType="alpass.ipt.col.ntsh.vo.ColNtshCnclVo" resultType="alpass.ipt.col.ntsh.vo.ColNtshCnclVo">
        /** ColNtshCnclRqstMapper_selectColNtshCnclRqstList **/
        <include refid="pagination.header" />
        SELECT
        NTFC.NTFC_NO                                                              /** N° d'avis !== 고지번호 ==! */
        , NTFC.TXPR_IDFY_NO                                                         /** NIU !== 납세자식별번호 ==! */
        , FN_GET_ORGN_NM(RQST.CSTM_CD) AS CSTM_NM
        , TO_CHAR(TO_DATE(NTFC.NTFC_DT,'YYYYMMDD'),'DD/MM/YYYY') AS NTFC_DT         /** Date de notification !== 고지일자 ==! */
        , TO_CHAR(TO_DATE(NTFC.PAY_TMLM_DT,'YYYYMMDD'),'DD/MM/YYYY') AS PAY_TMLM_DT /** Delai de paiement !== 납부기한일자 ==! */
        , NTFC.TAMT                                                                 /** Montant total !== 총금액 ==! */
        , NTFC.REFF_NO
        , TO_CHAR(TO_DATE(NTFC.REFF_NO_DT,'YYYYMMDD'),'DD/MM/YYYY') AS REFF_NO_DT
        , FN_GET_CD_VDVAL_NM('COL_0001', NTFC.NTFC_PRCS_STTS_CD, #{langCd}) AS NTFC_PRCS_STTS_CD_NM        /** Code de statut de traitement d'avis !== 고지처리상태코드명 ==! */
        , RQST.RQST_DGCNT                                                           /** Nombre de fois de la demande !== 신청차수 ==! */
        , RQST.CNCL_RSN_CN                                                          /** Contenu du motif d'annulation !== 취소사유내용 ==! */
        , RQST.NTFC_CNCL_RQST_NO                                                    /** N° de demande d'annulation d'avis !== 고지취소신청번호 ==! */
        , TO_CHAR(TO_DATE(RQST.RQST_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RQST_DT         /** Date de demande !== 신청일자 ==! */
        , RQST.REPN_ID                                                              /** ID de la personne demandant !== 신청자ID ==! */
        , RQST.APRV_ID                                                              /** ID d'approbation  !== 결재ID ==! */
        , RQST.ATCH_FILE_ID                                                         /** ID du fichier joint !== 첨부파일ID ==! */
        , RQST.DEL_YN                                                               /** Suppression ON !== 삭제여부 ==! */
        , RQST.FRST_REGST_ID                                                        /** ID du premier enregistrant  !== 최초등록자ID ==! */
        , RQST.FRST_RGSR_DTTM                                                       /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
        , RQST.LAST_CHPR_ID                                                         /** ID du modificateur final !== 최종변경자ID ==! */
        , RQST.LAST_CHG_DTTM                                                        /** Date et heure de modification finale !== 최종변경일시 ==! */
        , TO_CHAR(TO_DATE(NTFC.CNCL_DT,'YYYYMMDD'),'DD/MM/YYYY') AS CNCL_DT         /** Date d'annulation !== 소멸일자 ==! */
        , APRV.APRV_PRCS_STTS_CD
        , NTFC.RCVE_YN                    											/** Encaisse (ON) !== 수납여부 ==! */
        FROM  TB_COLI_NTFC NTFC
        , TB_COLI_NTFC_CNCL_RQST RQST
        , (
        SELECT
        ( SELECT CD_VDVAL
        FROM   TB_COM_COMN_CD_D_LANG
        WHERE  LANG_CD = #{langCd}
        AND    COMN_CD = 'COM_0026'
        AND    CD_VDVAL     =  A.APRV_PRCS_STTS_CD ) AS APRV_PRCS_STTS_CD
        , A.APRV_ID
        , MAX(A.APRL_SRNO) AS APRL_SRNO
        FROM   TB_POTI_APRV A
        , TB_POTI_APRV_D B
        WHERE  A.APRV_ID = B.APRV_ID
        AND    A.DEL_YN = 'N'
        AND    A.BSOP_CLSF_CD = 'COL'
        AND    A.APRV_BSOP_TP_CD = 'C02'
        GROUP BY A.APRV_ID, A.APRV_PRCS_STTS_CD
        ) APRV
        WHERE  NTFC.DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
        AND  RQST.DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
        AND  NTFC.NTFC_NO = RQST.NTFC_NO                    /** N° d'avis !== 고지번호 ==! */
        AND  APRV.APRV_ID(+) = RQST.APRV_ID
        <if test="sctrCd != null and sctrCd != ''">
            AND  RQST.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test="uprOrgnCd != null and uprOrgnCd != ''">
            AND  RQST.CSTM_CD = #{uprOrgnCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND (RQST.DEPT_CD = #{orgnCd} OR RQST.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                          OR RQST.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
                         ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test='cstmCd != null and cstmCd !=""'>
            AND  RQST.CSTM_CD = #{cstmCd}
        </if>
        <if test='deptCd != null and deptCd !=""'>
            AND  (RQST.DEPT_CD = #{deptCd} OR RQST.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE (SELECT ACTV_CSTM_CD FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) LIKE '%'||ORGN_MGMT_CD||'%')
                                           OR RQST.DEPT_CD IN (SELECT ORGN_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))
                                                                                                OR UPR_ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}))))
			AND CASE WHEN (SELECT COUNT(1) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD IN (SELECT UNNEST(STRING_TO_ARRAY(ACTV_CSTM_CD,'|')) FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd})) AND ORGN_AUTH ='C') <![CDATA[ >= ]]> 1 THEN
					CASE WHEN (SELECT ORGN_AUTH FROM TB_POTI_ORGN WHERE ORGN_CD = #{deptCd}) = 'C'
						 THEN NTFC.NTFC_PT_CD = 'A'
						 ELSE NTFC.NTFC_PT_CD <![CDATA[ <> ]]> 'A'
					END
				ELSE TRUE END
        </if>
        <if test='txprIdfyNoTpCd != null and txprIdfyNoTpCd !="" '>
            AND  NTFC.TXPR_IDFY_NO_TP_CD = #{txprIdfyNoTpCd}
        </if>
        <if test='txprIdfyNo != null and txprIdfyNo != ""'>
            AND  NTFC.TXPR_IDFY_NO LIKE #{txprIdfyNo}||'%'      /** NIU !== 납세자식별번호 ==! */
        </if>
        <if test='ntfcNo != null and ntfcNo !=""'>
            AND  RQST.NTFC_NO LIKE #{ntfcNo}||'%'               /** N° d'avis !== 고지번호 ==! */
        </if>
        <if test='reffNo != null and reffNo !=""'>
            AND  NTFC.REFF_NO = #{reffNo}
        </if>
        <if test='rqstDtFrom != null and rqstDtFrom !="" and rqstDtTo != null and rqstDtTo !="" '>
            AND  RQST.RQST_DT  BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        <if test='reffNoDtFrom != null and reffNoDtFrom !="" and reffNoDtTo != null and reffNoDtTo !="" '>
            AND  NTFC.REFF_NO_DT  BETWEEN TO_CHAR(TO_DATE(#{reffNoDtFrom},'DD/MM/YYYY'),'YYYYMMDD') AND TO_CHAR(TO_DATE(#{reffNoDtTo},'DD/MM/YYYY'),'YYYYMMDD')
        </if>
        ORDER BY RQST.RQST_DT DESC, RQST.NTFC_CNCL_RQST_NO DESC, RQST.NTFC_NO ASC
        <include refid="pagination.footer" />
    </select>

    <select id="selectColNtshCnclRqstAprvCheck" parameterType="alpass.ipt.col.ntsh.vo.ColNtshCnclVo" resultType="int">
        /* ColNtshCnclRqstMapper_selectColNtshCnclRqstAprvCheck */
        SELECT
            COUNT(*)
        FROM  TB_COLI_NTFC NTFC
           , TB_COLI_NTFC_CNCL_RQST RQST
           , (
            SELECT
                A.APRV_ID
                 , A.APRV_PRCS_STTS_CD
                 , MAX(A.APRL_SRNO) AS APRL_SRNO
            FROM   TB_POTI_APRV A
               , TB_POTI_APRV_D B
            WHERE  A.APRV_ID = B.APRV_ID
              AND    A.DEL_YN = 'N'
              AND    A.BSOP_CLSF_CD    = 'COL'
              AND    A.APRV_BSOP_TP_CD = 'C02'
            GROUP  BY A.APRV_ID, A.APRV_PRCS_STTS_CD
        ) APRV
        WHERE  RQST.NTFC_NO = #{ntfcNo}
          AND  NTFC.DEL_YN = 'N'
          AND  RQST.DEL_YN = 'N'
          AND  NTFC.NTFC_NO = RQST.NTFC_NO
          AND  APRV.APRV_ID(+) = RQST.APRV_ID
          AND   (APRV.APRV_PRCS_STTS_CD in ( 'I01', 'I03' ) OR RQST.APRV_ID IS NULL )
    </select>

    <insert id="insertColTmpNtshCnclRqst" parameterType="alpass.ipt.col.ntsh.vo.ColNtshCnclVo">
        /* ColNtshCnclRqstMapper_insertColTmpNtshCnclRqst */
        INSERT INTO TB_COLI_NTFC_CNCL_RQST
        (
            NTFC_NO                      /** N° d'avis !== 고지번호 ==! */
            , RQST_DGCNT                   /** Nombre de fois de la demande !== 신청차수 ==! */
            , CSTM_CD                      /** Code du bureau !== 세관코드 ==! */
            , DEPT_CD                      /** Code du bureau !== 부서코드 ==! */
            , CNCL_RSN_CN                  /** Contenu du motif d'annulation !== 취소사유내용 ==! */
            , NTFC_CNCL_RQST_NO            /** N° de demande d'annulation d'avis !== 고지취소신청번호 ==! */
            , RQST_DT                      /** Date de demande !== 신청일자 ==! */
            , REPN_ID                      /** ID de la personne demandant !== 신청자ID ==! */
            , APRV_ID                      /** ID d'approbation  !== 결재ID ==! */
            , ATCH_FILE_ID                 /** ID du fichier joint !== 첨부파일ID ==! */
            , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
            , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
        )
        VALUES
            (
                #{ntfcNo}                     /** N° d'avis !== 고지번호 ==! */
            , (SELECT NVL(MAX(RQST_DGCNT),0) + 1
               FROM   TB_COLI_NTFC_CNCL_RQST
               WHERE  NTFC_NO = #{ntfcNo} ) /** Nombre de fois de la demande !== 신청차수 ==! */
            , #{cstmCd}                     /** Code du bureau !== 세관코드 ==! */
            , #{deptCd}                     /** Code du bureau !== 부서코드 ==! */
            , #{cnclRsnCn}                  /** Contenu du motif d'annulation !== 취소사유내용 ==! */
            , #{ntfcCnclRqstNo}             /** N° de demande d'annulation d'avis !== 고지취소신청번호 ==! */
            , TO_CHAR(TO_DATE(#{rqstDt} , 'DD/MM/YYYY'), 'YYYYMMDD')  /** Date de demande !== 신청일자 ==! */
            , #{repnId}                     /** ID de la personne demandant !== 신청자ID ==! */
            , #{aprvId}                     /** ID d'approbation  !== 결재ID ==! */
            , #{atchFileId}                 /** ID du fichier joint !== 첨부파일ID ==! */
            , 'N'                           /** Suppression ON !== 삭제여부 ==! */
            , #{frstRegstId}                /** ID du premier enregistrant  !== 최초등록자ID ==! */
            , SYSTIMESTAMP                  /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
            , #{lastChprId}                 /** ID du modificateur final !== 최종변경자ID ==! */
            , SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
            )
    </insert>

    <update id="updateColNtsh" parameterType="alpass.ipt.col.ntsh.vo.ColNtshCnclVo">
        /* ColNtshCnclRqstMapper_updateColNtsh */
        UPDATE TB_COLI_NTFC SET
            CNCL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
            , NTFC_PRCS_STTS_CD = 'H06'
            , CNCL_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
            , LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
          AND NTFC_NO = #{ntfcNo}                           /** N° d'avis !== 고지번호 ==! */
    </update>

    <!-- GeneratorComments 수정 -->
    <update id="updateColNtshCnclRqst" parameterType="alpass.ipt.col.ntsh.vo.ColNtshCnclVo">
        /* ColNtshCnclRqstMapper_updateColNtshCnclRqst */
        UPDATE  TB_COLI_NTFC_CNCL_RQST SET
            CNCL_RSN_CN = #{cnclRsnCn}                  /** Contenu du motif d'annulation !== 취소사유내용 ==! */
             , ATCH_FILE_ID = #{atchFileId}                /** ID du fichier joint !== 첨부파일ID ==! */
             , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
             , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
          AND  NTFC_NO = #{ntfcNo}                         /** N° d'avis !== 고지번호 ==! */
          AND  RQST_DGCNT = #{rqstDgcnt}                   /** Nombre de fois de la demande !== 신청차수 ==! */
    </update>

    <!-- GeneratorComments 삭제 -->
    <update id="deleteColNtshCnclRqst" parameterType="alpass.ipt.col.ntsh.vo.ColNtshCnclVo">
        /* ColNtshCnclRqstMapper_deleteColNtshCnclRqst */
        UPDATE  TB_COLI_NTFC_CNCL_RQST SET
            DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
         ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
         ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
          AND  NTFC_NO = #{ntfcNo}                           /** N° d'avis !== 고지번호 ==! */
          AND  RQST_DGCNT = #{rqstDgcnt}                     /** Nombre de fois de la demande !== 신청차수 ==! */
    </update>

    <select id="selectColNtshCnclRqstVrfc" parameterType="alpass.ipt.col.ntsh.vo.ColNtshCnclVo" resultType="String">
        /* ColNtshCnclRqstMapper_selectColNtshCnclRqstVrfc */
        SELECT CASE WHEN NTFC_CNT        =  0  THEN 'msg.02017'     /* !== 해당 고지번호가 존재하지 않습니다. ==!*/
        <!-- 				            WHEN RCVE_YN     = 'Y' THEN 'msg.02018'     /* !== 해당 고지서는 이미 수납된 고지서로 취소 할 수 없습니다. 필요하다면 환급절차를 이용하십시요 ==!*/ -->
        WHEN CNCL_YN     = 'Y' THEN 'msg.02019'     /* !== 이미 취소된 고지서 입니다. ==!*/
        WHEN NTFC_PT_CD  = 'G' THEN 'msg.02020'     /* !== 해당 고지서는 일반고지서입니다. 본 매뉴에서 취소 할 수 없습니다. 관련 DAU 신고서가 취소되면 해당 고지서는 자동 취소 됩니다. ==!*/
        WHEN NTFC_PT_CD  = 'A' THEN 'msg.02021'     /* !== 해당 고지서는 벌금고지서입니다. 본 매뉴에서 취소 할 수 없습니다. 벌금이 해제 되면 관련 고지서는 자동 취소 됩니다. '벌금해제관리' 매뉴를 이용십시요 ==!*/
        END AS ERROR_MSG_CD
        FROM (
        SELECT COUNT(*) AS NTFC_CNT,
        MAX(RCVE_YN) AS RCVE_YN,
        MAX(CNCL_YN) AS CNCL_YN,
        MAX(NTFC_PT_CD) AS NTFC_PT_CD
        FROM TB_COLI_NTFC
        WHERE NTFC_NO = #{ntfcNo}
        AND DEL_YN  = 'N'
        )
    </select>

</mapper>