<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.stats.mapper.PotPmStatsStatsMapper">

  <!--
		 Consulter les statistiques de l'utilisteur douainer !==세관사용자통계를 조회한다==!
	 -->
  <select id="selectCstmUserStats"
    parameterType="alpass.ipt.pot.pm.stats.vo.PotPmStatsCstmUserStatsVo"
    resultType="alpass.ipt.pot.pm.stats.vo.PotPmStatsCstmUserStatsVo">
    /** selectCstmUserStats */
    <include refid="pagination.header"/>
    SELECT ORGN_NM
    , (G01 + G02 + G03 + G04 + G05 + G06 + G07 + G08 + G09 + G10 + G11 + G12 + G13 + G14 + G15 + G16
    + G17 + G18 + G19 + G20) as total
    , G01
    , g02
    , g03
    , g04
    , g05
    , g06
    , g07
    , G08
    , g09
    , G10
    , G11
    , g12
    , g13
    , g14
    , g15
    , g16
    , g17
    , g18
    , g19
    , g20
    FROM (SELECT DECODE(clas_cd, 'G01', MAX(CNT), 0) AS G01
    , DECODE(clas_cd, 'G02', MAX(CNT), 0) AS G02
    , DECODE(clas_cd, 'G03', MAX(CNT), 0) AS G03
    , DECODE(clas_cd, 'G04', MAX(CNT), 0) AS G04
    , DECODE(clas_cd, 'G05', MAX(CNT), 0) AS G05
    , DECODE(clas_cd, 'G06', MAX(CNT), 0) AS G06
    , DECODE(clas_cd, 'G07', MAX(CNT), 0) AS G07
    , DECODE(clas_cd, 'G08', MAX(CNT), 0) AS G08
    , DECODE(clas_cd, 'G09', MAX(CNT), 0) AS G09
    , DECODE(clas_cd, 'G10', MAX(CNT), 0) AS G10
    , DECODE(clas_cd, 'G11', MAX(CNT), 0) AS G11
    , DECODE(clas_cd, 'G12', MAX(CNT), 0) AS G12
    , DECODE(clas_cd, 'G13', MAX(CNT), 0) AS G13
    , DECODE(clas_cd, 'G14', MAX(CNT), 0) AS G14
    , DECODE(clas_cd, 'G15', MAX(CNT), 0) AS G15
    , DECODE(clas_cd, 'G16', MAX(CNT), 0) AS G16
    , DECODE(clas_cd, 'G17', MAX(CNT), 0) AS G17
    , DECODE(clas_cd, 'G18', MAX(CNT), 0) AS G18
    , DECODE(clas_cd, 'G19', MAX(CNT), 0) AS G19
    , DECODE(clas_cd, 'G20', MAX(CNT), 0) AS G20
    , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM
    FROM (SELECT COUNT(1) CNT, TPO.orgn_mgmt_cd, TPE.clas_cd
    FROM TB_POTI_ORGN TPO
    RIGHT OUTER JOIN tb_poti_emp TPE
    ON TPO.orgn_mgmt_cd = TPE.orgn_mgmt_cd
    WHERE TPO.DEL_YN = 'N'
    AND TPE.del_yn = 'N'
    <if test="orgnCd != null and orgnCd != ''">
      AND TPO.ORGN_CD = #{orgnCd}
    </if>
    GROUP BY TPO.orgn_mgmt_cd, TPE.clas_cd) A
    GROUP BY ORGN_MGMT_CD, clas_cd)
    <include refid="pagination.footer"/>
  </select>

  <!--
		 Consulter les statistiques de l'utilisteur de l'entreprise !==업체사용자통계를 조회한다==!
	 -->
  <select id="selectCoUserStats" parameterType="alpass.ipt.pot.pm.stats.vo.PotPmStatsCoUserStatsVo" resultType="alpass.ipt.pot.pm.stats.vo.PotPmStatsCoUserStatsVo">
    /** selectCoUserStats */
    SELECT
    B.MM AS ID
    , B.MM AS SBSR_MM
    , NVL(A.SBSR_YY, #{sbsrYy}) AS SBSR_YY
    , NVL(SUM(A.CO_SUM), 0) AS CO_SUM
    , NVL(SUM(A.PER_SUM), 0) AS PER_SUM
    FROM (
    SELECT
    A.CO_TP_CD
    , SUBSTR(TO_CHAR(B.FRST_RGSR_DTTM, 'YYYYMMDD'), 5,2) AS SBSR_MM
    , SUBSTR(TO_CHAR(B.FRST_RGSR_DTTM, 'YYYYMMDD'), 1,4) AS SBSR_YY
    , DECODE(A.CO_TP_CD, 'C', 1, 0) AS CO_SUM
    , DECODE(A.CO_TP_CD, 'P', 1, 0) AS PER_SUM
    FROM TB_COM_CO A, TB_COM_CO_USER B
    WHERE A.NIF = B.NIF
    AND    A.DEL_YN = 'N'
    AND    B.DEL_YN = 'N'
    ) A
    , (SELECT LPAD(LEVEL, 2, '0') AS MM FROM DUAL CONNECT BY LEVEL <![CDATA[ <= ]]> 12) B
    WHERE B.MM = A.SBSR_MM(+)
    <if test="coTpCd != null and coTpCd != ''">
      AND A.CO_TP_CD(+) = #{coTpCd}
    </if>
    <if test="sbsrYy != null and sbsrYy != ''">
      AND A.SBSR_YY(+) = #{sbsrYy}
    </if>
    GROUP BY B.MM, A.SBSR_YY
    ORDER BY B.MM
  </select>

  <!--
     Consulter les statistiques de perception !==징수통계를 조회한다==!
   -->
  <select id="selectColtStats" parameterType="alpass.ipt.pot.pm.stats.vo.PotPmStatsColtStatsVo" resultType="alpass.ipt.pot.pm.stats.vo.PotPmStatsColtStatsVo">
    /** selectColtStats */
    <include refid="pagination.header"/>
    SELECT
    BASE_YY
    , BASE_MM
    , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE DEL_YN = 'N' AND ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM
    , TCNT
    , TAMT
    FROM
    (
    SELECT
    BASE_YY
    , BASE_DD
    , ORGN_MGMT_CD
    , BASE_MM
    , TCNT
    , TAMT
    , BASE_DD||BASE_MM||BASE_YY AS DDMMYYYY
    FROM  TB_COM_STATS_COLT
    WHERE DEL_YN = 'N'
    <if test="srchOrgnMgmtCd != null and srchOrgnMgmtCd != ''">
      AND   ORGN_MGMT_CD = #{srchOrgnMgmtCd}
    </if>
    ) A
    WHERE TO_DATE(A.DDMMYYYY, 'DD/MM/YYYY') BETWEEN TO_DATE(#{searchKeywordFrom},'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo},'DD/MM/YYYY') + 0.99999
    <include refid="pagination.footer"/>
  </select>

  <!--
     Consulter les statistiques d'importation !==수입통계를 조회한다==!
   -->
  <select id="selectImpStats" parameterType="alpass.ipt.pot.pm.stats.vo.PotPmStatsImpStatsVo" resultType="alpass.ipt.pot.pm.stats.vo.PotPmStatsImpStatsVo">
    /** selectImpStats */
    <include refid="pagination.header"/>
    SELECT
    BASE_YY
    , BASE_MM
    , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE DEL_YN = 'N' AND ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM
    , TCNT
    , TAMT
    FROM
    (
    SELECT
    BASE_YY
    , BASE_DD
    , ORGN_MGMT_CD
    , BASE_MM
    , TCNT
    , TAMT
    , BASE_DD||BASE_MM||BASE_YY AS DDMMYYYY
    FROM  TB_COM_STATS_IMP
    WHERE DEL_YN = 'N'
    <if test="srchOrgnMgmtCd != null and srchOrgnMgmtCd != ''">
      AND   ORGN_MGMT_CD = #{srchOrgnMgmtCd}
    </if>
    ) A
    WHERE TO_DATE(A.DDMMYYYY, 'DD/MM/YYYY') BETWEEN TO_DATE(#{searchKeywordFrom},'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo},'DD/MM/YYYY') + 0.99999
    <include refid="pagination.footer"/>
  </select>

  <!--
     Consulter les statistiques d'exportation !==수출통계를 조회한다==!
   -->
  <select id="selectExpStats" parameterType="alpass.ipt.pot.pm.stats.vo.PotPmStatsExpStatsVo" resultType="alpass.ipt.pot.pm.stats.vo.PotPmStatsExpStatsVo">
    /** selectExpStats */
    <include refid="pagination.header"/>
    SELECT
    BASE_YY
    , BASE_MM
    , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE DEL_YN = 'N' AND ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM
    , TCNT
    , TAMT
    FROM
    (
    SELECT
    BASE_YY
    , BASE_DD
    , ORGN_MGMT_CD
    , BASE_MM
    , TCNT
    , TAMT
    , BASE_DD||BASE_MM||BASE_YY AS DDMMYYYY
    FROM  TB_COM_STATS_EXP
    WHERE DEL_YN = 'N'
    <if test="srchOrgnMgmtCd != null and srchOrgnMgmtCd != ''">
      AND   ORGN_MGMT_CD = #{srchOrgnMgmtCd}
    </if>
    ) A
    WHERE TO_DATE(A.DDMMYYYY, 'DD/MM/YYYY') BETWEEN TO_DATE(#{searchKeywordFrom},'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo},'DD/MM/YYYY') + 0.99999
    <include refid="pagination.footer"/>
  </select>

</mapper>
