<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Traiter (approuver ou non) le plan d'audit !== [AEO 공통] 심사계획서 결재처리 Mapper ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.com.mapper.AeoComAudtPldcAprvPrcsMapper">

	<!--
	[Fenêtre contextuelle d'inscription au formulaire de plan d'audit] Modifier !==[심사계획서등록] 수정==!
	-->
    <update id="updateAeoAthrAudtPldcAprv" parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtPldcVo">
        /* updateAeoAthrAudtPldcAprv */
        UPDATE	TB_AEOI_AUDT_PLN                        /** AEOI_PROGRAMME D'AUDIT !== AEOI_심사계획 ==! */
        SET
              LAST_CHPR_ID = #{lastChprId}          	/** Id Du Modificateur Final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM = CURRENT_TIMESTAMP			/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            , APRV_ID = #{aprvId}                     	/** N° De Série De L'Approbation !== 결재일련번호 ==! */
        WHERE DEL_YN = 'N'
        AND	  AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
        AND	  AUDT_PLN_NO = #{audtPlnNo}                /** N° du plan d'audit !== 심사계획번호 ==! */
    </update>

</mapper>
