<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Questionnaire !==질문지 Mapper==!
(joowon Cha)
-->
<mapper namespace="alpass.ipt.aeo.com.mapper.AeoComQestDocMapper">

    <!--
    [Questionnaire] Consulter les questions de base !== [질문지] 질문기본 조회 ==!
    -->
    <select id="selectAeoComQestBscs"
        parameterType="alpass.ipt.aeo.com.vo.AeoComQestDocVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiQestBscsVo">
        /* selectAeoComQestBscs */
        SELECT
              A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
            , A.NIF                        /** NIF !== 납세식별번호 ==! */
            , A.CO_NM                      /** Nom De L'Entreprise !== 업체명 ==! */
            , A.HOFC_ADDR                  /** Adresse du siège social !== 본사주소 ==! */
            , TO_CHAR(TO_DATE(A.ENTR_ESTB_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS  ENTR_ESTB_DT              /** Date d'établissement d'entreprise !== 회사설립일자 ==! */
            , A.ESTB_PLC_NM                /** Lieu de constitution !== 설립장소명 ==! */
            , A.CMRC_REGS_NO               /** Numéro de registre du commerce !== 상업등기번호 ==! */
            , TO_CHAR(TO_DATE(A.CMRC_REGS_ISS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS CMRC_REGS_ISS_DT       /** Date de délivrance !== 상업등기발급일자 ==! */
            , A.CMRC_REGS_PLC_NM           /** Lieu d'émission !== 상업등기장소명 ==! */
            , A.NIF_ISS_PLC_NM             /** Inspection des impôts de rattachement !== 납세식별번호발급장소명 ==! */
            , A.ACTV_RLM_CN                /** Secteurs d’activité !== 활동분야내용 ==! */
            , A.IMP_CMDT_CN                /** Produits importés !== 수입물품내용 ==! */
            , A.EXP_CMDT_CN                /** Produits exportés !== 수출물품내용 ==! */
            , A.ACNT_DEPT_YN               /** Présence d'un service propre de tenue de la comptabilité !== 회계부서여부 ==! */
            , A.BKKP_MEAN_CD               /** Régime de tenue de la comptabilité !== 부기방법코드 ==! */
            , A.CO_CSCL_DEPT_YN            /** Présence d'un service propre de dédouanement !== 업체통관부서여부 ==! */
            , A.CSTM_DPUT_YN               /** Contentieux constaté par la douane !== 세관쟁송여부 ==! */
            , A.ITT_DPUT_YN                /** Contentieux constaté par les autres services !== 기관쟁송여부 ==! */
            , A.LGAL_SBST_NM               /** Nom et prénom du représentant légal !== 법정대리인명 ==! */
            , TO_CHAR(TO_DATE(A.LGAL_SBST_SGNT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS  LGAL_SBST_SGNT_DT    /** Date de signature du représentant légal !== 법정대리인서명일자 ==! */
            , TO_CHAR(TO_DATE(A.CO_SGNT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS  CO_SGNT_DT                  /** Date de signature de l’entreprise !== 업체서명일자 ==! */
        FROM   TB_AEOI_QEST_BSCS A         /** AEOI_QUESTIONS DE BASE !== AEOI_질문기본 ==! */
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND    A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
    </select>

    <!--
    [Questionnaire] Consulter les informations détaillées du questionnaire !== [질문지] 질문 상세 목록 조회 ==!
    -->
    <select id="selectAeoComQestDtlList"
        parameterType="alpass.ipt.aeo.com.vo.AeoiQestDtlVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiQestDtlVo">
        /* selectAeoComQestDtlList */
        SELECT
              A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
            , A.ATHR_QEST_NO_CD            /** Code de point de questionnaire !== 공인질문번호코드 ==! */
            , A.DTL_SRNO                   /** N° De Séquence Du Détail !== 상세일련번호 ==! */
            , A.ATHR_QEST_ANSW_CN          /** Réponse au questionnaire !== 공인질문답변내용 ==! */
            , CASE WHEN A.ATHR_QEST_NO_CD IN ('Q0701','Q0702') THEN (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = UPPER(A.ATHR_QEST_ANSW_CN))
                   WHEN A.ATHR_QEST_NO_CD IN ('Q0801','Q0802') THEN (SELECT B.CNTY_NM FROM TB_COM_CNTY_CD_LANG B WHERE B.CNTY_CD = A.ATHR_QEST_ANSW_CN AND LANG_CD = #{langCd})
                   WHEN A.ATHR_QEST_NO_CD in ('Q1101','Q1102') THEN (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'CLR_0004' AND LANG_CD = #{langCd} AND CD_VDVAL = A.ATHR_QEST_ANSW_CN)
                   WHEN A.ATHR_QEST_NO_CD in ('Q1301','Q1302') THEN (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD = 'CLR_0137' AND LANG_CD = #{langCd} AND CD_VDVAL = A.ATHR_QEST_ANSW_CN)
              END AS ANSW_DTL_NM
        FROM   TB_AEOI_QEST_DTL A          /** AEOI_QUESTIONS DÉTAILLÉE !== AEOI_질문상세 ==! */
        WHERE  DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
        AND  A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
        AND  A.ATHR_QEST_NO_CD = #{athrQestNoCd}         /** Code de point de questionnaire !== 공인질문번호코드 ==! */
        ORDER BY A.DTL_SRNO ASC
    </select>

    <!--
    [Questionnaire] Consulter les informations sur le bilan de l'opérateur du questionnaire !== [질문지] 질문업체실적 최근년도 조회 ==!
    -->
    <select id="selectAeoComQestCoAcrsRcntYy"
       parameterType="alpass.ipt.aeo.com.vo.AeoiQestCoAcrsVo"
       resultType="java.lang.String">
        /* selectAeoComQestCoAcrsRcntYy */
        SELECT DCLR_YY    /** Année de déclaration !== 신고년도 ==! */
        FROM
        (
            SELECT DCLR_YY               /** Année de déclaration !== 신고년도 ==! */
            FROM TB_AEOI_QEST_CO_ACRS    /** AEOE_QUESTION CONCERNANT LES RÉSULTATS DE L'EXERCICE D'ACTIVITÉ DE L'OPÉRATEUR !== AEOI_질문업체실적 ==! */
            WHERE DEL_YN = 'N'
            AND AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
            AND ACRS_TP_CD = #{acrsTpCd}
            ORDER BY DCLR_YY DESC
        )
        WHERE ROWNUM   <![CDATA[ <= ]]>  3
        ORDER BY 1
    </select>


    <!--
    [Questionnaire] Consulter les informations concernant l'associé de l'opérateur du questionnaire !== [질문지] 질문업체 관련자 목록 조회 ==!
    -->
    <select id="selectAeoComQestCoRelapnList"
        parameterType="alpass.ipt.aeo.com.vo.AeoiQestCoRelapnVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiQestCoRelapnVo">
        /* selectAeoComQestCoRelapnList */
        SELECT
                  A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
                , A.CO_RELAPN_TP_CD            /** Code de personne liée à l'opérateur !== 업체관련자구분코드 ==! */
                , A.CO_NM                      /** Nom De L'Entreprise !== 업체명 ==! */
                , A.CO_DCLR_CD                 /** Code De Déclaration De L'Entreprise !== 업체신고코드 ==! */
                , A.NAME                       /** Nom !== 성명 ==! */
                , A.RPRS_TLPH_NO               /** N° De Téléphone Principale !== 대표전화번호 ==! */
                , A.RPRS_FAX_NO                /** N° De Fax Principal !== 대표팩스번호 ==! */
                , A.CO_EML                     /** Email De L'Opérateur !== 업체이메일 ==! */
                , A.CO_ADDR                    /** Adresse De L'Entreprise  !== 업체주소 ==! */
                , A.CRER_PRID                  /** Années d’expérience !== 경력기간 ==! */
        FROM   TB_AEOI_QEST_CO_RELAPN A        /** AEOI_QUESTION CONCERNANT LA PERSONNE LIÉE À L'OPÉRATEUR !== AEOI_질문업체관련자 ==! */
        WHERE  DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
        AND  A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
        AND  A.CO_RELAPN_TP_CD = #{coRelapnTpCd}         /** Code de personne liée à l'opérateur !== 업체관련자구분코드 ==! */
        ORDER BY A.DTL_SRNO ASC
    </select>

    <!--
    [Questionnaire] Consulter la liste des banques de l'opérateur répondant au questionnaire !== [질문지] 질문업체 은행 목록 조회 ==!
    -->
    <select id="selectAeoComQestCoBnkList"
        parameterType="alpass.ipt.aeo.com.vo.AeoiQestCoBnkVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiQestCoBnkVo">
        /* selectAeoComQestCoBnkList */
        SELECT
              A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
            , A.DTL_SRNO                   /** N° De Séquence Du Détail !== 상세일련번호 ==! */
            , A.PYMN_BNK_CD                /** Transaction Banque Domiciliatrice Code Banque !== 지불은행코드 ==! */
            , A.PYMN_BNK_BRNH_CD           /** Code D'Agnce De Banque De Paiement !== 지불은행지점코드 ==! */
            , (SELECT BNK_NM FROM TB_COM_BNK_CD WHERE BNK_CD = A.PYMN_BNK_CD AND DEL_YN = 'N') AS PYMN_BNK_NM    /** TRANSACTION BANQUE_DOMICILIATRICE LIBELLE_BANQUE !== 지불은행명 ==! */
            , (SELECT BNK_BRNH_NM FROM TB_COM_BNK_BRNH_CD WHERE BNK_BRNH_CD = A.PYMN_BNK_BRNH_CD AND DEL_YN = 'N' ) AS PYMN_BNK_BRNH_NM    /** Libelle Agence Banque Domiciliatrice !== 지불은행지점명 ==! */
        FROM   TB_AEOI_QEST_CO_BNK A       /** AEOI_QUESTION CONCERNANT LA BANQUE DE L'OPÉRATEUR !== AEOI_질문업체은행 ==! */
        WHERE  DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
        AND    A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}     /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
        ORDER BY A.DTL_SRNO ASC
    </select>

    <!--
    [Questionnaire] Consulter les informations sur le bilan de l'opérateur du questionnaire !== [질문지] 질문업체실적 신고건수 목록 조회 ==!
    -->
    <select id="selectAeoComQestCoAcrsCntList"
        parameterType="alpass.ipt.aeo.com.vo.AeoiQestCoAcrsVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiQestCoAcrsVo">
        /* selectAeoComQestCoAcrsCntList */
        WITH RECENT_YEAR AS
        (
            SELECT DCLR_YY, ROWNUM AS RNUM
            FROM
            (
                SELECT DCLR_YY               /** Année de déclaration !== 신고년도 ==! */
                FROM TB_AEOI_QEST_CO_ACRS    /** AEOE_QUESTION CONCERNANT LES RÉSULTATS DE L'EXERCICE D'ACTIVITÉ DE L'OPÉRATEUR !== AEOI_질문업체실적 ==! */
                WHERE DEL_YN = 'N'
                AND ACRS_TP_CD = #{acrsTpCd}
                AND AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
                ORDER BY DCLR_YY DESC
            )
            WHERE ROWNUM   <![CDATA[ <= ]]>  3
            ORDER BY 1
        )
        SELECT MAX(CASE WHEN A.DCLR_YY = (SELECT DCLR_YY FROM RECENT_YEAR WHERE RNUM = 3) THEN A.DCLR_CNT END) AS DCLR_CNT_1    /** 1_Nombre De Déclarations !== 신고건수1 ==! */
             , MAX(CASE WHEN A.DCLR_YY = (SELECT DCLR_YY FROM RECENT_YEAR WHERE RNUM = 2) THEN A.DCLR_CNT END) AS DCLR_CNT_2    /** 2_Nombre De Déclarations !== 신고건수2 ==! */
             , MAX(CASE WHEN A.DCLR_YY = (SELECT DCLR_YY FROM RECENT_YEAR WHERE RNUM = 1) THEN A.DCLR_CNT END) AS DCLR_CNT_3    /** 3_Nombre De Déclarations !== 신고건수3 ==! */
        FROM TB_AEOI_QEST_CO_ACRS A    /** AEOE_QUESTION CONCERNANT LES RÉSULTATS DE L'EXERCICE D'ACTIVITÉ DE L'OPÉRATEUR !== AEOI_질문업체실적 ==! */
        WHERE A.DEL_YN = 'N'
        AND A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
        AND A.ACRS_TP_CD = #{acrsTpCd}
    </select>

    <!--
    [Questionnaire] Consulter les informations sur le bilan de l'opérateur du questionnaire !== [질문지] 질문업체실적 매출금액 목록 조회 ==!
    -->
    <select id="selectAeoComQestCoAcrsSlsList"
        parameterType="alpass.ipt.aeo.com.vo.AeoiQestCoAcrsVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiQestCoAcrsVo">
        /* selectAeoComQestCoAcrsSlsList */
        WITH RECENT_YEAR AS
        (
            SELECT DCLR_YY, ROWNUM AS RNUM
            FROM
            (
                SELECT DCLR_YY               /** Année de déclaration !== 신고년도 ==! */
                FROM TB_AEOI_QEST_CO_ACRS    /** AEOE_QUESTION CONCERNANT LES RÉSULTATS DE L'EXERCICE D'ACTIVITÉ DE L'OPÉRATEUR !== AEOI_질문업체실적 ==! */
                WHERE DEL_YN = 'N'
                AND ACRS_TP_CD = #{acrsTpCd}
                AND AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
                ORDER BY DCLR_YY DESC
            )
            WHERE ROWNUM   <![CDATA[ <= ]]>  3
            ORDER BY 1
        )
        SELECT MAX(CASE WHEN A.DCLR_YY = (SELECT DCLR_YY FROM RECENT_YEAR WHERE RNUM = 3) THEN A.SLS_AMT END) AS SLS_AMT_1    /** 1_Chiffres d’affaires !== 매출금액1 ==! */
             , MAX(CASE WHEN A.DCLR_YY = (SELECT DCLR_YY FROM RECENT_YEAR WHERE RNUM = 2) THEN A.SLS_AMT END) AS SLS_AMT_2    /** 2_Chiffres d’affaires !== 매출금액2 ==! */
             , MAX(CASE WHEN A.DCLR_YY = (SELECT DCLR_YY FROM RECENT_YEAR WHERE RNUM = 1) THEN A.SLS_AMT END) AS SLS_AMT_3    /** 3_Chiffres d’affaires !== 매출금액3 ==! */
        FROM TB_AEOI_QEST_CO_ACRS A    /** AEOE_QUESTION CONCERNANT LES RÉSULTATS DE L'EXERCICE D'ACTIVITÉ DE L'OPÉRATEUR !== AEOI_질문업체실적 ==! */
        WHERE A.DEL_YN = 'N'
        AND A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
        AND A.ACRS_TP_CD = #{acrsTpCd}
    </select>

    <!--
    [Questionnaire] Consulter les informations sur le bilan de l'opérateur du questionnaire !== [질문지] 질문업체실적 매출금액 목록 조회 ==!
    -->
    <select id="selectAeoComQestCoAcrsSlsLst"
        parameterType="alpass.ipt.aeo.com.vo.AeoiQestCoAcrsVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiQestCoAcrsVo">
        /* selectAeoComQestCoAcrsSlsLst */
        WITH RECENT_SALES AS
        (
            SELECT SLS_AMT, A.DCLR_YY, 1 AS RNUM FROM TB_AEOI_QEST_CO_ACRS A    /** AEOE_QUESTION CONCERNANT LES RÉSULTATS DE L'EXERCICE D'ACTIVITÉ DE L'OPÉRATEUR !== AEOI_질문업체실적 ==! */
            WHERE A.DEL_YN = 'N'
            AND A.ACRS_TP_CD = 'A'
            AND A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
            AND A.DCLR_YY = #{dclrYy1}
            UNION
            SELECT SLS_AMT, A.DCLR_YY, 2 AS RNUM FROM TB_AEOI_QEST_CO_ACRS A
            WHERE A.DEL_YN = 'N'
            AND A.ACRS_TP_CD = 'A'
            AND A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
            AND A.DCLR_YY = #{dclrYy2}
            UNION
            SELECT SLS_AMT, A.DCLR_YY, 3 AS RNUM FROM TB_AEOI_QEST_CO_ACRS A
            WHERE A.DEL_YN = 'N'
            AND A.ACRS_TP_CD = 'A'
            AND A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
            AND A.DCLR_YY = #{dclrYy3}
        )
        SELECT MAX(CASE WHEN RNUM = 1 THEN SLS_AMT END) SLS_AMT_1
            , MAX(CASE WHEN RNUM = 2 THEN SLS_AMT END) SLS_AMT_2
            , MAX(CASE WHEN RNUM = 3 THEN SLS_AMT END) SLS_AMT_3
        FROM RECENT_SALES
    </select>

    <!--
    [Questionnaire] Vérifiez le montant des ventes de l'opérateur d'enquête. !== [질문지] 질문업체실적 매출금액 조회 ==!
    -->
    <select id="selectAeoComQestCoAcrsSls"
        parameterType="alpass.ipt.aeo.com.vo.AeoiQestCoAcrsVo"
        resultType="java.math.BigDecimal">
        /* selectAeoComQestCoAcrsSls */
        SELECT SLS_AMT                 /** Chiffres d’affaires !== 매출금액 ==! */
        FROM TB_AEOI_QEST_CO_ACRS A    /** AEOE_QUESTION CONCERNANT LES RÉSULTATS DE L'EXERCICE D'ACTIVITÉ DE L'OPÉRATEUR !== AEOI_질문업체실적 ==! */
        WHERE A.DEL_YN = 'N'
        AND A.ACRS_TP_CD = 'A'
        AND A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
        AND A.DCLR_YY = #{dclrYy}
    </select>

    <!--
    [Questionnaire] Consulter les informations sur les infractions commises par l'opérateur du questionnaire !== [질문지] 질문업체위법 목록 조회 ==!
    -->
    <select id="selectAeoComQestCoIlglList"
        parameterType="alpass.ipt.aeo.com.vo.AeoiQestCoIlglVo"
        resultType="alpass.ipt.aeo.com.vo.AeoiQestCoIlglVo">
        /* selectAeoComQestCoIlglList */
        SELECT
                  A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
                , A.CO_ILGL_ITT_TP_CD          /** Code de service ayant relevé les faits réprimés !== 업체위법기관구분코드 ==! */
                , A.DTL_SRNO                   /** N° De Séquence Du Détail !== 상세일련번호 ==! */
                , A.ILGL_DOC_NO                /** Numéro des faits réprimés !== 위법문서번호 ==! */
                , A.ILGL_ITT_NM                /** Service ayant relevé les faits réprimés !== 위법기관명 ==! */
                , A.ILGL_ACT_NM                /** Faits réprimés !== 위법행위명 ==! */
        FROM   TB_AEOI_QEST_CO_ILGL A          /** AEOI_QUESTION CONCERNANT LES FAITS RÉPRIMÉS DE L'OPÉRATEUR !== AEOI_질문업체위법 ==! */
        WHERE  DEL_YN = 'N'                              /** Suppression ON !== 삭제여부 ==! */
        AND    A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}     /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
        <choose>
            <when test='coIlglIttTpCd != null and "DGD".equals(coIlglIttTpCd)'>
                AND  A.CO_ILGL_ITT_TP_CD = #{coIlglIttTpCd}       /** Code de service ayant relevé les faits réprimés !== 업체위법기관구분코드 ==! */
            </when>
            <otherwise>
                AND  A.CO_ILGL_ITT_TP_CD IN ('DGI','MC','BNK')
            </otherwise>
        </choose>
        ORDER BY DECODE(A.CO_ILGL_ITT_TP_CD, 'DGD', 1, 'DGI', 2, 'MC', 3, 'BNK', 4) ASC, A.DTL_SRNO ASC

    </select>



</mapper>