<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : [OEA commun] L'onglet Demande de complément de la demande d'agrément !== [AEO 공통] 공인신청서 보완요구서 탭 Mapper ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.com.mapper.AeoComTabSplmDmdcMapper">

    <!--
    [OEA commun] Consulter la liste des demandes de complément !==[AEO 공통] 보완요구서 목록 조회==!
    -->
	<select id="selectAeoComSplmDmdcList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo">
		/* selectAeoComSplmDmdcList */
	    <include refid="pagination.header"/>
		SELECT
				  A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
                , A.SPLM_QRY_NO                /** Numéro de demande de complémentation !== 보완요구번호 ==! */
                , A.SPLM_QRY_DGCNT             /** Nombre de fois de la demande de complément !== 보완요구차수 ==! */
                , A.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , FN_GET_CD_VDVAL_NM('AEO_0015', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , A.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , FN_GET_CD_VDVAL_NM('AEO_0017', A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
                , TO_CHAR(TO_DATE(A.SPLM_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS SPLM_STRT_DT               /** Date de commencement de complémentation !== 보완시작일자 ==! */
                , TO_CHAR(TO_DATE(A.SPLM_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS SPLM_END_DT                /** Date de fermeture de complémentation !== 보완종료일자 ==! */
                , TO_CHAR(TO_DATE(A.SPLM_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') || ' ~ ' || TO_CHAR(TO_DATE(A.SPLM_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS SPLM_DT
                , A.SPLM_RSN_CN                /** Motif de complémentation !== 보완사유내용 ==! */
                , A.SPLM_QRY_CN                /** Contenu de la demande de complément !== 보완요구내용 ==! */
                , A.SPLM_QRY_ATCH_FILE_ID       /** ID des pièces jointes de complémentation !== 보완요구첨부파일ID ==! */
                , TO_CHAR(A.INFM_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS INFM_DTTM                  /** Date Et Heure De La Notification !== 통보일시 ==! */
                , A.SPLM_TKAC_CN               /** Mesures complémentaires !== 보완조치내용 ==! */
                , A.SPLM_TKAC_ATCH_FILE_ID       /** ID des pièces jointes des mesures complémentaires !== 보완조치첨부파일ID ==! */
                , TO_CHAR(A.SBMT_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS SBMT_DTTM                  /** Date Et Heure De Soumission !== 제출일시 ==! */
				, A.DEL_YN					/** Suppression On !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS frstRgsrDttm			/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, (SELECT O.ORGN_NM FROM TB_POTI_EMP E, TB_POTI_ORGN O where E.DEPT_MGMT_CD = O.ORGN_MGMT_CD and E.PBSR_NO = A.FRST_REGST_ID) as FRST_REGST_DEPT_NM
				, A.LAST_CHPR_ID				/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS lastChgDttm				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM
		  		  TB_AEOI_SPLM_QRT_DOC A    /** AEOI_DEMANDE DE COMPLÉMENTATION !== AEOI_보완요구서 ==! */
		 WHERE
		 		  A.DEL_YN = 'N'									/** Suppression ON !== 삭제여부 ==! */
           AND	  A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       		/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		 ORDER    BY A.LAST_CHG_DTTM DESC
		<include refid="pagination.footer"/>
	</select>

    <!--
    [OEA commun] Consulter la liste des demandes de complément(Tout) !==[AEO 공통] 보완요구서 목록 조회(전체)==!
    -->
	<select id="selectAeoComSplmDmdcNoPageList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo">
		/* selectAeoComSplmDmdcNoPageList */
		SELECT
				  A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
                , A.SPLM_QRY_NO                /** Numéro de demande de complémentation !== 보완요구번호 ==! */
                , A.SPLM_QRY_DGCNT             /** Nombre de fois de la demande de complément !== 보완요구차수 ==! */
                , A.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , FN_GET_CD_VDVAL_NM('AEO_0015', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , A.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , FN_GET_CD_VDVAL_NM('AEO_0017', A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
                , TO_CHAR(TO_DATE(A.SPLM_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS SPLM_STRT_DT               /** Date de commencement de complémentation !== 보완시작일자 ==! */
                , TO_CHAR(TO_DATE(A.SPLM_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS SPLM_END_DT                /** Date de fermeture de complémentation !== 보완종료일자 ==! */
                , TO_CHAR(TO_DATE(A.SPLM_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') || ' ~ ' || TO_CHAR(TO_DATE(A.SPLM_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS SPLM_DT
                , A.SPLM_RSN_CN                /** Motif de complémentation !== 보완사유내용 ==! */
                , A.SPLM_QRY_CN                /** Contenu de la demande de complément !== 보완요구내용 ==! */
                , A.SPLM_QRY_ATCH_FILE_ID       /** ID des pièces jointes de complémentation !== 보완요구첨부파일ID ==! */
                , TO_CHAR(A.INFM_DTTM, 'DD/MM/YYYY') AS INFM_DTTM                  /** Date Et Heure De La Notification !== 통보일시 ==! */
                , A.SPLM_TKAC_CN               /** Mesures complémentaires !== 보완조치내용 ==! */
                , A.SPLM_TKAC_ATCH_FILE_ID       /** ID des pièces jointes des mesures complémentaires !== 보완조치첨부파일ID ==! */
                , TO_CHAR(A.SBMT_DTTM, 'DD/MM/YYYY') AS SBMT_DTTM                  /** Date Et Heure De Soumission !== 제출일시 ==! */
				, A.DEL_YN					/** Suppression On !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS frstRgsrDttm			/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, (SELECT O.ORGN_NM FROM TB_POTI_EMP E, TB_POTI_ORGN O where E.DEPT_MGMT_CD = O.ORGN_MGMT_CD and E.PBSR_NO = A.FRST_REGST_ID) as FRST_REGST_DEPT_NM
				, A.LAST_CHPR_ID				/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS lastChgDttm				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM
		  		  TB_AEOI_SPLM_QRT_DOC A    /** AEOI_DEMANDE DE COMPLÉMENTATION !== AEOI_보완요구서 ==! */
		 WHERE
		 		  A.DEL_YN = 'N'									/** Suppression ON !== 삭제여부 ==! */
           AND	  A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       		/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		 ORDER    BY A.LAST_CHG_DTTM DESC
	</select>

    <!--
    [OEA commun] Consulter les détails de la demande de complément !==[AEO 공통] 보완요구서 상세 조회==!
    -->
	<select id="selectAeoComSplmDmdc"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo">
		/* selectAeoComSplmDmdc */
		SELECT
				  A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
                , A.SPLM_QRY_NO                /** Numéro de demande de complémentation !== 보완요구번호 ==! */
                , A.SPLM_QRY_DGCNT             /** Nombre de fois de la demande de complément !== 보완요구차수 ==! */
                , A.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , FN_GET_CD_VDVAL_NM('AEO_0015', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , A.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , FN_GET_CD_VDVAL_NM('AEO_0017', A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
                , TO_CHAR(TO_DATE(A.SPLM_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS SPLM_STRT_DT               /** Date de commencement de complémentation !== 보완시작일자 ==! */
                , TO_CHAR(TO_DATE(A.SPLM_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS SPLM_END_DT                /** Date de fermeture de complémentation !== 보완종료일자 ==! */
                , A.SPLM_RSN_CN                /** Motif de complémentation !== 보완사유내용 ==! */
                , A.SPLM_QRY_CN                /** Contenu de la demande de complément !== 보완요구내용 ==! */
                , A.SPLM_QRY_ATCH_FILE_ID       /** ID des pièces jointes de complémentation !== 보완요구첨부파일ID ==! */
                , TO_CHAR(A.INFM_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS INFM_DTTM                  /** Date Et Heure De La Notification !== 통보일시 ==! */
                , A.SPLM_TKAC_CN               /** Mesures complémentaires !== 보완조치내용 ==! */
                , A.SPLM_TKAC_ATCH_FILE_ID       /** ID des pièces jointes des mesures complémentaires !== 보완조치첨부파일ID ==! */
                , TO_CHAR(A.SBMT_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS SBMT_DTTM                  /** Date Et Heure De Soumission !== 제출일시 ==! */
				, A.DEL_YN					/** Suppression On !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS frstRgsrDttm			/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, (SELECT O.ORGN_NM FROM TB_POTI_EMP E, TB_POTI_ORGN O where E.DEPT_MGMT_CD = O.ORGN_MGMT_CD and E.PBSR_NO = A.FRST_REGST_ID) as FRST_REGST_DETP_NM
				, A.LAST_CHPR_ID				/** Id Du Modificateur Final !== 최종변경자ID ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS lastChgDttm				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM
		  		  TB_AEOI_SPLM_QRT_DOC A    /** AEOI_DEMANDE DE COMPLÉMENTATION !== AEOI_보완요구서 ==! */
		 WHERE
		 		  A.DEL_YN = 'N'									/** Suppression ON !== 삭제여부 ==! */
	    <if test='aeoAthrRqstNo != null and !"".equals(aeoAthrRqstNo)'>
           AND	  A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       		/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
        </if>
	    <if test='splmQryNo != null and !"".equals(splmQryNo)'>
           AND	  A.SPLM_QRY_NO = #{splmQryNo}                		/** Numéro de demande de complémentation !== 보완요구번호 ==! */
        </if>
	    <if test='splmQryDgcnt != null and splmQryDgcnt != 0'>
           AND	  A.SPLM_QRY_DGCNT = #{splmQryDgcnt}          		/** Nombre de fois de la demande de complément !== 보완요구차수 ==! */
        </if>
	</select>
	
    <!--
    [OEA commun] Enregistrer la demande de complément !==[AEO 공통] 보완요구서 등록==!
    -->
	<insert id="insertAeoComSplmDmdc"
		parameterType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo">
		/* insertAeoComSplmDmdc */
		<selectKey keyProperty="splmQryDgcnt" order="BEFORE" resultType="java.math.BigDecimal">
			SELECT NVL(MAX(SPLM_QRY_DGCNT),0)+1 FROM TB_AEOI_SPLM_QRT_DOC WHERE AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
		</selectKey>
		
        INSERT INTO TB_AEOI_SPLM_QRT_DOC ( /** AEOI_DEMANDE DE COMPLÉMENTATION !== AEOI_보완요구서 ==! */
			  AEO_ATHR_RQST_NO             /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
            , SPLM_QRY_NO                  /** Numéro de demande de complémentation !== 보완요구번호 ==! */
            , SPLM_QRY_DGCNT               /** Nombre de fois de la demande de complément !== 보완요구차수 ==! */
            , PRCS_STTS_CD                 /** Code De Statut De Traitement !== 처리상태코드 ==! */
            , DTL_PRCS_STTS_CD             /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
            , SPLM_STRT_DT                 /** Date de commencement de complémentation !== 보완시작일자 ==! */
            , SPLM_END_DT                  /** Date de fermeture de complémentation !== 보완종료일자 ==! */
            , SPLM_RSN_CN                  /** Motif de complémentation !== 보완사유내용 ==! */
            , SPLM_QRY_CN                  /** Contenu de la demande de complément !== 보완요구내용 ==! */
            , SPLM_QRY_ATCH_FILE_ID        /** ID des pièces jointes de complémentation !== 보완요구첨부파일ID ==! */
            , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
			, FRST_REGST_ID					/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM				/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID					/** Id Du Modificateur Final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM					/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		VALUES
		(
	 		  #{aeoAthrRqstNo}             /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
	        , #{splmQryNo}                 /** Numéro de demande de complémentation !== 보완요구번호 ==! */
	        , #{splmQryDgcnt}              /** Nombre de fois de la demande de complément !== 보완요구차수 ==! */
	        , #{prcsSttsCd}                /** Code De Statut De Traitement !== 처리상태코드 ==! */
	        , #{dtlPrcsSttsCd}             /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
	        , TO_CHAR(TO_DATE(REPLACE(#{splmStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')                /** Date de commencement de complémentation !== 보완시작일자 ==! */
	        , TO_CHAR(TO_DATE(REPLACE(#{splmEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')                 /** Date de fermeture de complémentation !== 보완종료일자 ==! */
	        , #{splmRsnCn}                 /** Motif de complémentation !== 보완사유내용 ==! */
	        , #{splmQryCn}                 /** Contenu de la demande de complément !== 보완요구내용 ==! */
	        , #{splmQryAtchFileId}         	/** ID des pièces jointes de complémentation !== 보완요구첨부파일ID ==! */
	        , 'N'                          	/** Suppression On !== 삭제여부 ==! */
			, #{frstRegstId}          		/** Id Du Premier Enregistrant  !== 최초등록자ID ==! */              
			, CURRENT_TIMESTAMP          		/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */   
			, #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */                 
			, CURRENT_TIMESTAMP          		/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */      
		)
	</insert>

    <!--
    [OEA commun] Modifier la demande de complément !==[AEO 공통] 보완요구서 수정==!
    -->
	<update id="updateAeoComSplmDmdc"
		parameterType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo">
		/* updateAeoComSplmDmdc */
		UPDATE	  TB_AEOI_SPLM_QRT_DOC                          /** AEOI_DEMANDE DE COMPLÉMENTATION !== AEOI_보완요구서 ==! */
		   SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
	    	<if test='prcsSttsCd != null and !"".equals(prcsSttsCd)'>
				, PRCS_STTS_CD = #{prcsSttsCd}                /** Code De Statut De Traitement !== 처리상태코드 ==! */
            </if>
	    	<if test='dtlPrcsSttsCd != null and !"".equals(dtlPrcsSttsCd)'>
                , DTL_PRCS_STTS_CD = #{dtlPrcsSttsCd}         /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
            </if>
	    	<if test='splmStrtDt != null and !"".equals(splmStrtDt)'>
                , SPLM_STRT_DT = TO_CHAR(TO_DATE(REPLACE(#{splmStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')                /** Date de commencement de complémentation !== 보완시작일자 ==! */
            </if>
	    	<if test='splmEndDt != null and !"".equals(splmEndDt)'>
                , SPLM_END_DT = TO_CHAR(TO_DATE(REPLACE(#{splmEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')                  /** Date de fermeture de complémentation !== 보완종료일자 ==! */
            </if>
	    	<if test='splmRsnCn != null and !"".equals(splmRsnCn)'>
                , SPLM_RSN_CN = #{splmRsnCn}                  /** Motif de complémentation !== 보완사유내용 ==! */
            </if>
	    	<if test='splmQryCn != null and !"".equals(splmQryCn)'>
                , SPLM_QRY_CN = #{splmQryCn}                  /** Contenu de la demande de complément !== 보완요구내용 ==! */
            </if>
	    	<if test='splmQryAtchFileId != null and !"".equals(splmQryAtchFileId)'>
                , SPLM_QRY_ATCH_FILE_ID = #{splmQryAtchFileId}  /** ID des pièces jointes de complémentation !== 보완요구첨부파일ID ==! */
            </if>
	    	<if test='splmTkacCn != null and !"".equals(splmTkacCn)'>
                , SPLM_TKAC_CN = #{splmTkacCn}                /** Mesures complémentaires !== 보완조치내용 ==! */
            </if>
	    	<if test='splmTkacAtchFileId != null and !"".equals(splmTkacAtchFileId)'>
                , SPLM_TKAC_ATCH_FILE_ID = #{splmTkacAtchFileId}  /** ID des pièces jointes des mesures complémentaires !== 보완조치첨부파일ID ==! */
            </if>
		 WHERE
           		  DEL_YN = 'N'                                	/** Suppression ON !== 삭제여부 ==! */
             AND  AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
           	 AND  SPLM_QRY_NO = #{splmQryNo}                    /** Numéro de demande de complémentation !== 보완요구번호 ==! */
           	 AND  SPLM_QRY_DGCNT = #{splmQryDgcnt}              /** Nombre de fois de la demande de complément !== 보완요구차수 ==! */  
	</update>

    <!--
    [OEA commun] Supprimer la demande de complément !==[AEO 공통] 보완요구서 삭제==!
    -->
	<update id="deleteAeoComSplmDmdc"
		parameterType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo">
		  /* deleteAeoComSplmDmdc */
		  UPDATE  TB_AEOI_SPLM_QRT_DOC                          /** AEOI_DEMANDE DE COMPLÉMENTATION !== AEOI_보완요구서 ==! */
		     SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
		  		, DEL_YN = 'Y'									/** Suppression On !== 삭제여부 ==! */ 
		   WHERE
		  		  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
             AND  AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
           	 AND  SPLM_QRY_NO = #{splmQryNo}                    /** Numéro de demande de complémentation !== 보완요구번호 ==! */
           	 AND  SPLM_QRY_DGCNT = #{splmQryDgcnt}              /** Nombre de fois de la demande de complément !== 보완요구차수 ==! */  
	</update>

    <!--
    [OEA commun] Notifier la demande de complément !==[AEO 공통] 보완요구서 통보==!
    -->
	<update id="notifyAeoComSplmDmdc"
		parameterType="alpass.ipt.aeo.com.vo.AeoComSplmDmdcVo">
		/* notifyAeoComSplmDmdc */
		UPDATE	  TB_AEOI_SPLM_QRT_DOC                          /** AEOI_DEMANDE DE COMPLÉMENTATION !== AEOI_보완요구서 ==! */
		   SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
				, PRCS_STTS_CD = #{prcsSttsCd}                	/** Code De Statut De Traitement !== 처리상태코드 ==! */
                , DTL_PRCS_STTS_CD = #{dtlPrcsSttsCd}         	/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
                , INFM_DTTM = CURRENT_TIMESTAMP                 /** Date Et Heure De La Notification !== 통보일시 ==! */
	    	<if test='splmStrtDt != null and !"".equals(splmStrtDt)'>
                , SPLM_STRT_DT = TO_CHAR(TO_DATE(REPLACE(#{splmStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')                /** Date de commencement de complémentation !== 보완시작일자 ==! */
            </if>
	    	<if test='splmEndDt != null and !"".equals(splmEndDt)'>
                , SPLM_END_DT = TO_CHAR(TO_DATE(REPLACE(#{splmEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')                  /** Date de fermeture de complémentation !== 보완종료일자 ==! */
            </if>
	    	<if test='splmRsnCn != null and !"".equals(splmRsnCn)'>
                , SPLM_RSN_CN = #{splmRsnCn}                  /** Motif de complémentation !== 보완사유내용 ==! */
            </if>
	    	<if test='splmQryCn != null and !"".equals(splmQryCn)'>
                , SPLM_QRY_CN = #{splmQryCn}                  /** Contenu de la demande de complément !== 보완요구내용 ==! */
            </if>
	    	<if test='splmQryAtchFileId != null and !"".equals(splmQryAtchFileId)'>
                , SPLM_QRY_ATCH_FILE_ID = #{splmQryAtchFileId}  /** ID des pièces jointes de complémentation !== 보완요구첨부파일ID ==! */
            </if>
		 WHERE
           		  DEL_YN = 'N'                                	/** Suppression ON !== 삭제여부 ==! */
             AND  AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
           	 AND  SPLM_QRY_NO = #{splmQryNo}                    /** Numéro de demande de complémentation !== 보완요구번호 ==! */
           	 AND  SPLM_QRY_DGCNT = #{splmQryDgcnt}              /** Nombre de fois de la demande de complément !== 보완요구차수 ==! */  
	</update>

</mapper>