<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.coc.mgmt.vhcl.mapper.CocMgmtVhclMapper">

    <!--
         Consulter la liste des véhicules !== 파라미터 목록 조회 ==!
     -->
    <select id="selectVhclList" parameterType="alpass.ipt.coc.mgmt.vhcl.vo.CocMgmtVhclVo" resultType="alpass.ipt.coc.mgmt.vhcl.vo.CocMgmtVhclVo">
        /* selectVhclList */
        <include refid="pagination.header"/>
          SELECT
         'false' AS chkSel,
          B.VHCL_REF_NO
        , B.VHCL_RGSR_NO
        , B.VHCL_STTS
        , B.VHCL_CND_CD
        , B.VHCL_KND_CD
        , B.VHCL_CHSS_NO
        , B.DEL_YN
        , B.VHCL_BRND_CD
        , B.VHCL_MDL_CD
        , B.VHCL_MNFC_YY
        , B.USE_YN
        , B.ORGN_CD
        , B.FRST_REGST_ID
        , C.vhcl_mdl_nm
        , D.vhcl_mnur_nm as vhcl_brnd_nm
        , TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
        , B.LAST_CHPR_ID
        , TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM TB_COC_VHCL B
        JOIN TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        JOIN tb_com_vhcl_mdl C ON C.vhcl_mdl_cd = B.vhcl_mdl_cd
        JOIN tb_com_vhcl_mnur D ON D.vhcl_mnur_cd = B.vhcl_brnd_cd
        WHERE B.DEL_YN = 'N'
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM TB_POTI_ORGN
        WHERE DEL_YN = 'N'
        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        <if test="srchOrgnCd != null and srchOrgnCd != ''">
            AND A.ORGN_MGMT_CD IN (
            SELECT ORGN_MGMT_CD
            FROM TB_POTI_ORGN
            WHERE DEL_YN = 'N'
            START WITH ORGN_CD = #{srchOrgnCd}
            CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
            )

        </if>
        <!--if test="orgnCd != null and orgnCd != ''">
            AND B.ORGN_CD = #{orgnCd}
        </if-->
        <if test="srchVhclRgsrNo != null and srchVhclRgsrNo != ''">
            AND   UPPER(B.VHCL_RGSR_NO) LIKE '%'||UPPER(#{srchVhclRgsrNo})||'%'
        </if>
        <if test="srchVhclChssNo != null and srchVhclChssNo != ''">
            AND   UPPER(B.VHCL_CHSS_NO) LIKE '%'||UPPER(#{srchVhclChssNo})||'%'
        </if>
        <if test="srchVhclKndCd != null and srchVhclKndCd != ''">
            AND   UPPER(B.VHCL_KND_CD) LIKE '%'||UPPER(#{srchVhclKndCd})||'%'
        </if>
        <if test="srchVhclStts != null and srchVhclStts != ''">
            AND B.VHCL_STTS = #{srchVhclStts}
        </if>

        ORDER BY B.VHCL_REF_NO
        <include refid="pagination.footer"/>
    </select>

    <!--
         Vérifier l'enregistrement du véhicule matricule !== 파라미터 동록 확인 ==!
     -->
    <select id="selectVhclRgsrCnt" parameterType="alpass.ipt.coc.mgmt.vhcl.vo.CocMgmtVhclVo" resultType="java.lang.Integer">
        /* selectVhclRgsrCnt */
        SELECT
        COUNT(1) AS CNT
        FROM tb_coc_vhcl
        WHERE DEL_YN = 'N'
        AND   VHCL_RGSR_NO = #{vhclRgsrNo}

    </select>

    <!--
         Vérifier l'enregistrement du véhicule  numero de chassis !== 파라미터 동록 확인 ==!
     -->
    <select id="selectVhclChssCnt" parameterType="alpass.ipt.coc.mgmt.vhcl.vo.CocMgmtVhclVo" resultType="java.lang.Integer">
        /* selectVhclChssCnt */
        SELECT
        COUNT(1) AS CNT
        FROM tb_coc_vhcl
        WHERE DEL_YN = 'N'
        AND   VHCL_CHSS_NO = #{vhclChssNo}
    </select>

    <!--
         Vérifier la date du véhicule !== 파라미터 날짜 확인 ==!


         Vérifier l'enregistrement du véhicule !== 파라미터 등록 ==!
     -->
    <insert id="insertVhcl" parameterType="alpass.ipt.coc.mgmt.vhcl.vo.CocMgmtVhclVo">
        /* insertVhcl */
        with upsert as
        (
        UPDATE TB_COC_VHCL SET
          LAST_CHPR_ID = #{lastChprId}
        , LAST_CHG_DTTM = SYSTIMESTAMP
        , DEL_YN = 'N'
        , VHCL_RGSR_NO = #{vhclRgsrNo}
        , VHCL_STTS = #{vhclStts}
        , VHCL_CND_CD = #{vhclCndCd}
        , VHCL_KND_CD = #{vhclKndCd}
        , VHCL_CHSS_NO = #{vhclChssNo}
        , VHCL_BRND_CD = #{vhclBrndCd}
        , VHCL_MDL_CD = #{vhclMdlCd}
        , VHCL_MNFC_YY = #{vhclMnfcYy}
        WHERE VHCL_REF_NO = #{vhclRefNo}
        returning *
        )
        INSERT INTO TB_COC_VHCL
        (
          VHCL_REF_NO
        , VHCL_RGSR_NO
        , VHCL_STTS
        , VHCL_CND_CD
        , VHCL_KND_CD
        , VHCL_CHSS_NO
        , ORGN_CD
        , DEL_YN
        , USE_YN
        , VHCL_BRND_CD
        , VHCL_MDL_CD
        , VHCL_MNFC_YY
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        SELECT
          #{vhclRefNo}
        , #{vhclRgsrNo}
        , #{vhclStts}
        , #{vhclCndCd}
        , #{vhclKndCd}
        , #{vhclChssNo}
        , #{orgnCd}
        , 'N'
        , 'y'
        , #{vhclBrndCd}
        , #{vhclMdlCd}
        , #{vhclMnfcYy}
        , #{frstRegstId}
        , SYSTIMESTAMP
        , #{lastChprId}
        , SYSTIMESTAMP
        WHERE NOT exists(select * from upsert)
    </insert>

    <!--
         Modifier un véhicule !== 파라미터 수정 ==!
     -->
    <update id="updateVhcl" parameterType="alpass.ipt.coc.mgmt.vhcl.vo.CocMgmtVhclVo">
        /* updateVhcl */
        UPDATE TB_COC_VHCL
        SET
          LAST_CHPR_ID = #{lastChprId}
        , LAST_CHG_DTTM = SYSTIMESTAMP
        , VHCL_RGSR_NO = #{vhclRgsrNo}
        , VHCL_STTS = #{vhclStts}
        , VHCL_CND_CD = #{vhclCndCd}
        , VHCL_KND_CD = #{vhclKndCd}
        , VHCL_CHSS_NO = #{vhclChssNo}
        , VHCL_BRND_CD = #{vhclBrndCd}
        , VHCL_MDL_CD = #{vhclMdlCd}
        , VHCL_MNFC_YY = #{vhclMnfcYy}
        WHERE VHCL_REF_NO = #{vhclRefNo}
        AND   DEL_YN = 'N'
    </update>

    <!--
     Supprimer un véhicule !== 파라미터 삭제 ==!
    -->
    <update id="deleteVhcl" parameterType="alpass.ipt.coc.mgmt.vhcl.vo.CocMgmtVhclVo">
        /* deleteVhcl */
        UPDATE TB_COC_VHCL
        SET
        LAST_CHPR_ID = #{lastChprId}
        , LAST_CHG_DTTM = SYSTIMESTAMP
        , DEL_YN = 'Y'
        WHERE VHCL_REF_NO = #{vhclRefNo}
    </update>

</mapper>
