<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.com.mapper.CarExpCmdtInvnMapper">

	<!--
    [Rechercher] @TODO 번역필요 !== 수출물품 재고 컨테이너를 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectExpCmdtInvnCntr" resultType="alpass.ipt.car.com.vo.CarExpCmdtInvnCntrVo">
    /* alpass.ipt.car.com.mapper.CarExpCmdtInvnMapper.selectExpCmdtInvnCntr */
    SELECT
			  A.EXP_CMDT_BRNG_RQNO				/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
		  , A.IBOBZ_CD				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
			, A.CNTR_SRNO				/**  N° De Séquence Du Conteneur  !== 컨테이너일련번호 ==!  */
      , A.INVN_YN				/**  Stock On  !== 재고여부 ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
    FROM TB_CARI_EXP_CMDT_BRNG_CNTR A
    WHERE A.INVN_YN = 'Y'				/**  Stock On  !== 재고여부 ==!  */
      AND A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
      AND A.EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} /**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
      AND A.IBOBZ_CD = #{ibobzCd}				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
      AND A.CNTR_NO = #{cntrNo}				/**  N° De Conteneur  !== 컨테이너번호 ==!  */
  </select>

	<!--
		[Modifier] @TODO 번역필요   !== 수출물품 재고를 등록&수정 한다. ==!
    (Yangjip Kim)
	-->
  <update id="mergeExpCmdtInvn" parameterType="alpass.ipt.car.com.vo.CarExpCmdtInvnVo">
    /* alpass.ipt.car.com.mapper.CarExpCmdtInvnMapper.mergeExpCmdtInvn */
    WITH UPSERT AS (
			UPDATE TB_CARI_EXP_CMDT_INVN SET
				  INVN_PCKG_GCNT = #{invnPckgGcnt} 			/**  Nombre de colis du stock  !== 재고포장개수 ==!  */
		    , INVN_WGHT = #{invnWght} 			/**  Poids Du Stock  !== 재고중량 ==!  */
		    , BRNG_PCKG_GCNT = #{brngPckgGcnt} 			/**  Nombre de colis introduits  !== 반입포장개수 ==!  */
		    , BRNG_WGHT = #{brngWght} 			/**  Poids introduit  !== 반입중량 ==!  */
		    , RLSE_PCKG_GCNT = #{rlsePckgGcnt} 			/**  Nombre de colis sortis  !== 반출포장개수 ==!  */
		    , RLSE_WGHT = #{rlseWght} 			/**  Poids sorti  !== 반출중량 ==!  */
		    , INVN_YN = #{invnYn} 			/**  Stock On  !== 재고여부 ==!  */
		    , DEL_YN = #{delYn} 			/**  Suppression On  !== 삭제여부 ==!  */
		    , LAST_CHPR_ID = #{lastChprId} 			/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		    , LAST_CHG_DTTM = SYSTIMESTAMP 	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			WHERE EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} 			/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
			  AND IBOBZ_CD = #{ibobzCd}				/**  Code de zone sous douane  !== 보세구역코드 ==!  */

			RETURNING *
		)
		INSERT INTO TB_CARI_EXP_CMDT_INVN (
		    EXP_CMDT_BRNG_RQNO				/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
		  , IBOBZ_CD				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
		  , INVN_PCKG_GCNT				/**  Nombre de colis du stock  !== 재고포장개수 ==!  */
		  , INVN_WGHT				/**  Poids Du Stock  !== 재고중량 ==!  */
		  , BRNG_PCKG_GCNT				/**  Nombre de colis introduits  !== 반입포장개수 ==!  */
		  , BRNG_WGHT				/**  Poids introduit  !== 반입중량 ==!  */
		  , RLSE_PCKG_GCNT				/**  Nombre de colis sortis  !== 반출포장개수 ==!  */
		  , RLSE_WGHT				/**  Poids sorti  !== 반출중량 ==!  */
		  , INVN_YN				/**  Stock On  !== 재고여부 ==!  */
		  , DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
		  , FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		  , FRST_RGSR_DTTM				/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		  , LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		  , LAST_CHG_DTTM				/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
   	)
		SELECT
		    #{expCmdtBrngRqno}			/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
		  , #{ibobzCd}			/**  Code de zone sous douane  !== 보세구역코드 ==!  */
		  , #{invnPckgGcnt}			/**  Nombre de colis du stock  !== 재고포장개수 ==!  */
		  , #{invnWght}			/**  Poids Du Stock  !== 재고중량 ==!  */
		  , #{brngPckgGcnt}			/**  Nombre de colis introduits  !== 반입포장개수 ==!  */
		  , #{brngWght}			/**  Poids introduit  !== 반입중량 ==!  */
		  , #{rlsePckgGcnt}			/**  Nombre de colis sortis  !== 반출포장개수 ==!  */
		  , #{rlseWght}			/**  Poids sorti  !== 반출중량 ==!  */
		  , #{invnYn}			/**  Stock On  !== 재고여부 ==!  */
		  , #{delYn}			/**  Suppression On  !== 삭제여부 ==!  */
		  , #{frstRegstId}			/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		  , SYSTIMESTAMP 	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		  , #{lastChprId}			/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		  , SYSTIMESTAMP 	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
     WHERE NOT EXISTS(SELECT * FROM UPSERT)
	</update>

	<!--
		[Modifier] @TODO 번역필요   !== 수출물품 재고 컨테이너를 등록&수정 한다. ==!
    (Yangjip Kim)
	-->
  <update id="mergeExpCmdtInvnCntr" parameterType="alpass.ipt.car.com.vo.CarExpCmdtInvnCntrVo">
    /* alpass.ipt.car.com.mapper.CarExpCmdtInvnMapper.mergeExpCmdtInvnCntr */
    WITH UPSERT AS (
			UPDATE TB_CARI_EXP_CMDT_INVN_CNTR SET
				  CNTR_NO = #{cntrNo} 			/**  N° De Conteneur  !== 컨테이너번호 ==!  */
			  , INVN_YN = #{invnYn} 			/**  Stock On  !== 재고여부 ==!  */
			  , DEL_YN = #{delYn} 			/**  Suppression On  !== 삭제여부 ==!  */
			  , LAST_CHPR_ID = #{lastChprId} 			/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			  , LAST_CHG_DTTM = SYSTIMESTAMP 	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			WHERE EXP_CMDT_BRNG_RQNO = #{expCmdtBrngRqno} 			/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
			  AND IBOBZ_CD = #{ibobzCd}				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
			  AND CNTR_NO = #{cntrNo}				/**  N° De Conteneur  !== 컨테이너번호 ==!  */

			RETURNING *
		)
		INSERT INTO TB_CARI_EXP_CMDT_INVN_CNTR (
			  EXP_CMDT_BRNG_RQNO				/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
		  , IBOBZ_CD				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
		  , CNTR_NO				/**  N° De Conteneur  !== 컨테이너번호 ==!  */
		  , INVN_YN				/**  Stock On  !== 재고여부 ==!  */
		  , DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
		  , FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		  , FRST_RGSR_DTTM				/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		  , LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		  , LAST_CHG_DTTM				/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
   	)
		SELECT
		    #{expCmdtBrngRqno}			/**  N° demande de l'introduction des marchandises à exporter  !== 수출물품반입신청번호 ==!  */
		  , #{ibobzCd}			/**  Code de zone sous douane  !== 보세구역코드 ==!  */
		  , #{cntrNo}			/**  N° De Conteneur  !== 컨테이너번호 ==!  */
		  , #{invnYn}			/**  Stock On  !== 재고여부 ==!  */
		  , #{delYn}			/**  Suppression On  !== 삭제여부 ==!  */
		  , #{frstRegstId}			/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		  , SYSTIMESTAMP 	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		  , #{lastChprId}			/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		  , SYSTIMESTAMP 	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
     WHERE NOT EXISTS(SELECT * FROM UPSERT)
	</update>
</mapper>
