<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.blgg.lst.mapper.PscInscLstMapper">

  <!--
  @TODO:번역필요 !== 휴대품 검사 목록 조회 ==!
  -->
	<!--
 @TODO:번역필요 !== 휴대품 검사 목록 조회 ==!
 -->
	<select id="selectPscInscDcshList"  parameterType="alpass.ipt.psc.blgg.lst.vo.PscInscSearchVo"
		resultType="alpass.ipt.psc.blgg.lst.vo.PscInscSearchVo">
		/* selectPscInscDcshList */
		<include refid="pagination.header" ></include>
		SELECT
		A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
		, A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
		, FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
		, A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
		, A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
		, FN_GET_CNTY_NM(A.NAT_CD, #{langCd}) AS NAT_CD_NM /**  !== 국가명 ==! */
		, A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
		, A.ETPR_HH                    /** Date/Heure De L'Entrée !== 입항시 ==! */
		, A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
		, A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
		, A.FLGH_FLNM                  /** N° De Vol !== 항공편명 ==! */
		, A.ARLN_CD                    /** Code De Compagnie Aerienne !== 항공사코드 ==! */
		, A.SHCO_NM                    /** Nom Du Consignataire !== 선사명 ==! */
		, A.SHCO_CD                    /** Code Du Consignataire !== 선사코드 ==! */
		, A.ISPR_ID                    /** Id Du Contrôleur !== 검사자ID ==! */
		, A.INSC_RSN_CD                /** Code De Motif Du Contrôle !== 검사사유코드 ==! */
		, A.INSC_BRKD_CD               /** Code De Résultat Du Contrôle !== 검사내역코드 ==! */
		, A.BLGG_PRCS_RSLT_CD          /** Code de résultat de traitement des effets personnels !== 휴대품처리결과코드 ==! */
		, A.RGSR_DT /** Date D'Enregistrement !== 등록일자 ==! */
		, TO_CHAR(TO_DATE(A.INSC_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS INSC_DT /** Date de vérification !== 검사일자 ==! */
		, A.XRAY_NO                    /** numéro de scannage !== XRAY번호 ==! */
		, A.XRAY_INSC_RSN              /** motif de scannage !== XRAY검사사유 ==! */
		, A.BIRT_REGN_NM               /** Lieu De Naissance !== 출생지역명 ==! */
		, A.BLGG_RQST_STTS_CD          /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
		<if test='blggMgmtNo != null and blggMgmtNo != ""'>
			, ( SELECT  B.DPST_SHED_NM FROM TB_PSCI_PSNR_BLGG_DPST B WHERE A.BLGG_MGMT_NO = B.BLGG_MGMT_NO ) AS DPST_SHED_NM
			, ( SELECT  B.DPST_RSN_CN FROM TB_PSCI_PSNR_BLGG_DPST B WHERE A.BLGG_MGMT_NO = B.BLGG_MGMT_NO ) AS DPST_RSN_CN
		</if>
		FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_IPRT A
		WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
		AND BLGG_MGMT_NO IN (SELECT BLGG_MGMT_NO FROM ALPASSINT.TB_PSCI_PSNR_BLGG_INSC_PDLS WHERE BLGG_MGMT_NO = A.BLGG_MGMT_NO
		<if test='blggEndTpCd != null and blggEndTpCd != ""'>
			AND BLGG_END_TP_CD = #{blggEndTpCd}
		</if>
		)
		<if test='blggMgmtNo != null and blggMgmtNo != ""'>
			AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
		</if>
		<if test='flghFlnm != null and flghFlnm != ""'>
			AND A.FLGH_FLNM = #{flghFlnm}
		</if>
		<if test='psprNo != null and psprNo != ""'>
			AND A.PSPR_NO = #{psprNo}
		</if>
		<if test='natCd != null and natCd != ""'>
			AND A.NAT_CD = #{natCd}
		</if>
		<if test='inscRsnCd != null and inscRsnCd != ""'>
			AND A.INSC_RSN_CD = #{inscRsnCd}
		</if>
		<if test='inscBrkdCd != null and inscBrkdCd != ""'>
			AND A.INSC_BRKD_CD = #{inscBrkdCd}
		</if>
		<if test='blggRqstSttsCd != null and blggRqstSttsCd != ""'>
			AND A.BLGG_RQST_STTS_CD = #{blggRqstSttsCd}
		</if>
		<if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
			AND A.INSC_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
		</if>
		ORDER BY A.FRST_RGSR_DTTM DESC
		<include refid="pagination.footer" ></include>
	</select>

  <select id="selectPscInscAudtDcshList"  parameterType="alpass.ipt.psc.blgg.lst.vo.PscInscSearchVo"
    resultType="alpass.ipt.psc.blgg.lst.vo.PscInscSearchVo">
      /* selectPscInscAudtDcshList */
      <include refid="pagination.header" ></include>
			SELECT
			A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
			, A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
			, FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
			, A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
			, A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
			, FN_GET_CNTY_NM(A.NAT_CD, #{langCd}) AS NAT_CD_NM /**  !== 국가명 ==! */
			, A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
			, A.ETPR_HH                    /** Date/Heure De L'Entrée !== 입항시 ==! */
			, A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
			, A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
			, A.FLGH_FLNM                  /** N° De Vol !== 항공편명 ==! */
			, A.ARLN_CD                    /** Code De Compagnie Aerienne !== 항공사코드 ==! */
			, A.SHCO_NM                    /** Nom Du Consignataire !== 선사명 ==! */
			, A.SHCO_CD                    /** Code Du Consignataire !== 선사코드 ==! */
			, A.ISPR_ID                    /** Id Du Contrôleur !== 검사자ID ==! */
			, A.INSC_RSN_CD                /** Code De Motif Du Contrôle !== 검사사유코드 ==! */
			, A.INSC_BRKD_CD               /** Code De Résultat Du Contrôle !== 검사내역코드 ==! */
			, A.BLGG_PRCS_RSLT_CD          /** Code de résultat de traitement des effets personnels !== 휴대품처리결과코드 ==! */
			, TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT /** Date D'Enregistrement !== 등록일자 ==! */
			, TO_CHAR(TO_DATE(A.INSC_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS INSC_DT /** Date de vérification !== 검사일자 ==! */
			, A.XRAY_NO                    /** numéro de scannage !== XRAY번호 ==! */
			, A.XRAY_INSC_RSN              /** motif de scannage !== XRAY검사사유 ==! */
			, A.BIRT_REGN_NM               /** Lieu De Naissance !== 출생지역명 ==! */
			, A.BLGG_DTRM_NO
			, A.BLGG_RQST_STTS_CD
			, A.ENCY_DEPR_TP_CD
			FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_IPRT A
			WHERE A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
			<if test='userCstmCd != null and userCstmCd != "" '>
				AND A.CSTM_CD = #{userCstmCd}
			</if>
			<if test='deptCd != null and deptCd != "" '>
				AND A.DEPT_CD = #{deptCd}
			</if>
			<if test="sctrCd != null and sctrCd != ''">
				AND A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
			</if>
			<if test='blggMgmtNo != null and blggMgmtNo != ""'>
				AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
			</if>
			<if test='blggDtrmNo != null and blggDtrmNo != ""'>
				AND  A.BLGG_DTRM_NO = #{blggDtrmNo}              /**  !==  ==! */
			</if>
			<if test='flghFlnm != null and flghFlnm != ""'>
				AND A.FLGH_FLNM = #{flghFlnm}
			</if>
			<if test='psprNo != null and psprNo != ""'>
				AND A.PSPR_NO = #{psprNo}
			</if>
			<if test='natCd != null and natCd != ""'>
				AND A.NAT_CD = #{natCd}
			</if>
			<if test='blggRqstSttsCd != null and blggRqstSttsCd != ""'>
				AND A.BLGG_RQST_STTS_CD = #{blggRqstSttsCd}
			</if>
			<if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
				AND A.RGSR_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
			</if>
			ORDER BY A.FRST_RGSR_DTTM DESC
      <include refid="pagination.footer" ></include>
  </select>

	<select id="selectPsRlbrDcshList"  parameterType="alpass.ipt.psc.blgg.lst.vo.PscInscSearchVo"
		resultType="alpass.ipt.psc.blgg.lst.vo.PscInscSearchVo">
		/* selectPsRlbrDcshList */
		<include refid="pagination.header" ></include>
		SELECT
		A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
		, A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
		, FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
		, A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
		, A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
		, FN_GET_CNTY_NM(A.NAT_CD, #{langCd}) AS NAT_CD_NM /**  !== 국가명 ==! */
		, A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
		, A.ETPR_HH                    /** Date/Heure De L'Entrée !== 입항시 ==! */
		, A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
		, A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
		, A.FLGH_FLNM                  /** N° De Vol !== 항공편명 ==! */
		, A.ARLN_CD                    /** Code De Compagnie Aerienne !== 항공사코드 ==! */
		, A.SHCO_NM                    /** Nom Du Consignataire !== 선사명 ==! */
		, A.SHCO_CD                    /** Code Du Consignataire !== 선사코드 ==! */
		, A.ISPR_ID                    /** Id Du Contrôleur !== 검사자ID ==! */
		, A.INSC_RSN_CD                /** Code De Motif Du Contrôle !== 검사사유코드 ==! */
		, A.INSC_BRKD_CD               /** Code De Résultat Du Contrôle !== 검사내역코드 ==! */
		, A.BLGG_PRCS_RSLT_CD          /** Code de résultat de traitement des effets personnels !== 휴대품처리결과코드 ==! */
		, TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT /** Date D'Enregistrement !== 등록일자 ==! */
		, TO_CHAR(TO_DATE(A.INSC_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS INSC_DT /** Date de vérification !== 검사일자 ==! */
		, A.XRAY_NO                    /** numéro de scannage !== XRAY번호 ==! */
		, A.XRAY_INSC_RSN              /** motif de scannage !== XRAY검사사유 ==! */
		, A.BIRT_REGN_NM               /** Lieu De Naissance !== 출생지역명 ==! */
		, A.BLGG_DTRM_NO
		, A.BLGG_RQST_STTS_CD
		, A.ENCY_DEPR_TP_CD
		FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_IPRT A, ALPASSINT.TB_PSCI_PSNR_BLGG_INSC_PDLS B
		WHERE A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
			AND A.BLGG_MGMT_NO = B.BLGG_MGMT_NO
			AND A.BLGG_RQST_STTS_CD = 'A4' /**  !== 승인 ==! */
			AND B.BLGG_END_TP_CD = '06' /**  !== 예치 ==! */
			AND ( B.DPST_CMD_YN = 'Y' or B.RLSE_PERM_YN = 'Y' )
		<if test='userCstmCd != null and userCstmCd != "" '>
			AND A.CSTM_CD = #{userCstmCd}
		</if>
		<if test='deptCd != null and deptCd != "" '>
			AND A.DEPT_CD = #{deptCd}
		</if>
		<if test="sctrCd != null and sctrCd != ''">
			AND A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
		</if>
		<if test='blggMgmtNo != null and blggMgmtNo != ""'>
			AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
		</if>
		<if test='blggDtrmNo != null and blggDtrmNo != ""'>
			AND  A.BLGG_DTRM_NO = #{blggDtrmNo}              /**  !==  ==! */
		</if>
		<if test='flghFlnm != null and flghFlnm != ""'>
			AND A.FLGH_FLNM = #{flghFlnm}
		</if>
		<if test='psprNo != null and psprNo != ""'>
			AND A.PSPR_NO = #{psprNo}
		</if>
		<if test='natCd != null and natCd != ""'>
			AND A.NAT_CD = #{natCd}
		</if>
		<if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
			AND A.RGSR_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
		</if>
		GROUP BY A.BLGG_MGMT_NO
		ORDER BY A.FRST_RGSR_DTTM DESC
		<include refid="pagination.footer" ></include>
	</select>



  
</mapper>