<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.hdcb.basemgmt.mapper.CarHdcbRprtBaseMgmtMapper">

	<sql id ="where_selectCarHdcbRprtBaseMgmtGrid">
		   AND a.del_yn = 'N'
		<if test="ibobzCd != null and ibobzCd != ''">
		   AND a.ibobz_cd = #{ibobzCd}
		</if>
		<if test="hdcbBsopPtCd != null and hdcbBsopPtCd != ''">
		   AND a.hdcb_bsop_pt_cd = #{hdcbBsopPtCd}
		</if>
		<if test="hdcbTpCd != null and hdcbTpCd != ''">
		   AND a.hdcb_tp_cd = #{hdcbTpCd}
		</if>
	</sql>

	<!--
	Consulter la liste des critères de gestion d'hydrocarbure.
	 !==탄화수소 기준관리의 목록 조회한다.==!
	-->
	<select id="selectCarHdcbRprtBaseMgmtList"
			parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseVo"
			resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseVo">
		/* CarHdcbRprtBaseMgmtMapper.selectCarHdcbRprtBaseMgmtList */
		<if test="pagination != null and  pagination == true ">
			<include refid="pagination.header" ></include>
		</if>
		SELECT a.ibobz_cd
		     , (SELECT ib.ibobz_nm
		          FROM tb_cari_ibobz ib
		         WHERE ib.del_yn = 'N'
		           AND ib.ibobz_cd = a.ibobz_cd) AS ibobz_nm  /** Nom d'entrepôt !== 보세창고명==! */
		     , (SELECT hdcb_co_cd
		          FROM tb_cari_hdcb_ibobz_co
		         WHERE 1=1
		           AND del_yn = 'N'
		           AND ibobz_cd = a.ibobz_cd) AS hdcb_co_cd
		     , (SELECT t1.co_nm
		          FROM tb_com_co t1, tb_com_co_dclr_cd t2
		         WHERE t1.del_yn = 'N'
		           AND t2.del_yn = 'N'
				   AND t2.RQST_TP_CD IN ('01','02') /* 신규나/수정 상태*/
				   AND t2.PRCS_STTS_CD = 'O' /* 업체  승인상태 */
				   AND t2.use_yn = 'Y' /* 사용여부 */
		           AND t1.nif = t2.nif
		           AND t2.co_dclr_cd = (SELECT hdcb_co_cd
		                                  FROM tb_cari_hdcb_ibobz_co
		                                 WHERE 1=1
		                                   AND del_yn = 'N'
		                                   AND ibobz_cd = a.ibobz_cd)) AS hdcb_co_nm
		     , a.hdcb_bsop_pt_cd
		     , a.hdcb_tp_cd
		  FROM tb_cari_hdcb_rprt_base a
		 WHERE 1=1
		   AND a.del_yn = 'N'
		   AND (SELECT t.jrsd_orgn_cd
		          FROM tb_cari_ibobz t
		         WHERE 1=1
		           AND t.del_yn = 'N'
		           AND t.ibobz_cd = a.ibobz_cd) LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'
		<if test="ibobzCd != null and ibobzCd != ''">
		   AND a.ibobz_cd = #{ibobzCd}
		</if>
		<if test="hdcbCoCd != null and hdcbCoCd != ''">
		   AND a.ibobz_cd IN (SELECT ibobz_cd
		                       FROM tb_cari_hdcb_ibobz_co
		                      WHERE 1=1
		                        AND del_yn = 'N'
		                        AND hdcb_co_cd = #{hdcbCoCd})
		</if>
		<if test="hdcbBsopPtCd != null and hdcbBsopPtCd != ''">
		   AND a.hdcb_bsop_pt_cd = #{hdcbBsopPtCd}
		</if>
		<if test="hdcbTpCd != null and hdcbTpCd != ''">
		   AND a.hdcb_tp_cd = #{hdcbTpCd}
		</if>
		 ORDER BY a.last_chg_dttm DESC
		<if test="pagination != null and  pagination == true ">
			<include refid="pagination.footer" ></include>
		</if>
	</select>

	<!-- Consulter les détails des critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리를 상세 조회한다.==! -->
	<select id="selectCarHdcbRprtBaseMgmtDetail"
			parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseVo"
			resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseVo">
		/* CarHdcbRprtBaseMgmtMapper.selectCarHdcbRprtBaseMgmtDetail */
		SELECT a.ibobz_cd  /** Code de zone sous douane !== 보세구역코드==! */
		     , (SELECT ib.ibobz_nm
		          FROM tb_cari_ibobz ib
		         WHERE del_yn = 'N'
		           AND ib.ibobz_cd = a.ibobz_cd) AS ibobz_nm  /** Nom d'entrepôt !== 보세창고명==! */
		     , a.hdcb_bsop_pt_cd  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		     , FN_GET_CD_VDVAL_NM('CAR_9008', a.hdcb_bsop_pt_cd, #{langCd}) AS hdcb_bsop_pt_nm
		     , a.hdcb_tp_cd  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		     , FN_GET_CD_VDVAL_NM('CAR_0014', a.hdcb_tp_cd, #{langCd}) AS hdcb_tp_nm
		  FROM tb_cari_hdcb_rprt_base a
		 WHERE 1=1
		   AND a.del_yn = 'N'
		   AND a.ibobz_cd = #{ibobzCd}
		   AND a.hdcb_bsop_pt_cd = #{hdcbBsopPtCd}
		   AND a.hdcb_tp_cd = #{hdcbTpCd}
	</select>

	<!-- Consulter la liste des introductions des critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리의 반입 목록을 조회한다.==! -->
	<select id="selectCarHdcbRprtBaseMgmtBrngList"
			parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseBrngVo"
			resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseBrngVo">
		/* CarHdcbRprtBaseMgmtMapper.selectCarHdcbRprtBaseMgmtBrngList */
		<if test="pagination != null and  pagination == true ">
			<include refid="pagination.header" ></include>
		</if>
		SELECT a.ibobz_cd
		     , (SELECT ib.ibobz_nm
		          FROM tb_cari_ibobz ib
		         WHERE ib.del_yn = 'N'
		           AND ib.ibobz_cd = a.ibobz_cd) AS ibobz_nm  /** Nom d'entrepôt !== 보세창고명==! */
		     , a.hdcb_bsop_pt_cd
		     , a.hdcb_tp_cd
		     , a.brng_srno
		     , a.mnfu_nm
		     , a.hs_cd
		     , TO_CHAR(a.hdcb_brng_dttm,'DD/MM/YYYY HH24:MI:SS') AS hdcb_brng_dttm
		     , a.dprp_jrsd_orgn_cd
		     , a.dprp_ibobz_cd
		     , a.imp_qty
		     , a.hdcb_save_meth_pt_cd
		     , a.comn_cunt_no_reff_nm
		     , a.hdcb_save_meth_acpe_aqty
		     , a.msrm_ut_nm
		     , TO_CHAR(a.char_dttm,'DD/MM/YYYY HH24:MI:SS')  AS char_dttm
		     , a.char_tprt
		     , a.wl_higt_mt
		     , a.frst_own_qty
		     , a.vlm
		     , a.wght
		     , TO_CHAR(a.ista_dttm,'DD/MM/YYYY HH24:MI:SS')  AS ista_dttm
		     , a.tanker_ssis_no
		     , a.vhcl_rgsr_no
		     , a.drvr_nm
		     , a.trnp_lcne_no
		     , a.ship_reff_nm
		     , a.capt_nm
		     , a.pili_reff_nm
		     , a.cunt_reff_nm
		     , a.del_yn                        /** Suppression On !== 삭제여부 ==! */
		     , a.frst_regst_id                 /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		     , TO_CHAR(a.frst_rgsr_dttm,'DD/MM/YYYY HH24:MI:SS')  AS frst_rgsr_dttm  /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		     , a.last_chpr_id                  /** Id Du Modificateur Final !== 최종변경자ID ==! */
		     , TO_CHAR(a.last_chg_dttm,'DD/MM/YYYY HH24:MI:SS')  AS last_chg_dttm  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM tb_cari_hdcb_rprt_base_brng a
		 WHERE 1=1
		<include refid="where_selectCarHdcbRprtBaseMgmtGrid" ></include>
		<if test="pagination != null and  pagination == true ">
			<include refid="pagination.footer" ></include>
		</if>
	</select>

	<!-- Consulter les infos détaillées sur l'introduction des critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리의 반입 상세정보를 조회한다.==! -->
	<select id="selectCarHdcbRprtBaseMgmtBrngDetail"
			parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseBrngVo"
			resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseBrngVo">
		/* CarHdcbRprtBaseMgmtMapper.selectCarHdcbRprtBaseMgmtBrngDetail */
		SELECT a.ibobz_cd
		     , (SELECT ib.ibobz_nm
		          FROM tb_cari_ibobz ib
		         WHERE ib.del_yn = 'N'
		           AND ib.ibobz_cd = a.ibobz_cd) AS ibobz_nm  /** Nom d'entrepôt !== 보세창고명==! */
		     , a.hdcb_bsop_pt_cd
		     , a.hdcb_tp_cd
		     , a.brng_srno
		     , a.mnfu_nm
		     , a.hs_cd
		     , TO_CHAR(a.hdcb_brng_dttm,'DD/MM/YYYY HH24:MI:SS') AS hdcb_brng_dttm
		     , a.dprp_jrsd_orgn_cd
		     , a.dprp_ibobz_cd
		     , a.imp_qty
		     , a.hdcb_save_meth_pt_cd
		     , a.comn_cunt_no_reff_nm
		     , a.hdcb_save_meth_acpe_aqty
		     , a.msrm_ut_nm
		     , TO_CHAR(a.char_dttm,'DD/MM/YYYY HH24:MI:SS')  AS char_dttm
		     , a.char_tprt
		     , a.wl_higt_mt
		     , a.frst_own_qty
		     , a.vlm
		     , a.wght
		     , TO_CHAR(a.ista_dttm,'DD/MM/YYYY HH24:MI:SS')  AS ista_dttm
		     , a.tanker_ssis_no
		     , a.vhcl_rgsr_no
		     , a.drvr_nm
		     , a.trnp_lcne_no
		     , a.ship_reff_nm
		     , a.capt_nm
		     , a.pili_reff_nm
		     , a.cunt_reff_nm
		  FROM tb_cari_hdcb_rprt_base_brng a
		 WHERE 1=1
		   AND a.del_yn = 'N'
		   AND a.ibobz_cd = #{ibobzCd}
		   AND a.hdcb_bsop_pt_cd = #{hdcbBsopPtCd}
		   AND a.hdcb_tp_cd = #{hdcbTpCd}
		   AND a.brng_srno = #{brngSrno}
	</select>

	<!-- Consulter la liste des sorties des critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리 반출 목록을 조회한다.==! -->
	<select id="selectCarHdcbRprtBaseMgmtRlseList"
			parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseRlseVo"
			resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseRlseVo">
		/* CarHdcbRprtBaseMgmtMapper.selectCarHdcbRprtBaseMgmtRlseList */
		<if test="pagination != null and  pagination == true ">
			<include refid="pagination.header" ></include>
		</if>
		SELECT a.ibobz_cd
		     , (SELECT ib.ibobz_nm
		          FROM tb_cari_ibobz ib
		         WHERE ib.del_yn = 'N'
		           AND ib.ibobz_cd = a.ibobz_cd) AS ibobz_nm  /** Nom d'entrepôt !== 보세창고명==! */
		     , a.hdcb_bsop_pt_cd
		     , a.hdcb_tp_cd
		     , a.rlse_srno
		     , a.mnfu_nm
		     , a.hs_cd
		     , TO_CHAR(a.hdcb_rlse_dttm,'DD/MM/YYYY HH24:MI:SS') AS hdcb_rlse_dttm
		     , a.arlc_jrsd_orgn_cd
		     , a.arlc_ibobz_cd
		     , a.hdcb_rlse_pt_cd
		     , a.hdcb_rlse_meth_cd
		     , a.rela_no
		     , a.hdcb_send_meth_acpe_aqty
		     , a.msrm_ut_nm
		     , TO_CHAR(a.rlse_dttm,'DD/MM/YYYY HH24:MI:SS')  AS rlse_dttm
		     , a.rlse_tprt
		     , a.wl_higt_mt
		     , TO_CHAR(a.ista_dttm,'DD/MM/YYYY HH24:MI:SS')  AS ista_dttm
		     , a.shpm_bf_qty
		     , a.shpm_af_qty
		     , a.rlse_pt_qty
		     , a.tanker_ssis_no
		     , a.vhcl_rgsr_no
		     , a.drvr_nm
		     , a.trnp_lcne_no
		     , a.ship_reff_nm
		     , a.capt_nm
		     , a.pili_reff_nm
		     , a.cunt_reff_nm
		     , a.del_yn                        /** Suppression On !== 삭제여부 ==! */
		     , a.frst_regst_id                 /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		     , TO_CHAR(a.frst_rgsr_dttm,'DD/MM/YYYY HH24:MI:SS')  AS frst_rgsr_dttm  /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		     , a.last_chpr_id                  /** Id Du Modificateur Final !== 최종변경자ID ==! */
		     , TO_CHAR(a.last_chg_dttm,'DD/MM/YYYY HH24:MI:SS')  AS last_chg_dttm  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM tb_cari_hdcb_rprt_base_rlse a
		 WHERE 1=1
		<include refid="where_selectCarHdcbRprtBaseMgmtGrid" ></include>
		<if test="pagination != null and  pagination == true ">
			<include refid="pagination.footer" ></include>
		</if>
	</select>

	<!-- Consulter les infos détaillées sur la sortie des critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리 반출 상세정보를 조회한다.==! -->
	<select id="selectCarHdcbRprtBaseMgmtRlseDetail"
			parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseRlseVo"
			resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseRlseVo">
		/* CarHdcbRprtBaseMgmtMapper.selectCarHdcbRprtBaseMgmtRlseDetail */
		SELECT a.ibobz_cd
		     , (SELECT ib.ibobz_nm
		          FROM tb_cari_ibobz ib
		         WHERE ib.del_yn = 'N'
		           AND ib.ibobz_cd = a.ibobz_cd) AS ibobz_nm  /** Nom d'entrepôt !== 보세창고명==! */
		     , a.hdcb_bsop_pt_cd
		     , a.hdcb_tp_cd
		     , a.rlse_srno
		     , a.mnfu_nm
		     , a.hs_cd
		     , TO_CHAR(a.hdcb_rlse_dttm,'DD/MM/YYYY HH24:MI:SS') AS hdcb_rlse_dttm
		     , a.arlc_jrsd_orgn_cd
		     , a.arlc_ibobz_cd
		     , a.hdcb_rlse_pt_cd
		     , a.hdcb_rlse_meth_cd
		     , a.rela_no
		     , a.hdcb_send_meth_acpe_aqty
		     , a.msrm_ut_nm
		     , TO_CHAR(a.rlse_dttm,'DD/MM/YYYY HH24:MI:SS')  AS rlse_dttm
		     , a.rlse_tprt
		     , a.wl_higt_mt
		     , TO_CHAR(a.ista_dttm,'DD/MM/YYYY HH24:MI:SS')  AS ista_dttm
		     , a.shpm_bf_qty
		     , a.shpm_af_qty
		     , a.rlse_pt_qty
		     , a.tanker_ssis_no
		     , a.vhcl_rgsr_no
		     , a.drvr_nm
		     , a.trnp_lcne_no
		     , a.ship_reff_nm
		     , a.capt_nm
		     , a.pili_reff_nm
		     , a.cunt_reff_nm
		  FROM tb_cari_hdcb_rprt_base_rlse a
		 WHERE 1=1
		   AND a.del_yn = 'N'
		   AND a.ibobz_cd = #{ibobzCd}
		   AND a.hdcb_bsop_pt_cd = #{hdcbBsopPtCd}
		   AND a.hdcb_tp_cd = #{hdcbTpCd}
		   AND a.rlse_srno = #{rlseSrno}
	</select>
	
	<!--  Sauvegarder les critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리를 저장한다.==! -->
	<insert id="insertCariHdcbRprtBase"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseVo">
		/* CarHdcbRprtBaseMgmtMapper.insertCariHdcbRprtBase */
		INSERT INTO tb_cari_hdcb_rprt_base
		       ( ibobz_cd                      /** Code de zone sous douane !== 보세구역코드 ==! */
		       , hdcb_bsop_pt_cd               /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		       , hdcb_tp_cd                    /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		       , del_yn                        /** Suppression On !== 삭제여부 ==! */
		       , frst_regst_id                 /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		       , frst_rgsr_dttm                /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		       , last_chpr_id                  /** Id Du Modificateur Final !== 최종변경자ID ==! */
		       , last_chg_dttm                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)  VALUES (
		         #{ibobzCd}                    /** Code de zone sous douane !== 보세구역코드 ==! */
		       , #{hdcbBsopPtCd}               /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		       , #{hdcbTpCd}                   /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		       , 'N'                           /** Suppression On !== 삭제여부 ==! */
		       , #{frstRegstId}                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		       , SYSTIMESTAMP                  /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		       , #{lastChprId}                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
		       , SYSTIMESTAMP                  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
	</insert>
	
	<!--  Modifier les critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리를 수정한다.==! -->
	<update id="updateCariHdcbRprtBase"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseVo">
		/* CarHdcbRprtBaseMgmtMapper.updateCariHdcbRprtBase */
		UPDATE tb_cari_hdcb_rprt_base
		   SET del_yn = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
		     , last_chpr_id = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
		     , last_chg_dttm = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
		     , ibobz_cd = #{ibobzCdMod}  /** Code de zone sous douane !== 보세구역코드 ==! */
		     , hdcb_bsop_pt_cd = #{hdcbBsopPtCdMod}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		     , hdcb_tp_cd = #{hdcbTpCdMod}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		 WHERE 1=1
		   AND ibobz_cd = #{ibobzCd}  /** Code de zone sous douane !== 보세구역코드 ==! */
		   AND hdcb_bsop_pt_cd = #{hdcbBsopPtCd}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		   AND hdcb_tp_cd = #{hdcbTpCd}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
	</update>
	
	<!--  Modifier les critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리 수정한다.(반입)==! -->
	<update id="updateCariHdcbRprtBaseBrng"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseBrngVo">
		/* CarHdcbRprtBaseMgmtMapper.updateCariHdcbRprtBaseBrng */
		UPDATE tb_cari_hdcb_rprt_base_brng
		   SET del_yn = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
		     , last_chpr_id = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
		     , last_chg_dttm = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
		     , mnfu_nm = #{mnfuNm}
		     , hs_cd = #{hsCd}
		     , hdcb_brng_dttm = TO_TIMESTAMP(#{hdcbBrngDttm}, 'DD/MM/YYYY HH24:MI:SS')
		     , dprp_jrsd_orgn_cd = #{dprpJrsdOrgnCd}
		     , dprp_ibobz_cd = #{dprpIbobzCd}
		     , imp_qty = #{impQty}
		     , hdcb_save_meth_pt_cd = #{hdcbSaveMethPtCd}
		     , comn_cunt_no_reff_nm = #{comnCuntNoReffNm}
		     , hdcb_save_meth_acpe_aqty = #{hdcbSaveMethAcpeAqty}
		     , msrm_ut_nm = #{msrmUtNm}
		     , char_dttm = TO_TIMESTAMP(#{charDttm}, 'DD/MM/YYYY HH24:MI:SS')
		     , char_tprt = #{charTprt}
		     , wl_higt_mt = #{wlHigtMt}
		     , frst_own_qty = #{frstOwnQty}
		     , vlm = #{vlm}
		     , wght = #{wght}
		     , ista_dttm = TO_TIMESTAMP(#{istaDttm}, 'DD/MM/YYYY HH24:MI:SS')
		     , tanker_ssis_no = #{tankerSsisNo}
		     , vhcl_rgsr_no = #{vhclRgsrNo}
		     , drvr_nm = #{drvrNm}
		     , trnp_lcne_no = #{trnpLcneNo}
		     , ship_reff_nm = #{shipReffNm}
		     , capt_nm = #{captNm}
		     , pili_reff_nm = #{piliReffNm}
		     , cunt_reff_nm = #{cuntReffNm}
		 WHERE 1=1
		   AND ibobz_cd = #{ibobzCd}  /** Code de zone sous douane !== 보세구역코드 ==! */
		   AND hdcb_bsop_pt_cd = #{hdcbBsopPtCd}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		   AND hdcb_tp_cd = #{hdcbTpCd}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		   AND brng_srno = #{brngSrno}
	</update>
	
	<!--  Modifier les critères de gestion d'hydrocarbure.
	  !==탄화수소 기준관리 수정한다.(반출)==! -->
	<update id="updateCariHdcbRprtBaseRlse"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseRlseVo">
		/* CarHdcbRprtBaseMgmtMapper.updateCariHdcbRprtBaseRlse */
		UPDATE tb_cari_hdcb_rprt_base_rlse
		   SET del_yn = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
		     , last_chpr_id = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
		     , last_chg_dttm = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
		     , mnfu_nm = #{mnfuNm}
		     , hs_cd = #{hsCd}
		     , hdcb_rlse_dttm = TO_TIMESTAMP(#{hdcbRlseDttm}, 'DD/MM/YYYY HH24:MI:SS')
		     , arlc_jrsd_orgn_cd = #{arlcJrsdOrgnCd}
		     , arlc_ibobz_cd = #{arlcIbobzCd}
		     , hdcb_rlse_pt_cd = #{hdcbRlsePtCd}
		     , hdcb_rlse_meth_cd = #{hdcbRlseMethCd}
		     , rela_no = #{relaNo}
		     , hdcb_send_meth_acpe_aqty = #{hdcbSendMethAcpeAqty}
		     , msrm_ut_nm = #{msrmUtNm}
		     , rlse_dttm = TO_TIMESTAMP(#{rlseDttm}, 'DD/MM/YYYY HH24:MI:SS')
		     , rlse_tprt = #{rlseTprt}
		     , wl_higt_mt = #{wlHigtMt}
		     , ista_dttm = TO_TIMESTAMP(#{istaDttm}, 'DD/MM/YYYY HH24:MI:SS')
		     , shpm_bf_qty = #{shpmBfQty}
		     , shpm_af_qty = #{shpmAfQty}
		     , rlse_pt_qty = #{rlsePtQty}
		     , tanker_ssis_no = #{tankerSsisNo}
		     , vhcl_rgsr_no = #{vhclRgsrNo}
		     , drvr_nm = #{drvrNm}
		     , trnp_lcne_no = #{trnpLcneNo}
		     , ship_reff_nm = #{shipReffNm}
		     , capt_nm = #{captNm}
		     , pili_reff_nm = #{piliReffNm}
		     , cunt_reff_nm = #{cuntReffNm}
		 WHERE 1=1
		   AND ibobz_cd = #{ibobzCd}  /** Code de zone sous douane !== 보세구역코드 ==! */
		   AND hdcb_bsop_pt_cd = #{hdcbBsopPtCd}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		   AND hdcb_tp_cd = #{hdcbTpCd}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		   AND rlse_srno = #{rlseSrno}
	</update>

	<!--Modifier les critères de gestion d'hydrocarbure.
	 !==탄화수소 기준관리를 삭제한다.==!-->
	<delete id="deleteCariHdcbRprtBase"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseVo">
		/* CarHdcbRprtBaseMgmtMapper.deleteCariHdcbRprtBase */
		DELETE tb_cari_hdcb_rprt_base
		 WHERE 1=1
		   AND ibobz_cd = #{ibobzCd}  /** Code de zone sous douane !== 보세구역코드 ==! */
		   AND hdcb_bsop_pt_cd = #{hdcbBsopPtCd}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		   AND hdcb_tp_cd = #{hdcbTpCd}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
	</delete>

	<!--Supprimer les critères de gestion d'hydrocarbure.
	!==탄화수소 기준관리를 삭제한다.(반입)==!-->
	<delete id="deleteCariHdcbRprtBaseBrng"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseBrngVo">
		/*CarHdcbRprtBaseMgmtMapper.deleteCariHdcbRprtBaseBrng*/
		DELETE tb_cari_hdcb_rprt_base_brng
		 WHERE 1=1
		   AND ibobz_cd = #{ibobzCd}  /** Code de zone sous douane !== 보세구역코드 ==! */
		   AND hdcb_bsop_pt_cd = #{hdcbBsopPtCd}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		   AND hdcb_tp_cd = #{hdcbTpCd}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		<if test="brngSrno != null and brngSrno != ''">
		   AND brng_srno = #{brngSrno}
		</if>
	</delete>

	<!--Supprimer les critères de gestion d'hydrocarbure.
	 !==탄화수소 기준관리를 삭제한다.(반출)==!-->
	<delete id="deleteCariHdcbRprtBaseRlse"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseRlseVo">
		/*CarHdcbRprtBaseMgmtMapper.deleteCariHdcbRprtBaseRlse*/
		DELETE tb_cari_hdcb_rprt_base_rlse
		 WHERE 1=1
		   AND ibobz_cd = #{ibobzCd}  /** Code de zone sous douane !== 보세구역코드 ==! */
		   AND hdcb_bsop_pt_cd = #{hdcbBsopPtCd}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		   AND hdcb_tp_cd = #{hdcbTpCd}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		<if test="rlseSrno != null and rlseSrno != ''">
		   AND rlse_srno = #{rlseSrno}
		</if>
	</delete>

	<!--Sauvegarder les critères de gestion d'hydrocarbure.
	 !==탄화수소 기준관리를 저장한다.(반입)==!-->
	<insert id="insertCariHdcbRprtBaseBrng"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseBrngVo">
		/* CarHdcbRprtBaseMgmtMapper.insertCariHdcbRprtBaseBrng */
		<selectKey keyProperty="brngSrno" resultType="java.math.BigDecimal" order="BEFORE">
		SELECT NVL(MAX(TO_NUMBER(TRIM(brng_srno))),0)+1
		  FROM tb_cari_hdcb_rprt_base_brng
		 WHERE 1=1 
		   AND ibobz_cd = #{ibobzCd}  /** Code de zone sous douane !== 보세구역코드 ==! */
		   AND hdcb_bsop_pt_cd = #{hdcbBsopPtCd}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		   AND hdcb_tp_cd = #{hdcbTpCd}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		</selectKey>
		INSERT INTO tb_cari_hdcb_rprt_base_brng
		       ( ibobz_cd             
		       , hdcb_bsop_pt_cd               
		       , hdcb_tp_cd               
		       , brng_srno               
		       , mnfu_nm               
		       , hs_cd               
		       , hdcb_brng_dttm      
		       , dprp_jrsd_orgn_cd  
		       , dprp_ibobz_cd  
		       , imp_qty  
		       , hdcb_save_meth_pt_cd  
		       , comn_cunt_no_reff_nm  
		       , hdcb_save_meth_acpe_aqty  
		       , msrm_ut_nm  
		       , char_dttm  
		       , char_tprt  
		       , wl_higt_mt  
		       , frst_own_qty  
		       , vlm  
		       , wght  
		       , ista_dttm  
		       , tanker_ssis_no  
		       , vhcl_rgsr_no  
		       , drvr_nm  
		       , trnp_lcne_no  
		       , ship_reff_nm  
		       , capt_nm  
		       , pili_reff_nm  
		       , cunt_reff_nm  
		       , del_yn                        /** Suppression On !== 삭제여부 ==! */
		       , frst_regst_id                 /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		       , frst_rgsr_dttm                /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		       , last_chpr_id                  /** Id Du Modificateur Final !== 최종변경자ID ==! */
		       , last_chg_dttm                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)  VALUES (
		         #{ibobzCd}       
		       , #{hdcbBsopPtCd}         
		       , #{hdcbTpCd}         
		       , #{brngSrno}         
		       , #{mnfuNm}         
		       , #{hsCd}         
		       , TO_TIMESTAMP(#{hdcbBrngDttm}, 'DD/MM/YYYY HH24:MI:SS')
		       , #{dprpJrsdOrgnCd}
		       , #{dprpIbobzCd}
		       , #{impQty}
		       , #{hdcbSaveMethPtCd}
		       , #{comnCuntNoReffNm}
		       , #{hdcbSaveMethAcpeAqty}
		       , #{msrmUtNm}
		       , TO_TIMESTAMP(#{charDttm}, 'DD/MM/YYYY HH24:MI:SS')
		       , #{charTprt}
		       , #{wlHigtMt}
		       , #{frstOwnQty}
		       , #{vlm}
		       , #{wght}
		       , TO_TIMESTAMP(#{istaDttm}, 'DD/MM/YYYY HH24:MI:SS')
		       , #{tankerSsisNo}
		       , #{vhclRgsrNo}
		       , #{drvrNm}
		       , #{trnpLcneNo}
		       , #{shipReffNm}
		       , #{captNm}
		       , #{piliReffNm}
		       , #{cuntReffNm}
		       , 'N'                           /** Suppression On !== 삭제여부 ==! */
		       , #{frstRegstId}                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		       , SYSTIMESTAMP                  /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		       , #{lastChprId}                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
		       , SYSTIMESTAMP                  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
	</insert>

	<!--Sauvegarder les critères de gestion d'hydrocarbure.
	 !==탄화수소 기준관리를 저장한다.(반출)==!-->
	<insert id="insertCariHdcbRprtBaseRlse"
		    parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcbRprtBaseRlseVo">
		/* CarHdcbRprtBaseMgmtMapper.insertCariHdcbRprtBaseRlse */
		<selectKey keyProperty="rlseSrno" resultType="java.math.BigDecimal" order="BEFORE">
		SELECT NVL(MAX(TO_NUMBER(TRIM(rlse_srno))),0)+1
		  FROM tb_cari_hdcb_rprt_base_rlse
		 WHERE 1=1 
		   AND ibobz_cd = #{ibobzCd}  /** Code de zone sous douane !== 보세구역코드 ==! */
		   AND hdcb_bsop_pt_cd = #{hdcbBsopPtCd}  /** Code de Type d’activité !== 탄화수소업무유형코드 ==! */
		   AND hdcb_tp_cd = #{hdcbTpCd}  /** Code de catégorie d'hydrocarbure !== 탄화수소구분코드 ==! */
		</selectKey>
		INSERT INTO tb_cari_hdcb_rprt_base_rlse
		       ( ibobz_cd             
		       , hdcb_bsop_pt_cd               
		       , hdcb_tp_cd               
		       , rlse_srno               
		       , mnfu_nm               
		       , hs_cd               
		       , hdcb_rlse_dttm      
		       , arlc_jrsd_orgn_cd  
		       , arlc_ibobz_cd  
		       , hdcb_rlse_pt_cd  
		       , hdcb_rlse_meth_cd  
		       , rela_no  
		       , hdcb_send_meth_acpe_aqty  
		       , msrm_ut_nm  
		       , rlse_dttm  
		       , rlse_tprt  
		       , wl_higt_mt  
		       , ista_dttm  
		       , shpm_bf_qty  
		       , shpm_af_qty  
		       , rlse_pt_qty  
		       , tanker_ssis_no  
		       , vhcl_rgsr_no  
		       , drvr_nm  
		       , trnp_lcne_no  
		       , ship_reff_nm  
		       , capt_nm  
		       , pili_reff_nm  
		       , cunt_reff_nm  
		       , del_yn                        /** Suppression On !== 삭제여부 ==! */
		       , frst_regst_id                 /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		       , frst_rgsr_dttm                /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		       , last_chpr_id                  /** Id Du Modificateur Final !== 최종변경자ID ==! */
		       , last_chg_dttm                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)  VALUES (
		         #{ibobzCd}
		       , #{hdcbBsopPtCd}
		       , #{hdcbTpCd}
		       , #{rlseSrno}
		       , #{mnfuNm}
		       , #{hsCd}
		       , TO_TIMESTAMP(#{hdcbRlseDttm}, 'DD/MM/YYYY HH24:MI:SS')
		       , #{arlcJrsdOrgnCd}
		       , #{arlcIbobzCd}
		       , #{hdcbRlsePtCd}
		       , #{hdcbRlseMethCd}
		       , #{relaNo}
		       , #{hdcbSendMethAcpeAqty}
		       , #{msrmUtNm}
		       , TO_TIMESTAMP(#{rlseDttm}, 'DD/MM/YYYY HH24:MI:SS')
		       , #{rlseTprt}
		       , #{wlHigtMt}
		       , TO_TIMESTAMP(#{istaDttm}, 'DD/MM/YYYY HH24:MI:SS')
		       , #{shpmBfQty}
		       , #{shpmAfQty}
		       , #{rlsePtQty}
		       , #{tankerSsisNo}
		       , #{vhclRgsrNo}
		       , #{drvrNm}
		       , #{trnpLcneNo}
		       , #{shipReffNm}
		       , #{captNm}
		       , #{piliReffNm}
		       , #{cuntReffNm}
		       , 'N'                           /** Suppression On !== 삭제여부 ==! */
		       , #{frstRegstId}                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		       , SYSTIMESTAMP                  /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		       , #{lastChprId}                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
		       , SYSTIMESTAMP                  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
	</insert>

</mapper>

