<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.hdcb.basemgmt.mapper.CarHdcdBaseMgmtMapper">



    <!--
    !== 탄화수소 보세구역 업체 SQL ==!
    (Im Jae woo)
    -->
    <sql id ="sqlCarHdcbIbobzCo">
        SELECT T1.IBOBZ_CD             /** Code de zone sous douane !== 보세구역코드 ==! */
             , T2.IBOBZ_NM             /** Nom de l’usine exercée !== 보세공장명 ==! */
             , T1.HDCB_CO_CD           /** Code d'entreprise hydrocarbon !== 탄화수소업체코드 ==! */
             , T3.CO_NM                /** Nom et raison sociale !== 업체명 ==! */
             , T3.CO_ADDR              /** Adresse !== 업체주소 ==! */
             , T3.NIF                  /** NIF !== 납세자식별번호 ==! */
             , T3.CMRC_REGS_NO         /** N° RC !== 상업등기번호 ==! */
             , T1.CVNT_NO              /** N° du contrat !== 계약번호 ==! */
             , TO_CHAR(TO_DATE(T1.CVNT_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY')  AS CVNT_STRT_DT /** Date de début du contrat !== 계약시작일자 ==! */
             , TO_CHAR(TO_DATE(T1.CVNT_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS CVNT_END_DT /** Date de fin du contrat !== 계약종료일자 ==! */
             , T1.PRAB_VAL             /** Capacité de la production !== 생산능력값 ==! */
             , T1.MG_NO                /** N° de caution !== 담보번호 ==! */
             , TO_CHAR(TO_DATE(T1.MG_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY')  AS MG_STRT_DT /** Date début garantie !== 담보시작일자 ==! */
             , T1.FRST_REGST_ID
             , T1.FRST_RGSR_DTTM
          FROM TB_CARI_HDCB_IBOBZ_CO T1
          LEFT JOIN TB_CARI_IBOBZ T2
            ON T1.IBOBZ_CD = T2.IBOBZ_CD
          LEFT OUTER JOIN (SELECT A.NIF, A.CO_ADDR, A.CO_NM, A.CMRC_REGS_NO,  B.CO_DCLR_CD
                             FROM TB_COM_CO A, TB_COM_CO_DCLR_CD B
                            WHERE A.DEL_YN = 'N' AND B.DEL_YN = 'N'
                              AND A.NIF = B.NIF
                              AND B.RQST_TP_CD IN ('01','02') /* 신규나/수정 상태*/
                              AND B.PRCS_STTS_CD = 'O' /* 업체  승인상태 */
                              AND B.USE_YN = 'Y' /* 사용여부 */) T3
            ON T1.HDCB_CO_CD = T3.CO_DCLR_CD
         WHERE T1.DEL_YN = 'N'
    </sql>
    
    
    <!--
    !== 탄화수소 유정 SQL ==!
    (Im Jae woo)
    -->
    <sql id ="sqlCarHdcbOiwe">
        SELECT T1.OIWE_MGRN       /** Numéro de contrôle du puits !== 유정관리번호 ==! */
             , T1.IBOBZ_CD        /** Code de zone sous douane !== 보세구역코드 ==! */
             , T1.OIWE_NM         /** Nom du puits de pétrole !== 유정명 ==! */
             , T1.OIWE_LOCT_NM    /** Localisation du puits de pétrole !== 유정위치명 ==! */
             , T1.RESE_AQTY       /** Réserves !== 매장량 ==! */
             , T1.FRST_REGST_ID
             , T1.FRST_RGSR_DTTM
             , T2.IBOBZ_NM        /** Nom de l’usine exercée !== 보세공장명 ==! */
          FROM TB_CARI_HDCB_OIWE T1
          LEFT JOIN TB_CARI_IBOBZ T2
            ON T1.IBOBZ_CD = T2.IBOBZ_CD
         WHERE T1.DEL_YN = 'N'
    </sql>
    
    <!--
    !== 탄화수소 시설물 SQL ==!
    (Im Jae woo)
    -->
    <sql id ="sqlCarHdcbFclt">
        SELECT T1.IBOBZ_CD                 /** Code de zone sous douane !== 보세구역코드 ==! */
             , T1.FCLT_SRNO                /** Numéro de série de l'installation !== 시설물 일련번호 ==! */
             , T1.FCLT_REFF_NO             /** Référence des installations !== 시설물참조번호 ==! */
             , T1.STBY_CRPP_NO             /** Certificats de conformité (N°) !== 적합증명서번호 ==! */
             , TO_CHAR(TO_DATE(T1.STBY_CRPP_VALD_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY')  AS STBY_CRPP_VALD_STRT_DT   /** Date de fin de validité du certificat de conformité !== 적합증명서 유효시작일자 ==! */
             , TO_CHAR(TO_DATE(T1.STBY_CRPP_VALD_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY')  AS STBY_CRPP_VALD_END_DT     /** Date de début de validité du certificat de conformité !== 적합증명서 유효종료일자 ==! */
             , T1.FCLT_TP_CD               /** Les installations !== 시설구분코드 ==! */
             , T1.SORT_ORDR                /** Ordre D'Alignement !== 정렬순서 ==! */
             , T1.FRST_REGST_ID
             , T1.FRST_RGSR_DTTM
             , T2.IBOBZ_NM        /** Nom de l’usine exercée !== 보세공장명 ==! */
          FROM TB_CARI_HDCB_FCLT T1
          LEFT JOIN TB_CARI_IBOBZ T2
            ON T1.IBOBZ_CD = T2.IBOBZ_CD
         WHERE T1.DEL_YN = 'N'
    </sql>
    
    
    <!--
       Consulter la liste des exploitants de la zone sous douane pour les hydrocarbures
    !== 탄화수소 보세구역 업체 목록 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarHdcbIbobzCoList"
            parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo"
            resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
            /* CarHdcdBaseMgmtMapper.selectCarHdcbIbobzCoList */
            <include refid="pagination.header" ></include>
                <include refid="sqlCarHdcbIbobzCo" ></include>
                    <if test="ibobzCd != '' and ibobzCd != null">
                        AND T1.IBOBZ_CD = #{ibobzCd}
                    </if>
                    <if test="nif != '' and nif != null">
                        AND T3.NIF LIKE '%' || #{nif} || '%'
                    </if>
                    <if test="coNm != '' and coNm != null">
                        AND T3.CO_NM LIKE '%' || #{coNm} || '%'
                    </if>
                    <if test="cmrcRegsNo != '' and cmrcRegsNo != null">
                        AND T3.CMRC_REGS_NO LIKE '%' || #{cmrcRegsNo} || '%'
                    </if>
                    ORDER BY T1.FRST_RGSR_DTTM DESC
                <include refid="pagination.footer" ></include>
    </select>
    
       <!--
       Consulter la liste des puits d'hydrocarbure
    !== 탄화수소 유정 목록 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarHdcbOiweList"
            parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo"
            resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.selectCarHdcbOiweList */
            <include refid="pagination.header" ></include>
                <include refid="sqlCarHdcbOiwe" ></include>
                    <if test="ibobzCd != '' and ibobzCd != null">
                           AND T1.IBOBZ_CD = #{ibobzCd}
                    </if>
                    <if test="oiweNm != '' and oiweNm != null">
                           AND T1.OIWE_NM LIKE '%' || #{oiweNm} || '%'
                    </if>
                 ORDER BY T1.FRST_RGSR_DTTM DESC
                <include refid="pagination.footer" ></include>
    </select>
    
       <!--
       Consulter la liste des installations d'hydrocarbure
    !== 탄화수소 시설물 목록 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarHdcbFcltList"
            parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo"
            resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.selectCarHdcbFcltList */
            <include refid="pagination.header" ></include>
                <include refid="sqlCarHdcbFclt" ></include>
		         <if test="ibobzCd != '' and ibobzCd != null">
                  AND T1.IBOBZ_CD = #{ibobzCd}
                </if>
                <if test="fcltSrno != '' and fcltSrno != null">
                  AND T1.FCLT_SRNO LIKE '%' || #{fcltSrno} || '%'
                </if>
                <if test="fcltReffNo != '' and fcltReffNo != null">
                  AND T1.FCLT_REFF_NO LIKE '%' || #{fcltReffNo} || '%'
                </if>
                <if test="fcltTpCd != '' and fcltTpCd != null">
                  AND T1.FCLT_TP_CD = #{fcltTpCd}
                </if>
                <if test="stbyCrppNo != '' and stbyCrppNo != null">
                  AND T1.STBY_CRPP_NO LIKE '%' || #{stbyCrppNo} || '%'
                </if>
                <if test="stbyCrppValdStrtDt != null and stbyCrppValdStrtDt != ''">
                  AND T1.STBY_CRPP_VALD_STRT_DT <![CDATA[ >= ]]> TO_DATE(#{stbyDttmFrom},'DD/MM/YYYY')
                </if>
                <if test="stbyCrppValdEndDt != null and stbyCrppValdEndDt != ''">
                  AND T1.STBY_CRPP_VALD_END_DT  <![CDATA[ < ]]> TO_DATE(#{stbyDttmTo},'DD/MM/YYYY') +1
                </if>
              ORDER BY T1.FRST_RGSR_DTTM DESC
            <include refid="pagination.footer" ></include>
    </select>
    
    
    
    <!--
    Consulter les infos détaillées sur les exploitants de la zone sous douane pour les hydrocarbures
    !== 탄화수소 보세구역 업체 상세 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarHdcbIbobzCo"
            parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo"
            resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.selectCarHdcbIbobzCo */
         <include refid="sqlCarHdcbIbobzCo" ></include>
          AND T1.IBOBZ_CD = #{ibobzCd}
    </select>
    <!--
    Consulter les infos détaillées sur les puits d'hydrocarbure
    !== 탄화수소 유정 상세 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarHdcbOiwe"
            parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo"
            resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.selectCarHdcbOiwe */
         <include refid="sqlCarHdcbOiwe" ></include>
          T1.OIWE_MGRN  = #{oiweMgrn}
    </select>
    <!--
    Consulter les infos détaillées sur les installations d'hydrocarbure
    !== 탄화수소 시설물 상세 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarHdcbFclt"
            parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo"
            resultType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.selectCarHdcbFclt */
         <include refid="sqlCarHdcbFclt" ></include>
          AND T1.FCLT_SRNO  = #{fcltSrno}
    </select>
    
    
    
    <!--
    Enregistrer les exploitants de la zone sous douane pour les hydrocarbures
    !== 탄화수소 보세구역 업체 등록 ==!
    (Im Jae woo)
    -->
    <insert id="insertCarHdcbIbobzCo" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.insertCarHdcbIbobzCo */
        INSERT INTO TB_CARI_HDCB_IBOBZ_CO
             ( IBOBZ_CD
             , HDCB_CO_CD
             , CVNT_NO
             , CVNT_STRT_DT
             , CVNT_END_DT
             , PRAB_VAL
             , MG_NO
             , MG_STRT_DT
             , DEL_YN
             , FRST_REGST_ID
             , FRST_RGSR_DTTM
             , LAST_CHPR_ID
             , LAST_CHG_DTTM
        ) VALUES(
               #{ibobzCd}
             , #{hdcbCoCd}
             , #{cvntNo}
             , TO_CHAR(TO_DATE(#{cvntStrtDt},'DD/MM/YYYY'),'YYYYMMDD')
             , TO_CHAR(TO_DATE(#{cvntEndDt},'DD/MM/YYYY'),'YYYYMMDD')
             , #{prabVal}
             , #{mgNo}
             , TO_CHAR(TO_DATE(#{mgStrtDt},'DD/MM/YYYY'),'YYYYMMDD')
             , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
        )
    </insert>
    <!--
    Enregistrer les puits d'hydrocarbure
    !== 탄화수소 유정 등록 ==!
    (Im Jae woo)
    -->
    <insert id="insertCarHdcbOiwe" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.insertCarHdcbOiwe */
        <selectKey keyProperty="oiweMgrn" keyColumn="OIWE_MGRN" resultType="String" order="BEFORE">
            SELECT 'OIWE-MGRN-'||LPAD(NVL(MAX(CAST(SPLIT_PART(OIWE_MGRN, '-',3) AS INTEGER)),0) +1,6,0) AS OIWE_MGRN FROM TB_CARI_HDCB_OIWE
        </selectKey>
        INSERT INTO TB_CARI_HDCB_OIWE
             ( OIWE_MGRN
             , IBOBZ_CD
             , OIWE_NM
             , OIWE_LOCT_NM
             , RESE_AQTY
             , DEL_YN
             , FRST_REGST_ID
             , FRST_RGSR_DTTM
             , LAST_CHPR_ID
             , LAST_CHG_DTTM
        )VALUES(
               #{oiweMgrn}
             , #{ibobzCd}
             , #{oiweNm}
             , #{oiweLoctNm}
             , #{reseAqty}
             , 'N'
             , #{frstRegstId}
             , SYSTIMESTAMP
             , #{lastChprId}
             , SYSTIMESTAMP
        )
    </insert>
    <!--
    Enregistrer les infos détaillées sur les installations d'hydrocarbure
    !== 탄화수소 시설물 등록 ==!
    (Im Jae woo)
    -->
    <insert id="insertCarHdcbFclt" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.insertCarHdcbFclt */
        <selectKey keyProperty="fcltSrno" keyColumn="FCLT_SRNO" resultType="int" order="BEFORE">
            SELECT NVL(MAX(FCLT_SRNO),0) +1 FROM TB_CARI_HDCB_FCLT WHERE IBOBZ_CD = #{ibobzCd}
        </selectKey>
        INSERT INTO TB_CARI_HDCB_FCLT
             ( IBOBZ_CD
             , FCLT_SRNO
             , FCLT_REFF_NO
             , STBY_CRPP_NO
             , STBY_CRPP_VALD_STRT_DT
             , STBY_CRPP_VALD_END_DT
             , FCLT_TP_CD
             , SORT_ORDR
             , DEL_YN
             , FRST_REGST_ID
             , FRST_RGSR_DTTM
             , LAST_CHPR_ID
             , LAST_CHG_DTTM
        ) VALUES(
               #{ibobzCd}
             , #{fcltSrno}
             , #{fcltReffNo}
             , #{stbyCrppNo}
             , TO_CHAR(TO_DATE(#{stbyCrppValdStrtDt},'DD/MM/YYYY'),'YYYYMMDD')
             , TO_CHAR(TO_DATE(#{stbyCrppValdEndDt},'DD/MM/YYYY'),'YYYYMMDD')
             , #{fcltTpCd}
             , #{sortOrdr}
             , 'N'
             , #{frstRegstId}
             , SYSTIMESTAMP
             , #{lastChprId}
             , SYSTIMESTAMP
        )
    </insert>
    
    
    
    <!--
    Modifier les exploitants de la zone sous douane pour les hydrocarbures
    !== 탄화수소 보세구역 업체 수정 ==!
    (Im Jae woo)
    -->
    <update id="updateCarHdcbIbobzCo" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.updateCarHdcbIbobzCo */
        UPDATE TB_CARI_HDCB_IBOBZ_CO
           SET HDCB_CO_CD= #{hdcbCoCd}
             , CVNT_NO= #{cvntNo}
             , CVNT_STRT_DT= TO_CHAR(TO_DATE(#{cvntStrtDt},'DD/MM/YYYY'),'YYYYMMDD')
             , CVNT_END_DT= TO_CHAR(TO_DATE(#{cvntEndDt},'DD/MM/YYYY'),'YYYYMMDD')
             , PRAB_VAL= #{prabVal}
             , MG_NO= #{mgNo}
             , MG_STRT_DT= TO_CHAR(TO_DATE(#{mgStrtDt},'DD/MM/YYYY'),'YYYYMMDD')
             , LAST_CHPR_ID= #{lastChprId}
             , LAST_CHG_DTTM= SYSTIMESTAMP
         WHERE IBOBZ_CD= #{ibobzCd}
    </update>
    <!--
    Modifier les puits d'hydrocarbure
    !== 탄화수소 유정 수정 ==!
    (Im Jae woo)
    -->
    <update id="updateCarHdcbOiwe" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.updateCarHdcbOiwe */
        UPDATE TB_CARI_HDCB_OIWE
           SET OIWE_NM= #{oiweNm}
             , OIWE_LOCT_NM= #{oiweLoctNm}
             , RESE_AQTY= #{reseAqty}
             , LAST_CHPR_ID= #{lastChprId}
             , LAST_CHG_DTTM= SYSTIMESTAMP
         WHERE OIWE_MGRN= #{oiweMgrn}
    </update>
    <!--
    Modifier les infos détaillées sur les installations d'hydrocarbure
    !== 탄화수소 시설물 수정 ==!
    (Im Jae woo)
    -->
    <update id="updateCarHdcbFclt" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.updateCarHdcbFclt */
        UPDATE TB_CARI_HDCB_FCLT
           SET FCLT_REFF_NO= #{fcltReffNo}
             , STBY_CRPP_NO= #{stbyCrppNo}
             , STBY_CRPP_VALD_STRT_DT= TO_CHAR(TO_DATE(#{stbyCrppValdStrtDt},'DD/MM/YYYY'),'YYYYMMDD')
             , STBY_CRPP_VALD_END_DT= TO_CHAR(TO_DATE(#{stbyCrppValdEndDt},'DD/MM/YYYY'),'YYYYMMDD')
             , FCLT_TP_CD= #{fcltTpCd}
             , SORT_ORDR= #{sortOrdr}
             , LAST_CHPR_ID = #{lastChprId}
             , LAST_CHG_DTTM = SYSTIMESTAMP
         WHERE IBOBZ_CD= #{ibobzCd}
           AND FCLT_SRNO= #{fcltSrno}
    </update>

    <!--
    Supprimer les exploitants de la zone sous douane pour les hydrocarbures
    !== 탄화수소 보세구역 업체 삭제 ==!
    (Im Jae woo)
    -->
    <update id="deleteCarHdcbIbobzCo" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.deleteCarHdcbIbobzCo */
        DELETE
          FROM TB_CARI_HDCB_IBOBZ_CO
         WHERE IBOBZ_CD= #{ibobzCd}
    </update>
    <!--
    Supprimer les puits d'hydrocarbure
    !== 탄화수소 유정 삭제 ==!
    (Im Jae woo)
    -->
    <update id="deleteCarHdcbOiwe" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.deleteCarHdcbOiwe */
        DELETE
          FROM TB_CARI_HDCB_OIWE
         WHERE OIWE_MGRN= #{oiweMgrn}
    </update>
    <!--
    Supprimer les infos détaillées sur les installations d'hydrocarbure
    !== 탄화수소 시설물 삭제 ==!
    (Im Jae woo)
    -->
    <update id="deleteCarHdcbFclt" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo">
        /* CarHdcdBaseMgmtMapper.deleteCarHdcbFclt */
        DELETE
          FROM TB_CARI_HDCB_FCLT
         WHERE IBOBZ_CD= #{ibobzCd}
           AND FCLT_SRNO= #{fcltSrno}
    </update>

    <!--
    Vérifier la redondance du code de la société d'hydrocarbure
    !== 탄화수소업체코드 중복 체크 ==!
    (Im Jae woo)
    -->
    <select id="countCarhdcbCoCd" parameterType="alpass.ipt.car.hdcb.basemgmt.vo.CarHdcdBaseMgmtVo" resultType="int">
        /* CarHdcdBaseMgmtMapper.countCarhdcbCoCd */
        SELECT COUNT(*)
          FROM TB_CARI_HDCB_IBOBZ_CO
         WHERE IBOBZ_CD= #{ibobzCd}
    </select>

</mapper>