<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.sdbk.mapper.PotPmSdbkManlMapper">

  <!-- 
		Consulter la liste de la gestion du guide d'utilisation !==매뉴얼 관리 목록 조회 한다.==!
	-->
  <select id="selectManlList" parameterType="alpass.ipt.pot.pm.sdbk.vo.PotPmSdbkManlVo" resultType="alpass.ipt.pot.pm.sdbk.vo.PotPmSdbkManlVo">
    /* selectManlMgmtList */
    <include refid="pagination.header"/>
    SELECT
    *
    FROM
    (
    SELECT
    A.SCRN_ID
    , (SELECT LBL_NM FROM TB_COM_LBL_LANG WHERE DEL_YN = 'N' AND LBL_ID = A.SCRN_NM AND LANG_CD = #{langCd} ) AS SCRN_NM
    , A.APP_CLSF_CD AS APP_CLSF_CODE
    , A.BSOP_CLSF_CD
    , A.DOC_SCRN_ID
    , A.FRST_REGST_ID
    , A.FRST_RGSR_DTTM
    , A.LAST_CHPR_ID
    , A.LAST_CHG_DTTM
    , A.USE_YN
    , A.MANL_BLTN_YN
    , (SELECT MANL.MANL_FILE_ID FROM TB_COM_SYS_MANL MANL WHERE MANL.SCRN_ID = A.SCRN_ID AND MANL.LANG_CD = 'EN') AS MANL_EN
    , (SELECT MANL.MANL_FILE_ID FROM TB_COM_SYS_MANL MANL WHERE MANL.SCRN_ID = A.SCRN_ID AND MANL.LANG_CD = 'FR') AS MANL_FR
    , (SELECT MANL.MANL_FILE_ID FROM TB_COM_SYS_MANL MANL WHERE MANL.SCRN_ID = A.SCRN_ID AND MANL.LANG_CD = 'AR') AS MANL_AR
    , (SELECT MANL.MANL_FILE_ID FROM TB_COM_SYS_MANL MANL WHERE MANL.SCRN_ID = A.SCRN_ID AND MANL.LANG_CD = 'KO') AS MANL_KO
    FROM    TB_COM_SYS_SCRN A
    WHERE   A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
    AND     A.USE_YN = 'Y'
    AND     (A.DOC_SCRN_ID <![CDATA[ <> ]]> '' and A.DOC_SCRN_ID IS NOT NULL)
    ) A
    WHERE 1 = 1
    <if test="scrnId != null and scrnId != ''">
      AND   UPPER(A.SCRN_ID) LIKE '%'||UPPER(#{scrnId})||'%'
    </if>
    <if test="scrnNm != null and scrnNm != ''">
      AND   UPPER(A.SCRN_NM) LIKE '%'||UPPER(#{scrnNm})||'%'
    </if>
    <if test="appClsfCode != null and appClsfCode != ''">
      AND   APP_CLSF_CODE = #{appClsfCode}
    </if>
    <if test="bsopClsfCd != null and bsopClsfCd != ''">
      AND   A.BSOP_CLSF_CD = #{bsopClsfCd}
    </if>
    <if test="docScrnId != null and docScrnId != ''">
      AND   A.DOC_SCRN_ID = #{docScrnId}
    </if>
    ORDER BY SCRN_ID, APP_CLSF_CODE
    <include refid="pagination.footer"/>
  </select>

  <!-- 
    Consulter la gestion du guide d'utilisation !==매뉴얼 관리 조회==!
  -->
  <select id="selectManl" parameterType="alpass.ipt.pot.pm.sdbk.vo.PotPmSdbkManlVo" resultType="alpass.ipt.pot.pm.sdbk.vo.PotPmSdbkManlVo">
    /* selectManlMgmt */
    SELECT
      A.SCRN_ID
         , (SELECT LBL_NM FROM TB_COM_LBL_LANG WHERE DEL_YN = 'N' AND LBL_ID = A.SCRN_NM AND LANG_CD = #{langCd} ) AS SCRN_NM
         , A.APP_CLSF_CD AS APP_CLSF_CODE
         , A.BSOP_CLSF_CD
         , A.DOC_SCRN_ID
         , A.FRST_REGST_ID
         , A.FRST_RGSR_DTTM
         , A.LAST_CHPR_ID
         , A.LAST_CHG_DTTM
         , A.USE_YN
         , A.MANL_BLTN_YN
         , (SELECT MANL.MANL_FILE_ID FROM TB_COM_SYS_MANL MANL WHERE MANL.SCRN_ID = A.SCRN_ID AND MANL.LANG_CD = 'EN') AS MANL_EN
         , (SELECT MANL.MANL_FILE_ID FROM TB_COM_SYS_MANL MANL WHERE MANL.SCRN_ID = A.SCRN_ID AND MANL.LANG_CD = 'FR') AS MANL_FR
         , (SELECT MANL.MANL_FILE_ID FROM TB_COM_SYS_MANL MANL WHERE MANL.SCRN_ID = A.SCRN_ID AND MANL.LANG_CD = 'AR') AS MANL_AR
         , (SELECT MANL.MANL_FILE_ID FROM TB_COM_SYS_MANL MANL WHERE MANL.SCRN_ID = A.SCRN_ID AND MANL.LANG_CD = 'KO') AS MANL_KO
    FROM   TB_COM_SYS_SCRN A
    WHERE   UPPER(A.SCRN_ID) = UPPER(#{scrnId})
  </select>

  <!--
    Enregistrer un article de la gestion du guide d'utilisation !==매뉴얼관리 게시물을 등록한다==!
  -->
  <insert id="insertManl" parameterType="alpass.ipt.pot.pm.sdbk.vo.PotPmSdbkManlVo">
    /* insertManl */
    with upsert as
    (
    UPDATE TB_COM_SYS_MANL SET
      MANL_FILE_ID = #{manlFileId}
     , LAST_CHPR_ID = #{lastChprId}
     , LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE UPPER(SCRN_ID) = UPPER(#{scrnId})
      AND UPPER(LANG_CD) = UPPER(#{manlLangCd})
      returning *
    )
    INSERT INTO TB_COM_SYS_MANL
    (
      SCRN_ID
    , LANG_CD
    , MANL_FILE_ID
    , DEL_YN
    , FRST_REGST_ID
    , FRST_RGSR_DTTM
    , LAST_CHPR_ID
    , LAST_CHG_DTTM
    )
    SELECT
      UPPER(#{scrnId})
      , UPPER(#{manlLangCd})
      , #{manlFileId}
      , 'N'
      , #{frstRegstId}
      , SYSTIMESTAMP
      , #{lastChprId}
      , SYSTIMESTAMP
      WHERE NOT exists(select * from upsert)
  </insert>

  <!--
    Modifier un article de la gestion du guide d'utilisation !==매뉴얼관리 게시물을 수정한다==!
  -->
  <update id="updateScrn" parameterType="alpass.ipt.pot.pm.sdbk.vo.PotPmSdbkManlVo">
    /* updateScrn */
    UPDATE  TB_COM_SYS_SCRN SET
      MANL_BLTN_YN = #{manlBltnYn}
    WHERE  SCRN_ID = #{scrnId}
  </update>

  <!-- 
    Supprimer un article de la gestion du guide d'utilisation !==매뉴얼관리 게시물을 삭제한다==!
  -->
  <update id="deleteManl" parameterType="alpass.ipt.pot.pm.sdbk.vo.PotPmSdbkManlVo">
    /* deleteManl */
    UPDATE  TB_COM_SYS_MANL SET
            DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
         ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
         ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
    WHERE  SCRN_ID = #{scrnId}
      AND	LANG_CD = #{manlLangCd}
  </update>

</mapper>
