<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.co.mapper.PotPmCoInfoMapper">

    <!--
         Consulter la liste des entreprises !==업체 목록 조회==!
    -->
    <select id="selectCoList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCoVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCoVo">
        /** selectCoList */
        <include refid="pagination.header"/>
      SELECT ROWNUM AS ORDER_NO, K.* FROM (
      SELECT
      A.NIF
      , A.RCCM_NO
      , A.NAFN_TP_CD
      , CASE
      WHEN (SUBSTRING(A.NIF, 1, 1) = '0' OR SUBSTRING(A.NIF, 1, 1) = '1' OR SUBSTRING(A.NIF, 1, 1) =
      '2') AND SUBSTRING(A.NIF, 19, 20) = '00' THEN 'P'
      WHEN (SUBSTRING(A.NIF, 1, 1) != '0' AND SUBSTRING(A.NIF, 1, 1) != '1' AND SUBSTRING(A.NIF, 1,
      1) != '2' ) AND SUBSTRING(A.NIF, 16, 20) = '00000' THEN 'P'
      ELSE 'C'
      END CO_TP_CD
      , A.CO_NM
      , A.RPRS_TLPH_NO
      , A.RPRS_FAX_NO
      , A.RPRS_EML
      , A.CO_ADDR
      , A.LTTD
      , A.LNGT
      , A.PRCS_STTS_CD
                , A.DEL_YN
                , A.FRST_REGST_ID
                , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
                , A.LAST_CHPR_ID
                , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
                , TO_CHAR(A.ACAP_DTTM,'DD/MM/YYYY') AS ACAP_DTTM
                , A.RQST_TP_CD
                , A.STTS_TP_CD
                , A.STTS_CHG_RSN_CN
                , A.ORGN_MGMT_CD
                , A.ATCH_FILE_ID
                , NVL(B.STTS_TP_CD,A.STTS_TP_CD) AS ORI_WRKR_STTS_TP_CD
                , NVL(B.STTS_TP_CD,A.STTS_TP_CD) AS WRKR_STTS_TP_CD
                , B.STTS_CHG_RSN_CN AS ORI_WRKR_STTS_CHG_RSN_CN
                , B.STTS_CHG_RSN_CN AS WRKR_STTS_CHG_RSN_CN
                , B.WRKR_DTTM AS ORI_WRKR_DTTM
                , B.WRKR_DTTM
                , B.WRKR_ID AS ORI_WRKR_ID
                , B.WRKR_ID
                , C.USER_ID
                , C.USER_TP_CD
                , C.USER_FMNM
                , C.USER_NM
                , C.NATV_CD
                , C.INHB_RGSR_NO
                , C.TLPH_NO
                , C.GNDR_CD
                , C.USER_ADDR
                , C.EML
                , C.NAT_CD
                , C.PSPR_NO
                , C.EML_RCPN_YN
                , C.SMS_RCPN_YN
            FROM TB_COM_CO A
               ,( 
                   SELECT
                         RANK() OVER (PARTITION BY NIF ORDER BY CHG_SRNO DESC) AS RN
                        ,NIF
                        ,CHG_SRNO
                        ,STTS_TP_CD
                        ,STTS_CHG_RSN_CD
                        ,STTS_CHG_RSN_CN
                        ,WRKR_ID
                        ,WRKR_DTTM
                   FROM TB_COM_CO_STTS_H
                   WHERE DEL_YN   = 'N'
                ) B
               ,(
                   SELECT
                         RANK() OVER (PARTITION BY NIF ORDER BY FRST_RGSR_DTTM DESC, USER_ID DESC) AS RN
                        ,USER_ID
                        ,NIF
                        ,USER_TP_CD
                        ,USER_NM
                        ,USER_FMNM
                        ,INHB_RGSR_NO
                        ,TLPH_NO
                        ,GNDR_CD
                        ,USER_ADDR
                        ,EML
                        ,NAT_CD
                        ,PSPR_NO
                        ,EML_RCPN_YN
                        ,SMS_RCPN_YN
                        ,NATV_CD
                   FROM TB_COM_CO_USER
                   WHERE DEL_YN   = 'N'
                   AND USER_TP_CD = 'R'
                   AND USE_YN = 'Y'
                   AND USER_STTS_CD NOT IN ('03')
                 ) C
            WHERE A.DEL_YN = 'N'
              AND A.NIF = B.NIF (+)
              AND A.NIF = C.NIF (+)
              AND 1        = B.RN  (+)
              AND 1        = C.RN  (+)
            <if test="srchNif != null and srchNif != ''">
                AND UPPER(A.NIF) LIKE '%'|| UPPER(#{srchNif}) ||'%'
            </if>
            <if test="searchKeywordFrom != null and searchKeywordFrom != '' and searchKeywordTo != null and searchKeywordTo != '' ">
                AND TO_CHAR(A.FRST_RGSR_DTTM,'YYYYMMDD')
                    BETWEEN TO_CHAR(TO_DATE( #{searchKeywordFrom} , 'DD/MM/YYYY'), 'YYYYMMDD')
                        AND TO_CHAR(TO_DATE( #{searchKeywordTo}   , 'DD/MM/YYYY'), 'YYYYMMDD')
            </if>
            <if test="srchSttsTpCd != null and srchSttsTpCd != ''">
                AND A.STTS_TP_CD = #{srchSttsTpCd}
            </if>
      <if test="srchCoNm != null and srchCoNm != ''">
        AND UPPER(A.CO_NM) LIKE '%'||UPPER(#{srchCoNm})||'%'
      </if>
      <if test="srchAeo != null and srchAeo != ''">
        AND A.AEO_TRGT_YN = #{srchAeo}
      </if>
      <if test="srchCtgy != null and srchCtgy != ''">
        AND SUBSTR(A.NIF,0,1) = #{srchCtgy}
      </if>
      <if test="srchUserId != null and srchUserId != ''">
        AND A.NIF IN (SELECT NIF FROM TB_COM_CO_USER WHERE DEL_YN = 'N' AND UPPER(USER_ID) LIKE
        '%'|| UPPER(#{srchUserId}) ||'%')
      </if>

      ORDER BY A.FRST_RGSR_DTTM
      ) K
      ORDER BY ORDER_NO DESC
      <include refid="pagination.footer"/>
    </select>

		<!-- 
         Consulter les détails des entreprises !==업체 상세 조회==!
    -->
    <select id="selectCo" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCoVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCoVo">
        /** selectCo */
        SELECT 
              A.NIF
            , A.RCCM_NO
            , A.NAFN_TP_CD
            , A.CO_TP_CD
            , A.CO_NM
            , A.RPRS_TLPH_NO
            , A.RPRS_FAX_NO
            , A.RPRS_EML
            , A.CO_ADDR
            , A.LTTD
            , A.LNGT
            , A.PRCS_STTS_CD
            , A.DEL_YN
            , A.FRST_REGST_ID
            , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
            , TO_CHAR(A.ACAP_DTTM,'DD/MM/YYYY') AS ACAP_DTTM
            , A.RQST_TP_CD
            , A.STTS_TP_CD
            , A.STTS_CHG_RSN_CN
            , A.ORGN_MGMT_CD
            , A.CO_POST_CD
            , CASE WHEN A.CO_POST_CD = '' THEN '' ELSE '(' || A.CO_POST_CD || ':' || ( SELECT POST_NM FROM ALPASSINT.TB_COM_WLY_POST_CD W where W.POST_CD = A.CO_POST_CD ) || ')' END AS  CO_POST_NM
            , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD =A.ORGN_MGMT_CD) AS ORGN_NM
            , A.CO_LGL_POSI
            , A.CMRC_REGS_NO
            , A.APRV
            , A.PERM_NO
            , A.ATCH_FILE_ID as CO_ATCH_FILE_ID
            , A.CO_IMG
            , NVL(B.STTS_TP_CD,A.STTS_TP_CD) AS ORI_WRKR_STTS_TP_CD
            , NVL(B.STTS_TP_CD,A.STTS_TP_CD) AS WRKR_STTS_TP_CD
            , B.STTS_CHG_RSN_CN AS ORI_WRKR_STTS_CHG_RSN_CN
            , B.STTS_CHG_RSN_CN AS WRKR_STTS_CHG_RSN_CN
            , B.WRKR_DTTM AS ORI_WRKR_DTTM
            , B.WRKR_DTTM
            , B.WRKR_ID AS ORI_WRKR_ID
            , B.WRKR_ID
            , C.USER_ID
            , C.USER_TP_CD
            , C.USER_NM
            , C.NATV_CD
            , C.INHB_RGSR_NO
            , C.TLPH_NO
            , C.GNDR_CD
            , C.USER_ADDR
            , C.EML
            , C.NAT_CD
            , (SELECT Y.CNTY_NM 
                 FROM TB_COM_CNTY_CD X, TB_COM_CNTY_CD_LANG Y
                WHERE X.CNTY_CD = Y.CNTY_CD
                  AND X.DEL_YN = 'N'
                  AND Y.DEL_YN = 'N'
                  AND Y.LANG_CD =  #{langCd} /**P*/
                  AND Y.CNTY_CD = C.NAT_CD ) AS NAT_NM
            , C.PSPR_NO
            , C.EML_RCPN_YN
            , C.SMS_RCPN_YN
            , C.POST_CD
            , CASE WHEN C.POST_CD = '' THEN '' ELSE '(' || C.POST_CD || ':' || ( SELECT POST_NM FROM ALPASSINT.TB_COM_WLY_POST_CD W where W.POST_CD = C.POST_CD ) || ')' END AS  USER_POST_NM
            , C.USER_IMG
            , C.USER_FMNM
            , C.ATCH_FILE_ID as USER_ATCH_FILE_ID
            , A.WEB_SITE_ADDR
            , TO_CHAR(TO_DATE(A.APRV_ISS_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') AS APRV_ISS_DT
            , TO_CHAR(TO_DATE(A.PERM_NO_ISS_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') AS PERM_NO_ISS_DT
            , C.NIN
            , C.FRGN_NIN
            , C.NATV_IDCR_TP_CD
            , C.NATV_IDCR_NO
            , C.NATV_IDCR_VALD_STRT_DT
            , C.NATV_IDCR_VALD_END_DT
            , C.FRGN_PSPR_NO
            , C.FRGN_PSPR_VALD_STRT_DT
            , C.FRGN_PSPR_VALD_END_DT
            , C.FRGN_IDCR_NO
            , C.FRGN_IDCR_VALD_STRT_DT
            , C.FRGN_IDCR_VALD_END_DT
            , C.BRDY
            , C.BTHP
            , A.AEO_TRGT_YN
            , A.CO_ESTB_PLC_NM
            , TO_CHAR(TO_DATE(A.CO_ESTB_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') CO_ESTB_DT
            , (SELECT ORGN_NM FROM TB_POTI_ORGN O WHERE O.ORGN_MGMT_CD = A.SBMT_CSTM) AS SBMT_CSTM_NM
            , C.NATV_IDCR_ISS_PLC_NM
            , C.FRGN_IDCR_ISS_PLC_NM
            , C.TLPH_NO2
            , C.TLPH_NO3
            , C.AR_USER_FMNM
            , C.AR_USER_NM
            , C.AR_BTHP
            , C.AR_USER_ADDR
            , C.AR_NATV_IDCR_ISS_PLC_NM
            , C.AR_FRGN_IDCR_ISS_PLC_NM
        FROM TB_COM_CO A
           ,( 
               SELECT
                     RANK() OVER (PARTITION BY NIF ORDER BY CHG_SRNO DESC) AS RN
                    ,NIF
                    ,CHG_SRNO
                    ,STTS_TP_CD
                    ,STTS_CHG_RSN_CD
                    ,STTS_CHG_RSN_CN
                    ,WRKR_ID
                    ,WRKR_DTTM
               FROM TB_COM_CO_STTS_H
               WHERE DEL_YN   = 'N'
            ) B
           ,(
               SELECT
                     RANK() OVER (PARTITION BY NIF ORDER BY FRST_RGSR_DTTM DESC, USER_ID DESC) AS RN
                    ,USER_ID
                    ,NIF
                    ,USER_TP_CD
                    ,USER_NM
                    ,INHB_RGSR_NO
                    ,TLPH_NO
                    ,GNDR_CD
                    ,USER_ADDR
                    ,EML
                    ,NAT_CD
                    ,PSPR_NO
                    ,EML_RCPN_YN
                    ,SMS_RCPN_YN
                    ,POST_CD
                    ,USER_IMG
                    ,USER_FMNM
                    ,ATCH_FILE_ID
                    ,NATV_CD
                    ,NIN
                    ,FRGN_NIN
                    , NATV_IDCR_TP_CD
                    , NATV_IDCR_NO
                    , TO_CHAR(TO_DATE(NATV_IDCR_VALD_STRT_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') NATV_IDCR_VALD_STRT_DT
                    , TO_CHAR(TO_DATE(NATV_IDCR_VALD_END_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') NATV_IDCR_VALD_END_DT
                    , FRGN_PSPR_NO
                    , TO_CHAR(TO_DATE(FRGN_PSPR_VALD_STRT_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') FRGN_PSPR_VALD_STRT_DT
                    , TO_CHAR(TO_DATE(FRGN_PSPR_VALD_END_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') FRGN_PSPR_VALD_END_DT
                    , FRGN_IDCR_NO
                    , TO_CHAR(TO_DATE(FRGN_IDCR_VALD_STRT_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') FRGN_IDCR_VALD_STRT_DT
                    , TO_CHAR(TO_DATE(FRGN_IDCR_VALD_END_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') FRGN_IDCR_VALD_END_DT
                    , TO_CHAR(TO_DATE(BRDY, 'DD/MM/YYYY'), 'DD/MM/YYYY') BRDY
                    , BTHP
                    , NATV_IDCR_ISS_PLC_NM
                    , FRGN_IDCR_ISS_PLC_NM
                    , TLPH_NO2
                    , TLPH_NO3
                    , AR_USER_FMNM
                    , AR_USER_NM
                    , AR_BTHP
                    , AR_USER_ADDR
                    , AR_NATV_IDCR_ISS_PLC_NM
                    , AR_FRGN_IDCR_ISS_PLC_NM
        FROM TB_COM_CO_USER
               WHERE USER_TP_CD = 'R'
               AND USE_YN = 'Y'
               AND USER_STTS_CD NOT IN ('03')
             ) C
        WHERE A.DEL_YN = 'N'
          AND A.NIF = B.NIF (+)
          AND A.NIF = C.NIF (+)
          AND 1        = B.RN  (+)
          AND 1        = C.RN  (+)
          AND A.NIF = #{srchNif}
        <if test="searchKeywordFrom != null and searchKeywordFrom != '' and searchKeywordTo != null and searchKeywordTo != '' ">
            AND TO_CHAR(A.FRST_RGSR_DTTM,'YYYYMMDD')
                BETWEEN TO_CHAR(TO_DATE( #{searchKeywordFrom} , 'DD/MM/YYYY'), 'YYYYMMDD')
                    AND TO_CHAR(TO_DATE( #{searchKeywordTo}   , 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
        <if test="srchPrcsSttsCd != null and srchPrcsSttsCd != ''">
            AND A.PRCS_STTS_CD = #{srchPrcsSttsCd}
        </if>
        <if test="srchCoNm != null and srchCoNm != ''">
            AND A.CO_NM = #{srchCoNm}
        </if>
    </select>

     <!-- 
         Consulter les détails des utilisateurs entreprise !==업체사용자 상세 조회==!
     -->
    <select id="selectCoUser" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserVo">
        /** selectCoUser */
        SELECT
              A.USER_ID
            , A.NIF
            , A.USER_TP_CD
            , A.USER_NM
            , A.NATV_CD
            , A.INHB_RGSR_NO
            , A.TLPH_NO
            , A.GNDR_CD
            , A.USER_ADDR
            , A.EML
            , A.NAT_CD
            , (SELECT Y.CNTY_NM 
                 FROM TB_COM_CNTY_CD X, TB_COM_CNTY_CD_LANG Y
                WHERE X.CNTY_CD = Y.CNTY_CD
                  AND X.DEL_YN = 'N'
                  AND Y.DEL_YN = 'N'
                  AND Y.LANG_CD =  #{langCd} /**P*/
                  AND Y.CNTY_CD = A.NAT_CD ) AS NAT_NM
            , A.PSPR_NO
            , A.EML_RCPN_YN
            , A.SMS_RCPN_YN
            , A.DEL_YN
            , A.FRST_REGST_ID
            , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
            , A.USER_STTS_CD
            , DECODE(A.USER_STTS_CD, '02', 'N', 'O') AS APRE_YN
            , A.ATCH_FILE_ID
            , A.RTRN_RSN_CN
            , A.USE_YN
            , A.POST_CD
            , CASE WHEN A.POST_CD = '' THEN '' ELSE '(' || A.POST_CD || ':' || ( SELECT POST_NM FROM ALPASSINT.TB_COM_WLY_POST_CD W where W.POST_CD = A.POST_CD ) || ')' END AS  USER_POST_NM
            , A.USER_IMG
            , A.USER_FMNM
            , A.ATCH_FILE_ID as USER_ATCH_FILE_ID
            , (SELECT ACCT_LCKED_YN FROM TB_COM_USER_ACCT B WHERE B.DEL_YN = 'N' AND B.USER_ID = A.USER_ID AND B.USER_CLSF_CD = 'C') AS ACCT_LCKED_YN
            , A.NIN
            , A.FRGN_NIN
            , NATV_IDCR_TP_CD
            , NATV_IDCR_NO
            , TO_CHAR(TO_DATE(NATV_IDCR_VALD_STRT_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') NATV_IDCR_VALD_STRT_DT
            , TO_CHAR(TO_DATE(NATV_IDCR_VALD_END_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') NATV_IDCR_VALD_END_DT
            , FRGN_PSPR_NO
            , TO_CHAR(TO_DATE(FRGN_PSPR_VALD_STRT_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') FRGN_PSPR_VALD_STRT_DT
            , TO_CHAR(TO_DATE(FRGN_PSPR_VALD_END_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') FRGN_PSPR_VALD_END_DT
            , FRGN_IDCR_NO
            , TO_CHAR(TO_DATE(FRGN_IDCR_VALD_STRT_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') FRGN_IDCR_VALD_STRT_DT
            , TO_CHAR(TO_DATE(FRGN_IDCR_VALD_END_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') FRGN_IDCR_VALD_END_DT
            , TO_CHAR(TO_DATE(BRDY, 'DD/MM/YYYY'), 'DD/MM/YYYY') BRDY
            , BTHP
      , NATV_IDCR_ISS_PLC_NM
      , FRGN_IDCR_ISS_PLC_NM
      , TLPH_NO2
      , TLPH_NO3
      , AR_USER_FMNM
      , AR_USER_NM
      , AR_BTHP
      , AR_USER_ADDR
      , AR_NATV_IDCR_ISS_PLC_NM
      , AR_FRGN_IDCR_ISS_PLC_NM
      , PHRM_SRNO
      , TO_CHAR(TO_DATE(PHRM_ACTV_DTRM_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') PHRM_ACTV_DTRM_DT
      , PHRM_APPR_ATCH_FILE_ID
      FROM TB_COM_CO_USER A
      WHERE A.DEL_YN = 'N'
      AND A.USER_ID = #{srchUserId}
      <if test="srchNif != null and srchNif != ''">
        AND A.NIF = #{srchNif}
        </if>
        <if test="srchUserTpCd != null and srchUserTpCd != ''">
            AND A.USER_TP_CD = #{srchUserTpCd}
        </if>
    </select>

    <!--
         Consulter le statut de l'entreprise !==업체 상태 조직관계 목록 조회==!
    -->
    <select id="selectOrgnRelList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoOrgnrelVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoOrgnrelVo">
        /** selectOrgnRelList */
        <if test="fullSrchYn == null or fullSrchYn == ''">
            <include refid="pagination.header" />            
        </if>
        SELECT ROWNUM AS ORDER_NO, X.* FROM (
            SELECT 
                  A.NIF
                , (SELECT K.CO_NM FROM TB_COM_CO K WHERE K.NIF = A.NIF) AS CO_NM
                , A.CHG_SRNO
                , A.STTS_TP_CD
                , A.STTS_CHG_RSN_CD
                , A.STTS_CHG_RSN_CN
                , A.WRKR_ID
                , TO_CHAR(A.WRKR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS WRKR_DTTM
                , A.REFF_NO
                , TO_CHAR(A.RELE_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS RELE_DTTM
                , A.DEL_YN
                , A.FRST_REGST_ID
                , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
                , A.LAST_CHPR_ID
                , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
              FROM TB_POTE_CO_PUSE_H A
              WHERE A.DEL_YN = 'N'
                AND A.NIF = #{nif}
            <if test="reffNo != null and reffNo != ''">
                AND A.REFF_NO = #{reffNo}
            </if>
            <if test="sttsChgRsnCd != null and sttsChgRsnCd != ''">
                AND A.STTS_CHG_RSN_CD = #{sttsChgRsnCd}
            </if>
            <if test="sttsTpCd != null and sttsTpCd != ''">
                AND A.STTS_TP_CD = #{sttsTpCd}
            </if>
            <if test="releDttm != null and releDttm != ''">
                AND A.RELE_DTTM IS NULL
            </if>
            ORDER BY  A.WRKR_DTTM
            ) X
            WHERE 1=1
        ORDER BY  ORDER_NO DESC
        <if test="fullSrchYn == null or fullSrchYn == ''">
            <include refid="pagination.footer" />
        </if>
    </select>

    <!-- 
         Consulter le statut de l'entreprise !==업체 상태 조직관계 조회==!
    -->
    <select id="selectOrgnRel" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoOrgnrelVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoOrgnrelVo">
        /** selectOrgnRel */
        SELECT 
              A.NIF
            , (SELECT K.CO_NM FROM TB_COM_CO K WHERE K.NIF = A.NIF) AS CO_NM
            , A.CHG_SRNO
            , A.STTS_TP_CD
            , A.STTS_CHG_RSN_CD
            , A.STTS_CHG_RSN_CN
            , A.WRKR_ID
            , A.WRKR_DTTM
            , A.REFF_NO
            , A.RELE_DTTM
            , A.DEL_YN
            , A.FRST_REGST_ID
            , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
          FROM TB_POTE_CO_PUSE_H A
          WHERE A.DEL_YN = 'N'
            AND A.NIF = #{nif}
        <if test="reffNo != null and reffNo != ''">
            AND A.REFF_NO = #{reffNo}
        </if>
        <if test="sttsChgRsnCd != null and sttsChgRsnCd != ''">
            AND A.STTS_CHG_RSN_CD = #{sttsChgRsnCd}
        </if>
        <if test="sttsTpCd != null and sttsTpCd != ''">
            AND A.STTS_TP_CD = #{sttsTpCd}
        </if>
        <if test="releDttm != null and releDttm != ''">
            AND A.RELE_DTTM IS NULL
        </if>
    </select>

     <!-- 
         Enregistrer le statut de l'entreprise !==업체 상태 조직관계 등록==!
     -->
    <insert id="insertCoPuseH" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoOrgnrelVo" >
        /** insertCoPuseH */
        INSERT INTO TB_POTE_CO_PUSE_H
            (
                  NIF
                , CHG_SRNO
                , STTS_TP_CD
                , STTS_CHG_RSN_CD
                , STTS_CHG_RSN_CN
                , WRKR_ID
                , WRKR_DTTM
                , REFF_NO
                , RELE_DTTM
                , DEL_YN
                , FRST_REGST_ID
                , FRST_RGSR_DTTM
                , LAST_CHPR_ID
                , LAST_CHG_DTTM
            )
                VALUES
            (
                  #{nif}
                , NVL((SELECT MAX(CHG_SRNO)+1 FROM TB_POTE_CO_PUSE_H WHERE DEL_YN = 'N' AND NIF = #{nif}),1)
                , #{sttsTpCd}
                , #{sttsChgRsnCd}
                , #{sttsChgRsnCn}
                , #{wrkrId}
                , SYSTIMESTAMP
                , #{reffNo}
                , #{releDttm}
                , 'N'
                , #{frstRegstId}
                , SYSTIMESTAMP
                , #{lastChprId}
                , SYSTIMESTAMP
            )
    </insert>

    <!-- 
         Modifier le statut de l'entreprise !==업체 상태 조직관계 수정==!
    -->
    <update id="updateCoPuseH" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoOrgnrelVo" >
        /** updateCoPuseH */
        UPDATE TB_POTE_CO_PUSE_H SET
              STTS_TP_CD            = '01'
            , RELE_DTTM            = SYSTIMESTAMP
            , LAST_CHPR_ID        = #{lastChprId}
            , LAST_CHG_DTTM        = SYSTIMESTAMP
        WHERE DEL_YN = 'N'
          AND NIF = #{nif}
          AND RELE_DTTM IS NULL
        <if test="chgSrno != null and chgSrno != ''">
            AND CHG_SRNO = #{chgSrno}
        </if>
        <if test="reffNo != null and reffNo != ''">
            AND REFF_NO = #{reffNo}
        </if>
        <if test="sttsChgRsnCd != null and sttsChgRsnCd != ''">
            AND STTS_CHG_RSN_CD = #{sttsChgRsnCd}
        </if>
        <if test="sttsTpCd != null and sttsTpCd != ''">
            AND STTS_TP_CD = #{sttsTpCd}
        </if>
    </update>

    <!-- 
         Consulter la liste de M & A !==업체인수합병 목록 조회==!
    -->
    <select id="selectCoTrgtList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCoVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCoVo">
        /** selectCoTrgtList */
        SELECT 
              NIF
            , (SELECT CO_NM FROM TB_COM_CO X WHERE X.NIF = A.NIF) AS CO_NM
          FROM (SELECT DISTINCT BF_NIF AS NIF FROM TB_COM_CO_DCLR_CD_UDRT_H WHERE DEL_YN ='N' AND NIF = #{srchNif}) A
    </select>
    
    <!-- 
         Consulter la liste de l'historique de l'entreprise !==업체상태이력 목록 조회==!
    -->
    <select id="selectCoSttsHistList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCosttshistVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCosttshistVo">
        /** selectCoSttsHistList */
        <include refid="pagination.header" />
        SELECT 
              A.NIF
            , A.CHG_SRNO
            , A.STTS_TP_CD
            , A.STTS_CHG_RSN_CD
            , A.STTS_CHG_RSN_CN
            , A.WRKR_ID
            , A.WRKR_DTTM
            , A.DEL_YN
            , A.FRST_REGST_ID
            , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM TB_COM_CO_STTS_H A
        WHERE A.DEL_YN = 'N'
        AND   A.NIF = #{srchNif}
        <if test="srchChgSrno != null and srchChgSrno != ''">
            AND A.CHG_SRNO = #{srchChgSrno}
        </if>
        ORDER BY A.FRST_RGSR_DTTM DESC
        <include refid="pagination.footer" />
    </select>
    
    <!-- 
         Vérifier CDA déjà existant !==관세사 중복 체크==!
    -->
    <select id="selectCdaDupChk" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoApreVo" resultType="java.lang.Integer">
        /** selectCdaDupChk */
        SELECT 
              COUNT(CO_DCLR_CD) AS CNT
        FROM TB_COM_CO_DCLR_CD A
        WHERE A.DEL_YN = 'N'
        AND A.NIF = #{nif}
        AND A.CO_DCLR_TP_CD = 'H'
    </select>
    
    <!-- 
         Consulter la liste des codes d'activité des entreprises !==업체신고코드 목록 조회==!
    -->
    <select id="selectCoDclrCdList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdVo">
        /** selectCoDclrCdList */
        <if test="fullSrchYn == null or fullSrchYn == ''">
            <include refid="pagination.header" />
        </if>
        SELECT 
              A.NIF
            , A.CO_DCLR_TP_CD
            , A.CO_DCLR_CD
            , A.BF_CO_DCLR_CD
            , A.CARR_CD
            , A.RQST_TP_CD
            , A.PRCS_STTS_CD
            , A.DEL_YN
            , A.FRST_REGST_ID
            , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
            , A.USE_YN
            , TO_CHAR(A.ACAP_DTTM,'DD/MM/YYYY') AS ACAP_DTTM
            , A.CO_DCLR_CD_NM
            , A.ATCH_FILE_ID
            , B.CO_NM
            , B.STTS_TP_CD
            , B.STTS_CHG_RSN_CN
            , B.RPRS_TLPH_NO
            , B.RPRS_FAX_NO
            , B.RPRS_EML
            , B.CO_ADDR            
            , C.USER_ID
            , C.USER_TP_CD
            , C.USER_NM
            , CASE WHEN C.NAT_CD IS NULL OR C.NAT_CD = FN_GET_PARAM('DMSC_CNTY_CD')
                   THEN 'Y'
                   ELSE 'N'
                END AS NATV_YN
            , C.INHB_RGSR_NO
            , C.TLPH_NO
            , C.GNDR_CD
            , C.USER_ADDR
            , C.EML
      , C.NAT_CD
      , C.PSPR_NO
      , C.EML_RCPN_YN
      , C.SMS_RCPN_YN
      , D.WRKR_DTTM
      , D.WRKR_ID
      , A.APRV
      , A.APRV_ISS_DT
      , A.PERM_NO
      , A.PERM_NO_ISS_DT
      , A.APPR_QLFC_CD
      , A.APPR_TP_CD
      , A.APPR_CHRC_CD
      , A.DOFO_CN
      FROM TB_COM_CO_DCLR_CD A
      , TB_COM_CO B
      ,(
      SELECT
      RANK() OVER (PARTITION BY NIF ORDER BY FRST_RGSR_DTTM DESC, USER_ID DESC) AS RN
      ,USER_ID
      ,NIF
      ,USER_TP_CD
      ,USER_NM
      ,INHB_RGSR_NO
                    ,TLPH_NO
                    ,GNDR_CD
                    ,USER_ADDR
                    ,EML
                    ,NAT_CD
                    ,PSPR_NO
                    ,EML_RCPN_YN
                    ,SMS_RCPN_YN
               FROM TB_COM_CO_USER
               WHERE DEL_YN   = 'N'
               AND USER_TP_CD = 'R'
               AND USE_YN = 'Y'
               AND USER_STTS_CD NOT IN ('03')
             ) C
           ,( 
               SELECT
                     RANK() OVER (PARTITION BY NIF ORDER BY CHG_SRNO DESC) AS RN
                    ,NIF
                    ,CO_DCLR_CD
                    ,CHG_SRNO
                    ,STTS_TP_CD
                    ,STTS_CHG_RSN_CN
                    ,WRKR_ID
                    ,WRKR_DTTM
               FROM TB_COM_CO_DCLR_CD_STTS_H
               WHERE DEL_YN   = 'N'
            ) D
        WHERE A.DEL_YN = 'N'
          AND A.NIF = B.NIF (+)
          AND A.NIF = C.NIF (+)
          AND A.NIF = D.NIF (+)
          AND 1     = C.RN  (+)
          AND 1     = D.RN  (+)
          AND A.NIF = #{srchNif}
        <if test="searchKeywordFrom != null and searchKeywordFrom != '' and searchKeywordTo != null and searchKeywordTo != '' ">
            AND TO_CHAR(A.FRST_RGSR_DTTM,'YYYYMMDD')
                BETWEEN TO_CHAR(TO_DATE( #{searchKeywordFrom} , 'DD/MM/YYYY'), 'YYYYMMDD')
                    AND TO_CHAR(TO_DATE( #{searchKeywordTo}   , 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
        <if test="srchPrcsSttsCd != null and srchPrcsSttsCd != ''">
            AND A.PRCS_STTS_CD = #{srchPrcsSttsCd}
        </if>
        <if test="srchCoDclrTpCd != null and srchCoDclrTpCd != ''">
            AND A.CO_DCLR_TP_CD = #{srchCoDclrTpCd}
        </if>
        <if test="srchCoNm != null and srchCoNm != ''">
            AND B.CO_NM = #{srchCoNm}
        </if>
        ORDER BY A.CO_DCLR_CD, A.FRST_RGSR_DTTM
        <if test="fullSrchYn == null or fullSrchYn == ''">
            <include refid="pagination.footer" />
        </if>
    </select>

    <!-- 
         Consulter les détails des codes d'activité des entreprises !==업체 신고코드 상세 조회==!
    -->
    <select id="selectCoDclrCd" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdVo">
        /** selectCoDclrCd */
        SELECT 
              RANK() OVER ( PARTITION BY A.NIF ORDER BY A.CO_DCLR_CD DESC) AS RNUM
            , A.NIF
            , A.CO_DCLR_TP_CD
            , A.CO_DCLR_CD
            , A.BF_CO_DCLR_CD
            , A.CARR_CD
            , A.RQST_TP_CD
            , A.PRCS_STTS_CD
            , A.DEL_YN
            , A.FRST_REGST_ID
            , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
            , A.USE_YN
            , TO_CHAR(A.ACAP_DTTM,'DD/MM/YYYY') AS ACAP_DTTM
            , A.CO_DCLR_CD_NM
            , A.ATCH_FILE_ID
            , B.CO_NM
            , B.STTS_TP_CD
            , B.STTS_CHG_RSN_CN
            , B.RPRS_TLPH_NO
            , B.RPRS_FAX_NO
            , B.RPRS_EML
            , B.CO_ADDR            
            , C.USER_ID
            , C.USER_TP_CD
            , C.USER_NM
            , CASE WHEN C.NAT_CD IS NULL OR C.NAT_CD = FN_GET_PARAM('DMSC_CNTY_CD')
                   THEN 'Y'
                   ELSE 'N'
                END AS NATV_YN
            , C.INHB_RGSR_NO
            , C.TLPH_NO
            , C.GNDR_CD
            , C.USER_ADDR
            , C.EML
            , C.NAT_CD
            , C.PSPR_NO
            , C.EML_RCPN_YN
            , C.SMS_RCPN_YN
            , NVL(D.STTS_TP_CD,A.STTS_TP_CD) AS ORI_WRKR_STTS_TP_CD
            , NVL(D.STTS_TP_CD,A.STTS_TP_CD) AS WRKR_STTS_TP_CD
            , D.STTS_CHG_RSN_CN AS WRKR_STTS_CHG_RSN_CN
            , D.WRKR_DTTM
            , D.WRKR_ID
        FROM TB_COM_CO_DCLR_CD A
           , TB_COM_CO B
           ,(
               SELECT
                     RANK() OVER (PARTITION BY NIF ORDER BY FRST_RGSR_DTTM DESC, USER_ID DESC) AS RN
                    ,USER_ID
                    ,NIF
                    ,USER_TP_CD
                    ,USER_NM
                    ,INHB_RGSR_NO
                    ,TLPH_NO
                    ,GNDR_CD
                    ,USER_ADDR
                    ,EML
                    ,NAT_CD
                    ,PSPR_NO
                    ,EML_RCPN_YN
                    ,SMS_RCPN_YN
               FROM TB_COM_CO_USER
               WHERE DEL_YN   = 'N'
               AND USER_TP_CD = 'R'
               AND USE_YN = 'Y'
               AND USER_STTS_CD NOT IN ('03')               
             ) C
           ,( 
               SELECT
                     RANK() OVER (PARTITION BY NIF ORDER BY CHG_SRNO DESC) AS RN
                    ,NIF
                    ,CO_DCLR_CD
                    ,CHG_SRNO
                    ,STTS_TP_CD
                    ,STTS_CHG_RSN_CN
                    ,WRKR_ID
                    ,WRKR_DTTM
               FROM TB_COM_CO_DCLR_CD_STTS_H
               WHERE DEL_YN   = 'N'
            ) D
        WHERE A.DEL_YN = 'N'
          AND A.NIF = B.NIF (+)
          AND A.NIF = C.NIF (+)
          AND A.NIF = D.NIF (+)
          AND 1     = C.RN  (+)
          AND 1     = D.RN  (+)
        AND A.NIF   = #{srchNif}
        AND A.CO_DCLR_CD = #{srchCoDclrCd}
        <if test="searchKeywordFrom != null and searchKeywordFrom != '' and searchKeywordTo != null and searchKeywordTo != '' ">
            AND TO_CHAR(A.FRST_RGSR_DTTM,'YYYYMMDD')
                BETWEEN TO_CHAR(TO_DATE( #{searchKeywordFrom} , 'DD/MM/YYYY'), 'YYYYMMDD')
                    AND TO_CHAR(TO_DATE( #{searchKeywordTo}   , 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
        <if test="srchPrcsSttsCd != null and srchPrcsSttsCd != ''">
            AND A.PRCS_STTS_CD = #{srchPrcsSttsCd}
        </if>
        <if test="srchCoDclrTpCd != null and srchCoDclrTpCd != ''">
            AND A.CO_DCLR_TP_CD = #{srchCoDclrTpCd}
        </if>
        <if test="srchPrcsSttsCd != null and srchPrcsSttsCd != ''">
            AND B.CO_NM = #{srchCoNm}
        </if>
    </select>

    <!-- 
         Enregistrer un code d'activité de l'entreprise !==업체신고코드 등록==!
    -->
    <insert id="insertCoDclrCd" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdVo" >
        /** insertCoDclrCd */
        with upsert as
        (
            UPDATE TB_COM_CO_DCLR_CD SET
                    CO_DCLR_TP_CD = #{coDclrTpCd}
                    , BF_CO_DCLR_CD = #{bfCoDclrCd}
                    , CARR_CD        = #{carrCd}
                    , ACAP_DTTM        = SYSTIMESTAMP
                    , RQST_TP_CD    = #{rqstTpCd}
                    , PRCS_STTS_CD    = #{prcsSttsCd}
                    , USE_YN        = #{useYn}
                    , DEL_YN         = 'N'
                    , FRST_REGST_ID = #{frstRegstId}
                    , FRST_RGSR_DTTM = SYSTIMESTAMP
                    , LAST_CHPR_ID = #{lastChprId}
                    , LAST_CHG_DTTM = SYSTIMESTAMP
            WHERE  NIF            = #{nif}
                AND CO_DCLR_CD    = #{coDclrCd}
            returning *
        )
        INSERT INTO TB_COM_CO_DCLR_CD
        (
                NIF
                , CO_DCLR_CD
                , BF_CO_DCLR_CD
                , CO_DCLR_TP_CD
                , CARR_CD
                , ACAP_DTTM
                , RQST_TP_CD
                , PRCS_STTS_CD
                , USE_YN
                , DEL_YN
                , FRST_REGST_ID
                , FRST_RGSR_DTTM
                , LAST_CHPR_ID
                , LAST_CHG_DTTM
                , CO_DCLR_CD_NM
                , ATCH_FILE_ID
        )
        SELECT
                #{nif}
                , #{coDclrCd}
                , #{bfCoDclrCd}
                , #{coDclrTpCd}
                , #{carrCd}
                , SYSTIMESTAMP
                , #{rqstTpCd}
                , #{prcsSttsCd}
                , #{useYn}
                , 'N'
                , #{frstRegstId}
                , SYSTIMESTAMP
                , #{lastChprId}
                , SYSTIMESTAMP
                , #{coDclrCdNm}
                , #{atchFileId}
        WHERE NOT exists(select * from upsert)
    </insert>

    <!-- 
         Enregistrer une historique d'acquisition de code de déclaration d'entreprise !==업체신고코드인수이력 등록==!
    -->
    <insert id="insertCoDclrCdUdrtH" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdudrthVo" >
        /** insertCoDclrCdUdrtH */
        with upsert as
        (
            UPDATE TB_COM_CO_DCLR_CD_UDRT_H SET
                    BF_CO_DCLR_TP_CD = #{bfCoDclrTpCd}
                    , BF_NIF = #{bfNif}
                    , DEL_YN = 'N'
                    , FRST_REGST_ID = #{frstRegstId}
                    , FRST_RGSR_DTTM = SYSTIMESTAMP
                    , LAST_CHPR_ID = #{lastChprId}
                    , LAST_CHG_DTTM = SYSTIMESTAMP
            WHERE NIF            = #{nif}
            AND CO_DCLR_CD    = #{coDclrCd}
            AND BF_CO_DCLR_CD = #{bfCoDclrCd}
            returning *
        )
        INSERT INTO TB_COM_CO_DCLR_CD_UDRT_H
        (
                NIF
                , CO_DCLR_CD
                , BF_CO_DCLR_CD
                , BF_CO_DCLR_TP_CD
                , BF_NIF
                , DEL_YN
                , FRST_REGST_ID
                , FRST_RGSR_DTTM
                , LAST_CHPR_ID
                , LAST_CHG_DTTM
        )
        SELECT
                #{nif}
                , #{coDclrCd}
                , #{bfCoDclrCd}
                , #{bfCoDclrTpCd}
                , #{bfNif}
                , 'N'
                , #{frstRegstId}
                , SYSTIMESTAMP
                , #{lastChprId}
                , SYSTIMESTAMP
        WHERE NOT exists(select * from upsert)
    </insert>

    <!-- 
         Consulter la liste des utilisateurs entreprise !==업체사용자 목록 조회==!
    -->
    <select id="selectCoUserList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserVo">
        /** selectCoUserList */
        <if test="fullSrchYn == null or fullSrchYn == ''">
            <include refid="pagination.header" />
        </if>
        SELECT 
              A.USER_ID
            , A.NIF
            , A.USER_TP_CD
            , A.USER_NM
            , CASE WHEN A.NAT_CD IS NULL OR A.NAT_CD = FN_GET_PARAM('DMSC_CNTY_CD')
                   THEN 'Y'
                   ELSE 'N'
                END AS NATV_YN
            ,  DECODE(NVL(A.NATV_IDCR_NO, ''), '', A.FRGN_IDCR_NO, A.NATV_IDCR_NO)   AS INHB_RGSR_PSPR_NO
            , A.INHB_RGSR_NO
            , A.TLPH_NO
            , A.GNDR_CD
            , A.USER_ADDR
            , A.EML
            , A.NAT_CD
            , (SELECT Y.CNTY_NM 
                 FROM TB_COM_CNTY_CD X, TB_COM_CNTY_CD_LANG Y
                WHERE X.CNTY_CD = Y.CNTY_CD
                  AND X.DEL_YN = 'N'
                  AND Y.DEL_YN = 'N'
                  AND Y.LANG_CD =  #{langCd} /**P*/
                  AND Y.CNTY_CD = A.NAT_CD ) AS NAT_NM
            , A.PSPR_NO
            , A.EML_RCPN_YN
            , A.SMS_RCPN_YN
            , A.DEL_YN
            , A.FRST_REGST_ID
            , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
            , A.USER_STTS_CD
            , A.ATCH_FILE_ID
            , A.RTRN_RSN_CN
            , A.USE_YN
            , NVL((SELECT ACCT_LCKED_YN FROM TB_COM_USER_ACCT WHERE DEL_YN = 'N' AND USER_ID = A.USER_ID AND USER_CLSF_CD = 'C'), 'N') AS ACCT_LCKED_YN
        FROM TB_COM_CO_USER A
        WHERE A.DEL_YN = 'N'
        AND A.NIF = #{srchNif}
        <if test="srchUserSttsCd != null and srchUserSttsCd != ''">
            AND A.USER_STTS_CD = #{srchUserSttsCd}
        </if>
        <if test="srchUserId != null and srchUserId != ''">
            AND UPPER(A.USER_ID) LIKE '%'|| UPPER(#{srchUserId}) ||'%'
        </if>
        <if test="srchUserNm != null and srchUserNm != ''">
            AND UPPER(A.USER_NM) LIKE '%'|| UPPER(#{srchUserNm}) ||'%'
        </if>
        <if test="searchKeywordFrom != null and searchKeywordFrom != '' and searchKeywordTo != null and searchKeywordTo != '' ">
            AND TO_CHAR(A.FRST_RGSR_DTTM,'YYYYMMDD')
        BETWEEN TO_CHAR(TO_DATE( #{searchKeywordFrom} , 'DD/MM/YYYY'), 'YYYYMMDD')
            AND TO_CHAR(TO_DATE( #{searchKeywordTo}   , 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
        ORDER BY A.USER_TP_CD DESC, A.USER_ID

        <if test="fullSrchYn == null or fullSrchYn == ''">
            <include refid="pagination.footer" />
        </if>
    </select>

    <!-- 
         Modifier une rôles un utilisateur entreprise(fusion et acquisition) !==사용자 역할 수정(인수합병)==!
    -->
    <update id="updateCoUserAuthByMna" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserauthVo">
        /** updateCoUserAuthByMna */
        UPDATE TB_COM_CO_USER_AUTH SET
              NIF        = #{nif}
            , LAST_CHPR_ID        = #{lastChprId}    
            , LAST_CHG_DTTM        = SYSTIMESTAMP        
        WHERE DEL_YN = 'N'
          AND USER_ID = #{userId}
    </update>

    <!-- 
         Modifier une relation utilisateur code de réclamation(fusion et acquisition) !==업체신고코드사용자관계 수정(인수합병)==!
    -->
    <update id="updateCoDclrCdUserRelByMna" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcduserrelVo">
        /** updateCoDclrCdUserRelByMna */
        UPDATE TB_COM_CO_DCLR_CD_USER_REL SET
              NIF        = #{nif}
            , LAST_CHPR_ID        = #{lastChprId}    
            , LAST_CHG_DTTM        = SYSTIMESTAMP        
        WHERE DEL_YN = 'N'
          AND USER_ID = #{userId}
    </update>

    <!-- 
        Modifier de code d'activité de l'entreprise (fermé) !==업체신고코드 사용여부 수정(폐쇄)==!
    -->
    <update id="updateCoDclrCdPuse" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdVo" >
        /** updateCoDclrCdPuse */
        UPDATE TB_COM_CO_DCLR_CD SET
              LAST_CHPR_ID         = #{lastChprId}  
            , LAST_CHG_DTTM        = SYSTIMESTAMP
            , USE_YN               = #{useYn}
        WHERE DEL_YN = 'N'
          AND NIF = #{nif}
    </update>

    <!-- 
         Modifier une rôles(nif) !==사용자역할 수정(nif)==!
    -->
    <update id="updateUserAuthDelYnByNif" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserauthVo" >
        /** updateUserAuthDelYnByNif */
        UPDATE TB_COM_CO_USER_AUTH SET
              DEL_YN            = #{delYn}
            , USE_YN            = #{useYn}
            , LAST_CHPR_ID        = #{lastChprId}    
            , LAST_CHG_DTTM        = SYSTIMESTAMP        
        WHERE NIF =  #{nif}
        <if test="roleId != null and roleId != ''">
        AND ROLE_ID <![CDATA[<>]]> #{roleId}
        </if>
    </update>

    <!-- 
         Supprimer un To-do(entreprise) - IPT !==나의할일 삭제(업체) - 내부==!
    -->
    <update id="deletePotiTodoCoByNif" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCoVo" >
        /** deletePotiTodoByNif */
        UPDATE TB_POTI_TODO SET 
              DEL_YN            = 'Y'    
            , LAST_CHPR_ID        = #{lastChprId}    
            , LAST_CHG_DTTM        = SYSTIMESTAMP    
         WHERE TODO_BSOP_TP_CD = 'D05' 
           AND DEL_YN = 'N' 
           AND TODO_STTS_CD = 'A'
           AND TODO_REFF_NO IN (SELECT CO_RQST_NO FROM TB_POTE_CO_RQST WHERE NIF = #{nif})
    </update>

    <!-- 
         Supprimer un To-do(code d'activité de l'entreprise) - IPT !==나의할일 삭제(업체신고코드) - 내부==!
     -->
    <update id="deletePotiTodoCoDclrCdByNif" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCoVo" >
        /** deletePotiTodoByNif */
        UPDATE TB_POTI_TODO SET 
              DEL_YN            = 'Y'    
            , LAST_CHPR_ID        = #{lastChprId}    
            , LAST_CHG_DTTM        = SYSTIMESTAMP    
         WHERE TODO_BSOP_TP_CD = 'D06' 
           AND DEL_YN = 'N' 
           AND TODO_STTS_CD = 'A'
           AND TODO_REFF_NO IN (SELECT CO_DCLR_CD_RQST_NO FROM TB_POTE_CO_DCLR_CD_RQST WHERE NIF = #{nif})
    </update>

    <!--
         Consulter l'état du verrouillage du compte utilisateur !==사용자 계정잠금여부를 조회한다==!
     -->
    <select id="selectAcctLcked" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCouseracctVo">
      /** selectAcctLcked */
      SELECT USER_ID, UPPER(ACCT_LCKED_YN) AS ACCT_LCKED_YN
      FROM TB_COM_USER_ACCT
      WHERE DEL_YN = 'N'
        AND USER_ID = #{srchUserId}
    </select>

    <!--
         Verrouiller le compte utilisateur !==사용자 계정을 잠금한다==!
     -->
    <update id="updateAcctLcked" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserVo" >
      /** updateAcctLcked */
      UPDATE TB_COM_USER_ACCT
      SET ACCT_LCKED_YN = 'Y'
        , ACCT_LCKED_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
        , LAST_CHG_DTTM = SYSTIMESTAMP
        , LAST_CHPR_ID = #{lastChprId}
      WHERE DEL_YN = 'N'
        AND USER_ID = #{srchUserId}
        AND USER_CLSF_CD = #{userClsfCd}
    </update>

    <!--
         Déverrouiller le compte utilisateur !==사용자 계정을 잠금해제한다==!
     -->
    <update id="updateAcctLckedRele" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserVo" >
      /** updateAcctLckedRele */
      UPDATE TB_COM_USER_ACCT
      SET PWD_FAIL_NCNT = 0
        , ACCT_LCKED_YN = 'N'
        , ACCT_LCKED_RSN_CD = NULL
        , ACCT_LCKED_DT = NULL
        , ACCT_LCKED_RELE_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
        , LAST_CHG_DTTM = SYSTIMESTAMP
        , LAST_CHPR_ID = #{lastChprId}
      WHERE DEL_YN = 'N'
        AND USER_ID = #{srchUserId}
        AND USER_CLSF_CD = #{userClsfCd}
    </update>

    <!--
         Consulter la liste des dates de soumission des documents de demande d'entreprise aurès des douanes !==세관의 업체신청 서류제출 일자 목록을 조회한다==!
     -->
    <select id="selectSchdlList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoApreVo"
            resultType="alpass.ipt.pot.pm.co.vo.PotPmCoApreVo">
      /* selectSchdlList */
      SELECT SBMT_ISTM_CN_PRNG_DT
           , CO_NM
      FROM TB_POTE_CO_RQST
      WHERE DEL_YN = 'N'
        AND SBMT_CSTM = #{sbmtCstm}
        AND SBMT_ISTM_CN_PRNG_DT <![CDATA[ >= ]]>  TO_CHAR(CAST(DATE_TRUNC('MONTH',CURRENT_DATE) AS DATE), 'DDMMYYYY')
        AND SBMT_ISTM_CN_PRNG_DT <![CDATA[ <= ]]>  TO_CHAR((DATE_TRUNC('MONTH', CURRENT_DATE) + INTERVAL '1 MONTH - 1 DAY')::DATE,'DDMMYYYY')
      ORDER BY TB_POTE_CO_RQST
    </select>

    <!--
         Consulter les attributions de l'utilisateur de l'entreprise !==업체사용자의 권한을 조회한다==!
     -->
    <select id="selectUserRoleList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdVo"
            resultType="alpass.ipt.pot.pm.co.vo.PotPmCoCodclrcdVo">
        /* selectUserRoleList */
        SELECT
                  A.ROLE_ID
                , A.USER_ID
                , (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND DEL_YN = 'N' AND LANG_CD = #{langCd}) AS ROLE_NM
                , (SELECT CO_NM FROM TB_COM_CO WHERE NIF = (SELECT NIF FROM TB_COM_CO_USER WHERE USER_ID = A.USER_ID AND DEL_YN = 'N')  ) AS CO_NM
                , (SELECT USER_NM FROM TB_COM_CO_USER WHERE USER_ID = A.USER_ID AND DEL_YN = 'N') AS USER_NM
        FROM   TB_COM_CO_USER_AUTH A
        WHERE  A.DEL_YN = 'N'
          AND  A.USER_ID = #{userId}
    </select>

    <!--
         Réinitialiser le mot de passe de l'utilisateur !==사용자의 비밀번호를 초기화한다==!
     -->
    <update id="updatepwdIntz" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoCouserVo" >
      /** updatepwdIntz */
      UPDATE TB_COM_USER_ACCT
      SET PWD_FAIL_NCNT = 0
        , PWD = #{tmpPwd}
        , PWD_CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
        , PWD_INTZ_YN = 'Y'
        , FRST_LGN_YN = 'Y'
        , LAST_CHG_DTTM = SYSTIMESTAMP
        , LAST_CHPR_ID = #{lastChprId}
      WHERE DEL_YN = 'N'
        AND USER_ID = #{srchUserId}
        AND USER_CLSF_CD = #{userClsfCd}
    </update>

</mapper>
