<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.co.mapper.PotPmCoMndaMapper">

    <!--
       Consulter la liste des délégations de douaniers !==관세사위임 대상 목록을 조회한다==!
    -->
    <select id="selectCsbrTrgtList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoMndaVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoMndaVo">
        /** selectCsbrTrgtList */
        <include refid="pagination.header"/>
        SELECT
        A.NIF
        , A.MNDA_SRNO
        , A.CMRC_REGS_NO
        , A.RPPN_USER_ID
        , DECODE(A.MNDA_RQST_TP_CD, 'O', A.RPPN_USER_NM, (SELECT USER_NM FROM TB_COM_CO_USER WHERE
        DEL_YN = 'N' AND USER_ID = A.RPPN_USER_ID)) AS RPPN_USER_NM
        , DECODE(A.MNDA_RQST_TP_CD, 'O', A.BRDY_DT, (SELECT TO_CHAR(TO_DATE(BRDY, 'DD/MM/YYYY'),
        'DD/MM/YYYY') FROM TB_COM_CO_USER WHERE DEL_YN = 'N' AND USER_ID = A.RPPN_USER_ID)) AS
        BRDY_DT
        , DECODE(A.MNDA_RQST_TP_CD, 'O', A.BTHP_NM, (SELECT BTHP FROM TB_COM_CO_USER WHERE DEL_YN =
        'N' AND USER_ID = A.RPPN_USER_ID)) AS BTHP_NM
        , DECODE(A.MNDA_RQST_TP_CD, 'O', (SELECT CONM FROM TB_POTE_NIF WHERE NIF = B.NIF AND DEL_YN
        = 'N'), (SELECT CO_NM FROM TB_POTE_NIF WHERE DEL_YN = 'N' AND NIF = B.NIF)) AS RQST_CO_NM
        , A.FAR_NM
        , A.MOR_NM
        , A.TRDE_ACTV_CD
        , TO_CHAR(TO_DATE(A.RQST_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') RQST_DT
        , TO_CHAR(TO_DATE(A.PRCS_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') PRCS_DT
        , A.ATCH_FILE_ID
        , A.MNDA_RQST_TP_CD
        , A.PRGS_STTS_CD
        , (SELECT USER_NM FROM TB_COM_CO_USER WHERE USER_ID = A.RELE_USER_ID) AS RELE_USER_NM
        , TO_CHAR(TO_DATE(A.RELE_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') RELE_DT
        , A.PRCS_RSN_CN
        , B.CSBR_NIF
        , B.SGNT_PLC_NM
        , (SELECT CO_DCLR_CD FROM TB_COM_CO_DCLR_CD WHERE DEL_YN = 'N' AND NIF = B.CSBR_NIF AND
        CO_DCLR_TP_CD = 'H') AS CO_DCLR_CD
        , (SELECT APRV FROM TB_COM_CO_DCLR_CD WHERE DEL_YN = 'N' AND NIF = B.CSBR_NIF AND
        CO_DCLR_TP_CD = 'H') AS APPR_NO
        , B.CSBR_RPPN_USER_ID
        , (SELECT USER_NM FROM TB_COM_CO_USER WHERE DEL_YN = 'N' AND USER_ID = B.CSBR_RPPN_USER_ID)
        AS CSBR_RPPN_USER_NM
        , TO_CHAR(TO_DATE(B.SGNT_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') SGNT_DT
        , C.NIF
        , C.CMRC_REGS_NO
        , (SELECT CO_NM FROM TB_COM_CO WHERE DEL_YN = 'N' AND NIF = B.CSBR_NIF) AS CSBR_CO_NM
        FROM TB_COM_CO_MNDA_RQST A, TB_COM_CSBR_TRGT_CO B, TB_COM_CO C, TB_POTE_NIF D
        WHERE A.DEL_YN = 'N'
        AND B.DEL_YN = 'N'
        AND A.NIF = B.NIF
        AND B.CSBR_NIF = C.NIF
        AND A.MNDA_SRNO = B.MNDA_SRNO
        AND A.NIF = D.NIF
        <if test="searchKeywordFrom != null and searchKeywordFrom != '' and searchKeywordTo != null and searchKeywordTo != '' ">
            AND TO_CHAR(TO_DATE( A.RQST_DT , 'DDMMYYYY'), 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE( #{searchKeywordFrom} , 'DD/MM/YYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE( #{searchKeywordTo}   , 'DD/MM/YYYY'), 'YYYYMMDD')
        </if>
        <if test="srchPrgsSttsCd != null and srchPrgsSttsCd != ''">
            AND A.PRGS_STTS_CD = #{srchPrgsSttsCd}
        </if>
        <if test="srchNif != null and srchNif != ''">
            AND A.NIF LIKE '%'|| #{srchNif} ||'%'
        </if>
        <if test="srchCmrcRegsNo != null and srchCmrcRegsNo != ''">
            AND A.CMRC_REGS_NO LIKE '%'|| #{srchCmrcRegsNo} ||'%'
        </if>
        <if test="srchConm != null and srchConm != ''">
            AND D.CONM LIKE '%'|| #{srchConm} ||'%'
        </if>
        <include refid="pagination.footer"/>
    </select>

    <!--
       Consulter la liste des attributions des délégations de douaniers !==관세사위임 권한 목록을 조회한다==!
    -->
    <select id="selectMndaAuthList" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoMndaVo" resultType="String">
        /** selectMndaAuthList */
        SELECT
            AUTH_CD
        FROM  TB_COM_CO_MNDA_AUTH_REL A
        WHERE A.DEL_YN = 'N'
          AND A.NIF = #{nif}
          AND A.MNDA_SRNO = #{mndaSrno}
    </select>

    <!--
       Consulter le détail des délégations de douaniers !==관세사위임 대상 상세를 조회한다==!
    -->
    <select id="selectCsbrTrgtDetail" parameterType="alpass.ipt.pot.pm.co.vo.PotPmCoMndaVo" resultType="alpass.ipt.pot.pm.co.vo.PotPmCoMndaVo">
        /** selectCsbrTrgtDetail */
        SELECT
              A.NIF
            , A.CMRC_REGS_NO
            , DECODE(A.MNDA_RQST_TP_CD, 'O', A.RPPN_USER_NM, (SELECT USER_NM FROM TB_COM_CO_USER WHERE DEL_YN = 'N' AND USER_ID = A.RPPN_USER_ID)) AS RPPN_USER_NM
            , DECODE(A.MNDA_RQST_TP_CD, 'O', A.BRDY_DT, (SELECT TO_CHAR(TO_DATE(BRDY, 'DD/MM/YYYY'), 'DD/MM/YYYY') FROM TB_COM_CO_USER WHERE DEL_YN = 'N' AND USER_ID = A.RPPN_USER_ID)) AS BRDY_DT
            , DECODE(A.MNDA_RQST_TP_CD, 'O', A.BTHP_NM, (SELECT BTHP FROM TB_COM_CO_USER WHERE DEL_YN = 'N' AND USER_ID = A.RPPN_USER_ID)) AS BTHP_NM
            , DECODE(A.MNDA_RQST_TP_CD, 'O', (SELECT CONM FROM TB_POTE_NIF WHERE NIF = B.NIF AND DEL_YN
            = 'N'), (SELECT CO_NM FROM TB_POTE_NIF WHERE DEL_YN = 'N' AND NIF = B.NIF) AS RQST_CO_NM
            , A.FAR_NM
            , A.MOR_NM
            , A.TRDE_ACTV_CD
            , TO_CHAR(TO_DATE(A.RQST_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') RQST_DT
            , TO_CHAR(TO_DATE(A.PRCS_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') PRCS_DT
            , A.MNDA_RQST_TP_CD
            , (FN_GET_CD_VDVAL_NM('POT_0096', A.PRGS_STTS_CD, #{langCd})) AS PRGS_STTS_CD
            , (SELECT USER_NM FROM TB_COM_CO_USER WHERE USER_ID = A.RELE_USER_ID) AS RELE_USER_NM
            , TO_CHAR(TO_DATE(A.RELE_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') RELE_DT
            , A.PRCS_RSN_CN
            , B.CSBR_NIF
            , B.SGNT_PLC_NM
            , (SELECT CO_DCLR_CD FROM TB_COM_CO_DCLR_CD WHERE DEL_YN = 'N' AND NIF = B.CSBR_NIF AND CO_DCLR_TP_CD = 'H')
            , (SELECT APRV FROM TB_COM_CO_DCLR_CD WHERE DEL_YN = 'N' AND NIF = B.CSBR_NIF AND CO_DCLR_TP_CD = 'H') AS APPR_NO
            , (SELECT USER_NM FROM TB_COM_CO_USER WHERE DEL_YN = 'N' AND USER_ID = B.CSBR_RPPN_USER_ID) AS CSBR_RPPN_USER_NM
            , TO_CHAR(TO_DATE(B.SGNT_DT, 'DD/MM/YYYY'), 'DD/MM/YYYY') SGNT_DT
            , (SELECT CO_NM FROM TB_COM_CO WHERE DEL_YN = 'N' AND NIF = B.CSBR_NIF) AS CSBR_CO_NM
            , (SELECT  LISTAGG(AUTH_CD, ',') WITHIN GROUP(ORDER BY NIF, MNDA_SRNO) AS names FROM TB_COM_CO_MNDA_AUTH_REL WHERE NIF= A.NIF AND MNDA_SRNO = A.MNDA_SRNO  GROUP BY NIF, MNDA_SRNO) AS AUTH_CD
        FROM TB_COM_CO_MNDA_RQST A, TB_COM_CSBR_TRGT_CO B, TB_COM_CO C
        WHERE A.DEL_YN = 'N'
        AND   B.DEL_YN = 'N'
        AND   A.NIF = B.NIF
        AND   B.CSBR_NIF = C.NIF
        AND   A.MNDA_SRNO = B.MNDA_SRNO
        AND   B.NIF = #{nif}
        AND   B.CSBR_NIF = #{csbrNif}
        AND   B.MNDA_SRNO = #{mndaSrno}
    </select>

</mapper>
