<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.clr.trm.aqm.mapper.ClrTrmCvqtMgntMapper">
    <!--
    Consultation de la liste des preuves d'origine !== 원산지증명검증 목록 조회 ==!
    (Kim Jaeki)
    -->
    <select id="selectClrCvqtMgntOrcyList" parameterType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo" resultType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo">
        /* selectClrCvqtMgntOrcyList */
      <include refid="pagination.header" />
      SELECT A.ORCY_PROF_VRFC_NO -- 원산지증명검증번호
				, A.ORCY_CNTY_CD -- 원산지국가코드
				, FN_GET_CNTY_NM(A.ORCY_CNTY_CD, #{langCd}) AS ORCY_CNTY_NM -- 원산지국가명
				, B.CD_DESC -- 첨부파일ID
				, B.ATCH_FILE_ID -- 첨부파일ID
				, C.CD_DESC AS CHPN -- 원산지증명 담당자
				, TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_STRT_DT -- 적용시작일자
				, TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_END_DT -- 적용종료일자
				, A.USE_YN -- 사용여부
				, A.prvl_cd
			FROM TB_CLRI_ORCY_PROF_VRFC_COMN A
				, TB_CLRI_ORCY_PROF_VRFC_DTL B -- 원산지증명문서
				, TB_CLRI_ORCY_PROF_VRFC_DTL C -- 원산지증명담당자
			WHERE A.ORCY_PROF_VRFC_NO = B.ORCY_PROF_VRFC_NO(+)
			AND B.ORCY_PROF_VRFC_TP_CD = 'A'
			AND A.ORCY_PROF_VRFC_NO = C.ORCY_PROF_VRFC_NO(+)
			AND C.ORCY_PROF_VRFC_TP_CD = 'B'
			<if test="prvlCd != null and prvlCd != ''">
			AND A.prvl_cd = #{prvlCd}
			</if>
			<if test="orcyCntyCd != null and orcyCntyCd != ''">
			AND A.ORCY_CNTY_CD LIKE #{orcyCntyCd} || '%'            /** Code de pays d'origine !== 원산지국가코드 ==! */
			</if>
			<if test="aplyStrtDt != null and aplyEndDt != null and aplyStrtDt != '' and aplyEndDt != ''">
            AND (TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT        /** Date de départ de l'application !== 적용시작일자 ==! */
				OR TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_STRT_DT AND A.APLY_END_DT)     /** Date de fin de l'application !== 적용종료일자 ==! */
            </if>
			AND A.DEL_YN = 'N'
			AND B.DEL_YN = 'N'
			AND C.DEL_YN = 'N'
			ORDER BY ORCY_PROF_VRFC_NO
      <include refid="pagination.footer" />
    </select>
    
    <!--
    Consultation de la liste des preuves d'origine !== 원산지증명검증 목록 조회 ==!
    (Kim Jaeki)
    -->
    <select id="selectClrCvqtMgntOrcyDetailList" parameterType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo" resultType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo">
      /* selectClrCvqtMgntOrcyDetailList */
      SELECT ORCY_PROF_VRFC_NO
        , ORCY_PROF_VRFC_DTL_SRNO AS RNUM
        , ORCY_PROF_VRFC_DTL_SRNO
        , CD_DESC AS CHPN
        , CD_DESC
        , ATCH_FILE_ID
        , TO_CHAR(TO_DATE(APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_STRT_DT -- 적용시작일자
        , TO_CHAR(TO_DATE(APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_END_DT -- 적용종료일자
        , TO_CHAR(TO_DATE(APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DTL_APLY_STRT_DT -- 적용시작일자
        , TO_CHAR(TO_DATE(APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DTL_APLY_END_DT -- 적용종료일자
      FROM TB_CLRI_ORCY_PROF_VRFC_DTL
      WHERE ORCY_PROF_VRFC_NO = #{orcyProfVrfcNo}
      AND ORCY_PROF_VRFC_TP_CD = #{orcyProfVrfcTpCd}
      AND DEL_YN = 'N'
      ORDER BY ORCY_PROF_VRFC_NO, ORCY_PROF_VRFC_DTL_SRNO
    </select>
    
    <!--
    Enregistrement de la généralité de la preuve d'origine !== 원산지증명공통 등록 ==!
    (Kim Jaeki)
    -->
    <insert id="insertClrCvqtMgntOrcyProf" parameterType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo">
      /* insertClrCvqtMgntOrcyProf */
      INSERT INTO TB_CLRI_ORCY_PROF_VRFC_COMN
        (  orcy_prof_vrfc_no                      /** Code de convention !== 원산지증명검증번호 ==! */
          , orcy_cnty_cd            /** Date de départ de l'application de la convention !== 원산지국가코드 ==! */
          , USE_YN                       /** Utilisé ON !== 사용여부 ==! */
          , APLY_STRT_DT            /** Date de départ de l'application de la convention !== 적용시작일자 ==! */
          , APLY_END_DT             /** Date de fin de l'application de la convention !== 적용종료일자 ==! */
          , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
          , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
          , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
          , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
          , prvl_Cd                /** Code accord !== 특혜코드 ==! */
        )
        VALUES
        ( #{orcyProfVrfcNo}                    /** Code de convention !== 원산지증명검증번호 ==! */
          , #{orcyCntyCd}            /** Date de départ de l'application de la convention !== 원산지국가코드 ==! */
          , #{useYn}                     /** Utilisé ON !== 사용여부 ==! */
          , #{aplyStrtDt}            /** Date de départ de l'application !== 적용시작일자 ==! */
          , #{aplyEndDt}             /** Date de fin de l'application !== 적용종료일자 ==! */
          , 'N'                          /** Suppression ON !== 삭제여부 ==! */
          , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
          , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
          , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
          , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
          , #{prvlCd}                /** Code accord !== 특혜코드 ==! */
        )
    </insert>
    
    <!--
    Enregistrement des détails de la preuve d'origine !== 원산지증명상세 등록 ==!
    (Kim Jaeki)
    -->
    <insert id="insertClrCvqtMgntOrcyProfVrfcDtl" parameterType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo">
      /* insertClrCvqtMgntOrcyProfVrfcDtl */
      INSERT INTO TB_CLRI_ORCY_PROF_VRFC_DTL
        (  orcy_prof_vrfc_no                      /** Code de convention !== 원산지증명검증번호 ==! */
          , orcy_prof_vrfc_tp_cd
          , orcy_prof_vrfc_dtl_srno            
          , cd_desc
          , APLY_STRT_DT            /** Date de départ de l'application de la convention !== 적용시작일자 ==! */
          , APLY_END_DT             /** Date de fin de l'application de la convention !== 적용종료일자 ==! */
          , atch_file_id
          , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
          , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
          , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
          , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
        )
        VALUES
        ( #{orcyProfVrfcNo}                    /** Code de convention !== 원산지증명검증번호 ==! */
          , #{orcyProfVrfcTpCd}            
          , #{orcyProfVrfcDtlSrno}         
          , #{cdDesc}                     
          , #{dtlAplyStrtDt}            /** Date de départ de l'application !== 적용시작일자 ==! */
          , #{dtlAplyEndDt}             /** Date de fin de l'application !== 적용종료일자 ==! */
          , #{atchFileId}             
          , 'N'                          /** Suppression ON !== 삭제여부 ==! */
          , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
          , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
          , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
          , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
        )
    </insert>
    
    <!--
    Modification de la généralité de la preuve d'origine !== 원산지증명공통 수정 ==!
    (Kim Jaeki)
    -->
    <update id="updateClrCvqtMgntOrcyProf" parameterType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo">
      /* updateClrCvqtMgntOrcyProf */
      UPDATE TB_CLRI_ORCY_PROF_VRFC_COMN
      SET USE_YN = #{useYn}                     /** Utilisé ON !== 사용여부 ==! */
        , APLY_STRT_DT = #{aplyStrtDt}            /** Date de départ de l'application !== 적용시작일자 ==! */
        , APLY_END_DT = #{aplyEndDt}             /** Date de fin de l'application !== 적용종료일자 ==! */
        , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM = SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
    	WHERE orcy_prof_vrfc_no = #{orcyProfVrfcNo}                    /** Code de convention !== 원산지증명검증번호 ==! */
    	and prvl_Cd = #{prvlCd}                /** Code accord !== 특혜코드 ==! */
    	AND orcy_cnty_cd = #{orcyCntyCd}            /** Date de départ de l'application de la convention !== 원산지국가코드 ==! */
    </update>
    
    <!--
    Modification de la suppression O/N des détails de la preuve d'origine !== 원산지증명상세 삭제여부 수정 ==!
    (Kim Jaeki)
    -->
    <update id="updateClrCvqtMgntOrcyProfVrfcDtlDelYn" parameterType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo">
      /* updateClrCvqtMgntOrcyProfVrfcDtl */
      UPDATE TB_CLRI_ORCY_PROF_VRFC_DTL
          SET DEL_YN = 'Y'                                /** Suppression ON !== 삭제여부 ==! */
        , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
    	WHERE orcy_prof_vrfc_no = #{orcyProfVrfcNo}                    /** Code de convention !== 원산지증명검증번호 ==! */
    	AND orcy_prof_vrfc_tp_cd = #{orcyProfVrfcTpCd}            /** Date de départ de l'application de la convention !== 원산지국가코드 ==! */
    </update>
    
    <!--
    Modification de la suppression O/N des détails de la preuve d'origine !== 원산지증명상세 삭제여부 수정 ==!
    (Kim Jaeki)
    -->
    <update id="updateClrCvqtMgntOrcyProfVrfcDtl" parameterType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo">
      /* updateClrCvqtMgntOrcyProfVrfcDtl */
      UPDATE TB_CLRI_ORCY_PROF_VRFC_DTL
      SET cd_desc = #{cdDesc}
        , APLY_STRT_DT = #{dtlAplyStrtDt}            /** Date de départ de l'application de la convention !== 적용시작일자 ==! */
        , APLY_END_DT = #{dtlAplyEndDt}             /** Date de fin de l'application de la convention !== 적용종료일자 ==! */
        , atch_file_id = #{atchFileId}
        , DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
    	WHERE orcy_prof_vrfc_no = #{orcyProfVrfcNo}                    /** Code de convention !== 원산지증명검증번호 ==! */
    	AND orcy_prof_vrfc_tp_cd = #{orcyProfVrfcTpCd}
    	AND orcy_prof_vrfc_dtl_srno = #{orcyProfVrfcDtlSrno}
    </update>
    
    
    <!--
    Consultation de la liste des fichiers de détails de la preuve d'origine à supprimer !== 원산지증명상세 삭제 대상 파일 목록 조회 ==!
    (Kim Jaeki)
    -->
    <select id="selectClrCvqtMgntOrcyDetailDelFileList" parameterType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo" resultType="alpass.ipt.clr.trm.aqm.vo.ClrTrmCvqtMgntOrcyVo">
      /* selectClrCvqtMgntOrcyDetailDelFileList */
      SELECT orcy_prof_vrfc_no
        , orcy_prof_vrfc_tp_cd
        , orcy_prof_vrfc_dtl_srno
        , ATCH_FILE_ID
      FROM TB_CLRI_ORCY_PROF_VRFC_DTL
      WHERE DEL_YN = 'Y' 
      AND ORCY_PROF_VRFC_NO = #{orcyProfVrfcNo}
      AND ORCY_PROF_VRFC_TP_CD IN ('A', 'B')
      ORDER BY ORCY_PROF_VRFC_NO, ORCY_PROF_VRFC_DTL_SRNO
    </select>
    
</mapper>
