<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.pot.pm.vhcl.mapper.PotPmVhclMdlmgmtMapper">

	<!--
			Consulter les codes de modèle de véhicule !== 차량모델코드 목록 조회  ==!
	-->
	<select id="selectVhclMdlCdList" parameterType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMdlMgmtVo"
			resultType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMdlMgmtVo">
		/* selectVhclMdlCdList */
		<include refid="pagination.header"/>
		SELECT A.VHCL_MDL_CD,
	           A.VHCL_MDL_NM,
	           A.VHCL_MNUR_CD,
	           B.VHCL_MNUR_NM
	    FROM TB_COM_VHCL_MDL A, TB_COM_VHCL_MNUR B
	    WHERE A.DEL_YN = 'N'
          AND B.DEL_YN = 'N'
          AND A.VHCL_MNUR_CD = B.VHCL_MNUR_CD 
	    <if test="vhclMdlCd != null and vhclMdlCd != ''">
	      AND A.VHCL_MDL_CD = #{vhclMdlCd}
	    </if>
	    <if test="vhclMdlNm != null and vhclMdlNm != ''">
	      AND UPPER(A.VHCL_MDL_NM) LIKE '%'||UPPER(#{vhclMdlNm})||'%'
	    </if>
	    <if test="vhclMnurCd != null and vhclMnurCd != ''">
	      AND A.VHCL_MNUR_CD = #{vhclMnurCd}
	    </if>
	    ORDER BY A.VHCL_MNUR_CD, A.VHCL_MDL_CD
		<include refid="pagination.footer"/>
	</select>

	<!--
			Consulter le nom de fabricant de véhicule !== 차량제조사명 조회  ==!
	-->
	<select id="selectVhclMnurNm" parameterType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMdlMgmtVo"
			resultType="java.lang.String">
		/* selectVhclMnurNm */
		SELECT
           	   VHCL_MNUR_NM
	    FROM TB_COM_VHCL_MNUR
	    WHERE DEL_YN = 'N' 
	      AND VHCL_MNUR_CD = #{vhclMnurCd}
	      
	</select>

	<!--
			Supprimer un code de modèle de véhicule !== 차량모델코드 삭제  ==!
	-->
	<update id="deleteVhclMdlCd" parameterType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMdlMgmtVo">
		/* deleteVhclMdlCd */
	 	UPDATE TB_COM_VHCL_MDL
		SET
			  LAST_CHPR_ID = #{lastChprId}
			, LAST_CHG_DTTM = SYSTIMESTAMP
			, DEL_YN = 'Y'
		WHERE DEL_YN = 'N'
		AND   VHCL_MDL_CD = #{vhclMdlCd}
		AND   UPPER(VHCL_MDL_NM) = UPPER(#{vhclMdlNm})
		AND   VHCL_MNUR_CD = #{vhclMnurCd} 
	 
	</update>

	<!--
			Enregistrer un code de modèle de véhicule !== 차량모델코드 등록  ==!
	-->
	<insert id="insertVhclMdlCd" parameterType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMdlMgmtVo">
		/** insertVhclMdlCd */
		WITH UPSERT AS
		(
			UPDATE TB_COM_VHCL_MDL
			SET
				  DEL_YN = 'N'
				, VHCL_MDL_NM  = #{vhclMdlNm}
				, LAST_CHPR_ID = #{lastChprId}
				, LAST_CHG_DTTM = SYSTIMESTAMP
			WHERE VHCL_MDL_CD = #{vhclMdlCd}
			  and VHCL_MNUR_CD = #{vhclMnurCd}
			RETURNING *
		)
		INSERT INTO TB_COM_VHCL_MDL
		(
		      VHCL_MDL_CD
		    , VHCL_MDL_NM
			, VHCL_MNUR_CD
			, DEL_YN
			, FRST_REGST_ID
			, FRST_RGSR_DTTM
			, LAST_CHPR_ID
			, LAST_CHG_DTTM
		)
		select
			  #{vhclMdlCd}
			, #{vhclMdlNm}
			, #{vhclMnurCd}
			, 'N'
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
		WHERE NOT EXISTS(SELECT * FROM UPSERT)
	</insert>
	
</mapper>
