<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.sm.emlsms.mapper.PotSmEmlSmsMapper">
	
	
	<!-- 
		 Consulter la liste des e-mails !== 메일목록을 조회 ==!
	 -->
	<select id="selectEmlList" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsVo" resultType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsVo">
		/** selectEmlList */
    	<include refid="pagination.header"/>
		SELECT
		       TO_CHAR(SNDR_DTTM, 'YYYYMMDDHH24:MI:SS') AS SNDR_DT 
		     , EML_ID
		     , (SELECT FN_GET_CD_VDVAL_NM('COM_0022', BSOP_CLSF_CD, #{langCd}) FROM DUAL) AS BSOP_CLSF_CD
		     , SNDR_ID
		     , SNDR_EML
		     , TO_CHAR(SNDR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS SNDR_DTTM
		     , RCVR_ID
		     , RCVR_EML
		     , EML_TTLE
		     , EML_CN
		     , EML_STTS_CD
		     , DEL_YN
		     , FRST_REGST_ID
		     , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm
		     , LAST_CHPR_ID
		     , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') AS lastChgDttm
		     , (SELECT FN_GET_CD_VDVAL_NM('COM_0041', EML_STTS_CD, #{langCd}) FROM DUAL) AS EML_STTS_CD_NM
				 , ATCH_FILE_ID
		FROM TB_COM_EML
		WHERE DEL_YN = 'N'
		<if test="searBsopClsfCd != null and searBsopClsfCd != ''">
		AND   BSOP_CLSF_CD = #{searBsopClsfCd}
		</if>		
		<if test="searRcvrId != null and searRcvrId != ''">
		AND   UPPER(RCVR_ID) LIKE '%'||UPPER(#{searRcvrId})||'%'
		</if>		
		<if test="searEmlTtle != null and searEmlTtle != ''">
		AND   UPPER(EML_TTLE) LIKE '%'||UPPER(#{searEmlTtle})||'%'
		</if>	
	    <if test="searchKeywordFrom != '' and searchKeywordTo != '' and searchKeywordFrom != null and searchKeywordTo != null">
	    AND TO_DATE(TO_CHAR(SNDR_DTTM, 'DD/MM/YYYY'), 'DD/MM/YYYY') BETWEEN TO_DATE(#{searchKeywordFrom},'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo},'DD/MM/YYYY')
	    </if>		
		<if test="searEmlSttsCd != null and searEmlSttsCd != ''">
		AND   EML_STTS_CD = #{searEmlSttsCd}
		</if>	
		ORDER BY SNDR_DT DESC
    <include refid="pagination.footer"/>
	</select>

	<!-- 
		 Recherche de nom d'utilisateur !== 사용자 명 조회 ==!
	 -->
	<select id="selectUserNm" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsVo" resultType="java.lang.String">
		/** selectUserNm */
		<if test="appClsfCd == 'IPT'">
		SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = #{sndrId} AND DEL_YN = 'N'
		</if>
		<if test="appClsfCd == 'EPT'">
		SELECT USER_NM FROM TB_COM_CO_USER WHERE USER_ID = #{sndrId} AND DEL_YN = 'N'
		</if>
	</select>

	<!--
		 Crytage et décryptage du contenu d'e-mail !== 메일내용 암,복호화 ==!
	 -->
	<select id="selectNtceMsgEncrypt" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT fn_encrypt_psn_info(#{emlCn})
	</select>

	<!--
		 번역필요 !== 메일내용 암,복호화 ==!
	 -->
	<select id="selectNtceMsgDecrypt" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsVo" resultType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsVo">
		SELECT fn_decrypt_psn_info(#{cnEncrypt}, #{acesId}, #{acesPw}, #{scrnUrl})
	</select>

	<!--
		 Crytage et décryptage du contenu d'e-mail !== 메일내용 암,복호화 ==!
	 -->
	<select id="selectSmsList" parameterType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsVo" resultType="alpass.ipt.pot.sm.emlsms.vo.PotSmEmlSmsVo">
		/** selectSmsList */
		<include refid="pagination.header"/>
		SELECT
	      TO_CHAR(SNDR_DTTM, 'YYYYMMDDHH24:MI:SS') AS SNDR_DT
		, SMS_ID
		, (SELECT FN_GET_CD_VDVAL_NM('COM_0022', BSOP_CLSF_CD, #{langCd}) FROM DUAL) AS BSOP_CLSF_CD_NM
	    , BSOP_CLSF_CD
		, SNDR_ID
		, TO_CHAR(SNDR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS SNDR_DTTM
		, RCVR_ID
		, SMS_CN
		, SMS_STTS_CD
	    , RCVR_TLPHNO
		, DEL_YN
		, FRST_REGST_ID
		, TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm
		, LAST_CHPR_ID
		, TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') AS lastChgDttm
		, SNDR_TLPHNO
		, (SELECT FN_GET_CD_VDVAL_NM('COM_0041', SMS_STTS_CD, #{langCd}) FROM DUAL) AS SMS_STTS_CD_NM
		, SMS_STTS_CD
		FROM TB_COM_SMS
		WHERE DEL_YN = 'N'
		<if test="searBsopClsfCd != null and searBsopClsfCd != ''">
			AND   BSOP_CLSF_CD = #{searBsopClsfCd}
		</if>
		<if test="searRcvrId != null and searRcvrId != ''">
			AND   UPPER(RCVR_ID) LIKE '%'||UPPER(#{searRcvrId})||'%'
		</if>
		<if test="searchKeywordFrom != '' and searchKeywordTo != '' and searchKeywordFrom != null and searchKeywordTo != null">
			AND TO_DATE(TO_CHAR(SNDR_DTTM, 'DD/MM/YYYY'), 'DD/MM/YYYY') BETWEEN TO_DATE(#{searchKeywordFrom},'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo},'DD/MM/YYYY')
		</if>
		<if test="searSmsSttsCd != null and searSmsSttsCd != ''">
			AND   SMS_STTS_CD = #{searSmsSttsCd}
		</if>
		ORDER BY SNDR_DT DESC
		<include refid="pagination.footer"/>
	</select>

</mapper>
