<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.frxcg.rgsr.mapper.PscFrxcgDcshMapper">

    <!--
    @TODO:번역필요 !== GeneratorComments 목록 조회 ==!
    -->
    <select id="selectPscFrxcgDcsh"  
      parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo" resultType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo">
        /* selectPscFrxcgDcsh */
        <include refid="pagination.header" ></include>
            SELECT
                  A.FRXCG_DCSH_TEMP_NO         /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
                , A.FRXCG_DCSH_MGMT_NO         /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
                , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
                , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
                , A.FRXCG_RGSR_TP_CD           /** Code de type d'enregistrement des devises !== 외환등록구분코드 ==! */
                , A.PSNR_PT_CD                 /** Code de type de voyageur !== 여행자유형코드 ==! */
                , A.NTNAL_IDFY_NO              /** Nin !== 자국민식별번호 ==! */
                , A.PSNR_FMNM                  /** Prénom Du Voyageur !== 여행자성 ==! */
                , A.PSNR_GVNM_NM               /** Prénom du voyageur !== 여행자이름명 ==! */
                , A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
                , A.BRDY                       /** Date De Naissance !== 생년월일 ==! */
                , A.BIRT_REGN_NM               /** Lieu De Naissance !== 출생지역명 ==! */
                , A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
                , A.JOB_NM                     /** Profession !== 직업명 ==! */
                , A.DZA_ADDR                   /** Adresse en Algérie !== 알제리주소 ==! */
                , A.OVRS_RSDN_ADDR             /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
                , A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
                , A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
                , A.EML                        /** Email !== 이메일 ==! */
                , A.TLPH_NO                    /** N° De Téléphone !== 전화번호 ==! */
                , A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
                , A.DPTR_DT                    /** Date De Départ !== 출발일자 ==! */                
                , A.JW_PDLS_TTWG               /** @TODO : 번역필요 !== 귀금속총중량 ==! */
                , A.END_DT                     /** Date d'apurement !== 종료일자 ==! */
                , TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT                    /** Date D'Enregistrement !== 등록일자 ==! */
                , A.REGST_ID                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
                , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
                , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */                
                , A.FRXCG_RQST_STTS_CD         /** DCode de statut de demande de devises !== 외환신청상태코드 ==! */    
                , A.CONS_AMT              /** Montant de dépôt !== 위탁금액 ==! */
                , A.CONS_AMT_CURR_CD              /** Code de monnaie de dépôt !== 위탁금액통화코드 ==! */
                , A.FRXCG_EUR_TAMT              /** Montant total de devises en euro !== 외환유로총금액 ==! */     
                , A.PSPR_NO_ISS_DT                /** Date de délivrance du passeport !==여권발급일자==! **/ 
				, A.PSPR_NO_ISS_ITT				/** Lieu de délivrance du passeport !==여권발급기관==! **/
				, A.JW_END_WGHT					/** Poids d'apurement des métaux précieux !==귀금속종료중량==! **/
				, A.DZD_TAMT						/** Montant total en dinar !==DZD총금액==! **/       
				, A.BRLC_REGN_CD               /** Lieu de départ !== 탑승지지역코드 ==! */
                , A.ARLC_REGN_CD               /** Lieu de destination !== 도착지지역코드 ==! */
                 , (CASE WHEN (FRXCG_RGSR_TP_CD = '01' AND (A.PSNR_PT_CD = '03' OR A.PSNR_PT_CD = '04') AND (A.BF_DCSH_NO = '' OR A.BF_DCSH_NO IS NULL))    
                		THEN (SELECT FRXCG_DCSH_TEMP_NO
					            FROM TB_PSCI_FRXCG_DCSH_MGMT B
					            WHERE A.PSPR_NO = B.PSPR_NO
					            AND A.RGSR_DT >= B.RGSR_DT 
					            AND B.FRXCG_RGSR_TP_CD ='02'
					            ORDER BY FRST_RGSR_DTTM DESC 
					            LIMIT 1)
               			ELSE A.BF_DCSH_NO 
                  END) AS BF_DCSH_NO  /** N° déclaration précédente !== 이전신고서번호 ==! */      
                , A.DEPT_CD /** Bureau de douane !== 신고부서 ==! */
				, FN_GET_ORGN_NM(A.DEPT_CD) AS DEPT_CD_NM               /**  !== 세관명 ==! */
				, A.ESTM_YN /** Présumé O/N !== 추정여부 ==! */ 
				, A.NTCE_STTS_CD /** Code d'etat de notification !== 알림상태코드 ==! */
				,( SELECT ORG.ORGN_NM  
		             FROM ALPASSINT.TB_POTI_ORGN ORG 
		            WHERE ORG.ORGN_MGMT_CD = (SELECT FN_GET_UPR_ORGN_CD(ORGN_MGMT_CD,'DIR') 
		                                        FROM ALPASSINT.TB_POTI_ORGN 
		                                       WHERE ORGN_CD = A.CSTM_CD 
		                                     ) 
				) AS DRD_NM /** @TODO : 번역필요 !== 지역본부세관명 ==! */
            FROM  ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT A
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
           <if test='frxcgDcshTempNo != null and frxcgDcshTempNo != ""'>
             AND  A.FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}       /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
           </if>
           <if test='frxcgDcshMgmtNo != null and frxcgDcshMgmtNo != ""'>
             AND  A.FRXCG_DCSH_MGMT_NO = #{frxcgDcshMgmtNo}       /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
          </if>          
        
        <include refid="pagination.footer" ></include>
    </select>
    
    <!--
    @TODO:번역필요 !== GeneratorComments 조회 ==!
    -->
    <select id="selectBfInfo"  
      parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo" resultType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo">
        /* selectBfInfo */
        <include refid="pagination.header" ></include>
            SELECT
                  A.FRXCG_DCSH_TEMP_NO         /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
                , A.FRXCG_DCSH_MGMT_NO         /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
                , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
                , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
                , A.FRXCG_RGSR_TP_CD           /** Code de type d'enregistrement des devises !== 외환등록구분코드 ==! */
                , A.PSNR_PT_CD                 /** Code de type de voyageur !== 여행자유형코드 ==! */
                , A.NTNAL_IDFY_NO              /** Nin !== 자국민식별번호 ==! */
                , A.PSNR_FMNM                  /** Prénom Du Voyageur !== 여행자성 ==! */
                , A.PSNR_GVNM_NM               /** Prénom du voyageur !== 여행자이름명 ==! */
                , A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
                , A.BRDY                       /** Date De Naissance !== 생년월일 ==! */
                , A.BIRT_REGN_NM               /** Lieu De Naissance !== 출생지역명 ==! */
                , A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
                , A.JOB_NM                     /** Profession !== 직업명 ==! */
                , A.DZA_ADDR                   /** Adresse en Algérie !== 알제리주소 ==! */
                , A.OVRS_RSDN_ADDR             /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
                , A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
                , A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
                , A.EML                        /** Email !== 이메일 ==! */
                , A.TLPH_NO                    /** N° De Téléphone !== 전화번호 ==! */
                , A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
                , A.DPTR_DT                    /** Date De Départ !== 출발일자 ==! */                
                , A.JW_PDLS_TTWG               /** @TODO : 번역필요 !== 귀금속총중량 ==! */
                , A.END_DT                     /** Date d'apurement !== 종료일자 ==! */
                , TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT                    /** Date D'Enregistrement !== 등록일자 ==! */
                , A.REGST_ID                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
                , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
                , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */                
                , A.FRXCG_RQST_STTS_CD         /** DCode de statut de demande de devises !== 외환신청상태코드 ==! */    
                , A.CONS_AMT              /** Montant de dépôt !== 위탁금액 ==! */
                , A.CONS_AMT_CURR_CD              /** Code de monnaie de dépôt !== 위탁금액통화코드 ==! */
                , A.FRXCG_EUR_TAMT              /** Montant total de devises en euro !== 외환유로총금액 ==! */     
                , A.PSPR_NO_ISS_DT                /** Date de délivrance du passeport !==여권발급일자==! **/ 
				, A.PSPR_NO_ISS_ITT				/** Lieu de délivrance du passeport !==여권발급기관==! **/
				, A.JW_END_WGHT					/** Poids d'apurement des métaux précieux !==귀금속종료중량==! **/
				, A.DZD_TAMT						/** Montant total en dinar !==DZD총금액==! **/       
				, A.BRLC_REGN_CD               /** Lieu de départ !== 탑승지지역코드 ==! */
                , A.ARLC_REGN_CD               /** Lieu de destination !== 도착지지역코드 ==! */
                , A.BF_DCSH_NO                 /** N° déclaration précédente !== 이전신고서번호 ==! */    
                , A.DEPT_CD /** Bureau de douane !== 신고부서 ==! */
				, FN_GET_ORGN_NM(A.DEPT_CD) AS DEPT_CD_NM               /**  !== 세관명 ==! */
				, A.ESTM_YN /** Présumé O/N !== 추정여부 ==! */ 
            FROM  ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT A
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */           
             AND  A.PSPR_NO = #{psprNo}       /** N° De Passeport !== 여권번호 ==! */
           <if test="frxcgRgsrTpCd != null and frxcgRgsrTpCd == '01' ">   
           	<if test='psnrPtCd != null and ("03".equals(psnrPtCd) or "04".equals(psnrPtCd) )'>
		     AND  FRXCG_RGSR_TP_CD = '02' /** Code de type d'enregistrement des devises !== 외환등록구분코드 ==! */
		   	</if>	
		   </if>
        ORDER BY  A.FRST_RGSR_DTTM DESC
    	   LIMIT 1
    
        <include refid="pagination.footer" ></include>
    </select>


    <!--
    @TODO:번역필요 !== GeneratorComments 등록 ==!
    (Generated)
    -->
    <insert id="insertPscFrxcgDcsh" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo">
        /* insertPscFrxcgDcsh */
          INSERT INTO ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT
                (
                  FRXCG_DCSH_TEMP_NO           /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
                , FRXCG_DCSH_MGMT_NO           /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
                , CSTM_CD                      /** Code Du Bureau !== 세관코드 ==! */
                , FRXCG_RGSR_TP_CD             /** Code de type d'enregistrement des devises !== 외환등록구분코드 ==! */
                , PSNR_PT_CD                   /** Code de type de voyageur !== 여행자유형코드 ==! */
                , NTNAL_IDFY_NO                /** Nin !== 자국민식별번호 ==! */
                , PSNR_FMNM                    /** Prénom Du Voyageur !== 여행자성 ==! */
                , PSNR_GVNM_NM                 /** Prénom du voyageur !== 여행자이름명 ==! */
                , PSPR_NO                      /** N° De Passeport !== 여권번호 ==! */
                , BRDY                         /** Date De Naissance !== 생년월일 ==! */
                , BIRT_REGN_NM                 /** Lieu De Naissance !== 출생지역명 ==! */
                , NAT_CD                       /** Code De Nationalité !== 국적코드 ==! */
                , JOB_NM                       /** Profession !== 직업명 ==! */
                , DZA_ADDR                     /** Adresse en Algérie !== 알제리주소 ==! */
                , OVRS_RSDN_ADDR               /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
                , PSNR_BRLC_CD                 /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
                , PSNR_ARLC_CD                 /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
                , EML                          /** Email !== 이메일 ==! */
                , TLPH_NO                      /** N° De Téléphone !== 전화번호 ==! */
                , ARVL_DT                      /** Date D'Arrivée !== 도착일자 ==! */
                , DPTR_DT                      /** Date De Départ !== 출발일자 ==! */               
                , JW_PDLS_TTWG                 /** @TODO : 번역필요 !== 귀금속총중량 ==! */
                , END_DT                       /** Date d'apurement !== 종료일자 ==! */
                , RGSR_DT                      /** Date D'Enregistrement !== 등록일자 ==! */
                , REGST_ID                     /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , ATCH_FILE_ID                 /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , APRV_ID                      /** Id D'Approbation  !== 결재ID ==! */
                , APRV_PRCS_STTS_CD            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
                , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
                , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                , FRXCG_RQST_STTS_CD         /** DCode de statut de demande de devises !== 외환신청상태코드 ==! */    
                , CONS_AMT              	   /** Montant de dépôt !== 위탁금액 ==! */
                , CONS_AMT_CURR_CD             /** Code de monnaie de dépôt !== 위탁금액통화코드 ==! */
                , FRXCG_EUR_TAMT               /** Montant total de devises en euro !== 외환유로총금액 ==! */    
                , DZD_TAMT                     /** Montant total en dinar !==DZD총금액==! **/    
                , JW_END_WGHT					/** Poids d'apurement des métaux précieux !==귀금속종료중량==! **/    
                , PSPR_NO_ISS_DT 	            /** Date de délivrance du passeport !== 여권발급일자 ==! **/
                , PSPR_NO_ISS_ITT               /** Lieu de délivrance du passeport !== 여권발급기관 ==! **/
                , BRLC_REGN_CD               /** Lieu de départ !== 탑승지지역코드 ==! */
                , ARLC_REGN_CD               /** Lieu de destination !== 도착지지역코드 ==! */
                , BF_DCSH_NO                 /** N° déclaration précédente !== 이전신고서번호 ==! */     
                , DEPT_CD /** Bureau de douane !== 신고부서 ==! */
				, ESTM_YN /** Présumé O/N !== 추정여부 ==! */ 
                )
                VALUES
                (
                  #{frxcgDcshTempNo}           /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
                , #{frxcgDcshMgmtNo}           /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
                , #{cstmCd}                    /** Code Du Bureau !== 세관코드 ==! */
                , #{frxcgRgsrTpCd}             /** Code de type d'enregistrement des devises !== 외환등록구분코드 ==! */
                , #{psnrPtCd}                  /** Code de type de voyageur !== 여행자유형코드 ==! */
                , #{ntnalIdfyNo}               /** Nin !== 자국민식별번호 ==! */
                , #{psnrFmnm}                  /** Prénom Du Voyageur !== 여행자성 ==! */
                , #{psnrGvnmNm}                /** Prénom du voyageur !== 여행자이름명 ==! */
                , #{psprNo}                    /** N° De Passeport !== 여권번호 ==! */
                , #{brdy}                      /** Date De Naissance !== 생년월일 ==! */
                , #{birtRegnNm}                /** Lieu De Naissance !== 출생지역명 ==! */
                , #{natCd}                     /** Code De Nationalité !== 국적코드 ==! */
                , #{jobNm}                     /** Profession !== 직업명 ==! */
                , #{dzaAddr}                   /** Adresse en Algérie !== 알제리주소 ==! */
                , #{ovrsRsdnAddr}              /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
                , #{psnrBrlcCd}                /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
                , #{psnrArlcCd}                /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
                , #{eml}                       /** Email !== 이메일 ==! */
                , #{tlphNo}                    /** N° De Téléphone !== 전화번호 ==! */
                , #{arvlDt}                    /** Date D'Arrivée !== 도착일자 ==! */
                , #{dptrDt}                    /** Date De Départ !== 출발일자 ==! */                
                , #{jwPdlsTtwg}                /** @TODO : 번역필요 !== 귀금속총중량 ==! */
                , #{endDt}                     /** Date d'apurement !== 종료일자 ==! */
                , #{rgsrDt}                    /** Date D'Enregistrement !== 등록일자 ==! */
                , #{regstId}                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , #{atchFileId}                /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , #{aprvId}                    /** Id D'Approbation  !== 결재ID ==! */
                , #{aprvPrcsSttsCd}            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
                , 'N'                          /** Suppression On !== 삭제여부 ==! */
                , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , SYSTIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , SYSTIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                , #{frxcgRqstSttsCd}           /** DCode de statut de demande de devises !== 외환신청상태코드 ==! */    
                , #{consAmt}               	   /** Montant de dépôt !== 위탁금액 ==! */
                , #{consAmtCurrCd}             /** Code de monnaie de dépôt !== 위탁금액통화코드 ==! */
                , #{frxcgEurTamt}              /** Montant total de devises en euro !== 외환유로총금액 ==! */  
                , #{dzdTamt}					/** Montant total en dinar !==DZD총금액==! **/  
                , #{jwEndWght}					/** Poids d'apurement des métaux précieux !==귀금속종료중량==! **/      
                , #{psprNoIssDt}	            /** Date de délivrance du passeport !== 여권발급일자 ==! **/
                , #{psprNoIssItt}	            /** Lieu de délivrance du passeport !== 여권발급기관 ==! **/
                , #{brlcRegnCd}               /** Lieu de départ !== 탑승지지역코드 ==! */
                , #{arlcRegnCd}               /** Lieu de destination !== 도착지지역코드 ==! */
                , #{bfDcshNo}               /** N° déclaration précédente !== 이전신고서번호 ==! */     
                , #{deptCd}  				/** Bureau de douane !== 신고부서 ==! */
				, #{estmYn}  				/** Présumé O/N !== 추정여부 ==! */ 
                )
    </insert>


    <!--
    @TODO:번역필요 !== GeneratorComments 수정 ==!
    (Generated)
    -->
    <update id="updatePscFrxcgDcsh" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo">
        /* updatePscFrxcgDcsh */
        UPDATE  ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT SET 
                  FRXCG_DCSH_MGMT_NO = #{frxcgDcshMgmtNo}     /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
                , CSTM_CD = #{cstmCd}                         /** Code Du Bureau !== 세관코드 ==! */
                , FRXCG_RGSR_TP_CD = #{frxcgRgsrTpCd}         /** Code de type d'enregistrement des devises !== 외환등록구분코드 ==! */
                , PSNR_PT_CD = #{psnrPtCd}                    /** Code de type de voyageur !== 여행자유형코드 ==! */
                , NTNAL_IDFY_NO = #{ntnalIdfyNo}              /** Nin !== 자국민식별번호 ==! */
                , PSNR_FMNM = #{psnrFmnm}                     /** Prénom Du Voyageur !== 여행자성 ==! */
                , PSNR_GVNM_NM = #{psnrGvnmNm}                /** Prénom du voyageur !== 여행자이름명 ==! */
                , PSPR_NO = #{psprNo}                         /** N° De Passeport !== 여권번호 ==! */
                , BRDY = #{brdy}                              /** Date De Naissance !== 생년월일 ==! */
                , BIRT_REGN_NM = #{birtRegnNm}                /** Lieu De Naissance !== 출생지역명 ==! */
                , NAT_CD = #{natCd}                           /** Code De Nationalité !== 국적코드 ==! */
                , JOB_NM = #{jobNm}                           /** Profession !== 직업명 ==! */
                , DZA_ADDR = #{dzaAddr}                       /** Adresse en Algérie !== 알제리주소 ==! */
                , OVRS_RSDN_ADDR = #{ovrsRsdnAddr}            /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
                , PSNR_BRLC_CD = #{psnrBrlcCd}                /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
                , PSNR_ARLC_CD = #{psnrArlcCd}                /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
                , EML = #{eml}                                /** Email !== 이메일 ==! */
                , TLPH_NO = #{tlphNo}                         /** N° De Téléphone !== 전화번호 ==! */
                , ARVL_DT = #{arvlDt}                         /** Date D'Arrivée !== 도착일자 ==! */
                , DPTR_DT = #{dptrDt}                         /** Date De Départ !== 출발일자 ==! */                
                , JW_PDLS_TTWG = #{jwPdlsTtwg}                /** @TODO : 번역필요 !== 귀금속총중량 ==! */
                , END_DT = #{endDt}                           /** Date d'apurement !== 종료일자 ==! */                
                , REGST_ID = #{regstId}                       /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , ATCH_FILE_ID = #{atchFileId}                /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , APRV_ID = #{aprvId}                         /** Id D'Approbation  !== 결재ID ==! */
                , APRV_PRCS_STTS_CD = #{aprvPrcsSttsCd}       /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
                , LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                , FRXCG_RQST_STTS_CD = #{frxcgRqstSttsCd}     /** DCode de statut de demande de devises !== 외환신청상태코드 ==! */                    
                , CONS_AMT = #{consAmt}            	   		  /** Montant de dépôt !== 위탁금액 ==! */
                , CONS_AMT_CURR_CD = #{consAmtCurrCd}         /** Code de monnaie de dépôt !== 위탁금액통화코드 ==! */
                , FRXCG_EUR_TAMT = #{frxcgEurTamt}            /** Montant total de devises en euro !== 외환유로총금액 ==! */  
                , DZD_TAMT = #{dzdTamt}					/** Montant total en dinar !==DZD총금액==! **/         
                , JW_END_WGHT = #{jwEndWght}						/** Poids d'apurement des métaux précieux !==귀금속종료중량==! **/
                , PSPR_NO_ISS_DT = #{psprNoIssDt}	                        /** Date de délivrance du passeport !== 여권발급일자 ==! **/
                , PSPR_NO_ISS_ITT = #{psprNoIssItt}	                       /** Lieu de délivrance du passeport !== 여권발급기관 ==! **/
                , BRLC_REGN_CD = #{brlcRegnCd}                /** Lieu de départ !== 탑승지지역코드 ==! */
                , ARLC_REGN_CD = #{arlcRegnCd}                /** Lieu de destination !== 도착지지역코드 ==! */
                , BF_DCSH_NO  = #{bfDcshNo}                   /** N° déclaration précédente !== 이전신고서번호 ==! */ 
				, DEPT_CD = #{deptCd}  				/** Bureau de douane !== 신고부서 ==! */
				, ESTM_YN = #{estmYn}  				/** Présumé O/N !== 추정여부 ==! */    
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}       /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
    </update>


    <!--
    @TODO:번역필요 !== GeneratorComments 삭제 ==!
    (Generated)
    -->
    <update id="deletePscFrxcgDcsh" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo">
        /* deletePscFrxcgDcsh */
        UPDATE  ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT SET 
                DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
             ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
             ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
         WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
           AND  FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}       /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
    </update>
    
  <!--
  @TODO:번역필요 !== 외환신고서관리 수정 ==!
  -->
  <update id="updatePscFrxcgDcshMgmt" parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo">
    /* updatePscFrxcgDcshMgmt */
    UPDATE  ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT SET    
    
      LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
    , LAST_CHG_DTTM = CURRENT_TIMESTAMP           /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    <if test='frxcgDcshMgmtNo != null and frxcgDcshMgmtNo != ""'>    
    , FRXCG_DCSH_MGMT_NO = #{frxcgDcshMgmtNo}     /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
    </if>
    <if test='frxcgRqstSttsCd != null and frxcgRqstSttsCd != ""'>    
    , FRXCG_RQST_STTS_CD = #{frxcgRqstSttsCd}     /** DCode de statut de demande de devises !== 외환신청상태코드 ==! */        
    </if>
    <if test='frxcgEurTamt != null and frxcgEurTamt != ""'>    
    , FRXCG_EUR_TAMT = #{frxcgEurTamt}            /** Montant total de devises en euro !== 외환유로총금액 ==! */       
    </if>
     <if test="frxcgRqstSttsCd != null and frxcgRqstSttsCd == 'A7' ">   
    , END_DT = TO_CHAR(SYSTIMESTAMP, 'YYYYMMDD')          /** Date d'apurement !== 종료일자 ==! */        
    </if>
    <if test='jwEndWght != null and jwEndWght != ""'>    
    , JW_END_WGHT = #{jwEndWght}            /** @TODO : 번역필요 !== 귀금속종료중량 ==! */     
    </if>
    <if test='atchFileId != null and atchFileId != ""'>    
    , ATCH_FILE_ID = #{atchFileId}                /** Id Du Fichier Joint !== 첨부파일ID ==! */
    </if>
    <if test='aprvId != null and aprvId != ""'>    
   	 , APRV_ID = #{aprvId}                         /** Id D'Approbation  !== 결재ID ==! */                
   	</if>
   	<if test='aprvPrcsSttsCd != null and aprvPrcsSttsCd != ""'>    
   	 , APRV_PRCS_STTS_CD = #{aprvPrcsSttsCd}       /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
   	</if>
   	<if test='ntceSttsCd != null and ntceSttsCd != ""'>    
   	 , NTCE_STTS_CD = #{ntceSttsCd}       /** Code d'etat de notification !== 알림상태코드 ==! */
   	</if>
   	<if test='bfDcshNo != null and bfDcshNo != ""'>    
   	 , BF_DCSH_NO = #{bfDcshNo}       /** N° déclaration précédente !== 이전신고서번호 ==! */  
   	</if>
    WHERE  DEL_YN = 'N'                                	/** Suppression ON !== 삭제여부 ==! */
    AND    FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}      /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
  </update>
  
  
  <!--
    @TODO:번역필요 !== GeneratorComments 목록 조회 ==!
    -->
    <select id="selectPscFrxcgBrq"  
      parameterType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo" resultType="alpass.ipt.psc.frxcg.rgsr.vo.PscFrxcgDcshVo">
        /* selectPscFrxcgBrq */
        <include refid="pagination.header" ></include>
            SELECT
                  A.FRXCG_DCSH_TEMP_NO         /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
                , A.FRXCG_DCSH_MGMT_NO         /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
                , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
                , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
                , A.FRXCG_RGSR_TP_CD           /** Code de type d'enregistrement des devises !== 외환등록구분코드 ==! */
                , A.PSNR_PT_CD                 /** Code de type de voyageur !== 여행자유형코드 ==! */
                , A.NTNAL_IDFY_NO              /** Nin !== 자국민식별번호 ==! */
                , A.PSNR_FMNM                  /** Prénom Du Voyageur !== 여행자성 ==! */
                , A.PSNR_GVNM_NM               /** Prénom du voyageur !== 여행자이름명 ==! */
                , A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
                , TO_CHAR(TO_DATE( A.BRDY, 'YYYYMMDD'), 'DD/MM/YYYY') AS BRDY                       /** Date De Naissance !== 생년월일 ==! */
                , A.BIRT_REGN_NM               /** Lieu De Naissance !== 출생지역명 ==! */
                , A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
                , A.JOB_NM                     /** Profession !== 직업명 ==! */
                , A.DZA_ADDR                   /** Adresse en Algérie !== 알제리주소 ==! */
                , A.OVRS_RSDN_ADDR             /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
                , A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
                , A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
                , A.EML                        /** Email !== 이메일 ==! */
                , A.TLPH_NO                    /** N° De Téléphone !== 전화번호 ==! */
                , A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
                , A.DPTR_DT                    /** Date De Départ !== 출발일자 ==! */                
                , A.JW_PDLS_TTWG               /** @TODO : 번역필요 !== 귀금속총중량 ==! */
                , A.END_DT                     /** Date d'apurement !== 종료일자 ==! */
                , TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT                    /** Date D'Enregistrement !== 등록일자 ==! */
                , A.REGST_ID                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
                , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
                , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */                
                , A.FRXCG_RQST_STTS_CD         /** DCode de statut de demande de devises !== 외환신청상태코드 ==! */    
                , A.CONS_AMT              /** Montant de dépôt !== 위탁금액 ==! */
                , A.CONS_AMT_CURR_CD              /** Code de monnaie de dépôt !== 위탁금액통화코드 ==! */
                , A.FRXCG_EUR_TAMT              /** Montant total de devises en euro !== 외환유로총금액 ==! */     
                , A.PSPR_NO_ISS_DT                /** Date de délivrance du passeport !==여권발급일자==! **/ 
				, A.PSPR_NO_ISS_ITT				/** Lieu de délivrance du passeport !==여권발급기관==! **/
				, A.JW_END_WGHT					/** Poids d'apurement des métaux précieux !==귀금속종료중량==! **/
				, A.DZD_TAMT						/** Montant total en dinar !==DZD총금액==! **/       
				, A.BRLC_REGN_CD               /** Lieu de départ !== 탑승지지역코드 ==! */
				, (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.BRLC_REGN_CD AND D.LANG_CD = 'FR') AS BRLC_REGN_CD_NM
                , A.ARLC_REGN_CD               /** Lieu de destination !== 도착지지역코드 ==! */
                , A.BF_DCSH_NO                 /** N° déclaration précédente !== 이전신고서번호 ==! */    
                , A.DEPT_CD /** Bureau de douane !== 신고부서 ==! */
				, FN_GET_ORGN_NM(A.DEPT_CD) AS DEPT_CD_NM               /**  !== 세관명 ==! */
				, A.ESTM_YN /** Présumé O/N !== 추정여부 ==! */ 
		        ,( SELECT ORG.ORGN_NM  
		             FROM ALPASSINT.TB_POTI_ORGN ORG 
		            WHERE ORG.ORGN_MGMT_CD = (SELECT FN_GET_UPR_ORGN_CD(ORGN_MGMT_CD,'DIR') 
		                                        FROM ALPASSINT.TB_POTI_ORGN 
		                                       WHERE ORGN_CD = A.CSTM_CD 
		                                     ) 
				) AS DRD_NM /** @TODO : 번역필요 !== 지역본부세관명 ==! */
    			, TO_CHAR(SYSTIMESTAMP, 'DD/MM/YYYY') AS RPDC_DT /** @TODO : 번역필요 !== 보고서일자 ==! */
    			, A.FRXCG_DCSH_TEMP_NO || 'P' AS RPDC_NO /** @TODO : 번역필요 !== 보고서번호 ==! */   
            FROM  ALPASSINT.TB_PSCI_FRXCG_DCSH_MGMT A
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
           <if test='frxcgDcshTempNo != null and frxcgDcshTempNo != ""'>
             AND  A.FRXCG_DCSH_TEMP_NO = #{frxcgDcshTempNo}       /** Numéro provisoire de déclaration des devises !== 외환신고서임시번호 ==! */
           </if>
           <if test='frxcgDcshMgmtNo != null and frxcgDcshMgmtNo != ""'>
             AND  A.FRXCG_DCSH_MGMT_NO = #{frxcgDcshMgmtNo}       /** Numéro de gestion de la déclaration de change !== 외환신고서관리번호 ==! */
          </if>          
        
        <include refid="pagination.footer" ></include>
    </select>

</mapper>