<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.sm.msglbl.mapper.PotSmMsgMapper">

	<!-- 
		 Consulter la liste des messages !== 메시지 목록 조회 ==!
	 -->
	<select id="selectMsgList" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo" resultType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo">
		/** selectMsgList */
    	<include refid="pagination.header"/>
		SELECT 
		       A.USE_YN
		     , A.MSG_ID
		     , (SELECT B.MSG_NM FROM TB_COM_MSG_LANG B WHERE B.MSG_ID = A.MSG_ID AND B.LANG_CD = #{langCd} AND ROWNUM = 1) AS MSG_NM
             , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm 
             , A.FRST_REGST_ID 
             , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS lastChgDttm 
             , A.LAST_CHPR_ID
		FROM TB_COM_MSG A 
		WHERE A.DEL_YN = 'N'
		<if test="searMsgId != null and searMsgId != ''">
		AND   UPPER(A.MSG_ID) LIKE '%'||UPPER(#{searMsgId})||'%'
		</if>
		<if test="searMsgNm != null and searMsgNm != ''">
		AND A.MSG_ID IN ( SELECT B.MSG_ID
		                  FROM  TB_COM_MSG_LANG B
		                  WHERE UPPER(B.MSG_NM) LIKE '%'||UPPER(#{searMsgNm})||'%'
		                    AND B.DEL_YN = 'N'
		                )
		</if>
		ORDER BY A.MSG_ID
    	<include refid="pagination.footer"/> 
	</select>

	<!--
		 Consulter la liste des messages !== 메시지 상세 조회 ==!
	 -->
	<select id="selectMsgDetailList" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo" resultType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgLangVo">
		/** selectMsgDetailList */
		SELECT 
		       B.MSG_ID AS KEY1
		     , A.CD_VDVAL AS LANG_CD
		     , B.MSG_NM AS LANG_CN 
		FROM TB_COM_COMN_CD_D A, 
		     TB_COM_MSG_LANG B
		WHERE A.COMN_CD = 'COM_0057'
		  AND B.DEL_YN(+) = 'N'
          AND B.MSG_ID(+) = #{msgId}
          AND A.CD_VDVAL  = B.LANG_CD(+)
        ORDER BY TO_NUMBER(A.SORT_ORDR) ASC
	</select>
	
	<!-- 
		 Consulter le comptage de l'enregistrement des messages !== 메시지 등록 카운트 조회 ==!
	 -->
	<select id="selectMsgIdCnt" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo" resultType="java.lang.Integer">
		/** selectMsgIdCnt */
		SELECT 
		       COUNT(1) AS CNT
		FROM   TB_COM_MSG
		WHERE  MSG_ID = LOWER(#{msgId})
		AND    DEL_YN = 'N'
	</select>

	<!-- 
		 Consulter le comptage du nom des messages !== 메시지 명 카운트 조회 ==!
	 -->
	<select id="selectMsgNmCnt" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo" resultType="java.lang.Integer">
		/** selectMsgNmCnt */
		SELECT 
		       COUNT(1) AS CNT
		FROM   TB_COM_MSG_LANG
		WHERE  LANG_CD = #{langCd}
		AND    MSG_NM = #{msgNm}
		AND    DEL_YN = 'N'
		
		<if test='updTp != null and updTp.equals("Y")'>
		<![CDATA[ AND MSG_ID <> LOWER(#{msgId}) ]]>
		</if>		
	</select>
		
	<!-- 
		 Enregistrer un message !== 메시지 등록 ==!
	 -->
	<insert id="insertMsg" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo">
		/** insertMsg */
	    <selectKey keyProperty="msgId" resultType="string" order="BEFORE">
			SELECT 'msg.'||LPAD( (NVL( (TO_NUMBER(REPLACE(MAX(SUBSTR(MSG_ID, 5, 8)) ,TRANSLATE(MAX(SUBSTR(MSG_ID, 5, 8)) ,'X0123456789.','X'),''))) , 0) + 1), 5, '0') AS MSG_ID
			FROM  TB_COM_MSG
			ORDER BY MSG_ID
	    </selectKey>
			WITH UPSERT AS (
            UPDATE TB_COM_MSG
            SET LAST_CHPR_ID = #{lastChprId},
                LAST_CHG_DTTM = SYSTIMESTAMP,
                DEL_YN = 'N'
								<if test="useYn != null and useYn != ''">
									, USE_YN = #{useYn}
								</if>
            WHERE MSG_ID = LOWER(#{msgId})
              RETURNING *
        )
        INSERT INTO TB_COM_MSG (MSG_ID
															, USE_YN
															, DEL_YN
															, FRST_REGST_ID
															, FRST_RGSR_DTTM
															, LAST_CHPR_ID
															, LAST_CHG_DTTM)
        SELECT LOWER(#{msgId})
							, #{useYn}
							, 'N'
							, #{frstRegstId}
							, SYSTIMESTAMP
							, #{lastChprId}
							, SYSTIMESTAMP
        WHERE
          NOT EXISTS(SELECT * FROM UPSERT)
	</insert>			
		
	<!-- 
		 Enregistrer le nom du message !== 메시지 명 등록 ==!
	 -->
	<insert id="insertMsgLang" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgLangVo">
		/** insertMsgLang */
		WITH UPSERT AS (
            UPDATE TB_COM_MSG_LANG
            SET LAST_CHPR_ID = #{lastChprId}
							, LAST_CHG_DTTM = SYSTIMESTAMP
							, DEL_YN = 'N'
							, MSG_NM = #{langCn}
            WHERE MSG_ID = LOWER(#{key1})
						AND LANG_CD = #{langCd}
              RETURNING *
        )
        INSERT INTO TB_COM_MSG_LANG (MSG_ID
															 , LANG_CD
															 , MSG_NM
															 , DEL_YN
															 , FRST_REGST_ID
															 , FRST_RGSR_DTTM
															 , LAST_CHPR_ID
															 , LAST_CHG_DTTM)
        SELECT LOWER(#{key1})
						 , #{langCd}
						 , #{langCn}
						 , 'N'
						 , #{frstRegstId}
						 , SYSTIMESTAMP
						 , #{lastChprId}
						 , SYSTIMESTAMP
        WHERE
          NOT EXISTS(SELECT * FROM UPSERT)
	</insert>
				
	<!-- 
		 Modifier un message !== 메시지 수정 ==!
	 -->
	<update id="updateMsg" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo">
		/** updateMsg */
		UPDATE TB_COM_MSG
		SET  
		     LAST_CHPR_ID = #{lastChprId}
		   , LAST_CHG_DTTM = SYSTIMESTAMP
			 
		   <if test="useYn != null and useYn != ''">
		   , USE_YN = #{useYn}
		   </if>
		     
        WHERE MSG_ID = LOWER(#{msgId})
        AND   DEL_YN = 'N'
	</update>
	
	<!-- 
		 Modifier le nom du message !== 메시지 명 수정 ==!
	 -->
	<update id="updateMsgLang" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgLangVo">
		/** updateMsgLang */
		UPDATE TB_COM_MSG_LANG
		SET  
		     LAST_CHPR_ID = #{lastChprId}
		   , LAST_CHG_DTTM = SYSTIMESTAMP
		   , MSG_NM = #{langCn}
		     
        WHERE MSG_ID = LOWER(#{key1})
        AND   LANG_CD = #{langCd}
        AND   DEL_YN = 'N'
	</update>
							
	<!-- 
		 Supprimer un message !== 메시지 삭제 ==!
	 -->
	<update id="deleteMsg" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo">
		/** deleteMsg */
		UPDATE TB_COM_MSG
		SET  
		     LAST_CHPR_ID = #{lastChprId}
		   , LAST_CHG_DTTM = SYSTIMESTAMP
		   , DEL_YN = 'Y' 
        WHERE MSG_ID = LOWER(#{msgId})
	</update>
							
	<!-- 
		 Supprimer le nom du message !== 메시지명 삭제 ==!
	 -->
	<update id="deleteMsgLang" parameterType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo">
		/** deleteMsgLang */
		UPDATE TB_COM_MSG_LANG
		SET  
		     LAST_CHPR_ID = #{lastChprId}
		   , LAST_CHG_DTTM = SYSTIMESTAMP
		   , DEL_YN = 'Y' 
        WHERE MSG_ID = LOWER(#{msgId})
	</update>

	<!-- 
		 Créer un ID du message !== 메시지ID 생성 ==!
	 -->
	<select id="selectMsgIdCreate" resultType="alpass.ipt.pot.sm.msglbl.vo.PotSmMsgVo">
		/** selectMsgIdCreate */
		SELECT
		       'msg.'||LPAD( (NVL( (TO_NUMBER(REPLACE(MAX(SUBSTR(MSG_ID, 5, 8)) ,TRANSLATE(MAX(SUBSTR(MSG_ID, 5, 8)) ,'X0123456789.','X'),''))) , 0) + 1), 5, '0') AS MSG_ID
		FROM  TB_COM_MSG
		ORDER BY MSG_ID
	</select>
													
</mapper>
