<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.clr.trm.hsm.mapper.ClrHsmMrktPrcMgmtMapper">

    <select id="selectClrMrktPrcMgmtList" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmMrktPrcMgmtVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmMrktPrcMgmtVo">
        /* selectClrMrktPrcMgmtList : 시장가격관리 목록 조회*/
        <include refid="pagination.header" />
        SELECT
              A.MPRC_MGMT_NO
            , A.BASE_SRNO
            , A.RQST_DGCNT
            , A.HS_CD
            , A.PROD_CLSF_NM
            , A.CMDT_NM
            , A.PRC
            , A.CURR_CD
            , A.DLVR_COND_CD
            , A.USE_PLC_NM
            , A.BASE_DT
            , A.MSRM_UT_CD
            , A.ORCY_CNTY_CD
            , A.DEL_YN
            , B.HS_DESC
        FROM  TB_CLRI_MRKT_PRC_MGMT A
        LEFT OUTER JOIN TB_CLRI_HS_CD B
        ON  ( A.HS_CD = B.HS_CD AND B.LAST_YN = 'Y' AND B.DEL_YN = 'N')
        WHERE 1 = 1
        <if test="mprcMgmtNo != null and mprcMgmtNo != ''">
            AND   A.MPRC_MGMT_NO = #{mprcMgmtNo}
        </if>
        <if test="prodClsfNm != null and prodClsfNm != ''">
            AND   A.PROD_CLSF_NM = #{prodClsfNm}
        </if>
        <if test="cmdtNm != null and cmdtNm != ''">
            AND   A.CMDT_NM = #{cmdtNm}
        </if>
        <if test="hsCd != null and hsCd != ''">
            AND   A.HS_CD LIKE REPLACE(#{hsCd}, '.', '') || '%'
        </if>
        <if test="baseDtFrom != null and baseDtFrom != '' and baseDtTo != null and baseDtTo != ''">
            AND  A.BASE_DT BETWEEN TO_CHAR(TO_DATE(#{baseDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(#{baseDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')   /** BASE_DT !== 기준일자 ==! */
        </if>
        ORDER BY MPRC_MGMT_NO DESC
        <include refid="pagination.footer" />
    </select>

    <insert id="insertClrMrktPrcMgmt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmMrktPrcMgmtVo">
        /* insertClrMrktPrcMgmt : 시장가격관리 저장*/
        WITH UPSET AS
        (
        UPDATE TB_CLRI_MRKT_PRC_MGMT M
        SET   HS_CD = #{hsCd}
            , PROD_CLSF_NM = #{prodClsfNm}				/** Libellés des produits !== 상품분류명 ==! */
            , CMDT_NM = #{cmdtNm}				        /** Dénomination commerciale !== 물품명 ==! */
            , PRC = #{prc}				                /** Price !== 가격 ==! */
            , CURR_CD = #{currCd}
            , DLVR_COND_CD = #{dlvrCondCd}				/** Code De La Condition De Livraison !== 인도조건코드 ==! */
            , USE_PLC_NM = #{usePlcNm}			    	/** lieu d'utilisation !== 사용장소명 ==! */
            , BASE_DT = TO_CHAR(TO_DATE(#{baseDt},'DD/MM/YYYY'), 'YYYYMMDD')
            , MSRM_UT_CD = #{msrmUtCd}			    	/** Code d'unité de mesure !== 측정단위코드 ==! */
            , ORCY_CNTY_CD = #{orcyCntyCd}				/** Code De Pays D'Origine !== 원산지국가코드 ==! */
            , LAST_CHPR_ID = #{lastChprId}				/** ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM = SYSDATE					/** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE MPRC_MGMT_NO = #{mprcMgmtNo}				/** Numéro de gestion des prix du marché !== 시장가격관리번호 ==! */
        AND   BASE_SRNO = #{baseSrno}				    /** 	N° De Séquence De La Base !== 기준일련번호 ==! */
        AND   RQST_DGCNT = #{rqstDgcnt}				    /** N° ordre de la demande !== 신청차수 ==! */
        AND   DEL_YN = 'N'
        RETURNING M.*
        )
        INSERT INTO TB_CLRI_MRKT_PRC_MGMT
            (
              MPRC_MGMT_NO				                /** Numéro de gestion des prix du marché !== 시장가격관리번호 ==! */
            , BASE_SRNO
            , RQST_DGCNT
            , HS_CD
            , PROD_CLSF_NM
            , CMDT_NM
            , PRC
            , CURR_CD
            , DLVR_COND_CD
            , USE_PLC_NM
            , BASE_DT
            , MSRM_UT_CD
            , ORCY_CNTY_CD
            , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
            )
        SELECT
              #{mprcMgmtNo}
            , #{baseSrno}
            , #{rqstDgcnt}
            , #{hsCd}
            , #{prodClsfNm}
            , #{cmdtNm}
            , #{prc}
            , #{currCd}
            , #{dlvrCondCd}
            , #{usePlcNm}
            , TO_CHAR(TO_DATE(#{baseDt},'DD/MM/YYYY'), 'YYYYMMDD')
            , #{msrmUtCd}
            , #{orcyCntyCd}
            , #{delYn}
            , #{frstRegstId}
            , SYSDATE
            , #{lastChprId}
            , SYSDATE
        WHERE NOT EXISTS( SELECT * FROM UPSET)
    </insert>

    <update id="updateClrMrktPrcMgmt" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmMrktPrcMgmtVo">
        /* updateClrMrktPrcMgmt : 시장가격관리 수정 */
        UPDATE  TB_CLRI_MRKT_PRC_MGMT SET
        <trim prefixOverrides="," >
              HS_CD = #{hsCd}
            , PROD_CLSF_NM = #{prodClsfNm}
            , CMDT_NM = #{cmdtNm}
            , PRC = #{prc}
            , CURR_CD = #{currCd}
            , DLVR_COND_CD = #{dlvrCondCd}
            , USE_PLC_NM = #{usePlcNm}
            , BASE_DT = TO_CHAR(TO_DATE(#{baseDt},'DD/MM/YYYY'), 'YYYYMMDD')
            , MSRM_UT_CD = #{msrmUtCd}
            , ORCY_CNTY_CD = #{orcyCntyCd}
            , LAST_CHPR_ID = #{lastChprId}
            , LAST_CHG_DTTM = SYSDATE
        </trim>
        WHERE MPRC_MGMT_NO = #{mprcMgmtNo}				/** Numéro de gestion des prix du marché !== 시장가격관리번호 ==! */
        AND   BASE_SRNO = #{baseSrno}
        AND   RQST_DGCNT = #{rqstDgcnt}
        AND   DEL_YN = 'N'
    </update>

    <select id="selectClrHsmMrktPrcMgmtCheckList" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmMrktPrcMgmtVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmMrktPrcMgmtVo">
        /* selectClrHsmMrktPrcMgmtCheckList : 시장가격관리 등록 시 HS Code 유효성 체크 */
        SELECT
              HS_CD										/** Code SH !== HS코드 ==! */
            , HS_DESC									/** Description du SH !== HS설명 ==! */
        FROM  TB_CLRI_HS_CD
        WHERE HS_CD = #{hsCd}							/** Code SH !== HS코드 ==! */
        AND   DEL_YN = 'N'								/** Suppression ON !== 삭제여부 ==! */
        AND   TO_CHAR(SYSDATE, 'YYYYMMDD') BETWEEN HS_APLY_STRT_DT AND HS_APLY_END_DT
    </select>

    <select id="selectClrHsmMrktPrcMgmtDupcCfrmList" parameterType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmMrktPrcMgmtVo" resultType="alpass.ipt.clr.trm.hsm.vo.ClrTrmHsmMrktPrcMgmtVo">
        /* selectClrHsmMrktPrcMgmtDupcCfrmList : 시장가격관리 등록 시 중복 체크 */
        SELECT HS_CD
        FROM   TB_CLRI_MRKT_PRC_MGMT
        WHERE  MPRC_MGMT_NO = #{mprcMgmtNo}				/** Numéro de gestion des prix du marché !== 시장가격관리번호 ==! */
        AND    BASE_SRNO = #{baseSrno}
        AND    RQST_DGCNT = #{rqstDgcnt}
        AND    DEL_YN = 'N'
    </select>

</mapper>
