<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper">

  <!--
    Voir la liste des CRITERE DE LA COTATION DE SERVICE !== 부서배부기준 목록 조회 ==!
    (Song JunYoung)
    -->
  <select id="selectClrDeptHnotBaseList" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotBaseVo" resultType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotBaseVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.selectClrDeptHnotBaseList */
    <include refid="pagination.header" ></include>
    SELECT
      A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
      , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM                    /** Code Du Bureau !== 세관코드명 ==! */
      , A.APLY_STRT_DT               /** Date De Début De L'Application !== 적용시작일자 ==! */
      , A.APLY_END_DT                /** Date De Fin De L'Application !== 적용종료일자 ==! */
      , A.BHNOT_CN                   /** Contenu du critère de la cotation !== 배부기준내용 ==! */
      , A.USE_YN                     /** Utilisé On !== 사용여부 ==! */
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    FROM   TB_CLRI_DEPT_HNOT_BASE A
    WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
    AND  A.CSTM_CD = #{cstmCd}                       /** Code Du Bureau !== 세관코드 ==! */
    <include refid="pagination.footer" ></include>
  </select>


  <select id="selectClrDeptHnotBase" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotBaseVo" resultType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotBaseVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.selectClrDeptHnotBase */
    SELECT
      A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
      , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_NM                    /** Code Du Bureau !== 세관코드명 ==! */
      , A.APLY_STRT_DT               /** Date De Début De L'Application !== 적용시작일자 ==! */
      , A.APLY_END_DT                /** Date De Fin De L'Application !== 적용종료일자 ==! */
      , A.BHNOT_CN                   /** Contenu du critère de la cotation !== 배부기준내용 ==! */
      , A.USE_YN                     /** Utilisé On !== 사용여부 ==! */
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    FROM   TB_CLRI_DEPT_HNOT_BASE A
    WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
    AND  A.CSTM_CD = #{cstmCd}                       /** Code Du Bureau !== 세관코드 ==! */
  </select>


  <!--
  Enregistrement de la CRITERE DE LA COTATION DE SERVICE !== 부서배부기준 등록 ==!
  (Song JunYoung)
  -->
  <insert id="insertClrDeptHnotBase" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotBaseVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.insertClrDeptHnotBase */
    INSERT INTO TB_CLRI_DEPT_HNOT_BASE
          (
           CSTM_CD                      /** Code Du Bureau !== 세관코드 ==! */
            , APLY_STRT_DT                 /** Date De Début De L'Application !== 적용시작일자 ==! */
            , APLY_END_DT                  /** Date De Fin De L'Application !== 적용종료일자 ==! */
            , BHNOT_CN                     /** Contenu du critère de la cotation !== 배부기준내용 ==! */
            , USE_YN                       /** Utilisé On !== 사용여부 ==! */
            , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
            , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
            , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
            , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            )
          VALUES
            (
              #{cstmCd}                    /** Code Du Bureau !== 세관코드 ==! */
            , #{aplyStrtDt}                /** Date De Début De L'Application !== 적용시작일자 ==! */
            , #{aplyEndDt}                 /** Date De Fin De L'Application !== 적용종료일자 ==! */
            , #{bhnotCn}                   /** Contenu du critère de la cotation !== 배부기준내용 ==! */
            , #{useYn}                     /** Utilisé On !== 사용여부 ==! */
            , 'N'                          /** Suppression On !== 삭제여부 ==! */
            , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
            , SYSTIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
            , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
            , SYSTIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            )
  </insert>


  <!--
  Modifier la CRITERE DE LA COTATION DE SERVICE !== 부서배부기준 수정 ==!
  (Song JunYoung)
  -->
  <update id="updateClrDeptHnotBase" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotBaseVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.updateClrDeptHnotBase */
    UPDATE  TB_CLRI_DEPT_HNOT_BASE SET
    <trim prefixOverrides="," >
      APLY_STRT_DT = #{aplyStrtDt}                /** Date De Début De L'Application !== 적용시작일자 ==! */
      , APLY_END_DT = #{aplyEndDt}                  /** Date De Fin De L'Application !== 적용종료일자 ==! */
      , BHNOT_CN = #{bhnotCn}                       /** Contenu du critère de la cotation !== 배부기준내용 ==! */
      , USE_YN = #{useYn}                           /** Utilisé On !== 사용여부 ==! */
      , LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    </trim>
    WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
    AND  CSTM_CD = #{cstmCd}                         /** Code Du Bureau !== 세관코드 ==! */
  </update>


  <!--
  Supprimer la CRITERE DE LA COTATION DE SERVICE !== 부서배부기준 삭제 ==!
  (Song JunYoung)
  -->
  <update id="deleteClrDeptHnotBase" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotBaseVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.deleteClrDeptHnotBase */
    UPDATE  TB_CLRI_DEPT_HNOT_BASE SET
      DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
     ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
     ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
    WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
      AND  CSTM_CD = #{cstmCd}                           /** Code Du Bureau !== 세관코드 ==! */
  </update>

  <!--
    Voir la liste des Gérer le mode de cotation de services !== 부서배부방법관리 목록 조회 ==!
    (Song JunYoung)
    -->
  <select id="selectClrDeptHnotMeanBscsList" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotMeanBscsVo" resultType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotMeanBscsVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMeanBscsMapper.selectClrDeptHnotMeanBscsList */
    <include refid="pagination.header" ></include>
    SELECT
      B.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
      , A.DCLR_PT_CD                 /** Code De Type De Déclaration !== 신고유형코드 ==! */
      , FN_GET_CD_VDVAL_NM('CLR_0004', A.DCLR_PT_CD, #{langCd}) AS DCLR_PT_NM                 /** Code De Type De Déclaration !== 신고유형코드명 ==! */
      , B.HNOT_MEAN_CD               /** Code de mode de cotation !== 배부방법코드 ==! */
      , B.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , B.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , B.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , B.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , B.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    FROM   (
        SELECT CD_VDVAL AS DCLR_PT_CD
        FROM   TB_COM_COMN_CD_D_LANG
        WHERE  DEL_YN = 'N'
        AND    COMN_CD = 'CLR_0004'
        AND    LANG_CD = #{langCd}
        )  A
        ,  TB_CLRI_DEPT_HNOT_MEAN_BSCS B
    WHERE
        B.DEL_YN(+) = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  B.DCLR_PT_CD(+) = A.DCLR_PT_CD
        AND  B.CSTM_CD(+) = #{cstmCd}                       /** Code Du Bureau !== 세관코드 ==! */
        <if test="dclrPtCd != null and dclrPtCd != ''">
          AND  B.DCLR_PT_CD(+) = #{dclrPtCd}                  /** Code De Type De Déclaration !== 신고유형코드 ==! */
        </if>
    ORDER  BY A.DCLR_PT_CD
    <include refid="pagination.footer" ></include>
  </select>


  <!--
  Enregistrement de la Gérer le mode de cotation de services !== 부서배부방법관리 등록 ==!
  (Song JunYoung)
  -->
  <insert id="insertClrDeptHnotMeanBscs" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotMeanBscsVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMeanBscsMapper.insertClrDeptHnotMeanBscs */
    WITH UPSERT AS (
        UPDATE TB_CLRI_DEPT_HNOT_MEAN_BSCS
        SET
          HNOT_MEAN_CD = #{hnotMeanCd}                /** Code de méthode d'affectation !== 배부방법코드(C:기준,S:순차,M:수작업) ==! */
          , DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
          , LAST_CHPR_ID = #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE CSTM_CD = #{cstmCd}                         /** Code du bureau !== 세관코드 ==! */
          AND DCLR_PT_CD = #{dclrPtCd}                    /** Code de type de déclaration !== 신고유형코드 ==! */
        RETURNING *
    )
    INSERT INTO TB_CLRI_DEPT_HNOT_MEAN_BSCS
        (
          CSTM_CD                      /** Code du bureau !== 세관코드 ==! */
          , DCLR_PT_CD                   /** Code de type de déclaration !== 신고유형코드 ==! */
          , HNOT_MEAN_CD                 /** Code de méthode d'affectation !== 배부방법코드(C:기준,S:순차,M:수작업) ==! */
          , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
          , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
          , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
          , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
          )
      SELECT
          #{cstmCd}                    /** Code du bureau !== 세관코드 ==! */
          , #{dclrPtCd}                  /** Code de type de déclaration !== 신고유형코드 ==! */
          , #{hnotMeanCd}                /** Code de méthode d'affectation !== 배부방법코드(C:기준,S:순차,M:수작업) ==! */
          , 'N'                          /** Suppression ON !== 삭제여부 ==! */
          , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
          , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
          , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
          , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
      WHERE
        NOT EXISTS(SELECT * FROM UPSERT)
  </insert>


  <!--
  Modifier la Gérer le mode de cotation de services !== 부서배부방법관리 수정 ==!
  (Song JunYoung)
  -->
  <update id="updateClrDeptHnotMeanBscs" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotMeanBscsVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMeanBscsMapper.updateClrDeptHnotMeanBscs */
    UPDATE  TB_CLRI_DEPT_HNOT_MEAN_BSCS SET
    <trim prefixOverrides="," >
      HNOT_MEAN_CD = #{hnotMeanCd}                /** Code de mode de cotation !== 배부방법코드 ==! */
      , LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
    </trim>
    WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
    AND  CSTM_CD = #{cstmCd}                         /** Code Du Bureau !== 세관코드 ==! */
    AND  DCLR_PT_CD = #{dclrPtCd}                    /** Code De Type De Déclaration !== 신고유형코드 ==! */
  </update>


  <!--
  Supprimer la Gérer le mode de cotation de services !== 부서배부방법관리 삭제 ==!
  (Song JunYoung)
  -->
  <update id="deleteClrDeptHnotMeanBscs" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotMeanBscsVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMeanBscsMapper.deleteClrDeptHnotMeanBscs */
    UPDATE  TB_CLRI_DEPT_HNOT_MEAN_BSCS SET
      DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
      ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
      ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
    WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
      AND  CSTM_CD = #{cstmCd}                           /** Code Du Bureau !== 세관코드 ==! */
      AND  DCLR_PT_CD = #{dclrPtCd}                      /** Code De Type De Déclaration !== 신고유형코드 ==! */
  </update>

  <!--
   Consultation de la liste des déclarations non cotées à un service !== 부서미배부 목록 조회 ==!
   -->
  <select id="selectClrDeptHnwrHnotVoList" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnwrHnotVo" resultType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnwrHnotVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMeanBscsMapper.selectClrDeptHnwrHnotVoList */
    <include refid="pagination.header" ></include>
    SELECT
        A.DTL_DCSH_NO                /** Numéro du DAU !== DED번호 ==! */
      , A.DCLR_DT                    /** Date de DAU !== DED일자 ==! */
      , A.DCLR_PT_CD                 /** Code de type de declaration !== 신고유형코드 ==! */
      , A.DCLR_CSTM_CD               /** Code de bureau de declaration !== 신고세관코드 ==! */
      , A.DEPT_CD
      , A.SELC_RSLT_CD
      , A.CSCL_PLN_CD                /** Code de plan de dedouanement !== 통관계획코드 ==! */
      , A.EXPPN_IDFY_NO_TP_CD        /** Code de type du N° d'identification de l'exportateur !== 수출자식별번호구분코드 ==! */
      , A.EXPPN_IDFY_NO              /** N° d'identification de l'exportateur !== 수출자식별번호 ==! */
      , A.IMPPN_IDFY_NO_TP_CD        /** Code de type du N° d'identification de l'importateur !== 수입자식별번호구분코드 ==! */
      , A.IMPPN_IDFY_NO              /** N° d'identification de l'importateur !== 수입자식별번호 ==! */
      , A.DCER_CD                    /** Code du declarant !== 신고인코드 ==! */
      , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
      , ( CASE WHEN A.EXPPN_IDFY_NO_TP_CD = 'T' THEN (
              SELECT DECODE(BX.CO_NM, NULL, TX.CO_NM, BX.CO_NM) AS CO_NM
              FROM   TB_POTE_NIF TX, TB_COM_CO BX
              WHERE  TX.NIF = BX.NIF(+)
                AND    TX.NIF = A.EXPPN_IDFY_NO
                AND    TX.DEL_YN = 'N'
                AND    BX.DEL_YN(+) = 'N'
                AND    TX.NIF_STTS_CD != '0' )
            WHEN A.EXPPN_IDFY_NO_TP_CD = 'F' THEN (
              SELECT OVRS_BUCN_CO_NM
              FROM   TB_COM_OVBC
              WHERE  OVRS_BUCN_CD = A.EXPPN_IDFY_NO )
        END) AS EXPPN_NM
    , ( CASE WHEN A.IMPPN_IDFY_NO_TP_CD = 'T' THEN (
              SELECT DECODE(BX.CO_NM, NULL, TX.CO_NM, BX.CO_NM) AS CO_NM
              FROM   TB_POTE_NIF TX, TB_COM_CO BX
              WHERE  TX.NIF = BX.NIF(+)
                AND    TX.NIF = A.IMPPN_IDFY_NO
                AND    TX.DEL_YN = 'N'
                AND    BX.DEL_YN(+) = 'N'
                AND    TX.NIF_STTS_CD != '0' )
            WHEN A.IMPPN_IDFY_NO_TP_CD = 'F' THEN (
              SELECT OVRS_BUCN_CO_NM
              FROM   TB_COM_OVBC
              WHERE  OVRS_BUCN_CD = A.IMPPN_IDFY_NO)
            END) AS IMPPN_NM
    , (SELECT DCER_CO_NM FROM TB_CLRI_DED_CO WHERE dtl_dcsh_no = A.dtl_dcsh_no) AS DCER_NM
    , (SELECT A.DCLR_CSTM_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DCLR_CSTM_CD AND ROWNUM=1) AS DCLR_CSTM_NM
    , A.ADOR_HNOT_OPIN_CN
    , A.PRCS_STTS_CD
    , A.DEPT_HNOT_OPIN_CN
    , A.CSOR_APRV_RSOF_YN
    FROM   TB_CLRI_DED_COMN A
    WHERE  A.DEL_YN = 'N'
    AND    A.DCLR_CSTM_CD IS NOT NULL
    <choose>
      <when test="hnotTp.equals('01')"> <!-- 2019-09-06 룰에 의해 미배부된 내용을 통관기준관리자도 조회할 수 있도록 함. -->
        AND  (     A.PRCS_STTS_CD IN ('C02', 'F01', 'G01')
              AND A.DEPT_CD IS NULL
              AND A.DEPT_HNOT_PRCS_YN = 'Y'
              /* 20230317
            AND (EXISTS ( SELECT HNOT_MEAN_CD
                            FROM   TB_CLRI_DEPT_HNOT_MEAN_BSCS
                            WHERE  CSTM_CD = A.DCLR_CSTM_CD
                            AND    DCLR_PT_CD = A.DCLR_PT_CD
                            AND    HNOT_MEAN_CD = 'S' )
                  OR (EXISTS ( SELECT HNOT_MEAN_CD
                                FROM   TB_CLRI_DEPT_HNOT_MEAN_BSCS
                                WHERE  CSTM_CD = A.DCLR_CSTM_CD
                                AND    DCLR_PT_CD = A.DCLR_PT_CD
                                AND    HNOT_MEAN_CD = 'C')
                      AND A.DEPT_HNOT_PRCS_YN = 'Y')
                  )*/
              )
      </when>
      <when test="hnotTp.equals('02')">
        AND    A.PRCS_STTS_CD IN ('B02', 'B01', 'D01', 'D02', 'D03', 'D04')
        AND    A.DEPT_CD IS NOT NULL
      </when>
    </choose>

    <if test="rqstDtFrom != null and rqstDtFrom != '' and rqstDtTo != null and rqstDtTo != ''">
      AND	   A.DCLR_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'), 'YYYYMMDD')
      AND	   A.DCLR_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'), 'YYYYMMDD')
    </if>
    <if test="dclrCstmCd != null and dclrCstmCd != ''">
      AND    A.DCLR_CSTM_CD = #{dclrCstmCd}
    </if>
    <if test="deptCd != null and deptCd != ''">
      AND    A.DEPT_CD = #{deptCd}
    </if>
    <if test="dtlDcshNo != null and dtlDcshNo != ''">
      AND    A.DTL_DCSH_NO = #{dtlDcshNo}
    </if>
    ORDER BY A.DCLR_DT DESC, A.DTL_DCSH_NO
    <include refid="pagination.footer" ></include>
  </select>


    <!--
    Enregistrement de la cotation manuelle des services de la déclaration non cotée aux services !==부서 미배부 수작업 부서배부 등록==!
    (Song JunYoung)
    -->
    <update id="updateClrDeptHnwrHnot" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnwrHnotVo">
    	/*updateClrDeptHnotBase*/
    	UPDATE TB_CLRI_DED_COMN
    	SET    DEPT_CD           = #{deptCd}
    		 <if test="prcsSttsCd != null and prcsSttsCd != ''">
    	     , PRCS_STTS_CD      = #{prcsSttsCd}
    	     </if>
    	     , DEPT_HNOT_PRCS_YN = #{deptHnotPrcsYn} /* 20181030 수정*/
    	     , DEPT_HNOT_OPIN_CN = #{deptHnotOpinCn} /* 20181030 수정*/
    	     , CSOR_APRV_RSOF_YN = #{csorAprvRsofYn} /* 20200305 김선구  세관장결재상신보고 여부 추가 */
    	     , LAST_CHPR_ID      = #{lastChprId}
             , LAST_CHG_DTTM     = SYSTIMESTAMP
        WHERE  DEL_YN = 'N'
        AND    DTL_DCSH_NO = #{dtlDcshNo}
    </update>

    <!--
    Vérificaiton de la redondance de cotation spécifique au service lors de la non-contation de la déclaration !== 부서 미배부 수작업 부서배부 중복 체크 ==!
    (Song JunYoung)
    -->
    <select id="selectClrDeptHnwrHnotDupChk" parameterType="String" resultType="String">
        /* selectClrDeptHnotBaseDupChk */
        SELECT A.DTL_DCSH_NO
        FROM   TB_CLRI_DED_COMN A
        WHERE  A.DEL_YN = 'N'
		   AND A.DTL_DCSH_NO = #{dtlDcshNo}
		   AND A.PRCS_STTS_CD IN ('C02', 'F01', 'G01')
		   AND A.DEPT_CD IS NULL
		   AND (EXISTS ( SELECT HNOT_MEAN_CD
		                 FROM   TB_CLRI_DEPT_HNOT_MEAN_BSCS
		                 WHERE  CSTM_CD = A.DCLR_CSTM_CD
		                 AND    DCLR_PT_CD = A.DCLR_PT_CD
		                 AND    HNOT_MEAN_CD = 'S' )
		        OR (EXISTS ( SELECT HNOT_MEAN_CD
		                     FROM   TB_CLRI_DEPT_HNOT_MEAN_BSCS
                         WHERE  CSTM_CD = A.DCLR_CSTM_CD
		                     AND    DCLR_PT_CD = A.DCLR_PT_CD
		                     AND    HNOT_MEAN_CD = 'C')
		            AND A.DEPT_HNOT_PRCS_YN = 'Y')
		       )
    </select>


  <!--
   Consultation de la liste des enregistrements de la modification de la cotation des services !==부서배부변경등록 목록조회==!
   -->
  <select id="selectClrDeptHnotChgList" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotChgVo" resultType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotChgVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.selectClrDeptHnotChgList */
    <include refid="pagination.header" ></include>
    SELECT A.DTL_DCSH_NO                     /** Numéro du DAU !== DED번호 ==! */
		     , TO_CHAR(TO_DATE(A.DCLR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DCLR_DT  /** Date de DAU !== DED일자 ==! */
		     , A.DCLR_PT_CD                 /** Code de type de declaration !== 신고유형코드 ==! */
		     , A.DCLR_CSTM_CD               /** Code de bureau de declaration !== 신고세관코드 ==! */
		     , A.DEPT_CD
		     , A.AUDT_EMP_ID
		     , A.PRCS_STTS_CD
		     , A.SELC_RSLT_CD
		     , A.CSCL_PLN_CD                /** Code de plan de dedouanement !== 통관계획코드 ==! */
		     , A.EXPPN_IDFY_NO_TP_CD        /** Code de type du N° d'identification de l'exportateur !== 수출자식별번호구분코드 ==! */
		     , A.EXPPN_IDFY_NO              /** N° d'identification de l'exportateur !== 수출자식별번호 ==! */
		     , A.IMPPN_IDFY_NO_TP_CD        /** Code de type du N° d'identification de l'importateur !== 수입자식별번호구분코드 ==! */
		     , A.IMPPN_IDFY_NO              /** N° d'identification de l'importateur !== 수입자식별번호 ==! */
		     , A.DCER_CD                    /** Code du declarant !== 신고인코드 ==! */
		     , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
		     , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
		     , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
		     , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
		     , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
		     , ( CASE WHEN A.EXPPN_IDFY_NO_TP_CD = 'T' THEN ( SELECT DECODE(BX.CO_NM, NULL, TX.CO_NM, BX.CO_NM) AS CO_NM
                                                              FROM   TB_POTE_NIF TX, TB_COM_CO BX
                                                              WHERE  TX.NIF = BX.NIF(+)
                                                              AND    TX.NIF = A.EXPPN_IDFY_NO
                                                              AND    TX.DEL_YN = 'N'
                                                              AND    BX.DEL_YN(+) = 'N'
                                                              AND    TX.NIF_STTS_CD != '0' )
		              WHEN A.EXPPN_IDFY_NO_TP_CD = 'F' THEN ( SELECT OVRS_BUCN_CO_NM
		                                                      FROM   TB_COM_OVBC
		                                                      WHERE  OVRS_BUCN_CD = A.EXPPN_IDFY_NO
		                                                    )
		         END) AS EXPPN_NM
		     , ( CASE WHEN A.IMPPN_IDFY_NO_TP_CD = 'T' THEN ( SELECT DECODE(BX.CO_NM, NULL, TX.CO_NM, BX.CO_NM) AS CO_NM
                                                              FROM   TB_POTE_NIF TX, TB_COM_CO BX
                                                              WHERE  TX.NIF = BX.NIF(+)
                                                              AND    TX.NIF = A.IMPPN_IDFY_NO
                                                              AND    TX.DEL_YN = 'N'
                                                              AND    BX.DEL_YN(+) = 'N'
                                                              AND    TX.NIF_STTS_CD != '0' )
		              WHEN A.IMPPN_IDFY_NO_TP_CD = 'F' THEN ( SELECT OVRS_BUCN_CO_NM
		                                                      FROM   TB_COM_OVBC
		                                                      WHERE  OVRS_BUCN_CD = A.IMPPN_IDFY_NO
		                                                    )
		          END) AS IMPPN_NM
		     , ( SELECT DCER_CO_NM FROM TB_CLRI_DED_CO WHERE DTL_DCSH_NO = A.DTL_DCSH_NO) AS DCER_NM
		     , ( CASE WHEN ( SELECT A1.APRV_PRCS_STTS_CD
		                     FROM   TB_POTI_APRV A1, TB_CLRI_DEPT_CHG_BRKD B1
					         WHERE  A1.DEL_YN = 'N'
					         AND    B1.DTL_DCSH_NO = A.DTL_DCSH_NO
					         AND    B1.CHG_SRNO IN (SELECT MAX(CHG_SRNO) FROM  TB_CLRI_DEPT_CHG_BRKD WHERE DTL_DCSH_NO = B1.DTL_DCSH_NO)
					         AND    A1.APRV_REFF_NO = B1.DTL_DCSH_NO
					         AND    A1.APRV_ID = B1.APRV_ID  ) = 'I04' THEN ''
	                  ELSE ( SELECT A1.APRV_PRCS_STTS_CD||'|'||FN_GET_PRCS_STTS_CD_VDVAL_NM ('COM_9302',  A1.APRV_PRCS_STTS_CD, #{langCd})
		                     FROM   TB_POTI_APRV A1, TB_CLRI_DEPT_CHG_BRKD B1
		         			 WHERE  A1.DEL_YN = 'N'
		                     AND    B1.DTL_DCSH_NO = A.DTL_DCSH_NO
		                     AND    B1.CHG_SRNO IN (SELECT MAX(CHG_SRNO) FROM  TB_CLRI_DEPT_CHG_BRKD WHERE DTL_DCSH_NO = B1.DTL_DCSH_NO)
		                     AND    A1.APRV_REFF_NO = B1.DTL_DCSH_NO
		                     AND    A1.APRV_ID = B1.APRV_ID ) END ) AS APRV_PRCS_STTS_CD
		     , ( SELECT AFCH_DEPT_CD
		         FROM   TB_CLRI_DEPT_CHG_BRKD
		         WHERE  DEL_YN = 'N'
		         AND    DTL_DCSH_NO = A.DTL_DCSH_NO
		         AND    CHG_SRNO IN (SELECT MAX(CHG_SRNO)
		                             FROM TB_CLRI_DEPT_CHG_BRKD
		                             WHERE DEL_YN = 'N'
		                             AND DTL_DCSH_NO = A.DTL_DCSH_NO)) AS AFCH_DEPT_CD
 			 , (SELECT A.DCLR_CSTM_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DCLR_CSTM_CD AND ROWNUM=1) AS DCLR_CSTM_NM
 			 , (SELECT A.DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DEPT_CD AND ROWNUM=1) AS DEPT_NM
		     , (SELECT A.AUDT_EMP_ID||' | '||EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.AUDT_EMP_ID) AS AUDT_EMP_NM
		     , A.PRCS_STTS_CD||'|'||FN_GET_CD_VDVAL_NM ('CLR_0011',  A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM
		FROM   TB_CLRI_DED_COMN A
		WHERE  A.DEL_YN = 'N'
		AND    (      A.PRCS_STTS_CD IN ('D01', 'D02')                                                                   /* D01:접수 D02:심사중 */
		         OR ( A.PRCS_STTS_CD IN ('B01', 'F01', 'G01') AND A.ADOR_HNOT_PRCS_YN = 'Y' AND A.AUDT_EMP_ID IS NULL )  /* 심사자미배부 조건 */
		       )
		<if test="dclrCstmCd != null and dclrCstmCd != ''">
		AND    A.DCLR_CSTM_CD = #{dclrCstmCd}
		</if>
		<if test="deptCd != null and deptCd != ''">
		AND    A.DEPT_CD = #{deptCd}
		</if>
		<if test="dtlDcshNo != null and dtlDcshNo != ''">
		AND    A.DTL_DCSH_NO = #{dtlDcshNo}
		</if>
		<if test="rqstDtFrom != null and rqstDtFrom != '' and rqstDtTo != null and rqstDtTo != ''">
		AND	   A.DCLR_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'), 'YYYYMMDD')
		AND	   A.DCLR_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'), 'YYYYMMDD')
		</if>
		UNION ALL
		SELECT A.DTL_DCSH_NO                     /** Numéro du DAU !== DED번호 ==! */
		     , TO_CHAR(TO_DATE(A.DCLR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DCLR_DT  /** Date de DAU !== DED일자 ==! */
		     , A.DCLR_PT_CD                 /** Code de type de declaration !== 신고유형코드 ==! */
		     , A.DCLR_CSTM_CD               /** Code de bureau de declaration !== 신고세관코드 ==! */
		     , A.DEPT_CD
		     , A.AUDT_EMP_ID
		     , A.PRCS_STTS_CD
		     , A.SELC_RSLT_CD
		     , A.CSCL_PLN_CD                /** Code de plan de dedouanement !== 통관계획코드 ==! */
		     , A.EXPPN_IDFY_NO_TP_CD        /** Code de type du N° d'identification de l'exportateur !== 수출자식별번호구분코드 ==! */
		     , A.EXPPN_IDFY_NO              /** N° d'identification de l'exportateur !== 수출자식별번호 ==! */
		     , A.IMPPN_IDFY_NO_TP_CD        /** Code de type du N° d'identification de l'importateur !== 수입자식별번호구분코드 ==! */
		     , A.IMPPN_IDFY_NO              /** N° d'identification de l'importateur !== 수입자식별번호 ==! */
		     , A.DCER_CD                    /** Code du declarant !== 신고인코드 ==! */
		     , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
		     , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
		     , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
		     , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
		     , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
		     , ( CASE WHEN A.EXPPN_IDFY_NO_TP_CD = 'T' THEN ( SELECT DECODE(BX.CO_NM, NULL, TX.CO_NM, BX.CO_NM) AS CO_NM
                                                              FROM   TB_POTE_NIF TX, TB_COM_CO BX
                                                              WHERE  TX.NIF = BX.NIF(+)
                                                              AND    TX.NIF = A.EXPPN_IDFY_NO
                                                              AND    TX.DEL_YN = 'N'
                                                              AND    BX.DEL_YN(+) = 'N'
                                                              AND    TX.NIF_STTS_CD != '0' )
		              WHEN A.EXPPN_IDFY_NO_TP_CD = 'F' THEN ( SELECT OVRS_BUCN_CO_NM
		                                                      FROM   TB_COM_OVBC
		                                                      WHERE  OVRS_BUCN_CD = A.EXPPN_IDFY_NO
		                                                    )
		         END) AS EXPPN_NM
		     , ( CASE WHEN A.IMPPN_IDFY_NO_TP_CD = 'T' THEN ( SELECT DECODE(BX.CO_NM, NULL, TX.CO_NM, BX.CO_NM) AS CO_NM
                                                              FROM   TB_POTE_NIF TX, TB_COM_CO BX
                                                              WHERE  TX.NIF = BX.NIF(+)
                                                              AND    TX.NIF = A.IMPPN_IDFY_NO
                                                              AND    TX.DEL_YN = 'N'
                                                              AND    BX.DEL_YN(+) = 'N'
                                                              AND    TX.NIF_STTS_CD != '0' )
		              WHEN A.IMPPN_IDFY_NO_TP_CD = 'F' THEN ( SELECT OVRS_BUCN_CO_NM
		                                                      FROM   TB_COM_OVBC
		                                                      WHERE  OVRS_BUCN_CD = A.IMPPN_IDFY_NO
		                                                    )
		          END) AS IMPPN_NM
		     , ( SELECT DCER_CO_NM FROM TB_CLRI_DED_CO WHERE DTL_DCSH_NO = A.DTL_DCSH_NO) AS DCER_NM
		     , ( CASE WHEN ( SELECT A1.APRV_PRCS_STTS_CD
		                     FROM   TB_POTI_APRV A1, TB_CLRI_DEPT_CHG_BRKD B1
					         WHERE  A1.DEL_YN = 'N'
					         AND    B1.DTL_DCSH_NO = A.DTL_DCSH_NO
					         AND    B1.CHG_SRNO IN (SELECT MAX(CHG_SRNO) FROM  TB_CLRI_DEPT_CHG_BRKD WHERE DTL_DCSH_NO = B1.DTL_DCSH_NO)
					         AND    A1.APRV_REFF_NO = B1.DTL_DCSH_NO
					         AND    A1.APRV_ID = B1.APRV_ID  ) = 'I04' THEN ''
	                  ELSE ( SELECT A1.APRV_PRCS_STTS_CD||'|'||FN_GET_PRCS_STTS_CD_VDVAL_NM ('COM_9302',  A1.APRV_PRCS_STTS_CD, #{langCd})
		                     FROM   TB_POTI_APRV A1, TB_CLRI_DEPT_CHG_BRKD B1
		         			 WHERE  A1.DEL_YN = 'N'
		                     AND    B1.DTL_DCSH_NO = A.DTL_DCSH_NO
		                     AND    B1.CHG_SRNO IN (SELECT MAX(CHG_SRNO) FROM  TB_CLRI_DEPT_CHG_BRKD WHERE DTL_DCSH_NO = B1.DTL_DCSH_NO)
		                     AND    A1.APRV_REFF_NO = B1.DTL_DCSH_NO
		                     AND    A1.APRV_ID = B1.APRV_ID ) END ) AS APRV_PRCS_STTS_CD
		     , ( SELECT AFCH_DEPT_CD
		         FROM   TB_CLRI_DEPT_CHG_BRKD
		         WHERE  DEL_YN = 'N'
		         AND    DTL_DCSH_NO = A.DTL_DCSH_NO
		         AND    CHG_SRNO IN (SELECT MAX(CHG_SRNO)
		                             FROM TB_CLRI_DEPT_CHG_BRKD
		                             WHERE DEL_YN = 'N'
		                             AND DTL_DCSH_NO = A.DTL_DCSH_NO)) AS AFCH_DEPT_CD
 			 , (SELECT A.DCLR_CSTM_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DCLR_CSTM_CD AND ROWNUM=1) AS DCLR_CSTM_NM
 			 , (SELECT A.DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DEPT_CD AND ROWNUM=1) AS DEPT_NM
		     , (SELECT A.AUDT_EMP_ID||' | '||EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.AUDT_EMP_ID) AS AUDT_EMP_NM
		     , A.PRCS_STTS_CD||'|'||FN_GET_PRCS_STTS_CD_VDVAL_NM ('COM_9100',  A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM
		FROM   TB_CLRI_DED_COMN A
		WHERE  A.DEL_YN = 'N'
		AND    A.NEW_SYS_YN = 'N'
		AND    A.PRCS_STTS_CD IN ('D03', 'D04', 'D07', 'F01', 'G01')
		AND    NOT EXISTS(
                   SELECT 1
                   FROM   TB_POTI_ORGN
                   WHERE  DEL_YN = 'N'
                   AND    ORGN_CD = A.DEPT_CD
                   AND    UPR_ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN WHERE ORGN_CD = A.DCLR_CSTM_CD)
               )
		<if test="dclrCstmCd != null and dclrCstmCd != ''">
		AND    A.DCLR_CSTM_CD = #{dclrCstmCd}
		</if>
		<if test="deptCd != null and deptCd != ''">
		AND    A.DEPT_CD = #{deptCd}
		</if>
		<if test="dtlDcshNo != null and dtlDcshNo != ''">
		AND    A.DTL_DCSH_NO = #{dtlDcshNo}
		</if>
		<if test="rqstDtFrom != null and rqstDtFrom != '' and rqstDtTo != null and rqstDtTo != ''">
		AND	   A.DCLR_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{rqstDtFrom},'DD/MM/YYYY'), 'YYYYMMDD')
		AND	   A.DCLR_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{rqstDtTo},'DD/MM/YYYY'), 'YYYYMMDD')
		</if>
        ORDER BY DCLR_DT DESC, DTL_DCSH_NO
    <include refid="pagination.footer" ></include>
  </select>

  <!--
   Consultation de l'enregistrement de la modification des services !==부서배부변경등록 조회==!
   -->
  <select id="selectClrDeptChgBrkd" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptChgBrkdVo" resultType="alpass.ipt.clr.cdm.dam.vo.ClrDeptChgBrkdVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.selectClrDeptHnotChg */
    SELECT A.DTL_DCSH_NO                     /** Numéro du DAU !== DED번호 ==! */
         , A.CHG_SRNO                   /** N° de modification !== 변경일련번호 ==! */
         , A.BFCH_DEPT_CD               /** Code de la section initiale !== 변경전부서코드 ==! */
         , A.AFCH_DEPT_CD               /** Code de section modifiée !== 변경후부서코드 ==! */
         , A.DEPT_CHG_RSN_CD            /** Code de motif de la modification de section !== 부서변경사유코드 ==! */
         , A.CHG_RSN_CN                 /** Motif de la modification !== 변경사유내용 ==! */
         , A.CHG_DT                     /** Date de modification !== 변경일자 ==! */
         , A.CHPR_ID                    /** ID de la personne modifiant !== 변경자ID ==! */
         , A.APRV_ID                    /** ID d'approbation  !== 결재ID ==! */
         , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
         , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
         , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
         , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
         , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
       , ( SELECT B.APRV_PRCS_STTS_CD
             FROM   TB_POTI_APRV B
             WHERE  B.DEL_YN = 'N'
             AND    B.APRV_ID = A.APRV_ID
             AND    B.APRV_REFF_NO = A.DTL_DCSH_NO ) AS APRV_PRCS_STTS_CD
     , (SELECT A.BFCH_DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.BFCH_DEPT_CD AND ROWNUM=1) AS BFCH_DEPT_NM
     , (SELECT A.AFCH_DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.AFCH_DEPT_CD AND ROWNUM=1) AS AFCH_DEPT_NM
     , A.DEPT_CHG_RSN_CD||' | '||FN_GET_CD_VDVAL_NM('CLR_0068', A.DEPT_CHG_RSN_CD, #{langCd}) AS DEPT_CHG_RSN_NM
    FROM   TB_CLRI_DEPT_CHG_BRKD A
    WHERE  A.DEL_YN = 'N'
    AND    A.DTL_DCSH_NO = #{dtlDcshNo}
    <choose>
      <when test="chgSrno != null and chgSrno != ''">
      AND    A.CHG_SRNO = #{chgSrno}
      </when>
      <otherwise>
      AND    A.CHG_SRNO IN ( SELECT MAX(CHG_SRNO)
                             FROM   TB_CLRI_DEPT_CHG_BRKD
                             WHERE  DEL_YN = 'N'
                             AND    DTL_DCSH_NO = #{dtlDcshNo})
      </otherwise>
    </choose>
  </select>

  <!--
  Enregistrement de la modification de la cotation des services !==부서배부 변경등록==!
  -->
  <insert id="insertClrDeptChgBrkd" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptChgBrkdVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.insertClrDeptChgBrkd */
    INSERT INTO TB_CLRI_DEPT_CHG_BRKD
    (
      DTL_DCSH_NO                       /** Numéro du DAU !== DED번호 ==! */
    , CHG_SRNO                     /** N° de modification !== 변경일련번호 ==! */
    , BFCH_DEPT_CD                 /** Code de la section initiale !== 변경전부서코드 ==! */
    , AFCH_DEPT_CD                 /** Code de section modifiée !== 변경후부서코드 ==! */
    , DEPT_CHG_RSN_CD              /** Code de motif de la modification de section !== 부서변경사유코드 ==! */
    , CHG_RSN_CN                   /** Motif de la modification !== 변경사유내용 ==! */
    , CHG_DT                       /** Date de modification !== 변경일자 ==! */
    , CHPR_ID                      /** ID de la personne modifiant !== 변경자ID ==! */
    , APRV_ID
    , DEL_YN                       /** Suppression ON !== 삭제여부 ==! */
    , FRST_REGST_ID                /** ID du premier enregistrant  !== 최초등록자ID ==! */
    , FRST_RGSR_DTTM               /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
    , LAST_CHPR_ID                 /** ID du modificateur final !== 최종변경자ID ==! */
    , LAST_CHG_DTTM                /** Date et heure de modification finale !== 최종변경일시 ==! */
    )
    VALUES
      (
        #{dtlDcshNo}                     /** Numéro du DAU !== DED번호 ==! */
      , (SELECT NVL(MAX(CHG_SRNO), 0) + 1 FROM TB_CLRI_DEPT_CHG_BRKD WHERE DTL_DCSH_NO = #{dtlDcshNo}) /** N° de modification !== 변경일련번호 ==! */
      , #{bfchDeptCd}                /** Code de la section initiale !== 변경전부서코드 ==! */
      , #{afchDeptCd}                /** Code de section modifiée !== 변경후부서코드 ==! */
      , #{deptChgRsnCd}              /** Code de motif de la modification de section !== 부서변경사유코드 ==! */
      , #{chgRsnCn}                  /** Motif de la modification !== 변경사유내용 ==! */
      , TO_CHAR(SYSDATE, 'YYYYMMDD') /** Date de modification !== 변경일자 ==! */
      , #{chprId}                    /** ID de la personne modifiant !== 변경자ID ==! */
      , #{aprvId}
      , 'N'                          /** Suppression ON !== 삭제여부 ==! */
      , #{frstRegstId}               /** ID du premier enregistrant  !== 최초등록자ID ==! */
      , SYSTIMESTAMP                 /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
      , #{lastChprId}                /** ID du modificateur final !== 최종변경자ID ==! */
      , SYSTIMESTAMP                 /** Date et heure de modification finale !== 최종변경일시 ==! */
      )
  </insert>


  <!--
    Enregistrement de l'identifiant approbateur pour le changment de service !== 부서변경내역 결재ID 등록 ==!
    -->
  <update id="updateClrDeptChgAprvId" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptChgBrkdVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.updateClriBmtDeptChgAprvId */
    UPDATE TB_CLRI_DEPT_CHG_BRKD
    SET    APRV_ID = #{aprvId}
      , LAST_CHPR_ID = #{lastChprId}
      , LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE  DEL_YN = 'N'
      AND    DTL_DCSH_NO = #{dtlDcshNo}
      AND    CHG_SRNO = #{chgSrno}
  </update>

  <!--
    Changement du service de DED général !== DED공통 부서 변경 ==!
    -->
  <update id="updateClrDeptChgDedComn" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedComnVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.updateClrBmtDeptChgDedComn */
    UPDATE TB_CLRI_DED_COMN
    SET    DEPT_CD           = #{deptCd}
      , PRCS_STTS_CD      = #{prcsSttsCd}
      , AUDT_EMP_ID       = NULL
      , INSC_EMP_ID       = NULL
      , ADOR_HNOT_PRCS_YN = 'N'
      , ADOR_HNOT_OPIN_CN = NULL
      , LAST_CHPR_ID      = #{lastChprId}
      , LAST_CHG_DTTM     = SYSTIMESTAMP
    WHERE  DEL_YN = 'N'
      AND    DTL_DCSH_NO = #{dtlDcshNo}
  </update>

  <!--
    Consultation de la déclaration dont le changement de service a été approuvé !== 부서변경승인 신고서조회 ==!
    -->
  <select id="selectClrDeptChgAprvDedInfo" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotChgVo" resultType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotChgVo">
    /* alpass.ipt.clr.cdm.dam.mapper.ClrDeptHnotMgmtMapper.selectClrDeptChgAprvDedInfo */
    SELECT A.DTL_DCSH_NO                     /** Numéro du DAU !== DED번호 ==! */
         , TO_CHAR(TO_DATE(A.DCLR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DCLR_DT  /** Date de DAU !== DED일자 ==! */
         , A.DCLR_PT_CD                 /** Code de type de declaration !== 신고유형코드 ==! */
         , A.DCLR_CSTM_CD               /** Code de bureau de declaration !== 신고세관코드 ==! */
         , A.DEPT_CD
         , A.AUDT_EMP_ID
         , A.PRCS_STTS_CD
         , A.CSCL_PLN_CD                /** Code de plan de dedouanement !== 통관계획코드 ==! */
         , A.EXPPN_IDFY_NO_TP_CD        /** Code de type du N° d'identification de l'exportateur !== 수출자식별번호구분코드 ==! */
         , A.EXPPN_IDFY_NO              /** N° d'identification de l'exportateur !== 수출자식별번호 ==! */
         , A.IMPPN_IDFY_NO_TP_CD        /** Code de type du N° d'identification de l'importateur !== 수입자식별번호구분코드 ==! */
         , A.IMPPN_IDFY_NO              /** N° d'identification de l'importateur !== 수입자식별번호 ==! */
         , A.DCER_CD                    /** Code du declarant !== 신고인코드 ==! */
         , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
         , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
         , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
         , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
         , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
         , ( CASE WHEN A.EXPPN_IDFY_NO_TP_CD = 'T' THEN (SELECT DECODE(BX.CO_NM, NULL, TX.CO_NM, BX.CO_NM) AS CO_NM
                                                         FROM   TB_POTE_NIF TX, TB_COM_CO BX
                                                         WHERE  TX.NIF = BX.NIF(+)
                                                           AND    TX.NIF = A.EXPPN_IDFY_NO
                                                           AND    TX.DEL_YN = 'N'
                                                           AND    BX.DEL_YN(+) = 'N'
                                                           AND    TX.NIF_STTS_CD != '0' )
      WHEN A.EXPPN_IDFY_NO_TP_CD = 'F' THEN (SELECT OVRS_BUCN_CO_NM
		                                                     FROM   TB_COM_OVBC
		                                                     WHERE  OVRS_BUCN_CD = A.EXPPN_IDFY_NO
		                                                    )
    END) AS EXPPN_NM
		     , ( CASE WHEN A.IMPPN_IDFY_NO_TP_CD = 'T' THEN (SELECT DECODE(BX.CO_NM, NULL, TX.CO_NM, BX.CO_NM) AS CO_NM
                                                             FROM   TB_POTE_NIF TX, TB_COM_CO BX
                                                             WHERE  TX.NIF = BX.NIF(+)
                                                             AND    TX.NIF = A.IMPPN_IDFY_NO
                                                             AND    TX.DEL_YN = 'N'
                                                             AND    BX.DEL_YN(+) = 'N'
                                                             AND    TX.NIF_STTS_CD != '0' )
		              WHEN A.IMPPN_IDFY_NO_TP_CD = 'F' THEN (SELECT OVRS_BUCN_CO_NM
		                                                     FROM   TB_COM_OVBC
		                                                     WHERE  OVRS_BUCN_CD = A.IMPPN_IDFY_NO
		                                                    )
		          END) AS IMPPN_NM
		     , (SELECT DCER_CO_NM FROM TB_CLRI_DED_CO WHERE DTL_DCSH_NO = A.DTL_DCSH_NO) AS DCER_NM
		     , A.DCLR_PT_CD||' | '|| FN_GET_CD_VDVAL_NM('CLR_0004', A.DCLR_PT_CD, #{langCd}) AS DCLR_PT_NM
    , A.CSCL_PLN_CD||' | '||FN_GET_CD_VDVAL_NM('CLR_0006', A.CSCL_PLN_CD, #{langCd}) AS CSCL_PLN_NM
    , (SELECT A.DCLR_CSTM_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DCLR_CSTM_CD AND ROWNUM=1)  AS DCLR_CSTM_NM
    , (SELECT A.DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DEPT_CD AND ROWNUM=1) AS DEPT_NM
    , (SELECT A.AUDT_EMP_ID||' | '||EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.AUDT_EMP_ID ) AS AUDT_EMP_NM
    FROM   TB_CLRI_DED_COMN A
    WHERE  A.DEL_YN = 'N'
    AND    A.DTL_DCSH_NO = #{dtlDcshNo}
  </select>

  <!--
    Consultation de l'historique de changments de service !== 부서변경승인 변경내역조회==!
    -->
  <select id="selectDeptChgAprvChgDtl" parameterType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotChgVo" resultType="alpass.ipt.clr.cdm.dam.vo.ClrDeptHnotChgVo">
    /* ClriBmtDept_selectDeptChgAprvChgDtl */
    SELECT A.DTL_DCSH_NO                     /** Numéro du DAU !== DED번호 ==! */
         , A.CHG_SRNO                   /** N° de modification !== 변경일련번호 ==! */
         , A.BFCH_DEPT_CD               /** Code de la section initiale !== 변경전부서코드 ==! */
         , A.AFCH_DEPT_CD               /** Code de la nouvelle section !== 변경후부서코드 ==! */
         , A.DEPT_CHG_RSN_CD            /** Code de motif du changement de section !== 변경후부서코드 ==! */
         , A.CHG_RSN_CN                 /** Motif de la modification !== 변경사유내용 ==! */
         , A.CHG_DT                     /** Date de modification !== 변경일자 ==! */
         , A.CHPR_ID                    /** ID de la personne modifiant !== 변경자ID ==! */
         , A.DEL_YN                     /** Suppression ON !== 삭제여부 ==! */
         , A.FRST_REGST_ID              /** ID du premier enregistrant  !== 최초등록자ID ==! */
         , A.FRST_RGSR_DTTM             /** Date et heure de premier enregistrement !== 최초등록일시 ==! */
         , A.LAST_CHPR_ID               /** ID du modificateur final !== 최종변경자ID ==! */
         , A.LAST_CHG_DTTM              /** Date et heure de modification finale !== 최종변경일시 ==! */
         , A.APRV_ID                    /** ID d'approbation  !==결재자ID==! */
         , ( SELECT B.APRV_PRCS_STTS_CD
             FROM   TB_POTI_APRV B
             WHERE  B.DEL_YN = 'N'
               AND    B.APRV_ID = A.APRV_ID
               AND    B.APRV_REFF_NO = A.DTL_DCSH_NO ) AS APRV_PRCS_STTS_CD /* Code de statut du traitement d'approbation !==결재처리상태코드==!*/
         , (SELECT A.BFCH_DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.BFCH_DEPT_CD AND ROWNUM=1) AS BFCH_DEPT_NM
         , (SELECT A.AFCH_DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.AFCH_DEPT_CD AND ROWNUM=1) AS AFCH_DEPT_NM
         , A.DEPT_CHG_RSN_CD||' | '||FN_GET_CD_VDVAL_NM('CLR_0068', A.DEPT_CHG_RSN_CD, #{langCd}) AS DEPT_CHG_RSN_NM
    FROM   TB_CLRI_DEPT_CHG_BRKD A
    WHERE  A.DEL_YN = 'N'
      AND    A.DTL_DCSH_NO = #{dtlDcshNo}
      AND    A.CHG_SRNO IN ( SELECT MAX(CHG_SRNO)
                             FROM   TB_CLRI_DEPT_CHG_BRKD
                             WHERE  DEL_YN = 'N'
                               AND    DTL_DCSH_NO = #{dtlDcshNo})
  </select>
</mapper>