<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Gérer le groupement du niveau de conformité(s) !== 모의법규준수도등급관리 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.smlt.mapper.RsmSmltGdMgmtMapper">

    <!--
        [Gérer le niveau de conformité(s)] Consulter par trimestre !== [모의법규준수도등급관리] 분기조회  ==!
    -->
    <select id="selectLwcsGdMgmtQuarterTabList" 
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo" 
        resultType="alpass.framework.util.CamelCaseKeyMap">

        /* selectLwcsGdMgmtQuarterTabList */
	    SELECT
	          EV_QRT                                           /* Trimestre d'évaluation  !== 평가분기 ==!*/
	    FROM  TB_RSMI_SMLT_LWCS_GD_DSTB
	    WHERE EV_CO_TP_CD = #{evCoTpCd}                        /* Code de type de contrat !== 평가업체구분코드 ==!*/
	    AND   EV_QRT BETWEEN #{startEvQrt} AND #{endEvQrt}     /* Trimestre d'évaluation  !== 평가분기 ==!*/
	    GROUP BY
	          EV_QRT                                           /* Trimestre d'évaluation  !== 평가분기 ==!*/
	    ORDER BY
	          EV_QRT  ASC                                      /* Trimestre d'évaluation  !== 평가분기 ==!*/

    </select>
    
    <!--
        [Gérer le niveau de conformité(s)] Consulter la liste !== [모의법규준수도등급관리] 목록조회 ==!
    -->
    <select id="selectLwcsGdMgmtList" 
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo" 
        resultType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">

        /* selectLwcsGdMgmtList */
	    SELECT
	          EV_QRT                               /* Trimestre d'évaluation  !== 평가분기 ==!*/
	        , EV_CO_TP_CD                          /* Code de type de contrat !== 평가업체구분코드 ==!*/
	        , LWCS_SRNO                            /* Numéro de série du niveau de conformité !== 법규준수일련번호 ==!*/
	        , EV_GD_CD                             /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
	        , EV_GD_RTO                            /* Proportion du groupe d'évaluation !== 평가등급비율 ==!*/
	        , ERCNT                                /* Nombre d'entreprise  !== 업체수 ==!*/
	        , EV_GD_LWST_SCR                       /* Note la plus faible  !== 평가등급최저점수 ==!*/
	        , EV_GD_TOP_SCR                        /* Meilleure note d'évaluation !== 평가등급최고점수 ==!*/
	        , LWRG_PRCS_STTS_PRCS_CD               /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==!*/
	        , DEL_YN                               /* Suppression ON !== 삭제여부 ==!*/
	        , FRST_REGST_ID                        /* ID du premier enregistrant  !== 최초등록자ID ==!*/
	        , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') FRST_RGSR_DTTM
	        , LAST_CHPR_ID                         /* ID du modificateur final !== 최종변경자ID ==!*/
	        , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') LAST_CHG_DTTM
	    FROM  TB_RSMI_SMLT_LWCS_GD_DSTB
	    WHERE EV_QRT = #{evQrt}                    /* Trimestre d'évaluation  !== 평가분기 ==!*/
	    AND   EV_CO_TP_CD = #{evCoTpCd}            /* Code de type de contrat !== 평가업체구분코드 ==!*/
	    AND   LWCS_SRNO = (
	          SELECT
	                MAX(LWCS_SRNO)                 /* Numéro de série du niveau de conformité !== 법규준수일련번호 ==!*/
	          FROM  TB_RSMI_SMLT_LWCS_GD_DSTB
	          WHERE EV_QRT = #{evQrt}              /* Trimestre d'évaluation  !== 평가분기 ==!*/
	          AND   EV_CO_TP_CD = #{evCoTpCd}      /* Code de type de contrat !== 평가업체구분코드 ==!*/
	    )
	
	    <if test='evGdCd != null and !"".equals(evGdCd)'>
	    AND EV_GD_CD = #{evGdCd}                   /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
	    </if>
	
	    <if test='lwrgPrcsSttsPrcsCd != null and !"".equals(lwrgPrcsSttsPrcsCd)'>
	    AND LWRG_PRCS_STTS_PRCS_CD = #{lwrgPrcsSttsPrcsCd}      /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==!*/
	    </if>
		ORDER BY EV_GD_CD

    </select>
    
    <!--
        [Gérer le niveau de conformité(s)] Modifier !== [모의법규준수도등급관리] 수정 ==!
    -->
    <update id="updateEvGdRto" 
        parameterType="alpass.ipt.rsm.com.vo.RsmLwcsGdDstbVo">
	    /* updateEvGdRto */
	    UPDATE TB_RSMI_SMLT_LWCS_GD_DSTB
	    SET
	          EV_GD_RTO = #{evGdRto}                            /* Proportion du groupe d'évaluation !== 평가등급비율 ==!*/
	        , LWRG_PRCS_STTS_PRCS_CD = #{lwrgPrcsSttsPrcsCd}    /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==! */
	        , LAST_CHPR_ID = #{lastChprId}                      /* ID du modificateur final !== 최종변경자ID ==!*/
	        , LAST_CHG_DTTM = SYSTIMESTAMP                      /* Date et heure de modification finale !== 최종변경일시 ==!*/
	    WHERE EV_QRT = #{evQrt}                                 /* Trimestre d'évaluation  !== 평가분기 ==!*/
	    AND   EV_CO_TP_CD = #{evCoTpCd}                         /* Code de type de contrat !== 평가업체구분코드 ==!*/
	    AND   LWCS_SRNO = #{lwcsSrno}                           /* Numéro de série du niveau de conformité !== 법규준수일련번호 ==!*/
	    AND   EV_GD_CD = #{evGdCd}                              /* Code de groupe d'évaluation !== 평가등급코드 ==!*/

    </update>
    
    <!-- 
        [Gérer le niveau de conformité(s)] Initialiser les notes du niveau de conformité !== [Gérer le niveau de conformité] Initialiser les notes du niveau de conformité ==!
    -->
    <update id="updateRsmCoEvComnDcerInit" 
        parameterType="java.util.Map">
	    /* updateRsmCoEvComnDcerInit */
	    UPDATE TB_RSMI_SMLT_LWCS_GD_DSTB
	       SET ERCNT = 0 						/** Nombre D'Entreprise  !== 업체수 ==! */
	         , EV_GD_LWST_SCR = 0 				/** Note La Plus Faible  !== 평가등급최저점수 ==! */
	         , EV_GD_TOP_SCR = 0 				/** Meilleure Note D'Évaluation !== 평가등급최고점수 ==! */
	         , LAST_CHG_DTTM = SYSTIMESTAMP
	     WHERE EV_QRT = #{evQrt} 				/** Trimestre D'Évaluation  !== 평가분기 ==! */
	       AND EV_CO_TP_CD = #{evCoTpCd} 		/** Code De Type De Contrat !== 평가업체구분코드 ==! */

    </update>
    
    <!--
        [Gérer le niveau de conformité(s)] Modifier le classement d'évaluation de l'opérateur !== [법규준수도등급관리] 업체평가등급 수정 ==!
    -->
    <select id="selectRsmCoEvComnDcer" 
        parameterType="java.util.Map" 
        resultType="alpass.ipt.rsm.com.vo.RsmCoEvComnVo">

	    /* updateRsmCoEvComnDcer */
	    SELECT
	         EV_QRT 							/** Trimestre D'Évaluation  !== 평가분기 ==! */
	       , EV_CO_TP_CD 						/** Code De Type De Contrat !== 평가업체구분코드 ==! */
	       , EV_QRT_SRNO 						/** Numéro De Série De La Période D'Évaluation !== 평가분기일련번호 ==! */
	       , NIF 								/** Numéro d’identification fiscale !== 납세식별번호 ==! */
	       , MIN(EV_GD_CD) AS EV_GD_CD 			/** Code De Groupe D'Évaluation !== 평가등급코드 ==! */
	       , MIN(CO_EV_SCR) AS CO_EV_SCR 		/** Note D'Évaluation  !== 업체평가점수 ==! */
	       , SYSDATE AS LAST_CHG_DTTM  			/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
	    FROM (
	       SELECT CO.EV_QRT
	            , CO.EV_CO_TP_CD
	            , CO.EV_QRT_SRNO
	            , CO.NIF
	            , CO.EV_GD_ACML_DSTB_RT
	            , CO.CO_EV_SCR
	            , GD.EV_GD_CD
	            , GD.EV_GD_RTO
	       FROM (/** Extraire les entreprises du trimestre concerné !== 해당 분기 업체 추출 ==! */
	             SELECT EV_QRT
	                  , EV_CO_TP_CD
	                  , EV_QRT_SRNO
	                  , NIF
	                  , EV_GD_ACML_DSTB_RT
	                  , EV_GD_CD
	                  , CO_EV_SCR
	             FROM   TB_RSMI_CO_EV_COMN
	             WHERE  EV_QRT = #{evQrt}
	               AND  EV_CO_TP_CD = #{evCoTpCd}
	               AND  EV_QRT_SRNO = (/** Extraire le numéro de série de l'évaluation finale du trimestre !== 해당 분기의 최종 평가일련번호 추출 ==! */
	                                  SELECT MAX(EV_QRT_SRNO) AS EV_QRT_SRNO
	                                  FROM   TB_RSMI_CO_EV_COMN
	                                  WHERE  DEL_YN = 'N'
	                                  AND    EV_QRT = #{evQrt}
	                                 )
	               AND DEL_YN = 'N'
	            ) CO,
	            (/** Taux d'évaluation note par note pour le trimestre !== 해당 분기의 등급별 평가등급 비율 ==! */
	             SELECT EV_QRT
	                  , EV_CO_TP_CD
	                  , EV_GD_CD
	                  , EV_GD_RTO
	             FROM   TB_RSMI_SMLT_LWCS_GD_DSTB
	             WHERE  EV_QRT = #{evQrt}
	               AND  EV_CO_TP_CD = #{evCoTpCd}
	            ) GD
	       WHERE 1 = 1
	         <![CDATA[
	         AND CO.EV_GD_ACML_DSTB_RT <= GD.EV_GD_RTO
	         ]]>
	         AND CO.EV_QRT = GD.EV_QRT
	         AND CO.EV_CO_TP_CD = GD.EV_CO_TP_CD
	      )
	    GROUP BY EV_QRT, EV_CO_TP_CD, EV_QRT_SRNO, NIF
	    ORDER BY EV_QRT, EV_CO_TP_CD, EV_QRT_SRNO, NIF

    </select>
    
    <!-- 
        [Gérer le niveau de conformité(s)] Modifier les notes du niveau de conformité !== [법규준수도등급관리] 법규준수점수 수정 ==!
    -->
    <update id="updateRsmLwcsGdDstbDcer2" 
        parameterType="alpass.ipt.rsm.com.vo.RsmCoEvComnVo">

	    /* updateRsmLwcsGdDstbDcer2 */
	    UPDATE TB_RSMI_SMLT_LWCS_GD_DSTB
	       SET ERCNT            = #{ercnt} 				/** Nombre D'Entreprise  !== 업체수 ==! */
	         , EV_GD_LWST_SCR   = #{evGdLwstScr} 		/** Note La Plus Faible  !== 평가등급최저점수 ==! */
	         , EV_GD_TOP_SCR    = #{evGdTopScr} 		/** Meilleure Note D'Évaluation !== 평가등급최고점수 ==! */
	         , LAST_CHG_DTTM    = SYSTIMESTAMP 			/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
	     WHERE EV_QRT           = #{evQrt} 				/** Trimestre D'Évaluation  !== 평가분기 ==! */
	       AND EV_CO_TP_CD      = #{evCoTpCd} 			/** Code De Type De Contrat !== 평가업체구분코드 ==! */
	       AND LWCS_SRNO        = #{lwcsSrno} 			/** Numéro De Série Du Niveau De Conformité !== 법규준수일련번호 ==! */
	       AND EV_GD_CD         = #{evGdCd} 			/** Code De Groupe D'Évaluation !== 평가등급코드 ==! */

    </update>

	<!--
	  [Gérer le niveau de conformité(s)] Sauvegarder !== [모의법규준수도등급관리] 저장 ==!
	-->
	<update id="updateLwrgPrcsSttsPrcsCd"
		parameterType="alpass.ipt.rsm.com.vo.RsmLwcsGdDstbVo">
		/* updateLwrgPrcsSttsPrcsCd */
		UPDATE TB_RSMI_SMLT_LWCS_GD_DSTB
		SET LWRG_PRCS_STTS_PRCS_CD = #{lwrgPrcsSttsPrcsCd}   /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==!*/
		  , LAST_CHPR_ID = #{lastChprId}         			 /* ID du modificateur final !== 최종변경자ID ==!*/
		  , LAST_CHG_DTTM = SYSTIMESTAMP         		 /* Date et heure de modification finale !== 최종변경일시 ==!*/
		WHERE  EV_QRT = #{evQrt}                    /* Trimestre d'évaluation  !== 평가분기 ==!*/
		AND    EV_CO_TP_CD = #{evCoTpCd}            /* Code de type de contrat !== 평가업체구분코드 ==!*/
		AND    LWCS_SRNO = #{lwcsSrno}              /* Numéro de série du niveau de conformité !== 법규준수일련번호 ==!*/
		AND    EV_GD_CD = #{evGdCd}                 /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
	</update>


</mapper>