<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.rsm.selc.mapper.RsmSelcCoWgvlMapper">

    <!--
    [Pondérateur d'opérateur] Consulter la liste !== [업체가중치관리] 목록조회 ==!
    -->
    <select id="selectCoWgvlList" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcSearchVo" resultType="alpass.ipt.rsm.com.vo.RsmBaseMgmtComnVo">

    /* selectCoWgvlList*/

    <include refid="pagination.header" />

    SELECT
          ROWNUM AS no
        , BASE_RGSR_NO                              /* Numéro d'enregistrement !== 기준등록번호 ==!*/
        , RQST_BASE_CLSF_CD                         /* Code de classification du critère renseigné !== 신청기준분류코드 ==!*/
        , APLY_BASE_CLSF_CD                         /* Code de classification de critère en vigueur !== 적용기준분류코드 ==!*/
        , BASE_RQST_TP_CD                           /* Code de type de renseignement  !== 기준신청구분코드 ==!*/
        , BASE_PRCS_STTS_CD                         /* Code de statut de critère  !== 기준처리상태코드 ==!*/
        , APRV_ID                                   /* ID d'approbation  !== 결재ID ==!*/
        , BASE_APLY_YN                              /* En vigueur O/N !== 기준적용여부 ==!*/
        , DCSH_TP_CD                                /* Code de type de déclaration !== 신고서구분코드 ==!*/
        , BSOP_TP_CD                                /* Code de type de l'opération !== 업무구분코드 ==!*/
        , TO_CHAR(TO_DATE(APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_STRT_DT                                      /* Date de départ de l'application !== 적용시작일자 ==!*/
        , TO_CHAR(TO_DATE(APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_END_DT                                        /* Date de fin de l'application !== 적용종료일자 ==!*/
        , TO_CHAR(TO_DATE(APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') || '-' || TO_CHAR(TO_DATE(APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_DT         /* Date de l'application !== 적용시작일자 ==!*/
        , APLY_CSTM_TP_CD                           /* Code de type de bureau  !== 적용세관구분코드 ==!*/
        , GRN_SELC_RT                               /* Taux de déclaration en circuit vert  !== 녹색선별율 ==!*/
        , BLU_SELC_RT                               /* Taux de déclaration en circuit bleu  !== 파랑선별율 ==!*/
        , ORE_SELC_RT                               /* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
        , RED_SELC_RT                               /* Taux de déclaration en circuit rouge !== 빨강선별율 ==!*/
        , CO_WGVL_APLY_YN                           /* Application du pondérateur d'opérateur O/N !== 업체가중치적용여부 ==!*/
        , SELC_WGVL_APLY_YN                         /* Pondérateur du critrèe général  !== 선별가중치적용여부 ==!*/
        , APLY_PROR_RNK                             /* Priorité de l'application !== 적용우선순위 ==!*/
        , BASE_DESC                                 /* Description de critère !== 기준설명 ==!*/
        , INSC_GDLN_CN                              /* Directives d'inspection  !== 검사지침내용 ==!*/
        , RQST_RSN_CD                               /* Code de renseignement !== 신청사유코드 ==!*/
        , RTRN_RSN_CN                               /* Description justificative du code !== 신청사유설명 ==!*/
        , OPRN_SQL_CN                               /* Contenu de l'opération SQL !== 운영 SQL 내용 ==!*/
        , SMLT_SQL_CN                               /* Contenu de la simulation SQL !== 시뮬레이션 SQL 내용 ==!*/
        , DEL_YN                                    /* Suppression ON !== 삭제여부 ==!*/
        , FRST_REGST_ID                             /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , TO_CHAR(frst_rgsr_dttm, 'DD/MM/YYYY') AS FRST_RGSR_DTTM                                           /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , LAST_CHPR_ID                              /* ID du modificateur final !== 최종변경자ID ==!*/
        , TO_CHAR(last_chg_dttm, 'DD/MM/YYYY') AS LAST_CHG_DTTM                                             /* Date et heure de modification finale !== 최종변경일시 ==!*/
    FROM  TB_RSMI_BASE_MGMT_COMN
    WHERE DEL_YN = 'N'
    <if test='rqstBaseClsfCd != null and !"".equals(rqstBaseClsfCd)'>
    AND   RQST_BASE_CLSF_CD = #{rqstBaseClsfCd}     /* Code de classification du critère renseigné !== 신청기준분류코드 ==!*/
    </if>

    <if test='(aplyStrtDt != null and !"".equals(aplyStrtDt)) and (aplyEndDt != null and !"".equals(aplyEndDt))'>
    AND APLY_STRT_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{aplyEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD') AND APLY_END_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{aplyStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
    </if>

    <if test='basePrcsSttsCd != null and !"".equals(basePrcsSttsCd)'>
        <if test='!"00".equals(basePrcsSttsCd)'>
    AND   BASE_PRCS_STTS_CD = #{basePrcsSttsCd}     /* Code de statut de critère  !== 기준처리상태코드 ==!*/
        </if>
    </if>

    <if test='baseAplyYn != null and !"".equals(baseAplyYn)'>
        <if test='!"A".equals(baseAplyYn)'>
    AND   BASE_APLY_YN = #{baseAplyYn}              /* En vigueur O/N !== 기준적용여부 ==!*/
        </if>
    </if>

    <if test='baseDesc != null and !"".equals(baseDesc)'>
    AND   BASE_DESC LIKE '%' || #{baseDesc} || '%'  /* Description de critère !== 기준설명 ==!*/
    </if>

    <if test='sort != null and !"".equals(sort)'>
        <if test='"A".equals(sort)'>
    ORDER BY BASE_RGSR_NO ASC                       /* Numéro d'enregistrement !== 기준등록번호 ==!*/
        </if>
        <if test='"B".equals(sort)'>
    ORDER BY APLY_STRT_DT DESC                      /* Date de départ de l'application !== 적용시작일자 ==!*/
        </if>
        <if test='"C".equals(sort)'>
    ORDER BY APLY_END_DT DESC                       /* Date de fin de l'application !== 적용종료일자 ==!*/
        </if>
    </if>

    <include refid="pagination.footer" />

    </select>

    <!--
    [Pondérateur d'opérateur] Enregistrer !== [업체가중치관리] 등록 ==!
    -->
    <insert id="insertCoWgvlBase" parameterType="alpass.ipt.rsm.com.vo.RsmCoWgvlBaseVo">

    /* insertCoWgvlBase */
    INSERT INTO TB_RSMI_CO_WGVL_BASE (
          BASE_RGSR_NO                                /* Numéro d'enregistrement !== 기준등록번호 ==!*/
        , BSOP_TP_CD                                  /* Code de type de l'opération !== 업무구분코드 ==!*/
        , EV_GD_CD                                    /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
        , EV_QRT                                      /* Trimestre d'évaluation  !==평가분기==! */
        , EV_CO_TP_CD                                 /* Code de type de contrat !==평가업체구분코드==! */
        , LWCS_SRNO                                   /* Numéro de série du niveau de conformité !==법규준수일련번호==! */
        , LBCR_BASE_WGVL_VAL                          /* Pondérateur du critère général !== 우범기준가중치값 ==!*/
        , RNDM_BASE_WGVL_VAL                          /* Pondérateur pour le critère aléatoire  !== 랜덤기준가중치값 ==!*/
        , DEL_YN                                      /* Suppression ON !== 삭제여부 ==!*/
        , FRST_REGST_ID                               /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , FRST_RGSR_DTTM                              /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , LAST_CHPR_ID                                /* ID du modificateur final !== 최종변경자ID ==!*/
        , LAST_CHG_DTTM                               /* Date et heure de modification finale !== 최종변경일시 ==!*/
    ) VALUES (
          #{baseRgsrNo}                               /* Numéro d'enregistrement !== 기준등록번호 ==!*/
        , #{bsopTpCd}                                 /* Code de type de l'opération !== 업무구분코드 ==!*/
        , #{evGdCd}                                   /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
        , #{evQrt}                                    /* Trimestre d'évaluation  !==평가분기==! */
        , #{evCoTpCd}                                 /* Code de type de contrat !==평가업체구분코드==! */
        , #{lwcsSrno}                                 /* Numéro de série du niveau de conformité !==법규준수일련번호==! */
        , #{lbcrBaseWgvlVal}                          /* Pondérateur du critère général !== 우범기준가중치값 ==!*/
        , #{rndmBaseWgvlVal}                          /* Pondérateur pour le critère aléatoire  !== 랜덤기준가중치값 ==!*/
        , #{delYn}                                    /* Suppression ON !== 삭제여부 ==!*/
        , #{frstRegstId}                              /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , SYSTIMESTAMP                                /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , #{frstRegstId}                              /* ID du modificateur final !== 최종변경자ID ==!*/
        , SYSTIMESTAMP                                /* Date et heure de modification finale !== 최종변경일시 ==!*/
    )

    </insert>

    <!--
    [Pondérateur d'opérateur] Modifier !== [업체가중치관리] 수정 ==!
    -->
    <update id="updateCoWgvlBase" parameterType="alpass.ipt.rsm.com.vo.RsmCoWgvlBaseVo">

    UPDATE TB_RSMI_CO_WGVL_BASE
    SET    LBCR_BASE_WGVL_VAL   = #{lbcrBaseWgvlVal}    /* Pondérateur du critère général !== 우범기준가중치값 ==!*/
         , RNDM_BASE_WGVL_VAL   = #{rndmBaseWgvlVal}    /* Pondérateur pour le critère aléatoire  !== 랜덤기준가중치값 ==!*/
         , LAST_CHPR_ID         = #{lastChprId}         /* ID du modificateur final !== 최종변경자ID ==!*/
         , LAST_CHG_DTTM        = SYSTIMESTAMP          /* Date et heure de modification finale !== 최종변경일시 ==!*/
    WHERE  BASE_RGSR_NO         = #{baseRgsrNo}         /* Numéro d'enregistrement !== 기준등록번호 ==!*/
    AND    BSOP_TP_CD           = #{bsopTpCd}           /* Code de type de l'opération !== 업무구분코드 ==!*/
    AND    EV_GD_CD             = #{evGdCd}             /* Code de groupe d'évaluation !== 평가등급코드 ==!*/

    </update>

    <!--
    [Pondérateur d'opérateur] Supprimer !== [업체가중치관리] 삭제 ==!
    -->
    <update id="updateCoWgvlBaseToDelete" parameterType="alpass.ipt.rsm.com.vo.RsmCoWgvlBaseVo">

    UPDATE TB_RSMI_CO_WGVL_BASE
    SET    DEL_YN               = #{delYn}              /* Suppression ON !== 삭제여부 ==!*/
    WHERE  BASE_RGSR_NO         = #{baseRgsrNo}         /* Numéro d'enregistrement !== 기준등록번호 ==!*/
    AND    BSOP_TP_CD           = #{bsopTpCd}           /* Code de type de l'opération !== 업무구분코드 ==!*/
    AND    EV_GD_CD             = #{evGdCd}             /* Code de groupe d'évaluation !== 평가등급코드 ==!*/

    </update>

    <!--
    [Pondérateur d'opérateur] Consulter les détails !== [업체가중치관리] 상세조회 ==!
    -->
    <select id="selectCoWgvlBaseList" parameterType="alpass.ipt.rsm.com.vo.RsmCoWgvlBaseVo" resultType="alpass.ipt.rsm.com.vo.RsmCoWgvlBaseVo">

    /* selectCoWgvlBaseList */
    SELECT
          COWGVL.BASE_RGSR_NO                                /* Numéro d'enregistrement !== 기준등록번호 ==!*/
        , COWGVL.BSOP_TP_CD                                  /* Code de type de l'opération !== 업무구분코드 ==!*/
        , COWGVL.EV_GD_CD                                    /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
        , COWGVL.EV_QRT                                      /* Trimestre d'évaluation  !==평가분기==! */
        , COWGVL.EV_CO_TP_CD                                 /* Code de type de contrat !==평가업체구분코드==! */
        , COWGVL.LWCS_SRNO                                   /* Numéro de série du niveau de conformité !==법규준수일련번호==! */
        , COWGVL.LBCR_BASE_WGVL_VAL                          /* Pondérateur du critère général !== 우범기준가중치값 ==!*/
        , COWGVL.RNDM_BASE_WGVL_VAL                          /* Pondérateur pour le critère aléatoire  !== 랜덤기준가중치값 ==!*/
        , COWGVL.DEL_YN                                      /* Suppression ON !== 삭제여부 ==!*/
        , COWGVL.FRST_REGST_ID                               /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , TO_CHAR(COWGVL.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM             /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , COWGVL.LAST_CHPR_ID                                /* ID du modificateur final !== 최종변경자ID ==!*/
        , TO_CHAR(COWGVL.LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM               /* Date et heure de modification finale !== 최종변경일시 ==!*/
        , LWCS.EV_GD_RTO                                     /* Proportion du groupe d'évaluation !== 평가등급비율 ==!*/
        , LWCS.ERCNT                                         /* Nombre d'entreprise  !== 업체수 ==!*/
        , LWCS.EV_GD_LWST_SCR                                /* Note la plus faible  !== 평가등급최저점수 ==!*/
        , LWCS.EV_GD_TOP_SCR                                 /* Meilleure note d'évaluation !== 평가등급최고점수 ==!*/
        , LWCS.LWRG_PRCS_STTS_PRCS_CD                        /* Code de type de statut de niveau de conformité !== 법규처리상태구분코드 ==!*/
    FROM  TB_RSMI_CO_WGVL_BASE COWGVL
        , TB_RSMI_LWCS_GD_DSTB LWCS
    WHERE COWGVL.EV_QRT = LWCS.EV_QRT                        /* Trimestre d'évaluation  !==평가분기==! */
    AND   COWGVL.EV_CO_TP_CD = LWCS.EV_CO_TP_CD              /* Code de type de contrat !==평가업체구분코드==! */
    AND   COWGVL.LWCS_SRNO = LWCS.LWCS_SRNO                  /* Numéro de série du niveau de conformité !==법규준수일련번호==! */
    AND   COWGVL.EV_GD_CD = LWCS.EV_GD_CD                    /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
    AND   COWGVL.DEL_YN = 'N'                                /* Suppression ON !== 삭제여부 ==!*/
    AND   LWCS.DEL_YN = 'N'                                  /* Suppression ON !== 삭제여부 ==!*/
    AND   COWGVL.BASE_RGSR_NO = #{baseRgsrNo}                /* Numéro d'enregistrement !== 기준등록번호 ==!*/
    AND   COWGVL.BSOP_TP_CD = #{bsopTpCd}                    /* Code de type de l'opération !== 업무구분코드 ==!*/
    <if test='evGdCd != null and !"".equals(evGdCd)'>
    AND   COWGVL.EV_GD_CD = #{evGdCd}                        /* Code de groupe d'évaluation !== 평가등급코드 ==!*/
    </if>

    </select>

</mapper>
