<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.rsm.selc.mapper.RsmSelcInlistMapper">

    <!-- 
    [Gérer inList] Consulter la liste !== [inList관리] 목록조회 ==!
    -->
    <select id="selectInlistList" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcSearchVo" resultType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo">
    /* selectInlistList */

    <include refid="pagination.header" />

    SELECT
          ILST_NO                                                     /* Numéro d'inList  !== INLIST번호 ==!*/
        , ILST_NM                                                     /* Nom d'inList !== INLIST명 ==!*/
        , ILST_DESC                                                   /* Description d'inList !== INLIST설명 ==!*/
        , IMPPN_EXPPN_YN                                              /* Type d'opérateur !== 수입자수출자여부 ==!*/
        , HS_CD_INP_YN                                                /* Code SH saisi O/N !== HS코드입력여부 ==!*/
        , DCER_INP_YN                                                 /* Déclarant saisi O/N !== 신고인입력여부 ==!*/
        , ORCY_INP_YN                                                 /* Origine saisi  !== 원산지입력여부 ==!*/
        , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM     /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , FRST_RGSR_DTTM AS FRST_RGSR_DTTM2
        , BASE_RQST_TP_CD                                             /* Code de type de renseignement  !== 기준신청구분코드 ==!*/
        , DEL_YN                                                      /* Suppression ON !== 삭제여부 ==!*/
        , LAST_CHPR_ID                                                /* ID du modificateur final !== 최종변경자ID ==!*/
        , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM       /* Date et heure de modification finale !== 최종변경일시 ==!*/
        , LAST_CHG_DTTM AS LAST_CHG_DTTM2
    FROM  TB_RSMI_ILST_BSCS
    WHERE DEL_YN != 'Y'                                               /* Suppression ON !== 삭제여부 ==!*/
    AND   BASE_RQST_TP_CD = #{baseRqstTpCd}                           /* Code de type de renseignement  !== 기준신청구분코드 ==!*/
    <if test='ilstNm != null and !"".equals(ilstNm)'>
    AND   ILST_NM LIKE '%' || #{ilstNm} || '%'                        /* Nom d'inList !== INLIST명 ==!*/
    </if>
    <if test='ilstOrdr != null and !"".equals(ilstOrdr)'>
        <choose>
            <when test='"1".equals(ilstOrdr)'>
    ORDER BY FRST_RGSR_DTTM2 DESC                                     /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
            </when>
            <otherwise>
    ORDER BY ILST_NM ASC                                              /* Nom d'inList !== INLIST명 ==!*/
            </otherwise>
        </choose>
    </if>

    <include refid="pagination.footer" />

    </select>

    <!--
    [Gérer inList] Consulter les détails !== [inList관리] 상세조회 ==!
    -->
    <select id="selectInlistDList" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo" resultType="alpass.ipt.rsm.com.vo.RsmIlstDVo">

    /* selectInlistDList */
    SELECT
          'false' AS CHK_SEL
        , ILST_NO                                                       /* Numéro d'inList  !== INLIST번호 ==!*/
        , ILST_DTL_SRNO                                                 /* N° de série d'inList  !== INLIST상세일련번호 ==!*/
        , IMPPN_EXPPN_POTX_NO                                           /* N° de RCCM !== 수입자수출자사업자등록번호 ==!*/
        , HS_CD                                                         /* Code SH !== HS코드 ==!*/
        , DCER_CD                                                       /* Code du déclarant !== 신고인코드 ==!*/
        , ORCY_CNTY_CD                                                  /* Code de pays d'origine !== 원산지국가코드 ==!*/
        , DEL_YN                                                        /* Suppression ON !== 삭제여부 ==!*/
        , FRST_REGST_ID                                                 /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM       /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , LAST_CHPR_ID                                                  /* ID du modificateur final !== 최종변경자ID ==!*/
        , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM         /* Date et heure de modification finale !== 최종변경일시 ==!*/
    FROM  TB_RSMI_ILST_D
    WHERE DEL_YN = 'N'
    AND   ILST_NO = #{ilstNo}                            /* Numéro d'inList  !== INLIST번호 ==!*/

    </select>

    <!--
      [Gérer inList] Modifier l'information de base !== [inList관리] 기본정보 수정 ==!
    -->
    <update id="updateInlist" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo">

    /* updateInlist */
    UPDATE TB_RSMI_ILST_BSCS
    SET
           ILST_NM = #{ilstNm}                            /* Nom d'inList !== INLIST명 ==!*/
            <if test='imppnExppnYn != null and !"".equals(imppnExppnYn)'>
                <choose>
                    <when test='"Y".equals(imppnExppnYn)'>
         , IMPPN_EXPPN_YN = #{imppnExppnYn}               /* Type d'opérateur !== 수입자수출자여부 ==!*/
                    </when>
                    <otherwise>
         , IMPPN_EXPPN_YN = 'N'                           /* Type d'opérateur !== 수입자수출자여부 ==!*/
                    </otherwise>
                </choose>
            </if>
            <if test='hsCdInpYn != null and !"".equals(hsCdInpYn)'>
                <choose>
                    <when test='"Y".equals(hsCdInpYn)'>
         , HS_CD_INP_YN = #{hsCdInpYn}                    /* Code SH saisi O/N !== HS코드입력여부 ==!*/
                    </when>
                    <otherwise>
         , HS_CD_INP_YN = 'N'                             /* Code SH saisi O/N !== HS코드입력여부 ==!*/
                    </otherwise>
                </choose>
            </if>
            <if test='dcerInpYn != null and !"".equals(dcerInpYn)'>
                <choose>
                    <when test='"Y".equals(dcerInpYn)'>
         , DCER_INP_YN = #{dcerInpYn}                     /* Déclarant saisi O/N !== 신고인입력여부 ==!*/
                    </when>
                    <otherwise>
         , DCER_INP_YN = 'N'                              /* Déclarant saisi O/N !== 신고인입력여부 ==!*/
                    </otherwise>
                </choose>
            </if>
            <if test='orcyInpYn != null and !"".equals(orcyInpYn)'>
                <choose>
                    <when test='"Y".equals(orcyInpYn)'>
         , ORCY_INP_YN = #{orcyInpYn}                     /* Origine saisi  !== 원산지입력여부 ==!*/
                    </when>
                    <otherwise>
         , ORCY_INP_YN = 'N'                               /* Origine saisi  !== 원산지입력여부 ==!*/
                    </otherwise>
                </choose>
            </if>
         , ILST_DESC = #{ilstDesc}                        /* Description d'inList !== INLIST설명 ==!*/
            <if test='baseRqstTpCd != null and !"".equals(baseRqstTpCd)'>
         , BASE_RQST_TP_CD = #{baseRqstTpCd}              /* Code de type de renseignement  !== 기준신청구분코드 ==!*/
            </if>
         , DEL_YN = #{delYn}                              /* Suppression ON !== 삭제여부 ==!*/
         , LAST_CHPR_ID = #{lastChprId}                   /* ID du modificateur final !== 최종변경자ID ==!*/
         , LAST_CHG_DTTM = SYSTIMESTAMP                   /* Date et heure de modification finale !== 최종변경일시 ==!*/
    WHERE ILST_NO = #{ilstNo}                             /* Numéro d'inList  !== INLIST번호 ==!*/

    </update>

    <!--
      [Gérer inList] Modifier l'information détaillée !== [inList관리] 상세정보 수정 ==!
    -->
    <update id="updateInlist2" parameterType="alpass.ipt.rsm.com.vo.RsmIlstDVo">

    /* updateInlist2 */
    UPDATE TB_RSMI_ILST_D
    SET
           IMPPN_EXPPN_POTX_NO = #{imppnExppnPotxNo}                     /* N° de RCCM !== 수입자수출자사업자등록번호 ==!*/
         , HS_CD = #{hsCd}                                              /* Code SH !== HS코드 ==!*/
         , DCER_CD = #{dcerCd}                                          /* Code du déclarant !== 신고인코드 ==!*/
         , ORCY_CNTY_CD = #{orcyCntyCd}                                 /* Code de pays d'origine !== 원산지국가코드 ==!*/
         , DEL_YN = #{delYn}                                            /* Suppression ON !== 삭제여부 ==!*/
         , LAST_CHPR_ID = #{lastChprId}                                 /* ID du modificateur final !== 최종변경자ID ==!*/
         , LAST_CHG_DTTM = SYSTIMESTAMP                                 /* Date et heure de modification finale !== 최종변경일시 ==!*/
    WHERE  ILST_NO = #{ilstNo}                                          /* Numéro d'inList  !== INLIST번호 ==!*/
    AND    ILST_DTL_SRNO = #{ilstDtlSrno}                               /* N° de série d'inList  !== INLIST상세일련번호 ==!*/

    </update>

    <!--
      [Gérer inList] Supprimer l'information de base !== [inList관리] 기본정보 삭제 ==!
    -->
    <delete id="deleteInlist" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo">

    /* deleteInlist */
    DELETE FROM  TB_RSMI_ILST_BSCS
    WHERE  ILST_NO = #{ilstNo}                           /* Numéro d'inList  !== INLIST번호 ==!*/

    </delete>

    <!--
      [Gérer inList] Supprimer l'information détaillée !== [inList관리] 상세정보 삭제 ==!
    -->
    <delete id="deleteInlistD" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo">

    /* deleteInlistD */
    DELETE FROM TB_RSMI_ILST_D
    WHERE  ILST_NO = #{ilstNo}                           /* Numéro d'inList  !== INLIST번호 ==!*/

    </delete>

    <!--
      [Gérer inList] Supprimer l'information de base !== [inList관리] 기본정보 삭제 ==!
    -->
    <update id="updateTodeleteStateInlist" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo">

    /* updateTodeleteStateInlist */
    UPDATE TB_RSMI_ILST_BSCS
    SET
           DEL_YN = 'Y'                                   /* Suppression ON !== 삭제여부 ==!*/
         , LAST_CHPR_ID = #{lastChprId}                   /* ID du modificateur final !== 최종변경자ID ==!*/
         , LAST_CHG_DTTM = SYSTIMESTAMP                   /* Date et heure de modification finale !== 최종변경일시 ==!*/
    WHERE  ILST_NO = #{ilstNo}                            /* Numéro d'inList  !== INLIST번호 ==!*/

    </update>

    <!--
      [Gérer inList] Supprimer l'information détaillée !== [inList관리] 상세정보 삭제 ==!
    -->
    <update id="updateTodeleteStateInlistD" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo">

    /* updateTodeleteStateInlistD */
    UPDATE TB_RSMI_ILST_D
    SET
           DEL_YN = 'Y'                                   /* Suppression ON !== 삭제여부 ==!*/
         , LAST_CHPR_ID = #{lastChprId}                   /* ID du modificateur final !== 최종변경자ID ==!*/
         , LAST_CHG_DTTM = SYSTIMESTAMP                   /* Date et heure de modification finale !== 최종변경일시 ==!*/
    WHERE  ILST_NO = #{ilstNo}                            /* Numéro d'inList  !== INLIST번호 ==!*/
    <if test='ilstDtlSrno != null and ilstDtlSrno != 0'>
    AND    ILST_DTL_SRNO = #{ilstDtlSrno}                 /* N° de série d'inList  !== INLIST상세일련번호 ==!*/
    </if>

    </update>

    <!--
      [Gérer inList] Enregistrer l'information de base !== [inList관리] 기본정보 등록 ==!
    -->
    <insert id="insertInlist" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo">

    /* insertInlist */
    INSERT INTO TB_RSMI_ILST_BSCS (
          ILST_NO                                       /* Numéro d'inList  !== INLIST번호 ==!*/
        , ILST_NM                                       /* Nom d'inList !== INLIST명 ==!*/
        , IMPPN_EXPPN_YN                                /* Type d'opérateur !== 수입자수출자여부 ==!*/
        , HS_CD_INP_YN                                  /* Code SH saisi O/N !== HS코드입력여부 ==!*/
        , DCER_INP_YN                                   /* Déclarant saisi O/N !== 신고인입력여부 ==!*/
        , ORCY_INP_YN                                   /* Origine saisi  !== 원산지입력여부 ==!*/
        , ILST_DESC                                     /* Description d'inList !== INLIST설명 ==!*/
        , BASE_RQST_TP_CD                               /* Code de type de renseignement  !== 기준신청구분코드 ==!*/
        , DEL_YN                                        /* Suppression ON !== 삭제여부 ==!*/
        , FRST_REGST_ID                                 /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , FRST_RGSR_DTTM                                /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , LAST_CHPR_ID                                  /* ID du modificateur final !== 최종변경자ID ==!*/
        , LAST_CHG_DTTM                                 /* Date et heure de modification finale !== 최종변경일시 ==!*/
    ) VALUES (
          #{ilstNo}                                     /* Numéro d'inList  !== INLIST번호 ==!*/
        , #{ilstNm}                                     /* Nom d'inList !== INLIST명 ==!*/
        , #{imppnExppnYn}                               /* Type d'opérateur !== 수입자수출자여부 ==!*/
        , #{hsCdInpYn}                                  /* Code SH saisi O/N !== HS코드입력여부 ==!*/
        , #{dcerInpYn}                                  /* Déclarant saisi O/N !== 신고인입력여부 ==!*/
        , #{orcyInpYn}                                  /* Origine saisi  !== 원산지입력여부 ==!*/
        , #{ilstDesc}                                   /* Description d'inList !== INLIST설명 ==!*/
        , #{baseRqstTpCd}                               /* Code de type de renseignement  !== 기준신청구분코드 ==!*/
        , #{delYn}                                      /* Suppression ON !== 삭제여부 ==!*/
        , #{frstRegstId}                                /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , SYSTIMESTAMP                                  /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , #{lastChprId}                                 /* ID du modificateur final !== 최종변경자ID ==!*/
        , SYSTIMESTAMP                                  /* Date et heure de modification finale !== 최종변경일시 ==!*/
    )

    </insert>

    <!--
      [Gérer inList] Enregistrer l'information détaillée !== [inList관리] 상세정보 등록 ==!
    -->
    <insert id="insertInlistD" parameterType="alpass.ipt.rsm.com.vo.RsmIlstDVo">
    /* insertInlist2 */
    INSERT INTO TB_RSMI_ILST_D (
          ILST_NO                                                      /* Numéro d'inList  !== INLIST번호 ==!*/
        , ILST_DTL_SRNO                                                /* N° de série d'inList  !== INLIST상세일련번호 ==!*/
        , IMPPN_EXPPN_POTX_NO                                          /* N° de RCCM !== 수입자수출자사업자등록번호 ==!*/
        , HS_CD                                                        /* Code SH !== HS코드 ==!*/
        , DCER_CD                                                      /* Code du déclarant !== 신고인코드 ==!*/
        , ORCY_CNTY_CD                                                 /* Code de pays d'origine !== 원산지국가코드 ==!*/
        , DEL_YN                                                       /* Suppression ON !== 삭제여부 ==!*/
        , FRST_REGST_ID                                                /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , FRST_RGSR_DTTM                                               /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , LAST_CHPR_ID                                                 /* ID du modificateur final !== 최종변경자ID ==!*/
        , LAST_CHG_DTTM                                                /* Date et heure de modification finale !== 최종변경일시 ==!*/
    ) VALUES (
          #{ilstNo}                                                    /* Numéro d'inList  !== INLIST번호 ==!*/
        , (SELECT NVL(MAX(ILST_DTL_SRNO), 0) + 1 
           FROM   TB_RSMI_ILST_D WHERE ILST_NO = #{ilstNo})            /* N° de série d'inList  !== INLIST상세일련번호 ==!*/
        , #{imppnExppnPotxNo}                                          /* N° de RCCM !== 수입자수출자사업자등록번호 ==!*/
        , #{hsCd}                                                      /* Code SH !== HS코드 ==!*/
        , #{dcerCd}                                                    /* Code du déclarant !== 신고인코드 ==!*/
        , #{orcyCntyCd}                                                /* Code de pays d'origine !== 원산지국가코드 ==!*/
        , #{delYn}                                                     /* Suppression ON !== 삭제여부 ==!*/
        , #{frstRegstId}                                               /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , SYSTIMESTAMP                                                 /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , #{lastChprId}                                                /* ID du modificateur final !== 최종변경자ID ==!*/
        , SYSTIMESTAMP                                                 /* Date et heure de modification finale !== 최종변경일시 ==!*/
    )

    </insert>

    <!--
      [Gérer inList] Consulter l'information de base !== [inList관리] 기본조회 ==!
    -->
    <select id="selectInlist" parameterType="alpass.ipt.rsm.com.vo.RsmIlstBscsVo" resultType="alpass.ipt.rsm.com.vo.RsmIlstBscsVo">
    /* selectInlist */
    SELECT
          ILST_NO                                                      /* Numéro d'inList  !== INLIST번호 ==!*/
        , ILST_NM                                                      /* Nom d'inList !== INLIST명 ==!*/
        , IMPPN_EXPPN_YN                                               /* Type d'opérateur !== 수입자수출자여부 ==!*/
        , HS_CD_INP_YN                                                 /* Code SH saisi O/N !== HS코드입력여부 ==!*/
        , DCER_INP_YN                                                  /* Déclarant saisi O/N !== 신고인입력여부 ==!*/
        , ORCY_INP_YN                                                  /* Origine saisi  !== 원산지입력여부 ==!*/
        , ILST_DESC                                                    /* Description d'inList !== INLIST설명 ==!*/
        , BASE_RQST_TP_CD                                              /* Code de type de renseignement  !== 기준신청구분코드 ==!*/
        , DEL_YN                                                       /* Suppression ON !== 삭제여부 ==!*/
        , FRST_REGST_ID                                                /* ID du premier enregistrant  !== 최초등록자ID ==!*/
        , FRST_RGSR_DTTM                                               /* Date et heure de premier enregistrement !== 최초등록일시 ==!*/
        , LAST_CHPR_ID                                                 /* ID du modificateur final !== 최종변경자ID ==!*/
        , LAST_CHG_DTTM                                                /* Date et heure de modification finale !== 최종변경일시 ==!*/
    FROM  TB_RSMI_ILST_BSCS A
    WHERE A.DEL_YN = 'N'                                               /* Suppression ON !== 삭제여부 ==!*/
    AND   A.ILST_NO = #{ilstNo}                                        /* Numéro d'inList  !== INLIST번호 ==!*/
    </select>

    <resultMap id="selectBaseMgmtAndRlbsBase_resultMap" type="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo">
        <result property="baseMgmtComnVo.baseRgsrNo"           column="BASE_RGSR_NO"        />
        <result property="baseMgmtComnVo.rqstBaseClsfCd"       column="RQST_BASE_CLSF_CD"   />
        <result property="baseMgmtComnVo.aplyBaseClsfCd"       column="APLY_BASE_CLSF_CD"   />
        <result property="baseMgmtComnVo.baseRqstTpCd"         column="BASE_RQST_TP_CD"     />
        <result property="baseMgmtComnVo.basePrcsSttsCd"       column="BASE_PRCS_STTS_CD"   />
        <result property="baseMgmtComnVo.aprvBsopTpCd"         column="APRV_BSOP_TP_CD"     />
        <result property="baseMgmtComnVo.aprvId"               column="APRV_ID"             />
        <result property="baseMgmtComnVo.baseAplyYn"           column="BASE_APLY_YN"        />
        <result property="baseMgmtComnVo.dcshTpCd"             column="DCSH_TP_CD"          />
        <result property="baseMgmtComnVo.bsopTpCd"             column="BSOP_TP_CD"          />
        <result property="baseMgmtComnVo.aplyStrtDt"           column="APLY_STRT_DT"        />
        <result property="baseMgmtComnVo.aplyEndDt"            column="APLY_END_DT"         />
        <result property="baseMgmtComnVo.aplyCstmTpCd"         column="APLY_CSTM_TP_CD"     />
        <result property="baseMgmtComnVo.grnSelcRt"            column="GRN_SELC_RT"         />
        <result property="baseMgmtComnVo.bluSelcRt"            column="BLU_SELC_RT"         />
        <result property="baseMgmtComnVo.oreSelcRt"            column="ORE_SELC_RT"         />
        <result property="baseMgmtComnVo.redSelcRt"            column="RED_SELC_RT"         />
        <result property="baseMgmtComnVo.coWgvlAplyYn"         column="CO_WGVL_APLY_YN"     />
        <result property="baseMgmtComnVo.selcWgvlAplyYn"       column="SELC_WGVL_APLY_YN"   />
        <result property="baseMgmtComnVo.aplyProrRnk"          column="APLY_PROR_RNK"       />
        <result property="baseMgmtComnVo.baseDesc"             column="BASE_DESC"           />
        <result property="baseMgmtComnVo.inscGdlnCn"           column="INSC_GDLN_CN"        />
        <result property="baseMgmtComnVo.rqstRsnCd"            column="RQST_RSN_CD"         />
        <result property="baseMgmtComnVo.rtrnRsnCn"          column="RTRN_RSN_CN"       />
        <result property="baseMgmtComnVo.oprnSqlCn"            column="OPRN_SQL_CN"         />
        <result property="baseMgmtComnVo.smltSqlCn"            column="SMLT_SQL_CN"         />
        <result property="baseMgmtComnVo.orbsRgsrNo"           column="ORBS_RGSR_NO"        />
        <result property="baseMgmtComnVo.delYn"                column="DEL_YN"              />
        <result property="baseMgmtComnVo.frstRegstId"          column="FRST_REGST_ID"       />
        <result property="baseMgmtComnVo.frstRegstNm"          column="FRST_REGST_NM"       />
        <result property="baseMgmtComnVo.frstRgsrDttm"         column="FRST_RGSR_DTTM"      />
        <result property="baseMgmtComnVo.lastChprId"           column="LAST_CHPR_ID"        />
        <result property="baseMgmtComnVo.lastChgDttm"          column="LAST_CHG_DTTM"       />
        <result property="baseMgmtComnVo.apreDt"               column="APRE_DT"             />
        <result property="baseMgmtComnVo.aplyDt"               column="APLY_DT"             />
        <result property="baseMgmtComnVo.dclrPtCd"             column="DCLR_PT_CD"          />
        <result property="rlbsBaseVo.tblNm"                    column="TBL_NM"              />
        <result property="rlbsBaseVo.colNm"                    column="COL_NM"              />
        <result property="rlbsBaseVo.baseSrno"                 column="BASE_SRNO"           />
        <result property="rlbsBaseVo.operCd"                   column="OPER_CD"             />
        <result property="rlbsBaseVo.val"                      column="VAL"                 />
        <result property="rlbsBaseVo.valDesc"                  column="VAL_DESC"            />
    </resultMap>

    <!-- 
    [Gérer inList] Consulter l'historique des informations des critères !== [inList관리] 기준정보 이력조회 ==!
    -->
    <select id="selectBaseMgmtAndRlbsBase" parameterType="alpass.ipt.rsm.selc.vo.RsmSelcInlistVo" resultMap="selectBaseMgmtAndRlbsBase_resultMap">

    /* selectBaseMgmtAndRlbsBase */
    SELECT
          MASTER.BASE_RGSR_NO                                                 /* Numéro d'enregistrement !== 기준등록번호 ==! */
        , MASTER.RQST_BASE_CLSF_CD                                            /* Code de classification du critère renseigné !== 신청기준분류코드 ==! */
        , MASTER.APLY_BASE_CLSF_CD                                            /* Code de classification de critère en vigueur !== 적용기준분류코드 ==! */
        , MASTER.BASE_RQST_TP_CD                                              /* Code de type de renseignement  !== 기준신청구분코드 ==! */
        , MASTER.BASE_PRCS_STTS_CD                                            /* Code de statut de critère  !== 기준처리상태코드 ==! */
        , MASTER.APRV_BSOP_TP_CD                                              /* Code De Catégorie De L'Opération D'Approbation !== 결재업무구분코드 ==! */
        , MASTER.APRV_ID                                                      /* ID d'approbation  !== 결재ID ==! */
        , (SELECT
                 TO_CHAR(APRV_PRCS_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS APRV_PRCS_DTTM
           FROM  TB_POTI_APRV_D X
           WHERE APRV_ID = MASTER.APRV_ID 
           AND   APRV_SRNO = (SELECT MAX(APRV_SRNO) FROM TB_POTI_APRV_D Y WHERE Y.APRV_ID = X.APRV_ID) 
           AND   APRV_RSLT_CD = 'J01') AS APRE_DT                             /* Date d'autorisation !== 승인일자 ==!*/
        , MASTER.BASE_APLY_YN                                                 /* En vigueur O/N !== 기준적용여부 ==! */
        , MASTER.DCSH_TP_CD                                                   /* Code de type de déclaration !== 신고서구분코드 ==! */
        , MASTER.BSOP_TP_CD                                                   /* Code de type de l'opération !== 업무구분코드 ==! */
        , MASTER.APLY_STRT_DT                                                 /* Date de départ de l'application !== 적용시작일자 ==! */
        , MASTER.APLY_END_DT                                                  /* Date de fin de l'application !== 적용종료일자 ==! */
        , TO_CHAR(TO_DATE(MASTER.APLY_STRT_DT, 'YYYYMMDD'),'DD/MM/YYYY')||'~'||TO_CHAR(TO_DATE(MASTER.APLY_END_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS APLY_DT
        , (SELECT LISTAGG(DCLR_PT_CD, ',') WITHIN GROUP (ORDER BY DCLR_PT_CD) FROM TB_RSMI_DCLR_PT_BASE WHERE BASE_RGSR_NO=MASTER.BASE_RGSR_NO) AS DCLR_PT_CD      /* Code de type de déclaration !== 신고유형코드 ==! */
        , MASTER.APLY_CSTM_TP_CD                                              /* Code de type de bureau  !== 적용세관구분코드 ==! */
        , MASTER.GRN_SELC_RT                                                  /* Taux de déclaration en circuit vert  !== 녹색선별율 ==! */
        , MASTER.BLU_SELC_RT                                                  /* Taux de déclaration en circuit bleu  !== 파랑선별율 ==! */
        , MASTER.ORE_SELC_RT                                                  /* Taux de ciblage vers le circuit orange !== 오렌지선별율 ==! */
        , MASTER.RED_SELC_RT                                                  /* Taux de déclaration en circuit rouge !== 빨강선별율 ==! */
        , MASTER.CO_WGVL_APLY_YN                                              /* Application du pondérateur d'opérateur O/N !== 업체가중치적용여부 ==! */
        , MASTER.SELC_WGVL_APLY_YN                                            /* Pondérateur du critrèe général  !== 선별가중치적용여부 ==! */
        , MASTER.APLY_PROR_RNK                                                /* Priorité de l'application !== 적용우선순위 ==! */
        , MASTER.BASE_DESC                                                    /* Description de critère !== 기준설명 ==! */
        , MASTER.INSC_GDLN_CN                                                 /* Directives d'inspection  !== 검사지침내용 ==! */
        , MASTER.RQST_RSN_CD                                                  /* Code de renseignement !== 신청사유코드 ==! */
        , MASTER.RTRN_RSN_CN                                                  /* Motif De Rejet !== 반려 사유 내용 ==! */
        , MASTER.OPRN_SQL_CN                                                  /* Requête du système en vigueur !== 운영SQL내용 ==! */
        , MASTER.SMLT_SQL_CN                                                  /* Requête de la simulation !== 시뮬레이션SQL내용 ==! */
        , MASTER.DEL_YN                                                       /* Suppression ON !== 삭제여부 ==! */
        , MASTER.FRST_REGST_ID                                                /* ID du premier enregistrant  !== 최초등록자ID ==! */
        , ( SELECT EMP_NM
            FROM TB_POTI_EMP
            WHERE  PBSR_NO = MASTER.FRST_REGST_ID
          ) AS FRST_REGST_NM                                                  /* Nom du premier enregistrant  !== 최초등록자이름 ==! */
        , TO_CHAR(MASTER.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM           /* Date et heure de premier enregistrement !== 최초등록일시 ==! */
        , MASTER.LAST_CHPR_ID                                                 /* ID du modificateur final !== 최종변경자ID ==! */
        , MASTER.LAST_CHG_DTTM                                                /* Date et heure de modification finale !== 최종변경일시 ==! */
        , RLBS.TBL_NM                                                         /* Nom de la table !== 테이블명 ==! */
        , RLBS.COL_NM                                                         /* Nom de la colonne !== 컬럼명 ==! */
        , RLBS.BASE_SRNO                                                      /* N° de séquence de la base !== 기준일련번호 ==! */
        , RLBS.OPER_CD                                                        /* Code d'opérateur !== 연산자코드 ==! */
        , RLBS.VAL                                                            /* Code SH saisi O/N !== 값 ==! */
        , NVL(RLBS.VAL_DESC, '') AS VAL_DESC                                  /* Description de Valeur !== 값설명 ==! */
    FROM  TB_RSMI_BASE_MGMT_COMN MASTER
        , (
            SELECT
                  *
            FROM  TB_RSMI_RLBS_BASE 
            WHERE del_yn = 'N'
            AND   tbl_nm = 'TB_RSMI_ILST_BSCS'
            AND   col_nm = #{ilstNo}
        ) RLBS
    WHERE MASTER.BASE_RGSR_NO = RLBS.BASE_RGSR_NO                       /* Numéro d'enregistrement !== 기준등록번호 ==! */
    <if test='baseRqstTpCd != null and !"".equals(baseRqstTpCd)'>
    AND   MASTER.BASE_RQST_TP_CD = #{baseRqstTpCd}                      /* Code de type de renseignement  !== 기준신청구분코드 ==! */
    </if>

    </select>

</mapper>