<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.vhcl.cufr.lst.mapper.PscCufrXtnsLstMapper">

  <!--
  @TODO:번역필요 !== TPD 관련 신청서 목록 조회 ==!
  -->
  <select id="selectPscCufrXtnsList"  parameterType="alpass.ipt.psc.vhcl.cufr.lst.vo.PscCufrXtnsSearchVo" 
    resultType="alpass.ipt.psc.vhcl.cufr.lst.vo.PscCufrXtnsSearchVo"> 
      /* selectPscCufrXtnsList */
      <include refid="pagination.header" ></include>
          SELECT
                  A.CUFR_CSCL_XTNS_TEMP_NO       /** Numéro temporaire de la prorogation de l'acquit à caution !== 무관세통관연장임시번호 ==! */
                , A.CUFR_CSCL_XTNS_MGMT_NO       /** Numéro de getion de la prorogation de l'acquit à caution !== 무관세통관연장관리번호 ==! */
                , A.CUFR_XTNS_RQST_STTS_CD       /** Code de statut de la demande de l'acquit à caution !== 무관세연장신청상태코드 ==! */
                , A.CUFR_CSCL_WRPM_ID          /** Identifiant de l'acquit à caution  !== 무관세통관허가증ID ==! */
                , A.REFF_NO                    /** N° De Référence !== 참조번호 ==! */
                , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
                , ALPASSINT.FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
                , A.XTNS_RQST_STRT_DT          /** @TODO : 번역필요 !== 연장기간시작일자 ==! */
                , A.XTNS_RQST_END_DT           /** @TODO : 번역필요 !== 연장기간종료일자 ==! */
                , A.XTNS_RQST_RSN_CN           /** Motif de demande de prorogation !== 연장신청사유내용 ==! */            
                ,TO_CHAR(TO_DATE(A.XTNS_RQST_DT , 'YYYYMMDD'), 'DD/MM/YYYY') AS XTNS_RQST_DT  /** Date de demande de prorogation !== 연장신청일자 ==! */
                , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
                , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                , A.XTNS_MCNT				   /** Nombre de mois de prorogation !== 연장개월수 ==! */
           FROM   ALPASSINT.TB_PSCI_CUFR_CSCL_XTNS_RQST A
          WHERE   DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
		<if test="cufrCsclXtnsTempNo != null and cufrCsclXtnsTempNo != ''">
            AND   A.CUFR_CSCL_XTNS_TEMP_NO = #{cufrCsclXtnsTempNo}       /** Numéro temporaire de la prorogation de l'acquit à caution !== 무관세통관연장임시번호 ==! */        
        </if>
        <if test="cufrXtnsRqstSttsCd != null and cufrXtnsRqstSttsCd != ''">
         AND  A.CUFR_XTNS_RQST_STTS_CD = #{cufrXtnsRqstSttsCd}
        </if>
        <if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
          AND A.XTNS_RQST_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
        </if>
          AND CUFR_XTNS_RQST_STTS_CD NOT IN ('A1')
         ORDER BY A.FRST_RGSR_DTTM DESC
      <include refid="pagination.footer" ></include>
  </select>

  
</mapper>