<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alpass.ipt.car.com.file.mapper.CarComAtchFileMapper">

  <!--
      임시 첨부파일을 조회한다.
  -->
  <select id="selectTempAtchFile" parameterType="string" resultType="alpass.ipt.car.com.file.vo.CarComTempAtchFileVo">
    SELECT A.TEMP_ATCH_FILE_ID,
           A.SRBK_FILE_NM,
           A.SAVE_FILE_NM,
           A.FILE_PATH_NM,
           A.FILE_SIZE,
           A.FILE_DESC_CN,
           A.DEL_YN,
           A.FRST_REGST_ID,
           TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
           A.LAST_CHPR_ID,
           TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS')  AS LAST_CHG_DTTM
    FROM TB_COM_TEMP_ATCH_FILE A
    WHERE DEL_YN = 'N'
      AND TEMP_ATCH_FILE_ID = #{tempAtchFileId}
  </select>

  <!--
      임시 첨부파일 목록을 조회한다.
  -->
  <select id="selectTempAtchFileList" resultType="alpass.ipt.car.com.file.vo.CarComTempAtchFileVo">
    SELECT A.TEMP_ATCH_FILE_ID,
           A.SRBK_FILE_NM,
           A.SAVE_FILE_NM,
           A.FILE_PATH_NM,
           A.FILE_SIZE,
           A.FILE_DESC_CN,
           A.DEL_YN,
           A.FRST_REGST_ID,
           A.BSOP_CLSF_CD,
           TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
           A.LAST_CHPR_ID,
           TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
    FROM TB_COM_TEMP_ATCH_FILE A
    WHERE DEL_YN = 'N'
    AND TEMP_ATCH_FILE_ID IN
    <foreach item="item" index="index" collection="list"
      open="(" separator="," close=")">
      #{item.tempAtchFileId}
    </foreach>
  </select>

  <insert id="insertTempAtchFile" parameterType="alpass.ipt.car.com.file.vo.CarComTempAtchFileVo">
    INSERT INTO TB_COM_TEMP_ATCH_FILE (TEMP_ATCH_FILE_ID,
                                       SRBK_FILE_NM,
                                       SAVE_FILE_NM,
                                       FILE_PATH_NM,
                                       FILE_SIZE,
                                       BSOP_CLSF_CD,
                                       FILE_DESC_CN,
                                       DEL_YN,
                                       FRST_REGST_ID,
                                       FRST_RGSR_DTTM,
                                       LAST_CHPR_ID,
                                       LAST_CHG_DTTM)
    VALUES (#{tempAtchFileId},
            #{srbkFileNm},
            #{saveFileNm},
            #{filePathNm},
            #{fileSize},
            #{bsopClsfCd},
            #{fileDescCn},
            'N',
            #{frstRegstId},
            SYSTIMESTAMP,
            #{lastChprId},
            SYSTIMESTAMP)
  </insert>

  <select id="selectAtchFile" parameterType="alpass.ipt.car.com.file.vo.CarComAtchFileDownloadVo" resultType="alpass.ipt.car.com.file.vo.CarComAtchFileVo">
    SELECT A.ATCH_FILE_ID,
           A.ATCH_FILE_SRNO,
           A.SRBK_FILE_NM,
           A.SAVE_FILE_NM,
           A.FILE_PATH_NM,
           A.FILE_SIZE,
           A.FILE_DESC_CN,
           A.DEL_YN,
           A.FRST_REGST_ID,
           TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
           A.LAST_CHPR_ID,
           TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS')  AS LAST_CHG_DTTM
    FROM TB_COM_ATCH_FILE A
    WHERE DEL_YN = 'N'
      AND ATCH_FILE_ID = #{atchFileId}
      AND ATCH_FILE_SRNO = #{atchFileSrno}
  </select>

  <insert id="insertAtchFile" parameterType="alpass.ipt.car.com.file.vo.CarComAtchFileVo">
    <selectKey keyProperty="atchFileSrno" resultType="long" order="BEFORE">
      SELECT NVL(MAX(ATCH_FILE_SRNO), 0) + 1
      FROM TB_COM_ATCH_FILE
      WHERE ATCH_FILE_ID = #{atchFileId}
    </selectKey>
    INSERT INTO TB_COM_ATCH_FILE (ATCH_FILE_ID,
                                  ATCH_FILE_SRNO,
                                  SRBK_FILE_NM,
                                  SAVE_FILE_NM,
                                  FILE_PATH_NM,
                                  FILE_SIZE,
                                  BSOP_CLSF_CD,
                                  FILE_DESC_CN,
                                  DEL_YN,
                                  FRST_REGST_ID,
                                  FRST_RGSR_DTTM,
                                  LAST_CHPR_ID,
                                  LAST_CHG_DTTM)
    VALUES (#{atchFileId},
            #{atchFileSrno},
            #{srbkFileNm},
            #{saveFileNm},
            #{filePathNm},
            #{fileSize},
            #{bsopClsfCd},
            #{fileDescCn},
            'N',
            #{frstRegstId},
            SYSTIMESTAMP,
            #{lastChprId},
            SYSTIMESTAMP)
  </insert>

  <update id="updateFileDesc" parameterType="alpass.ipt.car.com.file.vo.CarComAtchFileUploadVo">
    UPDATE ALPASSINT.TB_COM_TEMP_ATCH_FILE
    SET FILE_DESC_CN  = #{fileDescCn},
        LAST_CHPR_ID  = #{lastChprId},
        LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE TEMP_ATCH_FILE_ID = #{tempAtchFileId}
  </update>

  <update id="updateAtchFileDesc" parameterType="alpass.ipt.car.com.file.vo.CarComAtchFileUploadVo">
    UPDATE ALPASSINT.TB_COM_ATCH_FILE
    SET FILE_DESC_CN  = #{fileDescCn},
        LAST_CHPR_ID  = #{lastChprId},
        LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE ATCH_FILE_ID = #{atchFileId}
    AND ATCH_FILE_SRNO = #{atchFileSrno}
  </update>

  <select id="selectAtchFileList" parameterType="alpass.ipt.car.com.file.vo.CarComAtchFileVo" resultType="alpass.ipt.car.com.file.vo.CarComAtchFileVo">
    SELECT A.ATCH_FILE_ID,
           A.ATCH_FILE_SRNO,
           A.SRBK_FILE_NM,
           A.SAVE_FILE_NM,
           A.FILE_PATH_NM,
           A.FILE_SIZE,
           A.FILE_DESC_CN,
           A.DEL_YN,
           A.FRST_REGST_ID,
           TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
           A.LAST_CHPR_ID,
           TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS')  AS LAST_CHG_DTTM
    FROM TB_COM_ATCH_FILE A
    WHERE DEL_YN = 'N'
      AND ATCH_FILE_ID = #{atchFileId}
  </select>

  <select id="selectFiles_ex" parameterType="alpass.ipt.car.com.file.vo.CarComAtchFileVo" resultType="alpass.ipt.car.com.file.vo.CarComAtchFileVo">
    SELECT A.ATCH_FILE_ID,
           A.ATCH_FILE_SRNO,
           A.SRBK_FILE_NM,
           A.SAVE_FILE_NM,
           A.FILE_PATH_NM,
           A.FILE_SIZE,
           A.FILE_DESC_CN,
           A.DEL_YN,
           A.FRST_REGST_ID,
           TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
           A.LAST_CHPR_ID,
           TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS')  AS LAST_CHG_DTTM
    FROM TB_COM_ATCH_FILE A
    WHERE DEL_YN = 'N'
      AND ATCH_FILE_ID = #{atchFileId}
  </select>

  <delete id="deleteAtchFile" parameterType="alpass.ipt.car.com.file.vo.CarComAtchFileVo">
    UPDATE TB_COM_ATCH_FILE
    SET DEL_YN = 'Y',
        LAST_CHPR_ID  = #{lastChprId},
        LAST_CHG_DTTM = SYSTIMESTAMP
    WHERE ATCH_FILE_ID = #{atchFileId}
    <if test="atchFileSrno != null">
      AND ATCH_FILE_SRNO = #{atchFileSrno}
    </if>
  </delete>

</mapper>
