<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
Mapper : COC repport
(GHEZALI Abdelhak)
-->

<mapper namespace="alpass.ipt.coc.rprt.mapper.CocRprtPrntMapper">
    <!-- Récupérer un rapport -->
    <select id="selectRprt" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** selectRprt */
        SELECT A.rprt_ref_no,
        FN_GET_CD_VDVAL_NM('COC_0002',A.rprt_tp_cd,'AR') as rprt_tp_cd,
        (select orgn_ar_nm from tb_poti_orgn D where D.orgn_cd= A.orgn_cd ) as orgn_cd,
        A.rprt_inf_ntr,
        TO_CHAR(A.rprt_inf_dttm, 'DD/MM/YYYY HH24:MI') AS rprt_inf_dttm,
        A.rprt_inf_plc,
        A.RPRT_LAT,
        A.RPRT_LONG,
        A.rprt_inf_tch,
        A.dclr_no,
        A.rprt_inf_prcd,
        A.rprt_inf_amd,
        FN_GET_CURR_NM(A.CURR_CD, 'AR') AS CURR_CD,
        A.rprt_inf_jrdq_txt,
        A.atch_file_id,
        A.cag_val_ttl,
        FN_GET_CD_VDVAL_NM('COC_0003',A.vldt_stts,'AR') as vldt_stts,
        A.oprn_ref_no,
        A.del_yn,
        A.use_yn,
        A.frst_regst_id,
        TO_CHAR((A.frst_rgsr_dttm), 'DD/MM/YYYY HH24:MI') as frst_rgsr_dttm,
        A.last_chpr_id,
        A.last_chg_dttm
        FROM alpassint.tb_coc_rprt A
        WHERE A.rprt_ref_no = #{rprtRefNo}
        AND A.del_yn = 'N';
    </select>
    <!-- Récupérer les cargaisons d'un rapport -->
    <select id="selectRprtCagList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtCagVo">
        /** selectRprtCagList */
        SELECT C.RPRT_CAG_ID,
               FN_GET_CD_VDVAL_NM('COC_0001', C.RPRT_CAG_CTG_CD, 'AR') as RPRT_CAG_CTG_CD,
               C.RPRT_CAG_NM,
               C.RPRT_CAG_QTY,
               FN_GET_CD_VDVAL_NM('COM_0018', C.UNIT_CD, 'AR')         as UNIT_CD,
               C.RPRT_CAG_UNIT_VAL,
               C.RPRT_CAG_TTL_VAL,
               FN_GET_CURR_NM(C.CURR_CD, 'AR')                         AS CURR_CD,
               C.RPRT_REF_NO
        FROM TB_COC_RPRT_CAG C
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = C.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer la liste des personnes d'un rapport -->
    <select id="selectRprtPrsnList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtPrsnVo">
        /** selectRprtPrsnList */
        SELECT P.RPRT_PRSN_ID,
               FN_GET_CD_VDVAL_NM('COC_0025', P.RPRT_PRSN_TP_CD, 'AR')   as RPRT_PRSN_TP_CD,
               P.RPRT_PRSN_NM,
               P.RPRT_PRSN_FMNM,
               FN_GET_CD_VDVAL_NM('COC_0004', P.RPRT_PRSN_TYP_DOC, 'AR') as RPRT_PRSN_TYP_DOC,
               P.RPRT_PRSN_RGSR_NO,
               TO_CHAR(TO_DATE(P.RPRT_PRSN_DLV_DT), 'DD/MM/YYYY')             as RPRT_PRSN_DLV_DT,
               P.RPRT_PRSN_DLV_AGNCY,
               FN_GET_CNTY_NM(P.RPRT_PRSN_NAT_CD, 'AR')                  as RPRT_PRSN_NAT_CD,
               P.RPRT_PRSN_ADDR,
               TO_CHAR(TO_DATE(P.RPRT_PRSN_BRDY), 'DD/MM/YYYY')               as RPRT_PRSN_BRDY,
               FN_GET_CD_VDVAL_NM('COM_0027', P.PRSN_GNDR, 'AR')         as PRSN_GNDR,
               P.RPRT_REF_NO
        FROM TB_COC_RPRT_PRSN P
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = P.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer la liste des transports d'un rapport -->
    <select id="selectRprtTrnpList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtTrnpVo">
        /** selectRprtTrnpList */
        SELECT T.rprt_trnp_id,
               (SELECT VHCL_MDL_NM
                FROM TB_COM_VHCL_MDL
                WHERE VHCL_MDL_CD = T.rprt_trnp_mdl_cd
                  AND DEL_YN = 'N'
                  AND ROWNUM = 1)                   AS rprt_trnp_mdl_cd, /** Nom de modèle du véhicule */
               (SELECT VHCL_MNUR_NM
                FROM TB_COM_VHCL_MNUR
                WHERE VHCL_MNUR_CD = T.rprt_trnp_brnd_cd
                  AND DEL_YN = 'N'
                  AND ROWNUM = 1)                   AS rprt_trnp_brnd_cd, /** Nom de fabricant du véhicule  */
               T.rprt_trnp_rgsr_no,
               T.rprt_trnp_chss_no,
               T.rprt_trnp_owvh,
               T.rprt_trnp_unit_val,
               FN_GET_CURR_NM(T.CURR_CD, 'AR') AS CURR_CD,
               T.rprt_ref_no
        FROM TB_COC_RPRT_TRNP T
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = T.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer la liste des entreprises d'un rapport -->
    <select id="selectRprtCmpnyList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtCmpnyVo">
        /** selectRprtCmpnyList */
        SELECT C.rprt_cmpny_id,
               FN_GET_CD_VDVAL_NM('POT_0076', C.rprt_cmpny_tp_cd, 'AR') as rprt_cmpny_tp_cd,
               C.rprt_cmpny_nm,
               C.rprt_cmpny_addr,
               C.rprt_cmpny_cmrc_regs_no,
               C.rprt_cmpny_nif_no,
               TO_CHAR(TO_DATE(C.rprt_cmpny_dlv_dt), 'DD/MM/YYYY')           as rprt_cmpny_dlv_dt,
               C.rprt_ref_no
        FROM TB_COC_RPRT_CMPNY C
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = C.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer les détails de voyage d'un rapport -->
    <select id="selectRprtVyg" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtVygVo">
        /** selectRprtVyg */
        SELECT V.rprt_vyg_id,
               V.rprt_vyg_dptr,
               V.rprt_vyg_dstn,
               V.rprt_vyg_trnp_nm,
               TO_CHAR(TO_DATE(V.rprt_vyg_dt), 'DD/MM/YYYY') as rprt_vyg_dt,
               V.rprt_vyg_tp,
               V.rprt_ref_no
        FROM TB_COC_RPRT_VYG V
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = V.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer les douaniers d'une opération -->
    <select id="selectEmpRprtList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.mgmt.emp.vo.CocMgmtEmpVo">
        /** selectEmpRprtList */
        SELECT
        C.pbsr_no ,
        C.emp_nm ,
        FN_GET_CD_VDVAL_NM('COM_0008', C.EMP_STTS_CD, 'FR') as EMP_STTS_CD,
        C.inhb_rgsr_no ,
        C.eml ,
        TO_CHAR(TO_DATE(C.brdy,
        'YYYYMMDD'),
        'DD/MM/YYYY') AS brdy ,
        C.gndr_cd ,
        C.mobl_no ,
        C.dept_tlph_no ,
        C.emp_addr ,
        C.phto_imge_cn ,
        TO_CHAR(TO_DATE(C.wrkp_asn_dt,'YYYYMMDD'),'DD/MM/YYYY') AS wrkp_asn_dt ,
        TO_CHAR(TO_DATE(C.enco_dt,'YYYYMMDD'),'DD/MM/YYYY') AS enco_dt ,
        FN_GET_CD_VDVAL_NM('POT_0098', C.emp_bwrk_stts_cd, 'AR') as emp_bwrk_stts_cd,
        C.bsop_clsf_cd ,
        C.emp_fmnm ,
        C.emp_nm ,
        C.far_nm ,
        C.mor_fmnm ,
        C.mor_nm ,
        C.emp_post_cd ,
        ('['||C.grd_cd||'] '||FN_GET_CD_VDVAL_NM('POT_0089', C.grd_cd, 'AR')) as GRD_CD ,
        (SELECT ('['||FONC_CD||'] '||FONC_CD_NM) FROM TB_POTI_FONC_CD_LANG WHERE LANG_CD = 'AR' AND FONC_CD =
        C.fonc_cd) AS FONC_CD ,
        C.atch_file_id ,
        TO_CHAR(TO_DATE(C.now_fonc_strt_dt,'YYYYMMDD'),'DD/MM/YYYY') AS now_fonc_strt_dt ,
        C.temp_brdy ,
        FN_GET_CD_VDVAL_NM('COC_0006', C.bld_tp_cd, 'AR') as bld_tp_cd,
        C.orgn_cd ,
        (select orgn_ar_nm from tb_poti_orgn D where D.orgn_cd= C.orgn_cd ) as orgn_nm
        FROM tb_poti_co_emp C
        JOIN tb_coc_emp_rprt_rel D ON C.pbsr_no = D.CO_EMP_REF_NO
        JOIN tb_coc_rprt B ON D.rprt_ref_no = B.rprt_ref_no
        WHERE B.rprt_ref_no = #{rprtRefNo}
        AND B.DEL_YN = 'N'
        AND C.DEL_YN = 'N'
    </select>

    <select id="selectRprtInc" parameterType="alpass.ipt.coc.rprt.vo.CocRprtIncVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtIncVo">
        SELECT B.rprt_inc_ref_no
        ,(select orgn_ar_nm from tb_poti_orgn D where D.orgn_cd= B.orgn_cd ) as orgn_cd
        , FN_GET_CD_VDVAL_NM('COC_0002',B.rprt_inc_tp_cd,'AR') as rprt_inc_tp_cd
        , TO_CHAR(B.rprt_inc_dttm, 'DD/MM/YYYY HH24:MI') AS rprt_inc_dttm
        , B.rprt_inc_ttl
        , B.rprt_inc_desc
        , B.atch_file_id
        , B.oprn_ref_no
        , B.del_yn
        , B.use_yn
        , B.frst_regst_id
        , TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI') AS frst_rgsr_dttm
        , B.last_chpr_id
        , TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM tb_coc_rprt_inc B
        WHERE B.rprt_inc_ref_no = #{rprtIncRefNo}
        AND B.DEL_YN = 'N'

    </select>
    <select id="selectCstmOrgn"
            parameterType="alpass.com.cstm.vo.ComCstmOrgnVo"
            resultType="alpass.com.cstm.vo.ComCstmOrgnVo">
        SELECT *, ROW_NUMBER() OVER (ORDER BY LEV2 DESC) AS LEV
        FROM (SELECT ORGN_CD,
            ORGN_AR_NM AS ORGN_NM,
        LEVEL AS LEV2, ORGN_MGMT_CD, ORGN_TP_CD
        FROM TB_POTI_ORGN where orgn_tp_cd in ('DIR','INS') START WITH UPPER(ORGN_MGMT_CD) = UPPER(#{orgnMgmtCd}) OR
        UPPER(ORGN_CD) = UPPER(#{orgnCd})
        CONNECT BY PRIOR UPR_ORGN_MGMT_CD = ORGN_MGMT_CD) A
        ORDER BY LEV ASC
    </select>


</mapper>