<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.clr.com.mapper.ClrMyTodoMapper">

    <!--
    Consultation de la liste de Todo !== Todo리스트 조회 ==!
    -->
    <select id="selectTodoIdLst" parameterType="alpass.com.todo.vo.ComTodoVo" resultType="alpass.com.todo.vo.ComTodoVo">
        /* ClriCom_selectTodoIdLst */
        SELECT *, 'IPT' as APP_CLSF_CD
        FROM   TB_POTI_TODO
        WHERE  DEL_YN = 'N'
        AND    BSOP_CLSF_CD = #{bsopClsfCd}
        AND    TODO_REFF_NO = #{todoReffNo}
        <if test="mdfyDgcnt != null and mdfyDgcnt != ''">
            AND    MDFY_DGCNT = #{mdfyDgcnt}
        </if>
        AND    TODO_STTS_CD = 'A'
        <if test="todoBsopTpCd != null and todoBsopTpCd != ''">
            AND    TODO_BSOP_TP_CD = #{todoBsopTpCd}
        </if>
        <if test="chpnId != null and chpnId != ''">
            AND    CHPN_ID = #{chpnId}
        </if>
        <if test="pbsrNo != null and pbsrNo != ''">
            <![CDATA[ AND CHPN_ID <>  #{pbsrNo} ]]>
        </if>
        <if test="docDtlCd != null and docDtlCd != ''">
            AND    DOC_DTL_CD = #{docDtlCd}
        </if>
    </select>

    <!--
        !== todoId 조회 ==!
    -->
    <select id="selectMytodoId" parameterType="alpass.com.todo.vo.ComTodoVo" resultType="java.lang.String">
        /* ClriCom_selectMytodoId */
        SELECT A.todo_id
        FROM TB_POTI_TODO A
           , TB_POTI_EMP B
        WHERE A.CHPN_ID = B.PBSR_NO
          AND A.CHPN_ID =  #{userId}
          AND A.DEL_YN = 'N'
          AND A.TODO_REFF_NO = #{todoReffNo}
          AND A.TODO_STTS_CD = 'A'
          AND A.TODO_BSOP_TP_CD = #{todoBsopTpCd}
    </select>
</mapper>