<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
Mapper : COC MGMT CNN
(ISSAD Lounis)
-->

<mapper namespace="alpass.ipt.coc.mgmt.cnn.mapper.CocMgmtCnnMapper">

    <!-- Récupérer la liste des enregistrements -->
    <select id="selectCnnList" parameterType="alpass.ipt.coc.mgmt.cnn.vo.CocMgmtCnnVo" resultType="alpass.ipt.coc.mgmt.cnn.vo.CocMgmtCnnVo">
        /** selectCnnList */
        <include refid="pagination.header" />
        SELECT 'false' AS chkSel,
        B.CNN_REF_NO,
        B.CNN_NM,
        B.CNN_AGE,
        B.CNN_TP,
        B.CNN_BLD,
        B.CNN_SPCL,
        B.CNN_RC,
        B.CNN_IMG,
        B.PBSR_NO,
        B.ORGN_CD,
        B.USE_YN,
        B.DEL_YN,
        B.FRST_REGST_ID,
        TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        B.LAST_CHPR_ID,
        TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM TB_COC_CNN B
        JOIN TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        WHERE B.DEL_YN = 'N'
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM TB_POTI_ORGN
        WHERE DEL_YN = 'N'
        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        <if test='srchCnnRefNo != null'>
            AND LOWER(B.CNN_REF_NO) LIKE '%' || LOWER(#{srchCnnRefNo}) || '%'
        </if>
        <if test='srchCnnNm != null'>
            AND LOWER(B.CNN_NM) LIKE '%' || LOWER(#{srchCnnNm}) || '%'
        </if>
        <if test='srchCnnAge != null'>
            AND LOWER(B.CNN_AGE) LIKE '%' || LOWER(#{srchCnnAge}) || '%'
        </if>
        <if test='srchCnnTp != null'>
            AND LOWER(B.CNN_TP) LIKE '%' || LOWER(#{srchCnnTp}) || '%'
        </if>
        <if test='srchCnnBld != null'>
            AND LOWER(B.CNN_BLD) LIKE '%' || LOWER(#{srchCnnBld}) || '%'
        </if>
        <if test='srchCnnSpcl != null'>
            AND LOWER(B.CNN_SPCL) LIKE '%' || LOWER(#{srchCnnSpcl}) || '%'
        </if>
        <if test='srchCnnRc != null'>
            AND LOWER(B.CNN_RC) LIKE '%' || LOWER(#{srchCnnRc}) || '%'
        </if>
        <if test='srchPbsrNo != null'>
            AND B.PBSR_NO = #{srchPbsrNo}
        </if>
        <if test='srchOrgnCd != null'>
            AND A.ORGN_MGMT_CD IN (
            SELECT ORGN_MGMT_CD
            FROM TB_POTI_ORGN
            WHERE DEL_YN = 'N'
            START WITH ORGN_CD = #{srchOrgnCd}
            CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
            )
        </if>
        ORDER BY CNN_REF_NO DESC
        <include refid="pagination.footer" />
    </select>

    <!-- Récupérer un enregistrement -->
    <select id="selectCnn" parameterType="alpass.ipt.coc.mgmt.cnn.vo.CocMgmtCnnVo" resultType="alpass.ipt.coc.mgmt.cnn.vo.CocMgmtCnnVo">
        /** selectCnn */
        SELECT
        CNN_REF_NO,
        CNN_NM,
        CNN_AGE,
        CNN_TP,
        CNN_BLD,
        CNN_SPCL,
        CNN_RC,
        CNN_IMG,
        PBSR_NO,
        ORGN_CD,
        USE_YN,
        DEL_YN,
        FRST_REGST_ID,
        TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        LAST_CHPR_ID,
        TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM TB_COC_CNN
        WHERE CNN_REF_NO = #{cnnRefNo}
        AND DEL_YN = 'N'
    </select>

    <!-- Insérer un enregistrement -->
    <insert id="insertCnn" parameterType="alpass.ipt.coc.mgmt.cnn.vo.CocMgmtCnnVo">
        /** insertCnn */
        WITH UPSERT AS (
        UPDATE TB_COC_CNN
        SET
        CNN_REF_NO      =   #{cnnRefNo},
        CNN_NM          =   #{cnnNm},
        CNN_AGE         =   #{cnnAge},
        CNN_TP          =   #{cnnTp},
        CNN_BLD         =   #{cnnBld},
        CNN_SPCL        =   #{cnnSpcl},
        CNN_RC          =   #{cnnRc},
        CNN_IMG         =   #{cnnImg},
        PBSR_NO         =   #{pbsrNo},
        ORGN_CD         =   #{orgnCd},
        USE_YN          =   #{useYn},
        DEL_YN          =   #{delYn},
        FRST_REGST_ID   =   #{frstRegstId},
        FRST_RGSR_DTTM  =   SYSTIMESTAMP,
        LAST_CHPR_ID    =   #{lastChprId},
        LAST_CHG_DTTM   =   SYSTIMESTAMP
        WHERE CNN_REF_NO = #{cnnRefNo}
        RETURNING *
        )
        INSERT INTO TB_COC_CNN
        (
        CNN_REF_NO,
        CNN_NM,
        CNN_AGE,
        CNN_TP,
        CNN_BLD,
        CNN_SPCL,
        CNN_RC,
        CNN_IMG,
        PBSR_NO,
        ORGN_CD,
        USE_YN,
        DEL_YN,
        FRST_REGST_ID,
        FRST_RGSR_DTTM,
        LAST_CHPR_ID,
        LAST_CHG_DTTM
        )
        SELECT
        #{cnnRefNo},
        #{cnnNm},
        #{cnnAge},
        #{cnnTp},
        #{cnnBld},
        #{cnnSpcl},
        #{cnnRc},
        #{cnnImg},
        #{pbsrNo},
        #{orgnCd},
        #{useYn},
        #{delYn},
        #{frstRegstId},
        SYSTIMESTAMP,
        #{lastChprId},
        SYSTIMESTAMP
        WHERE NOT EXISTS(SELECT * FROM UPSERT)
    </insert>

    <!-- Modifier un enregistrement -->
    <update id="updateCnn" parameterType="alpass.ipt.coc.mgmt.cnn.vo.CocMgmtCnnVo">
        /** updateCnn */
        UPDATE TB_COC_CNN
        SET
        CNN_NM          =   #{cnnNm},
        CNN_AGE         =   #{cnnAge},
        CNN_TP          =   #{cnnTp},
        CNN_BLD         =   #{cnnBld},
        CNN_SPCL        =   #{cnnSpcl},
        CNN_RC          =   #{cnnRc},
        CNN_IMG         =   #{cnnImg},
        PBSR_NO         =   #{pbsrNo},
        LAST_CHPR_ID    =   #{lastChprId},
        LAST_CHG_DTTM   =   SYSTIMESTAMP
        WHERE CNN_REF_NO = #{cnnRefNo}
        AND DEL_YN = #{delYn}
    </update>

    <!-- Supprimer un enregistrement -->
    <update id="deleteCnn" parameterType="alpass.ipt.coc.mgmt.cnn.vo.CocMgmtCnnVo" >
        /** deleteCnn */
        UPDATE TB_COC_CNN
        SET
        DEL_YN          =   'Y',
        LAST_CHPR_ID    =   #{lastChprId},
        LAST_CHG_DTTM   =   SYSTIMESTAMP
        WHERE CNN_REF_NO = #{cnnRefNo}
    </update>

</mapper>