<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.pvinf.exfm.mapper.CarExfmInfoMapper">


    <!--
    !== 수출이행 수출 SQL ==!
    (Im Jae woo)
    -->
    <sql id ="sqlCarExfmInfoEx">
        SELECT S.*
                   ,TO_CHAR(S.PRCS_DTRM_DTTM,'DD/MM/YYYY')         AS PRCS_DTTM   /** Date et heure de traitement !==처리일시==! */
                   ,TO_CHAR(S.PRCS_DTRM_DTTM,'DD/MM/YYYY HH24:MI') AS PRCS_DTTM2   /** Date et heure de traitement !==처리일시==! */
              FROM (
                 SELECT 'EX' AS EXP_FFMN_TP_CD             /* Type D'Apurement D'Exportation !== 수출이행구분코드 ==! */
                        , A.DTL_DCSH_NO AS EXP_FFMN_NO     /* N° D'Apurement D'Exportation !== 수출이행번호 ==! */
                        , A.PCKG_TGCNT AS PCKG_GCNT        /* Nombre De Colis !== 포장개수 ==! */
                        , A.AL_TTWG AS TTWG                /* Poids Brut !== 총중량 ==! */
                        , B.IMPPN_CO_NM AS CNSI_NM         /* Nom Du Destinataire !== 수하인명 ==! */
                        , B.EXPPN_CO_NM AS EXPPN_NM        /* Nom De L'Exportateur !== 수출자명 ==! */
                        , A.PRCS_STTS_CD                   /* Code De Statut De Traitement !== 처리상태코드 ==! */
                        , FN_GET_CD_VDVAL_NM('CLR_0011', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM      /** Code de statut de traitement !==처리상태코드==! */
                        , ( SELECT MAX(C.PRCS_DTRM_DTTM)
                            FROM TB_CLRI_DED_PRCS_BRKD C
                            WHERE C.DTL_DCSH_NO = A.DTL_DCSH_NO
                            AND C.PRCS_STTS_CD  = A.PRCS_STTS_CD
                            AND C.DEL_YN        = 'N'
                        ) AS PRCS_DTRM_DTTM /* Date Et Heure De Traitement !== 처리일시 ==! */
                     FROM
                        TB_CLRI_DED_COMN A
                        , TB_CLRI_DED_CO B
                     WHERE 1 = 1
                     AND A.DTL_DCSH_NO  = B.DTL_DCSH_NO
                     AND A.DEL_YN  = 'N'
                     AND B.DEL_YN  = 'N'
                     AND A.ACPT_YN = 'Y'  /* 수리여부 = 'Y' */
                     AND A.PRCS_STTS_CD NOT IN ('G01','G03','G04') /* 취소건 제외(G01:취소수신, G03:취소, G04:직권취소) */
                     AND A.DCLR_PT_CD IN ('EX1','EX2','EX3')       /* 수출건만 포함 */
                     AND A.EPC_CD NOT IN ('EPMXXX')                /* 수출이지만 트랜지으로 이행하는것 제외 */
    </sql>
    <!--
    !== 수출이행 환적 SQL ==!
    (Im Jae woo)
    -->
    <sql id ="sqlCarExfmInfoTm">
        SELECT 'TM' AS EXP_FFMN_TP_CD /* Type D'Apurement D'Exportation !== 수출이행구분코드 ==! */
             , A.TRNH_RQST_NO AS EXP_FFMN_NO
             , SUM(BB.PCKG_GCNT) AS PCKG_GCNT    /** Nombre de colis !==포장개수==! */
             , SUM(BB.TTWG) AS TTWG              /** Poids brut !==총중량==! */
             , BB.EXPPN_NM
             , BB.CNSI_NM
             , TO_CHAR(A.PRCS_DTTM,'DD/MM/YYYY') AS PRCS_DTTM   /** Date et heure de traitement !==처리일시==! */
             , TO_CHAR(A.PRCS_DTTM,'DD/MM/YYYY HH24:MI') AS PRCS_DTTM2   /** Date et heure de traitement !==처리일시==! */
             , A.PRCS_STTS_CD                          /** Code de statut de traitement !==처리상태코드==! */
             , FN_GET_CD_VDVAL_NM('CAR_9001', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM   /** Code de statut de traitement !==처리상태코드==! */
          FROM TB_CARE_TRNH A
         INNER JOIN TB_CARE_TRNH_BL B
            ON A.TRNH_RQST_NO = B.TRNH_RQST_NO
           AND A.PRCS_STTS_CD ='D08'
          LEFT JOIN TB_CARE_CAG_DCSH_BL_EXFM C
            ON A.TRNH_RQST_NO = C.EXP_FFMN_NO
           AND C.EXP_FFMN_TP_CD ='TM'
           AND C.DEL_YN = 'N'
          LEFT JOIN TB_CARE_CAG_DCSH_BL BB
            ON BB.CAG_DCSH_RGSR_MGMT_NO = C.CAG_DCSH_RGSR_MGMT_NO
           AND BB.BL_SRNO = C.BL_SRNO
           AND BB.DEL_YN = 'N'
        WHERE 1=1
          AND A.DEL_YN = 'N'
          AND B.DEL_YN = 'N'
    </sql>


    <!--
    !== 수출이행 수출 목록 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarExfmInfoExList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo">
            /* CarExfmInfoMapper.selectCarExfmInfoExList */
            <include refid="pagination.header" ></include>
            <include refid="sqlCarExfmInfoEx" ></include>
            <if test="expFfmnNo != '' and expFfmnNo != null">
                   AND A.DTL_DCSH_NO LIKE REPLACE(#{expFfmnNo} || '%', '-', '')
            </if>
            <if test="cntrNo != '' and cntrNo != null">
                   AND A.DTL_DCSH_NO IN (SELECT C.DTL_DCSH_NO
                                        FROM TB_CLRI_DED_CNTR C
                                        WHERE C.CNTR_NO = #{cntrNo} )
            </if>
            ) S
         ORDER BY PRCS_DTTM2 DESC
        <include refid="pagination.footer" ></include>
    </select>


    <!--
    !== 수출이행 환적 목록 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarExfmInfoTmList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo">
            /* CarExfmInfoMapper.selectCarExfmInfoTmList */
         <include refid="pagination.header" ></include>
         <include refid="sqlCarExfmInfoTm" ></include>
        <if test="expFfmnNo != '' and expFfmnNo != null">
          AND A.TRNH_RQST_NO = #{expFfmnNo}
        </if>
        <if test="cntrNo != '' and cntrNo != null">
          AND BB.CAG_MGMT_NO IN ( SELECT C1.CAG_MGMT_NO
                                    FROM TB_CARE_CAG_DCSH_BL C1
                                   INNER JOIN TB_CARE_CAG_DCSH_BL_CNTR C2
                                      ON C1.CAG_DCSH_RGSR_MGMT_NO  = BB.CAG_DCSH_RGSR_MGMT_NO
                                     AND C1.CAG_DCSH_RGSR_MGMT_NO  = C2.CAG_DCSH_RGSR_MGMT_NO
                                     AND C1.BL_SRNO = C2.BL_SRNO
                                   WHERE C2.CNTR_NO = #{cntrNo})
        </if>
        GROUP BY A.TRNH_RQST_NO
                 , BB.EXPPN_NM
                 , BB.CNSI_NM
                 , TO_CHAR(A.PRCS_DTTM,'DD/MM/YYYY')
                 , TO_CHAR(A.PRCS_DTTM,'DD/MM/YYYY HH24:MI')
                 , A.PRCS_STTS_CD
        ORDER BY A.PRCS_DTTM DESC
        <include refid="pagination.footer" ></include>
    </select>

    <!--
    !== 수출이행 수출 목록 ==!
    (Im Jae woo)
    -->
    <select id="selectCarExfmInfoEx"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo">
            /* CarExfmInfoMapper.selectCarExfmInfoEx */
            <include refid="sqlCarExfmInfoEx" ></include>
            AND A.DTL_DCSH_NO = #{expFfmnNo}
            ) S
            LIMIT 1
    </select>


    <!--
    !== 수출이행 환적 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarExfmInfoTm"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo">
            /* CarExfmInfoMapper.selectCarExfmInfoTm */
         <include refid="sqlCarExfmInfoTm" ></include>
          AND A.TRNH_RQST_NO = #{expFfmnNo}
        GROUP BY A.TRNH_RQST_NO
            , BB.EXPPN_NM
            , BB.CNSI_NM
            , TO_CHAR(A.PRCS_DTTM,'DD/MM/YYYY')
            , TO_CHAR(A.PRCS_DTTM,'DD/MM/YYYY HH24:MI')
            , A.PRCS_STTS_CD
        LIMIT 1
    </select>


    <!--
    !== 수출이행 수출 컨테이너 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectExpFfmnRelaCntrList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo">
            /* CarExfmInfoMapper.selectExpFfmnRelaCntrList */
                                SELECT
                                      A.DTL_DCSH_NO
                                    , A.CNTR_SRNO
                                    , A.CNTR_NO
                                    , A.CNTR_TP_CD
                                    , A.CNTR_STFN_STTS_CD
                                    , A.SEAL_NO1
                                    , A.SEAL_NO2
                                    , A.SEAL_NO3
                                    , A.SEAL_CHPN_CD
                                FROM  TB_CLRI_DED_CNTR A
                                    , TB_CLRI_DED_COMN B
                                WHERE A.DEL_YN = 'N'
                                AND B.DEL_YN = 'N'
                                AND A.DTL_DCSH_NO = B.DTL_DCSH_NO
                                AND B.DCLR_PT_CD IN ('EX1','EX2','EX3') /* 수출건만 포함 */
                                AND ACPT_YN = 'Y'
                                AND B.PRCS_STTS_CD NOT IN ('G01','G03','G04') /* G01:취소수신, G03:취소, G04:직권취소 */
                                AND A.DTL_DCSH_NO = #{expFfmnNo}
    </select>

    <!--
    !== 수출이행 환적 컨테이너 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCarExfmCntrInfoList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo">
        /* CarExfmInfoMapper.selectCarExfmCntrInfoList */
        SELECT
              C.CNTR_NO
            , C.CNTR_TP_CD
            , C.SEAL_NO1
            , C.SEAL_NO2
            , C.SEAL_NO3
        FROM TB_CARI_TRNH A, TB_CARI_CAG_DCSH_BL_EXFM B, TB_CARI_CAG_DCSH_BL_CNTR C
        WHERE 1=1
            AND A.TRNH_RQST_NO = B.EXP_FFMN_NO
            AND B.CAG_MGMT_NO = C.CAG_MGMT_NO
            AND A.DEL_YN = 'N'
            AND B.DEL_YN = 'N'
            AND C.DEL_YN = 'N'
            AND A.TRNH_RQST_NO = #{expFfmnNo}
    </select>

     <!--
    !== 수출이행 적재 신청 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCariExfmLoadBlList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo">
        /* CarExfmInfoMapper.selectCariExfmLoadBlList */
        SELECT M.LOAD_RQST_NO
             , B.BL_NO
             , B.CAG_CHRC_CD
             , B.PCKG_GCNT
             , CASE WHEN B.CAG_CHRC_CD = '8' THEN B.LIR_VOL ELSE B.TTWG END AS TTWG
             , E.DIVD_SHPM_YN
             , E.DIVD_SHPM_DGCNT
             , E.DIVD_SHPM_LAST_YN
          from TB_CARE_load M
         inner join TB_CARE_load_BL b
            on M.load_rqst_mgmt_no = b.load_rqst_mgmt_no
           and M.prcs_stts_cd = 'D08'
         inner join TB_CARE_load_BL_EXFM e
            on b.load_rqst_mgmt_no = e.load_rqst_mgmt_no
           and b.bl_srno = e.bl_srno
           and e.EXP_FFMN_NO = #{expFfmnNo}
        WHERE 1=1
            AND E.DEL_YN = 'N'
            AND M.DEL_YN = 'N'
            AND B.DEL_YN = 'N'
            AND E.EXP_FFMN_TP_CD IN ('TM' ,'EX')
        ORDER BY M.LOAD_RQST_NO, B.BL_NO
    </select>


     <!--
    !== 수출이행 적재 신청 컨테이너 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCariExfmLoadBlCntrList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo">
        /* CarExfmInfoMapper.selectCariExfmLoadBlCntrList */
        SELECT M.LOAD_RQST_NO
             , B.BL_NO
             , C.CNTR_NO
             , C.CNTR_TP_CD
             , C.PCKG_GCNT
             , C.PCKG_UT_CD
             , FN_GET_CD_VDVAL_NM('CAR_0021', C.PCKG_UT_CD, #{langCd}) AS PCKG_UT_NM  /** Code de l'unité de colis !==포장단위코드==! */
             , C.ECNTR_WGHT
             , C.TTWG
             , SEAL_NO1
             , SEAL_NO2
             , SEAL_NO3
          FROM TB_CARE_LOAD M
         INNER JOIN TB_CARE_LOAD_BL B
            ON M.LOAD_RQST_MGMT_NO = B.LOAD_RQST_MGMT_NO
           AND M.PRCS_STTS_CD = 'D08'
         INNER JOIN TB_CARE_LOAD_BL_EXFM E
            ON B.LOAD_RQST_MGMT_NO = E.LOAD_RQST_MGMT_NO
           AND B.BL_SRNO = E.BL_SRNO
           AND E.EXP_FFMN_NO = #{expFfmnNo}
         INNER JOIN TB_CARE_LOAD_BL_CNTR C
            ON B.LOAD_RQST_MGMT_NO = C.LOAD_RQST_MGMT_NO
           AND B.BL_SRNO = C.BL_SRNO
         WHERE 1=1
           AND E.DEL_YN = 'N'
           AND C.DEL_YN = 'N'
           AND E.EXP_FFMN_TP_CD IN ('TM' ,'EX')
         ORDER BY M.LOAD_RQST_MGMT_NO, C.BL_SRNO, C.CNTR_NO
    </select>


     <!--
    !== 수출이행 적재 보고 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCariExfmLoadRprtBlList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo">
        /* CarExfmInfoMapper.selectCariExfmLoadRprtBlList */
        SELECT M.LDUN_RPRT_NO
             , C.BL_NO
             , C.CAG_CHRC_CD
             , C.PCKG_GCNT
             , CASE WHEN C.CAG_CHRC_CD = '8' THEN C.LIR_VOL ELSE C.TTWG END AS TTWG
             , C.TTWG
             , C.APRE_YN_CD  PRCS_STTS_CD
             , FN_GET_CD_VDVAL_NM('COM_0002', C.APRE_YN_CD, #{langCd}) AS PRCS_STTS_NM			/** Code de statut de traitement !==처리상태코드==! */
        FROM TB_CARE_LDUN_RPRT_BL C
         INNER JOIN TB_CARE_LDUN_RPRT M
            ON M.LDUN_RPRT_MGMT_NO = C.LDUN_RPRT_MGMT_NO
           AND M.DEL_YN ='N'
           AND M.PRCS_STTS_CD ='D08'
           AND M.CAG_RQST_TP_CD LIKE 'LR%'
         WHERE C.DEL_YN ='N'
           AND C.APRE_YN_CD ='O'
           AND ( M.MRN, C.bl_no ) IN ( SELECT X1.LOAD_RQST_NO
                                            , X2.bl_no
                                         FROM TB_CARE_LOAD x1
                                        INNER JOIN TB_CARE_LOAD_BL X2
                                           ON X1.LOAD_RQST_MGMT_NO = X2.LOAD_RQST_MGMT_NO
                                        INNER JOIN TB_CARE_LOAD_BL_EXFM X3
                                           ON X2.LOAD_RQST_MGMT_NO = X3.LOAD_RQST_MGMT_NO
                                          AND X2.bl_srno  = X3.bl_srno
                                          AND x3.EXP_FFMN_TP_CD IN ('TM' ,'EX')
                                          AND x3.EXP_FFMN_NO = #{expFfmnNo}   )
         ORDER BY M.LDUN_RPRT_NO, C.BL_NO
    </select>


     <!--
    !== 수출이행 적재 보고 컨테이너 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCariExfmLoadRprtCntrList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo">
        /* CarExfmInfoMapper.selectCariExfmLoadRprtCntrList */
        SELECT M.LDUN_RPRT_NO
             , C.BL_NO
             , C.CNTR_NO
             , C.CNTR_TP_CD
             , C.PCKG_GCNT
             , C.TTWG
             , C.SEAL_NO1
             , C.SEAL_NO2
             , C.SEAL_NO3
             , C.APRE_YN_CD  PRCS_STTS_CD
             , FN_GET_CD_VDVAL_NM('COM_0002', C.APRE_YN_CD, #{langCd}) AS PRCS_STTS_NM			/** Code de statut de traitement !==처리상태코드==! */
          FROM TB_CARE_LDUN_RPRT_CNTR C
         INNER JOIN TB_CARE_LDUN_RPRT M
            ON M.LDUN_RPRT_MGMT_NO = C.LDUN_RPRT_MGMT_NO
           AND M.DEL_YN ='N'
           AND M.PRCS_STTS_CD ='D08'
           AND M.CAG_RQST_TP_CD LIKE 'LR%'
        WHERE C.DEL_YN ='N'
          AND C.APRE_YN_CD ='O'
          AND ( M.MRN, C.bl_no ) IN ( SELECT X1.LOAD_RQST_NO
                                           , X2.bl_no
                                        FROM TB_CARE_LOAD x1
                                       INNER JOIN TB_CARE_LOAD_BL X2
                                          ON X1.LOAD_RQST_MGMT_NO = X2.LOAD_RQST_MGMT_NO
                                       INNER JOIN TB_CARE_LOAD_BL_EXFM X3
                                          ON X2.LOAD_RQST_MGMT_NO = X3.LOAD_RQST_MGMT_NO
                                         AND X2.bl_srno  = X3.bl_srno
                                         AND x3.EXP_FFMN_TP_CD IN ('TM' ,'EX')
                                         AND x3.EXP_FFMN_NO = #{expFfmnNo}
        )
        ORDER BY M.LDUN_RPRT_NO, C.BL_NO
    </select>


    <!--
    !== 수출이행 화물신고서 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCariExfmExpMnfsBlList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo">
        /* CarExfmInfoMapper.selectCariExfmExpMnfsBlList */
        SELECT M.MRN
             , B.BL_NO
             , B.CAG_CHRC_CD
             , B.PCKG_GCNT
             , CASE WHEN B.CAG_CHRC_CD = '8' THEN B.LIR_VOL ELSE B.TTWG END AS TTWG
             , M.PRCS_STTS_CD
             , FN_GET_CD_VDVAL_NM('COM_0026', M.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM		/** Code de statut de traitement !==처리상태코드==! */
          FROM TB_CARE_CAG_DCSH M
         INNER JOIN TB_CARE_CAG_DCSH_BL B
            ON M.CAG_DCSH_RGSR_MGMT_NO = B.CAG_DCSH_RGSR_MGMT_NO
           AND M.PRCS_STTS_CD = 'D08'
         INNER JOIN TB_CARE_CAG_DCSH_BL_EXFM E
            ON B.CAG_DCSH_RGSR_MGMT_NO = E.CAG_DCSH_RGSR_MGMT_NO
           AND B.BL_SRNO = E.BL_SRNO
           AND E.EXP_FFMN_TP_CD IN ('TM' ,'EX')
           AND E.EXP_FFMN_NO = #{expFfmnNo}
         WHERE 1=1
           AND M.DEL_YN = 'N'
           AND B.DEL_YN = 'N'
           AND E.DEL_YN = 'N'
         ORDER BY M.MRN, B.BL_NO
    </select>

    <!--
    !== 수출이행 화물신고서 컨테이너 조회 ==!
    (Im Jae woo)
    -->
    <select id="selectCariExfmExpMnfsBlCntrList"
            parameterType="alpass.ipt.car.pvinf.exfm.vo.CarExfmInfoVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo">
        /* CarExfmInfoMapper.selectCariExfmExpMnfsBlCntrList */
        SELECT M.MRN
             , B.BL_NO
             , C.CNTR_NO
             , C.CNTR_TP_CD
             , C.PCKG_GCNT
             , C.PCKG_UT_CD
             , FN_GET_CD_VDVAL_NM('CAR_0021', C.PCKG_UT_CD, #{langCd}) AS PCKG_UT_NM  /** Code de l'unité de colis !==포장단위코드==! */
             , C.ECNTR_WGHT
             , C.TTWG
             , C.SEAL_NO1
             , C.SEAL_NO2
             , C.SEAL_NO3
             , C.SEAL_CHPN1
             , C.SEAL_CHPN2
             , C.SEAL_CHPN3
          FROM TB_CARE_CAG_DCSH M
         INNER JOIN TB_CARE_CAG_DCSH_BL B
            ON M.CAG_DCSH_RGSR_MGMT_NO = B.CAG_DCSH_RGSR_MGMT_NO
           AND M.PRCS_STTS_CD = 'D08'
         INNER JOIN TB_CARE_CAG_DCSH_BL_CNTR C
            ON B.CAG_DCSH_RGSR_MGMT_NO = C.CAG_DCSH_RGSR_MGMT_NO
           AND B.BL_SRNO = C.BL_SRNO
         INNER JOIN TB_CARE_CAG_DCSH_BL_EXFM E
            ON B.CAG_DCSH_RGSR_MGMT_NO = E.CAG_DCSH_RGSR_MGMT_NO
           AND B.BL_SRNO = E.BL_SRNO
           AND E.EXP_FFMN_TP_CD IN ('TM' ,'EX')
           AND E.EXP_FFMN_NO = #{expFfmnNo}
         WHERE 1=1
           AND M.DEL_YN = 'N'
           AND B.DEL_YN = 'N'
           AND E.DEL_YN = 'N'
         ORDER BY M.MRN, B.BL_NO, C.CNTR_NO
    </select>












</mapper>