<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
Mapper : COC repport
(GHEZALI Abdelhak)
-->

<mapper namespace="alpass.ipt.coc.rprt.mapper.CocRprtMapper">
    <!-- Récupérer la liste des rapports -->
    <select id="selectRprtList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** selectRprtList */
        <include refid="pagination.header"/>
        SELECT
        'false' AS chkSel,
        B.RPRT_REF_NO,
        B.RPRT_TP_CD,
        B.ORGN_CD,
        B.RPRT_INF_NTR,
        TO_CHAR(B.RPRT_INF_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS RPRT_INF_DTTM,
        B.RPRT_INF_PLC,
        B.RPRT_LAT,
        B.RPRT_LONG,
        B.RPRT_INF_TCH,
        B.DCLR_NO,
        B.RPRT_INF_PRCD,
        B.RPRT_INF_AMD,
        B.CURR_CD,
        B.RPRT_INF_JRDQ_TXT,
        B.ATCH_FILE_ID,
        B.CAG_VAL_TTL,
        B.VLDT_STTS,
        B.OPRN_REF_NO,
        B.unknown_yn,
        B.USE_YN,
        B.DEL_YN,
        B.FRST_REGST_ID,
        TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        B.LAST_CHPR_ID,
        TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM alpassint.TB_COC_RPRT B
        JOIN alpassint.TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        WHERE B.DEL_YN = 'N'
        AND B.chng_yn = 'N'
        <if test='vldtStts != null'>
            AND B.VLDT_STTS = #{vldtStts}
        </if>
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM alpassint.TB_POTI_ORGN
        WHERE DEL_YN = 'N'
        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        <if test='srchRprtRefNo != null'>
            AND LOWER(B.RPRT_REF_NO) LIKE '%' || LOWER(#{srchRprtRefNo}) || '%'
        </if>
        <if test='srchVldtStts != null'>
            AND LOWER(B.VLDT_STTS) LIKE '%' || LOWER(#{srchVldtStts}) || '%'
        </if>
        <if test='srchRprtTpCd != null'>
            AND B.RPRT_TP_CD = #{srchRprtTpCd}
        </if>
        <if test="srchOrgnCd != null and srchOrgnCd != ''">
            AND A.ORGN_MGMT_CD IN (
            SELECT ORGN_MGMT_CD
            FROM alpassint.TB_POTI_ORGN
            WHERE DEL_YN = 'N'
            START WITH ORGN_CD = #{srchOrgnCd}
            CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
            )
        </if>
        <if test='srchRprtInfNtr != null'>
            AND LOWER(B.RPRT_INF_NTR) LIKE '%' || LOWER(#{srchRprtInfNtr}) || '%'
        </if>
        <if test="rprtRqstDtFrom != null and rprtRqstDtFrom != '' and rprtRqstDtTo != null and rprtRqstDtTo != ''">
            AND TO_CHAR(B.FRST_RGSR_DTTM, 'YYYYMMDD') <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{rprtRqstDtFrom}, 'DD/MM/YYYY'),
            'YYYYMMDD')
            AND TO_CHAR(B.FRST_RGSR_DTTM, 'YYYYMMDD') <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{rprtRqstDtTo}, 'DD/MM/YYYY'),
            'YYYYMMDD')
        </if>
        ORDER BY TO_CHAR(B.FRST_RGSR_DTTM,'YYYYMMDD') DESC
        <include refid="pagination.footer"/>
    </select>
    <!-- Récupérer la liste des rapports -->
    <select id="selectChngList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** selectChngList */
        <include refid="pagination.header"/>

        SELECT
        'false' AS chkSel,
        B.RPRT_REF_NO,
        B.RPRT_TP_CD,
        B.ORGN_CD,
        B.RPRT_INF_NTR,
        TO_CHAR(B.RPRT_INF_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS RPRT_INF_DTTM,
        B.RPRT_INF_PLC,
        B.RPRT_LAT,
        B.RPRT_LONG,
        B.RPRT_INF_TCH,
        B.DCLR_NO,
        B.RPRT_INF_PRCD,
        B.RPRT_INF_AMD,
        B.CURR_CD,
        B.RPRT_INF_JRDQ_TXT,
        B.ATCH_FILE_ID,
        B.CAG_VAL_TTL,
        B.VLDT_STTS,
        B.OPRN_REF_NO,
        B.unknown_yn,
        B.chng_rsn,
        B.USE_YN,
        B.DEL_YN,
        B.FRST_REGST_ID,
        TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        B.LAST_CHPR_ID,
        TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM alpassint.TB_COC_RPRT B
        JOIN alpassint.TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        WHERE B.DEL_YN = 'N'
        AND B.chng_yn = 'Y'
        <if test='vldtStts != null'>
            AND B.VLDT_STTS = #{vldtStts}
        </if>
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM alpassint.TB_POTI_ORGN
        WHERE DEL_YN = 'N'

        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        <if test='srchRprtRefNo != null'>
            AND LOWER(B.RPRT_REF_NO) LIKE '%' || LOWER(#{srchRprtRefNo}) || '%'
        </if>
        <if test='srchVldtStts != null'>
            AND LOWER(B.VLDT_STTS) LIKE '%' || LOWER(#{srchVldtStts}) || '%'
        </if>
        <if test='srchRprtTpCd != null'>
            AND B.RPRT_TP_CD = #{srchRprtTpCd}
        </if>
        <if test="srchOrgnCd != null and srchOrgnCd != ''">
            AND A.ORGN_MGMT_CD IN (
            SELECT ORGN_MGMT_CD
            FROM alpassint.TB_POTI_ORGN
            WHERE DEL_YN = 'N'
            START WITH ORGN_CD = #{srchOrgnCd}
            CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
            )
        </if>
        <if test='srchRprtInfNtr != null'>
            AND LOWER(B.RPRT_INF_NTR) LIKE '%' || LOWER(#{srchRprtInfNtr}) || '%'
        </if>
        <if test="rprtRqstDtFrom != null and rprtRqstDtFrom != '' and rprtRqstDtTo != null and rprtRqstDtTo != ''">
            AND TO_CHAR(B.FRST_RGSR_DTTM, 'YYYYMMDD') <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{rprtRqstDtFrom}, 'DD/MM/YYYY'),
            'YYYYMMDD')
            AND TO_CHAR(B.FRST_RGSR_DTTM, 'YYYYMMDD') <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{rprtRqstDtTo}, 'DD/MM/YYYY'),
            'YYYYMMDD')
        </if>
        ORDER BY TO_CHAR(B.FRST_RGSR_DTTM,'YYYYMMDD') DESC
        <include refid="pagination.footer"/>
    </select>
    <!-- Récupérer la liste des rapports -->
    <select id="selectMapRprtList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** selectMapRprtList */
        SELECT
        B.RPRT_REF_NO,
        B.RPRT_TP_CD,
        B.RPRT_LAT,
        B.RPRT_LONG,
        B.ORGN_CD,
        FROM alpassint.TB_COC_RPRT B
        JOIN alpassint.TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        WHERE B.DEL_YN = 'N'
        AND B.chng_yn = 'N'
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM alpassint.TB_POTI_ORGN
        WHERE DEL_YN = 'N'
        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        <!--        <if test="rprtRqstDtFrom != null and rprtRqstDtFrom != '' and rprtRqstDtTo != null and rprtRqstDtTo != ''">-->
        <!--            AND TO_CHAR(B.FRST_REGST_ID, 'YYYYMMDD') <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{rprtRqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')-->
        <!--            AND TO_CHAR(B.FRST_REGST_ID, 'YYYYMMDD') <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{rprtRqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')-->
        <!--        </if>-->
    </select>
    <!-- Récupérer un rapport -->
    <select id="selectRprt" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** selectRprt */
        SELECT rprt_ref_no,
               FN_GET_CD_VDVAL_NM('COC_0002', rprt_tp_cd, #{langCd}) as rprt_tp_cd,
               FN_GET_ORGN_NM(ORGN_CD)                               AS ORGN_CD,
               rprt_inf_ntr,
               TO_CHAR(rprt_inf_dttm, 'DD/MM/YYYY HH24:MI')          AS rprt_inf_dttm,
               rprt_inf_plc,
               RPRT_LAT,
               RPRT_LONG,
               rprt_inf_tch,
               dclr_no,
               rprt_inf_prcd,
               rprt_inf_amd,
               FN_GET_CURR_NM(CURR_CD, #{langCd})                    AS CURR_CD,
               rprt_inf_jrdq_txt,
               atch_file_id,
               cag_val_ttl,
               FN_GET_CD_VDVAL_NM('COC_0003', vldt_stts, #{langCd})  as vldt_stts,
               oprn_ref_no,
               chng_rsn,
               unknown_yn,
               del_yn,
               use_yn,
               frst_regst_id,
               TO_CHAR((frst_rgsr_dttm), 'DD/MM/YYYY HH24:MI')       as frst_rgsr_dttm,
               last_chpr_id,
               last_chg_dttm
        FROM alpassint.tb_coc_rprt
        WHERE rprt_ref_no = #{rprtRefNo}
          AND del_yn = 'N'
          AND chng_yn = #{chngYn}
    </select>
    <!-- Récupérer les cargaisons d'un rapport -->
    <select id="selectRprtCagList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtCagVo">
        /** selectRprtCagList */
        SELECT 'false' AS chkSel,
               C.RPRT_CAG_ID,
               C.RPRT_CAG_CTG_CD,
               C.RPRT_CAG_NM,
               C.RPRT_CAG_QTY,
               C.UNIT_CD,
               C.RPRT_CAG_UNIT_VAL,
               C.RPRT_CAG_TTL_VAL,
               C.CURR_CD,
               C.RPRT_REF_NO
        FROM TB_COC_RPRT_CAG C
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = C.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer la liste des personnes d'un rapport -->
    <select id="selectRprtPrsnList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtPrsnVo">
        /** selectRprtPrsnList */
        SELECT 'false'                                            AS chkSel,
               P.RPRT_PRSN_ID,
               P.RPRT_PRSN_TP_CD,
               P.RPRT_PRSN_NM,
               P.RPRT_PRSN_FMNM,
               P.RPRT_PRSN_NM_FR,
               P.RPRT_PRSN_FMNM_FR,
               P.RPRT_PRSN_TYP_DOC,
               P.RPRT_PRSN_RGSR_NO,
               TO_CHAR(TO_DATE(P.RPRT_PRSN_DLV_DT), 'DD/MM/YYYY') as RPRT_PRSN_DLV_DT,
               P.RPRT_PRSN_DLV_AGNCY,
               P.RPRT_PRSN_NAT_CD,
               P.RPRT_PRSN_ADDR,
               P.RPRT_PRSN_TEMP_BRDY,
               P.RPRT_PRSN_NIN,
               TO_CHAR(TO_DATE(P.RPRT_PRSN_BRDY), 'DD/MM/YYYY')   as RPRT_PRSN_BRDY,
               P.PRSN_GNDR,
               P.RPRT_REF_NO
        FROM TB_COC_RPRT_PRSN P
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = P.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer la liste des transports d'un rapport -->
    <select id="selectRprtTrnpList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtTrnpVo">
        /** selectRprtTrnpList */
        SELECT 'false'        AS chkSel,
               T.rprt_trnp_id,
               T.rprt_trnp_mdl_cd,
               T.rprt_trnp_brnd_cd,
               T.rprt_trnp_tp_cd,
               T.rprt_trnp_rgsr_no,
               T.rprt_trnp_chss_no,
               T.rprt_trnp_owvh,
               T.rprt_trnp_unit_val,
               T.curr_cd,
               T.rprt_ref_no,
               C.vhcl_mdl_nm  as vhcl_mdl_nm,
               D.vhcl_mnur_nm as vhcl_brnd_nm
        FROM TB_COC_RPRT_TRNP T
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = T.RPRT_REF_NO
                 JOIN tb_com_vhcl_mdl C ON C.vhcl_mdl_cd = T.rprt_trnp_mdl_cd
                 JOIN tb_com_vhcl_mnur D ON D.vhcl_mnur_cd = T.rprt_trnp_brnd_cd
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer la liste des entreprises d'un rapport -->
    <select id="selectRprtCmpnyList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtCmpnyVo">
        /** selectRprtCmpnyList */
        SELECT 'false'                                             AS chkSel,
               C.rprt_cmpny_id,
               C.rprt_cmpny_tp_cd,
               C.rprt_cmpny_nm,
               C.rprt_cmpny_addr,
               C.rprt_cmpny_cmrc_regs_no,
               C.rprt_cmpny_nif_no,
               TO_CHAR(TO_DATE(C.rprt_cmpny_dlv_dt), 'DD/MM/YYYY') as rprt_cmpny_dlv_dt,
               C.rprt_ref_no
        FROM TB_COC_RPRT_CMPNY C
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = C.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer les détails de voyage d'un rapport -->
    <select id="selectRprtVyg" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtVygVo">
        /** selectRprtVyg */
        SELECT V.rprt_vyg_id,
               V.rprt_vyg_dptr,
               V.rprt_vyg_dstn,
               V.rprt_vyg_trnp_nm,
               TO_CHAR(TO_DATE(V.rprt_vyg_dt), 'DD/MM/YYYY') as rprt_vyg_dt,
               V.rprt_vyg_tp,
               V.rprt_ref_no
        FROM TB_COC_RPRT_VYG V
                 JOIN TB_COC_RPRT B ON B.RPRT_REF_NO = V.RPRT_REF_NO
        WHERE B.RPRT_REF_NO = #{rprtRefNo}
          AND B.DEL_YN = 'N'
    </select>
    <!-- Récupérer les douaniers d'une opération -->
    <select id="selectEmpRprtList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.mgmt.emp.vo.CocMgmtEmpVo">
        /** selectEmpOprnList */
        SELECT
        'false' AS chkSel,
        C.pbsr_no ,
        C.emp_nm ,
        C.emp_stts_cd ,
        C.inhb_rgsr_no ,
        C.eml ,
        TO_CHAR(TO_DATE(C.brdy,
        'YYYYMMDD'),
        'DD/MM/YYYY') AS brdy ,
        C.gndr_cd ,
        C.mobl_no ,
        C.dept_tlph_no ,
        C.emp_addr ,
        C.phto_imge_cn ,
        TO_CHAR(TO_DATE(C.wrkp_asn_dt,'YYYYMMDD'),'DD/MM/YYYY') AS wrkp_asn_dt ,
        TO_CHAR(TO_DATE(C.enco_dt,'YYYYMMDD'),'DD/MM/YYYY') AS enco_dt ,
        C.emp_bwrk_stts_cd ,
        C.bsop_clsf_cd ,
        C.emp_fmnm ,
        C.emp_nm ,
        C.far_nm ,
        C.mor_fmnm ,
        C.mor_nm ,
        C.emp_post_cd ,
        C.grd_cd ,
        C.fonc_cd ,
        C.atch_file_id ,
        TO_CHAR(TO_DATE(C.now_fonc_strt_dt,'YYYYMMDD'),'DD/MM/YYYY') AS now_fonc_strt_dt ,
        C.temp_brdy ,
        C.bld_tp_cd ,
        C.orgn_cd ,
        <if test="langCd == 'AR'">
            (select orgn_ar_nm from tb_poti_orgn D where D.orgn_cd= C.orgn_cd ) as orgn_nm
        </if>
        <if test="langCd == 'FR'">
            (select orgn_nm from tb_poti_orgn D where D.orgn_cd= C.orgn_cd ) as orgn_nm
        </if>
        FROM tb_poti_co_emp C
        JOIN tb_coc_emp_rprt_rel D ON C.pbsr_no = D.CO_EMP_REF_NO
        JOIN tb_coc_rprt B ON D.rprt_ref_no = B.rprt_ref_no
        WHERE B.rprt_ref_no = #{rprtRefNo}
        AND B.DEL_YN = 'N'
        AND C.DEL_YN = 'N'
        AND D.DEL_YN = 'N'
    </select>
    <!--
     Vérifier l'enregistrement du opération in rapport
     -->
    <select id="selectOprnRprtCnt" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo" resultType="java.lang.Integer">
        /* selectOprnRprtCnt */
        SELECT COUNT(*) AS CNT
        FROM tb_coc_rprt
        WHERE DEL_YN = 'N'
          AND oprn_ref_no = #{oprnRefNo}
    </select>

    <!-- Insérer un rapport -->
    <insert id="insertRprt" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** insertRprt */
        WITH UPSERT AS (
        UPDATE alpassint.tb_coc_rprt
        SET rprt_tp_cd        = #{rprtTpCd},
            orgn_cd           = #{orgnCd},
            rprt_inf_ntr      = #{rprtInfNtr},
            rprt_inf_dttm     = TO_TIMESTAMP(#{rprtInfDttm}, 'DD/MM/YYYY HH24:MI:SS'),
            rprt_inf_plc      = #{rprtInfPlc},
            RPRT_LAT          = #{rprtLat},
            RPRT_LONG         = #{rprtLong},
            rprt_inf_tch      = #{rprtInfTch},
            dclr_no           = #{dclrNo},
            rprt_inf_prcd     = #{rprtInfPrcd},
            rprt_inf_amd      = #{rprtInfAmd},
            curr_cd           = #{currCd},
            rprt_inf_jrdq_txt = #{rprtInfJrdqTxt},
            atch_file_id      = #{atchFileId},
            cag_val_ttl       = #{cagValTtl},
            vldt_stts         = #{vldtStts},
            oprn_ref_no       = #{oprnRefNo},
            unknown_yn        = #{unknownYn},
            CHNG_RSN          = #{chngRsn},
            del_yn            = 'N',
            use_yn            = 'Y',
            CHNG_YN           = 'N',
            frst_regst_id     = #{frstRegstId},
            frst_rgsr_dttm    = SYSTIMESTAMP,
            last_chpr_id      = #{lastChprId},
            last_chg_dttm     = SYSTIMESTAMP
        WHERE rprt_ref_no = #{rprtRefNo} RETURNING *
        )
        INSERT
        INTO alpassint.tb_coc_rprt (rprt_ref_no,
                                    rprt_tp_cd,
                                    orgn_cd,
                                    rprt_inf_ntr,
                                    rprt_inf_dttm,
                                    rprt_inf_plc,
                                    RPRT_LAT,
                                    RPRT_LONG,
                                    rprt_inf_tch,
                                    dclr_no,
                                    rprt_inf_prcd,
                                    rprt_inf_amd,
                                    curr_cd,
                                    rprt_inf_jrdq_txt,
                                    atch_file_id,
                                    cag_val_ttl,
                                    vldt_stts,
                                    oprn_ref_no,
                                    unknown_yn,
                                    CHNG_RSN,
                                    del_yn,
                                    use_yn,
                                    CHNG_YN,
                                    frst_regst_id,
                                    frst_rgsr_dttm,
                                    last_chpr_id,
                                    last_chg_dttm)
        SELECT #{rprtRefNo},
               #{rprtTpCd},
               #{orgnCd},
               #{rprtInfNtr},
               TO_TIMESTAMP(#{rprtInfDttm}, 'DD/MM/YYYY HH24:MI:SS'),
               #{rprtInfPlc},
               #{rprtLat},
               #{rprtLong},
               #{rprtInfTch},
               #{dclrNo},
               #{rprtInfPrcd},
               #{rprtInfAmd},
               #{currCd},
               #{rprtInfJrdqTxt},
               #{atchFileId},
               #{cagValTtl},
               #{vldtStts},
               #{oprnRefNo},
               #{unknownYn},
               #{chngRsn},
               'N',
               'Y',
               'N',
               #{frstRegstId},
               SYSTIMESTAMP,
               #{lastChprId},
               SYSTIMESTAMP WHERE NOT EXISTS (SELECT * FROM UPSERT);
    </insert>
    <!-- Insérer la liste des cargaisons d'un rapport -->
    <insert id="insertRprtCag" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** insertRprtCag */
        INSERT INTO alpassint.tb_coc_rprt_cag (
        rprt_cag_ctg_cd,
        rprt_cag_nm,
        rprt_cag_qty,
        unit_cd,
        rprt_cag_unit_val,
        rprt_cag_ttl_val,
        curr_cd,
        rprt_ref_no,
        del_yn
        )
        VALUES
        <foreach collection="rprtCagList" item="rprtCag" separator=",">
            (
            #{rprtCag.rprtCagCtgCd},
            #{rprtCag.rprtCagNm},
            #{rprtCag.rprtCagQty},
            #{rprtCag.unitCd},
            #{rprtCag.rprtCagUnitVal},
            #{rprtCag.rprtCagTtlVal},
            #{rprtCag.currCd},
            #{rprtRefNo},
            'N'
            )
        </foreach>
    </insert>
    <!-- Insérer les détails de voyage d'un rapport -->
    <insert id="insertRprtPrsn" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** insertRprtPrsn */
        INSERT INTO alpassint.tb_coc_rprt_prsn (
        rprt_prsn_tp_cd,
        rprt_prsn_nm,
        rprt_prsn_fmnm,
        rprt_prsn_nm_fr,
        rprt_prsn_fmnm_fr,
        rprt_prsn_typ_doc,
        rprt_prsn_rgsr_no,
        rprt_prsn_dlv_dt,
        rprt_prsn_dlv_agncy,
        rprt_prsn_nat_cd,
        rprt_prsn_addr,
        rprt_prsn_nin,
        rprt_prsn_brdy,
        rprt_prsn_temp_brdy,
        prsn_gndr,
        rprt_ref_no,
        del_yn
        )
        VALUES
        <foreach collection="rprtPrsnList" item="rprtPrsn" separator=",">
            (
            #{rprtPrsn.rprtPrsnTpCd},
            #{rprtPrsn.rprtPrsnNm},
            #{rprtPrsn.rprtPrsnFmnm},
            #{rprtPrsn.rprtPrsnNmFr},
            #{rprtPrsn.rprtPrsnFmnmFr},
            #{rprtPrsn.rprtPrsnTypDoc},
            #{rprtPrsn.rprtPrsnRgsrNo},
            TO_CHAR(TO_DATE(#{rprtPrsn.rprtPrsnDlvDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            #{rprtPrsn.rprtPrsnDlvAgncy},
            #{rprtPrsn.rprtPrsnNatCd},
            #{rprtPrsn.rprtPrsnAddr},
            #{rprtPrsn.rprtPrsnNin},
            TO_CHAR(TO_DATE(#{rprtPrsn.rprtPrsnBrdy}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            #{rprtPrsn.rprtPrsntempBrdy},
            #{rprtPrsn.prsnGndr},
            #{rprtRefNo},
            'N'
            )
        </foreach>
    </insert>
    <!-- Insérer la liste des transports d'un rapport -->
    <insert id="insertRprtTrnp" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** insertRprtTrnp */
        INSERT INTO alpassint.tb_coc_rprt_trnp (
        rprt_trnp_mdl_cd,
        rprt_trnp_brnd_cd,
        rprt_trnp_tp_cd,
        rprt_trnp_rgsr_no,
        rprt_trnp_chss_no,
        rprt_trnp_owvh,
        rprt_trnp_unit_val,
        curr_cd,
        rprt_ref_no,
        del_yn
        )
        VALUES
        <foreach collection="rprtTrnpList" item="rprtTrnp" separator=",">
            (
            #{rprtTrnp.rprtTrnpMdlCd},
            #{rprtTrnp.rprtTrnpBrndCd},
            #{rprtTrnp.rprtTrnpTpCd},
            #{rprtTrnp.rprtTrnpRgsrNo},
            #{rprtTrnp.rprtTrnpChssNo},
            #{rprtTrnp.rprtTrnpOwvh},
            #{rprtTrnp.rprtTrnpUnitVal},
            #{rprtTrnp.currCd},
            #{rprtRefNo},
            'N'
            )
        </foreach>
    </insert>
    <!-- Insérer la liste des entreprises d'un rapport -->
    <insert id="insertRprtCmpny" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** insertRprtCmpny */
        INSERT INTO alpassint.tb_coc_rprt_cmpny (
        rprt_cmpny_tp_cd,
        rprt_cmpny_nm,
        rprt_cmpny_addr,
        rprt_cmpny_cmrc_regs_no,
        rprt_cmpny_nif_no,
        rprt_cmpny_dlv_dt,
        rprt_ref_no,
        del_yn
        )
        VALUES
        <foreach collection="rprtCmpnyList" item="rprtCmpny" separator=",">
            (#{rprtCmpny.rprtCmpnyTpCd},
            #{rprtCmpny.rprtCmpnyNm},
            #{rprtCmpny.rprtCmpnyAddr},
            #{rprtCmpny.rprtCmpnyCmrcRegsNo},
            #{rprtCmpny.rprtCmpnyNifNo},
            TO_CHAR(TO_DATE(#{rprtCmpny.rprtCmpnyDlvDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
            #{rprtRefNo},
            'N'
            )
        </foreach>
    </insert>
    <!-- nsérer les détails de voyage d'un rapport -->
    <insert id="insertRprtVyg" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** insertRprtVyg */
        INSERT INTO alpassint.tb_coc_rprt_vyg (rprt_vyg_dptr,
                                               rprt_vyg_dstn,
                                               rprt_vyg_trnp_nm,
                                               rprt_vyg_dt,
                                               rprt_vyg_tp,
                                               rprt_ref_no,
                                               del_yn)
        VALUES (#{rprtVygVo.rprtVygDptr},
                #{rprtVygVo.rprtVygDstn},
                #{rprtVygVo.rprtVygTrnpNm},
                TO_CHAR(TO_DATE(#{rprtVygVo.rprtVygDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
                #{rprtVygVo.rprtVygTp},
                #{rprtRefNo},
                'N')
    </insert>
    <!-- Insérer les liste des employéés d'un rapport -->
    <insert id="insertEmpRprtRel" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** insertEmpOprnRel */
        INSERT INTO TB_COC_EMP_RPRT_REL (rprt_ref_no, co_emp_ref_no,del_yn)
        VALUES
        <foreach collection="rprtEmpList" item="emp" separator=",">
            (#{rprtRefNo}, #{emp.pbsrNo},'N')
        </foreach>
    </insert>

    <!-- Approbation du rapport des saisies -->
    <update id="vldtRprt" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** vldtRprt */
        UPDATE TB_COC_RPRT
        SET VLDT_STTS     = #{vldtStts},
            LAST_CHPR_ID  = #{lastChprId},
            LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE RPRT_REF_NO = #{rprtRefNo}
          AND DEL_YN = 'N'
          AND CHNG_YN = 'N'
    </update>

    <!-- modification d'un rapport -->
    <update id="updateRprtRqst" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        UPDATE TB_COC_RPRT
        SET CHNG_YN       = #{chngYn},
            CHNG_RSN      = #{chngRsn},
            VLDT_STTS     = '01',
            LAST_CHPR_ID  = #{lastChprId},
            LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE RPRT_REF_NO = #{rprtRefNo}
          AND DEL_YN = 'N'
    </update>
    <update id="updateRprt" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        UPDATE alpassint.tb_coc_rprt
        SET rprt_tp_cd        = #{rprtTpCd},
            orgn_cd           = #{orgnCd},
            rprt_inf_ntr      = #{rprtInfNtr},
            rprt_inf_dttm     = TO_TIMESTAMP(#{rprtInfDttm}, 'DD/MM/YYYY HH24:MI:SS'),
            rprt_inf_plc      = #{rprtInfPlc},
            RPRT_LAT          = #{rprtLat},
            RPRT_LONG         = #{rprtLong},
            rprt_inf_tch      = #{rprtInfTch},
            dclr_no           = #{dclrNo},
            rprt_inf_prcd     = #{rprtInfPrcd},
            rprt_inf_amd      = #{rprtInfAmd},
            curr_cd           = #{currCd},
            rprt_inf_jrdq_txt = #{rprtInfJrdqTxt},
            atch_file_id      = #{atchFileId},
            cag_val_ttl       = #{cagValTtl},
            vldt_stts         = #{vldtStts},
            oprn_ref_no       = #{oprnRefNo},
            unknown_yn        = #{unknownYn},
            CHNG_RSN          = #{chngRsn},
            del_yn            = 'N',
            use_yn            = 'Y',
            CHNG_YN           = 'N',
            last_chpr_id      = #{lastChprId},
            last_chg_dttm     = SYSTIMESTAMP
        WHERE rprt_ref_no = #{rprtRefNo}
          And del_yn = 'N'
          and CHNG_YN = 'Y'
    </update>
    <update id="updateRprtCag" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        UPDATE TB_COC_RPRT_CAG
        SET DEL_YN = 'Y'
        WHERE RPRT_REF_NO = #{rprtRefNo}
          AND DEL_YN = 'N'
    </update>
    <update id="updateRprtPrsn" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        UPDATE TB_COC_RPRT_PRSN
        SET DEL_YN = 'Y'
        WHERE RPRT_REF_NO = #{rprtRefNo}
          AND DEL_YN = 'N'
    </update>
    <update id="updateRprtTrnp" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        UPDATE TB_COC_RPRT_TRNP
        SET DEL_YN = 'Y'
        WHERE RPRT_REF_NO = #{rprtRefNo}
          AND DEL_YN = 'N'
    </update>
    <update id="updateRprtCmpny" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        UPDATE TB_COC_RPRT_CMPNY
        SET DEL_YN = 'Y'
        WHERE RPRT_REF_NO = #{rprtRefNo}
          AND DEL_YN = 'N'
    </update>
    <update id="updateRprtVyg" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        UPDATE TB_COC_RPRT_VYG
        SET DEL_YN = 'Y'
        WHERE RPRT_REF_NO = #{rprtRefNo}
          AND DEL_YN = 'N'
    </update>
    <update id="updateEmpRprtRel" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        UPDATE TB_COC_EMP_RPRT_REL
        SET DEL_YN = 'Y'
        WHERE RPRT_REF_NO = #{rprtRefNo}
          AND DEL_YN = 'N'
    </update>

    <!-- Récupérer la liste des rapports My-todos  -->
    <select id="selectRprtTodoList" parameterType="alpass.ipt.coc.rprt.vo.CocRprtVo"
            resultType="alpass.ipt.coc.rprt.vo.CocRprtVo">
        /** selectRprtTodoList */
        <include refid="pagination.header"/>
        SELECT
        B.RPRT_REF_NO,
        B.RPRT_TP_CD,
        B.ORGN_CD,
        B.RPRT_INF_NTR,
        TO_CHAR(B.RPRT_INF_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS RPRT_INF_DTTM,
        B.RPRT_INF_PLC,
        B.RPRT_LAT,
        B.RPRT_LONG,
        B.RPRT_INF_TCH,
        B.DCLR_NO,
        B.RPRT_INF_PRCD,
        B.RPRT_INF_AMD,
        B.CURR_CD,
        B.RPRT_INF_JRDQ_TXT,
        B.ATCH_FILE_ID,
        B.CAG_VAL_TTL,
        B.VLDT_STTS,
        B.OPRN_REF_NO,
        B.USE_YN,
        B.DEL_YN,
        B.FRST_REGST_ID,
        TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        B.LAST_CHPR_ID,
        TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM alpassint.TB_COC_RPRT B
        JOIN alpassint.TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        WHERE B.DEL_YN = 'N'
        AND B.VLDT_STTS = #{vldtStts}
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM alpassint.TB_POTI_ORGN
        WHERE DEL_YN = 'N'
        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        ORDER BY RPRT_REF_NO DESC
        <include refid="pagination.footer"/>
    </select>

</mapper>