<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.baseinfo.mapper.PotPmBaseInfoCntyIttMapper">

    <!--
       Consulter la liste des organismes gouvernementaux !== 국가코드를 조회한다. ==!
    -->
    <select id="selectCntyIttCdList"
            parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo"
            resultType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo">
        /** selectCntyIttCdList */
        <include refid="pagination.header"/>
        SELECT
        CNTY_ITT_CD AS CNTY_ITT_CD
        , CNTY_ITT_CD AS ORG_CNTY_ITT_CD
        , CNTY_ITT_NM
        , CNTY_ITT_ABRT_NM
        , RPRS_TLPH_NO
        , RPRS_FAX_NO
        , CNTY_ITT_ADDR
        , ABLT_YN
        , TO_CHAR(TO_DATE(ABLT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ABLT_DT
        , FRST_REGST_ID
        , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM
        , LTTD
        , LNGT
        , TRGT_URL
        FROM TB_COM_CNTY_ITT_CD
        WHERE DEL_YN = 'N'
        <if test="cntyIttCd != null and cntyIttCd != ''">
            AND CNTY_ITT_CD LIKE '%'||#{cntyIttCd}||'%'
        </if>
        <if test="cntyIttNm != null and cntyIttNm != ''">
            AND UPPER(CNTY_ITT_NM) LIKE '%'||UPPER(#{cntyIttNm})||'%'
        </if>
        <if test="cntyIttAbrtNm != null and cntyIttAbrtNm != ''">
            AND CNTY_ITT_ABRT_NM LIKE '%'||#{cntyIttAbrtNm}||'%'
        </if>
        ORDER BY CNTY_ITT_CD
        <include refid="pagination.footer"/>
    </select>

    <!--
        Vérifier s'il s'agit d'un organisme gouvernemental déjà enregistré !==기존에 등록된 국가기관인지 확인 한다.=!
    -->
    <select id="selectCntyIttCdRegYnCnt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo" resultType="java.lang.Integer">
        /** selectCntyIttCdRegYnCnt */
        SELECT
            COUNT(1) AS CNT
        FROM  TB_COM_CNTY_ITT_CD
        WHERE DEL_YN = 'N'
          AND   CNTY_ITT_CD = #{cntyIttCd}
    </select>

    <!--
        Vérifier s'il s'agit du jour férié déjà enregistré !==기존에 등록된 공휴일인지 확인 한다==!
    -->
    <select id="selectHldyRegYnCnt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoHldyVo" resultType="java.lang.Integer">
        /** selectHldyRegYnCnt */
        SELECT
            COUNT(1) AS CNT
        FROM  TB_COM_HLDY
        WHERE DEL_YN = 'N'
          AND   BASE_DT = TO_CHAR(TO_DATE(#{baseDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
          AND   HLDY_TP_CD = #{hldyTpCd}
    </select>

    <!--
        Consulter la valeur de clé unique du code de l'organisme gouvernemental !==국가기관코드 고유키값을 조회한다==!
    -->
    <select id="getCntyIttCd" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo" resultType="java.lang.String">
        /** getCntyIttCd */
        SELECT
        'G' || LPAD( (SELECT COUNT(1)+1 FROM TB_COM_CNTY_ITT_CD) , 4, '0')   AS CNTY_ITT_CD
        FROM DUAL
    </select>

    <!--
        Consulter le code précédent de l'organisme gouvernemental !==이전국가기관코드를 조회한다==!
    -->
    <select id="selectBfCntyIttCd" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo" resultType="java.lang.String">
        /** selectBfCntyIttCd */
        SELECT
            NVL((SELECT
                     BF_CNTY_ITT_CD
                 FROM  TB_COM_CNTY_ITT_CD_CHG_H
                 WHERE DEL_YN = 'N'
                   AND   CNTY_ITT_CD =  #{cntyIttCd}
                ), '')
        FROM DUAL
    </select>

    <!--
      Enregistrer un organisme gouvernemental !==국가기관을 등록한다==!
    -->
    <insert id="insertCntyIttCd" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo">
        /** insertCntyIttCd */
        with upsert as
        (
            UPDATE TB_COM_CNTY_ITT_CD SET
                    LAST_CHPR_ID = #{lastChprId}
                    , LAST_CHG_DTTM = SYSTIMESTAMP
                    , DEL_YN = 'N'
                    , CNTY_ITT_NM = #{cntyIttNm}
                    , CNTY_ITT_ABRT_NM = #{cntyIttAbrtNm}
                    , RPRS_TLPH_NO = #{rprsTlphNo}
                    , RPRS_FAX_NO = #{rprsFaxNo}
                    , CNTY_ITT_ADDR = #{cntyIttAddr}
                    , ABLT_YN = #{abltYn}
                    , ABLT_DT = TO_CHAR(TO_DATE(#{abltDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
                    , LTTD = #{lttd}
                    , LNGT = #{lngt}
                    , TRGT_URL = #{trgtUrl}
            WHERE CNTY_ITT_CD = #{cntyIttCd}
            returning *
        )
        INSERT INTO TB_COM_CNTY_ITT_CD
        (
                CNTY_ITT_CD
                , CNTY_ITT_NM
                , CNTY_ITT_ABRT_NM
                , RPRS_TLPH_NO
                , RPRS_FAX_NO
                , CNTY_ITT_ADDR
                , ABLT_YN
                , ABLT_DT
                , LTTD
                , LNGT
                , TRGT_URL
                , DEL_YN
                , FRST_REGST_ID
                , FRST_RGSR_DTTM
                , LAST_CHPR_ID
                , LAST_CHG_DTTM
        )
        SELECT
                #{cntyIttCd}
                , #{cntyIttNm}
                , #{cntyIttAbrtNm}
                , #{rprsTlphNo}
                , #{rprsFaxNo}
                , #{cntyIttAddr}
                , #{abltYn}
                , TO_CHAR(TO_DATE(#{abltDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
                , #{lttd}
                , #{lngt}
                , #{trgtUrl}
                , #{delYn}
                , #{frstRegstId}
                , SYSTIMESTAMP
                , #{lastChprId}
                , SYSTIMESTAMP
        WHERE NOT exists(select * from upsert)
    </insert>

    <!--
       Enregistrer un organisme gouvernemental !==국가기관을 등록한다==!
    -->
    <insert id="insertCntyIttCdChgH" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo">
        /** insertCntyIttCdChgH */
        with upsert as
        (
            UPDATE TB_COM_CNTY_ITT_CD_CHG_H SET
                    LAST_CHPR_ID = #{lastChprId}
                    , LAST_CHG_DTTM = SYSTIMESTAMP
                    , DEL_YN = 'N'
                    , CNTY_ITT_CD = #{cntyIttCd}
            WHERE BF_CNTY_ITT_CD = #{bfCntyIttCd} AND DEL_YN = 'N'
            returning *
        )
        INSERT INTO TB_COM_CNTY_ITT_CD_CHG_H
        (
                CNTY_ITT_CD
                , BF_CNTY_ITT_CD
                , DEL_YN
                , FRST_REGST_ID
                , FRST_RGSR_DTTM
                , LAST_CHPR_ID
                , LAST_CHG_DTTM
        )
        SELECT
                #{cntyIttCd}
                , #{bfCntyIttCd}
                , #{delYn}
                , #{frstRegstId}
                , SYSTIMESTAMP
                , #{lastChprId}
                , SYSTIMESTAMP
        WHERE NOT exists(select * from upsert)
    </insert>

    <!--
        Modifier un organisme gouvernemental !==국가기관을 수정한다==!
    -->
    <update id="updateCntyIttCd" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo">
        /** updateCntyIttCd */
        UPDATE TB_COM_CNTY_ITT_CD
        SET
            LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
          , CNTY_ITT_NM = #{cntyIttNm}
          , CNTY_ITT_ABRT_NM = #{cntyIttAbrtNm}
          , RPRS_TLPH_NO = #{rprsTlphNo}
          , RPRS_FAX_NO = #{rprsFaxNo}
          , CNTY_ITT_ADDR = #{cntyIttAddr}
          , ABLT_YN = #{abltYn}
          , ABLT_DT = TO_CHAR(TO_DATE(#{abltDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
          , LTTD = #{lttd}
          , LNGT = #{lngt}
          , TRGT_URL = #{trgtUrl}
          , DEL_YN = #{delYn}
        WHERE CNTY_ITT_CD = #{cntyIttCd}
    </update>

    <!--
        Supprimer un organisme gouvernemental !==국가기관을 삭제한다==!
    -->
    <delete id="deleteCntyIttCd" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoCntyIttVo">
        /** deleteCntyIttCd */
        UPDATE TB_COM_CNTY_ITT_CD
        SET
            LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
          , DEL_YN = 'Y'
        WHERE CNTY_ITT_CD = #{cntyIttCd}
    </delete>

</mapper>
