<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.baseinfo.mapper.PotPmBaseInfoFxrtMapper">

  <!--
      Consulter la liste des taux de change !==환율 목록을 조회한다.==!
  -->
    <select id="selectFxrtList"
            parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo"
            resultType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** selectFxrtList */
        <include refid="pagination.header"/>
        SELECT
        A.RGSR_DT
        , A.SRNO
        , TO_CHAR(TO_DATE(A.APLY_BGN_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_BGN_DT
        , TO_CHAR(TO_DATE(A.APLY_BGN_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ORG_APLY_BGN_DT
        , TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_END_DT
        , A.APLY_BGN_DT AS ORD_APLY_BGN_DT
        , A.XTRN_OFR_YN
        , A.APRV_ID
        , (SELECT APRV_PRCS_STTS_CD FROM TB_POTI_APRV WHERE APRV_ID = A.APRV_ID) AS APRV_PRCS_STTS_CD
        , (SELECT TO_CHAR(APRV_RQST_DTTM, 'DD/MM/YYYY') FROM TB_POTI_APRV WHERE APRV_ID = A.APRV_ID AND APRV_PRCS_STTS_CD = 'I04') AS APRV_RQST_DTTM
        , A.FRST_REGST_ID
        , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM
        , A.LAST_CHPR_ID
        , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM
        , ROW_NUMBER() OVER (ORDER BY A.RGSR_DT, A.SRNO) AS ORDR
        FROM TB_COM_FXRT A
        WHERE A.DEL_YN = 'N'
        <if test="searAplyBgnDt != null and searAplyBgnDt != ''">
            AND TO_CHAR(TO_DATE(#{searAplyBgnDt}, 'DD/MM/YYYY'), 'YYYYMMDD') BETWEEN A.APLY_BGN_DT AND A.APLY_END_DT
        </if>
        ORDER BY A.RGSR_DT DESC, A.SRNO DESC
        <include refid="pagination.footer"/>
    </select>

  <!--
      Consulter la liste des taux de change détaillés !==환율상세 목록을 조회한다.==!
  -->
    <select id="selectFxrtDetlList" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo" resultType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** selectFxrtDetlList */
        SELECT
               A.RGSR_DT
             , A.SRNO
             , A.CURR_CD
             , FN_GET_CURR_NM(A.CURR_CD, #{langCd}) AS CURR_NM
             , A.FXRT_TP_CD
             , A.BUY_AMT
             , A.SEL_AMT
             ,
            (
                SELECT
                       XTRN_OFR_YN
                FROM   TB_COM_FXRT
                WHERE  RGSR_DT = A.RGSR_DT
                AND    SRNO = A.SRNO
            ) AS XTRN_OFR_YN
            , (SELECT TO_CHAR(TO_DATE(B.APLY_BGN_DT, 'YYYYMMDD'), 'DD/MM/YYYY') FROM TB_COM_FXRT B WHERE B.RGSR_DT = A.RGSR_DT AND B.SRNO = A.SRNO) AS APLY_BGN_DT
            , (SELECT TO_CHAR(TO_DATE(B.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') FROM TB_COM_FXRT B WHERE B.RGSR_DT = A.RGSR_DT AND B.SRNO = A.SRNO) AS APLY_END_DT
        FROM  TB_COM_FXRT_D A
        WHERE A.RGSR_DT = #{rgsrDt}
        AND   A.SRNO = #{srno}
        AND   A.FXRT_TP_CD = #{fxrtTpCd}
        AND   A.DEL_YN = 'N'
        ORDER BY A.CURR_CD
    </select>

  <!--
      Vérifier s'il y a des transactions de paiement en cours !==결제진행중인 건이 있는지 조회한다==!
  -->
    <select id="selectFxrtAprvPrcsCnt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo" resultType="java.lang.Integer">
        /** selectFxrtAprvPrcsCnt */
        SELECT
            COUNT(1) AS CNT
        FROM  TB_COM_FXRT A
           , TB_POTI_APRV B
        WHERE A.APRV_ID = B.APRV_ID
          AND A.DEL_YN = 'N'
          AND B.DEL_YN = 'N'
          AND B.APRV_PRCS_STTS_CD IN ('I01', 'I03')
    </select>

  <!--
      Enregistrer un taux de change !==환율을 등록한다.==!
  -->
    <insert id="insertFxrt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** insertFxrt */
        <selectKey keyProperty="nSrno" resultType="Integer" order="BEFORE">
            SELECT NVL(MAX(SRNO)+1, 1) N_SRNO FROM TB_COM_FXRT WHERE RGSR_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
        </selectKey>
        INSERT INTO TB_COM_FXRT
        (
              RGSR_DT
            , SRNO
            , APLY_BGN_DT
            , APLY_END_DT
            , XTRN_OFR_YN
            , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
        )
        VALUES
        (
              TO_CHAR(SYSDATE, 'YYYYMMDD')
            , #{nSrno}
            , TO_CHAR(TO_DATE(REPLACE(#{aplyBgnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
            , '99991231'
            , 'N'
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
        )
    </insert>

    <!--
        Enregistrer un taux de change !==환율을 등록한다.==!
    -->
    <update id="updateFxrtEntDt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** updateFxrtEntDt */
        UPDATE TB_COM_FXRT
        SET    APLY_END_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
        WHERE  RGSR_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
        AND    SRNO = (SELECT MAX(SRNO) - 1 FROM TB_COM_FXRT WHERE RGSR_DT = TO_CHAR(SYSDATE, 'YYYYMMDD') )
    </update>

  <!--
      Les données nouvellement enregistrées sont demandées. !==신규 등록된 데이터를 조회한다.==!
  -->
    <select id="selectInsertData" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo" resultType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** selectInsertData */
        SELECT *
        FROM TB_COM_FXRT
        WHERE RGSR_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
          AND   SRNO = #{nSrno}
    </select>

  <!--
      Enregistrer un taux de change détaillé !==환율상세를 등록한다.==!
  -->
    <insert id="insertFxrtDetl" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** insertFxrtDetl */
        with upsert as
        (
            UPDATE TB_COM_FXRT_D SET
                      LAST_CHPR_ID = #{lastChprId}
                    , LAST_CHG_DTTM = SYSTIMESTAMP
                    , FXRT_TP_CD = #{fxrtTpCd}
                    , BUY_AMT = #{buyAmt}
                    , SEL_AMT = #{selAmt}
                    , DEL_YN = 'N'
            WHERE RGSR_DT = #{rgsrDt}
                AND SRNO = #{srno}
                AND CURR_CD = #{currCd}
                AND FXRT_TP_CD = #{fxrtTpCd}
            returning *
        )
        INSERT INTO TB_COM_FXRT_D
        (
                RGSR_DT
                , SRNO
                , CURR_CD
                , FXRT_TP_CD
                , BUY_AMT
                , SEL_AMT
                , DEL_YN
                , FRST_REGST_ID
                , FRST_RGSR_DTTM
                , LAST_CHPR_ID
                , LAST_CHG_DTTM
        )
        SELECT
                #{rgsrDt}
                , #{srno}
                , #{currCd}
                , #{fxrtTpCd}
                , #{buyAmt}
                , #{selAmt}
                , #{delYn}
                , #{frstRegstId}
                , SYSTIMESTAMP
                , #{lastChprId}
                , SYSTIMESTAMP
        WHERE NOT exists(select * from upsert)
    </insert>

  <!--
      Modifier un taux de change !==환율을 수정한다.==!
  -->
    <update id="updateFxrt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
      /** updateFxrt */
      UPDATE TB_COM_FXRT
      SET
          LAST_CHPR_ID = #{lastChprId}
        , LAST_CHG_DTTM = SYSTIMESTAMP
        , DEL_YN = #{delYn}
        , APLY_BGN_DT = TO_CHAR(TO_DATE(REPLACE(#{aplyBgnDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
      WHERE RGSR_DT = #{rgsrDt}
        AND   SRNO = #{srno}
    </update>

  <!--
      Supprimer un taux de change détaillé !==환율상세를 삭제한다.==!
  -->
    <update id="deleteFxrtDetl" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** deleteFxrtDetl */
        UPDATE TB_COM_FXRT_D
        SET
            LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
          , DEL_YN = 'Y'
        WHERE RGSR_DT = #{rgsrDt}
        AND   SRNO = #{srno}
        AND   FXRT_TP_CD = #{fxrtTpCd}
    </update>

  <!--
      Supprimer un taux de change !==환율을 삭제한다.==!
  -->
    <update id="deleteFxrt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** deleteFxrt */
        UPDATE TB_COM_FXRT
        SET
            LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
          , DEL_YN = 'Y'
        WHERE RGSR_DT = #{rgsrDt}
          AND   SRNO = #{srno}
    </update>

  <!--
      Demander l'approbation du taux de change détaillé !==환율 결재요청==!
  -->
  <select id="selectFxrtAprvPrcs" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo" resultType="java.lang.Integer">
    /** selectFxrtAprvPrcs */
    SELECT
      COUNT(1) AS CNT
    FROM  TB_COM_FXRT A
       , TB_POTI_APRV B
    WHERE A.APRV_ID = B.APRV_ID
      AND A.DEL_YN = 'N'
      AND B.DEL_YN = 'N'
      AND B.APRV_PRCS_STTS_CD IN ('I01', 'I03')
  </select>

  <!--
     Vérifier l'existence du code de devise !==통화코드가 존재하는지 확인한다.==!
 -->
  <select id="selectFxrtCurrCdCnt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo" resultType="java.lang.Integer">
    /** selectFxrtCurrCdCnt */
    SELECT
      COUNT(1) AS CNT
    FROM  TB_COM_CURR_CD
    WHERE DEL_YN = 'N'
      AND   CURR_CD = #{currCd}
  </select>

    <!--
       Consulter la date d'achèvement d'approbation. !==적용개시일자를 조회한다.==!
   -->
    <select id="selectAplyBgnDt" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo" resultType="java.lang.String">
        /** selectAplyBgnDt */
        SELECT TO_CHAR(TO_DATE(APLY_BGN_DT, 'YYYYMMDD'),'YYYYMMDD') AS APLY_BGN_DT
        FROM TB_COM_FXRT
        WHERE APRV_ID = #{aprvId}
    </select>

    <!--
        Finaliser l'utilisation des informations du taux de change utilisées. !==사용 중이던 환율정보를 종료처리한다.==!
    -->
    <update id="updateFxrtEnd" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** updateFxrtEnd */
        UPDATE TB_COM_FXRT
        SET APLY_END_DT = TO_CHAR(TO_DATE(#{aplyBgnDt}, 'YYYYMMDD')-1, 'YYYYMMDD')
          ,LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE APLY_END_DT IS NULL
          AND XTRN_OFR_YN = 'Y'
          AND DEL_YN = 'N'
    </update>

    <!--
         Approbation terminée du taux de change !==환율 결재완료==!
     -->
    <update id="updateFxrtXtrnOfr" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** updateFxrtXtrnOfr */
        UPDATE TB_COM_FXRT
        SET
            APLY_END_DT = NULL
          , XTRN_OFR_YN = #{xtrnOfrYn}
          , XTRN_OFR_DTTM = SYSTIMESTAMP
          , XTRN_OFR_EMP_ID = #{xtrnOfrEmpId}
          , LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE RGSR_DT = TO_CHAR(TO_DATE(#{rgsrDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
          AND   SRNO = #{srno}
    </update>

    <!--
         Approbation terminée du taux de change !==환율 결재완료==!
     -->
    <update id="updateFxrtAprvId" parameterType="alpass.ipt.pot.pm.baseinfo.vo.PotPmBaseInfoFxrtyVo">
        /** updateFxrtAprvId */
        UPDATE TB_COM_FXRT
        SET
            APRV_ID = #{aprvId}
          , LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE RGSR_DT = #{rgsrDt}
          AND   SRNO = #{srno}
    </update>

</mapper>
