<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Informations de base (D'Approbation) !== 기초정보 결재처리  Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.basc.mapper.RsmBascInfoAprvPrcsMapper">

    <!--
    Traitement après l'approbation !== 결재 후처리 (기초정보 정보처리상태 코드 변경) ==!
    -->
    <update id="processAprvAfJob" parameterType="alpass.ipt.rsm.basc.vo.RsmBascInfoAprvPrcsVo">
        /* processAprvAfJob */
        UPDATE TB_RSMI_BASC_INFO
        SET
            INFO_PRCS_STTS_CD = #{infoPrcsSttsCd}       /* Code De L'État Du Traitement De L'Information !== 정보처리상태코드 ==! */
          , APRV_ID = #{aprvId}                         /* ID d'approbation  !== 결재ID ==! */
          , LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM = SYSTIMESTAMP                /* Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        WHERE BASC_INFO_RGSR_NO = #{bascInfoRgsrNo}     /* Numéro De L'Enregistrement De L'Information De Base !== 기초정보등록번호 ==! */

    </update>

</mapper>