<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : rapport sur l'analyse des informations (Traitement des approval) !== 정보분석보고서 결재처리  Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.basc.mapper.RsmIfanRpdcAprvPrcsMapper">

    <!--
    Traitement après l'approbation !== 결재 후처리 (정보분석기본 처리상태코드 변경) ==!
    -->
    <update id="processAprvAfJob"
        parameterType="alpass.ipt.rsm.basc.vo.RsmIfanRpdcAprvPrcsVo">
        /* processAprvAfJob */
        UPDATE TB_RSMI_IFAN_BSCS
        SET
              PRCS_STTS_CD = #{prcsSttsCd}                /* Code De Statut De Traitement !== 처리상태코드 ==! */
            , APRV_ID = #{aprvId}                         /* ID d'approbation  !== 결재ID ==! */
            , LAST_CHPR_ID = #{lastChprId}                /* ID du modificateur final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM = SYSTIMESTAMP                /* Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        WHERE RPDC_NO = #{rpdcNo}                         /* Numéro de rapport !== 보고서번호 ==! */

    </update>

</mapper>