<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.ii.cd.mapper.PotIiCdCntyCdMapper">

  <!--
    Consulter la liste des codes de pays !==국가코드 목록를 조회한다==!
  -->
  <select id="selectCntyCdList"
    resultType="alpass.ipt.pot.ii.cd.vo.PotIiCdCntyCdVo">
    <include refid="pagination.header"/>
    /** selectCntyCdList */
    SELECT
        A.CNTY_CD,
        (SELECT B.CNTY_NM FROM TB_COM_CNTY_CD_LANG B WHERE B.CNTY_CD = A.CNTY_CD AND B.LANG_CD = #{langCd}) AS CNTY_NM,
        A.DGT3_CNTY_CD,
        A.DGT3_NUM_CNTY_CD,
        A.CNTY_ENG_ABRT_NM,
        A.PHTO_IMGE_CN,
        A.FRST_REGST_ID,
        TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM,
        A.LAST_CHPR_ID,
        TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM
        FROM TB_COM_CNTY_CD A
        WHERE A.DEL_YN = 'N'
        <if test="searCntyCd != null and searCntyCd != ''">
          AND A.CNTY_CD LIKE '%'||#{searCntyCd}||'%'
        </if>
        <if test="searDgt3CntyCd != null and searDgt3CntyCd != ''">
          AND A.DGT3_CNTY_CD LIKE '%' || #{searDgt3CntyCd} || '%'
        </if>
        <if test="searCntyNm != null and searCntyNm != ''">
          AND A.CNTY_CD IN (SELECT B.CNTY_CD
          FROM TB_COM_CNTY_CD_LANG B
          WHERE B.DEL_YN = 'N'
          AND UPPER(B.CNTY_NM) LIKE '%' || UPPER(#{searCntyNm}) || '%')
        </if>
        ORDER BY A.CNTY_CD
    <include refid="pagination.footer"/>
  </select>

  <!--
    Connsulter le nom de code de pays par langue !==언어별 국가코드명 조회한다==!
  -->
  <select id="selectCntyCdLangList"
          resultType="alpass.ipt.pot.ii.cd.vo.PotIiCdCntyCdLangVo">
    /** selectCntyCdLangList */
      SELECT B.CNTY_CD,
             A.CD_VDVAL AS LANG_CD,
             B.CNTY_NM AS LANG_CN
      FROM TB_COM_COMN_CD_D A,
           TB_COM_CNTY_CD_LANG B
      WHERE A.COMN_CD = 'COM_0057'
        AND B.DEL_YN(+) = 'N'
        AND B.CNTY_CD(+) = #{cntyCd}
        AND A.CD_VDVAL = B.LANG_CD(+)
      ORDER BY TO_NUMBER(A.SORT_ORDR) ASC
  </select>

</mapper>
