<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.ii.cd.mapper.PotIiCdRegnCdMapper">

  <!--
   Consulter la liste des codes de région !==지역코드 목록을 조회한다==!
  -->
  <select id="selectRegnCdList"
    parameterType="alpass.ipt.pot.ii.cd.vo.PotIiCdRegnCdVo"
    resultType="alpass.ipt.pot.ii.cd.vo.PotIiCdRegnCdVo">
    /** selectRegnCdList */
    <include refid="pagination.header"/>
    SELECT
    A.REGN_CD
    , A.REGN_CD AS ORG_REGN_CD
    , A.REGN_TP_CD
    , A.REGN_TP_CD AS ORG_REGN_TP_CD
    , FN_GET_CD_VDVAL_NM('COM_0004', A.REGN_TP_CD,  #{langCd}) AS REGN_TP_NM
    , A.CNTY_CD
    , FN_GET_CNTY_NM(A.CNTY_CD,  #{langCd}) AS CNTY_NM
    , (SELECT REGN_NM FROM TB_COM_REGN_CD_LANG WHERE REGN_CD = A.REGN_CD AND REGN_TP_CD = A.REGN_TP_CD AND LANG_CD = #{langCd}) AS REGN_NM
    , A.FRST_REGST_ID
    , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM
    , A.LAST_CHPR_ID
    , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM
    , LTTD
    , LNGT
    , RLRD_YN
    , ROAD_YN
    , PORT_YN
    FROM TB_COM_REGN_CD A
    WHERE A.DEL_YN = 'N'
    <if test="regnCd != null and regnCd != ''">
      AND A.REGN_CD LIKE '%'||#{regnCd}||'%'
    </if>
    <if test="regnTpCd != null and regnTpCd != ''">
      AND A.REGN_TP_CD = #{regnTpCd}
    </if>
    <if test="cntyCd != null and cntyCd != ''">
      AND A.CNTY_CD = #{cntyCd}
    </if>
    <if test="regnNm != null and regnNm != ''">
      AND (A.REGN_CD, A.REGN_TP_CD) IN (SELECT B.REGN_CD, B.REGN_TP_CD
      FROM TB_COM_REGN_CD_LANG B
      WHERE B.DEL_YN = 'N'
      AND UPPER(B.REGN_NM) LIKE '%'||UPPER(#{regnNm})||'%'
      )
    </if>
    <if test="regnClsfCd != null and regnClsfCd.size() > 0 ">
      AND
      <foreach item="item" index="index" collection="regnClsfCd" open="(" close=")" separator="OR">
        <if test='"01".equals(item)'>
          PORT_YN = 'Y'
        </if>
        <if test='"02".equals(item)'>
          ROAD_YN = 'Y'
        </if>
        <if test='"03".equals(item)'>
          RLRD_YN = 'Y'
        </if>
      </foreach>
    </if>
    ORDER BY A.REGN_CD, A.REGN_TP_CD, A.CNTY_CD
    <include refid="pagination.footer"/>
  </select>

  <!--
   Consulter la liste des codes de région !==지역코드(상세) 목록을 조회한다==!
  -->
  <select id="selectRegnCdDetailList" parameterType="alpass.ipt.pot.ii.cd.vo.PotIiCdRegnCdVo" resultType="alpass.ipt.pot.ii.cd.vo.PotIiCdRegnCdLangVo">
    /** selectRegnCdDetailList */
    SELECT
      B.REGN_CD AS KEY1
         , B.REGN_TP_CD AS KEY2
         , A.CD_VDVAL AS LANG_CD
         , B.REGN_NM AS LANG_CN
    FROM TB_COM_COMN_CD_D A,
         TB_COM_REGN_CD_LANG B
    WHERE A.COMN_CD = 'COM_0057'
      AND B.DEL_YN(+) = 'N'
      AND B.REGN_CD(+) = #{regnCd}
      AND B.REGN_TP_CD(+) = #{regnTpCd}
      AND A.CD_VDVAL  = B.LANG_CD(+)
    ORDER BY TO_NUMBER(A.SORT_ORDR) ASC
  </select>

</mapper>
