<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.auth.mapper.PotPmAuthCstmUserAuthMapper">

    <!--
       Consulter la liste des attributions des utilisateurs douaniers (initial : rôle) !==세관사용자권한(초기:역할) 목록를 조회한다==!
    -->
    <select id="selectCstmEmpRoleRelTreeList" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmUserAuthVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmUserAuthVo">
        /** selectCstmEmpRoleRelTreeList */
        (
        SELECT (SELECT FN_GET_CD_VDVAL_NM('COM_0033', 'IPT', #{langCd}) FROM DUAL) AS NAME, 'IPT' AS C_NODE, '' AS P_NODE <if test="pbsrNo != null and pbsrNo != ''">, 0 AS REG_CNT</if> FROM DUAL
        UNION ALL
        SELECT
        (SELECT FN_GET_CD_VDVAL_NM('COM_0022', BSOP_CLSF_CD, #{langCd}) FROM DUAL)  AS NAME
        , 'IPT'||BSOP_CLSF_CD  AS C_NODE
        , 'IPT' AS P_NODE
        <if test="pbsrNo != null and pbsrNo != ''">
            , 0 AS REG_CNT
        </if>
        FROM  TB_COM_ROLE A
        WHERE A.USE_YN = 'Y'
        AND   A.DEL_YN = 'N'
        AND   A.APP_CLSF_CD = 'IPT'
        GROUP BY APP_CLSF_CD, BSOP_CLSF_CD
        UNION ALL
        SELECT
        (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND DEL_YN = 'N' AND LANG_CD = #{langCd})  AS NAME
        , A.ROLE_ID AS C_NODE
        , 'IPT'||BSOP_CLSF_CD AS P_NODE
        <if test="pbsrNo != null and pbsrNo != ''">
            , (SELECT COUNT(1) FROM TB_POTI_EMP_AUTH WHERE ROLE_ID = A.ROLE_ID AND PBSR_NO = #{pbsrNo} AND USE_YN = 'Y' AND DEL_YN = 'N' ) AS REG_CNT
        </if>
        FROM  TB_COM_ROLE A
        WHERE A.USE_YN = 'Y'
        AND   A.DEL_YN = 'N'
        AND   A.APP_CLSF_CD = 'IPT'
        )
    </select>

    <!--
       Consulter la liste des attributions des utilisateurs douaniers (douaniers) !==세관사용자권한(세관직원) 목록를 조회한다==!
    -->
    <select id="selectCstmEmp" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmCstmCstmEmpVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmCstmCstmEmpVo">
        /** selectCstmEmp */
        SELECT
            A.PBSR_NO
             , A.ORGN_MGMT_CD
             , (SELECT M.ORGN_NM FROM TB_POTI_ORGN M WHERE M.DEL_YN = 'N' AND M.ORGN_MGMT_CD = A.ORGN_MGMT_CD ) AS ORGN_MGMT_NM
             , A.SCTR_MGMT_CD
             , (SELECT M.ORGN_CD FROM TB_POTI_ORGN M WHERE M.DEL_YN = 'N' AND M.ORGN_MGMT_CD = A.SCTR_MGMT_CD ) AS SCTR_CD
             , A.CSTM_MGMT_CD
             , A.DEPT_MGMT_CD
             , A.EMP_NM
             , A.EMP_FMNM
             , A.CSTM_EMP_NO
             , A.EMP_STTS_CD
             , A.EMP_BWRK_STTS_CD
             , A.CTGY_CD
             , A.GD_CD
             , A.FONC_CD
             , FN_GET_FONC_NM(A.FONC_CD, #{langCd}) AS FONC_NM
             , A.INHB_RGSR_NO
             , A.EML
             , TO_CHAR(TO_DATE(A.BRDY,'YYYYMMDD'),'DD/MM/YYYY') AS BRDY
             , A.GNDR_CD
             , FN_GET_CD_VDVAL_NM('COM_0027', A.GNDR_CD, #{langCd}) AS GNDR_NM
             , A.MOBL_NO
             , A.DEPT_TLPH_NO
             , A.EMP_ADDR
             , TO_CHAR(TO_DATE(A.WRKP_ASN_DT,'YYYYMMDD'),'DD/MM/YYYY') AS WRKP_ASN_DT
             , TO_CHAR(TO_DATE(A.ENCO_DT,'YYYYMMDD'),'DD/MM/YYYY') AS ENCO_DT
             , SUBSTR(A.ENCO_DT,0,4) AS ENCO_YY
             , TO_CHAR(TO_DATE(A.RTMN_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RTMN_DT
             , A.XTRN_EMP_YN
             , NVL(A.EML_RCPN_YN,'N') AS EML_RCPN_YN
             , NVL(A.SMS_RCPN_YN,'N') AS SMS_RCPN_YN
             , A.DEL_YN
             , A.FRST_REGST_ID
             , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
             , A.LAST_CHPR_ID
             , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
             , A.PHTO_IMGE_CN
             , A.FONC_CD
             , A.BLNG_ITT_CD
             , ( SELECT  TO_CHAR(TO_DATE(T.BWRK_STRT_DT,'YYYYMMDD'),'DD/MM/YYYY')
                             ||' - '||
                         TO_CHAR(TO_DATE(T.BWRK_END_DT,'YYYYMMDD'),'DD/MM/YYYY')
                 FROM TB_POTI_BWRK_MTR T
                 WHERE T.PBSR_NO = A.PBSR_NO
                   AND T.BWRK_MTR_MGMT_NO = ( SELECT MAX(BWRK_MTR_MGMT_NO)
                                  FROM TB_POTI_BWRK_MTR
                                  WHERE PBSR_NO = T.PBSR_NO )
                ) AS NOW_BSOP_PRID
             , A.BSOP_CLSF_CD
        FROM TB_POTI_EMP A
        WHERE A.DEL_YN = 'N'
          AND A.PBSR_NO = #{srchPbsrNo}
    </select>

    <!--
       Consulter la liste des attributions des utilisateurs douaniers (douaniers)  !==세관사용자권한(세관직원) 목록를 조회한다==!
    -->
    <select id="selectCstmEmpList" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmCstmCstmEmpVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmCstmCstmEmpVo">
        /** selectCstmEmpList */
        <include refid="pagination.header"/>
        SELECT
        A.PBSR_NO
        , A.ORGN_MGMT_CD
        , (SELECT M.ORGN_NM FROM TB_POTI_ORGN M WHERE M.DEL_YN = 'N' AND M.ORGN_MGMT_CD = DECODE(A.CSTM_MGMT_CD, NULL, SCTR_MGMT_CD, A.CSTM_MGMT_CD)) AS ORGN_MGMT_NM
        , (SELECT M.ORGN_NM FROM TB_POTI_ORGN M WHERE M.DEL_YN = 'N' AND M.ORGN_MGMT_CD = A.DEPT_MGMT_CD ) AS DEPT_MGMT_NM
        , A.SCTR_MGMT_CD
        , (SELECT M.ORGN_CD FROM TB_POTI_ORGN M WHERE M.DEL_YN = 'N' AND M.ORGN_MGMT_CD = A.SCTR_MGMT_CD ) AS SCTR_CD
        , A.CSTM_MGMT_CD
        , A.DEPT_MGMT_CD
        , A.EMP_NM
        , A.EMP_FMNM
        , A.CSTM_EMP_NO
        , A.EMP_STTS_CD
        , A.EMP_BWRK_STTS_CD
        , A.CTGY_CD
        , A.GD_CD
        , A.FONC_CD
        , A.INHB_RGSR_NO
        , A.EML
        , TO_CHAR(TO_DATE(A.BRDY,'YYYYMMDD'),'DD/MM/YYYY') AS BRDY
        , A.GNDR_CD
        , A.MOBL_NO
        , A.DEPT_TLPH_NO
        , A.EMP_ADDR
        , TO_CHAR(TO_DATE(A.WRKP_ASN_DT,'YYYYMMDD'),'DD/MM/YYYY') AS WRKP_ASN_DT
        , TO_CHAR(TO_DATE(A.ENCO_DT,'YYYYMMDD'),'DD/MM/YYYY') AS ENCO_DT
        , SUBSTR(A.ENCO_DT,0,4) AS ENCO_YY
        , TO_CHAR(TO_DATE(A.RTMN_DT,'YYYYMMDD'),'DD/MM/YYYY') AS RTMN_DT
        , A.XTRN_EMP_YN
        , NVL(EML_RCPN_YN,'N') AS EML_RCPN_YN
        , NVL(SMS_RCPN_YN,'N') AS SMS_RCPN_YN
        , A.DEL_YN
        , A.FRST_REGST_ID
        , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
        , A.LAST_CHPR_ID
        , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM
        , A.BLNG_ITT_CD
        , A.FONC_CD
        FROM TB_POTI_EMP A
        WHERE A.DEL_YN = 'N'
        <if test="srchPbsrNo != null and srchPbsrNo != ''">
            AND UPPER(A.PBSR_NO) LIKE '%'|| UPPER(#{srchPbsrNo}) ||'%'
        </if>
        <if test="srchOrgnMgmtCd != null and srchOrgnMgmtCd != ''">
            AND A.ORGN_MGMT_CD = #{srchOrgnMgmtCd}
        </if>
        <if test="orgnCd != null and orgnCd != ''">
            AND EXISTS (SELECT 1 FROM TB_POTI_ORGN T WHERE T.ORGN_CD = #{orgnCd} AND T.ORGN_MGMT_CD = A.ORGN_MGMT_CD AND DEL_YN = 'N')
        </if>
        <if test="srchEmpNm != null and srchEmpNm != ''">
            AND UPPER(A.EMP_NM) LIKE '%'|| UPPER(#{srchEmpNm}) ||'%'
        </if>
        <if test="srchGdCd != null and srchGdCd != ''">
            AND A.GD_CD = #{srchGdCd}
        </if>
        <if test="srchEncoYy != null and srchEncoYy != ''">
            AND SUBSTR(A.ENCO_DT,0,4) = #{srchEncoYy}
        </if>
        ORDER BY A.PBSR_NO DESC
        <include refid="pagination.footer"/>
    </select>

    <!--
       Consulter la liste des attributions des utilisateurs douaniers (douaniers) !==세관사용자권한(세관직원) 목록를 조회한다==!
    -->
    <select id="selectCstmUserRoleHistList"
            parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthHistVo"
            resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthHistVo">
        /** selectCstmUserRoleHistList  */
        SELECT
            (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.PBSR_NO AND DEL_YN = 'N') AS EMP_NM
             , (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND LANG_CD = #{langCd} AND DEL_YN = 'N') AS ROLE_NM
             , SRNO
             , FN_GET_CD_VDVAL_NM('POT_0036', A.AUTH_ATHZ_CD, #{langCd}) AS AUTH_ATHZ_CD
             , WRKR
             , TO_CHAR(A.WKNG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS WKNG_DTTM
        FROM TB_POTI_EMP_AUTH_H A
        WHERE PBSR_NO = #{pbsrNo}
          AND   ROLE_ID = #{roleId}
        ORDER BY SRNO DESC
    </select>

    <!--
       Enregistrer la liste des attributions des utilisateurs douaniers (après la suppression entière) !==세관사용자권한을 등록(전체삭제후)한다==!
    -->
    <delete id="deleteCstmEmpAuth" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthVo">
        /** deleteCstmEmpAuth */
        DELETE FROM TB_POTI_EMP_AUTH
        WHERE  PBSR_NO = #{pbsrNo}
    </delete>

    <!--
       Enregistrer la liste des attributions des utilisateurs douaniers !==세관사용자권한을 등록한다==!
    -->
    <insert id="insertCstmUserAuthWdrw" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthVo">
        /** insertCstmUserAuthWdrw */
        INSERT INTO TB_POTI_EMP_AUTH_H
        (
          PBSR_NO
        , ROLE_ID
        , SRNO
        , AUTH_ATHZ_CD
        , WRKR
        , WKNG_DTTM
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        VALUES
            (
              #{pbsrNo}
            , #{cNode}
            , (SELECT NVL((SELECT MAX(SRNO) FROM TB_POTI_EMP_AUTH_H WHERE PBSR_NO = #{pbsrNo} AND ROLE_ID = #{cNode}), 0) + 1 FROM DUAL)
            , #{authAthzCd}
            , #{frstRegstId}
            , SYSTIMESTAMP
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
            )
    </insert>

    <!--
       Enregistrer la liste des attributions des utilisateurs douaniers !==세관사용자권한을 등록한다==!
    -->
    <insert id="insertCstmEmpAuth" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthVo">
        /** insertCstmEmpAuth */
        INSERT INTO TB_POTI_EMP_AUTH
        (
          PBSR_NO
        , ROLE_ID
        , ORGN_CD
        , AUTH_VALD_STRT_DT
        , AUTH_VALD_END_DT
        , AUTH_RGSR_DT
        , AUTH_WDRW_YN
        , AUTH_WDRW_DT
        , AUTH_WDRW_RSN_CD
        , USE_YN
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        VALUES
            (
                #{pbsrNo}
            , #{cNode}
            , (SELECT B.ORGN_CD FROM TB_POTI_EMP A, TB_POTI_ORGN B WHERE A.ORGN_MGMT_CD = B.ORGN_MGMT_CD AND A.DEL_YN = 'N' AND B.DEL_YN = 'N' AND A.PBSR_NO = #{pbsrNo})
            , #{authValdStrtDt}
            , #{authValdEndDt}
            , #{authRgsrDt}
            , #{authWdrwYn}
            , #{authWdrwDt}
            , #{authWdrwRsnCd}
            , 'Y'
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
            )
    </insert>

    <!--
       Enregistrer la liste des attributions des utilisateurs douaniers (mise à jour de MYMENU) !==세관사용자권한을 등록(마이메뉴 업데이트)한다==!
    -->
    <update id="updateRoleMymenu" parameterType="string">
        /** updateRoleMymenu */
        UPDATE TB_POTI_MY_MENU
        SET DEL_YN = 'Y'					/** Suppression O/N !== 삭제여부 ==! */
        WHERE PBSR_NO = #{pbsrNo}
        AND DEL_YN = 'N'
        <if test="delYn = 'N'">
            AND MENU_SRNO NOT IN (SELECT A.MENU_SRNO
            FROM TB_COM_MENU_SCRN_REL A
            , TB_COM_ROLE_SCRN_REL B
            WHERE A.SCRN_ID = B.SCRN_ID
            AND B.ROLE_ID IN (SELECT ROLE_ID FROM TB_POTI_EMP_AUTH WHERE PBSR_NO = #{pbsrNo} AND DEL_YN = 'N')
            UNION
            SELECT A.MENU_SRNO
            FROM TB_COM_MENU_SCRN_REL A
            , TB_COM_ROLE_SCRN_REL B
            WHERE A.SCRN_ID = B.SCRN_ID
            AND B.ROLE_ID IN (SELECT ROLE_ID
            FROM TB_POTI_ORGN_ROLE_REL
            WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{pbsrNo} AND DEL_YN = 'N'))
            )
        </if>
    </update>

    <!--
       Supprimer la liste des attributions des utilisateurs douaniers !==세관사용자권한을 삭제한다==!
    -->
    <update id="deleteAuthMndaRel" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthVo">
        /** deleteAuthMndaRel */
        UPDATE TB_POTI_MY_MENU
        SET DEL_YN = 'Y'					/** Suppression O/N !== 삭제여부 ==! */
        WHERE PBSR_NO = #{pbsrNo}
        AND DEL_YN = 'N'
        <if test="delYn = 'N'">
            AND MENU_SRNO NOT IN (SELECT A.MENU_SRNO
            FROM TB_COM_MENU_SCRN_REL A
            , TB_COM_ROLE_SCRN_REL B
            WHERE A.SCRN_ID = B.SCRN_ID
            AND B.ROLE_ID IN (SELECT ROLE_ID FROM TB_POTI_EMP_AUTH WHERE PBSR_NO = #{pbsrNo} AND DEL_YN = 'N')
            UNION
            SELECT A.MENU_SRNO
            FROM TB_COM_MENU_SCRN_REL A
            , TB_COM_ROLE_SCRN_REL B
            WHERE A.SCRN_ID = B.SCRN_ID
            AND B.ROLE_ID IN (SELECT ROLE_ID
            FROM TB_POTI_ORGN_ROLE_REL
            WHERE ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD FROM TB_POTI_EMP WHERE PBSR_NO = #{pbsrNo} AND DEL_YN = 'N'))
            )
        </if>
    </update>

    <!--
       Supprimer la liste des attributions des utilisateurs douaniers !==세관사용자권한을 삭제한다==!
    -->
    <update id="deleteAuthMndaRelH" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthVo">
        /** deleteAuthMndaRelH */
        UPDATE TB_COM_AUTH_MNDA_REL_H
        SET
        LAST_CHPR_ID = #{lastChprId}
        , LAST_CHG_DTTM = SYSTIMESTAMP
        , DEL_YN = 'Y'
        WHERE MNDA_TRGT_PBSR_NO = #{pbsrNo}
        <choose>
            <when test="roleIds.length != 0">
                AND	 ROLE_ID NOT IN
                <foreach collection="roleIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                AND 1 = 1
            </otherwise>
        </choose>
    </update>

</mapper>
