<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.auth.mapper.PotPmAuthCstmUserAuthHistMapper">

    <!--
       Consulter l'historique des attributions des utilisateurs douaniers (liste) !==세관사용자권한이력(목) 목록를 조회한다==!
    -->
    <select id="selectCstmUserAuthHistList"
      parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmUserAuthHistVo"
      resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmUserAuthHistVo">
        /** selectCstmUserAuthHistList  */
        <include refid="pagination.header"/>
        SELECT
              A.PBSR_NO
            , C.EMP_NM AS NAME
            , C.EMP_FMNM AS USER_FMNM
            , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = C.ORGN_MGMT_CD) AS ORGN_MGMT_NM
            , A.ROLE_ID
            , B.ROLE_NM
            , A.SRNO
            , A.AUTH_ATHZ_CD
            , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.WRKR) AS WRKR
            , TO_CHAR(A.WKNG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS WKNG_DTTM
            , A.DEL_YN
            , A.FRST_REGST_ID
            , A.FRST_RGSR_DTTM
            , A.LAST_CHPR_ID
            , A.LAST_CHG_DTTM
        FROM   TB_POTI_EMP_AUTH_H A, TB_COM_ROLE_LANG B, TB_POTI_EMP C
        WHERE A.ROLE_ID = B.ROLE_ID
        AND A.PBSR_NO = C.PBSR_NO
        AND A.DEL_YN = 'N'
        AND B.DEL_YN = 'N'
        AND B.LANG_CD = #{langCd}
        <if test="wkngDttmFrom != null and wkngDttmFrom != '' and wkngDttmTo != null and wkngDttmTo != '' ">
            AND TO_DATE(TO_CHAR(A.WKNG_DTTM, 'DD/MM/YYYY'), 'DD/MM/YYYY') BETWEEN TO_DATE(#{wkngDttmFrom},'DD/MM/YYYY') AND TO_DATE(#{wkngDttmTo},'DD/MM/YYYY')
        </if>
        <if test="pbsrNo != null and pbsrNo != ''">
            AND A.PBSR_NO = #{pbsrNo}
        </if>
        <if test="roleId != null and roleId != ''">
            AND B.ROLE_ID = #{roleId}
        </if>
        <if test="wrkr != null and wrkr != ''">
            AND A.WRKR = #{wrkr}
        </if>
        ORDER BY A.WKNG_DTTM DESC
        <include refid="pagination.footer"/>
    </select>

    <!--
       번l'historique des attributions des utilisateurs douaniers (écran) !==세관사용자권한이력(화멱) 목록를 조회한다==!
    -->
    <select id="selectCstmUserAuthHistScrnList"
      parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthHisDtVo"
      resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMgmtCstmUserAuthHisDtVo">
        /** selectCstmUserAuthHistScrnList  */
        SELECT
            A.ROLE_ID
             , B.SCRN_ID
             , B.BSOP_CLSF_CD
             , C.LBL_NM AS SCRN_NM
        FROM TB_COM_ROLE_SCRN_REL A, TB_COM_SYS_SCRN B, TB_COM_LBL_LANG C
        WHERE A.SCRN_ID = B.SCRN_ID
          AND B.SCRN_NM = C.LBL_ID
          AND A.DEL_YN = 'N'
          AND B.USE_YN = 'Y'
          AND B.DEL_YN = 'N'
          AND C.DEL_YN = 'N'
          AND C.LANG_CD =  #{langCd}
          AND A.ROLE_ID =  #{roleId}
        ORDER BY A.SCRN_ID
    </select>

</mapper>
