<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.auth.mapper.PotPmAuthFoncRoleRelMapper">

    <!--
       Consulter la relation de rôle de fonction (fonction) !==직무역할관계(직무) 목록를 조회한다==!
    -->
    <select id="selectFoncRoleRelList" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelVo">
        /** selectFoncRoleRelList */
            WITH T1 AS(
            SELECT FONC_CD,
            SYS_CONNECT_BY_PATH(FONC_CD, '/') AS FONC_PATH,
            LEVEL AS LEV,
            (SELECT FONC_CD_NM FROM TB_POTI_FONC_CD_LANG WHERE LANG_CD = #{langCd} AND FONC_CD = A.FONC_CD) AS FONC_NM,
            TO_CHAR(A.FONC_CD) AS C_NODE,
            DECODE(A.UPR_CD, NULL, 'EMPTY', A.UPR_CD) AS P_NODE,
            DEL_YN
            FROM TB_POTI_FONC_CD A
            WHERE A.DEL_YN = 'N'
            START WITH UPR_CD = ''
            CONNECT BY PRIOR A.FONC_CD = A.UPR_CD)
            SELECT * FROM T1
            WHERE DEL_YN = 'N'
    </select>

    <!--
   Consulter la relation de rôle de fonction (rôle) !==직무역할관계(역할) 목록를 조회한다==!
-->
    <select id="selectFoncRoleRelTreeList" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelVo">
        /** selectFoncRoleRelTreeList */
        (
        SELECT (SELECT FN_GET_CD_VDVAL_NM('COM_0033', 'IPT', #{langCd}) FROM DUAL) AS NAME, 'IPT' AS C_NODE, '' AS P_NODE <if test="foncCd != null and foncCd != ''">, 0 AS REG_CNT</if> FROM DUAL

        UNION ALL

        SELECT
        (SELECT FN_GET_CD_VDVAL_NM('COM_0022', BSOP_CLSF_CD, #{langCd}) FROM DUAL)  AS NAME
        , 'IPT'||BSOP_CLSF_CD  AS C_NODE
        , 'IPT' AS P_NODE
        <if test="foncCd != null and foncCd != ''">
            , 0 AS REG_CNT
        </if>
        FROM  TB_COM_ROLE A
        WHERE A.USE_YN = 'Y'
        AND   A.DEL_YN = 'N'
        AND   A.APP_CLSF_CD = 'IPT'
        GROUP BY APP_CLSF_CD, BSOP_CLSF_CD
        UNION ALL
        SELECT
        (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND DEL_YN = 'N' AND LANG_CD = #{langCd})  AS NAME
        , A.ROLE_ID AS C_NODE
        , 'IPT'||BSOP_CLSF_CD AS P_NODE
        <if test="foncCd != null and foncCd != ''">
            , (SELECT COUNT(1) FROM TB_POTI_FONC_ROLE_REL WHERE DEL_YN = 'N' AND ROLE_ID = A.ROLE_ID AND FONC_CD = #{foncCd}) AS REG_CNT
        </if>
        FROM  TB_COM_ROLE A
        WHERE A.USE_YN = 'Y'
        AND   A.DEL_YN = 'N'
        AND   A.APP_CLSF_CD = 'IPT'
        )
    </select>

    <!--
    Consulter la relation de rôle de fonction (historique) !== 직무역할관계(이력) 목록을 조회한다.==!
    -->
    <select id="selectFoncRoleHistList" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelHisVo" resultType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelHisVo">
        /** selectFoncRoleHistList  */
        SELECT
               (SELECT FONC_CD_NM FROM TB_POTI_FONC_CD_LANG WHERE FONC_CD = A.FONC_CD AND DEL_YN = 'N' AND LANG_CD = #{langCd}) AS FONC_NM
             , (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND LANG_CD = #{langCd} AND DEL_YN = 'N') AS ROLE_NM
             , SRNO
             , FN_GET_CD_VDVAL_NM('POT_0036', A.AUTH_ATHZ_CD, #{langCd}) AS AUTH_ATHZ_CD
             , WRKR_ID AS WRKR
             , TO_CHAR(A.WKNG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS WKNG_DTTM
        FROM TB_POTI_FONC_ROLE_REL_H A
          WHERE FONC_CD = #{foncCd}
          AND ROLE_ID = #{roleId}
        ORDER BY SRNO DESC
    </select>

    <!--
    Enregistrer l'historique de rôle de fonction !== 직무역할관계(이력)을 등록한다.==!
    -->
    <insert id="insertFoncRoleAuthHist" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelVo">
        /** insertFoncRoleAuthHist */
        INSERT INTO TB_POTI_FONC_ROLE_REL_H
        (
         FONC_CD
        , ROLE_ID
        , SRNO
        , AUTH_ATHZ_CD
        , WRKR_ID
        , WKNG_DTTM
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        VALUES
            (
             #{foncCd}
            , #{cNode}
            , (SELECT NVL((SELECT MAX(SRNO) FROM TB_POTI_FONC_ROLE_REL_H WHERE ROLE_ID = #{cNode}), 0) + 1 FROM DUAL)
            , #{authAthzCd}
            , #{frstRegstId}
            , SYSTIMESTAMP
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
            )
    </insert>

    <!--
    Enregistrer le rôle de fonction !==직무역할을 등록한다.==!
    -->
    <insert id="insertFoncRoleRel" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelVo">
        /** insertFoncRoleRel */
        INSERT INTO TB_POTI_FONC_ROLE_REL
        (
            ROLE_ID
        , FONC_CD
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        VALUES
            (
                #{cNode}
            , #{foncCd}
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
            )
    </insert>


    <!--
    Supprimer le rôle de fonction !==직무역할을 삭제한다.==!
    -->
    <delete id="deleteFoncRoleRel" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthFoncRoleRelVo">
        /** deleteFoncRoleRel */
        DELETE FROM TB_POTI_FONC_ROLE_REL
        WHERE  FONC_CD = #{foncCd}
    </delete>
</mapper>
