<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.cstm.mapper.PotPmCstmOrgnMapper">

	<!--
			 Consulter l'arborescence des services !==세관조직 트리를 조회 한다.==!
	 -->
	<select id="selectCstmOrgnList" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo">
		/** selectCstmOrgnList **/
		WITH ORG_HIERARCHY AS (
		SELECT LEVEL AS LEV,
		orgn_ar_nm,
		ORGN_NM,
		SYS_CONNECT_BY_PATH(ORGN_MGMT_CD, '/') AS ORGN_PATH,
		ORGN_CD,
		UPR_ORGN_MGMT_CD,
		ORGN_MGMT_CD,
		HSRK_ORGN_MGMT_CD,
		ORGN_TP_CD,
		RPRS_TLPH_NO,
		UP_CD,
		SORT_ORDR,
		ADMN_CD
		FROM ( SELECT ORGN_CD,
		orgn_ar_nm,
		ORGN_NM,
		ORGN_MGMT_CD,
		UPR_ORGN_MGMT_CD,
		HSRK_ORGN_MGMT_CD,
		ORGN_TP_CD,
		(SELECT T.ORGN_MGMT_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD AND
		T.DEL_YN = 'N') AS UP_CD,
		RPRS_TLPH_NO,
		SORT_ORDR,
		ADMN_CD
		FROM TB_POTI_ORGN A
		WHERE A.DEL_YN = 'N')
		CONNECT BY PRIOR ORGN_MGMT_CD = UP_CD
		START WITH UPR_ORGN_MGMT_CD IS NULL
		)
		select LEV,
		orgn_ar_nm,
		ORGN_NM,
		ORGN_PATH,
		ORGN_CD,
		UPR_ORGN_MGMT_CD,
		ORGN_MGMT_CD,
		HSRK_ORGN_MGMT_CD,
		ORGN_TP_CD,
		RPRS_TLPH_NO,
		UP_CD,
		SORT_ORDR,
		ADMN_CD
		from ( SELECT LEV,
		orgn_ar_nm,
		ORGN_NM,
		ORGN_PATH,
		ORGN_CD,
		UPR_ORGN_MGMT_CD,
		ORGN_MGMT_CD,
		HSRK_ORGN_MGMT_CD,
		ORGN_TP_CD,
		RPRS_TLPH_NO,
		UP_CD,
		SORT_ORDR,
		ADMN_CD
		FROM ORG_HIERARCHY
		GROUP BY LEV,
		orgn_ar_nm,
		ORGN_NM,
		ORGN_PATH,
		ORGN_CD,
		UPR_ORGN_MGMT_CD,
		ORGN_MGMT_CD,
		HSRK_ORGN_MGMT_CD,
		ORGN_TP_CD,
		RPRS_TLPH_NO,
		UP_CD,
		SORT_ORDR,
		ADMN_CD
		ORDER BY SORT_ORDR, ORGN_CD
		) where 1=1
		<if test="(srchOrgnCd != null and srchOrgnCd != '') or (srchOrgnCd != null and srchOrgnCd != '') or (srchAdmnCd != null and srchAdmnCd != '')
		or (srchOrgnTpCd != null and srchOrgnTpCd != '') or (sctrYn != null and sctrYn != '')">
			CONNECT BY PRIOR  UPR_ORGN_MGMT_CD = ORGN_MGMT_CD
			START WITH 1=1
		</if>
		<if test="srchOrgnCd != null and srchOrgnCd != ''">
			AND UPPER(ORGN_CD) LIKE '%'||UPPER(#{srchOrgnCd})||'%'
		</if>
		<if test="srchOrgnNm != null and srchOrgnNm != ''">
			AND ( UPPER(ORGN_NM) LIKE '%'||UPPER(#{srchOrgnNm})||'%' OR UPPER(ORGN_AR_NM) LIKE '%'||UPPER(#{srchOrgnNm})||'%')
		</if>
		<if test="srchOrgnTpCd != null and srchOrgnTpCd != ''">
			AND ORGN_TP_CD = #{srchOrgnTpCd}
		</if>
		<if test="sctrYn != null and sctrYn != ''">
			AND HSRK_ORGN_MGMT_CD IS NULL
		</if>
		<if test="srchAdmnCd != null and srchAdmnCd != ''">
			AND ADMN_CD LIKE '%'||#{srchAdmnCd}||'%'
		</if>
		<if test="(srchOrgnCd != null and srchOrgnCd != '') or (srchOrgnCd != null and srchOrgnCd != '') or (srchAdmnCd != null and srchAdmnCd != '')
		or (srchOrgnTpCd != null and srchOrgnTpCd != '') or (sctrYn != null and sctrYn != '')">
			GROUP BY LEV,
			orgn_ar_nm,
			ORGN_NM,
			ORGN_PATH,
			ORGN_CD,
			UPR_ORGN_MGMT_CD,
			ORGN_MGMT_CD,
			HSRK_ORGN_MGMT_CD,
			ORGN_TP_CD,
			RPRS_TLPH_NO,
			UP_CD,
			SORT_ORDR,
			ADMN_CD
		</if>
		order by SORT_ORDR, ORGN_CD asc
	</select>

	<!--
			 Consulter les détails de l'arborescence des services !==세관조직 상세를 조회 한다.==!
	 -->
	<select id="selectCstmOrgn" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo">
		/** selectCstmOrgn */
		SELECT
			A.ORGN_MGMT_CD
			 , A.ORGN_CD
			 , A.ORGN_TP_CD
			 , A.ORGN_NM
			 , A.ORGN_ENG_NM
			 , A.ORGN_DESC
			 , A.ORGN_REGN_CD
			 , A.ORGN_ADDR
			 , A.RPRS_TLPH_NO
			 , A.RPRS_FAX_NO
			 , A.HSRK_ORGN_MGMT_CD
			 , A.UPR_ORGN_MGMT_CD
			 , (SELECT T.ORGN_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD) AS UPR_ORGN_CD
			 , A.ORGN_STTS_CD
			 , A.DEL_YN
			 , A.FRST_REGST_ID
			 , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
			 , A.LAST_CHPR_ID
			 , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
			 , B.ORGN_PATH
			 , B.LEV
			 , A.ADMN_CD
			 , A.ACNT_CD
			 , A.POST_CD
			 , A.LTTD
			 , A.LNGT
			 , A.VRTL_ORGN_YN
			 , A.SORT_ORDR
			 , A.DPHD_ID
			 , A.ORGN_AR_NM
			 , A.BLNG_ORGN_MGMT_CD
			 , (SELECT T.ORGN_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = A.BLNG_ORGN_MGMT_CD) AS BLNG_ORGN
			 , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE DEL_YN = 'N' AND ORGN_MGMT_CD =  (SELECT UPR_ORGN_MGMT_CD FROM TB_POTI_ORGN WHERE DEL_YN = 'N' AND ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD) ) AS UUPR_ORGN_NM
			 , A.ORGN_AUTH
			 ,	A.EML
			 , A.ACTV_CSTM_CD
			 , A.CCP_AC_NO
			 , A.RIT_AC_NO
		FROM  TB_POTI_ORGN A
		   , (SELECT
				   LEVEL                                          AS LEV
							 , SYS_CONNECT_BY_PATH(P.ORGN_MGMT_CD, '/') AS ORGN_PATH
							 , P.ORGN_MGMT_CD
					FROM (SELECT T.ORGN_MGMT_CD
										 , T.UPR_ORGN_MGMT_CD
								FROM TB_POTI_ORGN T
								WHERE T.DEL_YN = 'N') P
						START
					WITH P.UPR_ORGN_MGMT_CD IS NULL
					CONNECT BY PRIOR P.ORGN_MGMT_CD = P.UPR_ORGN_MGMT_CD) B
		WHERE A.DEL_YN = 'N'
			AND A.ORGN_MGMT_CD = B.ORGN_MGMT_CD(+)
			AND A.ORGN_MGMT_CD = #{srchOrgnMgmtCd}
	</select>

	<!--
		 Consulter le compte bancaire de bureau de douane !==세관조직 계좌를 조회 한다.==!
	 -->
	<select id="selectCstmOrgnAcList" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnAcVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnAcVo">
		/** selectCstmOrgnAcList */
		<include refid="pagination.header"/>
		SELECT
		A.ORGN_MGMT_CD
		, A.ORGN_MGMT_CD AS ORG_ORGN_MGMT_CD
		, A.ORGN_NM
		, B.AC_SRNO
		, B.AC_NM
		, B.AC_NO
		, B.AC_NO AS ORG_AC_NO
		, B.AC_USG_NM
		, B.USE_YN
		, C.BNK_CD
		, C.BNK_NM
		, B.FRST_REGST_ID
		, TO_CHAR(B.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
		, B.LAST_CHPR_ID
		, TO_CHAR(B.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
		FROM TB_POTI_ORGN A, TB_POTI_ORGN_AC B, TB_COM_BNK_CD C
		WHERE A.ORGN_MGMT_CD = B.ORGN_MGMT_CD
		AND   B.BNK_CD = C.BNK_CD
		AND   A.DEL_YN = 'N'
		AND   B.DEL_YN = 'N'
		AND   C.DEL_YN = 'N'
		<if test="srchOrgnMgmtCd != null and srchOrgnMgmtCd != ''">
			AND A.ORGN_MGMT_CD = #{srchOrgnMgmtCd}
		</if>
		ORDER BY A.ORGN_MGMT_CD
		<include refid="pagination.footer"/>
	</select>

	<!--
		 Consulter un cachet du service !==세관조직 직인을 조회 한다.==!
	 -->
	<select id="selectCstmOfsl" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOfslVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOfslVo" >
		/** selectCstmOfsl */
		SELECT
			ORGN_MGMT_CD
			 , CSTM_OFSL_IMGE_CN
			 , OFSL_SRBK_FILE_NM
			 , OFSL_SAVE_FILE_NM
			 , OFSL_FILE_PATH_NM
			 , DEL_YN
			 , A.FRST_REGST_ID
			 , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
			 , A.LAST_CHPR_ID
			 , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
		FROM TB_POTI_ORGN_OFSL A
		WHERE DEL_YN = 'N'
		  AND ORGN_MGMT_CD = #{orgnMgmtCd}
	</select>

	<!--
		 Consulter l'historique du changement des services de la douane !==세관조직 변경 이력를 조회 한다.==!
	 -->
	<select id="selectCstmOrgnHistList" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnHistVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnHistVo">
		/** selectCstmOrgnHistList */
		<include refid="pagination.header"/>
		SELECT
		A.ORGN_MGMT_CD
		, A.COL_NM
		, A.CHG_HIST_SRNO
		, A.BFCH_CN
		, A.AFCH_CN
		, A.CHG_TP_CD
		, A.CHG_CTGY
		, NVL((SELECT LBL_NM FROM TB_COM_LBL_LANG WHERE LBL_ID = A.CHG_CTGY AND LANG_CD = #{langCd} ), A.CHG_CTGY) AS CHG_CTGY_NM
		, A.FRST_REGST_ID
		, TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
		, A.LAST_CHPR_ID
		, TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
		FROM TB_POTI_ORGN_H A
		WHERE A.DEL_YN = 'N'
		AND A.ORGN_MGMT_CD = #{orgnMgmtCd}
		ORDER BY A.CHG_HIST_SRNO DESC
		<include refid="pagination.footer"/>
	</select>

	<!--
			 Vérifier le code de service déjà existant !==세관조직 조직코드 중복을 조회 한다.==!
	 -->
	<select id="selectCstmOrgnCdDupChk" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" resultType="java.lang.Integer">
		/** selectCstmOrgnCdDupChk */
		SELECT COUNT(*) FROM TB_POTI_ORGN WHERE ORGN_CD = #{orgnCd} AND DEL_YN = 'N'
	</select>

	<!--
		 Numéroter le code de service !==세관조직 조직관리코드를 채번 한다.==!
	 -->
	<select id="selectCstmOrgnMgmtCdKey" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" resultType="java.lang.String">
		/** selectCstmOrgnMgmtCdKey */
		SELECT  'ORG'  || LPAD(
				TO_CHAR(
							NVL(
									(SELECT MAX(TO_NUMBER(SUBSTR(ORGN_MGMT_CD,4))) FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD LIKE 'ORG%')
								, 0 )+1
					), 7, '0'
			)  AS ORGN_MGMT_CD_KEY
		FROM DUAL
	</select>

	<!--
		 Enregistrer un service !==세관조직을 등록 한다.==!
	 -->
	<insert id="insertCstmOrgn" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" >
		/** insertCstmOrgn */
		with upsert as
						 (
		UPDATE TB_POTI_ORGN
		SET ORGN_TP_CD        = #{orgnTpCd}
			, ORGN_NM           = #{orgnNm}
			, ORGN_ENG_NM       = #{orgnEngNm}
			, ORGN_DESC         = #{orgnDesc}
			, ORGN_REGN_CD      = #{orgnRegnCd}
			, ORGN_ADDR         = #{orgnAddr}
			, RPRS_TLPH_NO      = #{rprsTlphNo}
			, RPRS_FAX_NO       = #{rprsFaxNo}
			, HSRK_ORGN_MGMT_CD = #{hsrkOrgnMgmtCd}
			, UPR_ORGN_MGMT_CD  = #{uprOrgnMgmtCd}
			, ORGN_STTS_CD      = #{orgnSttsCd}
			, DEL_YN            = #{delYn}
			, FRST_REGST_ID     = #{frstRegstId}
			, FRST_RGSR_DTTM    = SYSTIMESTAMP
			, LAST_CHPR_ID      = #{lastChprId}
			, LAST_CHG_DTTM     = SYSTIMESTAMP
			, POST_CD           = #{postCd}
			, ADMN_CD           = #{admnCd}
			, ACNT_CD           = #{acntCd}
			, LTTD              = #{lttd}
			, LNGT              = #{lngt}
			, VRTL_ORGN_YN      = #{vrtlOrgnYn}
			, SORT_ORDR         = #{sortOrdr}
			, DPHD_ID           = #{dphdId}
			, ORGN_AR_NM        = #{orgnArNm}
			, BLNG_ORGN_MGMT_CD = #{blngOrgnMgmtCd}
			, EML               = #{eml}
			, ORGN_AUTH         = #{orgnAuth}
			, ACTV_CSTM_CD      = #{actvCstmCd}
			, CCP_AC_NO         = #{ccpAcNo}
			, RIT_AC_NO         = #{ritAcNo}
		WHERE ORGN_CD = #{orgnCd} returning *
		)
		INSERT
		INTO TB_POTI_ORGN
		( ORGN_MGMT_CD
		, ORGN_CD
		, ORGN_TP_CD
		, ORGN_NM
		, ORGN_ENG_NM
		, ORGN_DESC
		, ORGN_REGN_CD
		, ORGN_ADDR
		, RPRS_TLPH_NO
		, RPRS_FAX_NO
		, HSRK_ORGN_MGMT_CD
		, UPR_ORGN_MGMT_CD
		, ORGN_STTS_CD
		, DEL_YN
		, FRST_REGST_ID
		, FRST_RGSR_DTTM
		, LAST_CHPR_ID
		, LAST_CHG_DTTM
		, POST_CD
		, ADMN_CD
		, ACNT_CD
		, LTTD
		, LNGT
		, VRTL_ORGN_YN
		, SORT_ORDR
		, DPHD_ID
		, ORGN_AR_NM
		, BLNG_ORGN_MGMT_CD
		, EML
		, ORGN_AUTH
		, ACTV_CSTM_CD
		, CCP_AC_NO
		, RIT_AC_NO
		)
		SELECT
			#{orgnMgmtCd}
			 , #{orgnCd}
			 , #{orgnTpCd}
			 , #{orgnNm}
			 , #{orgnEngNm}
			 , #{orgnDesc}
			 , #{orgnRegnCd}
			 , #{orgnAddr}
			 , #{rprsTlphNo}
			 , #{rprsFaxNo}
			 , #{hsrkOrgnMgmtCd}
			 , #{uprOrgnMgmtCd}
			 , #{orgnSttsCd}
			 , #{delYn}
			 , #{frstRegstId}
			 , SYSTIMESTAMP
			 , #{lastChprId}
			 , SYSTIMESTAMP
			 , #{postCd}
			 , #{admnCd}
			 , #{acntCd}
			 , #{lttd}
			 , #{lngt}
			 , #{vrtlOrgnYn}
			 , #{sortOrdr}
			 , #{dphdId}
			 , #{orgnArNm}
			 , #{blngOrgnMgmtCd}
			 , #{eml}
			 , #{orgnAuth}
			 , #{actvCstmCd}
			 , #{ccpAcNo}
			 , #{ritAcNo}
			WHERE NOT exists(select * from upsert)
	</insert>

	<!--
		 Modifier un service !==세관조직을 수정 한다.==!
	 -->
	<update id="updateCstmOrgn" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" >
		/** updateCstmOrgn */
		UPDATE TB_POTI_ORGN SET
			ORGN_MGMT_CD       = #{orgnMgmtCd}
							  , ORGN_CD            = #{orgnCd}
							  , ORGN_TP_CD         = #{orgnTpCd}
							  , ORGN_NM            = #{orgnNm}
							  , ORGN_ENG_NM        = #{orgnEngNm}
							  , ORGN_DESC          = #{orgnDesc}
							  , ORGN_REGN_CD       = #{orgnRegnCd}
							  , ORGN_ADDR          = #{orgnAddr}
							  , RPRS_TLPH_NO       = #{rprsTlphNo}
							  , RPRS_FAX_NO        = #{rprsFaxNo}
							  , HSRK_ORGN_MGMT_CD  = #{hsrkOrgnMgmtCd}
							  , UPR_ORGN_MGMT_CD   = #{uprOrgnMgmtCd}
							  , ORGN_STTS_CD       = #{orgnSttsCd}
							  , DEL_YN             = #{delYn}
							  , LAST_CHPR_ID       = #{lastChprId}
							  , LAST_CHG_DTTM      = SYSTIMESTAMP
							  , POST_CD						 = #{postCd}
							  , ADMN_CD						 = #{admnCd}
							  , ACNT_CD						 = #{acntCd}
							  , LTTD							 = #{lttd}
							  , LNGT							 = #{lngt}
							  , VRTL_ORGN_YN			 = #{vrtlOrgnYn}
							  , SORT_ORDR					 = #{sortOrdr}
							  , DPHD_ID						 = #{dphdId}
							  , ORGN_AR_NM	 			 = #{orgnArNm}
							  , BLNG_ORGN_MGMT_CD	 = #{blngOrgnMgmtCd}
							  , ACTV_CSTM_CD			 = #{actvCstmCd}
							  , CCP_AC_NO			 		 = #{ccpAcNo}
							  , RIT_AC_NO			 		 = #{ritAcNo}
								, ORGN_AUTH					 = #{orgnAuth}
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</update>

	<!--
		 Consulter la validation du service avant le supprimer !==세관조직 삭제전 유효성을 조회 한다.==!
	 -->
	<select id="selectCstmDelChkCnt" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" resultType="java.lang.Integer">
		/** selectCstmDelChkCnt */
		SELECT COUNT(*) AS CNT
		FROM TB_POTI_ORGN
		WHERE UPR_ORGN_MGMT_CD = #{orgnMgmtCd}
		  AND DEL_YN='N'
	</select>

	<!--
		 Supprimer un service !==세관조직을 삭제한다.==!
	 -->
	<update id="deleteCstmOrgn" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" >
		/** deleteCstmOrgn */
		UPDATE TB_POTI_ORGN SET
			DEL_YN			= #{delYn}
							  , LAST_CHPR_ID		= #{lastChprId}
							  , LAST_CHG_DTTM		= SYSTIMESTAMP
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</update>

	<!--
		 Supprimer l'historique du service !==세관조직 이력을 삭제 한다.==!
	 -->
	<update id="deleteCstmOrgnH" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" >
		/** deleteCstmOrgnH */
		UPDATE TB_POTI_ORGN_H SET
			DEL_YN			= #{delYn}
								, LAST_CHPR_ID		= #{lastChprId}
								, LAST_CHG_DTTM		= SYSTIMESTAMP
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</update>

	<!--
		 Supprimer un compte bancaire de bureau de douane !==세관조직 계좌를 삭제 한다.==!
	 -->
	<update id="deleteCstmOrgnAc" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" >
		/** deleteCstmOrgnAc */
		UPDATE TB_POTI_ORGN_AC SET
			DEL_YN			= #{delYn}
								 , LAST_CHPR_ID		= #{lastChprId}
								 , LAST_CHG_DTTM		= SYSTIMESTAMP
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</update>

	<!--
		 Supprimer un cachet du service !==세관조직 직인을 삭제 한다.==!
	 -->
	<update id="deleteCstmOfsl" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOfslVo" >
		/** deleteCstmOfsl */
		UPDATE TB_POTI_ORGN_OFSL SET
			DEL_YN			= #{delYn}
								   , LAST_CHPR_ID		= #{lastChprId}
								   , LAST_CHG_DTTM		= SYSTIMESTAMP
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</update>

	<!--
		 Supprimer la connexion des rôles aux bureaux de douane !==세관조직 역할관계를 삭제 한다.==!
	 -->
	<update id="deleteCstmRoleRel" parameterType="java.lang.String" >
		/** deleteCstmRoleRel */
		DELETE FROM TB_POTI_ORGN_ROLE_REL
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</update>

	<!--
		 Vérifier le cachet du service déjà existant !==세관조직 직인 중복을 체크 한다.==!
	 -->
	<select id="selectCstmOfslDupChk" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOfslVo" resultType="java.lang.Integer" >
		/** selectCstmOfslDupChk */
		SELECT
			COUNT(ORGN_MGMT_CD) AS CNT
		FROM TB_POTI_ORGN_OFSL A
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
	</select>

	<!--
		 Enregistrer un cachet du service !==세관조직 직인을 등록 한다.==!
	 -->
	<insert id="insertCstmOfsl" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOfslVo">
		/** insertCstmOfsl */
		INSERT INTO TB_POTI_ORGN_OFSL
		(
			ORGN_MGMT_CD
		, CSTM_OFSL_IMGE_CN
		, OFSL_SRBK_FILE_NM
		, OFSL_SAVE_FILE_NM
		, OFSL_FILE_PATH_NM
		, DEL_YN
		, FRST_REGST_ID
		, FRST_RGSR_DTTM
		, LAST_CHPR_ID
		, LAST_CHG_DTTM
		)
		VALUES
			(
				#{orgnMgmtCd}
			, #{cstmOfslImgeCn:BLOB}
			, #{ofslSrbkFileNm}
			, #{ofslSaveFileNm}
			, #{ofslFilePathNm}
			, #{delYn}
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
			)
	</insert>

	<!--
		 Modifier un cachet du service !==세관조직 직인을 수정 한다.==!
	 -->
	<update id="updateCstmOfsl" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOfslVo" >
		/** updateCstmOfsl */
		<![CDATA[
		UPDATE TB_POTI_ORGN_OFSL SET
			CSTM_OFSL_IMGE_CN     = #{cstmOfslImgeCn:BLOB}
								   , OFSL_SRBK_FILE_NM     = #{ofslSrbkFileNm}
								   , OFSL_SAVE_FILE_NM     = #{ofslSaveFileNm}
								   , OFSL_FILE_PATH_NM     = #{ofslFilePathNm}
								   , DEL_YN                = #{delYn}
								   , LAST_CHPR_ID          = #{lastChprId}
								   , LAST_CHG_DTTM         = SYSTIMESTAMP
		WHERE ORGN_MGMT_CD = #{orgnMgmtCd}
		]]>
	</update>

	<!--
		 Enregistrer l'historique du service !==세관조직 이력을 등록 한다.==!
	 -->
	<insert id="insertCstmOrgnH" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnHistVo" >
		/** insertCstmOrgnH */
		INSERT INTO TB_POTI_ORGN_H
		(
			ORGN_MGMT_CD
		, COL_NM
		, CHG_HIST_SRNO
		, BFCH_CN
		, AFCH_CN
		, CHG_TP_CD
		, CHG_CTGY
		, DEL_YN
		, FRST_REGST_ID
		, FRST_RGSR_DTTM
		, LAST_CHPR_ID
		, LAST_CHG_DTTM
		)
		VALUES
			(
				#{orgnMgmtCd}
			, #{colNm}
			, NVL((SELECT MAX(CHG_HIST_SRNO)+1 FROM TB_POTI_ORGN_H WHERE ORGN_MGMT_CD = #{orgnMgmtCd}),1)
			, #{bfchCn}
			, #{afchCn}
			, #{chgTpCd}
			, #{chgCtgy}
			, #{delYn}
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
			)
	</insert>

	<!--
			 Consulter l'arborescence des services !==세관(부서장) 조직트리 목록 조회==!
	 -->
	<select id="selectCstmDphdOrgnList" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo">
		/** selectCstmDphdOrgnList */
		SELECT ORGN_CD, ORGN_NM, LEVEL AS LEV, ORGN_MGMT_CD, ORGN_TP_CD, UPR_ORGN_MGMT_CD
		FROM TB_POTI_ORGN START WITH
		<if test="isAllListAuth">
			UPPER(ORGN_MGMT_CD) = UPPER((SELECT ORGN_MGMT_CD FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = 'ORG0000001'))
		</if>
		<if test="!isAllListAuth">
			UPPER(ORGN_MGMT_CD) = UPPER(#{orgnMgmtCd})
		</if>
		CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
		ORDER BY  ORGN_CD
	</select>

	<!--
		 Consulter des douaniers !==세관원을 조회 한다.==!
	 -->
	<select id="selectCstmDphdEmpList" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo">
		/** selectCstmDphdEmpList */
		<include refid="pagination.header"/>
		SELECT
		PBSR_NO
		, ORGN_MGMT_CD
		, EMP_NM
		, CSTM_EMP_NO
		, EMP_STTS_CD
		, CTGY_CD
		, GD_CD
		, FONC_CD
		, INHB_RGSR_NO
		, EML
		, BRDY
		, GNDR_CD
		, MOBL_NO
		, DEPT_TLPH_NO
		, EMP_ADDR
		, PHTO_IMGE_CN
		, WRKP_ASN_DT
		, ENCO_DT
		, RTMN_DT
		, XTRN_EMP_YN
		, EML_RCPN_YN
		, SMS_RCPN_YN
		, SCTR_MGMT_CD
		, CSTM_MGMT_CD
		, DEPT_MGMT_CD
		, BLNG_ITT_CD
		, EMP_BWRK_STTS_CD
		, BSOP_CLSF_CD
		, EMP_FMNM
		, FAR_NM
		, MOR_FMNM
		, MOR_NM
		, (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM
		FROM  TB_POTI_EMP A
		WHERE DEL_YN = 'N'
		AND   ORGN_MGMT_CD = #{srchOrgnMgmtCd}
		AND   EMP_STTS_CD <![CDATA[ <> ]]> 'R'
		<include refid="pagination.footer"/>
	</select>

	<!--
		 Consulter la rôle des douaniers !==세관원역할을 조회 한다.==!
	 -->
	<select id="selectCstmDphdEmpRoleList" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo">
		/** selectCstmDphdEmpRoleList */
		<include refid="pagination.header"/>
		SELECT
		(SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.PBSR_NO) AS EMP_NM,
		(SELECT EMP_FMNM FROM TB_POTI_EMP WHERE PBSR_NO = A.PBSR_NO) AS EMP_FMNM,
		ROLE_ID
		, (SELECT ROLE_NM FROM TB_COM_ROLE_LANG WHERE ROLE_ID = A.ROLE_ID AND LANG_CD = #{langCd}) AS ROLE_NM
		FROM  TB_POTI_EMP_AUTH A
		WHERE DEL_YN = 'N'
		AND   PBSR_NO = #{pbsrNo}
		<include refid="pagination.footer"/>
	</select>

	<!--
		Consulter l'état du verrouillage du compte utilisateur !==사용자의 계정잠금 여부를 조회한다==!
	 -->
	<select id="selectAcctLcked" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpAcctVo">
		/** selectAcctLcked */
		SELECT PBSR_NO, UPPER(ACCT_LCKED_YN) AS ACCT_LCKED_YN
		FROM TB_POTI_EMP_ACCT
		WHERE DEL_YN = 'N'
		  AND PBSR_NO = #{pbsrNo}
	</select>

	<!--
		 Déverrouiller le compte utilisateur !==사용자의 계정잠금을 해제한다==!
	 -->
	<update id="updateAcctLckedRele" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo" >
		/** updateAcctLckedRele */
		UPDATE TB_POTI_EMP_ACCT
		SET PWD_FAIL_NCNT = 0
		  , ACCT_LCKED_YN = 'N'
		  , ACCT_LCKED_RSN_CD = NULL
		  , ACCT_LCKED_DT = NULL
		  , ACCT_LCKED_RELE_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
		  , LAST_CHG_DTTM = SYSTIMESTAMP						/** ID du modificateur final !== 최종변경자ID ==! */
		  , LAST_CHPR_ID = #{lastChprId}							/** Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE DEL_YN = 'N'
		  AND PBSR_NO = #{pbsrNo}
	</update>

	<!--
		 Réinitialiser le mot de passe de l'utilisateur !==사용자의 비밀번호를 초기화한다==!
	 -->
	<update id="updatepwdIntz" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo" >
		/** updatepwdIntz */
		UPDATE TB_POTI_EMP_ACCT
		SET PWD_FAIL_NCNT = 0
		  , PWD = #{tmpPwd}
		  , PWD_CHG_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
		  , PWD_INTZ_YN = 'Y'
		  , FRST_LGN_YN = 'Y'
		  , LAST_CHG_DTTM = SYSTIMESTAMP						/** ID du modificateur final !== 최종변경자ID ==! */
		  , LAST_CHPR_ID = #{lastChprId}							/** Date et heure de modification finale !== 최종변경일시 ==! */
		WHERE DEL_YN = 'N'
		  AND PBSR_NO = #{pbsrNo}
	</update>

	<!--
		 Consulter des douaniers en activité !==활동세관을 조회한다==!
	 -->
	<select id="selectActvCstmList" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmOrgnVo" resultType="alpass.com.comn.vo.ComItemVo">
		/** selectActvCstmList */
		SELECT ORGN_MGMT_CD                     AS ITEM,
			   ORGN_NM || '(' || ADMN_CD || ')' AS ITEM_NM
		FROM TB_POTI_ORGN
		WHERE DEL_YN = 'N'
		  AND ORGN_TP_CD IN ('BUD','REC','IPB','INP','BCX')
		  AND UPR_ORGN_MGMT_CD = (SELECT ORGN_MGMT_CD
								  FROM TB_POTI_ORGN
								  WHERE DEL_YN = 'N'
									AND ORGN_CD = #{uprOrgnCd})
	</select>

	<!--
		 Supprimer la fonction associée à une organisation !==조직에 매핑된 직무를 삭제한다==!
	 -->
	<delete id="deleteCstmFoncRel" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo">
		/** deleteCstmFoncRel */
		DELETE FROM TB_POTI_ORGN_FONC_REL
		WHERE  ORGN_MGMT_CD = #{orgnMgmtCd}
	</delete>

	<!--
		 Mapper les fonctions dans l'organisation !==조직에 직무를 매핑한다==!
	 -->
	<insert id="insertCstmFoncRel" parameterType="alpass.ipt.pot.pm.auth.vo.PotPmAuthMenuCstmRoleRelVo">
		/** insertCstmFoncRel */
		INSERT INTO TB_POTI_ORGN_FONC_REL
		(
		  ORGN_MGMT_CD
		, FONC_CD
		, DEL_YN
		, FRST_REGST_ID
		, FRST_RGSR_DTTM
		, LAST_CHPR_ID
		, LAST_CHG_DTTM
		)
		VALUES
			(
			  #{orgnMgmtCd}
			, #{foncCd}
			, 'N'
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
			)
	</insert>

	<!--
		 Consulter l'historique du changement de l'utilisateur !==사용자의 변경이력 목록을 조회한다==!
	 -->
	<select id="selectEmpHistList" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpHistVo">
		/** selectEmpHistList */
		<include refid="pagination.header"/>
		SELECT
		L.LBL_NM
		,A.*
		FROM TB_COM_LBL_LANG L
		, (SELECT CASE
		WHEN COL_NM = 'emp_fmnm' or COL_NM = 'EMP_FMNM' THEN 'L_FMNM'
		WHEN COL_NM = 'user_nm' or COL_NM = 'EMP_NM' THEN 'L_USER_NM'
		WHEN COL_NM = 'gndr_cd' or COL_NM = 'GNDR_CD' THEN 'L_GNDR'
		WHEN COL_NM = 'eml' or COL_NM = 'EML' THEN 'L_EML'
		WHEN COL_NM = 'brdy' or COL_NM = 'BRDY' THEN 'L_BRDY'
		WHEN COL_NM = 'bthp' or COL_NM = 'BTHP' THEN 'L_BTHP_NM'
		WHEN COL_NM = 'mobl_no' or COL_NM = 'MOBL_NO' THEN 'L_TLPH_NO'
		WHEN COL_NM = 'emp_stts_cd' or COL_NM = 'EMP_STTS_CD' THEN 'L_EMP_STTS'
		WHEN COL_NM = 'enco_dt' or COL_NM = 'ENCO_DT' THEN 'L_ENCO_DT'
		WHEN COL_NM = 'eml_rcpn_yn' or COL_NM = 'EML_RCPN_YN' THEN 'L_EML_RCPN_YN'
		WHEN COL_NM = 'sms_rcpn_yn' or COL_NM = 'SMS_RCPN_YN' THEN 'L_SMS_RCPN_YN'
		WHEN COL_NM = 'emp_addr' or COL_NM = 'EMP_ADDR' THEN 'L_ADDR'
		WHEN COL_NM = 'orgn_mgmt_cd' or COL_NM = 'ORGN_MGMT_CD' THEN 'L_ORGN_MGMT_CD'
		WHEN COL_NM = 'adit_crtf_cd' or COL_NM = 'ADIT_CRTF_CD' THEN 'L_ADIT_CRTF'
		WHEN COL_NM = 'inhb_rgsr_no' or COL_NM = 'INHB_RGSR_NO' THEN 'L_INHB_RGSR_NO'
		WHEN COL_NM = 'far_nm' or COL_NM = 'FAR_NM' THEN 'L_FAR_NM'
		WHEN COL_NM = 'mor_fmnm' or COL_NM = 'MOR_FMNM' THEN 'L_MOR_FMNM'
		WHEN COL_NM = 'mor_nm' or COL_NM = 'MOR_NM' THEN 'L_MOR_NM'
		WHEN COL_NM = 'fonc_cd' or COL_NM = 'FONC_CD' THEN 'L_FONC'
		WHEN COL_NM = 'grd_cd' or COL_NM = 'GRD_CD' THEN 'L_GRD'
			END AS COL_LBL
		, CHG_HIST_SRNO
		, DECODE(COL_NM, 'ADIT_CRTF_CD', fn_get_cd_vdval_nm('POT_0073', BFCH_CN, #{langCd}) , BFCH_CN) AS BFCH_CN
		, DECODE(COL_NM, 'ADIT_CRTF_CD', fn_get_cd_vdval_nm('POT_0073', AFCH_CN, #{langCd}) , AFCH_CN) AS AFCH_CN
		, LAST_CHPR_ID
		, TO_CHAR(FRST_RGSR_DTTM) AS RGSR_DT
		, FRST_REGST_ID
		, FRST_RGSR_DTTM
		, LAST_CHG_DTTM
		FROM TB_POTI_EMP_H
		WHERE PBSR_NO = #{pbsrNo}) A
		WHERE L.DEL_YN = 'N'
		AND L.LBL_ID = A.COL_LBL
		AND L.LANG_CD = #{langCd}
		ORDER BY A.CHG_HIST_SRNO DESC
		<include refid="pagination.footer" />
	</select>

	<!--
		 Consulter l'information d'un utilisateur spécifique !==특정 사용자 정보를 조회한다==!
	 -->
	<select id="selectEmpTrgtDetail" parameterType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo" resultType="alpass.ipt.pot.pm.cstm.vo.PotPmCstmEmpVo">
		/** selectEmpTrgtDetail */
		SELECT
			 PBSR_NO
			 , PHTO_IMGE_CN
			 , INHB_RGSR_NO
			 , EMP_FMNM
			 , EMP_NM
			 , FAR_NM
			 , MOR_FMNM
			 , MOR_NM
			 , TO_CHAR(TO_DATE(BRDY, 'YYYYMMDD'), 'DD/MM/YYYY') AS BRDY
			 , GNDR_CD
			 , MOBL_NO
			 , EML
			 , FN_GET_CD_VDVAL_NM('COM_0008', EMP_STTS_CD, 'FR') as EMP_STTS_CD
			 , FN_GET_CD_VDVAL_NM('POT_0098', EMP_BWRK_STTS_CD, 'FR') as EMP_BWRK_STTS_CD
			 , ('[ '||EMP_POST_CD||'] '||EMP_POST_NM) AS EMP_POST_CD
			 , EMP_ADDR
			 , (SELECT MAX(TO_CHAR(LOG_DTL_DTTM, 'DD/MM/YYYY HH:MM:SS')) FROM TB_COM_SYS_ACES_LOG WHERE USER_ID = #{pbsrNo}) AS LAST_LGN_DTTM
			 , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY HH:MM:SS') AS FRST_RGSR_DTTM
			 , DEPT_TLPH_NO
			 , WRKP_ASN_DT
			 , BF_WRKP_ASN_END_DT
		     , ('['||GRD_CD||'] '||FN_GET_CD_VDVAL_NM('POT_0089', GRD_CD, 'FR')) as GRD_CD
			 , (SELECT ('['||FONC_CD||'] '||FONC_CD_NM) FROM TB_POTI_FONC_CD_LANG WHERE LANG_CD = 'FR' AND FONC_CD = #{foncCd}) AS FONC_CD
			 , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = A.ORGN_MGMT_CD) AS ORGN_NM
		FROM  TB_POTI_EMP A
		WHERE DEL_YN = 'N'
		  AND   ORGN_MGMT_CD = #{orgnMgmtCd}
		  AND	PBSR_NO = #{pbsrNo}
		  AND   EMP_STTS_CD <![CDATA[ <> ]]> 'R'
	</select>

</mapper>
