<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="alpass.ipt.clr.cbm.vfm.mapper.ClrVarbFnctMgmtMapper">

	<sql id="sqlSearchQuery">
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(varbFnctId)">
		AND			A.VARB_FNCT_ID LIKE #{varbFnctId} || '%'
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(varbFnctNm)">
		AND			B.VARB_FNCT_NM LIKE #{varbFnctNm} || '%'
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(varbFnctTpCd)">
		AND			A.VARB_FNCT_TP_CD = #{varbFnctTpCd}
		</if>
		<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(comnPdlsTpCd)">
		AND			DECODE(#{comnPdlsTpCd}, 'I', 'ALL', A.COMN_PDLS_TP_CD)  = DECODE(#{comnPdlsTpCd}, 'I', 'ALL', #{comnPdlsTpCd}) /* 품목세금룰에서 공통함수 및 변수 사용 가능하도록 처리 */
		</if>
	</sql>

	<sql id="sqlSelectQuery">
		SELECT
					A.VARB_FNCT_ID
					, B.VARB_FNCT_NM
					, A.VARB_FNCT_TP_CD
					, A.FNCT_PRMT_GCNT
					, A.COMN_PDLS_TP_CD
					, A.SORT_ORDR
					, A.DEL_YN
					, A.FRST_REGST_ID
					, A.FRST_RGSR_DTTM
					, A.LAST_CHPR_ID
					, A.LAST_CHG_DTTM
		FROM		TB_CLRI_VARB_FNCT A
					, TB_CLRI_VARB_FNCT_LANG B
		WHERE		A.VARB_FNCT_ID = B.VARB_FNCT_ID
		AND			A.DEL_YN  = 'N'
		AND			B.LANG_CD = #{langCd}
		AND			B.DEL_YN = 'N'
	</sql>

	<select id="selectVarbFnct" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo" resultType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo">
		/** selectVarbFnct : Antlr 사용가능 함수 목록 조회 **/
		<include refid="sqlSelectQuery" />
		<include refid="sqlSearchQuery" />
	</select>

	<select id="selectVarbFnctList" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo" resultType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo">
		/** selectVarbFnctList : Antlr 사용가능 변수 목록 조회 **/
		<include refid="sqlSelectQuery" />
		<include refid="sqlSearchQuery" />
		ORDER BY	A.VARB_FNCT_TP_CD DESC, A.SORT_ORDR ASC
	</select>

    <select id="selectVarbFnctCnt" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo" resultType="Integer">
		/** selectVarbFnctCnt : Antlr 사용가능 함수변수 목록 카운트 **/
		SELECT
				COUNT(*)
		FROM (
				<include refid="sqlSelectQuery" />
				<include refid="sqlSearchQuery" />
		) A
    </select>

	<select id="selectVarbFnctPaginatedList" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo" resultType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo">
		/** selectVarbFnctList : Antlr 사용가능 함수변수 페이징 목록 조회 **/
		<include refid="pagination.header" />
		SELECT
				A.VARB_FNCT_ID
				, A.VARB_FNCT_NM
				, A.VARB_FNCT_TP_CD
				, (SELECT
							CD_VDVAL_NM
					FROM		TB_COM_COMN_CD_D_LANG
					WHERE		COMN_CD = 'COL_0037'
					AND			LANG_CD = #{langCd}
					AND			CD_VDVAL = A.VARB_FNCT_TP_CD) VARB_FNCT_TP_NM
				, A.FNCT_PRMT_GCNT
				, A.COMN_PDLS_TP_CD
				, (SELECT
							CD_VDVAL_NM
					FROM		TB_COM_COMN_CD_D_LANG
					WHERE		COMN_CD = 'COL_0038'
					AND			LANG_CD = #{langCd}
					AND			CD_VDVAL = A.COMN_PDLS_TP_CD) COMN_PDLS_TP_NM
				, A.SORT_ORDR
				, A.DEL_YN
				, A.FRST_REGST_ID
				, A.FRST_RGSR_DTTM
				, A.LAST_CHPR_ID
				, A.LAST_CHG_DTTM
		FROM (
				<include refid="sqlSelectQuery" />
				<include refid="sqlSearchQuery" />
				ORDER BY	A.VARB_FNCT_TP_CD DESC, A.SORT_ORDR ASC
		) A
		<include refid="pagination.footer" />
	</select>

    <select id="selectVarbFnctLangList" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo" resultType="alpass.ipt.clr.com.vo.ComLangVo">
		/** selectVarbFnctLangList */
		SELECT 
		       B.VARB_FNCT_ID AS KEY1
		     , A.CD_VDVAL AS LANG_CD
		     , B.VARB_FNCT_NM AS LANG_CN
		FROM TB_COM_COMN_CD_D A, 
		     TB_CLRI_VARB_FNCT_LANG B
		WHERE A.COMN_CD = 'COM_0057'
		  AND B.DEL_YN(+) = 'N'
          AND B.VARB_FNCT_ID(+) = #{varbFnctId}
          AND A.CD_VDVAL  = B.LANG_CD(+)
        ORDER BY TO_NUMBER(A.SORT_ORDR) ASC
	</select>

	<select id="selectPrevVarbFnctCnt" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo" resultType="Integer">
		/** selectPrevVarbFnctCnt : 이미 등록된 변수/함수 아이디를 비교하여 카운트 반환 **/
		SELECT
				COUNT(*)
		FROM 	TB_CLRI_VARB_FNCT
		WHERE	VARB_FNCT_ID = #{varbFnctId}
	</select>
	
	<select id="getNewSortOrdr" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo" resultType="BigDecimal">
		/** selectMaxSortOrdr : 신규 등록시 사용할 신규 정렬번호 채번 **/
		SELECT 
					NVL(MAX(SORT_ORDR), 0) + 1 FROM TB_CLRI_VARB_FNCT
		WHERE		VARB_FNCT_TP_CD = #{varbFnctTpCd}
		AND			COMN_PDLS_TP_CD = #{comnPdlsTpCd}
	</select>

	<insert id="insertVarbFnct" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo">
		/** insertVarbFnct : Antlr 변수/함수 정보 저장 **/
		INSERT INTO TB_CLRI_VARB_FNCT (
				  VARB_FNCT_ID
				, VARB_FNCT_TP_CD
				, FNCT_PRMT_GCNT
				, COMN_PDLS_TP_CD
				, SORT_ORDR
				, DEL_YN
				, FRST_REGST_ID
				, FRST_RGSR_DTTM
				, LAST_CHPR_ID
				, LAST_CHG_DTTM
		) VALUES (
				  #{varbFnctId}
				, #{varbFnctTpCd}
				, #{fnctPrmtGcnt}
				, #{comnPdlsTpCd}
				, #{sortOrdr}
				, 'N'
				, #{frstRegstId}
				, SYSTIMESTAMP
				, #{lastChprId}
				, SYSTIMESTAMP
		)
	</insert>

	<update id="updateVarbFnctSortOrdr" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo">
		/** updateVarbFnctSortOrdr : 정렬번호 변경 **/
		<![CDATA[
		UPDATE	TB_CLRI_VARB_FNCT SET
				SORT_ORDR = SORT_ORDR + 1
		WHERE	SORT_ORDR >= #{sortOrdr}
		]]>
	</update>

	<update id="updateVarbFnct" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo">
		/** insertVarbFnct : Antlr 변수/함수 정보 저장 **/
		UPDATE	TB_CLRI_VARB_FNCT SET
        <trim prefixOverrides="," >
				  VARB_FNCT_TP_CD = #{varbFnctTpCd}
				, FNCT_PRMT_GCNT = #{fnctPrmtGcnt}
				, COMN_PDLS_TP_CD = #{comnPdlsTpCd}
				, SORT_ORDR = #{sortOrdr}
				, LAST_CHPR_ID = #{lastChprId}
				, LAST_CHG_DTTM = SYSTIMESTAMP
        </trim>
		WHERE	DEL_YN = 'N'
		AND		VARB_FNCT_ID = #{varbFnctId}
	</update>
	
	<update id="deleteVarbFnct" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo">
		/** deleteVarbFnct : Antlr 변수/함수 정보 삭제 **/
		UPDATE	TB_CLRI_VARB_FNCT
		SET		DEL_YN = 'Y'
		WHERE	VARB_FNCT_ID = #{varbFnctId}
		AND		DEL_YN = 'N'
	</update>
	
	<insert id="insertUpdateVarbFnctLang" parameterType="alpass.ipt.clr.com.vo.ComLangVo">
        /** insertVarbFnctLang : 함수 및 변수 Locale 정보 저장 **/
        WITH UPSERT AS(
        UPDATE TB_CLRI_VARB_FNCT_LANG 
        SET    DEL_YN       = 'N'
			 , VARB_FNCT_NM = #{langCn}
			 , LAST_CHPR_ID = #{lastChprId}
			 , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE  VARB_FNCT_ID = #{key1} 
        AND    LANG_CD = #{langCd}
        RETURNING *
        )
        INSERT INTO TB_CLRI_VARB_FNCT_LANG
	    (
			   VARB_FNCT_ID
			 , LANG_CD
			 , VARB_FNCT_NM
			 , DEL_YN
			 , FRST_REGST_ID
			 , FRST_RGSR_DTTM
			 , LAST_CHPR_ID
			 , LAST_CHG_DTTM
		)
		SELECT
			   #{key1}
			 , #{langCd}
			 , #{langCn}
			 , 'N'
			 , #{frstRegstId}
			 , SYSTIMESTAMP
			 , #{lastChprId}
			 , SYSTIMESTAMP
		WHERE  NOT EXISTS(SELECT * FROM UPSERT)
    </insert>
    
    <update id="deleteVarbFnctLang" parameterType="alpass.ipt.clr.cbm.vfm.vo.ClrVarbFnctMgmtVo">
    	/** deleteVarbFnctLang : 함수 및 변수 Locale 정보 삭제 */
    	UPDATE	TB_CLRI_VARB_FNCT_LANG
    	SET		DEL_YN = 'Y'
    	WHERE	VARB_FNCT_ID = #{varbFnctId}
    	AND		DEL_YN = 'N'
    </update>

</mapper>