<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="alpass.ipt.col.ntsh.mapper.ColNtshVhclMapper">

    <!--
    Consulter une liste des matériels roulants (M846) !== 차량조회M846 목록 조회 ==!
    -->
    <select id="selectColNtshVhclList"  parameterType="alpass.ipt.col.ntsh.vo.ColNtshVhclVo"
            resultType="alpass.ipt.col.ntsh.vo.ColNtshVhclVo">
        /* selectColNtshVhclList */
        <include refid="pagination.header" ></include>
        SELECT
        A.pdls_no                  /** N° D'Article !== 품목번호 ==! */
        , A.dtl_dcsh_no                /** Numero de la déclaration en détail!! !== 상세신고서번호 ==! */
        , A.chss_no                    /** N° De Châssis !== 차대번호 ==! */
        , A.IMP_PT_NM                  /** Cadre !== 수입유형명 ==! */
        , A.vhcl_mnur_cd               /** Code De Fabricant Du Véhicule !== 차량제조사코드 ==! */
        , (SELECT VHCL_MNUR_NM FROM TB_COM_VHCL_MNUR WHERE A.VHCL_MNUR_CD = VHCL_MNUR_CD AND DEL_YN = 'N') AS VHCL_MNUR_NM
        , A.clr_nm                     /** Nom De La Couleur !== 색상명 ==! */
        , A.vhcl_mdl_cd                /** Code De Modèle Du Véhicule !== 차량모델코드 ==! */
        , (SELECT VHCL_MDL_NM FROM TB_COM_VHCL_MDL WHERE A.VHCL_MDL_CD = VHCL_MDL_CD AND DEL_YN = 'N') AS VHCL_MDL_NM
        , A.drvr_nm                    /** Nom de conducteur !== 운전자명 ==! */
        , A.trsf_nnpr_yn               /** Incessibilité !== 양도불허여부 ==! */
        , A.drvr_post_no               /** zipcode conducteur !== 운전자우편번호 ==! */
        , A.drvr_addr                  /** Adresse Du Conducteur !== 운전자주소 ==! */
        , A.car_rgsr_no                /** N° d'immatriculation !== 자동차등록번호 ==! */
        , SUBSTRING(A.vhcl_rele_dt, 1, 4) AS vhcl_rele_dt               /** Date sortie !== 차량해제일자 ==! */
        , A.mkng_yy                    /** Année de fabrication !== 제작년도 ==! */
        , A.vhcl_wght_cn               /** Poids total . C !== 차량중량내용 ==! */
        , A.load_wght_cn               /** Charge .U !== 적재중량내용 ==! */
        , A.otpt_cn                    /** Puissance !== 출력내용 ==! */
        , A.dpcmt_cn                   /** Cylindrée !== 배기량내용 ==! */
        , A.fl_knd_nm                  /** Energie !== 연료종류명 ==! */
        , A.vhcl_knd_nm                /** Type De Véhicule !== 차량종류명 ==! */
        , A.cabo_nm                    /** Carrosserie !== 차체명 ==! */
        , TO_CHAR(TO_DATE(A.frst_opra_dt        , 'YYYYMMDD'),'DD/MM/YYYY') AS frst_opra_dt               /** Date De Première Mise En Circulation !== 최초운행일자 ==! */
        , A.stcnt                      /** Nombre De Sièges !== 좌석수 ==! */
        , A.del_yn                     /** Suppression On !== 삭제여부 ==! */
        , A.frst_regst_id              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , TO_CHAR(A.frst_rgsr_dttm      , 'DD/MM/YYYY') AS frst_rgsr_dttm             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , A.last_chpr_id               /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , TO_CHAR(A.last_chg_dttm       , 'DD/MM/YYYY') AS last_chg_dttm              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , TO_CHAR(TO_DATE(A.trsf_nnpr_strt_dt   , 'YYYYMMDD'),'DD/MM/YYYY') AS trsf_nnpr_strt_dt          /** Début de la date d'incessibilité !== 양도불허시작일자 ==! */
        , TO_CHAR(TO_DATE(A.trsf_nnpr_end_dt    , 'YYYYMMDD'),'DD/MM/YYYY') AS trsf_nnpr_end_dt           /** Fin de la date d'incessibilité !== 양도불허종료일자 ==! */
        , A.vhcl_knd_cd                /** Préciser s’il s’agit de véhicule !== 차량종류코드 ==! */
        , A.trsf_unbl_tp_cd            /** Type de cadre !== 양도불가구분코드 ==! */
        , FN_GET_CD_VDVAL_NM('CLR_0091', TRSF_UNBL_TP_CD , #{langCd}) AS TRSF_UNBL_TP_NM
        , A.imp_crpp_no                /** Numéro de certificat d'importation !== 수입증명서번호 ==! */
        , TO_CHAR(TO_DATE(A.imp_crpp_dt        , 'YYYYMMDD'),'DD/MM/YYYY') AS imp_crpp_dt               /** Date de certificat d'importation !== 수입증명서일자 ==! */
        , A.imp_crpp_prid              /** Durée de certificat d'importation !== 수입증명서기간 ==! */
        , A.vhcl_cscl_mgmt_no          /** Numero de M846 !== M846번호 ==! */
        , C.wly_cd
        , PDLS.REGM_RQST_CD
        , (SELECT BFCY_CO_NM FROM TB_CLRI_DED_CO WHERE DTL_DCSH_NO = A.DTL_DCSH_NO) AS BFCY_CO_NM
        , PDLS.QTY
        , (SELECT DCER_CO_NM FROM TB_CLRI_DED_CO WHERE DTL_DCSH_NO = A.DTL_DCSH_NO) AS DCER_CO_NM
        , PDLS.APC_CD
        , B.EPC_CD
        , PDLS.PDLS_NO
        , (SELECT IMPPN_CO_NM FROM TB_CLRI_DED_CO WHERE DTL_DCSH_NO = #{dtlDcshNo} AND DEL_YN = 'N') AS IMPPN_CO_NM
        , A.MDL_STSZ_NO
        FROM   ALPASSINT.TB_CLRI_DED_VHCL A
        LEFT JOIN TB_CLRI_DED_PDLS PDLS ON A.DTL_DCSH_NO = PDLS.DTL_DCSH_NO  AND A.PDLS_NO = PDLS.PDLS_NO
        INNER JOIN ALPASSINT.TB_CLRI_DED_COMN B ON B.DTL_DCSH_NO = A.DTL_DCSH_NO
        LEFT OUTER JOIN ALPASSINT.TB_RSMI_BNK_APNT C ON (C.PYMN_BNK_BRNH_CD  || REPLACE(C.PYMN_AC_NO,'/','') =  B.PYMN_AC_NO)
        WHERE A.DEL_YN = 'N'
        <if test='dtlDcshNo != null and dtlDcshNo != ""'>
            AND A.DTL_DCSH_NO LIKE '%' ||  #{dtlDcshNo}     || '%'
        </if>
        <if test='chssNo != null and chssNo != ""'>
            AND A.CHSS_NO LIKE '%' ||  #{chssNo}     || '%'
        </if>
        <if test='carRgsrNo != null and carRgsrNo != ""'>
            AND A.CAR_RGSR_NO = #{carRgsrNo}
        </if>
        <if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
            AND TO_CHAR(A.FRST_RGSR_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
        </if>
        <include refid="pagination.footer" ></include>
    </select>

    <select id="selectColNtshVhcl"  parameterType="alpass.ipt.col.ntsh.vo.ColNtshVhclVo"
            resultType="alpass.ipt.col.ntsh.vo.ColNtshVhclVo">
        /* selectColNtshVhcl */
        SELECT
            A.pdls_no                  /** N° D'Article !== 품목번호 ==! */
             , A.dtl_dcsh_no                /** Numero de la déclaration en détail!! !== 상세신고서번호 ==! */
             , A.chss_no                    /** N° De Châssis !== 차대번호 ==! */
             , A.imp_pt_nm                  /** Cadre !== 수입유형명 ==! */
             , A.vhcl_mnur_cd               /** Code De Fabricant Du Véhicule !== 차량제조사코드 ==! */
             , (SELECT VHCL_MNUR_NM FROM TB_COM_VHCL_MNUR WHERE A.VHCL_MNUR_CD = VHCL_MNUR_CD AND DEL_YN = 'N') AS VHCL_MNUR_NM
             , A.clr_nm                     /** Nom De La Couleur !== 색상명 ==! */
             , A.vhcl_mdl_cd                /** Code De Modèle Du Véhicule !== 차량모델코드 ==! */
             , (SELECT VHCL_MDL_NM FROM TB_COM_VHCL_MDL WHERE A.VHCL_MDL_CD = VHCL_MDL_CD AND DEL_YN = 'N') AS VHCL_MDL_NM
             , A.drvr_nm                    /** Nom de conducteur !== 운전자명 ==! */
             , A.trsf_nnpr_yn               /** Incessibilité !== 양도불허여부 ==! */
             , A.drvr_post_no               /** zipcode conducteur !== 운전자우편번호 ==! */
             , A.drvr_addr                  /** Adresse Du Conducteur !== 운전자주소 ==! */
             , A.car_rgsr_no                /** N° d'immatriculation !== 자동차등록번호 ==! */
             , SUBSTRING(A.vhcl_rele_dt, 1, 4) AS vhcl_rele_dt               /** Date sortie !== 차량해제일자 ==! */
             , A.mkng_yy                    /** Année de fabrication !== 제작년도 ==! */
             , A.vhcl_wght_cn               /** Poids total . C !== 차량중량내용 ==! */
             , A.load_wght_cn               /** Charge .U !== 적재중량내용 ==! */
             , A.otpt_cn                    /** Puissance !== 출력내용 ==! */
             , A.dpcmt_cn                   /** Cylindrée !== 배기량내용 ==! */
             , A.fl_knd_nm                  /** Energie !== 연료종류명 ==! */
             , A.vhcl_knd_nm                /** Type De Véhicule !== 차량종류명 ==! */
             , A.cabo_nm                    /** Carrosserie !== 차체명 ==! */
             , TO_CHAR(TO_DATE(A.frst_opra_dt        , 'YYYYMMDD'),'DD/MM/YYYY') AS frst_opra_dt               /** Date De Première Mise En Circulation !== 최초운행일자 ==! */
             , A.stcnt                      /** Nombre De Sièges !== 좌석수 ==! */
             , A.del_yn                     /** Suppression On !== 삭제여부 ==! */
             , A.frst_regst_id              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
             , TO_CHAR(A.frst_rgsr_dttm      , 'DD/MM/YYYY') AS frst_rgsr_dttm             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
             , A.last_chpr_id               /** Id Du Modificateur Final !== 최종변경자ID ==! */
             , TO_CHAR(A.last_chg_dttm       , 'DD/MM/YYYY') AS last_chg_dttm              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
             , TO_CHAR(TO_DATE(A.trsf_nnpr_strt_dt   , 'YYYYMMDD'),'DD/MM/YYYY') AS trsf_nnpr_strt_dt          /** Début de la date d'incessibilité !== 양도불허시작일자 ==! */
             , TO_CHAR(TO_DATE(A.trsf_nnpr_end_dt    , 'YYYYMMDD'),'DD/MM/YYYY') AS trsf_nnpr_end_dt           /** Fin de la date d'incessibilité !== 양도불허종료일자 ==! */
             , A.vhcl_knd_cd                /** Préciser s’il s’agit de véhicule !== 차량종류코드 ==! */
             , A.trsf_unbl_tp_cd            /** Type de cadre !== 양도불가구분코드 ==! */
             , A.imp_crpp_no                /** Numéro de certificat d'importation !== 수입증명서번호 ==! */
             , TO_CHAR(TO_DATE(A.imp_crpp_dt,        , 'YYYYMMDD'),'DD/MM/YYYY') AS imp_crpp_dt               /** Date de certificat d'importation !== 수입증명서일자 ==! */
             , A.imp_crpp_prid              /** Durée de certificat d'importation !== 수입증명서기간 ==! */
             , A.vhcl_cscl_mgmt_no          /** Numero de M846 !== M846번호 ==! */
        FROM   ALPASSINT.TB_CLRI_DED_VHCL A
        WHERE A.DEL_YN = 'N'
          AND A.DTL_DCSH_NO = #{dtlDcshNo}
          AND A.PDLS_NO = #{pdlsNo}

    </select>


</mapper>