<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.frxcg.capl.mapper.PscCaplConsMapper">

    <!--
    @TODO:번역필요 !== GeneratorComments 목록 조회 ==!
    -->
    <select id="selectPscCaplCons"  
      parameterType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo" resultType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo">
        /* selectPscFrxcgDcsh */
        <include refid="pagination.header" ></include>
            SELECT
				  A.CAPL_CONS_NO               /** @TODO : 번역필요 !== 자본위탁번호 ==! */
				, A.CONS_CSTM_CD               /** @TODO : 번역필요 !== 위탁세관코드 ==! */
				, A.CONS_AMT                   /** Montant de dépôt !== 위탁금액 ==! */
				, A.CONS_DT                    /** @TODO : 번역필요 !== 위탁일자 ==! */
				, A.CAPL_CONS_STTS_CD          /** @TODO : 번역필요 !== 자본위탁상태코드 ==! */
				, A.CLTR_ID                    /** ID du receveur !== 징수관ID ==! */
				, A.WDRW_CSTM_CD               /** @TODO : 번역필요 !== 회수세관 ==! */
				, A.WDRW_DT                    /** Date De Récupération !== 회수일자 ==! */
				, A.CONSR_FMNM                 /** @TODO : 번역필요 !== 위탁자성 ==! */
				, A.CONSR_GVNM_NM              /** @TODO : 번역필요 !== 위탁자이름명 ==! */
				, A.CONSR_ADDR                 /** @TODO : 번역필요 !== 위탁자주소 ==! */
				, A.CONSR_NTNAL_IDFY_NO        /** @TODO : 번역필요 !== 위탁자자국민식별번호 ==! */
				, A.CONSR_PSPR_NO                 /** @TODO : 번역필요 !== 위탁자여권번호 ==! */
				, A.PSPR_NO_ISS_DT             /** @TODO : 번역필요 !== 여권발급일자 ==! */
				, A.PSPR_NO_ISS_ITT            /** @TODO : 번역필요 !== 여권발급기관 ==! */
				, A.MNDR_FMNM                  /** @TODO : 번역필요 !== 위임자성 ==! */
				, A.MNDR_GVNM_NM               /** @TODO : 번역필요 !== 위임자이름명 ==! */
				, A.MNDR_ADDR                  /** @TODO : 번역필요 !== 위임자주소 ==! */
				, A.MNDR_NTNAL_IDFY_NO         /** @TODO : 번역필요 !== 위임자자국민식별번호 ==! */
				, A.REFF_NO                    /** N° De Référence !== 참조번호 ==! */
				, A.REGST_ID                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
				, A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
				, A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
				, A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
				, A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
				, A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
				, A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
				, A.OWR_YN                     /** @TODO : 번역필요 !== 소유주여부 ==! */
                , A.POA_NO                     /** @TODO : 번역필요 !== 위임장번호 ==! */
                , A.MNDA_DT                    /** @TODO : 번역필요 !== 위임일자 ==! */
                , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
                , A.MNDR_PSPR_NO				   /** N° de passeport de mendataire !== 위임자여권번호 ==!  */
            FROM   ALPASSINT.TB_PSCI_CAPL_CONS_CRPP A
           WHERE   DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND   A.CAPL_CONS_NO = #{caplConsNo}              /** @TODO : 번역필요 !== 자본위탁번호 ==! */
        <include refid="pagination.footer" ></include>
    </select>

	<!--
  	@TODO:번역필요 !== 자본위탁증 발급 요청 목록 조회 ==!
  	-->
  	<select id="selectPscCaplConsList"  parameterType="alpass.ipt.psc.frxcg.capl.vo.PscCaplSearchVo" 
    resultType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo"> 
      /* selectPscCaplConsList */
      <include refid="pagination.header" ></include>
    
	    SELECT A.CAPL_CONS_NO               /** @TODO : 번역필요 !== 자본위탁번호 ==! */
	         , A.CONS_CSTM_CD               /** @TODO : 번역필요 !== 위탁세관코드 ==! */
			 , FN_GET_ORGN_NM(A.CONS_CSTM_CD) AS CONS_CSTM_CD_NM               /**  !== 세관명 ==! */
			 , TO_CHAR(TO_DATE(A.CONS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS CONS_DT  /** @TODO : 번역필요 !== 위탁일자 ==! */
			 , A.CAPL_CONS_STTS_CD          /** @TODO : 번역필요 !== 자본위탁상태코드 ==! */
			 , A.CONSR_NTNAL_IDFY_NO        /** @TODO : 번역필요 !== 위탁자자국민식별번호 ==! */
             , A.CONSR_PSPR_NO                 /** @TODO : 번역필요 !== 위탁자여권번호 ==! */		
             , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */	
		 FROM  ALPASSINT.TB_PSCI_CAPL_CONS_CRPP A
		WHERE  1=1
		  AND  DEL_YN = 'N'
		<!-- AND FRST_REGST_ID = #{userId} -->
      	<if test='caplConsNo != null and caplConsNo != ""'>
		AND A.CAPL_CONS_NO = #{caplConsNo}              /** @TODO : 번역필요 !== 자본위탁번호 ==! */
		</if>
		<if test='(consDtFrom != null and !"".equals(consDtFrom)) and (consDtTo != null and !"".equals(consDtTo))'>
		AND A.CONS_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{consDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{consDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
		</if>
		<if test='caplConsSttsCd != null and caplConsSttsCd != ""'>
		AND A.CAPL_CONS_STTS_CD = #{caplConsSttsCd} 
		</if> 
		<if test='consrNtnalIdfyNo != null and consrNtnalIdfyNo != ""'>
		AND A.CONSR_NTNAL_IDFY_NO = #{consrNtnalIdfyNo} 
		</if> 
		<if test='consrPsprNo != null and consrPsprNo != ""'>
		AND CONSR_PSPR_NO = #{consrPsprNo} 
		</if>
		ORDER BY FRST_RGSR_DTTM DESC
      <include refid="pagination.footer" ></include>
  	</select>

    <!--
    @TODO:번역필요 !== GeneratorComments 등록 ==!
    (Generated)
    -->
    <insert id="insertPscCaplCons" parameterType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo">
        /* insertPscFrxcgDcsh */
          INSERT INTO ALPASSINT.TB_PSCI_CAPL_CONS_CRPP
              (  
                  CAPL_CONS_NO                 /** @TODO : 번역필요 !== 자본위탁번호 ==! */
                , CONS_CSTM_CD                 /** @TODO : 번역필요 !== 위탁세관코드 ==! */
                , CONS_AMT                     /** Montant de dépôt !== 위탁금액 ==! */
                , CONS_DT                      /** @TODO : 번역필요 !== 위탁일자 ==! */
                , CAPL_CONS_STTS_CD            /** @TODO : 번역필요 !== 자본위탁상태코드 ==! */
                , CLTR_ID                      /** ID du receveur !== 징수관ID ==! */
                , WDRW_CSTM_CD                 /** @TODO : 번역필요 !== 회수세관 ==! */
                , WDRW_DT                      /** Date De Récupération !== 회수일자 ==! */
                , CONSR_FMNM                   /** @TODO : 번역필요 !== 위탁자성 ==! */
                , CONSR_GVNM_NM                /** @TODO : 번역필요 !== 위탁자이름명 ==! */
                , CONSR_ADDR                   /** @TODO : 번역필요 !== 위탁자주소 ==! */
                , CONSR_NTNAL_IDFY_NO          /** @TODO : 번역필요 !== 위탁자자국민식별번호 ==! */
                , CONSR_PSPR_NO                   /** @TODO : 번역필요 !== 위탁자여권번호 ==! */
                , PSPR_NO_ISS_DT               /** @TODO : 번역필요 !== 여권발급일자 ==! */
                , PSPR_NO_ISS_ITT              /** @TODO : 번역필요 !== 여권발급기관 ==! */
                , MNDR_FMNM                    /** @TODO : 번역필요 !== 위임자성 ==! */
                , MNDR_GVNM_NM                 /** @TODO : 번역필요 !== 위임자이름명 ==! */
                , MNDR_ADDR                    /** @TODO : 번역필요 !== 위임자주소 ==! */
                , MNDR_NTNAL_IDFY_NO           /** @TODO : 번역필요 !== 위임자자국민식별번호 ==! */
                , REFF_NO                      /** N° De Référence !== 참조번호 ==! */
                , REGST_ID                     /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , APRV_ID                      /** Id D'Approbation  !== 결재ID ==! */
                , APRV_PRCS_STTS_CD            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
                , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
                , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                )
                VALUES
                (
                  #{caplConsNo}                /** @TODO : 번역필요 !== 자본위탁번호 ==! */
                , #{consCstmCd}                /** @TODO : 번역필요 !== 위탁세관코드 ==! */
                , #{consAmt}                   /** Montant de dépôt !== 위탁금액 ==! */
                , #{consDt}                    /** @TODO : 번역필요 !== 위탁일자 ==! */
                , #{caplConsSttsCd}            /** @TODO : 번역필요 !== 자본위탁상태코드 ==! */
                , ''               /** ID du receveur !== 징수관ID ==! */
                , #{wdrwCstmCd}                /** @TODO : 번역필요 !== 회수세관 ==! */
                , #{wdrwDt}                    /** Date De Récupération !== 회수일자 ==! */
                , #{consrFmnm}                 /** @TODO : 번역필요 !== 위탁자성 ==! */
                , #{consrGvnmNm}               /** @TODO : 번역필요 !== 위탁자이름명 ==! */
                , #{consrAddr}                 /** @TODO : 번역필요 !== 위탁자주소 ==! */
                , #{consrNtnalIdfyNo}          /** @TODO : 번역필요 !== 위탁자자국민식별번호 ==! */
                , #{consrPsprNo}                 /** @TODO : 번역필요 !== 위탁자여권번호 ==! */
                , #{psprNoIssDt}               /** @TODO : 번역필요 !== 여권발급일자 ==! */
                , #{psprNoIssItt}              /** @TODO : 번역필요 !== 여권발급기관 ==! */
                , #{mndrFmnm}                  /** @TODO : 번역필요 !== 위임자성 ==! */
                , #{mndrGvnmNm}                /** @TODO : 번역필요 !== 위임자이름명 ==! */
                , #{mndrAddr}                  /** @TODO : 번역필요 !== 위임자주소 ==! */
                , #{mndrNtnalIdfyNo}           /** @TODO : 번역필요 !== 위임자자국민식별번호 ==! */
                , #{reffNo}                    /** N° De Référence !== 참조번호 ==! */
                , #{regstId}                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , #{aprvId}                    /** Id D'Approbation  !== 결재ID ==! */
                , #{aprvPrcsSttsCd}            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
                , 'N'                          /** Suppression On !== 삭제여부 ==! */
                , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , SYSTIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , SYSTIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                )
    </insert>


    <!--
    @TODO:번역필요 !== GeneratorComments 수정 ==!
    (Generated)
    -->
    <update id="updatePscCaplCons" parameterType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo">
        /* updatePscCaplCons */
        UPDATE  ALPASSINT.TB_PSCI_CAPL_CONS_CRPP SET 
                  CONS_CSTM_CD = #{consCstmCd}                /** @TODO : 번역필요 !== 위탁세관코드 ==! */
                , CONS_AMT = #{consAmt}                       /** Montant de dépôt !== 위탁금액 ==! */
                , CONS_DT = #{consDt}                         /** @TODO : 번역필요 !== 위탁일자 ==! */
                , CAPL_CONS_STTS_CD = #{caplConsSttsCd}       /** @TODO : 번역필요 !== 자본위탁상태코드 ==! */
                <!--, CLTR_ID = #{cltrId}                         /** ID du receveur !== 징수관ID ==! */-->
                , WDRW_CSTM_CD = #{wdrwCstmCd}                /** @TODO : 번역필요 !== 회수세관 ==! */
                , WDRW_DT = #{wdrwDt}                         /** Date De Récupération !== 회수일자 ==! */
                , CONSR_FMNM = #{consrFmnm}                   /** @TODO : 번역필요 !== 위탁자성 ==! */
                , CONSR_GVNM_NM = #{consrGvnmNm}              /** @TODO : 번역필요 !== 위탁자이름명 ==! */
                , CONSR_ADDR = #{consrAddr}                   /** @TODO : 번역필요 !== 위탁자주소 ==! */
                , CONSR_NTNAL_IDFY_NO = #{consrNtnalIdfyNo}   /** @TODO : 번역필요 !== 위탁자자국민식별번호 ==! */
                , CONSR_PSPR_NO = #{consrPsprNo}                   /** @TODO : 번역필요 !== 위탁자여권번호 ==! */
                , PSPR_NO_ISS_DT = #{psprNoIssDt}             /** @TODO : 번역필요 !== 여권발급일자 ==! */
                , PSPR_NO_ISS_ITT = #{psprNoIssItt}           /** @TODO : 번역필요 !== 여권발급기관 ==! */
                , MNDR_FMNM = #{mndrFmnm}                     /** @TODO : 번역필요 !== 위임자성 ==! */
                , MNDR_GVNM_NM = #{mndrGvnmNm}                /** @TODO : 번역필요 !== 위임자이름명 ==! */
                , MNDR_ADDR = #{mndrAddr}                     /** @TODO : 번역필요 !== 위임자주소 ==! */
                , MNDR_NTNAL_IDFY_NO = #{mndrNtnalIdfyNo}     /** @TODO : 번역필요 !== 위임자자국민식별번호 ==! */
                , REFF_NO = #{reffNo}                         /** N° De Référence !== 참조번호 ==! */
               <!-- , REGST_ID = #{regstId}                       /** Id De La Personne Enregistrant !== 등록자ID ==! */
                , APRV_ID = #{aprvId}                         /** Id D'Approbation  !== 결재ID ==! */
                , APRV_PRCS_STTS_CD = #{aprvPrcsSttsCd}       /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */-->
                , MNDR_PSPR_NO = #{mndrPsprNo}				  /** N° de passeport de mendataire !== 위임자여권번호 ==!  */
                , LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  CAPL_CONS_NO = #{caplConsNo}                /** @TODO : 번역필요 !== 자본위탁번호 ==! */
    </update>


    <!--
    @TODO:번역필요 !== GeneratorComments 삭제 ==!
    (Generated)
    -->
    <update id="deletePscCaplCons" parameterType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo">
        /* deletePscCaplCons */
        UPDATE  ALPASSINT.TB_PSCI_CAPL_CONS_CRPP SET 
                DEL_YN = 'Y'                                  /** Suppression ON !== 삭제여부 ==! */
             ,  LAST_CHPR_ID = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
             ,  LAST_CHG_DTTM = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
         WHERE  DEL_YN = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
           AND  CAPL_CONS_NO = #{caplConsNo}                  /** @TODO : 번역필요 !== 자본위탁번호 ==! */
    </update>
    
  <!--
  @TODO:번역필요 !== 자본위탁증 종료 수정 ==!
  -->
  <update id="updatePscCaplConsEnd" parameterType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo">
  	/* updatePscCaplConsMgmt */
	UPDATE ALPASSINT.TB_PSCI_CAPL_CONS_CRPP SET        
	       LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
    	 , LAST_CHG_DTTM = CURRENT_TIMESTAMP           /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
	     , WDRW_CSTM_CD = #{wdrwCstmCd}                /** @TODO : 번역필요 !== 회수세관 ==! */
	     , WDRW_DT = #{wdrwDt}                         /** Date De Récupération !== 회수일자 ==! */  
	    <if test='caplConsSttsCd != null and caplConsSttsCd != ""'>    
    	 , CAPL_CONS_STTS_CD = #{caplConsSttsCd}       /** @TODO : 번역필요 !== 자본위탁상태코드 ==! */
    	</if>  
    	<if test='mndrFmnm != null and mndrFmnm != ""'>    
    	 , MNDR_FMNM = #{mndrFmnm}                     /** @TODO : 번역필요 !== 위임자성 ==! */
    	</if>
    	<if test='mndrGvnmNm != null and mndrGvnmNm != ""'>    
    	 , MNDR_GVNM_NM = #{mndrGvnmNm}                /** @TODO : 번역필요 !== 위임자이름명 ==! */
    	</if>
    	<if test='mndrAddr != null and mndrAddr != ""'>    
    	 , MNDR_ADDR = #{mndrAddr}                     /** @TODO : 번역필요 !== 위임자주소 ==! */
    	</if>
    	<if test='mndrNtnalIdfyNo != null and mndrNtnalIdfyNo != ""'>    
    	 , MNDR_NTNAL_IDFY_NO = #{mndrNtnalIdfyNo}     /** @TODO : 번역필요 !== 위임자자국민식별번호 ==! */
    	</if>            
    	
    	<if test='owrYn != null and owrYn != ""'>    
    	 , OWR_YN = #{owrYn}                           /** @TODO : 번역필요 !== 소유주여부 ==! */
    	</if> 
    	<if test='poaNo != null and poaNo != ""'>    
    	 , POA_NO = #{poaNo}                           /** @TODO : 번역필요 !== 위임장번호 ==! */
    	</if> 
    	<if test='mndaDt != null and mndaDt != ""'>    
    	 , MNDA_DT = #{mndaDt}                         /** @TODO : 번역필요 !== 위임일자 ==! */
    	</if> 
    	<if test='atchFileId != null and atchFileId != ""'>    
    	 , ATCH_FILE_ID = #{atchFileId}                /** Id Du Fichier Joint !== 첨부파일ID ==! */
    	</if> 
    	<if test='mndrPsprNo != null and mndrPsprNo != ""'>    
    	 , MNDR_PSPR_NO = #{mndrPsprNo}				  /** N° de passeport de mendataire !== 위임자여권번호 ==!  */
    	</if> 
    WHERE  DEL_YN = 'N'                                	/** Suppression ON !== 삭제여부 ==! */
      AND  CAPL_CONS_NO = #{caplConsNo}                  /** @TODO : 번역필요 !== 자본위탁번호 ==! */
  </update>


  <!--
  @TODO:번역필요 !== 자본위탁증 종료 수정 ==!
  -->
  <update id="updatePscCaplConsAprv" parameterType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo">
  	/* updatePscCaplConsMgmt */
	UPDATE ALPASSINT.TB_PSCI_CAPL_CONS_CRPP SET        
	       LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
    	 , LAST_CHG_DTTM = CURRENT_TIMESTAMP           /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */	    
    	<if test='aprvId != null and aprvId != ""'>    
    	 , APRV_ID = #{aprvId}                         /** Id D'Approbation  !== 결재ID ==! */                
    	</if>
    	<if test='aprvPrcsSttsCd != null and aprvPrcsSttsCd != ""'>    
    	 , APRV_PRCS_STTS_CD = #{aprvPrcsSttsCd}       /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
    	</if>
    	<if test='caplConsSttsCd != null and caplConsSttsCd != ""'>    
    	 , CAPL_CONS_STTS_CD = #{caplConsSttsCd}       /** @TODO : 번역필요 !== 자본위탁상태코드 ==! */
    	</if>  
    	<if test='caplConsSttsCd != null and "A3".equals(caplConsSttsCd)'>    
    	 , CLTR_ID = #{lastChprId}       /** ID du receveur !== 징수관ID ==! */
    	</if>   	
    WHERE  DEL_YN = 'N'                                	/** Suppression ON !== 삭제여부 ==! */
      AND  CAPL_CONS_NO = #{caplConsNo}                  /** @TODO : 번역필요 !== 자본위탁번호 ==! */
  </update>

 <!--
    @TODO:번역필요 !== GeneratorComments 목록 조회 ==!
    -->
    <select id="selectPscCaplConsRpdc"  
      parameterType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo" resultType="alpass.ipt.psc.frxcg.capl.vo.PscCaplConsCrppVo">
        /* selectPscCaplConsRpdc */
        <include refid="pagination.header" ></include>
            SELECT
				  A.CAPL_CONS_NO               /** @TODO : 번역필요 !== 자본위탁번호 ==! */
				, A.CONS_CSTM_CD               /** @TODO : 번역필요 !== 위탁세관코드 ==! */
				, FN_GET_ORGN_NM(A.CONS_CSTM_CD) AS CONS_CSTM_CD_NM               /**  !== 세관명 ==! */
			    , TO_CHAR(TO_DATE(A.CONS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS CONS_DT  /** @TODO : 번역필요 !== 위탁일자 ==! */
				, (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.CLTR_ID) AS CLTR_NM
				, A.CLTR_ID                    /** ID du receveur !== 징수관ID ==! */
				, A.CONSR_FMNM                 /** @TODO : 번역필요 !== 위탁자성 ==! */
				, A.CONSR_GVNM_NM              /** @TODO : 번역필요 !== 위탁자이름명 ==! */
				, A.CONSR_ADDR                 /** @TODO : 번역필요 !== 위탁자주소 ==! */				
				, NVL((SELECT ORGN_NM                      
		             FROM TB_POTI_ORGN             
		            WHERE ORGN_TP_CD ='DIR'
		              AND ROWNUM = 1
		            START WITH UPPER(ORGN_CD) = UPPER(A.CONS_CSTM_CD) 
		            CONNECT BY PRIOR UPR_ORGN_MGMT_CD = ORGN_MGMT_CD), '') AS DRD_CD_NM /** @TODO : 번역필요 !== 지역본부세관 ==! */
		        , NVL((SELECT ORGN_NM                      
		             FROM TB_POTI_ORGN             
		            WHERE ORGN_TP_CD ='INS'
		              AND ROWNUM = 1
		            START WITH UPPER(ORGN_CD) = UPPER(A.CONS_CSTM_CD) 
		            CONNECT BY PRIOR UPR_ORGN_MGMT_CD = ORGN_MGMT_CD),'') AS IDD_CD_NM  /** @TODO : 번역필요 !== 지역분할세관 ==! */
		        , A.REFF_NO                    /** N° De Référence !== 참조번호 ==! */
		        , A.OWR_YN                     /** @TODO : 번역필요 !== 소유주여부 ==! */
		        , A.POA_NO                     /** @TODO : 번역필요 !== 위임장번호 ==! */
		        , TO_CHAR(TO_DATE(A.WDRW_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS WDRW_DT   /** Date De Récupération !== 회수일자 ==! */
		        , A.MNDR_FMNM                  /** @TODO : 번역필요 !== 위임자성 ==! */
				, A.MNDR_GVNM_NM               /** @TODO : 번역필요 !== 위임자이름명 ==! */
				, A.MNDR_ADDR                  /** @TODO : 번역필요 !== 위임자주소 ==! */
				, A.MNDR_NTNAL_IDFY_NO         /** @TODO : 번역필요 !== 위임자자국민식별번호 ==! */
				, A.CAPL_CONS_STTS_CD          /** @TODO : 번역필요 !== 자본위탁상태코드 ==! */
				, A.CONSR_PSPR_NO                 /** @TODO : 번역필요 !== 위탁자여권번호 ==! */
            FROM  ALPASSINT.TB_PSCI_CAPL_CONS_CRPP A
           WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
             AND  A.CAPL_CONS_NO = #{caplConsNo}              /** @TODO : 번역필요 !== 자본위탁번호 ==! */
        <include refid="pagination.footer" ></include>
    </select>


</mapper>