<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Gérer le taux de ciblage par le classement d'OEA !== AEO등급별선별율관리 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.lwcs.mapper.RsmAeoCoSelcRtMapper">

    <!--
      [Gérer le taux de ciblage par catégorie d'OEA] Consulter la liste !== [AEO등급별선별율관리] 목록조회 ==!
    -->
    <select id="selectAeoQuarterTabList"
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmAeoSelcMgmtInqtVo"
        resultType="alpass.framework.util.CamelCaseKeyMap">

        /* selectAeoQuarterTabList */
        SELECT
           EV_QRT       /* Trimestre d'évaluation !== 평가분기 ==!*/
        FROM TB_RSMI_AEO_SELC_MGMT
        WHERE DEL_YN = 'N'
        AND EV_QRT BETWEEN #{startEvQrt} AND #{endEvQrt} /* Trimestre d'évaluation  !== 평가분기 ==!*/
        GROUP BY EV_QRT /* Trimestre d'évaluation !== 평가분기 ==!*/
        ORDER BY EV_QRT ASC /* Trimestre d'évaluation !== 평가분기 ==!*/

    </select>

    <!--
        [Gérer le taux de ciblage par le classement d'OEA] Consulter les taux de ciblage d'OEA par trimestre !== [AEO등급별선별율관리] 분기별 AEO선별율 조회 ==! 
    -->
    <select id="selectQrtPrAeoGdMgmtList"
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo"
        resultType="alpass.ipt.rsm.lwcs.vo.RsmAeoSelcMgmtRsltVo">

        /* selectQrtPrAeoGdMgmtList */
        SELECT
              A.EV_QRT                     /** Trimestre D'Évaluation  !== 평가분기 ==! */
            , A.AEO_ATHR_GD_CD             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
            , ( SELECT COUNT(1)
                FROM TB_AEOI_ATHR_CO  C
                   , TB_RSMI_AEO_CO_BSCS B
                WHERE B.DEL_YN  ='N'
                AND C.NIF = B.NIF
                AND B.CSCL_BNFT_OFAT_CHG_CD <![CDATA[ <>  ]]> '03'      /** Code de modification d’office d’avantages douaniers !==통관혜택직권변경코드 '미적용' 제외 ==! */
                AND C.AEO_ATHR_GD_CD = A.AEO_ATHR_GD_CD
                AND C.ATHR_END_DT <![CDATA[  >= ]]> #{searchStrtDt}
                AND C.ATHR_STRT_DT  <![CDATA[ <= ]]> #{searchEndDt}
              ) AS ERCNT                   /** Nombre d'opérateur !== 업체수 ==!*/
            , A.GRN_SELC_RT                /** Taux De Déclaration En Circuit Vert  !== 녹색선별율 ==! */
            , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
            , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
            , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
            , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
            , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        FROM   TB_RSMI_AEO_SELC_MGMT A
        WHERE  DEL_YN = 'N'                /** Suppression ON !== 삭제여부 ==! */
        AND  A.EV_QRT = #{evQrt}           /** Trimestre D'Évaluation  !== 평가분기 ==! */
        ORDER BY  A.AEO_ATHR_GD_CD ASC
    </select>

    <!--
        [Gérer le taux de ciblage par le classement d'OEA] Sauvegarder les taux de ciblage d'OEA par trimestre  !== [AEO등급별선별율관리] 분기별 AEO선별율 저장 ==! 
    -->
    <update id="updateAeoSelcMgmt"
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmLwcsGdMgmtVo">
        /* updateAeoSelcMgmt */
        UPDATE TB_RSMI_AEO_SELC_MGMT
        SET
              GRN_SELC_RT = #{grnSelcRt}                  /** Taux De Déclaration En Circuit Vert  !== 녹색선별율 ==! */
            , LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
            , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        WHERE EV_QRT = #{evQrt}                           /** Trimestre D'Évaluation  !== 평가분기 ==! */
        AND AEO_ATHR_GD_CD = #{aeoAthrGdCd}               /** Code de classement d'OEA !== AEO공인등급코드 ==! */
    </update>

    <!--
       Trouver la date de début et la date de fin du trimestre  !== [AEO등급별선별율관리] 분기 시작일 종료일 조회 ==!
    -->
    <select id="selectQrtStrtEndDt"
        parameterType="alpass.ipt.rsm.lwcs.vo.RsmQrtDtVo"
        resultType="alpass.ipt.rsm.lwcs.vo.RsmQrtDtVo">
        /* selectQrtStrtEndDt */
        SELECT y, q
        , y || DECODE(q, 1, '0101', 2, '0401', 3, '0701', 4, '1001') AS START_DT        /** Date de début du trimestre !== 분기시작일 ==! */
        , y || DECODE(q, 1, '0331', 2, '0630', 3, '0930', 4, '1231') AS END_DT          /** Date de fin du trimestre !== 분기종료일 ==! */
        FROM (SELECT #{searchYear} y, #{searchQrt} q FROM dual)
    </select>


</mapper>