<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Gérer la consultation du comité technique !== 심의대상업체조회 Mapper. ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.syns.mapper.AeoAthrSynsDlbrTrgtCoMapper">

    <!--
    [Gérer la consultation du comité technique] N° réunion du comité Consulter la liste !== [심의대상업체조회] 위원회회의번호 목록조회 ==!
    -->
	<select id="selectCmitMetnNoList"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsDlbrTrgtCoVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsDlbrTrgtCoVo">
		/* selectCmitMetnNoList */
		SELECT  A.CMIT_METN_NO					/** N° réunion du comité !== 위원회회의번호 ==! */
		FROM    TB_AEOI_CMIT_WRIOP_BSCS A       /** AEOI_AVIS DU COMITÉ !== AEOI_위원회의견서기본 ==! */
		WHERE   A.DEL_YN = 'N'					/** Suppression ON !== 삭제여부 ==! */
	    ORDER   BY  A.LAST_CHG_DTTM DESC
	</select>

    <!--
    [Gérer la consultation du comité technique] Consulter la liste !== [심의대상업체조회] 목록조회 ==!
    -->
	<select id="selectAeoAthrSynsDlbrTrgtCoList01"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsDlbrTrgtCoVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsDlbrTrgtCoVo">
		/* selectAeoAthrSynsDlbrTrgtCoList01 */
		<include refid="pagination.header"/>
		SELECT
			      T.WRIOP_REFF_NO           	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			    , T.WRIOP_REFF_TP_CD			/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
			    , T.DLBR_PT_CD                 	/** Code De Type De Contrôle !== 심사유형코드 ==! */
			    , T.CO_NM                      	/** Nom De L'Entreprise !== 업체명 ==! */
			    , T.NIF							/** NIF !== 납세번호 ==! */
			    , T.PRCS_STTS_CD               	/** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , T.PRCS_STTS_NM               	/** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , T.DTL_PRCS_STTS_CD           	/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , T.DTL_PRCS_STTS_NM            /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , T.AEO_ATHR_NO					/** Numéro d'OEA !== AEO공인번호 ==! */
			    , NVL(T.AEO_ATHR_NO, T.WRIOP_REFF_NO) AS AEO_REFF_NO
				, T.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
				, T.AEO_ATHR_GD_CD             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
				, T.AEO_ATHR_GD_NM             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
				, T.ATHR_STRT_DT               /** Date de commencement d'agrément !== 공인시작일자 ==! */
				, T.ATHR_END_DT                /** Date de fermeture d'agrément !== 공인종료일자 ==! */
				, T.ATHR_STTS_CD               /** Code d'état d'agrément !== 공인상태코드 ==! */
				, T.ATHR_STTS_NM               /** Code d'état d'agrément !== 공인상태코드 ==! */
				, T.JRSD_CSTM_CD               /** Code de bureau compétent !== 관할세관코드 ==! */
				, T.JRSD_CSTM_NM               /** Code de bureau compétent !== 관할세관코드 ==! */
				, T.AEO_AFFC_MGMT_RQST_NO      /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
				, T.MGMT_RQST_TP_CD            /** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
				, T.frstRgsrDttm               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, TO_CHAR(T.RQST_DTTM, 'dd/mm/yyyy') AS RQST_DTTM                      /** Date de la demande !== 신청일자 ==! */
				, T.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		 FROM	(
					SELECT
						      A.AEO_ATHR_RQST_NO AS WRIOP_REFF_NO           	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
						    , 'A' AS WRIOP_REFF_TP_CD							/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
						    , A.AUDT_PT_CD AS DLBR_PT_CD                 		/** Code De Type De Contrôle !== 심사유형코드 ==! */
						    , A.CO_NM                      						/** Nom De L'Entreprise !== 업체명 ==! */
						    , A.NIF												/** NIF !== 납세번호 ==! */
						    , A.PRCS_STTS_CD               						/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0015', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               		/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , A.DTL_PRCS_STTS_CD           						/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0017', A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM             /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , A.AEO_ATHR_NO										/** Numéro d'OEA !== AEO공인번호 ==! */
						    , A.LAST_CHG_DTTM                  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
						    , '' AS CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
						    , '' AS AEO_ATHR_GD_CD             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
						    , '' AS AEO_ATHR_GD_NM             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
						    , '' AS ATHR_STRT_DT               /** Date de commencement d'agrément !== 공인시작일자 ==! */
						    , '' AS ATHR_END_DT                /** Date de fermeture d'agrément !== 공인종료일자 ==! */
						    , '' AS ATHR_STTS_CD               /** Code d'état d'agrément !== 공인상태코드 ==! */
						    , '' AS ATHR_STTS_NM               /** Code d'état d'agrément !== 공인상태코드 ==! */
						    , '' AS JRSD_CSTM_CD               /** Code de bureau compétent !== 관할세관코드 ==! */
						    , '' AS JRSD_CSTM_NM               /** Code de bureau compétent !== 관할세관코드 ==! */
						    , '' AS AEO_AFFC_MGMT_RQST_NO      /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
						    , '' AS MGMT_RQST_TP_CD            /** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
						    , '' AS frstRgsrDttm               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
						    , A.RQST_DTTM                      /** Date de la demande !== 신청일자 ==! */
						    , A.AEO_ATHR_RQST_NO               /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
					 FROM
					 		  TB_AEOI_ATHR_RQST A              /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
					WHERE
							  A.DEL_YN = 'N'				   /** Suppression ON !== 삭제여부 ==! */
					  AND	  A.PRCS_STTS_CD = 'D30'
					  AND	  A.DTL_PRCS_STTS_CD = 'U24'

				    UNION ALL

					SELECT
						      A.AEO_ATHR_RQST_NO AS WRIOP_REFF_NO           	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
						    , 'A' AS WRIOP_REFF_TP_CD							/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
						    , 'DR' AS DLBR_PT_CD                 				/** Code De Type De Contrôle !== 심사유형코드 ==! */
						    , A.CO_NM                      						/** Nom De L'Entreprise !== 업체명 ==! */
						    , A.NIF												/** NIF !== 납세번호 ==! */
						    , A.PRCS_STTS_CD               						/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0015', A.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               		/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , A.DTL_PRCS_STTS_CD           						/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0017', A.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM             /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , A.AEO_ATHR_NO										/** Numéro d'OEA !== AEO공인번호 ==! */
						    , A.LAST_CHG_DTTM                  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
						    , '' AS CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
						    , '' AS AEO_ATHR_GD_CD             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
						    , '' AS AEO_ATHR_GD_NM             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
						    , '' AS ATHR_STRT_DT               /** Date de commencement d'agrément !== 공인시작일자 ==! */
						    , '' AS ATHR_END_DT                /** Date de fermeture d'agrément !== 공인종료일자 ==! */
						    , '' AS ATHR_STTS_CD               /** Code d'état d'agrément !== 공인상태코드 ==! */
						    , '' AS ATHR_STTS_NM               /** Code d'état d'agrément !== 공인상태코드 ==! */
						    , '' AS JRSD_CSTM_CD               /** Code de bureau compétent !== 관할세관코드 ==! */
						    , '' AS JRSD_CSTM_NM               /** Code de bureau compétent !== 관할세관코드 ==! */
						    , '' AS AEO_AFFC_MGMT_RQST_NO      /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
						    , '' AS MGMT_RQST_TP_CD            /** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
						    , '' AS frstRgsrDttm               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
						    , A.RQST_DTTM                      /** Date de la demande !== 신청일자 ==! */
						    , A.AEO_ATHR_RQST_NO               /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
					 FROM
					 		  TB_AEOI_ATHR_RQST A              /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
					WHERE
							  A.DEL_YN = 'N'				   /** Suppression ON !== 삭제여부 ==! */
					  AND	  (
					  			(A.PRCS_STTS_CD = 'D31' and A.DTL_PRCS_STTS_CD = 'U08')
					  			OR
					  			(A.PRCS_STTS_CD = 'D30' and A.DTL_PRCS_STTS_CD = 'U09')
					  			OR
				    			(A.PRCS_STTS_CD = 'D29' and A.DTL_PRCS_STTS_CD IN ('U32', 'U33', 'U79','U80','U81'))
				    		  )

				    UNION ALL

					SELECT
						      AR.AEO_AFFC_MGMT_RQST_NO AS WRIOP_REFF_NO           	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
						    , 'B' AS WRIOP_REFF_TP_CD								/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
						    , AR.MGMT_RQST_TP_CD AS DLBR_PT_CD                 		/** Code De Type De Contrôle !== 심사유형코드 ==! */
						    , CC.CO_NM                      						/** Nom De L'Entreprise !== 업체명 ==! */
						    , AC.NIF												/** NIF !== 납세번호 ==! */
						    , AR.PRCS_STTS_CD               						/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0016', AR.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               		/** Code De Statut De Traitement !== 처리상태코드 ==! */
						    , AR.DTL_PRCS_STTS_CD           						/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0018', AR.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM            /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
						    , AR.AEO_ATHR_NO										/** Numéro d'OEA !== AEO공인번호 ==! */
						    , AR.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
						    , AC.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
						    , AC.AEO_ATHR_GD_CD             /** Code de classement d'OEA !== AEO공인등급코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0005', AC.AEO_ATHR_GD_CD, #{langCd}) AS AEO_ATHR_GD_NM           /** Code de classement d'OEA !== AEO공인등급코드 ==! */
						    , TO_CHAR(TO_DATE(AC.ATHR_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_STRT_DT              /** Date de commencement d'agrément !== 공인시작일자 ==! */
						    , TO_CHAR(TO_DATE(AC.ATHR_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_END_DT                /** Date de fermeture d'agrément !== 공인종료일자 ==! */
						    , AC.ATHR_STTS_CD               /** Code d'état d'agrément !== 공인상태코드 ==! */
						    , FN_GET_CD_VDVAL_NM('AEO_0006', AC.ATHR_STTS_CD, #{langCd}) AS ATHR_STTS_NM               /** Code d'état d'agrément !== 공인상태코드 ==! */
						    , AC.JRSD_CSTM_CD               /** Code de bureau compétent !== 관할세관코드 ==! */
						    , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(AC.JRSD_CSTM_CD)) AS JRSD_CSTM_NM               /** Code de bureau compétent !== 관할세관코드 ==! */
						    , AR.AEO_AFFC_MGMT_RQST_NO		/** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
						    , AR.MGMT_RQST_TP_CD            /** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
						    , TO_CHAR(AR.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm			/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
						    , AR.RQST_DTTM                  /** Date de la demande !== 신청일자 ==! */
						    , CC.AEO_ATHR_RQST_NO			/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
					 FROM
					 		  TB_AEOI_AFFC_RQST AR          /** AEOI_DEMANDE ULTÉRIEURE !== AEOI_사후신청 ==! */
					  	    , TB_AEOI_ATHR_CO AC            /** AEOI_OPÉRATEURS AGRÉÉS !== AEOI_공인업체 ==! */
					  	    <!--, TB_COM_CO CC-->
					  	    , TB_AEOI_ATHR_RQST CC          /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
					WHERE
							  AR.DEL_YN = 'N'				/** Suppression ON !== 삭제여부 ==! */
					  AND	  AR.AEO_ATHR_NO = AC.AEO_ATHR_NO
		              AND	  AC.AEO_ATHR_NO = CC.AEO_ATHR_NO
					  <!--AND	  AC.NIF = CC.NIF-->
					  AND	  AR.PRCS_STTS_CD = 'D30'
					  AND	  AR.DTL_PRCS_STTS_CD = 'U24'

		 		) T
		WHERE	  1=1
	    ORDER BY  T.LAST_CHG_DTTM DESC
		<include refid="pagination.footer"/>
	</select>

    <!--
    [Gérer la consultation du comité technique] Consulter la liste !== [심의대상업체조회] 목록조회 ==!
    -->
	<select id="selectAeoAthrSynsDlbrTrgtCoList02"
	    parameterType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsDlbrTrgtCoVo"
	    resultType="alpass.ipt.aeo.athr.syns.vo.AeoAthrSynsDlbrTrgtCoVo">
		/* selectAeoAthrSynsDlbrTrgtCoList02 */
		<include refid="pagination.header"/>
		WITH T AS (
				   SELECT  *
				   FROM    TB_AEOI_CMIT_WRIOP_DTL A    /** AEOI_DÉTAIL DES AVIS DU COMITÉ !== AEOI_위원회의견서상세 ==! */
				   WHERE   A.cmit_metn_no = #{srchCmitMetnNo}
				   AND     A.wriop_tp_cd = 'B'
				   AND     EXISTS (SELECT 1 FROM TB_AEOI_CMIT_WRIOP_DTL B WHERE A.cmit_metn_no = B.cmit_metn_no AND A.wriop_reff_no = B.wriop_reff_no AND B.wriop_tp_cd = 'B')
				   UNION
				   SELECT  *
				   FROM    TB_AEOI_CMIT_WRIOP_DTL A    /** AEOI_DÉTAIL DES AVIS DU COMITÉ !== AEOI_위원회의견서상세 ==! */
				   WHERE   A.cmit_metn_no = #{srchCmitMetnNo}
				   AND     A.wriop_tp_cd = 'A'
				   AND     NOT EXISTS(SELECT 1 FROM TB_AEOI_CMIT_WRIOP_DTL B WHERE A.cmit_metn_no = B.cmit_metn_no AND A.wriop_reff_no = B.wriop_reff_no AND B.wriop_tp_cd = 'B')
		)
		SELECT
				AR.AEO_AFFC_MGMT_RQST_NO AS WRIOP_REFF_NO														/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			  , TT.WRIOP_TP_CD																					/** Code de classification d'avis !== 의견서구분코드 ==! */
			  , TT.WRIOP_REFF_TP_CD																				/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
			  , AR.MGMT_RQST_TP_CD AS DLBR_PT_CD																/** Code De Type De Contrôle !== 심사유형코드 ==! */
			  , CC.CO_NM																						/** Nom De L'Entreprise !== 업체명 ==! */
			  , AC.NIF																							/** NIF !== 납세번호 ==! */
			  , AR.PRCS_STTS_CD																					/** Code De Statut De Traitement !== 처리상태코드 ==! */
			  , FN_GET_CD_VDVAL_NM('AEO_0016', AR.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM						/** Code De Statut De Traitement !== 처리상태코드 ==! */
			  , AR.DTL_PRCS_STTS_CD																				/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			  , FN_GET_CD_VDVAL_NM('AEO_0018', AR.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM				/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			  , AR.AEO_ATHR_NO																					/** Numéro d'OEA !== AEO공인번호 ==! */
			  , AR.LAST_CHG_DTTM
		      , NVL(AR.AEO_ATHR_NO, AR.AEO_AFFC_MGMT_RQST_NO) AS AEO_REFF_NO
			  , AC.CO_CD																						/** Code De La Compagnie !== 업체코드 ==! */
			  , AC.AEO_ATHR_GD_CD																				/** Code de classement d'OEA !== AEO공인등급코드 ==! */
			  , FN_GET_CD_VDVAL_NM('AEO_0005', AC.AEO_ATHR_GD_CD, #{langCd}) AS AEO_ATHR_GD_NM					/** Code de classement d'OEA !== AEO공인등급코드 ==! */
			  , TO_CHAR(TO_DATE(AC.ATHR_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_STRT_DT						/** Date de commencement d'agrément !== 공인시작일자 ==! */
			  , TO_CHAR(TO_DATE(AC.ATHR_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ATHR_END_DT						/** Date de fermeture d'agrément !== 공인종료일자 ==! */
			  , AC.ATHR_STTS_CD																					/** Code d'état d'agrément !== 공인상태코드 ==! */
			  , FN_GET_CD_VDVAL_NM('AEO_0006', AC.ATHR_STTS_CD, #{langCd}) AS ATHR_STTS_NM						/** Code d'état d'agrément !== 공인상태코드 ==! */
			  , AC.JRSD_CSTM_CD																					/** Code de bureau compétent !== 관할세관코드 ==! */
			  , (SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_MGMT_CD = UPPER(AC.JRSD_CSTM_CD)) AS JRSD_CSTM_NM	/** Code de bureau compétent !== 관할세관코드 ==! */
			  , AR.AEO_AFFC_MGMT_RQST_NO																		/** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
			  , AR.MGMT_RQST_TP_CD																				/** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
			  , TO_CHAR(AR.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS frstRgsrDttm										/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			  , AR.RQST_DTTM																					/** Date de la demande !== 신청일자 ==! */
			  , CC.AEO_ATHR_RQST_NO																				/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		FROM    (SELECT * FROM T WHERE wriop_reff_tp_cd = 'B') TT
			  , TB_AEOI_AFFC_RQST AR    /** AEOI_DEMANDE ULTÉRIEURE !== AEOI_사후신청 ==! */
			  , TB_AEOI_ATHR_CO AC      /** AEOI_OPÉRATEURS AGRÉÉS !== AEOI_공인업체 ==! */
			  , TB_AEOI_ATHR_RQST CC    /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
		WHERE   TT.WRIOP_REFF_NO = AR.AEO_AFFC_MGMT_RQST_NO
		AND	    AR.AEO_ATHR_NO = AC.AEO_ATHR_NO
		AND	    AC.AEO_ATHR_NO = CC.AEO_ATHR_NO
		AND     TT.DEL_YN = 'N'
		UNION
		SELECT
				CC.AEO_ATHR_RQST_NO AS WRIOP_REFF_NO														/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			  , TT.WRIOP_TP_CD																				/** Code de classification d'avis !== 의견서구분코드 ==! */
			  , TT.WRIOP_REFF_TP_CD																			/** Code de numéro de référence d'avis !== 의견서참조구분코드 ==! */
			  , CC.AUDT_PT_CD AS DLBR_PT_CD																	/** Code De Type De Contrôle !== 심사유형코드 ==! */
			  , CC.CO_NM																					/** Nom De L'Entreprise !== 업체명 ==! */
			  , CC.NIF																						/** NIF !== 납세번호 ==! */
			  , CC.PRCS_STTS_CD																				/** Code De Statut De Traitement !== 처리상태코드 ==! */
			  , FN_GET_CD_VDVAL_NM('AEO_0015', CC.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM					/** Code De Statut De Traitement !== 처리상태코드 ==! */
			  , CC.DTL_PRCS_STTS_CD																			/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			  , FN_GET_CD_VDVAL_NM('AEO_0017', CC.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM			/** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			  , CC.AEO_ATHR_NO																				/** Numéro d'OEA !== AEO공인번호 ==! */
			  , CC.LAST_CHG_DTTM
		      , NVL(CC.AEO_ATHR_NO, CC.AEO_ATHR_RQST_NO) AS AEO_REFF_NO
			  , '' AS CO_CD																					/** Code De La Compagnie !== 업체코드 ==! */
			  , '' AS AEO_ATHR_GD_CD																		/** Code de classement d'OEA !== AEO공인등급코드 ==! */
			  , '' AS AEO_ATHR_GD_NM																		/** Code de classement d'OEA !== AEO공인등급코드 ==! */
			  , '' AS ATHR_STRT_DT																			/** Date de commencement d'agrément !== 공인시작일자 ==! */
			  , '' AS ATHR_END_DT																			/** Date de fermeture d'agrément !== 공인종료일자 ==! */
			  , '' AS ATHR_STTS_CD																			/** Code d'état d'agrément !== 공인상태코드 ==! */
			  , '' AS ATHR_STTS_NM																			/** Code d'état d'agrément !== 공인상태코드 ==! */
			  , '' AS JRSD_CSTM_CD																			/** Code de bureau compétent !== 관할세관코드 ==! */
			  , '' AS JRSD_CSTM_NM																			/** Code de bureau compétent !== 관할세관코드 ==! */
			  , '' AS AEO_AFFC_MGMT_RQST_NO																	/** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
			  , '' AS MGMT_RQST_TP_CD																		/** Code de classification de gestion ultérieure d'OEA !== 사후관리신청구분코드 ==! */
			  , '' AS frstRgsrDttm																			/** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			  , CC.RQST_DTTM																				/** Date de la demande !== 신청일자 ==! */
			  , CC.AEO_ATHR_RQST_NO																			/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		FROM    (SELECT * FROM T WHERE wriop_reff_tp_cd = 'A') TT
			  , TB_AEOI_ATHR_RQST CC    /** AEOI_DEMANDE D'AGRÉMENT !== AEOI_공인신청 ==! */
		WHERE   TT.WRIOP_REFF_NO = CC.AEO_ATHR_RQST_NO
		AND     TT.DEL_YN = 'N'
		<include refid="pagination.footer"/>
	</select>
</mapper>