<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.vhcl.pdr.dre.mapper.PscIbnDedComMapper">
    <!--
	@TODO 번역필요
	!== 외부 DED신고서 정보 조회 ==!
	-->
    <select id="selectEsntDedComnExt" resultType="java.util.HashMap">
        /* selectEsntDedComnExt */
        SELECT reff_no
             , mdfy_dgcnt
             , rqst_dt
             , dclr_pt_cd
             , dclr_cstm_cd
             , epc_cd
             , cscl_pln_cd
             , owhs_prc_ev_yn
             , cag_mgmt_no
             , dtl_dcsh_no
             , imppn_idfy_no_tp_cd
             , pckg_tgcnt
             , al_ttwg
        FROM alpassext.tb_clre_ded_comn
        WHERE reff_no = #{reffNo}
          AND mdfy_dgcnt = #{mdfyDgcnt}
    </select>

    <!--
    @TODO 번역필요
    !== 내부 DED신고서 정보 조회 ==!
    -->
    <select id="selectEsntDedComnInt" resultType="java.util.HashMap">
        /* selectEsntDedComnInt */
        SELECT NVL(t1.reff_no, '')
            , t1.dclr_cstm_cd
             , t1.dept_cd
             , t1.dclr_pt_cd
             , t1.epc_cd
             , t1.cscl_pln_cd
             , t1.rqst_dt
             , t1.dclr_dt
             , t1.prcs_stts_cd
             , t1.owhs_prc_ev_yn
             , t1.cntr_cag_yn
             , t1.selc_rslt_cd
             , t1.audt_emp_id
             , t1.cag_mgmt_no
             , t1.dtl_dcsh_no
             , t1.pckg_tgcnt
             , t1.al_ttwg
             , t1.cmdt_stge_loct_cd
             , t1.imppn_idfy_no_tp_cd
             , (SELECT cag_cmvl_yn FROM tb_clri_epc_cd WHERE epc_cd = t1.epc_cd AND NVL(t1.RQST_DT,TO_CHAR(CURRENT_DATE,'YYYYMMDD')) BETWEEN EPC_APLY_STRT_DT AND EPC_APLY_END_DT) AS cag_cmvl_yn
        FROM tb_clri_ded_comn t1
        WHERE t1.dtl_dcsh_no = #{dtlDcshNo}
    </select>

    <!--
    @TODO 번역필요
    !== 내부 DED신고서 수리여부 조회 ==!
    -->
    <select id="selectDedComnAcptYn" resultType="string">
	<![CDATA[
        /* selectDedComnAcptYn */
        SELECT acpt_yn
        FROM tb_clri_ded_comn
        WHERE dtl_dcsh_no = #{dtlDcshNo}
        ]]>
	</select>

    <!--
    Vérification de l'existence de marchandise enlevée avec le numéro DED
    !== 해당 DED번호로 화물반출 존재여부 확인 ==!
    -->
    <select id="selectDedComnExitYn" resultType="string">
        /* selectDedComnExitYn */
        /* ClriIbnSadCom_selectSadComnExitYn */
        SELECT DECODE(NVL(SUM(DECODE(NVL(Y.RELA_NO, X.RELA_NO), A.DTL_DCSH_NO, 1, 0)), 0), 0, 'N', 'Y') AS EXIT_YN
        FROM TB_CLRI_DED_COMN A
           , TB_CARI_RLBR X                                          /* CARI_반출입 */
           , TB_CARI_TRNP Y                                          /* CARI_운송 (+) */
        WHERE A.DTL_DCSH_NO        = #{dtlDcshNo}
          AND X.CAG_MGMT_NO   = A.CAG_MGMT_NO                                               /* 화물관리번호 */
          AND X.ibobz_cd  = DECODE(A.DCRD_YN, 'Y', X.ibobz_cd, A.CMDT_STGE_LOCT_CD) /* 보세창고코드 */
          AND X.RLBR_TP_CD    = 'O'                                                         /* 반출입구분코드: O|반출 */
          AND X.RLBR_PT_CD    IN ('50', '51', '52', '60', '61')                             /* 반출입유형코드 : '50', '51', '52', '60', '61' */
          AND X.DEL_YN        = 'N'
          AND X.RELA_NO       = Y.TRNP_RQST_NO(+)
          AND Y.DEL_YN(+)     = 'N'
          AND EXISTS (SELECT 1
                      FROM TB_CARI_CAG_PRCS_BRKD
                      WHERE DEL_YN = 'N'
                        AND PRCS_STTS_CD IN ('D08', 'D10')
                        AND cag_rqst_no = X.rlbr_rqst_no
            ) /* 처리상테 : 'D08', 'D10' (처리상태가 승인 혹은 자동승인인 건만 조회)*/
    </select>

    <!--
    @TODO 번역필요
    !== 내부 DED신고 정정신청 가능여부 확인() ==!
    -->
    <select id="checkDedDclrMdfyPsbl" resultType="String">
        /* checkDedDclrMdfyPsbl */
        SELECT t1.prcs_stts_cd
        FROM tb_clri_ded_comn t1
        WHERE t1.del_yn = 'N'
          AND t1.dtl_dcsh_no = #{dtlDcshNo}
          AND t1.prcs_stts_cd IN ( 'D02', 'F01' )  /** 심사 상태  **/
    </select>

    <!--
    @TODO 번역필요
    !== 내부 DED신고 취소신청 가능여부 확인() ==!
    -->
    <select id="checkDedDclrCnclPsbl" resultType="String">
        /* checkDedDclrCnclPsbl */
        SELECT dtl_dcsh_no
        FROM tb_clri_ded_comn
        WHERE dtl_dcsh_no = #{dtlDcshNo}
          AND (
                    prcs_stts_cd IN ('A04','B01','B02','C02','G01','G03','G04 ','D07')  /** 수신완료,세관 배부,심사자 배부,선별완료,취소 접수,취소완료,직권취소,물품반출 */
                OR
                    0 <![CDATA[ < ]]> (  /** 직권취소 상태 */
                        SELECT COUNT(1) FROM TB_CLRI_DED_CLDL_CLOA
                        WHERE DTL_DCSH_NO = #{dtlDcshNo}
                          AND DEL_YN = 'N'
                          AND LAST_YN = 'Y'
                    )
            )


    </select>

    <!--
    @TODO 번역필요
    !== 신고인 사업자번호 조회 ==!
    -->
    <select id="selectDcerNif" resultType="string">
        /* selectDcerTin */
        SELECT
            A.NIF                        /** @TODO : 번역필요 !== 사업자등록번호 ==! */
        FROM   TB_COM_CO_DCLR_CD_USER_REL A
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
          AND  A.CO_DCLR_CD = #{dcerCd}
          AND ROWNUM = 1
    </select>

    <!--
    @TODO 번역필요
    !== DED신고 처리내역 저장 ==!
    -->
    <insert id="insertDedPrcsBrkd" parameterType="alpass.ipt.psc.com.vo.ClrDedPrcsBrkdVo">
        /* insertDedPrcsBrkd */
        /* ClriIbnSadCom_insertSadPrcsBrkd */
        INSERT
        INTO tb_clri_ded_prcs_brkd
        ( dtl_dcsh_no
        , prcs_srno
        , prcs_stts_cd
        , prcs_stts_pr_prfr_cd
        , prcs_dtrm_dttm
        , prcs_stts_cn
        , hist_srno
        , del_yn
        , frst_regst_id
        , frst_rgsr_dttm
        , last_chpr_id
        , last_chg_dttm )
        VALUES
            ( #{dtlDcshNo}
            , (SELECT NVL(MAX(prcs_srno)+1,1) FROM tb_clri_ded_prcs_brkd WHERE dtl_dcsh_no = #{dtlDcshNo})
            , #{prcsSttsCd}
            , #{prcsSttsPrPrfrCd}
            , SYSDATE
            , #{prcsSttsCn}
            , (SELECT hist_srno FROM tb_clri_ded_comn WHERE dtl_dcsh_no = #{dtlDcshNo})
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP )
    </insert>

    <!--
    @TODO 번역필요
    !== (신규신청)외부 DED신고 DED번호 업데이트 ==!
    -->
    <update id="updateDtlDcshNoDedComnExt" parameterType="alpass.ipt.psc.vhcl.pdr.dre.vo.ClrIbnDedCondVo">
        /* updateDtlDcshNoDedComnExt */
        UPDATE alpassext.tb_clre_ded_comn
        SET dtl_dcsh_no = #{dtlDcshNo}
          , last_chpr_id = #{lastChprId}
          , last_chg_dttm = SYSTIMESTAMP
        WHERE reff_no = #{reffNo}
          AND mdfy_dgcnt = #{mdfyDgcnt}
    </update>

    <!--
    @TODO 번역필요
    !== (정정신청)외부 DED신고 최종여부 해제 업데이트 ==!
    -->
    <update id="updateClearLastYnDedComnExt" parameterType="alpass.ipt.psc.vhcl.pdr.dre.vo.ClrIbnDedCondVo">
        /* updateClearLastYnDedComnExt */
        UPDATE alpassext.tb_clre_ded_comn
        SET last_yn = 'N'
          , last_chpr_id = #{lastChprId}
          , last_chg_dttm = SYSTIMESTAMP
        WHERE reff_no = #{reffNo}
          AND last_yn = 'Y'
    </update>

    <!--
    @TODO 번역필요
    !== (정정신청)외부 DED신고 최종여부 설정 업데이트 ==!
    -->
    <update id="updateSetLastYnDedComnExt" parameterType="alpass.ipt.psc.vhcl.pdr.dre.vo.ClrIbnDedCondVo">
        /* updateSetLastYnDedComnExt */
        UPDATE alpassext.tb_clre_ded_comn
        SET last_yn = 'Y'
          , last_chpr_id = #{lastChprId}
          , last_chg_dttm = SYSTIMESTAMP
        WHERE reff_no = #{reffNo}
          AND mdfy_dgcnt = #{mdfyDgcnt}
    </update>

    <!--
    @TODO 번역필요
    !== 내부 DED신고 취소 처리상태 업데이트 ==!
    -->
    <update id="updateDclrCnclDedComnInt" parameterType="alpass.ipt.psc.vhcl.pdr.dre.vo.ClrIbnDedCondVo">
        /* updateDclrCnclDedComnInt */
        UPDATE tb_clri_ded_comn
        SET prcs_stts_cd = #{prcsSttsCd}
          , cncl_dclr_rcpn_yn = #{cnclDclrRcpnYn}
          , last_chpr_id = #{lastChprId}
          , last_chg_dttm = SYSTIMESTAMP
          , HIST_SRNO = (SELECT MAX(hist_srno) + 1 FROM tb_clri_ded_comn_h WHERE dtl_dcsh_no = #{dtlDcshNo})
          , audt_emp_id = #{audtEmpId}
        WHERE dtl_dcsh_no = #{dtlDcshNo}
    </update>

    <!--
    @TODO 번역필요
    !== 포털 TO-DO 완료 처리 ==!
    -->
    <update id="updateCmplPotTodo" parameterType="alpass.com.todo.vo.ComTodoVo">
        /* updateCmplPotTodo */
        UPDATE TB_POTI_TODO
        SET TODO_STTS_CD = 'B'                   /** Code de statut de l'à faire !== 할일상태코드 ==! */
        , LAST_CHPR_ID = #{lastChprId}			/** ID du modificateur final !== 최종변경자ID ==! */
        , LAST_CHG_DTTM = SYSTIMESTAMP			/** Date et heure de modification finale !== 최종변경일시 ==! */
        WHERE DEL_YN = 'N'
        AND TODO_STTS_CD = 'A'                    /** Code de statut de l'à faire !== 할일상태코드 ==! */
        AND BSOP_CLSF_CD = #{bsopClsfCd}          /** Code de type de travail !== 업무분류코드 ==! */
        AND TODO_REFF_NO = #{todoReffNo}          /** N° de référence !== 참조번호 ==! */
        <if test="todoBsopTpCd != null and todoBsopTpCd != ''">
            AND TODO_BSOP_TP_CD = #{todoBsopTpCd}     /** Code de catégorie des tâches à faire !== 할일업무구분코드 ==! */
        </if>
        <if test="mdfyDgcnt != null and mdfyDgcnt != ''">
            AND MDFY_DGCNT = #{mdfyDgcnt}             /** Nombre de fois !==차수==! */
        </if>
        <if test="docDtlCd != null and docDtlCd != ''">
            AND DOC_DTL_CD = #{docDtlCd}              /** Code détaillé de document !==문서상세코드==! */
        </if>
        <if test="chpnId != null and chpnId != ''">
            AND CHPN_ID = #{chpnId}                   /** ID de charge !== 담당자ID ==! */
        </if>
    </update>

    <!--
    Consultation des informations pour le transfert des informations de suivi de la marchandise
    !== 화물추적정보 전송을 위한 정보 조회 ==!
    -->
    <select id="selectDedComnForCagTrcnInfo" resultType="alpass.ipt.car.com.vo.CarCgtrBlPrcsVo">
        /* selectDedComnForCagTrcnInfo */
        SELECT  A.CAG_MGMT_NO                     /** CRN !== 화물관리번호 ==! */
             , A.PRCS_STTS_CD                  /** Code de statut de traitement !== 처리상태코드 ==! */
             , A.DCLR_PT_CD AS CAG_RQST_TP_CD  /** Code de type de déclaration !== 신고유형코드 ==! */
             , A.EPC_CD AS RQST_RFER_NO        /** Code EPC !== EPC코드 ==! */
             , A.DTL_DCSH_NO AS RQST_NO             /** Numéro du DAU !== DED번호 ==! */
             , A.PCKG_TGCNT AS PRCS_PCKG_GCNT  /** Nombre total de colis !== 포장총개수 ==! */
             , A.AL_TTWG AS PRCS_TTWG          /** Poids brut total !== 전체총중량 ==! */
             , A.DCER_CD AS TRSN_CO_CD         /** Code du déclarant !== 신고인코드 ==! */
             , A.CMDT_STGE_LOCT_CD AS WRHS_CD  /** @TODO : 번역필요 !== 물품장치위치코드 ==! */
             , A.BNBN_CMDT_WRHS_CD AS ZONE_CD  /** @TODO : 번역필요 !== 보세물품창고코드 ==! */
        FROM tb_clri_ded_comn A
        WHERE A.DEL_YN = 'N' AND A.dtl_dcsh_no = #{rqstNo}
    </select>

    <!--
    @TODO 번역필요
    !== 후속 T1 신고서 건수 조회 ==!
    -->
    <select id="selectCagTrnPrcsBrkdCnt" resultType="string">
        /* selectCagTrnPrcsBrkdCnt */
		<![CDATA[
        SELECT "EXISTS"
        FROM ALPASSINT.TB_CARI_TRNP A,
             ALPASSINT.TB_CARI_CAG_PRCS_BRKD P
        WHERE A.RELA_NO        = #{dtlDcshNo}
          AND A.DEL_YN         = 'N'
          AND P.CAG_RQST_TP_CD = 'TRN'
          AND P.RQST_NO        = A.TRNP_RQST_NO
          AND P.PRCS_STTS_CD NOT IN ('D09', 'G03') /* 기각(거절), 취소 제외) */
          AND P.DEL_YN         = 'N'
          AND ROWNUM = 1
        ]]>
    </select>

    <!--
    @TODO 번역필요
    !== 사후심사 부서처리 여부 조회==!
    -->
    <select id="selectDedAcptDcrdYn" resultType="java.lang.String">
        /* ClreIbnVrfcBsop_selectSadAcptDcrdYn */
        SELECT CASE WHEN C.ACPT_YN = 'Y' AND ( A.INSC_PLC_TP_CD IS NULL OR A.INSC_PLC_TP_CD = 'A' ) THEN 'Y'                   /* SAD수리 AND 검사건아니거나 또는 세관검사장검사인 경우 THEN => 사후심사부서처리(Y) */
                    WHEN C.ACPT_YN = 'Y' AND ( A.INSC_PLC_TP_CD IN ('B', 'C') AND B.IPRT_PRCS_STTS_CD IS NOT NULL ) THEN 'Y'   /* SAD수리 AND IF ( B:방문검사, C:방문통관검사) AND 검사완료상태 THEN => 사후심사부서처리(Y) */
                    ELSE 'N'
                   END AS POST_AUDIT_YN
        FROM ALPASSINT.TB_CLRI_DED_COMN  A,
             ALPASSINT.TB_CLRI_DED_INSC_RSLT B,
             (
                 SELECT
                     DECODE(SUM(CNT), 0, 'N', 'Y') AS ACPT_YN
                 FROM (
                          SELECT COUNT(1) CNT
                          FROM ALPASSINT.TB_CLRI_DED_PRCS_BRKD
                          WHERE DEL_YN = 'N'
                            AND PRCS_STTS_CD IN ('D04', 'D07')
                            AND DTL_DCSH_NO = #{dtlDcshNo}
                          UNION ALL
                          SELECT COUNT(1) CNT
                          FROM ALPASSINT.TB_CLRI_DED_COMN
                          WHERE DEL_YN = 'N'
                            AND PRCS_STTS_CD IN ('D04', 'D07')
                            AND DTL_DCSH_NO = #{dtlDcshNo}
                          UNION ALL
                          SELECT COUNT(1) CNT
                          FROM ALPASSINT.TB_CLRI_DED_COMN_H
                          WHERE DEL_YN = 'N'
                            AND PRCS_STTS_CD IN ('D04', 'D07')
                            AND DTL_DCSH_NO = #{dtlDcshNo}
                      )
             ) C
        WHERE A.DTL_DCSH_NO = #{dtlDcshNo}
          AND A.DTL_DCSH_NO = B.DTL_DCSH_NO(+)
          AND B.DEL_YN(+) = 'N'
          AND B.IPRT_PRCS_STTS_CD(+) = 'DD5'
    </select>

    <!--
    @TODO 번역필요
    !== 사후심사 세관 배부 여부 ==!
    -->
    <select id="selectDedOrgnTpCdBtYn" resultType="java.lang.String">
        /* ClreIbnVrfcBsop_selectSadOrgnTpCdBtYn */
        SELECT DECODE(count(1), 0, 'N', 'Y')
        FROM ALPASSINT.TB_POTI_ORGN
        WHERE ORGN_TP_CD IN ('CO') /* ('BT') 사후심사 세관 OR 부서 */
          AND ORGN_CD IN ( SELECT DCLR_CSTM_CD FROM ALPASSINT.TB_CLRI_DED_COMN  WHERE DTL_DCSH_NO = #{dtlDcshNo})
    </select>

    <!--
	@TODO 번역필요
	!== 임의,균등 심사자 배부 심사자 조회 (gap의 max에서 gap을 뺀 값이 설정값보다 작아야 함) ==!
	-->
    <select id="selectRndEqlHnotAdor" resultType="java.lang.String">
	<![CDATA[
        /** ClreIbnSadInbnd_selectRndEqlHnotAdor */
        SELECT audt_emp_id
        FROM (
                 SELECT audt_emp_id
                 FROM (
                          SELECT audt_emp_id
                               , (MAX(gap_audit_cnt) OVER() - gap_audit_cnt) AS comp_cnt
                          FROM (
                                   SELECT t1.audt_emp_id
                                        , MAX(NVL(t2.hnot_gcnt,0)) OVER() - NVL(t2.hnot_gcnt,0) AS gap_audit_cnt
                                   FROM tb_clri_ador_bhnot_audt_emp t1
                                      , tb_clri_ador_hnot_stats_bscs t2
                                   WHERE t1.cstm_cd = #{dclrCstmCd}
                                     AND t1.dept_cd = NVL(#{deptCd},'NONE')
                                     AND t1.del_yn = 'N'
                                     AND t1.cstm_cd = t2.cstm_cd(+)
                                     AND t1.dept_cd = t2.dept_cd(+)
                                     AND t2.hnot_dt(+) = TO_CHAR(SYSDATE,'YYYYMMDD')
                                     AND t1.audt_emp_id = t2.audt_emp_id(+)
                                     AND t2.del_yn(+) = 'N'
                               )
                      )
                 WHERE comp_cnt <  #{maxGapCnt}
                 ORDER BY RANDOM ()
             )
        WHERE ROWNUM = 1
        ]]>
	</select>

    <!--
    @TODO 번역필요
    !== 세관코드, 부서코드, 심사자  NULL처리==!
    -->
    <update id="updateDedCstmDeptAudtEmpty" parameterType="alpass.ipt.psc.vhcl.pdr.dre.vo.ClrIbnDedCondVo">
        /* ClreIbnSadInbnd_updateSadCstmDeptAudtEmpty */
        UPDATE tb_clri_ded_comn SET
            DCLR_CSTM_CD = null               /** Code de bureau de déclaration !== 신고세관코드 ==! */
          , DEPT_CD = null                  /** Code de section !== 부서코드 ==! */
          , AUDT_EMP_ID  = null             /** ID de la personne vérifiant !== 심사직원ID ==! */
          , DEPT_HNOT_PRCS_YN = 'N'         /**!== 부서배부처리여부 ==! */
          , ADOR_HNOT_PRCS_YN = 'N'         /**!== 심사자배부처리여부 ==! */
        where DTL_DCSH_NO = #{dtlDcshNo}
    </update>





    <!--
    @TODO 번역필요
    !== 신고 가능 대상 샤시번호 조회 ==!
    -->
    <select id="selectVhclChssNoList" resultType="alpass.ipt.psc.vhcl.pdr.dre.vo.ClrDedVhclVo">
        SELECT
            CHSS_NO
        FROM
            tb_cari_cag_dcsh_bl_vhcl
        WHERE
            CAG_MGMT_NO = #{cagMgmtNo}
          AND    DEL_YN = 'N'
            MINUS
        SELECT
            B.CHSS_NO
        FROM
            TB_CLRI_DED_COMN A
           , TB_CLRI_DED_VHCL B
        WHERE
            A.CAG_MGMT_NO = #{cagMgmtNo}
          AND    A.DTL_DCSH_NO      = B.DTL_DCSH_NO
          AND    A.PRCS_STTS_CD NOT IN ('A01', 'G03', 'G04')
          AND    A.DEL_YN = 'N'
          AND    B.DEL_YN = 'N'
    </select>
    
   

</mapper>
