<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rsmComPrflMapper">

    <sql id="selectNifInfoList">
        SELECT
              DISTINCT
              RSM.NIF             /** NIF !== 납세번호 ==! */
            , POT.CO_NM           /** Entreprise !== 업체명 ==! */
            , POT.CO_ADDR         /** Adresse de l'entreprise !== 업체주소 ==! */
            , POT.RPRS_TLPH_NO    /** N° de telephone principale !== 대표전화번호 ==! */
            , POT.RPRS_FAX_NO     /** N° de fax principal !== 대표팩스번호 ==! */
            , (SELECT CO_DCLR_CD FROM TB_COM_CO_DCLR_CD WHERE NIF = RSM.NIF AND CO_DCLR_TP_CD = 'H' AND ROWNUM =1) AS DECR_CD   /** Code De Déclaration De L'Entreprise !== 업체신고코드 ==! */
            , (SELECT AEO_ATHR_NO FROM TB_AEOI_ATHR_CO WHERE ATHR_STTS_CD = 'AS1' AND NIF = RSM.NIF) AS AEO_ATHR_NO     /** Numéro d'OEA !== AEO공인번호 ==! */
        FROM  TB_RSMI_CO_PRFL_BSCS_INFO RSM
            , (SELECT
                      A.NIF AS NIF              /** NIF !== 납세번호 ==! */
                    , DECODE(B.CO_NM, NULL, A.CONM, B.CO_NM) AS CO_NM           /** Entreprise !== 업체명 ==! */
                    , A.MN_BIZ_NM               /** Nom de l'activité principale !== 주요사업명 ==! */
                    , B.RPRS_TLPH_NO            /** N° De Téléphone Principale !== 대표전화번호 ==! */
                    , B.CO_ADDR                 /** Adresse De L'Entreprise  !== 업체주소 ==! */
                    , B.RPRS_EML                /** Email Principal !== 대표이메일 ==! */
                    , B.CO_TP_CD                /** Code De Type D'Entreprise  !== 업체구분코드 ==! */
                    , B.RPRS_FAX_NO             /** N° De Fax Principal !== 대표팩스번호 ==! */
                FROM  TB_POTE_NIF A
                    , TB_COM_CO B
                WHERE
                       A.DEL_YN = 'N'           /** Suppression On !== 삭제여부 ==! */
                   AND B.DEL_YN(+) = 'N'
                   AND A.NIF = B.NIF(+)         /** NIF !== 납세번호 ==! */
                   AND A.NIF_STTS_CD != '0'     /** Statut NIF !== NIF 상태 ==! */
                ) POT
        WHERE RSM.DEL_YN = 'N'                  /** Suppression On !== 삭제여부 ==! */
        <if test='nif != null and nif != ""'>
            AND   RSM.NIF = #{nif}              /** NIF !== 납세번호 ==! */
        </if>
        AND   RSM.NIF = POT.NIF
        ORDER BY RSM.NIF
    </sql>

    <sql id="selectCsbrInfoList">
        SELECT
              DISTINCT
              NVL(RSM.NIF, POT.NIF) AS NIF             /** NIF !== 납세번호 ==! */
            , POT.CO_NM           /** Entreprise !== 업체명 ==! */
            , POT.CO_ADDR         /** Adresse de l'entreprise !== 업체주소 ==! */
            , POT.RPRS_TLPH_NO    /** N° de telephone principale !== 대표전화번호 ==! */
            , POT.RPRS_FAX_NO     /** N° de fax principal !== 대표팩스번호 ==! */
            , POT.CO_DCLR_CD      /** Code d'activité de l'entreprise !== 업체신고코드 ==! */
        FROM  TB_RSMI_CO_PRFL_BSCS_INFO RSM
            , (SELECT
                      nvl(A.NIF, b.nif) AS NIF      /** NIF !== 납세번호 ==! */
                    , DECODE(B.CO_NM, NULL, A.CONM, B.CO_NM) AS CO_NM           /** Entreprise !== 업체명 ==! */
                    , A.MN_BIZ_NM                   /** Nom de l'activité principale !== 주요사업명 ==! */
                    , B.RPRS_TLPH_NO                /** N° De Téléphone Principale !== 대표전화번호 ==! */
                    , B.CO_ADDR                     /** Adresse De L'Entreprise  !== 업체주소 ==! */
                    , B.RPRS_EML                    /** Email Principal !== 대표이메일 ==! */
                    , B.CO_TP_CD                    /** Code De Type D'Entreprise  !== 업체구분코드 ==! */
                    , B.RPRS_FAX_NO                 /** N° De Fax Principal !== 대표팩스번호 ==! */
                    , B.CO_DCLR_CD                  /** Code d'activité de l'entreprise !== 업체신고코드 ==! */
                FROM  TB_POTE_NIF A
                    , (
				        SELECT
				              CO.NIF                    /** NIF !== 납세번호 ==! */
				            , CO.CO_NM                  /** Entreprise !== 업체명 ==! */
				            , DCLR.CO_DCLR_CD           /** Code De Déclaration De L'Entreprise !== 업체신고코드 ==! */
				            , DCLR.CO_DCLR_TP_CD        /** Code De Catégorie De Déclarations D'Entreprises !== 업체신고구분코드 ==! */
				            , FN_GET_CD_VDVAL_NM('COM_0030', DCLR.CO_DCLR_TP_CD, NVL(#{langCd}, 'KO')) AS CO_DCLR_TP_NM         /** Nom De Catégorie De Déclarations D'Entreprises !== 업체신고구분 ==! */
				            , DCLR.CARR_CD              /** Code De Société De Transport !== 운송사코드 ==! */
				            , FN_GET_CD_VDVAL_NM('COM_0008', DCLR.CARR_CD, NVL(#{langCd}, 'KO')) AS CARR_NM         /** Nom de Code De Société De Transport !== 운송사코드명 ==! */
				            , CO.DEL_YN                 /** Suppression On !== 삭제여부 ==! */
				            , CO.RPRS_TLPH_NO           /** N° de telephone principale !== 대표전화번호 ==! */
				            , CO.CO_ADDR                /** Adresse De L'Entreprise !== 업체주소 ==! */
				            , CO.RPRS_EML               /** Email Principal !== 대표이메일 ==! */
				            , CO.CO_TP_CD               /** Code de type d'entreprise  !== 업체구분코드 ==! */
				            , CO.RPRS_FAX_NO            /** N° de fax principal !== 대표팩스번호 ==! */
				        FROM
				            TB_COM_CO CO,
				            TB_COM_CO_DCLR_CD DCLR
				        WHERE
				            CO.NIF = DCLR.NIF       /** NIF !== 납세번호 ==! */
				        AND CO.DEL_YN = 'N'         /** Suppression On !== 삭제여부 ==! */
				        AND DCLR.DEL_YN = 'N'
                        <if test='coDclrTpCd != null and coDclrTpCd != ""'>
                            AND DCLR.CO_DCLR_TP_CD = #{coDclrTpCd}  /* H : CDA  !== 관세사  ==!*/
                        </if>
                    ) B
                WHERE
                       A.DEL_YN(+) = 'N'                /** Suppression On !== 삭제여부 ==! */
                   AND B.DEL_YN(+) = 'N'
                   AND A.NIF(+) = B.NIF                 /** NIF !== 납세번호 ==! */
                   AND A.NIF_STTS_CD(+) != '0'
                ) POT
        WHERE RSM.DEL_YN(+) = 'N'
        <if test='nif != null and nif != ""'>
            AND   RSM.NIF = #{nif}
        </if>
        AND   RSM.NIF(+) = POT.NIF                  /** NIF !== 납세번호 ==! */
        AND   RSM.PRFL_TP_CD = 'D'                  /** Code de type de profils !== 프로파일구분코드 ==! */
        AND   POT.CO_DCLR_CD IS NOT NULL            /** Code d'activité de l'entreprise !== 업체신고코드 ==! */
        ORDER BY POT.CO_DCLR_CD, NVL(RSM.NIF, POT.NIF)
    </sql>

    <sql id="selectPrflPdlsInfo">
        WITH IMEX_INFO AS (
            SELECT HS_CD                            /** Code Sh !== HS코드 ==! */
                , SUM(DCLR_CNT) as DCLR_CNT
                , SUM(CASE WHEN IMEX_TP_CD = 'IMP' THEN DCLR_CNT END) as IMP_DCLR_CNT       /**  Nbr d’importations !== 수입건수 ==! */
                , SUM(CASE WHEN IMEX_TP_CD = 'EXP' THEN DCLR_CNT END) AS EXP_DCLR_CNT       /**  Nbr d'exportations !== 수출건수 ==! */
            FROM TB_RSMI_HS_IMEX_ACRS
            WHERE DEL_YN = 'N'
            <if test='hsCd != null and hsCd != ""'>
              AND HS_CD = #{hsCd}                   /** Code Sh !== HS코드 ==! */
            </if>
            GROUP BY HS_CD
        )
        , HS_INFO AS (
                SELECT
                         HS.HS_CD                               /** Code Sh !== HS코드 ==! */
                       , HS.HS_CLSF_CD                          /** Code De Classification Du Sh !== HS분류코드 ==! */
                       , TO_CHAR(TO_DATE(HS.HS_APLY_STRT_DT,'YYYYMMDD'),'DD/MM/YYYY') AS HS_APLY_STRT_DT            /** Date De Début De L'Application Du Sh !== HS적용시작일자 ==! */
                       , TO_CHAR(TO_DATE(HS.HS_APLY_END_DT,'YYYYMMDD'),'DD/MM/YYYY') AS HS_APLY_END_DT              /** Date De Fin De L'Application Du Sh !== HS적용종료일자 ==! */
                       , HS.UPR_HS_CD                           /** Code Sh Supérieur !== 상위HS코드 ==! */
                       , TO_CHAR(TO_DATE(HS.UPR_HS_APLY_STRT_DT,'YYYYMMDD'),'DD/MM/YYYY') AS UPR_HS_APLY_STRT_DT    /** Date De Début De L'Application Du Sh Supérieur !== 상위HS적용시작일자 ==! */
                       , QTY_UT_CD QTY_UT1_CD                   /** Code De L'Unité De Quantité !== 수량단위코드 ==! */
                       , HS.HS_DESC                             /** Description Du Sh !== HS설명 ==! */
                       , HS.BRND_NM_WRTE_YN                     /** Nom De La Marque Écrit On !== 브랜드명기재여부 ==! */
                       , HS.INGR_WRTE_YN                        /** Composant Écrit On !== 성분기재여부 ==! */
                       , HS.MRKT_PRC_CD                         /** Code de valeur boursière !== 시장가격코드 ==! */
                       , HS.DPRC_RT                             /** Taux D'Amortissement !== 감가상각율 ==! */
                       , HS.LAST_YN                             /** Final On !== 최종여부 ==! */
                FROM
                    TB_CLRI_HS_CD HS
                WHERE
                        HS.DEL_YN = 'N'                         /** Suppression On !== 삭제여부 ==! */
                    AND HS.LAST_YN = 'Y'                        /** Final On !== 최종여부 ==! */
                    AND HS.HS_APLY_STRT_DT <![CDATA[ <= ]]>  TO_CHAR(SYSDATE, 'YYYYMMDD')           /** Date De Début De L'Application Du Sh !== HS적용시작일자 ==! */
                    AND HS.HS_APLY_END_DT  <![CDATA[ >= ]]>  TO_CHAR(SYSDATE, 'YYYYMMDD')           /** Date De Fin De L'Application Du Sh !== HS적용종료일자 ==! */
        )
	    SELECT A.HS_CD              /** Code Sh !== HS코드 ==! */
             , B.HS_DESC            /** Description Du Sh !== HS설명 ==! */
             , B.HS_APLY_STRT_DT    /** Date De Début De L'Application Du Sh !== HS적용시작일자 ==! */
             , B.HS_APLY_END_DT     /** Date De Fin De L'Application Du Sh !== HS적용종료일자 ==! */
             , NVL(SUM(C.IMP_DCLR_CNT), 0) as IMP_DCLR_CNT      /**  Nbr d’importations !== 수입건수 ==! */
             , NVL(SUM(C.EXP_DCLR_CNT), 0) as EXP_DCLR_CNT      /**  Nbr d'exportations !== 수출건수 ==! */
             , CASE WHEN (SELECT COUNT(*) FROM TB_CLRI_HS_ATDOC WHERE HS_CD = A.HS_CD) = 0 THEN 'N'
                    ELSE 'Y'
               END AS ATCH_YN       /** Piece jointe(O/N) !== 첨부여부 ==! */
        FROM TB_RSMI_HS_PRFL_BSCS_INFO A
        LEFT JOIN  HS_INFO B ON A.HS_CD = B.HS_CD
        LEFT JOIN  IMEX_INFO C ON A.HS_CD = C.HS_CD
        WHERE A.DEL_YN = 'N'                            /** Suppression On !== 삭제여부 ==! */
        <if test='hsCd != null and hsCd != ""'>
            AND A.HS_CD = #{hsCd}                       /** Code Sh !== HS코드 ==! */
        </if>
        GROUP BY A.HS_CD
             , B.HS_DESC
             , B.HS_APLY_STRT_DT
             , B.HS_APLY_END_DT
        ORDER BY
            A.HS_CD,
            B.HS_APLY_STRT_DT
    </sql>

</mapper>