<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.rsm.prfl.mapper.RsmCsbrPrflMapper">
    <!--
      [Profils de commissionnaire] Consulter la liste
      !== [관세사프로파일] 목록조회 ==!
    -->
    <select id="selectCsbrPrflList" parameterType="alpass.ipt.rsm.prfl.vo.RsmCoPrflVo" resultType="alpass.ipt.rsm.prfl.vo.RsmCoPrflVo">
        /* selectCsbrPrflList */
        <include refid="pagination.header" />
        <include refid="rsmComPrflMapper.selectCsbrInfoList"/>
        <include refid="pagination.footer" />
    </select>

    <!--
      [Profils de commissionnaire] Consulter les détails
      !== [관세사프로파일] 상세조회  ==!
    -->
    <select id="selectPrflCsbrDtlInfo"
        parameterType="alpass.ipt.rsm.basc.vo.RsmPrflComVo"
        resultType="alpass.ipt.rsm.prfl.vo.RsmCoPrflVo">
        /* selectPrflCsbrDtlInfo */
        SELECT
              CO.NIF            /** NIF !== 납세번호 ==! */
            , CO.CO_NM          /** Entreprise !== 업체명 ==! */
            , DCLR.CO_DCLR_CD   /** Code De Déclaration De L'Entreprise !== 업체신고코드 ==! */
            , DCLR.CO_DCLR_TP_CD    /** Code De Catégorie De Déclarations D'Entreprises !== 업체신고구분코드 ==! */
            , FN_GET_CD_VDVAL_NM('COM_0030', DCLR.CO_DCLR_TP_CD, #{langCd} ) AS CO_DCLR_TP_NM   /** Nom De Catégorie De Déclarations D'Entreprises !== 업체신고구분 ==! */
            , DCLR.CARR_CD      /** Code De Société De Transport !== 운송사코드 ==! */
            , FN_GET_CD_VDVAL_NM('COM_0008', DCLR.CARR_CD, #{langCd} ) AS CARR_NM       /** Nom de Code De Société De Transport !== 운송사코드명 ==! */
            , CO.DEL_YN         /** Suppression On !== 삭제여부 ==! */
            , CO.RPRS_TLPH_NO   /** N° de telephone principale !== 대표전화번호 ==! */
            , CO.CO_ADDR        /** Adresse De L'Entreprise !== 업체주소 ==! */
            , CO.RPRS_EML       /** Email Principal !== 대표이메일 ==! */
            , CO.CO_TP_CD       /** Code de type d'entreprise  !== 업체구분코드 ==! */
            , CO.RPRS_FAX_NO    /** N° de fax principal !== 대표팩스번호 ==! */
        FROM
            TB_COM_CO CO,
            TB_COM_CO_DCLR_CD DCLR
        WHERE
            CO.NIF = DCLR.NIF       /** NIF !== 납세번호 ==! */
        AND CO.DEL_YN = 'N'         /** Suppression On !== 삭제여부 ==! */
        AND DCLR.DEL_YN = 'N'
        AND DCLR.CO_DCLR_TP_CD = 'H'  /** H : CDA  !== 관세사  ==!*/
        AND CO.NIF        = #{nif}
        AND CO_DCLR_CD = #{dcerCd}    /** Code De Déclaration De L'Entreprise !== 업체신고코드 ==! */

    </select>
</mapper>