<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.dcsh.mapper.CarCagDcshBlItemCntrMapper">
    <sql id ="selectItem">
           SELECT A.mrn                                                    AS mrn                 /** Mrn !== MRN ==! */
                , A.cag_mgmt_no                                            AS cag_mgmt_no         /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                , A.cntr_srno                                              AS cntr_srno           /** N° De Séquence Du Conteneur !== 컨테이너일련번호 ==! */
                , A.cntr_no                                                AS cntr_no             /** N° De Conteneur !== 컨테이너번호 ==! */
                , A.cntr_tp_cd                                             AS cntr_tp_cd          /** Code De Type De Conteneur !== 컨테이너구분코드 ==! */
                , A.pckg_gcnt                                              AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                , A.pckg_ut_cd                                             AS pckg_ut_cd          /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                , A.ecntr_wght                                             AS ecntr_wght          /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
                , A.ttwg                                                   AS ttwg                /** Poids Brut !== 총중량 ==! */
                , A.seal_no1                                               AS seal_no1            /** N° De Scellé1 !== 봉인번호1 ==! */
                , A.seal_no2                                               AS seal_no2            /** N° De Scellé1 !== 봉인번호2 ==! */
                , A.seal_no3                                               AS seal_no3            /** N° De Scellé3 !== 봉인번호3 ==! */
                , A.seal_chpn1                                             AS seal_chpn1          /** Responsable de scellé 1 !== 봉인담당자1 ==! */
                , A.seal_chpn2                                             AS seal_chpn2          /** Responsable de scellé 2 !== 봉인담당자2 ==! */
                , A.seal_chpn3                                             AS seal_chpn3          /** Responsable de scellé 3 !== 봉인담당자3 ==! */
                , A.del_yn                                                 AS del_yn              /** Suppression On !== 삭제여부 ==! */
                , A.frst_regst_id                                          AS frst_regst_id       /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
                , TO_CHAR(A.frst_rgsr_dttm,'DD/MM/YYYY HH24:MI:SS')        AS frst_rgsr_dttm      /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.last_chpr_id                                           AS last_chpr_id        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , TO_CHAR(A.last_chg_dttm,'DD/MM/YYYY HH24:MI:SS')         AS last_chg_dttm       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
             FROM TB_CARI_CAG_DCSH_BL_CNTR A
            WHERE A.del_yn = 'N' 
    </sql>
    
    <sql id ="selectItemWhere">
              AND A.mrn = #{mrn}          /** Mrn !== MRN ==! */
              <if test="cagMgmtNo != null and cagMgmtNo != ''">
              AND A.cag_mgmt_no = #{cagMgmtNo}               /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
              </if>
    </sql>

    <!--
    Voir la liste des Conteneur !== 컨테이너 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshBlItemCntrListTotCnt" parameterType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo" resultType="integer">
        /* CarCagDcshBlItemCntr.selectCarCagDcshBlItemCntrListTotCnt */
        SELECT COUNT(*) AS TOT_CNT
          FROM (
              <include refid="selectItem"/>
              <include refid="selectItemWhere"/>
               ) SQLRSLT
    </select>

  <!--
    Voir la liste des Conteneur !== 컨테이너 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshBlItemCntrList" parameterType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo" resultType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo">
        /* CarCagDcshBlItemCntr.selectCarCagDcshBlItemCntrList */
        <if test="pagination != null and pagination == true ">
        SELECT #{totCnt} AS TOT_CNT
             , SQLRSLT.*
             , ROWNUM as RNUM
          FROM (
        </if>
              <include refid="selectItem"/>
              <include refid="selectItemWhere"/>
            ORDER BY A.cntr_no, A.mrn, A.cag_mgmt_no ASC
        <if test="pagination != null and pagination == true ">
        <include refid="pagination.footer" />
        </if>
    </select>

    <!--
    Voir la liste des Conteneur !== 컨테이너 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshBlDedCntr"
            parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo">
        /* CarCagDcshBlItemCntr.selectCarCagDcshBlDedCntr */
           SELECT S.DTL_DCSH_NO
                , C.CNTR_NO
                , C.CNTR_TP_CD
             FROM TB_CARI_CAG_DCSH_BL_CNTR C
            INNER JOIN ( SELECT A.DTL_DCSH_NO                                            AS DTL_DCSH_NO         /** NUMERO DE LA DÉCLARATION EN DÉTAIL !== 상세신고서번호 ==! */
                              , A.CNTR_NO                                                AS CNTR_NO             /** N° DE CONTENEUR !== 컨테이너번호 ==! */
                           FROM TB_CLRI_DED_CNTR A
                          WHERE A.DEL_YN = 'N'
                          <foreach item="expFfmnNo" collection="expFfmnNoList" open="AND DTL_DCSH_NO IN (" close=")" separator=",">
                          #{expFfmnNo}
                          </foreach>
                  ) S
               ON C.CNTR_NO = S.CNTR_NO
            INNER JOIN TB_CARI_CAG_DCSH_BL_EXFM E
               ON C.CAG_MGMT_NO = E.CAG_MGMT_NO
              AND C.MRN = E.MRN
              AND E.EXP_FFMN_NO = S.DTL_DCSH_NO
            WHERE C.DEL_YN = 'N'                                         /** Suppression ON !== 삭제여부 ==! */
              AND C.MRN = #{mrn}
            GROUP BY S.DTL_DCSH_NO, C.CNTR_NO, C.CNTR_TP_CD
            ORDER BY S.DTL_DCSH_NO, C.CNTR_NO, C.CNTR_TP_CD
    </select>


</mapper>