<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.dcsh.mapper.CarCagDcshBlItemExfmMapper">

    <sql id ="selectItem">
           SELECT A.mrn                                                    AS mrn                 /** Mrn !== MRN ==! */
                , M.cag_dcsh_rgsr_mgmt_no
                , B.bl_no                                                  AS bl_no               /** N° De Bl !== BL번호 ==! */
                , A.cag_mgmt_no                                            AS cag_mgmt_no         /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                , A.exp_ffmn_srno                                          AS exp_ffmn_srno       /** N° De Séquence De L'Apurement D'Exportation !== 수출이행일련번호 ==! */
                , A.exp_ffmn_tp_cd                                         AS exp_ffmn_tp_cd      /** Type D'Apurement D'Exportation !== 수출이행구분코드 ==! */
                , A.exp_ffmn_no                                            AS exp_ffmn_no         /** N° D'Apurement D'Exportation !== 수출이행번호 ==! */
                , A.divd_shpm_yn                                           AS divd_shpm_yn        /** Chargement Partiel On !== 분할선적여부 ==! */
                , A.divd_shpm_dgcnt                                        AS divd_shpm_dgcnt     /** Nombre De Chargement Partiel !== 분할선적차수 ==! */
                , A.divd_shpm_last_yn                                      AS divd_shpm_last_yn   /** Dernier Chargement Partiel On !== 분할선적최종여부 ==! */
                , A.pckg_gcnt                                              AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                , A.pckg_ut_cd                                             AS pckg_ut_cd          /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                , A.ttwg                                                   AS ttwg                /** Poids Brut !== 총중량 ==! */
                , A.del_yn                                                 AS del_yn              /** Suppression On !== 삭제여부 ==! */
                , A.frst_regst_id                                          AS frst_regst_id       /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
                , TO_CHAR(A.frst_rgsr_dttm,'DD/MM/YYYY HH24:MI:SS')        AS frst_rgsr_dttm      /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.last_chpr_id                                           AS last_chpr_id        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , TO_CHAR(A.last_chg_dttm,'DD/MM/YYYY HH24:MI:SS')         AS last_chg_dttm       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                , (select x.load_rqst_no from tb_care_cag_dcsh x where x.mrn = a.mrn) as load_rqst_no
                , 0                                                        AS ntwg                
             FROM TB_CARI_CAG_DCSH_BL_EXFM A
            INNER JOIN TB_CARI_CAG_DCSH_BL B
               ON A.mrn = B.mrn
              AND A.cag_mgmt_no = B.cag_mgmt_no
            INNER JOIN TB_CARI_CAG_DCSH M
               ON A.mrn = M.mrn
            WHERE A.del_yn = 'N'                                         /** Suppression ON !== 삭제여부 ==! */
    </sql>
    
    <sql id ="selectItemWhere">
              AND A.mrn = #{mrn}       /** Mrn !== MRN ==! */
              <if test="cagMgmtNo != null and cagMgmtNo != ''">
			  AND A.cag_mgmt_no  = #{cagMgmtNo}              /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
			  </if>
			  <if test="expFfmnTpCd != null and expFfmnTpCd != ''">
			  AND A.exp_ffmn_tp_cd  = #{expFfmnTpCd}              
			  </if>
    </sql>
    <!--
    Voir la liste des Accomplissement d'exportation !==수출이행 목록 조회한다.==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshBlItemExfmListTotCnt"
            parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo"
            resultType="integer">
        /* CarCagDcshBlItemExfm.selectCarCagDcshBlItemExfmListTotCnt */
        SELECT COUNT(*) AS TOT_CNT
          FROM (
              <include refid="selectItem"/>
              <include refid="selectItemWhere"/>
               ) SQLRSLT
    </select>
    <!--
    Voir la liste des Accomplissement d'exportation !==수출이행 목록 조회한다.==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshBlItemExfmList"
            parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
        /* CarCagDcshBlItemExfm.selectCarCagDcshBlItemExfmList */
        <if test="pagination != null and pagination == true ">
        SELECT #{totCnt} AS TOT_CNT
             , SQLRSLT.*
             , ROWNUM as RNUM
          FROM (
        </if>
              <include refid="selectItem"/>
              <include refid="selectItemWhere"/>
		   ORDER BY a.exp_ffmn_no, b.bl_no ASC
		<if test="pagination != null and pagination == true ">
        <include refid="pagination.footer" />
        </if>
    </select>
    <!--
    Voir la liste des Accomplissement d'exportation !==수출이행 목록 조회한다.==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagLoadExfmList"
            parameterType="alpass.ipt.car.com.vo.CarCagDcshBlVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
        /* CarCagDcshBlItemExfm.selectCarCagLoadExfmList */
        SELECT S.slng_rgsr_no                                           AS mrn
             , B.bl_no                                                  AS bl_no               /** N° De Bl !== BL번호 ==! */
             , A.exp_ffmn_srno                                          AS exp_ffmn_srno       /** N° De Séquence De L'Apurement D'Exportation !== 수출이행일련번호 ==! */
             , A.exp_ffmn_no                                            AS exp_ffmn_no         /** N° D'Apurement D'Exportation !== 수출이행번호 ==! */
             , A.divd_shpm_yn                                           AS divd_shpm_yn        /** Chargement Partiel On !== 분할선적여부 ==! */
             , A.divd_shpm_dgcnt                                        AS divd_shpm_dgcnt     /** Nombre De Chargement Partiel !== 분할선적차수 ==! */
             , A.divd_shpm_last_yn                                      AS divd_shpm_last_yn   /** Dernier Chargement Partiel On !== 분할선적최종여부 ==! */
             , A.pckg_gcnt                                              AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
             , A.pckg_ut_cd                                             AS pckg_ut_cd          /** Code De L'Unité De Colis !== 포장단위코드 ==! */
             , A.ttwg                                                   AS ttwg                /** Poids Brut !== 총중량 ==! */
             , s.load_rqst_no                                           AS load_rqst_no        /** N° De Demande De Chargement !== N° De Demande De Chargement ==! */
          FROM TB_CARI_LOAD_BL_EXFM A
         INNER JOIN TB_CARI_LOAD S
            ON A.LOAD_RQST_NO = S.LOAD_RQST_NO
         INNER JOIN TB_CARI_LOAD_BL B
            ON A.LOAD_RQST_NO = B.LOAD_RQST_NO
           AND A.BL_SRNO = B.BL_SRNO
         WHERE A.DEL_YN = 'N'                                         /** Suppression ON !== 삭제여부 ==! */
           AND S.LOAD_RQST_NO = #{loadRqstNo}        				  /** N° De Demande De Chargement !== 적재신청번호 ==! */
	     ORDER BY b.bl_no, A.exp_ffmn_no ASC
    </select>
    <!--
    Voir la liste des Accomplissement d'exportation !==수출이행 목록 조회한다.==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshBlExfmToDed"
            parameterType="string"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
        /* CarCagDcshBlItemExfm.selectCarCagDcshBlExfmToDed */
           select E.mrn                                                    AS mrn                 /** Mrn !== MRN ==! */
                , E.cag_mgmt_no                                            AS cag_mgmt_no         /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                , E.exp_ffmn_srno                                          AS exp_ffmn_srno       /** N° De Séquence De L'Apurement D'Exportation !== 수출이행일련번호 ==! */
                , E.exp_ffmn_tp_cd                                         AS exp_ffmn_tp_cd      /** Type D'Apurement D'Exportation !== 수출이행구분코드 ==! */
                , E.exp_ffmn_no                                            AS exp_ffmn_no         /** N° D'Apurement D'Exportation !== 수출이행번호 ==! */
                , E.divd_shpm_yn                                           AS divd_shpm_yn        /** Chargement Partiel On !== 분할선적여부 ==! */
                , E.divd_shpm_dgcnt                                        AS divd_shpm_dgcnt     /** Nombre De Chargement Partiel !== 분할선적차수 ==! */
                , E.divd_shpm_last_yn                                      AS divd_shpm_last_yn   /** Dernier Chargement Partiel On !== 분할선적최종여부 ==! */
                , E.pckg_gcnt                                              AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                , E.pckg_ut_cd                                             AS pckg_ut_cd          /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                , E.ttwg                                                   AS ttwg                /** Poids Brut !== 총중량 ==! */
                , S.PCKG_TGCNT - ( SELECT NVL(SUM(PCKG_QTY), 0)
                                     FROM TB_CLRI_EXP_SHPM_FFMN_H B
                                    WHERE B.dtl_dcsh_no = S.dtl_dcsh_no
                                      AND B.DEL_YN = 'N'
                  ) AS DED_PCKG_GCNT               /** 불이행 총중량 */
                , S.AL_TTWG - ( SELECT NVL(SUM(TTWG), 0)
                                  FROM TB_CLRI_EXP_SHPM_FFMN_H B
                                 WHERE B.dtl_dcsh_no = S.dtl_dcsh_no
                                   AND B.DEL_YN = 'N'
                  ) AS DED_TTWG               /** 불이행 총중량 */
                , E.del_yn                                                 AS del_yn              /** Suppression On !== 삭제여부 ==! */
                , E.frst_regst_id                                          AS frst_regst_id       /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , TO_CHAR(E.frst_rgsr_dttm,'DD/MM/YYYY HH24:MI:SS')        AS frst_rgsr_dttm      /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , E.last_chpr_id                                           AS last_chpr_id        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , TO_CHAR(E.last_chg_dttm,'DD/MM/YYYY HH24:MI:SS')         AS last_chg_dttm       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
             FROM TB_CARI_CAG_DCSH_BL_EXFM E
            INNER JOIN TB_CLRI_DED_COMN S
               ON E.EXP_FFMN_NO = S.dtl_dcsh_no
            WHERE 1=1
              AND S.DEL_YN = 'N'
              AND E.DEL_YN = 'N'
              AND E.EXP_FFMN_NO = #{expFfmnNo}
              AND ROWNUM = 1
    </select>
    <!--
    Voir la liste des Accomplissement d'exportation !==수출이행 목록 조회한다.==!
    (Lee KyoungSung)
    -->
	  <select id="selectCarCagDcshBlExfmToDed2"
            parameterType="alpass.ipt.car.com.vo.CarCagCsclIntfVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
    	/* CarCagDcshBlItemExfm.selectCarCagDcshBlExfmToDed2 */
        SELECT A.dtl_dcsh_no
             , A.dclr_pt_cd
             , A.apre_pckg_gcnt
             , A.apre_ttwg
             , A.apre_ntwg
             , A.prcs_yn
             , SUM(B.pckg_gcnt) AS pckg_gcnt
             , SUM(B.ttwg)      AS ttwg
             , A.apre_ttwg - SUM(B.ttwg) as RMND_TTWG
		      FROM alpassint.tb_clri_cscl_cag_intf a
	       INNER JOIN alpassint.tb_cari_cag_dcsh_bl_exfm b
		        ON A.dtl_dcsh_no = B.exp_ffmn_no AND B.del_yn = 'N'
		     INNER JOIN alpassint.tb_cari_cag_dcsh_bl c
            ON b.mrn = c.mrn
           AND b.cag_mgmt_no = c.cag_mgmt_no
           AND c.del_yn = 'N'
         INNER JOIN ALPASSEXT.TB_CARE_CAG_DCSH m
            ON C.MRN = M.MRN
           AND ( M.MRN = #{mrn}  or M.prcs_stts_cd = 'D08' )
         WHERE A.dtl_dcsh_no = REPLACE(#{dtlDcshNo},'-','')
		       AND A.del_yn = 'N'
		       AND NVL(A.MDFY_RQST_YN,'N') = 'N'
		     GROUP BY A.dtl_dcsh_no, A.dclr_pt_cd, A.apre_pckg_gcnt, A.apre_ttwg, A.apre_ntwg, A.prcs_yn
    </select>

    <!--
    Consulter si c'est un chargement partiel ou non.      !== 분할 선적  여부를 조회한다. ==!
    (Lee KyoungSung)
    -->
    <update id="updateCariLoadBlExfmDivdShpmLastYn"
           parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
        /* CarCagDcshBlItemExfm.updateCariLoadBlExfmDivdShpmLastYn */
          UPDATE TB_CARI_CAG_DCSH_BL_EXFM
             SET DIVD_SHPM_LAST_YN = #{divdShpmLastYn}
           WHERE 1=1
             AND MRN = #{mrn}
             AND EXP_FFMN_NO = #{expFfmnNo}
	  </update>
    <!--
    Consulter si c'est un chargement partiel ou non.      !== 분할 선적  여부를 조회한다. ==!
    (Lee KyoungSung)
    -->
    <update id="updateCareLoadBlExfmDivdShpmLastYn"
           parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
        /* CarCagDcshBlItemExfm.updateCariLoadBlExfmDivdShpmLastYn */
          UPDATE ALPASSEXT.TB_CARE_CAG_DCSH_BL_EXFM
             SET DIVD_SHPM_LAST_YN = #{divdShpmLastYn}
           WHERE 1=1
             AND CAG_DCSH_RGSR_MGMT_NO = #{cagDcshRgsrMgmtNo}
             AND EXP_FFMN_NO = REPLACE(#{expFfmnNo},'-','')
	</update>

  <!--
    Consulter si c'est le dernier chargement ou non.      !== 최종 선적 여부를 조회한다. ==!
    (Lee KyoungSung)
  -->
	<update id="updateCariLoadMdfyBlExfmDivdShpmLastYn"
           parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
        /* CarCagDcshBlItemExfm.updateCariLoadMdfyBlExfmDivdShpmLastYn */
          UPDATE TB_CARI_CAG_DCSH_MDFY_BL_EXFM
             SET DIVD_SHPM_LAST_YN = #{divdShpmLastYn}
           WHERE 1=1
             AND CAG_DCSH_MDFY_RQST_NO = #{cagDcshMdfyRqstNo}
             AND EXP_FFMN_NO = #{expFfmnNo}
	</update>

  <!--
    Consulter si c'est le dernier chargement ou non.      !== 최종 선적 여부를 조회한다. ==!
    (Lee KyoungSung)
  -->
  <update id="updateCareLoadMdfyBlExfmDivdShpmLastYn"
           parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
        /* CarCagDcshBlItemExfm.updateCareLoadMdfyBlExfmDivdShpmLastYn */
          UPDATE ALPASSEXT.TB_CARE_CAG_DCSH_MDFY_BL_EXFM
             SET DIVD_SHPM_LAST_YN = #{divdShpmLastYn}
           WHERE 1=1
             AND CAG_DCSH_MDFY_RQST_MGRN = #{cagDcshMdfyRqstMgrn}
             AND EXP_FFMN_NO = #{expFfmnNo}
	</update>


    <sql id ="selectMdfyItem">
           SELECT M.cag_dcsh_mdfy_rqst_no
                , M.cag_dcsh_mdfy_rqst_mgrn
                , B.bl_no                                                  AS bl_no               /** N° De Bl !== BL번호 ==! */
                , A.bl_srno                                                AS bl_srno        
                , A.exp_ffmn_srno                                          AS exp_ffmn_srno       /** N° De Séquence De L'Apurement D'Exportation !== 수출이행일련번호 ==! */
                , A.exp_ffmn_tp_cd                                         AS exp_ffmn_tp_cd      /** Type D'Apurement D'Exportation !== 수출이행구분코드 ==! */
                , A.exp_ffmn_no                                            AS exp_ffmn_no         /** N° D'Apurement D'Exportation !== 수출이행번호 ==! */
                , A.divd_shpm_yn                                           AS divd_shpm_yn        /** Chargement Partiel On !== 분할선적여부 ==! */
                , A.divd_shpm_dgcnt                                        AS divd_shpm_dgcnt     /** Nombre De Chargement Partiel !== 분할선적차수 ==! */
                , A.divd_shpm_last_yn                                      AS divd_shpm_last_yn   /** Dernier Chargement Partiel On !== 분할선적최종여부 ==! */
                , A.pckg_gcnt                                              AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                , A.pckg_ut_cd                                             AS pckg_ut_cd          /** Code De L'Unité De Colis !== 포장단위코드 ==! */
                , A.ttwg                                                   AS ttwg                /** Poids Brut !== 총중량 ==! */
                , A.del_yn                                                 AS del_yn              /** Suppression On !== 삭제여부 ==! */
                , A.frst_regst_id                                          AS frst_regst_id       /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
                , TO_CHAR(A.frst_rgsr_dttm,'DD/MM/YYYY HH24:MI:SS')        AS frst_rgsr_dttm      /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , A.last_chpr_id                                           AS last_chpr_id        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , TO_CHAR(A.last_chg_dttm,'DD/MM/YYYY HH24:MI:SS')         AS last_chg_dttm       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
                , 0                                                        AS ntwg
                , b.cag_mgmt_no                
             FROM TB_CARI_CAG_DCSH_MDFY_BL_EXFM A
            INNER JOIN TB_CARI_CAG_DCSH_MDFY_BL B
               ON A.cag_dcsh_mdfy_rqst_no = B.cag_dcsh_mdfy_rqst_no
              AND A.bl_srno = B.bl_srno
            INNER JOIN TB_CARI_CAG_DCSH_MDFY M
               ON b.cag_dcsh_mdfy_rqst_no = M.cag_dcsh_mdfy_rqst_no
            WHERE A.del_yn = 'N'     
    </sql>
    
    <sql id ="selectMdfyItemWhere">
              AND A.cag_dcsh_mdfy_rqst_no = #{cagDcshMdfyRqstNo}     
              <if test="expFfmnTpCd != null and expFfmnTpCd != ''">
			  AND A.exp_ffmn_tp_cd  = #{expFfmnTpCd}              /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
			  </if>
    </sql>

    <!--
    Voir la liste des Accomplissement d'exportation !== 수출이행 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshMdfyBlItemExfmListTotCnt"
            parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo"
            resultType="integer">
        /* CarCagDcshBlItemExfm.selectCarCagDcshMdfyBlItemExfmListTotCnt */
        SELECT COUNT(*) AS TOT_CNT
          FROM (
              <include refid="selectMdfyItem"/>
              <include refid="selectMdfyItemWhere"/>
               ) SQLRSLT
    </select>
    <!--
    Voir la liste des Accomplissement d'exportation !== 수출이행 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagDcshMdfyBlItemExfmList"
            parameterType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshBlExfmVo">
        /* CarCagDcshBlItemExfm.selectCarCagDcshMdfyBlItemExfmList */
        <if test="pagination != null and pagination == true ">
        SELECT #{totCnt} AS TOT_CNT
             , SQLRSLT.*
             , ROWNUM as RNUM
          FROM (
        </if>
              <include refid="selectMdfyItem"/>
              <include refid="selectMdfyItemWhere"/>
		   ORDER BY a.exp_ffmn_no, b.bl_no ASC
		<if test="pagination != null and pagination == true ">
        <include refid="pagination.footer" />
        </if>
    </select>

</mapper>