<!--
/**
*
*@project DGD_GEO
*@Author Abdessamie Charik
*/
-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Display Operations in the map</title>

    <style>
        #map {
            height: 700px;

        }
    </style>
</head>
<body>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Opérations en direct</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a>En direct</li>
                    <li class="breadcrumb-item active">opération</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <form id="search-userVo">
        <div class="card">
            <div class="card-body">
                <h6>Filtres:</h6>
                <div class="row">
                    <div class="col-md-4 input-group input-group-sm py-1">
                        <select id="regionDropdown" name="regionId" class="form-control" onchange="populateDivisions()">
                            <option th:each="regionVo : ${regionVos}" th:value="${regionVo.id}" th:text="${regionVo.name}"></option>
                        </select>
                    </div>
                    <div class="col-md-4 input-group input-group-sm py-1">
                        <select id="divisionId" name="divisionId" class="form-control" onchange="populateBrigades()">
                            <option value="" disabled selected>Please select</option>
                            <!-- Division options will be populated dynamically using JavaScript -->
                        </select>
                    </div>
                    <div class="col-md-4 input-group input-group-sm py-1">
                        <select id="brigadeId" name="brigadeId" class="form-control">
                            <option value="" disabled selected>Please select</option>
                            <!-- BrigadeDto options will be populated dynamically using JavaScript -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div
                            class="col-md-12 form-group form-group-sm py-1 "
                            style="margin-bottom: 0 !important" >
                        <div class="input-group input-group-sm">
                            <input
                                    type="search"
                                    class="form-control"
                                    placeholder="Rechercher par Username"
                            />
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-1">
                    <button type="button" class="btn btn-sm btn-dark">
                        <i class="fa fa-sm fa-undo"></i> Réinitialiser إعادة ضبط
                    </button>
                    <button type="button" class="btn btn-sm btn-dark" onclick="searchUser()">
                        <i class="fa fa-sm fa-search"></i> Rechercher بحث
                    </button>
                </div>
            </div>
        </div>
    </form>
<div id="map"></div>
</div>

<!--<script src="cdn/leaflet/leaflet.markercluster.js"></script>-->
<!--<script src="cdn/leaflet.js"></script>-->

<script>

    async function initDisplay(){
        // await  importScript("js/myEditor.js")
        // await importScript("js/convert.js")
        await importScript("/js/map/marker.js")
        await importScript("/js/map/mapUtils.js")
        await importScript("/js/ui/toast.js")

        await importScript("/js/map/osmSearch.js")
        await importScript("/js/map/initMap.js")
        await importScript("/js/butons.js")
       // await importScript("/js/xlsx.js")
       // await importScript("/js/bot.js")

    }
    $(document).ready(function() {
        initDisplay()
    });
    //importScript("cdn/leaflet.js" )
   // importScript("cdn/leaflet/leaflet.markercluster.js" )
    var l;
    {
        // Fetch operationVo data from the controller
        $.get( "/api/v1/operation", function(data) {

            if(Array.isArray(data))
            // Iterate over the fetched operationVo data
            data.forEach(function(operationVo) {
                // Extract the necessary information from the operationVo object
                var { id_op, localisation ,  latitude,longitude  } = operationVo;

               // l=localisation;
                //console.log(latitude);
               // console.log(longitude);
               const  popupContent = CreateMarkerPopupFromOpeartion(operationVo);
                // Create a marker with popup
                var marker = L.marker([operationVo.latitude, operationVo.longitude] ,{ icon: getMarkerIcon() })
                    .bindPopup(popupContent);

                // Add the marker to the map
                marker.addTo(mapInstance);
                // Add the marker to the marker cluster group
              //  markers.addLayer(marker);


              //  createMarker(geojson , result , icon,iconSize=16);

            });
            else{
                console.log(data)
            }

            // Add the marker cluster group to the map
            //map.addLayer(markers);
        });
    }


/*    if (socket) {
        socket.addEventListener('message', function (event) {

            try{

            var operationVo = JSON.parse(event.data);
            console.log(operationVo);

          //  const popupContent = CreateMarkerPopupFromOpeartion(operationVo);

            var marker = L.marker([operationVo.latitude, operationVo.longitude], { icon: getMarkerIcon() })
               // .bindPopup(popupContent);

            // Add the marker to the map
            marker.addTo(map);

            }catch (e) {
                console.log(event.data)

                // console.log(e)
            }

        });
    }*/
</script>


</body>
</html>
