<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.load.mapper.CarLoadMdfyBlMapper">

    <sql id ="selectItemCarLoadBl">
	    SELECT A.LOAD_MDFY_RQST_NO		 /** !==적재정정신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.BL_NO                   /** N° De Bl !== BL번호 ==! */
	         , A.HBL_NO                   /** N° de House B/L !== HBL번호 ==! */
	         , A.CAG_TP_CD               /** Type de flux !== 화물구분코드 ==! */
	         , A.BL_TP_CD                /** Code De Catégorie De B/L !== BL구분코드 ==! */
	         , A.BL_PT_CD                /** Code De Type De Bl !== BL유형코드 ==! */
	         , NVL(A.COAT_TRNP_YN, 'N') AS COAT_TRNP_YN   /** !==연안운송여부==! */
	         , A.LOAD_REGN_CD            /** Code De Lieu De Chargement !== 적재지역코드 ==! */
	         , FN_CARI_GET_PORT_AIRPT_CITY_CD_NM(A.LOAD_REGN_CD, #{langCd}) AS LOAD_REGN_NM
	         , A.LDUN_REGN_CD            /** Code De Lieu De Déchargement !== 하역지역코드 ==! */
	         , FN_CARI_GET_PORT_AIRPT_CITY_CD_NM(A.LDUN_REGN_CD, #{langCd}) AS LDUN_REGN_NM
	         , A.IBOBZ_CD                /** !== 보세구역코드 ==! */
	         , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM
	         , A.STVD_CD                 /** Code De Stevedoremanutentionnaire !== 하역업자코드 ==! */
	         , FN_CARI_GET_CO_NM(A.STVD_CD) AS STVD_NM
	         , A.TRNH_REGN_CD            /** Code De Région De Transbordement !== 환적지역코드 ==! */
	         , FN_CARI_GET_PORT_AIRPT_CITY_CD_NM(A.TRNH_REGN_CD, #{langCd}) AS TRNH_REGN_NM
	         , A.CAG_CHRC_CD             /** Nature De Cargaison !== 화물특성코드 ==! */
	         , A.CAS_NO                  /** Numero CAS !== CAS번호 ==! */
	         , A.HS_CD                   /** Code Sh !== HS코드 ==! */
	         , (SELECT HS_DESC FROM TB_CLRI_HS_CD WHERE HS_CD = A.HS_CD) AS HS_DESC
	         , A.SEND_WAY                /** Mode de livraison !== 발송방식 ==! */
	         , A.PDLS_NM                 /** Nom De L'Article !== 품목명 ==! */
	         , A.CMDT_KND_CD             /** Nature De Marchandise !== 물품종류코드 ==! */
	         , A.PCKG_GCNT               /** Nombre De Colis !== 포장개수 ==! */
	         , A.ECNTR_WGHT              /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
	         , A.TTWG                    /** Poids Brut !== 총중량 ==! */
	         , A.NTWG                    /** Poids Net !== 순중량 ==! */
	         , A.CBM_VOL                 /** Volume (Mtq) !== 입방미터용적 ==! */
	         , A.LIR_VOL                 /** Volume (Litre) !== 리터용적 ==! */
	         , A.HDCB_TP_CD              /** Code de type d'hydrocarbure !== 탄화수소구분코드 ==! */
	         , A.SHMR_CN                 /** Marque De Colis !== 화인내용 ==! */
	         , A.ADD_INFO_CN             /** Info Supplémentaire !== 부가정보내용 ==! */
	         , A.CNTR_GCNT               /** Nombre De Conteneurs !== 컨테이너개수 ==! */
	         , A.VHCL_GCNT               /** Nombre De Véhicules !== 차량개수 ==! */
	         , A.CMDT_AMT                /** Valeur de marchandise !== 물품금액 ==! */
	         , A.CMDT_AMT_CURR_CD        /** Article Montant Code de devise !== 물품금액통화코드 ==! */
	         , A.PRPM_DFPM_CACH_TP_CD	/** Ind. fret prépayé/dû !== 선불후불운임구분코드 ==! */
	         , A.EXPPN_TXPR_IDFY_NO      /** NIF de l'exportateur !== 수출자납세자식별번호 ==! */
	         , A.EXPPN_NM                /** Nom De L'Exportateur !== 수출자명 ==! */
	         , A.EXPPN_ADDR_NM           /** Adresse De L'Exportateur !== 수출자주소명 ==! */
	         , A.EXPPN_TLPH_NO           /** Téléphone De L'Exportateur !== 수출자전화번호 ==! */
	         , A.EXPPN_EML               /** Email De L'Exportateur !== 수출자이메일 ==! */
	         , A.CNSI_TXPR_IDFY_NO       /** Niu Du Destinataire !== 수하인납세자식별번호 ==! */
	         , A.CNSI_NM                 /** Nom de destinataire !== 수하인명 ==! */
	         , A.CNSI_ADDR_NM            /** Adresse Du Destinataire !== 수하인주소명 ==! */
	         , A.CNSI_TLPH_NO            /** N° de téléphone de destinataire !== 수하인전화번호 ==! */
	         , A.CNSI_EML                /** E-mail de destinataire !== 수하인이메일 ==! */
	         , A.NTPR_NM                 /** Nom De La Partie À Notifier !== 통지처명 ==! */
	         , A.NTPR_ADDR_NM            /** Adresse De La Partie À Notifier !== 통지처주소명 ==! */
	         , A.NTPR_TLPH_NO            /** Téléphone De La Partie À Notifier !== 통지처전화번호 ==! */
	         , A.NTPR_EML                /** Email De La Partie À Notifier !== 통지처이메일 ==! */
	         , A.BF_CAG_MGMT_NO          /** Crn Précédent !== 이전화물관리번호 ==! */
	         , A.BL_MDFY_TP_CD           /** Code de catégorie de rectification de BL !== BL정정구분코드 ==! */
	         , A.CNSI_TXPR_IDFY_NO_NIN     /** NIN de déstinataire!==수하인납세자식별번호(NIN)==! */ 
	         , A.EXPPN_TXPR_IDFY_NO_NIN    /** NIN d'exportateur!==수출자납세자식별번호(NIN)==! */   
	         , A.PCKG_UT_CD                /** Code De L'Unité De Colis !== 포장단위코드 ==! */
	         , TO_CHAR(TO_DATE(A.BL_PBLS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS BL_PBLS_DT		  /** Date de delivrance du B/L !==BL발급일자==! */
									 , A.UNDG_ID                                                AS UNDG_ID            /** Identifiant UNDG !== UNDGID ==! */
									 , A.UNDG_GD_CD                                             AS UNDG_GD_CD 		  /** Code de classe UNDG !== UNDG등급 ==! */
									 , A.CHER_YN 											    AS CHER_YN 			  /** affréteur d’espace/slot !== 용선여부 ==! */
									 , A.CHER_GVNM_NM 										    AS CHER_GVNM_NM 	  /** nom de l’affréteur/slotteur !== 용선이름 ==! */
									 , A.CHER_ADDR_NM 										    AS CHER_ADDR_NM  	  /** adresse affréteur/slotteur !== 용선주소 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
	         , M.MDFY_DGCNT
	         , (SELECT COUNT(BL_NO) FROM TB_CARI_LOAD_BL
            	WHERE LOAD_RQST_NO = M.LOAD_RQST_NO
            	AND DEL_YN = 'N'
            	AND BL_PT_CD = 'H'
            	AND BL_NO = A.BL_NO
            	) AS AL_HBL_GCNT
             , (SELECT NVL(SUM(PCKG_GCNT), 0) FROM TB_CARI_LOAD_BL
            	WHERE LOAD_RQST_NO = M.LOAD_RQST_NO
            	AND BL_NO = A.BL_NO
            	AND DEL_YN = 'N') AS AL_PCKG_GCNT
             , (SELECT NVL(SUM(TTWG), 0) FROM TB_CARI_LOAD_BL
            	WHERE LOAD_RQST_NO = M.LOAD_RQST_NO
            	AND BL_NO = A.BL_NO
            	AND DEL_YN = 'N') AS AL_TTWG
             , (SELECT NVL(SUM(NTWG), 0) FROM TB_CARI_LOAD_BL
            	WHERE LOAD_RQST_NO = M.LOAD_RQST_NO
            	AND BL_NO = A.BL_NO
            	AND DEL_YN = 'N') AS AL_NTWG
		FROM TB_CARI_LOAD_MDFY_BL A , TB_CARI_LOAD_MDFY M
	    WHERE A.DEL_YN = 'N'
	    AND A.LOAD_MDFY_RQST_NO = M.LOAD_MDFY_RQST_NO
    </sql>


    <!--
    Voir la liste des Demande de  B/L !== B/L 목록 조회한다.==!
    -->
    <select id="selectCarLoadMdfyBlList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* selectCarLoadMdfyBlList */
        <include refid="selectItemCarLoadBl"></include>
		AND A.LOAD_MDFY_RQST_NO = #{loadMdfyRqstNo}
		<if test="blNo != null and blNo != ''">
		AND	A.BL_SRNO = #{blSrno}
		</if>
		<if test="cagTpCd != null and cagTpCd != ''">
		AND	B.CAG_TP_CD = #{cagTpCd}
		</if>
		ORDER BY A.BL_SRNO ASC
    </select>
    
    
    <!--
    Voir la liste des Demande de BL/LTA (Avant rectification) !==BL/LTA 목록 조회 (정정 전)==!
    -->
    <select id="selectCarLoadMdfyAfterBl"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* selectCarLoadMdfyAfterBl */
        <include refid="selectItemCarLoadBl"></include>
			AND A.LOAD_MDFY_RQST_NO = #{loadMdfyRqstNo}
    </select>
    
    
    
    <!--
    Voir la liste des Demande de BL/LTA (Après rectification) !==BL/LTA 목록 조회(정정 후)==!
    -->
    <select id="selectCarLoadMdfyBeforBl"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* selectCarLoadMdfyBeforBl */
        <include refid="selectItemCarLoadBl"></include>
		         AND M.LOAD_RQST_NO = #{loadRqstNo}
			     AND A.BL_SRNO = #{blSrno}
			     AND M.MDFY_DGCNT &lt; #{mdfyDgcnt}
			     ORDER BY M.MDFY_DGCNT DESC
	             LIMIT 1   
    </select>


    <!--
    Voir la liste des Demande de Conteneur !==컨테이너 목록 조회==!
    -->
    <select id="selectCarLoadMdfyBlCntrList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlCntrVo">
        /* selectCarLoadMdfyBlCntrList */
        SELECT A.LOAD_MDFY_RQST_NO		 /** !==적재정정신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.CNTR_SRNO               /** N° De Séquence Du Conteneur !== 컨테이너일련번호 ==! */
	         , A.CNTR_NO                 /** N° De Conteneur !== 컨테이너번호 ==! */
	         , A.CNTR_TP_CD              /** Code De Type De Conteneur !== 컨테이너구분코드 ==! */
	         , A.PCKG_GCNT               /** Nombre De Colis !== 포장개수 ==! */
	         , A.PCKG_UT_CD              /** Code De L'Unité De Colis !== 포장단위코드 ==! */
	         , A.ECNTR_WGHT              /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
	         , A.TTWG                    /** Poids Brut !== 총중량 ==! */
	         , A.SEAL_NO1                /** N° De Scellé1 !== 봉인번호1 ==! */
	         , A.SEAL_NO2                /** N° De Scellé1 !== 봉인번호2 ==! */
	         , A.SEAL_NO3                /** N° De Scellé3 !== 봉인번호3 ==! */
	         , A.SEAL_CHPN1              /** Responsable de scellé 1 !== 봉인담당자1 ==! */
	         , A.SEAL_CHPN2              /** Responsable de scellé 2 !== 봉인담당자2 ==! */
	         , A.SEAL_CHPN3              /** Responsable de scellé 3 !== 봉인담당자3 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
	         , ROWNUM AS RNUM
		FROM TB_CARI_LOAD_MDFY_BL_CNTR A
	    WHERE A.DEL_YN = 'N'
		AND A.LOAD_MDFY_RQST_NO = #{loadMdfyRqstNo}
		<if test="blSrno != null and blSrno != ''">
		AND A.BL_SRNO = #{blSrno}
		</if>
		ORDER BY A.CNTR_SRNO ASC
    </select>

    <!--
    Voir la liste des Demande de Accomplissement d'exportation !==수출이행 목록 조회==!
    -->
    <select id="selectCarLoadMdfyBlExfmList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlExfmVo">
        /* selectCarLoadMdfyBlExfmList */
        SELECT A.LOAD_MDFY_RQST_NO		 /** !==적재정정신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.EXP_FFMN_SRNO           /** N° De Séquence De L'Apurement D'Exportation !== 수출이행일련번호 ==! */
	         , A.EXP_FFMN_TP_CD          /** Type D'Apurement D'Exportation !== 수출이행구분코드 ==! */
	         , A.EXP_CMDT_BRNG_PERM_NO   /** N° autorisation de l'introduction des marchandises à exporter !== 수출물품반입허가번호 ==! */
	         , A.EXP_FFMN_NO             /** N° D'Apurement D'Exportation !== 수출이행번호 ==! */
	         , A.DIVD_SHPM_YN            /** Chargement Partiel On !== 분할선적여부 ==! */
	         , A.DIVD_SHPM_DGCNT         /** Nombre De Chargement Partiel !== 분할선적차수 ==! */
	         , A.DIVD_SHPM_LAST_YN       /** Dernier Chargement Partiel On !== 분할선적최종여부 ==! */
	         , A.PCKG_GCNT               /** Nombre De Colis !== 포장개수 ==! */
	         , A.PCKG_UT_CD              /** Code De L'Unité De Colis !== 포장단위코드 ==! */
	         , A.TTWG                    /** Poids Brut !== 총중량 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
	         , ROWNUM AS RNUM
		FROM TB_CARI_LOAD_MDFY_BL_EXFM A
	    WHERE A.DEL_YN = 'N'
		AND A.LOAD_MDFY_RQST_NO = #{loadMdfyRqstNo}
		<if test="blSrno != null and blSrno != ''">
		AND A.BL_SRNO = #{blSrno}
		</if>
		ORDER BY A.EXP_FFMN_SRNO ASC
    </select>

    <!--
    Voir la liste des Demande de Remorque !==트레일러 목록 조회==!
    -->
    <select id="selectCarLoadMdfyBlTrlrList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlTrlrVo">
        /* selectCarLoadMdfyBlTrlrList */
        SELECT A.LOAD_MDFY_RQST_NO		 /** !==적재정정신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.TRLR_SRNO               /** Numéro de série de la remorque !== 트레일러일련번호 ==! */
	         , A.VHCL_RGSR_NO            /** VOYAGE VEHICULES VEHICULE NUMERO_IMMATRICULATION !== 차량등록번호 ==! */
	         , A.CHSS_NO                 /** N° De Châssis !== 차대번호 ==! */
	         , A.TRLR_STSZ               /** Gabarit De Remorque !== 트레일러규격 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
	         , ROWNUM AS RNUM
		FROM TB_CARI_LOAD_MDFY_BL_TRLR A
	    WHERE A.DEL_YN = 'N'
		AND A.LOAD_MDFY_RQST_NO = #{loadMdfyRqstNo}
		<if test="blSrno != null and blSrno != ''">
		AND A.BL_SRNO = #{blSrno}
		</if>
		ORDER BY A.TRLR_SRNO ASC
    </select>

    <!--
    Voir la liste des Demande de Train !==열차 목록 조회==!
    -->
    <select id="selectCarLoadMdfyBlTrnList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlTrnVo">
        /* selectCarLoadMdfyBlTrnList */
        SELECT A.LOAD_MDFY_RQST_NO		 /** !==적재정정신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.TRN_SRNO                /** numéro de série du train !== 열차일련번호 ==! */
	         , A.TRN_RGSR_NO             /** N° De Train !== 열차번호 ==! */
	         , A.WGN_NO                  /** N° De Wagon !== 왜건번호 ==! */
	         , A.WGN_TYPE                /** type de wagon !== 왜건타입 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
	         , ROWNUM AS RNUM
		FROM TB_CARI_LOAD_MDFY_BL_TRN A
	    WHERE A.DEL_YN = 'N'
		AND A.LOAD_MDFY_RQST_NO = #{loadMdfyRqstNo}
		<if test="blSrno != null and blSrno != ''">
		AND A.BL_SRNO = #{blSrno}
		</if>
		ORDER BY A.TRN_SRNO ASC
    </select>

    <!--
    Voir la liste des Demande de Véhicule !==차량 목록 조회==!
    -->
    <select id="selectCarLoadMdfyBlVhclList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlVhclVo">
        /* selectCarLoadMdfyBlVhclList */
        SELECT A.LOAD_MDFY_RQST_NO		 /** !==적재정정신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.VHCL_SRNO               /** Numéro De Séquence De Véhicule !== 차량일련번호 ==! */
	         , A.CHSS_NO                 /** N° De Châssis !== 차대번호 ==! */
	         , A.VHCL_RGSR_NO            /** VOYAGE VEHICULES VEHICULE NUMERO_IMMATRICULATION !== 차량등록번호 ==! */
	         , A.VHCL_MNUR_CD            /** Code De Fabricant Du Véhicule !== 차량제조사코드 ==! */
	         , (SELECT VHCL_MNUR_NM FROM TB_COM_VHCL_MNUR WHERE VHCL_MNUR_CD = A.VHCL_MNUR_CD AND DEL_YN = 'N' AND ROWNUM = 1) AS VHCL_MNUR_NM	/** Nom de fabricant du véhicule !==차량제조사명==! */
	         , A.VHCL_MDL_CD             /** Code De Modèle Du Véhicule !== 차량모델코드 ==! */
	         , (SELECT VHCL_MDL_NM FROM TB_COM_VHCL_MDL WHERE VHCL_MDL_CD = A.VHCL_MDL_CD AND DEL_YN = 'N' AND ROWNUM = 1) AS VHCL_MDL_NM		/** Nom de modèle du véhicule !==차량모델명==! */
	         , A.VHCL_KND_NM             /** Type De Véhicule !== 차량종류명 ==! */
	         , A.VHCL_MNFC_YY            /** Année De Fabrication De Véhicule !== 차량제조년도 ==! */
	         , A.ENGN_CLND_GCNT          /** Nombre De Cylindres De Moteur !== 엔진기통개수 ==! */
	         , A.VHCL_TOTL_WGHT          /** Poids total en charge !== 차량총중량 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
	         , ROWNUM AS RNUM
		FROM TB_CARI_LOAD_MDFY_BL_VHCL A
	    WHERE A.DEL_YN = 'N'
		AND A.LOAD_MDFY_RQST_NO = #{loadMdfyRqstNo}
		<if test="blSrno != null and blSrno != ''">
		AND A.BL_SRNO = #{blSrno}
		</if>
		ORDER BY A.VHCL_SRNO ASC
    </select>
    
    <!--
    Non utilisé !==사용안함==!
    -->
    <update id="updateBlNoInt" parameterType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* updateBlNoInt */
        UPDATE ALPASSINT.TB_CARI_LOAD_BL
        <choose>
			<when test = "blNo != null and blNo != ''">
		      SET BL_NO = #{blNo}
		      WHERE LOAD_RQST_NO = #{loadRqstNo} AND BL_NO = #{bfBlNo}
			</when>
			<otherwise>
		      SET HBL_NO = #{hblNo}
		      WHERE LOAD_RQST_NO = #{loadRqstNo} AND HBL_NO = #{bfBlNo}
			</otherwise>
		</choose>
    </update>
    <!--
    Non utilisé !==사용안함==!
    -->
    <update id="updateBlNoExt" parameterType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* updateBlNoExt */
        UPDATE ALPASSEXT.TB_CARE_LOAD_BL
		<choose>
			<when test = "blNo != null and blNo != ''">
		      SET BL_NO = #{blNo}
		      WHERE LOAD_RQST_MGMT_NO = #{loadRqstMgmtNo} AND BL_NO = #{bfBlNo}
			</when>
			<otherwise>
		      SET HBL_NO = #{hblNo}
		      WHERE LOAD_RQST_MGMT_NO = #{loadRqstMgmtNo} AND HBL_NO = #{bfBlNo}
			</otherwise>
		</choose>
    </update>

</mapper>

























