<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.load.mapper.CarLoadBlTrnMapper">

    <!--
    Voir la liste des Demande de Train !==열차 목록 조회==!
    -->
    <select id="selectCarLoadBlTrnList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlTrnVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlTrnVo">
        /* selectCarLoadBlTrnList */
        <if test="pagination != null and  pagination == true ">
        SELECT #{totBlTrnCnt} AS TOT_CNT
             , SQLRSLT.*
             , ROWNUM as RNUM
          FROM (
        </if>
        SELECT A.LOAD_RQST_NO			 /** !==적재신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.TRN_SRNO                /** numéro de série du train !== 열차일련번호 ==! */
	         , A.TRN_RGSR_NO             /** N° De Train !== 열차번호 ==! */
	         , A.WGN_NO                  /** N° De Wagon !== 왜건번호 ==! */
	         , A.WGN_TYPE                /** type de wagon !== 왜건타입 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
								FROM TB_CARI_LOAD_BL_TRN A
							    WHERE A.DEL_YN = 'N'
								AND A.LOAD_RQST_NO = #{loadRqstNo}
								<if test="blSrno != null and blSrno != ''">
								AND	A.BL_SRNO = #{blSrno}
								</if>
								<if test="trnRgsrNo != null and trnRgsrNo != ''">
       AND	UPPER(A.TRN_RGSR_NO) LIKE UPPER(#{trnRgsrNo})||'%'
       </if>
							ORDER BY A.TRN_RGSR_NO
							<include refid="pagination.footer" ></include>
    </select>

    <!--
    Enregistrement de la déclaration de Train !==열차 정보를 저장한다==!
    -->
    <insert id="insertCarLoadBlTrn" parameterType="alpass.ipt.car.load.vo.CarLoadBlTrnVo">
        /* insertCarLoadBlTrn */
        INSERT INTO TB_CARI_LOAD_BL_TRN (
        	  LOAD_RQST_NO       	  /** !== 적재신청번호 ==! */
	        , BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	        , TRN_SRNO                /** numéro de série du train !== 열차일련번호 ==! */
	        , TRN_RGSR_NO             /** N° De Train !== 열차번호 ==! */
	        , WGN_NO                  /** N° De Wagon !== 왜건번호 ==! */
	        , WGN_TYPE                /** type de wagon !== 왜건타입 ==! */
	        , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
        ) VALUES (
              #{loadRqstNo}
			, #{blSrno}                       /** N° De Séquence De Ble !== BL일련번호 ==! */
			, #{trnSrno}                    /** numéro de série du train !== 열차일련번호 ==! */
			, #{trnRgsrNo}                  /** N° De Train !== 열차번호 ==! */
			, #{wgnNo}                      /** N° De Wagon !== 왜건번호 ==! */
			, #{wgnType}                    /** type de wagon !== 왜건타입 ==! */
			, 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
        )
    </insert>

    <!--
    Supprimer la  déclaration de Train  !==열차 정보를 삭제한다.==!
    -->
    <update id="deleteCarLoadBlTrn" parameterType="alpass.ipt.car.load.vo.CarLoadBlVo" >
        /* deleteCarLoadBlTrn */
        DELETE FROM TB_CARI_LOAD_BL_TRN
        WHERE DEL_YN = 'N'
        AND LOAD_RQST_NO = #{loadRqstNo}
        AND	BL_SRNO = #{blSrno}
    </update>

</mapper>

























