<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.load.mapper.CarLoadBlMapper">

    <!--
    Demande de chargement BL!== 적재신청 BL ==!
    -->
    <sql id ="selectItemCarLoadBl">
	    SELECT A.LOAD_RQST_NO							/** !==적재신청번호==! */
	         , A.BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	         , A.BL_NO                   /** N° De Bl !== BL번호 ==! */
	         , A.HBL_NO                   /** N° de House B/L !== HBL번호 ==! */
	         , A.CAG_TP_CD               /** Type de flux !== 화물구분코드 ==! */
	         , A.BL_TP_CD                /** Code De Catégorie De B/L !== BL구분코드 ==! */
	         , A.BL_PT_CD                /** Code De Type De Bl !== BL유형코드 ==! */
	         , NVL(A.COAT_TRNP_YN, 'N') AS COAT_TRNP_YN   /** !==연안운송여부==! */
	         , A.LOAD_REGN_CD            /** Code De Lieu De Chargement !== 적재지역코드 ==! */
	         , FN_CARI_GET_PORT_AIRPT_CITY_CD_NM(A.LOAD_REGN_CD, #{langCd}) AS LOAD_REGN_NM
	         , A.LDUN_REGN_CD            /** Code De Lieu De Déchargement !== 하역지역코드 ==! */
	         , FN_CARI_GET_PORT_AIRPT_CITY_CD_NM(A.LDUN_REGN_CD, #{langCd}) AS LDUN_REGN_NM
	         , A.IBOBZ_CD                /** !== 보세구역코드 ==! */
	         , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM
	         , A.STVD_CD                 /** Code De Stevedoremanutentionnaire !== 하역업자코드 ==! */
	         , FN_CARI_GET_CO_NM(A.STVD_CD) AS STVD_NM
	         , A.TRNH_REGN_CD            /** Code De Région De Transbordement !== 환적지역코드 ==! */
	         , FN_CARI_GET_PORT_AIRPT_CITY_CD_NM(A.TRNH_REGN_CD, #{langCd}) AS TRNH_REGN_NM
	         , A.CAG_CHRC_CD             /** Nature De Cargaison !== 화물특성코드 ==! */
	         , A.CAS_NO                  /** Numero CAS !== CAS번호 ==! */
	         , A.HS_CD                   /** Code Sh !== HS코드 ==! */
	         , (SELECT HS_DESC FROM TB_CLRI_HS_CD WHERE HS_CD = A.HS_CD) AS HS_DESC
	         , A.SEND_WAY                /** Mode de livraison !== 발송방식 ==! */
	         , A.PDLS_NM                 /** Nom De L'Article !== 품목명 ==! */
	         , A.CMDT_KND_CD             /** Nature De Marchandise !== 물품종류코드 ==! */
	         , A.PCKG_GCNT               /** Nombre De Colis !== 포장개수 ==! */
	         , A.ECNTR_WGHT              /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
	         , A.TTWG                    /** Poids Brut !== 총중량 ==! */
	         , A.NTWG                    /** Poids Net !== 순중량 ==! */
	         , A.CBM_VOL                 /** Volume (Mtq) !== 입방미터용적 ==! */
	         , A.LIR_VOL                 /** Volume (Litre) !== 리터용적 ==! */
	         , A.HDCB_TP_CD              /** Code de type d'hydrocarbure !== 탄화수소구분코드 ==! */
	         , A.SHMR_CN                 /** Marque De Colis !== 화인내용 ==! */
	         , A.ADD_INFO_CN             /** Info Supplémentaire !== 부가정보내용 ==! */
	         , A.CNTR_GCNT               /** Nombre De Conteneurs !== 컨테이너개수 ==! */
	         , A.VHCL_GCNT               /** Nombre De Véhicules !== 차량개수 ==! */
	         , A.CMDT_AMT                /** Valeur de marchandise !== 물품금액 ==! */
	         , A.CMDT_AMT_CURR_CD        /** Article Montant Code de devise !== 물품금액통화코드 ==! */
	         , A.PRPM_DFPM_CACH_TP_CD	/** Ind. fret prépayé/dû !== 선불후불운임구분코드 ==! */
	         , A.EXPPN_TXPR_IDFY_NO      /** NIF de l'exportateur !== 수출자납세자식별번호 ==! */
	         , A.EXPPN_NM                /** Nom De L'Exportateur !== 수출자명 ==! */
	         , A.EXPPN_ADDR_NM           /** Adresse De L'Exportateur !== 수출자주소명 ==! */
	         , A.EXPPN_TLPH_NO           /** Téléphone De L'Exportateur !== 수출자전화번호 ==! */
	         , A.EXPPN_EML               /** Email De L'Exportateur !== 수출자이메일 ==! */
	         , A.CNSI_TXPR_IDFY_NO       /** Niu Du Destinataire !== 수하인납세자식별번호 ==! */
	         , A.CNSI_NM                 /** Nom de destinataire !== 수하인명 ==! */
	         , A.CNSI_ADDR_NM            /** Adresse Du Destinataire !== 수하인주소명 ==! */
	         , A.CNSI_TLPH_NO            /** N° de téléphone de destinataire !== 수하인전화번호 ==! */
	         , A.CNSI_EML                /** E-mail de destinataire !== 수하인이메일 ==! */
	         , A.NTPR_NM                 /** Nom De La Partie À Notifier !== 통지처명 ==! */
	         , A.NTPR_ADDR_NM            /** Adresse De La Partie À Notifier !== 통지처주소명 ==! */
	         , A.NTPR_TLPH_NO            /** Téléphone De La Partie À Notifier !== 통지처전화번호 ==! */
	         , A.NTPR_EML                /** Email De La Partie À Notifier !== 통지처이메일 ==! */
	         , A.BF_CAG_MGMT_NO          /** Crn Précédent !== 이전화물관리번호 ==! */
	         , A.BL_MDFY_TP_CD           /** Code de catégorie de rectification de BL !== BL정정구분코드 ==! */
	         , A.CNSI_TXPR_IDFY_NO_NIN     /** NIN de déstinataire!==수하인납세자식별번호(NIN)==! */ 
	         , A.EXPPN_TXPR_IDFY_NO_NIN    /** NIN d'exportateur!==수출자납세자식별번호(NIN)==! */   
	         , A.PCKG_UT_CD                /** Code De L'Unité De Colis !== 포장단위코드 ==! */
	         , TO_CHAR(TO_DATE(A.BL_PBLS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS BL_PBLS_DT		  /** Date de delivrance du B/L !==BL발급일자==! */
	         , A.UNDG_ID                                                AS UNDG_ID            /** Identifiant UNDG !== UNDGID ==! */
             , A.UNDG_GD_CD                                             AS UNDG_GD_CD 		  /** Code de classe UNDG !== UNDG등급 ==! */
             , A.CHER_YN 											    AS CHER_YN 			  /** affréteur d’espace/slot !== 용선여부 ==! */
             , A.CHER_GVNM_NM 										    AS CHER_GVNM_NM 	  /** nom de l’affréteur/slotteur !== 용선이름 ==! */
             , A.CHER_ADDR_NM 										    AS CHER_ADDR_NM  	  /** adresse affréteur/slotteur !== 용선주소 ==! */
	         , A.DEL_YN
	         , A.FRST_REGST_ID
	         , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
	         , A.LAST_CHPR_ID
	         , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
	        , (SELECT COUNT(BL_NO) FROM TB_CARI_LOAD_BL
            	WHERE LOAD_RQST_NO = A.LOAD_RQST_NO
            	AND DEL_YN = 'N'
            	AND BL_PT_CD = 'H'
            	AND BL_NO = A.BL_NO
            	) AS AL_HBL_GCNT
             , (SELECT NVL(SUM(PCKG_GCNT), 0) FROM TB_CARI_LOAD_BL
            	WHERE LOAD_RQST_NO = A.LOAD_RQST_NO
            	AND BL_NO = A.BL_NO
            	AND DEL_YN = 'N') AS AL_PCKG_GCNT
             , (SELECT NVL(SUM(TTWG), 0) FROM TB_CARI_LOAD_BL
            	WHERE LOAD_RQST_NO = A.LOAD_RQST_NO
            	AND BL_NO = A.BL_NO
            	AND DEL_YN = 'N') AS AL_TTWG
             , (SELECT NVL(SUM(NTWG), 0) FROM TB_CARI_LOAD_BL
            	WHERE LOAD_RQST_NO = A.LOAD_RQST_NO
            	AND BL_NO = A.BL_NO
            	AND DEL_YN = 'N') AS AL_NTWG
		FROM TB_CARI_LOAD_BL A
	    WHERE A.DEL_YN = 'N'
    </sql>


    <!--
    Voir la liste des Demande de  B/L !== B/L 목록 조회한다.==!
    -->
    <select id="selectCarLoadBlList"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* selectCarLoadBlList */
        <include refid="pagination.header" ></include>
        <include refid="selectItemCarLoadBl"></include>
								AND A.LOAD_RQST_NO = #{loadRqstNo}
								<if test="blPtCd != null and blPtCd != ''">
								AND A.BL_PT_CD = #{blPtCd}
								</if>
								<if test="blNo != null and blNo != ''">
								AND	A.BL_NO = #{blNo}
								</if>
								<if test="hblNo != null and hblNo != ''">
								AND	A.HBL_NO = #{hblNo}
								</if>
								<if test="cagTpCd != null and cagTpCd != ''">
								AND	A.CAG_TP_CD = #{cagTpCd}
								</if>
								ORDER BY A.BL_SRNO ASC
								<include refid="pagination.footer" ></include>
			 </select>

    <!--
    Voir les détails de la déclaration de B/L !== B/L 조회한다.==!
    -->
    <select id="selectCarLoadBl"
            parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
            resultType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* selectCarLoadBl */
		        <include refid="selectItemCarLoadBl"></include>
											AND A.LOAD_RQST_NO = #{loadRqstNo}
											AND	A.BL_SRNO = #{blSrno}
    </select>

    <!--
    Enregistrement de la déclaration de B/L !==B/L 정보를 저장한다==!
    -->
    <insert id="insertCarLoadBl" parameterType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* insertCarLoadBl */
        INSERT INTO TB_CARI_LOAD_BL (
        	  LOAD_RQST_NO       	  /** !== 적재신청번호 ==! */
        	, BL_SRNO                 /** N° De Séquence De Ble !== BL일련번호 ==! */
	        , BL_NO                   /** N° De Bl !== BL번호 ==! */
	        , HBL_NO                   /** N° de House B/L !== HBL번호 ==! */
	        , CAG_TP_CD               /** Type de flux !== 화물구분코드 ==! */
	        , BL_TP_CD                /** Code De Catégorie De B/L !== BL구분코드 ==! */
	        , BL_PT_CD                /** Code De Type De Bl !== BL유형코드 ==! */
	        , COAT_TRNP_YN			  /** 연안운송여부 */
	        , LOAD_REGN_CD            /** Code De Lieu De Chargement !== 적재지역코드 ==! */
	        , LDUN_REGN_CD            /** Code De Lieu De Déchargement !== 하역지역코드 ==! */
	        , IBOBZ_CD                /** !== 보세구역코드 ==! */
	        , STVD_CD                 /** Code De Stevedoremanutentionnaire !== 하역업자코드 ==! */
	        , TRNH_REGN_CD            /** Code De Région De Transbordement !== 환적지역코드 ==! */
	        , CAG_CHRC_CD             /** Nature De Cargaison !== 화물특성코드 ==! */
	        , CAS_NO                  /** Numero CAS !== CAS번호 ==! */
	        , HS_CD                   /** Code Sh !== HS코드 ==! */
	        , SEND_WAY                /** Mode de livraison !== 발송방식 ==! */
	        , PDLS_NM                 /** Nom De L'Article !== 품목명 ==! */
	        , CMDT_KND_CD             /** Nature De Marchandise !== 물품종류코드 ==! */
	        , PCKG_GCNT               /** Nombre De Colis !== 포장개수 ==! */
	        , ECNTR_WGHT              /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
	        , TTWG                    /** Poids Brut !== 총중량 ==! */
	        , NTWG                    /** Poids Net !== 순중량 ==! */
	        , CBM_VOL                 /** Volume (Mtq) !== 입방미터용적 ==! */
	        , LIR_VOL                 /** Volume (Litre) !== 리터용적 ==! */
	        , HDCB_TP_CD              /** Code de type d'hydrocarbure !== 탄화수소구분코드 ==! */
	        , SHMR_CN                 /** Marque De Colis !== 화인내용 ==! */
	        , ADD_INFO_CN             /** Info Supplémentaire !== 부가정보내용 ==! */
	        , CNTR_GCNT               /** Nombre De Conteneurs !== 컨테이너개수 ==! */
	        , VHCL_GCNT               /** Nombre De Véhicules !== 차량개수 ==! */
	        , CMDT_AMT                /** Valeur de marchandise !== 물품금액 ==! */
	        , CMDT_AMT_CURR_CD        /** Article Montant Code de devise !== 물품금액통화코드 ==! */
	        , PRPM_DFPM_CACH_TP_CD	/** Ind. fret prépayé/dû !== 선불후불운임구분코드 ==! */
	        , EXPPN_TXPR_IDFY_NO      /** NIF de l'exportateur !== 수출자납세자식별번호 ==! */
	        , EXPPN_NM                /** Nom De L'Exportateur !== 수출자명 ==! */
	        , EXPPN_ADDR_NM           /** Adresse De L'Exportateur !== 수출자주소명 ==! */
	        , EXPPN_TLPH_NO           /** Téléphone De L'Exportateur !== 수출자전화번호 ==! */
	        , EXPPN_EML               /** Email De L'Exportateur !== 수출자이메일 ==! */
	        , CNSI_TXPR_IDFY_NO       /** Niu Du Destinataire !== 수하인납세자식별번호 ==! */
	        , CNSI_NM                 /** Nom de destinataire !== 수하인명 ==! */
	        , CNSI_ADDR_NM            /** Adresse Du Destinataire !== 수하인주소명 ==! */
	        , CNSI_TLPH_NO            /** N° de téléphone de destinataire !== 수하인전화번호 ==! */
	        , CNSI_EML                /** E-mail de destinataire !== 수하인이메일 ==! */
	        , NTPR_NM                 /** Nom De La Partie À Notifier !== 통지처명 ==! */
	        , NTPR_ADDR_NM            /** Adresse De La Partie À Notifier !== 통지처주소명 ==! */
	        , NTPR_TLPH_NO            /** Téléphone De La Partie À Notifier !== 통지처전화번호 ==! */
	        , NTPR_EML                /** Email De La Partie À Notifier !== 통지처이메일 ==! */
	        , BF_CAG_MGMT_NO          /** Crn Précédent !== 이전화물관리번호 ==! */
	        , BL_MDFY_TP_CD           /** Code de catégorie de rectification de BL !== BL정정구분코드 ==! */
	        , CNSI_TXPR_IDFY_NO_NIN     /** NIN de déstinataire!==수하인납세자식별번호(NIN)==! */ 
	        , EXPPN_TXPR_IDFY_NO_NIN    /** NIN d'exportateur!==수출자납세자식별번호(NIN)==! */   
	        , PCKG_UT_CD                /** Code De L'Unité De Colis !== 포장단위코드 ==! */
	        , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
        ) VALUES (
              #{loadRqstNo}
            , #{blSrno}                    /** N° De Séquence De Ble !== BL일련번호 ==! */
			, #{blNo}                       /** N° De Bl !== BL번호 ==! */
			, #{hblNo}                     /** N° de House B/L !== HBL번호 ==! */
			, #{cagTpCd}                    /** Type de flux !== 화물구분코드 ==! */
			, #{blTpCd}                     /** Code De Catégorie De B/L !== BL구분코드 ==! */
			, #{blPtCd}                   /** Code De Type De Bl !== BL유형코드 ==! */
			, #{coatTrnpYn}
			, #{loadRegnCd}                 /** Code De Lieu De Chargement !== 적재지역코드 ==! */
			, #{ldunRegnCd}                 /** Code De Lieu De Déchargement !== 하역지역코드 ==! */
			, #{ibobzCd}                     /** Code DT !== DT코드 ==! */
			, #{stvdCd}                     /** Code De Stevedoremanutentionnaire !== 하역업자코드 ==! */
			, #{trnhRegnCd}                 /** Code De Région De Transbordement !== 환적지역코드 ==! */
			, #{cagChrcCd}                  /** Nature De Cargaison !== 화물특성코드 ==! */
			, #{casNo}                      /** Numero CAS !== CAS번호 ==! */
			, #{hsCd}                       /** Code Sh !== HS코드 ==! */
			, #{sendWay}                    /** Mode de livraison !== 발송방식 ==! */
			, #{pdlsNm}                     /** Nom De L'Article !== 품목명 ==! */
			, #{cmdtKndCd}                  /** Nature De Marchandise !== 물품종류코드 ==! */
			, #{pckgGcnt}                   /** Nombre De Colis !== 포장개수 ==! */
			, #{ecntrWght}                  /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
			, #{ttwg}                       /** Poids Brut !== 총중량 ==! */
			, #{ntwg}                       /** Poids Net !== 순중량 ==! */
			, #{cbmVol}                     /** Volume (Mtq) !== 입방미터용적 ==! */
			, #{lirVol}                     /** Volume (Litre) !== 리터용적 ==! */
			, #{hdcbTpCd}                   /** Code de type d'hydrocarbure !== 탄화수소구분코드 ==! */
			, #{shmrCn}                     /** Marque De Colis !== 화인내용 ==! */
			, #{addInfoCn}                  /** Info Supplémentaire !== 부가정보내용 ==! */
			, #{cntrGcnt}                   /** Nombre De Conteneurs !== 컨테이너개수 ==! */
			, #{vhclGcnt}                   /** Nombre De Véhicules !== 차량개수 ==! */
			, #{cmdtAmt}                    /** Valeur de marchandise !== 물품금액 ==! */
			, #{cmdtAmtCurrCd}              /** Article Montant Code de devise !== 물품금액통화코드 ==! */
			, #{prpmDfpmCachTpCd}           /** Ind. fret prépayé/dû !== 선불후불운임구분코드 ==! */
			, #{exppnTxprIdfyNo}            /** NIF de l'exportateur !== 수출자납세자식별번호 ==! */
			, #{exppnNm}                    /** Nom De L'Exportateur !== 수출자명 ==! */
			, #{exppnAddrNm}                /** Adresse De L'Exportateur !== 수출자주소명 ==! */
			, #{exppnTlphNo}                /** Téléphone De L'Exportateur !== 수출자전화번호 ==! */
			, #{exppnEml}                   /** Email De L'Exportateur !== 수출자이메일 ==! */
			, #{cnsiTxprIdfyNo}             /** Niu Du Destinataire !== 수하인납세자식별번호 ==! */
			, #{cnsiNm}                     /** Nom de destinataire !== 수하인명 ==! */
			, #{cnsiAddrNm}                 /** Adresse Du Destinataire !== 수하인주소명 ==! */
			, #{cnsiTlphNo}                 /** N° de téléphone de destinataire !== 수하인전화번호 ==! */
			, #{cnsiEml}                    /** E-mail de destinataire !== 수하인이메일 ==! */
			, #{ntprNm}                     /** Nom De La Partie À Notifier !== 통지처명 ==! */
			, #{ntprAddrNm}                 /** Adresse De La Partie À Notifier !== 통지처주소명 ==! */
			, #{ntprTlphNo}                 /** Téléphone De La Partie À Notifier !== 통지처전화번호 ==! */
			, #{ntprEml}                    /** Email De La Partie À Notifier !== 통지처이메일 ==! */
			, #{bfCagMgmtNo}                /** Crn Précédent !== 이전화물관리번호 ==! */
			, #{blMdfyTpCd}                 /** Code de catégorie de rectification de BL !== BL정정구분코드 ==! */
			, #{cnsiTxprIdfyNoNin}          /** NIN de déstinataire!==수하인납세자식별번호(NIN)==! */ 
	        , #{exppnTxprIdfyNoNin}         /** NIN d'exportateur!==수출자납세자식별번호(NIN)==! */   
	        , #{pckgUtCd}                   /** Code De L'Unité De Colis !== 포장단위코드 ==! */
			, #{delYn}
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
        )
    </insert>

    <!--
     Modifier la  déclaration de B/L !==B/L 정보를 수정한다.==!
    -->
    <update id="updateCarLoadBl" parameterType="alpass.ipt.car.load.vo.CarLoadBlVo" >
        /* updateCarLoadBl */
        UPDATE TB_CARI_LOAD_BL SET
        	  DEL_YN = 'N'
        	, LAST_CHPR_ID = #{lastChprId}
        	, LAST_CHG_DTTM = SYSTIMESTAMP
        	, CAG_TP_CD = #{cagTpCd}
	        , BL_TP_CD = #{blTpCd}
	        , COAT_TRNP_YN = #{coatTrnpYn}
	        , LOAD_REGN_CD = #{loadRegnCd}
	        , LDUN_REGN_CD = #{ldunRegnCd}
	        , IBOBZ_CD = #{ibobzCd}
	        , STVD_CD = #{stvdCd}
<!-- 	        , TRNS_REGN_CD = #{trnsRegnCd} -->
	        , TRNH_REGN_CD = #{trnhRegnCd}
	        , CAG_CHRC_CD = #{cagChrcCd}
	        , CAS_NO = #{casNo}
	        , HS_CD = #{hsCd}
	        , SEND_WAY = #{sendWay}
	        , PDLS_NM = #{pdlsNm}
	        , CMDT_KND_CD = #{cmdtKndCd}
	        , PCKG_GCNT = #{pckgGcnt}
	        , ECNTR_WGHT = #{ecntrWght}
	        , TTWG = #{ttwg}
	        , NTWG = #{ntwg}
	        , CBM_VOL = #{cbmVol}
	        , LIR_VOL = #{lirVol}
	        , HDCB_TP_CD = #{hdcbTpCd}
	        , SHMR_CN = #{shmrCn}
	        , ADD_INFO_CN = #{addInfoCn}
	        , CNTR_GCNT = #{cntrGcnt}
	        , VHCL_GCNT = #{vhclGcnt}
	        , CMDT_AMT = #{cmdtAmt}
	        , CMDT_AMT_CURR_CD = #{cmdtAmtCurrCd}
	        , PRPM_DFPM_CACH_TP_CD = #{prpmDfpmCachTpCd}
	        , EXPPN_TXPR_IDFY_NO = #{exppnTxprIdfyNo}
	        , EXPPN_NM = #{exppnNm}
	        , EXPPN_ADDR_NM = #{exppnAddrNm}
	        , EXPPN_TLPH_NO = #{exppnTlphNo}
	        , EXPPN_EML = #{exppnEml}
	        , CNSI_TXPR_IDFY_NO = #{cnsiTxprIdfyNo}
	        , CNSI_NM = #{cnsiNm}
	        , CNSI_ADDR_NM = #{cnsiAddrNm}
	        , CNSI_TLPH_NO = #{cnsiTlphNo}
	        , CNSI_EML = #{cnsiEml}
	        , NTPR_NM = #{ntprNm}
	        , NTPR_ADDR_NM = #{ntprAddrNm}
	        , NTPR_TLPH_NO = #{ntprTlphNo}
	        , NTPR_EML = #{ntprEml}
	        , BF_CAG_MGMT_NO = #{bfCagMgmtNo}
	        , BL_MDFY_TP_CD = #{blMdfyTpCd}
	        <!-- <if test="grdastNm != null">
            , grdast_nm = #{grdastNm}						  /** Assistant au sol !==조업사명==! */
            </if> -->
        WHERE LOAD_RQST_NO = #{loadRqstNo}
        AND	BL_NO = #{blNo}
    </update>

    <!--
    Supprimer la  déclaration de B/L  !==B/L 정보를 삭제한다.==!
    -->
    <update id="deleteCarLoadBl" parameterType="alpass.ipt.car.load.vo.CarLoadBlVo" >
        /* deleteCarLoadBl */
        DELETE FROM TB_CARI_LOAD_BL
        WHERE DEL_YN = 'N'
        AND LOAD_RQST_NO = #{loadRqstNo}
        AND	BL_NO = #{blNo}
    </update>
    
    <!--
    Total de la liste des B/L Item !==BL Item 카운트==!
    -->
    <select id="selectCarLoadBlItemCnt" parameterType="alpass.ipt.car.load.vo.CarLoadBlVo"
     resultType="alpass.ipt.car.load.vo.CarLoadBlVo">
        /* selectCarLoadBlItemCnt */
        SELECT 
	        (SELECT
	        COUNT(*) 
	        FROM TB_CARI_LOAD_BL_CNTR        /**(CARE_적재_BL_컨테이너) */
	        WHERE DEL_YN = 'N'
	        AND LOAD_RQST_NO = #{loadRqstNo}
	        AND	BL_SRNO = #{blSrno}) AS TOT_BL_CNTR_CNT
	        ,(SELECT
	        COUNT(*) 
	        FROM TB_CARI_LOAD_BL_EXFM       /**(CARE_적재_BL_수출이행) */
	        WHERE DEL_YN = 'N'
	        AND LOAD_RQST_NO = #{loadRqstNo}
	        AND	BL_SRNO = #{blSrno}) AS TOT_BL_EXFM_CNT
	        ,(SELECT
	        COUNT(*) 
	        FROM TB_CARI_LOAD_BL_TRLR       /**(CARE_적재_BL_트레일러) */
	        WHERE DEL_YN = 'N'
	        AND LOAD_RQST_NO = #{loadRqstNo}
	        AND	BL_SRNO = #{blSrno}) AS TOT_BL_TRLR_CNT
	        ,(SELECT
	        COUNT(*) 
	        FROM TB_CARI_LOAD_BL_TRN        /**(CARE_적재_BL_열차) */
	        WHERE DEL_YN = 'N'
	        AND LOAD_RQST_NO = #{loadRqstNo}
	        AND	BL_SRNO = #{blSrno}) AS TOT_BL_TRN_CNT
	        ,(SELECT
	        COUNT(*) 
	        FROM TB_CARI_LOAD_BL_VHCL       /**(CARE_적재_BL_차량) */
	        WHERE DEL_YN = 'N'
	        AND LOAD_RQST_NO = #{loadRqstNo}
	        AND	BL_SRNO = #{blSrno}) AS TOT_BL_VHCL_CNT 
    </select>

</mapper>

























