<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.pot.pm.vhcl.mapper.PotPmVhclMnurmgmtMapper">

	<!--
		 Consulter les codes de fabricant de véhicule !== 차량제조사코드 목록 조회  ==!
	-->
	<select id="selectVhclMnurCdList" parameterType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMnurMgmtVo"
			resultType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMnurMgmtVo">
		/* selectVhclMnurCdList */
		<include refid="pagination.header"/>
		SELECT VHCL_MNUR_CD,
           	   VHCL_MNUR_NM
	    FROM TB_COM_VHCL_MNUR
	    WHERE DEL_YN = 'N'
	    <if test="vhclMnurCd != null and vhclMnurCd != ''">
	      AND VHCL_MNUR_CD = #{vhclMnurCd}
	    </if>
	    <if test="vhclMnurNm != null and vhclMnurNm != ''">
	      AND UPPER(VHCL_MNUR_NM) LIKE '%'||UPPER(#{vhclMnurNm})||'%'
	    </if>
	    ORDER BY VHCL_MNUR_CD
		<include refid="pagination.footer"/>
	</select>

	<!--
		 Supprimer les codes de fabricant de véhicule !== 차량제조사코드 삭제  ==!
	-->
	<update id="deleteVhclMnurCd" parameterType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMnurMgmtVo">
		/* deleteVhclMnurCd */
	 	UPDATE TB_COM_VHCL_MNUR
		SET
			  LAST_CHPR_ID = #{lastChprId}
			, LAST_CHG_DTTM = SYSTIMESTAMP
			, DEL_YN = 'Y'
		WHERE DEL_YN = 'N'
		AND   VHCL_MNUR_CD = #{vhclMnurCd}
		AND   UPPER(VHCL_MNUR_NM) = UPPER(#{vhclMnurNm})
	</update>

	<!--
		 Enregistrer les codes de fabricant de véhicule !== 차량제조사코드 등록  ==!
	-->
 	<insert id="insertVhclMnurCd" parameterType="alpass.ipt.pot.pm.vhcl.vo.PotPmVhclMnurMgmtVo">
		/** insertVhclMnurCd */
 		WITH UPSERT AS
		(
			UPDATE TB_COM_VHCL_MNUR
			SET
				  DEL_YN = 'N'
				, VHCL_MNUR_NM = #{vhclMnurNm}
				, LAST_CHPR_ID = #{lastChprId}
				, LAST_CHG_DTTM = SYSTIMESTAMP
			WHERE VHCL_MNUR_CD = #{vhclMnurCd}
			RETURNING *
		)
		INSERT INTO TB_COM_VHCL_MNUR
		(
			  VHCL_MNUR_CD
			, VHCL_MNUR_NM 
			, DEL_YN
			, FRST_REGST_ID
			, FRST_RGSR_DTTM
			, LAST_CHPR_ID
			, LAST_CHG_DTTM
		)
		SELECT
			  #{vhclMnurCd}
			, #{vhclMnurNm}
			, 'N'
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
		WHERE NOT EXISTS(SELECT * FROM UPSERT)
	</insert>
		
</mapper>
