<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  Mapper : Enregistrer d'exécution de batch de simulation !== 모의배치 실행등록 Mapper ==!
-->
<mapper namespace="alpass.ipt.rsm.smlt.mapper.RsmSmltBtchMapper">

    <!--
        [Enregistrer les lots(s)] Consulter la liste !== [배치등록] 목록조회 ==!
    -->
    
    <select id="selectBtchList"
        parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo" 
        resultType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /* selectBtchList */
        <include refid="pagination.header"/>
        SELECT chkSel               /** Selectionner !== 선택 ==! */
             , RQST_BASE_CLSF_CD    /** Code de classification du critère renseigné !== 신청기준분류코드  ==! */
             , APLY_BASE_CLSF_CD    /** Code de classification de critère en vigueur !== 적용기준분류코드 ==!*/
             , BASE_RGSR_NO         /** Numéro d'enregistrement !== 기준등록번호 ==!*/
             , BASE_RQST_TP_CD      /** Code de type de renseignement  !== 기준신청구분코드 ==!*/
             , APLY_DT              /** Date d'application !== 적용일자 ==!*/
             , APLY_STRT_DT         /** Date de début d'application !== 적용시작일자 ==!*/
             , APLY_END_DT          /** Date de fin d'application !== 적용종료일자 ==!*/
             , BASE_DESC            /** Description de critère !== 기준설명 ==! */
             , BASE_APLY_YN         /** En vigueur O/N !== 기준적용여부 ==! */
             , BASE_PRCS_STTS_CD    /** Code de statut de critère  !== 기준처리상태 ==!*/
             , FRST_REGST_ID        /** ID du premier enregistrant  !== 최초등록자ID  ==!*/
             , ( SELECT EMP_NM
                 FROM   TB_POTI_EMP
                 WHERE  PBSR_NO = A.FRST_REGST_ID
               ) AS FRST_REGST_NM   /** Nom du premier enregistrant  !== 최초등록자이름 ==! */
        FROM   (
            <trim prefixOverrides="UNION ALL" prefix="">
            <if test='basePtCds.contains("O")'>
            UNION ALL
            SELECT 
                  'false' AS chkSel 
                 , A.RQST_BASE_CLSF_CD
                 , A.APLY_BASE_CLSF_CD
                 , A.BASE_RGSR_NO
                 , A.BASE_RQST_TP_CD
                 , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') || '~' || TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_DT
                 , A.APLY_STRT_DT
                 , A.APLY_END_DT
                 , A.BASE_DESC
                 , A.BASE_APLY_YN
                 , A.BASE_PRCS_STTS_CD
                 , A.FRST_REGST_ID
                 , A.FRST_RGSR_DTTM
              FROM TB_RSMI_BASE_MGMT_COMN A
             WHERE A.BASE_RQST_TP_CD = 'O'                  /** Code De Type De Renseignement  !== 기준신청구분코드 ==! */
             AND   A.BASE_PRCS_STTS_CD = 'J04'              /** Code De Statut De Critère  !== 기준처리상태코드 ==! */
             AND   A.RQST_BASE_CLSF_CD = #{baseClsfCd}      /** Code De Classification Du Critère Renseigné !== 신청기준분류코드 ==! */
             AND   A.DCSH_TP_CD = #{dcshTpCd}               /** Code De Type De Déclaration !== 신고서구분코드 ==! */
            </if>
            <if test='basePtCds.contains("S")'>
            UNION ALL
            SELECT 
                  'false' AS chkSel 
                 , A.RQST_BASE_CLSF_CD
                 , A.APLY_BASE_CLSF_CD
                 , A.BASE_RGSR_NO
                 , A.BASE_RQST_TP_CD
                 , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') || '~' || TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_DT
                 , A.APLY_STRT_DT
                 , A.APLY_END_DT
                 , A.BASE_DESC
                 , A.BASE_APLY_YN
                 , A.BASE_PRCS_STTS_CD
                 , A.FRST_REGST_ID
                 , A.FRST_RGSR_DTTM
             FROM  TB_RSMI_BASE_MGMT_COMN A
             WHERE A.BASE_RQST_TP_CD = 'S'                      /** Code De Type De Renseignement  !== 기준신청구분코드 ==! */
             AND   A.RQST_BASE_CLSF_CD = #{baseClsfCd}          /** Code De Classification Du Critère Renseigné !== 신청기준분류코드 ==! */
             AND   A.DCSH_TP_CD = #{dcshTpCd}                   /** Code De Type De Déclaration !== 신고서구분코드 ==! */
            </if>
            <if test='basePtCds.contains("R")'>
            UNION ALL
            SELECT 
                  'false' AS chkSel 
                 , A.RQST_BASE_CLSF_CD
                 , A.APLY_BASE_CLSF_CD
                 , A.BASE_RGSR_NO
                 , A.BASE_RQST_TP_CD
                 , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') || '~' || TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_DT
                 , A.APLY_STRT_DT
                 , A.APLY_END_DT
                 , A.BASE_DESC
                 , A.BASE_APLY_YN
                 , A.BASE_PRCS_STTS_CD
                 , A.FRST_REGST_ID
                 , A.FRST_RGSR_DTTM
             FROM  TB_RSMI_BASE_MGMT_COMN A
             WHERE A.BASE_RQST_TP_CD = 'R'                              /** Code De Type De Renseignement  !== 기준신청구분코드 ==! */
             AND   A.CHPN_ID IS NOT NULL                                /** Id Du Responsable !== 담당자ID ==! */
             AND   A.BASE_PRCS_STTS_CD IN ('D01', 'J04', 'J05')         /** Code De Statut De Critère  !== 기준처리상태코드 ==! */
             AND   A.RQST_BASE_CLSF_CD = #{baseClsfCd}                  /** Code De Classification Du Critère Renseigné !== 신청기준분류코드 ==! */
             AND   A.DCSH_TP_CD = #{dcshTpCd}                           /** Code De Type De Déclaration !== 신고서구분코드 ==! */
            </if>
            </trim>
        ) A
        <if test='selcOrderBy == "01"'>
        ORDER BY A.FRST_RGSR_DTTM DESC
        </if>
        <if test='selcOrderBy == "02"'>
        ORDER BY A.BASE_RGSR_NO DESC
        </if>
        <include refid="pagination.footer"/>
        
    </select>
    
    <!--
    [Gérer le suivi de lots(s)] Consulter la liste !== [배치 모니터링] 목록조회  ==!
    --> 
    <select id="selectBtchMonitList" 
        parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo" 
        resultType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        
        /* selectBtchMonitList */
        <include refid="pagination.header"/>
        
            SELECT A.SMLT_NO                            /** Numéro de simulation != 시뮬레이션번호 =! */
                 , TO_CHAR(TO_DATE(A.ANAY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') || '~' || TO_CHAR(TO_DATE(A.ANAY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ANAY_DT    /** Période d'analyse != 분석기간 =! */
                 , TO_CHAR(A.WKNG_STRT_DTTM, 'DD/MM/YYYY HH24:MI:SS') || '~' || TO_CHAR(A.WKNG_END_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS WKNG_DT    /** Période d'exécution du lot !== 실행기간 ==! */
                 , A.SMLT_STTS_CD                       /** Code du statut de simulation != 시뮬레이션상태코드 =! */
                 , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM    /** Date et heure d'enregistrement != 최초등록일자 =! */
                 , A.FRST_REGST_ID                      /** Enregistré(e) par != 최초등록자ID =! */
                 , ( SELECT EMP_NM
                     FROM   TB_POTI_EMP
                     WHERE  PBSR_NO = A.FRST_REGST_ID
                   ) AS FRST_REGST_NM                   /** Nom du premier enregistrant  !== 최초등록자이름 ==! */
            FROM   TB_RSMI_SMLT_COMN A
            WHERE  1=1
            <foreach item="smltSttsCdItem" collection="smltSttsCds" open="AND A.SMLT_STTS_CD IN (" close=")" separator=",">
            #{smltSttsCdItem}
            </foreach>
            AND    A.DCSH_TP_CD = #{dcshTpCd}           /** Code De Type De Déclaration !== 신고서구분코드 ==! */
            <if test='selcOrderBy == "01"'>
            ORDER BY A.FRST_RGSR_DTTM DESC
            </if>
            <if test='selcOrderBy == "02"'>
            ORDER BY A.SMLT_NO DESC
            </if>
            
        <include refid="pagination.footer"/>
    </select>
    
    <!--
    Consulter le monitoring du traitement par lots(s) (onglet de la classification du critère) !== 모의배치 모니터링 조회(기준분류TAB) ==!
    --> 
    <select id="selectBtchMonitDtlTabList" 
        parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo" 
        resultType="string">
      
        /* selectBtchMonitDtlTabList */
        SELECT A.RQST_BASE_CLSF_CD                          /** Code De Classification Du Critère Renseigné !== 신청기준분류코드 ==! */
        FROM   ( SELECT DISTINCT A.RQST_BASE_CLSF_CD
                 FROM   TB_RSMI_BASE_MGMT_COMN A
                      , TB_RSMI_SMLT_BASE_NO B
                 WHERE  A.BASE_RGSR_NO = B.BASE_RGSR_NO      /** Numéro D'Enregistrement !== 기준등록번호 ==! */
                 AND    B.SMLT_NO = #{smltNo}                /** N° De Simulation !== 시뮬레이션번호 ==! */
               ) A
             ,  TB_COM_COMN_CD_D B
        WHERE   A.RQST_BASE_CLSF_CD = B.CD_VDVAL
        AND     B.COMN_CD = 'RSM_0002'
        ORDER BY B.SORT_ORDR
    </select>
    
    <!--
    [Gérer le suivi de lots(s)] Consulter les détails !== [배치 모니터링] 상세조회 ==!
    --> 
    <select id="selectBtchMonitDtl" 
        parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo" 
        resultType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
      
        /** selectBtchMonitDtl */
        SELECT A.SMLT_NO                /** N° de simulation != 시뮬레이션번호 =! */
             , A.ANAY_STRT_DT           /** Date de l'ouverture d'analyse != 분석시작일자 =! */
             , A.ANAY_END_DT            /** Date de la fermeture d'analyse  != 분석종료일자 =! */
             , A.SMLT_STTS_CD           /** Code du statut de simulation != 시뮬레이션상태코드 =! */
             , A.APLY_CSTM_TP_CD        /** Code de type de bureau != 적용세관구분코드 =! */
             , A.FRST_REGST_ID          /** Enregistré(e) par != 최초등록자ID =! */
             , A.DCSH_TP_CD             /** Type de déclaration != 신고서유형 =! */
             , ( SELECT LISTAGG(Y.CSTM_CD, ',') WITHIN GROUP (ORDER BY Y.FRST_RGSR_DTTM) AS CSTM_CD
                 FROM   TB_RSMI_SMLT_APLY_CSTM Y
                 WHERE  A.SMLT_NO = Y.SMLT_NO
               ) AS CSTM_CD             /** Bureau !== 세관 ==! */
             , ( SELECT LISTAGG(Z.ORGN_NM, ',') WITHIN GROUP (ORDER BY Y.FRST_RGSR_DTTM) AS CSTM_CD_NM
                 FROM   TB_RSMI_SMLT_APLY_CSTM Y
                      , TB_POTI_ORGN Z
                 WHERE  Y.CSTM_CD = Z.ORGN_CD
                 AND    A.SMLT_NO = Y.SMLT_NO
               ) AS CSTM_CD_NM          /** Code de bureau  !== 세관코드명 ==! */
        FROM TB_RSMI_SMLT_COMN A
        WHERE A.SMLT_NO = #{smltNo}     /** N° de simulation != 시뮬레이션번호 =! */
    </select>
    
    <!--
      [Gérer le suivi de lots(s)] Consulter les détails (Grid) !== [배치 모니터링] 상세조회(Grid) ==!
    --> 
    <select id="selectBatchMonitDtlList" 
        parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo" 
        resultType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        
        /* selectBatchMonitDtlList */
        SELECT ROWNUM AS RNUM
             , A.RQST_BASE_CLSF_CD          /** Code de classification du critère renseigné != 신청기준구분코드 =! */
             , A.APLY_BASE_CLSF_CD          /** Code de classification de critère en vigueur != 적용기준분류코드 =! */
             , A.BASE_RGSR_NO               /** Numéro d'enregistrement != 기준등록번호 =! */
             , A.BASE_RQST_TP_CD            /** Code de type de renseignement  != 기준신청구분코드 =! */
             , TO_CHAR(TO_DATE(A.APLY_STRT_DT, 'YYYYMMDD'), 'DD/MM/YYYY') || '~' || TO_CHAR(TO_DATE(A.APLY_END_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS APLY_DT /** Date d'application != 적용일자 =! */
             , A.APLY_STRT_DT               /** Date d'application != 적용시작일자 =! */
             , A.APLY_END_DT                /** Date d'application != 적용종료일자 =! */
             , A.BASE_DESC                  /** Description justificative != 기준설명 =! */
             , A.BASE_APLY_YN               /** En vigueur O/N != 기준적용여부 =! */
             , A.BASE_PRCS_STTS_CD          /** Code de statut de critère  != 기준처리상태코드 =! */
             , A.DEL_YN                     /** Supprimé !== 삭제여부 ==! */
             , A.FRST_REGST_ID              /** Enregistré(e) par != 최초등록자ID =! */
             , ( SELECT EMP_NM
                 FROM   TB_POTI_EMP
                 WHERE  PBSR_NO = A.FRST_REGST_ID
               ) AS FRST_REGST_NM           /** Nom du premier enregistrant  !== 최초등록자이름 ==! */
        FROM TB_RSMI_BASE_MGMT_COMN A
           , TB_RSMI_SMLT_BASE_NO B
        WHERE A.BASE_RGSR_NO = B.BASE_RGSR_NO
        AND B.SMLT_NO = #{smltNo}                           /** N° de simulation != 시뮬레이션번호 =! */
        AND A.RQST_BASE_CLSF_CD = #{aplyBaseClsfCd}         /** Code de classification du critère renseigné != 신청기준구분코드 =! */
    </select>
    
    <!--
    [Gérer le suivi de lots(s)] Modifier !== [배치 모니터링] 수정  ==!
    --> 
    <update id="updateSmltBatch" parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /** updateSmltBatch */
        UPDATE TB_RSMI_SMLT_COMN
        SET ANAY_STRT_DT = TO_CHAR(TO_DATE(#{anayStrtDt}, 'DDMMYYYY'), 'YYYYMMDD')      /** Date de l'ouverture d'analyse != 분석시작일자 =! */
          , ANAY_END_DT = TO_CHAR(TO_DATE(#{anayEndDt}, 'DDMMYYYY'), 'YYYYMMDD')        /** Date de la fermeture d'analyse != 분석종료일자 =! */
          , APLY_CSTM_TP_CD = #{aplyCstmTpCd}           /** Code de type de bureau != 적용세관구분코드 =! */
          , LAST_CHPR_ID = #{lastChprId}                /** Enregistré(e) par != 최종변경자ID =! */
          , LAST_CHG_DTTM = SYSTIMESTAMP                /** Date et heure d'enregistrement != 최종변경일시 =! */
        WHERE SMLT_NO = #{smltNo}                       /** N° de simulation != 시뮬레이션번호 =! */
    </update>
    
    <!--
    Effacer les lots(s)(TB_RSMI_SMLT_APLY_CSTM) !== 모의배치 삭제(TB_RSMI_SMLT_APLY_CSTM) ==!
    --> 
    <delete id="deleteSmltAplyCstm" parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /** deleteSmltAplyCstm */
        DELETE FROM TB_RSMI_SMLT_APLY_CSTM
        WHERE SMLT_NO = #{smltNo}                       /** N° de simulation != 시뮬레이션번호 =! */
    </delete>
    
    <!--
    Sauvegarder la liste de lots(s) !== 모의배치 실행 등록  ==!
    --> 
    <insert id="insertSmltAplyCstm" parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /* insertSmltAplyCstm */
        INSERT INTO TB_RSMI_SMLT_APLY_CSTM
        (
            SMLT_NO         /** Numéro de simulation  != 시뮬레이션번호 =! */
          , CSTM_CD         /** Bureau != 세관코드 =! */
          , DEL_YN          /** Suppression ON !== 삭제여부 ==!*/
          , FRST_REGST_ID   /** Enregistré(e) par != 최초등록자ID =! */
          , FRST_RGSR_DTTM  /** Date et heure d'enregistrement != 최초등록일시 =! */
          , LAST_CHPR_ID    /** Enregistré(e) par != 최종변경자ID =! */
          , LAST_CHG_DTTM   /** Date et heure d'enregistrement != 최종변경일시 =! */
        )
        VALUES
        (
            #{smltNo}       /** Numéro de simulation  != 시뮬레이션번호 =! */
          , #{cstmCd}       /** Bureau != 세관코드 =! */
          , 'N'             /** Suppression ON !== 삭제여부 ==!*/
          , #{frstRegstId}  /** Enregistré(e) par != 최종등록자ID =! */
          , SYSTIMESTAMP    /** Date et heure d'enregistrement != 최초등록일시 =! */
          , #{frstRegstId}  /** Enregistré(e) par != 최종변경자ID =! */
          , SYSTIMESTAMP    /** Date et heure d'enregistrement != 최종변경일시 =! */
        )
    </insert>
    
    <!--
    Effacer les lots(s)(TB_RSMI_SMLT_BASE_NO) !== 모의배치 삭제 (TB_RSMI_SMLT_BASE_NO) ==!
    --> 
    <delete id="deleteSmltBaseNo" parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /** deleteSmltBaseNo */
        DELETE FROM TB_RSMI_SMLT_BASE_NO
        WHERE SMLT_NO = #{smltNo}               /** N° de simulation != 시뮬레이션번호 =! */
    </delete>
    
    <!--
    Effacer les lots(s)(TB_RSMI_SMLT_COMN) !== 모의배치 삭제(TB_RSMI_SMLT_COMN) ==!
    --> 
    <delete id="deleteSmltComn" parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /** deleteSmltComn  */
        DELETE FROM TB_RSMI_SMLT_COMN
        WHERE SMLT_NO = #{smltNo}               /** N° de simulation != 시뮬레이션번호 =! */
    </delete>
    
    <!--
    En cours(Nombre) !== 처리중(건수) ==!
    --> 
    <select id="selectSmltBtchPrccCfrm" resultType="int">
        /** selectSmltBtchPrccCfrm */
        SELECT COUNT(*)
        FROM   TB_RSMI_SMLT_COMN
        WHERE  SMLT_STTS_CD = 'P'               /** Code Du Statut De Simulation !== 시뮬레이션상태코드 ==! */
    </select>
    
    <!--
      [Gérer le suivi de lots(s)] Exécuter !== [배치 모니터링] 실행  ==!
    --> 
    <update id="updateSmltBatcPrcc" parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /** updateSmltBatcPrcc */
        UPDATE TB_RSMI_SMLT_COMN
        SET SMLT_STTS_CD = #{smltSttsCd}
          , LAST_CHPR_ID = #{lastChprId} /** Enregistré(e) par != 최종변경자ID =! */
          , LAST_CHG_DTTM = SYSTIMESTAMP /** Date et heure d'enregistrement != 최종변경일시 =! */
        WHERE SMLT_NO = #{smltNo}               /** N° de simulation != 시뮬레이션번호 =! */
    </update>

    <!--
      [Enregistrer les lots(s)] Enregistrer Simulation Commune !== [배치 등록] 시뮬레이션공통 등록  ==!
    -->
    <insert id="insertSmltComn" parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /* insertSmltComn */
        INSERT INTO TB_RSMI_SMLT_COMN
        (
            SMLT_NO                      /** N° De Simulation !== 시뮬레이션번호 ==! */
          , ANAY_STRT_DT                 /** Date De L'Ouverture D'Analyse !== 분석시작일자 ==! */
          , ANAY_END_DT                  /** Date De La Fermeture D'Analyse  !== 분석종료일자 ==! */
          , WKNG_STRT_DTTM               /** Date De Commencement De Batch !== 작업시작일시 ==! */
          , WKNG_END_DTTM                /** Date D'Achèvement De Batch !== 작업종료일시 ==! */
          , DCSH_TP_CD                   /** Code De Type De Déclaration !== 신고서구분코드 ==! */
          , SMLT_STTS_CD                 /** Code Du Statut De Simulation !== 시뮬레이션상태코드 ==! */
          , APLY_CSTM_TP_CD              /** Code De Type De Bureau  !== 적용세관구분코드 ==! */
          , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
          , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
          , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
          , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        ) VALUES (
            #{smltNo}                    /** N° De Simulation !== 시뮬레이션번호 ==! */
          , TO_CHAR(TO_DATE(#{anayStrtDt}, 'DD/MM/YYYY'), 'YYYYMMDD')                /** Date De L'Ouverture D'Analyse !== 분석시작일자 ==! */
          , TO_CHAR(TO_DATE(#{anayEndDt}, 'DD/MM/YYYY'), 'YYYYMMDD')                 /** Date De La Fermeture D'Analyse  !== 분석종료일자 ==! */
          , NULL                         /** Date De Commencement De Batch !== 작업시작일시 ==! */
          , NULL                         /** Date D'Achèvement De Batch !== 작업종료일시 ==! */
          , #{dcshTpCd}                  /** Code De Type De Déclaration !== 신고서구분코드 ==! */
          , #{smltSttsCd}                /** Code Du Statut De Simulation !== 시뮬레이션상태코드 ==! */
          , #{aplyCstmTpCd}              /** Code De Type De Bureau  !== 적용세관구분코드 ==! */
          , 'N'                          /** Suppression On !== 삭제여부 ==! */
          , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
          , SYSTIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
          , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
          , SYSTIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        )
    </insert>

    <!--
    [Enregistrer les lots(s)] Enregistrer Numéro d'enregistrement de simulation !== [배치 등록] 시뮬레이션기준번호 등록  ==!
    -->
    <insert id="insertSmltBaseNo" parameterType="alpass.ipt.rsm.smlt.vo.RsmSmltBtchVo">
        /* insertSmltBaseNo */
        INSERT INTO TB_RSMI_SMLT_BASE_NO
        (
            SMLT_NO                      /** N° De Simulation !== 시뮬레이션번호 ==! */
          , BASE_RGSR_NO                 /** Numéro D'Enregistrement !== 기준등록번호 ==! */
          , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
          , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
          , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
          , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        ) VALUES (
            #{smltNo}                    /** N° De Simulation !== 시뮬레이션번호 ==! */
          , #{baseRgsrNo}                /** Numéro D'Enregistrement !== 기준등록번호 ==! */
          , 'N'                          /** Suppression On !== 삭제여부 ==! */
          , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
          , SYSTIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
          , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
          , SYSTIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        )
    </insert>


</mapper>