<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.trnh.mapper.CarIptTrnhMapper">

	<!--
		[Rechercher] Consulter la liste des "Demande de transbordement" !== 환적 신청 목록을 조회한다. ==!
		-->
	<select id="selectTrnhList" resultType="alpass.ipt.car.trnh.vo.CarTrnhVo">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.selectTrnhList */
		<include refid="pagination.header" ></include>
		SELECT
			  A.TRNH_RQST_NO				 /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			, A.CAG_RQST_TP_CD               /** Code de type de demande de cargaison !==화물신청구분코드==! */
			, A.JRSD_ORGN_CD				 /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
   , A.IBOBZ_CD                     /** Zone sous douane !== 보세구역코드 ==! */
			, A.TRNH_TP_CD				     /** Code De Type De Transbordement  !== 환적구분코드 ==!  */
			, TO_CHAR(A.TRNH_TMLM_STRT_DTTM,'DD/MM/YYYY HH24:MI') AS TRNH_TMLM_STRT_DTTM  	/**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
   , TO_CHAR(A.TRNH_TMLM_END_DTTM,'DD/MM/YYYY HH24:MI') AS TRNH_TMLM_END_DTTM  	/**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
			, A.TRNP_METH_NM				 /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
			, A.TRNP_METH_IDFY_NO			 /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
			, A.TRNP_RFER_NO				 /**  N° de référence de transport  !== 운송참고번호 ==!  */
			, A.IMO_NO				         /**  N° IMO  !== IMO번호 ==!  */
			, A.DPTR_PORT_CD				 /**  Code De Port De Départ  !== 출발항구코드 ==!  */
			, A.LDUN_PORT_CD				 /**  Code De Port De Déchargement  !== 하역항구코드 ==!  */
		 , (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.DPTR_PORT_CD AND D.LANG_CD = #{langCd}) AS DPTR_PORT_NM
		 , (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.LDUN_PORT_CD AND D.LANG_CD = #{langCd}) AS LDUN_PORT_NM
			, A.TRNP_METH_NAT_CD			 /**  Code de nationalité du moyen de transport  !== 운송수단국적코드 ==!  */
			, A.SHIP_TTN				     /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
			, A.SHIP_NTTN				     /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
			, A.CARR_CD                      /**  Code De Société De Transport  !== 운송사코드 ==!  */
			, A.CARR_ADDR_NM				 /**  Adresse De Société De Transport  !== 운송사주소명 ==!  */
			, TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS TRSN_DTTM	/**  Date et heure de transmission  !== 전송일시 ==!  */
			, A.TRSN_CO_CD				     /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
   , A.CO_RQST_NO                   /** N° de demande d'entreprise !== 업체신청번호 ==! */
			, B.AUDT_EMP_ID				     /**  ID de l'insepcteur  !== 심사직원ID ==!  */
			, B.AUDT_EMP_NM				     /**  Nom du l'insepcteur  !== 심사직원명 ==!  */
			, B.PRCS_DTTM 				     /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
			, B.PRCS_STTS_CD				 /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			, A.DEL_YN				         /**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID				 /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM		 /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID				                                             /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM		 /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARI_TRNH A
		LEFT JOIN (
			SELECT
				  TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
				, TCCPB.CAG_RQST_TP_CD			/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
				, TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
				, TCCPB.JRSD_ORGN_CD			/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
				, TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
				, TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
				, TCCPB.PRCS_STTS_CD			/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
				, TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
				, TCCPB.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.CVY_EMP_ID AND TPE.DEL_YN = 'N')) AS CVY_EMP_NM			/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.AUDT_EMP_ID AND TPE.DEL_YN = 'N')) AS AUDT_EMP_NM			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
			FROM  TB_CARI_CAG_PRCS_BRKD TCCPB
			WHERE TCCPB.DEL_YN = 'N'
		) B
			ON A.TRNH_RQST_NO = B.CAG_RQST_NO
		  AND B.CAG_RQST_TP_CD = #{cagRqstTpCd}		/** Code de type de demande de cargaison !==화물신청구분코드==! */
		  AND B.RQST_DGCNT = 0
		WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
		AND   A.CAG_RQST_TP_CD = #{cagRqstTpCd}		/** Code de type de demande de cargaison !==화물신청구분코드==! */

		<if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
			AND (
				 (
					A.TRSN_DTTM <![CDATA[ >= ]]> TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY')       /**  Date et heure de transmission  !== 전송일시 ==!  */
					AND A.TRSN_DTTM <![CDATA[ <= ]]> TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999   /**  Date et heure de transmission  !== 전송일시 ==!  */
				 ) OR (
					A.LAST_CHG_DTTM <![CDATA[ >= ]]> TO_TIMESTAMP(#{searchKeywordFrom}, 'DD/MM/YYYY')
					AND A.LAST_CHG_DTTM <![CDATA[ <= ]]> TO_TIMESTAMP(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
				 )
			    )
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(prcsSttsCd)">
			AND  B.PRCS_STTS_CD = #{prcsSttsCd}                                           /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trnhRqstNo)">
			AND  A.TRNH_RQST_NO LIKE '%' || #{trnhRqstNo} || '%'                        /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo) or @alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(mrn)">
			AND EXISTS (
				SELECT 1
				FROM   TB_CARI_TRNH_BL S2
				  LEFT JOIN TB_CARI_CAG_DCSH_BL S3
				    ON S2.CAG_MGMT_NO = S3.CAG_MGMT_NO
				WHERE  S2.TRNH_RQST_NO = A.TRNH_RQST_NO
				<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
				  AND  S2.CAG_MGMT_NO LIKE '%' || #{cagMgmtNo} || '%'           /**  Crn  !== 화물관리번호 ==!  */
				</if>
			  <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(mrn)">
			  	AND  S3.MRN LIKE '%' || #{mrn} || '%'
			  </if>
			)
		</if>

    <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trnhTpCd)">
        AND  A.TRNH_TP_CD = #{trnhTpCd}           /**  Type de transbordement     !== 환적구분 ==!  */
    </if>

		<choose>
      <when test="@alpass.ipt.car.com.util.CarMyBatisUtil@isEqualsStr(scrnTp,'1')">
				AND B.PRCS_STTS_CD IN ('B02', 'B04', 'D06', 'D08', 'D09', 'D10')
				AND B.AUDT_EMP_ID  = #{pbsrNo}
      </when>
      <otherwise>
        AND B.PRCS_STTS_CD IN ('B02', 'B04', 'D01', 'D06', 'D08', 'D09', 'D10')
		    AND A.JRSD_ORGN_CD LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'
      </otherwise>
    </choose>

		ORDER BY A.TRSN_DTTM DESC

		<include refid="pagination.footer" ></include>
	</select>

	<!--
		[Rechercher] Consulter les détails de la "Demande de transbordement" !== "환적 신청" 상세내역을 조회한다. ==!
		-->
	<select id="selectTrnh" resultType="alpass.ipt.car.trnh.vo.CarTrnhVo">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.selectTrnh */
		SELECT
			  A.TRNH_RQST_NO				 /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		    , A.CAG_RQST_TP_CD	             /** Code de type de demande de cargaison !==화물신청구분코드==! */
			, A.JRSD_ORGN_CD				 /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
            , J.JRSD_ORGN_NM
            , J.JRSD_CSTM_CD                 /**  !== 주관부서 ==!  */
            , J.JRSD_CSTM_NM
            , A.IBOBZ_CD                     /** Zone sous douane !== 보세구역코드 ==! */
            , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD=A.IBOBZ_CD) AS IBOBZ_NM
			, A.TRNH_TP_CD				     /** Code De Type De Transbordement  !== 환적구분코드 ==!  */
			, TO_CHAR(A.TRNH_TMLM_STRT_DTTM,'DD/MM/YYYY HH24:MI') AS TRNH_TMLM_STRT_DTTM  	/**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
   , TO_CHAR(A.TRNH_TMLM_END_DTTM,'DD/MM/YYYY HH24:MI') AS TRNH_TMLM_END_DTTM  	/**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
			, A.TRNP_METH_NM				 /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
			, A.TRNP_METH_IDFY_NO			 /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
			, A.TRNP_RFER_NO				 /**  N° de référence de transport  !== 운송참고번호 ==!  */
			, A.IMO_NO                       /**  N° IMO  !== IMO번호 ==!  */
			, A.DPTR_PORT_CD				 /**  Code De Port De Départ  !== 출발항구코드 ==!  */
			, A.LDUN_PORT_CD				 /**  Code De Port De Déchargement  !== 하역항구코드 ==!  */
			, (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.DPTR_PORT_CD AND D.LANG_CD = #{langCd}) AS DPTR_PORT_NM
		    , (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.LDUN_PORT_CD AND D.LANG_CD = #{langCd}) AS LDUN_PORT_NM
			, A.TRNP_METH_NAT_CD			 /**  Code de nationalité du moyen de transport  !== 운송수단국적코드 ==!  */
			, FN_GET_CNTY_NM(A.TRNP_METH_NAT_CD, #{langCd}) AS TRNP_METH_NAT_NM
			, A.SHIP_TTN				     /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
			, A.SHIP_NTTN				     /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
			, A.CARR_CD				         /**  Code De Société De Transport  !== 운송사코드 ==!  */
            , FN_CARI_GET_CO_NM(A.CARR_CD) AS CARR_NM
            , FN_CARI_GET_CO_NM(A.TRSN_CO_CD) AS TRSN_CO_NM
			, A.CARR_ADDR_NM				 /**  Adresse De Société De Transport  !== 운송사주소명 ==!  */
			, TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS TRSN_DTTM	/**  Date et heure de transmission  !== 전송일시 ==!  */
			, A.TRSN_CO_CD				     /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
            , A.CO_RQST_NO                   /** N° de demande d'entreprise !== 업체신청번호 ==! */
			, TO_CHAR(A.AUDT_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS AUDT_DTTM	/**  Date De L'Étude  !== 심사일시 ==!  */
			, A.AUDT_PT_CD 			         /**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			, A.AUDT_RSLT_CN 		         /**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
			, B.AUDT_EMP_ID				     /**  ID de l'insepcteur  !== 심사직원ID ==!  */
			, B.AUDT_EMP_NM				     /**  Nom du l'insepcteur  !== 심사직원명 ==!  */
			, B.PRCS_DTTM 				     /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
			, B.PRCS_STTS_CD				 /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			, A.DEL_YN				         /**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID				 /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM		 /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID				                                             /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		    , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM		 /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARI_TRNH A
		LEFT JOIN (
			SELECT
				  TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
				, TCCPB.CAG_RQST_TP_CD			/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
				, TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
				, TCCPB.JRSD_ORGN_CD			/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
				, TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
				, TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
				, TCCPB.PRCS_STTS_CD			/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
				, TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
				, TCCPB.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.CVY_EMP_ID AND TPE.DEL_YN = 'N')) AS CVY_EMP_NM			/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.AUDT_EMP_ID AND TPE.DEL_YN = 'N')) AS AUDT_EMP_NM			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
			FROM  TB_CARI_CAG_PRCS_BRKD TCCPB
			WHERE TCCPB.DEL_YN = 'N'
		) B
			ON A.TRNH_RQST_NO = B.CAG_RQST_NO
		  AND B.CAG_RQST_TP_CD = #{cagRqstTpCd}		/** Code de type de demande de cargaison !==화물신청구분코드==! */
		  AND B.RQST_DGCNT = 0
        LEFT JOIN
              (SELECT C1.ORGN_CD AS JRSD_ORGN_CD,
                      C1.ORGN_NM AS JRSD_ORGN_NM,
                      C2.ORGN_CD AS JRSD_CSTM_CD,
                      C2.ORGN_NM AS JRSD_CSTM_NM
               FROM   TB_POTI_ORGN C1
               LEFT JOIN TB_POTI_ORGN C2
                      ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
               WHERE  C1.DEL_YN = 'N'
               AND    C2.DEL_YN = 'N'
              ) J
        ON    A.JRSD_ORGN_CD = J.JRSD_ORGN_CD
		WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trnhRqstNo)">
			AND  A.TRNH_RQST_NO = #{trnhRqstNo}                        /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		</if>
	</select>

	<!--
	[Rechercher] Consulter la liste des B/L de transbordement !== "환적 BL" 목록을 조회한다.==!
	-->
	<select id="selectTrnhBlList" parameterType="String" resultType="alpass.ipt.car.trnh.vo.CarTrnhBlVo">
	/* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.selectTrnhBlList */
		SELECT
			  A.TRNH_RQST_NO			 /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			, A.CAG_MGMT_NO				 /**  Crn  !== 화물관리번호 ==!  */
			, B.BL_NO					 /** N° De Bl !== BL번호 ==! */
			, B.MRN						 /** MRN !== MRN ==! */
			, B.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
			, B.PDLS_NM					 /** Nom De L'Article !== 품목명 ==! */
			, B.PCKG_GCNT                /**  Nombre De Colis  !== 포장개수 ==!  */
			, B.TTWG                     /**  Poids Brut  !== 총중량 ==!  */
			, A.DEL_YN				     /**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID			 /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM   /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID			                                             /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM	 /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARI_TRNH_BL A
		LEFT  JOIN TB_CARI_CAG_DCSH_BL B
		ON    B.CAG_MGMT_NO = A.CAG_MGMT_NO
		WHERE A.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
		AND   B.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
		AND   A.TRNH_RQST_NO = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	</select>

	<!--
	[Modifier] Modifier l'état de traitement de la demande de transbordement.   !== 환적의 처리상태를 수정한다.==!
	-->
	<update id="updateTrnhPrcsSttsCd" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
	/* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.updateTrnhPrcsSttsCd */
		UPDATE TB_CARI_TRNH
		SET   LAST_CHPR_ID       = #{lastChprId}      /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM      = SYSTIMESTAMP       /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		    , AUDT_DTTM          = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')
			, AUDT_PT_CD 		 = #{audtPtCd}        /**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			, AUDT_RSLT_CN 		 = #{audtRsltCn} 	  /**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
		WHERE TRNH_RQST_NO = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	</update>

	<!--
	[Modifier] Modifier la "Demande de transbordement"    !== 환적 신청을 수정한다.==!
	-->
	<update id="updateTrnh" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
		UPDATE TB_CARI_TRNH
		SET
            , TRNP_METH_NM      = #{trnpMethNm}          /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
            , TRNP_METH_IDFY_NO = #{trnpMethIdfyNo}      /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
            , TRNH_TMLM_STRT_DTTM = TO_TIMESTAMP(#{trnhTmlmStrtDttm},'DD/MM/YYYY HH24:MI:SS') /**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
            , TRNH_TMLM_END_DTTM  = TO_TIMESTAMP(#{trnhTmlmEndDttm},'DD/MM/YYYY HH24:MI:SS') /**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
            , TRNP_RFER_NO      = #{trnpRferNo}          /**  N° de reference de transport  !== 운송참고번호 ==!  */
            , IMO_NO            = #{imoNo}               /**  N° IMO  !== IMO번호 ==!  */
            , DPTR_PORT_CD      = #{dptrPortCd}          /**  Code De Port De Depart  !== 출발항구코드 ==!  */
            , LDUN_PORT_CD      = #{ldunPortCd}          /**  Code De Port De Dechargement  !== 하역항구코드 ==!  */
            , TRNP_METH_NAT_CD  = #{trnpMethNatCd}       /**  Code de nationalite du moyen de transport  !== 운송수단국적코드 ==!  */
            , SHIP_TTN          = #{shipTtn}             /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
            , SHIP_NTTN         = #{shipNttn}            /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
            , CARR_CD           = #{carrCd}              /**  Code De Societe De Transport  !== 운송사코드 ==!  */
            , CARR_ADDR_NM      = #{carrAddrNm}          /**  Adresse De Societe De Transport  !== 운송사주소명 ==!  */
            , TRSN_DTTM         = TO_DATE(#{trsnDttm}, 'DDMMYYYYHH24MISS')
            , TRSN_CO_CD        = #{trsnCoCd}
            , CO_RQST_NO        = #{coRqstNo}
            , AUDT_DTTM         = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')  /**  Date De L'Etude  !== 심사일시 ==!  */
            , AUDT_PT_CD        = #{audtPtCd}            /**  Code De Type De Controle  !== 심사유형코드 ==!  */
            , AUDT_RSLT_CN      = #{audtRsltCn}          /**  Contenu Du Resultat De La Verification  !== 심사결과내용 ==!  */
            , LAST_CHPR_ID      = #{lastChprId}          /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
            , LAST_CHG_DTTM     = SYSTIMESTAMP           /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE TRNH_RQST_NO = #{trnhRqstNo}
	</update>

	<!--
	[Enregistrer] Enregistrer le B/L de transbordement !== "환적 BL"를 등록 한다.==!
	-->
	<insert id="insertTrnhBl" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
		/* alpass.ipt.car.trnpcvy.trnh.mapper.CarIptTrnhMapper.insertTrnhBl */
		INSERT INTO TB_CARI_TRNH_BL
		(
			  TRNH_RQST_NO			 /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			, CAG_MGMT_NO			 /**  Crn  !== 화물관리번호 ==!  */
			, DEL_YN				 /**  Suppression On  !== 삭제여부 ==!  */
			, FRST_REGST_ID			 /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, FRST_RGSR_DTTM		 /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, LAST_CHPR_ID			 /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM			 /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)
		SELECT
			  A.TRNH_RQST_NO		 /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			, A.CAG_MGMT_NO			 /**  Crn  !== 화물관리번호 ==!  */
			, A.DEL_YN               /**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID		 /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, A.FRST_RGSR_DTTM		 /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID		 /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, A.LAST_CHG_DTTM		 /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARI_TRNH_MDFY_BL A
		WHERE A.TRNH_RQST_NO  =	#{trnhRqstNo}	  /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		AND   A.MDFY_DGCNT    = #{mdfyDgcnt}      /**  Fréquence de rectification  !== 정정차수 ==!  */
		AND   A.DEL_YN        = 'N'
	</insert>

	<!--
	[Effacer] Supprimer le B/L de transbordement !== "환적 BL"을 삭제 한다. ==!
	-->
	<delete id="deleteTrnhBl" parameterType="String">
		/* alpass.ipt.car.trnpcvy.trnh.mapper.CarIptTrnhMapper.deleteTrnhBl */
		DELETE
		FROM   TB_CARI_TRNH_BL A
		WHERE  A.TRNH_RQST_NO = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	</delete>

	<!--
	[Rechercher]   !== 미환적 화물신고서 BL 목록을 조회한다. ==!
	-->
	<select id="selectNonTrnhCagDclrBlList" resultType="alpass.ipt.car.trnh.vo.CarTrnhBlVo">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.selectNonTrnhCagDclrBlList */
		<include refid="pagination.header" ></include>
		SELECT
			  A.CAG_MGMT_NO			 /**  Crn  !== 화물관리번호 ==!  */
			, A.BL_NO                /**  N° De Bl  !== BL번호 ==!  */
			, A.MRN					 /** MRN !== MRN ==! */
			, A.CNTR_GCNT            /**  Nombre De Conteneurs  !== 컨테이너개수 ==!  */
			, A.PCKG_GCNT            /**  Nombre De Colis  !== 포장개수 ==!  */
			, A.TTWG                 /**  Poids Brut  !== 총중량 ==!  */
			, A.PDLS_NM              /** Nom De L'Article!==품목명==! */
			, B.CAG_RQST_TP_CD		 /**  Code de type de demande fret  !== 화물신청구분코드 ==!  */
			, B.JRSD_ORGN_CD		 /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
			, B.TRSN_CO_CD			 /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
			, B.AL_BL_GCNT			 /**  Nombre Total De Bl  !== 전체BL개수 ==!  */
			, B.AL_PCKG_GCNT		 /**  Nombre Total De Colis   !== 전체포장개수 ==!  */
			, B.AL_TTWG				 /**  Poids Brut Total  !== 전체총중량 ==!  */
			, B.AL_CNTR_GCNT		 /**  Nombre Total De Conteneurs  !== 전체컨테이너개수 ==!  */
			, B.AL_ECNTR_CNT		 /**  Nombre total de conteneurs à vide  !== 전체공컨테이너개수 ==!  */
			, B.AL_VHCL_GCNT		 /**  Nombre Total De Véhicules  !== 전체차량개수 ==!  */
		FROM  TB_CARI_CAG_DCSH_BL A
		LEFT  JOIN TB_CARI_CAG_DCSH B
		ON    A.MRN = B.MRN
		LEFT JOIN (
			SELECT
				  TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
				, TCCPB.CAG_RQST_TP_CD			/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
				, TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
				, TCCPB.JRSD_ORGN_CD			/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
				, TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
				, TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
				, TCCPB.PRCS_STTS_CD			/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
				, TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
				, TCCPB.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.CVY_EMP_ID AND TPE.DEL_YN = 'N')) AS CVY_EMP_NM			/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.AUDT_EMP_ID AND TPE.DEL_YN = 'N')) AS AUDT_EMP_NM			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
			FROM  TB_CARI_CAG_PRCS_BRKD TCCPB
			WHERE TCCPB.DEL_YN = 'N'
		) C
			ON A.MRN = C.CAG_RQST_NO
		  AND C.CAG_RQST_TP_CD = #{cagRqstTpCd}	      /** Code de type de demande de cargaison !==화물신청구분코드==! */
		  AND C.RQST_DGCNT = 0
		WHERE A.DEL_YN = 'N'                          /**  Suppression On  !== 삭제여부 ==!  */
		AND   B.DEL_YN = 'N'                          /**  Suppression On  !== 삭제여부 ==!  */
		AND   B.CAG_RQST_TP_CD = #{cagRqstTpCd}	      /** Code de type de demande de cargaison !==화물신청구분코드==! */
		AND   A.BL_PT_CD = #{blPtCd}                  /**  Code De Catégorie De B/L  !== BL구분코드 ==!  */
		AND   A.CAG_TP_CD = #{cagTpCd}                /**  Type de flux  !== 화물구분코드 ==!  */
		AND   C.PRCS_STTS_CD NOT IN ('D08', 'D09')    /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(mrn)">
			AND	 	B.MRN LIKE #{mrn} || '%' 		  /** MRN !== MRN ==! */
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
			AND 	A.CAG_MGMT_NO LIKE #{cagMgmtNo} || '%' 		/**  Crn  !== 화물관리번호 ==!  */
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(blNo)">
			AND 	A.BL_NO LIKE #{blNo} || '%' 		/**  N° DE BL  !== BL번호 ==!  */
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trnpMethNm)">
			AND 	B.TRNP_METH_NM LIKE #{trnpMethNm} || '%'  	/**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
		</if>

		<if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
			AND (
					  B.ARVL_DTTM <![CDATA[ >= ]]> TO_TIMESTAMP(#{searchKeywordFrom}, 'DD/MM/YYYY')
				AND B.ARVL_DTTM <![CDATA[ <= ]]> TO_TIMESTAMP(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
			)
		</if>
		<include refid="pagination.footer" ></include>
	</select>

    <!--
    [Rechercher] Consulter si le stock existe ou non. !== 재고여부를 조회한다.==!
    -->
    <select id="selectInvnCnt" parameterType="alpass.ipt.car.trnh.vo.CarTrnhBlVo" resultType="int">
        /* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.selectInvnCnt */
        SELECT Count(*) AS CNT
        FROM   TB_CARI_INVN
        WHERE  CAG_MGMT_NO = #{cagMgmtNo}
        AND    IBOBZ_CD    = #{ibobzCd}
        AND    INVN_YN     = 'Y'
        AND    DEL_YN      = 'N'
    </select>

    <!--
    [Modifier] Supprimer la demande de transbordement   !== 환적 신청서를 삭제한다.==!
    -->
    <update id="deleteTrnh" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
        /* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.deleteTrnh */
        UPDATE TB_CARI_TRNH
        SET
              DEL_YN        = 'Y'
            , LAST_CHPR_ID  = #{lastChprId}     /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
            , LAST_CHG_DTTM = SYSTIMESTAMP      /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
        WHERE TRNH_RQST_NO  = #{trnhRqstNo}     /**  N ° de demande de transbordement      !== 환적신청번호 ==!  */
    </update>

    <!--
    [Modifier] Supprimer la liste des B/L de transbordement   !== 환적 신청서 BL 목록을 삭제한다.==!
    -->
    <update id="deleteTrnhBl2" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
        /* alpass.ipt.car.trnh.mapper.CarIptTrnhMapper.deleteTrnh */
        UPDATE TB_CARI_TRNH_BL
        SET
              DEL_YN        = 'Y'
            , LAST_CHPR_ID  = #{lastChprId}     /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
            , LAST_CHG_DTTM = SYSTIMESTAMP      /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
        WHERE TRNH_RQST_NO  = #{trnhRqstNo}     /**  N ° de demande de transbordement      !== 환적신청번호 ==!  */
    </update>

</mapper>
