<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper">

	<!--
		[Rechercher] Consulter la liste des "Demande de la rectification de transbordement" !== "환적 정정 신청" 목록을 조회한다. ==!
		-->
	<select id="selectTrnhMdfyList" resultType="alpass.ipt.car.trnh.vo.CarTrnhVo">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.selectTrnhMdfyList */
		<include refid="pagination.header" ></include>

			SELECT
			    A.TRNH_RQST_NO               /**  N ° de demande de transbordement   !== 환적신청번호 ==!  */
		      , A.CAG_RQST_TP_CD	         /** Code de type de demande de cargaison !==화물신청구분코드==! */
			  , A.MDFY_DGCNT                 /**  Fréquence de rectification  !== 정정차수 ==!  */
			  , A.JRSD_ORGN_CD               /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
              , A.IBOBZ_CD                   /** Zone sous douane !== 보세구역코드 ==! */
			  , A.TRNH_TP_CD				 /** Code De Type De Transbordement  !== 환적구분코드 ==!  */
			  , A.MDFY_RSN_CN                /**  Motif de rectification  !== 정정사유내용 ==!  */
			  , TO_CHAR(A.TRNH_TMLM_STRT_DTTM,'DD/MM/YYYY HH24:MI') AS TRNH_TMLM_STRT_DTTM  	/**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
     , TO_CHAR(A.TRNH_TMLM_END_DTTM,'DD/MM/YYYY HH24:MI') AS TRNH_TMLM_END_DTTM  	/**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
			  , A.TRNP_METH_NM               /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
			  , A.TRNP_METH_IDFY_NO          /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
			  , A.TRNP_RFER_NO               /**  N° de référence de transport  !== 운송참고번호 ==!  */
			  , A.IMO_NO                     /**  N° IMO  !== IMO번호 ==!  */
			  , (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.DPTR_PORT_CD AND D.LANG_CD = #{langCd}) AS DPTR_PORT_NM
			  , (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.LDUN_PORT_CD AND D.LANG_CD = #{langCd}) AS LDUN_PORT_NM
			  , A.DPTR_PORT_CD               /**  Code De Port De Départ  !== 출발항구코드 ==!  */
			  , A.LDUN_PORT_CD               /**  Code De Port De Déchargement  !== 하역항구코드 ==!  */
			  , A.TRNP_METH_NAT_CD           /**  Code de nationalité du moyen de transport  !== 운송수단국적코드 ==!  */
			  , A.SHIP_TTN                   /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
			  , A.SHIP_NTTN                  /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
			  , A.CARR_CD                    /**  Code De Société De Transport  !== 운송사코드 ==!  */
			  , A.CARR_ADDR_NM               /**  Adresse De Société De Transport  !== 운송사주소명 ==!  */
			  , TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS TRSN_DTTM    /**  Date et heure de transmission  !== 전송일시 ==!  */
			  , A.TRSN_CO_CD                 /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
              , A.CO_RQST_NO                 /** N° de demande d'entreprise !== 업체신청번호 ==! */
			  , B.AUDT_EMP_ID				 /**  ID de l'insepcteur  !== 심사직원ID ==!  */
			  , B.AUDT_EMP_NM				 /**  Nom du l'insepcteur  !== 심사직원명 ==!  */
			  , B.PRCS_DTTM 				 /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
			  , B.PRCS_STTS_CD				 /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			  , A.DEL_YN                     /**  Suppression On  !== 삭제여부 ==!  */
			  , A.FRST_REGST_ID              /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			  , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM  /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			  , A.LAST_CHPR_ID               /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			  , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM    /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			FROM  TB_CARI_TRNH_MDFY A
			LEFT JOIN (
				SELECT
					  TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
					, TCCPB.CAG_RQST_TP_CD			/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
					, TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
					, TCCPB.JRSD_ORGN_CD			/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
					, TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
					, TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
					, TCCPB.PRCS_STTS_CD			/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
					, TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
					, TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
					, TCCPB.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
					, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.CVY_EMP_ID AND TPE.DEL_YN = 'N')) AS CVY_EMP_NM			/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
					, TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.AUDT_EMP_ID AND TPE.DEL_YN = 'N')) AS AUDT_EMP_NM			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					, TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
				FROM  TB_CARI_CAG_PRCS_BRKD TCCPB
				WHERE TCCPB.DEL_YN = 'N'
			) B
				ON A.TRNH_RQST_NO   = B.CAG_RQST_NO			/**  N ° de demande de transbordement   !== 환적신청번호 ==!  */
			  AND A.MDFY_DGCNT      = B.RQST_DGCNT       		/**  Fréquence de rectification  !== 정정차수 ==!  */
			  AND A.CAG_RQST_TP_CD  = B.CAG_RQST_TP_CD
			WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */
			AND   A.MDFY_DGCNT != 0
			AND   A.CAG_RQST_TP_CD = #{cagRqstTpCd}		/** Code de type de demande de cargaison !==화물신청구분코드==! */

		<if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
			AND (
				 (
					A.TRSN_DTTM <![CDATA[ >= ]]> TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY')           /**  Date et heure de transmission  !== 전송일시 ==!  */
					AND A.TRSN_DTTM <![CDATA[ <= ]]> TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999   /**  Date et heure de transmission  !== 전송일시 ==!  */
				 ) OR (
					A.LAST_CHG_DTTM <![CDATA[ >= ]]> TO_TIMESTAMP(#{searchKeywordFrom}, 'DD/MM/YYYY')
					AND A.LAST_CHG_DTTM <![CDATA[ <= ]]> TO_TIMESTAMP(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
				 )
			    )
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(prcsSttsCd)">
			AND  B.PRCS_STTS_CD = #{prcsSttsCd}                                           /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trnhRqstNo)">
			AND  A.TRNH_RQST_NO LIKE '%' || #{trnhRqstNo} || '%'                        /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo) or @alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(mrn)">
			AND EXISTS (
				SELECT 1
				FROM   TB_CARE_TRNH_MDFY_BL S2
				  LEFT JOIN TB_CARI_CAG_DCSH_BL S3
				    ON S2.CAG_MGMT_NO = S3.CAG_MGMT_NO
				WHERE  S2.TRNH_RQST_NO = A.TRNH_RQST_NO					 /**  N ° de demande de transbordement   !== 환적신청번호 ==!  */
				AND    S2.MDFY_DGCNT = A.MDFY_DGCNT						 /**  Fréquence de rectification  !== 정정차수 ==!  */
				<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
				  AND  S2.CAG_MGMT_NO LIKE '%' || #{cagMgmtNo} || '%'           /**  Crn  !== 화물관리번호 ==!  */
				</if>
			  <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(mrn)">
			  	AND  S3.MRN LIKE '%' || #{mrn} || '%'
			  </if>
			)
		</if>

    <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trnhTpCd)">
        AND  A.TRNH_TP_CD = #{trnhTpCd}           /**  Type de transbordement     !== 환적구분 ==!  */
    </if>

		<choose>
      <when test="@alpass.ipt.car.com.util.CarMyBatisUtil@isEqualsStr(scrnTp,'1')">
	      AND B.PRCS_STTS_CD IN ('B02', 'B04', 'D06', 'D08', 'D09', 'D10')
	      AND B.AUDT_EMP_ID  = #{pbsrNo}
      </when>
      <otherwise>
	      AND B.PRCS_STTS_CD IN ('B02', 'B04', 'D01', 'D06', 'D08', 'D09', 'D10')
		    AND A.JRSD_ORGN_CD LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'
      </otherwise>
		</choose>

		ORDER BY A.TRSN_DTTM DESC

		<include refid="pagination.footer" ></include>
	</select>

	<!--
		[Rechercher] Consulter les détails de la "Demande de la rectification de transbordement" !== "환적 정정 신청" 상세내역을 조회한다. ==!
		-->
	<select id="selectTrnhMdfy" resultType="alpass.ipt.car.trnh.vo.CarTrnhVo">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.selectTrnhMdfy */
		WITH BEFORE_LAST_MDFY_DGCNT_TB AS (
			SELECT MAX(A.MDFY_DGCNT) AS BEFORE_LAST_MDFY_DGCNT
			FROM   TB_CARI_TRNH_MDFY A,
			       TB_CARI_CAG_PRCS_BRKD B
			WHERE  A.TRNH_RQST_NO = B.CAG_RQST_NO        /**  N ° de demande de transbordement   !== 환적신청번호 ==!  */
            AND    A.MDFY_DGCNT = B.RQST_DGCNT           /**  Fréquence de rectification  !== 정정차수 ==!  */
			AND    A.DEL_YN = 'N'
			AND    A.TRNH_RQST_NO = #{trnhRqstNo}		       /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			AND    A.MDFY_DGCNT <![CDATA[ < ]]> #{mdfyDgcnt}	   /**  Fréquence de rectification  !== 정정차수 ==!  */
			AND    B.PRCS_STTS_CD IN ('D08')
            AND    B.DEL_YN = 'N'
        <if test="cagRqstTpCd.equals('TMS')">
            AND    B.CAG_RQST_TP_CD IN ('TCS' ,'TMS')   /** Code de type de demande de cargaison !==화물신청구분코드==! */
        </if>
        <if test="cagRqstTpCd.equals('TMA')">
            AND    B.CAG_RQST_TP_CD IN ('TCA' ,'TMA')   /** Code de type de demande de cargaison !==화물신청구분코드==! */
        </if>
		)
		SELECT
			  A.TRNH_RQST_NO			 /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			, A.CAG_RQST_TP_CD	         /** Code de type de demande de cargaison !==화물신청구분코드==! */
			, A.JRSD_ORGN_CD			 /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
            , J.JRSD_ORGN_NM
            , J.JRSD_CSTM_CD             /**  !== 주관부서 ==!  */
            , J.JRSD_CSTM_NM
            , A.IBOBZ_CD                 /** Zone sous douane !== 보세구역코드 ==! */
            , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.IBOBZ_CD) AS IBOBZ_NM
			, A.TRNH_TP_CD				 /** Code De Type De Transbordement  !== 환적구분코드 ==!  */
			, A.MDFY_DGCNT				 /**  Fréquence de rectification  !== 정정차수 ==!  */
			, NVL((SELECT BEFORE_LAST_MDFY_DGCNT FROM BEFORE_LAST_MDFY_DGCNT_TB), 0) AS BF_MDFY_DGCNT
			, A.TRNH_MDFY_TP_CD          /** Type de modification de transbordement  !== 환적정정구분코드 ==!  */
			, A.MDFY_RSN_CN              /**  Motif de rectification  !== 정정사유내용 ==!  */
			, TO_CHAR(A.TRNH_TMLM_STRT_DTTM,'DD/MM/YYYY HH24:MI') AS TRNH_TMLM_STRT_DTTM  	/**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
   , TO_CHAR(A.TRNH_TMLM_END_DTTM,'DD/MM/YYYY HH24:MI') AS TRNH_TMLM_END_DTTM  	/**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
			, A.TRNP_METH_NM			 /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
			, A.TRNP_METH_IDFY_NO		 /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
			, A.TRNP_RFER_NO			 /**  N° de référence de transport  !== 운송참고번호 ==!  */
			, A.IMO_NO                   /**  N° IMO  !== IMO번호 ==!  */
			, A.DPTR_PORT_CD			 /**  Code De Port De Départ  !== 출발항구코드 ==!  */
			, A.LDUN_PORT_CD			 /**  Code De Port De Déchargement  !== 하역항구코드 ==!  */
			, (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.DPTR_PORT_CD AND D.LANG_CD = #{langCd}) AS DPTR_PORT_NM
		    , (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = A.LDUN_PORT_CD AND D.LANG_CD = #{langCd}) AS LDUN_PORT_NM
			, A.TRNP_METH_NAT_CD		 /**  Code de nationalité du moyen de transport  !== 운송수단국적코드 ==!  */
            , FN_GET_CNTY_NM(A.TRNP_METH_NAT_CD, #{langCd}) AS TRNP_METH_NAT_NM
			, A.SHIP_TTN				 /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
			, A.SHIP_NTTN				 /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
			, A.CARR_CD				     /**  Code De Société De Transport  !== 운송사코드 ==!  */
            , FN_CARI_GET_CO_NM(A.CARR_CD) AS CARR_NM
            , FN_CARI_GET_CO_NM(A.TRSN_CO_CD) AS TRSN_CO_NM
			, A.CARR_ADDR_NM			 /**  Adresse De Société De Transport  !== 운송사주소명 ==!  */
			, TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS TRSN_DTTM	/**  Date et heure de transmission  !== 전송일시 ==!  */
			, A.TRSN_CO_CD				 /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
            , A.CO_RQST_NO               /** N° de demande d'entreprise !== 업체신청번호 ==! */
			, TO_CHAR(A.AUDT_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS AUDT_DTTM	/**  Date De L'Étude  !== 심사일시 ==!  */
			, A.AUDT_PT_CD 			     /**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			, A.AUDT_RSLT_CN 		     /**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
			, B.AUDT_EMP_ID				 /**  ID de l'insepcteur  !== 심사직원ID ==!  */
			, B.AUDT_EMP_NM				 /**  Nom du l'insepcteur  !== 심사직원명 ==!  */
			, B.PRCS_DTTM 				 /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
			, B.PRCS_STTS_CD			 /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			, A.DEL_YN				     /**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID			 /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM				/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID			 /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		    , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM				    /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARI_TRNH_MDFY A
		LEFT JOIN (
			SELECT
				  TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
				, TCCPB.CAG_RQST_TP_CD			/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
				, TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
				, TCCPB.JRSD_ORGN_CD			/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
				, TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
				, TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
				, TCCPB.PRCS_STTS_CD			/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
				, TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
				, TCCPB.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.CVY_EMP_ID AND TPE.DEL_YN = 'N')) AS CVY_EMP_NM			/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, ((SELECT EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.AUDT_EMP_ID AND TPE.DEL_YN = 'N')) AS AUDT_EMP_NM			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
			FROM  TB_CARI_CAG_PRCS_BRKD TCCPB
			WHERE TCCPB.DEL_YN = 'N'
		) B
		   ON A.TRNH_RQST_NO   = B.CAG_RQST_NO	     /**  N ° de demande de transbordement   !== 환적신청번호 ==!  */
		  AND A.MDFY_DGCNT     = B.RQST_DGCNT  		     /**  Fréquence de rectification  !== 정정차수 ==!  */
          AND A.CAG_RQST_TP_CD = B.CAG_RQST_TP_CD    /** Code de type de demande de cargaison !==화물신청구분코드==! */
        LEFT JOIN
              (SELECT C1.ORGN_CD AS JRSD_ORGN_CD,
                      C1.ORGN_NM AS JRSD_ORGN_NM,
                      C2.ORGN_CD AS JRSD_CSTM_CD,
                      C2.ORGN_NM AS JRSD_CSTM_NM
               FROM   TB_POTI_ORGN C1
               LEFT JOIN TB_POTI_ORGN C2
                      ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
               WHERE  C1.DEL_YN = 'N'
               AND    C2.DEL_YN = 'N'
              ) J
        ON    A.JRSD_ORGN_CD = J.JRSD_ORGN_CD
		WHERE A.DEL_YN = 'N'           /** Suppression ON !== 삭제여부 ==! */

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trnhRqstNo)">
			AND  A.TRNH_RQST_NO = #{trnhRqstNo}                        /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		</if>

		<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(mdfyDgcnt)">
			AND  A.MDFY_DGCNT = #{mdfyDgcnt}                        	/**  Fréquence de rectification  !== 정정차수 ==!  */
		</if>
	</select>

	<!--
	[Rechercher] Consulter la liste des B/L du transbordement rectifié. !== "환적 정정 BL" 목록을 조회한다.==!
	-->
	<select id="selectTrnhMdfyBlList" resultType="alpass.ipt.car.trnh.vo.CarTrnhBlVo">
	/* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.selectTrnpBlList */
		SELECT
			  A.TRNH_RQST_NO		/**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
			, A.MDFY_DGCNT		    /**  Fréquence de rectification  !== 정정차수 ==!  */
			, A.CAG_MGMT_NO			/**  Crn  !== 화물관리번호 ==!  */
			, B.MRN					/** MRN !== MRN ==! */
			, B.BL_NO				/** N° De Bl !== BL번호 ==! */
			, B.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
			, B.PDLS_NM				/** Nom De L'Article !== 품목명 ==! */
			, B.PCKG_GCNT           /**  Nombre De Colis  !== 포장개수 ==!  */
			, B.TTWG                /**  Poids Brut  !== 총중량 ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID				                                          /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM	  /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID				                                          /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM      /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARI_TRNH_MDFY_BL A
		LEFT JOIN TB_CARI_CAG_DCSH_BL B
		ON B.CAG_MGMT_NO = A.CAG_MGMT_NO
		WHERE A.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
		AND   B.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
		AND   A.TRNH_RQST_NO = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		AND   A.MDFY_DGCNT = #{mdfyDgcnt} /**  Fréquence de rectification  !== 정정차수 ==!  */
	</select>

	<!--
	[Enregistrer] Enregistrer & Modifier la demande de transbordement   !== 환적 정정 이력을 등록 한다.==!
	-->
	<insert id="insertTrnhMdfy" parameterType="String">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.insertTrnhMdfy */
		INSERT INTO TB_CARI_TRNH_MDFY
   	    (
               TRNH_RQST_NO         /**  N ° de demande de transbordement      !== 환적신청번호 ==!  */
             , MDFY_DGCNT           /**  Frequence de rectification  !== 정정차수 ==!  */
             , CAG_RQST_TP_CD       /** Code de type de demande de cargaison !==화물신청구분코드==! */
             , JRSD_ORGN_CD         /**  Code D'Unite Competente  !== 관할조직코드 ==!  */
             , IBOBZ_CD             /** Zone sous douane !== 보세구역코드 ==! */
             , TRNH_TP_CD           /** Code De Type De Transbordement  !== 환적구분코드 ==!  */
             , TRNH_TMLM_STRT_DTTM  /**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
             , TRNH_TMLM_END_DTTM   /**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
             , TRNP_METH_NM         /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
             , TRNP_METH_IDFY_NO    /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
             , TRNP_RFER_NO         /**  N° de reference de transport  !== 운송참고번호 ==!  */
             , IMO_NO               /**  N° IMO  !== IMO번호 ==!  */
             , DPTR_PORT_CD         /**  Code De Port De Depart  !== 출발항구코드 ==!  */
             , LDUN_PORT_CD         /**  Code De Port De Dechargement  !== 하역항구코드 ==!  */
             , TRNP_METH_NAT_CD     /**  Code de nationalite du moyen de transport  !== 운송수단국적코드 ==!  */
             , SHIP_TTN             /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
             , SHIP_NTTN            /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
             , CARR_CD              /**  Code De Societe De Transport  !== 운송사코드 ==!  */
             , CARR_ADDR_NM         /**  Adresse De Societe De Transport  !== 운송사주소명 ==!  */
             , TRSN_DTTM            /**  Date et heure de transmission  !== 전송일시 ==!  */
             , TRSN_CO_CD           /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
             , CO_RQST_NO           /** N° de demande d'entreprise !== 업체신청번호 ==! */
             , AUDT_DTTM
             , AUDT_PT_CD
             , AUDT_RSLT_CN
             , DEL_YN               /**  Suppression On  !== 삭제여부 ==!  */
             , FRST_REGST_ID        /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
             , FRST_RGSR_DTTM       /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
             , LAST_CHPR_ID         /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
             , LAST_CHG_DTTM        /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)
		SELECT
			   TRNH_RQST_NO         /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
             , 0                    /**  Frequence de rectification  !== 정정차수 ==!  */
             , CAG_RQST_TP_CD       /** Code de type de demande de cargaison !==화물신청구분코드==! */
             , JRSD_ORGN_CD         /**  Code D'Unite Competente  !== 관할조직코드 ==!  */
             , IBOBZ_CD             /** Zone sous douane !== 보세구역코드 ==! */
             , TRNH_TP_CD           /** Code De Type De Transbordement  !== 환적구분코드 ==!  */
             , TRNH_TMLM_STRT_DTTM  /**  Date/Heure de début d'échéance du transbordement!==환적기한시작일시==!  */
             , TRNH_TMLM_END_DTTM   /**  Date/Heure de fin d'échéance du transbordement !==환적기한종료일시==!  */
             , TRNP_METH_NM         /**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
             , TRNP_METH_IDFY_NO    /**  N° D'Identification Du Moyen De Transport  !== 운송수단식별번호 ==!  */
             , TRNP_RFER_NO         /**  N° de reference de transport  !== 운송참고번호 ==!  */
             , IMO_NO               /**  N° IMO  !== IMO번호 ==!  */
             , DPTR_PORT_CD         /**  Code De Port De Depart  !== 출발항구코드 ==!  */
             , LDUN_PORT_CD         /**  Code De Port De Dechargement  !== 하역항구코드 ==!  */
             , TRNP_METH_NAT_CD     /**  Code de nationalite du moyen de transport  !== 운송수단국적코드 ==!  */
             , SHIP_TTN             /**  Tonnage Brut Du Navire  !== 선박총톤수 ==!  */
             , SHIP_NTTN            /**  Tonnage Net Du Navire  !== 선박순톤수 ==!  */
             , CARR_CD              /**  Code De Societe De Transport  !== 운송사코드 ==!  */
             , CARR_ADDR_NM         /**  Adresse De Societe De Transport  !== 운송사주소명 ==!  */
             , TRSN_DTTM            /**  Date et heure de transmission  !== 전송일시 ==!  */
             , TRSN_CO_CD           /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
             , CO_RQST_NO           /** N° de demande d'entreprise !== 업체신청번호 ==! */
             , AUDT_DTTM
             , AUDT_PT_CD
             , AUDT_RSLT_CN
             , DEL_YN               /**  Suppression On  !== 삭제여부 ==!  */
             , FRST_REGST_ID        /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
             , FRST_RGSR_DTTM       /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
             , LAST_CHPR_ID         /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
             , LAST_CHG_DTTM        /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM  TB_CARI_TRNH
		WHERE TRNH_RQST_NO = #{trnhRqstNo}
	</insert>

	<!--
	[Enregistrer] Enregistrer le B/L de transbordement !== "환적 정정 BL"를 등록 한다.==!
	-->
	<insert id="insertTrnhMdfyBl" parameterType="String">
		/* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.insertTrnhMdfyBl */
		INSERT INTO TB_CARI_TRNH_MDFY_BL
		(
			  TRNH_RQST_NO				/**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		    , MDFY_DGCNT				/**  Fréquence de rectification  !== 정정차수 ==!  */
			, CAG_MGMT_NO				/**  Crn  !== 화물관리번호 ==!  */
			, DEL_YN				    /**  Suppression On  !== 삭제여부 ==!  */
			, FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, FRST_RGSR_DTTM			/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM				/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)
		SELECT
			  B.TRNH_RQST_NO			/**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	        , 0				            /**  Fréquence de rectification  !== 정정차수 ==!  */
			, B.CAG_MGMT_NO				/**  Crn  !== 화물관리번호 ==!  */
			, B.DEL_YN				    /**  Suppression On  !== 삭제여부 ==!  */
			, B.FRST_REGST_ID			/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, B.FRST_RGSR_DTTM			/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, B.LAST_CHPR_ID			/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, B.LAST_CHG_DTTM			/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM TB_CARI_TRNH_BL B
		WHERE B.DEL_YN = 'N'			/** Suppression ON !== 삭제여부 ==! */
		AND   B.TRNH_RQST_NO = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
	</insert>

	<!--
	[Modifier] Modifier l'état de traitement de la demande de transbordement.   !== 환적의 처리상태를 수정한다.==!
	-->
	<update id="updateTrnhMdfyPrcsSttsCd" parameterType="alpass.ipt.car.trnh.vo.CarTrnhVo">
	/* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.updateTrnhMdfyPrcsSttsCd */
		UPDATE TB_CARI_TRNH_MDFY
		SET
			  LAST_CHPR_ID    = #{lastChprId}    /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM   = SYSTIMESTAMP     /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
            , AUDT_DTTM       = TO_DATE(#{audtDttm}, 'DDMMYYYYHH24MISS')
			, AUDT_PT_CD 	  = #{audtPtCd} 	 /**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			, AUDT_RSLT_CN 	  = #{audtRsltCn} 	 /**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
		WHERE TRNH_RQST_NO = #{trnhRqstNo} /**  N ° de demande de transbordement	  !== 환적신청번호 ==!  */
		AND   MDFY_DGCNT   = #{mdfyDgcnt} /**  Fréquence de rectification  !== 정정차수 ==!  */
	</update>

    <!--
    [Modifier] Supprimer les infos sur la sortie prévue.   !== 반출예정정보를 삭제한다. ==!
    -->
    <update id="deleteCareRlbrPrng" parameterType="alpass.ipt.car.bnwrhs.cagbrng.vo.CarRlbrPrngVo">
        /* alpass.ipt.car.trnh.mapper.CarIptTrnhMdfyMapper.deleteCareRlbrPrng */
        UPDATE TB_CARE_RLBR_PRNG
        SET    DEL_YN = 'Y'
             , LAST_CHPR_ID    = #{lastChprId}    /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
             , LAST_CHG_DTTM   = SYSTIMESTAMP     /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
        WHERE  RLBR_TP_CD   = 'O'
        AND    RLBR_PT_CD   = '51'
        AND    RELA_NO      = #{relaNo} /**  N ° de demande de transbordement      !== 환적신청번호 ==!  */
        AND    CAG_MGMT_NO  = #{cagMgmtNo}
        AND    IBOBZ_CD     = #{ibobzCd}
    </update>

</mapper>
