<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.trnpcvy.cvy.mapper.CarEptCvyMapper">

	<!--
		[Rechercher] Consulter la liste des "Demande d'escorte" !== 호송 신청 목록을 조회한다. ==!
		(Jeong Byungyeol)
		-->
	<select id="selectCvyList" resultType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
		/* alpass.ipt.car.trnpcvy.cvy.mapper.CarEptCvyMapper.selectCvyList */
		<include refid="pagination.header" ></include>
			SELECT
				  A.CVY_RQST_NO				/**  N° demande d'escorte  !== 호송신청번호 ==!  */
				, A.TRNP_RQST_NO				/**  N° de demande de transfert  !== 운송신청번호 ==!  */
				, A.CVY_TP_CD 			/**  Type d'escorte  !== 호송구분코드 ==!  */
				, C.CAG_MGMT_NO	/**  Crn  !== 화물관리번호 ==!  */
				, C.BL_NO 	/**  N° De Bl  !== BL번호 ==!  */
				, D.DPRP_IBOBZ_CD				/**  Code De Zone Sous Douane De Départ  !== 출발지보세구역코드 ==!  */
				, (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.IBOBZ_CD = D.DPRP_IBOBZ_CD) AS DPRP_IBOBZ_NM
				, D.ARLC_IBOBZ_CD				/**  Code De Zone Sous Douane De Destination  !== 도착지보세구역코드 ==!  */
		        , TO_CHAR(D.ARVL_DTTM, 'DD/MM/YYYY HH24:MI')       AS ARVL_DTTM /** Date Et Heure D'Arrivée !== Date Et Heure D'Arrivée ==! */
				, (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.IBOBZ_CD = D.ARLC_IBOBZ_CD) AS ARLC_IBOBZ_NM
				, TO_CHAR(A.CVY_DPTR_DTTM, 'DD/MM/YYYY HH24:MI') AS CVY_DPTR_DTTM	/**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
				, A.CVY_RSLT_CN				/**  Résultat D'Escorte  !== 호송결과내용 ==!  */
				, TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:MI') AS TRSN_DTTM	/**  Date et heure de transmission  !== 전송일시 ==!  */
				, A.TRSN_CO_CD				/**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
				, TO_CHAR(A.PRCS_DTTM, 'DD/MM/YYYY HH24:MI') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, A.PRCS_STTS_CD				/**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
				, A.PRCS_RSLT_CN				/**  Résultat De Traitement  !== 처리결과내용 ==!  */
				, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
				, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
				, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			FROM
				TB_CARE_CVY 	A
			LEFT JOIN TB_CARE_TRNP D ON D.TRNP_RQST_NO = A.TRNP_RQST_NO /**  N° de demande de transfert  !== 운송신청번호 ==!  */
			LEFT JOIN (
				SELECT
					  S.TRNP_RQST_NO
					, ARRAY_TO_STRING(ARRAY_AGG(S.CAG_MGMT_NO), ',') AS CAG_MGMT_NO
					, ARRAY_TO_STRING(ARRAY_AGG(S.BL_NO), ',') AS BL_NO
				FROM
				(
					SELECT
						  B.CAG_MGMT_NO /**  Crn  !== 화물관리번호 ==!  */
						, B.BL_NO /**  N° De Bl  !== BL번호 ==!  */
						, B.TRNP_RQST_NO
					FROM
						TB_CARE_TRNP_BL B
					WHERE
						B.DEL_YN = 'N' /**  Suppression On  !== 삭제여부 ==!  */
				) S GROUP BY TRNP_RQST_NO
			) C ON C.TRNP_RQST_NO = A.TRNP_RQST_NO
			WHERE
				A.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
      AND
      	A.TRSN_CO_CD IN (SELECT A.CO_DCLR_CD FROM TB_COM_CO_DCLR_CD A, TB_COM_CO B WHERE A.NIF = B.NIF AND A.NIF = #{nif} AND A.CO_DCLR_TP_CD  IN ('A', 'B', 'C', 'D', 'E') AND A.DEL_YN = 'N')

			<if test="(searchKeywordFrom != null and searchKeywordFrom != '') and (searchKeywordTo != null and searchKeywordTo != '')">
				AND (
					(
						A.TRSN_DTTM <![CDATA[ >= ]]> TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY')       /**  Date et heure de transmission  !== 전송일시 ==!  */
						AND A.TRSN_DTTM <![CDATA[ <= ]]> TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999   /**  Date et heure de transmission  !== 전송일시 ==!  */
					) OR (
						A.LAST_CHG_DTTM <![CDATA[ >= ]]> TO_TIMESTAMP(#{searchKeywordFrom}, 'DD/MM/YYYY')
						AND A.LAST_CHG_DTTM <![CDATA[ <= ]]> TO_TIMESTAMP(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
					)
				)
			</if>

			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(prcsSttsCd)">
				AND  A.PRCS_STTS_CD = #{prcsSttsCd}                                           /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			</if>

			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cvyRqstNo)">
				AND  A.CVY_RQST_NO = #{cvyRqstNo}                    /**  N° demande d'escorte  !== 호송신청번호 ==!  */
			</if>

			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
				AND EXISTS (
					SELECT 1
					FROM TB_CARE_TRNP_BL 		TCTB
					WHERE TCTB.TRNP_RQST_NO = A.TRNP_RQST_NO
					AND  TCTB.CAG_MGMT_NO LIKE '%'||#{cagMgmtNo}||'%'           /**  Crn  !== 화물관리번호 ==!  */
				)
			</if>

			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(blNo)">
				AND EXISTS (
					SELECT 1
					FROM TB_CARE_TRNP_BL 		TCTB
					WHERE TCTB.TRNP_RQST_NO = A.TRNP_RQST_NO
					AND  TCTB.BL_NO LIKE '%'||#{blNo}||'%'                      /**  N° De Bl  !== BL번호 ==!  */
				)
			</if>

		<include refid="pagination.footer" ></include>
	</select>

	<!--
		[Rechercher] Consulter la liste des "Demande d'escorte" !== 호송 신청을 조회한다. ==!
		(Jeong Byungyeol)
		-->
	<select id="selectCvy" resultType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
		/* alpass.ipt.car.trnpcvy.cvy.mapper.CarEptCvyMapper.selectCvy */
			SELECT
					A.CVY_RQST_NO				/**  N° demande d'escorte  !== 호송신청번호 ==!  */
				, A.TRNP_RQST_NO				/**  N° de demande de transfert  !== 운송신청번호 ==!  */
				, A.CVY_TP_CD 			/**  Type d'escorte  !== 호송구분코드 ==!  */
				, TO_CHAR(A.CVY_DPTR_DTTM, 'DD/MM/YYYY HH24:MI') AS CVY_DPTR_DTTM	/**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
				, A.CVY_RSLT_CN				/**  Résultat D'Escorte  !== 호송결과내용 ==!  */
				, TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:MI') AS TRSN_DTTM	/**  Date et heure de transmission  !== 전송일시 ==!  */
				, A.TRSN_CO_CD				/**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
				, TO_CHAR(A.PRCS_DTTM, 'DD/MM/YYYY HH24:MI') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, B.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, B.AUDT_EMP_NM				/**  Nom du l'insepcteur  !== 심사직원명 ==!  */
				, B.PRCS_DTTM 				/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, B.PRCS_STTS_CD				/**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
				, A.PRCS_RSLT_CN				/**  Résultat De Traitement  !== 처리결과내용 ==!  */
				, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
				, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
				, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			FROM
				TB_CARE_CVY A
			LEFT JOIN (
				SELECT
					  TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
					, TCCPB.CAG_RQST_TP_CD				/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
					, TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
					, TCCPB.JRSD_ORGN_CD				/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
					, TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
					, TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
					, TCCPB.PRCS_STTS_CD				/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
					, TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
					, TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
					, TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					, TPE.EMP_NM AS AUDT_EMP_NM				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					, TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
				FROM
					  TB_CARI_CAG_PRCS_BRKD TCCPB
				LEFT JOIN TB_POTI_EMP TPE ON TPE.PBSR_NO = TCCPB.AUDT_EMP_ID
				WHERE
					TCCPB.DEL_YN = 'N'
				AND
					TPE.DEL_YN = 'N'
			) B
				ON A.CVY_RQST_NO = B.CAG_RQST_NO
			  AND B.CAG_RQST_TP_CD  = 'MCE'
			  AND B.RQST_DGCNT      = 0
			WHERE
				A.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
			AND
				A.CVY_RQST_NO = #{cvyRqstNo}                   /**  N° demande d'escorte  !== 호송신청번호 ==!  */
	</select>

	<!--
	[Enregistrer] [Enregistrer] Enregistrer la demande d'escorte.      !== 호송 신청을 등록한다. ==!
	(Jeong Byungyeol)
	-->
	<update id="mergeCvy" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
		/* alpass.ipt.car.trnpcvy.cvy.mapper.CarEptCvyMapper.mergeCvy */
		WITH UPSERT AS (
		    UPDATE
		        TB_CARE_CVY
		    SET
		          TRNP_RQST_NO = #{trnpRqstNo} /**  N° de demande de transfert  !== 운송신청번호 ==!  */
		        , CVY_TP_CD = #{cvyTpCd} /**  Type d'escorte  !== 호송구분코드 ==!  */
		        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cvyDptrDttm)">
		        	, CVY_DPTR_DTTM = TO_TIMESTAMP(#{cvyDptrDttm}, 'DD/MM/YYYY HH24:MI') /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
		        </if>
		        , PRCS_STTS_CD  = #{prcsSttsCd} /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
		        , CVY_RSLT_CN = #{cvyRsltCn} /**  Résultat D'Escorte  !== 호송결과내용 ==!  */
		        , TRSN_DTTM = SYSDATE /**  Date et heure de transmission  !== 전송일시 ==!  */
		        , TRSN_CO_CD = #{trsnCoCd} /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
		        , DEL_YN = #{delYn} /**  Suppression On  !== 삭제여부 ==!  */
		        , LAST_CHPR_ID = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		        , LAST_CHG_DTTM = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		    WHERE
		        CVY_RQST_NO = #{cvyRqstNo}	/**  N° demande d'escorte  !== 호송신청번호 ==!  */
			RETURNING *
		)
		INSERT
		    INTO
		    TB_CARE_CVY (
		          CVY_RQST_NO /**  N° demande d'escorte  !== 호송신청번호 ==!  */
		        , TRNP_RQST_NO /**  N° de demande de transfert  !== 운송신청번호 ==!  */
		        , CVY_TP_CD 	/**  Type d'escorte  !== 호송구분코드 ==!  */
		        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cvyDptrDttm)">
		        , CVY_DPTR_DTTM /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
		        </if>
		        , TRSN_DTTM /**  Date et heure de transmission  !== 전송일시 ==!  */
		        , TRSN_CO_CD /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
		        , PRCS_DTTM /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
		        , PRCS_STTS_CD /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
		        , DEL_YN /**  Suppression On  !== 삭제여부 ==!  */
		        , FRST_REGST_ID /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		        , FRST_RGSR_DTTM /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		        , LAST_CHPR_ID /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		        , LAST_CHG_DTTM /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		    )
		SELECT
		     #{cvyRqstNo} /**  N° demande d'escorte  !== 호송신청번호 ==!  */
		    , #{trnpRqstNo} /**  N° de demande de transfert  !== 운송신청번호 ==!  */
		    , #{cvyTpCd} /**  Type d'escorte  !== 호송구분코드 ==!  */
        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cvyDptrDttm)">
		    	, TO_TIMESTAMP(#{cvyDptrDttm}, 'DD/MM/YYYY HH24:MI') /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
        </if>
		    , SYSDATE /**  Date et heure de transmission  !== 전송일시 ==!  */
		    , #{trsnCoCd} /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
		    , SYSDATE /**  Date Et Heure De Traitement  !== 처리일시 ==!  */
		    , #{prcsSttsCd} /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
		    , 'N' /**  Suppression On  !== 삭제여부 ==!  */
		    , #{frstRegstId} /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		    , SYSTIMESTAMP /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		    , #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		    , SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
		    NOT EXISTS(
		        SELECT
		            *
		        FROM
		            UPSERT
		    )
	</update>


	<!--
	[Modifier] Supprimer les demande d'escorte.   !== 호송신청을 삭제처리 한다.==!
	(Jeong Byungyeol)
	-->
	<update id="deleteCvy" parameterType="alpass.ipt.car.trnpcvy.trnp.vo.CarTrnpVo">
	/* alpass.ipt.car.trnpcvy.cvy.mapper.CarEptCvyMapper.deleteCvy */
		UPDATE
			TB_CARE_CVY
		SET
			  DEL_YN      			= 'Y'
			, LAST_CHPR_ID      = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM     = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
				CVY_RQST_NO = #{cvyRqstNo}	/**  N° demande d'escorte  !== 호송신청번호 ==!  */
	</update>

	<!--
	[Modifier] [Modifier] Modifier l'état de traitement de la demande d'escorte.      !== 호송 신청 처리상태를 수정한다. ==!
	(Jeong Byungyeol)
	-->
	<update id="updateCvyPrcsSttsCd" parameterType="alpass.ipt.car.trnpcvy.trnp.vo.CarTrnpVo">
	/* alpass.ipt.car.trnpcvy.cvy.mapper.CarEptCvyMapper.updateCvyPrcsSttsCd */
		UPDATE
	    TB_CARE_CVY
		SET
			  PRCS_STTS_CD      = #{prcsSttsCd} /**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
			, PRCS_RSLT_CN      = #{prcsRsltCn} /**  Résultat De Traitement  !== 처리결과내용 ==!  */
			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cvyRsltCn)">
			, CVY_RSLT_CN 			= #{cvyRsltCn} /**  Résultat D'Escorte  !== 호송결과내용 ==!  */
			</if>
			, LAST_CHPR_ID      = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM     = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
	    CVY_RQST_NO 				= #{cvyRqstNo}	/**  N° demande d'escorte  !== 호송신청번호 ==!  */
	</update>

	<!--
	[Modifier] [Modifier] Modifier l'état de traitement de la demande d'escorte.     !== 호송 신청의 호송구분코드를 수정한다.==!
	(Jeong Byungyeol)
	-->
	<update id="updateCvyTpCd" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
	/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.updateCvyTpCd */
		UPDATE
			TB_CARI_CVY
		SET
			  CVY_TP_CD   		= #{cvyTpCd} /**  Type d'escorte  !== 호송구분코드 ==!  */
			, LAST_CHPR_ID    = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM   = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
	    CVY_RQST_NO 			= #{cvyRqstNo}	/**  N° demande d'escorte  !== 호송신청번호 ==!  */
	</update>

	<!--
	[Modifier] [Modifier] Modifier le rapport du résultat d'escorte de la demande d'escorte.      !== 호송 신청의 호송결과보고를 수정한다. ==!
	(Jeong Byungyeol)
	-->
	<update id="updateCvyRsltCn" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
	/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.updateCvyRsltCn */
		UPDATE
	    TB_CARI_CVY
		SET
			  CVY_RSLT_CN 		= #{cvyRsltCn}	/**  Résultat D'Escorte  !== 호송결과내용 ==!  */
			, LAST_CHPR_ID    = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM   = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
	    CVY_RQST_NO 			= #{cvyRqstNo}	/**  N° demande d'escorte  !== 호송신청번호 ==!  */
	</update>
</mapper>
