<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper">

	<!--
		[Rechercher] Consulter la liste des "Demande d'escorte" !== 호송 신청 목록을 조회한다. ==!
		(Jeong Byungyeol)
		-->
	<select id="selectCvyList" resultType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
		/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.selectCvyList */
		<include refid="pagination.header" ></include>
			SELECT
				  A.TRNP_RQST_NO				/**  N° de demande de transfert  !== 운송신청번호 ==!  */
				, A.JRSD_ORGN_CD			        /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
				, A.CVY_TP_CD 			/**  Type d'escorte  !== 호송구분코드 ==!  */
				, C.CAG_MGMT_NO	/**  Crn  !== 화물관리번호 ==!  */
				, C.BL_NO 	/**  N° De Bl  !== BL번호 ==!  */
				, D.DPRP_IBOBZ_CD				/**  Code De Zone Sous Douane De Départ  !== 출발지보세구역코드 ==!  */
				, (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.IBOBZ_CD = D.DPRP_IBOBZ_CD) AS DPRP_IBOBZ_NM
				, D.ARLC_IBOBZ_CD				/**  Code De Zone Sous Douane De Destination  !== 도착지보세구역코드 ==!  */
				, TO_CHAR(D.ARVL_DTTM, 'DD/MM/YYYY HH24:MI')       AS ARVL_DTTM /** Date Et Heure D'Arrivée !== Date Et Heure D'Arrivée ==! */
				, (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.IBOBZ_CD = D.ARLC_IBOBZ_CD) AS ARLC_IBOBZ_NM
				, TO_CHAR(A.CVY_DPTR_DTTM, 'DD/MM/YYYY HH24:mi') AS CVY_DPTR_DTTM	/**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
				, TO_CHAR(A.CVY_ARVL_DTTM, 'DD/MM/YYYY HH24:mi') AS CVY_ARVL_DTTM	/**  Date/Heure d'arrivée de l'escorte  !== 호송도착일시 ==!  */
				, A.CVY_RSLT_CN				/**  Résultat D'Escorte  !== 호송결과내용 ==!  */
				, TO_CHAR(A.TRSN_DTTM, 'DD/MM/YYYY HH24:mi') AS TRSN_DTTM	/**  Date et heure de transmission  !== 전송일시 ==!  */
				/*, A.TRSN_CO_CD*/				/**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
				, B.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, nvl(B.CVY_EMP_NM,'') as CVY_EMP_NM		/**  Nom du l'Escorte  !== 호송직원명 ==!  */
				, B.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
				, B.AUDT_EMP_NM				/**  Nom du l'insepcteur  !== 심사직원명 ==!  */
				, B.PRCS_DTTM 				/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, B.PRCS_STTS_CD				/**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
				, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
				, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi') AS FRST_RGSR_DTTM	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
				, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi') AS LAST_CHG_DTTM	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			FROM
				TB_CARI_CVY 	A
			LEFT JOIN (
				SELECT
					  TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
					, TCCPB.CAG_RQST_TP_CD				/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
					, TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
					, TCCPB.JRSD_ORGN_CD				/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
					, TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
					, TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
					, TCCPB.PRCS_STTS_CD				/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
					, TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
					, TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
					, TCCPB.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
					, ((SELECT EMP_FMNM || ' ' || EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.CVY_EMP_ID AND TPE.DEL_YN = 'N')) AS CVY_EMP_NM			/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
					, TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					, ((SELECT EMP_FMNM || ' ' || EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.AUDT_EMP_ID AND TPE.DEL_YN = 'N')) AS AUDT_EMP_NM			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					, TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
				FROM
					  TB_CARI_CAG_PRCS_BRKD TCCPB
				WHERE
					TCCPB.DEL_YN = 'N'
			) B
				ON A.TRNP_RQST_NO = B.CAG_RQST_NO
			  AND B.CAG_RQST_TP_CD  = 'MCE'
			  AND B.RQST_DGCNT      = 0

			LEFT JOIN TB_CARE_TRNP D ON D.TRNP_RQST_NO = A.TRNP_RQST_NO /**  N° de demande de transfert  !== 운송신청번호 ==!  */
			LEFT JOIN (
				SELECT
					  S.TRNP_RQST_NO
					, ARRAY_TO_STRING(ARRAY_AGG(S.CAG_MGMT_NO), ',') AS CAG_MGMT_NO
					, ARRAY_TO_STRING(ARRAY_AGG(S.BL_NO), ',') AS BL_NO
				FROM
				(
					SELECT
						  B.CAG_MGMT_NO /**  Crn  !== 화물관리번호 ==!  */
						, B.BL_NO /**  N° De Bl  !== BL번호 ==!  */
						, B.TRNP_RQST_NO
					FROM
						TB_CARE_TRNP_BL B
					WHERE
						B.DEL_YN = 'N' /**  Suppression On  !== 삭제여부 ==!  */
				) S GROUP BY TRNP_RQST_NO
			) C ON C.TRNP_RQST_NO = A.TRNP_RQST_NO

		/**
			LEFT OUTER JOIN (
				SELECT
				      K1.CO_NM
				    , K1.RPRS_TLPH_NO
				    , K1.CO_ADDR
				    , K2.CO_DCLR_CD
				FROM
				     TB_COM_CO K1
				    ,TB_COM_CO_DCLR_CD K2
				WHERE K1.NIF = K2.NIF
		    AND  	K1.DEL_YN = 'N'
				AND		K2.DEL_YN = 'N'
       ) E 	ON A.TRSN_CO_CD = E.CO_DCLR_CD
		**/

			WHERE
				A.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */

			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(searchKeywordFrom) and @alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(searchKeywordTo)">
				AND (
					(
						A.TRSN_DTTM <![CDATA[ >= ]]> TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY')       /**  Date et heure de transmission  !== 전송일시 ==!  */
						AND A.TRSN_DTTM <![CDATA[ <= ]]> TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999   /**  Date et heure de transmission  !== 전송일시 ==!  */
					) OR (
						A.LAST_CHG_DTTM <![CDATA[ >= ]]> TO_TIMESTAMP(#{searchKeywordFrom}, 'DD/MM/YYYY')
						AND A.LAST_CHG_DTTM <![CDATA[ <= ]]> TO_TIMESTAMP(#{searchKeywordTo}, 'DD/MM/YYYY')+0.9999
					)
				)
			</if>

			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(trnpRqstNo)">
				AND  A.TRNP_RQST_NO LIKE CONCAT('%',#{trnpRqstNo},'%')                    /**  N° de demande de transfert  !== 운송신청번호 ==!  */
			</if>

			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
				AND EXISTS (
					SELECT 1
					FROM TB_CARE_TRNP_BL 		TCTB
					WHERE TCTB.TRNP_RQST_NO = A.TRNP_RQST_NO
					AND  TCTB.CAG_MGMT_NO LIKE CONCAT('%',#{cagMgmtNo},'%')           /**  Crn  !== 화물관리번호 ==!  */
				)
			</if>

			<if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(blNo)">
				AND EXISTS (
					SELECT 1
					FROM TB_CARE_TRNP_BL 		TCTB
					WHERE TCTB.TRNP_RQST_NO = A.TRNP_RQST_NO
					AND  TCTB.BL_NO LIKE CONCAT('%',#{blNo},'%')                      /**  N° De Bl  !== BL번호 ==!  */
				)
			</if>

			<choose>
           <when test="@alpass.ipt.car.com.util.CarMyBatisUtil@isEqualsStr(scrnTp,'1')">
			       AND B.PRCS_STTS_CD IN ('B04', 'D08', 'D09')
			       AND B.AUDT_EMP_ID  = #{pbsrNo}
           </when>
           <otherwise>
                   AND A.JRSD_ORGN_CD LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'
			       AND B.PRCS_STTS_CD IN ('B04', 'D08', 'D09', 'D20', 'D30')
           </otherwise>
      </choose>

			ORDER BY D.PRCS_DTTM DESC
		<include refid="pagination.footer" ></include>
	</select>

	<!--
		[Rechercher] Consulter la liste des "Demande d'escorte" !== 호송 신청을 조회한다. ==!
		(Jeong Byungyeol)
		-->
	<select id="selectCvy" resultType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
		/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.selectCvy */
			SELECT
				  A.TRNP_RQST_NO				/**  N° de demande de transfert  !== 운송신청번호 ==!  */
				, A.JRSD_ORGN_CD			        /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
				, A.CVY_TP_CD 			/**  Type d'escorte  !== 호송구분코드 ==!  */
				, TO_CHAR(A.CVY_DPTR_DTTM, 'DD/MM/YYYY HH24:MI') AS CVY_DPTR_DTTM	/**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
				, TO_CHAR(A.CVY_ARVL_DTTM, 'DD/MM/YYYY HH24:MI') AS CVY_ARVL_DTTM	/**  Date/Heure d'arrivée de l'escorte  !== 호송도착일시 ==!  */
				, A.CVY_RSLT_CN				/**  Résultat D'Escorte  !== 호송결과내용 ==!  */
				, B.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
				, B.CVY_EMP_NM				/**  Nom du l'Escorte  !== 호송직원명 ==!  */
				, B.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
			    , B.AUDT_EMP_NM				/**  Nom du l'insepcteur  !== 심사직원명 ==!  */
				, B.PRCS_DTTM 				/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
				, B.PRCS_STTS_CD			/**  Code De Statut De Traitement  !== 처리상태코드 ==!  */
				, TO_CHAR(A.AUDT_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS AUDT_DTTM	/**  Date De L'Étude  !== 심사일시 ==!  */
				, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
				, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
				, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			FROM
				TB_CARI_CVY A
			LEFT JOIN (
				SELECT
					  TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
					, TCCPB.CAG_RQST_TP_CD				/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
					, TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
					, TCCPB.JRSD_ORGN_CD				/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
					, TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
					, TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
					, TCCPB.PRCS_STTS_CD				/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
					, TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
					, TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
					, TCCPB.CVY_EMP_ID				/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
					, ((SELECT EMP_FMNM || ' ' || EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.CVY_EMP_ID AND TPE.DEL_YN = 'N')) AS CVY_EMP_NM			/**  Id De L'Agent D'Escorte !== 호송직원ID ==! */
					, TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					, ((SELECT EMP_FMNM || ' ' || EMP_NM FROM TB_POTI_EMP TPE WHERE TPE.PBSR_NO = TCCPB.AUDT_EMP_ID AND TPE.DEL_YN = 'N')) AS AUDT_EMP_NM			/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					, TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
				FROM
					  TB_CARI_CAG_PRCS_BRKD TCCPB
				WHERE
					TCCPB.DEL_YN = 'N'
			) B
				ON A.TRNP_RQST_NO = B.CAG_RQST_NO
			  AND B.CAG_RQST_TP_CD  = 'MCE'
			  AND B.RQST_DGCNT      = 0
			WHERE
				A.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
			AND
				A.TRNP_RQST_NO = #{trnpRqstNo}                   /**   N° de demande de transfert  !== 운송신청번호 ==!  */
	</select>

	<!--
	[Enregistrer] Enregistrer la demande d'escorte.      !== 호송 신청을 등록한다. ==!
	(Jeong Byungyeol)
	-->
	<insert id="insertCvy" parameterType="String">
		/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.inertCvy */
		INSERT INTO
    	TB_CARI_CVY
    (
			  CVY_RQST_NO /**  N° demande d'escorte  !== 호송신청번호 ==!  */
		  , JRSD_ORGN_CD	/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
			, TRNP_RQST_NO /**  N° de demande de transfert  !== 운송신청번호 ==!  */
			, CVY_TP_CD 	/**  Type d'escorte  !== 호송구분코드 ==!  */
			, CVY_DPTR_DTTM /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
			, CVY_RSLT_CN /**  Résultat D'Escorte  !== 호송결과내용 ==!  */
			, TRSN_DTTM /**  Date et heure de transmission  !== 전송일시 ==!  */
			, TRSN_CO_CD /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
			, DEL_YN /**  Suppression On  !== 삭제여부 ==!  */
			, FRST_REGST_ID /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, FRST_RGSR_DTTM /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, LAST_CHPR_ID /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		)
		SELECT
			  A.CVY_RQST_NO /**  N° demande d'escorte  !== 호송신청번호 ==!  */
		  , A.JRSD_ORGN_CD	/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
			, A.TRNP_RQST_NO /**  N° de demande de transfert  !== 운송신청번호 ==!  */
			, A.CVY_TP_CD 	/**  Type d'escorte  !== 호송구분코드 ==!  */
			, A.CVY_DPTR_DTTM /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
			, A.CVY_RSLT_CN /**  Résultat D'Escorte  !== 호송결과내용 ==!  */
			, A.TRSN_DTTM /**  Date et heure de transmission  !== 전송일시 ==!  */
			, A.TRSN_CO_CD /**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
			, A.DEL_YN /**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, A.FRST_RGSR_DTTM /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, A.LAST_CHG_DTTM /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		FROM
			TB_CARI_CVY 	A
		WHERE
			A.CVY_RQST_NO = #{cvyRqstNo}                   /**  N° demande d'escorte  !== 호송신청번호 ==!  */
	</insert>

	<!--
	[Modifier] Supprimer les demande d'escorte.   !== 호송신청을 삭제처리 한다.==!
	(Jeong Byungyeol)
	-->
	<update id="deleteCvy" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
	/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.deleteCvy */
		UPDATE
			TB_CARI_CVY
		SET
			  DEL_YN      			= 'Y'
			, LAST_CHPR_ID      = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM     = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
				CVY_RQST_NO 			= #{cvyRqstNo}	/**  N° demande d'escorte  !== 호송신청번호 ==!  */
	</update>

	<!--
	[Modifier] Modifier l'état de traitement de la demande d'escorte.      !== 호송 신청 처리상태를 수정한다. ==!
	(Jeong Byungyeol)
	-->
	<update id="updateCvyPrcsSttsCd" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
	/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.updateCvyPrcsSttsCd */
		UPDATE
	    TB_CARI_CVY
		SET
			  AUDT_DTTM 			= SYSTIMESTAMP 	/**  Date De L'Étude  !== 심사일시 ==!  */
			, AUDT_PT_CD 			= #{audtPtCd} 			/**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			, AUDT_RSLT_CN 		= #{audtRsltCn} 			/**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
			, CVY_DPTR_DTTM		= TO_DATE(#{cvyDptrDttm},'DD/MM/YYYY HH24:MI')	/**  Date/Heure De Départ De L'Escorte	!== 호송출발일시 ==!  */
		    , CVY_ARVL_DTTM 	= TO_DATE(#{cvyArvlDttm},'DD/MM/YYYY HH24:MI')	/**  Date/Heure d'arrivée de l'escorte	!== 호송도착일시 ==!  */
		    , CVY_RSLT_CN		= #{cvyRsltCn}
			, LAST_CHPR_ID    = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM   = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
			TRNP_RQST_NO = #{trnpRqstNo}                   /**   N° de demande de transfert  !== 운송신청번호 ==!  */
	</update>

	<!--
	[Modifier] Modifier l'état de traitement de la demande d'escorte.     !== 운송신청의 호송구분코드를 수정한다.==!
	(Jeong Byungyeol)
	-->
	<update id="updateCvyTpCd" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
	/* alpass.ipt.car.trnpcvy.trnp.mapper.CarIptCvyMapper.updateCvyTpCd */
		UPDATE
	    TB_CARI_CVY
		SET
			  CVY_TP_CD   		= #{cvyTpCd} /**  Type d'escorte  !== 호송구분코드 ==!  */
			, LAST_CHPR_ID    = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM   = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
	    TRNP_RQST_NO 			= #{trnpRqstNo}	/**  N° de demande de transfert  !== 운송신청번호 ==!  */
	</update>

	<!--
	[Modifier] Modifier le rapport du résultat d'escorte de la demande d'escorte.      !== 호송 신청의 호송결과보고를 수정한다. ==!
	(Jeong Byungyeol)
	-->
	<update id="updateCvyRsltCn" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
	/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.updateCvyTpCd */
		UPDATE
	    TB_CARI_CVY
		SET

			  CVY_DPTR_DTTM		= TO_DATE(#{cvyDptrDttm},'DD/MM/YYYY HH24:MI')	/**  Date/Heure De Départ De L'Escorte	!== 호송출발일시 ==!  */
			, CVY_ARVL_DTTM 	= TO_DATE(#{cvyArvlDttm},'DD/MM/YYYY HH24:MI')	/**  Date/Heure d'arrivée de l'escorte	!== 호송도착일시 ==!  */
			, CVY_RSLT_CN 		= #{cvyRsltCn}	/**  Résultat D'Escorte  !== 호송결과내용 ==!  */
			, LAST_CHPR_ID    	= #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, LAST_CHG_DTTM   	= SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
	    TRNP_RQST_NO 			= #{trnpRqstNo}	/**  N° de demande de transfert  !== 운송신청번호 ==!  */
	</update>

	<!--
		[Enregistrer] @TODO 번역필요   !== 호송신청을 수정 한다.==!
	-->
	<update id="updateCvy" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
		/* alpass.ipt.car.trnpcvy.cvy.mapper.updateCvy */
		UPDATE TB_CARI_CVY
		SET CVY_DPTR_DTTM = TO_TIMESTAMP(#{cvyDptrDttm}, 'DD/MM/YYYY HH24:MI') /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
		  , CVY_ARVL_DTTM = TO_TIMESTAMP(#{cvyArvlDttm}, 'DD/MM/YYYY HH24:MI') /**  Date/Heure d'arrivée de l'escorte  !== 호송도착일시 ==!  */
		  , DEL_YN = #{delYn} /**  Suppression On  !== 삭제여부 ==!  */
		  , LAST_CHPR_ID = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		  , LAST_CHG_DTTM = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE TRNP_RQST_NO = #{trnpRqstNo}	/**  N° de demande de transfert  !== 운송신청번호 ==!  */
	</update>

	<!--
	[Enregistrer] Enregistrer la demande d'escorte.      !== 호송 신청을 등록한다. ==!
	(ByungYeol.Jeong)
	-->
	<update id="mergeCvy" parameterType="alpass.ipt.car.trnpcvy.cvy.vo.CarCvyVo">
		/* alpass.ipt.car.trnpcvy.cvy.mapper.CarIptCvyMapper.mergeCvy */
		WITH UPSERT AS (
		    UPDATE
		        TB_CARI_CVY
		    SET

		          JRSD_ORGN_CD = #{jrsdOrgnCd}			        /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
		        , CVY_TP_CD = #{cvyTpCd} /**  Type d'escorte  !== 호송구분코드 ==!  */
	        	, CVY_DPTR_DTTM = TO_TIMESTAMP(#{cvyDptrDttm}, 'DD/MM/YYYY HH24:MI') /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
	        	, CVY_ARVL_DTTM = TO_TIMESTAMP(#{cvyArvlDttm}, 'DD/MM/YYYY HH24:MI') /**  Date/Heure d'arrivée de l'escorte  !== 호송도착일시 ==!  */
		        , CVY_RSLT_CN = #{cvyRsltCn} /**  Résultat D'Escorte  !== 호송결과내용 ==!  */
		        , DEL_YN = #{delYn} /**  Suppression On  !== 삭제여부 ==!  */
		        , LAST_CHPR_ID = #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		        , LAST_CHG_DTTM = SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		    WHERE
		        TRNP_RQST_NO = #{trnpRqstNo}	/**  N° de demande de transfert  !== 운송신청번호 ==!  */
			RETURNING *
		)
		INSERT
		    INTO
		    TB_CARI_CVY (
		    	  TRNP_RQST_NO /**  N° de demande de transfert  !== 운송신청번호 ==!  */
		        , JRSD_ORGN_CD	/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
		        , CVY_TP_CD 	/**  Type d'escorte  !== 호송구분코드 ==!  */
		        , CVY_DPTR_DTTM /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
		        , CVY_ARVL_DTTM /**  Date/Heure d'arrivée de l'escorte  !== 호송도착일시 ==!  */
		        , DEL_YN /**  Suppression On  !== 삭제여부 ==!  */
		        , FRST_REGST_ID /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		        , FRST_RGSR_DTTM /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		        , LAST_CHPR_ID /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		        , LAST_CHG_DTTM /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		    )
		SELECT
		      #{trnpRqstNo} /**  N° de demande de transfert  !== 운송신청번호 ==!  */
            , #{jrsdOrgnCd}	/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
		    , #{cvyTpCd} /**  Type d'escorte  !== 호송구분코드 ==!  */
	    	, TO_TIMESTAMP(#{cvyDptrDttm}, 'DD/MM/YYYY HH24:MI') /**  Date/Heure De Départ De L'Escorte  !== 호송출발일시 ==!  */
	    	, TO_TIMESTAMP(#{cvyArvlDttm}, 'DD/MM/YYYY HH24:MI') /**  Date/Heure d'arrivée de l'escorte  !== 호송도착일시 ==!  */
		    , 'N' /**  Suppression On  !== 삭제여부 ==!  */
		    , #{frstRegstId} /**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
		    , SYSTIMESTAMP /**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
		    , #{lastChprId} /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
		    , SYSTIMESTAMP /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
		WHERE
		    NOT EXISTS(
		        SELECT
		            *
		        FROM
		            UPSERT
		    )
	</update>

	<!--
		[Rechercher] Consulter les infos sur la demande de transfert pour imprimer le bon d'escorte.
		 !== 호송증 출력을 위한 운송 신청 정보를 조회한다. ==!
		(YoungChae Kim)
	-->
	<select id="selectTrnpCvyReport" resultType="alpass.ipt.car.trnpcvy.trnp.vo.CarTrnpVo">
		/* alpass.ipt.car.trnpcvy.trnp.mapper.CarIptCvyMapper.selectTrnpCvyReport */
		SELECT
			 SUBSTR(A.TRNP_RQST_NO,0,2)||'-'||SUBSTR(A.TRNP_RQST_NO,3,5)||'-'||SUBSTR(A.TRNP_RQST_NO,8,3)||'-'||SUBSTR(A.TRNP_RQST_NO,11,6)||'-'||SUBSTR(A.TRNP_RQST_NO,17,1) AS TRNP_RQST_NO
			 , SUBSTR(A.TRNP_RQST_NO,0,2)||'-'||SUBSTR(A.TRNP_RQST_NO,3,5)||'-'||SUBSTR(A.TRNP_RQST_NO,8,3)||'-'||SUBSTR(A.TRNP_RQST_NO,11,6)||'-'||SUBSTR(A.TRNP_RQST_NO,17,1)||'-'||'ESC' AS CVY_RQNO
		     , C.UP_CSTM_CD
		     , C.UP_CSTM_NM
			 , C.JRSD_CSTM_CD
		     , C.JRSD_CSTM_NM
			 , A.JRSD_ORGN_CD			        /**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
			 , (SELECT ORGN_NM || '(' || ADMN_CD || ')'
				FROM TB_POTI_ORGN
				WHERE ORGN_CD = A.JRSD_ORGN_CD
				  AND DEL_YN = 'N'
				  AND ROWNUM=1
			 ) AS jrsd_orgn_nm
			 , A.TRNP_TP_CD				/**  Code de type de transfert  !== 운송구분코드 ==!  */
			 , A.TRNP_MEAN_CD				/**  Code de mode de transport  !== 운송방법코드 ==!  */
			 , TO_CHAR(A.DPTR_DTTM, 'DD/MM/YYYY HH24:MI') || ' - ' || TO_CHAR(A.ARVL_DTTM, 'DD/MM/YYYY HH24:MI') AS ARVL_DTTM /** Date Et Heure D'Arrivée !== Date Et Heure D'Arrivée ==! */
			 , TO_CHAR(A.DPTR_DTTM, 'DD/MM/YYYY HH24:MI') AS DPTR_DTTM /** Date Et Heure De Départ !== Date Et Heure De Départ ==! */
			 , A.TRNP_PATH_CN				/**  Contenu De L'Itinéraire Du Transport  !== 운송경로내용 ==!  */
			 , A.DPRP_CSTM_CD				/**  Code De Bureau De Départ  !== 출발지세관코드 ==!  */
			 , (SELECT ORGN_NM || '(' || ADMN_CD || ')'
				FROM TB_POTI_ORGN
				WHERE ORGN_CD = A.DPRP_CSTM_CD
				  AND DEL_YN = 'N'
				  AND ROWNUM=1
		     ) AS dprp_Cstm_Nm
			 , A.ARLC_CSTM_CD				/**  Bureau De Destination  !== 도착지세관코드 ==!  */
			 , (SELECT ORGN_NM || '(' || ADMN_CD || ')'
				FROM TB_POTI_ORGN
				WHERE ORGN_CD = A.ARLC_CSTM_CD
				  AND DEL_YN = 'N'
				  AND ROWNUM=1
		     ) AS arlc_Cstm_Nm
			 , A.DPRP_IBOBZ_CD				/**  Code De Zone Sous Douane De Départ  !== 출발지보세구역코드 ==!  */
			 , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.IBOBZ_CD = A.DPRP_IBOBZ_CD) AS DPRP_IBOBZ_NM
			 , A.ARLC_IBOBZ_CD				/**  Code De Zone Sous Douane De Destination  !== 도착지보세구역코드 ==!  */
			 , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ B WHERE B.IBOBZ_CD = A.ARLC_IBOBZ_CD) AS ARLC_IBOBZ_NM
			 , A.HDCB_YN				/**  Hydrocarbon O/N  !== 탄화수소여부 ==!  */
			 , A.ATCH_FILE_ID				/**  Id Du Fichier Joint  !== 첨부파일ID ==!  */
			 , TO_CHAR(A.trsn_dttm, 'DD/MM/YYYY HH24:mi:ss') AS TRSN_DTTM	/**  Date et heure de transmission  !== 전송일시 ==!  */
			 , A.TRSN_CO_CD				/**  Code d'entreprise transmettrice  !== 전송업체코드 ==!  */
			 ,CASE WHEN ((SELECT MAX(PRCS_STTS_CD) FROM TB_CARI_CAG_PRCS_BRKD Z WHERE Z.CAG_RQST_NO = A.TRNP_RQST_NO AND Z.DEL_YN = 'N') = 'D08'
			AND (SELECT PRCS_STTS_CD FROM TB_CARI_CAG_PRCS_BRKD Z WHERE Z.CAG_RQST_NO = A.TRNP_RQST_NO AND Z.CAG_RQST_TP_CD  = 'MCE' AND Z.DEL_YN = 'N') = 'B04')
					   THEN 'B04' ELSE (SELECT MAX(PRCS_STTS_CD) FROM TB_CARI_CAG_PRCS_BRKD Z WHERE Z.CAG_RQST_NO = A.TRNP_RQST_NO AND Z.DEL_YN = 'N') END
			AS PRCS_STTS_CD
			 , A.AUDT_PT_CD 			  /**  Code De Type De Contrôle  !== 심사유형코드 ==!  */
			 , A.AUDT_RSLT_CN 		  /**  Contenu Du Résultat De La Vérification  !== 심사결과내용 ==!  */
			 , A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			 , A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			 , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS FRST_RGSR_DTTM	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			 , A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			 , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS LAST_CHG_DTTM	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
			/*20230224 추가*/
			 , B.CAG_RQST_TP_CD /**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
			 , D.WGHT
			 , D.ECNTR_WGHT
			 , D.WGHT - D.ECNTR_WGHT AS NTWG
		FROM
			TB_CARI_TRNP 	A
				LEFT JOIN (
				SELECT
					TCCPB.CAG_RQST_NO				/** N° De Demande De Cargaison !== 화물신청번호 ==! */
					 , TCCPB.CAG_RQST_TP_CD				/**  Code de type de demTCCPB.de fret  !== 화물신청구분코드 ==!  */
					 , TCCPB.RQST_DGCNT				/**  N° ordre de lTCCPB.demTCCPB.de  !== 신청차수 ==!  */
					 , TCCPB.JRSD_ORGN_CD				/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
					 , TCCPB.TRNP_TP_CD				/**  Code de type de trTCCPB.sfert  !== 운송구분코드 ==!  */
					 , TCCPB.IBOBZ_CD				/**  Code de zone sous douTCCPB.e  !== 보세구역코드 ==!  */
					 , TCCPB.PRCS_STTS_CD				/**  Code De StTCCPB.ut De TrTCCPB.tement  !== 처리상태코드 ==!  */
					 , TO_CHAR(TCCPB.PRCS_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS PRCS_DTTM	/**  Date Et Heure De Traitement  !== 처리일시 ==!  */
					 , TCCPB.HNOT_EMP_ID				/**  ID du chTCCPB.gé de cotTCCPB.ion  !== 배부직원ID ==!  */
					 , TCCPB.AUDT_EMP_ID				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					 , TPE.EMP_FMNM || ' ' || TPE.EMP_NM AS AUDT_EMP_NM				/**  ID de l'insepcteur  !== 심사직원ID ==!  */
					 , TCCPB.INSC_EMP_ID				/**  ID de l'vérificTCCPB.eur  !== 검사직원ID ==!  */
				FROM
					TB_CARI_CAG_PRCS_BRKD TCCPB
						LEFT JOIN TB_POTI_EMP TPE ON TPE.PBSR_NO = TCCPB.AUDT_EMP_ID
				WHERE
					TCCPB.DEL_YN = 'N'
				  AND
					TPE.DEL_YN = 'N'
			) B
					  ON A.TRNP_RQST_NO = B.CAG_RQST_NO
						  AND B.CAG_RQST_TP_CD  = 'MCG'
						  AND B.RQST_DGCNT      = 0
			LEFT JOIN ( SELECT C1.ORGN_CD
							 , C2.ORGN_CD JRSD_CSTM_CD
							 , C2.ORGN_NM || '(' || C2.ADMN_CD || ')' JRSD_CSTM_NM
			            	 , C3.ORGN_CD UP_CSTM_CD
			            	 , C3.ORGN_NM || '(' || C3.ADMN_CD || ')' UP_CSTM_NM
						FROM TB_POTI_ORGN C1
						LEFT JOIN TB_POTI_ORGN C2
						ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
						LEFT JOIN TB_POTI_ORGN C3
						ON C2.UPR_ORGN_MGMT_CD = C3.ORGN_MGMT_CD
						WHERE C1.DEL_YN = 'N'
			) C
		  ON A.JRSD_ORGN_CD = C.ORGN_CD
		  LEFT JOIN ( SELECT MAX(TRNP_RQST_NO) AS TRNP_RQST_NO
		                   , SUM(WGHT) AS WGHT
		                   , SUM(ECNTR_WGHT) AS ECNTR_WGHT
		              FROM TB_CARI_TRNP_CNTR
		              WHERE TRNP_RQST_NO = #{trnpRqstNo}) D
		  ON A.TRNP_RQST_NO = D.TRNP_RQST_NO
		WHERE
			A.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
		  AND
			A.TRNP_RQST_NO = #{trnpRqstNo}                    /**  N° de demande de transfert  !== 운송신청번호 ==!  */
	</select>

	<!--
		[Rechercher] Consulter les infos sur le moyen de transport pour imprimer le bon d'escorte.
		 !== 호송증 출력을 위한 운송 수단 정보를 조회한다. ==!
		(YoungChae Kim)
	-->
	<select id="selectTrnpCvyMethReport" resultType="alpass.ipt.car.trnpcvy.trnp.vo.CarTrnpMethVo">
		/* alpass.ipt.car.trnpcvy.trnp.mapper.CarIptCvyMapper.selectTrnpCvyMethReport */
		SELECT ROWNUM as TRNP_METH_SRNO
			 , SUBSTR(C.CAG_MGMT_NO,0,16)||'-'||SUBSTR(C.CAG_MGMT_NO,17,4)||CASE WHEN SUBSTR(C.CAG_MGMT_NO,21,4) IS NULL THEN '' ELSE '-'|| SUBSTR(C.CAG_MGMT_NO,21,4) END AS CAG_MGMT_NO
		     , A.CARR_SRNO				/** N° série du transporteur !== 운송사일련번호 ==! */
			 , A.BL_SRNO				/**  N° De Séquence De Bl  !== BL일련번호 ==!  */
			 , C.BL_NO
			 , A.TRNP_RQST_NO			/**  N° de demande de transfert  !== 운송신청번호 ==!  */
			 , A.CARR_CD				/**  Code De Société De Transport  !== 운송사코드 ==!  */
			 , A.CARR_NIF				/**  Niu Transporteur   !== 운송사사업자등록번호 ==!  */
			 , A.CARR_ADDR_NM			/**  Adresse De Société De Transport  !== 운송사주소명 ==!  */
			 , A.CARR_NM
		     , B.TRNP_METH_NM				/**  Nom De Moyen De Transport  !== 운송수단명 ==!  */
			 , B.DRVR_NM						/**  Nom de conducteur  !== 운전자명 ==!  */
			 , B.LCNE_NO						/**  N° permis de conduire  !== 면허번호 ==!  */
		     , D.CNTR_NO
		FROM TB_CARI_TRNP_CARR A
		   , TB_CARI_TRNP_METH B
		   , TB_CARI_TRNP_BL C
		   , TB_CARI_TRNP_CNTR D
		WHERE A.DEL_YN = 'N'              /**  Suppression On  !== 삭제여부 ==!  */
		  AND A.BL_SRNO = B.BL_SRNO
		  AND A.CARR_SRNO = B.CARR_SRNO
		  AND A.TRNP_RQST_NO = B.TRNP_RQST_NO
		  AND B.DEL_YN = 'N'
		  AND A.BL_SRNO = C.BL_SRNO
		  AND A.TRNP_RQST_NO = C.TRNP_RQST_NO
		  AND C.DEL_YN = 'N'
		  AND A.TRNP_RQST_NO = D.TRNP_RQST_NO
		  AND A.BL_SRNO = D.BL_SRNO
		  AND A.CARR_SRNO = D.CARR_SRNO
		  AND B.TRNP_METH_SRNO = D.TRNP_METH_SRNO
		  AND D.DEL_YN = 'N'
		  AND A.TRNP_RQST_NO = #{trnpRqstNo}	/**  N° de demande de transfert  !== 운송신청번호 ==!  */
	</select>

</mapper>
