<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
Mapper : COC MGMT ARM
(BELKASSAM MED NAZIH)
-->

<mapper namespace="alpass.ipt.coc.mgmt.arm.mapper.CocMgmtArmMapper">

    <!-- Récupérer la liste des enregistrements -->
    <select id="selectArmList" parameterType="alpass.ipt.coc.mgmt.arm.vo.CocMgmtArmVo" resultType="alpass.ipt.coc.mgmt.arm.vo.CocMgmtArmVo">
        /** selectArmList */
        <include refid="pagination.header" />
        SELECT 'false' AS chkSel,
        B.ARM_REF_NO,
        B.ARM_SRNO,
        B.ARM_MX_CP_CH,
        B.ARM_CD,
        B.ORGN_CD,
        B.USE_YN,
        B.DEL_YN,
        B.FRST_REGST_ID,
        TO_CHAR(B.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
        B.LAST_CHPR_ID,
        TO_CHAR(B.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM,
        B.ARM_STTS
        FROM TB_COC_ARM B
        JOIN TB_POTI_ORGN A ON A.ORGN_CD = B.ORGN_CD
        WHERE B.DEL_YN = 'N'
        AND (
        #{orgnCd} IN ('000000000', '308000000')
        OR A.ORGN_CD = #{orgnCd}
        OR A.ORGN_MGMT_CD IN (
        SELECT ORGN_MGMT_CD
        FROM TB_POTI_ORGN
        WHERE DEL_YN = 'N'
        START WITH ORGN_CD = #{orgnCd}
        CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
        )
        )
        <if test='srchArmRefNo != null'>
            AND LOWER(ARM_REF_NO) LIKE '%' || LOWER(#{srchArmRefNo}) || '%'
        </if>
        <if test='srchArmSrno != null'>
            AND LOWER(ARM_SRNO) LIKE '%' || LOWER(#{srchArmSrno}) || '%'
        </if>
        <if test='srchArmCd != null'>
            AND LOWER(ARM_CD) LIKE '%' || LOWER(#{srchArmCd}) || '%'
        </if>
        <if test='srchArmStts != null'>
            AND LOWER(ARM_STTS) LIKE '%' || LOWER(#{srchArmStts}) || '%'
        </if>
        <if test='srchOrgnCd != null'>
            AND A.ORGN_MGMT_CD IN (
            SELECT ORGN_MGMT_CD
            FROM TB_POTI_ORGN
            WHERE DEL_YN = 'N'
            START WITH ORGN_CD = #{srchOrgnCd}
            CONNECT BY PRIOR ORGN_MGMT_CD = UPR_ORGN_MGMT_CD
            )
        </if>
        <include refid="pagination.footer" />
    </select>

    <!-- Récupérer un enregistrement -->
    <select id="selectArm" parameterType="alpass.ipt.coc.mgmt.arm.vo.CocMgmtArmVo" resultType="alpass.ipt.coc.mgmt.arm.vo.CocMgmtArmVo">
        /** selectArm */
        SELECT
            ARM_REF_NO,
            ARM_SRNO,
            ARM_MX_CP_CH,
            ARM_CD,
            ORGN_CD,
            USE_YN,
            DEL_YN,
            FRST_REGST_ID,
            TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM,
            LAST_CHPR_ID,
            TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM,
            ARM_STTS
        FROM TB_COC_ARM
        WHERE ARM_REF_NO = #{armRefNo}
          AND DEL_YN = 'N'
    </select>

    <!-- Insérer un enregistrement -->
    <insert id="insertArm" parameterType="alpass.ipt.coc.mgmt.arm.vo.CocMgmtArmVo">
        /** insertArm */
        WITH UPSERT AS (
        UPDATE TB_COC_ARM
        SET
            ARM_REF_NO      =   #{armRefNo},
            ARM_SRNO        =   #{armSrno},
            ARM_MX_CP_CH    =   #{armMxCpCh},
            ARM_CD          =   #{armCd},
            ORGN_CD         =   #{orgnCd},
            USE_YN          =   #{useYn},
            DEL_YN          =   #{delYn},
            FRST_REGST_ID   =   #{frstRegstId},
            FRST_RGSR_DTTM  =   SYSTIMESTAMP,
            LAST_CHPR_ID    =   #{lastChprId},
            LAST_CHG_DTTM   =   SYSTIMESTAMP,
            ARM_STTS        =   #{armStts}
        WHERE ARM_REF_NO = #{armRefNo}
            RETURNING *
        )
        INSERT INTO TB_COC_ARM
        (
            ARM_REF_NO,
            ARM_SRNO,
            ARM_MX_CP_CH,
            ARM_CD,
            ORGN_CD,
            USE_YN,
            DEL_YN,
            FRST_REGST_ID,
            FRST_RGSR_DTTM,
            LAST_CHPR_ID,
            LAST_CHG_DTTM,
            ARM_STTS
        )
        SELECT
            #{armRefNo},
            #{armSrno},
            #{armMxCpCh},
            #{armCd},
            #{orgnCd},
            #{useYn},
            #{delYn},
            #{frstRegstId},
            SYSTIMESTAMP,
            #{lastChprId},
            SYSTIMESTAMP,
            #{armStts}
            WHERE NOT EXISTS(SELECT * FROM UPSERT)
    </insert>

    <!-- Modifier un enregistrement -->
    <update id="updateArm" parameterType="alpass.ipt.coc.mgmt.arm.vo.CocMgmtArmVo">
        /** updateArm */
        UPDATE TB_COC_ARM
        SET
            ARM_REF_NO      =   #{armRefNo},
            ARM_SRNO        =   #{armSrno},
            ARM_MX_CP_CH    =   #{armMxCpCh},
            ARM_CD          =   #{armCd},
            LAST_CHPR_ID    =   #{lastChprId},
            LAST_CHG_DTTM   =   SYSTIMESTAMP,
            ARM_STTS        =   #{armStts}
        WHERE ARM_REF_NO = #{armRefNo}
          AND DEL_YN = #{delYn}
    </update>

    <!-- Supprimer un enregistrement -->
    <update id="deleteArm" parameterType="alpass.ipt.coc.mgmt.arm.vo.CocMgmtArmVo" >
        /** deleteArm */
        UPDATE TB_COC_ARM
        SET
            DEL_YN          =   'Y',
            LAST_CHPR_ID    =   #{lastChprId},
            LAST_CHG_DTTM   =   SYSTIMESTAMP
        WHERE ARM_REF_NO    =   #{armRefNo}
    </update>

</mapper>
