<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.cd.mapper.PotPmCdComnCdMapper">

  <!--
   Consulter la liste des codes de devise !==공통코드 목록을 조회한다==!
  -->
  <select id="selectComnCdList"
    resultType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo">
    /** selectComnCdList */
    <include refid="pagination.header"/>
    SELECT A.COMN_CD,
           A.COMN_CD AS ORG_COMN_CD,
           FN_GET_COMN_CD_NM(A.COMN_CD, #{langCd}) AS COMN_CD_NM,
           A.BSOP_CLSF_CD,
           A.UPR_COMN_CD,
           FN_GET_COMN_CD_NM(A.UPR_COMN_CD, #{langCd}) AS UPR_COMN_CD_NM,
           A.CD_DESC,
           A.XTRN_OFR_YN,
           A.USE_YN,
           FN_GET_CD_VDVAL_NM('COM_0016', A.USE_YN, #{langCd}) AS USE_YN_NM,
           (SELECT B.CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG B WHERE B.COMN_CD = 'COM_0022' AND B.LANG_CD = #{langCd} AND B.CD_VDVAL = A.BSOP_CLSF_CD) AS BSOP_CLSF_CD_NM,
           A.FRST_REGST_ID,
           TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM,
           A.LAST_CHPR_ID,
           TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM
    FROM TB_COM_COMN_CD A
    WHERE A.DEL_YN = 'N'
    <if test="searComnCd != null and searComnCd != ''">
      AND A.COMN_CD LIKE '%'||#{searComnCd}||'%'
    </if>
    <if test="searComnCdNm != null and searComnCdNm != ''">
      AND A.COMN_CD IN (SELECT B.COMN_CD
                        FROM TB_COM_COMN_CD_LANG B
                        WHERE B.DEL_YN = 'N'
                        AND UPPER(B.COMN_CD_NM) LIKE '%' || UPPER(#{searComnCdNm}) || '%')
    </if>
    <if test="searCdVdval != null and searCdVdval != ''">
      AND A.COMN_CD IN (SELECT B.COMN_CD
                        FROM TB_COM_COMN_CD_D B
                        WHERE B.DEL_YN = 'N'
                        AND B.CD_VDVAL LIKE '%' || #{searCdVdval} || '%')
    </if>
    <if test="searCdVdvalNm != null and searCdVdvalNm != ''">
      AND A.COMN_CD IN (SELECT B.COMN_CD
                        FROM TB_COM_COMN_CD_D_LANG B
                        WHERE B.DEL_YN = 'N'
                        AND UPPER(B.CD_VDVAL_NM) LIKE '%' || UPPER(#{searCdVdvalNm}) || '%')
    </if>
    <if test="searBsopClsfCd != null and searBsopClsfCd != ''">
      AND A.BSOP_CLSF_CD =  #{searBsopClsfCd}
    </if>
    ORDER BY COMN_CD,
             BSOP_CLSF_CD,
             UPR_COMN_CD,
             CD_DESC,
             XTRN_OFR_YN,
             USE_YN,
             FRST_REGST_ID,
             FRST_RGSR_DTTM,
             LAST_CHPR_ID,
             LAST_CHG_DTTM
    <include refid="pagination.footer"/>
  </select>

  <!--
     Consulter la liste des codes de devise !==공통코드 목록(상세)을 조회한다==!
  -->
  <select id="selectComnCdLangList"
    parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo"
    resultType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdLangVo">
    /** selectComnCdLangList */
    SELECT B.COMN_CD,
           A.CD_VDVAL AS LANG_CD,
           B.COMN_CD_NM AS LANG_CN
    FROM TB_COM_COMN_CD_D A,
         TB_COM_COMN_CD_LANG B
    WHERE A.COMN_CD = 'COM_0057'
      AND B.DEL_YN(+) = 'N'
      AND B.COMN_CD(+) = #{comnCd}
      AND A.CD_VDVAL = B.LANG_CD(+)
    ORDER BY TO_NUMBER(A.SORT_ORDR) ASC
  </select>

  <!--
     Numéroter un code commun !==공통코드 채번==!
  -->
  <select id="getComCdSn" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo" resultType="java.lang.String">
    /** getComCdSn */
    SELECT #{bsopClsfCd} || '_' || LPAD(NVL(SUBSTR(MAX(COMN_CD), 5), '0') + 1, 4, '0') AS COMN_CD
    FROM TB_COM_COMN_CD
    WHERE BSOP_CLSF_CD = #{bsopClsfCd}
  </select>

  <!--
      Vérifier l'existence du code commun déjà enregistré !==등록된 공통코드가 존재하는지 확인한다.==!
  -->
  <select id="selectComnCdRegYnCnt" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo" resultType="java.lang.Integer">
    /** selectComnCdRegYnCnt */
    SELECT
      COUNT(1) AS CNT
    FROM  TB_COM_COMN_CD
    WHERE COMN_CD = #{comnCd}
      AND   DEL_YN = 'N'
  </select>

  <!--
       Vérifier l'existence du code commun supérieur !==상위공통코드가 존재하는지 확인한다.==!
   -->
  <select id="selectUprComnCdCnt" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo" resultType="java.lang.Integer">
    /** selectUprComnCdCnt */
    SELECT
      COUNT(1) AS CNT
    FROM TB_COM_COMN_CD
    WHERE COMN_CD = #{uprComnCd}
      AND   DEL_YN = 'N'
  </select>

  <!--
     Enregistrer un code commun !==공통코드를 등록한다.==!
  -->
  <insert id="insertComnCd" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo">
    /** insertComnCd */
    with upsert as
    (
        UPDATE TB_COM_COMN_CD SET
                LAST_CHPR_ID = #{lastChprId}
                , LAST_CHG_DTTM = SYSTIMESTAMP
                , DEL_YN = 'N'
                , BSOP_CLSF_CD = #{bsopClsfCd}
                , UPR_COMN_CD = #{uprComnCd}
                , CD_DESC = #{cdDesc}
                , XTRN_OFR_YN = #{xtrnOfrYn}
                , USE_YN = #{useYn}
        WHERE COMN_CD = #{comnCd}
        returning *
    )
    INSERT INTO TB_COM_COMN_CD
    (
            COMN_CD
            , BSOP_CLSF_CD
            , UPR_COMN_CD
            , CD_DESC
            , XTRN_OFR_YN
            , USE_YN
            , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
    )
    SELECT
            #{comnCd}
            , #{bsopClsfCd}
            , #{uprComnCd}
            , #{cdDesc}
            , #{xtrnOfrYn}
            , #{useYn}
            , #{delYn}
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
    WHERE NOT exists(select * from upsert)
  </insert>

  <!--
       Supprimer le nom du code commun !==공통코드명을 삭제한다.==!
  -->
  <update id="deleteComnCdLang"
    parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdLangVo">
    /** deleteComnCdLang */
    UPDATE TB_COM_COMN_CD_LANG
      SET DEL_YN = 'Y'
    WHERE COMN_CD = #{key1}
    AND LANG_CD = #{langCd}
  </update>

  <!--
        Enregistrer le nom du code commun !==공통코드명을 등록한다.==!
   -->
  <insert id="insertComnCdLang" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdLangVo">
    /** insertComnCdLang */
    with upsert as
    (
        UPDATE TB_COM_COMN_CD_LANG SET
                LAST_CHPR_ID = #{lastChprId}
                , LAST_CHG_DTTM = SYSTIMESTAMP
                , DEL_YN = 'N'
                , COMN_CD_NM = #{langCn}
        WHERE COMN_CD = #{key1}
            AND LANG_CD = #{langCd}
            AND DEL_YN = 'Y'
        returning *
    )
    INSERT INTO TB_COM_COMN_CD_LANG
    (
            COMN_CD
            , LANG_CD
            , COMN_CD_NM
            , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
    )
    SELECT
            #{key1}
            , #{langCd}
            , #{langCn}
            , #{delYn}
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
    WHERE NOT exists(select * from upsert)
  </insert>

  <!--
        Enregistrer le nom du code commun !==공통코드명을 등록한다.==!
   -->
  <update id="updateComnCd"
    parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo">
    /** updateComnCd */
    UPDATE TB_COM_COMN_CD
    SET LAST_CHPR_ID = #{lastChprId},
        LAST_CHG_DTTM = SYSTIMESTAMP,
        UPR_COMN_CD = #{uprComnCd},
        BSOP_CLSF_CD = #{bsopClsfCd},
        CD_DESC = #{cdDesc},
        XTRN_OFR_YN = #{xtrnOfrYn},
        USE_YN = #{useYn},
        DEL_YN = #{delYn}
    WHERE COMN_CD = #{comnCd}
  </update>

  <!--
     Supprimer le nom du code commun !==공통코드명을 삭제한다.==!
   -->
  <update id="deleteComnCd" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo">
    /** deleteComnCd */
    UPDATE TB_COM_COMN_CD
    SET
      LAST_CHPR_ID = #{lastChprId}
      , LAST_CHG_DTTM = SYSTIMESTAMP
      , DEL_YN = 'Y'
    WHERE COMN_CD = #{comnCd}
  </update>

  <!--
     Supprimer un code commun détaillé !==공통코드상세를 삭제한다.==!
   -->
  <update id="deleteComnCdDtl"
    parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo">
    /** deleteComnCdDtl */
    UPDATE TB_COM_COMN_CD_D
    SET LAST_CHPR_ID = #{lastChprId},
    LAST_CHG_DTTM = SYSTIMESTAMP,
    DEL_YN = 'Y'
    WHERE COMN_CD = #{comnCd}
    <if test="cdVdval != null and cdVdval != ''">
      AND CD_VDVAL = #{cdVdval}
    </if>
  </update>

  <!--
     Supprimer le nom du code commun détaillé !==공통코드상세명을 삭제한다.==!
   -->
  <update id="deleteComnCdDtlLang"
    parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo">
    /** deleteComnCdDtlLang */
    UPDATE TB_COM_COMN_CD_D_LANG
    SET LAST_CHPR_ID = #{lastChprId},
    LAST_CHG_DTTM = SYSTIMESTAMP,
    DEL_YN = 'Y'
    WHERE COMN_CD = #{comnCd}
    <if test="cdVdval != null and cdVdval != ''">
      AND CD_VDVAL = #{cdVdval}
    </if>
  </update>

  <!--
     Vérifier l'existence du code commun détaillé déjà enregistré !==등록된 공통코드상세가 존재하는지 확인한다.==!
   -->
  <select id="selectComnCdDetlRegYnCnt" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo" resultType="java.lang.Integer">
    /** selectComnCdDetlRegYnCnt */
    SELECT
      COUNT(1) AS CNT
    FROM  TB_COM_COMN_CD_D
    WHERE COMN_CD = #{detlComnCd}
      AND   CD_VDVAL = #{detlCdVdval}
      AND   DEL_YN = 'N'
  </select>

  <!--
     Vérifier l'existence de l'ordre des codes communs détaillés !==공통코드상세 정렬순서가 존재하는지 확인한다.==!
  -->
  <select id="selectComnCdDetlSortCnt" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo" resultType="java.lang.Integer">
    /** selectComnCdDetlSortCnt */
    SELECT
      COUNT(1) AS CNT
    FROM  TB_COM_COMN_CD_D
    WHERE COMN_CD = #{detlComnCd}
      AND   CD_VDVAL <![CDATA[ <> ]]> #{detlCdVdval}
      AND   SORT_ORDR = #{detlSortOrdr}
      AND   DEL_YN = 'N'
  </select>

  <!--
     Vérifier l'existence de la valeur valide supérieure  du code commun déjà enregistré   !==공통코드상세 상위유효값이 존재하는지 확인한다.==!
  -->
  <select id="selectUprComnCdDetlCnt" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo" resultType="java.lang.Integer">
    /** selectUprComnCdDetlCnt */
    SELECT
      COUNT(1) AS CNT
    FROM TB_COM_COMN_CD_D
    WHERE CD_VDVAL = #{detlUprCdVdval}
      AND   DEL_YN = 'N'
  </select>

  <!--
     Consulter la liste des codes communs détaillés !==공통코드상세 목록을 조회한다==!
  -->
  <select id="selectComnCdDtlList"
    resultType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo">
    /** selectComnCdDtlList */
    <include refid="pagination.header"/>
    SELECT A.COMN_CD AS DETL_COMN_CD,
    A.CD_VDVAL AS DETL_CD_VDVAL,
    A.CD_VDVAL AS ORG_CD_VDVAL,
    FN_GET_CD_VDVAL_NM(A.COMN_CD, A.CD_VDVAL, #{langCd}) AS CD_VDVAL_NM,
    A.USE_YN AS DETL_USE_YN,
    FN_GET_CD_VDVAL_NM('COM_0016', A.USE_YN, #{langCd}) AS DETL_USE_YN_NM,
    A.UPR_COMN_CD AS DETL_UPR_COMN_CD,
    A.UPR_CD_VDVAL AS DETL_UPR_CD_VDVAL,
    FN_GET_CD_VDVAL_NM(A.UPR_COMN_CD, A.UPR_CD_VDVAL, #{langCd}) AS DETL_UPR_CD_VDVAL_NM,
    TO_CHAR(TO_DATE(A.VALD_STRT_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS DETL_VALD_STRT_DT,
    TO_CHAR(TO_DATE(A.VALD_END_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS DETL_VALD_END_DT,
    A.SORT_ORDR AS DETL_SORT_ORDR,
    A.SORT_ORDR AS ORG_DETL_SORT_ORDR,
    A.USER_DEFN_VDVAL1,
    A.USER_DEFN_VDVAL2,
    A.USER_DEFN_VDVAL3,
    A.FRST_REGST_ID,
    TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM,
    A.LAST_CHPR_ID,
    TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM
    FROM TB_COM_COMN_CD_D A
    WHERE A.DEL_YN = 'N'
    AND A.COMN_CD = #{comnCd}
    ORDER BY DETL_SORT_ORDR
    <include refid="pagination.footer"/>
  </select>

  <!--
     Consulter la liste des codes communs détaillés !==공통코드상세 목록을 조회한다==!
  -->
  <select id="selectComnCdDtlLangList"
    parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo"
    resultType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlLangVo">
    /** selectComnCdDtlLangList */
    SELECT B.COMN_CD,
           B.CD_VDVAL,
           A.CD_VDVAL AS LANG_CD,
           B.CD_VDVAL_NM AS LANG_CN
    FROM TB_COM_COMN_CD_D A,
         TB_COM_COMN_CD_D_LANG B
    WHERE A.COMN_CD = 'COM_0057'
      AND B.DEL_YN(+) = 'N'
      AND B.COMN_CD(+) = #{detlComnCd}
      AND B.CD_VDVAL(+) = #{detlCdVdval}
      AND A.CD_VDVAL = B.LANG_CD(+)
    ORDER BY TO_NUMBER(A.SORT_ORDR) ASC
  </select>

  <!--
     Enregistrer un code commun détaillé !==공통코드상세를 등록한다.==!
  -->
  <insert id="insertComCdDetl" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo">
    /** insertComCdDetl */
    with upsert as
    (
        UPDATE TB_COM_COMN_CD_D SET
                LAST_CHPR_ID = #{lastChprId}
                , LAST_CHG_DTTM = SYSTIMESTAMP
                , DEL_YN = 'N'
                , UPR_COMN_CD = #{detlUprComnCd}
                , UPR_CD_VDVAL = #{detlUprCdVdval}
                , VALD_STRT_DT =  TO_CHAR(TO_DATE(#{detlValdStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')
                , VALD_END_DT =  TO_CHAR(TO_DATE(#{detlValdEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')
                , SORT_ORDR = #{detlSortOrdr}
                , USER_DEFN_VDVAL1 = #{userDefnVdval1}
                , USER_DEFN_VDVAL2 = #{userDefnVdval2}
                , USER_DEFN_VDVAL3 = #{userDefnVdval3}
                , USE_YN = #{detlUseYn}
        WHERE COMN_CD = #{detlComnCd}
            AND CD_VDVAL = #{detlCdVdval}
            AND DEL_YN = 'Y'
        returning *
    )
    INSERT INTO TB_COM_COMN_CD_D
    (
            COMN_CD
            , CD_VDVAL
            , UPR_COMN_CD
            , UPR_CD_VDVAL
            , VALD_STRT_DT
            , VALD_END_DT
            , SORT_ORDR
            , USER_DEFN_VDVAL1
            , USER_DEFN_VDVAL2
            , USER_DEFN_VDVAL3
            , USE_YN
            , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
    )
    SELECT
            #{detlComnCd}
            , #{detlCdVdval}
            , #{detlUprComnCd}
            , #{detlUprCdVdval}
            , TO_CHAR(TO_DATE(#{detlValdStrtDt}, 'DD/MM/YYYY'),'YYYYMMDD')
            , TO_CHAR(TO_DATE(#{detlValdEndDt}, 'DD/MM/YYYY'),'YYYYMMDD')
            , #{detlSortOrdr}
            , #{userDefnVdval1}
            , #{userDefnVdval2}
            , #{userDefnVdval3}
            , #{detlUseYn}
            , #{detlDelYn}
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
    WHERE NOT exists(select * from upsert)
  </insert>

  <!--
    Enregistrer le nom du code commun détaillé !==공통코드상세명을 등록한다.==!
  -->
  <insert id="insertComCodeDetlLang" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlLangVo">
    /** insertComCodeDetlLang */
    with upsert as
    (
        UPDATE TB_COM_COMN_CD_D_LANG SET
                LAST_CHPR_ID = #{lastChprId}
                , LAST_CHG_DTTM = SYSTIMESTAMP
                , DEL_YN = 'N'
                , CD_VDVAL_NM = #{langCn}
        WHERE COMN_CD = #{key1}
              AND CD_VDVAL = #{key2}
              AND LANG_CD = #{langCd}
        returning *
    )
    INSERT INTO TB_COM_COMN_CD_D_LANG
    (
            COMN_CD
            , CD_VDVAL
            , LANG_CD
            , CD_VDVAL_NM
            , DEL_YN
            , FRST_REGST_ID
            , FRST_RGSR_DTTM
            , LAST_CHPR_ID
            , LAST_CHG_DTTM
    )
    SELECT
            #{key1}
            , #{key2}
            , #{langCd}
            , #{langCn}
            , #{delYn}
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
    WHERE NOT exists(select * from upsert)
  </insert>

  <!--
     Supprimer un code commun détaillé !==공통코드상세를 삭제한다.==!
  -->
  <update id="deleteComCodeDetl" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo">
    /** deleteComCodeDetl */
    UPDATE TB_COM_COMN_CD_D
    SET
    LAST_CHPR_ID = #{lastChprId}
    , LAST_CHG_DTTM = SYSTIMESTAMP
    , DEL_YN = 'Y'
    WHERE COMN_CD = #{comnCd}
    <if test="cdVdval != null and cdVdval != ''">
      AND CD_VDVAL = #{cdVdval}
    </if>
  </update>

  <!--
     Supprimer le nom du code commun détaillé !==공통코드상세명을 삭제한다.==!
  -->
  <update id="deleteComCodeDetlLang" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo">
    /** deleteComCodeDetlLang */
    UPDATE TB_COM_COMN_CD_D_LANG
    SET
    LAST_CHPR_ID = #{lastChprId}
    , LAST_CHG_DTTM = SYSTIMESTAMP
    , DEL_YN = 'Y'
    WHERE COMN_CD = #{comnCd}
    <if test="cdVdval != null and cdVdval != ''">
      AND CD_VDVAL = #{cdVdval}
    </if>
  </update>

  <!--
      Vérifier l'existence du code commun supérieur !==공통코드 상위공통코드 존재를 확인한다.==!
  -->
  <select id="selectComnCdNmList" resultType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo">
    /** selectComnCdNmList */
    SELECT
      B.COMN_CD
         , B.COMN_CD_NM
    FROM TB_COM_COMN_CD A, TB_COM_COMN_CD_LANG B
    WHERE A.COMN_CD = B.COMN_CD
      AND A.DEL_YN = 'N'
      AND B.DEL_YN = 'N'
      AND B.LANG_CD = #{langCd}
      AND A.BSOP_CLSF_CD = #{bsopClsfCd}
    ORDER BY A.COMN_CD
  </select>

  <!--
     Consulter la liste des valeurs valides des codes !==공통코드 코드유효값 목록을 조회한다.==!
  -->
  <select id="selectComCdVdvalNmList" resultType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdVo">
    /** selectComCdVdvalNmList */
    SELECT
      B.CD_VDVAL
         , B.CD_VDVAL_NM
    FROM TB_COM_COMN_CD_D A, TB_COM_COMN_CD_D_LANG B
    WHERE A.COMN_CD = B.COMN_CD
      AND A.CD_VDVAL = B.CD_VDVAL
      AND A.DEL_YN    = 'N'
      AND B.DEL_YN    = 'N'
      AND B.LANG_CD   = #{langCd}
      AND A.COMN_CD   = #{uprComnCd}
    ORDER BY A.CD_VDVAL
  </select>

  <!--
     Modifier les détails du code d'état de traitement !==처리상태코드 상세를 수정한다==!
  -->
  <update id="updateComPrcsSttsCd" parameterType="alpass.ipt.pot.pm.cd.vo.PotPmCdComnCdDtlVo">
    /** updateComPrcsSttsCd */
    UPDATE TB_COM_PRCS_STTS_CD_D
    SET LAST_CHPR_ID = #{lastChprId}
      , LAST_CHG_DTTM = SYSTIMESTAMP
      , CD_VDVAL = #{detlCdVdval}
      , USE_YN = #{detlUseYn}
    WHERE PRCS_STTS_CD LIKE 'COM_93%'
      AND CD_VDVAL = #{detlCdVdval}
  </update>

</mapper>
