<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.cmmn.mapper.PotPmCmmnNtcMtrMapper">

    <!--
        Consulter la liste de la gestion de l'annonce !==공지사항 관리 목록을 조회한다.==!
    -->
    <select id="selectNtcMtrList"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo"
            resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo">
        /* selectNtcMtrList */
        <include refid="pagination.header"/>
        SELECT
             A.*,
             (
                  SELECT LBL_NM FROM TB_COM_LBL_LANG
                  WHERE LBL_ID = DECODE(A.NTC_PATTERN, '01', 'L_AL_NTC' , 'L_INDV_NTC')
                  AND LANG_CD = #{langCd}
             ) AS NTC_PATTERN_NM
        FROM
        (
            SELECT A.*, DECODE(CO_DCLR_CD, null, DECODE(ORGN_MGMT_CD, null, '01', '02'), '02') AS NTC_PATTERN
            FROM
            (
                SELECT
                A.NTC_MTR_SRNO
                , A.IPT_NTC_YN
                , A.EPT_NTC_YN
                , A.EMRG_NTC_YN
                , A.NTC_CNCL_YN
                , LISTAGG( B.ORGN_MGMT_CD, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_MGMT_CD
                , LISTAGG( D.CO_DCLR_CD, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS CO_DCLR_CD
                , LISTAGG( (SELECT ORGN_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = B.ORGN_MGMT_CD), ',') WITHIN GROUP (ORDER
                BY B.NTC_MTR_SRNO) AS ORGN_CD
                , LISTAGG( C.ORGN_NM, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_NM
                , A.NTC_TP_CD
                , A.NTC_TTLE
                , A.NTC_CN
                , A.NTC_LQTY_CN
                , A.MDPN_ID
                , ( SELECT CONCAT(U.EMP_FMNM, ' ', U.EMP_NM) FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM
                , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
                , A.INQT_CNT
                , A.PRTL_BLTN_YN
                , A.PPUP_BLTN_YN
                , A.APRV_ID
                , (SELECT TO_CHAR(R.APRV_RQST_DTTM, 'DD/MM/YYYY HH24:mi:ss') FROM TB_POTI_APRV R WHERE R.APRV_BSOP_TP_CD = 'D01'
                AND A.APRV_ID = R.APRV_ID) AS APRV_DT
                , A.ATCH_FILE_ID
                , A.DEL_YN
                , A.FRST_REGST_ID
                , A.FRST_RGSR_DTTM
                , A.LAST_CHPR_ID
                , A.LAST_CHG_DTTM
                , A.PRCS_STTS_CD
                , A.APRV_REFF_NO
                FROM TB_POTI_NTC_MTR A, TB_POTI_NTC_MTR_ORGN B, TB_POTI_ORGN C, TB_POTI_NTC_MTR_CO D
                WHERE A.NTC_MTR_SRNO = B.NTC_MTR_SRNO(+)
                AND A.NTC_MTR_SRNO = D.NTC_MTR_SRNO(+)
                AND B.ORGN_MGMT_CD = C.ORGN_MGMT_CD(+)
                AND A.DEL_YN = 'N'
                <if test="iptNtcYn != null and iptNtcYn != '' ">
                    AND A.IPT_NTC_YN = #{iptNtcYn}
                </if>
                <if test="eptNtcYn != null and eptNtcYn != '' ">
                    AND A.EPT_NTC_YN = #{eptNtcYn}
                </if>
                <if test="ntcTpCd != null and ntcTpCd != '' ">
                    AND A.NTC_TP_CD = #{ntcTpCd}
                </if>
                <if test="ntcTtle != null and ntcTtle != '' ">
                    AND UPPER(A.NTC_TTLE) like '%' || UPPER(#{ntcTtle}) || '%'
                </if>
                <if test="searchKeywordFrom != null and searchKeywordFrom != '' ">
                    AND A.MAKE_DTTM BETWEEN TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY') + 0.99999
                </if>
                    GROUP BY A.NTC_MTR_SRNO
                    ORDER BY A.NTC_MTR_SRNO DESC
            ) A
        ) A
        WHERE 1 = 1
        <if test="indivYn != null and indivYn != '' ">
            <if test='indivYn == "N" '>
                AND NTC_PATTERN = '01'
            </if>
            <if test='indivYn == "Y" '>
                AND NTC_PATTERN = '02'
            </if>
        </if>
        <include refid="pagination.footer"/>
    </select>

    <!--
        Consulter un article de la gestion de l'annonce !==공지사항 관리 게시물을 조회한다.==!
    -->
    <select id="selectNtcMtr"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo"
            resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo">
    /* selectNtcMtr */
    SELECT A.*, DECODE(ORGN_MGMT_CD, null, '01', '02') AS NTC_PATTERN
    FROM
        (
            SELECT
                  A.NTC_MTR_SRNO
                , A.IPT_NTC_YN
                , A.EPT_NTC_YN
                , A.EMRG_NTC_YN
                , A.NTC_CNCL_YN
                , LISTAGG( B.ORGN_MGMT_CD, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_MGMT_CD
                , LISTAGG( (SELECT ORGN_CD FROM TB_POTI_ORGN T WHERE T.ORGN_MGMT_CD = B.ORGN_MGMT_CD), ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_CD
                , LISTAGG( C.ORGN_NM, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS ORGN_NM
                , A.NTC_TP_CD
                , A.NTC_TTLE
                , A.NTC_CN
                , A.NTC_LQTY_CN
                , A.MDPN_ID
                , ( SELECT CONCAT(U.EMP_FMNM, ' ', U.EMP_NM) FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM
                , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
                , A.INQT_CNT
                , A.PRTL_BLTN_YN
                , A.PPUP_BLTN_YN
                , A.ORIG_NM
                , TO_CHAR(TO_DATE(A.NTC_BLTN_STRT_DD, 'DDMMYYYY'), 'DD/MM/YYYY') AS NTC_BLTN_STRT_DD
                , TO_CHAR(TO_DATE(A.NTC_BLTN_END_DD, 'DDMMYYYY'), 'DD/MM/YYYY') AS NTC_BLTN_END_DD
                , A.APRV_ID
                , (SELECT TO_CHAR(R.APRV_RQST_DTTM, 'DD/MM/YYYY HH24:mi:ss') FROM TB_POTI_APRV R WHERE R.APRV_BSOP_TP_CD = 'D01' AND A.APRV_ID = R.APRV_ID) AS APRV_DT
                , A.ATCH_FILE_ID
                , A.DEL_YN
                , A.FRST_REGST_ID
                , A.FRST_RGSR_DTTM
                , A.LAST_CHPR_ID
                , A.LAST_CHG_DTTM
                , A.PRCS_STTS_CD
                , A.APRV_REFF_NO
            FROM   TB_POTI_NTC_MTR A, TB_POTI_NTC_MTR_ORGN B, TB_POTI_ORGN C
            WHERE   A.NTC_MTR_SRNO = B.NTC_MTR_SRNO(+)
            AND     B.ORGN_MGMT_CD = C.ORGN_MGMT_CD(+)
            AND     A.NTC_MTR_SRNO = #{ntcMtrSrno}
            AND     A.DEL_YN = 'N'
            GROUP BY A.NTC_MTR_SRNO
        ) A
    </select>

    <!--
        Consulter un article de la gestion de l'annonce !==공지사항 관리 게시물을 조회한다.==!
    -->
    <select id="selectNtcMtrCo"
            parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo"
            resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo">
        /* selectNtcMtrCo */
        SELECT A.*, DECODE(CO_DCLR_CD, null, '01', '02') AS NTC_PATTERN
        FROM
            (
            SELECT
                  A.NTC_MTR_SRNO
                , A.IPT_NTC_YN
                , A.EPT_NTC_YN
                , A.EMRG_NTC_YN
                , A.NTC_CNCL_YN
                , LISTAGG( B.CO_DCLR_CD, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS CO_DCLR_CD
                , LISTAGG( C.CO_NM, ',') WITHIN GROUP (ORDER BY B.NTC_MTR_SRNO) AS CO_NM
                , A.NTC_TP_CD
                , A.NTC_TTLE
                , A.NTC_CN
                , A.NTC_LQTY_CN
                , A.MDPN_ID
                , ( SELECT CONCAT(U.EMP_FMNM, ' ', U.EMP_NM) FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID) AS MDPN_NM
                , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
                , A.INQT_CNT
                , A.PRTL_BLTN_YN
                , A.PPUP_BLTN_YN
                , A.ORIG_NM
                , TO_CHAR(TO_DATE(A.NTC_BLTN_STRT_DD, 'DDMMYYYY'), 'DD/MM/YYYY') AS NTC_BLTN_STRT_DD
                , TO_CHAR(TO_DATE(A.NTC_BLTN_END_DD, 'DDMMYYYY'), 'DD/MM/YYYY') AS NTC_BLTN_END_DD
                , A.APRV_ID
                , (SELECT TO_CHAR(R.APRV_RQST_DTTM, 'DD/MM/YYYY HH24:mi:ss') FROM TB_POTI_APRV R WHERE R.APRV_BSOP_TP_CD = 'D01' AND A.APRV_ID = R.APRV_ID) AS APRV_DT
                , A.ATCH_FILE_ID
                , A.DEL_YN
                , A.FRST_REGST_ID
                , A.FRST_RGSR_DTTM
                , A.LAST_CHPR_ID
                , A.LAST_CHG_DTTM
                , A.PRCS_STTS_CD
                , A.APRV_REFF_NO
            FROM   TB_POTI_NTC_MTR A, TB_POTI_NTC_MTR_CO B, (SELECT * FROM TB_COM_CO A, TB_COM_CO_DCLR_CD B WHERE A.NIF = B.NIF AND A.DEL_YN = 'N' AND B.DEL_YN = 'N') C
            WHERE   A.NTC_MTR_SRNO = B.NTC_MTR_SRNO(+)
              AND     B.CO_DCLR_CD = C.CO_DCLR_CD(+)
              AND     A.NTC_MTR_SRNO = #{ntcMtrSrno}
              AND     A.DEL_YN = 'N'
            GROUP BY A.NTC_MTR_SRNO
        ) A
    </select>

    <!--
        Consulter un numéro de séquence de l'avis !==결재참조번호로 해당 공지사항 순번을 조회한다==!
    -->
    <select id="selectReffNo"
            parameterType="java.lang.String"
            resultType="java.lang.String">
        /* selectReffNo */
        SELECT NTC_MTR_SRNO
        FROM TB_POTI_NTC_MTR
        WHERE APRV_REFF_NO = #{aprvReffNo}
    </select>


    <!--
        Enregistrer un article de la gestion de l'annonce !==공지사항 관리 게시물을 등록한다.==!
     -->
    <insert id="insertNtcMtr" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo">
        <selectKey keyProperty="ntcMtrSrno" keyColumn="NTC_MTR_SRNO" resultType="java.math.BigDecimal" order="BEFORE">
            SELECT NVL(MAX(NTC_MTR_SRNO),0) +1 FROM TB_POTI_NTC_MTR
        </selectKey>
        /* insertNtcMtr */
        INSERT INTO TB_POTI_NTC_MTR
        (
        NTC_MTR_SRNO
        , IPT_NTC_YN
        , EPT_NTC_YN
        , EMRG_NTC_YN
        , NTC_CNCL_YN
        , NTC_TP_CD
        , NTC_TTLE
        , NTC_CN
        , NTC_LQTY_CN
        , MDPN_ID
        , MAKE_DTTM
        , INQT_CNT
        , PRTL_BLTN_YN
        , PPUP_BLTN_YN
        , APRV_ID
        , ATCH_FILE_ID
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        , PRCS_STTS_CD
        , NTC_BLTN_STRT_DD
        , NTC_BLTN_END_DD
        , ORIG_NM
        , APRV_REFF_NO
        )
        VALUES
        (
        #{ntcMtrSrno}
        , #{iptNtcYn}
        , #{eptNtcYn}
        , 'N'
        , 'N'
        , #{ntcTpCd}
        , #{ntcTtle}
        , #{ntcCn}
        , #{ntcLqtyCn}
        , #{mdpnId}
        , SYSTIMESTAMP
        , #{inqtCnt}
        , #{prtlBltnYn}
        , #{ppupBltnYn}
        , #{aprvId}
        , #{atchFileId}
        , 'N'
        , #{frstRegstId}
        , SYSTIMESTAMP
        , #{lastChprId}
        , SYSTIMESTAMP
        , 'D01' <!-- 접수 -->
        , REPLACE(#{ntcBltnStrtDd}, '/', '')
        , REPLACE(#{ntcBltnEndDd}, '/', '')
        , #{origNm}
        , #{aprvReffNo}
        )
    </insert>

    <!--
       Modifier un article de la gestion de l'annonce !==공지사항 관리 게시물을 수정한다.==!
    -->
    <update id="updateNtcMtr" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo">
        /** updateNtcMtr */
        UPDATE  TB_POTI_NTC_MTR
        <trim prefix="SET" prefixOverrides="," >
            <if test="iptNtcYn != null and iptNtcYn != '' ">, IPT_NTC_YN = #{iptNtcYn}</if>
            <if test="eptNtcYn != null and eptNtcYn != '' ">, EPT_NTC_YN = #{eptNtcYn}</if>
            <if test="emrgNtcYn != null and emrgNtcYn != '' ">, EMRG_NTC_YN = #{emrgNtcYn}</if>
            <if test="ntcCnclYn != null and ntcCnclYn != '' ">, NTC_CNCL_YN = #{ntcCnclYn}</if>
            <if test="ntcTpCd != null and ntcTpCd != '' ">, NTC_TP_CD = #{ntcTpCd}</if>
            <if test="ntcTtle != null and ntcTtle != '' ">, NTC_TTLE = #{ntcTtle}</if>
            <if test="ntcCn != null and ntcCn != '' ">, NTC_CN = #{ntcCn}</if>
            <if test="ntcLqtyCn != null and ntcLqtyCn != '' ">, NTC_LQTY_CN = #{ntcLqtyCn}</if>
            <if test="prtlBltnYn != null and prtlBltnYn != '' ">, PRTL_BLTN_YN = #{prtlBltnYn}</if>
            <if test="ppupBltnYn != null and ppupBltnYn != '' ">, PPUP_BLTN_YN = #{ppupBltnYn}</if>
            <if test="aprvId != null and aprvId != '' ">, APRV_ID = #{aprvId}</if>
            <if test="atchFileId != null and atchFileId != '' ">, ATCH_FILE_ID = #{atchFileId}</if>
            <if test="lastChprId != null and lastChprId != '' ">, LAST_CHPR_ID = #{lastChprId}</if>
            <if test="lastChprId != null and lastChprId != '' ">, LAST_CHG_DTTM = SYSTIMESTAMP</if>
            <if test="prcsSttsCd != null and prcsSttsCd != '' ">, PRCS_STTS_CD = #{prcsSttsCd}</if>
            <if test="ntcBltnStrtDd != null and ntcBltnStrtDd != '' ">, NTC_BLTN_STRT_DD = REPLACE(#{ntcBltnStrtDd}, '/', '')</if>
            <if test="ntcBltnEndDd != null and ntcBltnEndDd != '' ">, NTC_BLTN_End_DD = REPLACE(#{ntcBltnEndDd}, '/', '')</if>
            <if test="origNm != null and origNm != '' ">, ORIG_NM = #{origNm}</if>
        </trim>
        WHERE  NTC_MTR_SRNO = #{ntcMtrSrno}
    </update>

    <!--
       Supprimer un article de la gestion de l'annonce !==공지사항 관리 게시물을 삭제한다.==!
    -->
    <update id="deleteNtcMtr" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo">
        /** deleteNtcMtr */
        UPDATE  TB_POTI_NTC_MTR SET
            DEL_YN = 'Y'
          ,  LAST_CHPR_ID = #{lastChprId}
          ,  LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE  NTC_MTR_SRNO = #{ntcMtrSrno}
    </update>

    <!--
       Enregistrer le code de gestion de service de la gestion de l'annonce !==공지사항 관리 조직관리코드를 등록한다.==!
    -->
    <insert id="insertNtcMtrOrgn" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrOrgnVo">
        /** insertNtcMtrOrgn */
        INSERT INTO TB_POTI_NTC_MTR_ORGN (
                                           NTC_MTR_SRNO
                                         , ORGN_MGMT_CD
                                         , DEL_YN
                                         , FRST_REGST_ID
                                         , FRST_RGSR_DTTM
                                         , LAST_CHPR_ID
                                         , LAST_CHG_DTTM
        ) VALUES (
                     #{ntcMtrSrno}
                 , #{orgnMgmtCd}
                 , 'N'
                 , #{frstRegstId}
                 , SYSTIMESTAMP
                 , #{lastChprId}
                 , SYSTIMESTAMP
                 )
    </insert>

    <!--
       Enregistrer un code d'activité de l'entreprise de la gestion de l'annonce !==공지사항 관리 업체신고코드를 등록한다.==!
    -->
    <insert id="insertNtcMtrCo" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrCoVo">
        /** insertNtcMtrCo */
        INSERT INTO TB_POTI_NTC_MTR_CO (
                                           NTC_MTR_SRNO
                                         , CO_DCLR_CD
                                         , DEL_YN
                                         , FRST_REGST_ID
                                         , FRST_RGSR_DTTM
                                         , LAST_CHPR_ID
                                         , LAST_CHG_DTTM
        ) VALUES (
                     #{ntcMtrSrno}
                 , #{coDclrCd}
                 , 'N'
                 , #{frstRegstId}
                 , SYSTIMESTAMP
                 , #{lastChprId}
                 , SYSTIMESTAMP
                 )
    </insert>

    <!--
       Supprimer le code de gestion de service de la gestion de l'annonce !==공지사항 관리 조직관리코드를 삭제한다.==!
    -->
    <insert id="deleteNtcMtrOrgn" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrOrgnVo">
        /** deleteNtcMtrOrgn */
        DELETE FROM TB_POTI_NTC_MTR_ORGN
        WHERE NTC_MTR_SRNO = #{ntcMtrSrno}
    </insert>

    <!--
       Supprimer le code de gestion de service de la gestion de l'annonce !==공지사항 관리 업체신고코드를 삭제한다.==!
    -->
    <insert id="deleteNtcMtrCo" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrCoVo">
        /** deleteNtcMtrCo */
        DELETE FROM TB_POTI_NTC_MTR_CO
        WHERE NTC_MTR_SRNO = #{ntcMtrSrno}
    </insert>

    <!--
        Modifier le nombre de vues de l'article de la gestion de l'annonce !==공지사항 관리 게시글 조회수를 수정한다.==!
    -->
    <update id="updateViewNtcmtr" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtcMtrVo">
        /* updateViewNtcmtr */
        UPDATE  TB_POTI_NTC_MTR SET
            INQT_CNT = INQT_CNT+1
        WHERE	NTC_MTR_SRNO = #{ntcMtrSrno}
    </update>

    <!--
        Consulter le code de gestion de service du niveau 2 de l'utilisateur connecté !==로그인 한 사용자의 2레벨 조직관리 코드를 조회한다.==!
    -->
    <select id="selectNtcmtrOrgnCd" parameterType="String" resultType="java.util.Map">
        /* selectNtcmtrOrgnCd */
        SELECT A.lvl,
               A.ORGN_MGMT_CD ,
               A.ORGN_NM ,
               A.ORGN_CD
        FROM (SELECT level lvl,
                     A.ORGN_MGMT_CD ,
                     A.ORGN_CD ,
                     A.ORGN_NM ,
                     A.UPR_ORGN_MGMT_CD
              FROM (SELECT ORGN_MGMT_CD ,
                           ORGN_CD ,
                           ORGN_NM ,
                           HSRK_ORGN_MGMT_CD ,
                           UPR_ORGN_MGMT_CD ,
                           (SELECT ORGN_MGMT_CD
                            FROM TB_POTI_ORGN
                            WHERE DEL_YN = 'N'
                              AND ORGN_MGMT_CD = A.UPR_ORGN_MGMT_CD) AS UP_CD
                    FROM TB_POTI_ORGN A
                    WHERE DEL_YN = 'N' ) A
                  START WITH A.UPR_ORGN_MGMT_CD IS NULL
              CONNECT BY PRIOR A.ORGN_MGMT_CD = A.UP_CD ) A
        WHERE A.lvl = 2
            START WITH A.ORGN_MGMT_CD = ( SELECT E.ORGN_MGMT_CD FROM TB_POTI_EMP E WHERE E.PBSR_NO = #{pbsrNo} )
        CONNECT BY PRIOR A.UPR_ORGN_MGMT_CD = A.ORGN_MGMT_CD
    </select>

</mapper>
