<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.pot.pm.cmmn.mapper.PotPmCmmnNtarMapper">

    <!--
       Consulter la liste de la gestion du forum !==게시판 관리 목록을 조회한다.==!
    -->
    <select id="selectNtarList" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarVo"
                                resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarVo">
        /* selectNtarList */
        <include refid="pagination.header"/>
        SELECT
        A.NTAR_SRNO
        , A.APP_CLSF_CD AS APP_CLSF_CODE
        , A.NTAR_TTLE
        , A.NTAR_CN
        , A.NTAR_LQTY_CN
        , A.MDPN_ID
        , CASE
        WHEN APP_CLSF_CD = 'IPT' THEN ( SELECT CONCAT(U.EMP_FMNM, ' ', U.EMP_NM) FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID)
        WHEN APP_CLSF_CD = 'EPT' THEN ( SELECT CONCAT(U.USER_FMNM, ' ', U.USER_NM) FROM TB_COM_CO_USER  U WHERE USER_ID = A.MDPN_ID)
        END AS MDPN_NM
        , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
        , A.INQT_CNT
        , A.RCOG_CNT
        , A.SCMI_CNT
        , A.ATCH_FILE_ID
        , A.DEL_YN
        , A.NTAR_DEL_YN
        , A.FRST_REGST_ID
        , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
        , A.LAST_CHPR_ID
        , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
        FROM   TB_POTI_NTAR A
        WHERE A.DEL_YN = 'N'
        <if test="appClsfCode != null and appClsfCode != '' and appClsfCode != 'all' ">
            AND A.APP_CLSF_CD like '%' || #{appClsfCode} || '%'
        </if>
        <if test="ntarTtle != null and ntarTtle != '' ">
            AND UPPER(A.NTAR_TTLE) like '%' || UPPER(#{ntarTtle}) || '%'
        </if>
        <if test="searchKeywordFrom != null and searchKeywordFrom != '' ">
            AND A.MAKE_DTTM BETWEEN TO_DATE(#{searchKeywordFrom}, 'DD/MM/YYYY') AND TO_DATE(#{searchKeywordTo}, 'DD/MM/YYYY') + 0.99999
        </if>
        <if test="mdpnId != null and mdpnId != '' ">
            AND A.MDPN_ID = #{mdpnId}
        </if>
        ORDER BY A.NTAR_SRNO DESC
        <include refid="pagination.footer"/>
    </select>

    <!--
      Consulter un article de la gestion du forum !==게시판 관리 게시글을 조회한다.==!
    -->
    <select id="selectNtar"  parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarVo"
            resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarVo">
        /* selectNtar */
        SELECT
            A.NTAR_SRNO
             , A.APP_CLSF_CD AS APP_CLSF_CODE
             , A.NTAR_TTLE
             , A.NTAR_CN
             , A.NTAR_LQTY_CN
             , A.MDPN_ID
             , CASE
                   WHEN APP_CLSF_CD = 'IPT' THEN ( SELECT U.EMP_NM FROM TB_POTI_EMP U WHERE PBSR_NO = A.MDPN_ID)
                   WHEN APP_CLSF_CD = 'EPT' THEN ( SELECT U.USER_NM FROM TB_COM_CO_USER  U WHERE USER_ID = A.MDPN_ID)
            END AS MDPN_NM
             , TO_CHAR(A.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS MAKE_DTTM
             , A.INQT_CNT
             , A.RCOG_CNT
             , A.SCMI_CNT
             , A.ATCH_FILE_ID
             , A.DEL_YN
             , A.NTAR_DEL_YN
             , A.FRST_REGST_ID
             , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS FRST_RGSR_DTTM
             , A.LAST_CHPR_ID
             , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS LAST_CHG_DTTM
             , ( SELECT COUNT(*) FROM TB_POTI_NTAR_RCOG_BRKD WHERE NTAR_SRNO = A.NTAR_SRNO AND RCMD_ID = #{searchKeyword} ) AS USER_RCOG_CNT
        FROM   TB_POTI_NTAR A
        WHERE A.DEL_YN = 'N'
          AND   A.NTAR_SRNO = #{ntarSrno}
    </select>

    <!--
    	Consulter un commentaire du niveau 1 de l'article !==게시글 1레벨 댓글을 조회한다==!
    -->
    <select id="selectScmiList"  parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarVo"
            resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarScmiVo">
        /* selectScmiList */
        SELECT
            S.NTAR_SRNO
             , S.SCMI_SRNO
             , S.SCMI_CN
             , S.MDPN_ID AS SCMI_MDPN_ID
             , DECODE(S.HIDE_YN, 'Y', 'Y', 'N') AS HIDE_YN
             , CASE
                   WHEN APP_CLSF_CD = 'IPT' THEN ( SELECT U.EMP_NM FROM TB_POTI_EMP U WHERE PBSR_NO = S.MDPN_ID)
                   WHEN APP_CLSF_CD = 'EPT' THEN ( SELECT U.USER_NM FROM TB_COM_CO_USER  U WHERE USER_ID = S.MDPN_ID)
            END AS SCMI_MDPN_NM
             , TO_CHAR(S.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS SCMI_MAKE_DTTM
        FROM TB_POTI_NTAR_SCMI_BRKD S, TB_POTI_NTAR N
        WHERE S.NTAR_SRNO = #{ntarSrno}
          AND   S.NTAR_SRNO = N.NTAR_SRNO
          AND   S.UPR_SCMI_SRNO IS NULL
          AND   N.DEL_YN = 'N'
          AND   S.DEL_YN = 'N'
          <if test="roleId != 'POT011' or test= mdpnId != searchKeyword ">
            AND (S.HIDE_YN = 'N' OR S.HIDE_YN IS NULL)
          </if>
        ORDER BY S.SCMI_SRNO
    </select>

    <!--
    	Consulter la liste des commentaires du niveau 2 de l'article du forum !==게시판 게시글 2레벨 댓글 목록을 조회한다.==!
    -->
    <select id="selectDynamicScmiList"   parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarScmiVo"
            resultType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarScmiVo">
        /* selectDynamicScmiList */
        SELECT
            S.SCMI_SRNO
             , S.SCMI_CN
             , S.MDPN_ID AS SCMI_MDPN_ID
             , DECODE(S.HIDE_YN, 'Y', 'Y', 'N') AS HIDE_YN
             , CASE
                   WHEN APP_CLSF_CD = 'IPT' THEN ( SELECT U.EMP_NM FROM TB_POTI_EMP U WHERE PBSR_NO = S.MDPN_ID)
                   WHEN APP_CLSF_CD = 'EPT' THEN ( SELECT U.USER_NM FROM TB_COM_CO_USER  U WHERE USER_ID = S.MDPN_ID)
            END AS SCMI_MDPN_NM
             , TO_CHAR(S.MAKE_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS SCMI_MAKE_DTTM
        FROM TB_POTI_NTAR_SCMI_BRKD S, TB_POTI_NTAR N
        WHERE S.NTAR_SRNO = #{ntarSrno}
          AND   S.NTAR_SRNO = N.NTAR_SRNO
          AND   S.UPR_SCMI_SRNO = #{scmiSrno}
          AND   S.UPR_SCMI_SRNO IS NOT NULL
          AND   N.DEL_YN = 'N'
          AND   S.DEL_YN = 'N'
          <if test="roleId != 'POT011' and scmiMdpnId != searchKeyword ">
            AND (S.HIDE_YN = 'N' OR S.HIDE_YN IS NULL)
          </if>
        ORDER BY S.SCMI_SRNO
    </select>

    <!--
      Modifier le nombre de vues de l'article de la gestion du forum !==게시판 관리 게시글 조회수를 수정한다.==!
    -->
    <update id="updateViewNtar" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarVo">
        /* updateViewNtar */
        UPDATE  TB_POTI_NTAR SET
            INQT_CNT = INQT_CNT+1
        WHERE	NTAR_SRNO = #{ntarSrno}
    </update>

    <!--
      Consulter l'historique du lecteur de la gestion du forum !==게시판 관리 조회자내역을 조회한다.==!
    -->
    <select id="selectNtarInqtCnt"  parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarInqtVo" resultType="int">
        /* selectNtarInqtCnt */
        SELECT COUNT(*)
        FROM TB_POTI_NTAR_INQT_BRKD
        WHERE NTAR_SRNO = #{ntarSrno}
          AND IQPN_ID = #{iqpnId}
    </select>

    <!--
      Enregistrer l'historique du lecteur de la gestion du forum !==게시판 관리 조회자 내역을 등록한다.==!
    -->
    <insert id="insertNtarInqt"   parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarInqtVo">
        /* insertNtarInqt */
        INSERT INTO TB_POTI_NTAR_INQT_BRKD
        (
            NTAR_SRNO
        , IQPN_ID
        , DEL_YN
        , FRST_REGST_ID
        , FRST_RGSR_DTTM
        , LAST_CHPR_ID
        , LAST_CHG_DTTM
        )
        VALUES
            (
                #{ntarSrno}
            , #{iqpnId}
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
            )
    </insert>

    <!--
      Supprimer un article de la gestion du forum !==게시판 관리 게시글을 삭제한다.==!
    -->
    <update id="deleteNtar" parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarVo">
        /* deleteNtar */
        UPDATE  TB_POTI_NTAR SET
            NTAR_DEL_YN = 'Y'
                               ,  LAST_CHPR_ID = #{lastChprId}
                               ,  LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE  DEL_YN = 'N'
          AND    NTAR_SRNO = #{ntarSrno}
    </update>

    <!--
      Supprimer des commentaires de l'article du forum !==게시판 게시글 댓글을 삭제한다.==!
    -->
    <update id="deleteNtarScmi"  parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarScmiVo">
        /* deleteNtarScmi */
        UPDATE  TB_POTI_NTAR_SCMI_BRKD SET
        DEL_YN = 'Y'
        ,  LAST_CHPR_ID = #{lastChprId}
        ,  LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE  DEL_YN = 'N'
        AND    NTAR_SRNO = #{ntarSrno}
        <if test="scmiSrno != null and scmiSrno != '' ">
            AND    SCMI_SRNO = #{scmiSrno}
        </if>
    </update>

    <!--
      Masquer un commentaire du forum !==게시판 게시글 댓글을 숨긴다.==!
    -->
    <update id="hideNtarScmi"  parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarScmiVo">
      /* hideNtarScmi */
      UPDATE  TB_POTI_NTAR_SCMI_BRKD SET
      HIDE_YN = 'Y'
      ,  LAST_CHPR_ID = #{lastChprId}
      ,  LAST_CHG_DTTM = SYSTIMESTAMP
      WHERE  DEL_YN = 'N'
      AND    NTAR_SRNO = #{ntarSrno}
      <if test="scmiSrno != null and scmiSrno != '' ">
        AND    SCMI_SRNO = #{scmiSrno}
      </if>
    </update>

    <!--
      Afficher un commentaire de l'article du forum !==게시판 게시글 댓글을 숨김해제 한다.==!
    -->
    <update id="hideReleNtarScmi"  parameterType="alpass.ipt.pot.pm.cmmn.vo.PotPmCmmnNtarScmiVo">
      /* hideReleNtarScmi */
      UPDATE  TB_POTI_NTAR_SCMI_BRKD SET
      HIDE_YN = 'N'
      ,  LAST_CHPR_ID = #{lastChprId}
      ,  LAST_CHG_DTTM = SYSTIMESTAMP
      WHERE  DEL_YN = 'N'
      AND    NTAR_SRNO = #{ntarSrno}
      <if test="scmiSrno != null and scmiSrno != '' ">
        AND    SCMI_SRNO = #{scmiSrno}
      </if>
    </update>

    <!--
      Consulter une attribution de l'utilisateur !==사용자의 권한을 조회한다==!
    -->
    <select id="selectUserRoleList" parameterType = "String" resultType="alpass.ipt.com.user.vo.ComUserRoleVo">
      /* selectUserRoleList */
      SELECT B.ROLE_ID,
             A.PBSR_NO,
             A.ORGN_MGMT_CD
      FROM TB_POTI_EMP A,
           TB_POTI_EMP_AUTH B
      WHERE A.PBSR_NO = B.PBSR_NO
        AND A.DEL_YN = 'N'
        AND B.DEL_YN = 'N'
        AND A.PBSR_NO = #{pbsrNo}
    </select>

</mapper>
