<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.clr.pdr.dre.mapper.ClrDcshQuesAnswMgmtMapper">
	<!--
    Consultation de la liste des questions/réponses sur la déclaration !== 신고서 질의답변 목록조회 ==!
    Kim Kiryong
    -->
	<select id="selectDcshQuesAnswList" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo" resultType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo">
		/* ClriDpsQuesAnsw_selectClriDpsQuesAnswList */
		<include refid="pagination.header" ></include>
		SELECT
		A.DTL_DCSH_NO                                                                  /** Numéro du DAU !== DED번호 ==! */
		, A.REFF_NO                                                                 /** N° de référence !== 참조번호 ==! */
		, EE.ques_answ_dgcnt
		, EE.REGST_ID                                                               /** ID de la personne enregistrant !== 등록자ID ==! */
		, TO_CHAR(EE.RGSR_DTTM, 'DD/MM/YYYY') AS RGSR_DTTM                          /** Date et heure de l'enregistrement !== 등록일시 ==! */
		, TO_CHAR(TO_DATE(A.DCLR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DCLR_DT            /** Date de DAU !== DED일자 ==! */
		, EE.REGST_TP_CD                                                            /** Code de type de pertonne enregistrant !== 등록자구분코드 ==! */
		, (SELECT fn_get_cd_vdval_nm('CLR_0033', EE.REGST_TP_CD, #{langCd}) FROM DUAL) AS REGST_TP_NM
		, EE.ques_answ_cn
		FROM   TB_CLRI_DED_QUES_ANSW EE
		, TB_CLRI_DED_COMN A
		WHERE
		    EE.DTL_DCSH_NO = A.DTL_DCSH_NO
		AND EE.ques_answ_dgcnt = (SELECT MAX(NVL(S.ques_answ_dgcnt, 1)) FROM TB_CLRI_DED_QUES_ANSW S WHERE S.DTL_DCSH_NO = EE.DTL_DCSH_NO)
		AND    A.PRCS_STTS_CD NOT IN ('D04', 'D07', 'G03', 'G04')
		<choose>
			<when  test = 'foncCd != null and foncCd.equals("510")'>
				AND A.DCLR_CSTM_CD = #{cstmCd}
			</when>
			<otherwise>
				AND    A.AUDT_EMP_ID = #{audtEmpId}
			</otherwise>
		</choose>


		<choose>
			<when test="dtlDcshNo != null and dtlDcshNo != ''">
				AND    A.DTL_DCSH_NO = #{dtlDcshNo}
			</when>
			<otherwise>
				<if test="rgsrDttmFrom != null and rgsrDttmFrom != ''">
					AND    EE.RGSR_DTTM <![CDATA[ >= ]]> TO_DATE(#{rgsrDttmFrom} || '000000', 'DD/MM/YYYY HH24MISS')
					AND    EE.RGSR_DTTM <![CDATA[ <= ]]> TO_DATE(#{rgsrDttmTo} || '235959', 'DD/MM/YYYY HH24MISS')
				</if>
				<if test="dclrDtFrom != null and dclrDtFrom != ''">
					AND    A.DCLR_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE( #{dclrDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')
					AND    A.DCLR_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE( #{dclrDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
				</if>
				<if test="dclrPtCd != null and dclrPtCd != ''">
					AND    A.DCLR_PT_CD = #{dclrPtCd}
				</if>
			</otherwise>
		</choose>
		ORDER BY EE.RGSR_DTTM DESC
		<include refid="pagination.footer" ></include>
	</select>

	<!--
		 Consulter la liste des questions et réponses  !==질의답변 목록을 조회한다.==!
		 Kim Kiryong
	 -->
	<select id="selectListQuesAnsw" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo" resultType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo">
		/* PotiDcshmgmt_selectListQuesAnsw */
		SELECT
			A.DTL_DCSH_NO
		     , A.REFF_NO
			 , A.ques_answ_dgcnt
			 , A.QUES_ANSW_CN
			 , A.REGST_TP_CD
			 , (SELECT FN_GET_CD_VDVAL_NM('CLR_0033', A.REGST_TP_CD, #{langCd}) FROM DUAL) AS REGST_TP_NM
			 , TO_CHAR(A.RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS RGSR_DTTM
			 , A.REGST_ID
			 , DECODE(A.REGST_ID,#{frstRegstId},'Y' ,'N') REGST_YN
			 , A.RDNG_YN
			 , A.DEL_YN
			 , A.FRST_REGST_ID
			 , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:MI:SS') FRST_RGSR_DTTM
			 , A.LAST_CHPR_ID
			 , TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:MI:SS') LAST_CHG_DTTM
		FROM   TB_CLRI_DED_QUES_ANSW A
		WHERE  DEL_YN = 'N'
		  AND A.DTL_DCSH_NO = #{dtlDcshNo}
		ORDER BY A.ques_answ_dgcnt
	</select>

	<!--
    Consultation en détail de la déclaration faisant l'objet de la question !== 질문이 올라온 신고서의 상세내역 조회 ==!
    Kim Kiryong
    -->
	<select id="selectDcshQuesAnsw" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo" resultType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo">
		/*ClriDpsQuesAnsw_selectClriDpsQuesAnsw*/
		SELECT
		A.DTL_DCSH_NO                                                           /** Numéro du DAU !== DED번호 ==! */
		, A.REFF_NO                                                          /** N° de référence !== 참조번호 ==! */
		, TO_CHAR(TO_DATE(A.RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RQST_DT   /** Date de demande !== 신청일자 ==! */
		, TO_CHAR(TO_DATE(A.DCLR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS DCLR_DT     /** Date de DAU !== DED일자 ==! */
		, A.DCLR_PT_CD                                                       /** Code de type de déclaration !== 신고유형코드 ==! */
		, A.CSCL_PLN_CD                                                      /** Code de plan de dédouanement !== 통관계획코드 ==! */
		, A.INVC_NO                                                          /** N° de facture !== 송장번호 ==! */
		, B.INVC_AMT                                                         /** Montant de facture !== 송장금액 ==! */
		, A.PRCS_STTS_CD                                                     /** Code de statut de traitement !== 처리상태코드 ==! */
		, B.TTXBS_NCY_AMT                                                    /** Montant NCY total de la valeur statistique  !== 총과세기준NCY금액 ==! */
		, B.INVC_CURR_CD                                                     /** Code de devise de la facture !== 송장통화코드 ==! */
		, A.wkng_pt_cd
		, A.mdfy_dgcnt																											/** Fréquence de rectification !== 정정차수 ==! */
		, A.audt_emp_id																											/** ID de la personne vérifiant !== 심사직원ID ==! */
		FROM   TB_CLRI_DED_COMN A
		, TB_CLRI_DED_VLUT_COMN B
		WHERE  A.DTL_DCSH_NO = B.DTL_DCSH_NO
		AND    A.PRCS_STTS_CD NOT IN ('D04', 'D07', 'G03', 'G04')
		<choose>
			<when  test = 'foncCd != null and foncCd.equals("510")'>
				AND A.DCLR_CSTM_CD = #{cstmCd}
			</when>
			<otherwise>
				AND    A.AUDT_EMP_ID = #{audtEmpId}
			</otherwise>
		</choose>
		<if test="dtlDcshNo != null and dtlDcshNo != ''">
			AND    A.DTL_DCSH_NO = #{dtlDcshNo}
		</if>
		<if test="reffNo != null and reffNo != ''">
			AND    A.REFF_NO = #{reffNo}
		</if>
	</select>

	<update id="updateQuesAnswRdngYn" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo">
		/* ClriDpsQuesAnsw_updateQuesAnswRdngYn */
		UPDATE  TB_CLRI_DED_QUES_ANSW SET
			RDNG_YN = 'Y'
		WHERE   DTL_DCSH_NO = #{dtlDcshNo}
		  AND     REGST_TP_CD = 'D'
		  AND     RDNG_YN = 'N'
	</update>

	<!-- 
		 Enregistrer des questions et réponses    !==질의답변을 등록한다.==!
		 Kim Kiryong
	 -->
	<insert id="insertDcshQuesAnsw" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo">
		/* PotiDcshmgmt_insertQuesAnsw */
		INSERT INTO TB_CLRI_DED_QUES_ANSW
		(
			DTL_DCSH_NO
		, ques_answ_dgcnt
		, reff_no
		, QUES_ANSW_CN
		, REGST_TP_CD
		, RGSR_DTTM
		, REGST_ID
		, RDNG_YN
		, DEL_YN
		, FRST_REGST_ID
		, FRST_RGSR_DTTM
		, LAST_CHPR_ID
		, LAST_CHG_DTTM
		)
		VALUES
			(
				#{dtlDcshNo}
			, (SELECT NVL(MAX(ques_answ_dgcnt),0)+1 FROM   TB_CLRI_DED_QUES_ANSW A WHERE  DTL_DCSH_NO = #{dtlDcshNo})
			, #{reffNo}
			, #{quesAnswCn}
			, 'C'
			, SYSDATE
			, #{regstId}
			, 'N'
			, 'N'
			, #{frstRegstId}
			, SYSTIMESTAMP
			, #{lastChprId}
			, SYSTIMESTAMP
			)
	</insert>

	<!-- 
            Modifier des questions et réponses    !==질의답변을 수정한다.==!
            Kim Kiryong
        -->
	<update id="updateDcshQuesAnsw" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo">
		/* PotiDcshmgmt_updateQuesAnsw */
		UPDATE  TB_CLRI_DED_QUES_ANSW SET
		<trim prefixOverrides="," >
			QUES_ANSW_CN = #{quesAnswCn}
			, LAST_CHPR_ID = #{lastChprId}
			, LAST_CHG_DTTM = SYSTIMESTAMP
		</trim>
		WHERE  DTL_DCSH_NO = #{dtlDcshNo}
		AND ques_answ_dgcnt = #{quesAnswDgcnt}
	</update>


	<!-- 
        Supprimer des questions et réponses    !==질의답변을 삭제한다.==!
        Kim Kiryong
    -->
	<update id="deleteDcshQuesAnsw" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedQuesAnswVo">
		/* PotiDcshmgmt_deleteQuesAnsw */
		UPDATE  TB_CLRI_DED_QUES_ANSW SET
			DEL_YN = 'Y'
										,  LAST_CHPR_ID = #{lastChprId}
										,  LAST_CHG_DTTM = SYSTIMESTAMP
		WHERE  DEL_YN = 'N'
		  AND  DTL_DCSH_NO = #{dtlDcshNo}
		  AND ques_answ_dgcnt = #{quesAnswDgcnt}
	</update>

</mapper>
