<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Gérer l'auditeur. !== 심사자관리 Mapper. ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.audt.mapper.AeoAthrAudtMgmtMapper">

    <!--
    [Rechercher] liste des auditeurs !== 심사자 목록을 조회한다. ==!
    -->
	<select id="selectAeoAthrAudtList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo">
		/* selectAeoAthrAudtList */
	    <include refid="pagination.header"/>
		SELECT
				  AAR.AEO_ATHR_RQST_NO                                           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		        , AAR.PRCS_STTS_CD                                               /** Code De Statut De Traitement !== 처리상태코드 ==! */
		        , AAR.PRCS_STTS_CD AS PRCS_STTS_NM                               /** Code De Statut De Traitement !== 처리상태코드 ==! */
		        , AAR.DTL_PRCS_STTS_CD                                           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
		        , AAR.DTL_PRCS_STTS_CD AS DTL_PRCS_STTS_NM                       /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
		        , AAR.CO_CD                                                      /** Code De La Compagnie !== 업체코드 ==! */
		        , AAR.CO_NM                                                      /** Nom De L'Entreprise !== 업체명 ==! */
				, AAR.NIF                                                        /** NIF !== 납세번호 ==! */
				, AAR.PLN_AUDT_DEPT_CD                                           /** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
				, (SELECT A.ORGN_NM FROM  TB_POTI_ORGN A WHERE A.ORGN_MGMT_CD = UPPER(AAR.PLN_AUDT_DEPT_CD)) AS PLN_AUDT_DEPT_NM    /** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
		        , TO_CHAR(AAR.RQST_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS rqstDttm    /** Date Et Heure De La Demande !== 신청일시 ==! */
		        , TO_CHAR(AAR.ACAP_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS acapDttm    /** Date De Réception !== 접수일시 ==! */
		  FROM
		  		  TB_AEOI_ATHR_RQST AAR
		 WHERE
		 		  AAR.DEL_YN = 'N'                     			/** Suppression On !== 삭제여부 ==! */
	    <if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
	      AND	  TO_CHAR(AAR.RQST_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
	    </if>
	    <if test='srchPrcsSttsCd != null and !"".equals(srchPrcsSttsCd)'>
		   AND	  AAR.PRCS_STTS_CD = #{srchPrcsSttsCd}       	/** Code De Statut De Traitement !== 처리상태코드 ==! */
	    </if>
	    <if test='srchCoNm != null and !"".equals(srchCoNm)'>
	       AND 	  AAR.CO_NM LIKE '%' || #{srchCoNm} || '%'
	    </if>
		<include refid="pagination.footer"/>
	</select>

</mapper>