<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Déléguer l’opération d’audit à un expert !== 전문가심사위임요청 Mapper ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.audt.mapper.AeoAthrAudtXprtMapper">

    <!--
    [Déléguer l’opération d’audit à un expert] Consulter la liste !== [전문가심사위임요청] 목록조회 ==!
    -->
	<select id="selectAeoAthrAudtXprtList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo">
		/* selectAeoAthrAudtXprtList */
	    <include refid="pagination.header"/>
		SELECT
				  AAR.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		        , AAR.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , FN_GET_CD_VDVAL_NM('AEO_0015', AAR.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			    , AAR.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , FN_GET_CD_VDVAL_NM('AEO_0017', AAR.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			    , AAR.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
		        , AAR.CO_NM                      /** Nom De L'Entreprise !== 업체명 ==! */
				, AAR.NIF                        /** NIF !== 납세번호 ==! */
				, AAR.ACAP_CSTM_CD               /** Code douanier de réception !== 접수세관코드 ==! */
				, ( SELECT ORGN_NM
					FROM   TB_POTI_ORGN
					WHERE  ORGN_MGMT_CD = (SELECT  AUDT_ORGN_MGMT_CD
										   FROM    TB_AEOI_ATHR_AUDT_ORGN
										   WHERE   DEL_YN = 'N'
										   AND     DRD_ORGN_MGMT_CD = (SELECT  UPR_ORGN_MGMT_CD
																	   FROM    TB_POTI_ORGN
																	   WHERE   DEL_YN = 'N'
																	   AND     ORGN_MGMT_CD = AAR.ACAP_CSTM_CD)) ) AS PLN_AUDT_DEPT_NM	/** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
		        , TO_CHAR(AAR.RQST_DTTM, 'DD/MM/YYYY') AS rqstDttm                  /** Date Et Heure De La Demande !== 신청일시 ==! */
		        , TO_CHAR(AAR.ACAP_DTTM, 'DD/MM/YYYY') AS acapDttm                  /** Date De Réception !== 접수일시 ==! */
		        , NVL(XS.XPRT_CNT, 0) AS ADOR_CNT
		  FROM	  TB_AEOI_ATHR_RQST AAR
				, (
					SELECT
							  A.AEO_ATHR_RQST_NO
							, COUNT(A.AEO_ATHR_RQST_NO) AS XPRT_CNT
					  FROM	  TB_AEOI_XTRN_SPLT A
					 WHERE	  A.DEL_YN = 'N'                             /** Suppression On !== 삭제여부 ==! */
					 GROUP BY A.AEO_ATHR_RQST_NO
				) XS
		 WHERE
		 		  AAR.AEO_ATHR_RQST_NO = XS.AEO_ATHR_RQST_NO(+)
		   AND	  AAR.DEL_YN = 'N'                                       /** Suppression On !== 삭제여부 ==! */
		   AND    AAR.PRCS_STTS_CD IN ('D28','D29','D30','D31')          /** !== AEO공인신청 처리상태 심사 이후 건 조회 ==! */
		   AND    EXISTS (
						   SELECT 'X'
						   FROM  ( SELECT J.AEO_ATHR_RQST_NO, COUNT(1)
								   FROM   TB_AEOI_RQST_CO_POBS J
								   WHERE  J.DEL_YN ='N'
								   AND    J.AEO_ATHR_RQST_NO = AAR.AEO_ATHR_RQST_NO
								   GROUP BY J.AEO_ATHR_RQST_NO
								   HAVING COUNT(1) > 1
								 )
						 )
	    <if test="srchAeoAthrRqstNo != null and srchAeoAthrRqstNo != ''">
		   AND	  AAR.AEO_ATHR_RQST_NO = #{srchAeoAthrRqstNo}       	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
	    </if>
	    <if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
	      AND	  TO_CHAR(AAR.RQST_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
	    </if>
	    <if test="srchPlnAudtDeptOrgnCd != null and srchPlnAudtDeptOrgnCd != ''">
			AND    (SELECT  AUDT_ORGN_MGMT_CD
					FROM    TB_AEOI_ATHR_AUDT_ORGN
					WHERE   DEL_YN = 'N'
					AND     DRD_ORGN_MGMT_CD = (SELECT  UPR_ORGN_MGMT_CD
												FROM    TB_POTI_ORGN
												WHERE   DEL_YN = 'N'
												AND     ORGN_MGMT_CD = AAR.ACAP_CSTM_CD)) = #{srchPlnAudtDeptOrgnCd}
	    </if>
		<if test='srchCoCd != null and !"".equals(srchCoCd)'>
		   AND 	  AAR.NIF = #{srchCoCd}
		</if>
	     ORDER BY AAR.LAST_CHG_DTTM DESC
		<include refid="pagination.footer"/>
	</select>

    <!--
    [Rechercher] liste des experts externes !== 외부전문관 목록을 조회한다. ==!
    -->
	<select id="selectAeoAthrApfmXprtList"
	    parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtVo"
	    resultType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtVo">
		/* selectAeoAthrApfmXprtList */
		WITH XPRT_INFO AS
		(
			SELECT A.NIF,
				   A.CO_NM,
				   A.CO_ADDR,
				   B.CO_DCLR_CD,
				   B.CO_DCLR_TP_CD,
				   FN_GET_CD_VDVAL_NM('COM_0030',B.CO_DCLR_TP_CD,#{langCd}) AS CO_DCLR_TP_NM,
				   B.CARR_CD,
				   FN_CARE_GET_CO_NM(B.CARR_CD) AS CARR_NM,
				   A.CMRC_REGS_NO,
				   A.CO_POST_CD,
				   A.STTS_TP_CD
			FROM  TB_COM_CO A,
				  TB_COM_CO_DCLR_CD B
			WHERE A.NIF = B.NIF
			AND A.DEL_YN = 'N'
			AND B.DEL_YN = 'N'

			  AND B.CO_DCLR_TP_CD = 'Q'
			  ORDER BY A.STTS_TP_CD, A.NIF, A.CO_NM
		)
		SELECT
				  A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
				, A.XPRT_NIF                   /** Numéro d’identification fiscale De L'Expert !== 전문가납세식별번호 ==! */
				, A.XPRT_NM                    /** Nom de l'expert !== 전문가명 ==! */
		        , A.BLNG_ITT_CD                /** Code D'Organisme  !== 소속기관코드 ==! */
		        , A.BLNG_ITT_NM                /** Nom du groupe d'appartenance !== 소속기관명 ==! */
		        , A.MNDA_CN                    /** Delegation !== 위임내용 ==! */
				, B.CO_ADDR                    /** Adresse De L'Entreprise  !== 업체주소 ==! */
				, B.CO_DCLR_CD                 /** Code De Déclaration De L'Entreprise !== 업체신고코드 ==! */
		  FROM	  TB_AEOI_XTRN_SPLT A
				, XPRT_INFO B
		 WHERE
		 		  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
		   AND	  A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}       /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		   AND    A.XPRT_NIF = B.NIF
	</select>
	
    <!--
    [Déléguer l’opération d’audit à un expert.Auditeur] Consulter la liste !== [전문가심사위임요청.심사자] 목록조회 ==!
    -->
	<select id="selectAeoAthrAudtAdorMgmtList"
	    parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtVo"
	    resultType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtVo">
		/* selectAeoAthrAudtAdorMgmtList */
		SELECT
				  EMP.USER_ID AS ADOR_ID					/** Id De L'Inspecteur !== 심사자ID ==! */
				, 'EXT' AS ADOR_TP_CD						/** Code de classification d'auditeur !== 심사자구분코드 ==! */
				, EMP.USER_NM AS ADOR_NM					/** Nom de l'inspecteur !== 심사자명 ==! */
				, EMP.NIF AS BLNG_ITT_CD               		/** Code D'Organisme  !== 소속기관코드 ==! */
				, EMP.CO_NM AS BLNG_ITT_NM                  /** Nom du groupe d'appartenance !== 소속기관명 ==! */
		  FROM
			  	  (
		               SELECT D.NIF 
		                    , A.CO_NM 
		                    , D.USER_ID 
		                    , D.USER_NM 
		                    , D.USER_TP_CD 
		                    , FN_GET_CD_VDVAL_NM('COM_0031', D.USER_TP_CD, #{langCd}) AS USER_TP_NM
		                    , D.NAT_CD 
		                    , D.GNDR_CD
		                    , FN_GET_CD_VDVAL_NM('COM_0027', D.GNDR_CD, #{langCd}) AS GNDR_NM
		                    , D.TLPH_NO
		                    , D.EML 
		                    , D.USER_ADDR
		               FROM   TB_COM_CO A
		                    , TB_COM_CO_DCLR_CD B
		                    , TB_COM_CO_DCLR_CD_USER_REL C
		                    , TB_COM_CO_USER D
		               WHERE  A.DEL_YN ='N'
		               AND    B.NIF = A.NIF 
		               AND    B.CO_DCLR_TP_CD ='Q'
		               AND    B.DEL_YN ='N'
		               AND    C.NIF = B.NIF 
		               AND    C.DEL_YN ='N'
		               AND    C.CO_DCLR_CD = B.CO_DCLR_CD 
		               AND    D.USER_ID = C.USER_ID 
		               AND    D.NIF = C.NIF
		               AND    D.DEL_YN ='N'
	          	  ) EMP
	     WHERE	  1= 1
	    <choose>
	    	<when test="xprtList.size != 0">
	       AND	  EMP.USER_ID NOT IN 
	       		<foreach collection="xprtList" item="item" index="index" separator="," open="(" close=")">
	       			#{item}
	       		</foreach>
	    	</when>
	    </choose>
	</select>

    <!--
    [Déléguer l’opération d’audit à un expert] Enregistrer !==[전문가심사위임요청] 등록==!
    -->
	<insert id="insertAeoAthrAudtXprt"
		parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtVo">
		/* insertAeoAthrAudtXprt */
        WITH UPSERT AS  (
			UPDATE    TB_AEOI_XTRN_SPLT
			   SET
					  LAST_CHPR_ID = #{lastChprId}          /** Id Du Modificateur Final !== 최종변경자ID ==! */            
					, LAST_CHG_DTTM = CURRENT_TIMESTAMP		/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
	                , XPRT_NIF = #{xprtNif}                 /** Numéro d’identification fiscale De L'Expert !== 전문가납세식별번호 ==! */
	                , XPRT_NM = #{xprtNm}                   /** Nom de l'expert !== 전문가명 ==! */
	                , BLNG_ITT_CD = #{blngIttCd}            /** Code D'Organisme  !== 소속기관코드 ==! */
	                , BLNG_ITT_NM = #{blngIttNm}            /** Nom du groupe d'appartenance !== 소속기관명 ==! */
	                , MNDA_CN = #{mndaCn}                   /** Delegation !== 위임내용 ==! */
					, DEL_YN = 'N'							/** Suppression On !== 삭제여부 ==! */
			 WHERE
                  	  AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}   /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
               AND	  XPRT_NIF = #{xprtNif}                 /** Numéro d’identification fiscale De L'Expert !== 전문가납세식별번호 ==! */
		     RETURNING *
        )
		INSERT INTO TB_AEOI_XTRN_SPLT (
                  AEO_ATHR_RQST_NO             /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
                , XPRT_NIF                     /** Numéro d’identification fiscale De L'Expert !== 전문가납세식별번호 ==! */
                , XPRT_NM                      /** Nom de l'expert !== 전문가명 ==! */
                , BLNG_ITT_CD                  /** Code D'Organisme  !== 소속기관코드 ==! */
                , BLNG_ITT_NM                  /** Nom du groupe d'appartenance !== 소속기관명 ==! */
                , MNDA_CN                      /** Delegation !== 위임내용 ==! */
                , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
                , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		SELECT
                  #{aeoAthrRqstNo}             /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
                , #{xprtNif}                   /** Numéro d’identification fiscale De L'Expert !== 전문가납세식별번호 ==! */
                , #{xprtNm}                    /** Nom de l'inspecteur !== 심사자명 ==! */
                , #{blngIttCd}                 /** Code D'Organisme  !== 소속기관코드 ==! */
                , #{blngIttNm}                 /** Nom du groupe d'appartenance !== 소속기관명 ==! */
                , #{mndaCn}                    /** Delegation !== 위임내용 ==! */
                , 'N'                          /** Suppression On !== 삭제여부 ==! */
                , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , CURRENT_TIMESTAMP            /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , CURRENT_TIMESTAMP            /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */    
		 WHERE	NOT EXISTS (SELECT * FROM UPSERT)
	</insert>

	<!--
    [Déléguer l’opération d’audit à un expert] Modifier !==[전문가심사위임요청] 수정 ==!
    -->
	<update id="updateAeoAthrAudtXprt"
		parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtVo">
		/* updateAeoAthrAudtXprt */
		UPDATE TB_AEOI_XTRN_SPLT
		SET
			  LAST_CHPR_ID = #{lastChprId}          /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM = CURRENT_TIMESTAMP		/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
			, XPRT_NIF = #{xprtNif}                 /** Numéro d’identification fiscale De L'Expert !== 전문가납세식별번호 ==! */
			, XPRT_NM = #{xprtNm}                   /** Nom de l'expert !== 전문가명 ==! */
			, BLNG_ITT_CD = #{blngIttCd}            /** Code D'Organisme  !== 소속기관코드 ==! */
			, BLNG_ITT_NM = #{blngIttNm}            /** Nom du groupe d'appartenance !== 소속기관명 ==! */
			, MNDA_CN = #{mndaCn}                   /** Delegation !== 위임내용 ==! */
			, DEL_YN = 'N'							/** Suppression On !== 삭제여부 ==! */
		WHERE AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}   /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		AND	  XPRT_NIF = #{bfchXprtNif}

	</update>

    <!--
    [Déléguer l’opération d’audit à un expert] Supprimer !==[전문가심사위임요청] 삭제 ==!
    -->
	<update id="deleteAeoAthrAudtXprt"
		parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtVo">
		/* deleteAeoAthrAudtXprt */
		UPDATE	  TB_AEOI_XTRN_SPLT
		   SET
				  LAST_CHPR_ID = #{lastChprId}          		/** Id Du Modificateur Final !== 최종변경자ID ==! */            
				, LAST_CHG_DTTM = CURRENT_TIMESTAMP				/** Date Et Heure De Modification Finale !== 최종변경일시 ==! */ 
				, DEL_YN = 'Y'									/** Suppression On !== 삭제여부 ==! */ 
		 WHERE
				  DEL_YN = 'N'
           AND	  AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}         	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
           AND	  XPRT_NIF = #{xprtNif}                   		/** Numéro d’identification fiscale De L'Expert !== 전문가납세식별번호 ==! */
	</update>

    <!--
    [Spécialiste externe_Change History] Consulter la liste !==[외부전문가 변경 이력] 목록조회==!
    -->
	<select id="selectAeoAthrAudtXprtHistList"
	    parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtVo"
	    resultType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtHistVo">
		/* selectAeoAthrAudtXprtHistList */
		SELECT
				  A.HIST_SRNO                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
				, A.AEO_ATHR_RQST_NO           /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
				, A.BFCH_XPRT_NIF              /** Numéro d’identification fiscale De L'Expert avant le changement !== 변경전전문가납세식별번호 ==! */
				, (SELECT CO_NM FROM TB_COM_CO WHERE NIF = A.BFCH_XPRT_NIF) AS BFCH_XPRT_NM
				, A.AFCH_XPRT_NIF              /** Numéro d’identification fiscale De L'Expert après modification !== 변경후전문가납세식별번호 ==! */
				, (SELECT CO_NM FROM TB_COM_CO WHERE NIF = A.AFCH_XPRT_NIF) AS AFCH_XPRT_NM
                , A.CHG_RSN_CN                 /** Motif De La Modification !== 변경사유내용 ==! */
		        , A.CHG_TP_CD                  /** Code De Type De La Modification !== 변경구분코드 ==! */
				, A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
				, (SELECT EMP_NM||'('||A.FRST_REGST_ID||')' FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM
				, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS frstRgsrDttm             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
				, A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
				, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY hh24:mi:ss') AS lastChgDttm              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		  FROM	  TB_AEOI_XTRN_SPLT_CHG_HIST A
		 WHERE	  A.AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}	/** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
		 ORDER BY A.HIST_SRNO DESC
	</select>

    <!--
    [Spécialiste externe_Change History] Enregistrer !==[외부전문가 변경 이력] 등록==!
    -->
	<insert id="insertAeoAthrAudtXprtHist"
		parameterType="alpass.ipt.aeo.athr.audt.vo.AeoAthrAudtXprtHistVo">
		/* insertAeoAthrAudtXprtHist */
		<selectKey keyProperty="histSrno" order="BEFORE" resultType="java.math.BigDecimal">
			SELECT LPAD(NVL(MAX(HIST_SRNO),0)+1, 5, '0') FROM TB_AEOI_XTRN_SPLT_CHG_HIST WHERE AEO_ATHR_RQST_NO = #{aeoAthrRqstNo}
		</selectKey>
		
		INSERT INTO TB_AEOI_XTRN_SPLT_CHG_HIST
		(
			  HIST_SRNO                    /** N° de sequence de l'historique !== 이력일련번호 ==! */
			, AEO_ATHR_RQST_NO             /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			, BFCH_XPRT_NIF                /** Numéro d’identification fiscale De L'Expert avant le changement !== 변경전전문가납세식별번호 ==! */
			, AFCH_XPRT_NIF                /** Numéro d’identification fiscale De L'Expert après modification !== 변경후전문가납세식별번호 ==! */
            , CHG_RSN_CN                   /** Motif De La Modification !== 변경사유내용 ==! */
		    , CHG_TP_CD                    /** Code De Type De La Modification !== 변경구분코드 ==! */
			, FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
		VALUES
		(
			  #{histSrno}                  /** N° de sequence de l'historique !== 이력일련번호 ==! */
			, #{aeoAthrRqstNo}             /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			, #{bfchXprtNif}               /** Numéro d’identification fiscale De L'Expert avant le changement !== 변경전전문가납세식별번호 ==! */
			, #{afchXprtNif}               /** Numéro d’identification fiscale De L'Expert après modification !== 변경후전문가납세식별번호 ==! */
			, #{chgRsnCn}                  /** Motif De La Modification !== 변경사유내용 ==! */
		    , #{chgTpCd}
			, #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
			, CURRENT_TIMESTAMP            /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
			, #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
			, CURRENT_TIMESTAMP            /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		)
	</insert>

</mapper>