<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
Mapper : Gérer l'enquête !== 조사내역관리 Mapper. ==!
(wonjun.cha)
-->
<mapper namespace="alpass.ipt.aeo.athr.audt.mapper.AeoAthrAudtInvgBrkdMapper">

    <!--
    [Rechercher] liste des demandes d'agrément !== 공인신청서 목록을 조회한다.==!
    -->
	<select id="selectAeoAthrAudtInvgBrkdList"
	    parameterType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo"
	    resultType="alpass.ipt.aeo.com.vo.AeoComAthrApfmVo">
		/* selectAeoAthrAudtInvgBrkdList */
	    <include refid="pagination.header"/>
		SELECT	T.*
		FROM  (
		        SELECT TA.*
		        FROM (
			           SELECT 'ARQ' as ATHR_RQST_TP_CD          /** Code de type de demande d'agrément !== 공인신청구분코드 ==! */
			                , FN_GET_CD_VDVAL_NM('AEO_0004', 'ARQ', #{langCd}) AS ATHR_RQST_TP_NM        /** Nom De Type De Demande !== 신청구분명 ==! */
				   	        , AAR.AEO_ATHR_RQST_NO AS ATHR_MGMT_NO /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
				   	        , AAR.AEO_ATHR_RQST_NO         /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			                , AAR.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
				            , FN_GET_CD_VDVAL_NM('AEO_0015', AAR.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Code De Statut De Traitement !== 처리상태코드 ==! */
				            , AAR.DTL_PRCS_STTS_CD           /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
				            , FN_GET_CD_VDVAL_NM('AEO_0017', AAR.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'état détaillé du traitement !== 상세처리상태코드 ==! */
			                , AAR.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */
			                , AAR.CO_NM                      /** Nom De L'Entreprise !== 업체명 ==! */
					        , AAR.NIF                        /** NIF !== 납세번호 ==! */
					        , AAR.PLN_AUDT_DEPT_CD				/** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
					        , (SELECT AA.ORGN_NM FROM  TB_POTI_ORGN AA WHERE AA.ORGN_MGMT_CD = UPPER(AAR.PLN_AUDT_DEPT_CD)) AS PLN_AUDT_DEPT_NM				/** Service des contrôles a posteriori !== 계획심사부서코드 ==! */
			                , TO_CHAR(AAR.RQST_DTTM, 'DD/MM/YYYY') AS rqstDttm                  /** Date Et Heure De La Demande !== 신청일시 ==! */
			                , TO_CHAR(AAR.ACAP_DTTM, 'DD/MM/YYYY') AS acapDttm                  /** Date De Réception !== 접수일시 ==! */
		                    , AAR.ACAP_CSTM_CD
		                    , (SELECT B.UPR_ORGN_MGMT_CD FROM TB_POTI_ORGN B WHERE B.DEL_YN = 'N' AND B.ORGN_MGMT_CD = AAR.ACAP_CSTM_CD) AS UPR_ORGN_MGMT_CD
			                , AAR.LAST_CHG_DTTM
			                , AAR.AEO_ATHR_NO
			                , '' AS MGMT_RQST_TP_CD
			                , (SELECT ATHR_STTS_CD FROM TB_AEOI_ATHR_CO CC WHERE CC.AEO_ATHR_NO= AAR.AEO_ATHR_NO)
			           FROM   TB_AEOI_ATHR_RQST AAR
			           WHERE  AAR.DEL_YN = 'N'                     			/** Suppression On !== 삭제여부 ==! */
			           <choose>
				         <when test='srchTodoYn != null and srchTodoYn.equals("Y")'>
					       <if test='(srchRoleId != null and "AEO004".equals(srchRoleId))'>
					       AND AAR.DTL_PRCS_STTS_CD IN ('U03','U59')
					       </if>
					       <if test='(srchRoleId != null and "AEO003".equals(srchRoleId))'>
					       AND AAR.DTL_PRCS_STTS_CD IN ('U05','U06','U13','U14','U15','U16','U17','U18','U19','U22','U23','U33','U34')
					       </if>
				         </when>
				         <otherwise>
					       <if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
					       AND TO_CHAR(AAR.RQST_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
					       </if>
					       <if test='srchPrcsSttsCd != null and !"".equals(srchPrcsSttsCd)'>
					       AND AAR.PRCS_STTS_CD = #{srchPrcsSttsCd}       	/** Code De Statut De Traitement !== 처리상태코드 ==! */
					       </if>
					       <if test='srchCoCd != null and !"".equals(srchCoCd)'>
					       AND AAR.NIF = #{srchCoCd}
					       </if>
				         </otherwise>
			           </choose>

			         ) TA
		        WHERE TA.ACAP_CSTM_CD IS NOT NULL
		        AND   ( TA.PRCS_STTS_CD ='D29'
		                OR
		                EXISTS ( SELECT 'X'
		                         FROM   TB_AEOI_INVG_BRKD DD
		                         WHERE  DD.AEO_RQST_NO = TA.AEO_ATHR_RQST_NO
		                       )
		              )
		        <if test='(srchRoleId != null and "AEO003".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
		        AND	  TA.AEO_ATHR_RQST_NO IN ( SELECT H.AEO_RQST_NO AS AEO_ATHR_RQST_NO
                                               FROM   TB_AEOI_INVG_BRKD H
                                                    , TB_AEOI_INVG_CHPN K
                                               WHERE  H.DEL_YN ='N'
                             	               AND	  H.AEO_RQST_NO = TA.AEO_ATHR_RQST_NO
                             	               AND    K.INVG_MGMT_NO = H.INVG_MGMT_NO
                             	               AND	  K.INVG_EMP_ID = #{srchLoginId} /** 로그인 ID */
                             	               AND    K.DEL_YN ='N'
                                             )
		        </if>
		        <if test='(srchRoleId != null and "AEO004".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
		        AND	  EXISTS  ( 
                                SELECT 'X'
                                FROM	TB_POTI_EMP D
                                      , VW_POTI_ROLE_UNFC E
                                      , TB_AEOI_ATHR_AUDT_ORGN F
                                WHERE	D.DEL_YN = 'N'
                             	AND	    D.PBSR_NO = #{srchLoginId}
                             	AND	    E.PBSR_NO = D.PBSR_NO
                             	AND	    E.ROLE_ID = #{srchRoleId}
                             	AND	    F.DEL_YN = 'N'
                             	AND	    F.AUDT_ORGN_MGMT_CD = D.ORGN_MGMT_CD
                             	AND     F.DRD_ORGN_MGMT_CD = TA.UPR_ORGN_MGMT_CD
                              )
		        </if>
		        <if test='(srchRoleId != null and "AEO011".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
		        AND	  TA.AEO_ATHR_RQST_NO IN ( SELECT H.AEO_RQST_NO AS AEO_ATHR_RQST_NO
                                               FROM   TB_AEOI_INVG_BRKD H
                                                    , TB_AEOI_INVG_CHPN K
                                               WHERE  H.DEL_YN ='N'
                             	               AND	  H.AEO_RQST_NO = TA.AEO_ATHR_RQST_NO
                             	               AND    K.INVG_MGMT_NO = H.INVG_MGMT_NO
                             	               AND	  K.INVG_EMP_ID = #{srchLoginId} /** 로그인 ID */
                             	               AND    K.DEL_YN ='N'
                                             )
		        </if>
		        UNION ALL
		        SELECT TB.*
		        FROM (
			           SELECT 'PSM' as ATHR_RQST_TP_CD          /** Code de type de demande d'agrément !== 공인신청구분코드 ==! */
			                , FN_GET_CD_VDVAL_NM('AEO_0004', 'PSM', #{langCd}) AS ATHR_RQST_TP_NM        /** Nom De Type De Demande !== 신청구분명 ==! */
			                , AAR.AEO_AFFC_MGMT_RQST_NO AS ATHR_MGMT_NO  /** Numéro de demande de gestion ultérieure d'OEA !== AEO사후관리신청번호 ==! */
			                , ( SELECT AA.AEO_ATHR_RQST_NO FROM TB_AEOI_ATHR_RQST AA WHERE AA.AEO_ATHR_NO = AAC.AEO_ATHR_NO ) AS AEO_ATHR_RQST_NO         /** Numéro de demande du statut OEA !== AEO공인신청번호 ==! */
			                , AAR.PRCS_STTS_CD               /** Code De Statut De Traitement !== 처리상태코드 ==! */
			                , FN_GET_CD_VDVAL_NM('AEO_0016', AAR.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM               /** Code De Statut De Traitement !== 처리상태코드 ==! */
				            , AAR.DTL_PRCS_STTS_CD           /** Code d'etat detaille du traitement !== 상세처리상태코드 ==! */
				            , FN_GET_CD_VDVAL_NM('AEO_0018', AAR.DTL_PRCS_STTS_CD, #{langCd}) AS DTL_PRCS_STTS_NM               /** Code d'etat detaille du traitement !== 상세처리상태코드 ==! */
				            , AAC.CO_CD                      /** Code De La Compagnie !== 업체코드 ==! */ 
				            , ( SELECT CO_NM FROM TB_COM_CO AA WHERE AA.NIF = AAC.NIF ) AS CO_NM  /** Nom De L'Entreprise !== 업체명 ==! */
				            , AAC.NIF                        /** NIF !== 납세번호 ==! */
				            , '' AS PLN_AUDT_DEPT_CD				/** Service des controles a posteriori !== 계획심사부서코드 ==! */
				            , '' AS PLN_AUDT_DEPT_NM				/** Service des controles a posteriori !== 계획심사부서코드 ==! */
			                , TO_CHAR(AAR.RQST_DTTM, 'DD/MM/YYYY') AS rqstDttm                  /** Date Et Heure De La Demande !== 신청일시 ==! */
			                , '' AS acapDttm                  /** Date De Reception !== 접수일시 ==! */
			                , AAR.ACAP_CSTM_CD
			                , (SELECT B.UPR_ORGN_MGMT_CD FROM TB_POTI_ORGN B WHERE B.DEL_YN = 'N' AND B.ORGN_MGMT_CD = AAR.ACAP_CSTM_CD) AS UPR_ORGN_MGMT_CD
			                , AAR.LAST_CHG_DTTM
			                , AAC.AEO_ATHR_NO
			                , AAR.MGMT_RQST_TP_CD
			                , AAC.ATHR_STTS_CD
			           FROM   TB_AEOI_AFFC_RQST AAR
			                , TB_AEOI_ATHR_CO AAC
			           WHERE  AAR.DEL_YN = 'N' 
			           AND    AAC.AEO_ATHR_NO = AAR.AEO_ATHR_NO
			           <choose>
				         <when test='srchTodoYn != null and srchTodoYn.equals("Y")'>
					       <if test='(srchRoleId != null and "AEO004".equals(srchRoleId))'>
					       AND AAR.DTL_PRCS_STTS_CD IN ('U35')
					       </if>
					       <if test='(srchRoleId != null and "AEO003".equals(srchRoleId))'>
					       AND AAR.PRCS_STTS_CD ='D28'
					       </if>
				         </when>
				         <otherwise>
					       <if test='(srchStrtDt != null and !"".equals(srchStrtDt)) and (srchEndDt != null and !"".equals(srchEndDt))'>
					       AND TO_CHAR(AAR.RQST_DTTM, 'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE(REPLACE(#{srchStrtDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{srchEndDt}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
					       </if>
					       <if test='srchPrcsSttsCd != null and !"".equals(srchPrcsSttsCd)'>
					       AND AAR.PRCS_STTS_CD = #{srchPrcsSttsCd}       	/** Code De Statut De Traitement !== 처리상태코드 ==! */
					       </if>
					       <if test='srchCoCd != null and !"".equals(srchCoCd)'>
					       AND AAC.NIF = #{srchCoCd}
					       </if>
				         </otherwise>
			           </choose>
			         ) TB
		        WHERE TB.ACAP_CSTM_CD IS NOT NULL
		        AND   ( TB.PRCS_STTS_CD ='D29'
		                OR
		                EXISTS ( SELECT 'X'
		                         FROM   TB_AEOI_INVG_BRKD DD
		                         WHERE  DD.AEO_ATHR_NO = TB.AEO_ATHR_NO
		                       )
		              )
		        <if test='(srchRoleId != null and "AEO003".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
		        AND	  EXISTS  ( 
                                SELECT 'X'
                                FROM   TB_AEOI_INVG_BRKD G
                                     , TB_AEOI_INVG_CHPN H
                                WHERE  G.DEL_YN ='N'
                             	AND	   G.AEO_RQST_NO = TB.ATHR_MGMT_NO
                             	AND    H.INVG_MGMT_NO = G.INVG_MGMT_NO
                             	AND	   H.INVG_EMP_ID = #{srchLoginId} /** 로그인 ID */
                             	AND    H.DEL_YN ='N'
                              )
		        </if>
		        <if test='(srchRoleId != null and "AEO004".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
		        AND	  EXISTS  ( 
                                SELECT 'X'
                                FROM	TB_POTI_EMP D
                                      , VW_POTI_ROLE_UNFC E
                                      , TB_AEOI_ATHR_AUDT_ORGN F
                                WHERE	D.DEL_YN = 'N'
                             	AND	    D.PBSR_NO = #{srchLoginId}
                             	AND	    E.PBSR_NO = D.PBSR_NO
                             	AND	    E.ROLE_ID = #{srchRoleId}
                             	AND	    F.DEL_YN = 'N'
                             	AND	    F.AUDT_ORGN_MGMT_CD = D.ORGN_MGMT_CD
                             	AND     F.DRD_ORGN_MGMT_CD IN ( SELECT  G.UPR_ORGN_MGMT_CD
                             	                                FROM    TB_POTI_ORGN G
                             	                                WHERE   G.DEL_YN ='N'
                             	                                AND     G.ORGN_MGMT_CD = TB.ACAP_CSTM_CD
                             	                              )
                              )
		        </if>
		        <if test='(srchRoleId != null and "AEO011".equals(srchRoleId)) and (srchLoginId != null and !"".equals(srchLoginId))'>
		        AND	  EXISTS  ( 
                                SELECT 'X'
                                FROM   TB_AEOI_INVG_BRKD G
                                     , TB_AEOI_INVG_CHPN H
                                WHERE  G.DEL_YN ='N'
                             	AND	   G.AEO_RQST_NO = TB.ATHR_MGMT_NO
                             	AND    H.INVG_MGMT_NO = G.INVG_MGMT_NO
                             	AND	   H.INVG_EMP_ID = #{srchLoginId} /** 로그인 ID */
                             	AND    H.DEL_YN ='N'
                              )
		        </if>
		      ) T       
	     ORDER BY T.LAST_CHG_DTTM DESC
		<include refid="pagination.footer"/>
	</select>
		
</mapper>