<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.clr.poa.coa.mapper.ClrOrcyProfAudtComnMapper">

    <select id="selectClrOrcyProfAudtList"  parameterType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo" resultType="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo">
        /* selectClrOrcyProfAudtList : Consulter la liste des demandes de certificat d'origine != 원산지증명 신청 목록조회*/
        <include refid="pagination.header" />
        SELECT
            A.ORCY_PROF_RQST_NO,
            A.ORCY_CRPP_NO,
            A.PRVL_CD,
            A.RQST_CSTM_CD,
            TO_CHAR(TO_DATE(A.RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') RQST_DT,
            A.DCER_CD,
            A.DCER_NM,
            A.DCER_ADDR,
            A.EXPPN_TXPR_IDFY_NO,
            A.EXPPN_NM,
            A.EXPPN_ADDR,
            A.EXP_CNTY_CD,
            A.RECI_TXPR_IDFY_NO,
            A.RECI_NM,
            A.RECI_ADDR,
            A.RCV_CNTY_CD,
            A.ORCY_CNTY_CD,
            A.DSTN_CNTY_CD,
            A.TRNP_METH_KND_CD,
            A.TRNP_METH_NO,
            TO_CHAR(TO_DATE(A.DPTR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') DPTR_DT,
            A.RMRK_CN,
            A.TTWG,
            A.TTWG_UT_CD,
            A.PRCS_STTS_CD,
            A.ATCH_FILE_ID,
            A.DEL_YN,
            A.DCER_WRTE_CN,
            A.DCLR_NO,
            TO_CHAR(TO_DATE(A.DCSH_DT, 'YYYYMMDD'), 'DD/MM/YYYY') DCSH_DT,
            A.DCLR_CSTM_CD,
            A.ISS_CNTY_CD,
            A.AUDT_RSLT_CN,
            TO_CHAR(TO_DATE(A.PBLS_DT, 'YYYYMMDD'), 'DD/MM/YYYY') PBLS_DT
        FROM ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_COMN A
        WHERE A.DEL_YN ='N'
        AND A.PRCS_STTS_CD IN ('B','C','D','E','G')
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(rqstDtFrom)">
            <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(rqstDtTo)">
        AND A.RQST_DT BETWEEN TO_CHAR(TO_DATE(#{rqstDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')  AND TO_CHAR(TO_DATE(#{rqstDtTo}, 'DD/MM/YYYY'), 'YYYYMMDD')
            </if>
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(orcyCrppNo)">
            AND UPPER(A.ORCY_CRPP_NO) LIKE '%' || UPPER(#{orcyCrppNo}) || '%'
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(orcyCntyCd)">
            AND A.ORCY_CNTY_CD =#{orcyCntyCd}
        </if>
        <if test="@org.apache.commons.lang3.StringUtils@isNotBlank(prcsSttsCd)">
            AND A.PRCS_STTS_CD =#{prcsSttsCd}
        </if>
        AND A.RQST_CSTM_CD = #{blngCstmCd}
        AND (A.ORCY_PROF_RQST_NO,MDFY_DGCNT) IN (SELECT ORCY_PROF_RQST_NO ,MAX(MDFY_DGCNT) FROM ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_COMN WHERE DEL_YN = 'N' GROUP BY ORCY_PROF_RQST_NO )
        ORDER BY TO_DATE(A.RQST_DT, 'YYYYMMDD') DESC, ORCY_PROF_RQST_NO DESC , A.PRCS_STTS_CD, A.ORCY_PROF_RQST_NO
        <include refid="pagination.footer" />
    </select>

    <select id="selectClrOrcyProfAudtDtl"  parameterType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo" resultType="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo">
        /* selectClrOrcyProfAudtDtl : Demander le certificat d'origine != 원산지증명 신청 조회*/
        SELECT
            A.ORCY_PROF_RQST_NO,
            A.ORCY_CRPP_NO,
            A.PRVL_CD,
            NVL((SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD ='CLR_0019' AND CD_VDVAL = A.PRVL_CD AND LANG_CD = #{langCd} ),'') PRVL_NM,
            A.RQST_CSTM_CD,
            NVL((SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.RQST_CSTM_CD ),'') RQST_CSTM_NM,
            TO_CHAR(TO_DATE(A.RQST_DT, 'YYYYMMDD'), 'DD/MM/YYYY') RQST_DT,
            A.DCER_CD,
            NVL((SELECT CO_DCLR_CD_NM FROM TB_COM_CO_DCLR_CD WHERE CO_DCLR_CD = A.DCER_CD AND CO_DCLR_TP_CD ='H' AND DEL_YN ='N' AND PRCS_STTS_CD ='S'),'') DCER_NM,
            A.DCER_ADDR,
            A.EXPPN_TXPR_IDFY_NO,
            NVL((SELECT CO_NM FROM TB_COM_CO B WHERE A.EXPPN_TXPR_IDFY_NO = B.NIF ),'') EXPPN_NM,
            A.EXPPN_ADDR,
            A.EXP_CNTY_CD,
            NVL((SELECT CNTY_NM FROM TB_COM_CNTY_CD_LANG B WHERE B.CNTY_CD = A.EXP_CNTY_CD AND LANG_CD = #{langCd} ),'') EXP_CNTY_NM,
            A.RECI_TXPR_IDFY_NO,
            A.RECI_NM,
            A.RECI_ADDR,
            A.RCV_CNTY_CD,
            NVL((SELECT CNTY_NM FROM TB_COM_CNTY_CD_LANG B WHERE B.CNTY_CD = A.RCV_CNTY_CD AND LANG_CD = #{langCd}),'') RCV_CNTY_NM,
            A.ORCY_CNTY_CD,
            NVL((SELECT CNTY_NM FROM TB_COM_CNTY_CD_LANG B WHERE B.CNTY_CD = A.ORCY_CNTY_CD AND LANG_CD = #{langCd}),'') ORCY_CNTY_NM,
            A.DSTN_CNTY_CD,
            NVL((SELECT CNTY_NM FROM TB_COM_CNTY_CD_LANG B WHERE B.CNTY_CD = A.DSTN_CNTY_CD AND LANG_CD = #{langCd}),'') DSTN_CNTY_NM,
            A.TRNP_METH_KND_CD,
            NVL((SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD ='POT_0045' AND CD_VDVAL = A.TRNP_METH_KND_CD AND LANG_CD = #{langCd} ),'') TRNP_METH_KND_NM,
            NVL(A.TRNP_METH_NO,'') TRNP_METH_NO,
            NVL(TO_CHAR(TO_DATE(A.DPTR_DT, 'YYYYMMDD'), 'DD/MM/YYYY'),'') DPTR_DT,
            A.RMRK_CN,
            A.TTWG,
            A.TTWG_UT_CD,
            A.PRCS_STTS_CD,
            A.ATCH_FILE_ID,
            A.DEL_YN,
            A.DCER_WRTE_CN,
            NVL(A.DCLR_NO,'') DCLR_NO,
            NVL(TO_CHAR(TO_DATE(A.DCSH_DT, 'YYYYMMDD'), 'DD/MM/YYYY'),'') DCSH_DT,
            A.DCLR_CSTM_CD,
            NVL((SELECT ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DCLR_CSTM_CD ),'') DCLR_CSTM_NM,
            A.ISS_CNTY_CD,
            NVL((SELECT CNTY_NM FROM TB_COM_CNTY_CD_LANG B WHERE B.CNTY_CD = A.ISS_CNTY_CD AND LANG_CD = #{langCd}),'') ISS_CNTY_NM,
            A.AUDT_RSLT_CN,
            A.MDFY_DGCNT,
            A.SPLM_QRY_CN,
            A.RTRN_RSN_CN,
            NVL(TO_CHAR(TO_DATE(A.PBLS_DT, 'YYYYMMDD'), 'DD/MM/YYYY'),'') PBLS_DT,
            A.ORCY_PROF_ISS_ITT_TP,
            NVL(A.AUDT_EMP_ID,(SELECT AUDT_EMP_ID FROM ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_COMN WHERE ORCY_PROF_RQST_NO = #{orcyProfRqstNo} AND MDFY_DGCNT =1 )) AUDT_EMP_ID,
            TO_CHAR(A.AUDT_PRCS_DTTM,'DD/MM/YYYY HH24:MI:SS') AUDT_PRCS_DTTM
        FROM ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_COMN A
        WHERE A.DEL_YN ='N'
          AND (A.ORCY_PROF_RQST_NO,A.MDFY_DGCNT) IN (SELECT ORCY_PROF_RQST_NO ,MAX(MDFY_DGCNT) FROM ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_COMN WHERE DEL_YN = 'N' AND ORCY_PROF_RQST_NO = #{orcyProfRqstNo}  GROUP BY ORCY_PROF_RQST_NO )
    </select>

    <update id="updateClrOrcyProfAudtComn" parameterType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo">
          /** updateClrOrcyProfAudtComn */
          UPDATE ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_COMN
            SET
                <if test='prcsSttsCd.equals("C")'>
                    AUDT_EMP_ID = #{audtEmpId},
                </if>
                <if test='prcsSttsCd.equals("F")'>
                    AUDT_EMP_ID = #{audtEmpId},
                    SPLM_QRY_CN = #{splmQryCn},
                </if>
                <if test='prcsSttsCd.equals("D") or prcsSttsCd.equals("E")'>
                     DCLR_NO = #{dclrNo},
                     RTRN_RSN_CN = #{rtrnRsnCn},
                     DCSH_DT = TO_CHAR(TO_DATE(#{dcshDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
                     DCLR_CSTM_CD = #{dclrCstmCd},
                     AUDT_RSLT_CN = #{audtRsltCn},
                     ISS_CNTY_CD = #{issCntyCd},
                     PBLS_DT =TO_CHAR(TO_DATE(#{pblsDt}, 'DD/MM/YYYY'), 'YYYYMMDD'),
                     AUDT_PRCS_DTTM = SYSTIMESTAMP,
                </if>
                PRCS_STTS_CD = #{prcsSttsCd},
                LAST_CHPR_ID = #{lastChprId},             /** Id Du Modificateur Final !== 최종변경자ID ==! */
                LAST_CHG_DTTM = SYSTIMESTAMP               /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            WHERE ORCY_PROF_RQST_NO = #{orcyProfRqstNo} AND MDFY_DGCNT = #{mdfyDgcnt}
    </update>

    <update id="updateClrOrcyProfRqstComn" parameterType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo">
      /** updateClrOrcyProfRqstComn*/
      UPDATE ALPASSEXT.TB_CLRE_ORCY_PROF_RQST_COMN
        SET  PBLS_DT =TO_CHAR(TO_DATE(#{pblsDt}, 'DD/MM/YYYY'), 'YYYYMMDD')
            ,PRCS_STTS_CD = #{prcsSttsCd}
            ,LAST_CHPR_ID = #{lastChprId}                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
            ,LAST_CHG_DTTM = SYSTIMESTAMP               /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        WHERE ORCY_PROF_RQST_NO = #{orcyProfRqstNo} AND MDFY_DGCNT = #{mdfyDgcnt}
    </update>

    <select id="selectClrOrcyProfAudtDtlList" parameterType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo" resultType="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnDtlVo">
        /* selectClrOrcyProfAudtDtlList : Demander le certificat d'origine Article*/
      SELECT
          ORCY_PROF_RQST_NO,
          MDFY_DGCNT,
          SRNO RNUM,
          SRNO,
          CAG_MGMT_NO,
          HS_CD,
          TM_NM,
          QTY,
          QTY_UT_CD,
          (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD ='COM_0018' AND CD_VDVAL = QTY_UT_CD AND LANG_CD = #{langCd} ) QTY_UT_NM,
          WGHT,
          WGHT_UT_CD,
          (SELECT CD_VDVAL_NM FROM TB_COM_COMN_CD_D_LANG WHERE COMN_CD ='COM_0018' AND CD_VDVAL = WGHT_UT_CD AND LANG_CD = #{langCd} ) WGHT_UT_NM,
          CMDT_CN,
          REFF_INVC_NM,
          DEL_YN
      FROM ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_DTL
      WHERE ORCY_PROF_RQST_NO = #{orcyProfRqstNo}
        AND (ORCY_PROF_RQST_NO,MDFY_DGCNT) IN (SELECT ORCY_PROF_RQST_NO ,MAX(MDFY_DGCNT) FROM ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_DTL WHERE DEL_YN = 'N' AND ORCY_PROF_RQST_NO = #{orcyProfRqstNo}  GROUP BY ORCY_PROF_RQST_NO )
    </select>

    <select id="selectClrOrcyProfPrcsBrkdList" parameterType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo" resultType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo">
        <include refid="pagination.header" />
        SELECT
            PRCS_SRNO,
            ORCY_PROF_RQST_NO,
            MDFY_DGCNT,
            PRCS_STTS_CD,
            TO_CHAR(PRCS_DTRM_DTTM,'DD/MM/YYYY hh24:mi:ss') PRCS_DTRM_DTTM,
            PRCS_STTS_CN
        FROM ALPASSINT.TB_CLRI_ORCY_PROF_PRCS_BRKD
        WHERE ORCY_PROF_RQST_NO = #{orcyProfRqstNo}
        <include refid="pagination.footer" />
    </select>

    <insert id="insertClrOrcyProfPrcsBkrd" parameterType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo">
        /*insertClrOrcyProfPrcsBkrd : historical */
        <selectKey keyProperty="prcsSrno" order="BEFORE" resultType="java.math.BigDecimal">
            SELECT NVL(MAX(PRCS_SRNO),0)+1 FROM ALPASSINT.TB_CLRI_ORCY_PROF_PRCS_BRKD WHERE ORCY_PROF_RQST_NO = #{orcyProfRqstNo}
        </selectKey>
        INSERT INTO ALPASSINT.TB_CLRI_ORCY_PROF_PRCS_BRKD
        (
        PRCS_SRNO,
        ORCY_PROF_RQST_NO,
        MDFY_DGCNT,
        PRCS_STTS_CD,
        PRCS_DTRM_DTTM,
        PRCS_STTS_CN,
        DEL_YN,
        FRST_REGST_ID,
        FRST_RGSR_DTTM,
        LAST_CHPR_ID,
        LAST_CHG_DTTM
        )
        VALUES
        (
        #{prcsSrno},
        #{orcyProfRqstNo},
        #{mdfyDgcnt},
        #{prcsSttsCd},
        SYSTIMESTAMP,
        #{prcsSttsCn},
        'N',
        #{frstRegstId},
        SYSTIMESTAMP,
        #{lastChprId},
        SYSTIMESTAMP
        )
    </insert>

    <select id="selectClrOrcyProfMdfyDgcnt" parameterType ="alpass.ipt.clr.poa.coa.vo.ClrOrcyProfAudtComnVo" resultType="int">
        SELECT NVL(MAX(MDFY_DGCNT),1) MDFY_DGCNT FROM  ALPASSINT.TB_CLRI_ORCY_PROF_AUDT_COMN WHERE ORCY_PROF_RQST_NO = #{orcyProfRqstNo}
    </select>





</mapper>