<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.psc.blgg.audt.mapper.PscBlggAudtMapper">

  <!--
  @TODO:번역필요 !==휴대품 관련 정보 조회 ==!
  -->
  <select id="selectBlggDcshInfo"  parameterType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo" 
    resultType="alpass.ipt.psc.blgg.rgsr.vo.PscDpstDcshVo">
      /* selectBlggDcshInfo */
      <include refid="pagination.header" ></include>

      SELECT
      A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
      , A.DPST_TEMP_NO               /** Numéro provisoire de mise en dépôt !== 예치임시번호 ==! */
      , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
      , A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
      , A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
      , A.PSNR_FMNM                  /** Prénom Du Voyageur !== 여행자성 ==! */
      , A.PSNR_GVNM_NM               /** Prénom du voyageur !== 여행자이름명 ==! */
      , A.GNDR_CD                    /** Code De Sexe !== 성별코드 ==! */
      , A.BRDY                       /** Date De Naissance !== 생년월일 ==! */
      , A.TLPH_NO                    /** N° De Téléphone !== 전화번호 ==! */
      , A.EML                        /** Email !== 이메일 ==! */
      , A.JOB_NM                     /** Profession !== 직업명 ==! */
      , A.DZA_ADDR                   /** Adresse en Algérie !== 알제리주소 ==! */
      , A.OVRS_RSDN_ADDR             /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
      , A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
      , A.ETPR_HH                    /** Date/Heure De L'Entrée !== 입항시 ==! */
      , A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
      , A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
      , A.FLGH_FLNM                  /** N° De Vol !== 항공편명 ==! */
      , A.ARLN_CD                    /** Code De Compagnie Aerienne !== 항공사코드 ==! */
      , A.SHCO_NM                    /** Nom Du Consignataire !== 선사명 ==! */
      , A.SHCO_CD                    /** Code Du Consignataire !== 선사코드 ==! */
      , A.ISPR_ID                    /** Id Du Contrôleur !== 검사자ID ==! */
      , A.INSC_RSN_CD                /** Code De Motif Du Contrôle !== 검사사유코드 ==! */
      , A.INSC_BRKD_CD               /** Code De Résultat Du Contrôle !== 검사내역코드 ==! */
      , A.INSC_DT                    /** Date de vérification !== 검사일자 ==! */
      , A.BLGG_PRCS_RSLT_CD          /** Code de résultat de traitement des effets personnels !== 휴대품처리결과코드 ==! */
      , A.RMRK                       /** Remarque !== 비고 ==! */
      , A.BGGE_TGCNT                 /** Nbr Total De Colis !== 수하물총개수 ==! */
      , A.BGGE_TTWG                  /** Poids Total Des Colis !== 수하물총중량 ==! */
      , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
      , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
      , TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT /** Date D'Enregistrement !== 등록일자 ==! */
      , A.REGST_ID                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
      , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
      , A.BNDL_TX_TAMT               /** Montant total de taxation forfaitaire !==  ==! */
      , A.CSCL_RGSR_DT               /** @TODO : 번역필요 !==  ==! */
      , A.XRAY_NO                    /** numéro de scannage !== XRAY번호 ==! */
      , A.XRAY_INSC_RSN              /** motif de scannage !== XRAY검사사유 ==! */
      , A.BIRT_REGN_NM                 /** Lieu De Naissance !== 출생지역명 ==! */
      , A.ENCY_DEPR_TP_CD                 /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
      , A.BLGG_RQST_STTS_CD          /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
      , TO_CHAR(TO_DATE(A.VALD_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS VALD_DT    /** Date de la validité !== 유효일자 ==! */
      , A.ACKW_TAMT                     /** Valeur reconnue totale !== 총인정금액 ==! */
      , A.BLGG_PSSN_YN                     /** Pocession des effets personnels !== 휴대품소지여부 ==! */
      , A.BGGE_TAMT                     /** Valeur Totale déclarée !== 총신고금액 ==! */
      , A.PSNR_TP_CD                    /** Couloir de voyageurs !== 여행자통로 ==! */
      , A.LND_SEA_TP_CD                     /** Code de voie terrestre/maritime !== 육상해상구분코드 ==! */
      FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_IPRT A
      WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
      AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
      <include refid="pagination.footer" ></include>

    </select>


    <select id="selectBlggDpstDcshInfo"  parameterType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo"
      resultType="alpass.ipt.psc.blgg.rgsr.vo.PscDpstDcshVo">
        /* selectBlggDpstDcshInfo */
        <include refid="pagination.header" ></include>
        SELECT
        A.DPST_TEMP_NO               /** Numéro provisoire de mise en dépôt !== 예치임시번호 ==! */
        , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
        , A.DEPT_CD                      /** Code de service !== 부서코드 ==! */
        , A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        , A.DPST_MGMT_NO               /** Numéro De Série De Transit/Correspondance !== 예치관리번호 ==! */
        , A.BLGG_RQST_STTS_CD          /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
        , A.BLGG_TP_CD                 /** Code de type des effets personnels !== 휴대품구분코드 ==! */
        , A.PSNR_FMNM                  /** Prénom Du Voyageur !== 여행자성 ==! */
        , A.PSNR_GVNM_NM               /** Prénom du voyageur !== 여행자이름명 ==! */
        , A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
        , A.BRDY
        <!--    , TO_CHAR(TO_DATE(A.BRDY, 'YYYYMMDD'), 'DD/MM/YYYY') AS BRDY /** Date De Naissance !== 생년월일 ==! */-->
        , A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
        , A.DZA_ADDR                   /** Adresse en Algérie !== 알제리주소 ==! */
        , A.OVRS_RSDN_ADDR             /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
        , A.EML                        /** Email !== 이메일 ==! */
        , A.TLPH_NO                    /** N° De Téléphone !== 전화번호 ==! */
        , A.JOB_NM                     /** Profession !== 직업명 ==! */
        , A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
        , A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
        , A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
        , TO_CHAR(TO_DATE(A.STGE_PRID_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS STGE_PRID_DT /** Date d'échéance !== 장치기간일자 ==! */
        , A.BGGE_TGCNT                 /** Nbr Total De Colis !== 수하물총개수 ==! */
        , A.BGGE_TAMT                  /** Valeur totale de bagages !== 수하물총금액 ==! */
        , A.AMT_CURR_CD                /** Code de montant et des devises !== 금액통화코드 ==! */
        , A.DPST_RSN_CN                /** Motif de mise en dépôt !== 예치사유내용 ==! */
        , A.BIRT_REGN_NM               /** Lieu De Naissance !== 출생지역명 ==! */
        , TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT /** Date D'Enregistrement !== 등록일자 ==! */
        , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
        , A.DPST_SFKP_EVDC_NO          /** Numéro de bulletin de dépôt !== 예치보관증서번호 ==! */
        , A.REGST_ID                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
        , A.RLSE_RQST_DT               /** Date de demande de sortie !== 반출신청일자 ==! */
        , A.STGE_PRID_XTNS_REQST_DT       /** Date d'échéance sollicitée !== 장치기간연장요청일자 ==! */
        , A.RLSE_YN                    /** Enlevé On !== 반출여부 ==! */
        , A.CSCL_DT                    /** Date de dédouanement !== 통관일자 ==! */
        , A.BNDL_TX_TAMT               /** Montant total de taxation forfaitaire !== 일괄과세총금액 ==! */
        , A.RMRK                       /** Remarque !== 비고 ==! */
        , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
        , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , A.DPST_SHED_NM
        , A.GNDR_CD
        , A.ENCY_DEPR_TP_CD                 /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
        , A.FLGH_FLNM                  /** N° De Vol !== 항공편명 ==! */
        , A.ARLN_CD                    /** Code De Compagnie Aerienne !== 항공사코드 ==! */
        , A.SHCO_NM                    /** Nom Du Consignataire !== 선사명 ==! */
        , A.SHCO_CD                    /** Code Du Consignataire !== 선사코드 ==! */
        , A.PSNR_TP_CD                      /** Couloir de voyageurs !== 여행자통로 ==! */
        , A.ESTM_YN                      /** Présumé O/N !== 추정여부 ==! */
        , A.PSPR_VALD_DT
        , A.PSPR_NO_ISS_DT                      /** Date de délivrance du passeport !== 여권발급일자 ==! */
        , A.PSPR_NO_ISS_ITT                     /** Lieu de délivrance du passeport !== 여권발급기관 ==! */
        FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_DPST A
        WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  A.DPST_TEMP_NO = #{dpstTempNo}              /** Numéro provisoire de mise en dépôt !== 예치임시번호 ==! */
        <include refid="pagination.footer" ></include>
    </select>

  <select id="selectAudtHistList"  parameterType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo" 
    resultType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo"> 
      /* selectAudtHistList */
      SELECT
      A.DPST_TEMP_NO               /** Numéro provisoire de mise en dépôt !== 예치임시번호 ==! */
      , A.AUDT_DGCNT                 /** ordre de jugement !== 심사차수 ==! */
      , A.BLGG_TP_CD                 /** Code de type des effets personnels !== 휴대품구분코드 ==! */
      , A.AUDT_RSLT_CD               /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
      , A.AUDT_RSLT_CN               /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
      , A.AUDT_RSLT_RGSR_DTTM        /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
      , A.ADOR_ID ||' (' || (SELECT FONC_CD_NM FROM TB_POTI_FONC_CD_LANG WHERE LANG_CD = 'FR' AND FONC_CD = EMP.FONC_CD) || ')' AS  ADOR_ID                   /** Id De L'Inspecteur !== 심사자ID ==! */
      , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
      , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
      , A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
      , A.BLGG_RQST_STTS_CD          /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
      , A.SPOT_AUDT_YN
      , A.BLGG_SPOT_AUDT_RSLT_CD
      , A.SPOT_AUDT_RSLT_CN
      , A.SPOT_AUDT_RSLT_RGSR_DTTM
      , A.BLGG_AUDT_RSLT_DTL_CD
      FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_AUDT A,
                        TB_POTI_EMP EMP
      WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
      AND  A.ADOR_ID = EMP.PBSR_NO
      AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
      <if test='audtDgcnt != null and audtDgcnt != "" '>
      AND  A.AUDT_DGCNT = #{audtDgcnt}                 /** ordre de jugement !== 심사차수 ==! */
      </if>
      ORDER BY A.AUDT_DGCNT DESC
  </select>
  
  <select id="selectAudtMaxHist"  parameterType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo" 
    resultType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo"> 
      /* selectAudtMaxHist */
      SELECT
      A.DPST_TEMP_NO               /** Numéro provisoire de mise en dépôt !== 예치임시번호 ==! */
      , A.AUDT_DGCNT                 /** ordre de jugement !== 심사차수 ==! */
      , A.BLGG_TP_CD                 /** Code de type des effets personnels !== 휴대품구분코드 ==! */
      , A.AUDT_RSLT_CD               /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
      , A.AUDT_RSLT_CN               /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
      , A.AUDT_RSLT_RGSR_DTTM        /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
      , A.ADOR_ID                    /** Id De L'Inspecteur !== 심사자ID ==! */
      , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
      , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
      , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
      , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
      , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
      , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
      , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
      , A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
      , A.BLGG_RQST_STTS_CD          /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
      , A.SPOT_AUDT_YN
      , A.BLGG_SPOT_AUDT_RSLT_CD
      , A.SPOT_AUDT_RSLT_CN
      , A.SPOT_AUDT_RSLT_RGSR_DTTM
      , A.BLGG_AUDT_RSLT_DTL_CD
      FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_AUDT A
      WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
      AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
      AND  A.AUDT_DGCNT = (SELECT MAX(AUDT_DGCNT) FROM TB_PSCI_PSNR_BLGG_AUDT WHERE BLGG_MGMT_NO = A.BLGG_MGMT_NO  )  /** ordre de jugement !== 심사차수 ==! */
  </select>
  
  <!--
    @TODO:번역필요 !== GeneratorComments 수정 ==!
    (Generated)
    -->
    <update id="updateBlggDcshAudt" parameterType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo">
        /* updateBlggDcshAudt */
        UPDATE  TB_PSCI_PSNR_BLGG_AUDT SET
          BLGG_TP_CD = #{blggTpCd}                    /** Code de type des effets personnels !== 휴대품구분코드 ==! */
          , AUDT_RSLT_CD = #{audtRsltCd}                /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
          , AUDT_RSLT_CN = #{audtRsltCn}                /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
          , AUDT_RSLT_RGSR_DTTM = #{audtRsltRgsrDttm}   /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
          , ADOR_ID = #{adorId}                         /** Id De L'Inspecteur !== 심사자ID ==! */
          , APRV_ID = #{aprvId}                         /** Id D'Approbation  !== 결재ID ==! */
          , APRV_PRCS_STTS_CD = #{aprvPrcsSttsCd}       /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
          , BLGG_RQST_STTS_CD = #{blggRqstSttsCd;}          /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
          , LAST_CHPR_ID = #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
          , LAST_CHG_DTTM = CURRENT_TIMESTAMP                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  BLGG_MGMT_NO = #{blggMgmtNo}               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        AND  AUDT_DGCNT = #{audtDgcnt}                   /** ordre de jugement !== 심사차수 ==! */
    </update>
    
    
   <!--
   @TODO:번역필요 !== GeneratorComments 등록 ==!
   (Generated)
   insertBlggDcshPrcsBrkd
   -->
   <insert id="insertPscBlggDcshAudt" parameterType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo">
   		/* insertPscBlggDcshAudt */
	<selectKey keyProperty="audtDgcnt" order="BEFORE" resultType="java.math.BigDecimal">
	 	SELECT NVL(MAX(AUDT_DGCNT),0)+1 FROM ALPASSINT.TB_PSCI_PSNR_BLGG_AUDT WHERE BLGG_MGMT_NO = #{blggMgmtNo}
	</selectKey>
	INSERT INTO ALPASSINT.TB_PSCI_PSNR_BLGG_AUDT
       (
       DPST_TEMP_NO                 /** Numéro provisoire de mise en dépôt !== 예치임시번호 ==! */
       , BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
       , AUDT_DGCNT                   /** ordre de jugement !== 심사차수 ==! */
       , BLGG_TP_CD                   /** Code de type des effets personnels !== 휴대품구분코드 ==! */
       , AUDT_RSLT_CD                 /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
       , AUDT_RSLT_CN                 /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
       , AUDT_RSLT_RGSR_DTTM          /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
       , ADOR_ID                      /** Id De L'Inspecteur !== 심사자ID ==! */
       , APRV_ID                      /** Id D'Approbation  !== 결재ID ==! */
       , APRV_PRCS_STTS_CD            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
       , BLGG_RQST_STTS_CD            /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
       , DEL_YN                       /** Suppression On !== 삭제여부 ==! */
       , FRST_REGST_ID                /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
       , FRST_RGSR_DTTM               /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
       , LAST_CHPR_ID                 /** Id Du Modificateur Final !== 최종변경자ID ==! */
       , LAST_CHG_DTTM                /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
       , SPOT_AUDT_YN
       , BLGG_SPOT_AUDT_RSLT_CD            /** Code de résultat de contrôle physique des effets personnels !== 휴대품현장심사결과코드 ==! */
       , BLGG_AUDT_RSLT_DTL_CD             /** Code détaillé de résultat de contrôle des effers personnels !== 휴대품심사결과상세코드 ==! */
       )
       VALUES
       (
       #{dpstTempNo}                /** Numéro provisoire de mise en dépôt !== 예치임시번호 ==! */
       , #{blggMgmtNo}                 /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
       , #{audtDgcnt}                 /** ordre de jugement !== 심사차수 ==! */
       , #{blggTpCd}                  /** Code de type des effets personnels !== 휴대품구분코드 ==! */
       , #{audtRsltCd}                /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
       , #{audtRsltCn}                /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
       , CURRENT_TIMESTAMP          /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
       , #{adorId}                    /** Id De L'Inspecteur !== 심사자ID ==! */
       , #{aprvId}                    /** Id D'Approbation  !== 결재ID ==! */
       , #{aprvPrcsSttsCd}            /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
       , #{blggRqstSttsCd}            /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
       , 'N'                          /** Suppression On !== 삭제여부 ==! */
       , #{frstRegstId}               /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
       , CURRENT_TIMESTAMP                 /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
       , #{lastChprId}                /** Id Du Modificateur Final !== 최종변경자ID ==! */
       , CURRENT_TIMESTAMP                 /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
       , #{spotAudtYn}
       , #{blggSpotAudtRsltCd}           /** Code de résultat de contrôle physique des effets personnels !== 휴대품현장심사결과코드 ==! */
       , #{blggAudtRsltDtlCd}             /** Code détaillé de résultat de contrôle des effers personnels !== 휴대품심사결과상세코드 ==! */
       )
    </insert>

    <!--
    @TODO:번역필요 !== GeneratorComments 목록 조회 ==!
    -->
    <select id="selectPscDpstAudtPdlsList"
      parameterType="alpass.ipt.psc.blgg.rgsr.vo.PscDpstDcshPdlsVo" resultType="alpass.ipt.psc.blgg.rgsr.vo.PscDpstDcshPdlsVo">
        /* selectPscDpstAudtPdlsList */
        <include refid="pagination.header" ></include>

        SELECT
        A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        , A.BLGG_SRNO                  /** Numéro De Série Du Contrôle Des Bagages !== 휴대품일련번호 ==! */
        , A.PDLS_NM                    /** Nom De L'Article !== 품목명 ==! */
        , A.QTY                        /** Quantité !== 수량 ==! */
        , A.QTY_UT_CD                  /** Code De L'Unité De Quantité !== 수량단위코드 ==! */
        , A.WGHT                       /** Poids !== 중량 ==! */
        , A.WGHT_UT_CD                 /** Unité De Poids !== 중량단위코드 ==! */
        , A.NWPR_YN                    /** Etat Neuf/D'Occasion !== 신상품여부 ==! */
        , A.AMT                        /** Montant !== 금액 ==! */
        , A.RPC_CD                     /** Marchandises Marchandise Code Tarif Code Nsh !== 가격코드 ==! */
        , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
        , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , A.BNDL_TX_TP_CD              /** Code de type de taxation forfaitaire !==  ==! */
        , A.BLGG_XAMT                  /** @TODO : 번역필요 !==  ==! */
        , A.FRXCG_CURR_CD              /** Code de devise étrangère !==  ==! */
        , A.FRXCG_DZD_AMT              /** Montant de DZD des devises !==  ==! */
        , A.TX_AMT                     /** Montant de la taxe imposée !== 과세금액 ==! */
        , A.BLGG_TP_CD                 /** Code de type des effets personnels !== 휴대품구분코드 ==! */
        , A.DCLR_ACKW_AMT              /** valeur reconnue !== 신고인정금액 ==! */
        , A.BLGG_END_TP_CD             /** Type d'apurement des effets personnels !== 휴대품종료구분코드	 ==! */
        , A.RLSE_DT                    /** Date D'Enlèvement !==  ==! */
        , A.RLSE_APRE_EMP_ID           /** Identifiant Du Chargé D'Autorisation De Sortie !==  ==! */
        , A.RLSE_QTY                   /** Quantité de sortie !== 반출수량 ==! */
        , A.RLSE_WGHT                  /** Poids sorti !== 반출중량 ==! */
        , A.RLSE_EMP_ID                /** @TODO : 번역필요 !== 반출직원ID ==! */
        , A.BLGG_NWPR_SCAR_CD          /** @TODO : 번역필요 !== 휴대품신상품중고코드 ==! */
        , A.DPST_TP_CD          /** Catégorie de mise en dépôt !== 예치구분 ==! */
        , A.BRNG_YN           /** Entrée O/N !== 반입여부  ==! */
        , A.RLSE_YN           /** Sortie O/N !== 반출여부  ==! */
        , A.BRNG_DT           /** @TODO : 번역필요 !== 반입일자  ==! */
        , A.BRNG_EMP_ID           /** @TODO : 번역필요 !== 반입직원ID  ==! */
        , A.DPST_RSN_CD                /** Motif de mise en dépôt !== 예치사유 ==! */
        , A.RELA_NO_SRNO                /** N° de série(immatriculation) !== 물품일련번호 ==! */
        , A.UT_DCLR_AMT                /** Valeur unitaire déclarée !== 단위신고금액 ==! */
        , A.UT_ACKW_AMT                /** Valeur reconnue unitaire !== 단위인정금액 ==! */
        , A.UT_DZD_TRFM_AMT                /** Montant unitaire en DZD !== 단위DZD변환금액 ==! */
        , A.DPST_CMD_YN                     /** Ordre de la mise en dépôt O/N !== 예치명령여부 ==! */
        , A.RLSE_PERM_YN                     /** Autorisation de la sortie du magasin O/N !== 반출허가여부 ==! */
        FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_INSC_PDLS A
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        <if test='blggEndTpCd != null and blggEndTpCd != ""'>
            AND  A.BLGG_END_TP_CD = #{blggEndTpCd}                   /** Type d'apurement des effets personnels !== 휴대품종료구분코드	 ==! */
        </if>
        <if test='blggSrno != null and blggSrno != ""'>
            AND  A.BLGG_SRNO = #{blggSrno}                   /** Numéro De Série Du Contrôle Des Bagages !== 휴대품일련번호 ==! */
        </if>
        ORDER BY A.BLGG_SRNO

        <include refid="pagination.footer" ></include>
    </select>


    <!--
    @TODO:번역필요 !==휴대품 관련 정보 조회 ==!
    -->
    <select id="selectBlggGnrlInfo"  parameterType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo"
      resultType="alpass.ipt.psc.blgg.rgsr.vo.PscInscDcshVo">
        /* selectBlggGnrlInfo */
        <include refid="pagination.header" ></include>

        SELECT
        A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
        , A.DEPT_CD                      /** Code de service !== 부서코드 ==! */
        , A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
        , A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
        , A.PSNR_FMNM                  /** Prénom Du Voyageur !== 여행자성 ==! */
        , A.PSNR_GVNM_NM               /** Prénom du voyageur !== 여행자이름명 ==! */
        , A.GNDR_CD                    /** Code De Sexe !== 성별코드 ==! */
        , TO_CHAR(TO_DATE(A.BRDY, 'YYYYMMDD'), 'DD/MM/YYYY') AS BRDY /** Date De Naissance !== 생년월일 ==! */
        , A.TLPH_NO                    /** N° De Téléphone !== 전화번호 ==! */
        , A.EML                        /** Email !== 이메일 ==! */
        , A.JOB_NM                     /** Profession !== 직업명 ==! */
        , A.DZA_ADDR                   /** Adresse en Algérie !== 알제리주소 ==! */
        , A.OVRS_RSDN_ADDR             /** Adresse de résidence à l'étranger !== 해외거주주소 ==! */
        , TO_CHAR(TO_DATE(A.ARVL_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS ARVL_DT /** Date D'Arrivée !== 도착일자 ==! */
        , A.ETPR_HH                    /** Date/Heure De L'Entrée !== 입항시 ==! */
        , A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
        , A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
        , A.FLGH_FLNM                  /** N° De Vol !== 항공편명 ==! */
        , A.ARLN_CD                    /** Code De Compagnie Aerienne !== 항공사코드 ==! */
        , A.SHCO_NM                    /** Nom Du Consignataire !== 선사명 ==! */
        , A.SHCO_CD                    /** Code Du Consignataire !== 선사코드 ==! */
        , A.ISPR_ID                    /** Id Du Contrôleur !== 검사자ID ==! */
        , A.INSC_RSN_CD                /** Code De Motif Du Contrôle !== 검사사유코드 ==! */
        , A.INSC_BRKD_CD               /** Code De Résultat Du Contrôle !== 검사내역코드 ==! */
        , A.INSC_DT                    /** Date de vérification !== 검사일자 ==! */
        , A.BLGG_PRCS_RSLT_CD          /** Code de résultat de traitement des effets personnels !== 휴대품처리결과코드 ==! */
        , A.RMRK                       /** Remarque !== 비고 ==! */
        , A.BGGE_TGCNT                 /** Nbr Total De Colis !== 수하물총개수 ==! */
        , A.BGGE_TTWG                  /** Poids Total Des Colis !== 수하물총중량 ==! */
        , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
        , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
        , A.RGSR_DT                    /** Date D'Enregistrement !== 등록일자 ==! */
        , A.REGST_ID                   /** Id De La Personne Enregistrant !== 등록자ID ==! */
        , A.ATCH_FILE_ID               /** Id Du Fichier Joint !== 첨부파일ID ==! */
        , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
        , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , A.BNDL_TX_TAMT               /** Montant total de taxation forfaitaire !==  ==! */
        , A.CSCL_RGSR_DT               /** @TODO : 번역필요 !==  ==! */
        , A.XRAY_NO                    /** numéro de scannage !== XRAY번호 ==! */
        , A.XRAY_INSC_RSN              /** motif de scannage !== XRAY검사사유 ==! */
        , A.BIRT_REGN_NM                 /** Lieu De Naissance !== 출생지역명 ==! */
        , A.ENCY_DEPR_TP_CD                 /** Code d'entrée et de sortie !== 입국출국구분코드 ==! */
        , A.BLGG_RQST_STTS_CD            /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
        , TO_CHAR(TO_DATE(A.VALD_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS VALD_DT    /** Date de la validité !== 유효일자 ==! */
        , A.ACKW_TAMT                     /** Valeur reconnue totale !== 총인정금액 ==! */
        , A.BLGG_PSSN_YN                     /** Pocession des effets personnels !== 휴대품소지여부 ==! */
        , A.BGGE_TAMT                     /** Valeur Totale déclarée !== 총신고금액 ==! */
        , A.PSNR_TP_CD                    /** Couloir de voyageurs !== 여행자통로 ==! */
        , A.LND_SEA_TP_CD                     /** Code de voie terrestre/maritime !== 육상해상구분코드 ==! */
        FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_IPRT A
        WHERE  A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        <include refid="pagination.footer" ></include>

    </select>


    <select id="selectAudtBlggMaxHist"  parameterType="alpass.ipt.psc.blgg.rgsr.vo.PscInscDcshVo"
      resultType="alpass.ipt.psc.blgg.audt.vo.PscBlggDcshAudtVo">
        /* selectAudtBlggMaxHist */
        SELECT
        A.DPST_TEMP_NO               /** Numéro provisoire de mise en dépôt !== 예치임시번호 ==! */
        , A.AUDT_DGCNT                 /** ordre de jugement !== 심사차수 ==! */
        , A.BLGG_TP_CD                 /** Code de type des effets personnels !== 휴대품구분코드 ==! */
        , A.AUDT_RSLT_CD               /** Code De Résultat De La Vérification !== 심사결과코드 ==! */
        , A.AUDT_RSLT_CN               /** Contenu Du Résultat De La Vérification !== 심사결과내용 ==! */
        , A.AUDT_RSLT_RGSR_DTTM        /** Date/Heure d'enregistrement du résultat de contrôle !== 심사결과등록일시 ==! */
        , A.ADOR_ID                    /** Id De L'Inspecteur !== 심사자ID ==! */
        , A.APRV_ID                    /** Id D'Approbation  !== 결재ID ==! */
        , A.APRV_PRCS_STTS_CD          /** Code De Statut Du Traitement D'Approbation !== 결재처리상태코드 ==! */
        , A.DEL_YN                     /** Suppression On !== 삭제여부 ==! */
        , A.FRST_REGST_ID              /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
        , A.FRST_RGSR_DTTM             /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
        , A.LAST_CHPR_ID               /** Id Du Modificateur Final !== 최종변경자ID ==! */
        , A.LAST_CHG_DTTM              /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
        , A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        , A.BLGG_RQST_STTS_CD          /** Code de statut de demande des effets personnels !== 휴대품신청상태코드 ==! */
        , A.SPOT_AUDT_YN
        , A.BLGG_SPOT_AUDT_RSLT_CD
        , A.SPOT_AUDT_RSLT_CN
        , A.SPOT_AUDT_RSLT_RGSR_DTTM
        , A.BLGG_AUDT_RSLT_DTL_CD
        FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_AUDT A
        WHERE  DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        AND  A.AUDT_DGCNT = (SELECT MAX(AUDT_DGCNT) FROM TB_PSCI_PSNR_BLGG_AUDT WHERE BLGG_MGMT_NO = A.BLGG_MGMT_NO  )  /** ordre de jugement !== 심사차수 ==! */
    </select>

    <select id="selectBlggListXlsDwn"  parameterType="alpass.ipt.psc.blgg.lst.vo.PscInscSearchVo"
      resultType="alpass.ipt.psc.blgg.lst.vo.PscInscSearchVo">
        /* selectBlggListXlsDwn */
        SELECT
        A.BLGG_MGMT_NO               /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        , A.CSTM_CD                    /** Code Du Bureau !== 세관코드 ==! */
        , FN_GET_ORGN_NM(A.CSTM_CD) AS CSTM_CD_NM               /**  !== 세관명 ==! */
        , A.PSPR_NO                    /** N° De Passeport !== 여권번호 ==! */
        , A.NAT_CD                     /** Code De Nationalité !== 국적코드 ==! */
        , FN_GET_CNTY_NM(A.NAT_CD, #{langCd}) AS NAT_CD_NM /**  !== 국가명 ==! */
        , A.ARVL_DT                    /** Date D'Arrivée !== 도착일자 ==! */
        , A.ETPR_HH                    /** Date/Heure De L'Entrée !== 입항시 ==! */
        , A.PSNR_BRLC_CD               /** Lieu de départ du voyageur !== 여행자탑승지코드 ==! */
        , A.PSNR_ARLC_CD               /** Lieu de destination du voyageur !== 여행자도착지코드 ==! */
        , A.FLGH_FLNM                  /** N° De Vol !== 항공편명 ==! */
        , A.ARLN_CD                    /** Code De Compagnie Aerienne !== 항공사코드 ==! */
        , A.SHCO_NM                    /** Nom Du Consignataire !== 선사명 ==! */
        , A.SHCO_CD                    /** Code Du Consignataire !== 선사코드 ==! */
        , A.ISPR_ID                    /** Id Du Contrôleur !== 검사자ID ==! */
        , A.INSC_RSN_CD                /** Code De Motif Du Contrôle !== 검사사유코드 ==! */
        , A.INSC_BRKD_CD               /** Code De Résultat Du Contrôle !== 검사내역코드 ==! */
        , A.BLGG_PRCS_RSLT_CD          /** Code de résultat de traitement des effets personnels !== 휴대품처리결과코드 ==! */
        , TO_CHAR(TO_DATE(A.RGSR_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS RGSR_DT /** Date D'Enregistrement !== 등록일자 ==! */
        , TO_CHAR(TO_DATE(A.INSC_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS INSC_DT /** Date de vérification !== 검사일자 ==! */
        , A.XRAY_NO                    /** numéro de scannage !== XRAY번호 ==! */
        , A.XRAY_INSC_RSN              /** motif de scannage !== XRAY검사사유 ==! */
        , A.BIRT_REGN_NM               /** Lieu De Naissance !== 출생지역명 ==! */
        , A.BLGG_DTRM_NO
        , A.BLGG_RQST_STTS_CD
        , A.ENCY_DEPR_TP_CD
        , A.PSNR_TP_CD                    /** Couloir de voyageurs !== 여행자통로 ==! */
        , A.LND_SEA_TP_CD                     /** Code de voie terrestre/maritime !== 육상해상구분코드 ==! */
        FROM   ALPASSINT.TB_PSCI_PSNR_BLGG_IPRT A
        WHERE A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        <if test='userCstmCd != null and userCstmCd != "" '>
            AND A.CSTM_CD = #{userCstmCd}
        </if>
        <if test='deptCd != null and deptCd != "" '>
            AND A.DEPT_CD = #{deptCd}
        </if>
        <if test="sctrCd != null and sctrCd != ''">
            AND A.CSTM_CD LIKE SUBSTRING(#{sctrCd},1,3) || '%'
        </if>
        <if test='blggMgmtNo != null and blggMgmtNo != ""'>
            AND  A.BLGG_MGMT_NO = #{blggMgmtNo}              /** N° De La Gestion Des Bagages Accompagnés !== 휴대품관리번호 ==! */
        </if>
        <if test='blggDtrmNo != null and blggDtrmNo != ""'>
            AND  A.BLGG_DTRM_NO = #{blggDtrmNo}              /**  !==  ==! */
        </if>
        <if test='psprNo != null and psprNo != ""'>
            AND A.PSPR_NO = #{psprNo}
        </if>
        <if test='natCd != null and natCd != ""'>
            AND A.NAT_CD = #{natCd}
        </if>
        <if test='blggRqstSttsCd != null and blggRqstSttsCd != ""'>
            AND A.BLGG_RQST_STTS_CD = #{blggRqstSttsCd}
        </if>
        <if test='(dclrDtFrom != null and !"".equals(dclrDtFrom)) and (dclrDtTo != null and !"".equals(dclrDtTo))'>
            AND A.RGSR_DT BETWEEN TO_CHAR(TO_DATE(REPLACE(#{dclrDtFrom}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD') AND TO_CHAR(TO_DATE(REPLACE(#{dclrDtTo}, '/', ''), 'DDMMYYYY'), 'YYYYMMDD')
        </if>
        ORDER BY A.FRST_RGSR_DTTM DESC
    </select>
    
</mapper>