<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper">
   	<!--
	   Consulter la liste de marchandises ayant dépassé le délai légal du séjour.
	   !== 보관일경과물품 목록을 조회한다. ==!
	   (Jeonghun Lee)
	-->
    <select id="selectStdtPassCmdtList" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.selectStdtPassCmdtList */
        <include refid="pagination.header" />
			SELECT
			       A.DPOT_NO                    /** N° dépôt !== 데포번호 ==! */
			     , A.CAG_MGMT_NO                /** Crn !== 화물관리번호 ==! */
			     , A.BL_NO                      /** N° De Bl !== BL번호 ==! */
			     , A.PDLS_NM                    /** Nom De L'Article !== 품목명 ==! */
			     , A.PCKG_GCNT                  /** Nombre De Colis !== 포장개수 ==! */
			     , A.WGHT                       /** Poids !== 중량 ==! */
			     , TO_CHAR(TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS FRST_BRNG_DT    /** Date d'introduction initiale !== 최초반입일자 ==! */
			     , A.IBOBZ_CD                        /** Code de zone sous douane !== 보세구역코드 ==! */
			     , C1.IBOBZ_NM
			     , A.JRSD_ORGN_CD                    /** Code D'Unité Compétente !== 관할조직코드 ==! */
			     , C3.ORGN_NM AS JRSD_ORGN_NM
			     , A.TNFR_IBOBZ_CD                   /** Code de zone sous douane de transport !== 이송보세구역코드 ==! */
           , C2.IBOBZ_NM AS TNFR_IBOBZ_NM
			     , A.TNFR_JRSD_ORGN_CD               /** Code de service compétent de transport !== 이송관할조직코드 ==! */
			     , C4.ORGN_NM AS TNFR_JRSD_ORGN_NM
			     , A.TRNP_NEED_YN                    /** Nécessité de transport O/N !== 운송필요여부 ==! */
			     , A.FIX_YN                          /** Confirmation O/N !== 확정여부 ==! */
			     , A.AUDT_OPIN_CN                    /** Contenu de l'opinion à la suite de la vérification !== 심사의견내용 ==! */
                 , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FIX_DTTM     /** Date et heure de confirmation !== 확정일시 ==! */
			     , A.FIX_EMP_ID                      /** ID de l'agent chargé de confirmation !== 확정직원ID ==! */
			     , A.RELE_YN                         /** Levée  !== 해제여부 ==! */
			     , TO_CHAR(A.RELE_DTTM, 'DD/MM/YYYY') AS RELE_DTTM   /** Moment De Mainlevée !== 해제일시 ==! */
			     , A.TRNP_RQST_NO                    /** N° de demande de transfert !== 운송신청번호 ==! */
			FROM   TB_CARI_STDT_PASS_CMDT A
			     , TB_CARI_IBOBZ C1
			     , TB_CARI_IBOBZ C2
			     , TB_POTI_ORGN C3
        	 , TB_POTI_ORGN C4
			WHERE  A.IBOBZ_CD           = C1.IBOBZ_CD(+)
			AND    C1.DEL_YN(+)         = 'N'
			AND    A.TNFR_IBOBZ_CD      = C2.IBOBZ_CD(+)
            AND    C2.DEL_YN(+)         = 'N'
            AND    A.JRSD_ORGN_CD       = C3.ORGN_CD(+)
            AND    C3.DEL_YN(+)         = 'N'
            AND    A.TNFR_JRSD_ORGN_CD  = C4.ORGN_CD(+)
            AND    C4.DEL_YN(+)         = 'N'
			AND    A.DEL_YN             = 'N'                                /** Suppression ON !== 삭제여부 ==! */
            AND    A.JRSD_ORGN_CD       LIKE SUBSTR(#{jrsdOrgnCd}, 1, 5) || '%'

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(fixYn)">
            AND    A.FIX_YN = #{fixYn}                     /** Confirmation O/N !== 확정여부 ==! */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(ibobzCd)">
            AND    A.IBOBZ_CD = #{ibobzCd}       /**  Code de zone sous douane  !== 보세구역코드 ==!  */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(tnfrIbobzCd)">
            AND    A.TNFR_IBOBZ_CD = #{tnfrIbobzCd}       /** Code de zone sous douane de transport !== 이송보세구역코드 ==! */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
            AND    A.CAG_MGMT_NO LIKE #{cagMgmtNo} || '%'  /** CRN !== 화물관리번호  ==! */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(blNo)">
            AND    A.BL_NO LIKE #{blNo} || '%'             /** N° de BL !==BL번호==! */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(dpotNo)">
            AND    A.DPOT_NO LIKE #{dpotNo} || '%'             /** N° dépôt !== 데포번호 ==! */
        </if>

        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(frstBrngDtFrom) and @alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(frstBrngDtTo)">
            /**  Première date d'entrée  !== 최초반입일자 ==!  */
            AND (
                  A.FRST_BRNG_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{frstBrngDtFrom}, 'DD/MM/YYYY'), 'YYYYMMDD')       /**  Date et heure de transmission  !== 전송일시 ==!  */
                  AND A.FRST_BRNG_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{frstBrngDtTo}, 'DD/MM/YYYY')+0.9999, 'YYYYMMDD')   /**  Date et heure de transmission  !== 전송일시 ==!  */
                )
        </if>

		ORDER BY A.FRST_BRNG_DT DESC, A.DPOT_NO DESC
        <include refid="pagination.footer" />
    </select>

    <!--
	   Consulter les détails de marchandises ayant dépassé le délai légal du séjour.
	   !== 보관일경과물품 내역을 상세조회한다. ==!
	   (Jeonghun Lee)
	-->
    <select id="selectStdtPassCmdt" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.selectStdtPassCmdt */
        SELECT
               CASE WHEN A.TRNP_NEED_YN = 'Y' THEN A.DPOT_NO || '-1'
				            ELSE ''
				       END AS OT_NO
	           , CASE WHEN A.TRNP_NEED_YN = 'Y' THEN TO_CHAR(NVL(A.FIX_DTTM, A.FRST_RGSR_DTTM), 'DD/MM/YYYY')
	                  ELSE ''
	             END AS OT_NO_CRET_DT
				     , A.DPOT_NO                    /** N° dépôt !== 데포번호 ==! */
             , A.CAG_MGMT_NO                /** Crn !== 화물관리번호 ==! */
             , (SELECT CNSI_NM FROM TB_CARI_CAG_DCSH_BL WHERE DEL_YN = 'N' AND CAG_MGMT_NO = A.CAG_MGMT_NO) AS OWRG_NM      /** Nom Du Propriétaire !== 화주명 ==! */
             , A.BL_NO                      /** N° De Bl !== BL번호 ==! */
             , A.PDLS_NM                    /** Nom De L'Article !== 품목명 ==! */
             , A.PCKG_GCNT                  /** Nombre De Colis !== 포장개수 ==! */
             , A.WGHT                       /** Poids !== 중량 ==! */
             , TO_CHAR(TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS FRST_BRNG_DT   /** Date d'introduction initiale !== 최초반입일자 ==! */
             , A.IBOBZ_CD                   /** Code de zone sous douane !== 보세구역코드 ==! */
             , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.IBOBZ_CD AND DEL_YN = 'N') AS IBOBZ_NM
             , A.JRSD_ORGN_CD               /** Code D'Unité Compétente !== 관할조직코드 ==! */
             , B.ORGN_NM AS JRSD_ORGN_NM    /** Service compétent !== 관할조직 ==! */
             , B.JRSD_CSTM_CD
             , B.JRSD_CSTM_NM
             , A.TNFR_IBOBZ_CD              /** Code de zone sous douane de transport !== 이송보세구역코드 ==! */
             , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.TNFR_IBOBZ_CD AND DEL_YN = 'N') AS TNFR_IBOBZ_NM
             , A.TNFR_JRSD_ORGN_CD          /** Code de service compétent de transport !== 이송관할조직코드 ==! */
             , C.ORGN_NM AS TNFR_JRSD_ORGN_NM
             , C.JRSD_CSTM_CD AS TNFR_JRSD_CSTM_CD
             , C.JRSD_CSTM_NM AS TNFR_JRSD_CSTM_NM
             , A.TRNP_NEED_YN               /** Nécessité de transport O/N !== 운송필요여부 ==! */
             , A.FIX_YN                     /** Confirmation O/N !== 확정여부 ==! */
             , A.AUDT_OPIN_CN                    /** Contenu de l'opinion à la suite de la vérification !== 심사의견내용 ==! */
             , TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FIX_DTTM    /** Date et heure de confirmation !== 확정일시 ==! */
             , A.FIX_EMP_ID                 /** ID de l'agent chargé de confirmation !== 확정직원ID ==! */
             , (SELECT EMP_NM FROM TB_POTI_EMP WHERE DEL_YN = 'N' AND PBSR_NO = A.FIX_EMP_ID) AS FIX_EMP_NM
             , A.RELE_YN                    /** Levée  !== 해제여부 ==! */
             , TO_CHAR(A.RELE_DTTM, 'DD/MM/YYYY') AS RELE_DTTM      /** Moment De Mainlevée !== 해제일시 ==! */
             , A.TRNP_RQST_NO               /** N° de demande de transfert !== 운송신청번호 ==! */
             , (SELECT TO_CHAR(TO_DATE(DPTR_DT, 'YYYYMMDD'), 'DD/MM/YYYY')
                FROM ALPASSEXT.TB_CARE_TRNP
                WHERE DEL_YN = 'N' AND TRNP_RQST_NO = A.TRNP_RQST_NO) AS DPTR_DT  /** Date Et Heure De Départ !== 출발일시 ==! */
        FROM   TB_CARI_STDT_PASS_CMDT A
		      LEFT JOIN (SELECT
		                     C1.ORGN_CD
		                   , C1.ORGN_NM
		                   , C2.ORGN_CD AS JRSD_CSTM_CD
		                   , C2.ORGN_NM AS JRSD_CSTM_NM
		                 FROM TB_POTI_ORGN C1
		                   LEFT JOIN TB_POTI_ORGN C2
		                     ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
		                 WHERE C1.DEL_YN = 'N'
		                ) B
		        ON A.JRSD_ORGN_CD = B.ORGN_CD
		      LEFT JOIN (SELECT
		                     C1.ORGN_CD
		                   , C1.ORGN_NM
		                   , C2.ORGN_CD AS JRSD_CSTM_CD
		                   , C2.ORGN_NM AS JRSD_CSTM_NM
		                 FROM TB_POTI_ORGN C1
		                   LEFT JOIN TB_POTI_ORGN C2
		                     ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
		                 WHERE C1.DEL_YN = 'N'
		                ) C
		        ON A.TNFR_JRSD_ORGN_CD = C.ORGN_CD
        WHERE  A.DEL_YN     = 'N'                                /** Suppression ON !== 삭제여부 ==! */
        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(dpotNo)">
            AND    A.DPOT_NO = #{dpotNo}             /** N° dépôt !== 데포번호 ==! */
        </if>
        <if test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEmpty(cagMgmtNo)">
            AND    A.CAG_MGMT_NO = #{cagMgmtNo}  /** CRN !== 화물관리번호  ==! */
        </if>
    </select>

    <!--
        Modifier les détails de marchandises ayant dépassé le délai légal du séjour.
        !== 보관일경과물품 내역을 수정한다. ==!
        (Jeonghun Lee)
     -->
    <update id="updateStdtPassCmdt" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.updateStdtPassCmdt */
        UPDATE  TB_CARI_STDT_PASS_CMDT
           SET  FIX_YN              = #{fixYn}
              , RELE_YN             = #{releYn}
              <choose>
		  					<when test="@alpass.ipt.car.com.util.CarMyBatisUtil@isEqualsStr(releYn, 'Y')">
	                , RELE_DTTM         = SYSTIMESTAMP
              	</when>
		  					<when test="@alpass.ipt.car.com.util.CarMyBatisUtil@isNotEqualsStr(releYn, 'Y')">
	                , RELE_DTTM         = NULL
              	</when>
              </choose>
              , TRNP_NEED_YN        = #{trnpNeedYn}
              , AUDT_OPIN_CN        = #{audtOpinCn}
              , FIX_DTTM            = NVL(FIX_DTTM, SYSTIMESTAMP)
              , FIX_EMP_ID          = #{fixEmpId}
              , TNFR_IBOBZ_CD       = #{tnfrIbobzCd}
              , TNFR_JRSD_ORGN_CD   = #{tnfrJrsdOrgnCd}
              , LAST_CHPR_ID        = #{lastChprId}     /**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
              , LAST_CHG_DTTM       = SYSTIMESTAMP      /**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
         WHERE  DPOT_NO             = #{dpotNo}
         AND    DEL_YN              = 'N'
    </update>

    <!--
         Modifier les détails de marchandises ayant dépassé le délai légal du séjour.(Stock)
         !== 보관일경과물품 내역을 수정한다.(재고) ==!
         (Heesung Jeon)
      -->
    <update id="updateStdtPassCmdtInvn" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.updateStdtPassCmdtInvn */
        UPDATE  TB_CARI_STDT_PASS_CMDT
        SET    LAST_CHPR_ID   = #{lastChprId}
             , LAST_CHG_DTTM  = SYSTIMESTAMP
             , PCKG_GCNT = #{pckgGcnt}
             , WGHT = #{wght}
        WHERE  DEL_YN = 'N'
        AND    DPOT_NO = #{dpotNo}
    </update>


  <!--
   Consulter le rapport des marchandises ayant dépassé le délai légal du sèjour.
   !== 보관일경과물품 보고서를 조회한다. ==!
   (Yangjip Kim)
	-->
  <select id="selectStdtPassCmdtReport" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo">
    /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.selectStdtPassCmdtReport */
    SELECT
			  CASE WHEN A.TRNP_NEED_YN = 'Y' THEN A.DPOT_NO || '-1'
			       ELSE ''
			  END AS OT_NO
      , CASE WHEN A.TRNP_NEED_YN = 'Y' THEN TO_CHAR(NVL(A.FIX_DTTM, A.FRST_RGSR_DTTM), 'DD/MM/YYYY')
             ELSE ''
        END AS OT_NO_CRET_DT
    	, A.DPOT_NO                    /** N° dépôt !== 데포번호 ==! */
			, A.CAG_MGMT_NO                /** Crn !== 화물관리번호 ==! */
			, A.BL_NO                      /** N° De Bl !== BL번호 ==! */
			, A.PDLS_NM                    /** Nom De L'Article !== 품목명 ==! */
			, A.PCKG_GCNT                  /** Nombre De Colis !== 포장개수 ==! */
			, A.WGHT                       /** Poids !== 중량 ==! */
			, TO_CHAR(TO_DATE(A.FRST_BRNG_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS FRST_BRNG_DT   /** Date d'introduction initiale !== 최초반입일자 ==! */
			, A.IBOBZ_CD				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
			, C.IBOBZ_NM || '(' || A.IBOBZ_CD || ')' AS IBOBZ_NM		  /* Nom de la zone sous douane !== 보세구역명 ==! */
			, D.ORGN_NM || '(' || D.ADMN_CD ||')' AS JRSD_ORGN_NM /**  Code D'Unité Compétente  					!== 관할조직코드 ==!  */
			, D.CSTM_NM || '(' || D.CSTM_ADMN_CD ||')' AS JRSD_CSTM_NM
			, D.DRD_NM || '(' || D.DRD_ADMN_CD ||')' AS JRSD_DEPT_NM
			, A.TNFR_IBOBZ_CD              /** Code de zone sous douane de transport !== 이송보세구역코드 ==! */
			, CASE WHEN NVL(A.TNFR_IBOBZ_CD, '') != '' THEN (SELECT IBOBZ_NM  || '(' || IBOBZ_CD || ')' FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.TNFR_IBOBZ_CD AND DEL_YN = 'N')
			       ELSE ''
			  END AS TNFR_IBOBZ_NM
			, A.TNFR_JRSD_ORGN_CD          /** Code de service compétent de transport !== 이송관할조직코드 ==! */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FIX_DTTM    /** Date et heure de confirmation !== 확정일시 ==! */
    	, A.FIX_EMP_ID                      /** ID de l'agent chargé de confirmation !== 확정직원ID ==! */
			, A.TRNP_RQST_NO               /** N° de demande de transfert !== 운송신청번호 ==! */
		  , NVL(B.MRN, '') AS MRN
		  , NVL(B.CNSI_NM, '') AS IMPPN_CO_NM
		  , NVL(B.CNSI_ADDR_NM, '') AS IMPPN_ADDR
      , NVL(TO_CHAR(B.PRCS_DTTM, 'DD/MM/YYYY'), '') AS MNFS_APRE_DT
      , (SELECT ARRAY_TO_STRING(ARRAY_AGG(CNTR_NO ORDER BY CNTR_NO), ', ') FROM TB_CARI_CAG_DCSH_BL_CNTR WHERE DEL_YN = 'N' AND CAG_MGMT_NO = A.CAG_MGMT_NO) AS CNTR_NO
    FROM TB_CARI_STDT_PASS_CMDT A
		  LEFT JOIN (SELECT ID.*, PB.PRCS_DTTM
                 FROM ALPASSEXT.TB_CARE_CAG_DCSH      ED
                    , ALPASSINT.TB_CARI_CAG_DCSH_BL   ID
                    , ALPASSINT.TB_CARI_CAG_PRCS_BRKD PB
                 WHERE ED.MRN = ID.MRN
                   AND ED.CAG_DCSH_RGSR_MGMT_NO = PB.CAG_RQST_NO
                   AND ED.DEL_YN = 'N'
                   AND ID.DEL_YN = 'N'
                   AND PB.PRCS_STTS_CD = 'D08') B
		    ON A.CAG_MGMT_NO = B.CAG_MGMT_NO
		  LEFT JOIN TB_CARI_IBOBZ C
		    ON A.IBOBZ_CD = C.IBOBZ_CD
      LEFT JOIN (SELECT
                     C1.ORGN_CD
                   , C1.ORGN_NM
                   , C1.ADMN_CD
                   , C2.ORGN_CD AS CSTM_CD
                   , C2.ORGN_NM AS CSTM_NM
                   , C2.ADMN_CD AS CSTM_ADMN_CD
                   , C3.ORGN_CD AS DRD_CD
                   , C3.ORGN_NM AS DRD_NM
                   , C3.ADMN_CD AS DRD_ADMN_CD
                 FROM TB_POTI_ORGN C1
                   LEFT JOIN TB_POTI_ORGN C2
                     ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
                   LEFT JOIN TB_POTI_ORGN C3
                     ON C2.UPR_ORGN_MGMT_CD = C3.ORGN_MGMT_CD
                 WHERE C1.DEL_YN = 'N'
                   AND C2.DEL_YN = 'N'
                   AND C3.DEL_YN = 'N'
                ) D
        ON A.JRSD_ORGN_CD = D.ORGN_CD
    WHERE A.DEL_YN = 'N'                                /** Suppression ON !== 삭제여부 ==! */
      AND A.DPOT_NO = #{dpotNo}
  </select>

  <!--
   Consulter la demande de mainlevée des marchandises ayant dépassé le délai légal du séjour.
   !== 보관일경과물품 보고서 컨테이너 목록을 조회한다. ==!
   (Yangjip Kim)
	-->
  <select id="selectStdtPassCmdtCntrList" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo">
    /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.selectStdtPassCmdtCntrList */
		SELECT A.CNTR_NO						/** N° de conteneur !==컨테이너번호==! */
    FROM TB_CARI_CAG_DCSH_BL_CNTR A
    WHERE A.DEL_YN = 'N'
		  AND A.CAG_MGMT_NO = #{cagMgmtNo}	/** CRN !==화물관리번호==! */
    ORDER BY A.CNTR_NO
  </select>

  <!--
   Consulter la demande de mainlevée des marchandises ayant dépassé le délai légal du séjour.
   !== 보관일경과물품 해제신청을 조회한다. ==!
   (Yangjip Kim)
	-->
  <select id="selectTrrlTlxsCheck" resultType="Integer">
    /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.selectTrrlTlxsCheck */
    SELECT COUNT(1) CNT
		FROM TB_CARE_TRRL_TLXS A
		WHERE A.DEL_YN = 'N'
      AND A.CAG_RQST_TP_CD = 'ZPR'
		  AND A.PRCS_STTS_CD != 'D09'
		  AND A.DPOT_NO = #{dpotNo}
  </select>

  <!--
   Consulter le nombre de demande de transfert. !== 운송신청 건수를 조회한다. ==!
   (Yangjip Kim)
	-->
  <select id="selectTrnpCheck" resultType="Integer">
    /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.selectTrnpCheck */
    SELECT COUNT(1)
		FROM TB_CARE_TRNP A
		  INNER JOIN TB_CARE_TRNP_BL B
		    ON A.TRNP_RQST_NO = B.TRNP_RQST_NO
		WHERE A.DEL_YN = 'N'
		  AND B.DEL_YN = 'N'
		  AND B.CAG_MGMT_NO = #{cagMgmtNo}
		  AND B.BL_NO = #{blNo}
		  AND A.PRCS_STTS_CD != 'D09'
  </select>

    <!--
     Dans les détails des marchandises ayant dépassé le délai légal du séjour, consulter les infos sur la zone sous douane et la zone sous douane de transport avec le N° dépôt et la condition ("Y") pour la nécessité de transport:
     !== 보관일경과물품 내역에서 데포번호, 운송필요여부("Y")조건으로 보세구역, 이송보세구역 정보를 조회한다. ==!
     (Heesung Jeon)
    -->
    <select id="selectStdtPassCmdtDpotNoAndTrnpNeed" parameterType="java.lang.String" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo">
        SELECT A.IBOBZ_CD                                   /** Code de zone sous douane !== 보세구역코드 ==! */
             , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.IBOBZ_CD AND DEL_YN = 'N') AS IBOBZ_NM
             , A.TNFR_IBOBZ_CD                              /** Code de zone sous douane de transport !== 이송보세구역코드 ==! */
             , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = A.TNFR_IBOBZ_CD AND DEL_YN = 'N') AS TNFR_IBOBZ_NM
        FROM  TB_CARI_STDT_PASS_CMDT A
        WHERE A.DEL_YN = 'N'                                /** SUPPRESSION ON !== 삭제여부 ==! */
        AND   A.TRNP_NEED_YN = 'Y'                          /** Nécessité de transport O/N !== 운송필요여부 ==! */
        AND   COALESCE(A.TRNP_RQST_NO,'') != ''             /** N° de demande de transfert !== 운송신청번호 ==! */
        AND   A.DPOT_NO = #{dpotNo}
    </select>

    <!--
	   Consulter la zone sous douane de transfert pour le même conteneur.(demande de transbordement)
	    - [Transfert des marchandises ayant dépassé le délai légal du séjour] consulter pour vérifier si la zone sous douane de destination est la même que la zone sous douane de transfert dans l'OT dans le cas où les infos sur le transfert des marchandises ayant dépassé le délai légal du séjour ont été enregsitrées dans l'IPT (lorsque la relation entre le BL et le conteneur dans le même MRN est N à 1)
	   !==
	   동일 컨테이너 이송 보세구역 조회(운송신청)
        - [보관일경과화물 운송] 보관일경과화물 운송정보가 IPT에 접수된 건에서 도착지보세구역이 보관일 OT명령서 이송보세구역과 동일한지 여부를 체크하기 위해 조회(같은 MRN내 BL과 컨테이너가 N:1 관계일 때) ==!
	   (Heesung Jeon)
	-->
    <select id="selectTrnpSameCntrTnfrIbobzCdList" parameterType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo" resultType="alpass.ipt.car.bnwrhs.trsf.vo.CarStdtPassCmdtVo">
        /* alpass.ipt.car.bnwrhs.trsf.mapper.CarStdtPassCmdtMapper.selectTrnpSameCntrTnfrIbobzCdList */
        SELECT T.TRNP_RQST_NO
             , B.CAG_MGMT_NO
             , B.BL_NO
             , C.CNTR_NO
             , T.DPRP_IBOBZ_CD AS IBOBZ_CD
             , T.ARLC_IBOBZ_CD AS TNFR_IBOBZ_CD
        FROM  ALPASSINT.TB_CARI_TRNP      T /*CARI_운송*/
            , ALPASSINT.TB_CARI_TRNP_BL   B /*CARI_운송_BL*/
            , ALPASSINT.TB_CARI_TRNP_CNTR C /*CARI_운송_컨테이너*/
            , ALPASSINT.TB_CARI_CAG_PRCS_BRKD P
        WHERE T.TRNP_RQST_NO = B.TRNP_RQST_NO
          AND T.TRNP_RQST_NO = P.CAG_RQST_NO
          AND B.TRNP_RQST_NO = C.TRNP_RQST_NO
          AND B.BL_SRNO = C.BL_SRNO
          AND T.DEL_YN = 'N'
          AND B.DEL_YN = 'N'
          AND C.DEL_YN = 'N'
          AND T.TRNP_TP_CD = '10'
          AND P.PRCS_STTS_CD != 'D09'
          AND P.CAG_RQST_TP_CD IN ('MCG')
          AND (SUBSTR(B.CAG_MGMT_NO,1,16), C.CNTR_NO) IN (
              SELECT A.MRN, A.CNTR_NO
              FROM
              (
                    SELECT A.MRN, A.CNTR_NO
                        , (
                             SELECT COUNT(X.BL_NO) AS BL_CNT
                             FROM  TB_CARI_CAG_DCSH_BL_CNTR Z
                                 , TB_CARI_CAG_DCSH_BL X
                             WHERE Z.MRN = X.MRN
                               AND Z.CAG_MGMT_NO = X.CAG_MGMT_NO
                               AND Z.MRN = A.MRN
                               AND Z.CNTR_NO = A.CNTR_NO
                               AND Z.DEL_YN  = 'N'
                               AND X.DEL_YN  = 'N'
                        )  AS BL_CNT
                     FROM TB_CARI_CAG_DCSH_BL_CNTR A
                    WHERE A.DEL_YN = 'N'
                      AND A.CAG_MGMT_NO = #{cagMgmtNo}
              ) A
              WHERE A.BL_CNT <![CDATA[ > ]]> 1
          )
          ORDER BY B.CAG_MGMT_NO, B.BL_NO
    </select>
</mapper>