<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.rsm.prfl.mapper.RsmPdlsPrflMapper">

    <!--
      [Profils de SH] Consulter la liste
      !== [HS프로파일] 목록조회 ==!
    -->
    <select id="selectPdlsPrflList" parameterType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo" resultType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo">
        /* selectPdlsPrflList */
        <include refid="pagination.header" />
            <include refid="rsmComPrflMapper.selectPrflPdlsInfo"/>
        <include refid="pagination.footer" />
    </select>

    <!--
      [Profils de SH] Consulter les détails
      !== [HS프로파일] 상세조회 ==!
    -->
    <select id="selectPrflPdlsDtlInfo"
        parameterType="alpass.ipt.rsm.basc.vo.RsmPrflComVo"
        resultType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo">
        /* selectPrflPdlsDtlInfo */
        <include refid="rsmComPrflMapper.selectPrflPdlsInfo"/>
    </select>

    <!--
      [Profils de SH] Taux de taxe
      !== HS 세율 목록 조회 ==!
    -->
    <select id="selectHsTxrtList"
        parameterType="alpass.ipt.rsm.basc.vo.RsmPrflComVo"
        resultType="alpass.ipt.rsm.prfl.vo.RsmHsTxrtVo">
        /* selectHsTxrtList */
        SELECT A.TAX_CD                     /** Code De Taxe !== 세금코드 ==! */
             , ( SELECT AA.TAX_CD_NM FROM TB_CLRI_TAX_CD AA WHERE AA.TAX_CD = A.TAX_CD) AS TAX_CD_NM    /** Nom Du Code De Taxe !== 세금코드명 ==! */
             , TFRT_CTGY_CD AS TFRT_TP_CD   /** Code De Type De Tarif !== 관세율구분코드 ==! */
             , VLTX_RT_CN AS TXRT           /** Taux d'imposition !== 세율 ==! */
        FROM   TB_CLRI_PDLS_TFRT A
        WHERE  A.HS_CD = #{hsCd}

    </select>

    <!--
      [Profils de SH] Document Joint
      !== HS 필수 첨부문서 목록 조회 ==!
    -->
    <select id="selectHsEsntAtdocList"
        parameterType="alpass.ipt.rsm.basc.vo.RsmPrflComVo"
        resultType="alpass.ipt.clr.trm.afm.vo.ClrHsAtdocVo">
        /* selectHsEsntAtdocList */

        SELECT
              ROWNUM AS RNUM
            , AA.HS_ATCH_DOC_MGMT_NO        /** Numéro de la gestion du document joint pour le SH !== HS첨부문서관리번호 ==! */
            , AA.HS_CD                      /** Code SH !== HS코드 ==! */
            , TO_CHAR(TO_DATE(AA.APLY_STRT_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS APLY_STRT_DT    /** Date De Début De L'Application !== 적용시작일자 ==! */
            , TO_CHAR(TO_DATE(AA.APLY_END_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS APLY_END_DT      /** Date De Fin De L'Application !== 적용종료일자 ==! */
            , ( SELECT HS_DESC FROM TB_CLRI_HS_CD
                WHERE HS_CD = AA.HS_CD
                AND TO_CHAR(SYSDATE,'YYYYMMDD') BETWEEN TO_CHAR(TO_DATE( HS_APLY_STRT_DT , 'YYYYMMDD'), 'YYYYMMDD') AND TO_CHAR(TO_DATE( HS_APLY_END_DT  , 'YYYYMMDD'), 'YYYYMMDD')
              ) AS HS_CD_DESC               /** Description Du Sh !== HS설명 ==! */
            , BB.ATCH_DOC_CD                /** Code de document joint !== 첨부문서코드 ==! */
            , DD.ATCH_DOC_NM                /** Nom de document joint !== 첨부문서명 ==! */
            , CC.DCLR_PT_CD                 /** Code de type de déclaration !== 신고유형코드 ==! */
            , ZZ.PBLS_ITT_NM                /** Nom De L'Organisme Émetteur !== 발행기관명 ==! */
        FROM  TB_CLRI_HS_ATDOC AA
            , TB_CLRI_HS_ATDOC_D BB
            , ( SELECT  HS_ATCH_DOC_MGMT_NO
                       , LISTAGG(DCLR_PT_CD, ',') WITHIN GROUP (ORDER BY DCLR_PT_CD) AS DCLR_PT_CD
                FROM  TB_CLRI_HS_ATDOC_DCLR_PT
                WHERE  DEL_YN = 'N'
                GROUP BY HS_ATCH_DOC_MGMT_NO
              ) CC
            , TB_CLRI_ATDOC_LANG DD
            , TB_CLRI_ATDOC ZZ
        WHERE  AA.HS_ATCH_DOC_MGMT_NO = BB.HS_ATCH_DOC_MGMT_NO      /** Numéro de la gestion du document joint pour le SH !== HS첨부문서관리번호 ==! */
        AND  AA.HS_ATCH_DOC_MGMT_NO = CC.HS_ATCH_DOC_MGMT_NO        /** Numéro de la gestion du document joint pour le SH !== HS첨부문서관리번호 ==! */
        AND  AA.DEL_YN = 'N'                                        /** Suppression ON !== 삭제여부 ==! */
        AND  BB.DEL_YN = 'N'                                        /** Suppression ON !== 삭제여부 ==! */
        AND  BB.ATCH_DOC_CD = DD.ATCH_DOC_CD(+)                     /** Code De Document Joint !== 첨부문서코드 ==! */
        AND  BB.ATCH_DOC_CD = ZZ.ATCH_DOC_CD
        AND  DD.LANG_CD = #{langCd}                                 /** Code De Langue !== 언어코드 ==! */
        AND  AA.HS_CD = #{hsCd}                                     /** Code Sh !== HS코드 ==! */

    </select>

    <!--
      Consultation sur le trimestre/Année précédents / Consultation sur le trimestre/Année correspondants
      !== 현재 분기부터 이전 분기값 조회 ==!
    -->
    <select id="selectQrt" resultType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo">
        /* selectQrt */
		SELECT
			   TO_CHAR(SYSDATE - 270, 'YYYYQ') AS N1        /** Trimestre 1 !== 분기 1 ==! */
		     , TO_CHAR(SYSDATE - 180, 'YYYYQ') AS N2        /** Trimestre 2 !== 분기 2 ==! */
		     , TO_CHAR(SYSDATE - 90,  'YYYYQ') AS N3        /** Trimestre 3 !== 분기 3 ==! */
		     , TO_CHAR(SYSDATE,       'YYYYQ') AS N4        /** Trimestre 4 !== 분기 4 ==! */
    </select>

    <!--
      Consulter la liste d'informations sur les taux de taxe SH
      !== HS세율 정보 목록 조회 ==!
    -->
    <select id="selectHsTxrtInfoList" parameterType="alpass.ipt.rsm.basc.vo.RsmPrflComVo" resultType="alpass.ipt.rsm.basc.vo.RsmHsTxrtVo">
        /* selectHsTxrtInfoList */
        SELECT A.TAX_CD         /** Code De Taxe !== 세금코드 ==! */
             , ( SELECT AA.TAX_CD_NM FROM TB_CLRI_TAX_CD AA WHERE AA.TAX_CD = A.TAX_CD) AS TAX_CD_NM    /** Nom Du Code De Taxe !== 세금코드명 ==! */
             , TFRT_CTGY_CD   -- COL_0044       /** Code De Type De Tarif  !== 관세율구분코드 ==! */
             , VLTX_RT_CN     -- TAX            /** Détails Du Tarif Ad Valorem  !== 종가세율 ==! */
        FROM   TB_CLRI_PDLS_TFRT A
        WHERE  A.HS_CD = #{hsCd}

    </select>

    <!--
      [Profils de SH] Valeur par opérateur
      !== [HS프로파일] 업체별가격조회 ==!
    -->
    <select id="selectHsCoPrcInfo" parameterType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo" resultType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo">
        /* selectHsCoPrcInfo */
                            WITH QRT4 AS (
                                  SELECT
                                         A.DCLR_QRT
                                       , A.NIF
                                       , NVL(
                                                   (SELECT CO_NM FROM TB_POTE_NIF
                                                     WHERE NIF = A.NIF )
                                               ,
                                                   (SELECT CO_NM FROM TB_COM_CO
                                                     WHERE NIF = A.NIF)
                                               ) AS CO_NM
                                       , REPLACE(TO_CHAR(NVL(SUM(A.TTXBS_NCY_AMT), 0), '999999999999999999'), ' ', '' ) AS N4
                                       , A.HS_CD
                                       , A.ORCY_CNTY_CD
                                       , REPLACE(TO_CHAR(A.QTY, '999999999999999999'), ' ', '' ) AS QTY
                                       , REPLACE(TO_CHAR((
                                                SELECT ROUND(SUM(BB.PDLS_NTWG) / 1000,2)  AS PDLS_NTWG
                                                   FROM TB_CLRI_DED_COMN AA
                                                       ,TB_CLRI_DED_PDLS BB
                                                  WHERE AA.DTL_DCSH_NO = BB.DTL_DCSH_NO
                                                    AND TO_CHAR(TO_DATE(AA.DCLR_DT,'YYYYMMDD') ,'YYYYQ') =  #{n4}
                                                    AND BB.HS_CD =  #{hsCd}
                                       ), '999999999999999999.99'), ' ', '' ) AS PDLS_NTWG
                                    FROM TB_RSMI_HS_CO_PRC_INFO A
                                   WHERE A.DCLR_QRT =  #{n4}
                                   AND A.HS_CD = #{hsCd}
                                   GROUP BY A.DCLR_QRT, A.NIF, A.HS_CD, A.ORCY_CNTY_CD, A.QTY
                            )
                            , QRT3 AS (
                                  SELECT
                                         A.DCLR_QRT
                                       , A.NIF
                                       , NVL(
                                                   (SELECT CO_NM FROM TB_POTE_NIF
                                                     WHERE NIF = A.NIF )
                                               ,
                                                   (SELECT CO_NM FROM TB_COM_CO
                                                     WHERE NIF = A.NIF)
                                               ) AS CO_NM
                                       , REPLACE(TO_CHAR(NVL(SUM(A.TTXBS_NCY_AMT), 0), '999999999999999999'), ' ', '' ) AS N3
                                       , A.HS_CD
                                       , A.ORCY_CNTY_CD
                                       , REPLACE(TO_CHAR(A.QTY, '999999999999999999'), ' ', '' ) AS QTY
                                       , REPLACE(TO_CHAR((
                                                SELECT ROUND(SUM(BB.PDLS_NTWG) / 1000,2)  AS PDLS_NTWG
                                                   FROM TB_CLRI_DED_COMN AA
                                                       ,TB_CLRI_DED_PDLS BB
                                                  WHERE AA.DTL_DCSH_NO = BB.DTL_DCSH_NO
                                                    AND TO_CHAR(TO_DATE(AA.DCLR_DT,'YYYYMMDD') ,'YYYYQ') =  #{n3}
                                                    AND BB.HS_CD =  #{hsCd}
                                       ), '999999999999999999.99'), ' ', '' ) AS PDLS_NTWG
                                    FROM TB_RSMI_HS_CO_PRC_INFO A
                                   WHERE A.DCLR_QRT = #{n3}
                                   AND A.HS_CD = #{hsCd}
                                   GROUP BY A.DCLR_QRT, A.NIF, A.HS_CD, A.ORCY_CNTY_CD, A.QTY
                            )
                            , QRT2 AS (
                                  SELECT
                                         A.DCLR_QRT
                                       , A.NIF
                                       , NVL(
                                                   (SELECT CO_NM FROM TB_POTE_NIF
                                                     WHERE NIF = A.NIF )
                                               ,
                                                   (SELECT CO_NM FROM TB_COM_CO
                                                     WHERE NIF = A.NIF)
                                               ) AS CO_NM
                                       , REPLACE(TO_CHAR(NVL(SUM(A.TTXBS_NCY_AMT), 0), '999999999999999999'), ' ', '' ) AS N2
                                       , A.HS_CD
                                       , A.ORCY_CNTY_CD
                                       , REPLACE(TO_CHAR(A.QTY, '999999999999999999'), ' ', '' ) AS QTY
                                       , REPLACE(TO_CHAR((
                                                SELECT ROUND(SUM(BB.PDLS_NTWG) / 1000,2)  AS PDLS_NTWG
                                                   FROM TB_CLRI_DED_COMN AA
                                                       ,TB_CLRI_DED_PDLS BB
                                                  WHERE AA.DTL_DCSH_NO = BB.DTL_DCSH_NO
                                                    AND TO_CHAR(TO_DATE(AA.DCLR_DT,'YYYYMMDD') ,'YYYYQ') =  #{n2}
                                                    AND BB.HS_CD =  #{hsCd}
                                       ), '9999999999999999999.99'), ' ', '' ) AS PDLS_NTWG
                                    FROM TB_RSMI_HS_CO_PRC_INFO A
                                   WHERE A.DCLR_QRT = #{n2}
                                   AND A.HS_CD = #{hsCd}
                                   GROUP BY A.DCLR_QRT, A.NIF, A.HS_CD, A.ORCY_CNTY_CD, A.QTY
                            )
                            , QRT1 AS (
                                  SELECT
                                         A.DCLR_QRT
                                       , A.NIF
                                       , NVL(
                                                   (SELECT CO_NM FROM TB_POTE_NIF
                                                     WHERE NIF = A.NIF )
                                               ,
                                                   (SELECT CO_NM FROM TB_COM_CO
                                                     WHERE NIF = A.NIF)
                                               ) AS CO_NM
                                       , REPLACE(TO_CHAR(NVL(SUM(A.TTXBS_NCY_AMT), 0), '999999999999999999'), ' ', '' ) AS N1
                                       , A.HS_CD
                                       , A.ORCY_CNTY_CD
                                       , REPLACE(TO_CHAR(A.QTY, '999999999999999999'), ' ', '' ) AS QTY
                                       , REPLACE(TO_CHAR((
                                                SELECT SUM(BB.PDLS_NTWG)  AS PDLS_NTWG
                                                   FROM TB_CLRI_DED_COMN AA
                                                       ,TB_CLRI_DED_PDLS BB
                                                  WHERE AA.DTL_DCSH_NO = BB.DTL_DCSH_NO
                                                    AND TO_CHAR(TO_DATE(AA.DCLR_DT,'YYYYMMDD') ,'YYYYQ') =  #{n1}
                                                    AND BB.HS_CD =  #{hsCd}
                                       ), '999999999999999999.99'), ' ', '' ) AS PDLS_NTWG
                                    FROM TB_RSMI_HS_CO_PRC_INFO A
                                   WHERE A.DCLR_QRT = #{n1}
                                   AND A.HS_CD = #{hsCd}
                                   GROUP BY A.DCLR_QRT, A.NIF, A.HS_CD, A.ORCY_CNTY_CD, A.QTY
                            )
                            SELECT CO_NM    /** Nom De L'Entreprise !== 업체명 ==! */
                                 , NIF      /** NIF !== 납세번호 ==! */
                                 , NN1      /** Trimestre 1 résultat !== 분기 1 결과 ==! */
                                 , NN2      /** Trimestre 2 résultat !== 분기 2 결과 ==! */
                                 , NN3      /** Trimestre 3 résultat !== 분기 3 결과 ==! */
                                 , NN4      /** Trimestre 4 résultat !== 분기 4 결과 ==! */
                            FROM (
                                SELECT
                                        NVL(NVL(NVL(A.CO_NM, B.CO_NM), C.CO_NM), D.CO_NM) as CO_NM
                                      , NVL(NVL(NVL(A.NIF, B.NIF), C.NIF), D.NIF) as NIF
                                      , NVL(A.QTY, '0') ||'/'||NVL(A.PDLS_NTWG, '0')||'/'||FN_GET_CNTY_NM(A.ORCY_CNTY_CD, #{langCd}) ||'/'||NVL(A.N1, '0') AS NN1
                                      , NVL(B.QTY, '0') ||'/'||NVL(B.PDLS_NTWG, '0')||'/'||FN_GET_CNTY_NM(B.ORCY_CNTY_CD, #{langCd}) ||'/'||NVL(B.N2, '0') AS NN2
                                      , NVL(C.QTY,' 0') ||'/'||NVL(C.PDLS_NTWG, '0')||'/'||FN_GET_CNTY_NM(C.ORCY_CNTY_CD, #{langCd}) ||'/'||NVL(C.N3, '0') AS NN3
                                      , NVL(D.QTY, '0') ||'/'||NVL(D.PDLS_NTWG, '0')||'/'||FN_GET_CNTY_NM(D.ORCY_CNTY_CD, #{langCd}) ||'/'||NVL(D.N4, '0') AS NN4
                                  FROM QRT1 A
                                FULL OUTER JOIN QRT2 B ON A.HS_CD =B.HS_CD AND B.DCLR_QRT= #{n2}
                                FULL OUTER JOIN QRT3 C ON B.HS_CD =C.HS_CD AND C.DCLR_QRT= #{n3}
                                FULL OUTER JOIN QRT4 D ON C.HS_CD =D.HS_CD AND D.DCLR_QRT= #{n4}
                            )
    </select>

    <!--
      [Profils de SH] Ports de départ et de déchargement
      !== [HS프로파일] RSMI_HS별선적지하역지통계 조회 ==!
    -->
    <select id="selectHsLdnpDisprStats" parameterType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo" resultType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo">
        /* selectHsLdnpDisprStats */
        WITH CD AS (
            SELECT DISTINCT
                   LDNP_CD
                 , DISPR_CD
                 , LDNP_CD_NM
                 , DISPR_CD_NM
              FROM (
                    SELECT
                           A.LDNP_CD
                         , (SELECT REGN_NM FROM TB_COM_REGN_CD_LANG WHERE DEL_YN = 'N' AND REGN_CD = A.LDNP_CD AND LANG_CD = 'FR') AS LDNP_CD_NM
                         , A.DISPR_CD
                         , (SELECT REGN_NM FROM TB_COM_REGN_CD_LANG WHERE DEL_YN = 'N' AND REGN_CD = A.DISPR_CD AND LANG_CD = 'FR') AS DISPR_CD_NM
                      FROM TB_RSMI_HS_LDNP_DISPR_STATS A
                     WHERE A.HS_CD = #{hsCd}
                     ORDER BY DCLR_QRT
            )
        )
        , DAT AS (
                SELECT A.DCLR_QRT
                     , A.LDNP_CD
                     , A.DISPR_CD
                     , SUM(A.QTY) AS QTY
                     , SUM(A.TAMT) AS TAMT
                     , ROUND(SUM(A.NTWG) / 1000, 2) as NTWG
                  FROM TB_RSMI_HS_LDNP_DISPR_STATS A
                 WHERE A.HS_CD = #{hsCd}
                 GROUP BY A.HS_CD, A.DCLR_QRT, A.LDNP_CD, A.DISPR_CD
        )
        SELECT
           C.LDNP_CD            /** Code De Lieu De Chargement !== 선적지코드 ==! */
        ,  C.LDNP_CD_NM         /** Nom du Code De Lieu De Chargement !== 선적지코드명 ==! */
        ,  C.DISPR_CD           /** Code De Lieu De Déchargement !== 하역지코드 ==! */
        ,  C.DISPR_CD_NM        /** Nom du Code De Lieu De Déchargement !== 하역지코드명 ==! */
        , NVL(( SELECT B.QTY
                  FROM DAT B WHERE #{n1}        = B.DCLR_QRT
                               AND   B.LDNP_CD  = C.LDNP_CD
                               AND   B.DISPR_CD = C.DISPR_CD ),'0') AS Q1       /** Quantité 1 !== 수량 1 ==! */
        , NVL(( SELECT B.NTWG
                  FROM DAT B WHERE #{n1}        = B.DCLR_QRT
                               AND   B.LDNP_CD  = C.LDNP_CD
                               AND   B.DISPR_CD = C.DISPR_CD ),'0') AS N1       /** Poids Net 1 !== 순중량 1 ==! */
        , NVL(( SELECT B.QTY
                  FROM DAT B WHERE #{n2}        = B.DCLR_QRT
                               AND   B.LDNP_CD  = C.LDNP_CD
                               AND   B.DISPR_CD = C.DISPR_CD ),'0') AS Q2       /** Quantité 2 !== 수량 2 ==! */
        , NVL(( SELECT B.NTWG
                  FROM DAT B WHERE #{n2}        = B.DCLR_QRT
                               AND   B.LDNP_CD  = C.LDNP_CD
                               AND   B.DISPR_CD = C.DISPR_CD ),'0') AS N2       /** Poids Net 2 !== 순중량 2 ==! */
        , NVL(( SELECT B.QTY
                  FROM DAT B WHERE #{n3}        = B.DCLR_QRT
                               AND   B.LDNP_CD  = C.LDNP_CD
                               AND   B.DISPR_CD = C.DISPR_CD ),'0') AS Q3       /** Quantité 3 !== 수량 3 ==! */
        , NVL(( SELECT B.TAMT
                  FROM DAT B WHERE #{n3}        = B.DCLR_QRT
                               AND   B.LDNP_CD  = C.LDNP_CD
                               AND   B.DISPR_CD = C.DISPR_CD ),'0') AS N3       /** Montant Total 3 !== 총금액 3==! */
        , NVL(( SELECT B.QTY
                  FROM DAT B WHERE #{n4}        = B.DCLR_QRT
                               AND   B.LDNP_CD  = C.LDNP_CD
                               AND   B.DISPR_CD = C.DISPR_CD ),'0') AS Q4       /** Quantité 4 !== 수량 4 ==! */
        , NVL(( SELECT B.NTWG
                  FROM DAT B WHERE #{n4}        = B.DCLR_QRT
                               AND   B.LDNP_CD  = C.LDNP_CD
                               AND   B.DISPR_CD = C.DISPR_CD ),'0') AS N4       /** Poids Net 4 !== 순중량 4 ==! */
        FROM CD C
    </select>

    <!--
      [Profils de SH] Consulter le résultat d'importation et d'exportation par code sh
      !== [HS프로파일] HS별수출입실적 조회 ==!
    -->
	<select id="selectHsImexAcrsList"
			parameterType="alpass.ipt.rsm.basc.vo.RsmPrflComVo"
			resultType="alpass.ipt.rsm.prfl.vo.RsmHsCdPrAcrsVo">
	    /* selectHsImexAcrsList */

        WITH BF_YEAR_HS AS (
            SELECT HS_CD
               , (SELECT TO_CHAR(SYSDATE - 365, 'YYYY')) AS DCLR_YY
               , SUM(DCLR_CNT) AS DCLR_CNT
               , SUM(AL_TTWG) AS AL_TTWG
               , SUM(AL_NTWG) AS AL_NTWG
               , SUM(TTXBS_NCY_AMT) AS TTXBS_NCY_AMT
               ,(SELECT SUM(BB.QTY) AS QTY
                   FROM TB_CLRI_DED_COMN AA
                       ,TB_CLRI_DED_PDLS BB
                  WHERE AA.DTL_DCSH_NO = BB.DTL_DCSH_NO
                    AND TO_CHAR(TO_DATE(AA.DCLR_DT,'YYYYMMDD') ,'YYYY') = TO_CHAR(SYSDATE - 365, 'YYYY')
                    AND BB.HS_CD = A.HS_CD
                ) AS QTY
            FROM TB_RSMI_HS_IMEX_ACRS A
           WHERE TO_CHAR(SYSDATE - 365, 'YYYY') = DCLR_YY
            AND IMEX_TP_CD = #{imexTpCd}
            AND HS_CD = #{hsCd}
            GROUP BY HS_CD
        )
        , CURR_YEAR_HS AS (
            SELECT HS_CD
                , TO_CHAR(SYSDATE, 'YYYY')  AS DCLR_YY
                , SUM(DCLR_CNT) AS DCLR_CNT
                , SUM(AL_TTWG) AS AL_TTWG
                , SUM(AL_NTWG) AS AL_NTWG
                , SUM(TTXBS_NCY_AMT) AS TTXBS_NCY_AMT
                ,(SELECT SUM(BB.QTY) AS QTY
                   FROM TB_CLRI_DED_COMN AA
                       ,TB_CLRI_DED_PDLS BB
                  WHERE AA.DTL_DCSH_NO = BB.DTL_DCSH_NO
                    AND TO_CHAR(TO_DATE(AA.DCLR_DT,'YYYYMMDD') ,'YYYY') = TO_CHAR(SYSDATE, 'YYYY')
                    AND BB.HS_CD = A.HS_CD
                ) AS QTY
            FROM TB_RSMI_HS_IMEX_ACRS A
           WHERE TO_CHAR(SYSDATE, 'YYYY') = DCLR_YY
            AND IMEX_TP_CD = #{imexTpCd}
            AND HS_CD = #{hsCd}
            GROUP BY HS_CD
        )
        SELECT
               NVL(A.HS_CD, B.HS_CD) AS HS_CD                           /** Code SH  !== HS 코드 ==! */
             , (SELECT TO_CHAR(SYSDATE - 365, 'YYYY'))  AS BF_DCLR_YY   /** Année de déclaration (l'année dernière) !== 이전 신고년도 ==! */
             , NVL(A.DCLR_CNT, 0) AS BF_DCLR_CNT                        /** Nombre de déclarations (l'année dernière) !== 이전 신고건수 ==! */
             , NVL(ROUND(A.AL_TTWG / 1000, 2) , 0) AS BF_AL_TTWG        /** Poids brut (l'année dernière) !== 이전 총중량 ==! */
             , NVL(ROUND(A.AL_NTWG / 1000, 2), 0) AS BF_AL_NTWG         /** Poids net (l'année dernière) !== 이전 순중량 ==! */
             , NVL(A.TTXBS_NCY_AMT, 0) AS BF_TTXBS_NCY_AMT              /** Montant Ncy Total De La Base Taxable (l'année dernière) !== 이전 총과세기준NCY금액 ==! */
             , NVL(A.QTY, 0) AS BF_QTY                                  /** Quantite precedent !== 이전수량 ==! */
             , TO_CHAR(SYSDATE, 'YYYY') AS CURR_DCLR_YY                 /** Année de déclaration (Cette année) !== 현재 신고년도 ==! */
             , NVL(B.DCLR_CNT, 0) AS CURR_DCLR_CNT                      /** Nombre de déclarations (Cette année) !== 현재 신고건수 ==! */
             , NVL(ROUND(B.AL_TTWG / 1000, 2) , 0) AS CURR_AL_TTWG      /** Poids brut (Cette année) !== 현재 총중량 ==! */
             , NVL(ROUND(B.AL_NTWG / 1000, 2), 0) AS CURR_AL_NTWG       /** Poids net (Cette année) !== 현재 순중량 ==! */
             , NVL(B.TTXBS_NCY_AMT, 0) AS CURR_TTXBS_NCY_AMT            /** Montant Ncy Total De La Base Taxable (Cette année) !== 현재 총과세기준NCY금액 ==! */
             , NVL(B.QTY, 0) AS CURR_QTY                                /** quantité actuelle !== 현재수량 ==! */
        FROM BF_YEAR_HS A
          FULL OUTER JOIN CURR_YEAR_HS B ON A.HS_CD = B.HS_CD
	</select>

    <!--
      [Profils de SH] Opérateurs
      !== [HS프로파일] 업체조회 ==!
    -->
    <select id="selectHsCoAcrs" parameterType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo" resultType="alpass.ipt.rsm.prfl.vo.RsmPdlsPrflVo">
        /* selectHsCoAcrs */
        WITH TOT_HS_ACRS AS (
            SELECT NIF, SUM(TTXBS_NCY_AMT) AS TOT_TTXBS_NCY_AMT
                 , COUNT(HS_CD) AS TOT_CNT
              FROM TB_RSMI_HS_CO_ACRS
             WHERE DEL_YN = 'N'
             AND HS_CD = #{hsCd}
             GROUP BY NIF
        )
        SELECT
              HSCO.NIF          /** NIF !== 납세번호 ==! */
            ,(
                SELECT DECODE(B.CO_NM, NULL, A.CONM, B.CO_NM)
                  FROM TB_POTE_NIF A, TB_COM_CO B
                 WHERE A.DEL_YN = 'N' AND B.DEL_YN(+) = 'N'
                   AND A.NIF = B.NIF(+)
                   AND A.NIF = HSCO.NIF
             ) AS CO_NM         /** Nom De L'Entreprise !== 업체명 ==! */
            , HSCO.DCLR_CNT     /** Nbr d’importations !== 신고건수 ==! */
            , HSCO.TTXBS_NCY_AMT                /** Valeur totale de la facture !== 총과세기준NCY금액 ==! */
            , ROUND((HSCO.DCLR_CNT / TOT_DCLR_CNT) * 100, 2) AS DCLR_AMT_INC_RT         /** Taux d'augmentation de la valeur déclarée !== 신고금액증가율 ==! */
        FROM (
                SELECT A.NIF
                    , SUM(A.DCLR_CNT) AS DCLR_CNT
                    , SUM(A.TTXBS_NCY_AMT) AS TTXBS_NCY_AMT
                    , B.TOT_TTXBS_NCY_AMT
                    , B.TOT_CNT
                    , ( SELECT SUM(BB.DCLR_CNT) FROM TB_RSMI_HS_CO_ACRS BB WHERE BB.DEL_YN='N' AND  BB.HS_CD= A.HS_CD) AS TOT_DCLR_CNT
                FROM TB_RSMI_HS_CO_ACRS A
                   , TOT_HS_ACRS        B
                WHERE A.HS_CD = #{hsCd}
                AND   A.NIF = B.NIF
                GROUP BY A.HS_CD, A.NIF, B.TOT_TTXBS_NCY_AMT, B.TOT_CNT
        ) HSCO
    </select>

    <!--
      [Profils de SH] Consulter la liste des enregistrements de détection
      !== HS 프로파일 적발실적 목록 조회 ==!
    -->
	<select id="selectHsPrflDsclList"
		parameterType="alpass.ipt.rsm.basc.vo.RsmPrflComVo"
		resultType="alpass.ipt.rsm.prfl.vo.RsmPrflDsclAcrsVo">
		/* selectHsPrflDsclList */
        SELECT A.HS_CD                  /** Code Sh !== HS코드 ==! */
             , A.DCLR_YY                /** Année de déclaration !== 신고년도 ==! */
             , A.TOT_DCLR_CNT           /** Nombre total de déclaration !== 총신고건수 ==! */
             , A.TOT_TAX_AMT            /** Total Taxe !== 총 세금 ==! */
             , A.TOT_TTXBS_NCY_AMT      /** Total Prix de base d’imposition !== 총 과세기준가격 ==! */
             , B.SELC_RSLT_CD           /** Code de Résultat de la sélection !== 선별결과코드 ==! */
             , B.SELC_CNT               /** Nombre de déclarations ciblées !== 선별건수 ==! */
             , B.SELC_TAX_AMT           /** Taxe de sélection !== 선별 세금 ==! */
             , B.SELC_TTXBS_NCY_AMT     /** Prix de base d’imposition de sélection !== 선별 과세기준가격 ==! */
             , (B.SELC_CNT/A.TOT_DCLR_CNT) * 100 AS SELC_RT         /** Taux de ciblage !== 선별율 ==! */
             , CASE WHEN B.SELC_RSLT_CD = 'R' THEN (B.SELC_CNT/A.TOT_DCLR_CNT) * 100 ELSE 0 END  AS RED_SELC_RT     /** Taux de ciblage (Rouge) !== Red 선별율 ==! */
             , CASE WHEN B.SELC_RSLT_CD = 'O' THEN (B.SELC_CNT/A.TOT_DCLR_CNT) * 100 ELSE 0 END  AS ORE_SELC_RT     /** Taux de ciblage (Orange)!== Orange 선별율 ==! */
             , CASE WHEN B.SELC_RSLT_CD = 'B' THEN (B.SELC_CNT/A.TOT_DCLR_CNT) * 100 ELSE 0 END  AS BLU_SELC_RT     /** Taux de ciblage (Bleu) !== Blue 선별율 ==! */
             , CASE WHEN B.SELC_RSLT_CD = 'G' THEN (B.SELC_CNT/A.TOT_DCLR_CNT) * 100 ELSE 0 END  AS GRN_SELC_RT     /** Taux de ciblage (Vert) !== Green 선별율 ==! */
             , COALESCE(C.DSCL_CNT, 0) AS DSCL_CNT 						/** Nombre de détection  !== 적발건수 ==! */
             , COALESCE(C.DSCL_TAX_AMT, 0) AS DSCL_TAX_AMT 				/** Droits Et Taxes De Déclaration Détectée !== 적발세금 ==! */
             , COALESCE(C.DSCL_TTXBS_NCY_AMT, 0) AS DSCL_TTXBS_NCY_AMT 	/** Montant Ncy De La Base Taxable Détectée !== 적발 과세기준가격 ==! */
             , COALESCE((C.DSCL_CNT/B.SELC_CNT) * 100 , 0) AS DSCL_RT           /** Taux de détection !== 적발율 ==! */
			 , COALESCE(D.FINE_AMT, 0) AS FINE_AMT 						/** Montant d'amende !== 벌금금액 ==! */
        FROM   (
                   SELECT AA.HS_CD
                        , AA.DCLR_YY
                        , SUM(AA.DCLR_CNT) AS TOT_DCLR_CNT
                        , SUM(AA.TAX_AMT) AS TOT_TAX_AMT
                        , SUM(AA.TTXBS_NCY_AMT) AS TOT_TTXBS_NCY_AMT
                   FROM   TB_RSMI_HS_IMEX_ACRS AA
                   WHERE  AA.DEL_YN ='N'
                   AND    AA.HS_CD = #{hsCd}
                   GROUP BY AA.HS_CD, DCLR_YY
               ) A
             , (
                   SELECT BB.HS_CD
                        , BB.DCLR_YY
                        , BB.SELC_RSLT_CD
                        , SUM(BB.DCLR_CNT) AS SELC_CNT
                        , SUM(BB.TAX_AMT) AS SELC_TAX_AMT
                        , SUM(BB.TTXBS_NCY_AMT) AS SELC_TTXBS_NCY_AMT
                   FROM   TB_RSMI_HS_SELC_ACRS BB
                   WHERE  BB.DEL_YN = 'N'
                   AND    BB.HS_CD = #{hsCd}
                   GROUP BY BB.HS_CD, DCLR_YY, BB.SELC_RSLT_CD
               ) B
             , (
                   SELECT CC.HS_CD
                        , CC.DCLR_YY
                        , CC.SELC_RSLT_CD
                        , COUNT(1) AS DSCL_CNT
                        , SUM(CC.TAX_AMT) AS DSCL_TAX_AMT
                        , SUM(CC.PDLS_TXBS_NCY_AMT) AS DSCL_TTXBS_NCY_AMT
                   FROM   TB_RSMI_HS_INSC_RSLT CC
                   WHERE  CC.DEL_YN = 'N'
                   AND    CC.HS_CD = #{hsCd}
                   GROUP BY CC.HS_CD, CC.DCLR_YY, CC.SELC_RSLT_CD
               ) C
			 , (
           		   SELECT FF.HS_CD
               			,  FF.DCLR_YY
               			,  DD.SELC_RSLT_CD
               			,  NVL(SUM(EE.FINE_AMT), 0) AS FINE_AMT
           		   FROM   TB_RSMI_DED_SELC DD
                       ,  TB_COLI_NTFC EE
                       ,  (
                      		SELECT GG.HS_CD
                                 , GG.DCLR_YY
                                 , GG.DTL_DCSH_NO
                            FROM   TB_RSMI_HS_INSC_RSLT GG
                            WHERE  GG.DEL_YN = 'N'
                            AND    GG.HS_CD = #{hsCd}
                            GROUP BY GG.HS_CD, GG.DCLR_YY, GG.DTL_DCSH_NO
                          ) FF
           		   WHERE  DD.DEL_YN ='N'
				   AND    DD.DTL_DCSH_NO = FF.DTL_DCSH_NO 				/** Numero du DED !== DED번호 ==! */
				   AND    SUBSTR(DD.SELC_DT, 1, 4) = FF.DCLR_YY 		/** Année de déclaration !== 신고년도 ==! */
				   AND    EE.DEL_YN ='N' 								/** Suppression On !== 삭제여부 ==! */
				   AND    EE.NTFC_PT_CD = 'A' 							/** Code De Type D'Avis !== 고지유형코드 ==! */
				   AND    EE.REFF_NO_PT_CD = '002' 						/** Code De Type De Numéro De Référence !== 참조번호유형코드 ==! */
				   AND    EE.CNCL_YN = 'N' 								/** Annulé (On) !== 취소여부 ==! */
				   AND    EE.REFF_NO= DD.DTL_DCSH_NO 					/** N° De Référence !== 참조번호 ==! */
				   GROUP BY FF.HS_CD, FF.DCLR_YY, DD.SELC_RSLT_CD
       		   ) D
        WHERE  B.HS_CD=A.HS_CD
        AND    B.DCLR_YY= A.DCLR_YY
        AND    C.HS_CD(+) = B.HS_CD
        AND    C.DCLR_YY(+) = B.DCLR_YY
        AND    C.SELC_RSLT_CD(+) = B.SELC_RSLT_CD
		AND    D.HS_CD(+) = B.HS_CD
		AND    D.DCLR_YY(+) = B.DCLR_YY
		AND    D.SELC_RSLT_CD(+) = B.SELC_RSLT_CD
        ORDER BY A.DCLR_YY DESC, DECODE(B.SELC_RSLT_CD, 'R', 1, 'O', 2, 'B', 3, 'G', 4 ) ASC
	</select>

</mapper>