<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.info.mapper.CarCgtrMapper">

    <!--
    Voir la liste de 'Suivi de cargaison'. !==화물추적 목록을 조회한다.==!
    (Roh Sideuk)
    -->
    <select id="selectCarCgtrTrgtList" parameterType="alpass.ipt.car.info.vo.CarCgtrSearchVo" resultType="alpass.ipt.car.info.vo.CarCgtrInfoVo">
        /* alpass.ipt.car.info.mapper.CarCgtrMapper.selectCarCgtrTrgtList */
        <include refid="pagination.header"/>
        SELECT CAG_MGMT_NO
             , MRN
             , BL_NO
             , TRNP_METH_NM
             , TRNP_RFER_NO
             , LDUN_PORT_CD
             , LDUN_PORT_NM
             , ARVL_DTTM
             , CARR_CD
             , CARR_NM
          FROM (
        SELECT A.CAG_MGMT_NO                /** CRN !==화물관리번호==! */
             , A.MRN                    /** MRN !===MRN==! */
             , CASE WHEN A.BL_PT_CD = 'H' THEN B.HBL_NO ELSE A.BL_NO END BL_NO                                                                    /** N° de B/L !==B/L번호==! */
             , A.TRNP_METH_NM        /** Nom de moyen de transport !==운송수단명==! */
             , A.TRNP_RFER_NO        /** N° de voyageN° de volN° d'itinéraire !==운송참고번호==! */
             , A.LDUN_PORT_CD        /** Code de port de déchargement !==하역항구코드==! */
             , (SELECT RL.REGN_NM
                  FROM TB_COM_REGN_CD R, TB_COM_REGN_CD_LANG RL
                 WHERE R.REGN_CD = RL.REGN_CD
                   AND R.DEL_YN = 'N'
                   AND RL.DEL_YN = 'N'
                   AND R.REGN_CD =  A.LDUN_PORT_CD
                   AND RL.LANG_CD =  #{langCd}
             ) AS LDUN_PORT_NM
             , TO_CHAR(A.ARVL_DTTM, 'DD/MM/YYYY') AS ARVL_DTTM    /** Date et heure d'arrivée !==도착일시==! */
             , A.CARR_CD                                            /** Code de société de transport !==운송사코드==! */
             , (SELECT C.CO_NM
                  FROM TB_COM_CO C, TB_COM_CO_DCLR_CD D
                 WHERE C.NIF = D.NIF
                   AND D.CO_DCLR_CD = A.CARR_CD
                   AND C.DEL_YN = 'N'
                   AND D.DEL_YN = 'N'
                   AND D.RQST_TP_CD IN ('01','02')
                   AND D.PRCS_STTS_CD = 'O'
                   AND D.USE_YN = 'Y'
              ) AS CARR_NM
         FROM TB_CARI_CGTR_BL A
        INNER JOIN TB_CARI_CAG_DCSH_BL B
           ON A.MRN = B.MRN
          AND A.CAG_MGMT_NO = B.CAG_MGMT_NO
          AND B.DEL_YN = 'N'
        WHERE 1=1
          AND A.DEL_YN = 'N'
        ) BL
        WHERE 1=1
        <if test="cagMgmtNo != '' and cagMgmtNo != null">
          AND BL.CAG_MGMT_NO LIKE #{cagMgmtNo} || '%'        /** CRN !==화물관리번호==! */
        </if>
        <if test="blNo != '' and blNo != null">
          AND BL.BL_NO LIKE #{blNo} || '%'                            /** N° de BL !==BL번호==! */
        </if>
        <if test="cntrNo != '' and cntrNo != null">
          AND EXISTS (
                SELECT CNTR_NO
                  FROM TB_CARI_CAG_DCSH_BL_CNTR B
                 WHERE B.DEL_YN = 'N'
                   AND B.CAG_MGMT_NO = BL.CAG_MGMT_NO
                   AND B.CNTR_NO LIKE #{cntrNo} || '%'  /** N° de conteneur !==컨테이너번호==! */
            )
        </if>
        ORDER BY BL.MRN, BL.CAG_MGMT_NO
        <include refid="pagination.footer"/>
    </select>

    <!--
    Voir les détails de B/L.(Suivi de cargaison) !==화물추적 BL 정보를 상세 조회한다.==!
    (Lee MiRa)
    -->
    <select id="selectCarCgtrInfo" parameterType="alpass.ipt.car.info.vo.CarCgtrSearchVo" resultType="alpass.ipt.car.info.vo.CarCgtrInfoVo">
        /* selectCarCgtrInfo */
        SELECT TCCB.CAG_MGMT_NO                                                                                                        /** CRN !==화물관리번호==! */
             , TCCB.TRNP_METH_NM                                                                                                     /** Nom du navire !==선박명==! */
             , TCCB.TRNP_METH_IDFY_NO                                                                                                /** Signal d'appel !==선박호출부호==! */
             , TCCB.TRNP_RFER_NO                                                                                                        /** N° de voyage !==항차==! */
             , TO_CHAR(TCCB.ARVL_DTTM, 'DD/MM/YYYY') AS ARVL_DTTM                                                    /** Date d'arrivée !==도착일자==! */
             , TCCB.DPTR_PORT_CD                                                                                                        /** Code de port de départ !==출발항구코드==! */
             , (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = TCCB.DPTR_PORT_CD AND D.LANG_CD = #{langCd}) AS DPTR_PORT_NM
             , TCCB.LDUN_PORT_CD                                                                                                        /** Code de port de déchargement !==하역항구코드==! */
             , (SELECT D.REGN_NM FROM TB_COM_REGN_CD C, TB_COM_REGN_CD_LANG D WHERE C.REGN_CD = D.REGN_CD AND C.DEL_YN = 'N' AND D.DEL_YN = 'N' AND C.REGN_CD = TCCB.LDUN_PORT_CD AND D.LANG_CD = #{langCd}) AS LDUN_PORT_NM
             , TCCB.CARR_CD                                                                                                                /** Code de société de transport !==운송사코드==! */
             , (SELECT CO_NM FROM TB_COM_CO T1, TB_COM_CO_DCLR_CD T2 WHERE T1.NIF = T2.NIF AND T2.CO_DCLR_CD = TCCB.CARR_CD) AS CARR_NM                                /** Code de compagnie de envoyé !== 전송업체코드 ==! */
             , CASE WHEN TCCB.BL_PT_CD = 'H' THEN TCCDB.HBL_NO ELSE TCCB.BL_NO END BL_NO                                                                    /** N° de B/L !==B/L번호==! */
             , TCCB.BL_TP_CD                                                                                                                /** Type de B/L !==B/L구분==! */
             , FN_GET_CD_VDVAL_NM('CAR_0015', TCCB.BL_TP_CD, #{langCd}) AS BL_TP_NM                        /** Type de B/L !==B/L구분==! */
             , TCCB.CAG_TP_CD                                                                                                            /** Type de flux !==화물구분==! */
             , FN_GET_CD_VDVAL_NM('CAR_0017', TCCB.CAG_TP_CD, #{langCd}) AS CAG_TP_NM                    /** Type de flux !==화물구분==! */
             , TCCB.CAG_CHRC_CD                                                                                                        /** Nature de cargaison !==화물특성==! */
             , FN_GET_CD_VDVAL_NM('CAR_0018', TCCB.CAG_CHRC_CD, #{langCd}) AS CAG_CHRC_NM            /** Nature de cargaison !==화물특성==! */
             , TCCB.LOAD_REGN_CD                                                                                                        /** Code de lieu de chargement !==적재지역코드==! */
             , (SELECT REGN_NM FROM TB_COM_REGN_CD_LANG WHERE REGN_CD = TCCB.LOAD_REGN_CD AND LANG_CD = #{langCd}) AS LOAD_REGN_NM   /** Nom de lieu de chargement !==적재지역명==! */
             , TCCB.LDUN_REGN_CD                                                                                                        /** Code de lieu de déchargement !==하역지역코드==! */
             , (SELECT REGN_NM FROM TB_COM_REGN_CD_LANG WHERE REGN_CD = TCCB.LDUN_REGN_CD AND LANG_CD = #{langCd}) AS LDUN_REGN_NM  /** Lieu de déchargement !==하역지==! */
             , TCCB.PDLS_NM                                                                                                                /** Désignation commerciale !==물품설명==! */
             , TCCB.PCKG_GCNT                                                                                                            /** Nombre de colis !==포장개수==! */
             , TCCB.TTWG                                                                                                                    /** Poids brut !==총중량==! */
             , TCCB.NTWG                                                                                                                    /** Poids Net !==순중량==! */
             , TCCB.CBM_VOL                                                                                                                /** Volume (MTQ-Litre) !==용적 (CBM)==! */
             , TCCB.LIR_VOL                                                                                                                /** Volume (Litre) !==용적 (Liter)==! */
             , TCCB.FRWR_CD                                                                                                                /** Groupeur !==포워더==! */
             , (SELECT CO_NM
                 FROM ALPASSINT.TB_COM_CO T1
                    , ALPASSINT.TB_COM_CO_DCLR_CD T2
                WHERE T1.NIF = T2.NIF
                  AND T2.CO_DCLR_CD = TCCB.FRWR_CD
                  AND T1.DEL_YN = 'N'
                  AND T2.DEL_YN = 'N'
                  AND T2.RQST_TP_CD IN ('01','02')
                  AND T2.PRCS_STTS_CD = 'O'
                  AND T2.USE_YN = 'Y') AS FRWR_NM		/** Nom de groupeur !==포워더명==! */
             , TCCB.CNSI_NM
         FROM TB_CARI_CGTR_BL TCCB
        INNER JOIN TB_CARI_CAG_DCSH_BL TCCDB
           ON TCCDB.MRN = TCCB.MRN
          AND TCCDB.CAG_MGMT_NO = TCCB.CAG_MGMT_NO
          AND TCCDB.DEL_YN = 'N'
        WHERE 1=1
          AND TCCB.DEL_YN = 'N'
          AND TCCB.CAG_TP_CD IN ('IM', 'TR', 'TM', 'EX')
        <if test="cagMgmtNo != '' and cagMgmtNo != null">
          AND TCCB.CAG_MGMT_NO = #{cagMgmtNo}
        </if>
        <if test="mrn != '' and mrn != null">
          AND TCCB.MRN = #{mrn}
        </if>
        <if test="blNo != '' and blNo != null">
          AND (TCCB.BL_NO = #{blNo} OR TCCDB.HBL_NO = #{blNo})
        </if>
    </select>

    <!--
    Voir l’inventaire pour suivre les cargaisons !==화물추적 보세창고 재고 목록을 조회한다.==!
    (Roh Sideuk)
    -->
    <select id="selectCarCgtrInvnList" parameterType="alpass.ipt.car.info.vo.CarCgtrSearchVo" resultType="alpass.ipt.car.info.vo.CarCgtrInvnVo">
        /* selectCarCgtrInvnList */
        SELECT '1' AS TP,
               1 AS ORDR,
               A.CAG_MGMT_NO,
               A.IBOBZ_CD,
               B.IBOBZ_NM,
               A.INVN_PCKG_GCNT,
               A.INVN_WGHT,
               A.BRNG_PCKG_GCNT,
               A.BRNG_WGHT,
               A.RLSE_PCKG_GCNT,
               A.RLSE_WGHT,
               FN_GET_CD_VDVAL_NM('COM_0016',A.INVN_YN,#{langCd}) AS INVN_YN
        FROM   (SELECT CAG_MGMT_NO,
                       IBOBZ_CD,
                       SUM(INVN_PCKG_GCNT) AS INVN_PCKG_GCNT,
                       SUM(INVN_WGHT) AS INVN_WGHT,
                       SUM(BRNG_PCKG_GCNT) AS BRNG_PCKG_GCNT,
                       SUM(BRNG_WGHT) AS BRNG_WGHT,
                       SUM(RLSE_PCKG_GCNT) AS RLSE_PCKG_GCNT,
                       SUM(RLSE_WGHT) AS RLSE_WGHT,
                       INVN_YN
                FROM   TB_CARI_INVN
                WHERE  DEL_YN = 'N'
                AND    CAG_MGMT_NO = #{cagMgmtNo}
                GROUP BY CAG_MGMT_NO, IBOBZ_CD
               ) A,
               TB_CARI_IBOBZ B
        WHERE  A.IBOBZ_CD = B.IBOBZ_CD(+)
        AND    B.DEL_YN(+) = 'N'
        ORDER BY ORDR, IBOBZ_CD, CAG_MGMT_NO
    </select>

    <!--
    Voir la liste de Conteneur. (Suivi de cargaison) !==화물추적 컨테이너 목록을 조회한다.==!
    (Roh Sideuk)
    -->
    <select id="selectCarCgtrCntrList" parameterType="alpass.ipt.car.info.vo.CarCgtrSearchVo" resultType="alpass.ipt.car.info.vo.CarCgtrCntrVo">
        /* selectCarCgtrCntrList */
        SELECT A.CNTR_NO                        /** N° de conteneur !==컨테이너번호==! */
             , A.CAG_MGMT_NO                /** CRN !==화물관리번호==! */
             , A.CNTR_TP_CD                    /** Code de type de conteneur !==컨테이너구분코드==! */
             , FN_GET_CD_VDVAL_NM('CAR_0020', A.CNTR_TP_CD, #{langCd}) AS CNTR_TP_NM
             , A.PCKG_GCNT                     /** Nombre de colis !==포장개수==! */
             , A.PCKG_UT_CD                   /** Code de l'unité de colis !==포장단위코드==! */
             , FN_GET_CD_VDVAL_NM('CAR_0021', A.PCKG_UT_CD, #{langCd}) AS PCKG_UT_NM
             , A.ECNTR_WGHT
             , A.TTWG                            /** Poids brut !==총중량==! */
             , A.SEAL_NO1                      /** N°1 de scellé !==봉인번호1==! */
             , A.SEAL_NO2                      /** N°2 de scellé !==봉인번호2==! */
             , A.SEAL_NO3                      /** N°3 de scellé !==봉인번호3==! */
             , A.SEAL_CHPN1
             , A.SEAL_CHPN2
             , A.SEAL_CHPN3
         FROM TB_CARI_CAG_DCSH_BL_CNTR A
        WHERE 1=1
          AND A.CAG_MGMT_NO = #{cagMgmtNo}    /** CRN !==화물관리번호==! */ -->
          AND A.DEL_YN = 'N'
        ORDER BY A.CNTR_NO
    </select>

    <!--
   Voir la liste de véhicule. (Suivi de cargaison) !==화물추적 차량 목록을 조회한다.==!
    (Roh Sideuk)
   -->
   <select id="selectCarCgtrVhclList"
           parameterType="alpass.ipt.car.info.vo.CarCgtrSearchVo"
           resultType="alpass.ipt.car.info.vo.CarCgtrVhclVo">
        /* CarCgtrMapper.selectCarCgtrVhclList */
           SELECT TCCDBV.MRN                                                    AS MRN                 /** Mrn !== MRN ==! */
                , TCCDBV.CAG_MGMT_NO                                            AS CAG_MGMT_NO         /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                , TCCDBV.VHCL_SRNO                                              AS VHCL_SRNO           /** Numéro De Séquence De Véhicule !== 차량일련번호 ==! */
                , TCCDBV.CHSS_NO                                                AS CHSS_NO             /** N° De Châssis !== 차대번호 ==! */
                , TCCDBV.VHCL_RGSR_NO                                           AS VHCL_RGSR_NO        /** N° d'immatriculation du véhicule !== 차량등록번호 ==! */
                , TCCDBV.VHCL_MNUR_CD                                           AS VHCL_MNUR_CD        /** Code De Fabricant Du Véhicule !== 차량제조사코드 ==! */
                , C1.VHCL_MNUR_NM                                          AS VHCL_MNUR_NM
                , TCCDBV.VHCL_MDL_CD                                            AS VHCL_MDL_CD         /** Code De Modèle Du Véhicule !== 차량모델코드 ==! */
                , C2.VHCL_MDL_NM                                           AS VHCL_MDL_NM         /** Code De Modèle Du Véhicule !== 차량모델코드 ==! */
                , TCCDBV.VHCL_KND_NM                                            AS VHCL_KND_NM         /** Type De Véhicule !== 차량종류명 ==! */
                , TCCDBV.VHCL_MNFC_YY                                           AS VHCL_MNFC_YY        /** Année De Fabrication De Véhicule !== 차량제조년도 ==! */
                , TCCDBV.ENGN_CLND_GCNT                                         AS ENGN_CLND_GCNT      /** Nombre De Cylindres De Moteur !== 엔진기통개수 ==! */
                , TCCDBV.VHCL_TOTL_WGHT                                         AS VHCL_TOTL_WGHT      /** Poids total en charge !== 차량총중량 ==! */
                , TCCDBV.DEL_YN                                                 AS DEL_YN              /** Suppression On !== 삭제여부 ==! */
                , TCCDBV.FRST_REGST_ID                                          AS FRST_REGST_ID       /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , TO_CHAR(TCCDBV.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS')        AS FRST_RGSR_DTTM      /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
                , TCCDBV.LAST_CHPR_ID                                           AS LAST_CHPR_ID        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , TO_CHAR(TCCDBV.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS')         AS LAST_CHG_DTTM       /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
            FROM TB_CARI_CAG_DCSH_BL_VHCL TCCDBV
           INNER JOIN TB_CARI_CAG_DCSH TCCD
              ON TCCD.DEL_YN = 'N'
             AND TCCD.MRN = TCCDBV.MRN
           INNER JOIN TB_CARI_CAG_DCSH_BL TCCDB
              ON TCCDB.DEL_YN = 'N'
             AND TCCD.MRN = TCCDB.MRN
             AND TCCDB.CAG_MGMT_NO = TCCDBV.CAG_MGMT_NO
           INNER JOIN TB_CARI_CAG_PRCS_BRKD TCCPB
              ON TCCPB.DEL_YN = 'N'                                         /** Suppression ON !== 삭제여부 ==! */
             AND TCCPB.PRCS_STTS_CD IN ('D06', 'D08', 'D10')
             AND TCCD.CAG_DCSH_RGSR_MGMT_NO = TCCPB.CAG_RQST_NO
            LEFT JOIN TB_COM_VHCL_MNUR C1
              ON C1.VHCL_MNUR_CD = TCCDBV.VHCL_MNUR_CD
            LEFT JOIN TB_COM_VHCL_MDL C2
              ON C2.VHCL_MDL_CD = TCCDBV.VHCL_MDL_CD
           WHERE TCCDBV.DEL_YN = 'N'                                         /** Suppression ON !== 삭제여부 ==! */
             AND TCCDBV.CAG_MGMT_NO = #{cagMgmtNo}          /** CRN !==화물관리번호==! */
           ORDER BY TCCDBV.VHCL_SRNO ASC
   </select>

    <!--
    Voir la liste de train. (Suivi de cargaison) !==화물추적 열차 목록을 조회한다.==!
    (Roh Sideuk)
    -->
    <select id="selectCarCgtrTrnList" parameterType="alpass.ipt.car.info.vo.CarCgtrSearchVo" resultType="alpass.ipt.car.info.vo.CarCgtrTrnVo">
        /* selectCarCgtrTrnList */
        SELECT
            A.CAG_MGMT_NO
            , A.WGN_NO
            , A.WGN_TYPE AS WGN_TP
        FROM TB_CARI_CAG_DCSH_BL_TRN A
        WHERE 1=1
           AND CAG_MGMT_NO = #{cagMgmtNo}            /** CRN !==화물관리번호==! */
           AND DEL_YN = 'N'
       ORDER BY TRN_SRNO
    </select>

    <!--
    Voir la liste de Remorque. (Suivi de cargaison) !==화물추적 트레일러 목록을 조회한다.==!
    (Roh Sideuk)
    -->
    <select id="selectCarCgtrTrlrList" parameterType="alpass.ipt.car.info.vo.CarCgtrSearchVo" resultType="alpass.ipt.car.info.vo.CarCgtrTrlrVo">
        /* selectCarCgtrTrlrList */
           SELECT A.CAG_MGMT_NO
            , A.VHCL_RGSR_NO
            , A.CHSS_NO
            , A.TRLR_STSZ
        FROM TB_CARI_CAG_DCSH_BL_TRLR A
        WHERE 1=1
           AND CAG_MGMT_NO = #{cagMgmtNo}            /** CRN !==화물관리번호==! */
           AND DEL_YN = 'N'
       ORDER BY TRLR_SRNO
    </select>

    <!--
    Voir la liste de Historique du traitement de B/L. (Suivi de cargaison) !==화물추적 B/L 처리 목록을 조회한다.==!
    (Roh Sideuk)
    -->
    <select id="selectCarCgtrBlPrcsList" parameterType="alpass.ipt.car.info.vo.CarCgtrSearchVo" resultType="alpass.ipt.car.info.vo.CarCgtrInfoBlPrcsVo">
        /* selectCarCgtrBlPrcsList*/
        SELECT T1.PRCS_SRNO                        /** N° de séquence de traitement !==처리일련번호==! */
            , T1.CAG_MGMT_NO                    /** CRN !==화물관리번호==! */
            , T1.CAG_RQST_TP_CD                /** N° de séquence de traitement !==화물신청구분코드==! */
            , FN_GET_CD_VDVAL_NM('CAR_0034', T1.CAG_RQST_TP_CD, #{langCd}) AS CAG_RQST_TP_NM            /** N° de séquence de traitement !==화물신청구분코드==! */
            , T1.PRCS_STTS_CD                    /** Code de statut de traitement !==처리상태코드==! */
            , FN_GET_CD_VDVAL_NM('COM_0026', T1.PRCS_STTS_CD, #{langCd}) AS PRCS_STTS_NM        /** Nom de statut de traitement !==처리상태명==! */
            , TO_CHAR(T1.PRCS_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS PRCS_DTTM /** Date/Heure de traitement !==처리일시==! */
            , T1.RQST_NO                             /** N° de demande !==신청번호==! */
            , T1.RQST_RFER_NO                 /** Numéro de référence de demande !==신청참고번호==! */
            , T1.IBOBZ_CD                            /** Code de magasin !==창고코드==! */
            , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = T1.IBOBZ_CD AND DEL_YN = 'N') AS IBOBZ_NM    /** Nom de magasin !==창고명==! */
            , T1.ARLC_IBOBZ_CD                     /** Code de magasin de destination !==목적창고코드==! */
            , (SELECT IBOBZ_NM FROM TB_CARI_IBOBZ WHERE IBOBZ_CD = T1.ARLC_IBOBZ_CD AND DEL_YN = 'N') AS ARLC_IBOBZ_NM    /** Nom de magasin de destination !==목적창고명==! */
            , T1.PRCS_PCKG_GCNT              /** Nombre de colis traité !==처리포장개수==! */
            , T1.PRCS_TTWG                      /** Poids brut de traité !==처리총중량==! */
            , T1.PRCS_NTWG                      /** Poids net d'un traité !== 처리순중량 ==! */
            , T1.BRNG_RLSE_TP_CD              /** Code de distinction de l'entrée et de la sortie !==반입반출구분코드==! */
            , FN_GET_CD_VDVAL_NM('CAR_0030', T1.BRNG_RLSE_TP_CD, #{langCd}) AS BRNG_RLSE_TP_NM    /** Nom de distinction de l'entrée et de la sortie !==반입반출구분명==! */
            , TO_CHAR(TO_DATE(T1.BRNG_RLSE_DT, 'YYYYMMDD'), 'DD/MM/YYYY') AS BRNG_RLSE_DT              /** Date d'entrée et de sortie !==반입반출일자==! */
            , CASE
              WHEN CAG_RQST_TP_CD = 'GCI' OR CAG_RQST_TP_CD = 'GCO'
              THEN (SELECT FN_GET_CD_VDVAL_NM('CAR_0008',DIVD_TP_CD,#{langCd}) FROM TB_CARI_RLBR WHERE DEL_YN = 'N' AND IBOBZ_CD = T1.IBOBZ_CD AND CAG_MGMT_NO = T1.CAG_MGMT_NO AND RLBR_RQST_NO = T1.RQST_NO)
              WHEN CAG_RQST_TP_CD = 'CCI' OR CAG_RQST_TP_CD = 'CCO'
              THEN (SELECT FN_GET_CD_VDVAL_NM('CAR_0008',B.DIVD_TP_CD,#{langCd})
                      FROM TB_CARI_CNTR_RLBR A
                         , TB_CARI_CNTR_RLBR_BL B
                     WHERE A.DEL_YN = 'N'
                       AND B.DEL_YN = 'N'
                       AND A.CNTR_RLBR_RQST_NO = B.RLBR_FFMN_MGMT_NO
                       AND B.CAG_MGMT_NO = T1.CAG_MGMT_NO
                       AND A.CNTR_RLBR_RQST_NO = T1.RQST_NO
                       AND A.IBOBZ_CD = T1.IBOBZ_CD
                       AND A.RLBR_TP_CD = T1.BRNG_RLSE_TP_CD
                     GROUP BY B.DIVD_TP_CD)
            WHEN CAG_RQST_TP_CD = 'MCG'
			         THEN (SELECT FN_GET_CD_VDVAL_NM('CAR_0033',TRNP_TP_CD,#{langCd}) FROM TB_CARI_TRNP WHERE DEL_YN = 'N' AND TRNP_RQST_NO = T1.RQST_NO LIMIT 1)	  
            ELSE T1.OTHS_CN
            END OTHS_CN 						/** Remarque !==기타내용==! */
           FROM TB_CARI_CGTR_BL_PRCS T1
         WHERE 1=1
             AND T1.DEL_YN = 'N'
             /*AND T1.XTRN_OFR_YN = 'Y'*/
             AND T1.CAG_MGMT_NO = #{cagMgmtNo}    /** CRN !==화물관리번호==! */
        ORDER BY T1.CAG_MGMT_NO, T1.PRCS_SRNO DESC
    </select>

    <!--
  Voir les informations sur transport !==운송정보 조회 하역전 ==!
  -->
    <select id="selectCarCagDcshTrnpInfoRlseYList"
            parameterType="alpass.ipt.car.com.vo.CarCagDcshClrVo"
            resultType="alpass.ipt.car.com.vo.CarCagDcshClrVo">
        /* ipt CarCgtrMapper.selectCarCagDcshTrnpInfoRlseYList*/
        <![CDATA[
        SELECT DECODE(BL_PT_CD, 'M', B.BL_NO, B.HBL_NO)                                     AS BL_NO /** N° de BL !==BL번호==! N° de sous BL !==HBL번호==! */
             , TO_CHAR(NVL(M.REAL_ARVL_DTTM, M.ARVL_DTTM),'DD/MM/YYYY')                     AS REAL_ARVL_DTTM /** Date et heure d'arrivée effective !==실제도착일시==! */
             , B.CAG_MGMT_NO /** CRN !==화물관리번호==! */
             , (CASE WHEN B.CNTR_GCNT = '0' THEN 'N' ELSE 'Y' end )                     AS CNTR_YN
             , M.TRNP_METH_NAT_CD /** Code de pays du moyen de transport !==운송수단국적코드==! */
             , M.TRNP_MEAN_CD /** Code de type de transport !==운송방법코드==! */
             , M.TRNP_METH_IDFY_NO /** N° d'identification du moyen de transport !==운송수단식별번호==! */
             , FN_CARE_GET_PORT_AIRPT_CITY_CD_NM(B.LOAD_REGN_CD, #{langCd})                 AS LOAD_REGN_NM /** Code de lieu de chargement !==적재지역명==! */
             , FN_CARE_GET_PORT_AIRPT_CITY_CD_NM(B.LDUN_REGN_CD, #{langCd})                 AS LDUN_REGN_NM /** Code de lieu de déchargement !==하역지역명==! */
             , B.CNTR_GCNT /** Nombre de conteneurs !==컨테이너개수==! */
             , B.BL_TP_CD /** Code de catégorie de B/L !==BL구분코드==! */
             , B.PCKG_GCNT                                                                  AS BRNG_PCKG_GCNT /** Nombre de colis !== (반입)포장개수==! */
             , B.PCKG_UT_CD                                                         AS BRNG_PCKG_UT_CD
             , B.CAG_CHRC_CD
             , NVL(B.ldun_yn, 'N') as ldun_cmpl_yn
             , NVL( ( select invn_yn
                        from tb_cari_invn
                       where cag_mgmt_no = B.cag_mgmt_no
                         and bl_no = B.bl_no
                         and ibobz_cd = b.ibobz_cd
                         and del_yn = 'N'), 'N'
               ) as INVN_YN
             , B.CAG_TP_CD
             , DECODE(B.CAG_CHRC_CD, '9', B.LIR_VOL, B.TTWG) AS BL_TTWG /** Poids brut de BL !==BL 총중량==! */
             , DECODE(B.CAG_CHRC_CD, '9', B.LIR_VOL, B.NTWG) AS BRNG_WGHT /** Poids brut !==(반입) 총중량==! */
             , M.TRNP_RFER_NO /** N° de voyageN° de volN° d'itinéraire !==운송참고번호==! */
             , M.TRNP_METH_NM /** Nom de moyen de transport !==운송수단명==! */
             , TO_CHAR(TO_DATE(M.LAST_LDUN_DT, 'YYYYMMDD'), 'DD/MM/YYYY')                   AS LAST_LDUN_DT /** Date de déchargement définitif !==최종하역일자==! */
             , B.LOAD_REGN_CD /** Code de lieu de chargement !==적재지역코드==! */
             , B.LDUN_REGN_CD /** Code de lieu de déchargement !==하역지역코드==! */
             , M.TRNP_METH_LOCT_NM /** Emplacement de moyen de transport !==운송수단위치명==! */
             , TO_CHAR(TO_DATE(B.bl_pbls_dt, 'YYYYMMDD'), 'DD/MM/YYYY')                   AS BL_PBLS_DT /** Date de délivrance du B/L !==BL발행일자==! */
		     , B.CNSI_TXPR_IDFY_NO                                      AS CNSI_TXPR_IDFY_NO   /** Niu Du Destinataire !== 수하인납세자식별번호 ==! */
             , B.IBOBZ_CD                                    AS IBOBZ_CD /** Code de zone sous douane !==보세구역코드 ==! */
             , ( SELECT IBOBZ_NM
                   FROM TB_CARI_IBOBZ
                  WHERE DEL_YN = 'N'
                    AND IBOBZ_CD = B.IBOBZ_CD)                 AS IBOBZ_NM /** Code de zone sous douane !==보세구역코드 ==! */
             , B.IBOBZ_CD                                    AS ZONE_CD /** Code de zone sous douane !==보세구역코드 ==! (AS-IS ALIAS) */
             , ( SELECT IBOBZ_NM
                   FROM TB_CARI_IBOBZ
                  WHERE DEL_YN = 'N'
                    AND IBOBZ_CD = B.IBOBZ_CD)                 AS ZONE_NM /** Code de zone sous douane !==보세구역코드 ==! (AS-IS ALIAS)*/
                , nvl( ( SELECT DECODE(RELE_YN, 'Y', 'N', 'Y')
                        FROM ALPASSINT.TB_CARI_STDT_PASS_CMDT
                       WHERE DEL_YN = 'N'
                         AND FIX_YN = 'Y'
                         AND CAG_MGMT_NO  = B.CAG_MGMT_NO)
                    , 'N'
               ) AS FIX_YN  /** Marchandises ayant depasse le delai legal du sejour O/N !==보관일경과물품여부==! */
             , NVL(J.TRNP_STTS, 0) AS TRNP_STTS /**24:수출화물 운송에 의한 반입,16:보관일 경과화물 이송에 의한 반입,13:간이 보세운송에 의한 반입,14:일반 보세운송에 의한 반입 */ 
          FROM TB_CARI_CAG_DCSH M
             , TB_CARI_CAG_DCSH_BL B
             , TB_CARI_CAG_PRCS_BRKD P
             , ( SELECT C1.ORGN_CD
                      , C2.ORGN_CD jrsd_cstm_cd
                   FROM TB_POTI_ORGN C1
                   LEFT JOIN  TB_POTI_ORGN C2
                     ON C1.UPR_ORGN_MGMT_CD = C2.ORGN_MGMT_CD
                  WHERE C1.DEL_YN = 'N'
               ) O
              , (SELECT B.CAG_MGMT_NO, SUM(CASE WHEN NVL(D.PRCS_STTS_CD, '') != 'D08' THEN 1 ELSE 0 END) AS TRNP_STTS
						             FROM ALPASSINT.TB_CARI_TRNP A
						             JOIN ALPASSINT.TB_CARI_TRNP_BL B
						               ON A.trnp_rqst_no = B.trnp_rqst_no
						              AND B.DEL_YN = 'N'
						             JOIN ALPASSINT.TB_CARI_CAG_PRCS_BRKD C 
						               ON A.trnp_rqst_no = C.cag_rqst_no
						              AND C.prcs_stts_cd = 'D08'
						             LEFT JOIN (SELECT X.RELA_NO, X.CAG_MGMT_NO, X.PRCS_STTS_CD 
						                          FROM ALPASSEXT.TB_CARE_RLBR X, ALPASSINT.TB_CARI_RLBR Y
						                         WHERE X.DEL_YN = 'N'
						                           AND X.RLBR_TP_CD = 'I'
						                           AND X.RLBR_PT_CD IN ('24', '16','13','14')
						                           AND X.RLBR_RQST_NO = Y.RLBR_RQST_NO
						                           AND X.PRCS_STTS_CD != 'D09') D 
						               ON A.trnp_rqst_no = D.RELA_NO
						              AND B.CAG_MGMT_NO = D.CAG_MGMT_NO
						            WHERE A.DEL_YN = 'N'
						              AND A.TRNP_TP_CD IN ('10','20','30','60')
						               ]]>
						              <if test="cagMgmtNo != null and cagMgmtNo != ''">
														 			     AND B.CAG_MGMT_NO = #{cagMgmtNo}  /** CRN !==화물관리번호==! */
														 			  </if>
														 			  <![CDATA[
						            GROUP BY B.CAG_MGMT_NO) J   
         WHERE 1 = 1
           AND M.DEL_YN = 'N'
           AND B.DEL_YN = 'N'
           AND M.MRN = B.MRN
           AND M.JRSD_ORGN_CD = O.ORGN_CD
           AND M.CAG_RQST_TP_CD = P.CAG_RQST_TP_CD
           AND M.CAG_DCSH_RGSR_MGMT_NO = P.CAG_RQST_NO
           AND B.CAG_MGMT_NO = J.CAG_MGMT_NO(+)
           AND P.PRCS_STTS_CD IN ('D08', 'D10')
           AND B.CAG_TP_CD IN ('IM', 'TR')
           AND (B.BL_PT_CD = 'H' OR (B.BL_PT_CD = 'M' AND B.BL_TP_CD IN ('S')))
           AND NOT EXISTS( SELECT 1
                             FROM TB_CARI_INVN CI
                            WHERE B.CAG_MGMT_NO = CI.CAG_MGMT_NO
                              AND CI.DEL_YN = 'N'
              )
        ]]>
        <if test="blNo != null and blNo != ''">
            AND (B.BL_NO = #{blNo} OR B.HBL_NO = #{blNo}) /** N° de BL !==BL번호==! N° de sous BL !==HBL번호==! */
        </if>
        <if test="realArvlDttm != null and realArvlDttm != ''">
            AND TO_CHAR(M.REAL_ARVL_DTTM,'DD/MM/YYYY') = #{realArvlDttm} /** Date et heure d'arrivée effective !==실제도착일시==! */
        </if>
        <if test="cagMgmtNo != null and cagMgmtNo != ''">
            AND B.CAG_MGMT_NO = #{cagMgmtNo} /** CRN !==화물관리번호==! */
        </if>
        <if test="csclCstmCd != null and csclCstmCd != ''">
            AND O.jrsd_cstm_cd = #{csclCstmCd}
        </if>
    </select>

    <!--
  Voir les informations sur transport !==운송정보 조회 하역후 ==!
  -->
    <select  id="selectCarCagDcshTrnpInfoRlseNList"
             parameterType="alpass.ipt.car.com.vo.CarCagDcshClrVo"
             resultType="alpass.ipt.car.com.vo.CarCagDcshClrVo">
        /* ipt CarCgtrMapper.selectCarCagDcshTrnpInfoRlseNList */
    <![CDATA[
    SELECT DECODE(BL_PT_CD, 'M', B.BL_NO, B.HBL_NO)                   AS BL_NO /** N° de BL !==BL번호==! N° de sous BL !==HBL번호==! */
         , TO_CHAR(NVL(M.REAL_ARVL_DTTM, M.ARVL_DTTM),'DD/MM/YYYY')   AS REAL_ARVL_DTTM /** Date et heure d'arrivée effective !==실제도착일시==! */
         , B.CAG_MGMT_NO /** CRN !==화물관리번호==! */
         , (CASE WHEN B.CNTR_GCNT = '0' THEN 'N' ELSE 'Y' end ) AS CNTR_YN
         , M.TRNP_METH_NAT_CD /** Code de pays du moyen de transport !==운송수단국적코드==! */
         , M.TRNP_MEAN_CD /** Code de type de transport !==운송방법코드==! */
         , M.TRNP_METH_IDFY_NO /** N° d'identification du moyen de transport !==운송수단식별번호==! */
         , M.TRNP_RFER_NO /** N° de voyageN° de volN° d'itinéraire !==운송참고번호==! */
         , M.TRNP_METH_NM /** Nom de moyen de transport !==운송수단명==! */
         , B.LOAD_REGN_CD /** Code de lieu de chargement !==적재지역코드==! */
         , FN_CARE_GET_PORT_AIRPT_CITY_CD_NM(B.LOAD_REGN_CD, #{langCd})                                     AS LOAD_REGN_NM /** Code de lieu de chargement !==적재지역명==! */
         , B.LDUN_REGN_CD /** Code de lieu de déchargement !==하역지역코드==! */
         , FN_CARE_GET_PORT_AIRPT_CITY_CD_NM(B.LDUN_REGN_CD, #{langCd})                                     AS LDUN_REGN_NM /** Code de lieu de déchargement !==하역지역명==! */
         , B.CNTR_GCNT /** Nombre de conteneurs !==컨테이너개수==! */
         , B.BL_TP_CD /** Code de catégorie de B/L !==BL구분코드==! */
         , B.PCKG_GCNT                                   AS BL_PCKG_GCNT /** Nombre de colis de BL !==BL 포장개수==! */
         , B.PCKG_UT_CD                                                         AS BRNG_PCKG_UT_CD
         , DECODE(B.CAG_CHRC_CD, '9', B.LIR_VOL, B.TTWG) AS BL_TTWG /** Poids brut de BL !==BL 총중량==! */
         , I.BRNG_PCKG_GCNT /** N° de colisage d'entrée !==반입포장개수==! */
         , B.cag_chrc_cd
         , NVL(B.ldun_yn, 'N') as ldun_cmpl_yn
         , NVL( ( select invn_yn
                    from tb_cari_invn
                   where cag_mgmt_no = I.cag_mgmt_no
                     and ibobz_cd = I.ibobz_cd
                     and del_yn = 'N')
                , 'N') as INVN_YN
         , B.cag_tp_cd
         , I.RLSE_PCKG_GCNT /** N° de colisage sortie !==반출포장개수==! */
         , I.INVN_PCKG_GCNT /** Nombre de colisage du stock !==재고포장개수==! */
         , I.BRNG_WGHT /** Poids d'entrée !==반입중량==! */
         , I.RLSE_WGHT /** Poids sortie !==반출중량==! */
         , I.INVN_WGHT /** Poids du stock !==재고중량==! */
         , TO_CHAR(TO_DATE(M.LAST_LDUN_DT, 'YYYYMMDD'), 'DD/MM/YYYY')                         AS LAST_LDUN_DT /** Date de déchargement définitif !==최종하역일자==! */
         , M.TRNP_METH_LOCT_NM /** Emplacement de moyen de transport !==운송수단위치명==! */
	     , B.CNSI_TXPR_IDFY_NO                           AS CNSI_TXPR_IDFY_NO   /** Niu Du Destinataire !== 수하인납세자식별번호 ==! */
         , I.IBOBZ_CD                                    AS IBOBZ_CD /** Code de zone sous douane !==보세구역코드 ==! */
         , (SELECT IBOBZ_NM
            FROM TB_CARI_IBOBZ
            WHERE DEL_YN = 'N'
              AND IBOBZ_CD = I.IBOBZ_CD)                 AS IBOBZ_NM /** Code de zone sous douane !==보세구역코드 ==! */
         , I.IBOBZ_CD                                    AS ZONE_CD /** Code de zone sous douane !==보세구역코드 ==! (AS-IS ALIAS) */
         , (SELECT IBOBZ_NM
            FROM TB_CARI_IBOBZ
            WHERE DEL_YN = 'N'
              AND IBOBZ_CD = I.IBOBZ_CD)                 AS ZONE_NM /** Code de zone sous douane !==보세구역코드 ==! (AS-IS ALIAS)*/
         , TO_CHAR(TO_DATE(B.bl_pbls_dt, 'YYYYMMDD'), 'DD/MM/YYYY')                   AS BL_PBLS_DT /** Date de délivrance du B/L !==BL발행일자==! */
         , nvl( ( SELECT DECODE(RELE_YN, 'Y', 'N', 'Y')
                        FROM ALPASSINT.TB_CARI_STDT_PASS_CMDT
                       WHERE DEL_YN = 'N'
                         AND FIX_YN = 'Y'
                         AND CAG_MGMT_NO  = B.CAG_MGMT_NO)
                    , 'N'
         ) AS FIX_YN /*CARI_보관일경과물품*/
        , NVL(J.TRNP_STTS, 0) AS TRNP_STTS /**24:수출화물 운송에 의한 반입,16:보관일 경과화물 이송에 의한 반입,13:간이 보세운송에 의한 반입,14:일반 보세운송에 의한 반입 */
    FROM TB_CARI_CAG_DCSH M
       , TB_CARI_CAG_DCSH_BL B
       , TB_CARI_CAG_PRCS_BRKD P
       , (SELECT CAG_MGMT_NO
               , IBOBZ_CD
               , INVN_PCKG_GCNT AS INVN_PCKG_GCNT /** Nombre de colisage du stock !==재고포장개수==! */
               , INVN_WGHT      AS INVN_WGHT /** Poids du stock !==재고중량==! */
               , BRNG_PCKG_GCNT AS BRNG_PCKG_GCNT /** N° de colisage d'entrée !==반입포장개수==! */
               , BRNG_WGHT      AS BRNG_WGHT /** Poids d'entrée !==반입중량==! */
               , RLSE_PCKG_GCNT AS RLSE_PCKG_GCNT /** N° de colisage sortie !==반출포장개수==! */
               , RLSE_WGHT      AS RLSE_WGHT /** Poids sortie !==반출중량==! */
          FROM TB_CARI_INVN X
          WHERE INVN_YN = 'Y'
            AND DEL_YN = 'N'
    ]]>
        <if test="blNo != null and blNo != ''">
            AND EXISTS ( SELECT 1
                           FROM TB_CARI_CAG_DCSH_BL
                          WHERE DEL_YN = 'N'
                            AND CAG_MGMT_NO = X.CAG_MGMT_NO
                            AND ( BL_NO = #{blNo} OR HBL_NO = #{blNo} ) /** N° de BL !==BL번호==! N° de sous BL !==HBL번호==! */
            )
        </if>
        <if test="cagMgmtNo != null and cagMgmtNo != ''">
            AND CAG_MGMT_NO = #{cagMgmtNo}  /** CRN !==화물관리번호==! */
        </if>
        <if test="ibobzCd != null and ibobzCd != ''">
            AND x.IBOBZ_CD =  #{ibobzCd}
        </if>
        <![CDATA[
          ORDER BY LAST_BRNG_DTTM DESC
          LIMIT 1) I
          , (SELECT B.CAG_MGMT_NO, SUM(CASE WHEN NVL(D.PRCS_STTS_CD, '') != 'D08' THEN 1 ELSE 0 END) AS TRNP_STTS
             FROM ALPASSINT.TB_CARI_TRNP A
             JOIN ALPASSINT.TB_CARI_TRNP_BL B
               ON A.trnp_rqst_no = B.trnp_rqst_no
              AND B.DEL_YN = 'N'
             JOIN ALPASSINT.TB_CARI_CAG_PRCS_BRKD C 
               ON A.trnp_rqst_no = C.cag_rqst_no
              AND C.prcs_stts_cd = 'D08'
             LEFT JOIN (SELECT X.RELA_NO, X.CAG_MGMT_NO, X.PRCS_STTS_CD 
                          FROM ALPASSEXT.TB_CARE_RLBR X, ALPASSINT.TB_CARI_RLBR Y
                         WHERE X.DEL_YN = 'N'
                           AND X.RLBR_TP_CD = 'I'
                           AND X.RLBR_PT_CD IN ('24', '16','13','14')
                           AND X.RLBR_RQST_NO = Y.RLBR_RQST_NO
                           AND X.PRCS_STTS_CD != 'D09') D 
               ON A.trnp_rqst_no = D.RELA_NO
              AND B.CAG_MGMT_NO = D.CAG_MGMT_NO
            WHERE A.DEL_YN = 'N'
              AND A.TRNP_TP_CD IN ('10','20','30','60')
              ]]>
              <if test="cagMgmtNo != null and cagMgmtNo != ''">
 			  AND B.CAG_MGMT_NO = #{cagMgmtNo}  /** CRN !==화물관리번호==! */
 			  </if>
 			  <![CDATA[
            GROUP BY B.CAG_MGMT_NO) J  
    WHERE 1 = 1
      AND M.DEL_YN = 'N'
      AND B.DEL_YN = 'N'
      AND M.MRN = B.MRN
      AND M.CAG_RQST_TP_CD = P.CAG_RQST_TP_CD
      AND M.CAG_DCSH_RGSR_MGMT_NO = P.CAG_RQST_NO
      AND P.PRCS_STTS_CD IN ('D08', 'D10')
      AND B.CAG_TP_CD IN ('IM', 'TR')
      AND (B.BL_PT_CD = 'H' OR (B.BL_PT_CD = 'M' AND B.BL_TP_CD IN ('S')))
      AND B.CAG_MGMT_NO = I.CAG_MGMT_NO
      AND B.CAG_MGMT_NO = J.CAG_MGMT_NO(+)
      AND (CASE WHEN B.BL_PT_CD = 'M' THEN 'Y'
      			WHEN B.CAG_MGMT_NO LIKE '%ICA%' THEN 'Y'
                WHEN (SELECT BL_TP_CD FROM TB_CARE_CAG_DCSH_BL WHERE CAG_MGMT_NO = SUBSTR(B.CAG_MGMT_NO,1,20)) = 'X' THEN 'Y'
                ELSE (SELECT CASE WHEN COUNT(*) > 0 THEN 'Y' ELSE 'N' END
                        FROM TB_CARE_EXSF_RPRT X
                           , TB_CARE_EXSF_RPRT_HBL Y
                       WHERE X.EXSF_RPRT_NO = Y.EXSF_RPRT_NO
                         AND X.PRCS_STTS_CD = 'D08'
                         AND Y.DEL_YN = 'N'
                         AND Y.CAG_MGMT_NO = B.CAG_MGMT_NO
                     )
                END) = 'Y'    
    ]]>
        <if test="blNo != null and blNo != ''">
            AND (B.BL_NO = #{blNo} OR B.HBL_NO = #{blNo})                     /** N° de BL !==BL번호==! N° de sous BL !==HBL번호==! */
        </if>
        <if test="realArvlDttm != null and realArvlDttm != ''">
            AND TO_CHAR(M.REAL_ARVL_DTTM,'DD/MM/YYYY') = #{realArvlDttm}       /** Date et heure d'arrivée effective !==실제도착일시==! */
        </if>
        <if test="cagMgmtNo != null and cagMgmtNo != ''">
            AND B.CAG_MGMT_NO = #{cagMgmtNo}                                   /** CRN !==화물관리번호==! */
        </if>
        <if test="csclCstmCd != null and csclCstmCd != ''">
            AND i.IBOBZ_CD LIKE  #{csclCstmCd} ||'%'
        </if>
    </select>

    <select id="selectCarCagDcshBlCntrList"  parameterType="alpass.ipt.car.com.vo.CarCagDcshClrVo" resultType="alpass.ipt.car.com.vo.CarCagDcshBlCntrVo">
        <![CDATA[
        SELECT DECODE(BL_PT_CD, 'M', B.BL_NO, B.HBL_NO) AS BL_NO /** N° de BL !==BL번호==! N° de sous BL !==HBL번호==! */
                 , B.CAG_MGMT_NO /** CRN !==화물관리번호==! */
                 , C.CNTR_NO /** N° de conteneur !==컨테이너번호==! */
                 , C.CNTR_TP_CD /** Code de type de conteneur !==컨테이너구분코드==! */
                  , FN_GET_CD_VDVAL_NM('CAR_0020', C.CNTR_TP_CD, #{langCd}) AS CNTR_TP_NM
                 , C.SEAL_NO1 /** N°1 de scellé !==봉인번호1==! */
                 , C.SEAL_NO2 /** N°2 de scellé !==봉인번호2==! */
                 , C.SEAL_NO3 /** N°3 de scellé !==봉인번호3==! */
                 , C.SEAL_CHPN1 /** Code de la personne scellant !==봉인담당자코드==! */
                 , C.SEAL_CHPN2 /** Code de la personne scellant !==봉인담당자코드==! */
                 , C.SEAL_CHPN3 /** Code de la personne scellant !==봉인담당자코드==! */
        FROM TB_CARI_CAG_DCSH M
             , TB_CARI_CAG_DCSH_BL B
             , TB_CARI_CAG_PRCS_BRKD P
             , TB_CARI_CAG_DCSH_BL_CNTR C
        WHERE 1 = 1
            AND M.DEL_YN = 'N'
            AND B.DEL_YN = 'N'
            AND C.DEL_YN = 'N'
            AND M.MRN = B.MRN
            AND M.CAG_RQST_TP_CD = P.CAG_RQST_TP_CD
            AND M.CAG_DCSH_RGSR_MGMT_NO = P.CAG_RQST_NO
            AND P.PRCS_STTS_CD IN ('D08', 'D10')
            AND B.MRN = C.MRN
            AND B.CAG_MGMT_NO = C.CAG_MGMT_NO
            AND B.BL_PT_CD <> 'H'
        ]]>
        <if test="blNo != null and blNo != ''">
            AND (B.BL_NO = #{blNo} OR B.HBL_NO = #{blNo})        /** N° de BL !==BL번호==! N° de sous BL !==HBL번호==! */
        </if>
        <if test="cagMgmtNo != null and cagMgmtNo != ''">
            AND B.CAG_MGMT_NO = #{cagMgmtNo}            /** CRN !==화물관리번호==! */
        </if>
    </select>

    <!--
    Vérifier si la demande de chargement et le rapport de chargement existent ou non.      !== 적재 신청 및 적재 보고 여부 확인 ==!
     -->
    <select id="vrfcLoadBlExfm"  parameterType="String" resultType="alpass.ipt.car.info.vo.CarCgtrLoadVrfcVo">
        /* vrfcLoadBlExfm */
        SELECT
              (SELECT SLNG_RGSR_NO
                  FROM TB_CARI_LOAD
                  WHERE DEL_YN = 'N'
                  AND LOAD_RQST_NO = E.LOAD_RQST_NO) AS SLNG_RGSR_NO
            , E.LOAD_RQST_NO
            , E.BL_SRNO
            , E.EXP_FFMN_NO
            , E.PCKG_GCNT
            , E.TTWG
            , '' AS LDUN_RPRT_NO
        FROM TB_CARI_LOAD_BL_EXFM E
        WHERE E.DEL_YN = 'N'
        AND E.EXP_FFMN_NO = #{sadNo}
    </select>

</mapper>