<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.ldun.mapper.CarCagLdunRprtBlMapper">
	
	<sql id ="selectCariLdunRprtBlSelect">
           SELECT T1.ldun_rprt_no               AS ldun_rprt_no        /** N° De Rapport Sur Le Déchargement !== 하역보고번호 ==! */
                , PB.prcs_stts_cd               AS prcs_stts_cd
                , T1.bl_no                      AS bl_no               /** N° De Bl !== BL번호 ==! */
                , T1.hbl_no                     AS hbl_no              /** N° de House B/L !== HBL번호 ==! */
                , T1.ibobz_cd                   AS ibobz_cd            /** Code de zone sous douane !== 보세구역코드 ==! */
                , DD.ibobz_nm                   AS ibobz_nm
                , T1.rprt_dgcnt                 AS rprt_dgcnt          /** N° ordre de rapport !== 보고차수 ==! */
                , T1.dscr_tp_cd                 AS dscr_tp_cd          /** Code de non-conformité !== 불일치구분코드 ==! */
                , FN_GET_CD_VDVAL_NM ( 'CAR_0032'
                                     , T1.DSCR_TP_CD
                                     , #{langCd}
                                     )          AS dscr_tp_nm        /** DéficitExcédent !==불일치구분코드==! */
                , T1.pckg_gcnt                  AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                , T1.ttwg                       AS ttwg                        /** Poids Brut !== 총중량 ==! */
                , T1.cbm_vol                    AS cbm_vol                     /** Volume (Mtq) !== 입방미터용적 ==! */
                , T1.lir_vol                    AS lir_vol                     /** Volume (Litre) !== 리터용적 ==! */
                , DECODE( T1.divd_ldun_last_yn
                        , 'Y', 'true', 'false') AS divd_ldun_last
                , T1.divd_ldun_last_yn          AS divd_ldun_last_yn   /** Dernier Déchargement Partiel On !== 분할하역최종여부 ==! */
                , T1.insc_cfrm_dt               AS insc_cfrm_dt        /** Date de vérification de l'inspection !==검사확인일자==! */
                , T1.apre_yn_cd                                        /** Autorisation O/N !==승인여부코드==! */
                , T1.apre_yn_cd                 AS old_apre_yn_cd      /** Autorisation O/N !==승인여부코드==! */
                , FN_GET_CD_VDVAL_NM( 'COM_0002'
                                    , T1.APRE_YN_CD
                                    , #{langCd}
                                    )           AS apre_yn_nm        /** Autorisation O/N !==승인여부코드==! */
                , T1.rtrn_rsn_cn                AS rtrn_rsn_cn         /** Motif De Rejet !== 반려사유내용 ==! */
                , T1.del_yn                     AS del_yn                      /** Suppression On !== 삭제여부 ==! */
                , T1.frst_regst_id              AS frst_regst_id       /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                , T1.last_chpr_id               AS last_chpr_id        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                , CASE WHEN T2.BL_PT_CD IS NOT NULL THEN T2.BL_PT_CD
                       WHEN T2.BL_PT_CD IS NULL AND T1.HBL_NO = '' THEN 'M'
                       ELSE 'H'
                  END                                                      AS BL_PT_CD /** Code De Type De Bl !== BL유형코드 ==! */  
                , FN_GET_CD_VDVAL_NM( 'CAR_0015'
                                    , T2.BL_TP_CD
                                    , #{langCd}
                                    )           AS bl_tp_nm        /** Type de B/L != BL구분코드 =! */
                , T2.cag_mgmt_no                AS cag_mgmt_no          /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                , CASE WHEN T1.CAG_CHRC_CD IS NOT NULL
                       THEN T1.CAG_CHRC_CD
                       ELSE T2.CAG_CHRC_CD
                   END AS CAG_CHRC_CD         /** Nature De Cargaison !== 화물특성코드 ==! */  
                , FN_GET_CD_VDVAL_NM( 'CAR_0018'
                                    , CASE WHEN T1.CAG_CHRC_CD IS NOT NULL
                                           THEN T1.CAG_CHRC_CD
                                           ELSE T2.CAG_CHRC_CD
                                       END
                                    , #{langCd}
                                    )           AS cag_chrc_nm        /** Nature de cargaison !==화물특성코드==! */
                , T2.pckg_gcnt                  AS bl_pckg_gcnt       /** Nombre de colis !==포장개수==! */
                , T2.hdcb_tp_cd                 AS bl_hdcb_tp_cd      /** Code de type de hydrocarbon !==탄화수소구분코드==! */
                , T2.ecntr_wght                 AS bl_ecntr_wght      /** Tare de conteneur(s) à vide !==공컨테이너중량==! */
                , T2.ttwg                       AS bl_ttwg            /** Poids brut !==총중량==! */
                , T2.ntwg                       AS bl_ntwg            /** Poids net !==순중량==! */
                , T2.cbm_vol                    AS bl_cbm_vol         /** Volume (MTQ) !==입방미터용적==! */
                , T2.lir_vol                    AS bl_lir_vol         /** Volume (Litre) !==리터용적==! */
                , T2.cntr_gcnt                  AS bl_cntr_gcnt       /** Nombre de conteneurs != 컨테이너개수 =! */
                , T2.vhcl_gcnt                  AS bl_vhcl_gcnt       /** Nombre de véhicules != 차량개수 =! */
             FROM ( SELECT TT1.mrn                                                                            AS mrn                  /** Mrn !== MRN ==! */
                         , TT1.cag_rqst_tp_cd                                                                 AS cag_rqst_tp_cd      /** Code de classement du suivi du fret !== 화물신청구분코드 ==! */
                         , TT2.ldun_rprt_no                                                                   AS ldun_rprt_no        /** N° De Rapport Sur Le Déchargement !== 하역보고번호 ==! */
                         , TT2.bl_no                                                                          AS bl_no               /** N° De Bl !== BL번호 ==! */
                         , TT2.hbl_no                                                                         AS hbl_no              /** N° de House B/L !== HBL번호 ==! */
                         , TT2.rprt_dgcnt                                                                     AS rprt_dgcnt          /** N° ordre de rapport !== 보고차수 ==! */
                         , TT2.dscr_tp_cd                                                                     AS dscr_tp_cd          /** Code de non-conformité !== 불일치구분코드 ==! */
                         , TT2.pckg_gcnt                                                                      AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                         , TT2.ttwg                                                                                   AS ttwg                        /** Poids Brut !== 총중량 ==! */
                         , TT2.cbm_vol                                                                                AS cbm_vol                     /** Volume (Mtq) !== 입방미터용적 ==! */
                         , TT2.lir_vol                                                                                AS lir_vol                     /** Volume (Litre) !== 리터용적 ==! */
                         , TT2.divd_ldun_last_yn                                                              AS divd_ldun_last_yn   /** Dernier Déchargement Partiel On !== 분할하역최종여부 ==! */
                         , TT2.ibobz_cd                                                                       AS ibobz_cd                    /** Code de zone sous douane !== 보세구역코드 ==! */
                         , TO_CHAR(TO_DATE(TT2.insc_cfrm_dt,'DDMMYYYY'), 'DD/MM/YYYY')                             AS insc_cfrm_dt        /** Date de vérification de la visite !== 검사확인일자 ==! */
                         , TT2.apre_yn_cd                                                                     AS apre_yn_cd          /** Autorisation O/N !== 승인여부코드 ==! */
                         , TT2.rtrn_rsn_cn                                                                    AS rtrn_rsn_cn         /** Motif De Rejet !== 반려사유내용 ==! */
                         , TT2.del_yn                                                                                 AS del_yn                      /** Suppression On !== 삭제여부 ==! */
                         , TT2.frst_regst_id                                                                  AS frst_regst_id       /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
                         , TT2.last_chpr_id                                                                   AS last_chpr_id        /** Id Du Modificateur Final !== 최종변경자ID ==! */
                         , TT2.cag_chrc_cd                                                                    AS cag_chrc_cd         /** Nature De Cargaison !== 화물특성코드 ==! */  
                      FROM TB_CARI_LDUN_RPRT TT1
                     INNER JOIN TB_CARI_LDUN_RPRT_BL TT2
                        ON TT1.ldun_rprt_no = TT2.ldun_rprt_no
                     WHERE 1=1
                       AND TT1.del_yn ='N'
                       AND TT2.del_yn ='N'
                  ) T1
           /* 결함관리663-하역보고 수정전은 화물신고서 정정 0차수 데이터 기준으로 수정
             LEFT JOIN ( SELECT TT1.mrn                                                    AS mrn                 /** Mrn !== MRN ==! */
                              , TT2.cag_mgmt_no                                            AS cag_mgmt_no         /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                              --, TT2.bl_no                                                  AS bl_no               /** N° De Bl !== BL번호 ==! */
                              , CASE WHEN TT2.bl_pt_cd = 'M'
                                     THEN TT2.bl_no
                                     ELSE TT2.hbl_no
                                 END                                                       AS bl_no               /** N° De Bl !== BL번호 ==! */
                              , TT2.bl_tp_cd                                               AS bl_tp_cd            /** Code De Catégorie De B/L !== BL구분코드 ==! */
                              , TT2.cag_chrc_cd                                            AS cag_chrc_cd         /** Nature De Cargaison !== 화물특성코드 ==! */
                              , TT2.pckg_gcnt                                              AS pckg_gcnt           /** Nombre De Colis !== 포장개수 ==! */
                              , TT2.hdcb_tp_cd                                             AS hdcb_tp_cd          /** Code de type d'hydrocarbure !== 탄화수소구분코드 ==! */
                              , TT2.ecntr_wght                                             AS ecntr_wght          /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
                              , TT2.ttwg                                                   AS ttwg                /** Poids Brut !== 총중량 ==! */
                              , TT2.ntwg                                                   AS ntwg                /** Poids Net !== 순중량 ==! */
                              , TT2.cbm_vol                                                AS cbm_vol             /** Volume (Mtq) !== 입방미터용적 ==! */
                              , TT2.lir_vol                                                AS lir_vol             /** Volume (Litre) !== 리터용적 ==! */
                              , TT2.cntr_gcnt                                              AS cntr_gcnt           /** Nombre De Conteneurs !== 컨테이너개수 ==! */
                              , TT2.vhcl_gcnt                                              AS vhcl_gcnt           /** Nombre De Véhicules !== 차량개수 ==! */
                           FROM TB_CARI_CAG_DCSH TT1
                          INNER JOIN TB_CARI_CAG_DCSH_BL TT2
                             ON TT1.mrn = TT2.mrn
                            --AND TT2.bl_pt_cd = 'M'
                            AND ((TT2.bl_pt_cd = 'M' AND TT2.bl_tp_cd = 'S') OR TT2.bl_pt_cd = 'H')
                          WHERE 1=1
                            AND TT1.del_yn ='N'
                            AND TT2.del_yn ='N'
                   ) T2
                ON T1.mrn = T2.mrn
               AND T1.bl_no = T2.bl_no
               */
             LEFT JOIN ( SELECT TT1.mrn                                     AS mrn                    /** Mrn !== MRN ==! */
                              , TT1.cag_dcsh_mdfy_rqst_no                   AS cag_dcsh_mdfy_rqst_no  /** Numéro de demande de correction de la déclaration de fret !== 화물신고서정정신청번호 ==! */
                              , TT2.cag_mgmt_no                             AS cag_mgmt_no            /** N° Demande De La Création De Crn !== 화물관리번호 ==! */
                              , TT2.bl_no                                   AS bl_no                  /** N° De Bl !== BL번호 ==! */
                              , TT2.hbl_no                                  AS hbl_no                 /** N° de House B/L !== HBL번호 ==! */
                              , TT2.bl_tp_cd                                AS bl_tp_cd               /** Code De Catégorie De B/L !== BL구분코드 ==! */
                              , TT2.bl_pt_cd                                AS bl_pt_cd               /** Code De Type De Bl !== BL유형코드 ==! */
                              , TT2.cag_chrc_cd                             AS cag_chrc_cd            /** Nature De Cargaison !== 화물특성코드 ==! */
                              , TT2.pckg_gcnt                               AS pckg_gcnt              /** Nombre De Colis !== 포장개수 ==! */
                              , TT2.hdcb_tp_cd                              AS hdcb_tp_cd             /** Code de type d'hydrocarbure !== 탄화수소구분코드 ==! */
                              , TT2.ecntr_wght                              AS ecntr_wght             /** Tare De Conteneur(S) À Vide !== 공컨테이너중량 ==! */
                              , TT2.ttwg                                    AS ttwg                   /** Poids Brut !== 총중량 ==! */
                              , TT2.ntwg                                    AS ntwg                   /** Poids Net !== 순중량 ==! */
                              , TT2.cbm_vol                                 AS cbm_vol                /** Volume (Mtq) !== 입방미터용적 ==! */
                              , TT2.lir_vol                                 AS lir_vol                /** Volume (Litre) !== 리터용적 ==! */
                              , TT2.cntr_gcnt                               AS cntr_gcnt              /** Nombre De Conteneurs !== 컨테이너개수 ==! */
                              , TT2.vhcl_gcnt                               AS vhcl_gcnt              /** Nombre De Véhicules !== 차량개수 ==! */
                           FROM tb_cari_cag_dcsh_mdfy TT1
                          INNER JOIN tb_cari_cag_dcsh_mdfy_bl TT2
                             ON TT1.cag_dcsh_mdfy_rqst_no = TT2.cag_dcsh_mdfy_rqst_no
                          WHERE 1=1
                            AND TT1.mdfy_dgcnt = 0
                            --AND TT2.bl_pt_cd = 'M'
                            AND ((TT2.bl_pt_cd = 'M' AND TT2.bl_tp_cd = 'S') OR TT2.bl_pt_cd = 'H')
                            AND TT1.del_yn ='N'
                            AND TT2.del_yn ='N'
                   ) T2
                ON T1.mrn = T2.mrn
               AND T1.bl_no = T2.bl_no AND T1.HBL_NO = T2.HBL_NO 
              LEFT JOIN TB_CARI_CAG_PRCS_BRKD PB
                ON T1.cag_rqst_tp_cd = PB.cag_rqst_tp_cd                        /** Code de type de demande de cargaison !==화물신청구분코드==! */
               AND T1.ldun_rprt_no = PB.cag_rqst_no
               AND T1.rprt_dgcnt = PB.rqst_dgcnt
               AND PB.del_yn = 'N'
              LEFT JOIN TB_CARI_IBOBZ DD
                ON DD.ibobz_cd = T1.ibobz_cd
               AND DD.del_yn = 'N'
             WHERE 1=1
	</sql>
	
	<sql id ="selectCariLdunRprtBlWhere">
               AND T1.LDUN_RPRT_NO = #{ldunRprtNo}     /** N° de séquence de rapport sur le déchargement !==하역보고일련번호==! */
		<if test="blNo != null and blNo != ''">
               AND T1.bl_no LIKE '%'||#{blNo}||'%'     /** N° De Bl !== BL번호 ==! */
		</if>
		<if test='nrmlYn != null and nrmlYn == "Y"'>
               AND T1.DSCR_TP_CD = 'OK'                /** Déficit/Excédent != 불일치구분코드 =! */
		</if>
		<if test='nrmlYn != null and nrmlYn == "N"'>
               AND T1.DSCR_TP_CD != 'OK'               /** Déficit/Excédent != 불일치구분코드 =! */
		</if>
	</sql>

    <!-- Voir les détails de la Rapport de déchargement (BL) !==하역 보고 BL 조회한다.==! -->
    <select id="selectCariLdunRprtBlTotCnt"
            parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo"
            resultType="integer">
           /* CarCagLdunRprtBlMapper.selectCariLdunRprtBlTotCnt */
        SELECT COUNT(*) AS TOT_CNT
          FROM (
        <include refid="selectCariLdunRprtBlSelect" ></include>
        <include refid="selectCariLdunRprtBlWhere" ></include>
               ) SQLRSLT
    </select>
    
    <select id="selectCariLdunRprtBl"
            parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo"
            resultType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo">
           /* CarCagLdunRprtBlMapper.selectCariLdunRprtBl */
        <if test="pagination != null and  pagination == true ">
        SELECT #{totCnt} AS TOT_CNT
             , SQLRSLT.*
             , ROWNUM as RNUM
          FROM (
        </if>
        <include refid="selectCariLdunRprtBlSelect" ></include>
        <include refid="selectCariLdunRprtBlWhere" ></include>
             ORDER BY CASE WHEN(T1.APRE_YN_CD = 'O') THEN 3
                           WHEN(T1.APRE_YN_CD = 'T') THEN 2
                           WHEN(T1.APRE_YN_CD = 'N') THEN 1
                           ELSE 0
                      END, T1.BL_NO
        <if test="pagination != null and  pagination == true ">
        <include refid="pagination.footer" ></include>
        </if>
    </select>

    <!--
    Voir la liste des B/L !== B/L 목록 조회 ==!
    (Lee KyoungSung)
    -->
    <select id="selectCarCagLdunRprtBlList" parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo" resultType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo">
        /* CarCagLdunRprtBlMapper.selectCarCagLdunRprtBlList */
        SELECT A.ldun_rprt_mgmt_no                                   AS ldun_rprt_mgmt_no  /** N° De Gestion De Rapport De Déchargement !== 하역보고관리번호 ==! */
             , A.rprt_dgcnt                                          AS rprt_dgcnt         /** N° ordre de rapport !== 보고차수 ==! */
             , A.BL_NO                                               AS BL_NO              /** N° De Bl !== BL번호 ==! */
             , A.IBOBZ_CD                                            AS IBOBZ_CD           /** Code de zone sous douane !== 보세구역코드 ==! */
             , A.dscr_tp_cd                                          AS dscr_tp_cd         /** Code de non-conformité !== 불일치구분코드 ==! */
             , A.pckg_gcnt                                           AS pckg_gcnt          /** Nombre De Colis !== 포장개수 ==! */
             , A.ttwg                                                AS ttwg               /** Poids Brut !== 총중량 ==! */
             , A.cbm_vol                                             AS cbm_vol            /** Volume (Mtq) !== 입방미터용적 ==! */
             , A.lir_vol                                             AS lir_vol            /** Volume (Litre) !== 리터용적 ==! */
             , A.divd_ldun_last_yn                                   AS divd_ldun_last_yn  /** Dernier Déchargement Partiel On !== 분할하역최종여부 ==! */
             , TO_CHAR(TO_DATE(A.insc_cfrm_dt , 'DD/MM/YYYY'),'DDMMYYYY')  AS insc_cfrm_dt       /** Date de vérification de la visite !== 검사확인일자 ==! */
             , A.apre_yn_cd                                          AS apre_yn_cd         /** Autorisation O/N !== 승인여부코드 ==! */
             , A.audt_opin_cn                                        AS audt_opin_cn       /** Contenu De L'Opinion À La Suite De La Vérification !== 반려사유내용 ==! */
             , A.cag_chrc_cd                                         AS cag_chrc_cd        /** Nature De Cargaison !== 화물특성코드 ==! */
             , A.DEL_YN                                              AS DEL_YN             /** Suppression On !== 삭제여부 ==! */
             , A.FRST_REGST_ID                                       AS FRST_REGST_ID      /** Id Du Premier Enregistrant !== 최초등록자ID ==! */
             , TO_CHAR(A.FRST_RGSR_DTTM,'DD/MM/YYYY HH24:MI:SS')     AS FRST_RGSR_DTTM     /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
             , A.last_chpr_id                                        AS last_chpr_id       /** Id Du Modificateur Final !== 최종변경자ID ==! */
             , TO_CHAR(A.LAST_CHG_DTTM,'DD/MM/YYYY HH24:MI:SS')      AS LAST_CHG_DTTM      /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
          FROM TB_CARE_LDUN_RPRT_BL A
         WHERE 1=1
           AND A.DEL_YN = 'N'
           AND A.ldun_rprt_mgmt_no = #{ldunRprtMgmtNo}              /** N° De Gestion De Rapport De Déchargement !== 하역보고관리번호 ==! */
           AND A.rprt_dgcnt = #{rprtDgcnt}                          /** N° ordre de rapport !== 보고차수 ==! */
    </select>
    
    <!--
    !==컨테이너에 안실린 화물 심사의견을 적용한다.==!
    (Im Jaewoo)
    -->
    <update id="apreYnCdCarLdunRprtBl" parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo">
        /* CarCagLdunRprtBlMapper.apreYnCdCarLdunRprtBl */
        UPDATE TB_CARI_LDUN_RPRT_BL SET
               del_yn = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
             , last_chpr_id = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
             , last_chg_dttm = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
             , divd_ldun_last_yn = #{divdLdunLastYn}          /** Dernier Déchargement Partiel On !== 분할하역최종여부 ==! */
             , insc_cfrm_dt = TO_CHAR(TO_DATE( #{inscCfrmDt}, 'DD/MM/YYYY'),'DDMMYYYY')  /** Date de vérification de la visite !== 검사확인일자 ==! */
             , apre_yn_cd = #{apreYnCd}                       /** Autorisation O/N !== 승인여부코드 ==! */
             , rtrn_rsn_cn = #{rtrnRsnCn}                     /** Motif De Rejet !== 반려사유내용 ==! */
         WHERE 1=1
           AND ldun_rprt_no = #{ldunRprtNo}
		<if test="aplyTp != null and aplyTp != ''">
			<!-- 적용 -->
			<if test="aplyTp == 'aply'">
           AND bl_no = #{blNo}                              /** N° De Bl !== BL번호 ==! */
           <if test="hblNo != null and hblNo != ''">
											  AND hbl_no = #{hblNo}
											</if>
            </if>
			<!-- 일괄적용 -->
			<if test="aplyTp == 'bndlAply'">
				<if test='nrmlYn != null and nrmlYn == "Y"'>
           AND dscr_tp_cd = 'OK'                /** Déficit/Excédent != 불일치구분코드 =! */
				</if>
				<if test='nrmlYn != null and nrmlYn == "N"'>
           AND dscr_tp_cd != 'OK'               /** Déficit/Excédent != 불일치구분코드 =! */
				</if>
			</if>
		</if>
    </update>
    
	<select id="selectCarLdunRprtBlByApre" parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo"
											  resultType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo">
		/* CarCagLdunRprtBlMapper.selectCarLdunRprtBlByApre */
		SELECT ldun_rprt_no
		     , bl_no
		  FROM tb_cari_ldun_rprt_bl
		 WHERE 1=1
		   AND del_yn = 'N'
		   AND ldun_rprt_no = #{ldunRprtNo}
		<if test="apreYnCd != null and apreYnCd != ''">
		   AND apre_yn_cd = #{apreYnCd}     /** Autorisation O/N !== 승인여부코드 ==! */
		</if>
		<if test="apreYnCd == null or apreYnCd == ''">
		   AND apre_yn_cd IS NULL
		</if>
		   AND ROWNUM = 1
	</select>
	
	<select id="selectCariLdunRprtBlVhclGcnt"
			parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRprtBlVo"
			resultType="integer">
		/* CarCagLdunRprtBlMapper.selectCariLdunRprtBlVhclGcnt */
		SELECT NVL(SUM(T2.vhcl_gcnt),0)             AS bl_vhcl_gcnt       /** Nombre de véhicules != 차량개수 =! */
		  FROM ( SELECT TT1.mrn                     AS mrn                /** Mrn !== MRN ==! */
		              , TT2.ldun_rprt_no            AS ldun_rprt_no       /** N° De Rapport Sur Le Déchargement !== 하역보고번호 ==! */
		              , TT2.bl_no                   AS bl_no              /** N° De Bl !== BL번호 ==! */
		              , TT2.rprt_dgcnt              AS rprt_dgcnt         /** N° ordre de rapport !== 보고차수 ==! */
		           FROM TB_CARI_LDUN_RPRT TT1
		          INNER JOIN TB_CARI_LDUN_RPRT_BL TT2
		             ON TT1.ldun_rprt_no = TT2.ldun_rprt_no
		          WHERE 1=1
		            AND TT1.del_yn ='N'
		            AND TT2.del_yn ='N'
		       ) T1
		  LEFT JOIN ( SELECT TT1.mrn                        AS mrn        /** Mrn !== MRN ==! */
		                   , CASE WHEN TT2.bl_pt_cd = 'M'
		                          THEN TT2.bl_no
		                          ELSE TT2.hbl_no
		                      END                           AS bl_no      /** N° De Bl !== BL번호 ==! */
		                   , TT2.vhcl_gcnt                  AS vhcl_gcnt  /** Nombre De Véhicules !== 차량개수 ==! */
		                FROM tb_cari_cag_dcsh_mdfy TT1
		               INNER JOIN tb_cari_cag_dcsh_mdfy_bl TT2
		                  ON TT1.cag_dcsh_mdfy_rqst_no = TT2.cag_dcsh_mdfy_rqst_no
		               WHERE 1=1
		                 AND TT1.mdfy_dgcnt = 0
		                 AND ((TT2.bl_pt_cd = 'M' AND TT2.bl_tp_cd = 'S') OR TT2.bl_pt_cd = 'H')
		                 AND TT1.del_yn ='N'
		                 AND TT2.del_yn ='N'
		       ) T2
		    ON T1.mrn = T2.mrn
		   AND T1.bl_no = T2.bl_no
		 WHERE 1=1
		<include refid="selectCariLdunRprtBlWhere" ></include>
	</select>

</mapper>