<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alpass.ipt.car.ldun.mapper.CarCagLdunRqstMdfyMapper">
	
	<sql id ="selectCarCagLdunRqstMdfyListItem">
		SELECT a.ldun_rqst_mdfy_no    /** N° rectification de demande de déchargement !== 하역신청정정번호 */
		     , a.ldun_rqst_mdfy_mgrn  /** N° gestion de la rectification de demande de déchargement !== 양하신청정정관리번호 */
		     , a.ldun_rqst_no         /** N° De Demande De Déchargement !== 하역신청번호 ==! */
		     , a.mrn                  /*  Mrn !== MRN ==!  */
		     , TO_CHAR(a.trsn_dttm ,'DD/MM/YYYY HH24:MI:SS') AS trsn_dttm /** Date et heure de transmission !== 전송일시 ==! */
			 , a.trsn_dttm                                   AS sort_trsn_dttm      /** Date et heure de transmission !== 전송일시 ==! */
		     , a.cag_rqst_tp_cd       /** Code de classement du suivi du fret !== 화물신청구분코드 ==! */
		     , a.jrsd_orgn_cd         /** Code D'Unité Compétente !== 관할조직코드 ==! */
		     , FN_GET_ORGN_NM(a.jrsd_orgn_cd) AS jrsd_orgn_nm
		     , cstm.jrsd_cstm_cd              AS jrsd_cstm_cd        /** Code de bureau compétent !== 관할세관코드 ==! */
		     , cstm.jrsd_cstm_nm              AS jrsd_cstm_nm        /** Code de bureau compétent !== 관할세관코드 ==! */
		     , a.trsn_co_cd           /** Code d'entreprise transmettrice !== 전송업체코드 ==! */
		     , a.carr_cd              /** Code De Société De Transport !== 운송사코드 ==! */
		     , cc.carr_nm
		     , TO_CHAR(a.real_arvl_dttm ,'DD/MM/YYYY HH24:MI:SS') AS real_arvl_dttm /** Date Et Heure D'Arrivée Effective !== 실제도착일시 ==! */
		     , TO_CHAR(a.ldun_expc_dttm,'DD/MM/YYYY HH24:MI:SS') AS ldun_expc_dttm /** Date/Heure de déchargement prévue !== 하역예상일시 ==! */
		     , a.apre_yn_cd           /** Autorisation O/N  !== 승인여부코드 ==! */
		     , a.audt_opin_cn         /** Contenu De L'Opinion é La Suite De La Vérification !== 심사의견내용 ==! */
		     , a.mdfy_dgcnt           /** Fréquence de rectification !== 정정차수 ==! */
		     , a.mdfy_rsn_cn          /**  Motif de rectification  !== 정정사유내용 ==!  */
		     , a.mdfy_atch_file_id    /** ID de pièce jointe de rectification !== 정정첨부파일ID ==! */
		     , a.co_rqst_no           /** N° de demande d'entreprise !== 업체신청번호 ==! */
		     , TO_CHAR(a.anch_dttm ,'DD/MM/YYYY HH24:MI:SS') AS anch_dttm  /**  !== 정박일시 ==! */
		     , a.del_yn               /** Suppression ON !== 삭제여부 ==! */
		     , a.frst_regst_id        /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		     , TO_CHAR(a.frst_rgsr_dttm ,'DD/MM/YYYY HH24:MI:SS') AS frst_rgsr_dttm /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		     , a.last_chpr_id         /** Id Du Modificateur Final !== 최종변경자ID ==! */
		     , TO_CHAR(a.last_chg_dttm ,'DD/MM/YYYY HH24:MI:SS') AS last_chg_dttm /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		     , c.al_bl_gcnt                            AS bl_cnt
		     , NVL(c.ldun_bl_gcnt, 0)                  AS ldun_bl_gcnt        /** Nombre de BL déchargé !== 양하BL개수 ==! */ 
		     , c.al_cntr_gcnt                          AS al_cntr_gcnt        /** Nombre Total De Conteneurs !== 전체컨테이너개수 ==! */
		     , c.al_vhcl_gcnt                          AS al_vhcl_gcnt        /** Nombre Total De Véhicules !== 전체차량개수 ==! */
		     , c.trnp_meth_nm                          AS trnp_meth_nm        /** Nom De Moyen De Transport !== 운송수단명 ==! */
		     , c.trnp_rfer_no                          AS trnp_rfer_no        /** N° de référence de transport !== 운송참고번호 ==! */
		     , pb.prcs_stts_cd        /** Code de statut de traitement !== 처리상태코드 ==! */
		     , TO_CHAR(pb.prcs_dttm, 'DD/MM/YYYY HH24:MI:SS')  AS prcs_dttm    /** Date de traitement !== 처리일자 ==! */
		     , pb.rqst_dgcnt          /** N° ordre de la demande !== 신청차수 ==! */
		     , pb.hnot_emp_id         /** ID du chargé de cotation !== 배부직원ID ==! */
		     , pb.audt_emp_id         /** ID de l'insepcteur !== 심사직원ID ==! */
		     , (SELECT EMP.EMP_FMNM || ' ' || EMP.EMP_NM
		        FROM TB_POTI_EMP EMP
		        WHERE EMP.pbsr_no = pb.audt_emp_id)    AS audt_emp_nm /** Nom de l'inspecteur !==심사직원명==! */
		     , pb.insc_emp_id                          AS insc_emp_id /** ID de l'vérificateur !== 검사직원ID ==! */
		     , hnot.bfch_emp_id                        AS bfch_emp_id /** Id De L'Inspecteur Avant La Modification !== 변경전직원ID ==! */
		     , hnot.bfch_emp_nm                        AS bfch_emp_nm /** Id De L'Inspecteur Avant La Modification !== 변경전직원ID ==! */
		     , hnot.afch_emp_id                        AS afch_emp_id /** Id De L'Inspecteur Après La Modification !== 변경후직원ID ==! */
		     , hnot.afch_emp_nm                        AS afch_emp_nm /** Id De L'Inspecteur Après La Modification !== 변경후직원ID ==! */
		     , hnot.chg_rsn_cn                         AS chg_rsn_cn /** Motif De La Modification !== 변경사유내용 ==! */
		  FROM tb_cari_ldun_mdfy a
		  LEFT JOIN tb_cari_ldun b
		    ON a.mrn = b.mrn
		   AND b.apre_yn_cd = 'O'
		  LEFT join tb_cari_cag_dcsh c
		    ON a.mrn = c.mrn
		  LEFT JOIN tb_cari_cag_prcs_brkd pb
		    ON a.cag_rqst_tp_cd = pb.cag_rqst_tp_cd
		   AND a.ldun_rqst_mdfy_no = pb.cag_rqst_no
		   AND pb.del_yn = 'N'
		  LEFT JOIN (  SELECT a.cag_rqst_no    AS cag_rqst_no /** N° De Demande De Cargaison !== 화물신청번호 ==! */
		                    , a.cag_rqst_tp_cd AS cag_rqst_tp_cd /** Code de classement du suivi du fret !== 화물신청구분코드 ==! */
		                    , a.bfch_emp_id    AS bfch_emp_id /** Id De L'Inspecteur Avant La Modification !== 변경전직원ID ==! */
		                    , a.afch_emp_id    AS afch_emp_id /** Id De L'Inspecteur Après La Modification !== 변경후직원ID ==! */
		                    , a.chg_rsn_cn     AS chg_rsn_cn /** Motif De La Modification !== 변경사유내용 ==! */
		                    , e1.EMP_FMNM || ' ' || e1.emp_nm        AS bfch_emp_nm /** Nom De L'Employé !== 직원명 ==! */
		                    , e2.EMP_FMNM || ' ' || e2.emp_nm        AS afch_emp_nm /** Nom De L'Employé !== 직원명 ==! */
		               FROM tb_cari_hnot_chg_h A
		              INNER JOIN (SELECT cag_rqst_no
		                               , MAX(chg_hist_srno) chg_hist_srno
		                            FROM tb_cari_hnot_chg_h
		                           GROUP BY cag_rqst_no) h
		                 ON a.cag_rqst_no = h.cag_rqst_no
		                AND a.chg_hist_srno = h.chg_hist_srno
		               LEFT JOIN tb_poti_emp e1
		                 ON e1.pbsr_no = a.bfch_emp_id
		               LEFT JOIN tb_poti_emp e2
		                 ON e2.pbsr_no = a.afch_emp_id) hnot
		    ON hnot.cag_rqst_no = pb.cag_rqst_no
		   AND hnot.cag_rqst_tp_cd = pb.cag_rqst_tp_cd
		  LEFT JOIN ( SELECT t1.co_nm carr_nm
		                   , t2.co_dclr_cd
		                FROM tb_com_co t1
		                   , tb_com_co_dclr_cd t2
		               WHERE t1.nif = t2.nif
		                 AND t2.del_yn = 'N') CC
		    ON a.trsn_co_cd = cc.co_dclr_cd
		  LEFT JOIN ( SELECT c1.orgn_cd
		                   , c2.orgn_cd AS jrsd_cstm_cd
		                   , c2.orgn_nm AS jrsd_cstm_nm
		                FROM tb_poti_orgn c1
		                LEFT JOIN tb_poti_orgn c2
		                  ON c1.upr_orgn_mgmt_cd = c2.orgn_mgmt_cd
		               WHERE c1.del_yn = 'N'
		       ) cstm
		    ON a.jrsd_orgn_cd = cstm.orgn_cd
		 WHERE 1=1
		   AND a.del_yn = 'N'
		   AND b.del_yn = 'N'
		   AND c.del_yn = 'N'
		   AND a.cag_rqst_tp_cd = #{cagRqstTpCd} /** Code de classement du suivi du fret !== 화물신청구분코드 ==! */
		   AND a.mdfy_dgcnt <![CDATA[>]]> 0
	</sql>
	
	<sql id ="selectCarCagLdunRqstMdfyItem">
		SELECT a.ldun_rqst_mdfy_no    /** N° rectification de demande de déchargement !== 하역신청정정번호 ==! */
		     , a.ldun_rqst_mdfy_mgrn  /** N° gestion de la rectification de demande de déchargement !== 양하신청정정관리번호==! */
		     , b.ldun_rqst_no         /** N° De Rapport Sur Le Déchargement !== 하역신청번호 ==! */
		     , b.ldun_rqst_mgmt_no    /** N° De Gestion De Demande De Déchargement !== 하역신청관리번호 ==! */
		     , c.cag_dcsh_rgsr_mgmt_no /** Numéro de gestion de l'enregistrement de la déclaration de fret !== 화물신고서등록관리번호 ==! */
		     , a.mrn                  /*  Mrn !== MRN ==!  */
		     , TO_CHAR(a.trsn_dttm ,'DD/MM/YYYY HH24:MI:SS')            AS trsn_dttm /** Date et heure de transmission !== 전송일시 ==! */
		     , a.trsn_dttm                                   AS sort_trsn_dttm      /** Date et heure de transmission !== 전송일시 ==! */
		     , a.cag_rqst_tp_cd       /** Code de classement du suivi du fret !== 화물신청구분코드 ==! */
		     , a.jrsd_orgn_cd         /** Code D'Unité Compétente !== 관할조직코드 ==! */
		     , FN_GET_ORGN_NM(a.jrsd_orgn_cd) AS jrsd_orgn_nm
		     , cstm.jrsd_cstm_cd      AS jrsd_cstm_cd        /** Code de bureau compétent !== 관할세관코드 ==! */
		     , cstm.jrsd_cstm_nm      AS jrsd_cstm_nm        /** Code de bureau compétent !== 관할세관코드 ==! */
		     , a.trsn_co_cd           /** Code d'entreprise transmettrice !== 전송업체코드 ==! */
		     , FN_CARI_GET_CO_NM(a.trsn_co_cd)                          AS trsn_co_nm
		     , a.trsn_co_cd || ' | ' || FN_CARI_GET_CO_NM(a.trsn_co_cd) AS trsn_co_cd_nm
		     , a.carr_cd              /** Code De Société De Transport !== 운송사코드 ==! */
		     , FN_CARI_GET_CO_NM(a.carr_cd) AS carr_nm  /** Code De Société De Transport !== 운송사코드 ==! */
		     , TO_CHAR(a.real_arvl_dttm ,'DD/MM/YYYY HH24:MI:SS')       AS real_arvl_dttm /** Date Et Heure D'Arrivée Effective !== 실제도착일시 ==! */
		     , TO_CHAR(a.ldun_expc_dttm,'DD/MM/YYYY HH24:MI:SS') AS ldun_expc_dttm   /** Date/Heure de déchargement prévue !== 하역예상일시 ==! */
		     , a.apre_yn_cd           /** Autorisation O/N  !== 승인여부코드 ==! */
		     , a.audt_opin_cn         /** Contenu De L'Opinion é La Suite De La Vérification !== 심사의견내용 ==! */
		     , a.mdfy_dgcnt           /** Fréquence de rectification !== 정정차수 ==! */
		     , a.mdfy_rsn_cn          /**  Motif de rectification  !== 정정사유내용 ==!  */
		     , a.mdfy_atch_file_id    /** ID de pièce jointe de rectification !== 정정첨부파일ID ==! */
		     , a.co_rqst_no           /** N° de demande d'entreprise !== 업체신청번호 ==! */
		     , TO_CHAR(a.anch_dttm ,'DD/MM/YYYY HH24:MI:SS') AS anch_dttm  /** Date/Heure d'accostage !== 정박일시 ==! */
		     , a.trnp_meth_loct_nm    /** Emplacement De Moyen De Transport !== 운송수단위치명 ==! */
		     , a.del_yn               /** Suppression ON !== 삭제여부 ==! */
		     , a.frst_regst_id        /** Id Du Premier Enregistrant  !== 최초등록자ID ==! */
		     , TO_CHAR(a.frst_rgsr_dttm ,'DD/MM/YYYY HH24:MI:SS') AS frst_rgsr_dttm /** Date Et Heure De Premier Enregistrement !== 최초등록일시 ==! */
		     , a.last_chpr_id         /** Id Du Modificateur Final !== 최종변경자ID ==! */
		     , TO_CHAR(a.last_chg_dttm ,'DD/MM/YYYY HH24:MI:SS')  AS last_chg_dttm  /** Date Et Heure De Modification Finale !== 최종변경일시 ==! */
		     , c.trnp_meth_nm         /** Nom De Moyen De Transport !== 운송수단명 ==! */
		     , c.trnp_meth_idfy_no    /** N° D'Identification Du Moyen De Transport !== 운송수단식별번호 ==! */
		     , c.trnp_rfer_no         /** N° de référence de transport !== 운송참고번호 ==! */
		     , c.trnp_mean_cd         /** Code de type de transport !==운송방법코드==! */
		     , brkd.prcs_stts_cd      /** Code de statut de traitement !== 처리상태코드 ==! */
		     , brkd.hnot_emp_id       /** ID de distributeur !==배부직원ID==! */
		     , brkd.audt_emp_id       /** ID de la personne verifiant !==심사직원ID==! */
		  FROM tb_cari_ldun_mdfy a
		  LEFT JOIN tb_cari_ldun b                                      /**CARI_적하목록*/
		         ON a.mrn = b.mrn
		  LEFT JOIN tb_cari_cag_dcsh c                                      /**CARI_적하목록*/
		         ON a.mrn = c.mrn
		  LEFT OUTER JOIN tb_cari_cag_prcs_brkd brkd
		               ON a.ldun_rqst_mdfy_no = brkd.cag_rqst_no
		              AND brkd.cag_rqst_tp_cd = a.cag_rqst_tp_cd
		  LEFT JOIN ( SELECT c1.orgn_cd
		                   , c2.orgn_cd AS jrsd_cstm_cd
		                   , c2.orgn_nm AS jrsd_cstm_nm
		                FROM tb_poti_orgn c1
		                LEFT JOIN tb_poti_orgn c2
		                  ON c1.upr_orgn_mgmt_cd = c2.orgn_mgmt_cd
		               WHERE c1.del_yn = 'N'
		       ) cstm
		    ON a.jrsd_orgn_cd = cstm.orgn_cd
		 WHERE 1=1
		   AND a.del_yn = 'N'
		   AND b.del_yn = 'N'
		   AND c.del_yn = 'N'
	</sql>
	
	<!-- Voir les détails de la rectification de demande de déchargement 
	 !== 하역 신청 정정 목록 조회 ==! -->
	<select id="selectCarCagLdunRqstMdfyList" parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRqstMdfyVo"
												 resultType="alpass.ipt.car.ldun.vo.CarCagLdunRqstMdfyVo">
		/* CarCagLdunRqstMdfyMapper.selectCarCagLdunRqstMdfyList */
		<if test="pagination != null and  pagination == true ">
			<include refid="pagination.header" ></include>
		</if>
		<include refid="selectCarCagLdunRqstMdfyListItem"></include>
		<if test="audtEmpId != null and audtEmpId != ''">
		   AND pb.audt_emp_id = #{audtEmpId} /** ID de la personne vérifiant != 심사직원ID =! */
		</if>
		<if test="trsnDttmFrom != null and trsnDttmFrom != ''">
		   AND a.trsn_dttm <![CDATA[ >= ]]> TO_DATE(#{trsnDttmFrom},'DD/MM/YYYY')
		</if>
		<if test="trsnDttmTo != null and trsnDttmTo != ''">
		   AND a.trsn_dttm <![CDATA[ < ]]> TO_DATE(#{trsnDttmTo},'DD/MM/YYYY')+1
		</if>
		<if test="prcsDttmFrom != null and prcsDttmFrom != ''">
		   AND pb.prcs_dttm <![CDATA[ >= ]]> TO_DATE(#{prcsDttmFrom},'DD/MM/YYYY')
		</if>
		<if test="prcsDttmTo != null and prcsDttmTo != ''">
		   AND pb.prcs_dttm <![CDATA[ < ]]> TO_DATE(#{prcsDttmTo},'DD/MM/YYYY')+1
		</if>
           AND a.JRSD_ORGN_CD IN (           
            <choose>
                  <when test="jrsdOrgnCd != null and jrsdOrgnCd != ''">
                  SELECT unnest(string_to_array(alpassint.fn_cari_get_orgcd('O', #{jrsdOrgnCd}), ','))
                  </when>
                  <otherwise>
                  SELECT unnest(string_to_array(alpassint.fn_cari_get_orgcd('P', #{frstRegstId}), ','))
                  </otherwise>
              </choose>
            )
		<choose>
			<when test="arrPrcsSttsCd != null and arrPrcsSttsCd.size != 0">/** Code de statut de traitement !== 처리상태코드 ==! */
		   AND pb.prcs_stts_cd IN
				<foreach collection="arrPrcsSttsCd" item="item" index="index" separator="," open="(" close=")">
		       #{item}
				</foreach>
			</when>
		</choose>
		<if test="ldunRqstMdfyNo != null and ldunRqstMdfyNo != ''">
		   AND a.ldun_rqst_mdfy_no = #{ldunRqstMdfyNo}  /** N° De Demande De Déchargement !== 하역신청번호 ==! */
		</if>
		<if test="mrn != null and mrn != ''">
		   AND UPPER(a.mrn) LIKE UPPER(#{mrn})||'%' /** MRN !== MRN ==! */
		</if>
		<if test="carrNm != null and carrNm != ''">
		   AND UPPER(cc.carr_nm) LIKE '%'||UPPER(#{carrNm})||'%' /** Code de société de transport !== 운송사코드 ==! */
		</if>
		<if test="trnpMethNm != null and trnpMethNm != ''">
		   AND UPPER(c.trnp_meth_nm) LIKE '%'||UPPER(#{trnpMethNm})||'%' /** Nom de moyen de transport !== 운송수단명 ==! */
		</if>
		<if test="trnpRferNo != null and trnpRferNo != ''">
		   AND UPPER(c.trnp_rfer_no) LIKE UPPER(#{trnpRferNo})||'%' /** N° de voyage/N° de vol/N° d'itinéraire !== 운송참고번호 ==! */
		</if>
		<if test="trnpMethIdfyNo != null and trnpMethIdfyNo != ''">
		   AND UPPER(c.trnp_meth_idfy_no) LIKE '%'||UPPER(#{trnpMethIdfyNo})||'%' /** N° D'Identification Du Moyen De Transport !== 운송수단식별번호 ==! */
		</if>
		<if test="trnpMeanCd != null and trnpMeanCd != ''">
		   AND c.trnp_mean_cd = #{trnpMeanCd} /** Code de mode de transport !== 운송방법코드 ==! */
		</if>
		ORDER BY sort_trsn_dttm DESC     /** Date et heure de transmission !== 전송일시 ==! */
		<if test="pagination != null and  pagination == true ">
			<include refid="pagination.footer" ></include>
		</if>
	</select>
	
	<!-- Voir les détails de la rectification de demande de déchargement
	 !== 하역 신청 정정 조회한다.==! --> 
	<select id="selectCarCagLdunRqstMdfyKeysByMdfyNo" parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRqstMdfyVo"
														 resultType="alpass.ipt.car.ldun.vo.CarCagLdunRqstMdfyVo">
		/* CarCagLdunRqstMdfyMapper.selectCarCagLdunRqstMdfyKeysByMdfyNo */
		<include refid="selectCarCagLdunRqstMdfyItem"></include>
		   AND a.ldun_rqst_mdfy_no = #{ldunRqstMdfyNo}
		   AND ROWNUM = 1
	</select>

	<!-- (before) Voir les détails de la rectification de demande de déchargement
	 !== (정정전) 하역 신청 정정 조회한다.==! --> 
	<select id="selectCarCagLdunRqstMdfyBeforeItem" parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRqstMdfyVo"
													   resultType="alpass.ipt.car.ldun.vo.CarCagLdunRqstMdfyVo">
		/* CarCagLdunRqstMdfyMapper.selectCarCagLdunRqstMdfyBeforeItem */
		SELECT tbl.*
		  FROM (
		<include refid="selectCarCagLdunRqstMdfyItem"></include>
		   AND a.mrn = #{mrn}
		   AND a.mdfy_dgcnt = NVL((SELECT MAX(a.mdfy_dgcnt) 
		                             FROM tb_cari_ldun_mdfy a, tb_cari_cag_prcs_brkd b
		                            WHERE 1=1
		                              AND a.del_yn = 'N'
		                              AND b.del_yn = 'N'
		                              AND a.ldun_rqst_mdfy_no = b.cag_rqst_no
		                              AND a.cag_rqst_tp_cd = b.cag_rqst_tp_cd
		                              AND a.mrn = #{mrn}
		                              AND a.mdfy_dgcnt <![CDATA[<]]> #{mdfyDgcnt}
		                              AND b.prcs_stts_cd = 'D08'),0)
		 ORDER BY a.mdfy_dgcnt DESC
		        ) tbl
		WHERE ROWNUM = 1
	</select>

	<!--
	Modifier la rectification de demande de déchargement (CARI) !== 하역신청정정 수정 (CARI) ==!
	-->
	<update id="updateCarCagLdunRqstMdfy" parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRqstMdfyVo">
		/* CarCagLdunRqstMdfyMapper.updateCarCagLdunRqstMdfy */
		UPDATE tb_cari_ldun_mdfy SET
		       del_yn = 'N'                                  /** Suppression ON !== 삭제여부 ==! */
		     , last_chpr_id = #{lastChprId}                  /** ID du modificateur final !== 최종변경자ID ==! */
		     , last_chg_dttm = SYSTIMESTAMP                  /** Date et heure de modification finale !== 최종변경일시 ==! */
		     , apre_yn_cd = #{apreYnCd}                       /** Autorisation O/N !== 승인여부코드 ==! */
		     , audt_opin_cn = #{audtOpinCn}                   /** Contenu De L'Opinion À La Suite De La Vérification !== 심사의견내용 ==! */
		 WHERE 1=1
		   AND  ldun_rqst_mdfy_no = #{ldunRqstMdfyNo} /** N° De Demande De Déchargement !== 하역신청번호 ==! */
	</update>

    <!-- Modifier la rectification de demande de déchargement (CARE) !== 하역신청정정 수정 (CARE) ==! -->
    <update id="updateCareCagLdunRqstMdfy" parameterType="alpass.ipt.car.ldun.vo.CarCagLdunRqstMdfyVo" >
		/* CarCagLdunRqstMdfyMapper.updateCareCagLdunRqstMdfy */
        UPDATE alpassext.tb_care_ldun_mdfy
           SET LAST_CHPR_ID = #{lastChprId}          /** Identifiant du modificateur final !== 최종변경자ID ==! */
             , LAST_CHG_DTTM = SYSTIMESTAMP          /** Date et heure de modification finale !== 최종변경일시 ==! */
             , PRCS_DTTM = TO_DATE(#{prcsDttm},'DD/MM/YYYY HH24:MI:SS')                /** Date et heure de traitement !== 처리일시 ==! */
             , PRCS_STTS_CD = #{prcsSttsCd}          /** Code de statut de traitement !== 처리상태코드 ==! */
             , INFM_CN = #{infmCn}              /** Contenu De Notification !== 통보내용 ==! */
         WHERE ldun_rqst_mdfy_mgrn = #{ldunRqstMdfyMgrn} /** N° De Gestion De Demande De Déchargement !== 하역신청정정관리번호 ==! */
	</update>
	
</mapper>

