<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.clr.pdr.ddi.mapper.ClrPdrDdiIprtMapper">

  <!--
    Consultation de la liste de gestion des cibles de visite physique  !== 검사대상관리 목록 조회 ==!
    (Beak SangYeol)
    -->
  <select id="selectIprtList" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtSrchVo" resultType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtVo">
    /* selectIprtList */
    <include refid="pagination.header" ></include>
    SELECT AA.*
    FROM (
      SELECT ROWNUM NO
        , A.DTL_DCSH_NO
        , TO_CHAR(TO_DATE(A.DCLR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS DCLR_DT
        , A.DCLR_PT_CD
        , A.CSCL_PLN_CD
        , A.DCER_CD
        , ( SELECT DCER_CO_NM
            FROM   TB_CLRI_DED_CO AA
            WHERE  AA.DTL_DCSH_NO = A.DTL_DCSH_NO ) AS DCER_CO_NM
        , A.TXPR_IDFY_NO
        , ( SELECT TXPR_CO_NM
            FROM   TB_CLRI_DED_CO BB
            WHERE  BB.DTL_DCSH_NO = A.DTL_DCSH_NO ) AS TXPR_CO_NM
        , A.PDLS_GCNT
        , A.PRCS_STTS_CD
        , ( SELECT DSCL_YN
            FROM   TB_CLRI_DED_INSC_RSLT DD
            WHERE  DD.DTL_DCSH_NO = A.DTL_DCSH_NO
            AND  DD.VIST_INSC_RQST_DGCNT = (SELECT MAX(VIST_INSC_RQST_DGCNT) FROM TB_CLRI_DED_INSC_RSLT AA WHERE  DD.DTL_DCSH_NO = AA.DTL_DCSH_NO)
            AND    DD.DEL_YN = 'N' ) AS DSCL_YN
        , NVL(( SELECT IPRT_PRCS_STTS_CD
                FROM   TB_CLRI_DED_INSC_RSLT EE
                WHERE  EE.DTL_DCSH_NO = A.DTL_DCSH_NO
                AND  EE.VIST_INSC_RQST_DGCNT = (SELECT MAX(VIST_INSC_RQST_DGCNT) FROM TB_CLRI_DED_INSC_RSLT AA WHERE  EE.DTL_DCSH_NO = AA.DTL_DCSH_NO)
                AND  EE.DEL_YN = 'N' ), '' ) AS IPRT_PRCS_STTS_CD
        , B.VIST_INSC_RQST_DGCNT
        , B.VIST_INSC_PLC_NM
        , CSCL_PSTP_YN
        , TO_CHAR(ADOR_INSC_REQST_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS ADOR_INSC_REQST_DTTM
        , TO_CHAR(INSC_FIX_DTTM, 'DD/MM/YYYY HH24:MI:SS') AS INSC_FIX_DTTM
      FROM   TB_CLRI_DED_COMN A
      LEFT JOIN TB_CLRI_DED_INSC_INFM B
        ON A.DTL_DCSH_NO = B.DTL_DCSH_NO
       AND B.DEL_YN = 'N'
       AND B.VIST_INSC_RQST_DGCNT = (SELECT MAX(VIST_INSC_RQST_DGCNT) FROM TB_CLRI_DED_INSC_INFM WHERE A.DTL_DCSH_NO = DTL_DCSH_NO AND DEL_YN = 'N')
      WHERE  A.DEL_YN='N'
      AND    A.SELC_RSLT_CD = 'R' /*선별결과 레드이건건과 오렌지 현장검사 요청건*/
      AND    (
          A.AUDT_EMP_ID = #{pbsrNo}
      OR
          A.INSC_EMP_ID = #{pbsrNo}
      )
     /*AND A.PRCS_STTS_CD IN ('D02','F03')
      AND A.cscl_pstp_yn = 'N'
      AND EXISTS (
        SELECT 1
        FROM TB_CARI_CAG_DCSH_BL B
        WHERE B.DEL_YN = 'N'
        AND B.CAG_MGMT_NO = A.CAG_MGMT_NO
      )*/
     /* PSC_MODIFY_20240315_start */
     /* AND NVL(A.CAG_MGMT_NO,'X') = CASE WHEN A.CSCL_PLN_CD IN ('EXD','EXO') THEN NVL(A.CAG_MGMT_NO,'X')
                                    WHEN A.DCLR_PT_CD IN ('IM4','IM5','IM6','IM7','IM8','IM9')
                                    THEN (SELECT CAG_MGMT_NO FROM TB_CARI_CAG_DCSH_BL B WHERE B.DEL_YN = 'N' AND B.CAG_MGMT_NO = A.CAG_MGMT_NO LIMIT 1)
                                    ELSE '' END
     */
      AND NVL(A.CAG_MGMT_NO,'X') = CASE WHEN A.CSCL_PLN_CD IN ('EXD','EXO') THEN NVL(A.CAG_MGMT_NO,'X')
                                    WHEN A.DCLR_PT_CD IN ('IM4','IM5','IM6','IM7','IM8','IM9')
                                    THEN (CASE WHEN A.EPC_CD in ('41XX','51XX','11XX','31XX','61XX') THEN NVL(A.CAG_MGMT_NO,'X')
                                            ELSE (SELECT CAG_MGMT_NO FROM TB_CARI_CAG_DCSH_BL B WHERE B.DEL_YN = 'N' AND B.CAG_MGMT_NO = A.CAG_MGMT_NO LIMIT 1)
                                            END )
                                    ELSE '' END
      /* PSC_MODIFY_20240315_end */
      AND EXISTS(
                SELECT 'Y'
                FROM TB_CLRI_DED_PRCS_BRKD C
                WHERE A.DTL_DCSH_NO = C.DTL_DCSH_NO
                AND C.PRCS_STTS_CD = 'D02'
                )
      /*AND A.CSCL_PLN_CD = 'PMD'*/
      <choose>
        <when test="dtlDcshNo != null and dtlDcshNo != ''">
          AND A.DTL_DCSH_NO =#{dtlDcshNo}
        </when>
        <otherwise>
          <if test="dclrDtFrom != null and dclrDtFrom != ''">
              AND		A.DCLR_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{dclrDtFrom},'DD/MM/YYYY') , 'YYYYMMDD')
              AND		A.DCLR_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{dclrDtTo},'DD/MM/YYYY') , 'YYYYMMDD')
          </if>
          <if test="adorInscReqstDttm != null and adorInscReqstDttm != ''">
            AND TO_CHAR(B.ADOR_INSC_REQST_DTTM, 'DD/MM/YYYY') = #{adorInscReqstDttm}
          </if>
          <if test="inscFixDttm != null and inscFixDttm != ''">
            AND TO_CHAR(B.INSC_FIX_DTTM, 'DD/MM/YYYY') = #{inscFixDttm}
          </if>
        </otherwise>
      </choose>
      <if test='iprtPrcsSttsCd != null and !"".equals(iprtPrcsSttsCd)'>
        AND EXISTS
          ( SELECT 'X'
            FROM TB_CLRI_DED_INSC_RSLT D
            WHERE D.DTL_DCSH_NO = A.DTL_DCSH_NO
            AND D.DEL_YN ='N'
            AND D.vist_insc_rqst_dgcnt = (SELECT MAX(vist_insc_rqst_dgcnt) FROM TB_CLRI_DED_INSC_RSLT AA WHERE  D.DTL_DCSH_NO = AA.DTL_DCSH_NO AND AA.DEL_YN = 'N')
            AND D.IPRT_PRCS_STTS_CD = #{iprtPrcsSttsCd}
          )
      </if>
    ) AA
    <if test="dsclYn != null and dsclYn != ''">
        WHERE AA.DSCL_YN = #{dsclYn}
    </if>
    ORDER BY AA.DCLR_DT DESC
    <include refid="pagination.footer" ></include>
  </select>

  <!--
    Consultation de la liste de gestion des cibles de visite physique  !== 현장검사결과 목록 조회 ==!
    (Beak SangYeol)
    -->
  <select id="selectIsprIprtList" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtSrchVo" resultType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtVo">
    /* selectIsprIprtList */
    <include refid="pagination.header" ></include>
    SELECT AA.*
    FROM (
      SELECT ROWNUM NO
        , A.DTL_DCSH_NO
        , TO_CHAR(TO_DATE(A.DCLR_DT,'YYYYMMDD'),'DD/MM/YYYY') AS DCLR_DT
        , A.DCLR_PT_CD
        , A.CSCL_PLN_CD
        , A.DCER_CD
        , ( SELECT DCER_CO_NM FROM TB_CLRI_DED_CO AA WHERE AA.DTL_DCSH_NO = A.DTL_DCSH_NO ) AS DCER_CO_NM
        , A.TXPR_IDFY_NO
        , ( SELECT TXPR_CO_NM FROM TB_CLRI_DED_CO BB WHERE BB.DTL_DCSH_NO = A.DTL_DCSH_NO ) AS TXPR_CO_NM
        , A.PDLS_GCNT
        , A.PRCS_STTS_CD
        , ( SELECT DSCL_YN FROM TB_CLRI_DED_INSC_RSLT DD WHERE DD.DTL_DCSH_NO = A.DTL_DCSH_NO AND DD.VIST_INSC_RQST_DGCNT = (SELECT MAX(VIST_INSC_RQST_DGCNT) FROM TB_CLRI_DED_INSC_RSLT FF WHERE FF.DTL_DCSH_NO = A.DTL_DCSH_NO) AND DD.DEL_YN = 'N' ) AS DSCL_YN
        , NVL(( SELECT IPRT_PRCS_STTS_CD FROM TB_CLRI_DED_INSC_RSLT EE WHERE EE.DTL_DCSH_NO = A.DTL_DCSH_NO AND EE.VIST_INSC_RQST_DGCNT = (SELECT MAX(VIST_INSC_RQST_DGCNT) FROM TB_CLRI_DED_INSC_RSLT FF WHERE FF.DTL_DCSH_NO = A.DTL_DCSH_NO) AND EE.DEL_YN = 'N' ), '' ) AS IPRT_PRCS_STTS_CD
        , B.VIST_INSC_RQST_DGCNT
        , CSCL_PSTP_YN
        , TO_CHAR(ADOR_INSC_REQST_DTTM, 'DD/MM/YYYY') AS ADOR_INSC_REQST_DTTM
        , TO_CHAR(INSC_FIX_DTTM, 'DD/MM/YYYY') AS INSC_FIX_DTTM
      FROM   TB_CLRI_DED_COMN A
      LEFT JOIN TB_CLRI_DED_INSC_INFM B
        ON A.DTL_DCSH_NO = B.DTL_DCSH_NO
       AND B.DEL_YN = 'N'
       AND B.VIST_INSC_RQST_DGCNT = (SELECT MAX(VIST_INSC_RQST_DGCNT) FROM TB_CLRI_DED_INSC_INFM WHERE A.DTL_DCSH_NO = DTL_DCSH_NO AND DEL_YN = 'N')
      WHERE  A.DEL_YN='N'
      /*AND    A.SELC_RSLT_CD = 'R'*/
      AND    A.INSC_EMP_ID = #{pbsrNo}
      /*AND    A.CSCL_PSTP_YN = 'N'
      AND    A.PRCS_STTS_CD IN ('D02','F03')
      AND A.CSCL_PLN_CD = 'PMD'
      AND EXISTS (
        SELECT 1
        FROM TB_CARI_CAG_DCSH_BL B
        WHERE B.DEL_YN = 'N'
        AND B.CAG_MGMT_NO = A.CAG_MGMT_NO
      )*/
      AND EXISTS (
        SELECT 1 FROM TB_CLRI_DED_INSC_INFM B
        WHERE A.DTL_DCSH_NO = B.DTL_DCSH_NO
        AND B.DEL_YN ='N'
      )
      /* PSC_MODIFY_20240315_start */
      /*AND NVL(A.CAG_MGMT_NO,'X') = CASE WHEN A.CSCL_PLN_CD IN ('EXD','EXO') THEN NVL(A.CAG_MGMT_NO,'X')
                                 WHEN A.DCLR_PT_CD IN ('IM4','IM5','IM6','IM7','IM8','IM9')
                                 THEN (SELECT CAG_MGMT_NO FROM TB_CARI_CAG_DCSH_BL B WHERE B.DEL_YN = 'N' AND B.CAG_MGMT_NO = A.CAG_MGMT_NO LIMIT 1)
                                 ELSE '' END
      */
      AND NVL(A.CAG_MGMT_NO,'X') = CASE WHEN A.CSCL_PLN_CD IN ('EXD','EXO') THEN NVL(A.CAG_MGMT_NO,'X')
                                  WHEN A.DCLR_PT_CD IN ('IM4','IM5','IM6','IM7','IM8','IM9')
                                  THEN (CASE WHEN A.EPC_CD in ('41XX','51XX','11XX','31XX','61XX') THEN NVL(A.CAG_MGMT_NO,'X')
                                          ELSE (SELECT CAG_MGMT_NO FROM TB_CARI_CAG_DCSH_BL B WHERE B.DEL_YN = 'N' AND B.CAG_MGMT_NO = A.CAG_MGMT_NO LIMIT 1)
                                          END )
                                  ELSE '' END
      /* PSC_MODIFY_20240315_end */
      <choose>
        <when test="dtlDcshNo != null and dtlDcshNo != ''">
            AND A.DTL_DCSH_NO = #{dtlDcshNo}
      </when>
        <otherwise>
          <if test="dclrDtFrom != null and dclrDtFrom != ''">
              AND		A.DCLR_DT <![CDATA[ >= ]]> TO_CHAR(TO_DATE(#{dclrDtFrom},'DD/MM/YYYY') , 'YYYYMMDD')
              AND		A.DCLR_DT <![CDATA[ <= ]]> TO_CHAR(TO_DATE(#{dclrDtTo},'DD/MM/YYYY') , 'YYYYMMDD')
          </if>
          <if test="adorInscReqstDttm != null and adorInscReqstDttm != ''">
            AND TO_CHAR(B.ADOR_INSC_REQST_DTTM, 'DD/MM/YYYY') = #{adorInscReqstDttm}
          </if>
          <if test="inscFixDttm != null and inscFixDttm != ''">
            AND TO_CHAR(B.INSC_FIX_DTTM, 'DD/MM/YYYY') = #{inscFixDttm}
          </if>
        </otherwise>
      </choose>
      <if test='iprtPrcsSttsCd != null and !"".equals(iprtPrcsSttsCd)'>
        AND EXISTS
          ( SELECT 'X'
            FROM   TB_CLRI_DED_INSC_RSLT D
            WHERE   D.DTL_DCSH_NO = A.DTL_DCSH_NO
            AND     D.DEL_YN ='N'
            AND     D.VIST_INSC_RQST_DGCNT = (SELECT MAX(VIST_INSC_RQST_DGCNT) FROM TB_CLRI_DED_INSC_RSLT AA WHERE D.DTL_DCSH_NO = AA.DTL_DCSH_NO AND AA.DEL_YN = 'N')
            AND     D.IPRT_PRCS_STTS_CD = #{iprtPrcsSttsCd}
          )
      </if>
    ) AA
    <if test="dsclYn != null and dsclYn != ''">
      WHERE AA.DSCL_YN = #{dsclYn}
    </if>
    ORDER BY AA.DCLR_DT DESC
    <include refid="pagination.footer" ></include>
  </select>

  <!--
    Consultation en détail des cibles de visite physique
    !== 검사대상관리 상세 조회 ==!
    (Beak SangYeol)
  -->
  <select id="selectIprtDetl" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtVo" resultType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtDetlVo">
    /* selectIprtDetl */
    SELECT
      A.DTL_DCSH_NO
      , MDFY_DGCNT
      , TO_CHAR(TO_DATE(A.DCLR_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS DCLR_DT
      , A.REFF_NO
      , A.MDFY_DGCNT
      , A.DCLR_PT_CD
      , A.EPC_CD
      , ( SELECT EPC_NM FROM ALPASSINT.TB_CLRI_EPC_CD WHERE EPC_CD = A.EPC_CD AND NVL(A.RQST_DT,TO_CHAR(CURRENT_DATE,'YYYYMMDD')) BETWEEN EPC_APLY_STRT_DT AND EPC_APLY_END_DT) AS EPC_NM
      , A.DCLR_CSTM_CD
      , (SELECT A.DCLR_CSTM_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DCLR_CSTM_CD AND ROWNUM=1) AS DCLR_CSTM_NM
      , A.DEPT_CD
      , (SELECT A.DEPT_CD||' | '||ORGN_NM FROM TB_POTI_ORGN WHERE ORGN_CD = A.DEPT_CD AND ROWNUM=1) AS DEPT_NM
      , A.CAG_MGMT_NO
      , A.CSCL_PLN_CD
      , A.DCSH_FM_CD
      , A.PDLS_GCNT
      , A.PCKG_TGCNT
      , A.CNTR_CAG_YN
      , A.AL_TTWG
      , A.AL_NTWG
      , A.EXPPN_IDFY_NO_TP_CD
      , A.EXPPN_IDFY_NO
      , A.IMPPN_IDFY_NO_TP_CD
      , A.IMPPN_IDFY_NO
      , A.TXPR_IDFY_NO
      , A.DCER_CD
      , A.CSM_CNTY_CD
      , A.TRDE_DLNG_CNTY_CD
      , A.EXP_CNTY_CD
      , A.DSTN_CNTY_CD
      , A.TRNP_METH_KND_CD
      , A.TRNP_METH_IDFY_NO
      , A.TRNP_METH_NAT_CD
      , A.SHIP_NM
      , A.CAG_MGMT_NO
      , A.BL_NO
      , TO_CHAR(TO_DATE(A.ARVL_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS ARVL_DT
      , A.DIVD_CSCL_TP_CD
      , A.LDNP_CD
      , A.CNTR_GCNT
      , A.DISPR_CD
      , TO_CHAR(TO_DATE(A.LDUN_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS LDUN_DT
      , A.RLBR_CSTM_CD
      , A.CMDT_STGE_LOCT_CD
      , A.BNBN_CMDT_WRHS_CD
      , A.BF_BNBN_CMDT_WRHS_CD
      , A.PSMGT_FFMN_XPIR_PRID
      , A.DLVR_COND_CD
      , A.DLVR_PLC_CD
      , A.INVC_NO
      , TO_CHAR(TO_DATE(A.INVC_PBLS_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS INVC_PBLS_DT
      , A.PYMN_MEAN_CD
      , A.PYMN_BNK_CD
      , A.PYMN_BNK_BRNH_CD
      , A.PYMN_AC_NO
      , A.DLNG_COND1_CD
      , A.DLNG_COND2_CD
      , A.PRC_DCSH_WRTE_YN
      , A.OWHS_PRC_EV_YN
      , A.DCER_WRTE_CN
      , A.PRCS_STTS_CD
      , A.DEPT_CD
      , A.AUDT_EMP_ID
      , (SELECT emp_fmnm || emp_nm FROM TB_POTI_EMP WHERE PBSR_NO = A.AUDT_EMP_ID) AS AUDT_EMP_NM
      , A.INSC_EMP_ID
      , (SELECT emp_fmnm || emp_nm FROM TB_POTI_EMP WHERE PBSR_NO = A.INSC_EMP_ID) AS INSC_EMP_NM
      , A.SELC_RSLT_CD
      , A.PSMGT_TRGT_YN
      , A.PSMGT_FFMN_CMPL_YN
      , TO_CHAR(TO_DATE(A.PSMGT_FFMN_CMPL_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS PSMGT_FFMN_CMPL_DT
      , A.PSMGT_FFMN_XPIR_PRID
      , A.HIST_SRNO
      , TO_CHAR(TO_DATE(A.EXP_FFMN_CMPL_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS EXP_FFMN_CMPL_DT
      , TO_CHAR(TO_DATE(A.EXP_FFMN_XPIR_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS EXP_FFMN_XPIR_DT
      , TO_CHAR(TO_DATE(A.ASMT_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS ASMT_DT
      , A.ACPT_YN
      , TO_CHAR(TO_DATE(A.ACPT_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS ACPT_DT
      , A.RLSE_YN
      , TO_CHAR(TO_DATE(A.RLSE_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS RLSE_DT
      , A.ATR_DCLR_RCPN_YN
      , A.CNCL_DCLR_RCPN_YN
      , A.CSCL_PSTP_YN
      , A.DPUT_YN
      , A.PRVI_DCLR_APRE_YN
      , A.NEW_SYS_YN
      , A.DEL_YN
      , TO_CHAR(TO_DATE(A.RQST_DT, 'YYYYMMDD'),'DD/MM/YYYY') AS RQST_DT
      , TO_CHAR(FRST_RGSR_DTTM, 'DD/MM/YYYY') AS FRST_RGSR_DTTM
      , FRST_REGST_ID
      , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.FRST_REGST_ID) AS FRST_REGST_NM
      , TO_CHAR(LAST_CHG_DTTM, 'DD/MM/YYYY') AS LAST_CHG_DTTM
      , LAST_CHPR_ID
      , (SELECT EMP_NM FROM TB_POTI_EMP WHERE PBSR_NO = A.LAST_CHPR_ID) AS LAST_CHPR_NM
      , (SELECT
           NVL2(MAX(S1.CO_NM), A.DCER_CD || ' | ' || MAX(S1.CO_NM), A.DCER_CD)
         FROM
           TB_COM_CO S1
            , TB_COM_CO_DCLR_CD S2
         WHERE
           S1.NIF = S2.NIF
           AND    S2.CO_DCLR_TP_CD = 'H'
           AND    S2.CO_DCLR_CD = A.DCER_CD) AS DCER_NM
      , (SELECT EXPPN_CO_NM FROM ALPASSINT.TB_CLRI_DED_CO WHERE DEL_YN ='N' AND DTL_DCSH_NO = A.DTL_DCSH_NO) AS EXPPN_CO_NM
      , (SELECT IMPPN_CO_NM FROM ALPASSINT.TB_CLRI_DED_CO WHERE DTL_DCSH_NO = A.DTL_DCSH_NO AND DEL_YN = 'N') AS IMPPN_CO_NM
      , A.INSC_PLC_TP_CD
      , (SELECT TXPR_CO_NM FROM ALPASSINT.TB_CLRI_DED_CO WHERE DTL_DCSH_NO = A.DTL_DCSH_NO AND DEL_YN = 'N') AS TXPR_CO_NM
      , (SELECT DCER_CO_NM FROM ALPASSINT.TB_CLRI_DED_CO WHERE DTL_DCSH_NO = A.DTL_DCSH_NO AND DEL_YN = 'N') AS DCER_CO_NM
      , (SELECT NIF FROM ALPASSINT.TB_COM_CO_USER WHERE USER_ID = (SELECT FRST_REGST_ID FROM ALPASSINT.TB_CLRI_DED_COMN WHERE DTL_DCSH_NO = A.DTL_DCSH_NO )) AS NIF
      , A.TRNP_METH_KND_CD
      , A.EXP_CMDT_LOCT_NM
      , (SELECT cag_chrc_cd FROM ALPASSINT.tb_cari_cag_dcsh_bl WHERE cag_mgmt_no = A.CAG_MGMT_NO LIMIT 1) AS cag_chrc_cd
    FROM TB_CLRI_DED_COMN A
    WHERE A.DTL_DCSH_NO = #{dtlDcshNo}
    AND A.DEL_YN = 'N'
  </select>

  <!--
    Consultation de la liste de la visite
    !== 검사 목록 조회 ==!
    (Beak SangYeol)
    -->
  <select id="selectInscList" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtVo" resultType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtInscVo">
    /* selectInscList */
      SELECT
            B.DTL_DCSH_NO
           , ( SELECT CMDT_STGE_LOCT_CD FROM TB_CLRI_DED_COMN DD WHERE DD.DTL_DCSH_NO = B.DTL_DCSH_NO AND DD.DEL_YN = 'N'  ) CMDT_STGE_LOCT_CD
           , ( SELECT EXP_CMDT_LOCT_NM FROM TB_CLRI_DED_COMN DD WHERE DD.DTL_DCSH_NO = B.DTL_DCSH_NO AND DD.DEL_YN = 'N' ) EXP_CMDT_LOCT_NM
           , ( SELECT CSCL_PLN_CD FROM TB_CLRI_DED_COMN DD WHERE DD.DTL_DCSH_NO = B.DTL_DCSH_NO AND DD.DEL_YN = 'N') CSCL_PLN_CD
           , B.VIST_INSC_PLC_NM
           , B.INFM_YN
           , B.DCER_ATND_YN
           , B.INFM_CN
           , B.VIST_INSC_RQST_DGCNT
           , TO_CHAR(B.INSC_PRNG_DTTM,  'DD/MM/YYYY HH24:MI:SS') AS INSC_PRNG_DTTM
           , TO_CHAR(B.DCER_INSC_REQST_DTTM,  'DD/MM/YYYY HH24:MI:SS') AS DCER_INSC_REQST_DTTM
           , TO_CHAR(B.ADOR_INSC_REQST_DTTM,  'DD/MM/YYYY HH24:MI:SS') AS ADOR_INSC_REQST_DTTM
           , TO_CHAR(B.INSC_FIX_DTTM,  'DD/MM/YYYY HH24:MI:SS') AS INSC_FIX_DTTM
           , B.DEL_YN
           , B.DCER_SPOT_ISPR_NM
           , ( SELECT IPRT_PRCS_STTS_CD FROM TB_CLRI_DED_INSC_RSLT A WHERE A.DTL_DCSH_NO = B.DTL_DCSH_NO AND A.VIST_INSC_RQST_DGCNT = B.VIST_INSC_RQST_DGCNT ) AS IPRT_PRCS_STTS_CD
           , ( SELECT DSCL_YN FROM TB_CLRI_DED_INSC_RSLT A WHERE  A.DTL_DCSH_NO = B.DTL_DCSH_NO AND A.VIST_INSC_RQST_DGCNT = B.VIST_INSC_RQST_DGCNT ) AS DSCL_YN
      FROM TB_CLRI_DED_INSC_INFM B
      WHERE B.DTL_DCSH_NO = #{dtlDcshNo}
        AND B.DEL_YN = 'N'
      ORDER BY VIST_INSC_RQST_DGCNT DESC
  </select>

  <!--
    Consultation des notifications de visite physique
    !== 검사통보 조회 ==!
    (Beak SangYeol)
    -->
  <select id="selectInscInfm" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtVo" resultType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtInscVo">
    /* selectInscInfm */
    SELECT
      B.DTL_DCSH_NO
      , B.VIST_INSC_PLC_NM
      , B.INFM_YN
      , B.DCER_ATND_YN
      , B.INFM_CN
      , TO_CHAR(B.INSC_PRNG_DTTM,  'DD/MM/YYYY HH24:MI:SS') AS INSC_PRNG_DTTM
      , TO_CHAR(B.DCER_INSC_REQST_DTTM,  'DD/MM/YYYY HH24:MI:SS') AS DCER_INSC_REQST_DTTM
      , TO_CHAR(B.ADOR_INSC_REQST_DTTM,  'DD/MM/YYYY HH24:MI:SS') AS ADOR_INSC_REQST_DTTM
      , TO_CHAR(B.INSC_FIX_DTTM,  'DD/MM/YYYY HH24:MI:SS') AS INSC_FIX_DTTM
      , B.DEL_YN
      , (SELECT iprt_prcs_stts_cd FROM TB_CLRI_DED_INSC_RSLT A WHERE A.DTL_DCSH_NO = B.DTL_DCSH_NO AND A.VIST_INSC_RQST_DGCNT = B.VIST_INSC_RQST_DGCNT) AS IPRT_PRCS_STTS_CD
      , B.DCER_SPOT_ISPR_NM
      , B.VIST_INSC_RQST_DGCNT
    FROM TB_CLRI_DED_INSC_INFM B
    WHERE B.DTL_DCSH_NO = #{dtlDcshNo}
    AND B.VIST_INSC_RQST_DGCNT = #{vistInscRqstDgcnt}
  </select>

  <!--
    Traitement de la notification de la visite
    !== 검사통보 등록/수정 ==!
    (Beak SangYeol)
    -->
  <insert id="mergeInscInfm" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtInscVo">
    /* insertInscInfm */
    INSERT INTO TB_CLRI_DED_INSC_INFM (
      DTL_DCSH_NO
      <if test="vistInscPlcNm != null and vistInscPlcNm != ''">
        , VIST_INSC_PLC_NM
      </if>
      <if test="infmYn != null and infmYn != ''">
        , INFM_YN
      </if>
      <if test="dcerAtndYn != null and dcerAtndYn != ''">
        , DCER_ATND_YN
      </if>
      <if test="infmCn != null and infmCn != ''">
        , INFM_CN
      </if>
      <if test="inscPrngDttm != null and inscPrngDttm != ''">
        , INSC_PRNG_DTTM
      </if>
      <if test="adorInscReqstDttm != null and adorInscReqstDttm != ''">
        , ADOR_INSC_REQST_DTTM
      </if>
      <if test="inscFixDttm != null and inscFixDttm != ''">
        , INSC_FIX_DTTM
      </if>
      <if test="aprvId != null and aprvId != ''">
        , APRV_ID
      </if>
      , DEL_YN
      , FRST_REGST_ID
      , FRST_RGSR_DTTM
      , LAST_CHPR_ID
      , LAST_CHG_DTTM
      , VIST_INSC_RQST_DGCNT
    ) VALUES (
      #{dtlDcshNo}
      <if test="vistInscPlcNm != null and vistInscPlcNm != ''">
        , #{vistInscPlcNm}
      </if>
      <if test="infmYn != null and infmYn != ''">
        , #{infmYn}
      </if>
      <if test="dcerAtndYn != null and dcerAtndYn != ''">
        , #{dcerAtndYn}
      </if>
      <if test="infmCn != null and infmCn != ''">
        , #{infmCn}
      </if>
      <if test="inscPrngDttm != null and inscPrngDttm != ''">
        , TO_TIMESTAMP(#{inscPrngDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="adorInscReqstDttm != null and adorInscReqstDttm != ''">
        , TO_TIMESTAMP(#{adorInscReqstDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="inscFixDttm != null and inscFixDttm != ''">
        , TO_TIMESTAMP(#{inscFixDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="aprvId != null and aprvId != ''">
        , #{aprvId}
      </if>
      , 'N'
      , #{frstRegstId}
      , SYSTIMESTAMP
      , #{lastChprId}
      , SYSTIMESTAMP
      , #{vistInscRqstDgcnt}
    )
    ON CONFLICT (DTL_DCSH_NO, VIST_INSC_RQST_DGCNT)
    DO UPDATE SET
      LAST_CHPR_ID = #{lastChprId}
      , LAST_CHG_DTTM = SYSTIMESTAMP
      <if test="vistInscPlcNm != null and vistInscPlcNm != ''">
        , VIST_INSC_PLC_NM = #{vistInscPlcNm}
      </if>
      <if test="infmYn != null and infmYn != ''">
        , INFM_YN = #{infmYn}
      </if>
      <if test="dcerAtndYn != null and dcerAtndYn != ''">
        , DCER_ATND_YN = #{dcerAtndYn}
      </if>
      <if test="infmCn != null and infmCn != ''">
        , INFM_CN = #{infmCn}
      </if>
      <if test="inscPrngDttm != null and inscPrngDttm != ''">
        , INSC_PRNG_DTTM = TO_TIMESTAMP(#{inscPrngDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="adorInscReqstDttm != null and adorInscReqstDttm != ''">
        , ADOR_INSC_REQST_DTTM = TO_TIMESTAMP(#{adorInscReqstDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="inscFixDttm != null and inscFixDttm != ''">
        , INSC_FIX_DTTM = TO_TIMESTAMP(#{inscFixDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
  </insert>

  <!--
    Enregistrement/modification de la programmation finale de visite physique
    !== 검사확정 등록/수정 ==!
    (Beak SangYeol)
    -->
  <insert id="mergeInscDtrm" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtInscVo">
    /* insertInscDtrm */
    INSERT INTO TB_CLRI_DED_INSC_INFM (
      DTL_DCSH_NO
      , VIST_INSC_RQST_DGCNT
      <if test="vistInscPlcNm != null and vistInscPlcNm != ''">
        , VIST_INSC_PLC_NM
      </if>
      <if test="infmYn != null and infmYn != ''">
        , INFM_YN
      </if>
      <if test="dcerAtndYn != null and dcerAtndYn != ''">
        , DCER_ATND_YN
      </if>
      <if test="infmCn != null and infmCn != ''">
        , INFM_CN
      </if>
      <if test="inscPrngDttm != null and inscPrngDttm != ''">
        , INSC_PRNG_DTTM
      </if>
      <if test="adorInscReqstDttm != null and adorInscReqstDttm != ''">
        , ADOR_INSC_REQST_DTTM
      </if>
      <if test="inscFixDttm != null and inscFixDttm != ''">
        , INSC_FIX_DTTM
      </if>
      , DEL_YN
      , FRST_REGST_ID
      , FRST_RGSR_DTTM
      , LAST_CHPR_ID
      , LAST_CHG_DTTM
      ) VALUES (
      #{dtlDcshNo}
      , #{vistInscRqstDgcnt}
      <if test="vistInscPlcNm != null and vistInscPlcNm != ''">
        , #{vistInscPlcNm}
      </if>
      <if test="infmYn != null and infmYn != ''">
        , #{infmYn}
      </if>
      <if test="dcerAtndYn != null and dcerAtndYn != ''">
        , #{dcerAtndYn}
      </if>
      <if test="infmCn != null and infmCn != ''">
        , #{infmCn}
      </if>
      <if test="inscPrngDttm != null and inscPrngDttm != ''">
        , TO_TIMESTAMP(#{inscPrngDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="adorInscReqstDttm != null and adorInscReqstDttm != ''">
        , TO_TIMESTAMP(#{adorInscReqstDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="inscFixDttm != null and inscFixDttm != ''">
        , TO_TIMESTAMP(#{inscFixDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      , 'N'
      , #{frstRegstId}
      , SYSTIMESTAMP
      , #{lastChprId}
      , SYSTIMESTAMP
    )
    ON CONFLICT (dtl_dcsh_no, VIST_INSC_RQST_DGCNT)
    DO UPDATE SET
      LAST_CHPR_ID = #{lastChprId}
      , LAST_CHG_DTTM = SYSTIMESTAMP
      <if test="vistInscPlcNm != null and vistInscPlcNm != ''">
        , VIST_INSC_PLC_NM = #{vistInscPlcNm}
      </if>
      <if test="infmYn != null and infmYn != ''">
        , INFM_YN = #{infmYn}
      </if>
      <if test="dcerAtndYn != null and dcerAtndYn != ''">
        , DCER_ATND_YN = #{dcerAtndYn}
      </if>
      <if test="infmCn != null and infmCn != ''">
        , INFM_CN = #{infmCn}
      </if>
      <if test="inscPrngDttm != null and inscPrngDttm != ''">
        , INSC_PRNG_DTTM = TO_TIMESTAMP(#{inscPrngDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="adorInscReqstDttm != null and adorInscReqstDttm != ''">
        , ADOR_INSC_REQST_DTTM = TO_TIMESTAMP(#{adorInscReqstDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
      <if test="inscFixDttm != null and inscFixDttm != ''">
        , INSC_FIX_DTTM = TO_TIMESTAMP(#{inscFixDttm}, 'DD/MM/YYYY HH24:MI:SS')
      </if>
  </insert>

  <!--
    Consultation des résultats de la visite physique
    !== 검사결과 조회 ==!
    (Beak SangYeol)
    -->
  <select id="selectInscRslt" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtVo" resultType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtInscRsltVo">
    /* selectInscRslt */
    SELECT
              DTL_DCSH_NO
            , VIST_INSC_RQST_DGCNT
            , INSC_DT
            , DSCL_YN
            , VIST_INSC_RQRD_HR
            , VIST_INSC_PLC_NM
            , INSC_RSLT_CN
            , ISPR_INSC_RSLT_CN
            , IPRT_PRCS_STTS_CD
            , SPOT_ISPR_ID
            , SPOT_ATND_ISPR_ID
      FROM
    (
      SELECT
               ROW_NUMBER() OVER(PARTITION  BY DTL_DCSH_NO ORDER BY VIST_INSC_RQST_DGCNT DESC ) RN
              ,DTL_DCSH_NO
              , VIST_INSC_RQST_DGCNT
              , INSC_DT
              , DSCL_YN
              , VIST_INSC_RQRD_HR
              , VIST_INSC_PLC_NM
              , INSC_RSLT_CN
              , ISPR_INSC_RSLT_CN
              , IPRT_PRCS_STTS_CD
              , SPOT_ISPR_ID
              , SPOT_ATND_ISPR_ID
      FROM TB_CLRI_DED_INSC_RSLT
      WHERE DTL_DCSH_NO = #{dtlDcshNo}
      <if test="vistInscRqstDgcnt != null and vistInscRqstDgcnt != ''">
        AND VIST_INSC_RQST_DGCNT = #{vistInscRqstDgcnt}
      </if>
    ) WHERE RN = 1
  </select>

  <!--
    Consultation des résultats de la visite physique
    !== 검사결과 조회 ==!
    (Beak SangYeol)
    -->
  <select id="selectVistInscRqstDgcnt" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtInscVo" resultType="int">
    /* selectVistInscRqstDgcnt */
    SELECT NVL(MAX(VIST_INSC_RQST_DGCNT)+1,1)
    FROM TB_CLRI_DED_INSC_INFM
    WHERE DTL_DCSH_NO = #{dtlDcshNo}
  </select>

  <!--
    Enregistrement/modification de résultats de la visite physique
    !== 검사결과 등록/수정 ==!
    (Beak SangYeol)
    -->
  <insert id="mergeInscRslt" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtInscRsltVo">
    /* mergeInscRslt */
    INSERT INTO TB_CLRI_DED_INSC_RSLT (
      DTL_DCSH_NO
      , INSC_DT
      , DSCL_YN
      <if test="inscRsltCn != null and inscRsltCn != ''">
        , INSC_RSLT_CN
      </if>
      <if test="isprInscRsltCn != null and isprInscRsltCn != ''">
        , ISPR_INSC_RSLT_CN
      </if>
      , IPRT_PRCS_STTS_CD
      <if test="spotIsprId != null and spotIsprId != ''">
        , SPOT_ISPR_ID
      </if>
      <if test="spotAtndIsprId != null and spotAtndIsprId != ''">
        , SPOT_ATND_ISPR_ID
      </if>
      , DEL_YN
      <if test="adorPrcsDttm != null and adorPrcsDttm != ''">
        , ADOR_PRCS_DTTM
      </if>
      <if test="dcerPrcsDttm != null and dcerPrcsDttm != ''">
        , DCER_PRCS_DTTM
      </if>
      <if test="ibobzOptrPrcsDttm != null and ibobzOptrPrcsDttm != ''">
        , IBOBZ_OPTR_PRCS_DTTM
      </if>
      <if test="isprPrcsDttm != null and isprPrcsDttm != ''">
        , ISPR_PRCS_DTTM
      </if>
      , FRST_REGST_ID
      , FRST_RGSR_DTTM
      , LAST_CHPR_ID
      , LAST_CHG_DTTM
      , VIST_INSC_RQST_DGCNT
    ) VALUES (
      #{dtlDcshNo}
      , TO_CHAR(SYSTIMESTAMP,'YYYYMMDD')
      , NVL(#{dsclYn},'N')
      <if test="inscRsltCn != null and inscRsltCn != ''">
        , #{inscRsltCn}
      </if>
      <if test="isprInscRsltCn != null and isprInscRsltCn != ''">
        , #{isprInscRsltCn}
      </if>
        , #{iprtPrcsSttsCd}
      <if test="spotIsprId != null and spotIsprId != ''">
        , #{spotIsprId}
      </if>
      <if test="spotAtndIsprId != null and spotAtndIsprId != ''">
        , #{spotAtndIsprId}
      </if>
      , 'N'
      <if test="adorPrcsDttm != null and adorPrcsDttm != ''">
        , SYSTIMESTAMP
      </if>
      <if test="dcerPrcsDttm != null and dcerPrcsDttm != ''">
        , SYSTIMESTAMP
      </if>
      <if test="ibobzOptrPrcsDttm != null and ibobzOptrPrcsDttm != ''">
        , SYSTIMESTAMP
      </if>
      <if test="isprPrcsDttm != null and isprPrcsDttm != ''">
        , SYSTIMESTAMP
      </if>
      , #{frstRegstId}
      , SYSTIMESTAMP
      , #{lastChprId}
      , SYSTIMESTAMP
      , #{vistInscRqstDgcnt}
    )
    ON CONFLICT (DTL_DCSH_NO, VIST_INSC_RQST_DGCNT)
    DO UPDATE SET
    LAST_CHPR_ID = #{lastChprId}
    , LAST_CHG_DTTM = SYSTIMESTAMP
    , INSC_DT = TO_CHAR(SYSTIMESTAMP,'YYYYMMDD')
    <if test="inscRsltCn != null and inscRsltCn != ''">
      , INSC_RSLT_CN = #{inscRsltCn}
    </if>
    <if test="isprInscRsltCn != null and isprInscRsltCn != ''">
      , ISPR_INSC_RSLT_CN = #{isprInscRsltCn}
    </if>
    <if test="iprtPrcsSttsCd != null and iprtPrcsSttsCd != ''">
      , IPRT_PRCS_STTS_CD = #{iprtPrcsSttsCd}
    </if>
    <if test="dsclYn != null and dsclYn != ''">
      , DSCL_YN = #{dsclYn}
    </if>
    <if test="spotIsprId != null and spotIsprId != ''">
      , SPOT_ISPR_ID = #{spotIsprId}
    </if>
    <if test="spotAtndIsprId != null and spotAtndIsprId != ''">
      , SPOT_ATND_ISPR_ID = #{spotAtndIsprId}
    </if>
    <if test="adorPrcsDttm != null and adorPrcsDttm != ''">
      , ADOR_PRCS_DTTM = SYSTIMESTAMP
    </if>
    <if test="dcerPrcsDttm != null and dcerPrcsDttm != ''">
      , DCER_PRCS_DTTM = SYSTIMESTAMP
    </if>
    <if test="ibobzOptrPrcsDttm != null and ibobzOptrPrcsDttm != ''">
      , IBOBZ_OPTR_PRCS_DTTM = SYSTIMESTAMP
    </if>
    <if test="isprPrcsDttm != null and isprPrcsDttm != ''">
      , ISPR_PRCS_DTTM = SYSTIMESTAMP
    </if>
  </insert>

  <!--
    Consultation de la liste de gestion des cibles de visite physique  !== 검사대상관리 목록 조회 ==!
    (Beak SangYeol)
    -->
  <select id="selectPdlsMtrList" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtVo" resultType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtPdlsMtrVo">
    /* selectPdlsMtrList */
    SELECT B.DTL_DCSH_NO
      , B.PDLS_NO
      , DECODE(NVL(C.BFCH_HS_CD,''), '', B.HS_CD, C.BFCH_HS_CD) AS BFCH_HS_CD
      , C.AFCH_HS_CD
      , DECODE(NVL(C.BFCH_ORCY_CNTY_CD,''), '', B.ORCY_CNTY_CD, C.BFCH_ORCY_CNTY_CD) AS BFCH_ORCY_CNTY_CD
      , C.AFCH_ORCY_CNTY_CD
      , DECODE(NVL(C.BFCH_QTY,0), 0, B.QTY, C.BFCH_QTY) AS BFCH_QTY
      , C.AFCH_QTY
      , DECODE(NVL(C.BFCH_PDLS_TTWG,0), 0, B.PDLS_TTWG, C.BFCH_PDLS_TTWG) AS BFCH_PDLS_TTWG
      , C.AFCH_PDLS_TTWG
      , A.SELC_RSLT_CD
      --, ( SELECT AA.SELC_RSLT_CD FROM   TB_RSMI_DED_PDLS_CHNL AA WHERE  AA.DTL_DCSH_NO  = B.DTL_DCSH_NO AND    AA.PDLS_NO = B.PDLS_NO    ) AS SELC_RSLT_CD
      , ( SELECT BB.SELC_CHG_YN FROM   TB_RSMI_DED_PDLS_CHNL BB WHERE  BB.DTL_DCSH_NO = B.DTL_DCSH_NO AND    BB.PDLS_NO = B.PDLS_NO  ) AS SELC_CHG_YN
      , C.INSC_1_RSLT_CD
      , C.INSC_2_RSLT_CD
      , C.INSC_3_RSLT_CD
      , C.INSC_4_RSLT_CD
      , C.INSC_5_RSLT_CD
      , C.INSC_6_RSLT_CD
      , C.CNTR_NO
      , C.PDLS_INSC_RSLT_CN
      , B.APC_CD
      , B.BRND_NM
      , B.QTA_APRE_NO
      , B.PRVL_CD
      , B.BF_DTL_DCSH_NO
      , B.BF_DTL_DCSH_DT
      , B.BF_PDLS_NO
      , B.PRC_DTRM_MEAN_CD
      , B.PDLS_PCKG_GCNT
      , B.PDLS_PCKG_UT_CD
      , C.VIST_INSC_RQST_DGCNT
    FROM   TB_CLRI_DED_COMN A
      , TB_CLRI_DED_PDLS B
      LEFT OUTER JOIN TB_CLRI_DED_PDLS_INSC_RSLT C
      ON (B.PDLS_NO = C.PDLS_NO AND C.DTL_DCSH_NO = B.DTL_DCSH_NO
        AND C.VIST_INSC_RQST_DGCNT = #{vistInscRqstDgcnt})
    WHERE  1=1
    AND A.DTL_DCSH_NO = #{dtlDcshNo}
    AND A.DEL_YN = 'N'
    AND B.DTL_DCSH_NO = A.DTL_DCSH_NO
    ORDER BY TO_NUMBER(B.PDLS_NO)
  </select>

  <!--
    Enregistrement/modification des articles cibles de la visite physique !== 검사대상관리 품목사항 등록/수정 ==!
    (Beak SangYeol)
    -->
  <update id="mergeIprtPdlsMtr" parameterType="alpass.ipt.clr.pdr.ddi.vo.ClrPdrDdiIprtPdlsMtrDetlVo">
    /* mergeIprtPdlsMtr */
    INSERT INTO TB_CLRI_DED_PDLS_INSC_RSLT (
      PDLS_NO
      , DTL_DCSH_NO
      , VIST_INSC_RQST_DGCNT
      , BFCH_HS_CD
      , AFCH_HS_CD
      , BFCH_ORCY_CNTY_CD
      , AFCH_ORCY_CNTY_CD
      , BFCH_QTY
      , AFCH_QTY
      , BFCH_PDLS_TTWG
      , AFCH_PDLS_TTWG
      <if test="insc1RsltCd != null and insc1RsltCd != ''">
        , INSC_1_RSLT_CD
      </if>
      <if test="insc2RsltCd != null and insc2RsltCd != ''">
        , INSC_2_RSLT_CD
      </if>
      , CNTR_NO
      <if test="pdlsInscRsltCn != null and pdlsInscRsltCn != ''">
        , PDLS_INSC_RSLT_CN
      </if>
      , DEL_YN
      , FRST_REGST_ID
      , FRST_RGSR_DTTM
      , LAST_CHPR_ID
      , LAST_CHG_DTTM
    ) VALUES (
      #{pdlsNo}
      , #{dtlDcshNo}
      , #{vistInscRqstDgcnt}
      , DECODE(#{afchHsCd}, NULL, NULL, #{bfchHsCd})
      , #{afchHsCd}
      , DECODE(#{afchOrcyCntyCd}, NULL, NULL, #{bfchOrcyCntyCd})
      , #{afchOrcyCntyCd}
      , DECODE(#{afchQty}, NULL, NULL, #{bfchQty})
      , #{afchQty}
      ,DECODE(#{afchPdlsTtwg}, NULL, NULL, #{bfchPdlsTtwg})
      , #{afchPdlsTtwg}
      <if test="insc1RsltCd != null and insc1RsltCd != ''">
        , #{insc1RsltCd}
      </if>
      <if test="insc2RsltCd != null and insc2RsltCd != ''">
        , #{insc2RsltCd}
      </if>
      , #{cntrNo}
      <if test="pdlsInscRsltCn != null and pdlsInscRsltCn != ''">
        , #{pdlsInscRsltCn}
      </if>
      , 'N'
      , #{frstRegstId}
      , SYSTIMESTAMP
      , #{lastChprId}
      , SYSTIMESTAMP
    )
    ON CONFLICT (PDLS_NO, DTL_DCSH_NO, VIST_INSC_RQST_DGCNT)
    DO UPDATE SET
      LAST_CHPR_ID = #{lastChprId}
      , LAST_CHG_DTTM = SYSTIMESTAMP
      , BFCH_HS_CD        = DECODE(#{afchHsCd}, NULL, NULL, #{bfchHsCd})
      <if test="afchHsCd != null and afchHsCd != ''">
        , AFCH_HS_CD = #{afchHsCd}
      </if>
      , BFCH_ORCY_CNTY_CD = DECODE(#{afchOrcyCntyCd}, NULL, NULL, #{bfchOrcyCntyCd})
      <if test="afchOrcyCntyCd != null and afchOrcyCntyCd != ''">
        , AFCH_ORCY_CNTY_CD = #{afchOrcyCntyCd}
      </if>
      , BFCH_QTY          = DECODE(#{afchQty}, NULL, NULL, #{bfchQty})
      <if test="afchQty != null and afchQty != ''">
        , AFCH_QTY = #{afchQty}
      </if>
      , BFCH_PDLS_TTWG    = DECODE(#{afchPdlsTtwg}, NULL, NULL, #{bfchPdlsTtwg})
      <if test="afchPdlsTtwg != null and afchPdlsTtwg != ''">
        , AFCH_PDLS_TTWG = #{afchPdlsTtwg}
      </if>
      <if test="insc1RsltCd != null and insc1RsltCd != ''">
        , INSC_1_RSLT_CD = #{insc1RsltCd}
      </if>
      <if test="insc2RsltCd != null and insc2RsltCd != ''">
        , INSC_2_RSLT_CD = #{insc2RsltCd}
      </if>
      <if test="cntrNo != null and cntrNo != ''">
          , CNTR_NO = #{cntrNo}
      </if>
      <if test="pdlsInscRsltCn != null and pdlsInscRsltCn != ''">
          , PDLS_INSC_RSLT_CN = #{pdlsInscRsltCn}
      </if>
  </update>

  <update id="updateInscTrgt" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedCntrVo">
    /* updateInscTrgt */
    UPDATE TB_CLRI_DED_CNTR
    SET
      LAST_CHPR_ID = #{lastChprId}
      , LAST_CHG_DTTM = CURRENT_TIMESTAMP
      , INSC_TRGT_YN = #{inscTrgtYn}
    WHERE DEL_YN = 'N'
      AND	  CNTR_TP_CD = #{cntrTpCd}
      AND	  CNTR_NO = #{cntrNo}
      AND	  CNTR_SRNO = #{cntrSrno}
      AND     DTL_DCSH_NO = #{dtlDcshNo}
  </update>

  <!-- Consultation de la liste des conteneurs de DED !==DED 컨테이너 목록 조회==! -->
  <select id="selectInscDedCntrList" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedSrchVo" resultType="alpass.ipt.clr.pdr.dre.vo.ClrDedCntrDcshVo">
    /* selectDedCntrList */
    SELECT
      A.DTL_DCSH_NO
         , A.CNTR_SRNO
         , A.CNTR_NO
         , A.CNTR_TP_CD
         ,  (
      SELECT PCKG_GCNT
      FROM (
            SELECT PCKG_GCNT
            FROM TB_CARI_CAG_DCSH_BL_CNTR D
            WHERE D.CAG_MGMT_NO = B.CAG_MGMT_NO
              AND D.CNTR_NO = A.CNTR_NO
              AND D.DEL_YN = 'N'
           )
      WHERE ROWNUM = 1
      ) AS PCKG_GCNT
         , (
     SELECT ECNTR_WGHT
     FROM (
            SELECT ECNTR_WGHT
            FROM TB_CARI_CAG_DCSH_BL_CNTR D
            WHERE 1=1
            AND D.CAG_MGMT_NO = B.CAG_MGMT_NO
            AND D.CNTR_NO = A.CNTR_NO
            AND D.DEL_YN = 'N'
     )
     WHERE ROWNUM = 1
     ) AS ECNTR_WGHT
        , (
        SELECT TTWG
        FROM (
        SELECT TTWG
        FROM TB_CARI_CAG_DCSH_BL_CNTR D
        WHERE D.CAG_MGMT_NO = B.CAG_MGMT_NO
        AND D.CNTR_NO = A.CNTR_NO
        AND D.DEL_YN = 'N'
        )
        WHERE ROWNUM = 1
        ) AS TTWG
         , A.CNTR_STFN_STTS_CD
         , A.SEAL_NO1
         , A.SEAL_NO2
         , A.SEAL_NO3
         , A.SEAL_CHPN1
         , A.SEAL_CHPN2
         , A.SEAL_CHPN3
         , DECODE(A.INSC_TRGT_YN,'N', '',NULL,'',A.INSC_TRGT_YN) AS INSC_TRGT_YN
         , DECODE(A.INSC_TRGT_YN,'S',TRUE,'Y',TRUE,'I',TRUE,FALSE) AS CHK_SEL
         , FN_GET_CD_VDVAL_NM('CLR_0168', INSC_TRGT_YN, #{langCd}) AS INSC_TRGT_YN_NM
    , (
      SELECT CNTR_SCN_URL
      FROM (
             SELECT CNTR_SCN_URL
             FROM TB_COM_CNTR_SCN_IMGE C
             WHERE C.CNTR_NO    = A.CNTR_NO
               AND C.IMEX_TP_CD = 'EXP'                        /* 수출 */
               AND C.REFF_NO    = A.DTL_DCSH_NO                     /* DED번호 */
               AND C.DEL_YN     = 'N'
             UNION ALL
             SELECT CNTR_SCN_URL
             FROM TB_COM_CNTR_SCN_IMGE C
             WHERE C.CNTR_NO    = A.CNTR_NO
               AND C.IMEX_TP_CD = 'IMP'                        /* 수입 */
               AND C.REFF_NO    = SUBSTR(B.CAG_MGMT_NO, 0, 15) /* MRN */
               AND C.DEL_YN     = 'N'
           )
      WHERE ROWNUM = 1
    ) AS CNTR_SCN_URL
    FROM	TB_CLRI_DED_CNTR A
       , TB_CLRI_DED_COMN B
    WHERE A.DTL_DCSH_NO = #{dtlDcshNo}
      AND A.DTL_DCSH_NO = B.DTL_DCSH_NO
      AND A.DEL_YN = 'N'
      AND B.DEL_YN = 'N'
      <if test="cntrChk != null and cntrChk != ''">
        <if test="vistInscRqstDgcnt != null and vistInscRqstDgcnt != ''">
            AND CASE WHEN (SELECT COUNT(*) CNT FROM TB_CLRI_DED_INSC_CNTR C WHERE C.DTL_DCSH_NO = #{dtlDcshNo}  AND C.VIST_INSC_RQST_DGCNT = #{vistInscRqstDgcnt} ) > 0 THEN EXISTS(
          SELECT 1 FROM TB_CLRI_DED_INSC_CNTR C WHERE A.DTL_DCSH_NO = C.DTL_DCSH_NO AND A.CNTR_SRNO = C.CNTR_SRNO AND C.VIST_INSC_RQST_DGCNT = #{vistInscRqstDgcnt}
          )
          ELSE A.INSC_TRGT_YN IN ('Y','I','S') END
        </if>
      </if>
    ORDER BY A.CNTR_SRNO
  </select>

  <select id="selectInscDedCntrExistYn" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedSrchVo" resultType="int">
    SELECT COUNT(*) CNT FROM TB_CLRI_DED_INSC_CNTR C WHERE C.DTL_DCSH_NO = #{dtlDcshNo}  AND C.VIST_INSC_RQST_DGCNT = #{vistInscRqstDgcnt}
  </select>

  <!-- Enregistrer le conteneur objet de visite de DED !== DED 검사 컨테이너 등록 ==! -->
  <insert id="mergeInscDedCntrList" parameterType="alpass.ipt.clr.pdr.dre.vo.ClrDedCntrVo">
    /* mergeInscDedCntrList */
    WITH UPSERT AS (
        UPDATE TB_CLRI_DED_INSC_CNTR
        SET LAST_CHPR_ID = #{lastChprId}
          , LAST_CHG_DTTM = SYSTIMESTAMP
        WHERE DTL_DCSH_NO = #{dtlDcshNo}
        AND CNTR_SRNO = #{cntrSrno}
        AND VIST_INSC_RQST_DGCNT = #{vistInscRqstDgcnt}
          RETURNING * )
    INSERT INTO TB_CLRI_DED_INSC_CNTR
          (
            DTL_DCSH_NO
          , CNTR_SRNO
          , VIST_INSC_RQST_DGCNT
          , CNTR_NO
          , DEL_YN
          , FRST_REGST_ID
          , FRST_RGSR_DTTM
          , LAST_CHPR_ID
          , LAST_CHG_DTTM
          )
          SELECT
              #{dtlDcshNo}
            , #{cntrSrno}
            , #{vistInscRqstDgcnt}
            , #{cntrNo}
            , 'N'
            , #{frstRegstId}
            , SYSTIMESTAMP
            , #{lastChprId}
            , SYSTIMESTAMP
                WHERE NOT EXISTS(SELECT * FROM upsert)
  </insert>
</mapper>
