<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alpass.ipt.car.bnwrhs.cntrinvn.mapper.CarCntrInvnMapper">

	<!--
    [Rechercher] @TODO 번역 !== "컨테이너 재고" 목록을 조회한다. ==!
    (Yangjip Kim)
  -->
  <select id="selectCntrInvnList" resultType="alpass.ipt.car.bnwrhs.cntrinvn.vo.CarCntrInvnVo">
    /* alpass.ipt.car.bnwrhs.cntrinvn.mapper.CarIptCntrInvnMapper.selectCntrInvnList */
    <include refid="pagination.header" ></include>
    SELECT
			  A.CAG_MGMT_NO				/**  Crn  !== 화물관리번호 ==!  */
			, A.CNTR_NO				/**  N° De Conteneur  !== 컨테이너번호 ==!  */
			, A.IBOBZ_CD				/**  Code de zone sous douane  !== 보세구역코드 ==!  */
	    , B.IBOBZ_NM  /* Nom de la zone sous douane !== 보세구역명 ==! */
			, A.INVN_YN				/**  Stock On  !== 재고여부 ==!  */
			, A.DEL_YN				/**  Suppression On  !== 삭제여부 ==!  */
			, A.FRST_REGST_ID				/**  Id Du Premier Enregistrant   !== 최초등록자ID ==!  */
			, TO_CHAR(A.FRST_RGSR_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS frst_rgsr_dttm	/**  Date Et Heure De Premier Enregistrement  !== 최초등록일시 ==!  */
			, A.LAST_CHPR_ID				/**  Id Du Modificateur Final  !== 최종변경자ID ==!  */
			, TO_CHAR(A.LAST_CHG_DTTM, 'DD/MM/YYYY HH24:mi:ss') AS last_chg_dttm	/**  Date Et Heure De Modification Finale  !== 최종변경일시 ==!  */
      , B.JRSD_ORGN_CD				/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
			, (SELECT ORGN_NM    /** Service compétent !== 관할조직 ==! */
					 FROM TB_POTI_ORGN
					WHERE ORGN_CD = B.JRSD_ORGN_CD) AS JRSD_ORGN_NM
	FROM TB_CARI_CNTR_INVN A
	LEFT OUTER JOIN TB_CARI_IBOBZ B ON A.IBOBZ_CD = B.IBOBZ_CD
    WHERE A.DEL_YN = 'N'
	  AND B.DEL_YN = 'N'
	    <if test="cagMgmtNo != null and cagMgmtNo != ''">
    		AND A.CAG_MGMT_NO LIKE '%' || #{cagMgmtNo} || '%' /**  Crn  !== 화물관리번호 ==!  */
	    </if>
	    <if test="cntrNo != null and cntrNo != ''">
    		AND A.CNTR_NO LIKE '%' || #{cntrNo} || '%' /**  N° De Conteneur  !== 컨테이너번호 ==!  */
	    </if>
	    <if test="ibobzCd != null and ibobzCd != ''">
    		AND A.IBOBZ_CD = #{ibobzCd} /**  Code de zone sous douane  !== 보세구역코드 ==!  */
	    </if>
	    <if test="invnYn != null and invnYn != ''">
    		AND A.INVN_YN = #{invnYn} /**  Stock On  !== 재고여부 ==!  */
	    </if>
		<if test="sctrCd != null and sctrCd != ''">
			AND SUBSTRING(B.JRSD_ORGN_CD,1,3) LIKE SUBSTRING(#{sctrCd},1,3) || '%'	/** Direction régionale des douanes !== 지역본부세관 ==! */
		</if>
	    <if test="cstmCd != null and cstmCd != ''">
			AND SUBSTRING(B.JRSD_ORGN_CD,1,5) LIKE SUBSTRING(#{cstmCd},1,5) || '%'	/**  Code D'Unité Compétente  !== 관할조직코드 ==!  */
	    </if>
		ORDER BY A.CAG_MGMT_NO, A.CNTR_NO
    <include refid="pagination.footer" ></include>
  </select>

</mapper>
